<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta content="webkit" name="renderer" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Copyright" content="matridx" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
		<title>送检系统</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		
		<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
		
		<!--bootstrap -->
		<script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/basephone.css" />
		<style>
			html{
				height:100%;
			}
			body{
				height:100%;
				margin:0;
			}
			form{
				height:100%;
			}
		</style>
	</head>
	<body>
		<form data-bs-toggle="validation" action="/wechat/getUserInfoView" method="post" id="ajaxForm" class="form-horizontal sl_all_form">
			<div class="body-content"  style="height:100%;">
				<div class="panel panel-danger" style="height:100%;margin:0px;">
					<div class="panel-heading"  style="height:10%;"></div>
					<div class="panel-body" style="height:80%;">
						<div class="row" style="height:100%;">
							<div class="col-md-12 col-sm-12 col-xs-12" style="height:100%;">
								<div class="form-group" style="text-align:center;height:100%;">
						        	<span style="font-size:25px !important;text-align:center;display:block;position: relative;top:50%;transform:translateY(-50%);">您好，非常抱歉，<br/>您的订单支付未成功。</span>
								</div>
							</div>
						</div>
					</div>
				    <div class="panel-footer"  style="height:10%"></div>
				</div>
			</div>
		</form>
	</body>
</html>