<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/audit/audit_edit.js'}" charset="utf-8"></script>
	</head>
	<body>
		<form id="audit_ajaxForm" th:action="${urlPrefix}+'/systemmain/audit/'+${xtshDto.formAction}+'SaveAudit'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<div class="body-content">
				<div class="row">
					<input type="hidden" name="shid" id="ad_shid" th:value="${xtshDto.shid}"/>
					<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
					<input type="hidden" name="access_token"/>
					<div class="col-md-12 col-sm-12 col-xs-12">
				        <div class="form-group">
				            <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>审核名称</label>      	
				          	<div class="col-sm-8 col-md-8 col-xs-8">
				          		<input type="text" id="shmc" name="shmc" th:value="${xtshDto.shmc}" data-clear="true"
													validate="{required:true,stringMaxLength:80}" class="form-control" />
				          	</div>
				        </div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
				        <div class="form-group">
				           <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>审核类别</label>      	
				          	<div class="col-sm-8 col-md-8 col-xs-8" >
								<select id="shlb" name="shlb" th:value="${xtshDto.shlb}" validate="{required:true}" class="form-control chosen-select " >
									<option value="">--请选择--</option>
									<option th:if="${shlbList != null && shlbList.size() > 0}" th:each="list:${shlbList}" th:value="${list.shlb}" th:text="${list.shlb}+'--'+${list.shlbmc}"  th:selected="${list.shlb eq xtshDto.shlb}"></option>
								</select>
				          	</div>
				        </div>
					</div>
				   <div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group" id="divpcs">
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>默认设置</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<label class="radio-inline"><input type="radio" value="00" name="mrsz" th:checked="${'00' eq xtshDto.mrsz}" validate="{required:true}" data-clear="true">非默认</label>
								<label class="radio-inline"><input type="radio" value="01" name="mrsz" th:checked="${'01' eq xtshDto.mrsz}" validate="{required:true}" data-clear="true">默认</label>
		        		   </div>
		        		</div>
			       	</div>
			       	<div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group">
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>是否广播</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<label class="radio-inline"><input type="radio" value="1" name="sfgb" th:checked="${'1' eq xtshDto.sfgb}" validate="{required:true}" data-clear="true">是</label>
								<label class="radio-inline"><input type="radio" value="0" name="sfgb" th:checked="${'0' eq xtshDto.sfgb}" validate="{required:true}" data-clear="true">否</label>
		        		   </div>
		        		</div>
			       	</div>
				   <div class="col-md-12 col-sm-12 col-xs-12">
		        	<div class="form-group" id="divfcs">
		          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">描述</label>
						<div class="col-sm-8 col-md-8 col-xs-8">
							<textarea id="ms" name="ms" th:value="${xtshDto.ms}" rows="5" th:text="${xtshDto.ms}"
													validate="{stringMaxLength:512}" class="form-control" />
	        		   </div>
	        		</div>
		       	</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
			        <div class="form-group">
			          	<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">扩展参数</label>      	
			          	<div class="col-sm-8 col-md-8 col-xs-8">
			          		<input type="text" id="kzcs" name="kzcs" th:value="${xtshDto.kzcs}" class="form-control" data-clear="true"/>
			          	</div>
			        </div>
			     </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</form>
	</body>
</html>