<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		 <script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/audit/audit_install.js'}" charset="utf-8"></script> 
	</head>
	<body class="body-content">
		<div class="panel-body body-content" style="padding-bottom:0px;">
		    <form action="/systemmain/configProcess/ProcessInstall" theme="simple" id="ProcessInstallForm" class="form-horizontal form-inline">
		    <input type="hidden" id="lcszlist" name="lcszlist">
				<div class="col-md-12 col-sm-12">
		            <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>流程类别</label>      	
		          	<div class="col-sm-7">
		          		<select  id="lclb" name="lclb" th:value="${JcsjDto.csid}" validate="{required:true}"   class="form-control chosen-select">
		          		 		<option value="" text="" lcid="">--请选择--</option>
								<option th:if="${process_type !=null &&process_type.size()>0}" th:each="process:${process_type}" th:value="${process.csid}" th:text="${process.csmc}" th:selected="${JcsjDto.csid eq process.csid}"></option>
						</select>
		          	</div>
				</div>
			</form>
		</div>
	</body>
</html>