<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/audit/genre_edit.js'}" charset="utf-8"></script>
	</head>
	<body>
		<form id="genre_ajaxForm" th:action="${urlPrefix}+'/systemmain/audit/'+${ShlbDto.formAction}+'SaveAuditGenre'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<div class="body-content">
				<div class="row">
					<input type="hidden" id="sfqxxk" name="sfqxxk" th:value="${ShlbDto.qxxk}">
					<input type="hidden" name="access_token"/>
					<div class="col-md-12 col-sm-12 col-xs-12">
				        <div class="form-group">
				           <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>审核类别</label>      	
				          	<div class="col-sm-8 col-md-8 col-xs-8" >
								<select id="shlb" name="shlb"  validate="{required:true}" th:value="${ShlbDto.shlb}" class="form-control chosen-select " >
									<option value="">--请选择--</option>
									<option th:if="${shlbList != null && shlbList.size() > 0}" th:each="list:${shlbList}" th:text="${list.code}" th:selected="${list.code eq ShlbDto.shlb}"></option>
								</select>
				          	</div>
				        </div>
					</div>
				   <div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group" >
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>审核类别名称</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<input type="text" id="shlbmc" name="shlbmc" th:value="${ShlbDto.shlbmc}" class="form-control" data-clear="true" validate="{required:true}"/>
		        		   </div>
		        		</div>
			       </div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group" >
							<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>审核类别别名</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<input type="text" id="shlbbm" name="shlbbm" th:value="${ShlbDto.shlbbm}" placeholder="别名为空的不显示在首页" class="form-control" data-clear="true"/>
							</div>
						</div>
					</div>
			       <div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group" >
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>是否广播</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<label class="radio-inline"><input type="radio" value="1" name="sfgb" th:checked="${'1' eq ShlbDto.sfgb}" validate="{required:true}" data-clear="true">是</label>
								<label class="radio-inline"><input type="radio" value="0" name="sfgb" th:checked="${'0' eq ShlbDto.sfgb}" validate="{required:true}" data-clear="true">否</label>
		        		   </div>
		        		</div>
			       	</div>
				   <div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group">
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>回调类</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<input type="text" id="hdl" name="hdl" th:value="${ShlbDto.hdl}" class="form-control" data-clear="true" validate="{required:true}"/>
		        		   </div>
		        		</div>
			       	</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group">
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">资源路径</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<input type="text" id="zylj" name="zylj" th:value="${ShlbDto.zylj}" placeholder="是否VUE:资源路径:资源ID(用于跳转对应审核列表)" class="form-control" data-clear="true" />
		        		   </div>
		        		</div>
			       	</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>回调模型</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<input type="text" id="hdmx" name="hdmx" th:value="${ShlbDto.hdmx}" class="form-control" data-clear="true" validate="{required:true}"/>
							</div>
						</div>
					</div>
			       	<div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group">
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>分区类别</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<input type="text" id="fqlb" name="fqlb" th:value="${ShlbDto.fqlb}" class="form-control" data-clear="true" validate="{required:true}"/>
		        		   </div>
		        		</div>
			       	</div>
			       	<div class="col-md-12 col-sm-12 col-xs-12">
			        	<div class="form-group">
			          		<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">取消许可</label>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<input type="checkbox" id="qxxk" name="qxxk" class="make-switch open" data-on-color="success" data-off-color="warning" data-on-text="是" data-off-text="否"  th:value="1" >
		        		   </div>
		        		</div>
			       	</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</form>
	</body>
</html>