<!DOCTYPE html>
<html>
<head lang="zh-cn">
<meta charset="UTF-8">
<style>
#col-md-12{
   height:38px;
}

</style>
</head>
<body>
<form class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"> 
										审核类别名称：
									</label>
									<div class="col-sm-9">
									    <div style="padding-top:6px" th:text="${shtxDto.txlbmc}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"> 
										当前审批岗位：
									</label>
									<div class="col-sm-9">
									    <div style="padding-top:6px" th:text="${shtxDto.gwmc}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"> 
										业务名称：
									</label>
									<div class="col-sm-9">
									    <div style="padding-top:6px" th:text="${shtxDto.ywmc}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"> 
										默认延期小时数：
									</label>
									<div class="col-sm-9">
									    <div style="padding-top:6px" th:text="${shtxDto.txyqrs}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"> 
										延期小时数：
									</label>
									<div class="col-sm-9">
									    <div style="padding-top:6px" th:text="${shtxDto.yqxs}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"> 
										提交日期：
									</label>
									<div class="col-sm-9">
									    <div style="padding-top:6px" th:text="${shtxDto.tjrq}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"> 
										审核时间：
									</label>
									<div class="col-sm-9">
									    <div style="padding-top:6px" th:text="${shtxDto.scshsj}"></div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
		</div>
</div>
</form>
</body>
</html>