<!DOCTYPE html>
<html>
<head lang="zh-cn">
<title>图片预览</title>
</head>
<body>
<script>
	$(function(){
		//var winwidth=$(window).width()*0.82;
		var winwidth=null;
		winwidth=$("#tpyl").parents(".modal-dialog").width()*0.95
		if(winwidth==null){
			winwidth=$(window).width()*0.82;
		}
		$(".myimg").css("width",winwidth);
	})
</script>
<table id="tpyl">
	<tr >
		<td>
			<div ><img th:src="'/ws/file/getwechatFileInfo?fjid='+${fjcfbDto.fjid}"  class="myimg"></div>
		</td>
	</tr>
</table>
</body>
</html>
