<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="never">
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Copyright" content="matridx"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <title>录入信息</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/phonefileinput.min.css">
    <link rel="stylesheet" href="/js/weui/jquery-weui.min.css">
    <link rel="stylesheet" href="/js/weui/weui.css">
    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/common/file/phonefile.js?v=20230912v74'}" charset="utf-8"></script>
</head>
<body >
<div id="phonefileDiv">
    <input type="hidden" id="phonewxurl" th:value="${switchoverurl}">
    <input type="hidden" id="ywid" th:value="${fjcfbDto.ywid}">
    <input type="hidden" id="ywlx" th:value="${fjcfbDto.ywlx}">
    <input type="hidden" id="ywmc" th:value="${fjcfbDto.ywmc}">
</div>
</body>
</html>