<!DOCTYPE html>
<html>
<head lang="zh-cn">
	<script type="text/javascript" src="/js/hospital/hospital/hospital_add.js" charset="utf-8"></script>
</head>
<div id="document_edit">
	<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
		<li  class="nav-item" >
			<a  class="nav-link active" href="#materInfoTab" role="tab" data-bs-toggle="tab">医院信息</a>
		</li>
	</ul>
<form id="ajaxForm"  th:action="'/hospital/yyxx/'+${yyxxDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<input type="hidden" name="access_token"/>
	<input type="hidden" name="dwid" id="dwid" th:value="${yyxxDto.dwid}">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="materInfoTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>单位名称：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="dwmc" name="dwmc" th:value="${yyxxDto.dwmc}"  validate="{required:true,stringMaxLength:128}"class="form-control" />
								</div>
							</div>
						</div> 
					 	<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									 <span style="color: red;">*</span>单位简称：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text"  placeholder="请尽量控制在6位以内" id="dwjc" name="dwjc"  validate="{required:true,stringMaxLength:64}" th:value="${yyxxDto.dwjc}" class="form-control" /> 
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									单位其它名称：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="dwqtmc" placeholder="多个单位之间用逗号隔开" name="dwqtmc"  th:value="${yyxxDto.dwqtmc}" validate="{stringMaxLength:512}"class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									单位统计名称：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="tjmc" placeholder="请输入单位统计名称（总院）" name="tjmc"  th:value="${yyxxDto.tjmc}" validate="{stringMaxLength:64}"class="form-control" />
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6">
		        			<div class="form-group">
		           				 <label for="" class="col-sm-4 control-label">
		           				 <span style="color:red;">*</span>单位等级：</label>      	
		          				<div class="col-md-8 col-sm-8 col-xs-12">
									<select  id="dwdj" name="dwdj" th:value="${yyxxDto.dwdj}" class="form-control chosen-select" style="height:34px;" validate="{required:true}">		
										<option value="">--请选择--</option>
										<option  th:each="list:${dwdjlist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${yyxxDto.dwdjmc eq list.csmc}" ></option>
									</select>
								</div>
		        			</div>
						</div>
						<div class="col-md-6 col-sm-6">
		        			<div class="form-group">
		           				 <label for="" class="col-sm-4 control-label">
		           				 <span style="color:red;">*</span>单位类别：</label>      	
		          				<div class="col-md-8 col-sm-8 col-xs-12">
									<select  id="dwlb" name="dwlb" th:value="${yyxxDto.dwlb}" class="form-control chosen-select" style="height:34px;" validate="{required:true}">
										<option value="">--请选择--</option>
										<option  th:each="list:${dwlblist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${yyxxDto.dwlbmc eq list.csmc}" ></option>
									</select>
								</div>
		        			</div>
						</div>
						<div class="col-md-6 col-sm-6">
		        			<div class="form-group">
		           				 <label for="" class="col-sm-4 control-label">
		           				 <span style="color:red;">*</span>省份：</label>      	
		          				<div class="col-md-8 col-sm-8 col-xs-12" >
									<select  id="sf" name="sf" th:value="${yyxxDto.sf}" class="form-control chosen-select" style="height:34px;" validate="{required:true}">
										<option value="">--请选择--</option>
										<option  th:if="${sflist!=null && sflist.size() > 0}" th:each="list:${sflist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${yyxxDto.sf eq list.csid}" ></option>
									</select>
								</div>
		        			</div>
						</div>
						<div class="col-md-6 col-sm-6">
		        			<div class="form-group">
		           				 <label for="" class="col-sm-4 control-label">
		           				 <span style="color:red;">*</span>城市：</label>      	
		          				<div class="col-md-8 col-sm-8 col-xs-12">
									<select  id="cs" name="cs" th:value="${yyxxDto.cs}" class="form-control chosen-select" style="height:34px;" validate="{required:true}">
										<option value="">--请选择--</option>
										<option  th:if="${cslist!=null && cslist.size() > 0}" th:each="list:${cslist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${yyxxDto.cs eq list.csid}" ></option>
									</select>
								</div>
		        			</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color:red;">*</span>是否显示输入框：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="cskz1" name="cskz1"  th:value="${yyxxDto.cskz1}" validate="{required:true,stringMaxLength:64}" placeholder="0:不显示输入框；1:显示输入框" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									医院重点等级：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="cskz2" name="cskz2"  th:value="${yyxxDto.cskz2}" validate="{stringMaxLength:64}"class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									LIS系统参数：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="cskz3" name="cskz3"  th:value="${yyxxDto.cskz3}" validate="{stringMaxLength:64}" placeholder="请填LIS系统参数（医院ID,合作伙伴,项目ID,检测单位代码,院区信息）" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									检测项目匹配：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="jcxmpp" name="jcxmpp"  th:value="${yyxxDto.jcxmpp}" placeholder="请填LIS系统医院对应的检测项目(对方项目名称:我方项目代码T_C,Q_D，多个项目;分隔)" class="form-control" />
									<!--T,Q表示TNGS，QmNGS-->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									特检导入参数：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="cskz" name="cskz4"  th:value="${yyxxDto.cskz4}" placeholder="请填特检导入参数" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									社会信用代码：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="shxydm" name="shxydm"  th:value="${yyxxDto.shxydm}" validate="{stringMaxLength:64}"class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									联系人：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="lxr" name="lxr"  th:value="${yyxxDto.lxr}" validate="{stringMaxLength:32}"class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									联系电话：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="lxdh" name="lxdh"  placeholder="输入时请注意手机号格式" th:value="${yyxxDto.lxdh}" validate="{stringMaxLength:32}"class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									virtualhost：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input type="text" id="virtualhost" name="virtualhost"  placeholder="rabbit对应的virtualhost" th:value="${yyxxDto.virtualhost}" validate="{stringMaxLength:32}"class="form-control" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>	
</div>
<body>
</body>
</html>