<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script type="text/javascript" src="/js/hospital/hospital/hospital_view.js"
	charset="utf-8"></script>
<style type="text/css">
th {
	font-weight: bold;
	text-align: center;
}
</style>
</head>
<body>
	<form id="ajaxForm" namespace="/hospital"
		class="form-horizontal sl_all_form" method="post" theme="simple">
		<input type="hidden" name="access_token" />
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in"
				id="materInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位名称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.dwmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位简称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.dwjc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位其它名称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.dwqtmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位统计名称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.tjmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位等级名称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.dwdjmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位类别名称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.dwlbmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										省份 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.sfmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										城市 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.csmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										是否显示输入框</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.cskz1}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										医院重点等级 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.cskz2}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										LIS系统参数</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.cskz3}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										检测项目匹配 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.jcxmpp}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										特检导入参数 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.cskz4}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										社会信用代码 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.shxydm}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										联系人 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.lxr}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										联系电话 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.lxdh}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										virtualhost </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${yyxxDto.virtualhost}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>