<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/common/exception/exception_choosePick.js?v=4'}" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
    <form id="choosePick_formSearch" class="form-horizontal form-inline">
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" class="form-control chosen-select" id="cxtj">
                            <option value="0">物料名称</option>
                            <option value="1">物料编码</option>
                            <option value="2">客户名称</option>
                            <option value="3">生产批号</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {searchPickingResult(); return false;}"/>
                        <select name="cxtj1" class="form-control chosen-select" id="cxtj1">
                            <option value="0">物料名称</option>
                            <option value="1">物料编码</option>
                            <option value="2">客户名称</option>
                            <option value="3">生产批号</option>
                        </select>
                        <input id="cxnr1" name="cxnr1" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {searchPickingResult(); return false;}"/>
                    </div>

                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>
        <div th:include="common/btn/ancz.html"></div>
        <table id="picking_list" class="table table-hover table-bordered table-hidden"
               data-reorderable-columns="true"></table>
    </form>
</div>
</body>
</html>