<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="col-md-12 col-sm-12">
		<div class="form-group">
			<label for="" class="col-sm-2 col-xs-12 control-label">
			 <span style="color: red;">*</span>是否结束
			</label>
			<div class="col-sm-9 col-xs-12">
				<label class="radio-inline">
					<input type="radio" value="1" name="sfjs" th:checked="${'1' eq sjycDto.sfjs}" validate="{required:true}">是
				</label>
				<label class="radio-inline">
					<input type="radio" value="0" name="sfjs" th:checked="${'0' eq sjycDto.sfjs}" validate="{required:true}" >否
				</label>
			</div>
		</div>
	</div>
</body>
</html>