<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/common/exception/exception_repeatObj.js'}"></script>
	<style type="text/css">
		#repeatObjectForm .form-control{
			height: 30px;
		}
		.bootstrap-tagsinput{
			min-width: 100%;
			height: 30px;
		}
	</style>
</head>
<body>
<form id="repeatObjectForm" th:action="${urlPrefix}+${sjycDto.formAction}"  class="form-horizontal sl_all_form"  method="post" theme="simple" data-bs-toggle="validation">
<input type="hidden" id="ycid" name="ycid" th:value="${sjycDto.ycid}">
<input type="hidden" id="fwbj" name="fwbj" th:value="${sjycDto.fwbj}">
<input type="hidden" id="zfsj" name="zfsj" th:value="${sjycDto.zfsj}">
	<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
<input type="hidden" name="access_token"/>
<div class="col-md-12 col-sm-12 col-xs-12" >
 	<div class="body-content" >
		<div class="panel-body">
			<div class="row">
				<!--确认类型（必填）-->
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="qrlx" class="col-sm-2 col-xs-2 col-xs-12  control-label">
							<span style="color: red;">*</span>确认类型:
						</label>
						<div class="col-sm-9 col-md-9 col-xs-12">
							<select id="qrlx" name="qrlx" class="form-control chosen-select" validate="{required:true}">
								<option value="">--请选择--</option>
								<option th:if="${tzlxList!=null && tzlxList.size() > 0}" th:each="qrlx:${tzlxList}" th:value="${qrlx[code]}" th:text="${qrlx[value]}" th:selected="${sjycDto.qrlx eq qrlx[code]}"></option>
							</select>
						</div>
					</div>
				</div>
				<!--确认人、角色（必填）-->
				<div id="qrryjs" class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label id="qrryText" class="col-sm-2 col-xs-2 col-xs-12 control-label hidden">
							<span style="color: red;">*</span>确认人员:
						</label>
						<label id="qrjsText" class="col-sm-2 col-xs-2 col-xs-12 control-label hidden">
							<span style="color: red;">*</span>确认角色:
						</label>
						<div class="col-sm-9 col-md-9 col-xs-12">
							<div class="input-group">
								<input id="qrrmc" name="qrrmc" type="text" th:value="${sjycDto.qrrmc}" readonly="readonly" data-provide="typeahead" data-items="5" class="form-control"/>
								<input id="qrr" name="qrr" type="hidden" th:value="${sjycDto.qrr}" class="form-control"/>
								<span class="input-group-btn">
									<button type="button" onclick="chooseQrtzlx('qrlx')" class="btn btn-primary">选择</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<!--通知类型-->
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="tzlx" class="col-sm-2 col-xs-2 col-xs-12  control-label">
							通知类型:
						</label>
						<div class="col-sm-9 col-md-9 col-xs-12">
							<select id="tzlx" name="tzlx" class="form-control chosen-select">
								<option value="">--请选择--</option>
								<option th:if="${tzlxList!=null && tzlxList.size() > 0}" th:each="tzlx:${tzlxList}" th:value="${tzlx[code]}" th:text="${tzlx[value]}" th:selected="${sjycDto.tzlx eq tzlx[code]}"></option>
							</select>
						</div>
					</div>
				</div>
				<!--通知人、角色-->
				<div id="tzryjs" class="col-md-12 col-sm-12 col-xs-12 hidden">
					<div class="form-group">
						<label id="tzryText" for="tzrys" class="col-sm-2 col-xs-2 col-xs-12  control-label hidden">
							通知人员:
						</label>
						<label id="tzjsText" for="tzrys" class="col-sm-2 col-xs-2 col-xs-12  control-label hidden">
							通知角色:
						</label>
						<div class="col-sm-9 col-md-9 col-xs-12">
							<div class="input-group">
								<input id="tzrys" name="tzrys" type="text" class="form-control" readonly/>
								<span class="input-group-btn">
									<button type="button" onclick="chooseQrtzlx('tzlx')()" class="btn btn-primary">选择</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
</body>
</html>