<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
		<script type="text/javascript" src="/js/wechat/menu/upload_material.js" charset="utf-8"></script>
	</head>
	<body>
		<form  theme="simple" data-bs-toggle="validation" action ="/menu/menu/uploadSaveMaterial" method="post" id="ajaxForm" class="form-horizontal sl_all_form">
			<input type="hidden" name="access_token"/>
			<input type="hidden" name="ywlx" id ="ywlx" th:value="${ywlx}"/>
			<input type="hidden" name="fjids" id ="fjids"/>
			<input type="hidden" name="lsbcdz" id ="lsbcdz"/>
			<div class="modal-body body-content">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
								资料上传
							</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<input id="msg_file" name="msg_file" type="file">
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">
			         			<span style="color: red;">*</span>标题
			         		</label>
			         		<div class="col-sm-9 padding_t7">
								<input id="bt" name="bt" type="text" validate="{required:true}" class="form-control" />
							</div>
			   			</div>
					</div>
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">
			         			<span style="color: red;">*</span>描述
			         		</label>
			         		<div class="col-sm-9 padding_t7">
								<input id="ms" name="ms" type="text" validate="{required:true}" class="form-control" />
							</div>
			   			</div>
					</div>
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">
			         			<span style="color: red;">*</span>跳转路径
			         		</label>
			         		<div class="col-sm-9 padding_t7">
								<textarea id="kzcs1" name="kzcs1" rows="3"  validate="{required:true}" class="form-control" ></textarea>
							</div>
			   			</div>
					</div>
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">
			         			结果通知
			         		</label>
			         		<div class="col-sm-9 padding_t7">
								<textarea id="message" name="message" rows="3" class="form-control" ></textarea>
							</div>
			   			</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>