<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	</head>
	<body>
		<form data-bs-toggle="validation" action="/menu/menu/generateQRcode" method="post" id="ajaxForm" class="form-horizontal sl_all_form">
			<input type="hidden" name="access_token"/>
			<div class="modal-body body-content">
				<div class="row">
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">二维码标识</label>
			         		<div class="col-sm-9 padding_t7">
			         			<div class="input-group">
									<input id="sceneStr" name="sceneStr" type="text" class="form-control" />
									<span class="input-group-btn">
										<button type="button" onclick="genrateQRcode()" class="btn btn-primary">生成</button>
									</span>
								</div>
							</div>
			   			</div>
					</div>
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">二维码预览</label>
			         		<div class="col-sm-9 padding_t7">
			         			<span id="ticketSpan"></span>
			         			<a id="ticket" href="" target="_blank"> 点击查看</a>
							</div>
			   			</div>
					</div>
				</div>
			</div>
		</form>
		<script type="text/javascript" src="/js/wechat/menu/wechat_genrateQRcode.js"></script>
	</body>
</html>