<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>新增外部程序</title>
</head>
<body>
<form id="wechat_ajaxForm" data-bs-toggle="validation" th:action="'/menu/menu/'+${wbcxDto.formAction}" method="post"  class="form-horizontal sl_all_form">
	<div class="body-content tab-content">
		<input type="hidden" id="wbcxid" name="wbcxid" th:value="${wbcxDto.wbcxid}" />
		<input type="hidden" name="access_token"/>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
		         		<label for="" class="col-sm-4 control-label">
		         			<span style="color:red;">*</span>程序名称
		         		</label>
		    			<div class="col-sm-7">
		        			<input type="text" id="wbcxmc" name="wbcxmc" th:value="${wbcxDto.wbcxmc}" validate="{required:true,stringMaxLength:256}" class="form-control" ></input>
		        		</div>
		   			</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">
							程序类型
						</label>
						<div class="col-sm-7">
							<select id="lx" name="lx" th:value="${wbcxDto.lx}"  class="form-control chosen-select" style="height:30px">
								<option value="">--请选择--</option>
								<option th:each="model:${list}" th:value="${model}" th:text="${model}"  th:selected="${wbcxDto.lx eq model}" ></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
			        <div class="form-group">
			          	<label for="" class="col-sm-4 control-label">
			          		<span style="color:red;">*</span>AppId
						</label>
			          <div class="col-sm-7">
		      				<input type="text" id="appid" name="appid" th:value="${wbcxDto.appid}" validate="{required:true,stringMaxLength:64}" class="form-control" ></input>
		        		</div>
			        </div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">
							<span style="color:red;">*</span>Secret
						</label>
			          	<div class="col-sm-7">
		      				<input type="text" id="secret" name="secret" th:value="${wbcxDto.secret}" validate="{required:true,stringMaxLength:64}" class="form-control" ></input>
		        		</div>
			        </div>
				</div>
				<div class="col-md-12 col-sm-12">
			        <div class="form-group">
						<label for="" class="col-sm-4 control-label">
			          		Token
			          	</label>
			          	<div class="col-sm-7">
		      				<input type="text" id="token" name="token" th:value="${wbcxDto.token}" validate="{stringMaxLength:64}" class="form-control" ></input>
		        		</div>
		        	</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
			          	<label for="" class="col-sm-4 control-label">
			          		<span style="color:red;">*</span>关注平台
			          	</label>
			          	<div class="col-sm-7">
		      				<input type="text" id="gzpt" name="gzpt" th:value="${wbcxDto.gzpt}" validate="{required:true,stringMaxLength:128}" class="form-control" ></input>
		        		</div>
			        </div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
			          	<label for="" class="col-sm-4 control-label">
			          		<span style="color:red;">*</span>程序代码
			          	</label>
			          	<div class="col-sm-7">
		      				<input type="text" id="wbcxdm" name="wbcxdm" th:value="${wbcxDto.wbcxdm}" validate="{required:true,stringMaxLength:128}" class="form-control" ></input>
		        		</div>
			        </div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>