<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	</head>
	<body>
		<form  theme="simple" data-bs-toggle="validation" th:action ="'/user/user/'+${wxyhDto.formAction}+'SaveTagUser'" method="post" id="ajaxForm" class="form-horizontal sl_all_form">
			<input type="hidden" name="access_token"/>
			<input type="hidden" id="ids" name="ids" th:value="${wxyhDto.ids}"/>
			<input type="hidden" id="wbcxid" name="wbcxid" th:value="${wxyhDto.gzpt}"/>
			<div class="modal-body body-content">
				<div class="row">
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-4 control-label" style="text-align:center;">
			         			<span style="color: red;">*</span>标签名称
			         		</label>
							<div class="col-sm-8 padding_t7" th:if="${bqglDtos!=null && bqglDtos.size() > 0}"> 
								<div class="col-md-6 col-sm-6" th:each="bqglDto:${bqglDtos}">
									<label class="radio-inline" style="margin-bottom:10px;"><input type="radio"  th:value="${bqglDto.bqid}" name="bqid" validate="{required:true}"><span th:text="${bqglDto.bqm}"></span></label>
								</div>
							</div>
			   			</div>
					</div>
					
				</div>
			</div>
		</form>
		<script type="text/javascript" src="/js/wechat/menu/wechat_userTag.js" charset="utf-8"></script>
	</body>
</html>