<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" th:src="@{${urlPrefix} +'/js/warehouse/asset/fixedAssets_uphold.js'}"></script>
</head>
<body>
<form id="upholdAssetForm" th:action="${urlPrefix}+'/asset/asset/assetupholdSaveFixedAsset'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="hwid" id ="hwid" th:value="${gdzcglDto.hwid}">
    <input type="hidden" name="kpbh" id ="kpbh" th:value="${gdzcglDto.kpbh}">
    <input type="hidden" name="bm" id ="bm" th:value="${gdzcglDto.sqbm}">
    <input type="hidden" name="bmdm" id ="bmdm" th:value="${gdzcglDto.sqbmdm}">
    <input type="hidden" name="bmmc" id ="bmmc" th:value="${gdzcglDto.sqbmmc}">
    <input type="hidden" name="wlbm" id ="wlbm" th:value="${gdzcglDto.wlbm}">
    <input type="hidden" name="gdzcbh" id ="gdzcbh" th:value="${gdzcglDto.gdzcbh}">
    <input type="hidden" name="wlmc" id ="wlmc" th:value="${gdzcglDto.wlmc}">
    <input type="hidden" name="gg" id ="gg" th:value="${gdzcglDto.gg}">
    <input type="hidden" name="sydd" id ="sydd" th:value="${gdzcglDto.sydd}">
    <input type="hidden" name="lbdm" id ="lbdm">
    <input type="hidden" name="zjfsdm" id ="zjfsdm">
    <input type="hidden" name="zjfscskz1" id ="zjfscskz1">
    <input type="hidden" name="syzkdm" id ="syzkdm">
    <input type="hidden" name="zjffdm" id ="zjffdm">
    <input type="hidden" name="bizmc" id ="bizmc">
    <input type="hidden" name="zczdm" id ="zczdm">
    <input type="hidden" name="dyzjkmdm" id ="dyzjkmdm">
    <input type="hidden" name="dyzjkmmc" id ="dyzjkmmc">
    <input type="hidden" name="xmdm" id ="xmdm">
    <input type="hidden" name="xmmc" id ="xmmc">
    <input type="hidden" name="zjfsmc" id ="zjfsmc">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    卡片编号: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${gdzcglDto.kpbh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    固定资产名称: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${gdzcglDto.wlmc}" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    固定资产编号: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${gdzcglDto.gdzcbh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    使用地点: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${gdzcglDto.sydd}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    规格型号: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${gdzcglDto.gg}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    使用部门: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${gdzcglDto.sqbmmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    增加方式: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="zjfs" name="zjfs" class="form-control chosen-select" style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${zjfslist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csmc="${list.csmc}" th:csdm="${list.csdm}" th:cskz1="${list.cskz1}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    使用状况: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="syzk" name="syzk" class="form-control chosen-select" style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${syzklist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    类别: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="lb" name="lb" class="form-control chosen-select" style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${lblist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    资产组: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="zcz" name="zcz" class="form-control chosen-select"  style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${zczlist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    使用年限(月): </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="synx" name="synx" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    折旧方法: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="zjff" name="zjff" class="form-control chosen-select" style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${zjfflist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    开始使用日期: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="kssyrq" name="kssyrq" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    已计提月份: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="yjtyf" name="yjtyf" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    币种: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="biz" name="biz" class="form-control chosen-select" style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${bizlist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}" th:csmc="${list.csmc}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    原值: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="yz" name="yz" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    净残值率(%): </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="jczl" name="jczl" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    净残值: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="jcz" name="jcz" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    累计折旧: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="ljzj" name="ljzj" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    月折旧率: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="yzjl" name="yzjl" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    本月计提折旧额: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="byjtzje" name="byjtzje" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    净值: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <input id="jz" name="jz" type="text"  class="form-control"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    对应折旧科目: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="dyzjkm" name="dyzjkm" class="form-control chosen-select" style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${zjkmlist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}" th:csmc="${list.csmc}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    项目: </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <select id="xm" name="xm" class="form-control chosen-select" style="height: 34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${xmlist}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}" th:csmc="${list.csmc}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>