<!DOCTYPE html>
<html lang="zh-cn">
</head>
<body>
<div id="con_view">
    <ul class="nav nav-tabs sl_nav_tabs" role="tablist">
        <li  class="nav-item" ><a  class="nav-link active" href="#GDZCTab" role="tab" data-bs-toggle="tab">固定资产</a></li>
        <li class="nav-item" ><a  class="nav-link" href="#SBTab" role="tab" data-bs-toggle="tab">设备信息</a></li>
        <li class="nav-item" ><a  class="nav-link" href="#FPTab" role="tab" data-bs-toggle="tab">发票信息</a></li>
        <li class="nav-item" ><a  class="nav-link" href="#DHTab" role="tab" data-bs-toggle="tab">到货信息</a></li>
        <li class="nav-item" ><a  class="nav-link" href="#YSTab" role="tab" data-bs-toggle="tab">验收信息</a></li>
        <li class="nav-item" ><a  class="nav-link" href="#RKTab" role="tab" data-bs-toggle="tab">入库信息</a></li>
    </ul>
    <form id="ajaxForm" namespace="/contract"
          class="form-horizontal sl_all_form" method="post" theme="simple">
        <input type="hidden" name="access_token" />
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <div class="body-content tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="GDZCTab"
                 aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        卡片编号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.kpbh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        录入时间: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.lrsj}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        设备编号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wlbm}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        固定资产名称: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wlmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        类别编号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.lbdm}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        类别名称: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.lbmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        资产组名称: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.zczmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        规格型号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.gg}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        使用部门: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.bmmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        增加方式: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.zjfsmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        使用地点: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.sydd}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        使用状况: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.syzkmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        使用年限: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.synx}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        折旧方法: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.zjffmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        开始使用日期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.kssyrq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        已计提月份: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.yjtyf}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        币种: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.bizmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        原值: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.yz}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        净残值率: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.jczl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        净残值: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.jcz}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        累计折旧: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.ljzj}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        月折旧率: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.yzjl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        本月计提折旧额: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.byjtzje}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        净值: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.jz}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        对应折旧科目: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.dyzjkmmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        录入人员: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.lrrymc}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="SBTab"
                 aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        物料类别: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wllbmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        物料子类别: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wlzlbmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        物料子类别统称: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wlzlbtcmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        旧物料编码: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.jwlbm}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        物料编码: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wlbm}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        物料名称: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wlmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        类别: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.wl_lbmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        生产商: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.scs}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        原厂货号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.ychh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        规格: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.gg}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        计量单位: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.jldw}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        保存条件: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.bctj}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        保质期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.bzq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        危险品: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.sfwxpmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        起订量: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.qdl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        货期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.hq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        安全库存: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.aqkc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        使用状态: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:if="${gdzcglDto.scbj eq '2'}" >停用</span>
                                        <span th:if="${gdzcglDto.scbj eq '1'}" >删除</span>
                                        <span th:if="${gdzcglDto.scbj eq '0'}" >启用</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        所属产品类别: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.sscplbmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
                                        备注: </label>
                                    <div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
                                        <span th:text="${gdzcglDto.wlbz}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="FPTab"
                 aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        合同单号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.htnbbh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        请购单号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.djh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        U8入库单号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.u8rkdh}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-bordered table-striped" >
                            <tr>
                                <th style="width:8%">发票号</th>
                                <th style="width:6%">发票种类</th>
                                <th style="width:6%">开票日期</th>
                                <th style="width:6%">开票金额</th>
                                <th style="width:8%">交给财务时间</th>
                                <th style="width:6%">供应商</th>
                                <th style="width:6%">业务员</th>
                                <th style="width:6%">部门</th>
                                <th style="width:6%">税率</th>
                                <th style="width:6%">币种</th>
                                <th style="width:8%">发票数量</th>
                                <th style="width:8%">发票金额</th>
                                <th style="width:10%">备注</th>
                            </tr>
                            <tr th:if="${list != null && list.size() >0}" th:each="fpmx:${list}">
                                <td th:text="${fpmx.fph}" th:title="${fpmx.fph}"/>
                                <td th:text="${fpmx.fpzlmc}" th:title="${fpmx.fpzlmc}"/>
                                <td th:text="${fpmx.kprq}" th:title="${fpmx.kprq}"/>
                                <td th:text="${fpmx.kpje}" th:title="${fpmx.kpje}"/>
                                <td th:text="${fpmx.lrsj}" th:title="${fpmx.lrsj}"/>
                                <td th:text="${fpmx.gysmc}" th:title="${fpmx.gysmc}"/>
                                <td th:text="${fpmx.ywymc}" th:title="${fpmx.ywymc}"/>
                                <td th:text="${fpmx.bmmc}" th:title="${fpmx.bmmc}"/>
                                <td th:text="${fpmx.sl}" th:title="${fpmx.sl}"/>
                                <td th:text="${fpmx.bizmc}" th:title="${fpmx.bizmc}"/>
                                <td th:text="${fpmx.fpsl}" th:title="${fpmx.fpsl}"/>
                                <td th:text="${fpmx.fpje}" th:title="${fpmx.fpje}"/>
                                <td th:text="${fpmx.bz}" th:title="${fpmx.bz}"/>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="DHTab" aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        到货单号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.dhdh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        入库类别: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.rklbmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        到货日期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.dhrq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        供应商: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.dhgysmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        仓库名称: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.ckmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        库位: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.kwmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        到货数量: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.dhsl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        初验退回数量: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.cythsl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        生产批号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.scph}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        追溯号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.zsh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        生产日期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.scrq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        有效期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.yxq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
                                        备注: </label>
                                    <div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
                                        <span th:text="${gdzcglDto.dhbz}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="YSTab" aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        验收单号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.sbysdh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        数量: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.yssl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        固定资产编号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.gdzcbh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        设备出厂编号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.sbccbh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        所属研发项目: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.ssyfxmmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        使用地点: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.sydd}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        验收日期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.ysrq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        验收结果: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:if="${gdzcglDto.ysjg eq '0'}" >不合格</span>
                                        <span th:if="${gdzcglDto.ysjg eq '1'}" >合格</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        生产厂家: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.scs}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="RKTab" aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        入库单号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.rkdh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        U8入库单号: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.u8rkdh}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        入库日期: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.rkrq}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        供应商: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.rkgysmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        入库数量: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.rksl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        仓库: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.rkckmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                        库位: </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <span th:text="${gdzcglDto.rkkwmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
                                        备注: </label>
                                    <div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
                                        <span th:text="${gdzcglDto.rkbz}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>