<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.bioinformation.dao.post.ILjglDao" >
    <delete id="delete" parameterType="LjglDto">
        delete from igams_ljgl
        where ljglid= #{ljglid}
    </delete>

    <update id="update" parameterType="LjglDto">
        UPDATE igams_ljgl set
        ljglid= #{ljglid}
        <if test="lj != '' and lj != null">
            ,lj = #{lj}
        </if>
        <if test="ljmc != '' and ljmc != null">
            ,ljmc = #{ljmc}
        </if>
        <if test="type != '' and type != null">
            ,type = #{type}
        </if>
        where ljglid= #{ljglid}
    </update>


    <select id="getPagedDtoList" parameterType="LjglDto" resultType="LjglDto">
        select ljglid,lj,ljmc,type
        from igams_ljgl
        <where>
        <if test="ljmc != '' and ljmc != null">
            ljmc ILIKE '%'||#{ljmc}||'%'
        </if>
        </where>
    </select>

    <select id="getDto" parameterType="LjglDto" resultType="LjglDto">
        select ljglid,lj,ljmc,type
        from igams_ljgl
        where ljglid = #{ljglid}
    </select>

    <insert id="insert"  parameterType="LjglDto">
        insert into igams_ljgl(
        ljglid
        <if test="lj != '' and lj != null">
            ,lj
        </if>
        <if test="ljmc != '' and ljmc != null">
            ,ljmc
        </if>
        <if test="type != '' and type != null">
            ,type
        </if>
        )
        values(
        #{ljglid}
        <if test="lj != '' and lj != null">
            ,#{lj}
        </if>
        <if test="ljmc != '' and ljmc != null">
            ,#{ljmc}
        </if>
        <if test="type != '' and type != null">
            ,#{type}
        </if>
        )
    </insert>
</mapper>
