<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/wechat/xxxj/xxxj_list.js?v=20250214v17" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
    <form id="xxxjlist_formSearch"  class="form-horizontal form-inline">

        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                            <option value="0">小结名称</option>
                            <option value="1">录入人员</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {searchQueryResult(true); return false;}"/>
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                    <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                </div>
            </div>
            <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                <span class="tit">已选条件：</span>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                    <ul id="sl_add_ul"></ul>
                </div>
            </div>
            <div class="padding_t7 width100" id="searchMore" style="display: none;" >
                <div class="tab-content sl_sel_con row"  style="min-height:100px;padding-left:5px;margin-left: 0px;margin-right: 0px;padding-bottom:10px;" id="sl_sel_con">
                    <div class="tab-pane active" id="tab06">
                        <div id="xjlx_id" class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="form-group width100">
                                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="显示方式" >小结类型：</label>
                                <div class="col-xs-6 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                    <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                        <li th:if="${xxxjList!=null && xxxjList.size() >0}" th:each="xjlx:${xxxjList}">
                                            <a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[xjlx]],[[${xjlx.csid}]],[[xxxjlist_formSearch]]);" th:id="'xjlx_id_'+${xjlx.csid}">
                                                <span th:text="${xjlx.csmc}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="lrsj" class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <div class="form-group width100">
                                <label class="col-sm-3 col-md-2 col-lg-2 control-label" title="录入时间" >录入时间：</label>
                                <div class="col-sm-7  col-md-8 col-lg-8 sl_sel_list" style="margin-top:5px" >
                                    <input id="lrsjstart" name="lrsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                    <input id="lrsjend" name="lrsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="xjlx_id_tj" name="xjlx_id_tj">
        <div th:include="common/btn/ancz.html"></div>
        <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
</html>