<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <style>

    </style>
</head>
<body>
<form class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
            <div class="panel panel-default">

                    <div >
                        <div role="tabpanel" id="verifyviewdetailsTab" aria-labelledby="profile-tab">
                            <div>
                                <div class="panel-body">
                                    <table class="table table-hover table-bordered" style="table-layout: fixed;">
                                        <thead>
                                        <tr>
                                            <th style="text-align:center;width:35%;">标本名称</th>
                                            <th style="text-align:center;width:16%;">标本类型</th>
                                            <th style="text-align:center;width:15%;">ct值</th>
                                            <th style="text-align:center;width:15%;">标准浓度</th>
                                            <th style="text-align:center;width:15%;">浓度</th>
                                            <th style="text-align:center;width:15%;">浓度单位</th>
                                            <th style="text-align:center;width:15%;">荧光</th>
                                            <th style="text-align:center;width:15%;">唯一编号</th>

                                            <th style="text-align:center;width:35%;">结果</th>
                                            <th style="text-align:center;width:16%;">横坐标</th>
                                            <th style="text-align:center;width:15%;">纵坐标</th>
                                            <th style="text-align:center;width:15%;">孔号</th>
                                            <th style="text-align:center;width:15%;">标本编号</th>
                                            <th style="text-align:center;width:15%;">目标基因</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="pcrsyjgDto:${pcrsyjgDtos}">
                                            <!--							<td th:text="${sjyzDto.bh}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
                                            <td th:text="${pcrsyjgDto.samplename}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.sampletype}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.ctvalue}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.stdconcentration}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.concentration}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.concentrationunit}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.dyename}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.sampleuid}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>

                                            <td th:text="${pcrsyjgDto.qcresult}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.wellhindex}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.wellvindex}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.well}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.samplenumber}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
                                            <td th:text="${pcrsyjgDto.genename}" style="text-align:center;line-height:100%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>

                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>