<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" monitorInterval="30">
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
	<property name="LOG_HOME" value="/home/igamsweb/igamslogs" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<fileNamePattern>${LOG_HOME}/igams.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!--日志文件保留天数-->
　　　　		<maxHistory>365</maxHistory> 
		</rollingPolicy>  
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder> 
	</appender> 
	
	<!--控制台的输出配置-->
	<console name="Console" target="SYSTEM_OUT">
		<!-- 设置控制台只输出INFO及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
		<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
		<!--输出日志的格式-->
		<PatternLayout pattern="${log_pattern}"/>
	</console>

    <springProfile name="dev">
        <logger name="com.matridx.igams.common.sqlplugin" level="INFO"/>
        <logger name="com.matridx.igams" level="INFO"/>
    </springProfile>
    
    <springProfile name="prod">
        <logger name="com.matridx.igams.common.sqlplugin" level="ERROR"/>
        <logger name="com.matridx" level="INFO"/>
    </springProfile>
    <root level="INFO"> 
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>