<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>计量校准列表</title>
	<script type="text/javascript" src="/js/deviceinfo/measurement/measurement_view.js" charset="utf-8"></script>
</head>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	<li  class="nav-item" >
		<a href="#sbxxTab" role="tab" data-bs-toggle="tab">设备信息</a>
	</li>
	<li>
		<a href="#sbjlxxTab" role="tab" data-bs-toggle="tab">计量校准</a>
	</li>
</ul>
<form id="Measurement_view_Form"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="sbxxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<input type="hidden" id="auditType" name="auditType" th:value="${sbjlxxDto.auditType}"/>
						<input type="hidden" id="jlid" name="jlid" th:value="${sbjlxxDto.jlid}"/>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									设备编号：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sbbh"   th:text="${sbxxDto.sbbh}" > </span>
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									设备名称：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sbmc"   th:text="${sbxxDto.sbmc}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									编号类别：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="hblb"   th:text="${sbxxDto.bhlbmc}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									管理类别：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="gllb"   th:text="${sbxxDto.gllbmc}" > </span>
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									所属项目：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="ssxm"   th:text="${sbxxDto.ssxm}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									所属公司：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="ssgs"   th:text="${sbxxDto.ssgs}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									申请人：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sqr"   th:text="${sbxxDto.sqrmc}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									申请部门：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sqbm"   th:text="${sbxxDto.sqbm}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									申购部门：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sgbm"   th:text="${sbxxDto.sgbm}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									规格型号：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="ggxh"   th:text="${sbxxDto.ggxh}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									单价(含税)：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="djjs"   th:text="${sbxxDto.djjs}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									数量：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sl"   th:text="${sbxxDto.sl}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									金额(含税)：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="jejs"   th:text="${sbxxDto.jejs}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									到货日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="dhrq"   th:text="${sbxxDto.dhrq}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									生产厂家：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sccj"   th:text="${sbxxDto.sccj}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									厂家电话：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="cjdh"   th:text="${sbxxDto.cjdh}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									供应商：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="gys"   th:text="${sbxxDto.gys}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									供应商电话：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="gysdh"   th:text="${sbxxDto.gysdh}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									保修日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="bxrq"   th:text="${sbxxDto.bxrq}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									购量日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="glrq"   th:text="${sbxxDto.glrq}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									定量位置：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="dlwz"   th:text="${sbxxDto.dlwz}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									使用地点：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sydd"   th:text="${sbxxDto.sydd}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									备注：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="bz"   th:text="${sbxxDto.bz}" > </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="sbjlxxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									设备名称：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sbmc"   th:text="${sbjlxxDto.sbmc}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									计量单位：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="jldw"   th:text="${sbjlxxDto.jldw}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									证书编号：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="zsbh"   th:text="${sbjlxxDto.zsbh}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									准确度：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="zqd"   th:text="${sbjlxxDto.zqd}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									检定日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sbmc"   th:text="${sbjlxxDto.jdrq}" > </span>
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									有效日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="yxrq"   th:text="${sbjlxxDto.yxrq}" > </span>
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									计量开始日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="sbmc"   th:text="${sbjlxxDto.jlksrq}" > </span>
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									预计结束日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="yjjsrq"   th:text="${sbjlxxDto.yjjsrq}" > </span>
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									计量结束日期：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="jljsrq"   th:text="${sbjlxxDto.jljsrq}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									检定结果：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="jdjgmc"   th:text="${sbjlxxDto.jdjgmc}" > </span>
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									检定方法：
								</label>
								<div class="col-md-8 col-sm-8 padding_t7"> 
									<span type="text" id="jdjgmc"   th:text="${sbjlxxDto.jdffmc}" > </span>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
				        	<div class="form-group">
				    			<div id="fjcfbDto" th:if="${fjcfList != null && fjcfList.size() >0}" th:each="fjcfbDto:${fjcfList}">
				    				<div th:id="${fjcfbDto.fjid}" >
				    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件："></label>
				    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
					    				<div class="col-sm-10 padding_t7">
					    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
					    					<a title="下载"  th:onclick="xz([[${fjcfbDto.fjid}]])" >
						    					<span th:text="${fjcfbDto.wjm}"></span>
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</a>&nbsp;&nbsp;
					    					<button title="预览" class="f_button" type="button">
					    						<span  class="glyphicon glyphicon-eye-open"  th:onclick="yl([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]])"></span>
					    					</button>
					    				</div>
					    			</div>
				    			</div>
				   			</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-2 col-sm-2 control-label">
									备注：
								</label>
								<div class="col-md-10 col-sm-10 padding_t7"> 
									<span type="text" id="bz"   th:text="${sbjlxxDto.bz}" > </span>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>