<!DOCTYPE html>
<html lang="zh-cn">
<head lang="zh-cn">
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <script type="text/javascript" src="/js/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
</head>
<body>
<form data-bs-toggle="validation" th:action="${urlPrefix}+'/train/train/pagedataAddSaveTaskDistribut'" method="post" id="train_ajaxForm" class="form-horizontal sl_all_form">
    <div class="body-content tab-content">
        <input type="hidden" name="access_token"/>
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <input type="hidden" name="ywlx" id ="ywlx" th:value="${fjcfbDto.ywlx}">
        <input type="hidden" name="fjid" id ="fjid">
        <input type="hidden" name="fjids" id ="fjids">
        <input type="hidden" name="yhxx" id ="yhxx">
        <input type="hidden" id="ids" name="ids" th:value="${pxglDto.ids}">
        <input type="hidden" id="bm" name="bm" th:value="${pxglDto.bm}">
        <div class="panel-body">
            <div class="row">
                <div id="wx" class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>学员：</label>
                        <div class="col-sm-8 col-md-9">
                            <div class="input-group">
                                <input id="fzr" autoComplete="off" style="min-width:100%;" name="fzr" type="text" class="form-control" validate="{required:true}" />
                                <span class="input-group-btn">
                                    <button type="button" onclick="chooseWxyh()" class="btn btn-primary">选择</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12" th:if="${flag eq 'distribute'}">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                            学员导入:
                        </label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <div class="col-sm-9 col-xs-9 col-md-9" style="padding: 0">
                            <a href="javascript:void(0);" id="C_Btn" onclick='editfile("C_Div","C_Btn")' style="display:inline-block;width:100%;border:1px solid #CCCCCC;border-radius:3px;">
                                <span title="点击上传"  style="display:inline-block;width:100%;height:28px;color:#A6A6A6;font-size:12px;line-height:28px;">点击展开上传文件</span>
                            </a>
                            <div id="C_Div" style="display: none;">
                                <input  id="sign_file" name="sign_file" type="file">
                                <button class="btn btn-default" type="button" style="position:relative;margin-top:-5%;margin-left:77%; width:23%;" onclick='cancelfile("C_Div","C_Btn")'>隐藏</button>
                            </div>
                            </div>
                            <div class="col-sm-3 col-xs-3 col-md-3" style="padding: 0">
                            <button id="template_wt" type="button" class="btn btn-primary btn-xs pull-right color-white">
                                下载模板
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>期望完成时间:</label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input id="qwwcsj" name="qwwcsj" class="form-control" placeholder="请选择时间" validate="{required:true}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <form th:action="${urlPrefix}+'/common/file/downFile'" method="POST" enctype="multipart/form-data" id="updateDisForm">
        <input type="hidden" name="wjlx" value="IMP_DISTRIBUTION_PERSONEL.xlsx">
        <input type="hidden" id="access_token" name="access_token">
    </form>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/train/train/train_distribute.js'}"></script>
</body>
</html>