<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <style>
        .chosen-container{
            margin-top: -15px;
            position: absolute;
        }
    </style>
</head>
<body>
<form id="generatetestpapersForm"  class="form-horizontal sl_all_form" theme="simple" data-bs-toggle="validation" style="font-size:12px">
    <div class="body-content tab-content">
        <div class="row">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
            <input type="hidden" name="tklist" id="tklist" th:value="${tklist}">
            <input type="hidden" name="tmmx_json" id="tmmx_json"/>
            <div class="col-md-12 col-sm-12">
                <button  type="button" class="btn btn-success" onclick="addnew()" ><span>新增</span></button>
                <label for="" class="control-label">
                    当前总分：
                </label>
                <span  id="cszf" name="cszf" style="color: red"></span>
            </div>

            <table id="tb_list" data-classes="table" style="width:1530px;"></table>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/train/train/train_generatetestpapers.js'}" charset="utf-8"></script>
</html>