<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试试卷</title>
</head>
<body>
<div style="padding-left: 10px;padding-right: 10px;" th:if="${testPapers != null && testPapers.size() >0}" th:each="testPaper:${testPapers}">
    <table class="table">
        <tr style="font-size:20px">
            <th><span th:text="${testPaper.key.split('_')[1] + '（共' + testPaper.key.split('_')[2]+'题，每题' + testPaper.key.split('_')[3] + '分，共' + testPaper.key.split('_')[4] + '分）'}" /></th>
        </tr>
    </table>
    <table  class="table">
        <div th:if="${testPaper.value != null && testPaper.value.size() >0}" th:each="ksglDto,ksglDtoStat:${testPaper.value}">
            <tr>
                <span th:text="${ksglDto.xh +'.'+ ksglDto.tmnr}" />
            </tr>
            <div th:if="${(testPaper.key.split('_')[1]=='单选题' || testPaper.key.split('_')[1] == '多选题') && ksglDto.ksmxDtos != null && ksglDto.ksmxDtos.size() >0}" th:each="ksmxDto:${ksglDto.ksmxDtos}">
                <tr>
                    <span th:text="${'&emsp;&emsp;'+ksmxDto.xxdm + '.' + ksmxDto.xxnr}" />
                </tr>
            </div>
        </div>
    </table>
</div>
</body>
</html>