<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/common/homepage/homepageProcess_edit.js" charset="utf-8"></script>
    <style>
        #tb_list .chosen-container{
            margin-top: -15px;
            position: absolute;
        }
        #editHomepageProcessModal  .bootbox-body{
            overflow-x: unset !important;
        }
    </style>
</head>
<body>
<form id="editHomepageProcessForm" th:action ="'/process/process/'+${sylcDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content">
        <div class="row">
            <input type="hidden" id="access_token" name="access_token">
            <input type="hidden" id="lcmx_json" name="lcmx_json"/>
            <input type="hidden" name="lcid" id="lcid" th:value="${sylcDto.lcid}"/>
            <input type="hidden" name="mklist" id="mklist" th:value="${mklist}"/>
            <input type="hidden" name="menulist" id="menulist" th:value="${menulist}"/>
            <input type="hidden" name="buttonlist" id="buttonlist" th:value="${buttonlist}"/>
            <div class="col-md-4 col-sm-4" id="keydown">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>流程名称
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="lcmc" name="lcmc" validate="{required:true}"  th:value="${sylcDto.lcmc}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>序号
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="number" id="xh" name="xh" validate="{required:true}" th:value="${sylcDto.xh}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>类型
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9" th:if="${classlist !=null && classlist.size() > 0}">
                        <select id="lx" name="lx"  class="form-control chosen-select" validate="{required:true,stringMaxLength:32}" style="height:34px;">
                            <option value="">--请选择--</option>
                            <option th:each="list:${classlist}"  th:value="${list.csid}" th:text="${list.csmc}"  th:selected="${list.csid eq sylcDto.lx}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>显示箭头
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <label class="radio-inline" >
                            <input type="radio"  value="0" name="lcbj"  th:checked="${'0' eq sylcDto.lcbj}"  validate="{required:true}">否
                        </label>
                        <label class="radio-inline">
                            <input type="radio"  value="1" name="lcbj"  th:checked="${'1' eq sylcDto.lcbj}"   validate="{required:true}">是
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <button  type="button" class="btn btn-success" onclick="addnew()" ><span>新增</span></button>
    </div>
    <table id="tb_list" data-classes="table table-hover table-bordered table-hidden" style="width:1530px;"></table>
</form>
</body>
</html>