@charset "utf-8";
.form-control{height: 30px;}
.input-group { height: 30px !important; } /*统一高度*/
.btn{ height:30px !important;}
.padding_t7{padding-top:7px !important}
.padding_t4{padding-top:4px !important}
.padding_l10{padding-left:10px !important}
.form-group{
	margin-bottom: 8px !important;
}
.form-control{
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
label,span {
	font-size: calc(85%) !important;
}
label.error{
	border-color:#f00; color:#f00;
}
.info_clear{
	margin-top: -5px !important;
}
.checkboxLabel{
	height:35px !important;
}
/*统计图的Y W 图标样式*/
.desktop_analysisBar {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 20;
}

.desktop_analysisBar .desktop_analysisBar-head{
	padding-right: 5px;
}

.desktop_analysisBar .desktop_analysisBar-head,
.desktop_analysisBar .desktop_analysisBar-con{
	overflow: hidden;
}

.desktop_analysisBar .desktop_analysisBar-head .ocFlag{
	line-height: 36px;
}

.desktop_analysisBar .desktop_analysisBar-con{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.desktop_analysisBar .desktop_analysisBar-con .panel {
	margin: 0;
	border-radius: 0;
	/*background-color: rgba(49, 49, 49, 0.6);*/
	background-color: #fff;
	border: none;
	/*border: 1px solid #ddd;*/
	overflow: hidden;
}

.desktop_analysisBar .desktop_analysisBar-con .panel .panel-heading {
	height: 36px;
	padding: 0 5px 0 15px;
	line-height: 36px;
	color: #ffffff;
	border-color: #ddd;
	border-radius: 0;
	/*background-color: rgba(49, 49, 49, 0.6);*/
	background-color: #0483d4;
}

.desktop_analysisBar .desktop_analysisBar-con .panel .panel-heading .ocFlag{
	color: #fff;
}

.desktop_analysisBar .desktop_analysisBar-con .panel .panel-body {
	max-height:200px;
	overflow: auto;
	border: 1px solid #ddd;
	border-top: none;
	padding: 15px 0 10px 0;
}

.desktop_analysisBar .desktop_analysisBar-con .panel .panel-body>div{
	padding-bottom: 10px;
}
