@charset "utf-8";

h1, .h1, h2, .h2, h3, .h3{ margin-top: 20px; margin-bottom: 10px; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }

p { margin: 0 0 10px; }

.hll { background-color: #ffc }
.c { color: #999 }
.err { color: #A00; background-color: #FAA }
.k { color: #069 }
.o { color: #555 }
.cm { color: #999 }
.cp { color: #099 }
.c1 { color: #999 }
.cs { color: #999 }
.gd { background-color: #FCC; border: 1px solid #C00 }
.ge { font-style: italic }
.gr { color: red }
.gh { color: #030 }
.gi { background-color: #CFC; border: 1px solid #0C0 }
.go { color: #AAA }
.gp { color: #009 }
.gu { color: #030 }
.gt { color: #9C6 }
.kc { color: #069 }
.kd { color: #069 }
.kn { color: #069 }
.kp { color: #069 }
.kr { color: #069 }
.kt { color: #078 }
.m { color: #F60 }
.s { color: #d44950 }
.na { color: #4f9fcf }
.nb { color: #366 }
.nc { color: #0A8 }
.no { color: #360 }
.nd { color: #99F }
.ni { color: #999 }
.ne { color: #C00 }
.nf { color: #C0F }
.nl { color: #99F }
.nn { color: #0CF }
.nt { color: #2f6f9f }
.nv { color: #033 }
.ow { color: #000 }
.w { color: #bbb }
.mf { color: #F60 }
.mh { color: #F60 }
.mi { color: #F60 }
.mo { color: #F60 }
.sb { color: #C30 }
.sc { color: #C30 }
.sd { color: #C30; font-style: italic }
.s2 { color: #C30 }
.se { color: #C30 }
.sh { color: #C30 }
.si { color: #A00 }
.sx { color: #C30 }
.sr { color: #3AA }
.s1 { color: #C30 }
.ss { color: #FC3 }
.bp { color: #366 }
.vc { color: #033 }
.vg { color: #033 }
.vi { color: #033 }
.il { color: #F60 }
.css .nt + .nt, .css .o, .css .o + .nt { color: #999 }

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.bs-docs-sidebar.affix { position: static }
@media (min-width: 768px) {
    .bs-docs-sidebar { padding-left: 20px }
}
.bs-docs-sidenav { margin-top: 20px; margin-bottom: 20px }
.bs-docs-sidebar .nav > li > a { display: block; padding: 4px 20px; font-size: 13px; font-weight: 500; color: #767676 }
.bs-docs-sidebar .nav > li > a:focus, .bs-docs-sidebar .nav > li > a:hover { padding-left: 19px; color: #563d7c; text-decoration: none; background-color: transparent; border-left: 1px solid #563d7c }
.bs-docs-sidebar .nav > .active:focus > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active > a { padding-left: 18px; font-weight: 700; color: #563d7c; background-color: transparent; border-left: 2px solid #563d7c }
.bs-docs-sidebar .nav .nav { display: none; padding-bottom: 10px }
.bs-docs-sidebar .nav .nav > li > a { padding-top: 1px; padding-bottom: 1px; padding-left: 30px; font-size: 12px; font-weight: 400 }
.bs-docs-sidebar .nav .nav > li > a:focus, .bs-docs-sidebar .nav .nav > li > a:hover { padding-left: 29px }
.bs-docs-sidebar .nav .nav > .active:focus > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active > a { padding-left: 28px; font-weight: 500 }
.back-to-top, .bs-docs-theme-toggle { display: none; padding: 4px 10px; margin-top: 10px; margin-left: 10px; font-size: 12px; font-weight: 500; color: #999 }
.back-to-top:hover, .bs-docs-theme-toggle:hover { color: #563d7c; text-decoration: none }
.bs-docs-theme-toggle { margin-top: 0 }
@media (min-width: 768px) {
    .back-to-top, .bs-docs-theme-toggle { display: block }
}
@media (min-width: 992px) {
    .bs-docs-sidebar .nav > .active > ul { display: block }
    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom { width: 213px }
    .bs-docs-sidebar.affix { position: fixed; top: 20px }
    .bs-docs-sidebar.affix-bottom { position: absolute }
    .bs-docs-sidebar.affix .bs-docs-sidenav, .bs-docs-sidebar.affix-bottom .bs-docs-sidenav { margin-top: 0; margin-bottom: 0 }
}
@media (min-width: 1200px) {
    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom { width: 263px }
}

.show-grid { margin-bottom: 15px }
.show-grid [class^=col-] { padding-top: 10px; padding-bottom: 10px; background-color: #eee; background-color: rgba(86, 61, 124, .15); border: 1px solid #ddd; border: 1px solid rgba(86, 61, 124, .2) }

.bs-example { position: relative; padding: 45px 15px 15px; margin: 0 -15px 15px; border-color: #e5e5e5 #eee #eee; border-style: solid; border-width: 1px 0; -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05); box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05) }
.bs-example:after { position: absolute; top: 15px; left: 15px; font-size: 12px; font-weight: 700; color: #959595; text-transform: uppercase; letter-spacing: 1px; content: "Example" }
.bs-example-padded-bottom { padding-bottom: 24px }
.bs-example + .highlight, .bs-example + .zero-clipboard + .highlight { margin: -15px -15px 15px; border-width: 0 0 1px; border-radius: 0 }
@media (min-width: 768px) {
    .bs-example { margin-right: 0; margin-left: 0; background-color: #fff; border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; -webkit-box-shadow: none; box-shadow: none }
    .bs-example + .highlight, .bs-example + .zero-clipboard + .highlight { margin-top: -16px; margin-right: 0; margin-left: 0; border-width: 1px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px }
    .bs-example-standalone { border-radius: 4px }
}
.bs-example .container { width: auto }
.bs-example > .alert:last-child, .bs-example > .form-control:last-child, .bs-example > .jumbotron:last-child, .bs-example > .list-group:last-child, .bs-example > .navbar:last-child, .bs-example > .panel:last-child, .bs-example > .progress:last-child, .bs-example > .table-responsive:last-child > .table, .bs-example > .table:last-child, .bs-example > .well:last-child, .bs-example > blockquote:last-child, .bs-example > ol:last-child, .bs-example > p:last-child, .bs-example > ul:last-child { margin-bottom: 0 }
.bs-example > p > .close { float: none }
.bs-example-type .table .type-info { color: #767676; vertical-align: middle }
.bs-example-type .table td { padding: 15px 0; border-color: #eee }
.bs-example-type .table tr:first-child td { border-top: 0 }
.bs-example-type h1, .bs-example-type h2, .bs-example-type h3, .bs-example-type h4, .bs-example-type h5, .bs-example-type h6 { margin: 0 }
.bs-example-bg-classes p { padding: 15px }
.bs-example > .img-circle, .bs-example > .img-rounded, .bs-example > .img-thumbnail, .bs-example > .img-responsive{ margin: 5px }
.bs-example > .table-responsive > .table { background-color: #fff }
.bs-example > .btn, .bs-example > .btn-group { margin-top: 5px; margin-bottom: 5px }
.bs-example > .btn-toolbar + .btn-toolbar { margin-top: 10px }
.bs-example-control-sizing input[type=text] + input[type=text], .bs-example-control-sizing select { margin-top: 10px }
.bs-example-form .input-group { margin-bottom: 10px }
.bs-example > textarea.form-control { resize: vertical }
.bs-example > .list-group { max-width: 400px }
.bs-example .navbar:last-child { margin-bottom: 0 }
.bs-example:after {
    content: "实例：" !important;
}

.bs-table th small, .responsive-utilities th small { display: block; font-weight: 400; color: #999 }
.responsive-utilities tbody th { font-weight: 400 }
.responsive-utilities td { text-align: center }
.responsive-utilities td.is-visible { color: #468847; background-color: #dff0d8 !important }
.responsive-utilities td.is-hidden { color: #ccc; background-color: #f9f9f9 !important }
.responsive-utilities-test { margin-top: 5px }
.responsive-utilities-test .col-xs-6 { margin-bottom: 10px }
.responsive-utilities-test span { display: block; padding: 15px 10px; font-size: 14px; font-weight: 700; line-height: 1.1; text-align: center; border-radius: 4px }

.bs-example-floats { padding: 10px 20px;background-color: #337ab7; color: #fff; }
.bs-example.bs-example-images { background-color: #eee; }
.example-font-awesome{letter-spacing:0px;}
.example-font-awesome:hover > .fa {display: inline-block; -moz-animation: fa-spin 2s infinite linear; -o-animation: fa-spin 2s infinite linear; -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear;}
.example-nav-tabs.nav-tabs>li.active>a,
.example-nav-tabs.nav-tabs>li.active>a:hover,
.example-nav-tabs.nav-tabs>li.active>a:focus{ border-top: 1px solid #ddd !important;}
.example-nav-tabs.nav-tabs>li>a { border-top: 1px solid transparent !important;}
.example-navbar.navbar-default .navbar-toggle .icon-bar { background-color:#888;}
.table p { margin: 0;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{ vertical-align: middle;}
@media (min-width: 768px){
    .bs-example.bs-example-nocode {border-radius:4px;}
}
.table .progress{margin-bottom: 0px;}
.table .panel{margin-bottom: 0px;}

.panel>.list-group, .panel>.panel-collapse>.list-group{ margin-bottom:0; }
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.f_45 { font-size: 45px;}
.f_30 { font-size: 30px;}

/* 简单动画 */

.animate-falsh { animation: flash 2s infinite linear;}
.animate-fadeOutRight { animation: fadeOutRight 2s infinite linear;}
.animate-bounce { animation: bounce 2s infinite ease-out;}


/* 覆盖样式，周平，20160829 */

.top2 .navbar-nav>li>a { padding-top: 15px; padding-bottom: 15px;}
.top2 .navbar-collapse .navbar-nav { margin: 0px;}



