
/*左侧导航*/

.nav-menu .fl {
	float: left;
}

.nav-menu-right .fl {
	float: right;
}

a:hover {
	color: #000;
}

.nav-menu-switch {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.nav-menu-switch> section {
	width: 90%;
	margin: 0 auto;
}

.nav-menu-switch> section h2 {
	font-weight: 300;
	color: #ccc;
}

.nav-menu-switch> section button {
	border: none;
	background: #47a3da;
	color: #fff;
	padding: 1.5em;
	display: inline;
	cursor: pointer;
	margin: 10px 0;
}

.nav-menu-switch> section button:hover {
	background: #F5F7F9;
}

.nav-menu-switch> section button.active {
	background: #0d77b6;
}

.nav-menu-switch> section button.disabled {
	background: #aaa;
	pointer-events: none;
}

.icon-drop:before,
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.nav-menu .icon-drop:before {
	content: "\e000";
}

.nav-menu .icon-arrow-left:before {
	content: "\f060";
}


.nav-container .nav-tabs li:first-child{
	margin-left:30px;
}

.nav-container .nav-tabs li:foucus{
	outline:none;
}

/***************************************************************/


/* General styles for all menus */

.nav-tab-top{
	background-color:#fff;
	height:15px;
	width:100%;
}

.nav-menu {
	background: #47a3da;
	position: fixed;
}

.nav-menu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.nav-menu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.nav-menu a:hover {
	background: #F5F7F9;
}

.nav-menu a:active {
	background: #afdefa;
	color: #47a3da;
}


/* Orientation-dependent styles for the content of the menu */

.nav-menu-vertical {
	width: 240px;
	height: 100%;
	top: 60px;
	z-index: 1000;
}

.nav-menu-push-toleft .nav-menu-vertical,
.nav-menu-push-toright .nav-menu-vertical {
	top: 0 !important;
}

.nav-menu-vertical a {
	border-bottom: 1px solid #e8e8e8;
	padding: 5px;
}

.nav-menu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	/*overflow: hidden;*/
}

.nav-menu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.nav-menu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #F5F7F9;
}


/* Vertical menu that slides from the left or right */

.nav-menu-left {
	left: -220px;
}

.nav-menu-right {
	right: -220px;
}

.nav-menu-left.nav-menu-open {
	left: 0px;
}

.nav-menu-right.nav-menu-open {
	right: 0px;
}


/* Push classes applied to the body */

.nav-menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.nav-menu-push-toleft {
	left: 240px;
}

.nav-menu-push-toright {
	left: -240px;
}


/* Transitions */

.nav-menu,
.nav-menu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* Example media queries */

.nav-menu-content {
	position: relative;
	height: 100%;
	background-color: #0483D4;
}

.nav-menu-toggle {
	position: absolute;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
}

.nav-menu-toggle .fa {
	font-size: 16px;
}

.nav-menu-item ul,
.nav-menu-item li {
	text-decoration: none;
	list-style-type: none;
}

.nav-menu-item ul {
	padding: 0;
}

.nav-menu-item li {}

.nav-menu-left .nav-menu-toggle {
	top: 15px;
	margin-top: -15px;
	right: 0;
}

.nav-menu-right .nav-menu-toggle {
	top: 15px;
	left: 0;
	margin-top: -10px;
}

.nav-menu-left .nav-menu-item {
	height: 100%;
	background-color: #f5f7f9;
	width: 220px;
}

.nav-menu-right .nav-menu-item {
	height: 100%;
	background-color: #f5f7f9;
	width: 220px;
}

.nav-menu-right .glyphicon-arrow-right:before {
	content: "\e091";
}

.toggle-rotate {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.play-rotate {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.nav-menu-item .nav-title {
	background-color: #F5F7F9;
	font-size: 14px;
	color: #768294;
	line-height: 35px;
	padding-left: 5px;
	margin-bottom: 5px;
	position: relative;
}

.nav-menu-item .nav-title .fa {
	position: absolute;
	right: 6px;
	top: 10px;
}

.nav-menu-item .nav-title .glyphicon-play {
	position: absolute;
	font-size: 12px;
	right: 5px;
	top: 12px;
}

.nav-menu-item .content2 {
	display: none;
}

.nav-menu-item .content2 .content2 {
	background-color: #fff;
}

.nav-menu-item a {
	text-decoration: none;
}

.nav-menu-item .content2 .nav-title {
	text-indent: 5px;
	font-size: 14px;
	line-height: 35px;
	position: relative;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
	border: 2px transparent solid;
	margin-bottom: 5px;
}

.nav-menu-item .content2 .content2 .nav-title {
	background-color: #fff;
	text-indent: 14px;
	font-size: 12px;
}

.nav-menu-item .content2 .nav-title:hover,
.nav-menu-item .nav-title:hover {
	cursor: pointer;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
	background-color: #0483D4;
	color: #fff !important;
}


/*add*/

.nav-menu-item .glyphicon {
	margin-right: 8px;
	font-size: 16px;
	vertical-align: middle;
}

.nav-menu-item .nav-title:hover {
	color: #0483D4;
}

.shake:hover .glyphicon {
	/*font-size: 18px;*/
}

.nav-menu-catalog {
	padding: 40px 0;
	height: 100%;
	cursor: pointer;
}

.nav-menu-catalog .item {
	width: 20px;
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
}

.nav-menu-catalog .item .glyphicon {
	color: #fff;
}


/*bootstrap-addtabs.css*/


/* 
    Created on : 2015-8-11, 16:18:09
    Author     : joe
*/

.close-tab {
	font-size: 10px;
	position: absolute;
	right: 8px;
	top: 5px;
	z-index: 100;
	cursor: hand;
	cursor: pointer;
	color: #94A6B0;
	display: none;
}

.topbar-collapse {
	float: right;
}

.iframeClass {
	z-index: 1;
	visibility: inherit;
	width: 100%;
	frameborder: 'no';
	border: 0;
	marginwidth: 0;
	marginheight: 0;
	scrolling-x: 'no';
	scrolling-y: auto;
	allowtransparency: true;
}


/*container for iframe*/



.container-iframe {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container-iframe {
		width: 720px
	}
}

@media (min-width:992px) {
	.container-iframe {
		width: 940px
	}
}

@media (min-width:1200px) {
	.container-iframe {
		width: 1140px
	}
}

@media (min-width:1400px) {
	.container-iframe {
		width: 1340px
	}
	.container {
		width: 1370px;
	}
}

@media (min-width:1700px) {
	.container-iframe {
		width: 1600px;
	}
	.container {
		width: 1630px
	}
}

@media (min-width:1900px) {
	.container-iframe {
		width: 1850px;
	}
	.container {
		width: 1630px
	}
}

@media (max-width:767px) {
	.container {
		margin-left: 15px;
	}
}

.embed-responsive{
	background-color:#f5f5f5;
}

/*container end*/

.tabdrop .dropdown-toggle {
	cursor: pointer !important;
	color: #333;
	border: none;
}

.tabdrop .dropdown-toggle:hover {
	background-color: #ddd !important;
}

#tabs li a {
	border-top: 2px solid transparent;
}

#tabs li.active a {
	border-top: 2px solid #0483D4;
	cursor: pointer !important;
}

#tabs .close-tab {
	background: url(../images/tabClose.png);
	width: 12px;
	height: 12px;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8));
	transform: scale(.8);
	-webkit-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#tabs .close-tab:hover {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1));
	-ms-transform: scale(1);
	transform: scale(1);
}

#tabs .close-tab:before {
	content: '' !important;
}

#tabs .nav>li>a {
	padding: 5px 20px;
}

#tabs .dropdown-menu a {
	border-top: none !important;
}

#tabs .dropdown-menu li {
	position: relative;
}

#tabs .dropdown-menu li:hover .glyphicon-remove {
	display: inline;
}

.white-block {
	background-color: #fff;
	height: 10px;
}


/*左侧导航end*/