	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	html,
	body {
		width: 100%;
		/*overflow: hidden;*/
		font: normal 100 14px Helvetica, microsoft YaHei, SimSun, Arial;
	}
	
	body {
		/*background: #3E9EE1;*/
		background-color: #eee;
		color: #fff;
		line-height: 1.3;
		-webkit-font-smoothing: antialiased;
		margin: 0;
		overflow-y: hidden;
	}
	
	
	ul,
	li {
		list-style: none;
	}
	.inline {
    	display: inline-block;
	}
	.gm-logo-lg {
		/*background-color: #fcf6fa;*/
	}
	
	.gm-logo-lg img {
		height: 40px;
		margin: 5px 10px;
		cursor: pointer;
	}
	
	.fl {
		float: left;
	}
	
	.fr {
		float: right;
	}
	
	.gm-sy-block {
		background: transparent;
		box-shadow: 0 -15px 30px #369DE1;
	}
	
	.gm-nav.left-nav {
		width: 230px;
		box-shadow: 0 -15px 30px #369DE1;
		margin-left: -230px;
		transition: margin-left 500ms;
		-moz-transition: margin-left 500ms;
		/* Firefox 4 */
		-webkit-transition: margin-left 500ms;
		/* Safari 和 Chrome */
		-o-transition: margin-left 500ms;
		/* Opera */
		float: left;
		margin-top: -50px;
	}
	
	.left-nav-open .gm-nav.left-nav {
		margin-left: 0;
		transition: margin-left 500ms;
		-moz-transition: margin-left 500ms;
		/* Firefox 4 */
		-webkit-transition: margin-left 500ms;
		/* Safari 和 Chrome */
		-o-transition: margin-left 500ms;
		/* Opera */
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
		position: fixed;
		z-index: 9;
		background-color: #fff;
		border-right: 1px solid #2994de;
	}
	
	.gm-nav-area ul,
	.gm-nav-area li {
		padding: 0;
		position: relative;
	}
	
	.gm-nav-area li {
		height: 45px;
		position: relative;
		z-index: 2;
	}
	
	.gm-bg-intro {
		background-color: #eee;
		position: relative;
	}
	
	.left-nav .gm-nav-area {
		/*border-right: 1px solid #a1d0ee;*/
	}
	
	.left-nav .gm-nav-multistep-list {
		display: none;
	}
	
	.left-nav .gm-nav-item-list {
		/*background-color: #535A6C;*/
	}
	
	.left-nav .gm-nav-item-list a {
		color: #fff;
		display: block;
		padding: 12px 15px 12px 29px;
		text-decoration: none;
		text-overflow: ellipsis;
		word-break: normal;
		/*border-bottom: 1px dotted #a1d0ee;*/
		white-space: nowrap;
		overflow: hidden;
		color: #666;
	}
	
	.left-nav .gm-nav-multistep-list.active {
		display: block !important;
	}
	
	.left-nav .gm-nav-multistep-list {
		/*background-color: #6b6c6f;*/
	}
	
	.left-nav .gm-nav-area i {
		color: #999;
	}
	
	.left-nav .gm-nav-area i.first {
		position: absolute;
		left: 8px;
		top: 14px;
	}
	
	.left-nav .gm-nav-area i.second {
		position: absolute;
		right: 10px;
		top: 14px;
		cursor: pointer;
	}
	
	.left-nav i.second.back:before {
		content: "\e091";
	}
	
	.gm-nav.top-nav {
		position: fixed;
		height: 51px;
		top: 0;
		right: 0;
		z-index: 22;
		width: 100%;
		margin-left: 0px;
		transition: margin-left 500ms;
		-moz-transition: margin-left 500ms;
		/* Firefox 4 */
		-webkit-transition: margin-left 500ms;
		/* Safari 和 Chrome */
		-o-transition: margin-left 500ms;
		/* Opera */
		/* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2); */
		transition: top 600ms, right 500ms;
		-moz-transition: top 600ms, right 500ms;
		/* Firefox 4 */
		-webkit-transition: top 600ms, right 500ms;
		/* Safari 和 Chrome */
		-o-transition: top 600ms, right 500ms;
		/* Opera */
	}
	
	.gm-nav.top-nav .popover.bottom{
		margin-top:-3px !important;
	}
	
	.top-vertical-nav {
		margin-left: 80px;
	}
	.top-vertical-nav ul>li>a {
		height: 20px !important;
		margin-right: 12px !important;
		margin-left: 12px !important;
		line-height: 10px !important;
	}
	.top-vertical-nav nav {
		margin-top: 10px !important;
		margin-bottom: 0px !important;
		min-height: 20px !important;
	}
	
	.left-nav-open .gm-nav.top-nav {
		margin-left: 230px;
		transition: margin-left 500ms;
		-moz-transition: margin-left 500ms;
		/* Firefox 4 */
		-webkit-transition: margin-left 500ms;
		/* Safari 和 Chrome */
		-o-transition: margin-left 500ms;
		/* Opera */
	}
	
	.gm-content {
		margin-left: 50px;
		background-color: #C6E2FF;
	}
	
	@media only screen and (min-width: 768px) {
		.gm-content {
			padding-top: 50px;
		}
	}
	
	.gm-nav.top-nav .navbar-right {
		height: 50px;
		padding: 5px;
		margin: 0;
	}
	
	.gm-nav.top-nav .navbar-right img {
		height: 40px;
	}
	
	.no-margin {
		margin: 0 !important;
	}
	
	.no-padding {
		padding: 0 !important;
	}
	
	.gm-nav.top-nav .navbar-right a:hover,
	.gm-nav.top-nav .navbar-right a:focus {
		background: none;
	}
	
	.gm-nav.top-nav li>a {
		height: 40px;
		line-height: 40px;
		margin-right: 22px;
		margin-bottom: 10px;
		color: #fff;
		background: none !important;
	}
	
	.popover.bottom>.arrow {
		top: -11px !important;
	}
	
	.gm-user {
		margin-right: 5px;
	}
	
	.gm-user-panel {
		min-width: 200px;
	}
	
	.gm-nav.top-nav a {
		text-decoration: none;
	}
	
	.gm-user-panel .item a {
		color: #444;
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		width: 100%;
		padding: 0 15px;
	}
	
	.gm-user-panel .item a:hover {
		background-color: #eee !important;
	}
	
	.gm-nav.top-nav .navbar-right .popover-content {
		padding: 0;
	}
	
	.nav-toggle {
		margin: 0px;
		padding: 10px 0;
	}
	
	.nav-toggle i {
		font-size: 14px;
		line-height: 18px;
		cursor: pointer;
	}
	
	.gm-shade {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(73, 166, 227, 0.05);
		display: none;
		z-index: 20;
	}
	
	.gm-shade-none {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: none;
		display: none;
		z-index: 4;
	}
	
	.left-nav-open .nav-toggle i:before {
		/*content: "\e014";*/
	}
	
	.left-nav-open .gm-logo-lg {
		display: none;
	}
	
	.gm-top-logo img {
		max-width: 210px;
		display: block;
		margin: auto;
		padding: 15px 20px;
	}
	
	.gm-nav-multistep-list {
		animation-duration: 500ms;
		-webkit-animation-duration: 500ms;
		-moz-animation-duration: 500ms;
	}
	
	.gm-nav-area li.active {
		font-weight: 600;
		border-bottom: 1px solid #ddd;
	}
	
	.gm-nav-area li.active a {
		color: #2994de !important;
	}
	
	.gm-nav-area li.active i.second {
		color: #3e9fe1 !important;
	}
	
	.left-nav .gm-nav-item-list li:hover {
		color: #fff;
	}
	
	.gm-nav-multistep-list>li {
		animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		-o-animation-delay: 0s;
	}
	/*重写滚动条样式*/
	
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
		background: #2994de;
	}
	
	.mCSB_inside> .mCSB_container {
		margin-right: 10px;
	}
	
	.mCSB_buttonUp,
	.mCSB_buttonDown {
		display: block;
		background-color: #51a8e4 !important;
		opacity: 1 !important;
		margin-left: -3px !important;
	}

	/*重写滚动条样式*/
	
	.left-nav-item-hover {
		background-color: #2994DE;
		border-radius: 4px;
		width: 193px;
		position: absolute;
		height: 45px;
		left: 5px;
		z-index: 1;
		transition: top 300ms !important;
		-moz-transition: top 300ms !important;
		/* Firefox 4 */
		-webkit-transition: top 300ms !important;
		/* Safari 和 Chrome */
		-o-transition: top 300ms !important;
		/* Opera */
	}
	
	.gm-nav-area li:hover a,
	.gm-nav-area li:hover i {
		color: #fff;
		transition: color 300ms;
		-moz-transition: color 300ms;
		/* Firefox 4 */
		-webkit-transition: color 300ms;
		/* Safari 和 Chrome */
		-o-transition: color 300ms;
		/* Opera */
	}
	
	.gm-nav.top-nav .navbar-right li {
		display: inline-block;
		min-width: 30px;
		cursor: pointer;
		text-align: center;
	}
	/* 版本信息下拉框最大宽度 */
	.popover {
		max-width:500px;
	}
	.gm-lately-use,
	.gm-search,
	.gm-skin-change,
	.gm-phone-toggle,
	.gm-version {
		height: 40px;
		line-height: 40px;
		width: 40px;
	}
	.gm-change-top{
		width:20px;
		min-width:20px !important;
		height: 40px;
		line-height: 40px;
		width: 40px;
	}
	.gm-lately-use{
		width:20px;
		min-width:20px !important;
	}
	
	/*
.gm-lately-use button,
.gm-search button{
	background: none;
	border: none;
	color: #fff;
	padding: 0px;
	height: 100%;
}

.gm-lately-use button:hover,
.gm-lately-use button:focus,
.gm-search button:hover,
.gm-search button:focus{
	background: none;
	border: none;
	color: #fff;
}*/
	
	.top-header .gm-nav.top-nav {
		/*top: -51px;*/
	}
	
	.top-header .gm-global-bg {
		position: relative;
		overflow: hidden;
		width: 100%;
		/*height: 100vh;*/
		pointer-events: auto;
		/*background: #2a2b30;*/
		box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
		opacity: 1;
		/*transform: translate3d(0px, 0px, 0px);*/
	}
	
	.top-header .gm-global-bg.close {
		z-index: 9;
		opacity: 1;
		transform: translate3d(0px, 75%, -200px);
	}
	/*头部导航*/
	/*.gm-top-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	padding: 30px;
	pointer-events: none;
	opacity: 0;
	background: transparent;
	-webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
	transition: transform 1.2s, opacity 1.2s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 150px, 0);
	transform: translate3d(0, 150px, 0);
}*/
	
	.gm-top-nav {
		margin-top: 51px;
		padding: 20px;
	}
	
	.gm-top-nav ul {
		width: 33.33%;
		position: relative;
		padding: 15px 10px;
	}
	
	.gm-top-nav .gm-nav-multistep-list {
		
	}
	
	.gm-top-nav .gm-nav-multistep-list.active {
		display: block;
	}
	
	.gm-nav-item-list ul {
		position: absolute;
		transition: left 500ms !important;
		-moz-transition: left 500ms !important;
		/* Firefox 4 */
		-webkit-transition: left 500ms !important;
		/* Safari 和 Chrome */
		-o-transition: left 500ms !important;
		/* Opera */
	}
	
	.gm-top-nav li {
		position: relative;
		margin: 0 15px;
		z-index: 3;
	}
	
	.gm-top-nav li a {
		padding: 10px 25px 10px 35px;
		display: inline-block;
		text-decoration: none;
	}
	
	.gm-top-nav i {
		color: #999;
		position: absolute;
		top: 12px;
	}
	
	.gm-top-nav a {
		color: #fff;
		padding: 0 15px;
	}
	
	.gm-top-nav i {
		color: #fff;
	}
	
	.gm-top-nav i.first {
		left: 14px;
	}
	
	.gm-top-nav i.second {
		right: 38px;
	}
	
	.gm-top-nav .gm-nav-item-list {
		display: block;
		position: relative !important;
		width: 33.33%;
	}
	
	.gm-top-nav-hover {
		cursor: pointer;
		height: 38px;
		top: 15px;
		border: 2px solid #fff;
		/*	border-radius: 5px;*/
		min-width: 200px;
		position: absolute;
		z-index: 1;
		transition: top 500ms !important;
		-moz-transition: top 500ms !important;
		/* Firefox 4 */
		-webkit-transition: top 500ms !important;
		/* Safari 和 Chrome */
		-o-transition: top 500ms !important;
		/* Opera */
	}
	
	.gm-top-nav li.hover i {
		font-size: 16px;
		transition: font-size 500ms !important;
		-moz-transition: font-size 500ms !important;
		/* Firefox 4 */
		-webkit-transition: font-size 500ms !important;
		/* Safari 和 Chrome */
		-o-transition: font-size 500ms !important;
		-o-transition: font-size 500ms !important;
		/* Opera */
	}
	
	.top-header .gm-top-nav {
		display: block;
		cursor: pointer;
	}
	
	.gm-top-nav li.current {
		background-color: #fff !important;
	}
	
	.gm-top-nav li.current a,
	.gm-top-nav li.current i {
		color: #45a3e1 !important;
		transition: background-color color font-size font-weight 600ms !important;
		-moz-transition: background-color color font-size font-weight 600ms !important;
		/* Firefox 4 */
		-webkit-transition: background-color color font-size font-weight 600ms !important;
		/* Safari 和 Chrome */
		-o-transition: background-color color font-size font-weight 600ms !important;
		/* Opera */
	}
	
	.gm-top-nav {
		display: none;
		padding: 0 15px;
		background-color: #666;
		position: fixed;
		z-index: 1;
		max-height: 600px;
		overflow: hidden;
		width: 100%;
		top: 600px;
		transition: top 600ms !important;
		-moz-transition: top 600ms !important;
		/* Firefox 4 */
		-webkit-transition: top 600ms !important;
		/* Safari 和 Chrome */
		-o-transition: top 600ms !important;
		/* Opera */
	}
	
	.top-header .gm-top-nav {
		z-index: 1;
	}
	
	.gm-content {
		position: relative;
		z-index: 2;
		opacity: 1;
		transition: margin-top margin-left 600ms !important;
		-moz-transition: margin-top margin-left 600ms !important;
		/* Firefox 4 */
		-webkit-transition: margin-top margin-left 600ms !important;
		/* Safari 和 Chrome */
		-o-transition: margin-top margin-left 600ms !important;
		/* Opera */
	}
	
	.top-header .gm-top-nav {
		top: 0px;
		overflow: auto;
		max-height: none;
		z-index: 10;
		padding: 20px 40px;
	}
	
	.top-header .gm-content {
		opacity: 0.5;
		margin-top: 300px;
	}
	
	.top-header .gm-nav-multistep-list {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.top-header>.glyphicon-remove {
		position: absolute;
		z-index: 10;
		font-size: 24px;
		right: 10px;
		top: 60px;
		cursor: pointer;
		color: #fff;
		z-index: 11;
	}
	
	.gm-content>.page-content {
		width: 100%;
		/*position: absolute;*/
		top: 0;
	}
	
	.body-content{
		color: #000;
		padding:15px;
	}
	
	#tabs .nav-tabs {
		height: 40px;
		border-bottom: none;
	}
	
	#tabs .nav-tabs>li {
		height: 100%;
		padding: 0;
		margin: 0;
		cursor: pointer;
	}
	
	#tabs .nav-tabs>li.active>a {
		opacity: 1 !important;
	}
	
	
	#tabs .nav-tabs>li a {
		display: inline-block;
		border-radius: 0px;
		margin: 0;
		border: none;
		color: #808080;
		height: 100%;
		padding-left: 30px;
		padding-right: 30px;
		height:40px;
		text-align:center;
	}
	
	#tabs .nav-tabs>li a:hover{
		background-color:#fff;
	}
	
	#tabs .nav-tabs>li a::after {
		border-radius: 10px 10px 0 0;
	}
	
	.testblock {
		height: 300px;
		background-color: #eee;
		border: 1px solid #3e9ee1;
		margin: 10px 0;
	}
	
	.testIframe {
		background-color: #eee;
		color: #51a8e4;
		font-size: 30px;
		position: relative;
		width: 100%;
		border: 1px solid #eee;
	}
	
	.testIframe img {
		width: 100%;
	}
	
	.tabs-below {
		position: relative;
		padding-right: 40px;
	}
	
	#home-page {
		position: absolute;
		left: 0;
		height: 40px;
		line-height: 40px;
		padding: 0 40px;
		background-color: #fff;
		cursor: pointer;
		border: 1px solid #fff;
	}
	
	#home-page.active {
		background-color: #3ba3ff;
	}
	
	#home-page.active a {
		color: #fff;
	}
	
	#home-page a {
		color: #428bca;
		text-decoration: none;
	}
	
	#home-page:hover {
		background-color: #eee;
	}
	
	.tab-content {
		min-height: 150px;
		background-color: #fff;
	}
	
	#tabs .nav-tabs>li a>.glyphicon-remove {
		position: absolute;
	    right: 2px;
	    top: 4px;
	    font-size: 12px;
	}
	
	.gm-search-block {
		position: fixed;
		height: 50px;
		width: 100%;
		top: -55px;
		transition: top 500ms;
		-moz-transition: top 500ms;
		/* Firefox 4 */
		-webkit-transition: top 500ms;
		/* Safari 和 Chrome */
		-o-transition: top 500ms;
		/* Opera */
		z-index: 10;
	}
	
	.gm-search-block .content {
		position: relative;
	}
	
	.gm-search-block input[type="text"] {
		border: 1px solid #fff;
		border-radius: 0px;
		height: 50px;
		line-height: 50px;
		padding-right: 50px;
		width: 100%;
		text-indent: 15px;
		color: #666;
		font-size: 18px;
		text-indent: 15px;
	}
	
	.gm-search-block i {
		position: absolute;
		right: 26px;
		color: #333;
		top: 10px;
		font-size: 30px;
		cursor: pointer;
	}
	
	.top-search .gm-nav.top-nav {
		top: 55px;
	}
	
	.top-search .gm-search-block {
		top: 0px;
	}
	
		
	.left-nav .gm-lately-use-block{
		display:none;
	}
	
	.gm-lately-use-block {
		background-color: #444444;
		position: fixed;
		right: -160px;
		top: 0;
		width: 160px;
		height: 100%;
		z-index: 10;
		transition: right 500ms;
		-moz-transition: right 500ms;
		/* Firefox 4 */
		-webkit-transition: right 500ms;
		/* Safari 和 Chrome */
		-o-transition: right 500ms;
		/* Opera */
		display:block;
		z-index:22;
	}
	
	.gm-lately-use-block .title {
		text-align: center;
		color: #fff;
		font-size: 16px;
		height: 50px;
		line-height: 51px;
		padding: 0 20px;
		position: relative;
	}
	
	.gm-lately-use-block .title>i {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
	
	.gm-lately-use-block .content li {
		height: 120px;
		position: relative;
		margin: 10px;
	}
	
	.gm-lately-use-block .content li a {
		color: #fff;
	    text-decoration: none;
	    text-align: center;
	    display: block;
	    max-width: 160px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    padding: 0 10px;
	    text-align: center;
	}
	
	.gm-lately-use-block .content li a img{
	    display: block;
	    margin: auto;
	    padding-top: 30px;
	    padding-bottom: 10px;
	}
	
	.gm-lately-use-block .content li.gm-half {
		width: 50%;
	}
	
		
	.top-lately .gm-nav.top-nav {
		left: 0 !important;
		right: 160px;
		width: auto;
	}
	
		
	
	@media only screen and (min-width: 992px) and (max-width: 1440px) {
		.gm-lately-use-block .content li {
			height: 90px;
		}
		
		.gm-lately-use-block .content li a {
		    max-width: 120px;
		    font-size: 12px;
		}
		
		.gm-lately-use-block .content li a img{
		    padding-top: 20px;
		    padding-bottom: 10px;
		}
		
		.gm-lately-use-block{
			width:120px;
		}
		.top-lately .gm-nav.top-nav{
			right:120px;
		}
	}
	
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		.gm-lately-use-block .content li {
			height: 70px;
		}
		
		.gm-lately-use-block .content li a {
		    max-width: 100px;
		    font-size: 12px;
		}
		
		.gm-lately-use-block .content li a img{
		    padding-top: 10px;
		    padding-bottom: 10px;
		}
		
		.gm-lately-use-block{
			width:100px;
		}
		.top-lately .gm-nav.top-nav{
			right:100px;
		}
	}
	
	@media only screen and (max-width: 767px) {
		.gm-lately-use-block .content li {
			height: 50px;
			margin:0px;
		}
		
		.gm-lately-use-block .content li a {
		    max-width: 100%;
		    line-height: 50px;
		    font-size: 12px;
		    text-align: left;
		}
		
		.gm-lately-use-block{
			width:50px;
		}
		.top-lately .gm-nav.top-nav{
			right:50px;
		}
		.gm-lately-use-block .content li a img {
		    padding-top: 10px;
		    padding-bottom: 10px;
		    display: inline-block;
		    margin-right: 20px;
    		margin-left: 10px;
		}
		
	}
	
	@media only screen and (max-width: 767px) {
		body {
			overflow-x: hidden !important;
		}
		.top-lately .gm-nav.top-nav,
		.top-lately .gm-content {
			right: 0 !important;
		}
		.gm-nav.top-nav>div {
			float: none;
		}
		.gm-nav.top-nav>div.fr {
			padding-left: 8px;
		}
		.gm-content {
			margin-left: 0px !important;
    		margin-top: 0px;
		}
		.gm-search-block i {
			font-size: 16px;
			right: 11px;
			top: 18px;
		}
		.gm-lately-use-block {
			width: 100%;
			right: -100%;
		}
		.gm-nav.top-nav {
			height: auto;
		}
		#tab-general {
			display: none !important;
		}
		.menu-navbar{
			background-color: #51a8e4 !important;
			border: none;
		}
		.gm-global-bg .navbar-default {
			background-color: #51a8e4;
			border: none;
			z-index: 9;
			margin-top: 50px;
		}
		.gm-global-bg .navbar-header .navbar-toggle {
			background-color: #fff;
		}
		.gm-global-bg .navbar-default .navbar-brand {
			color: #fff;
		}
		.gm-global-bg .navbar-default .navbar-toggle .icon-bar {
			color: #888;
		}
		.gm-phone-nav>ul ul {
			display: none;
		}
		.gm-phone-nav {
			background-color: #3e9ee1;
			box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
			transition: margin-top 500ms;
			-moz-transition: margin-top 500ms;
			/* Firefox 4 */
			-webkit-transition: margin-top 500ms;
			/* Safari 和 Chrome */
			-o-transition: margin-top 500ms;
			/* Opera */
			display: none;
		}
		.top-nav .gm-phone-nav {
			display: block;
		}
		.gm-phone-nav li {
			margin-bottom: 1px solid #fff;
		}
		.gm-phone-nav a {
			color: #fff;
			text-decoration: none;
			display: block;
			height: 50px;
			line-height: 50px;
			padding: 0 30px 0 15px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.gm-phone-nav a:hover {
			background-color: #6ab8ef;
		}
		
		
		.gm-nav.top-nav .popover.bottom{
			margin-bottom:0px;
		}
		
		.gm-phone-nav li {
			position: relative;
		}
		.gm-phone-nav li i {
			position: absolute;
			font-size: 12px;
			color: #086bb1;
			right: 10px;
			top: 18px;
		}
		.gm-phone-nav ul,
		.gm-phone-nav li {
			padding: 0;
		}
		.gm-phone-nav ul.active {
			display: block !important;
		}
		.gm-phone-nav-hide>li {
			display: none;
		}
		.gm-phone-nav-hide>li.active {
			display: block;
		}
		.gm-phone-nav-hide>li.active>ul>.gm-phone-nav-back {
			background-color: #1983ce;
		}
		.gm-phone-nav-hide>li.active>a {
			display: none;
		}
		.gm-phone-nav-hide>li.active>a>i:before {
			content: "\e079";
		}
		.gm-nav.top-nav{
			position: static;
		}
	}
	
	.gm-red {
		background-color: #E54747;
	}
	
	.gm-light-blue {
		background-color: #2FC2EF;
	}
	
	.gm-blue {
		background-color: #5C84DB;
	}
	
	.gm-green {
		background-color: #85E500;
	}
	
	.gm-pink {
		background-color: #EA4C89;
	}
	
	.gm-orange {
		background-color: #E28F00;
	}
	
	.top-lately .gm-lately-use-block {
		right: 0;
	}
	
	#tabs .nav-tabs>li>.dropdown-menu li {
		position: relative;
	}
	
	#tabs .nav-tabs>li>.dropdown-menu a {
		display: block;
		width:100%;
	}
	
	.gm-phone-nav ul,
	.gm-phone-nav li {
		padding: 0;
	}
	
	.gm-nav-item-list {
		background-color: #73bff1;
	}
	
	.gm-nav-item-list>.gm-nav-multistep-list {
		background-color: #45a3e1;
		transition: left 500ms;
		-moz-transition: left 500ms;
		/* Firefox 4 */
		-webkit-transition: left 500ms;
		/* Safari 和 Chrome */
		-o-transition: left 500ms;
		/* Opera */
	}
	
	.gm-nav-item-list>.gm-nav-multistep-list>.gm-nav-multistep-list {
		background-color: #2a94da;
	}
	
	.gm-top-nav-content {
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
	}
	/*左侧导航*/
	
	.gm-left-nav {
		position: fixed;
		left: 0;
		top: 51px;
		width: 50px;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
		height: 100%;
		padding-top: 30px;
	}
	
	.left-nav .gm-left-nav{
		width:250px;
	}
	
	.gm-left-nav.open{
		box-shadow:none;
	}
	
	#tab_home{
		padding-bottom:0px;
	}
	
	.gm-left-nav .gm-left-nav,
	.gm-left-nav .gm-lately-use-block {
		width: 250px;
		height: 100%;
		position: fixed;
		left: -250px;
		transition: left 500ms;
		-moz-transition: left 500ms;
		/* Firefox 4 */
		-webkit-transition: left 500ms;
		/* Safari 和 Chrome */
		-o-transition: left 500ms;
		/* Opera */
		top: 51px;
	}
	
	.gm-left-nav .gm-left-nav {
		background-color: #35414f;
	}
	
	.gm-left-nav-title {
		padding: 0;
		height: 100%;
		position: relative;
	}
	
	.gm-left-nav-ul>li>ul>li>a {
		height: 35px;
		line-height: 35px;
		font-size: 12px;
		font-weight: 600 !important;
	}
	
	.gm-left-nav-ul>li>ul>li>ul>li>a {
		font-size: 12px;
		height: 35px;
		line-height: 35px;
		padding-left: 68px !important;
	}
	
	.gm-left-nav-title>li {
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
	}
	
	.gm-left-nav-ul>li.active>ul>li.active>a{
		padding-left: 54px;
	}
	
	.gm-left-nav-ul>li.active>ul>li>a{
		padding-left: 54px;
	}
	
	.gm-left-nav.open {
		z-index: 21;
		padding-bottom: 80px;
	}
	
	.gm-left-nav.open .gm-left-nav,
	.gm-left-nav.open .gm-lately-use-block {
		left: 50px;
		z-index: 6;
		top: 52px;
		height: 100%;
		padding: 0;
		padding-bottom: 52px;
	}
	
	body.left-nav{
		overflow-x: hidden;
	}
	
	.left-nav .gm-content {
		margin-left: 250px;
		margin-right: -250px;
	}
	
	.gm-left-nav ul,
	.gm-left-nav li {
		padding: 0;
	}
	
	.gm-left-nav a {
		text-decoration: none;
		height: 45px;
		display: block;
		line-height: 45px;
		color: #fff;
		position: relative;
		padding: 0 15px 0 10px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		transition: background-color 500ms;
		-moz-transition: background-color 500ms;
		/* Firefox 4 */
		-webkit-transition: background-color 500ms;
		/* Safari 和 Chrome */
		-o-transition: background-color 500ms;
		/* Opera */
		padding-left: 50px;
	}
	
	
	.left-nav .gm-left-nav a{
		padding-left:45px;
	}
	
	.gm-left-nav i {
		position: absolute;
		font-size: 12px;
		top: 15px;
		left: 18px;
	}
	
	.left-nav .gm-left-nav i {
		left: 15px;
	}
	
	
	.gm-left-nav a i.glyphicon-chevron-right,
	.gm-left-nav a i.glyphicon-chevron-left{
		right:10px;
		left: inherit;
		display:none;
	}
	
	.left-nav .gm-left-nav a i.glyphicon-chevron-right,
	.left-nav .gm-left-nav a i.glyphicon-chevron-left{
		display:block;
	}
	
	.mCSB_container li>ul {
		display: none;
	}
	
	.mCSB_container  li>ul>li>a {
		padding-left: 25px;
		font-weight: 400;
	}
	
	.mCSB_container li>ul ul {
		background-color: #d0d0d0;
	}
	
	.gm-left-nav li.active>a {
		font-weight: 600;
	}
	
	.gm-left-nav li.active>a>i.glyphicon-chevron-right:before {
		content: "\e114";
	}
	
	.gm-left-nav li.active>ul {
		display: block !important;
	}
	
	.gm-character-panel {
		width: 200px;
	}
	
	.gm-character-panel .item a {
		display: block;
		height: 40px;
		line-height: 40px;
		color: #666;
		padding: 0 10px;
	}
	
	.gm-character-panel .item a:hover {
		color: #fff;
		background-color: #3E9EE1 !important;
	}
	
	.gm-skin-change-panel{
		width:150px;
	}
	
	.gm-skin-change-panel .item{
		height: 30px;
    	line-height: 30px;
	}
	
	.gm-skin-change-panel .item a{
		padding-left: 10px;
    	padding-right: 10px;
		color:#666;
		display:block;
	}
	
	.gm-skin-change-panel .item a:hover {
    	color: #fff;
    	background-color: #3E9EE1 !important;
	}
	/*版本信息 */
	.gm-version-panel{
        width:500px;
	}
	/* 行间距 */
	.gm-version-panel .item{
    	line-height: 30px;
	}
	/* 段落设置*/
	.gm-version-panel .item p{
		padding-left: 10px;
    	padding-right: 10px;
		color:#666;
		display:block;
	}
	/* 选中时段落设置 */
	.gm-version-panel .item p:hover {
    	color: #fff;
    	background-color: #3E9EE1 !important;
	}
	
	.nav-content.active,
	.latest-content.active {
		display: block;
	}
	
	.latest-content .gm-lately-use-block .content li a {
		width: 100%;
	}
	
	.gm-home-page>img {
		width: 100%;
	}
	
	.embed-responsive iframe {}
	
	.top-nav-close {
		position: absolute;
	}
	
	.gm-nav.top-nav .navbar-right .popover-title {
		color: #2296e6 !important;
	}
	.popover-header{
	    color: #2296e6 !important;
	    margin:0;
	}
	.popover-body{
	    padding:0px;
	}
	#tabs .nav-tabs>li#tabs_dropdown:hover {
		background-color: #51a8e4;
	}
	
	#tabs .nav-tabs>li#tabs_dropdown:hover>a {
		color: #fff;
		background-color: #51a8e4;
	}
	
	#tab_tab_home img {
		width: 26px;
		padding-top: 5px;
	}
	
	#tab_tab_home a {
		padding: 0 10px !important;
		border: none !important;
	}
	
/* 	#tabs .nav>li>a:hover,
	#tabs .nav>li>a:focus {
		background-color: #dcdbdb;
	} */
	
	#tab_tab_home {
		cursor: pointer;
	}
	
	.change-page-size {
		background-color: rgba(81, 168, 228, 0.9);
		padding: 10px 12px;
		cursor: pointer;
		width: 38px;
		height: 40px;
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.full-page .gm-content {
		margin-top: 40px;
		margin-left: 0px;
		padding: 0px;
	}
	
	.full-page .gm-nav.top-nav,
	.full-page #tabs {
		display: none;
	}
	
	.full-page .shrink-title {
		background-color: #51a8e4;
	    height: 30px;
	    text-align: left;
	    display: inline-block;
	    width: 100%;
	    padding-right: 20px;
	    line-height: 31px;
	    font-size: 16px;
	    cursor: pointer;
	    position: fixed;
	    top: 0;
	    z-index: 20;
	    padding: 0 20px;
	}
	
	/* 皮肤 */
	.basic-skin .change-page-size{
		background-color: #9c9d9e;
	}
	
	.basic-skin .full-page .shrink-title {
		background-color: #9c9d9e;
	}

	
	.full-page .shrink-title i{
		position: absolute;
	    right: 10px;
	    top: -2px;
	    padding: 10px;
	}
	
	#tab-general .tab-pane {
		overflow-y: hidden;
		height:auto;
	}
	
	.container-iframe .container{
		width:100%;
	}
	
	.tabdrop li>a:hover{
		background-color: #51a8e4 !important;
    	color: #fff !important;
	}
	
	#tab_tab_home>a{
		line-height: 40px;
    	padding: 0 20px !important;
	}
	
	#tabs .nav-tabs>li.active{
		border-bottom: 40px solid #3ba3ff !important;
	}
	
	#tabs .nav-tabs>li.active:hover{
		border-bottom: 40px solid #dcdbdb;
	}
	
	#tabs .button--ujarak::before{
		background: #e6e6e6;
	}
	
	#tabs .tabdrop{
	    height: 100% !important;
	    border-right: 0px !important;
	    border-left: 0px !important;
	    border-bottom: 0px !important;
	}
	
	.rightMenu {
	    position: absolute;
	    width: 150px;
	    z-index: 99;
	    display: none;
	}
	
	.total-nav-title.active{
		/* background-color: #3BA2FF; */
	}
	
	.total-nav-title i{
		font-size:18px;
		left: 15px;
    	top: 11px;
	}
	
	.left-nav .total-nav-title i{
		left: 12px;
	}
	
	.close-tab-content{
		position: absolute;
	    right: 0px;
	    width: 0px;
	    height: 0px;
	    top: 0px;
	    border-left: 25px solid transparent;
	    cursor: pointer;
	    display:none;
	}
	
	.close-tab-content .close-tab{
		margin-left: -14px;
	    margin-top: -23px;
	    display: block;
	}
	
	#tabs .nav-tabs>li:hover .close-tab-content,
	#tabs .nav-tabs>li:hover .close-tab{
		display:block !important;
	}
	
	.full-page .gm-left-nav{
		display:none;
	}

	.color-block {
		display:inline-block;
	}
	
	.menu-first-font{
	    border-radius: 5px;
	    width: 25px;
	    height: 25px;
	    top: 10px;
	    left: 10px !important;
        position: absolute;
        line-height: 25px;
    	text-align: center;
	}
	
	@media only screen and (min-width: 768px) and (max-width: 1440px) {
		/*针对小屏幕电脑下左侧导航的特殊处理*/
		.left-nav .gm-left-nav{
			width:200px;
		}
		.left-nav .gm-content{
			margin-left:200px;
			margin-right:-200px;
		}
		.left-nav .gm-left-nav a i.glyphicon-chevron-right, 
		.left-nav .gm-left-nav a i.glyphicon-chevron-left{
			font-size:10px;
		}
		/* tab标题 */
		/* #tabs .nav-tabs{
			height:30px;
		}
		
		#tabs .nav-tabs>li a{
			height: 30px;
		    padding: 7px 10px;
		    font-size: 12px;
		}
		#tabs .nav-tabs>li.active:hover {
		    border-bottom: 30px solid #dcdbdb;
		}
		#tabs .nav-tabs>li.active {
		    border-bottom: 30px solid #3ba3ff !important;
		}
		.close-tab-content .close-tab{
			margin-top: -24px;
		} */
	}
	
	@media only screen and (max-width: 700px) {
		.left-nav .gm-content{
			margin-left:0px;
			margin-right:0px;
		}
	}
	
	.color-block{
		display: inline-block;
	    width: 10px;
	    height: 10px;
	    background-color: #fcc;
	    margin-right: 10px;
	}
	
	.color-block.first{
		background-color: #35414f;
	}
	
	.color-block.second{
		background-color: #2983a3;
	}
	
	.color-block.third{
		background-color: #3573b0;
	}
	
	.color-block.fourth{
		background-color: #3b6571;
	}
	.color-block.fifth{
		background-color: #7db7c8;
	}
	.color-block.sixth{
		background-color: #f3e8c9;
	}
	.color-block.seventh{
		background-color: #57902f;
	}
	
	/* 皮肤 */
	/* 基础皮肤 */
	.basic-skin .gm-nav.top-nav{
		background-color: #35414F;
		border-bottom: 1px solid #414E5C;
	}
	
	.basic-skin .gm-left-nav{
		background-color: #35414F;
	}

	.basic-skin .menu-navbar{
		background-color: #35414F;
	}
	
	.basic-skin .gm-left-nav a{
		color: #fff;
	}

	.basic-skin .menu-navbar>ul.active>li{
		background-color: #4B5763;
	}
	
	.basic-skin .gm-left-nav-ul>li.active>ul>li.active>ul{
		background-color: #4B5763;
	}
	
	.basic-skin .gm-left-nav-ul>li.active:hover>a{
		color:#3BA2FF;
		background-color: #35414F;
	}

	.basic-skin .menu-navbar>ul.active>li>a{
    		color:#3BA2FF;
		background-color: #35414F;
	}
	
	.basic-skin .gm-left-nav-ul a:hover {
		color: #3ba2ff !important;
	}

	.basic-skin .menu-navbar ul a:hover {
		color: #3ba2ff !important;
	}
	
	.basic-skin .mCSB_container li>ul {
		background-color: #4B5763;
	}
	
	.basic-skin #tabs .nav-tabs>li a{
    	color: #808080;
	}
	
	.basic-skin #tabs .nav-tabs>li.active>a {
		background-color: #fff;
		color: #F5A816;
		border-bottom:2px solid #F5A816;
	}
	
	.basic-skin .close-tab-content{
		border-top: 25px solid #f5a816;
	}
	
	.basic-skin .gm-left-nav-ul>li.active>ul>li.active:hover>a{
		color: #3ba2ff;
	}

	.basic-skin .menu-navbar>ui.active>li.active:hover>a{
		color: #3ba2ff;
	}
	
	.basic-skin .gm-left-nav-ul>li.active>ul>li.active>a{
		border-left: 2px solid #fff;
    	background-color: #222933;
	}
	
	.basic-skin #tabs .nav-tabs>li>.dropdown-menu li.active a{
		color:#fff;
	}
	
	.basic-skin  .menu-first-font{
    	border: 1px solid #fff;
    	color: #fff;
    }
	
	.basic-skin  .gm-lately-use-block{
    	background-color: #607288 !important;
    }
    
    .basic-skin .gm-lately-use-block .title{
    	background-color: #35414f;
    }
    
    .basic-skin .gm-left-nav a.current-root-mark{
		background-color: #646d75 !important;
	}
	
	.basic-skin .gm-left-nav a.current-mark{
		color: #9da8b5;
	}
	
	.basic-skin  .mCSB_dragger_bar{
		background-color: #35414f;
	}
    
	
	/* 木纹皮肤 */
	.wood-grain-skin .gm-nav.top-nav{
		background:url('../images/frame/skin/wood-grain.gif') repeat;
		border-bottom: 1px solid #e2c67f;
	}
	
	.wood-grain-skin .gm-left-nav{
		background:url('../images/frame/skin/wood-grain-left.jpg');
	}

	.wood-grain-skin .menu-navbar{
		background:url('../images/frame/skin/wood-grain.gif');
	}
	
	.wood-grain-skin .gm-left-nav a{
		color: #4B4632;
	}

	.wood-grain-skin .menu-navbar>ul.active>li{
		background-color: #d4eaff;
	}
	
	.wood-grain-skin .gm-left-nav-ul>li.active>ul>li.active>ul{
		background-color: #e8d5a4;
	}
	
	.wood-grain-skin .gm-left-nav-ul>li.active>ul>li.active>a{
    		background-color: #efb113;
	}

	.wood-grain-skin .menu-navbar>ul.active>li>a{
		background-color: #efb113;
	}
	
	
	.wood-grain-skin .gm-left-nav-ul>li.active:hover>a{
		background-color: #d6cbaf;
	}
	
	.wood-grain-skin .gm-left-nav-ul a:hover {
		background-color: #d6cbaf;
		font-weight: 600;
	}

	.wood-grain-skin .menu-navbar ul a:hover {
		color: #d6cbaf;
	}
	
	.wood-grain-skin .gm-left-nav-ul>li.active>ul>li.active:hover>a{
		color: #fff;
	}

	.wood-grain-skin .menu-navbar>ui.active>li.active:hover>a{
		color: #fff;
	}
	
	.wood-grain-skin .mCSB_container li>ul {
		background-color: #e2c67f;
	}
	
	.wood-grain-skin #tabs .nav-tabs>li a{
    	color: #808080;
	}
	
	.wood-grain-skin #tabs .nav-tabs>li.active>a {
		background-color: #fff;
		color: #F5A816;
		border-bottom:2px solid #F5A816;
	}
	
	.wood-grain-skin .close-tab-content{
		border-top: 25px solid #f5a816;
	}
	
	
	.wood-grain-skin .gm-nav.top-nav .navbar-right{
		color:#4b4632;
	}
	
	.wood-grain-skin .gm-nav.top-nav li>a{
		color:#4b4632;
	}
	
	.wood-grain-skin .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.wood-grain-skin  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		color:#58471b;
		background-color: #fff;
	}
	
	.wood-grain-skin .change-page-size{
		background-color: #efb113;
	}
	.wood-grain-skin  .shrink-title{
		background-color: #efb113;
	}
	
	.wood-grain-skin  #tabs .nav-tabs>li#tabs_dropdown:hover>a{
		background-color: #c59f3c;
	}
	
	.wood-grain-skin  .tabdrop li>a:hover {
    	background-color: #dcba63 !important;
    }
    
    .wood-grain-skin .menu-first-font{
    	border: 1px solid #f8ae01;
	    background-color: #f1bb30;
	    color: #fff;
    }
    
    .wood-grain-skin  .gm-lately-use-block{
    	background-color: #f2e5c6 !important;
    }
    
    .wood-grain-skin .gm-lately-use-block .title{
    	color: #4b4632;
    	background: url('../images/frame/skin/wood-grain.gif') repeat;
    }
    
    .wood-grain-skin .gm-left-nav a.current-root-mark{
		background-color: #ffffff !important;
	}
	
	.wood-grain-skin .gm-left-nav a.current-mark{
		color: #fff;
	}
    
    .wood-grain-skin  .mCSB_dragger_bar{
		background-color: #f5a816;
	}
    
	
	@media only screen and (max-width: 767px) {
		.wood-grain-skin .gm-phone-nav{
			background-color: #f3e8cc;
		}
		.wood-grain-skin .gm-phone-nav a:hover {
		    background-color: #ead08d;
		}
		.wood-grain-skin .gm-phone-nav li i{
		    color: #ffffff;
		}
		.wood-grain-skin .gm-phone-nav-hide>li.active>ul>.gm-phone-nav-back{
			background-color: #bd9f52;
		}
		.wood-grain-skin .gm-phone-nav a{
			color: #4b4632;
		}
	}
	
	/* 淡蓝皮肤 */
	.light-blue-skin .gm-nav.top-nav{
		background-color: #7DB7C8;
		border-bottom: 1px solid #bff0fb;
	}
	
	.light-blue-skin .gm-left-nav{
		background-color: #7DB7C8;
    	border-right: 1px solid #72bdc1;
	}
	
	.light-blue-skin .gm-left-nav a{
		color: #f6fbfe;
	}
	
	.light-blue-skin .gm-left-nav-ul>li.active>ul>li.active>ul{
		background-color: #82bb95;
	}
	
	.light-blue-skin .gm-left-nav-ul>li.active>ul>li.active>a{
    	background-color: #84a58e;
    	border-left: 2px solid #fff;
    	color: #fff;
	}
	
	
	.light-blue-skin .gm-left-nav-ul>li.active:hover>a{
		background-color: #95c5a3;
		color:#fff;
	}
	
	.light-blue-skin .gm-left-nav-ul a:hover {
		font-weight: 600;
	}
	
	.light-blue-skin .gm-left-nav-ul>li.active>ul>li.active:hover>a{
		color: #fff;
	}
	
	.light-blue-skin .mCSB_container li>ul {
		background-color: #BDD5C5;
	}
	
	.light-blue-skin #tabs .nav-tabs>li a{
    	color: #808080;
    	font-weight: 400;
	}
	
	.light-blue-skin #tabs .nav-tabs>li.active>a {
		background-color: #fff;
		color: #678e74;
    	border-bottom: 2px solid #7db7c8;
	}
	
	.light-blue-skin .close-tab-content{
		border-top: 25px solid #4cc0e2;
	}
	
	
	.light-blue-skin .gm-nav.top-nav .navbar-right{
		color:#fff;
	}
	
	.light-blue-skin .gm-nav.top-nav li>a{
		color:#fff;
	}
	
	.light-blue-skin .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.light-blue-skin  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background: #2e9dbd;
	}
	
	.light-blue-skin .tabs-below{
		background-color: #eef7f7;
	}
	
	.light-blue-skin #tabs .nav-tabs{
		background-color: #eef7f7;
	}
	
	.light-blue-skin .change-page-size,
	.light-blue-skin   .shrink-title{
		background-color: #7db7c8;
	}
	
	.light-blue-skin #tabs .nav-tabs>li#tabs_dropdown:hover>a{
		background-color: #7db7c8;
	}
	
	.light-blue-skin .tabdrop li>a:hover {
    	background-color: #7db7c8 !important;
    }
    
    .light-blue-skin  .menu-first-font{
    	border: 1px solid #fff;
    	color: #fff;
    }
    
    .light-blue-skin  .gm-lately-use-block{
    	background-color: #afd7e2 !important;
    }
    
    .light-blue-skin .gm-lately-use-block .title{
    	background-color: #7db7c8 !important;
    }
	
	.light-blue-skin .gm-left-nav a.current-root-mark{
		background-color: #4b7d8c !important;
	}
	
	.light-blue-skin .gm-left-nav a.current-mark{
		color: #315c69;
	}
	
	.light-blue-skin .mCSB_dragger_bar{
		background-color: #428da2 !important;
	}
	
	@media only screen and (max-width: 767px) {
		.light-blue-skin .gm-phone-nav{
			background-color: #7db7c8;
		}
		.light-blue-skin .gm-phone-nav a:hover {
		    background-color: #6f98a5;
		}
		.light-blue-skin .gm-phone-nav li i{
		    color: #ffffff;
		}
		.light-blue-skin .gm-phone-nav-hide>li.active>ul>.gm-phone-nav-back{
			background-color: #5a818c;
		}
	}
	
	/* 绿色背景皮肤*/
	.green-skin .gm-nav.top-nav{
		background:url('../images/frame/skin/bg_green.jpg') repeat;
		border-bottom: 1px solid #467920;
	}
	
	.green-skin .gm-left-nav{
		background:url('../images/frame/skin/bg_green.jpg') repeat;
    	border-right:1px solid #5c9e70;
	}

	.green-skin .menu-navbar{
		background:url('../images/frame/skin/bg_green.jpg') repeat;
		border:0px;
	}
	
	.green-skin  .gm-left-nav a{
		color: #fff;
	}

	.green-skin .menu-navbar>ul.active>li{
		background-color: #dbead4;
	}
	
	.green-skin .gm-left-nav-ul>li.active>ul>li.active>ul{
		background-color: #dbead4;
	}
	
	.green-skin .gm-left-nav-ul>li.active>ul>li.active>a{
    	background-color: #337346;
	    border-left: 2px solid #fff;
	    color: #fff;
	    border-left: none;
	}

	.green-skin .menu-navbar>ul.active>li>a{
    	background-color: #337346;
	    border-left: 2px solid #fff;
	    color: #fff;
	    border-left: none;
	}
	
	
/* 	.green-skin .gm-left-nav-ul>li.active:hover>a{
		background-color: #ffffff;
    	color: #337346;
	} */
	
	/* .green-skin .gm-left-nav-ul>li.active:hover>a .menu-first-font{
		color: #337346;
		border-color:#337346;
	} */
	
	.green-skin .gm-left-nav-ul a:hover {
		font-weight: 600;
	}

	.green-skin .menu-navbar ul a:hover {
		font-weight: 600;
	}
	
	.green-skin .gm-left-nav-ul>li.active>ul>li.active:hover>a{
		color: #fff;
	}

	.green-skin .menu-navbar>ui.active>li.active:hover>a{
		color: #fff;
	}
	
	.green-skin .mCSB_container li>ul {
		background-color:#337346;
	}
	
	.green-skin .mCSB_container li>ul>li>a{
		color:#fff;
	}
	
	.green-skin .mCSB_container li>ul>li>ul>li>a{
		color:#609a33;
	}
		
	.green-skin #tabs .nav-tabs>li a{
    	color: #808080;
    	font-weight: 400;
	}
	
	.green-skin #tabs .nav-tabs>li.active>a {
		background-color: #fff;
		color: #337346;
    	border-bottom: 2px solid #3b7618;
	}
	
	.green-skin .close-tab-content{
		border-top: 25px solid #5fa276;
	}
	
	
	.green-skin .gm-nav.top-nav .navbar-right{
		color:#ffffff;
	}
	
	.green-skin .gm-nav.top-nav li>a{
		color:#ffffff;
	}
	
	.green-skin .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.green-skin  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background: #fff;
	}
	
	.green-skin #tabs .nav-tabs{
		background-color: #f1ffe8;
	}
	
	.green-skin .change-page-size,
	.green-skin   .shrink-title {
    	background-color: #337346;
    }
    
    .green-skin #tabs{
    	background-color: #f1ffe8;
    }
    
   .green-skin  #tabs .nav-tabs>li#tabs_dropdown:hover>a{
    	background-color: #6fa849;
    }
    
    .green-skin .tabdrop li>a:hover {
    	background-color: #548c31 !important;
    }
    
    .green-skin  .menu-first-font{
    	border: 1px solid #fff;
    	color: #fff;
    }
    
    .green-skin  .gm-lately-use-block{
    	background-color: #79b748 !important;
    }
    
    .green-skin .gm-lately-use-block .title{
    	background: url('../images/frame/skin/bg_green.jpg') repeat;
    }
    
    
    .green-skin .gm-left-nav a.current-root-mark{
		background-color: #4f7531 !important;
	}
	
	.green-skin .gm-left-nav a.current-mark{
		color: #0c0e0a;
	}
	
		
	.green-skin .left-nav-root.active:hover .current-root-mark{
		color:#fff !important;
	}
	
	.green-skin .left-nav-root.active:hover .current-root-mark .menu-first-font{
		border: 1px solid #fff;
    	color: #fff;
	}
	
	.green-skin .mCSB_dragger_bar{
		background-color: #639c3d;
	}
    
    @media only screen and (max-width: 767px) {
		.green-skin .gm-phone-nav{
			background-color: #599233;
		}
		.green-skin .gm-phone-nav a:hover {
		    background-color: #8dd65c;
		}
		.green-skin .gm-phone-nav li i{
		    color: #ffffff;
		}
		.green-skin .gm-phone-nav-hide>li.active>ul>.gm-phone-nav-back{
			background-color: #376f12;
		}
	}
    
	
	/* 蓝色二背景皮肤*/
	.blue-second-skin .gm-nav.top-nav{
		background-color:#2381E9;
		border-bottom: 1px solid #97bfce;
	}
	
	.blue-second-skin .gm-left-nav{
		background-color:#2381E9;
    		border-right:1px solid #5c9e70;
	}
	
	.blue-second-skin .menu-navbar{
		background-color:#2381E9;
		border:0px;
	}
	
	.blue-second-skin .gm-left-nav a{
		color: #fff;
	}
	
	.blue-second-skin .gm-left-nav-ul>li.active>ul>li.active>ul{
		background-color: #d4eaff;
	}
	
	.blue-second-skin .menu-navbar>ul.active>li{
		background-color: #d4eaff;
	}
	
	.blue-second-skin .gm-left-nav-ul>li.active>ul>li.active>a{
    	background-color: #b9b9b9;
	    border-left: none;
	    color: #666;
	}
	
	.blue-second-skin .menu-navbar>ul.active>li>a{
    	background-color: #b9b9b9;
	    border-left: none;
	    color: #666;
	}
	
	.blue-second-skin .gm-left-nav-ul ul a:hover {
		color: #2381e9;
	}
	
	.blue-second-skin .menu-navbar ul a:hover {
		color: #2381e9;
	}
	
	.blue-second-skin .gm-left-nav-ul>li.active>ul>li.active:hover>a{
		color: #fff;
	}
	
	.blue-second-skin .menu-navbar>ui.active>li.active:hover>a{
		color: #fff;
	}
	
	.blue-second-skin .mCSB_container li>ul {
		background-color:#d4e8ff;
	}
	
	.blue-second-skin .mCSB_container li>ul>li>a{
		color:#777;
	}
	
	.blue-second-skin .mCSB_container li>ul>li>ul>li>a{
		color: #777;
	}
		
	.blue-second-skin #tabs .nav-tabs>li a{
    	color: #808080;
    	font-weight: 400;
	}
	
	.blue-second-skin #tabs .nav-tabs>li.active>a {
		background-color: #fff;
		color: #2381e9;
    	border-bottom: 2px solid #2381e9;
	}
	
	.blue-second-skin .close-tab-content{
		border-top: 25px solid rgb(53, 115, 176);
	}
	
	
	.blue-second-skin .gm-nav.top-nav .navbar-right{
		color:#ffffff;
	}
	
	.blue-second-skin .gm-nav.top-nav li>a{
		color:#ffffff;
	}
	
	.blue-second-skin .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.blue-second-skin  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background: #a1d7ea;
	}
	
	.blue-second-skin .change-page-size,
	.blue-second-skin .shrink-title,
	.blue-second-skin #tabs .nav-tabs>li#tabs_dropdown:hover>a{
		background-color: rgb(53, 115, 176);	
	}
	
	.blue-second-skin .tabdrop li>a:hover {
    	background-color: #3573b0 !important;
    }
    
    .blue-second-skin  .menu-first-font{
    	border: 1px solid #fff;
    	color: #fff;
    }
    
    .blue-second-skin  .gm-lately-use-block{
    	background-color: #5d9fe0 !important;
    }
    
    .blue-second-skin .gm-lately-use-block .title{
    	background-color: #3573b0;
    }
    
    .blue-second-skin .gm-left-nav a.current-root-mark{
		background-color: #0c54a5 !important;
	}
	
	.blue-second-skin .gm-left-nav a.current-mark{
		color: #3573b0;
	}
	
	@media only screen and (max-width: 767px) {
		.blue-second-skin .gm-phone-nav{
			background-color: #3573b0;
		}
		.blue-second-skin .gm-phone-nav a:hover {
		    background-color: #569ce0;
		}
		.blue-second-skin .gm-phone-nav li i{
		    color: #ffffff;
		}
		.blue-second-skin .gm-phone-nav-hide>li.active>ul>.gm-phone-nav-back{
			background-color: #326494;
		}
	}
	
	/* 蓝色三背景皮肤*/
	.blue-third-skin .gm-nav.top-nav{
		background-color:#3B6571;
		border-bottom: 1px solid #97bfce;
	}
	
	.blue-third-skin .gm-left-nav{
		background-color:#3B6571;
    		border-right:1px solid #5c9e70;
	}

	.blue-third-skin .menu-navbar{
		background-color:#3B6571;
    		border-right:1px solid #5c9e70;
	}
	
	.blue-third-skin .gm-left-nav a{
		color: #fff;
	}

	.blue-third-skin .menu-navbar>ul.active>li{
		background-color: #def8ff;
	}
	
	.blue-third-skin .gm-left-nav-ul>li.active>ul>li.active>ul{
		background-color: #def8ff;
	}
	
	.blue-third-skin .gm-left-nav-ul>li.active>ul>li.active>a{
    	background-color: #b9b9b9;
	    border-left: none;
	    color: #666;
	}
	
	.blue-third-skin .menu-navbar>ul.active>li>a{
    	background-color: #b9b9b9;
	    border-left: none;
	    color: #666;
	}
	
	.blue-third-skin .gm-left-nav-ul>li.active:hover>a{
		 background-color: #65C2E3;
    	 color: #fff;
	}
	
	.blue-third-skin .gm-left-nav-ul ul a:hover {
		color: #2983a3;
	}

	.blue-third-skin .menu-navbar ul a:hover {
		color: #2983a3;
	}
	
	.blue-third-skin .gm-left-nav-ul>li.active>ul>li.active:hover>a{
		color: #fff;
	}

	.blue-third-skin .menu-navbar>ui.active>li.active:hover>a{
		color: #fff;
	}
	
	.blue-third-skin .mCSB_container li>ul {
		background-color:#b1eeff;
	}
	
	.blue-third-skin .mCSB_container li>ul>li>a{
		color:#777;
	}
	
	.blue-third-skin .mCSB_container li>ul>li>ul>li>a{
		color: #777;
	}
		
	.blue-third-skin #tabs .nav-tabs>li a{
    	color: #808080;
    	font-weight: 400;
	}
	
	.blue-third-skin #tabs .nav-tabs>li.active>a {
		background-color: #fff;
		color: #2983a3;
    	border-bottom: 2px solid #2983a3;
	}
	
	.blue-third-skin .close-tab-content{
		border-top: 25px solid #2983a3;
	}
	
	
	.blue-third-skin .gm-nav.top-nav .navbar-right{
		color:#ffffff;
	}
	
	.blue-third-skin .gm-nav.top-nav li>a{
		color:#ffffff;
	}
	
	.blue-third-skin .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.blue-third-skin  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background: #a1d7ea;
	}
	
	.blue-third-skin .change-page-size{
		opacity: 0.7;
	}
	.blue-third-skin .change-page-size,
	.blue-third-skin .shrink-title,
	.blue-third-skin #tabs .nav-tabs>li#tabs_dropdown:hover>a{
		background-color: rgb(41, 131, 163);	
	}
	
	.blue-third-skin .tabdrop li>a:hover {
    	background-color: #3b6571 !important;
    }
    
    .blue-third-skin  .menu-first-font{
    	border: 1px solid #fff;
    	color: #fff;
    }
    
    .blue-third-skin  .gm-lately-use-block{
    	background-color: #497987 !important;
    }
    
    .blue-third-skin .gm-lately-use-block .title{
    	background-color: #3b6571;
    	text-align: center;
    }
    
    .blue-third-skin .gm-left-nav a.current-root-mark{
		background-color: #334a50 !important;
	}
	
	.blue-third-skin .gm-left-nav a.current-mark{
		color: #3b6571;
	}
	
	@media only screen and (max-width: 767px) {
		.blue-third-skin .gm-phone-nav{
			background-color: #3b6571;
		}
		.blue-third-skin .gm-phone-nav a:hover {
		    background-color: #5e9eb1;
		}
		.blue-third-skin .gm-phone-nav li i{
		    color: #ffffff;
		}
		.blue-third-skin .gm-phone-nav-hide>li.active>ul>.gm-phone-nav-back{
			background-color: #254048;
		}
	}
	
	.container{
		color: #000000;
		line-height: normal;
		padding:15px;
	}
	#top_hidden{
	    width: 100%;
		height: 20px;
		z-index: 1000;
		position: absolute;
    }
	
	/* bootstrap-tree-table 样式 开始*/
	.bootstrap-tree-table .treetable-indent {width:16px; height: 16px; display: inline-block; position: relative;}
	.bootstrap-tree-table .treetable-expander {width:16px; height: 16px; display: inline-block; position: relative; cursor: pointer;}
	.bootstrap-tree-table .treetable-selected{background: #f5f5f5 !important;}
	.bootstrap-tree-table .treetable-table{margin-bottom:0}
	.bootstrap-tree-table .treetable-table tbody {display:block;height:auto;overflow-y:auto;}
	.bootstrap-tree-table .treetable-table thead, .treetable-table tbody tr {display:table;width:100%;table-layout:fixed;}
	.bootstrap-tree-table .treetable-thead th{border: 0 !important;background:#f3f3f4 !important;border-radius: 4px;border-left:1px solid #e7eaec !important;border-bottom:2px solid #e7eaec !important;text-align: center;}
	.bootstrap-tree-table .treetable-thead tr :first-child{border-left:0 !important}
	.bootstrap-tree-table .treetable-tbody td{border: 0 !important;border-left:1px solid #e7eaec !important;border-bottom:1px solid #e7eaec !important;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.bootstrap-tree-table .treetable-tbody tr :first-child{border-left:0 !important}
	.treetable-bars{padding:10px 0;}
	
	/* bootstrap-tree-table 样式 结束*/
