:root{
    --dark:#2381E9;
    --darkcolor:white;
    --darkbackground:black;
    --oa:black;
    --oacolor:black;
    --tdhover:whitez;
    --hoverback:#DFECFE;
    --hovercolor:black;
    --sxback:#fff1dc;
    --slidpx:1px;
    --darkcolor_td:black;
}
.darkBody{
    background-color: #0a0a0a;
}
.td_hover>tbody>tr:hover>td{
    background-color: #0c1f32 !important;
}
.infoTextarea.change::-webkit-input-placeholder {
    color: rgb(208, 208, 208) !important;
}

inputdark{
    color: rgb(208, 208, 208) !important;
}
.panel-body-vue{
    background-color: #0a0a0a !important;
    border:solid 1px rgb(208, 208, 208)!important;
}

.chosen-container-single .chosen-single-dark {
    background: black;
    color: rgb(208, 208, 208) !important;
    background-image: linear-gradient(black 20%, black 80%) !important;
}
.sl_yx_con_dark{

}

.tydark{
    background-color: #0a0a0a !important;
    color: rgb(208, 208, 208) !important;
}
.tabledark>thead>tr>th{
    background-color:var(--dark) !important;
}
thead>tr>th{
    background-color:var(--dark) !important;
}

ul .active a{
    background-color:var(--dark) !important;
}
.modal-title{
    background-color:var(--dark) !important;
}
#pcdiv{
    background:var(--darkcolor) !important;
}
tbody>tr>td{

    color:var(--darkbackground) !important;
}
.table-hover>tbody>tr:hover>td{
    background-color: var(--hoverback) !important;
    color: var(--hovercolor) !important;
}
.pagination-detail{
    color:var(--darkbackground) !important;
}
.dropdown-toggle{
    background-color:var(--darkcolor) !important;
}
.dropdown-toggle>span{
    color:var(--darkbackground) !important;
}
.dropdown-menu{
    background-color:var(--darkcolor) !important;
}
.dropdown-item{
    color:var(--darkbackground) !important;
}
.pagination a,.pagination span , .pagination div , .pagination input{
    background-color:var(--darkcolor) !important;
    color:var(--darkbackground) !important;
}
.ul .active a{
    background-color:var(--darkcolor) !important;
}
.panel-default{
    background-color:var(--darkcolor) !important;
}
.panel-body input{
    background-color:var(--darkcolor) !important;
}
input{
    color:var(--darkbackground) !important;
}
.body-content{
    color:var(--darkbackground) !important;
}
.form-control{
    color:var(--darkbackground) !important;
}
.tab-content{
    background-color:var(--darkcolor) !important;
}
.sl_yx_con{
    background-color:var(--sxback) !important;
    border:solid var(--slidpx) var(--darkbackground)!important;
}
.padding_t7 li:hover>a{
    color:var(--oacolor);
}
.padding_t7_dark li:hover>a{
    color:var(--oacolor);
}
.panel-heading{
    background-color:var(--darkcolor) !important;
    color:var(--darkbackground) !important;
}
.body{
    background-color:var(--dark) !important;
}
#div1{
    background-color:var(--darkcolor) !important;
    border:solid var(--slidpx) var(--darkbackground)!important;
}
.chosen-container-single .chosen-single {
    background: var(--darkcolor) !important;
    color: var(--darkbackground)!important;
    background-image: linear-gradient(var(--darkcolor) 20%, var(--darkcolor) 80%) !important;
}
.chosen-container-single .chosen-drop {
    background: var(--darkcolor) !important;
    color: var(--darkbackground)!important;
    background-image: linear-gradient(var(--darkcolor) 20%, var(--darkcolor) 80%) !important;
}
.modal-header{
    background-color:var(--dark) !important;
}
.modal-body{
    background: var(--darkcolor) !important;
    color: var(--darkbackground)!important;
}
.sl_nav_tabs{
    background: var(--darkcolor) !important;
}
.sl_nav_tabs li a{
    color: var(--darkbackground)!important;
}
.sl_mod .nav-tabs > li.active > a, .sl_mod .nav-tabs > li.active > a:hover, .sl_mod .nav-tabs > li.active > a:focus {
    border-top: 2px solid  var(--dark)!important;
}
textarea{
    background: var(--darkcolor) !important;
}
.columns{
    background: var(--darkcolor) !important;
}
.bootbox .alert-modal{
    color: var(--darkbackground)!important;
}
.columns button{
    background-color: var(--darkcolor) !important;
    color: var(--darkbackground)!important;
    border:solid var(--slidpx) var(--darkbackground)!important;
}
.active-result{
    color: var(--darkbackground)!important;
}