<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>设备列表</title>
	<script type="text/javascript" src="/js/deviceinfo/information/deviceinfo_list.js" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
 	<form id="deviceinfo_formSearch" class="form-horizontal form-inline">
 	<input type="hidden" id ="auditType" name="auditType"  th:value="${sbxxDto.auditType}"> 
		<div class="panel panel-default">
			<div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
			<div class="panel-body">
				<div class="">
					<div class="form-group padding_l10">
		            	<select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
		                	<option value="0">设备编号</option>
		                	<option value="1">设备名称</option>
		                	<option value="2">申请人</option>
		                	<option value="3">申请部门</option>
		                	<option value="4">申购部门</option>
		                	<option value="5">所属项目</option>
		                	<option value="6">所属公司</option>
		                	<option value="7">供应商</option>
		                	<option value="8">生产厂家</option>
		                	<option value="9">使用部门</option>
		                	<option value="10">责任部门</option>
		                	<option value="11">责任人</option>
		         		</select>
			      		<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
			       		onkeydown="if(event.keyCode==13) {searchDeviceResult(true); return false;}"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
					<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
				</div>
				<div class="sl_yx_con" id="sl_yx_con" style="display: none">
		   			<span class="tit">已选条件：</span>
		  			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
		        		<ul id="sl_add_ul"></ul>
		     		</div>
				</div>
				<div class="padding_t7 width100" id="searchMore" style="display: none;" >
		       	 	<div class="tab-content sl_sel_con row" style="min-height:100px;padding-left:5px;margin-left: 0px;margin-right: 0px; padding-bottom:10px;" id="sl_sel_con" >
			       	  	<div class="tab-pane active" id="tab06">
			       	  		<div id="bhlb_id" class="col-xs-12 col-sm-12 col-lg-12">
			                    <div class="form-group width100">
			             			<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label" title="编号类别">编号类别：</label>
			                    	<div class="col-xs-12 col-sm-9  col-md-9 col-lg-10 sl_sel_list" >
			                       		<ul class="col-xs-12 col-sm-12 col-lg-12 col-md-12 item_more_hidden">
			                      	 		<li th:if="${numberList!=null && numberList.size() >0}" th:each="list:${numberList}">
			                           	 		<a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[bhlb]],[[${list.csid}]],[[deviceinfo_formSearch]]);" th:id="'bhlb_id_'+${list.csid}">
			                          	  			<span th:text="${list.csmc}"></span>
			                          	  		</a>
			                    			</li>
			                       		</ul>
			                 		</div>
			             		</div>
			             	</div>
			             	<div id="gllb_id" class="col-xs-12 col-sm-12 col-lg-12">
			                    <div class="form-group width100">
			             			<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label" title="管理类别" >管理类别：</label>
			                    	<div class="col-xs-6 col-sm-9  col-md-9 col-lg-10 sl_sel_list" >
			                       		<ul class="col-xs-12 col-sm-12 col-lg-12 col-md-12 item_more_hidden">
			                      	 		 <li th:if="${mangementList!=null && mangementList.size() >0}" th:each="list:${mangementList}">
			                           	 		<a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[gllb]],[[${list.csid}]],[[deviceinfo_formSearch]]);" th:id="'gllb_id_'+${list.csid}">
			                          	  			<span th:text="${list.csmc}"></span>
			                          	  		</a>
			                    			</li> 
			                       		</ul>
			                 		</div>
			             		</div>
			             	</div>
			             	<div id="ysjg_id" class="col-xs-12 col-sm-12 col-lg-12">
		                        <div class="form-group width100">
		                            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label" title="验收结果" >验收结果：</label>
		                            <div class="col-xs-6 col-sm-9  col-md-9 col-lg-10 sl_sel_list" style="top:4px;" >
		                            	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
		                                    <li>
		                                        <a style='text-decoration:none;cursor:pointer;'onclick="addTj('ysjg','1','deviceinfo_formSearch');"id="ysjg_id_1">
		                                        <span>合格</span></a>
		                                    </li>
		                                    <li>
		                                        <a style='text-decoration:none;cursor:pointer;'onclick="addTj('ysjg','0','deviceinfo_formSearch');"id="ysjg_id_0">
		                                        <span>不合格</span></a>
		                                    </li>
		                            	</ul>
		                    		</div>
		                    	</div>
		                    </div>
		                    <div id="xbcl_id" class="col-xs-12 col-sm-12 col-lg-12">
		                        <div class="form-group width100">
		                            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label" title="续保处理" >续保处理：</label>
		                            <div class="col-xs-6 col-sm-9  col-md-9 col-lg-10 sl_sel_list" style="top:4px;" >
		                            	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
		                                    <li>
		                                        <a style='text-decoration:none;cursor:pointer;'onclick="addTj('xbcl','1','deviceinfo_formSearch');"id="xbcl_id_1">
		                                        <span>已处理</span></a>
		                                    </li>
		                                    <li>
		                                        <a style='text-decoration:none;cursor:pointer;'onclick="addTj('xbcl','0','deviceinfo_formSearch');"id="xbcl_id_0">
		                                        <span>未处理</span></a>
		                                    </li>
		                            	</ul>
		                    		</div>
		                    	</div>
		                    </div>
		                    <div id="da_id" class="col-xs-12 col-sm-12 col-lg-12">
		                        <div class="form-group width100">
		                            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label" title="档案" >档案：</label>
		                            <div class="col-xs-6 col-sm-9  col-md-9 col-lg-10 sl_sel_list" style="top:4px;" >
		                            	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
		                                    <li>
		                                        <a style='text-decoration:none;cursor:pointer;'onclick="addTj('da','1','deviceinfo_formSearch');"id="da_id_1">
		                                        <span>有</span></a>
		                                    </li>
		                                    <li>
		                                        <a style='text-decoration:none;cursor:pointer;'onclick="addTj('da','0','deviceinfo_formSearch');"id="da_id_0">
		                                        <span>无</span></a>
		                                    </li>
		                            	</ul>
		                    		</div>
		                    	</div>
		                    </div>
			       	  	</div>
			       	</div>
			    </div>
			</div>
		</div>
		<input  type="hidden" id="bhlb_id_tj" name="bhlb_id_tj">
		<input  type="hidden" id="gllb_id_tj" name="gllb_id_tj">
		<input  type="hidden" id="ysjg_id_tj" name="ysjg_id_tj">
		<input  type="hidden" id="xbcl_id_tj" name="xbcl_id_tj">
		<input  type="hidden" id="da_id_tj" name="da_id_tj">
		<div th:include="common/btn/ancz.html"></div>
		<table id="deviceinfo_list" class="table table-hover table-bordered table-hidden"></table>
	</form>
</div>
</body>
</html>