<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/js/deviceinfo/information/deviceinfo_add.js" charset="utf-8"></script>
</head>
<body>
<form id="deviceinfoForm"    action="/deviceinfo/deviceinfo/saveDeviceInfo" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<div class="body-content tab-content" >
		<div role="tabpanel" class="tab-pane fade active in" id="deviceInfoTab" aria-labelledby="profile-tab">
			<input type="hidden" name="access_token"/>
			<div class="panel panel-default">
				<div class="panel-heading">
					采购信息
					<button type="button" class="btn btn-info" style="float: right;margin-top:-5px;" onclick="purchaseList()">采购信息</button>
				</div>
				<div class="panel-body">
					<!-- <div class="row">
						
					</div> -->
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					设备信息
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>设备名称：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="sbmc" name="sbmc"  th:value="${sbxxDto.sbmc}" class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>所属公司：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="ssgs" name="ssgs"  th:value="${sbxxDto.ssgs}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6" style="height:40px;">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>申请人：
								</label>
								<div class="col-sm-8 col-xs-12">
									<div class="input-group">
										<input id="zsxm" name="zsxm" th:value="${sbxxDto.sqrmc}"  class="form-control" data-provide="typeahead"  data-items="5" validate="{required:true,stringMaxLength:64}">
				 						<input id="sqr" name="sqr" th:value="${sbxxDto.sqr}"  type="hidden" class="form-control" validate="{required:true,stringMaxLength:64}"/>
				 						<span class="input-group-btn">
											<button type="button" onclick="chooseSqr()" class="btn btn-primary">选择</button>
										</span>
									</div>
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>申请部门：
								</label>
								<div class="col-sm-8 col-xs-12"> 
									<select id="sqbm" name="sqbm"  class="form-control chosen-select" validate="{required:true}" >
										<option  value="">--请选择--</option>
			                        	<option  th:if="${jgxxList!=null && jgxxList.size() > 0}" th:each="list:${jgxxList}" th:value="${list.jgid}"  th:text="${list.jgmc}" th:selected="${sbxxDto.sqbm eq list.jgid}"></option>
			 						</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>申购部门：
								</label>
								<div class="col-sm-8 col-xs-12"> 
									<select id="sgbm" name="sgbm"  class="form-control chosen-select" validate="{required:true}" >
										<option  value="">--请选择--</option>
			                        	<option  th:if="${jgxxList!=null && jgxxList.size() > 0}" th:each="list:${jgxxList}" th:value="${list.jgid}"  th:text="${list.jgmc}" th:selected="${sbxxDto.sgbm eq list.jgid}"></option>
			 						</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>规格型号：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="ggxh" name="ggxh" th:value="${sbxxDto.ggxh}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>单价(含税)：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="djjs" name="djjs" th:value="${sbxxDto.djjs}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>数量：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="sl" name="sl"  th:value="${sbxxDto.sl}" class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>金额(含税)：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="jejs" name="jejs"  th:value="${sbxxDto.jejs}" class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>到货日期：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="dhrq" name="dhrq" th:value="${sbxxDto.dhrq}" class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>开票日期：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="kprq" name="kprq"  th:value="${sbxxDto.kprq}" class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>生产厂家：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="sccj" name="sccj" th:value="${sbxxDto.sccj}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>厂家电话：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="cjdh" name="cjdh" th:value="${sbxxDto.cjdh}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>供应商：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="gys" name="gys"  th:value="${sbxxDto.gys}" class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>供应商电话：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="gysdh" name="gysdh" th:value="${sbxxDto.gysdh}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>保修日期：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="bxrq" name="bxrq"  th:value="${sbxxDto.bxrq}" class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>购量日期：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="glrq" name="glrq"  th:value="${sbxxDto.glrq}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>定量位置：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="dlwz" name="dlwz"  th:value="${sbxxDto.dlwz}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<span style="color: red;">*</span>出厂编号：
								</label>
								<div class="col-sm-8 col-xs-12">
									<input id="ccbh" name="ccbh" th:value="${sbxxDto.ccbh}"  class="form-control"  validate="{required:true,stringMaxLength:64}">
			 					</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>