<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
	</head>
	<body>
     <form id="ajaxForm" th:action="${urlPrefix}+'/systemmain/data/'+${(jcsjDto.csid == null || jcsjDto.csid == '')?'add':'mod'}+'SaveBasicData'" method="post" data-bs-toggle="validation" theme="simple" class="form-horizontal sl_all_form">
	    	<div class="body-content">
				<div class="row">
					<input type="hidden" name="csid" id="csid" th:value="${jcsjDto.csid}"/>
					<input type="hidden" name="access_token"/>
					<input type="hidden" name="fjids_D" id="fjids_D"/>
					<input type="hidden" name="ywlx_D" id="ywlx_D">
					<input type="hidden" name="fjids_R" id="fjids_R"/>
					<input type="hidden" name="ywlx_R" id="ywlx_R">
					<input type="hidden" name="fjids_C" id="fjids_C"/>
					<input type="hidden" name="ywlx_C" id="ywlx_C">
					<div class="col-md-12 col-sm-12">
				        <div class="form-group">
				           <label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>类别名称</label>      	
				          	<div class="col-sm-8">
				          		<select id="jclb" name="jclb" th:value="${jcsjDto.jclb}" validate="{required:true}" class="form-control chosen-select " style="height:34px;">
									<option value="">--请选择--</option>
									<option th:if="${jclbList != null && jclbList.size() > 0}" th:each="jclb:${jclbList}" th:attr_pid="${jclb['parentFId']}" th:attr_p="${jclb['parentId']}" th:attr_type="${jclb['id']}"
                 				th:attr_ex1="${jclb['basic_extend_1']}" th:attr_ex2="${jclb['basic_extend_2']}" 
                 				th:attr_ex3="${jclb['basic_extend_3']}" th:attr_ex4="${jclb['basic_extend_4']}"  th:attr_ex5="${jclb['basic_extend_5']}"
											th:attr_ex1_sel="${jclb['basic_extend_1_select']}" th:attr_ex2_sel="${jclb['basic_extend_2_select']}"
                 				th:attr_ex3_sel="${jclb['basic_extend_3_select']}" th:attr_ex4_sel="${jclb['basic_extend_4_select']}"
								th:selected="${jclb['id'] eq jcsjDto.jclb}"
                 				th:attr_ex5_flie="${jclb['basic_file_1']}" th:attr_ex6_flie="${jclb['basic_file_2']}" th:attr_ex7_flie="${jclb['basic_file_3']}"
                 				th:value="${jclb['id']}" th:attr_file_name_1="${jclb['basic_name_1']}" th:attr_file_name_2="${jclb['basic_name_2']}" th:attr_file_name_3="${jclb['basic_name_3']}" th:text="${jclb['name']}"/></option>
								</select>
				          	</div>
				        </div>
					</div>
				   <div class="col-md-12 col-sm-12">
				        <div class="form-group">
				            <label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>参数代码</label>      	
				          	<div class="col-sm-8">
				          		<input type="text" id="csdm" name="csdm" th:value="${jcsjDto.csdm}" data-clear="true"
													validate="{required:true,stringMaxLength:128}" class="form-control" />
				          	</div>
				        </div>
					</div>
					<div class="col-md-12 col-sm-12">
				        <div class="form-group">
				           <label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>参数名称</label>      	
				          	<div class="col-sm-8">
				          		<input type="text" id="csmc" name="csmc" th:value="${jcsjDto.csmc}" data-clear="true"
													validate="{required:true,stringMaxLength:80}" class="form-control" />
				          	</div>
				        </div>
					</div>
				   <div class="col-md-12 col-sm-12">
			        	<div class="form-group" id="divpcs">
			          		<label for="" class="col-sm-3 control-label"><span style="color:red;"></span>上上节点名称</label>
							<div class="col-sm-8">
								<select id="ffcsid" name="ffcsid" th:value="${jcsjDto.ffcsid}" class="form-control chosen-select " data-clear="true">
									<option value="">--请选择--</option>
                        			<option th:each="list:${ffList}" th:value="${list.csid}" th:text="${list.csdm+'--'+list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.csid eq jcsjDto.ffcsid}"></option>
								</select>
		        		   </div>
		        		</div>
			       	</div>
				   <div class="col-md-12 col-sm-12">
		        	<div class="form-group" id="divfcs">
		          		<label for="" class="col-sm-3 control-label"><span style="color:red;"></span>父节点名称</label>
						<div class="col-sm-8">
							<select id="fcsid" name="fcsid" th:value="${jcsjDto.fcsid}" class="form-control chosen-select " data-clear="true">
								<option value="">--请选择--</option>
                       			<option th:each="list:${fList}" th:value="${list.csid}" th:text="${list.csdm+'--'+list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.csid eq jcsjDto.fcsid}"></option>
							</select>
	        		   </div>
	        		</div>
		       	</div>
				<div class="col-md-12 col-sm-12">
			        <div class="form-group">
			          	<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>参数排序</label>      	
			          	<div class="col-sm-8">
			          		<input type="text" id="cspx" name="cspx" th:value="${jcsjDto.cspx}" data-clear="true"
													validate="{required:true,max:999999}" class="form-control" />
			          	</div>
			        </div>
			     </div>
			     <div class="col-md-12 col-sm-12">
			        <div class="form-group" id="divextend1">
			          	<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span></s:if>参数扩展1</label>      	
			          	<div class="col-sm-8">
			          		<input type="text" id="cskz1" name="cskz1" th:value="${jcsjDto.cskz1}" class="form-control" data-clear="true"/>
			          	</div>
			        </div>
			     </div>
			     <div class="col-md-12 col-sm-12">
			        <div class="form-group" id="divextend2">
			          	<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span></s:if>参数扩展2</label>      	
			          	<div class="col-sm-8">
					 		<input type="text" id="cskz2" name="cskz2" th:value="${jcsjDto.cskz2}" class="form-control" data-clear="true"/>
			          	</div>
			        </div>
			     </div>
			     <div class="col-md-12 col-sm-12">
			        <div class="form-group" id="divextend3">
			          	<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span></s:if>参数扩展3</label>      	
			          	<div class="col-sm-8">
			          		<input type="text" id="cskz3" name="cskz3" th:value="${jcsjDto.cskz3}" class="form-control" data-clear="true"/>
			          	</div>
			        </div>
			     </div>
			     <div class="col-md-12 col-sm-12">
			        <div class="form-group" id="divextend4">
			          	<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span></s:if>参数扩展4</label>      	
			          	<div class="col-sm-8">
			          		<input type="text" id="cskz4" name="cskz4" th:value="${jcsjDto.cskz4}" class="form-control" data-clear="true"/>
			          	</div>
			        </div>
			     </div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group" id="divextend11">
						<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span></s:if>参数扩展5</label>
						<div class="col-sm-8">
							<input type="text" id="cskz5" name="cskz5" th:value="${jcsjDto.cskz5}" class="form-control" data-clear="true"/>
						</div>
					</div>
				</div>
			     <div class="col-md-12 col-sm-12">
			        <div class="form-group" id="divextend5">
			          	<label for="" class="col-sm-3 control-label"></label>   
			          	<div class="col-sm-8">
			          		<a href="javascript:void(0);" id="D_Btn"onclick='editfile("D_DIv","D_btn")' style="display:inline-block;width:100%;border:1px solid #CCCCCC;border-radius:3px;margin-top:5px;">
	            				<span title="点击上传"  style="display:inline-block;width:100%;height:28px;color:#A6A6A6;font-size:12px;padding-left:10px;line-height:28px;">点击展开上传文件</span>
	            			</a>
	            			<div id="D_DIv" style="display: none;">
	            				<input  id="report_file_D" name="report_file_D" type="file">
	            				<button class="btn btn-default" type="button" style="position:relative;margin-top:-15%;margin-left:77%; width:23%;" onclick='cancelfile("D_DIv","D_btn")'>隐藏</button>
	            			</div>
						</div> 
			        </div>
				</div>
				<div class="col-md-12 col-sm-12">
			        <div class="form-group" id="divextend6">
			          	<label for="" class="col-sm-3 control-label"></label>   
			          	<div class="col-sm-8" >
			          		<a href="javascript:void(0);" id="R_Btn"onclick='editfile("R_Div","R_Btn")' style="display:inline-block;width:100%;border:1px solid #CCCCCC;border-radius:3px;margin-top:5px;">
	            				<span title="点击上传"  style="display:inline-block;width:100%;height:28px;color:#A6A6A6;font-size:12px;padding-left:10px;line-height:28px;">点击展开上传文件</span>
	            			</a>
			          		<div id="R_Div" style="display: none;">
			          			<input  id="report_file_R" name="report_file_R" type="file">
			          			<button class="btn btn-default" type="button" style="position:relative;margin-top:-15%;margin-left:77%; width:23%;" onclick='cancelfile("R_Div","R_Btn")'>隐藏</button>
			          		</div>
						</div> 
			        </div>
				</div>
				<div class="col-md-12 col-sm-12">
			        <div class="form-group" id="divextend7">
			          	<label for="" class="col-sm-3 control-label"></label>   
			          	<div class="col-sm-8">
			          		<a href="javascript:void(0);" id="C_Btn" onclick='editfile("C_Div","C_Btn")' style="display:inline-block;width:100%;border:1px solid #CCCCCC;border-radius:3px;margin-top:5px;">
		            			<span title="点击上传"  style="display:inline-block;width:100%;height:28px;color:#A6A6A6;font-size:12px;padding-left:10px;line-height:28px;">点击展开上传文件</span>
		            		</a>
		            		<div id="C_Div" style="display: none;">
			            		<input  id="report_file_C" name="report_file_C" type="file">
		            			<button class="btn btn-default" type="button" style="position:relative;margin-top:-15%;margin-left:77%; width:23%;" onclick='cancelfile("C_Div","C_Btn")'>隐藏</button>
	            			</div>
						</div> 
			        </div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${fjList != null && fjList.size() >0}"  id="files" th:each="fjcfbList,stat:${fjList}">
					<div class="form-group" th:id="doc_+${stat.index}">
			        	<label for="" class="col-sm-3 control-label">文件</label>      	
			          	<div class="col-sm-8">
				        	<div class="form-group">
				    			<div th:each="fjcfbDto:${fjcfbList}">
				    				<div th:id="${fjcfbDto.fjid}" >
					    				<div class="col-sm-12 padding_t7">
					    					<a title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
						    					<span th:text="${fjcfbDto.wjm}"></span>
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</a>&nbsp;&nbsp;
					    					<a title="删除" class="f_button">
					    						<span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjlj}]],[[doc_+${stat.index}]]);"></span>
					    					</a>
					    				</div>
					    			</div>
				    			</div>
				   			</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${fjList2 != null && fjList2.size() >0}"  id="files2" th:each="fjcfbList2,stat2:${fjList2}">
					<div class="form-group" th:id="doc_+${stat2.index}">
			        	<label for="" class="col-sm-3 control-label">文件2</label>      	
			          	<div class="col-sm-8">
				        	<div class="form-group">
				    			<div th:each="fjcfbDto2:${fjcfbList2}">
				    				<div th:id="${fjcfbDto2.fjid}" >
					    				<div class="col-sm-12 padding_t7">
					    					<a title="下载" th:onclick="xz([[${fjcfbDto2.fjid}]]);" >
						    					<span th:text="${fjcfbDto2.wjm}"></span>
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</a>&nbsp;&nbsp;
					    					<a title="删除" class="f_button">
					    						<span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto2.fjid}]],[[${fjcfbDto2.wjlj}]],[[doc_+${stat2.index}]]);"></span>
					    					</a>
					    				</div>
					    			</div>
				    			</div>
				   			</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${fjList3 != null && fjList3.size() >0}"  id="files3" th:each="fjcfbList3,stat3:${fjList3}">
					<div class="form-group" th:id="doc_+${stat3.index}">
			        	<label for="" class="col-sm-3 control-label">文件3</label>      	
			          	<div class="col-sm-8">
				        	<div class="form-group">
				    			<div th:each="fjcfbDto3:${fjcfbList3}">
				    				<div th:id="${fjcfbDto3.fjid}" >
					    				<div class="col-sm-12 padding_t7">
					    					<a title="下载" th:onclick="xz([[${fjcfbDto3.fjid}]]);" >
						    					<span th:text="${fjcfbDto3.wjm}"></span>
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</a>&nbsp;&nbsp;
					    					<a title="删除" class="f_button">
					    						<span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto3.fjid}]],[[${fjcfbDto3.wjlj}]],[[doc_+${stat3.index}]]);"></span>
					    					</a>
					    				</div>
					    			</div>
				    			</div>
				   			</div>
						</div>
					</div>
				</div>
		      	<div class="col-md-12 col-sm-12">
			        <div class="form-group" >
			          	<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>是否默认</label>      	
			          	<div class="col-sm-8">
			          		<label class="radio-inline"><input type="radio" value="0" name="sfmr" th:checked="${'0' eq jcsjDto.sfmr}" validate="{required:true}" data-clear="true">非默认</label>
							<label class="radio-inline"><input type="radio" value="1" name="sfmr" th:checked="${'1' eq jcsjDto.sfmr}" validate="{required:true}" data-clear="true">默认</label>
			          	</div>
			        </div>
			     </div>
			     <div class="col-md-12 col-sm-12">
			        <div class="form-group" >
			          	<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>是否广播</label>      	
			          	<div class="col-sm-8">
			          		<label class="radio-inline"><input type="radio" value="1" name="sfgb" th:checked="${'1' eq jcsjDto.sfgb}" validate="{required:true}" data-clear="true">是</label>
							<label class="radio-inline"><input type="radio" value="0" name="sfgb" th:checked="${'0' eq jcsjDto.sfgb}" validate="{required:true}" data-clear="true">否</label>
			          	</div>
			        </div>
			     </div>
			     <div class="col-md-12 col-sm-12">
			        <div class="form-group">
			          	<label for="" class="col-sm-3 control-label">备注</label>      	
			          	<div class="col-sm-8">
			          		<input type="text" id="bz" name="bz" th:value="${jcsjDto.bz}" class="form-control" data-clear="true"/>
			          	</div>
			        </div>
			     </div>
				</div>
			</div>
	    </form>
	    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/data/basicdata_edit.js?v=20250423v6'}"></script>
  </body>
</html>