<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/dhxx/arrival_goods_produce.js'}" charset="utf-8"></script>
	</head>
	<body>
		<div class="panel-body body-content" style="padding-bottom:0px;">
	        <form id="arrival_produce_formSearch" class="form-horizontal form-inline">
	        	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
				<input type="hidden" name="sczl_json" id ="sczl_json">
	        	<div class="panel panel-default">
		            <div class="panel-body">
		            	<div class="">
		                    <div class="form-group padding_l10">
		                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
		                        	<option value="0">全部</option>
                            		<option value="1">指令单号</option>
                            		<option value="2">产品编号</option>
                            	</select>
	                        	<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
	                               onkeydown="if(event.keyCode==13) {searchArrivalProduceResult(); return false;}"/>
							</div>
							<div class="form-group padding-l30" style="margin-left:0px">
								<label>指令日期</label>
								<input id="zlrqstart" name="zlrqstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
								<input id="zlrqend" name="zlrqend" class="form-control" placeholder="结束日期" validate="{required:true}" />
							</div>
							<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
							<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
						</div>
						<div class="sl_yx_con" id="sl_yx_con" style="display: none">
							<span class="tit">已选条件：</span>
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
								<ul id="sl_add_ul"></ul>
							</div>
						</div>
						<div class="padding_t7 width100" id="searchMore" style="display: none;" >
							<div class="tab-content sl_sel_con row" id="sl_sel_con" style="min-height:50px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
								<div class="tab-pane active" id="tab06">
									<div id="cplx_id" class="col-xs-12 col-sm-12 col-lg-12">
										<div class="form-group width100">
											<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="产品类别">产品类别：</label>
											<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11 sl_sel_list" >
												<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10" id="ul_lb">
													<li th:if="${lblist!=null && lblist.size() > 0}" th:each="list:${lblist}">
														<a style='text-decoration:none;cursor:pointer;'
														   th:onclick="addTj([[cplx]],[[${list.csid}]],[[arrival_produce_formSearch]]);" th:id="'cplx_id_'+${list.csid}">
															<span th:text="${list.csmc}"></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		            </div>
		        </div>
				<input  type="hidden" id="cplx_id_tj" name="cplx_id_tj">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group" style="width:100%;margin-bottom:10px;">
							<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label">新增指令单号</label>
							<div class="col-sm-10 col-md-10 col-xs-10" >
								<input autoComplete="off" type="text" class="form-control" id="xzzldh" name="xzzldh" style="min-width:100%;"/>
							</div>
						</div>
					</div>
				</div>
		        <table id="arrival_produce_tb_list" class="table table-hover table-bordered table-hidden"></table>
	        </form>
	    </div>
	</body>
</html>