<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.bootstrap-tagsinput{
		width:100%;
	}
</style>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/dhxx/arrival_goods_brrow.js'}" charset="utf-8"></script>
</head>
<body>
	<form id="arrivalGoodsBorrowForm" th:action ="${urlPrefix}+'/storehouse/arrivalGoods/'+${dhxxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple"  data-bs-toggle="validation">
		<div class="body-content">
			<div class="row">
				<input type="hidden" id="dhmx_json" name="dhmx_json"/>
				<input type="hidden" id="dhmxJson" name="dhmxJson"/>
				<input type="hidden" id="message" name="message"/>
				<input type="hidden" name="access_token"/>
				<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
				<input type="hidden" name="formAction" id="formAction" th:value="${dhxxDto.formAction}">
				<input type="hidden" id="dhid" name="dhid" th:value="${dhxxDto.dhid}">
				<input type="hidden" name="auditType" id ="auditType" th:value="${dhxxDto.auditType}">

				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
							仓库名称 </label>
						<div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
							<span th:text="${dhxxDto.ckmc}" />
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
							货物单号 </label>
						<div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
							<span th:text="${dhxxDto.dhdh}" />
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
							到货日期 </label>
						<div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
							<span th:text="${dhxxDto.dhrq}" />
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
							供应商 </label>
						<div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
							<span th:text="${dhxxDto.gysmc}" />
						</div>
					</div>
				</div> 
				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
							借用总量 </label>
						<div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
							<span th:text="${dhxxDto.jyzl}" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
							备&nbsp;&nbsp;&nbsp;&nbsp;注 </label>
						<div class="col-sm-11 col-xs-11 col-md-11 padding_t7">
							<span th:text="${dhxxDto.bz}" />
						</div>
					</div>
				</div>	

			</div>
		</div>
		<!-- 借用able -->
		<table id="jy_list" data-classes="table table-hover table-bordered table-hidden" style="width:1350px;margin-left:8px;"></table>
	</form>
</body>
</html>