<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.bootstrap-tagsinput{
		width:100%;
	}
	.f_button{
		background: white;
		border: 0;
	}
	.f_button:hover{
		border-width: 0px;
		border-radius: 3px;
		background: #1E90FF;
		cursor: pointer;
		outline: none;
		font-family: Microsoft YaHei;
		color: white;
		font-size: 14px;
	}
</style>
</head>
<body>
	<form id="arrivalGoodsEditForm" th:action ="${urlPrefix}+'/storehouse/arrivalGoods/'+${dhxxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<div class="body-content">
			<div id="row" class="row">
				<input type="hidden" id="dhmx_json" name="dhmx_json"/>
				<input type="hidden" id="dhmxJson" name="dhmxJson"/>
				<input type="hidden" id="message" name="message"/>
				<input type="hidden" name="addwlid" id="addwlid"/>
				<input type="hidden" name="fjids" id="fjids"/>
				<input type="hidden" name="access_token"/>
				<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
				<input type="hidden" name="gjxgbj" id="gjxgbj" th:value="${gjxgbj}">
				<input type="hidden" id="dhid" name="dhid" th:value="${dhxxDto.dhid}">
				<input type="hidden" id="sczlid" name="sczlid" th:value="${dhxxDto.sczlid}">
				<input type="hidden" id="cglxls" name="cglxls" th:value="${dhxxDto.cglx}">
				<input type="hidden" id="dhlxdm" name="dhlxdm" th:value="${dhxxDto.dhlxdm}">
				<input type="hidden" id="rklb" name="rklb">
				<input type="hidden" name="auditType" id ="auditType" th:value="${dhxxDto.auditType}">
				<input type="hidden" id="htids" name="htids" th:value="${dhxxDto.htid}">
				<input type="hidden" id="zshlsh" name="zshlsh" th:value="${zshlsh}">
				<input type="hidden" id="nowdate" name="nowdate" th:value="${nowdate}">
				<input type="hidden" name="rklbbj" id ="rklbbj" th:value="${rklbbj}">
				<input type="hidden" name="cskz3" id ="cskz3" th:value="${cskz3}">
				<input type="hidden" name="hwxx_json" id ="hwxx_json">
				<input type="hidden" name="dhlx" id ="dhlx" th:value="${dhxxDto.dhlx}">
				<input type="hidden" name="ywlx" id ="ywlx" th:value="${fjcfbDto.ywlx}">
				<input type="hidden" name="rklbdm" id ="rklbdm" th:value="${rklbdm}">
				<input type="hidden" name="xtszqz" id ="xtszqz" th:value="${xtszqz}">
				<input th:if="${cskz3=='CGHZ'}" type="hidden" name="ckid" id ="ckid" th:value="${dhxxDto.ckid}">
				<div class="col-md-4 col-sm-4" >
					<div class="form-group" th:if="${cskz3!='CGHZ'}">
						<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
							<span style="color: red;">*</span>仓库
						</label>
						<div id="ck" class="col-sm-9 col-xs-9 col-md-9" th:if="${cklist !=null && cklist.size() > 0}">
							<select id="ckid" name="ckid" th:value="${dhxxDto.ckmc}" class="form-control chosen-select" validate="{required:true}" style="height:28px;">
								<option id="ckid_0" value="">--请选择--</option>
                       			<option th:each="list:${cklist}" th:value="${list.ckid}" th:text="${list.ckmc}" th:selected="${list.ckid eq dhxxDto.ckid}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${xtszqz!='' && xtszqz != null && rklbdm=='3'}">
					<div class="form-group" id = "ll">
						<label for="" class="col-sm-1 col-md-1 control-label" >
							<span style="color: red;"></span>领料单号:
						</label>
						<div class="col-sm-11 col-xs-11 col-md-11">
							<div class="input-group">
								<input id="lldhs" autoComplete="off" readonly style="min-width: 100%;height:28px;" name="lldhs" type="text" class="form-control" />
								<span class="input-group-btn">
									<button type="button" onclick="qtrk_chooseLldh()" class="btn btn-primary"  style="height:32px !important;">新增</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${gjxgbj == '0'&&dhxxDto.dhlxdm!='TH'}">
					<div class="form-group">
						<label for="" class="col-sm-1 col-md-1 col-xs-1 control-label" th:if="${(rklbbj != '1' && cskz3 == '0')||(rklbbj != '1' && cskz3 == 'WW')||(rklbbj != '1' && cskz3 == 'CGHZ')}">
							<span style="color: red;">*</span>合同单号
						</label>
						<label for="" class="col-sm-1 col-md-1 col-xs-1 control-label" th:if="${rklbbj == '1' && cskz3 == '0'}">
							<span style="color: red;">*</span>物料
						</label>
						<label for="" class="col-sm-1 col-md-1 col-xs-1 control-label" th:if="${cskz3 == '1'}">
							<span style="color: red;">*</span>指令单号
						</label>
						<div class="col-sm-11 col-xs-11 col-md-11">
							<div class="input-group">
								<input id="htnbbhs" autoComplete="off" style="min-width: 100%;height:32px;" name="htnbbhs" type="text" class="form-control" th:if="${(rklbbj != '1' && cskz3 == '0')||(rklbbj != '1' && cskz3 == 'WW')||(rklbbj != '1' && cskz3 == 'CGHZ')}"/>
								<span class="input-group-btn">
									<button type="button" onclick="chooseHtxx()" class="btn btn-primary"  style="height:32px !important;">新增</button>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
							到货单号
						</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<input type="text" id="dhdh" name="dhdh" th:value="${dhxxDto.dhdh}" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
							<span style="color: red;">*</span>到货日期
						</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<input type="text" id="dhrq" name="dhrq" th:value="${dhxxDto.dhrq}" validate="{required:true}" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="form-group">
						<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
							<span style="color: red;">*</span>部门
						</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<div class="input-group">
								<input type="text" id="sqbmmc" name="sqbmmc" th:value="${dhxxDto.sqbmmc}" validate="{required:true}" readonly="true" class="form-control" />
								<input type="hidden" id="bm" name="bm" th:value="${dhxxDto.bm}"  class="form-control"/>
								<span class="input-group-btn">
									<button type="button" onclick="chooseSqbm()" class="btn btn-primary" style="height:28px !important;">选择</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4" th:if="${dhxxDto.dhlxdm!='TH'}">
					<div class="form-group">
						<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
							<span style="color: red;">*</span>供应商
						</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<div class="input-group">
								<input type="text" id="gysmc" name="gysmc" th:value="${dhxxDto.gysmc}" readonly="true" validate="{required:true}" class="form-control" />
	         					<input id="gysid" name="gysid" type="hidden" th:value="${dhxxDto.gys}" class="form-control" />
								<span class="input-group-btn">
									<button type="button" onclick="chooseGys()" class="btn btn-primary" style="height:28px !important;">选择</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4" th:if="${dhxxDto.dhlxdm!='TH'}">
					<div class="form-group">
						<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
							<span style="color: red;">*</span>入库类别
						</label>
						<div class="col-sm-9 col-xs-9 col-md-9" th:if="${rklblist !=null && rklblist.size() > 0}"> 
							<select id="rklbs" name="rklbs" th:value="${dhxxDto.rklxmc}" class="form-control chosen-select" validate="{required:true}" style="height:28px;" disabled="disabled">
								<option value="">--请选择--</option>
                       			<option th:each="list:${rklblist}" th:id="${list.csid}" th:value="${list.csid}" th:cskz2="${list.cskz2}" th:text="${list.csmc}"  th:csdm="${list.csdm}" th:selected="${list.csid eq dhxxDto.rklb}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4" id="cglxdiv" th:if="${dhxxDto.rklbdm != 'OA' && (cskz3 == '0'||cskz3 == 'WW') && gjxgbj != '1' && dhxxDto.dhlxdm!='TH'}">
					<div class="form-group">
						<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
							<span style="color: red;">*</span>采购类型
						</label>
						<div class="col-sm-9 col-xs-9 col-md-9" th:if="${cglxlist !=null && cglxlist.size() > 0}"> 
							<select id="cglx" name="cglx" th:value="${dhxxDto.cglxmc}" class="form-control chosen-select" validate="{required:true}" style="height:28px;">
								<option value="">--请选择--</option>
                       			<option th:each="list:${cglxlist}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}"  th:csdm="${list.csdm}" th:selected="${list.csid eq dhxxDto.cglx}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
							<div th:id="${fjcfbDto.fjid}" >
								<label for="" class="col-sm-1 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件："></label>
								<label for="" class="col-sm-1 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
								<div class="col-sm-11 padding_t7">
									<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
									<button style="outline:none;margin-bottom:5px;padding:0px;" class="btn btn-link" type="button" title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
										<span th:text="${fjcfbDto.wjm}"></span>
										<span class="glyphicon glyphicon glyphicon-save"></span>
									</button>&nbsp;&nbsp;
									<button title="删除" class="f_button" type="button">
										<span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjlj}]]);"></span>
									</button>&nbsp;&nbsp;
									<button title="预览" class="f_button" type="button">
										<span class="glyphicon glyphicon-eye-open" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]]);"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
							附件上传：
						</label>
						<div class="col-sm-11 col-xs-11 col-md-11" style="line-height:28px;">
							<a href="javascript:void(0);" onclick="editfile()" id="file_btn" style="display:inline-block;width:100%;;border:1px solid #CCCCCC;border-radius:3px;">
								<span  id="fileclick" title="点击上传"  style="display:inline-block;width:100%;color:#A6A6A6;font-size:12px;padding-left:10px;">点击展开上传文件</span>
							</a>
							<div id="fileDiv" style="display:none;">
								<input id="pro_file" name="pro_file" type="file">
								<button class="btn btn-default" type="button" style="margin-left:77%;width:23%;margin-top:10px;" onclick="cancelfile()">隐藏</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${dhxxDto.dhlxdm!='TH'}">
					<div class="form-group">
						<label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
							合同备注
						</label>
						<div class="col-sm-11 col-xs-11 col-md-11">
							<textarea id="htzbz" name="htzbz" rows="3" readonly style="height: auto;" class="form-control" ></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
							备注
						</label>
						<div class="col-sm-11 col-xs-11 col-md-11">
							<textarea id="bz" name="bz" rows="3" th:text="${dhxxDto.bz}" validate="{stringMaxLength:1024}" style="height: auto;" class="form-control" ></textarea>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div id="checkwlgl" style="display:none;" class="col-md-12 col-sm-12"></div>
				<div id="checkhtmx" style="display:none;" class="col-md-12 col-sm-12"></div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6" th:if="${gjxgbj == '1'}">
			<div class="form-group" >
				<label for="" class="col-sm-2 control-label" style="color:black;">
					新增:
				</label>
				<div class="col-sm-10 col-xs-12">
					<input type="text" id="addnr" name="addnr" onclick="judgment()" placeholder="请输入物料名称,点击确定或按回车添加物料" class="form-control" data-provide="typeahead" data-items="5" autocomplete="off"/>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6" th:if="${gjxgbj == '1'}">
			<div class="form-group" >
				<button  type="button" class="btn btn-success" onclick="punchCofirmaddwl()"><span id="cofirmaddwl">确定</span></button>
			</div>
		</div>
		<!-- 合同明细table -->
		<table id="tb_list" data-classes="table table-hover table-bordered table-hidden" style="width:1500px;margin-left:160px;"></table>
	</form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/dhxx/arrival_goods_edit.js?v=2023112301'}" charset="utf-8"></script>
</html>