<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<!--Bootstrap-table插件-->
	<link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
	<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/dhxx/arrival_goods_print.js'}" charset="utf-8"></script>
</head>
<body style="width:700px;height: 480px;">

<form id="arrivalGoods_formSearch" class="form-horizontal form-inline" data-bs-toggle="validation"
	  style="margin:auto;width:100%;">
	<div class="panel-body body-content" style="width:100%;">
		<div style="text-align:center;font-size: 30px;font-family: '宋体';font-weight: bold">
			<span th:text="${dqmc}"></span>
		</div>
		<div style="padding:0px;font-weight:normal;text-align: right">
			<span style="font-size: 15px;font-family: '宋体';">文件编号:</span>
			<span th:text="${wjbh}" style="font-size: 15px;font-family: 'Times New Roman';"></span>
		</div>
		<!--表头-->
		<div style="text-align:center;padding-top:30px;font-size: 20px;font-family: '宋体'">请　验　单</div>
		<!--表上半部分内容-->
		<div style="padding:0px;font-weight:normal;text-align: right;padding-right: 100px">
			<span style="font-size: 15px;font-family: '宋体';">请验单号:</span>
			<span style="font-size: 15px;font-family: 'Times New Roman';" th:text="${dhxxDto.qydh}" th:value="${dhxxDto.qydh}"></span>
		</div>
		<!--表下半部分内容-->
		<div style="margin:auto;width:100%;border: none">
			<table style="width:100%;border-collapse:collapse;">
				<tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:3%">序号</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:9%">物料编码</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:7%">货号</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:7%">品名</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:7%">规格</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:7%">追溯号</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:8%">生产批号</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:8%">生产日期</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:8%">有效期限</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:7%">批量</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:7%">单位</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:4%">取样数量</th>
					<th cellspacing="0" style="text-align:center;border: 1px solid #000;width:7%">备注</th>
				</tr>
				<tr style="font-family:宋体;font-size:10px;" th:if="${qjhwlist != null && qjhwlist.size() >0}" th:each="hwxxDto: ${qjhwlist}">
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDtoStat.index+1}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.wlbm}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.ychh}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.wlmc}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.gg}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.zsh}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.scph}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.scrq}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.yxq}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.dhsl}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.jldw}"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;"/>
					<td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${hwxxDto.bz}"/>
				</tr>
			</table>
		</div>
		<!--签名部分-->
		<div style="margin:auto;width:700px;border:none;position:fixed ;bottom:0;">
			<table style="bottom:0;margin:auto;width:80%;padding-left:10%;border-collapse:collapse;font-family:宋体;font-size:13px;">
				<tr>
					<th style="text-align: left">请验人:　　　　　　　年　　月　　日</th>
					<th style="text-align: right">取样人:　　　　　　　年　　月　　日</th>
				</tr>
			</table>
		</div>
	</div>
</form>

<div style="page-break-after: always;"></div>
</body>
</html>