<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>选择发货明细</title>
	<script type="text/javascript" th:src="@{${urlPrefix}+'/js/storehouse/dhxx/deliver_chooseInfoList.js'}" charset="utf-8"></script>
	<style type="text/css">
		th{
			font-weight:bold;
			text-align: center;
		}
	</style>
</head>
<body>
 	<form id="chooseFhmxForm" class="form-horizontal">
		<input type="hidden"  name="fhid" th:value="${fhglDto.fhid}"/>
 		<div class="body-content">
			<div class="panel panel-default sample-formal">
				<div class="panel-heading">
					查询条件
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-sm-6">
				        	<div class="form-group">
				         		<label for="" class="col-sm-3 control-label">发货单号</label>
				    			<div class="col-sm-9 padding_t7" th:text="${fhglDto.fhdh}">&nbsp;</div>
				   			</div>
						</div>
						<div class="col-md-6 col-sm-6">
				        	<div class="form-group">
				         		<label for="" class="col-sm-3 control-label">销售部门</label>
				    			<div class="col-sm-9 col-xs-9 col-md-9 padding_t7" th:text="${fhglDto.xsbmmc}">&nbsp;</div>
				   			</div>
						</div>
						<div class="col-md-6 col-sm-6" style="height:40px;">
							<div class="form-group">
								<label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
									关键字
								</label>
								<div class="col-sm-9 col-xs-9 col-md-9">
									<div class="input-group">
										<input type="text" id="cxnr" name="cxnr" placeholder="物料编码、物料名称" class="form-control"
											onkeydown="if(event.keyCode==13) {selectFhmx(); return false;}" />
										<span class="input-group-btn">
											<button type="button" onclick="selectFhmx()" class="btn btn-primary">查询</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
			<tr style="background-color: #63a3ff;">
				<th style="width:30px;"><input id="checkAll" name="checkAll" onclick="checkAllClick();" type='checkbox'/></th>
				<th style="width:50px;"><span th:text="序号" /></th>
				<th style="width:80px;"><span th:text="物料编码" /></th>
				<th style="width:120px;"><span th:text="物料名称" /></th>
				<th style="width:50px;"><span th:text="规格" /></th>
				<th style="width:100px;"><span th:text="物料类别" /></th>
				<th style="width:100px;"><span th:text="物料子类别名称" /></th>
				<th style="width:50px;"><span th:text="发货数量" /></th>
				<th style="width:50px;"><span th:text="可退数量" /></th>
			</tr>
         	<div th:if="${fhmxDtos != null && fhmxDtos.size() >0}" th:each="t_fhmxDto:${fhmxDtos}">
         		<tr th:onclick="checkClick([[${t_fhmxDto.fhmxid}]],event);" th:id="'tr_'+${t_fhmxDto.fhmxid}" name="trFhmx" th:data-wlbm="${t_fhmxDto.wlbm}" th:data-wlmc="${t_fhmxDto.wlmc}" >
         			<td><input th:id="'check_'+${t_fhmxDto.fhmxid}" name="checkFhmx" th:data-fhmxid="${t_fhmxDto.fhmxid}" type='checkbox'/></td>
         			<td><span th:title="${t_fhmxDtoStat.index+1}" th:text="${t_fhmxDtoStat.index+1}"/></td>
					<td><span th:title="${t_fhmxDto.wlbm}" th:text="${t_fhmxDto.wlbm}"/></td>
					<td><span th:title="${t_fhmxDto.wlmc}" th:text="${t_fhmxDto.wlmc}"/></td>
					<td><span th:title="${t_fhmxDto.gg}" th:text="${t_fhmxDto.gg}"/></td>
					<td><span th:title="${t_fhmxDto.wllbmc}" th:text="${t_fhmxDto.wllbmc}"/></td>
                    <td><span th:title="${t_fhmxDto.wlzlbmc}" th:text="${t_fhmxDto.wlzlbmc}"/></td>
					<td><span th:title="${t_fhmxDto.fhsl}" th:text="${t_fhmxDto.fhsl}"/></td>
					<td><span th:title="${t_fhmxDto.kthsl}" th:text="${t_fhmxDto.kthsl}"/></td>
				</tr>
			</div>
		</table>
	</form>
</body>
</html>