<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/detection/detectPJ/detectPJ_view.js"></script>
</head>
<style>
    #detectPJ_viewForm td{
        vertical-align: middle;
    }
</style>
<body>
<script type="text/javascript">
    function xz(fjid){
        jQuery('<form action="/common/file/downloadFile" method="POST">' +  // action请求路径及推送方法
            '<input type="text" name="fjid" value="'+fjid+'"/>' +
            '<input type="text" name="access_token" value="'+$("#ac_tk").val()+'"/>' +
            '</form>')
            .appendTo('body').submit().remove();
    }

    function xzword(fjid){
        jQuery('<form action="/common/file/downloadFile" method="POST">' +  // action请求路径及推送方法
            '<input type="text" name="fjid" value="'+fjid+'"/>' +
            '<input type="text" name="access_token" value="'+$("#ac_tk").val()+'"/>' +
            '</form>')
            .appendTo('body').submit().remove();
    }
    function view(fjid){
        $("#covidview_formSearch input[name='access_token']").val($("#ac_tk").val());
        var url= "/common/file/pdfPreview?fjid=" + fjid;
        $.showDialog(url,'报告',PdfMaterConfig);}

    var PdfMaterConfig = {
        width		: "800px",
        height		: "500px",
        offAtOnce	: true,
        buttons		: {
            cancel : {
                label : "关 闭",
                className : "btn-default"
            }
        }
    };
</script>
<form id="detectPJ_viewForm" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <ul class="nav nav-tabs sl_nav_tabs" role="tablist">
        <li class=" nav-item">
            <a class="nav-link active" href="#partnerInfoTab" role="tab" data-bs-toggle="tab">基本信息</a>
        </li>
        <li class=" nav-item">
            <a class="nav-link" href="#jcxmgb" role="tab" data-bs-toggle="tab">检测项目&报告</a>
        </li>
        <li class=" nav-item">
            <a class="nav-link" href="#jcjggb" role="tab" data-bs-toggle="tab">检测结果</a>
        </li>
    </ul>
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in"  id="partnerInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    样本编号:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.ybbh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    样本子编号:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.bbzbh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    实验号:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.syh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    主治医师:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.sjys}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    医师电话:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.ysdh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    患者姓名:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.xm}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    性别:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.xbmc}" />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    年龄:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.nl}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    手机:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.lxdh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    检测项目:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.jcxmmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    住院号:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.zyh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    床位号:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.ch}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    科室:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.ksmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    检测单位:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.jcdwmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    医院名称:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.sjdwmc}" />
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">-->
<!--                                    检测项目:-->
<!--                                </label>-->
<!--                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">-->
<!--                                    <span th:text="${fzjcxxDto.jcxmmc}" />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    采集人员:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.cjry}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    采集日期:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.cjsj}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    实验人员:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.syrymc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    实验日期:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.sysj}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    接收人员:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.jsrymc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    接收日期:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.jssj}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    标本类型:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.yblxmc}" />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    标本状态:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.bbztmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    检测结果:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px" th:if="${fzjcxxDto.jcjgmc!='阳性'}">
                                    <span th:text="${fzjcxxDto.jcjgmc}" style="color: green"/>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px" th:if="${fzjcxxDto.jcjgmc=='阳性'}">
                                    <span th:text="${fzjcxxDto.jcjgmc}" style="color: red"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    首次报告日期:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.bgrq}" />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    报告:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <a href="javascript:void(0)" class="btn btn-success"  th:onclick="view([[${fjcfbDto.fjid}]])" th:if="${ pdfList != null && pdfList.size() >0}" th:each="fjcfbDto:${pdfList}">
                                        查看报告请点击此处
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-success" th:onclick="xz([[${fjcfbDto.fjid}]])" th:if="${pdfList != null && pdfList.size() >0}" th:each="fjcfbDto:${pdfList}">
                                        下载报告
                                    </a>
                                    <a th:if="${wordList != null && wordList.size() >0}" th:each="zhwjpdfDto:${wordList}"  href="javascript:void(0)" class="btn btn-success" th:onclick="xzword([[${zhwjpdfDto.fjid}]])">
                                        下载WORD
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    备注:
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${fzjcxxDto.bz}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <div id="fjcfbDto" th:if="${jgList != null && jgList.size() >0}" th:each="fjcfbDto:${jgList}">
                                    <div th:id="${fjcfbDto.fjid}" >
                                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件"></label>
                                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
                                        <div class="col-sm-8 col-xs-8 col-md-8">
                                            <label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
                                            <button style="outline:none;margin-bottom:5px;padding:0px;" class="btn btn-link" type="button" title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
                                                <span th:text="${fjcfbDto.wjm}"></span>
                                                <span class="glyphicon glyphicon glyphicon-save"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="jcxmgb" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="partner_table">
                        <table class="table table-bordered">
                            <thead>
                                <th style="width: 10%">序号</th>
                                <th style="width: 30%">项目</th>
                                <th style="width: 30%">子项目</th>
                                <th style="width: 10%">报告日期</th>
                                <th style="width: 20%">报告</th>
                            </thead>
                            <tbody>
                                <tr th:if="${jcxmlist != null && jcxmlist.size() >0}" th:each="jcxm:${jcxmlist}">
                                    <td  th:text="${jcxmStat.index+1}">序号</td>
                                    <td  th:text="${jcxm.jcxmmc}">项目</td>
                                    <td  th:text="${jcxm.jczxmmc}">子项目</td>
                                    <td  th:text="${jcxm.bgrq}">报告日期</td>
                                    <td>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <a href="javascript:void(0)" class="btn btn-success"  th:onclick="view([[${fjcfbDto.fjid}]])" th:if="${jcxm.pdfList != null && jcxm.pdfList.size() >0}" th:each="fjcfbDto:${jcxm.pdfList}">
                                                    查看报告请点击此处
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <a href="javascript:void(0)" class="btn btn-success" th:onclick="xz([[${fjcfbDto.fjid}]])" th:if="${jcxm.pdfList != null && jcxm.pdfList.size() >0}" th:each="fjcfbDto:${jcxm.pdfList}">
                                                    下载报告
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <a th:if="${jcxm.wordList != null && jcxm.wordList.size() >0}" th:each="wordDto:${jcxm.wordList}"  href="javascript:void(0)" class="btn btn-success" th:onclick="xzword([[${wordDto.fjid}]])">
                                                    下载WORD
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="jcjggb" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="partner_table" style="overflow-x: auto;width:100%;">
                        <table class="table table-bordered">
                            <thead>
                            <th style="width: 15%">项目</th>
                            <th style="width: 15%">子项目</th>
                            <th style="width: 15%">普检结果</th>
                            <th style="width: 40%">结果</th>
                            <th style="width: 15%">CT值</th>
                            <th style="width: 15%" th:if="${tabNames != null && tabNames.size() >0}"  th:each="str:${tabNames}" th:text="${str}"></th>
                            </thead>
                            <tbody>
                            <tr th:if="${list != null && list.size() >0}"  th:each="dto:${list}">
                                <td style="width: 15%" th:text="${dto.fzjcxmmc}">项目</td>
                                <td style="width: 15%" th:text="${dto.fzjczxmmc}">子项目</td>
                                <td style="width: 15%" th:text="${dto.jgmc}">普检结果</td>
                                <td style="width: 40%" th:if="${dto.jcjgmc=='阳性'}">
                                    <span  th:text="${dto.jcjgmc}" style="color: red"></span>
                                </td>
                                <td style="width: 40%" th:if="${dto.jcjgmc!='阳性'}">
                                    <span  th:text="${dto.jcjgmc}" style="color: green"></span>
                                </td>
                                <td style="width: 15%">
                                    <span  th:text="${dto.ctz}"></span>
                                </td>
                                <td style="width: 15%" th:if="${dto.bzctzs != null && dto.bzctzs.size() >0}"  th:each="bzctz:${dto.bzctzs}">
                                    <span  th:text="${bzctz}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>