<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <script type="text/javascript" src="/js/plugins/bootbox/lang/zh_CN-min.js" charset="utf-8"></script>
</head>
<body>
<form id="editDrugResistanceAnalysisForm" th:action ="'/analysis/analysis/'+${zsxxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="zsid" id="zsid" th:value="${zsxxDto.zsid}"/>
    <div class="body-content">
        <div class="panel panel-default sample-formal">
            <div class="panel-body">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">耐药基因名：</label>
                        <div class="col-sm-8">
                            <input id="mc" name="mc" class="form-control"  th:value="${zsxxDto.mc}"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">革兰氏染色体：</label>
                        <div class="col-sm-8">
                            <input id="glsrst" name="glsrst" class="form-control"  th:value="${zsxxDto.glsrst}"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">基因所属物种：</label>
                        <div class="col-sm-8">
                            <input id="knwzly" name="knwzly" class="form-control"  th:value="${zsxxDto.knwzly}"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">注释：</label>
                        <div class="col-sm-10">
                            <textarea type="text" id="zs" name="zs" th:text="${zsxxDto.zs}" class="form-control" style="height: 50px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>