@charset "UTF-8";
/**
 * 
 * @authors Griezmann (you@example.org)
 * @date    2018-06-29 10:18:43
 * @version $Id$
 */

@font-face {
	/* font-family: 'GOTHAM-XLIGHT';*/
	src:url('../fonts/GOTHAM-XLIGHT.ttf') format('truetype'); /* Safari, Android, iOS */
}


body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,input{margin:0;padding:0}em,i{font-style:normal}li{list-style:none}a,a:hover{text-decoration:none}img{border:0}table{border-collapse:collapse;border-spacing:0}label{cursor:default}textarea{resize:none}a,a:focus{outline:none}.clearfix:after{content:'\20';display:block;height:0;clear:both}.clearfix{*zoom:1}.clear{display:block;height:0;clear:both;font-size:0;line-height:0;overflow:hidden}.fl{float:left;display:inline}.fr{float:right;display:inline}.fn{float:none}.tl{text-align:left}.tr{text-align:right}.tc{text-align:center}.hide{display:none}.show{display:block}.mt10{margin-top:10px}.noBg{background:none!important}.noBorder{border:0!important}.red{color:red}.mb15{margin-bottom:15px}body,button,input,select,textarea{font:12px/1.5 Tahoma,Arial,'Hiragino Sans GB','Microsoft YaHei',\5b8b\4f53}
body{background: #fff;width:100%;font-family:'Microsoft YaHei';}
a{color:#555;text-decoration:none;}
a:hover{color:#8f1d22;}
img{max-width:100%;vertical-align: middle;}
.wrapper{width:100%;position:relative;overflow:hidden;}
