<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.detection.molecule.dao.post.ICsmxxDao" >

    <select id="getPagedDtoList" parameterType="CsmxxDto" resultType="CsmxxDto">
        select csm.csmid, csm.yhid, csm.cyd, csm.sjdw, csm.jcdw, csm.yxrq, xx.dwmc||case when xx.cskz1 ='1' then '--' else '' end as sjdwmc, yh.zsxm xm
        from igams_csmxx csm
        left join igams_yyxx xx on xx.dwid = csm.sjdw and xx.scbj='0'
        left join matridx_xtyh yh on yh.yhid = csm.yhid and yh.scbj='0'
        <where>
            csm.scbj='0'
        </where>
    </select>

    <select id="getDtoList" parameterType="CsmxxDto" resultType="CsmxxDto">
        select csm.csmid, csm.yhid, csm.cyd, csm.sjdw, csm.jcdw, csm.yxrq, xx.dwmc||case when xx.cskz1 ='1' then '--' else '' end as sjdwmc, yh.zsxm xm
        from igams_csmxx csm
        left join igams_yyxx xx on xx.dwid = csm.sjdw and xx.scbj='0'
        left join matridx_xtyh yh on yh.yhid = csm.yhid and yh.scbj='0'
        <where>
            csm.scbj='0'
        </where>
    </select>

    <select id="getDto" parameterType="CsmxxDto" resultType="CsmxxDto">
        SELECT csm.csmid, csm.yhid, csm.cyd, csm.sjdw, csm.jcdw, csm.yxrq, xx.dwmc||case when xx.cskz1 ='1' then '--' else '' end as sjdwmc, yh.zsxm xm
        FROM igams_csmxx csm
        LEFT JOIN igams_yyxx xx on xx.dwid = csm.sjdw and xx.scbj='0'
        LEFT JOIN matridx_xtyh yh on yh.yhid = csm.yhid and yh.scbj='0'
        <where>
            csm.scbj='0' and csm.csmid=#{csmid}
        </where>
    </select>

    <select id="getDtoById" parameterType="String" resultType="CsmxxDto">
        SELECT csm.csmid, csm.yhid, csm.cyd, csm.sjdw, csm.jcdw, csm.yxrq, xx.dwmc||case when xx.cskz1 ='1' then '--' else '' end as sjdwmc, yh.zsxm xm
        FROM igams_csmxx csm
        LEFT JOIN igams_yyxx xx on xx.dwid = csm.sjdw and xx.scbj='0'
        LEFT JOIN matridx_xtyh yh on yh.yhid = csm.yhid and yh.scbj='0'
        <where>
            csm.scbj='0' and csm.csmid=#{csmid}
        </where>
    </select>

    <insert id="insertDto" parameterType="CsmxxDto">
        insert into igams_csmxx
        (
        csmid,lrry,lrsj,scbj
        <if test="yhid !=null and yhid !=''">
            ,yhid
        </if>
        <if test="cyd !=null and cyd !=''">
            ,cyd
        </if>
        <if test="sjdw !=null and sjdw !=''">
            ,sjdw
        </if>
        <if test="jcdw !=null and jcdw !=''">
            ,jcdw
        </if>
        <if test="yxrq !=null and yxrq !=''">
            ,yxrq
        </if>
        )
        values(
        #{csmid},#{lrry},LOCALTIMESTAMP,'0'
        <if test="yhid !=null and yhid !=''">
            ,#{yhid}
        </if>
        <if test="cyd !=null and cyd !=''">
            ,#{cyd}
        </if>
        <if test="sjdw !=null and sjdw !=''">
            ,#{sjdw}
        </if>
        <if test="jcdw !=null and jcdw !=''">
            ,#{jcdw}
        </if>
        <if test="yxrq !=null and yxrq !=''">
            ,cast(#{yxrq} as TIMESTAMP)
        </if>
        )
    </insert>

    <update id="updateDto" parameterType="CsmxxDto">
        update igams_csmxx csm
        set xgry = #{xgry}, xgsj = LOCALTIMESTAMP
        <if test="yhid !=null and yhid !=''">
            ,yhid = #{yhid}
        </if>
        <if test="cyd !=null and cyd !=''">
            ,cyd = #{cyd}
        </if>
        <if test="sjdw !=null and sjdw !=''">
            ,sjdw = #{sjdw}
        </if>
        <if test="jcdw !=null and jcdw !=''">
            ,jcdw = #{jcdw}
        </if>
        <if test="yxrq !=null and yxrq !=''">
            ,yxrq = cast(#{yxrq} as TIMESTAMP)
        </if>
        <where>
            csmid=#{csmid}
        </where>
    </update>

    <delete id="delete" parameterType="ShtxDto">
        delete from igams_csmxx csm
        <where>
            csmid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </delete>

</mapper>
