<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.detection.molecule.dao.post.IFzbbztDao" >
    <delete id="deleteByFzjcid" parameterType="String">
        delete from igams_fzbbzt where fzjcid=#{fzjcid}
    </delete>

    <insert id="insertFzbbzt" parameterType="list">
        insert into igams_fzbbzt(fzjcid,xh,zt )values
        <if test="list !=null and list.size>0">
            <foreach collection="list" separator="," item="item" index="index">
                (#{item.fzjcid},cast(#{item.xh} as numeric),#{item.zt})
            </foreach>
        </if>
    </insert>

    <select id="getListByFzjcid" parameterType="String" resultType="FzbbztDto">
        select fzbbzt.fzjcid,fzbbzt.xh,fzbbzt.zt,jc_bbzt.csmc ztmc from igams_fzbbzt fzbbzt
        left join matridx_jcsj jc_bbzt on jc_bbzt.csid = fzbbzt.zt
        where fzjcid=#{fzjcid}
    </select>

    <select id="getZtListByFzjcid" parameterType="String" resultType="String">
        select zt from igams_fzbbzt where fzjcid=#{fzjcid}
    </select>

</mapper>
