<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.detection.molecule.dao.post.IFzjcxmPJDao" >
    <select id="getDto" parameterType="FzjcxmDto" resultType="FzjcxmDto">
        select fzjcxm.fzxmid,fzjcxx.fzjcid,fzjcxx.ybbh,jclx.csdm jclxdm,fzjcxx.bgrq zbgrq,fzjcxx.xm,fzjcxm.zt,
        fzjcxm.fzjcxmid,fzjcxm.fzjczxmid,jc_jcxm.csmc jcxmmc,jc_jczxm.csmc jczxmmc, coalesce(fzjcxx.bgwcs,0) bgwcs,
        fzjcxx.syh,fzjcxx.nl,jcdw_jcsj.csmc jcdwmc,fzjcxx.sjdwmc,ks.dwmc ksmc,fzjcxx.jssj,fzjcxx.sysj,yblx_jcsj.csmc yblxmc,syry.zsxm syrymc,yyxx.dwmc as dwmc,coalesce(fzjcxx.xms,0) xms
        from igams_fzjcxm fzjcxm
        left join igams_fzjcxx fzjcxx on fzjcxx.fzjcid = fzjcxm.fzjcid
        left join matridx_jcsj jc_jcxm on jc_jcxm.csid=fzjcxm.fzjcxmid
        left join matridx_jcsj jc_jczxm on jc_jczxm.csid=fzjcxm.fzjczxmid
        left join matridx_jcsj jclx on jclx.csid=fzjcxx.jclx
        left join matridx_jcsj jcdw_jcsj on jcdw_jcsj.csid=fzjcxx.jcdw
        left join igams_sjdwxx ks on ks.dwid=fzjcxx.ks
        left join matridx_jcsj yblx_jcsj on yblx_jcsj.csid=fzjcxx.yblx
        left join matridx_xtyh syry on syry.yhid=fzjcxx.syry
        left join igams_yyxx yyxx on yyxx.dwid=fzjcxx.sjdw
        <where>
            fzjcxm.scbj='0'
            <if test="fzxmid != null and fzxmid != ''">
                and fzjcxm.fzxmid = #{fzxmid}
            </if>
            <if test="fzjcid != null and fzjcid != ''">
                and fzjcxm.fzjcid = #{fzjcid}
            </if>
            <if test="fzjcxmid != null and fzjcxmid != ''">
                and fzjcxm.fzjcxmid = #{fzjcxmid}
            </if>
            <if test="fzjczxmid != null and fzjczxmid != ''">
                and fzjcxm.fzjczxmid = #{fzjczxmid}
            </if>
        </where>
    </select>
     <select id="getDtoListByFzjcid" parameterType="String" resultType="FzjcxmDto">
        select fzjcxm.fzxmid,fzjcxm.fzjcid,fzjcxm.fzjcxmid,fzjcxm.fzjczxmid,jc_jcxm.csmc jcxmmc,jc_jczxm.csmc jczxmmc,fzjcjg.jcjg,jcjg.csmc jcjgmc,to_char(fzjcxm.bgrq,'yyyy-mm-dd hh24:mi') bgrq
        from igams_fzjcxm fzjcxm
        left join matridx_jcsj jc_jcxm on jc_jcxm.csid=fzjcxm.fzjcxmid
        left join matridx_jcsj jc_jczxm on jc_jczxm.csid=fzjcxm.fzjczxmid
        left join igams_fzjcjg fzjcjg on fzjcjg.fzxmid=fzjcxm.fzxmid
         left join matridx_jcsj jcjg on jcjg.csid=fzjcjg.jcjg
        <where>
            fzjcxm.scbj='0' and fzjcxm.fzjcid=#{fzjcid}
        </where>
        order by fzjcxm.fzjcxmid asc
    </select>
    <select id="getDtoList" parameterType="FzjcxmDto" resultType="FzjcxmDto">
        select fzjcxm.fzxmid,fzjcxm.fzjcxmid,fzjcxm.fzjczxmid,fzjcxm.fzjcid
        from igams_fzjcxm fzjcxm
        <where>
            fzjcxm.scbj='0'
            <if test="ids !=null and ids.size >0" >
                and fzjcxm.fzxmid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="fzjcid != null and fzjcid != ''">
                and fzjcxm.fzjcid = #{fzjcid}
            </if>
        </where>
        order by fzjcxm.fzjcxmid asc
    </select>

    <select id="getJcxmListByFzjcid" parameterType="String" resultType="FzjcxmDto">
        select fzjcxm.fzxmid,fzjcxm.fzjcid,fzjcxm.fzjcxmid,fzjcxm.fzjczxmid,jc_jcxm.csmc jcxmmc,jc_jczxm.csmc jczxmmc,to_char(fzjcxm.bgrq,'yyyy-mm-dd hh24:mi') bgrq
        from igams_fzjcxm fzjcxm
        left join matridx_jcsj jc_jcxm on jc_jcxm.csid=fzjcxm.fzjcxmid
        left join matridx_jcsj jc_jczxm on jc_jczxm.csid=fzjcxm.fzjczxmid
        <where>
            fzjcxm.scbj='0' and  fzjcxm.fzjcid=#{fzjcid}
        </where>
        order by fzjcxm.fzjcxmid asc
    </select>
    
    <insert id="insertDto" parameterType="FzjcxmDto">
       insert into igams_fzjcxm(fzxmid
       <if test="fzjcid != null and fzjcid != ''">
          ,fzjcid
       </if>
       <if test="fzjcxmid != null and fzjcxmid != ''">
          ,fzjcxmid
       </if>
       <if test="fzjczxmid != null and fzjczxmid != ''">
          ,fzjczxmid
       </if>
          )values(#{fzxmid}
       <if test="fzjcid != null and fzjcid != ''">
          ,#{fzjcid}
       </if>
       <if test="fzjcxmid != null and fzjcxmid != ''">
          ,#{fzjcxmid}
       </if>
       <if test="fzjczxmid != null and fzjczxmid != ''">
          ,#{fzjczxmid}
       </if>
       ,scbj
       )
   </insert>

    <insert id="insertFzjcxmDto" parameterType="FzjcxmDto">
        insert into igams_fzjcxm(fzxmid
        <if test="fzjcid != null and fzjcid != ''">
            ,fzjcid
        </if>
        <if test="fzjcxmid != null and fzjcxmid != ''">
            ,fzjcxmid
        </if>
        <if test="fzjczxmid != null and fzjczxmid != ''">
            ,fzjczxmid
        </if>
        )values(#{fzxmid}
        <if test="fzjcid != null and fzjcid != ''">
            ,#{fzjcid}
        </if>
        <if test="fzjcxmid != null and fzjcxmid != ''">
            ,#{fzjcxmid}
        </if>
        <if test="fzjczxmid != null and fzjczxmid != ''">
            ,#{fzjczxmid}
        </if>
        ,'0'
        )
    </insert>

   <select id="generateReportList" parameterType="String" resultType="Map">
   		select  jc_xm.csmc as xmmc,fzjcjg.jcjg,jc_xm.cskz1 as xmjc
			from igams_fzjcxm fzjcxm
			left join matridx_jcsj jc_xm on jc_xm.csid=fzjcxm.fzxmid and jc_xm.scbj!='1'
			left join igams_fzjcjg fzjcjg on fzjcjg.fzxmid=fzjcxm.fzjcid
			where fzjcxm.scbj='0' and fzjcxm.fzjcid=#{fzjcid}
   </select>
   <update id="delFzjcxmByFzjc" parameterType="FzjcxmDto">
       update igams_fzjcxm set scbj ='1' ,scry = #{scry}, scsj = LOCALTIMESTAMP where scbj ='0' and fzjcid in
       <foreach collection="ids" item="item" separator="," open="(" close=")">
           #{item}
       </foreach>
   </update>
   <update id="delFzjcxmByIds" parameterType="FzjcxmDto">
		update igams_fzjcxm set scbj ='1' ,scry = #{scry}, scsj = LOCALTIMESTAMP where fzxmid in
       <foreach collection="ids" item="item" separator="," open="(" close=")">
        #{item}
       </foreach>
   </update>
    <!--获取新冠报告-->
    <select id="getFzjcxxByybbh" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select fzjcxx.fzjcid,fzjcxx.hzid,hzxx.xm,case hzxx.xb WHEN '1' THEN '男' WHEN '2' THEN '女' ELSE '' END xb,fzjcxx.jclx,
        hzxx.sj,hzxx.nl,fzjcxx.jcxmmc,yblx_jcsj.csmc yblx,fzjcxx.cjsj,fzjcxx.sfjs,xtyh.zsxm cjryxm,fzjcxx.ybbh,fzjcxx.jcjgmc,jcdw.csmc jcdwmc
        from igams_fzjcxx fzjcxx
        left join igams_hzxx hzxx on hzxx.hzid = fzjcxx.hzid
        left join matridx_jcsj yblx_jcsj on yblx_jcsj.csid=fzjcxx.yblx
        left join matridx_xtyh xtyh on xtyh.yhid=fzjcxx.cjry
        left join matridx_jcsj jcdw on jcdw.csid=fzjcxx.jcdw
        <where>
            fzjcxx.scbj='0'
            <if test="ybbh != null and ybbh != ''">
                and fzjcxx.ybbh=#{ybbh}
            </if>
            <if test="fzjcid != null and fzjcid != ''">
                and fzjcxx.fzjcid=#{fzjcid}
            </if>
        </where>
    </select>

    <select id="getXmGroupList" parameterType="FzjcxmDto" resultType="FzjcxmDto">
        select
        row_number() over(partition by jcxm.fzjcid order by  jcxm.fzxmid,jc_xm.cspx asc,jc_zxm.cspx asc,pjjg.cspx asc) as rownum,
            jc_xm.csmc jcxmmc,jc_zxm.csmc jczxmmc,jcxm.fzjcid,jcxm.fzxmid,jcxm.fzjczxmid,fzjcxx.xm,fzjcxx.ybbh,
        pjjg.csmc pjjgmc,pjjg.csid pjjg,jcxm.zt,fzjcjg.ctz,fzjcjg.jcjg
        from
        igams_fzjcxm jcxm
        left join matridx_jcsj jc_xm on jc_xm.csid=jcxm.fzjcxmid
        left join matridx_jcsj jc_zxm on jc_zxm.csid=jcxm.fzjczxmid
        left join igams_fzjcxx fzjcxx on fzjcxx.fzjcid=jcxm.fzjcid
        left join matridx_jcsj pjjg on pjjg.fcsid=jc_zxm.csid and pjjg.scbj='0'
        left join igams_fzjcjg fzjcjg on fzjcjg.fzxmid = jcxm.fzxmid and pjjg.csid = fzjcjg.jgid
        where
        jcxm.scbj='0' and  jcxm.fzjcid in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        order by  fzjcxx.ybbh,jcxm.fzxmid,jc_xm.cspx asc,jc_zxm.cspx asc,pjjg.cspx asc
    </select>

    <!--根据子项目查询分子检测基本信息-->
    <select id="getFzjcxxInfoForGenerateReport" parameterType="FzjcxmDto" resultType="Map">
        select fzjcxx.fzjcid,fzjcxx.xm,xb_jcsj.csmc xb,fzjcxx.nl,fzjcxx.ch,to_char(fzjcxm.bgrq,'yyyy-mm-dd hh24:mi') bgrq,
        case when yyxx.cskz1 ='1' then fzjcxx.sjdwmc else yyxx.dwmc end as sjdwmc,fzjcxx.sjys,fzjcxx.zyh,fzjcxx.ybbh,
        case when ks_jcsj.kzcs ='1' then fzjcxx.qtks else ks_jcsj.dwmc end as ksmc,
        yblx_jcsj.csmc||case when yblx_jcsj.cskz1 ='1' then '--'||fzjcxx.yblxmc else '' end as yblxmc,to_char(fzjcxx.cjsj,'yyyy-mm-dd hh24:mi') cjsj,
        fzjcxx.bz,fzjcxx.syry,syry_xt.yhm jyryhm,fzjcxm.fzxmid,fzjcxm.fzjczxmid,fjcfb.wjlj gzlxdz,to_char(fzjcxx.jssj,'yyyy-mm-dd hh24:mi') jssj
        from igams_fzjcxm fzjcxm
        left join igams_fzjcxx fzjcxx on fzjcxx.fzjcid = fzjcxm.fzjcid and fzjcxx.scbj = '0'
        left join matridx_jcsj yblx_jcsj on yblx_jcsj.csid = fzjcxx.yblx
        left join igams_sjdwxx ks_jcsj on ks_jcsj.dwid = fzjcxx.ks
        left join matridx_jcsj xb_jcsj on xb_jcsj.csdm = fzjcxx.xb and xb_jcsj.jclb = 'GENDER_TYPE'
        left join igams_yyxx yyxx on yyxx.dwid = fzjcxx.sjdw
        left join matridx_xtyh syry_xt on syry_xt.yhid=fzjcxx.syry
        left join matridx_jcsj jcxm_jcsj on jcxm_jcsj.csid = fzjcxm.fzjcxmid
        left join matridx_jcsj gzlx_jcsj on gzlx_jcsj.csid = jcxm_jcsj.cskz2
        left join matridx_fjcfb fjcfb on fjcfb.ywid = gzlx_jcsj.csid and fjcfb.scbj='0' and ywlx ='STAMP_PIC'
        <where>
            fzjcxm.scbj='0'
            <if test="flag == '1'.toString()">
                and fzjcxm.zt = '80'
            </if>
            <if test="fzjczxmids !=null and fzjczxmids.length > 0">
                and fzjcxm.fzjczxmid in
                <foreach collection="fzjczxmids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="fzjcid != null and fzjcid != ''">
                and fzjcxx.fzjcid = #{fzjcid}
            </if>
            <if test="fzxmid != null and fzxmid != ''">
                and fzjcxm.fzxmid = #{fzxmid}
            </if>
            <if test="ids !=null and ids.size > 0">
                and fzjcxx.fzjcid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <insert id="insertListJcxmAndjczxm" parameterType="list" >
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                insert into igams_fzjcxm(fzxmid
                <if test="item.fzjcid != null and item.fzjcid != ''">
                    ,fzjcid
                </if>
                <if test="item.fzjcxmid != null and item.fzjcxmid != ''">
                    ,fzjcxmid
                </if>
                <if test="item.fzjczxmid != null and item.fzjczxmid != ''">
                    ,fzjczxmid
                </if>
                <if test="item.lrry != null and item.lrry != ''">
                    ,lrry
                </if>
                ,lrsj,scbj,zt
                )values(#{item.fzxmid}
                <if test="item.fzjcid != null and item.fzjcid != ''">
                    ,#{item.fzjcid}
                </if>
                <if test="item.fzjcxmid != null and item.fzjcxmid != ''">
                    ,#{item.fzjcxmid}
                </if>
                <if test="item.fzjczxmid != null and item.fzjczxmid != ''">
                    ,#{item.fzjczxmid}
                </if>
                <if test="item.lrry != null and item.lrry != ''">
                    ,#{item.lrry}
                </if>
                ,LOCALTIMESTAMP,'0','00'
                )
            </foreach>
        </if>
    </insert>
    <!--更新申请的状态信息-->
    <update id="updateZt" parameterType="FzjcxmDto">
        update igams_fzjcxm set
        xgry = #{xgry},xgsj = LOCALTIMESTAMP
        <if test="zt !=null and zt !=''">
            ,zt = #{zt}
        </if>
        <if test="bgrq !=null and bgrq !=''">
            ,bgrq = cast(#{bgrq} as timestamp)
        </if>
        where fzxmid = #{fzxmid}
    </update>

    <update id="updateFzjcxmDtos" parameterType="FzjcxmDto">
        update igams_fzjcxm fzjcxm
        set bgrq=cast(tmp.bgrq as timestamp)
        from
        (VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (
            <choose>
                <when test="item.bgrq != null and item.bgrq != ''">
                    #{item.bgrq}
                </when>
                <otherwise>NULL</otherwise>
            </choose>
            ,#{item.fzxmid}
            )
        </foreach>
        )AS tmp ( bgrq,fzxmid )
        where tmp.fzxmid=fzjcxm.fzxmid
    </update>
</mapper>
