<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.detection.molecule.dao.post.IFzjcsjDao" >

    <insert id="insertDtoList" parameterType="List">
        insert into igams_fzjcsj(fzjcsjid,fzxmid,fzjcid,yqlx,jrmklx,cbyg,sywjm,sjlx,jssj,fyk,jymc,bgjy,ctz,ybm)
        values
            <foreach collection="list" separator="," item="item">
                (#{item.fzjcsjid},#{item.fzxmid},#{item.fzjcid},#{item.yqlx},#{item.jrmklx},#{item.cbyg}
                ,#{item.sywjm},#{item.sjlx},#{item.jssj},#{item.fyk},#{item.jymc},#{item.bgjy},#{item.ctz},#{item.ybm})
            </foreach>
    </insert>

    <delete id="deleteByFzjcidsAndFzxmid" parameterType="FzjcsjDto">
        delete from igams_fzjcsj
        where
        fzjcid in
              <foreach collection="ids" separator="," item="item" open="(" close=")">
                  #{item}
              </foreach>
        and fzxmid=#{fzxmid}
    </delete>

    <select id="getDtoByFzjcidAndFzxmid" parameterType="FzjcsjDto" resultType="FzjcsjDto">
        select fzjcsjid,fzxmid,fzjcid,yqlx,jrmklx,cbyg,sywjm,sjlx,jssj,fyk,jymc,bgjy,ctz,ybm
        from igams_fzjcsj
        where
        fzjcid=#{fzjcid} and fzxmid=#{fzxmid}
    </select>
</mapper>
