<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.detection.molecule.dao.post.IFzjybgDao" >
    <insert id="insert" parameterType="FzjybgDto">
        insert into igams_fzjybg (fzjybgid
        <if test="taskid != null and taskid != ''">
            ,taskid
        </if>
        <if test="resourcecode != null and resourcecode != ''">
            ,resourcecode
        </if>
        <if test="resourcename != null and resourcename != ''">
            ,resourcename
        </if>
        <if test="uploadtime != null and uploadtime != ''">
            ,uploadtime
        </if>
        <if test="resultcode != null and resultcode != ''">
            ,resultcode
        </if>
        <if test="resultdesc != null and resultdesc != ''">
            ,resultdesc
        </if>
        <if test="wjm != null and wjm != ''">
            ,wjm
        </if>
        <if test="wjlj != null and wjlj != ''">
            ,wjlj
        </if>
        ,lrsj,scbj) values(#{fzjybgid}
        <if test="taskid != null and taskid != ''">
            ,#{taskid}
        </if>
        <if test="resourcecode != null and resourcecode != ''">
            ,#{resourcecode}
        </if>
        <if test="resourcename != null and resourcename != ''">
            ,#{resourcename}
        </if>
        <if test="uploadtime != null and uploadtime != ''">
            ,cast(#{uploadtime} as timestamp )
        </if>
        <if test="resultcode != null and resultcode != ''">
            ,#{resultcode}
        </if>
        <if test="resultdesc != null and resultdesc != ''">
            ,#{resultdesc}
        </if>
        <if test="wjm != null and wjm != ''">
            ,#{wjm}
        </if>
        <if test="wjlj != null and wjlj != ''">
            ,#{wjlj}
        </if>
        ,LOCALTIMESTAMP,'0')
    </insert>
    
</mapper>
