<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.detection.molecule.dao.post.IKzbmxDao" >

    <insert id="batchInsertDtoList" parameterType="KzbmxDto" >
        <foreach collection="list" open="" close="" separator=";" index="index" item="item">
            insert into igams_kzbmx
            (lrry, lrsj, scbj
             <if test="item.kzbmxid !=null and item.kzbmxid !=''">
                ,kzbmxid
            </if>
            <if test="item.kzbid !=null and item.kzbid !=''">
                ,kzbid
            </if>
            <if test="item.xh !=null and item.xh !=''">
                ,xh
            </if>
            <if test="item.hs !=null and item.hs !=''">
                ,hs
            </if>
            <if test="item.ls !=null and item.ls !=''">
                ,ls
            </if>
            <if test="item.ybbh !=null and item.ybbh !=''">
                ,ybbh
            </if>
            <if test="item.syh !=null and item.syh !=''">
                ,syh
            </if> )
            values(  #{item.lrry} , localtimestamp, '0'
            <if test="item.kzbmxid !=null and item.kzbmxid !=''">
                ,#{item.kzbmxid}
            </if>
            <if test="item.kzbid !=null and item.kzbid !=''">
                ,#{item.kzbid}
            </if>
            <if test="item.xh !=null and item.xh !=''">
                ,cast(#{item.xh} as numeric)
            </if>
            <if test="item.hs !=null and item.hs !=''">
                ,cast(#{item.hs} as numeric)
            </if>
            <if test="item.ls !=null and item.ls !=''">
                ,cast(#{item.ls} as numeric)
            </if>
            <if test="item.ybbh !=null and item.ybbh !=''">
                ,#{item.ybbh}
            </if>
            <if test="item.syh !=null and item.syh !=''">
                ,#{item.syh}
            </if> )
        </foreach>
    </insert>

    <insert id="insert" parameterType="KzbmxDto" >
            insert into igams_kzbmx
            (lrry, lrsj, scbj
            <if test="kzbmxid !=null and kzbmxid !=''">
                ,kzbmxid
            </if>
            <if test="kzbid !=null and kzbid !=''">
                ,kzbid
            </if>
            <if test="xh !=null and xh !=''">
                ,xh
            </if>
            <if test="hs !=null and hs !=''">
                ,hs
            </if>
            <if test="ls !=null and ls !=''">
                ,ls
            </if>
            <if test="ybbh !=null and ybbh !=''">
                ,ybbh
            </if>
            <if test="syh !=null and syh !=''">
                ,syh
            </if> )
            values(  #{lrry} , localtimestamp, '0'
            <if test="kzbmxid !=null and kzbmxid !=''">
                ,#{kzbmxid}
            </if>
            <if test="kzbid !=null and kzbid !=''">
                ,#{kzbid}
            </if>
            <if test="xh !=null and xh !=''">
                ,cast(#{xh} as numeric)
            </if>
            <if test="hs !=null and hs !=''">
                ,cast(#{hs} as numeric)
            </if>
            <if test="ls !=null and ls !=''">
                ,cast(#{ls} as numeric)
            </if>
            <if test="ybbh !=null and ybbh !=''">
                ,#{ybbh}
            </if>
            <if test="syh !=null and syh !=''">
                ,#{syh}
            </if> )
    </insert>

    <select id="getKzbmxListByKzbid" parameterType="KzbmxDto" resultType="KzbmxDto">
        select kzbmx.kzbmxid, kzbmx.kzbid, kzbmx.xh, kzbmx.hs, kzbmx.ls, kzbmx.ybbh,kzbmx.syh,kzbgl.kzbh,kzbgl.kzsjph,kzbgl.tqsjph
        from igams_kzbmx kzbmx
        left join igams_kzbgl kzbgl on kzbgl.kzbid=kzbmx.kzbid
        <where>
            kzbmx.scbj='0' and kzbmx.kzbid =#{kzbid}
        </where>
        order by  kzbmx.hs asc , kzbmx.ls asc
    </select>

    <select id="getDto" parameterType="KzbmxDto" resultType="KzbmxDto">
        select kzbmx.kzbmxid, kzbmx.kzbid, kzbmx.xh, kzbmx.hs, kzbmx.ls, kzbmx.ybbh
        from igams_kzbmx kzbmx
        <where>
            kzbmx.scbj='0'
            <if test="hs !=null and hs !=''">
                and kzbmx.hs=cast(#{hs} as numeric)
            </if>
            <if test="ls !=null and ls !=''">
                and kzbmx.ls=cast(#{ls} as numeric)
            </if>
            <if test="kzbid !=null and kzbid !=''">
                and kzbmx.kzbid =#{kzbid}
            </if>
        </where>
    </select>

    <select id="getDtoByYbbh" parameterType="KzbmxDto" resultType="KzbmxDto">
        select kzbmx.kzbmxid, kzbmx.kzbid, kzbmx.xh, kzbmx.hs, kzbmx.ls, kzbmx.ybbh
        from igams_kzbmx kzbmx
        <where>
            kzbmx.scbj='0'
            and kzbmx.ybbh=#{ybbh}
            <if test="kzbid !=null and kzbid !=''">
                and kzbmx.kzbid =#{kzbid}
            </if>
        </where>
    </select>

    <update id="deleteKzbmxByKzbid" parameterType="String">
        <foreach collection="kzbidlist" close="" open="" index="index" separator=";" item="item">
            update igams_kzbmx set scbj ='1', scry =#{scry}, scsj = localtimestamp where kzbid = #{item}
        </foreach>
    </update>

    <update id="update" parameterType="KzbmxDto">
            update igams_kzbmx set  xgry =#{xgry}, xgsj = localtimestamp
        <if test="hs !=null and hs !=''">
            ,hs=cast(#{hs} as numeric)
        </if>
        <if test="ls !=null and ls !=''">
            ,ls=cast(#{ls} as numeric)
        </if>
        <if test="xh !=null and xh !=''">
            ,xh=cast(#{xh} as numeric)
        </if>
        <if test="ybbh !=null and ybbh !=''">
            ,ybbh=#{ybbh}
        </if>
        <if test="syh !=null and syh !=''">
            ,syh=#{syh}
        </if>
        where kzbmxid = #{kzbmxid}
    </update>


</mapper>
