<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.detection.molecule.dao.post.IWxbdglDao" >

    <!--根据微信id获取绑定手机号-->
    <select id="getDtoListByWxid" resultType="WxbdglDto">
        select wxid,sjh from igams_wxbdgl where wxid = #{wxid}
    </select>

    <!--根据手机号获取绑定的微信id-->
    <select id="getDtoListBySjh" resultType="WxbdglDto">
        select wxid,sjh from igams_wxbdgl where sjh = #{sjh}
    </select>

    <!--根据微信id修改绑定手机号-->
    <update id="updateSjhByWxid">
        update igams_wxbdgl set sjh = #{sjh}
        where wxid = #{wxid}
    </update>
    <!--新增绑定微信id、手机号-->
    <insert id="insertSjhAndWxid">
        insert into igams_wxbdgl
        (sjh,wxid)values(#{sjh},#{wxid})
    </insert>

</mapper>
