<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
    <form id="jkdymx_formSearch" class="form-horizontal form-inline">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" id="cxtj" class="form-control chosen-select" style="height:34px;">
                            <option value="0">全部</option>
                            <option value="1">业务ID</option>
                            <option value="2">调用地址</option>
                            <option value="3">内容</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {searchJkdymxResult(); return false;}"/>
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>
        <div th:include="common/btn/ancz.html"></div>
        <table id="jkdymx_list" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
<script type="text/javascript" src="/js/wechat/jkdymx/jkdymx_List.js?v=20240506"></script>
</html>