<!DOCTYPE html>
<html lang="zh-cn">
<head>
</head>
<body>
<form data-bs-toggle="validation"  method="post" id="modPrintHealthForm" class="form-horizontal sl_all_form">
    <div class="body-content">
        <input type="hidden" name="access_token"/>
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <input type="hidden" name="ids" id ="ids" th:value="${yghmcDto.ids}">
        <input type="hidden" name="yghmcid" id ="yghmcid" th:value="${yghmcDto.yghmcid}">
        <input type="hidden" name="zsxm" id ="zsxm" th:value="${yghmcDto.xm}">
        <input type="hidden" name="sex" id ="sex" th:value="${yghmcDto.sex}">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>记录编号:</label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input id="jlbh" name="jlbh" th:value="${yghmcDto.jlbh}" class="form-control" validate="{required:true}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                            <span style="color: red;">*</span>所属公司
                        </label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <select id="ssgs" name="ssgs" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                                <option value="">--请选择--</option>
                                <option th:each="list:${ssgslist}" th:value="${list.cskz1}"  th:text="${list.csmc}")></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>部门:</label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input id="bm" name="bm" th:value="${yghmcDto.bm}" class="form-control" validate="{required:true}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>岗位:</label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input id="gwmc" name="gwmc" th:value="${yghmcDto.gwmc}" class="form-control" validate="{required:true}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>