<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script>
        $(function(){
            laydate.render({
                elem: '#modPrintTrainDataForm #rzrq'
                ,theme: '#2381E9'
            });
        });
    </script>
</head>
<body>
<form data-bs-toggle="validation"  method="post" id="modPrintTrainDataForm" class="form-horizontal sl_all_form">
    <div class="body-content">
        <input type="hidden" name="access_token"/>
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <input type="hidden" name="gzids" id ="gzids" th:value="${yghmcDto.gzids}">
        <input type="hidden" name="yghmcid" id ="yghmcid" th:value="${yghmcDto.yghmcid}">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>录用日期:</label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input id="rzrq" name="rzrq" th:value="${yghmcDto.rzrq}" class="form-control" validate="{required:true}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label"><span style="color:red;">*</span>职称:</label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input id="zc" name="zc" th:value="${yghmcDto.zc}" class="form-control" validate="{required:true}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                            <span style="color: red;">*</span>所属公司
                        </label>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <select id="ssgs" name="ssgs" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                                <option value="">--请选择--</option>
                                <option th:each="list:${ssgslist}" th:value="${list.cskz1}"  th:text="${list.csmc}")></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>