<!DOCTYPE html>
<html lang="zh-cn">
    </head>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/train/roster/yghtuphold_Page.js'}" charset="utf-8"></script>
    <style>
        .padding_t7{
            padding-top: 3px !important;
        }
    </style>
    <body>
        <form id="yghtUpholdForm" th:action="${urlPrefix}+${yghtxxDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
            <input type="hidden" name="yghmcid" id="yghmcid" th:value="${yghtxxDto.yghmcid}">
            <input type="hidden" name="yghtmx_json" id="yghtmx_json" >
            <div class="body-content tab-content">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label" style="padding: 0">
                                        <span style="color: red;">*</span>合同起始日： </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <input id="htqsr" name="htqsr"  class="form-control" placeholder="请输入合同起始日"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label" style="padding: 0">
                                        <span style="color: red;">*</span>合同到期日： </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                        <input id="htdqr" name="htdqr"  class="form-control" placeholder="请输入合同到期日"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 padding_t7" >
                                        <div class="form-group" >
                                            <button  type="button" class="btn btn-success" onclick="cofirm()"><span id="cofirm">确定</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="tb_list" data-classes="table table-hover table-bordered table-hidden"
                               style="width:1000px;"></table>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>