<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>调整</title>
    <script type="text/javascript" src="/js/wechat/sjxx/bbsy_adjust.js?v=20231031" charset="utf-8"></script>
    <style type="text/css">
    </style>
</head>
<body>
<form id="ajaxFormBbsyAdjust" action="/sampleExperiment/sampleExperiment/pagedataAdjustSave" data-bs-toggle="validation" class="form-horizontal sl_all_form" method="post" theme="simple">
    <input type="hidden" name="ids" id="ids" th:value="${ids}"/>
    <input type="hidden" name="json" id="json"/>
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="dwList" id="dwList" th:value="${dwList}"/>
    <input type="hidden" name="jcxmids" id="jcxmids" th:value="${jcxm}"/>
    <input type="hidden" name="sjsygl_json" id="sjsygl_json"/>
    <div class="body-content tab-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="sygl_list" data-classes="table" style="width:1500px;"></table>
            </div>
        </div>
    </div>
</form>
</body>
</html>