<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/wechat/sjxx/customer_list.js" charset="utf-8"></script>
		<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
		<link rel="stylesheet" type="text/css" href="/css/base.css"/>
		<script type="text/javascript" src="/js/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js" charset="utf-8"></script>
	</head>
	<style>
		.form-control{
		 	height:31px;
		}
		.bootstrap-tagsinput{
		    min-width:100%;
		}
	</style>
	<body>
		<div class="panel-body body-content" style="padding-bottom:0px;">
	        <form id="customerListForm" class="form-horizontal form-inline">
	        	<div class="panel panel-default">
		            <div class="panel-heading">查询条件</div>
		            <div class="panel-body">
		            	<div class="">
		                    <div class="form-group padding_l10">
		                        <select name="cxtj" class="form-control chosen-select" id="cxtj">
	                           		<option value="0">全部</option>
	                           		<option value="1">公司名称</option>
	                           		<option value="2">类型</option>
	                           		<option value="3">电话</option>
	                           		<option value="3">公司地址</option>
	                           	</select>
	                        	<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
	                               onkeydown="if(event.keyCode==13) {searchCustomerListResult(); return false;}"/>
							</div>
							<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">检索</button>
						</div>
		            </div>
		        </div>
		        <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
				        <div class="form-group" style="width:100%;margin-bottom:10px;">
				            <label for="" class="col-sm-2 col-md-2 col-xs-2 control-label">已选客户</label>
				          	<div class="col-sm-10 col-md-10 col-xs-10" >
				          		<input autoComplete="off" type="text" class="form-control" id="yxkh" name="yxkh" style="min-width:100%;"/>
				          	</div>
				        </div>
					</div>
	            </div>
	            <div id="toolbar" class="btn-group js-affix">
					<button style="padding-top:4px" type="button" onclick="comfirmCustomer();" class="btn btn-success" data-bs-toggle="tooltip" data-placement="bottom" title="选择客户">
						<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true">确认</span>
					</button>
				</div>
		        <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
	        </form>
	    </div>
	</body>
</html>