<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<style>
		.margin_7{
			margin-top:4px;
			margin-bottom: 4px;
		}
		.hidefont{
			width:100%;
			float: left;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.partner_table{
			margin-right:-8px;
			margin-left: -8px;
		}
		.tab{
			border: 1px solid #DEDEDE;
			width:100%;
		}
		.tab thead tr{
			background-color: #63a3ff;
			height: 30px;
			color:#000;

		}
		.tab th{
			border: 1px solid #DEDEDE;
			padding-left:5px;
			padding-top:2px;
			font-size: 10px;
			font-weight: bold;
		}
		.tab td{
			border: 1px solid #DEDEDE;
			height:25px;
			padding-left:5px;
			padding-top:2px;
			font-size: 10px;
		}


		#tabAttainmentRate thead tr{
			background-color:#00B2EE;
			height:40px;
		}
		#tabAttainmentRate tr{
			cursor: pointer;
		}
		#tabAttainmentRate th{
			border:1px solid #C9C9C9;
			text-align: center;
		}
		#tabAttainmentRate td{
			border:1px solid #C9C9C9;
			text-align: center;
		}
		#tabAttainmentRate .qu_td{
			width:25%;
		}

		#tabAttainmentRate tbody .qu_td{
			background-color:#E0FFFF;
		}
		#tabAttainmentRate .other_td{
			width:25%;
		}
		.tab tbody tr:nth-of-type(even){ background:#FFFFFF;}
	</style>
</head>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	<li  class=" nav-item" >
		<a  class="nav-link active"  href="#partnerInfoTab" role="tab" data-bs-toggle="tab">基本信息</a>
	</li>
	<li class=" nav-item" >
		<a  class="nav-link"  href="#modInfoTab" role="tab" data-bs-toggle="tab">收费标准</a>
	</li>
	<li class=" nav-item" >
        <a  class="nav-link jcdwTable"  href="#jcdwInfoTab" role="tab" data-bs-toggle="tab">检测单位</a>
    </li>
</ul>
<div class="body-content tab-content">
	<div role="tabpanel" class="tab-pane fade active in" id="partnerInfoTab" aria-labelledby="profile-tab">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
				<input type="hidden" id="hbid" name="hbid" th:value="${sjhbxxDto.hbid}"/>
					<div class="col-md-6 col-sm-12 col-xs-12 margin_7" >
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								合作伙伴：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.hbmc}" ></span>							
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								省　　份：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.province}" ></span>
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								伙伴类型：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.hblxmc}" ></span>							
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								城　　市：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.city}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7" th:if="${sjhbxxDto.dqxx!=null&&sjhbxxDto.dqxx!=''}">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								大区信息：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.gwmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								用　　户：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.yhm==null?'':sjhbxxDto.yhm}+' '+${sjhbxxDto.xtyhm==null?'':sjhbxxDto.xtyhm}" ></span>
							</div>
						</div>
					</div> 
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								报告模板：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.bgmbmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								报告方式：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.bgfsmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								外部链接：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.cskz2}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								分　　类：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.flmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								子&nbsp;分&nbsp;类&nbsp;：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.zflmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								统计名称：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.tjmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								商务名称：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.swmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								盖章类型：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.gzlxmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								文件名规则：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.wjmgz}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 control-label">
								送检区分：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.sjqfmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 control-label">
								平台归属：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.yptgsmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 control-label">
								销售部门：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.ptgsmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								Onco报告：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.cskz3mc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								伙伴级别：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.hbjbmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								合作公司：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.hzgsmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								自动发送(mNGS)：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.zdfsmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-12 control-label">
								自动发送(tNGS)：
							</label>
							<div class="col-sm-8 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.zdfstmc}" ></span>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-2 col-xs-12 control-label">
								微信用户：
							</label>
							<div class="col-sm-10 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.cskz1mc}"></span>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-2 col-xs-12 control-label">
								邮　　箱：
							</label>
							<div class="col-sm-10 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.yx}" th:title="${sjhbxxDto.yx}" class="hidefont"></span>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-2 col-xs-12 control-label">
								邮　箱2：
							</label>
							<div class="col-sm-10 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.yx2}" th:title="${sjhbxxDto.yx2}" class="hidefont"></span>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 margin_7">
						<div class="form-group">
							<label for="" class="col-sm-2 col-xs-12 control-label">
								备　　注：
							</label>
							<div class="col-sm-10 col-xs-12 padding_t7">
								<span th:text="${sjhbxxDto.bz}" th:title="${sjhbxxDto.bz}" class="hidefont"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="tab">
					<thead>
					<tr>
						<th style="width: 6%;background-color: #63a3ff;text-align: center">序号</th>
						<th style="width: 20%;background-color: #63a3ff;text-align: center">检测项目</th>
						<th style="width: 20%;background-color: #63a3ff;text-align: center">检测子项目</th>
						<th style="width: 27%;background-color: #63a3ff;text-align: center">报告模板</th>
						<th style="width: 27%;background-color: #63a3ff;text-align: center">报告模板2</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${mblist!=null && mblist.size() >0}" th:each="list:${mblist}">
						<td style="text-align: center"th:text="${list.xh}">序号</td>
						<td style="text-align: center"th:text="${list.jcxmmc}">检测项目</td>
						<td style="text-align: center" th:text="${list.jczxmmc}">检测子项目</td>
						<td style="text-align: center" th:text="${list.bgmbmc}">报告模板</td>
						<td style="text-align: center" th:text="${list.bgmbmc}">报告模板2</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="modInfoTab" aria-labelledby="profile-tab">
	    <div class="panel panel-default">
		    <div class="panel-body">
		        <div class="partner_table">
		       		<table class="table table-bordered">
						<thead>
							<tr id="tr">
								<th>项目</th>
								<th>子项目</th>
								<th>收费标准</th>
								<th>提取金额</th>
								<th>开始日期</th>
								<th>结束日期</th>
								<th>合同编号</th>
							</tr>
						</thead>
						<tbody id="tbody1" >
							 <tr th:each="list:${sfbzlist}">
								<td th:text="${list.csmc}"></td>
								<td th:text="${list.zxm}"></td>
								<td th:text="${list.sfbz}"></td>
								<td th:text="${list.tqje}"></td>
								 <td th:text="${list.ksrq}"></td>
								 <td th:text="${list.jsrq}"></td>
								 <td th:text="${list.htbh}"></td>
							</tr>
						</tbody>
					</table>
		        </div>
			</div>
		</div>
	</div>
    
    <div role="tabpanel" class="tab-pane fade" id="jcdwInfoTab"aria-labelledby="profile-tab">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
				        <div class="form-group">
						    <!-- <label for="" class="col-md-3 "><span>已经选择的检测单位</span>:</label> -->
						    <div class="col-md-9" ><span th:text="${sjhbxxDto.jcdwstr}"></span></div>
                        </div>
					</div>
				</div>
			</div>
	</div>   
</div>
</body>
</html>
