<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>Insert title here</title>
	<script type="text/javascript" src="/js/wechat/sjxx/sjxx_detection.js"></script>
</head>
<body>
<form id="detectionForm"  th:action="${sjxxDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<input type="hidden" name="access_token"/>
	<input type="hidden" name="ids" th:value="${sjxxDto.ids}"/>
	<input type="hidden" id="jcbjfirst" name="jcbjfirst" th:value="${sjxx.jcbj}">
	<input type="hidden" id="syrqfirst" name="syrqfirst" th:value="${sjxx.syrq}">
	<input type="hidden" id="djcbjfirst" name="djcbjfirst" th:value="${sjxx.djcbj}">
	<input type="hidden" id="dsyrqfirst" name="dsyrqfirst" th:value="${sjxx.dsyrq}">
	<input type="hidden" id="qtjcbjfirst" name="qtjcbjfirst" th:value="${sjxx.qtjcbj}">
	<input type="hidden" id="qtsyrqfirst" name="qtsyrqfirst" th:value="${sjxx.qtsyrq}">
	<input type="hidden" id="cskz1" name="cskz1" th:value="${sjjcxm.cskz1}">
	<input type="hidden" id="jcdw" name="jcdw" th:value="${sjxx.jcdw}">
	<input type="hidden" id="error" name="error" th:value="${error}">
	<input type="hidden" id="sfsytz" name="sfsytz">
	<div class="body-content tab-content">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 col-sm-12" th:if="${sjjcxm.cskz1 == 'R' ||sjjcxm.cskz1=='C' }">
				        <div class="form-group">
				        	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>是否检测RNA</label>
				    		<div class="col-sm-7">
								<input type="checkbox" id="jcbj" name="jcbj" class="make-switch open" data-on-color="success" data-off-color="warning" data-on-text="是" data-off-text="否"  th:value="1" onchange="tochangebj()">
  							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12" id="syrqdiv" style="display:none;" th:if="${sjjcxm.cskz1 == 'R' || sjjcxm.cskz1=='C'}" >
				        <div class="form-group">
				        	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>RNA检测日期</label>
				    		<div class="col-sm-7">
								<input type="text" id="syrq" name="syrq"  data-clear="true" validate="{required:true,stringMaxLength:32}" class="form-control" disabled="disabled"/>
  							</div>
						</div>
					</div> 
					<div class="col-md-12 col-sm-12" th:if="${sjjcxm.cskz1 == 'D' || sjjcxm.cskz1=='C'|| sjjcxm.cskz1=='O'}">
				        <div class="form-group">
				        	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>是否检测DNA</label>
				    		<div class="col-sm-7">
								<input type="checkbox" id="djcbj" name="djcbj" class="make-switch open" data-on-color="success" data-off-color="warning" data-on-text="是" data-off-text="否"  th:value="1" onchange="tochangedbj()">
  							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 DNAjc" id="dsyrqdiv" style="display:none;" th:if="${sjjcxm.cskz1 == 'D' || sjjcxm.cskz1=='C'|| sjjcxm.cskz1=='O'}" >
				        <div class="form-group">
				        	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>DNA实验日期</label>
  							<div class="col-sm-7">
								<input type="text" id="dsyrq" name="dsyrq"  data-clear="true" validate="{required:true,stringMaxLength:32}" class="form-control" disabled="disabled"/>
  							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12" th:if="${sjjcxm.cskz1 == 'Z' || sjjcxm.cskz1=='F'}">
				        <div class="form-group">
				        	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>是否检测</label>
				    		<div class="col-sm-7">
								<input type="checkbox" id="qtjcbj" name="qtjcbj" class="make-switch open" data-on-color="success" data-off-color="warning" data-on-text="是" data-off-text="否"  th:value="1" onchange="tochangezbj()">
  							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 DNAjc" id="qtsyrqdiv" style="display:none;" th:if="${sjjcxm.cskz1 == 'Z' || sjjcxm.cskz1=='F'}" >
				        <div class="form-group">
				        	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>实验日期</label>
  							<div class="col-sm-7">
								<input type="text" id="qtsyrq" name="qtsyrq"  data-clear="true" validate="{required:true,stringMaxLength:32}" class="form-control" disabled="disabled"/>
  							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>