<!DOCTYPE html>
<html lang="zh-cn">
<head >
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
	<script type="text/javascript" src="/js/wechat/sjxx/sjxx_ListSave.js?v=20250709" charset="utf-8"></script>
	<link href="/css/wechat/sjxx/colorview.css" rel="stylesheet" type="text/css" />
	<style>
		#fjcfbDto span:hover{
			cursor:pointer;
		}
		.f_button{
			background: white;
			border: 0;
		}
		.noClick{
			pointer-events: none;
			background-clip: content-box;
		}

		.noClickblack {
			background-color: #ccc;
		}
		.f_button:hover{
			border-width: 0px;
			border-radius: 3px;
			background: #1E90FF;
			cursor: pointer;
			outline: none;
			font-family: Microsoft YaHei;
			color: white;
			font-size: 14px;
		}
		.tab{
			border: 1px solid #DEDEDE;
			width:100%;
		}
		.tab thead tr{
			background-color: #63a3ff;
			height: 30px;
			color:#000;

		}
		.tab th{
			border: 1px solid #DEDEDE;
			padding-left:5px;
			padding-top:2px;
			font-size: 10px;
			font-weight: bold;
		}
		.tab td{
			border: 1px solid #DEDEDE;
			height:25px;
			padding-left:5px;
			padding-top:2px;
			font-size: 10px;
		}
		.visibilityHidden{
			visibility: hidden;
		}
		#tabAttainmentRate thead tr{
			background-color:#00B2EE;
			height:40px;
		}
		#tabAttainmentRate tr{
			cursor: pointer;
		}
		#tabAttainmentRate th{
			border:1px solid #C9C9C9;
			text-align: center;
		}
		#tabAttainmentRate td{
			border:1px solid #C9C9C9;
			text-align: center;
		}
		#tabAttainmentRate .qu_td{
			width:25%;
		}

		#tabAttainmentRate tbody .qu_td{
			background-color:#E0FFFF;
		}
		#tabAttainmentRate .other_td{
			width:25%;
		}
	</style>
</head>
<div id="Sjxx_Save">
	<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
		<li class=" nav-item">
			<a href="#materInfoTab" class="nav-link active" role="tab" data-bs-toggle="tab">患者信息</a>
		</li>
	    <li class=" nav-item">
	        <a href="#modInfoTab" class="nav-link" role="tab" data-bs-toggle="tab">标本信息</a>
	    </li>
	    <li id="file_li" class=" nav-item">
	        <a href="#fjInfoTab" class="nav-link" role="tab" data-bs-toggle="tab">送检附件</a>
	    </li>
		<li id="syfile_li" class=" nav-item">
			<a href="#syfjInfoTab" class="nav-link" role="tab" data-bs-toggle="tab">收样附件</a>
		</li>
	</ul>
	<form id="ajaxForm"  th:action="'/inspection/inspection/'+${sjxxDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" name="sjid" id="sjid" th:value="${sjxxDto.sjid}"/>
		<input type="hidden" name="xgsj" id="xgsj" th:value="${sjxxDto.xgsj}"/>
		<input type="hidden" name="jcxm" id="jcxm"/>
		<input type="hidden" name="jcxmmc" id="jcxmmc"/>
		<input type="hidden" name="jczxmmc" id="jczxmmc"/>
		<input type="hidden" name="dtoList" id="dtoList" th:value="${dtoList}"/>
		<input type="hidden" name="jcdwjc" id="jcdwjc"  th:value="${sjxxDto.jcdw}"/>
		<input type="hidden" name="ywlx" id ="ywlx" th:value="${sjxxDto.ywlx}"/>
		<input type="hidden" name="sybj" id ="sybj" th:value="${sybj}"/>
		<input type="hidden" name="addFlag" id ="addFlag" th:value="${addFlag}"/>
		<input type="hidden" name="xg_flg" id="xg_flg" th:value="${sjxxDto.xg_flg}"/>
		<input type="hidden" name="fjids" id ="fjids"/>
		<input type="hidden" name="ids" id ="ids"/>
		<input type="hidden" name="px" id="px"/>
<!--		<input type="hidden" name="wbbm" id="wbbm" th:value="${sjxxDto.wbbm}"/>-->
		<input type="hidden" name="old_db" id="old_db" th:value="${sjxxDto.db}"/>
		<input type="hidden" name="old_fkje" id="old_fkje" th:value="${sjxxDto.fkje}"/>
		<input type="hidden" name="divisionListJson" id="divisionListJson" th:value="${divisionListJson}"/>
		<input type="hidden" name="formAction" id="formAction" th:value="${sjxxDto.formAction}"/>
		<input type="hidden" name="sfzmjc" id="sfzmjc"/>
		<input type="hidden" name="yyxxCskz1" id="yyxxCskz1" th:value="${sjxxDto.yyxxCskz1}"/>
		<input type="hidden" name="kyxmid" id="kyxmid" th:value="${sjxxDto.kyxm}"/>
		<input type="hidden" name="sjqfid" id="sjqfid" th:value="${sjxxDto.sjqf}"/>
		<input type="hidden" name="sfws" id="sfws" th:value="${sjxxDto.sfws}"/>
		<input type="hidden" name="csjcxmids" id="csjcxmids" th:value="${sjxxDto.jcxmids}"/>
		<input type="hidden" name="wbsjxxsJson" id="wbsjxxsJson"/>
		<input type="hidden" name="ADD_ALLOWED" id="ADD_ALLOWED" th:value="${ADD_ALLOWED}"/>

		<input th:if="${access_token !=null}" type="hidden" name="" id="out_token" th:value="${access_token}"/>
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in" id="materInfoTab" aria-labelledby="profile-tab">
				<div th:if="${isAidikangPage}" class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>查询编码：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" placeholder="请输入医院编码,禁用特殊字符" id="hospSampleID" name="hospSampleID" validate="{required:true,stringMaxLength:128}"class="form-control" onkeydown="if(event.keyCode==13) {dataGet(); return false;}"/>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" th:if="${addFlag==null || addFlag==''}">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>艾迪康编码：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" placeholder="请输入艾迪康编码,禁用特殊字符" id="aidikangID" name="aidikangID" onblur="clearSpace()" validate="{required:true,stringMaxLength:128}"class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>标本编号：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" placeholder="请输入样本编号,禁用特殊字符" id="ybbh" name="ybbh" th:value="${sjxxDto.ybbh}"   onblur="clearSpace()" validate="{required:true,stringMaxLength:128}"class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										外部同步编码：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="wbbm" name="wbbm" th:value="${sjxxDto.wbbm}"  class="form-control" />
									</div>
								</div>
							</div>
						 	<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										 <span style="color: red;">*</span>患者姓名：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="hzxm" name="hzxm"  validate="{required:true,stringMaxLength:64}" th:value="${sjxxDto.hzxm}"  onblur="clearSpace()" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" style="height:49px">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
									 <span style="color: red;">*</span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
									</label>
									<div class="col-sm-8  col-xs-8">
										<label class="radio-inline">
											<input type="radio" value="1" name="xb" th:checked="${'1' eq sjxxDto.xb}" validate="{required:true}">男
										</label>
										<label class="radio-inline">
											<input type="radio" value="2" name="xb" th:checked="${'2' eq sjxxDto.xb}" validate="{required:true}" >女
										</label>
										<label class="radio-inline">
											<input type="radio" value="3" name="xb" th:checked="${'3' eq sjxxDto.xb}" validate="{required:true}" >未知
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：
									</label>
									<div class="col-sm-8 col-xs-8">
										<div class="input-group">
											<input type="text" id="nl" name="nl" th:value="${sjxxDto.nl}" validate="{required:true}" class="form-control" />
											<span class="input-group-addon" style="padding:0px;">
												<select  id="nldw" name="nldw" th:value="${sjxxDto.nldw}" validate="{required:true}"  style="border:none;height:100% !important;">
													<option value="岁" th:selected="${sjxxDto.nldw eq '岁'}">岁</option>
													<option value="个月" th:selected="${sjxxDto.nldw eq '个月'}">个月</option>
													<option value="天" th:selected="${sjxxDto.nldw eq '天'}">天</option>
													<option value="无" th:selected="${sjxxDto.nldw eq '无'}">无</option>
												</select>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="dh" name="dh"  th:value="${sjxxDto.dh}" validate="{stringMaxLength:64}"class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>医院名称：
									</label>
									<div class="col-sm-8 col-xs-8">
										<div class="input-group">
											<input type="text" autocomplete="off" id="hospitalname" name="hospitalname" th:value="${sjxxDto.hospitalname}" th:validate="${'{required:'+(sjxxDto.sfws eq '3' || sjxxDto.sjid == null ? true:false)+'}'}"  data-provide="typeahead" data-items="5" class="form-control" disabled="disabled"/>
											<span class="input-group-btn">
												<button type="button"  class="btn btn-primary" onclick="selectHospital()">选择</button>
											</span>
										</div>
										<input type="hidden"  id="sjdw" name="sjdw"  th:value="${sjxxDto.sjdw}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>主治医师：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="sjys" name="sjys"  th:value="${sjxxDto.sjys}" th:validate="${'{required:'+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?true:false)+',stringMaxLength:64}'}"
												 class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" id="otherHospital">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>报告显示单位：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text"  id="sjdwmc" name="sjdwmc"  class="form-control" validate="{stringMaxLength:128}" th:value="${sjxxDto.sjdwmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										 医生电话：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="ysdh" name="ysdh" th:value="${sjxxDto.ysdh}" validate="{stringMaxLength:32}"
										class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" style="height:49px;">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>	科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室：
									</label>
									<div class="col-sm-8 col-xs-8">
										<select id="ks" name="ks"   th:value="${sjxxDto.ks}"  class="form-control chosen-select" th:validate="${'{required:'+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?true:false)+'}'}" >
											<option  value="">--请选择--</option>
				                        	<option  th:if="${sjdwxxList!=null && sjdwxxList.size() > 0}" th:each="list:${sjdwxxList}" th:value="${list.dwid}" th:kzcs="${list.kzcs}" th:text="${list.dwmc}" th:selected="${sjxxDto.ks eq list.dwid}" ></option>
				 						</select>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span id="qtkscheck" th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+'; display:none;'}" >*</span> 报告显示科室：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="qtks" name="qtks" th:value="${sjxxDto.qtks}" th:validate="${'{required:'+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?true:false)+'}'}" class="form-control" disabled="disabled" placeholder="请填写报告单上需显示的科室"/>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										住&nbsp;&nbsp;院&nbsp;&nbsp;号：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="zyh" name="zyh"  validate="{stringMaxLength:128}" th:value="${sjxxDto.zyh}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										床&nbsp;&nbsp;位&nbsp;&nbsp;号：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="cwh" name="cwh"  validate="{stringMaxLength:32}" th:value="${sjxxDto.cwh}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>合作伙伴：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="db" name="db"  validate="{required:true,stringMaxLength:128}" th:value="${sjxxDto.db}" class="form-control" placeholder="非合作人员请填'无'"/>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12"  id="jcxmDiv" >
								<div class="form-group">
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>检测项目：
									</label>
									 <div class="col-sm-10 col-xs-8">
										<div class="col-sm-4" th:id="'t-'+${detect.csid}" th:each="detect:${datectlist}" style="padding-left:0px;">
											<label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
												<input th:id="${detect.csid}" type="checkbox" class="jcxm" name="jcxmids" th:csmc="${detect.csmc}" th:value="${detect.csid}" th:cskz2="${detect.cskz2}" th:cskz1="${detect.cskz1}" th:cskz3="${detect.cskz3}" th:cskz4="${detect.cskz4}" th:csdm="${detect.csdm}"  th:attr="checked=${sjxxDto.jcxmids!=null &&sjxxDto.jcxmids.contains(detect.csid)?true:false}" style="padding-left:16px;"/>
												<div  th:class="${'color_light'+ detect.cskz2}" style="border-radius: 5px" ><span th:text="${detect.csmc}" th:class="${'color_'+ detect.cskz2}" style="padding: 10px;"></span></div>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" id="jczxm_div">
								<div class="form-group">
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>检测子项目：
									</label>
									<div class="col-sm-10 col-xs-8" id="jczxmDiv" >
										<div class="col-sm-4" th:id="'zxm_'+${jczxmDto.csid}" th:value="${jczxmDto.csid}" th:each="jczxmDto:${jczxmlist}" style="padding-left:0px;">
											<label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
												<input class ='jczxm'  th:id="${jczxmDto.csid}" type="checkbox" th:name="${jczxmDto.csid}" th:csmc="${jczxmDto.csmc}" th:value="${jczxmDto.csid}" th:jcxmid="${jczxmDto.fcsid}" onclick="initTab()"  th:attr="checked=${jczxmids!=null &&jczxmids.contains(jczxmDto.csid)?true:false}" style="padding-left:16px;"/>
												<div  th:class="${'color_light'+ jczxmDto.fcskz2}" style="border-radius: 5px" ><span th:text="${jczxmDto.csmc}" th:class="${'color_'+ jczxmDto.fcskz2}" style="padding: 10px;"></span></div>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>送检区分：
									</label>
									 <div class="col-sm-10 col-md-10 col-xs-8" th:if="${sjxxDto.formAction eq'modSaveSjxx'}">
										<div class="col-sm-4 col-md-4 col-xs-6" th:id="${division.csid}" th:each="division:${divisionList}" style="padding:0px;">
											<label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
												<input th:id="${division.csid}" type="radio" class="sjqf" name="sjqf" th:value="${division.csid}"   th:csdm="${division.csdm}"  validate="{required:true}" th:checked="${division.csid eq sjxxDto.sjqf}"  style="padding-left:16px;"/>
												<span th:text="${division.csmc}" th:value="${division.csmc}"></span>
											</label>
										</div>
									</div>
									<div class="col-sm-10 col-md-10 col-xs-8" th:if="${sjxxDto.formAction eq'addSaveSjxx'}">
										<div class="col-sm-4 col-md-4 col-xs-6" th:id="${division.csid}" th:each="division:${divisionList}" style="padding:0px;">
											<label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
												<input th:id="${division.csid}" type="radio" class="sjqf" name="sjqf" th:value="${division.csid}"   th:csdm="${division.csdm}"  validate="{required:true}" th:checked="${division.sfmr eq '1'}"  style="padding-left:16px;"/>
												<span th:text="${division.csmc}" ></span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" id="kyDIV" style="display: none">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>	立项编号：
									</label>
									<div class="col-sm-8 col-xs-8">
										<select id="kyxm" name="kyxm" th:value="${sjxxDto.kyxm}" class="form-control chosen-select"  >
											<option id="-1" value="">--请选择--</option>
											<option class="t_kyxm" th:if="${kyxmlist!=null && kyxmlist.size() > 0}" th:each="list:${kyxmlist}" th:value="${list.csid}" th:id="${list.csid}" th:fcsid="${list.fcsid}"  th:text="${list.csmc}" th:selected="${sjxxDto.kyxm eq list.csid}" ></option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										关注病原：
									</label>
									<div class="col-sm-10 col-xs-8">
										<div class="col-sm-3 col-xs-6"  th:each="pathogeny:${pathogenylist}" style="padding: 0px">
											<label class="checkboxLabel checkbox-inline" >
												<input type="checkbox" name="bys" th:value="${pathogeny.csid}" th:attr="checked=${sjxxDto.bys!=null &&sjxxDto.bys.contains(pathogeny.csid)?true:false}" />
												<span  th:text="${pathogeny.csmc}" ></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="modInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default" th:if="${sjxxDto.xg_flg!='1' && sjxxDto.formAction eq'modSaveSjxx'}">
					<div class="panel-body">
						<table id="tb_list" class="table table-hover table-bordered" style="table-layout: auto"></table>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12" style="height:49px;">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>标本类型：
									</label>
									<div class="col-sm-8 col-xs-8" id="yblxDiv">
										<select id="yblx" name="yblx" th:value="${sjxxDto.yblx}" class="form-control chosen-select" validate="{required:true}">
											<option value="">--请选择--</option>
				                        	<option class="t_yblx" th:id="${list.csid}"  th:if="${samplelist!=null && samplelist.size() > 0}"  th:csdm="${list.csdm}" th:each="list:${samplelist}"   th:value="${list.csid}" th:kzcs="${list.cskz1}" th:cskz2="${list.cskz2}" th:csmc="${list.csmc}" th:text="${list.csmc}"  th:selected="${sjxxDto.yblx eq list.csid}" ></option>
				 						</select>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;display:none;" id="yblxmcspan">*</span>报告显示样本：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="yblxmc" name="yblxmc"  th:value="${sjxxDto.yblxmc}" validate="{required:true}" disabled="disabled"
										class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxDto.formAction eq'modSaveSjxx'}">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										标本状态：
									</label>
									<div class="col-sm-8 col-xs-8" id="ztDiv">
										<label class="checkboxLabel checkbox-inline"  th:each="state:${samplestate}">
											<input th:id="${state.csid}" type="checkbox" name="zts" th:value="${state.csid}" th:attr="checked=${sjxxDto.zts!=null &&sjxxDto.zts.contains(state.csid)?true:false}" onclick="updateBz(this)" />
											<span style="padding-right: 25px;" th:id="${state.csid}" th:text="${state.csmc}"></span>
										</label>
										<button  type="button" class="btn btn-default" style="height:25px" onclick="calcel()">取消选中</button>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
									<span th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>	标本体积：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="ybtj" name="ybtj"  th:value="${sjxxDto.ybtj}" th:validate="${'{required:'+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?true:false)+'}'}"
										class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>采样日期：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="cyrq" name="cyrq"  th:value="${sjxxDto.cyrq}" validate="{required:true}"  class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										送检日期：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="sjrq" name="sjrq"  th:value="${sjxxDto.sjrq}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										接收日期：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="jsrq" name="jsrq"  th:value="${sjxxDto.jsrq}"  class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										报告日期：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="bgrq" name="bgrq"  th:value="${sjxxDto.bgrq}"   class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" style="height:49px;">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span  th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>快递类型：
									</label>
									<div class="col-sm-8 col-xs-8">
										<select id="kdlx" name="kdlx"   th:value="${sjxxDto.kdlx}"  class="form-control chosen-select"  >
				                        	<option  th:if="${expressage!=null && expressage.size() > 0}" th:each="list:${expressage}" th:value="${list.csid}" th:text="${list.csmc}" th:csdm="${list.csdm}" th:cskz2=${list.cskz2} th:selected="${sjxxDto.kdlx eq list.csid}" ></option>
				 						</select>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span  id="kdhspan" style="color: red;">*</span><span id="kdhname" th:text="快递单号："></span>
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="kdh" name="kdh"  th:value="${sjxxDto.kdh}"  validate="{stringMaxLength:32}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                       	 快递费用：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input type="text" id="kdfy" name="kdfy" th:value="${sjxxDto.kdfy}" class="form-control" />
                                    </div>
                                </div>
                            </div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										起运时间：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="qyrq" name="qyrq"  th:value="${sjxxDto.qyrq}"   class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										运达时间：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="ydrq" name="ydrq"  th:value="${sjxxDto.ydrq}"  class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxDto.xg_flg!='1' && sjxxDto.formAction eq'modSaveSjxx'}">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span id="kpsqSpan" style="color: red;"></span>开票申请：
									</label>
									<div class="col-sm-8 col-xs-8">
										<div class="col-md-4 col-sm-4 col-xs-4" th:id="${invoice.csid}" th:each="invoice:${invoiceList}" style="padding:0px;">
											<label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
												<input th:id="${invoice.csid}" type="radio" class="kpsq" name="kpsq" th:value="${invoice.csid}"   th:csdm="${invoice.csdm}"   th:checked="${invoice.csid eq sjxxDto.kpsq}"  style="padding-left:16px;"/>
												<span th:text="${invoice.csmc}"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxDto.xg_flg!='1' && sjxxDto.formAction eq'modSaveSjxx'}" >
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										是否付款：
									</label>
									<div class="col-sm-8 col-xs-8">
										<select id="fkbj" name="fkbj"   th:value="${sjxxDto.fkbj}"  class="form-control chosen-select">
											<option  value="">--请选择--</option>
											<option value="1" th:selected="${sjxxDto.fkbj eq '1'}">是</option>
											<option value="0" th:selected="${sjxxDto.fkbj eq '0'}">否</option>
				 						</select>
									</div>
								</div>
							</div>

							<!-- 退款金额 -->
							<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxDto.xg_flg!='1' && sjxxDto.formAction eq'modSaveSjxx'}" >
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										退款金额：
									</label>
									<div class="col-sm-8 col-xs-8">
										<div class="input-group">
											<input type="text" id="tkje" name="tkje" th:value="${sjxxDto.tkje}" class="form-control" >
											<span class="input-group-addon">元</span>
										</div>
										<span id="checktkje" style="color: red;" hidden="hidden">只能输入正数和小数点后2位</span>
									</div>
								</div>
							</div>
							<!-- 退款时间 -->
							<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxDto.xg_flg!='1' && sjxxDto.formAction eq'modSaveSjxx'}">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										退款时间：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="tksj" name="tksj" th:value="${sjxxDto.tksj}"  class="form-control" />
									</div>
								</div>
							</div>
							<!-- 退款方式 -->
							<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxDto.xg_flg!='1' && sjxxDto.formAction eq'modSaveSjxx'}" >
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										退款方式：
									</label>
									<div class="col-sm-8 col-xs-8" th:if="${refundlist !=null && refundlist.size() > 0}">
										<select id="tkfs" name="tkfs" th:value="${sjxxDto.tkfsmc}" class="form-control chosen-select">
											<option value="">--请选择--</option>
		                        			<option th:each="list:${refundlist}" th:value="${list.csid}" th:text="${list.csdm}+'--'+${list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.csid eq sjxxDto.tkfs}"></option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										近期用药：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="jqyy" name="jqyy" th:value="${sjxxDto.jqyy}" class="form-control" validate="{stringMaxLength:512}" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" style="height: 36px">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span  id="fkrqjc" style="color: red;" >*</span>是否检测：
									</label>
									<div class="col-sm-8 col-xs-8" id="sfjsDiv">
										<label class="radio-inline">
											<input id="sfjs_true" type="radio" value="1" name="sfjs" th:checked="${'1' eq sjxxDto.sfjs}">是
										</label>
										<label class="radio-inline">
											<input id="sfjs_false" type="radio" value="0" name="sfjs" th:checked="${'0' eq sjxxDto.sfjs}">否
										</label>
										<label class="radio-inline">
											<input id="sfjs_else" type="radio" value="2" name="sfjs" th:checked="${'2' eq sjxxDto.sfjs}">其他
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" style="height: 36px">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span  id="fkrqjc" style="color: red;">*</span>是否统计：
									</label>
									<div class="col-sm-8 col-xs-8">
										<label class="radio-inline">
											<input type="radio" value="1" name="sftj" th:checked="${'1' eq sjxxDto.sftj}">是
										</label>
										<label class="radio-inline">
											<input type="radio" value="0" name="sftj" th:checked="${'0' eq sjxxDto.sftj}">否
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										内部编码：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="nbbm" name="nbbm" th:value="${sjxxDto.nbbm}"  class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12" style="height:49px;">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span style="color: red;">*</span>检测单位：
									</label>
									<div class="col-sm-8 col-xs-8">
										<select id="jcdw" name="jcdw"   th:value="${sjxxDto.jcdw}"  class="form-control chosen-select" validate="{required:true}" >
				                        	<option  th:if="${decetionlist!=null && decetionlist.size() > 0}" th:each="list:${decetionlist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${sjxxDto.jcdw eq list.csid}" ></option>
				 						</select>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<div class="form-group" >
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										<span th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>临床症状：
									</label>
									<div class="col-sm-10 col-xs-8" >
										<div class="col-xs-3" th:each="clinical:${clincallist}"style="padding-bottom:10px;">
											<label class="checkboxLabel checkbox-inline" >
												<input class="lczzs" type="checkbox" name="lczzs" th:value="${clinical.csid}"  th:attr="checked=${sjxxDto.lczzs!=null &&sjxxDto.lczzs.contains(clinical.csid)?true:false}"  />
												<span th:text="${clinical.csmc}"></span>
											</label>
										</div>
										<textarea id="lczz" name="lczz" rows="3"  style="height:50px;" th:validate="${'{required:'+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?true:false)+', stringMaxLength:2048}'}" class="form-control" placeholder="请描述临床症状" th:text="${sjxxDto.lczz}"></textarea>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										送达温度：
									</label>
									<div class="col-sm-8 col-xs-8">
										<div class="input-group" >
											<input  id="bbsdwd" name="bbsdwd" type="number" th:value="${sjkzxxDto.bbsdwd}"   class="form-control" />
											<span class="input-group-addon"> °C </span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										<span th:style="${'color: '+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?'red':'blue')+';'}" >*</span>前期诊断(基础疾病)：
									</label>
									<div class="col-sm-8 col-xs-8">
										<input type="text" id="qqzd" name="qqzd"  th:validate="${'{required:'+(sjxxDto.sfws eq '3' || sjxxDto.sjid ==null ?true:false)+',stringMaxLength:1024}'}" th:value="${sjxxDto.qqzd}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
										VIP：
									</label>
									<div class="col-sm-8 col-xs-8">
										<label class="radio-inline">
											<input type="radio" value="1" name="sfvip" th:checked="${'1' eq sjxxDto.sfvip}">是
										</label>
										<label class="radio-inline">
											<input type="radio" value="0" name="sfvip" th:checked="${'0' eq sjxxDto.sfvip}">否
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<div class="form-group">
									<label for="" class="col-md-2 col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
									     前期检测：
									</label>
									<div class="col-md-10 col-sm-8 col-xs-12" >
				         					<div  class="col-sm-12 col-md-12 col-xs-12" th:each="delection,stat:${sjxxDto.sjqqjcs}" th:id="'t-'+${delection.csid}" th:cskz2="${delection.cskz2}" style="padding:0px;">
				         						<div class="col-sm-4 col-md-4 col-xs-5">
													<label style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:normal;text-align:left;" for="" class="control-label" th:id="${delection.csid}" th:text="${delection.csmc}+':'" th:title="${delection.csmc}+':'"></label>
												</div>
				         						<div class="col-sm-8 col-md-8 col-xs-7" style="padding: 5px;" >
													<div class="input-group">
														<input class="form-control qqjc" type="text" th:id="${delection.csid}" th:name="'sjqqjcs['+${stat.index}+'].jcz'"   th:value="${delection.jcz}"   placeholder="检测值" />
														<span class="input-group-addon" th:if="${delection.cskz1 !=null && delection.cskz1 !=''}" th:text="${delection.cskz1}"></span>
													</div>
													<input type="hidden" th:id="${delection.csid}" th:name="'sjqqjcs['+${stat.index}+'].yjxm'"  th:value="${delection.csid}"class="form-control" />
												</div>
											</div>
									</div>
								</div>
							</div>
							<div  class="col-sm-12 col-md-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										(感染部位)：
									</label>
									<div class="col-sm-10 col-xs-8">
										<textarea id="qqjc" name="qqjc" rows="3"  style="height:50px;"  validate="{stringMaxLength:1024}" class="form-control" placeholder="请输入前期检测(感染部位)" th:text="${sjxxDto.qqjc}"></textarea>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group" >
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：
									</label>
									<div class="col-sm-10 col-xs-8 " >
										<textarea id="bz" name="bz" rows="3" style="height:70px;" validate="{stringMaxLength:1024}" class="form-control" th:text="${sjxxDto.bz}"></textarea>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" th:if="${sjkzxxDto != null}">
								<div class="form-group" >
									<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
										送检扩展信息：
									</label>
									<div class="col-sm-10 col-xs-8 ">
										<textarea id="qtxx" name="qtxx" rows="3" style="height:70px;" validate="{stringMaxLength:1024}" class="form-control" th:text="${sjkzxxDto.qtxx}"></textarea>
									</div>
								</div>
							</div>
								<div class="col-md-12 col-sm-12 col-xs-12" th:if="${wbsjxxDtos != null && wbsjxxDtos.size() > 0}">
									<div class="form-group" >
										<label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
											外部送检信息：
										</label>
										<div th:each="wbsjxxDto:${wbsjxxDtos}">
											<div class="col-md-10 col-sm-10 col-xs-8">
												<h2 class="panel-title"><strong th:text="${wbsjxxDto.sjbm + '【' + wbsjxxDto.jcxmmc + '】' }"></strong></h2>
											</div>
											<div>
												<textarea id="wbsjxx_wbqtxx" th:name="${wbsjxxDto.id}" rows="3" style="height:70px;" validate="{stringMaxLength:1024}" class="form-control" th:text="${wbsjxxDto.wbqtxx}"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade " id="fjInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 col-sm-12">
					        	<div class="form-group">
					    			<div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
					    				<div th:id="${fjcfbDto.fjid}" >
					    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件"></label>
					    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
						    				<div class="col-sm-10 padding_t7">
						    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
						    					<a title="下载" th:@click.prevent="'xz_bg(\''+${fjcfbDto.fjid}+'\');'" >
							    					<span th:text="${fjcfbDto.wjm}"></span>
							    					<span class="glyphicon glyphicon glyphicon-save"></span>
						    					</a>&nbsp;&nbsp;
						    					<button title="删除" class="f_button" type="button">
						    						<span class="glyphicon glyphicon-remove" th:@click.prevent="'del_bg(\''+${fjcfbDto.fjid}+'\',\''+${fjcfbDto.wjlj}+'\');'"></span>
						    					</button>&nbsp;&nbsp;
						    					<button title="预览" class="f_button" type="button">
						    						<span  class="glyphicon glyphicon-eye-open"  th:onclick="yl([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjmhz}]])"></span>
						    					</button>
						    				</div>
						    			</div>
					    			</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12" >
								<div class="form-group">
									<label for="" class="col-sm-2 col-xs-12 control-label">
										附件上传：
									</label>
									<div class="col-sm-10 col-sm-12 " >
										<input  id="sjxx_file" name="sjxx_file" type="file">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade " id="syfjInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<input type="hidden" name="ywlx" id ="ywlx" th:value="${syywlx}"/>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<div id="fjcfbModel" th:if="${fjcfbList != null && fjcfbList.size() >0}" th:each="fjcfbModel:${fjcfbList}">
										<div th:id="${fjcfbModel.fjid}" >
											<label for="" class="col-sm-2 control-label" th:if="${fjcfbModelStat.index == 0}" th:text="附件"></label>
											<label for="" class="col-sm-2 control-label" th:if="${fjcfbModelStat.index > 0}"></label>
											<div class="col-sm-10 padding_t7">
												<label for="" th:text="${fjcfbModelStat.index+1}+."></label>
												<a title="下载" th:@click.prevent="'xz_bg(\''+${fjcfbModel.fjid}+'\');'" >
													<span th:text="${fjcfbModel.wjm}"></span>
													<span class="glyphicon glyphicon glyphicon-save"></span>
												</a>&nbsp;&nbsp;
												<button title="删除" class="f_button" type="button">
													<span class="glyphicon glyphicon-remove" th:@click.prevent="'del_bg(\''+${fjcfbModel.fjid}+'\',\''+${fjcfbModel.wjlj}+'\');'"></span>
												</button>&nbsp;&nbsp;
												<button title="预览" class="f_button" type="button">
													<span  class="glyphicon glyphicon-eye-open"  th:onclick="yl([[${fjcfbModel.fjid}]],[[${fjcfbModel.wjmhz}]])"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12" >
								<div class="form-group">
									<label for="" class="col-sm-2 col-xs-12 control-label">
										附件上传：
									</label>
									<div class="col-sm-10 col-sm-12 " >
										<input  id="sy_file" name="sy_file" type="file">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top:20px;">
			<button th:if="${access_token !=null}" type="button" id="sub" class="btn btn-primary" onclick="outsubmit();">确定</button>
		</div>
	</form>
</div>
<body>
</body>
</html>