<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>反馈页面</title>
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
		<script type="text/javascript" src="/js/wechat/sjxx/sjxx_feedback.js" charset="utf-8"></script>
</head>
<body>
<form id="ajaxForm" action="/inspection/inspection/feedbackSaveSjxx" data-bs-toggle="validation" method="post"  class="form-horizontal sl_all_form blue-second-skin">
	<input type="hidden" id="sjid" name="sjid" th:value="${sjxxDto.sjid}"/>
	<input type="hidden" id="ywlx" name="ywlx" th:value="${sjxxDto.ywlx}"/>
	<input type="hidden" name="access_token"/>
	<input type="hidden" name="fjids" id ="fjids"/>
	<div class="body-content"  style="padding: 0px;" id="feedback">
		<div class="panel panel-default">
			<div class="panel-heading">
				反馈说明
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-xs-2 control-label">
								是否正确
							</label>
							<div class="col-xs-8">
									<input type="radio" value="1" name="sfzq" th:checked="${'1' eq sjxxDto.sfzq}">是
									<input type="radio" value="0" name="sfzq" th:checked="${'0' eq sjxxDto.sfzq}" style="margin-left:30px;" >否
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-xs-2 control-label">
								临床反馈
							</label>
							<div class="col-xs-8">
								<textarea id="lcfk" name="lcfk" rows="3" style="height:70px;" th:text="${sjxxDto.lcfk}"validate="{stringMaxLength:1024}" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-xs-2 control-label">
								医学部反馈
							</label>
							<div class="col-xs-8">
								<textarea id="yxbfk" name="yxbfk" rows="3" style="height:70px;" th:text="${sjxxDto.yxbfk}" validate="{stringMaxLength:1024}" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
				        	<div class="form-group">
				    			<div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
				    				<div th:id="${fjcfbDto.fjid}" >
				    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件"></label>
				    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
					    				<div class="col-sm-10 padding_t7">
					    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
					    					<a title="下载" th:@click.prevent="'xz_bg(\''+${fjcfbDto.fjid}+'\');'" >
						    					<span th:text="${fjcfbDto.wjm}"></span>
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</a>&nbsp;&nbsp;
					    					<button title="删除" class="f_button" type="button">
					    						<span class="glyphicon glyphicon-remove" th:@click.prevent="'del_bg(\''+${fjcfbDto.fjid}+'\',\''+${fjcfbDto.wjlj}+'\');'"></span>
					    					</button>&nbsp;&nbsp;
					    					<button title="预览" class="f_button" type="button">
					    						<span  class="glyphicon glyphicon-eye-open"  th:onclick="yl([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]])"></span>
					    					</button>
					    				</div>
					    			</div>
				    			</div>
				   			</div>
						</div>
						<div class="col-md-12 col-sm-12" >
							<div class="form-group">
								<label for="" class="col-sm-2 col-xs-12 control-label">
									附件上传
								</label>
								<div class="col-sm-10 col-sm-12 " >
									<input  id="sjxx_file" name="sjxx_file" type="file">
								</div>
							</div>
						</div>  
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>