<!DOCTYPE html>
<html lang="zh-cn">
 <head>
 	<style>
 		.color{
 			color:#000;
 		}
 	</style>
 	<script type="text/javascript" src="/js/wechat/sjxx/sjxx_recheck.js?v=2023100701" charset="utf-8"></script>
 </head>
<body>
<form id="recheck_Form"  action="/inspection/inspection/recheckSaveSjxx"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<input type="hidden" name="access_token"/>
	<input type="hidden" name="sjid" id="sjid" th:value="${sjxxDto.sjid}"/>
	<input type="hidden" name="cskz1" id="cskz1" th:value="${sjxxDto.cskz1}"/>
	<input type="hidden" name="ybztcskz" id="ybztcskz" th:value="${xzbj}"/>
	<input type="hidden" name="yys" id="yys">
	<input type="hidden" name="yy" id="yy">
	<input type="hidden" name="jczxm" id="jczxm">
	<div role="tabpanel" class="tab-pane fade active in" id="materInfoTab" aria-labelledby="profile-tab">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							标本编号
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<span th:text="${sjxxDto.ybbh}" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							患者姓名
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<span th:text="${sjxxDto.hzxm}" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<span id="nl" th:text="${sjxxDto.nl}" />
							<span id="nldw" th:text="${sjxxDto.nldw}" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<span id="xbmc" th:text="${sjxxDto.xbmc}" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							医院名称
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<span id="sjdwmc" th:text="${sjxxDto.sjdwmc}" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<span th:text="${sjxxDto.ksmc}" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							合作伙伴
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<span id="db" th:text="${sjxxDto.db}" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-2 col-xs-2 control-label">
							检测项目
						</label>
						<div class="col-sm-10 col-xs-10 padding_t7">
							<span th:text="${sjxxDto.jcxmmc}" />
						</div>
					</div>
				</div> 
				<div class="col-md-12 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-2 col-xs-2 control-label">
							<span  id="fkrqjc" style="color: red;" >*</span>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别
						</label>
						<div class="col-sm-10 col-xs-10">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"   th:each="recheck:${RecheckType}" style="padding-left:0px;">
								<label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
									<input class="jclb"  type="radio"  name="lx"  th:id="${recheck.csid}" th:csdm="${recheck.csdm}" th:value="${recheck.csid}" validate="{required:true}"/>
									<span th:text="${recheck.csmc}"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color" style="height: 30px;">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4  control-label">
							<span style="color:red;">*</span>是否付费
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7" id="sfffDiv">
							<select  id="sfff" name="sfff"  class="form-control chosen-select" validate="{required:true}">
								<option value="1" >收费</option>
								<option value="0">不收费</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4 control-label">
							<span  id="fkrqjc" style="color: red;" >*</span>报告重发
						</label>
						<div class="col-sm-8 col-xs-8">
							<label class="radio-inline" style="height:30px;">
								<input type="radio" id='gbbj_bsf' value="0" name="bgbj"  checked="checked" validate="{required:true}">否
							</label>
							<label class="radio-inline" style="height:30px;">
								<input type="radio" id='gbbj_sf' value="1" name="bgbj"  validate="{required:true}">是
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 color" style="height: 30px;">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-4  control-label">
							<span style="color:red;">*</span>检测单位
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<select id="jcdw" name="jcdw" class="form-control chosen-select"  >
	                        	<option  th:if="${detectionList!=null && detectionList.size() > 0}" th:each="list:${detectionList}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${sjxxDto.jcdw eq list.csid}" ></option>
	 						</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 color" >
					<div class="form-group">
						<label for="" class="col-xs-2 col-sm-2 col-md-2  col-lg-2 control-label">
							<span style="color: red;">*</span><span id="jcxm_span">加测项目</span>
						</label>
						 <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-left:0px;">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 jcxmDiv" th:id="jcxm_+${detect.cskz1}" th:cskz3="${detect.cskz3}" th:each="detect:${detectlist}" style="padding-left:0px;">
								<label class="checkboxLabel checkbox-inline" style="padding-left:16px;">
									<input class="jcxm"  type="radio"  name="jcxm"   th:value="${detect.csid}" th:cskz3="${detect.cskz3}" validate="{required:true}"/>
									<span th:text="${detect.csmc}"></span>
								</label>
							</div>
						</div> 
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 color" id="jczxmDiv">
					<div class="form-group">
						<label for="" class="col-xs-2 col-sm-2 col-md-2  col-lg-2 control-label">
							<span style="color: red;">*</span><span>子项目</span>
						</label>
						<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-left:0px;" id="jczxm_div">

						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 color" >
					<div class="form-group">
						<label for="" class="col-xs-2 col-sm-2 col-md-2  col-lg-2 control-label">
							<span style="color: red;">*</span>复测原因
						</label>
						<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-left:0px;">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 yyDiv" th:id="yy_+${fjyy.csid}" th:each="fjyy:${fjyylist}" th:if="${fjyylist!=null && fjyylist.size()>0}" style="padding-left:0px;">
								<label class="checkboxLabel checkbox-inline" style="padding-left:16px;width:100%;">
									<input class="yy" style="margin-left: 0px;"  type="radio"  name="yyinput"  th:value="${fjyy.csid}" th:fcsid="${fjyy.fcsid}" validate="{required:true}"/>
									<span style="margin-left: 20px;" th:text="${fjyy.csmc}"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 color">
					<div class="form-group" >
						<label for="" class="col-sm-2 col-xs-2  control-label">
							备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
						</label>
						<div class="col-sm-10 col-xs-10 padding_t7">
							<textarea id="bz" name="bz" rows="3"  style="height:60px;" validate="{stringMaxLength:1024}" class="form-control"></textarea>
						</div>
					</div> 
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12"  id="historytable"></div>
			</div>
		</div>
	</div>
</form>
</body>
</html>
