<!DOCTYPE html>
<html>
<head lang="zh-cn">
<script type="text/javascript" src="/js/wechat/sjxx/sjxx_modDb.js" charset="utf-8"></script>
</head>
<body>
<form id="ajaxForm"  action="/inspection/inspection/updateDB"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<input type="hidden" name="ids" th:value="${sjxxDto.ids}">
	<input type="hidden" name="access_token"/>
	<div class="body-content tab-content" >
		<div class="col-md-12 col-sm-12" style="margin:0 auto;">
			<div class="form-group">
				<label for="" class="col-sm-4 col-xs-12 control-label">
					<span style="color: red;">*</span>合作伙伴：
				</label>
				<div class="col-sm-5 col-xs-12 ">
					<input type="text" id="db" name="db"  validate="{required:true,stringMaxLength:128}" class="form-control" placeholder="非合作人员请填'无'"/>
					<!-- <select id="db" name="db"  class="form-control chosen-select" validate="{required:true}">
						<option value="">--请选择--</option>
                       	<option  th:if="${sjhbList!=null && sjhbList.size() > 0}" th:each="list:${sjhbList}" th:value="${list.sjdw}" th:text="${list.sjdw}"  ></option>
					</select> -->
				</div>
			</div>
		</div> 
	</div>
	<!-- <div style="text-align: center;">
		<button type="button" class="btn btn-primary" >新增合作伙伴</button>
	</div> -->
</form> 
</body>
</html>