<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改参数扩展</title>
	<script type="text/javascript" src="/js/wechat/sjxx/sjxx_cskz.js" charset="utf-8"></script>
</head>
<body>
<div style="color: red;font-weight: bold;text-align: center;"> 不填或者不选表示不改动该项 </div>
<form id="cskzFrom"   action="/inspection/inspection/extendSaveCskzView"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="partnerInfoTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<input  type="hidden" name="ids" th:value="${sjxxDto.ids}" />
						<input type="hidden" name="access_token"/>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-12 control-label">
									是否开票：
								</label>
								<div class="col-sm-8 col-xs-12">
									<select id="cskz1" name="cskz1"   class="form-control chosen-select" >
			 							<option  value="">--请选择--</option>
			                        	<option  th:if="${sjkz1list!=null && sjkz1list.size() > 0}" th:each="sjkz1:${sjkz1list}" th:value="${sjkz1.csid}" th:text="${sjkz1.csmc}" th:selected="${sjxxDto.cskz1 eq sjkz1.csid}" ></option>
			 						</select>
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-12 control-label">
									送检扩展二：
								</label>
								<div class="col-sm-8 col-xs-12">
									<select id="cskz2" name="cskz2"   class="form-control chosen-select" >
			 							<option  value="">--请选择--</option>
			                        	<option  th:if="${sjkz2list!=null && sjkz2list.size() > 0}" th:each="sjkz2:${sjkz2list}" th:value="${sjkz2.csid}" th:text="${sjkz2.csmc}" th:selected="${sjxxDto.cskz2 eq sjkz2.csid}" ></option>
			 						</select>
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-12 control-label">
									送检扩展三：
								</label>
								<div class="col-sm-8 col-xs-12">
									<select id="cskz3" name="cskz3"   class="form-control chosen-select" >
			 							<option  value="">--请选择--</option>
			                        	<option  th:if="${sjkz3list!=null && sjkz3list.size() > 0}" th:each="sjkz3:${sjkz3list}" th:value="${sjkz3.csid}" th:text="${sjkz3.csmc}"  th:selected="${sjxxDto.cskz3 eq sjkz3.csid}"></option>
			 						</select>
			 					</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-12 control-label">
									送检扩展四：
								</label>
								<div class="col-sm-8 col-xs-12">
									<select id="cskz4" name="cskz4"   class="form-control chosen-select" >
			 							<option  value="">--请选择--</option>
			                        	<option  th:if="${sjkz4list!=null && sjkz4list.size() > 0}" th:each="sjkz4:${sjkz4list}" th:value="${sjkz4.csid}" th:text="${sjkz4.csmc}" th:selected="${sjxxDto.cskz4 eq sjkz4.csid}" ></option>
			 						</select>
			 					</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-12 control-label">
									科室：
								</label>
								<div class="col-sm-8 col-xs-12">
									<select id="ks" name="ks" class="form-control chosen-select" >
										<option  value="">--请选择（不选则不改动该项）--</option>
										<option  th:if="${ksxxList!=null && ksxxList.size() > 0}" th:each="ksxx:${ksxxList}" th:value="${ksxx.dwid}" th:text="${ksxx.dwmc}" th:selected="${sjxxDto.ks eq ksxx.dwid}" ></option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									报告显示科室：
								</label>
								<div class="col-md-8 col-sm-4">
									<input type="text" id="qtks" name="qtks" th:value="${sjxxDto.qtks}" validate="{stringMaxLength:64}" placeholder="不填则不改动该项" class="form-control"/>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-md-2 col-sm-2 control-label">
									发票号码：
								</label>
								<div class="col-md-10 col-sm-10">
									<input type="text" id="cskz5" name="cskz5" th:value="${sjxxDto.cskz5}"  validate="{stringMaxLength:64}" class="form-control" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>