<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>履历</title>
</head>
<body>
<form id="sendReportLlForm"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content tab-content" >
        <div role="tabpanel" class="tab-pane fade active in" id="partnerInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <label class="control-label" style="padding: 5px;font-size: 15px;">
                        分枝杆菌审核:
                    </label>
                    <table class="table table-hover table-bordered table-hidden" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th style="text-align:center;width:25%;">鉴定结果</th>
                            <th style="text-align:center;width:25%;">学名</th>
                            <th style="text-align:center;width:15%;">序列数</th>
                            <th style="text-align:center;width:15%;">ANI</th>
                            <th style="text-align:center;width:15%;">覆盖靶标(90%)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="wzysxx:${wzysxxDtos}">
                            <td th:text="${wzysxx.wzzwm}"th:title="${wzysxx.wzzwm}" ></td>
                            <td th:text="${wzysxx.wzywm}"th:title="${wzysxx.wzywm}" ></td>
                            <td th:text="${wzysxx.reads}"th:title="${wzysxx.reads}" ></td>
                            <td th:text="${wzysxx.refANI}"th:title="${wzysxx.refANI}" ></td>
                            <td th:text="${wzysxx.target}"th:title="${wzysxx.target}" ></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-body" >
                    <label class="control-label" style="padding: 5px;font-size: 15px;">
                        分枝杆菌耐药结果分析:
                    </label>
                    <table class="table table-hover table-bordered table-hidden" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th style="text-align:center;width:20%;">突变基因</th>
                            <th style="text-align:center;width:15%;">突变结果</th>
                            <th style="text-align:center;width:15%;">耐药性</th>
                            <th style="text-align:center;width:15%;">突变深度</th>
                            <th style="text-align:center;width:15%;">突变频率</th>
                            <th style="text-align:center;width:15%;">背景突变</th>
                            <th style="text-align:center;width:15%;">操作</th>
                        </tr>
                        </thead>
                        <tbody >
                            <tr th:each="nyysxx:${nyysxxDtos}">
                                <td th:text="${nyysxx.tbjy}" th:title="${nyysxx.tbjy}" ></td>
                                <td th:text="${nyysxx.tbjg}" th:title="${nyysxx.tbjg}" ></td>
                                <td th:text="${nyysxx.nyx}" th:title="${nyysxx.nyx}" ></td>
                                <td th:text="${nyysxx.tbsd}" th:title="${nyysxx.tbsd}" ></td>
                                <td th:text="${nyysxx.tbpl}" th:title="${nyysxx.tbpl}" ></td>
                                <td th:text="${nyysxx.bjtb}" th:title="${nyysxx.bjtb}" ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>