<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>送检信息查看</title>
<script type="text/javascript" src="/js/wechat/sjxx/sx_pageview.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css?v=20250110" />
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/api/site.css?v=20250217v2" />
<style>
	.row{
		display: block ;
	}
	@font-face {
		font-family: 'Glyphicons Halflings';
		src: url('/fonts/glyphicons-halflings-regular.eot');
		src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
	}
	.glyphicon {
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
</style>
<style type="text/css">
	th{
		font-weight:bold;
		text-align: center;
		line-height:100%;
		vertical-align: middle!important;
		background-color:#D2E9FF;
	}
	td{
		line-height:100%;
		vertical-align: middle!important;
	}
	tr{
	width:100%;
	}
	.first th{
	border:1px solid #DDDDDD;
	text-align:center;
	}
	.first td{
	border:1px solid #DDDDDD;
	text-align:center;
	}
	table{
	table-layout: fixed;
	}
	body{
		color:black;
	}
	#ckzbjs{
		color:#FFD322;
	}
</style>
</head>
<body>
<form id="ajaxForm"   class="form-horizontal sl_all_form" method="post" theme="simple">
<div  class="tab-content">
<ul class="nav nav-tabs " role="tablist" id="outtab">
    <li  class=" nav-item" th:each="tablist:${sjxxtablist}" >
        <a  class="nav-link"  th:href="'#'+${tablist.sjid}" role="tab" data-bs-toggle="tab" th:text="${tablist.ybbh}"></a>
    </li>
</ul>
<div role="tabpanel" class="tab-pane fade" aria-labelledby="profile-tab" th:id="${tablist.sjid}" th:each="tablist:${sjxxtablist}">
	<div class="row" style="margin-top:10px;margin-bottom:10px;" th:each="sjxxlist:${sjxxList}">
		<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxlist.sjid == tablist.sjid}">
			<div class="form-group">
				<label for="" class="col-sm-4 col-xs-4 control-label" style="color:black;">
					标本类型
				</label>
				<div class="col-sm-8 col-xs-8 padding_t7">
					<span  th:text="${sjxxlist.yblxmc}"></span>							
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxlist.sjid == tablist.sjid}">
			<div class="form-group">
				<label for="" class="col-sm-4 col-xs-4 control-label" style="color:black;">
					采样日期
				</label>
				<div class="col-sm-8 col-xs-8 padding_t7">
					<span th:text="${sjxxlist.cyrq}"></span>							
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxlist.sjid == tablist.sjid}">
			<div class="form-group">
				<label for="" class="col-sm-4 col-xs-4 control-label" style="color:black;">
					接收日期
				</label>
				<div class="col-sm-8 col-xs-8 padding_t7">
					<span  th:text="${sjxxlist.jsrq}"></span>							
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxlist.sjid == tablist.sjid}">
			<div class="form-group">
				<label for="" class="col-sm-4 col-xs-4 control-label" style="color:black;">
					报告日期
				</label>
				<div class="col-sm-8 col-xs-8 padding_t7">
					<span  th:text="${sjxxlist.bgrq}"></span>							
				</div>
			</div>
		</div>
	</div>
	<ul class="nav nav-tabs " role="tablist">
	    <li  class=" nav-item" >
	        <a  class="nav-link active"  th:href="'#'+${tablist.sjid}+'gg'" role="tab" data-bs-toggle="tab" >高关注度</a>
	    </li>
	    <li class=" nav-item" >
	    	<a  class="nav-link"  th:href="'#'+${tablist.sjid}+'dg'" role="tab" data-bs-toggle="tab" >疑似</a>
	    </li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" th:id="${tablist.sjid}+'gg'" aria-labelledby="profile-tab" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><strong>1.1 检测结果（关注指标）</strong></h2>
				</div>	
				<div class="panel-body" >
					<div class="col-md-12 col-sm-12 col-xs-12" >
						<strong >1.病毒检测结果</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first " style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}"  style="padding:20px;">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}"  style="padding:20px;">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12" >
						<strong>2.分枝杆菌</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first " style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12" >
						<strong>3.支原体/衣原体/立克次体</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first " style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12" >
						<strong>4.细菌</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first " style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12" >
						<strong>5.真菌检测结果</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first " style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					<div class="col-md-12 col-sm-12 col-xs-12" >
						<strong>6.寄生虫检测结果</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first ">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='pathogen' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='possible' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" th:id="${tablist.sjid}+'dg'" aria-labelledby="profile-tab" >
			<div class="panel panel-default">
				<div class="panel-heading col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-10 col-sm-10 col-xs-10">
							<h2 class="panel-title"><strong>2.1 疑似，仅供参考指标</strong></h2>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
					<a href="javascript:void(0)" class="glyphicon glyphicon-exclamation-sign" id="ckzbjs" ></a>
					</div>
				</div>
				<div class="panel-body" id="bdjcjg">
					<div class="col-md-12 col-sm-12 col-xs-12">
					 	<strong>1.病毒检测结果</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first" style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<strong>2.分枝杆菌</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first" style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								<thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<strong>3.支原体/衣原体/立克次体</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first" style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								<thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<strong>4.细菌</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first" style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								<thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<strong>5.真菌检测结果</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first" style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<strong>6.寄生虫检测结果</strong>
							<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
								<thead>
									<tr class="first" style="height:37.6px;">
										<th class="zwm">中文名</th>
										<th class="ywm">拉丁文名</th>
										<th class="xls">检出序列数</th>
										<th class="jyfgd">基因组覆盖度</th>
										<th class="xdfd">相对丰度(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
										<td th:if="${SjwzxxDto.wzfl=='Parasite'}" th:text="${SjwzxxDto.wzzwm}"></td>
										<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.wzywm}"></td>
										<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.dqs}"></td>
										<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.jyzfgd}"></td>
										<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx=='background' && SjwzxxDto.sjid==tablist.sjid}" th:text="${SjwzxxDto.xdfd}"></td>
									</tr>
								</tbody>
							</table><br>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-sm-6 col-xs-6 control-label text-left" style="line-height:100%;vertical-align: middle!important;">
								<strong>审核日期:</strong>
							</label>
							<div class="col-sm-6 col-xs-6 control-label text-left" >
								<p class="text-left" style="line-height:100%;vertical-align: middle!important;">2019-04-17</p>
							</div>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
	</div>
</div>
</form>
</body>
</html>