<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>新增</title>
    <script type="text/javascript" src="/js/wechat/sjxx/wzjb_add.js" charset="utf-8"></script>
</head>
<body>
<form id="wzjb_ajaxForm"   th:action="'/wzjb/wzjb/'+${wzglDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content tab-content" >
        <div role="tabpanel" class="tab-pane fade active in" id="partnerInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" name="access_token"/>
                        <input type="hidden" name="wzid" id="wzid" th:value="${wzglDto.wzid}"/>
                        <div class="col-md-6 col-sm-12 col-xs-12" >
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    物种分类ID：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.wzid}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    物种中文名：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.wzzwm}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    物种英文名：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.wzywm}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    父ID：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.fid}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    分类等级：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.fldj}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    物种分类：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.wzfl}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    物种类型：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.wzlx}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    物种注释：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.wzzs}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    是否高亮：
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <span th:text="${wzglDto.sfgl}" ></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    <span style="color: red;">*</span>传染病级别:
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <select name="crbjb" class="form-control chosen-select" id="crbjb"  validate="{required:true}" >
                                        <option>请选择</option>
                                        <option value="0">甲级</option>
                                        <option value="1">乙级</option>
                                        <option value="2">丙级</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-xs-12 control-label">
                                    <span style="color: red;">*</span>是否拦截:
                                </label>
                                <div class="col-sm-6 col-xs-12 padding_t7">
                                    <select name="sflj" class="form-control chosen-select" id="sflj"   validate="{required:true}" >
                                        <option >请选择</option>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>