<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/wechat/sjxx/wzjb_List.js?v=20231017v1" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
    <form id="wzjb_formSearch" class="form-horizontal form-inline">
        <div class="panel panel-default">
            <div class="panel-body"  style="padding-left: 12px;">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" class="form-control chosen-select" id="cxtj">
                            <option value="0">物种中文名</option>
                            <option value="1">物种英文名</option>
                            <option value="2">物种编号</option>
                            <option value="3">物种分类</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊查询">
                    </div>
                    <div class="form-group padding-l30" style="margin-left:0px">
                        <label>传染病级别</label>
                        <select name="crbjb" class="form-control chosen-select" id="crbjb">
                            <option>请选择</option>
                            <option value="0">甲级</option>
                            <option value="1">乙级</option>
                            <option value="2">丙级</option>
                        </select>
                    </div>
                    <div class="form-group padding-l30" style="margin-left:0px">
                        <label>是否拦截</label>
                        <select name="sflj" class="form-control chosen-select" id="sflj">
                            <option>请选择</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>
        <div th:include="common/btn/ancz.html"></div>
        <table id="wzjb_List" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
</html>