<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.hrm.dao.post.IBtglDao" >

    <select id="getPagedDtoList" resultType="BtglDto" parameterType="BtglDto">
          select btgl.btglid,btgl.btmc,btgl.bzsc,to_char(btgl.bzsj,'hh24:mi:ss') bzsj,btgl.bzje,btgl.dzje,
          btgl.dzjg,to_char(btgl.dzkssj,'hh24:mi:ss') dzkssj,btgl.fdje,lrry.zsxm lrrymc,xgry.zsxm xgrymc,to_char(btgl.lrsj,'yyyy-mm-dd hh24:mi:ss') lrsj,
        btgl.bzjrcr,btgl.dzjrcr
          from igams_btgl btgl
          left join matridx_xtyh lrry on lrry.yhid=btgl.lrry
          left join matridx_xtyh xgry on xgry.yhid=btgl.xgry
          <where>
              btgl.scbj='0'
              <if test="btmc!=null and btmc!=''">
                  and btgl.btmc like '%'||#{btmc}||'%'
              </if>
          </where>
    </select>
    <select id="getDtoById" parameterType="String" resultType="BtglDto">
        select btgl.btglid,btgl.btmc,btgl.bzsc,to_char(btgl.bzsj,'hh24:mi:ss') bzsj,btgl.bzje,btgl.dzje,
        btgl.dzjg,to_char(btgl.dzkssj,'hh24:mi:ss') dzkssj,btgl.fdje,lrry.zsxm lrrymc,xgry.zsxm xgrymc,to_char(btgl.lrsj,'yyyy-mm-dd hh24:mi:ss') lrsj,
        btgl.bzjrcr,btgl.dzjrcr
        from igams_btgl btgl
        left join matridx_xtyh lrry on lrry.yhid=btgl.lrry
        left join matridx_xtyh xgry on xgry.yhid=btgl.xgry
        <where>
            btgl.btglid=#{btglid}
        </where>
    </select>
    <update id="update" parameterType="BtglDto">
        update igams_btgl
        set
        <if test="btmc!=null and btmc!=''">
            btmc=#{btmc}
        </if>
        <if test="bzsc!=null and bzsc!=''">
            bzsc=cast(#{bzsc} as numeric)
        </if>
        <if test="bzsj!=null and bzsj!=''">
            bzsj=cast (#{bzsj} as time)
        </if>
        <if test="bzje!=null and bzje!=''">
            bzje=cast (#{bzje} as numeric )
        </if>
        <if test="dzje!=null and dzje!=''">
            dzje=cast (#{dzje} as numeric )
        </if>
        <if test="dzjg!=null and dzjg!=''">
            dzjg=cast(#{dzjg} as numeric)
        </if>
        <if test="dzkssj!=null and dzkssj!=''">
            dzkssj=cast (#{dzkssj} as time )
        </if>
        <if test="fdje!=null and fdje!=''">
            fdje=cast (#{fdje} as numeric)
        </if>
        <if test="bzjrcr!=null and bzjrcr!=''">
            bzjrcr=#{bzjrcr}
        </if>
        <if test="dzjrcr!=null and dzjrcr!=''">
            dzjrcr=#{dzjrcr}
        </if>
        xgry=#{xgry},
        xgsj=LOCALTIMESTAMP
        <where>
            btglid=#{btglid}
        </where>
    </update>
    <insert id="insert" parameterType="BtglDto">
        insert into igams_btgl(
        btglid
        <if test="btmc!=null and btmc!=''">
        ,btmc
        </if>
        <if test="bzsc!=null and bzsc!=''">
            ,bzsc
        </if>
        <if test="bzsj!=null and bzsj!=''">
            ,bzsj
        </if>
        <if test="bzje!=null and bzje!=''">
            ,bzje
        </if>
        <if test="dzje!=null and dzje!=''">
            ,dzje
        </if>
        <if test="dzjg!=null and dzjg!=''">
            ,dzjg
        </if>
        <if test="dzkssj!=null and dzkssj!=''">
            ,dzkssj
        </if>
        <if test="fdje!=null and fdje!=''">
            ,fdje
        </if>
        <if test="bzjrcr!=null and bzjrcr!=''">
            ,bzjrcr
        </if>
        <if test="dzjrcr!=null and dzjrcr!=''">
            ,dzjrcr
        </if>
        ,lrry,lrsj,scbj
        )values(
        #{btglid}
        <if test="btmc!=null and btmc!=''">
            ,#{btmc}
        </if>
        <if test="bzsc!=null and bzsc!=''">
            ,cast (#{bzsc} as numeric )
        </if>
        <if test="bzsj!=null and bzsj!=''">
            ,cast (#{bzsj} as time)
        </if>
        <if test="bzje!=null and bzje!=''">
            ,cast (#{bzje} as numeric )
        </if>
        <if test="dzje!=null and dzje!=''">
            ,cast (#{dzje} as numeric )
        </if>
        <if test="dzjg!=null and dzjg!=''">
            ,cast (#{dzjg} as numeric )
        </if>
        <if test="dzkssj!=null and dzkssj!=''">
            ,cast (#{dzkssj} as time)
        </if>
        <if test="fdje!=null and fdje!=''">
            ,cast (#{fdje} as numeric )
        </if>
        <if test="bzjrcr!=null and bzjrcr!=''">
            ,#{bzjrcr}
        </if>
        <if test="dzjrcr!=null and dzjrcr!=''">
            ,#{dzjrcr}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0'
        )

    </insert>
    <update id="delete" parameterType="BtglDto">
        update igams_btgl set
        scbj='1',
        scry=#{scry},
        scsj=LOCALTIMESTAMP
        <where>
            btglid in
            <foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
                #{item}
            </foreach>
        </where>
    </update>
</mapper>
