<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.hrm.dao.post.IJkdaDao" >
    <insert id="insert" parameterType="JkdaDto">
        insert into igams_jkda(
        <if test="jkdaid != null and jkdaid != ''">
            jkdaid,
        </if>
        <if test="yghmcid != null and yghmcid != ''">
            yghmcid,
        </if>
        <if test="bm != null and bm != ''">
            bm,
        </if>
        <if test="gwmc != null and gwmc != ''">
            gwmc,
        </if>
        <if test="jcsj != null and jcsj != ''">
            jcsj,
        </if>
        <if test="jcjg != null and jcjg != ''">
            jcjg,
        </if>
        <if test="clyj != null and clyj != ''">
            clyj,
        </if>
        <if test="lrry != null and lrry != ''">
            lrry,
        </if>
        <if test="jcxm != null and jcxm != ''">
            jcxm,
        </if>
        lrsj,scbj)
        values (
        <if test="jkdaid != null and jkdaid != ''">
            #{jkdaid},
        </if>
        <if test="yghmcid != null and yghmcid != ''">
            #{yghmcid},
        </if>
        <if test="bm != null and bm != ''">
            #{bm},
        </if>
        <if test="gwmc != null and gwmc != ''">
            #{gwmc},
        </if>
        <if test="jcsj != null and jcsj != ''">
            cast(#{jcsj} as date),
        </if>
        <if test="jcjg != null and jcjg != ''">
            #{jcjg},
        </if>
        <if test="clyj != null and clyj != ''">
            #{clyj},
        </if>
        <if test="lrry != null and lrry != ''">
            #{lrry},
        </if>
        <if test="jcxm != null and jcxm != ''">
            #{jcxm},
        </if>
        LOCALTIMESTAMP,'0')
    </insert>

    <update id="update" parameterType="JkdaDto">
        update igams_jkda set
        xgry=#{xgry}, xgsj=LOCALTIMESTAMP
        <if test="jkdaid !=null and jkdaid != ''">
            ,jkdaid = #{jkdaid}
        </if>
        <if test="yghmcid !=null and yghmcid != ''">
            ,yghmcid = #{yghmcid}
        </if>
        <if test="bm !=null and bm != ''">
            ,bm = #{bm}
        </if>
        <if test="gwmc !=null and gwmc != ''">
            ,gwmc = #{gwmc}
        </if>
        <if test="jcsj !=null and jcsj != ''">
            ,jcsj = cast(#{jcsj} as date)
        </if>
        <if test="jcjg !=null and jcjg != ''">
            ,jcjg = #{jcjg}
        </if>
        <if test="clyj !=null and clyj != ''">
            ,clyj = #{clyj}
        </if>
        <if test="jcxm !=null and jcxm != ''">
            ,jcxm = #{jcxm}
        </if>
        <where>
            jkdaid = #{jkdaid}
        </where>
    </update>
    <update id="delete" parameterType="JkdaDto">
        update igams_jkda set
        scry = #{scry},scsj = LOCALTIMESTAMP,scbj='1'
        <where>
            jkdaid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="getDtoList" resultType="JkdaDto" parameterType="JkdaDto">
        select jkda.jkdaid,jkda.yghmcid,jkda.bm,jkda.gwmc,jkda.jcsj,jkda.jcjg,jkda.clyj,jkda.lrsj,jkda.scbj,jkda.jcxm
        from igams_jkda jkda
        where jkda.scbj='0'
        <if test="yghmcid!=null and yghmcid!=''">
            and  jkda.yghmcid = #{yghmcid}
        </if>
        <if test="ids !=null  and ids.size >0">
            and jkda.jkdaid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        order by jkda.jcsj
    </select>

    <select id="getDtoById" resultType="JkdaDto" parameterType="String">
        select jkda.jkdaid,jkda.yghmcid,jkda.bm,jkda.gwmc,jkda.jcsj,jkda.jcjg,jkda.clyj,jkda.lrsj,jkda.scbj,jkda.jcxm
        from igams_jkda jkda
        where jkda.scbj='0' and jkda.jkdaid = #{jkdaid}
    </select>

</mapper>