<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.hrm.dao.post.IPxglDao" >
    <select id="viewTrainTask" parameterType="PxglDto" resultType="PxglDto">
        SELECT
        pxgl.pxbt,
        pxgl.pxid,
        pxgl.pxnr,
        pxgl.sfcs,
        pxgl.kscs,
        pxgl.spbj,
        gzgl.pxjd,
        yh.ddid qrry,
        yh.yhid qrryid,
        pxgl.csts,
        pxgl.cssc,
        pxgl.cszf,
        pxgl.tzfsbj,
        pxgl.htbj,
        gzgl.spwcbj,
        gzgl.gzid,
        pxgl.tgfs,
        pxgl.ckdabj,
        pxgl.dcckbj,
        pxgl.danxts,
        pxgl.duoxts,
        pxgl.jdts,
        pxgl.spxz,
        pxgl.hbszid,
        ys.cskz1 hbfmlj,
        ys.cskz2 dtymlj,
        ys.cskz3 color,
        pxgl.gqsj,gzgl.tgbj
        FROM
        igams_pxgl pxgl
        LEFT JOIN igams_gzgl gzgl ON gzgl.ywid = pxgl.pxid
        LEFT JOIN igams_hbsz hbsz ON hbsz.hbszid = pxgl.hbszid and hbsz.scbj !='1'
        left join matridx_jcsj ys on hbsz.ys=ys.csid
        LEFT JOIN matridx_xtyh yh ON yh.yhid = pxgl.qrry
        <where>
        pxgl.scbj!='1'
            <if test="gzid !=null and gzid != ''">
                and gzgl.gzid=#{gzid}
            </if>
            <if test="pxid !=null and pxid != ''">
                and pxgl.pxid=#{pxid}
            </if>
        </where>
    </select>

    <select id="viewDetailedList" parameterType="PxglDto" resultType="PxglDto">
        SELECT
        pxgl.pxbt,
        pxgl.pxid,
        pxgl.pxnr,
        pxgl.sfcs,
        pxgl.spbj,
        yh.ddid qrry,
        yh.zsxm qrrymc,
        pxgl.csts,
        pxgl.cssc,
        pxgl.cszf,
        pxgl.tzfsbj,
        pxgl.htbj,
        pxgl.tgfs,
        pxgl.ckdabj,
        pxgl.dcckbj,
        pxgl.danxts,
        pxgl.duoxts,
        pxgl.jdts, pxgl.pxlb, pxgl.pxzlb,pxgl.kscs,pxgl.spxz
        FROM
        igams_pxgl pxgl
        LEFT JOIN matridx_xtyh yh ON yh.yhid = pxgl.qrry
        <where>
            pxgl.scbj!='1'
            <if test="pxid !=null and pxid != ''">
                and pxgl.pxid=#{pxid}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="PxglDto">
        insert into igams_pxgl(pxid
        <if test="pxlb !=null and pxlb != ''">
            ,pxlb
        </if>
        <if test="pxzlb !=null and pxzlb != ''">
            ,pxzlb
        </if>
        <if test="pxbt !=null and pxbt != ''">
            ,pxbt
        </if>
        <if test="pxnr !=null and pxnr != ''">
            ,pxnr
        </if>
        <if test="sfcs !=null and sfcs != ''">
            ,sfcs
        </if>
        <if test="cssc !=null and cssc != ''">
            ,cssc
        </if>
        <if test="kscs !=null and kscs != ''">
            ,kscs
        </if>
        <if test="danxts !=null and danxts != ''">
            ,danxts
        </if>
        <if test="duoxts !=null and duoxts != ''">
            ,duoxts
        </if>
        <if test="jdts !=null and jdts != ''">
            ,jdts
        </if>
        <if test="csts !=null and csts != ''">
            ,csts
        </if>
        <if test="cszf !=null and cszf != ''">
            ,cszf
        </if>
        <if test="qrry !=null and qrry != ''">
            ,qrry
        </if>
        <if test="tzfsbj !=null and tzfsbj != ''">
            ,tzfsbj
        </if>
        <if test="htbj !=null and htbj != ''">
            ,htbj
        </if>
        <if test="ckdabj !=null and ckdabj != ''">
            ,ckdabj
        </if>
        <if test="dcckbj !=null and dcckbj != ''">
            ,dcckbj
        </if>
        <if test="spbj !=null and spbj != ''">
            ,spbj
        </if>
        <if test="tgfs !=null and tgfs != ''">
            ,tgfs
        </if>
        <if test="gqsj !=null and gqsj != ''">
            ,gqsj
        </if>
        <if test="tkts !=null and tkts != ''">
            ,tkts
        </if>
        <if test="pdts !=null and pdts != ''">
            ,pdts
        </if>
        <if test="ssgs !=null and ssgs != ''">
            ,ssgs
        </if>
	 <if test="spxz !=null and spxz != ''">
            ,spxz
        </if>
        <if test="bm !=null and bm != ''">
            ,bm
        </if>
        <if test="dqtx !=null and dqtx != ''">
            ,dqtx
        </if>
	<if test="sffshb !=null and sffshb != ''">
            ,sffshb
        </if>
        <if test="sffshb =='0'.toString()">
            ,hbszid
        </if>
        <if test="sffshb =='1'.toString()">
            ,hbszid
        </if>
        <if test="ks !=null and ks != ''">
            ,ks
        </if>
        <if test="pxfs !=null and pxfs != ''">
            ,pxfs
        </if>
        <if test="ndpxid !=null and ndpxid != ''">
            ,ndpxid
        </if>
        <if test="sfgk !=null and sfgk != ''">
            ,sfgk
        </if>
        ,lrry,lrsj,scbj,zt) values(#{pxid}
        <if test="pxlb !=null and pxlb != ''">
            ,#{pxlb}
        </if>
        <if test="pxzlb !=null and pxzlb != ''">
            ,#{pxzlb}
        </if>
        <if test="pxbt !=null and pxbt != ''">
            ,#{pxbt}
        </if>
        <if test="pxnr !=null and pxnr != ''">
            ,#{pxnr}
        </if>
        <if test="sfcs !=null and sfcs != ''">
            ,#{sfcs}
        </if>
        <if test="cssc !=null and cssc != ''">
            ,#{cssc}
        </if>
        <if test="kscs !=null and kscs != ''">
            ,#{kscs}
        </if>
        <if test="danxts !=null and danxts != ''">
            ,#{danxts}
        </if>
        <if test="duoxts !=null and duoxts != ''">
            ,#{duoxts}
        </if>
        <if test="jdts !=null and jdts != ''">
            ,#{jdts}
        </if>
        <if test="csts !=null and csts != ''">
            ,#{csts}
        </if>
        <if test="cszf !=null and cszf != ''">
            ,#{cszf}
        </if>
        <if test="qrry !=null and qrry != ''">
            ,#{qrry}
        </if>
        <if test="tzfsbj !=null and tzfsbj != ''">
            ,#{tzfsbj}
        </if>
        <if test="htbj !=null and htbj != ''">
            ,#{htbj}
        </if>
        <if test="ckdabj !=null and ckdabj != ''">
            ,#{ckdabj}
        </if>
        <if test="dcckbj !=null and dcckbj != ''">
            ,#{dcckbj}
        </if>
        <if test="spbj !=null and spbj != ''">
            ,#{spbj}
        </if>
        <if test="tgfs !=null and tgfs != ''">
            ,#{tgfs}
        </if>
        <if test="gqsj !=null and gqsj != ''">
            ,cast(#{gqsj} as timestamp)
        </if>
        <if test="tkts !=null and tkts != ''">
            ,#{tkts}
        </if>
        <if test="pdts !=null and pdts != ''">
            ,#{pdts}
        </if>
        <if test="ssgs !=null and ssgs != ''">
            ,#{ssgs}
        </if>
	<if test="spxz !=null and spxz != ''">
            ,#{spxz}
        </if>
        <if test="bm !=null and bm != ''">
            ,#{bm}
        </if>
        <if test="dqtx !=null and dqtx != ''">
            ,#{dqtx}
        </if>
	
	 <if test="sffshb !=null and sffshb != ''">
            ,#{sffshb}
        </if>
        <if test="sffshb =='0'.toString()">
            ,null
        </if>
        <if test="sffshb =='1'.toString()">
            ,#{hbszid}
        </if>
        <if test="ks !=null and ks != ''">
            ,#{ks}
        </if>
        <if test="pxfs !=null and pxfs != ''">
            ,#{pxfs}
        </if>
        <if test="ndpxid !=null and ndpxid != ''">
            ,#{ndpxid}
        </if>
        <if test="sfgk !=null and sfgk != ''">
            ,#{sfgk}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0','00')
    </insert>

    <update id="update" parameterType="PxglDto">
        update igams_pxgl
        <set>
            xgry=#{xgry}
            ,xgsj=LOCALTIMESTAMP
            <if test="pxlb !=null and pxlb != ''">
                ,pxlb=#{pxlb}
            </if>
            <if test="pxzlb !=null and pxzlb != ''">
                ,pxzlb=#{pxzlb}
            </if>
            <if test="pxbt !=null and pxbt != ''">
                ,pxbt=#{pxbt}
            </if>
            <if test="pxnr !=null and pxnr != ''">
                ,pxnr=#{pxnr}
            </if>
            <if test="sfcs !=null and sfcs != ''">
                ,sfcs=#{sfcs}
            </if>
            <if test="cssc !=null and cssc != ''">
                ,cssc=#{cssc}
            </if>
            <if test="kscs !=null and kscs != ''">
                ,kscs=#{kscs}
            </if>
            <if test="danxts !=null and danxts != ''">
                ,danxts=#{danxts}
            </if>
            <if test="duoxts !=null and duoxts != ''">
                ,duoxts=#{duoxts}
            </if>
            <if test="jdts !=null and jdts != ''">
                ,jdts=#{jdts}
            </if>
            <if test="csts !=null and csts != ''">
                ,csts=#{csts}
            </if>
            <if test="cszf !=null and cszf != ''">
                ,cszf=#{cszf}
            </if>
            <if test="qrry !=null and qrry != ''">
                ,qrry=#{qrry}
            </if>
            <if test="tzfsbj !=null and tzfsbj != ''">
                ,tzfsbj=#{tzfsbj}
            </if>
            <if test="htbj !=null and htbj != ''">
                ,htbj=#{htbj}
            </if>
            <if test="ckdabj !=null and ckdabj != ''">
                ,ckdabj=#{ckdabj}
            </if>
            <if test="dcckbj !=null and dcckbj != ''">
                ,dcckbj=#{dcckbj}
            </if>
            <if test="spbj !=null and spbj != ''">
                ,spbj=#{spbj}
            </if>
            <if test="tgfs !=null and tgfs != ''">
                ,tgfs=#{tgfs}
            </if>
            <if test="gqsj !=null and gqsj != ''">
                ,gqsj=cast(#{gqsj} as timestamp)
            </if>
            <if test="tkts !=null and tkts != ''">
                ,tkts=#{tkts}
            </if>
            <if test="pdts !=null and pdts != ''">
                ,pdts=#{pdts}
            </if>
            <if test="ssgs !=null and ssgs != ''">
                ,ssgs=#{ssgs}
            </if>
	    <if test="spxz !=null and spxz != ''">
                ,spxz=#{spxz}
            </if>
            <if test="zt !=null and zt != ''">
                ,zt=#{zt}
            </if>
            <if test="bm !=null and bm != ''">
                ,bm=#{bm}
            </if>
            <if test="dqtx !=null and dqtx != ''">
                ,dqtx=#{dqtx}
            </if>
	     <if test="sffshb !=null and sffshb != ''">
                ,sffshb=#{sffshb}
            </if>
            <if test="sffshb == '0'.toString()">
                ,hbszid=null
            </if>
            <if test="sffshb == '1'.toString()">
                ,hbszid=#{hbszid}
            </if>
            <if test="ks !=null and ks != ''">
                ,ks=#{ks}
            </if>
            <if test="pxfs !=null and pxfs != ''">
                ,pxfs=#{pxfs}
            </if>
            <if test="sfxzqd !=null and sfxzqd != ''">
                ,sfxzqd=#{sfxzqd}
            </if>
            <if test="ndpxid !=null and ndpxid != ''">
                ,ndpxid=#{ndpxid}
            </if>
            <if test="sfgk !=null and sfgk != ''">
                ,sfgk=#{sfgk}
            </if>
        </set>
        <where>
            pxid=#{pxid}
        </where>
    </update>

    <select id="getPagedDtoList" parameterType="PxglDto" resultType="PxglDto">
        select pxgl.pxid,pxgl.pxbt,pxgl.cssc,pxgl.csts,pxgl.cszf,yh.zsxm qrry,pxgl.tgfs,lb.csmc pxlb,zlb.csmc pxzlb,pxgl.danxts,pxgl.duoxts,pxgl.jdts,pxgl.tkts,pxgl.pdts,
        case when pxgl.sfcs='0' then '否' when pxgl.sfcs='1' then '是' end sfcs,
        case when pxgl.htbj='0' then '否'  when pxgl.htbj='1' then '是' end htbj,
        case when pxgl.ckdabj='0' then '否' when pxgl.ckdabj='1' then '是' end ckdabj,
        case when pxgl.dcckbj='0' then '否' when pxgl.dcckbj='1' then '是' end dcckbj,
        case when pxgl.spbj='0' then '否' when pxgl.spbj='1' then '是' end spbj,
        case when pxgl.tzfsbj='0' then '点击下一题' when pxgl.tzfsbj='1' then '点击选项' end tzfsbj,
        case when pxgl.dqtx='1' then '是' when pxgl.dqtx='0' then '否' end dqtxmc,
        to_char(pxgl.gqsj,'YYYY-MM-dd') gqsj,pxgl.spxz,ssgs.csmc ssgsmc,pxgl.zt,jgxx.jgmc as bmmc,pxgl.bm,case when pxgl.sffshb='0' then '否' when pxgl.sffshb='1' then '是' end sffshb,
        to_char(pxgl.lrsj,'YYYY-MM-dd') lrsj,pxgl.sfxzqd,pxgl.sfgk
        <if test="flg != null and flg != ''">
        ,gzgl.gzid,gzgl.spwcbj,gzgl.tgbj
        </if>
        from igams_pxgl pxgl
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid
        left join matridx_jgxx jgxx on pxgl.bm=jgxx.jgid
        <if test="flg != null and flg != ''">
            left join igams_gzgl gzgl on gzgl.ywid = pxgl.pxid
        </if>
        <where>
            pxgl.scbj!='1'
            <if test="flg != null and flg != ''">
                and (pxgl.sfgk='1' or gzgl.fzr=#{fzr})
            </if>
            <if test="entire != null and entire != ''">
                and (yh.zsxm like '%'||#{entire}||'%'
                or pxgl.pxbt like '%'||#{entire}||'%'
                or jgxx.jgmc like '%'||#{entire}||'%'
                )
            </if>
            <if test=" qrry !=null and qrry != ''">
                and yh.zsxm ILIKE '%'||#{qrry}||'%'
            </if>
            <if test="pxbt !=null and pxbt != ''">
                and pxgl.pxbt ILIKE '%'||#{pxbt}||'%'
            </if>
            <if test="bmmc !=null and bmmc != ''">
                and jgxx.jgmc ILIKE '%'||#{bmmc}||'%'
            </if>
            <if test="lrsjstart != null and lrsjstart != ''">
                and to_char(pxgl.lrsj,'yyyy-mm-dd') &gt;= #{lrsjstart}
            </if>
            <if test="lrsjend != null and lrsjend != ''">
                and to_char(pxgl.lrsj,'yyyy-mm-dd') &lt;= #{lrsjend}
            </if>
            <if test="flg != null and flg != ''">
                <if test = "zts != null and zts.length > 0 "  >
                    and gzgl.zt in
                    <foreach collection="zts" separator="," open="(" close=") " item="item" index="index">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test = "pxlbs != null and pxlbs.length > 0 "  >
                and pxgl.pxlb in
                <foreach collection="pxlbs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "spbjs != null and spbjs.length > 0 "  >
                and pxgl.spbj in
                <foreach collection="spbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "sfcss != null and sfcss.length > 0 "  >
                and pxgl.sfcs in
                <foreach collection="sfcss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "htbjs != null and htbjs.length > 0 "  >
                and pxgl.htbj in
                <foreach collection="htbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "tzfsbjs != null and tzfsbjs.length > 0 "  >
                and pxgl.tzfsbj in
                <foreach collection="tzfsbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "ckdabjs != null and ckdabjs.length > 0 "  >
                and pxgl.ckdabj in
                <foreach collection="ckdabjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "dcckbjs != null and dcckbjs.length > 0 "  >
                and pxgl.dcckbj in
                <foreach collection="dcckbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "ssgss != null and ssgss.length > 0 "  >
                and pxgl.ssgs in
                <foreach collection="ssgss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "dqtxs != null and dqtxs.length > 0 "  >
                and pxgl.dqtx in
                <foreach collection="dqtxs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
	     <if test = "sffshbs != null and sffshbs.length > 0 "  >
                and pxgl.sffshb in
                <foreach collection="sffshbs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getDto" parameterType="PxglDto" resultType="PxglDto">
        select pxgl.pxid,pxgl.pxbt,pxgl.cssc,pxgl.csts,pxgl.cszf,yh.zsxm qrry,pxgl.tgfs,lb.csmc pxlb,zlb.csmc pxzlb,pxgl.pxnr,pxgl.danxts,pxgl.duoxts,pxgl.jdts,lb.csid pxlbcs,pxgl.ssgs,
        case when pxgl.sfcs='0' then '否' when pxgl.sfcs='1' then '是' end sfcs,
        case when pxgl.htbj='0' then '否'  when pxgl.htbj='1' then '是' end htbj,
        case when pxgl.ckdabj='0' then '否' when pxgl.ckdabj='1' then '是' end ckdabj,
        case when pxgl.dcckbj='0' then '否' when pxgl.dcckbj='1' then '是' end dcckbj,
        case when pxgl.spbj='0' then '否' when pxgl.spbj='1' then '是' end spbj,
        case when pxgl.tzfsbj='0' then '点击下一题' when pxgl.tzfsbj='1' then '点击选项' end tzfsbj,
        case when pxgl.dqtx='1' then '是' when pxgl.dqtx='0' then '否' end dqtxmc,
        yh.zsxm qrry,pxgl.kscs,to_char(pxgl.gqsj,'YYYY-MM-dd') gqsj,pxgl.spxz,jgxx.jgmc bmmc,pxgl.dqtx,case when pxgl.sffshb='0' then '否' when pxgl.sffshb='1' then '是' end sffshb,pxgl.hbszid,pxgl.bm,
        to_char(pxgl.lrsj,'YYYY-MM-dd') lrsj,pxgl.ks,pxgl.pxfs,pxgl.ndpxid,ndpx.pxmc,pxgl.sfgk
        from igams_pxgl pxgl
        left join igams_ndpx ndpx on ndpx.ndpxid=pxgl.ndpxid
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jgxx jgxx on pxgl.bm=jgxx.jgid
        <where>
            pxgl.scbj!='1'
            <if test="pxid !=null and pxid != ''">
                and pxgl.pxid =#{pxid}
            </if>
            <if test="pxbt !=null and pxbt != ''">
                and pxgl.pxbt=#{pxbt}
            </if>
        </where>
    </select>

    <select id="getDtoById" parameterType="PxglDto" resultType="PxglDto">
        select pxgl.pxid,pxgl.pxbt,pxgl.cssc,pxgl.csts,pxgl.cszf,yh.zsxm qrry,pxgl.tgfs,lb.csmc pxlb,zlb.csmc pxzlb,pxgl.pxnr,pxgl.danxts,pxgl.duoxts,pxgl.jdts,lb.csid pxlbcs,pxgl.ssgs,
        case when pxgl.sfcs='0' then '否' when pxgl.sfcs='1' then '是' end sfcs,
        case when pxgl.htbj='0' then '否'  when pxgl.htbj='1' then '是' end htbj,
        case when pxgl.ckdabj='0' then '否' when pxgl.ckdabj='1' then '是' end ckdabj,
        case when pxgl.dcckbj='0' then '否' when pxgl.dcckbj='1' then '是' end dcckbj,
        case when pxgl.spbj='0' then '否' when pxgl.spbj='1' then '是' end spbj,
        case when pxgl.tzfsbj='0' then '点击下一题' when pxgl.tzfsbj='1' then '点击选项' end tzfsbj,
        case when pxgl.dqtx='1' then '是' when pxgl.dqtx='0' then '否' end dqtxmc,
        yh.zsxm qrry,pxgl.kscs,to_char(pxgl.gqsj,'YYYY-MM-dd') gqsj,pxgl.spxz,ssgs.csmc as ssgsmc,jgxx.jgmc bmmc,pxgl.bm,pxgl.dqtx,
	case when pxgl.sffshb='0' then '否' when pxgl.sffshb='1' then '是' end sffshb,pxgl.hbszid,jgxx.kzcs1 as jgkzcs1,pxgl.sfxzqd
        from igams_pxgl pxgl
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid
        left join matridx_jgxx jgxx on pxgl.bm=jgxx.jgid
        <where>
            pxgl.scbj!='1'
            <if test="pxid !=null and pxid != ''">
                and pxgl.pxid =#{pxid}
            </if>
        </where>
    </select>

    <select id="getDtoList" parameterType="PxglDto" resultType="PxglDto">
        select pxgl.pxid,pxgl.pxbt,pxgl.cssc,pxgl.csts,pxgl.cszf,yh.zsxm qrry,pxgl.tgfs,lb.csmc pxlb,zlb.csmc pxzlb,pxgl.pxnr,pxgl.danxts,pxgl.duoxts,pxgl.jdts,lb.csid pxlbcs,to_char(pxgl.gqsj,'YYYY-MM-dd') gqsj,
        case when pxgl.sfcs='0' then '否' when pxgl.sfcs='1' then '是' end sfcs,
        case when pxgl.htbj='0' then '否'  when pxgl.htbj='1' then '是' end htbj,
        case when pxgl.ckdabj='0' then '否' when pxgl.ckdabj='1' then '是' end ckdabj,
        case when pxgl.dcckbj='0' then '否' when pxgl.dcckbj='1' then '是' end dcckbj,
        case when pxgl.spbj='0' then '否' when pxgl.spbj='1' then '是' end spbj,
        case when pxgl.tzfsbj='0' then '点击下一题' when pxgl.tzfsbj='1' then '点击选项' end tzfsbj,
        yh.zsxm qrry,pxgl.kscs,date_part('day',pxgl.gqsj::timestamp-LOCALTIMESTAMP::timestamp) as syts,
        pxgl.sffshb,jgxx.kzcs1 as jgkzcs1,jgxx.jgmc as bmmc,ssgs.csmc as ssgsmc,pxgl.ks,pxfs.csmc as pxfsmc
        from igams_pxgl pxgl
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry and yh.scbj='0'
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY' and lb.scbj='0'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb and zlb.scbj='0'
        left join matridx_jgxx jgxx on pxgl.bm=jgxx.jgid and jgxx.scbj='0'
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid and ssgs.scbj='0'
        left join matridx_jcsj pxfs on pxgl.pxfs=pxfs.csid and pxfs.scbj='0'
        <where>
            pxgl.scbj!='1'
            <if test="ids !=null and ids.size > 0">
                and pxid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="dqts !=null and dqts !='' ">
                and pxgl.dqtx='1'
                and cast (date_part('day',pxgl.gqsj::timestamp-LOCALTIMESTAMP::timestamp) as numeric) &lt;= cast(#{dqts} as numeric)
                and cast (date_part('epoch',pxgl.gqsj::timestamp-LOCALTIMESTAMP::timestamp) as numeric) &gt;0
            </if>
            <if test="ndpxid !=null and ndpxid !='' ">
                and pxgl.ndpxid=#{ndpxid}
            </if>
        </where>
    </select>
    <select id="getDtoListByFzr" parameterType="PxglDto" resultType="PxglDto">
        select pxgl.pxid,pxgl.pxbt,pxgl.cssc,pxgl.csts,pxgl.cszf,yh.zsxm qrry,pxgl.tgfs,lb.csmc pxlb,zlb.csmc pxzlb,pxgl.pxnr,pxgl.danxts,pxgl.duoxts,pxgl.jdts,lb.csid pxlbcs,
        case when pxgl.sfcs='0' then '否' when pxgl.sfcs='1' then '是' end sfcs,
        case when pxgl.htbj='0' then '否'  when pxgl.htbj='1' then '是' end htbj,
        case when pxgl.ckdabj='0' then '否' when pxgl.ckdabj='1' then '是' end ckdabj,
        case when pxgl.dcckbj='0' then '否' when pxgl.dcckbj='1' then '是' end dcckbj,
        case when pxgl.spbj='0' then '否' when pxgl.spbj='1' then '是' end spbj,
        case when pxgl.tzfsbj='0' then '点击下一题' when pxgl.tzfsbj='1' then '点击选项' end tzfsbj,
        yh.zsxm qrry,pxgl.kscs
        from igams_pxgl pxgl
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join igams_gzgl gzgl on gzgl.ywid=pxgl.pxid and gzgl.scbj='0'
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        <where>
            pxgl.scbj!='1' and gzgl.fzr=#{fzr}
        </where>
    </select>

    <select id="getPagedDtoListOutByIds"  parameterType="PxglDto" resultType="User">
        select yh.yhid,yh.yhm,yh.zsxm,yh.mm,yh.sfsd,yh.dqjs,yh.dlsj,yh.scbj,yh.ddid,yh.wechatid,yh.gwmc,jgxx.jgmc
        from matridx_xtyh yh
        left outer join matridx_yhssjg yhssjg
        on yh.yhid = yhssjg.yhid
        left outer join matridx_jgxx jgxx
        on yhssjg.jgid=jgxx.jgid
        <where>
            yh.scbj='0'
            <if test = "ids != null and ids.size > 0 ">
                and yh.yhid not in
                <foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="entire != null and entire != ''">
                and (yh.zsxm like '%'||#{entire}||'%'
                or jgxx.jgmc like '%'||#{entire}||'%'
               )
            </if>
            <if test="zsxm != null and zsxm != ''">
                and yh.zsxm like '%'||#{zsxm}||'%'
            </if>
            <if test="jgmc != null and jgmc != ''">
                and jgxx.jgmc like '%'||#{jgmc}||'%'
            </if>
        </where>
    </select>

    <update id="delete" parameterType="PxglDto">
        update igams_pxgl set
        scry = #{scry},scsj = LOCALTIMESTAMP,scbj='1'
        <where>
            <if test="ids !=null and ids.size > 0">
                or pxid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <select id="getPagedDtoListXtyh" parameterType="PxglDto" resultType="User">
        select yh.yhid,yh.zsxm,yh.ddid,yh.gwmc,yh.yhm,jgxx.jgmc
        from matridx_xtyh yh
        left join matridx_yhssjg ssjg on yh.yhid=ssjg.yhid
        left join matridx_jgxx jgxx on jgxx.jgid=ssjg.jgid
        <where>
            yh.scbj='0'
            and yh.sfsd='0'
            <if test="entire != null and entire != ''">
                and (yh.yhm ILIKE '%'||#{entire}||'%'
                or yh.zsxm ILIKE '%'||#{entire}||'%'
                or jgxx.jgmc ILIKE '%'||#{entire}||'%'
                )
            </if>
            <if test="yhm!=null and yhm !=''">
                and yh.yhm like '%'||#{yhm}||'%'
            </if>
            <if test="zsxm!=null and zsxm !=''">
                and yh.zsxm like '%'||#{zsxm}||'%'
            </if>
            <if test="jgmc!=null and jgmc !=''">
                and jgxx.jgmc like '%'||#{jgmc}||'%'
            </if>
            <if test="bm!=null and bm !=''">
                and ssjg.jgid like '%'||#{bm}||'%'
            </if>
        </where>
    </select>
    <select id="getListByYhms" parameterType="PxglDto" resultType="User">
        SELECT yhid,zsxm from matridx_xtyh where scbj!='1' and sfsd != '1' and (yhm in
        <foreach collection="yhmorzsxms" open="(" close=")" separator="," item="item">
            #{item}
        </foreach> or
        zsxm in
        <foreach collection="yhmorzsxms" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>)
    </select>


    <select id="getPagedAuditTrain" parameterType="PxglDto" resultType="PxglDto">
        select pxgl.pxid,pxgl.pxbt,pxgl.cssc,pxgl.csts,pxgl.cszf,yh.zsxm qrry,pxgl.tgfs,lb.csmc pxlb,zlb.csmc pxzlb,pxgl.danxts,pxgl.duoxts,pxgl.jdts,pxgl.tkts,pxgl.pdts,
        case when pxgl.sfcs='0' then '否' when pxgl.sfcs='1' then '是' end sfcs,
        case when pxgl.htbj='0' then '否'  when pxgl.htbj='1' then '是' end htbj,
        case when pxgl.ckdabj='0' then '否' when pxgl.ckdabj='1' then '是' end ckdabj,
        case when pxgl.dcckbj='0' then '否' when pxgl.dcckbj='1' then '是' end dcckbj,
        case when pxgl.spbj='0' then '否' when pxgl.spbj='1' then '是' end spbj,
        case when pxgl.tzfsbj='0' then '点击下一题' when pxgl.tzfsbj='1' then '点击选项' end tzfsbj,
        to_char(pxgl.gqsj,'YYYY-MM-dd') gqsj,pxgl.spxz,ssgs.csmc ssgsmc,pxgl.zt,jgxx.jgmc as bmmc
        from igams_pxgl pxgl
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid
        left join matridx_jgxx jgxx on pxgl.bm=jgxx.jgid
        <where>
            pxgl.scbj!='1'
            <if test="entire != null and entire != ''">
                and (yh.zsxm like '%'||#{entire}||'%'
                or pxgl.pxbt like '%'||#{entire}||'%'
                or jgxx.jgmc like '%'||#{entire}||'%')
            </if>
            <if test=" qrry !=null and qrry != ''">
                and yh.zsxm ILIKE '%'||#{qrry}||'%'
            </if>
            <if test="pxbt !=null and pxbt != ''">
                and pxgl.pxbt ILIKE '%'||#{pxbt}||'%'
            </if>
            <if test=" bmmc !=null and bmmc != ''">
                and jgxx.jgmc ILIKE '%'||#{bmmc}||'%'
            </if>
            <if test = "pxlbs != null and pxlbs.length > 0 "  >
                and pxgl.pxlb in
                <foreach collection="pxlbs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "pxzlbs != null and pxzlbs.length > 0 "  >
                and pxgl.pxzlb in
                <foreach collection="pxzlbs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "ssgss != null and ssgss.length > 0 "  >
                and pxgl.ssgs in
                <foreach collection="ssgss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <select id="getAuditListTrain" parameterType="List" resultType="PxglDto">

        select pxgl.pxid,pxgl.pxbt,pxgl.cssc,pxgl.csts,pxgl.cszf,yh.zsxm qrry,pxgl.tgfs,lb.csmc pxlb,zlb.csmc pxzlb,pxgl.danxts,pxgl.duoxts,pxgl.jdts,pxgl.tkts,pxgl.pdts,
        case when pxgl.sfcs='0' then '否' when pxgl.sfcs='1' then '是' end sfcs,
        case when pxgl.htbj='0' then '否'  when pxgl.htbj='1' then '是' end htbj,
        case when pxgl.ckdabj='0' then '否' when pxgl.ckdabj='1' then '是' end ckdabj,
        case when pxgl.dcckbj='0' then '否' when pxgl.dcckbj='1' then '是' end dcckbj,
        case when pxgl.spbj='0' then '否' when pxgl.spbj='1' then '是' end spbj,
        case when pxgl.tzfsbj='0' then '点击下一题' when pxgl.tzfsbj='1' then '点击选项' end tzfsbj,
        to_char(pxgl.gqsj,'YYYY-MM-dd') gqsj,pxgl.spxz,ssgs.csmc ssgsmc,pxgl.zt,jgxx.jgmc as bmmc,
        shxx_sqsj,shxx_gwmc,shxx_lrryxm,shxx_shsj,shxx_sftg,shxx_shxxid,shxx_shyj,sqr
        from
        <foreach collection="list" separator="union" open="(" close=")" item="item" index="index">
            select #{item.pxid} pxid,#{item.shxx_shxxid} shxx_shxxid,#{item.shxx_sqsj} shxx_sqsj,#{item.sqr} sqr,
            #{item.shxx_lrryxm} shxx_lrryxm,#{item.shxx_shsj} shxx_shsj,
            #{item.shxx_sftg} shxx_sftg,#{item.shxx_shyj} shxx_shyj,#{item.shxx_gwmc} shxx_gwmc,#{index} rownum
        </foreach> tmp
        left join igams_pxgl pxgl on pxgl.pxid=tmp.pxid and pxgl.scbj='0'
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid
        left join matridx_jgxx jgxx on pxgl.bm=jgxx.jgid
        order by tmp.rownum
    </select>

    <select id="getYearGroup" resultType="PxglDto">
    select  to_char( lrsj, 'yyyy' ) lrsj from igams_pxgl where scbj='0'  GROUP BY
        to_char( lrsj, 'yyyy' )
    ORDER BY
        to_char( lrsj, 'yyyy' ) desc
	</select>

    <select id="getTypeStatis" resultType="PxglDto">
       SELECT
        tab.lbgs,
        pxlb.csmc AS pxlbmc
        FROM
            ( SELECT COUNT ( pxid ) AS lbgs, pxlb FROM igams_pxgl WHERE scbj = '0' GROUP BY pxlb ) tab
            LEFT JOIN matridx_jcsj pxlb ON pxlb.csid = tab.pxlb
            AND pxlb.scbj = '0'
	</select>

    <select id="getCountStatis" parameterType="PxglDto" resultType="PxglDto">
        SELECT
            tab.pxgs,
            tmp.pxrs,
            tab.lrsj
        FROM
            (
            SELECT COUNT
                ( pxid ) AS pxgs,
                to_char( lrsj, 'MM' ) AS lrsj
            FROM
                igams_pxgl
            WHERE
                scbj = '0' and to_char( lrsj, 'yyyy' )=#{lrsj}
            GROUP BY
                to_char( lrsj, 'MM' )
            ) tab
            LEFT JOIN (
            SELECT COUNT
                ( gzgl.gzid ) AS pxrs,
                to_char( pxgl.lrsj, 'MM' ) AS lrsj
            FROM
                igams_pxgl pxgl
                LEFT JOIN igams_gzgl gzgl ON gzgl.ywid = pxgl.pxid
                AND gzgl.scbj = '0'
            WHERE
                pxgl.scbj = '0' and to_char( pxgl.lrsj, 'yyyy' ) =#{lrsj}
            GROUP BY
                to_char( pxgl.lrsj, 'MM' )
            ) tmp ON tmp.lrsj = tab.lrsj
            order by tab.lrsj asc
    </select>
    <!-- 选中导出  -->
    <select id="getListForSelectExp" parameterType="PxglDto" resultType="PxglDto">
        SELECT  pxgl.pxid ${sqlParam}
        FROM (
        <foreach collection="ids" separator=" union all "  index="index" item="item">
            select #{item, jdbcType=VARCHAR} pxid, #{index} ordernum
        </foreach>
        ) tmp
        left outer join igams_pxgl pxgl on pxgl.pxid=tmp.pxid
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid
        left join igams_gzgl gzgl on gzgl.ywid=pxgl.pxid and gzgl.scbj ='0'
        left outer join (
        select gzid,zf,sftg,sfcs
        from (
        select gzgl.gzid,grksgl.zf,case when pxgl.sfcs='1' and max(cast(grksgl.zf as numeric)) &gt;=cast(pxgl.tgfs as numeric) then '通过'
        when pxgl.sfcs='1' and (max(cast(grksgl.zf as numeric)) &lt;cast(pxgl.tgfs as numeric) or max(cast(grksgl.zf as numeric)) is null)then  '未通过' end sftg,case when pxgl.sfcs='1' then '是' else '否' end sfcs,row_number() over(partition by gzgl.gzid order by max(cast(grksgl.zf as numeric)) desc) index
        from igams_gzgl gzgl
        left join igams_pxgl pxgl on pxgl.pxid=gzgl.ywid and pxgl.scbj='0'
        left join igams_grksgl grksgl on grksgl.gzid=gzgl.gzid and grksgl.scbj='0'
        where  gzgl.scbj='0'
        group by grksgl.zf,gzgl.gzid,pxgl.tgfs,pxgl.sfcs
        )tt where tt.index='1'
        )tmp1 on gzgl.gzid=tmp1.gzid
        left join (
        select zf,gzid
        from
        (select grksgl.zf,gzgl.gzid,row_number() over(partition by gzgl.gzid order by grksgl.lrsj desc) index
        from igams_gzgl gzgl
        left join igams_grksgl grksgl on grksgl.gzid=gzgl.gzid and grksgl.scbj='0'
        where gzgl.scbj='0'
        )tmp
        where index='1'
        )tab on tab.gzid=gzgl.gzid
        left outer join matridx_xtyh fzr on gzgl.fzr = fzr.yhid and fzr.sfsd='0' and fzr.scbj ='0'
        left outer join matridx_jgxx jgxx on jgxx.jgid = gzgl.jgid
        ORDER BY tmp.ordernum
    </select>

    <!-- 获取搜索导出的条数 -->
    <select id="getCountForSearchExp"  parameterType="PxglDto" resultType="java.lang.Integer">
        select  count (pxgl.pxid)
        from igams_pxgl pxgl
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid
        left join igams_gzgl gzgl on gzgl.ywid=pxgl.pxid and gzgl.scbj ='0'
        left outer join matridx_xtyh fzr on gzgl.fzr = fzr.yhid and fzr.sfsd='0' and fzr.scbj ='0'
        left outer join matridx_jgxx jgxx on jgxx.jgid = gzgl.jgid
        <where>
            pxgl.scbj!='1'
            <if test="entire != null and entire != ''">
                and (yh.zsxm like '%'||#{entire}||'%'
                or pxgl.pxbt like '%'||#{entire}||'%')
            </if>
            <if test=" qrry !=null and qrry != ''">
                and yh.zsxm ILIKE '%'||#{qrry}||'%'
            </if>
            <if test="pxbt !=null and pxbt != ''">
                and pxgl.pxbt ILIKE '%'||#{pxbt}||'%'
            </if>
            <if test = "pxlbs != null and pxlbs.length > 0 "  >
                and pxgl.pxlb in
                <foreach collection="pxlbs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "spbjs != null and spbjs.length > 0 "  >
                and pxgl.spbj in
                <foreach collection="spbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "sfcss != null and sfcss.length > 0 "  >
                and pxgl.sfcs in
                <foreach collection="sfcss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "htbjs != null and htbjs.length > 0 "  >
                and pxgl.htbj in
                <foreach collection="htbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "tzfsbjs != null and tzfsbjs.length > 0 "  >
                and pxgl.tzfsbj in
                <foreach collection="tzfsbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "ckdabjs != null and ckdabjs.length > 0 "  >
                and pxgl.ckdabj in
                <foreach collection="ckdabjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "dcckbjs != null and dcckbjs.length > 0 "  >
                and pxgl.dcckbj in
                <foreach collection="dcckbjs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "ssgss != null and ssgss.length > 0 "  >
                and pxgl.ssgs in
                <foreach collection="ssgss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="lrsjstart != null and lrsjstart != ''">
                and to_char(pxgl.lrsj,'yyyy-mm-dd') &gt;= #{lrsjstart}
            </if>
            <if test="lrsjend != null and lrsjend != ''">
                and to_char(pxgl.lrsj,'yyyy-mm-dd') &lt;= #{lrsjend}
            </if>
        </where>
    </select>

    <!-- 搜索导出 -->
    <select id="getListForSearchExp" parameterType="PxglDto" resultType="PxglDto">
        SELECT  pxgl.pxid  ${sqlParam}
        from igams_pxgl pxgl
        left join matridx_xtyh yh on yh.yhid=pxgl.qrry
        left join matridx_jcsj lb on lb.csid=pxgl.pxlb and lb.jclb='TRAINCATEGORY'
        left join matridx_jcsj zlb on zlb.csid=pxgl.pxzlb
        left join matridx_jcsj ssgs on pxgl.ssgs=ssgs.csid
        left join igams_gzgl gzgl on gzgl.ywid=pxgl.pxid and gzgl.scbj ='0'
        left outer join matridx_xtyh fzr on gzgl.fzr = fzr.yhid and fzr.sfsd='0' and fzr.scbj ='0'
        left outer join matridx_jgxx jgxx on jgxx.jgid = gzgl.jgid
        left outer join (
        select gzid,zf,sftg,sfcs
        from (
        select gzgl.gzid,grksgl.zf,case when pxgl.sfcs='1' and max(cast(grksgl.zf as numeric)) &gt;=cast(pxgl.tgfs as numeric) then '通过'
        when pxgl.sfcs='1' and (max(cast(grksgl.zf as numeric)) &lt;cast(pxgl.tgfs as numeric) or max(cast(grksgl.zf as numeric)) is null)then  '未通过' end sftg,case when pxgl.sfcs='1' then '是' else '否' end sfcs,row_number() over(partition by gzgl.gzid order by max(cast(grksgl.zf as numeric)) desc) index
        from igams_gzgl gzgl
        left join igams_pxgl pxgl on pxgl.pxid=gzgl.ywid and pxgl.scbj='0'
        left join igams_grksgl grksgl on grksgl.gzid=gzgl.gzid and grksgl.scbj='0'
        where  gzgl.scbj='0'
        group by grksgl.zf,gzgl.gzid,pxgl.tgfs,pxgl.sfcs
        )tt where tt.index='1'
        )tmp1 on gzgl.gzid=tmp1.gzid
        left join (
        select zf,gzid
        from
        (select grksgl.zf,gzgl.gzid,row_number() over(partition by gzgl.gzid order by grksgl.lrsj desc) index
        from igams_gzgl gzgl
        left join igams_grksgl grksgl on grksgl.gzid=gzgl.gzid and grksgl.scbj='0'
        where gzgl.scbj='0'
        )tmp
        where index='1'
        )tab on tab.gzid=gzgl.gzid
        <where>
        pxgl.scbj!='1'
        <if test="entire != null and entire != ''">
            and (yh.zsxm like '%'||#{entire}||'%'
            or pxgl.pxbt like '%'||#{entire}||'%')
        </if>
        <if test=" qrry !=null and qrry != ''">
            and yh.zsxm ILIKE '%'||#{qrry}||'%'
        </if>
        <if test="pxbt !=null and pxbt != ''">
            and pxgl.pxbt ILIKE '%'||#{pxbt}||'%'
        </if>
        <if test = "pxlbs != null and pxlbs.length > 0 "  >
            and pxgl.pxlb in
            <foreach collection="pxlbs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "spbjs != null and spbjs.length > 0 "  >
            and pxgl.spbj in
            <foreach collection="spbjs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "sfcss != null and sfcss.length > 0 "  >
            and pxgl.sfcs in
            <foreach collection="sfcss" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "htbjs != null and htbjs.length > 0 "  >
            and pxgl.htbj in
            <foreach collection="htbjs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "tzfsbjs != null and tzfsbjs.length > 0 "  >
            and pxgl.tzfsbj in
            <foreach collection="tzfsbjs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "ckdabjs != null and ckdabjs.length > 0 "  >
            and pxgl.ckdabj in
            <foreach collection="ckdabjs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "dcckbjs != null and dcckbjs.length > 0 "  >
            and pxgl.dcckbj in
            <foreach collection="dcckbjs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "ssgss != null and ssgss.length > 0 "  >
            and pxgl.ssgs in
            <foreach collection="ssgss" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
            <if test="lrsjstart != null and lrsjstart != ''">
                and to_char(pxgl.lrsj,'yyyy-mm-dd') &gt;= #{lrsjstart}
            </if>
            <if test="lrsjend != null and lrsjend != ''">
                and to_char(pxgl.lrsj,'yyyy-mm-dd') &lt;= #{lrsjend}
            </if>
        </where>
        ORDER BY
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>
    <select id="getTrainStausCount" parameterType="PxglDto" resultType="int">
        SELECT COUNT
                   ( * ) sl
        FROM
            igams_pxgl pxgl
                LEFT OUTER JOIN igams_gzgl gzgl ON pxgl.pxid = gzgl.ywid
                AND gzgl.scbj = '0'
                LEFT OUTER JOIN matridx_fjcfb fj ON fj.ywid = gzgl.ywid
                LEFT OUTER JOIN matridx_xtyh yh ON gzgl.fzr = yh.yhid
        WHERE
            pxgl.scbj = '0' and fj.ywlx='IMP_TRAIN_PICTURE'
        <if test="zt != null and zt != ''">
            and gzgl.zt = #{zt}
        </if>
        <if test="gqsj != null and gqsj != ''">
            AND date_part( 'day', CAST ( pxgl.gqsj AS TIMESTAMP ) - CAST ( NOW( ) AS TIMESTAMP ) ) &lt; CAST ( #{gqsj} AS NUMERIC )
            AND date_part( 'day', CAST ( pxgl.gqsj AS TIMESTAMP ) - CAST ( NOW( ) AS TIMESTAMP ) ) >= 0
        </if>
          AND yh.ddid = #{ddid}
    </select>
    <select id="getTrainGqPxBts" parameterType="PxglDto" resultType="String">
        SELECT pxgl.pxbt
        FROM
            igams_pxgl pxgl
                LEFT OUTER JOIN igams_gzgl gzgl ON pxgl.pxid = gzgl.ywid
                AND gzgl.scbj = '0'
                LEFT OUTER JOIN matridx_xtyh yh ON gzgl.fzr = yh.yhid
        WHERE
            pxgl.scbj = '0'
        <if test="zt != null and zt != ''">
            and gzgl.zt = #{zt}
        </if>
        <if test="gqsj != null and gqsj != ''">
            AND date_part( 'day', CAST ( pxgl.gqsj AS TIMESTAMP ) - CAST ( NOW( ) AS TIMESTAMP ) ) &lt; CAST ( #{gqsj} AS NUMERIC )
            AND date_part( 'day', CAST ( pxgl.gqsj AS TIMESTAMP ) - CAST ( NOW( ) AS TIMESTAMP ) ) >= 0
        </if>
          AND yh.ddid = #{ddid}
    </select>
    <select id="getTrainStausGroup" parameterType="PxglDto" resultType="Map">
        SELECT COALESCE(case when gzgl.zt ='00' then COUNT(pxgl.pxid) end ,'0') wwcsl,
               COALESCE(case when gzgl.zt ='10' or gzgl.zt ='80' then COUNT(pxgl.pxid) end,'0') ywcsl,
               to_char( gzgl.lrsj, 'yyyy-MM' ) lrsj
        FROM
            igams_pxgl pxgl
                LEFT OUTER JOIN igams_gzgl gzgl ON pxgl.pxid = gzgl.ywid
                AND gzgl.scbj = '0'
                LEFT OUTER JOIN matridx_xtyh yh ON gzgl.fzr = yh.yhid
        WHERE
            pxgl.scbj = '0'
        and to_char( gzgl.lrsj, 'yyyy-MM' ) is not null
        AND yh.ddid = #{ddid}
        AND to_char( gzgl.lrsj, 'yyyy' ) =#{year}
        GROUP BY to_char( gzgl.lrsj, 'yyyy-MM' ),gzgl.zt
        ORDER BY lrsj desc
    </select>
    <select id="getTrainGroupLb" parameterType="PxglDto" resultType="Map">
        SELECT COUNT
                   ( pxgl.pxid ) sl ,jcsj.csmc pxlbmc,pxgl.pxlb
        FROM
            igams_pxgl pxgl
                LEFT OUTER JOIN igams_gzgl gzgl ON pxgl.pxid = gzgl.ywid
                AND gzgl.scbj = '0'
                LEFT OUTER JOIN matridx_xtyh yh ON gzgl.fzr = yh.yhid
                LEFT JOIN matridx_jcsj jcsj ON jcsj.csid = pxgl.pxlb
        WHERE
            pxgl.scbj = '0'
          AND yh.ddid = #{ddid}
          AND to_char( gzgl.lrsj, 'yyyy' ) =#{year}
        GROUP BY jcsj.csmc,pxgl.pxlb
    </select>
    <select id="getAllUses" parameterType="PxglDto" resultType="String">
        select yhid from matridx_xtyh
        <where>
           sfsd='0' and scbj='0'
        </where>
    </select>
    <select id="getTrainRecords" parameterType="PxglDto" resultType="PxglDto">
        select
        pxgl.pxid,gzgl.gzid,to_char(gzgl.qwwcsj,'YYYY-MM-DD') qwwcsj,coalesce(pxgl.pxbt,gzgl.ywmc) pxbt,gzgl.jlbh,
        coalesce(pxgl.ks,gzgl.ks) ks,coalesce(pxpxfs.csmc,gzpxfs.csmc) pxfsmc,
        case when gzgl.tgbj ='1' then '合格' else '不合格' end sfhg,gzgl.bz
        from
        igams_gzgl gzgl
        left join igams_pxgl pxgl on gzgl.ywid = pxgl.pxid and pxgl.scbj ='0'
        left join matridx_jcsj gzpxfs on gzgl.pxfs = gzpxfs.csid
        left join matridx_jcsj pxpxfs on pxgl.pxfs = pxpxfs.csid
        where gzgl.scbj ='0'
        and gzgl.gzid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        order by gzgl.fzr,gzgl.qwwcsj
    </select>
</mapper>
