<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.hrm.dao.post.ITgxxDao" >
    <!-- 批量新增职位晋升信息 -->
    <insert id="insertTgxxDtos" parameterType="List">
        insert into matridx_tgxx(tgxxid,ddid,rzrq,ybm,yzbm,yzw,zrbm,zw,sxrq,ddslid,sptgsj)
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.tgxxid},#{item.ddid},cast(#{item.rzrq} as date),#{item.ybm},#{item.yzbm},#{item.yzw},#{item.zrbm},#{item.zw},cast(#{item.sxrq} as date),#{item.ddslid},cast(#{item.sptgsj} as date)
                )
            </foreach>
        </if>
    </insert>
    <!-- 新增职位晋升信息 -->
    <insert id="insert" parameterType="TgxxDto">
        insert into matridx_tgxx(tgxxid,ddid,rzrq,ybm,yzbm,yzw,zrbm,zw,sxrq,ddslid,sptgsj)
        values(
                #{tgxxid},#{ddid},cast(#{rzrq} as date),#{ybm},
               #{yzbm},#{yzw},#{zrbm},#{zw},cast(#{sxrq} as date),
               #{ddslid},cast(#{sptgsj} as date)
              )
    </insert>
    <select id="getDtoList" parameterType="TgxxDto" resultType="TgxxDto">
        SELECT tgxxid,ddslid from matridx_tgxx
    </select>
</mapper>