<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.hrm.dao.post.IYghmcDao" >
    <sql id="SEARCH_TERMS">
        yh.scbj!='1'
    <if test="entire != null and entire != ''">
        and (
        yh.zsxm ILIKE '%'||#{entire}||'%'
        or yh.yhm ILIKE '%'||#{entire}||'%'
        or jgxx.jgmc ILIKE '%'||#{entire}||'%'
        or yh.gwmc ILIKE '%'||#{entire}||'%'
        or yghmc.mz ILIKE '%'||#{entire}||'%'
        or yghmc.sfz ILIKE '%'||#{entire}||'%'
        or yghmc.csyf ILIKE '%'||#{entire}||'%'
        or yghmc.xl ILIKE '%'||#{entire}||'%'
        or yghmc.byyx ILIKE '%'||#{entire}||'%'
        or yghmc.zy ILIKE '%'||#{entire}||'%'
        or yghmc.sjhm ILIKE '%'||#{entire}||'%'
        or yghmc.hyzk ILIKE '%'||#{entire}||'%'
        or yghmc.zzmm ILIKE '%'||#{entire}||'%'
        or yghmc.zc ILIKE '%'||#{entire}||'%'
        or yghmc.jg ILIKE '%'||#{entire}||'%'
        or yghmc.bgdd ILIKE '%'||#{entire}||'%'
        or yghmc.yhkh ILIKE '%'||#{entire}||'%'
        or yghmc.khh ILIKE '%'||#{entire}||'%'
        )
    </if>
        <if test="xm != null and xm != ''">
            and yh.zsxm ILIKE '%'||#{xm}||'%'
        </if>
        <if test="ygbm != null and ygbm != ''">
            and yh.yhm ILIKE '%'||#{ygbm}||'%'
        </if>
        <if test="bm != null and bm != ''">
            and jgxx.jgmc ILIKE '%'||#{bm}||'%'
        </if>
        <if test="gwmc != null and gwmc != ''">
            and yh.gwmc ILIKE '%'||#{gwmc}||'%'
        </if>
        <if test="mz != null and mz != ''">
            and yghmc.mz ILIKE '%'||#{mz}||'%'
        </if>
        <if test="sfz != null and sfz != ''">
            and yghmc.sfz ILIKE '%'||#{sfz}||'%'
        </if>
        <if test="csyf != null and csyf != ''">
            and yghmc.csyf ILIKE '%'||#{csyf}||'%'
        </if>
        <if test="xl != null and xl != ''">
            and yghmc.xl ILIKE '%'||#{xl}||'%'
        </if>
        <if test="byyx != null and byyx != ''">
            and yghmc.byyx ILIKE '%'||#{byyx}||'%'
        </if>
        <if test="zy != null and zy != ''">
            and yghmc.zy ILIKE '%'||#{zy}||'%'
        </if>
        <if test="sjhm != null and sjhm != ''">
            and yghmc.sjhm ILIKE '%'||#{sjhm}||'%'
        </if>
        <if test="hyzk != null and hyzk != ''">
            and yghmc.hyzk ILIKE '%'||#{hyzk}||'%'
        </if>
        <if test="zzmm != null and zzmm != ''">
            and yghmc.zzmm ILIKE '%'||#{zzmm}||'%'
        </if>
        <if test="zc != null and zc != ''">
            and yghmc.zc ILIKE '%'||#{zc}||'%'
        </if>
        <if test="jg != null and jg != ''">
            and yghmc.jg ILIKE '%'||#{jg}||'%'
        </if>
        <if test="bgdd != null and bgdd != ''">
            and yghmc.bgdd ILIKE '%'||#{bgdd}||'%'
        </if>
        <if test="yhkh != null and yhkh != ''">
            and yghmc.yhkh ILIKE '%'||#{yhkh}||'%'
        </if>
        <if test="khh != null and khh != ''">
            and  yghmc.khh ILIKE '%'||#{khh}||'%'
        </if>
        <if test = "sflzs != null and sflzs.length > 0 "  >
            and yghmc.sflz in
            <foreach collection="sflzs" separator="," open="(" close=") "
                     item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "sfqdbmxys != null and sfqdbmxys.length > 0 "  >
            and yghmc.sfqdbmxy in
            <foreach collection="sfqdbmxys" separator="," open="(" close=") "
                     item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="rzrqstart != null and rzrqstart != ''">
            and to_char(yghmc.rzrq,'yyyy-mm-dd') &gt;= #{rzrqstart}
        </if>
        <if test="rzrqend != null and rzrqend != ''">
            and to_char(yghmc.rzrq,'yyyy-mm-dd') &lt;= #{rzrqend}
        </if>
        <if test="zzrqstart != null and zzrqstart != ''">
            and to_char(yghmc.zzrq,'yyyy-mm-dd') &gt;= #{zzrqstart}
        </if>
        <if test="zzrqend != null and zzrqend != ''">
            and to_char(yghmc.zzrq,'yyyy-mm-dd') &lt;= #{zzrqend}
        </if>
        <if test="cjgzrqstart != null and cjgzrqstart != ''">
            and to_char(yghmc.cjgzsj,'yyyy-mm-dd') &gt;= #{cjgzrqstart}
        </if>
        <if test="cjgzrqend != null and cjgzrqend != ''">
            and to_char(yghmc.cjgzsj,'yyyy-mm-dd') &lt;= #{cjgzrqend}
        </if>
        <if test="schtqsrqstart != null and schtqsrqstart != ''">
            and to_char(yghmc.schtqsr,'yyyy-mm-dd') &gt;= #{schtqsrqstart}
        </if>
        <if test="schtqsrqend != null and schtqsrqend != ''">
            and to_char(yghmc.schtqsr,'yyyy-mm-dd') &lt;= #{schtqsrqend}
        </if>
        <if test="schtdqrqstart != null and schtdqrqstart != ''">
            and to_char(yghmc.schtdqr,'yyyy-mm-dd') &gt;= #{schtdqrqstart}
        </if>
        <if test="schtdqrqend != null and schtdqrqend != ''">
            and to_char(yghmc.schtdqr,'yyyy-mm-dd') &lt;= #{schtdqrqend}
        </if>
        <if test="lzrqstart != null and lzrqstart != ''">
            and to_char(yghmc.lzrq,'yyyy-mm-dd') &gt;= #{lzrqstart}
        </if>
        <if test="lzrqend != null and lzrqend != ''">
            and to_char(yghmc.lzrq,'yyyy-mm-dd') &lt;= #{lzrqend}
        </if>
        <if test = "bms != null and bms.length > 0 "  >
            and jgxx.jgid in
            <foreach collection="bms" separator="," open="(" close=") "
                     item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "ssgss != null and ssgss.length > 0 "  >
            and yghmc.ssgs in
            <foreach collection="ssgss" separator="," open="(" close=") "
                     item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="fl == 'sx'">
            and  yh.gwmc ILIKE '%' || '实习生' || '%'
        </if>
        <if test="fl == 'zz'">
            and  yghmc.sflz='0'
        </if>
        <if test="fl == 'zs'">
            and  yghmc.sflz='0' and yghmc.zzrq is not null
        </if>
        <if test="fl == 'sy'">
            and  yghmc.sflz='0' and yghmc.zzrq is null and yh.gwmc not ILIKE'%' || '实习生' || '%'
        </if>
        <if test="fl == 'lz'">
            and  yghmc.sflz='1'
        </if>
        <if test="fl == 'byrq'">
            and  to_char(yghmc.rzrq, 'yyyy-MM')=to_char(LOCALTIMESTAMP, 'yyyy-MM')
        </if>
        <if test="fl == 'bylz'">
            and  to_char(yghmc.lzrq, 'yyyy-MM')=to_char(LOCALTIMESTAMP, 'yyyy-MM')
        </if>
    </sql>
    <select id="getPagedDtoList" resultType="YghmcDto" parameterType="YghmcDto">
        SELECT
        yghmc.yghmcid,
        yghmc.yhid,
        yh.yhm ygbm,
        yh.zsxm xm,
        jgxx.jgmc bm,
        yghmc.mz,
        yghmc.sex,
        yghmc.bgdd,
        yghmc.xjdz,
        yghmc.rzrq,
        yghmc.zzrq,
        yh.gwmc,
        yghmc.zjyxq,
        yghmc.csrq,
        yghmc.csyf,
        yghmc.xl,
        yghmc.byyx,
        yghmc.zy,
        yghmc.sjhm,
        yghmc.cjgzsj,
        yghmc.sl,
        yghmc.hyzk,
        yghmc.zzmm,
        yghmc.zc,
        yghmc.jg,
        yghmc.sfzdz,
        yghmc.hjxz,
        yghmc.jjlxr,
        yghmc.lxrdh,
        yghmc.schtqsr,
        yghmc.schtdqr,
        yghmc.yhkh,
        yghmc.khh,
        yghmc.sfz,
        CASE

        WHEN yghmc.sfqdbmxy = '1' THEN
        '是' ELSE'否'
        END sfqdbmxy,
        CASE

        WHEN yghmc.sflz = '1' THEN
        '是' ELSE'否'
        END sflz,
        yghmc.lzrq,
        CASE

        WHEN yghmc.dqtx = '1' THEN
        '是' ELSE'否'
        END dqtx ,
        yghmc.xhtqsr,
        yghmc.xhtdqr,
        zszg.zsxm zszg,
        yghmc.zszg,
        yghmc.sjbm
        FROM
        matridx_yghmc yghmc
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid and yh.scbj='0'
        LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        left join matridx_xtyh zszg on zszg.ddid=yghmc.zszg and zszg.scbj='0'
        <where>
            <include refid="SEARCH_TERMS"></include>
        </where>
    </select>

    <select id="getAllList" resultType="YghmcDto">
        SELECT
        yghmc.yghmcid,
        yghmc.yhid,
        yh.yhm ygbm,
        yh.zsxm xm,
        yghmc.mz,
        yghmc.sex,
        yghmc.bgdd,
        yghmc.xjdz,
        yghmc.rzrq,
        yghmc.zzrq,
        yh.gwmc,
        yghmc.zjyxq,
        yghmc.csrq,
        yghmc.csyf,
        yghmc.xl,
        yghmc.byyx,
        yghmc.zy,
        yghmc.sjhm,
        yghmc.cjgzsj,
        yghmc.sl,
        yghmc.hyzk,
        yghmc.zzmm,
        yghmc.zc,
        yghmc.jg,
        yghmc.sfzdz,
        yghmc.hjxz,
        yghmc.jjlxr,
        yghmc.lxrdh,
        yghmc.schtqsr,
        yghmc.schtdqr,
        yghmc.yhkh,
        yghmc.khh,
        yghmc.sfz,
        CASE

        WHEN yghmc.sfqdbmxy = '1' THEN
        '是' ELSE'否'
        END sfqdbmxy,
        CASE

        WHEN yghmc.sflz = '1' THEN
        '是' ELSE'否'
        END sflz,
        yghmc.lzrq,
        CASE

        WHEN yghmc.dqtx = '1' THEN
        '是' ELSE'否'
        END dqtx ,
        yghmc.xhtqsr,
        yghmc.xhtdqr,
        yghmc.zszg,
        yghmc.sjbm,
        yghmc.ddid
        FROM
        matridx_yghmc yghmc
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid and yh.scbj='0'
        WHERE yh.scbj!='1'
    </select>

    <select id="getDtoById" resultType="YghmcDto" parameterType="String">
        SELECT
        yghmc.yghmcid,
        yghmc.yhid,
        yh.yhm ygbm,
        yh.zsxm xm,
        jgxx.jgmc bm,
        yghmc.mz,
        yghmc.sex,
        yghmc.bgdd,
        yghmc.xjdz,
        yghmc.rzrq,
        yghmc.zzrq,
        yh.gwmc,
        yghmc.zjyxq,
        yghmc.csrq,
        yghmc.csyf,
        yghmc.xl,
        yghmc.byyx,
        yghmc.zy,
        yghmc.sjhm,
        yghmc.cjgzsj,
        yghmc.sl,
        yghmc.hyzk,
        yghmc.zzmm,
        yghmc.zc,
        yghmc.jg,
        yghmc.sfzdz,
        yghmc.hjxz,
        yghmc.jjlxr,
        yghmc.lxrdh,
        yghmc.schtqsr,
        yghmc.schtdqr,
        yghmc.yhkh,
        yghmc.khh,
        yghmc.sfz,
        CASE

        WHEN yghmc.sfqdbmxy = '1' THEN
        '是' ELSE'否'
        END sfqdbmxy,
        CASE

        WHEN yghmc.sflz = '1' THEN
        '是' ELSE'否'
        END sflz,
        yghmc.lzrq,
        CASE

        WHEN yghmc.dqtx = '1' THEN
        '是' ELSE'否'
        END dqtx ,
        yghmc.xhtqsr,
        yghmc.xhtdqr,
        yghmc.ssgs,
        zszg.zsxm zszg,
        yghmc.sjbm,
        yghmc.zszg
        FROM
        matridx_yghmc yghmc
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid and yh.scbj='0'
        LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        left join matridx_xtyh zszg on zszg.ddid=yghmc.zszg and zszg.scbj='0'
        <where>
            yghmc.yghmcid=#{yghmcid}
        </where>
    </select>
    <select id="getYghmcDtos" resultType="YghmcDto" parameterType="String">
        SELECT
        yghmc.yghmcid,
        yghmc.yhid,
        yh.yhm ygbm,
        yh.zsxm,
        jgxx.jgmc,
        yghmc.mz,
        yghmc.sex,
        yghmc.bgdd,
        yghmc.xjdz,
        yghmc.rzrq,
        yghmc.zzrq,
        yh.gwmc,
        yghmc.zjyxq,
        yghmc.csrq,
        yghmc.csyf,
        yghmc.xl,
        yghmc.byyx,
        yghmc.zy,
        yghmc.sjhm,
        yghmc.cjgzsj,
        yghmc.sl,
        yghmc.hyzk,
        yghmc.zzmm,
        yghmc.zc,
        yghmc.jg,
        yghmc.sfzdz,
        yghmc.hjxz,
        yghmc.jjlxr,
        yghmc.lxrdh,
        yghmc.schtqsr,
        yghmc.schtdqr,
        yghmc.yhkh,
        yghmc.khh,
        yghmc.sfz,
        CASE
        WHEN yghmc.sfqdbmxy = '1' THEN
        '是' ELSE'否'
        END sfqdbmxy,
        CASE
        WHEN yghmc.sflz = '1' THEN
        '是' ELSE'否'
        END sflz,
        yghmc.lzrq,
        CASE
        WHEN yghmc.dqtx = '1' THEN
        '是' ELSE'否'
        END dqtx ,
        yghmc.xhtqsr,
        yghmc.xhtdqr,
        yghmc.ssgs
        FROM
        matridx_yghmc yghmc
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid and yh.scbj='0'
        LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        <where>
            yghmc.yhid is not null and  yghmc.yghmcid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="getDtoByYhId" resultType="YghmcDto" parameterType="String">
        SELECT
        yghmc.yghmcid,
        yghmc.yhid,
        yghmc.zszg
        FROM
        matridx_yghmc yghmc
        <where>
            yghmc.yhid=#{yhid}
        </where>
    </select>
    <select id="getDto" resultType="YghmcDto" parameterType="YghmcDto">
        SELECT
        yghmc.yghmcid,
        yghmc.yhid,
        yh.yhm ygbm,
        yh.zsxm,
        jgxx.jgmc,
        yghmc.mz,
        yghmc.sex,
        yghmc.bgdd,
        yghmc.xjdz,
        yghmc.rzrq,
        yghmc.zzrq,
        yh.gwmc,
        yghmc.zjyxq,
        yghmc.csrq,
        yghmc.csyf,
        yghmc.xl,
        yghmc.byyx,
        yghmc.zy,
        yghmc.sjhm,
        yghmc.cjgzsj,
        yghmc.sl,
        yghmc.hyzk,
        yghmc.zzmm,
        yghmc.zc,
        yghmc.jg,
        yghmc.sfzdz,
        yghmc.hjxz,
        yghmc.jjlxr,
        yghmc.lxrdh,
        yghmc.schtqsr,
        yghmc.schtdqr,
        yghmc.yhkh,
        yghmc.khh,
        yghmc.sfz,
        CASE
        WHEN yghmc.sfqdbmxy = '1' THEN
        '是' ELSE'否'
        END sfqdbmxy,
        CASE
        WHEN yghmc.sflz = '1' THEN
        '是' ELSE'否'
        END sflz,
        yghmc.lzrq,
        CASE
        WHEN yghmc.dqtx = '1' THEN
        '是' ELSE'否'
        END dqtx ,
        yghmc.xhtqsr,
        yghmc.xhtdqr,
        yghmc.ssgs
        FROM
        matridx_yghmc yghmc
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid and yh.scbj='0'
        LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        <where>
            yghmc.sfz=#{sfz}
        </where>
    </select>
    <update id="updateList" parameterType="YghmcDto">
        update matridx_yghmc
        set sfqdbmxy=#{sfqdbmxy}
        <where>
            AND yghmcid IN
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </update>
    <!-- 导出 -->
    <select id="getCountForSearchExp" parameterType="YghmcDto"
            resultType="java.lang.Integer">
        select count(yghmc.yghmcid) from
        matridx_yghmc yghmc
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid
        LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        <where>
            <include refid="SEARCH_TERMS"></include>
        </where>
    </select>
    <select id="getListForSearchExp" parameterType="YghmcDto" resultType="YghmcDto">
        select yghmc.yghmcid ${sqlParam}
        from  matridx_yghmc yghmc
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid
        LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        <where>
            <include refid="SEARCH_TERMS"></include>
        </where>
        order by
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>

    <select id="getListForSelectExp" parameterType="YghmcDto" resultType="YghmcDto">
        select yghmc.yghmcid ${sqlParam} from (
        <foreach item="item" index="index" collection="ids"
                 separator=" union all ">
            select #{item,jdbcType=VARCHAR} yghmcid,#{index} ordernum
        </foreach>
        ) tmp
        left join matridx_yghmc yghmc on yghmc.yghmcid=tmp.yghmcid
        LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid
        LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        order by tmp.ordernum
    </select>
    <select id="getAllYgYhid"  resultType="String">
        SELECT
            yh.yhid
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid and yh.scbj = '0'
        WHERE yh.yhid IS NOT NULL and yghmc.sflz='0'
    </select>
    <select id="getSubordinateEmployee" parameterType="YghmcDto" resultType="YghmcDto">
        SELECT
            yghmc.zszg,yh.yhid,yh.yhm,yh.gwmc,yh.zsxm
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid
        where yghmc.zszg = #{zszg} and yh.scbj = '0' and yh.sfsd='0'
    </select>
    <select id="getUserByYhmOrZsxm" parameterType="YghmcDto" resultType="YghmcDto">
        SELECT
            yh.yhid,yh.yhm,yh.gwmc,yh.zsxm
        FROM
            matridx_xtyh yh
        where (yh.zsxm ILIKE '%'||#{yhmorzsxm}||'%' or yh.yhm ILIKE '%'||#{yhmorzsxm}||'%') and yh.scbj = '0' and yh.sfsd='0'
    </select>
    <!-- 批量新增员工花名册信息 -->
    <insert id="insertYghmcDtos" parameterType="List">
        insert into matridx_yghmc(yghmcid,yhid,sex,mz,sfz,nl,zjyxq,csrq,csyf,xl,byyx,zy,sjhm,rzrq,zzrq,cjgzsj,sl,hyzk,zzmm,zc,jg,sfzdz,hjxz,xjdz,jjlxr,lxrdh,schtqsr,schtdqr,yhkh,khh,bgdd,sflz,xhtqsr,xhtdqr,dqtx,ssgs,zszg,sjbm,ddid,dyjbm,dejbm,dsjbm,wbcxid)
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.yghmcid},#{item.yhid},#{item.sex},#{item.mz},#{item.sfz},#{item.nl}
                ,cast(#{item.zjyxq} as date) ,cast(#{item.csrq} as date)
                ,#{item.csyf},#{item.xl},#{item.byyx},#{item.zy},#{item.sjhm},cast(#{item.rzrq} as date),cast(#{item.zzrq} as date),cast(#{item.cjgzsj} as date),#{item.sl},#{item.hyzk},#{item.zzmm}
                ,#{item.zc},#{item.jg},#{item.sfzdz},#{item.hjxz},#{item.xjdz},#{item.jjlxr},#{item.lxrdh},cast(#{item.schtqsr} as date),cast(#{item.schtdqr} as date),#{item.yhkh},#{item.khh},#{item.bgdd},#{item.sflz},cast(#{item.xhtqsr} as date),cast(#{item.xhtdqr} as date),#{item.dqtx}
                ,#{item.ssgs},#{item.zszg},#{item.sjbm},#{item.ddid},#{item.dyjbm},#{item.dejbm},#{item.dsjbm},#{item.wbcxid}
                )
            </foreach>
        </if>
    </insert>
    <!--批量更新员工花名册信息-->
    <update id="updateYghmcDtos" parameterType="List">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                update matridx_yghmc set
                <if test="item.sex != null and item.sex != ''">
                sex=#{item.sex},
                </if>
                <if test="item.mz != null and item.mz != ''">
                mz=#{item.mz},
                </if>
                <if test="item.sfz != null and item.sfz != ''">
                sfz=#{item.sfz},
                </if>
                <if test="item.nl != null and item.nl != ''">
                nl=#{item.nl},
                </if>
                <if test="item.zjyxq != null and item.zjyxq != ''">
                zjyxq=cast(#{item.zjyxq} as date),
                </if>
                <if test="item.csrq != null and item.csrq != ''">
                csrq=cast(#{item.csrq} as date),
                </if>
                <if test="item.csyf != null and item.csyf != ''">
                csyf=#{item.csyf},
                </if>
                <if test="item.xl != null and item.xl != ''">
                xl=#{item.xl},
                </if>
                <if test="item.byyx != null and item.byyx != ''">
                byyx=#{item.byyx},
                </if>
                <if test="item.zy != null and item.zy != ''">
                zy=#{item.zy},
                </if>
                <if test="item.sjhm != null and item.sjhm != ''">
                sjhm=#{item.sjhm},
                </if>
                <if test="item.rzrq != null and item.rzrq != ''">
                rzrq=cast(#{item.rzrq} as date),
                </if>
                <if test="item.zzrq != null and item.zzrq != ''">
                zzrq=cast(#{item.zzrq} as date),
                </if>
                <if test="item.cjgzsj != null and item.cjgzsj != ''">
                cjgzsj=cast(#{item.cjgzsj} as date),
                </if>
                <if test="item.sl != null and item.sl != ''">
                sl=#{item.sl},
                </if>
                <if test="item.hyzk != null and item.hyzk != ''">
                hyzk=#{item.hyzk},
                </if>
                <if test="item.zzmm != null and item.zzmm != ''">
                zzmm=#{item.zzmm},
                </if>
                <if test="item.zc != null and item.zc != ''">
                zc=#{item.zc},
                </if>
                <if test="item.jg != null and item.jg != ''">
                jg=#{item.jg},
                </if>
                <if test="item.sfzdz != null and item.sfzdz != ''">
                sfzdz=#{item.sfzdz},
                </if>
                <if test="item.hjxz != null and item.hjxz != ''">
                hjxz=#{item.hjxz},
                </if>
                <if test="item.xjdz != null and item.xjdz != ''">
                xjdz=#{item.xjdz},
                </if>
                <if test="item.jjlxr != null and item.jjlxr != ''">
                jjlxr=#{item.jjlxr},
                </if>
                <if test="item.lxrdh != null and item.lxrdh != ''">
                lxrdh=#{item.lxrdh},
                </if>
                <if test="item.schtqsr != null and item.schtqsr != ''">
                schtqsr=cast(#{item.schtqsr} as date),
                </if>
                <if test="item.schtdqr != null and item.schtdqr != ''">
                schtdqr=cast(#{item.schtdqr} as date),
                </if>
                <if test="item.yhkh != null and item.yhkh != ''">
                yhkh=#{item.yhkh},
                </if>
                <if test="item.khh != null and item.khh != ''">
                khh=#{item.khh},
                </if>
                <if test="item.bgdd != null and item.bgdd != ''">
                bgdd=#{item.bgdd},
                </if>
                <if test="item.sflz != null and item.sflz != ''">
                sflz=#{item.sflz},
                </if>
                <if test="item.lzrq != null and item.lzrq != ''">
                lzrq=cast(#{item.lzrq} as date),
                </if>
                <if test="item.xhtqsr != null and item.xhtqsr != ''">
                xhtqsr=cast(#{item.xhtqsr} as date),
                </if>
                <if test="item.xhtdqr != null and item.xhtdqr != ''">
                xhtdqr=cast(#{item.xhtdqr} as date),
                </if>
                <if test="item.dqtx != null and item.dqtx != ''">
                    dqtx=#{item.dqtx},
                </if>
                <if test="item.ssgs != null and item.ssgs != ''">
                    ssgs=#{item.ssgs},
                </if>
                <if test="item.zszg != null and item.zszg != ''">
                    zszg=#{item.zszg},
                </if>
                <if test="item.sjbm != null and item.sjbm != ''">
                    sjbm=#{item.sjbm},
                </if>
                <if test="item.ddid != null and item.ddid != ''">
                    ddid=#{item.ddid},
                </if>
                <if test="item.dyjbm != null and item.dyjbm != ''">
                    dyjbm=#{item.dyjbm},
                </if>
                <if test="item.dejbm != null and item.dejbm != ''">
                    dejbm=#{item.dejbm},
                </if>
                <if test="item.dsjbm != null and item.dsjbm != ''">
                    dsjbm=#{item.dsjbm},
                </if>
                <if test="item.wbcxid != null and item.wbcxid != ''">
                    wbcxid=#{item.wbcxid},
                </if>
                yhid = #{item.yhid}
                where yhid = #{item.yhid}
            </foreach>
        </if>
    </update>
    <select id="getDtoList" resultType="YghmcDto" parameterType="YghmcDto">
        SELECT
            yghmc.yghmcid,
            yghmc.dqtx,
            yghmc.xhtqsr,
            yghmc.xhtdqr,
            yh.zsxm xm,
            jgxx.jgmc bm,
            date_part('day', cast(xhtdqr as TIMESTAMP) - cast(NOW() as TIMESTAMP)) rqc,yghmc.yhid,
            yghmc.cjgzsj,
            DATE_PART( 'year', LOCALTIMESTAMP ) - DATE_PART( 'year', yghmc.cjgzsj ) gznx,
            yghmc.zzrq
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh yh ON yghmc.yhid = yh.yhid
            LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
            LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
        where yghmc.sflz!='1'
        <if test="rqc != null and rqc != ''">
            and date_part('day', cast(xhtdqr as TIMESTAMP) - cast(NOW() as TIMESTAMP)) &lt; cast(#{rqc} as numeric)
        </if>
        <if test="dqtx != null and dqtx != ''">
            and dqtx = #{dqtx}
        </if>
        <if test="jqxz !=null and jqxz !=''">
            and yghmc.zzrq is not null and DATE_PART('year',LOCALTIMESTAMP)-DATE_PART('year',yghmc.cjgzsj)&gt;=1
        </if>
    </select>
    <update id="updateDqtxByIds" parameterType="YghmcDto">
            update matridx_yghmc set dqtx = '0'
            where yghmcid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
    <update id="updateListWithDqtx" parameterType="List">
        <foreach collection="list" item="item" separator=";" index="index">
            update matridx_yghmc set dqtx = #{item.dqtx}
            where yghmcid = #{item.yghmcid}
        </foreach>
    </update>
    <select id="getAllRosterBm" parameterType="YghmcDto" resultType="YghmcDto">
            SELECT
            jgxx.jgid,
            jgxx.jgmc
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_yhssjg ssjg ON ssjg.yhid = yghmc.yhid
            LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = ssjg.jgid
            AND jgxx.scbj = '0'
        WHERE
            jgxx.jgid IS NOT NULL
            AND jgxx.jgid != ''
        GROUP BY
            jgxx.jgid,
            jgxx.jgmc
    </select>
    <select id="getAllYghtxxByHmc" resultType="YghmcDto">
        SELECT
            yghmc.yghmcid,
            yghmc.schtqsr,
            yghmc.schtdqr,
            yghtxx.htqsr,
            yghtxx.htdqr,
            yghtxx.yghtid
        FROM
            matridx_yghmc yghmc
                LEFT JOIN matridx_yghtxx yghtxx ON yghmc.yghmcid = yghtxx.yghmcid
                AND yghtxx.scbj = '0'
        where yghmc.sflz='0'
    </select>
    <select id="getAllYgLzxxByHmc" resultType="YghmcDto">
        SELECT
            yghmc.yghmcid,
            yghmc.rzrq,
            yghmc.lzrq,
            yglzxx.yglzid,
            yglzxx.rzrq ygrzrq,
            yglzxx.lzrq yglzrq
        FROM
            matridx_yghmc yghmc
                LEFT JOIN matridx_yglzxx yglzxx ON yghmc.yghmcid = yglzxx.yghmcid
                AND yglzxx.scbj = '0'
        where yghmc.sflz='0'
    </select>
    <select id="getLzryByRq" parameterType="YghmcDto" resultType="YghmcDto">
        SELECT
            yghmc.yghmcid,
            yghmc.yhid,yghmc.ddid
        FROM
            matridx_yghmc yghmc
        WHERE yghmc.sflz = '1' AND yghmc.ddid IS NOT NULL AND yghmc.yhid IS NOT NULL
        <if test="wbcxid != null and wbcxid != ''">
            and wbcxid= #{wbcxid}
        </if>
        <if test="lzrqstart != null and lzrqstart != ''">
            and to_char(yghmc.lzrq,'yyyy-mm-dd') &gt;= #{lzrqstart}
        </if>
        <if test="lzrqend != null and lzrqend != ''">
            and to_char(yghmc.lzrq,'yyyy-mm-dd') &lt;= #{lzrqend}
        </if>
    </select>
    <select id="getScreenClassfy" resultType="Map">
        select sum(sxssl)sxssl,sum(zzsl) zzsl,sum(zssl) zssl,sum(syqsl) syqsl,sum(lzsl) lzsl,sum(byrzsl) byrzsl,sum(bylzsl) bylzsl from
        (
        SELECT COUNT
            ( yghmc.yhid ) sxssl,0 as zzsl ,0 as zssl,0 as syqsl,0 as lzsl,0 as byrzsl,0 as bylzsl
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = yghmc.yhid and xtyh.scbj='0'
        WHERE
            xtyh.gwmc ILIKE'%' || '实习生' || '%' UNION ALL
        SELECT
            0 as sxssl,COUNT( yghmc.yhid ) zzsl ,0 as zssl,0 as syqsl,0 as lzsl,0 as byrzsl,0 as bylzsl
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = yghmc.yhid and xtyh.scbj='0'
        WHERE
            yghmc.sflz='0'
            union all
            SELECT
            0 as sxssl,0 as zzsl ,COUNT( yghmc.yhid ) zssl,0 as syqsl,0 as lzsl,0 as byrzsl,0 as bylzsl
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = yghmc.yhid and xtyh.scbj='0'
        WHERE
            yghmc.sflz='0' and yghmc.zzrq is not null
                union all
            SELECT
            0 as sxssl,0 as  zzsl ,0 as zssl,COUNT( yghmc.yhid ) syqsl,0 as lzsl,0 as byrzsl,0 as bylzsl
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = yghmc.yhid and xtyh.scbj='0'
        WHERE
            yghmc.sflz='0' and yghmc.zzrq is null and xtyh.gwmc not ILIKE'%' || '实习生' || '%'
                union all
            SELECT
            0 as sxssl,0 as  zzsl ,0 as zssl,0 as syqsl,COUNT( yghmc.yhid ) lzsl,0 as byrzsl,0 as bylzsl
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = yghmc.yhid and xtyh.scbj='0'
        WHERE
            yghmc.sflz='1'
                union all
            SELECT
            0 as sxssl,0 as  zzsl ,0 as zssl,0 as syqsl,0 as lzsl,COUNT( yghmc.yhid ) byrzsl,0 as bylzsl
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = yghmc.yhid and xtyh.scbj='0'
        WHERE
            to_char(yghmc.rzrq, 'yyyy-MM')=to_char(LOCALTIMESTAMP, 'yyyy-MM')
                union all
            SELECT
            0 as sxssl,0 as  zzsl ,0 as zssl,0 as syqsl,0 as lzsl,0 as byrzsl,COUNT( yghmc.yhid ) bylzsl
        FROM
            matridx_yghmc yghmc
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = yghmc.yhid and xtyh.scbj='0'
        WHERE
            to_char(yghmc.lzrq, 'yyyy-MM')=to_char(LOCALTIMESTAMP, 'yyyy-MM')
            )tmp
    </select>

    <select id="queryJlbh" parameterType="String" resultType="String">
        SELECT  lpad(cast((CAST(coalesce(MAX(substring(jlbh,LENGTH(jlbh)-strpos(reverse(jlbh),'-')+2,LENGTH(jlbh))),'0') AS numeric) + 1) as VARCHAR), 2, '0') serial
        FROM matridx_yghmc
        <where>
            jlbh like #{jlbh}||'%'
        </where>
    </select>
</mapper>