<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.hrm.dao.post.IYhqjmxDao">
    <insert id="insertList" parameterType="list">
        insert into igams_yhqjmx(
        qjmxid,
        yhjqid,
        yhqjid,
        sc
        )
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.qjmxid},#{item.yhjqid},#{item.yhqjid},cast(#{item.sc} as numeric)
                )
            </foreach>
        </if>
    </insert>
    <select id="getDtoList" parameterType="YhqjmxDto" resultType="YhqjmxDto">
        select qjmxid,yhjqid,yhqjid,sc
        from igams_yhqjmx
        <where>
            sc is not null
            <if test="yhqjid!=null and yhqjid!=''">
                and yhqjid=#{yhqjid}
            </if>
        </where>
    </select>
</mapper>