<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.hrm.dao.post.IZwjsxxDao" >
    <!-- 批量新增职位晋升信息 -->
    <insert id="insertZwjsDtos" parameterType="List">
        insert into matridx_zwjsxx(zwjsid,ddslid,ddid,bm,rzsj,yzw,yzwyx,jszw,jshyx,sxsj,sptgsj)
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.zwjsid},#{item.ddslid},#{item.ddid},#{item.bm},cast(#{item.rzsj} as date),#{item.yzw},cast(#{item.yzwyx} as numeric ),#{item.jszw},cast(#{item.jshyx} as numeric ),cast(#{item.sxsj} as date),cast(#{item.sptgsj} as date)
                )
            </foreach>
        </if>
    </insert>
    <!-- 新增职位晋升信息 -->
    <insert id="insert" parameterType="ZwjsxxDto">
        insert into matridx_zwjsxx(zwjsid,ddslid,ddid,bm,rzsj,yzw,yzwyx,jszw,jshyx,sxsj,sptgsj)
        values (
                #{zwjsid},#{ddslid},#{ddid},#{bm},cast(#{rzsj} as date),
                #{yzw},cast(#{yzwyx} as numeric ),#{jszw},cast(#{jshyx} as numeric ),cast(#{sxsj} as date),
                cast(#{sptgsj} as date)
                )
    </insert>
    <select id="getDtoList" parameterType="ZwjsxxDto" resultType="ZwjsxxDto">
        SELECT zwjsid,ddslid from matridx_zwjsxx
    </select>
</mapper>