<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>标本统计</title>
	<!--载入旋转动画插件  -->
	<link rel="stylesheet" type="text/css" href="/js/plugins/lightSlider/lightSlider.css" />
	<link rel="stylesheet" type="text/css" href="/css/wechat/statistics_sjhb/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/wechat/statistics_sjhb/iconfont.css" />
	<script type="text/javascript" src="/js/plugins/lightSlider/jquery.lightSlider.min.js"></script>
	<script type="text/javascript" src="/js/wechat/statistics_sjhb/jquery.rotate.min.js"></script>
	<script type="text/javascript" src="/js/plugins/echarts/china.js"></script>
	<script type="text/javascript" src="/js/wechat/statistics_sjhb/chartMap.js"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
    <script type="text/javascript" src="/js/wechat/statistics_sjhb/statistics_sjhb.js"></script> 
    <style type="text/css">
    #back{
    	padding:0px;
    }
    .toptitle{
    	padding-left:5px;
    	padding-right:5px;
    }
	.topstyle{
		display:block;
		padding-top:10px;
	}
	.titletop{
		position: absolute;
		padding:15px;
		left:0px;
		top:-5px;
	}
	.icon-D{
		font-size:28px;
	}
	.iconfonta{
		height:36px;
	}
    </style>
</head>
<body>
	 <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
	 <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="sj_statishb" style="background-image:url(/images/censusimages/backgroundimage.png);background-size:cover;min-height:100%">
	 	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="xuanzhuanhb" style="background-image:url(/images/censusimages/backgroundimage.png);background-size:cover;position:absolute;z-index:99;height:100%;">
	 	<img src="/images/censusimages/jzxz1.png" id="outactionhb" style="position:absolute;z-index:100;margin-top:10%;margin-left:40%">
	 	<img src="/images/censusimages/jzxz2.png" id="inactionhb" style="position:absolute;z-index:101;margin-top:10%;margin-left:40%">
	 	</div>
	 	<div id="tjnr">
 			<div class="col-md-10 col-sm-10 col-xs-10 col-lg-10 offset-md-1 offset-sm-1 offset-lg-1 " style="margin-top:20px;margin-bottom:10px;">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center" style="background-image:url(/images/censusimages/tjtop.jpg);-moz-background-size:100% 100%; background-size:100% 100%;">
					<span style="font-size:20px;">特检大数据统计</span>
				</div>
			</div>
			<div class="" id="allhb">
				<div class="col-md-3 col-lg-3" id="leftbody" style="padding-left:20px;padding-right:0px;">
		   	 		<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
						<span>标本情况</span>
						<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
						<!-- 条件选择框 -->
						<div class="desktop_analysisBar" style="position: absolute;top:25px;margin-left:-3%;width:100%;"> 
							<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
								<a href="javascript:void(0);" id="tj5qhb" class="tj1 ocFlag pull-right " title="全" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
								<a href="javascript:void(0);" id="tj5mhb" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
								<a href="javascript:void(0);" id="tj5whb" class="tj1 ocFlag pull-right" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"></i></span></a>
								<a href="javascript:void(0);" id="tj5dhb" class="tj1 ocFlag pull-right iconfonta bechoosed" title="日"><span style="position: relative;display: inline-block;width: 2em;height: 2em;line-height: 2em;vertical-align: middle;"><i class="fa iconfont icon-D roundd" style="	color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
							</div> 
						</div>  
					 	 <div id="echarts_sjxx_lead_ybqkhb" style="height: 270px;padding-top:5px;">
					 	 </div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-left:20px;padding-right:0px;">
						<span>标本类型</span>
						<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
							<!-- 条件选择框 -->
							<div class="desktop_analysisBar" style="position: absolute;top:25px;margin-left:-3%;width:100%;"> 
								<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
									<a href="javascript:void(0);" id="tj1qhb" class="tj1 ocFlag pull-right iconfonta bechoosed" title="全" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-yahoo fa-stack-1x roundq" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
									<a href="javascript:void(0);" id="tj1mhb" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
									<a href="javascript:void(0);" id="tj1whb" class="tj1 ocFlag pull-right" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"></i></span></a>
									<a href="javascript:void(0);" id="tj1dhb" class="tj1 ocFlag pull-right " title="日"><span style="position: relative;display: inline-block;width: 2em;height: 2em;line-height: 2em;vertical-align: middle;"><i class="fa iconfont icon-D roundd" ></i></span></a>
								</div> 
							</div> 
							<div id="echarts_sjxx_lead_yblxhb" style="height:280px;padding-top:5px;"></div>
						</div>
					<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-left:20px;padding-right:0px;">
						<span>合作伙伴</span>
						<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
						<!-- 条件选择框 -->
							<div class="desktop_analysisBar" style="position: absolute;top:25px;margin-left:-3%;width:100%;"> 
								<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
									<a href="javascript:void(0);" id="tj3qhb" class="tj1 ocFlag pull-right iconfonta bechoosed" title="全" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" style="	color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-yahoo fa-stack-1x roundq" style="	color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
									<a href="javascript:void(0);" id="tj3mhb" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
									<a href="javascript:void(0);" id="tj3whb" class="tj1 ocFlag pull-right" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"></i></span></a>
									<a href="javascript:void(0);" id="tj3dhb" class="tj1 ocFlag pull-right" title="日"><span style="position: relative;display: inline-block;width: 2em;height: 2em;line-height: 2em;vertical-align: middle;"><i class="fa iconfont icon-D roundd" ></i></span></a>
								</div> 
							</div> 
						<div id="echarts_sjxx_lead_dbhb" style="height:280px;padding-top:5px;">
			 	 		</div>
			 	 	</div>
					<!-- <div class="col-md-12 col-sm-12 col-xs-12">
						 <span style="color:#FFFFFF;">左下角部分</span>	
							<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
						 	<div class="col-md-12 col-sm-12 col-xs-12">
						 		<div class="col-md-4 col-sm-4 col-xs-4 text-center">一</div>
						 		<div class="col-md-4 col-sm-4 col-xs-4 text-center">二</div>
						 		<div class="col-md-4 col-sm-4 col-xs-4 text-center">三</div>
						 	</div> 
						 	<div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid #90B9F7;height:40px;margin:5px;background-color:#0B2546;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;">
						 		<img src="/images/censusimages/ksh34.png" style="position:absolute;left:-3px;top:-3px;">
						 		<img src="/images/censusimages/ksh34.png" style="position:absolute;right:-3px;top:-3px;">
						 		<img src="/images/censusimages/ksh34.png" style="position:absolute;left:-3px;bottom:-3px;">
						 		<img src="/images/censusimages/ksh34.png" style="position:absolute;right:-3px;bottom:-3px;">
						 		<div class="col-md-4 col-sm-4 col-xs-4 text-center" style="height:100%;padding:0px 5px 0px 5px;">
						 			<label style="transform: translateY(50%);">
						 			内容一
						 			</label>
						 		</div>
						 		<div class="col-md-4 col-sm-4 col-xs-4" style="height:100%;padding:0px 5px 0px 5px;">
						 			<img src="/images/censusimages/ksh38.png" style="width:100%;height:100%;">
						 		</div>
						 		<div class="col-md-4 col-sm-4 col-xs-4" style="height:100%;padding:0px 5px 0px 5px;">
						 			<img src="/images/censusimages/ksh38.png" style="width:100%;height:100%;">
						 		</div>
						 	</div>
					</div> -->
				</div>	
				<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6" id="centerbodyhb">
					<div class="col-sm-12 col-sm-12 col-xs-12 " style="padding:0px;">
						<img class="col-sm-3 col-md-3 col-xs-3 col-lg-3 toptitlehb" src="/images/censusimages/ksh40.png" id="getheighthb">
						<div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 text-center change-padding" style="position: absolute;z-index:99;">
							<span class="topstyle font-topstyle">今日录入数</span>
							<span class="font-ygnum" id="jrlrybshb" style="color:#20dbfd;text-shadow: 0 0 25px #00d8ff;font-family:yjsz;"></span>
						</div>
						<img class="col-sm-2 col-md-2 col-xs-2 col-lg-2 toptitlehb" src="/images/censusimages/ksh40.png" >
						<div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center change-padding offset-sm-3 offset-md-3 offset-xs-3 offset-lg-3" style="position: absolute;z-index:99;">
							<span class="topstyle font-topstyle">今日收样数</span>
							<span class="font-ygnum" id="jrybshb" style="color:#20dbfd;text-shadow: 0 0 25px #00d8ff;font-family:yjsz;"></span>
						</div>
						<img class="col-sm-2 col-md-2 col-xs-2 col-lg-2 toptitlehb" src="/images/censusimages/ksh40.png">
						<div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center change-padding offset-sm-5 offset-md-5 offset-xs-5 offset-lg-5" style="position: absolute;z-index:99;">
							<span class="topstyle font-topstyle">今日实验数</span>
							<span class="font-ygnum" id="jrsyshb" style="text-align:center;color:#20dbfd;text-shadow: 0 0 25px #00d8ff;font-family:yjsz;"></span>
						</div><!-- jrdgs -->
						<img class="col-sm-2 col-md-2 col-xs-2 col-lg-2 toptitlehb" src="/images/censusimages/ksh40.png">
						 <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center change-padding offset-sm-7 offset-md-7 offset-xs-7 offset-lg-7" style="position: absolute;z-index:99;">
							<span class="topstyle font-topstyle">今日阳性数</span>
							<span class="font-ygnum" id="jrggshb" style="text-align:center;color:#20dbfd;text-shadow: 0 0 25px #00d8ff;font-family:yjsz;"></span>
						</div> 
						<img class="col-sm-3 col-md-3 col-xs-3 col-lg-3 toptitlehb" src="/images/censusimages/ksh40.png">
						<div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 text-center change-padding offset-sm-9 offset-md-9 offset-xs-9 offset-lg-9" style="position: absolute;z-index:99;">
							<span class="topstyle font-topstyle">今日报告数</span>
							<span class="font-ygnum" id="jrbgshb" style="text-align:center;color:#20dbfd;text-shadow: 0 0 25px #00d8ff;font-family:yjsz;"></span>
						</div>
					</div>
					<div class="col-sm-12 col-sm-12 col-xs-12 " id="centermaphb" style="height:500px;width:100%;margin-top:10px;padding:0px;">
						<img src="/images/censusimages/ksh42.png" style="position:absolute;left:0;top:0;">
						<img src="/images/censusimages/ksh43.png" style="position:absolute;right:0;top:0;">
						<img src="/images/censusimages/ksh45.png" style="position:absolute;left:0;bottom:0;">
						<img src="/images/censusimages/ksh44.png" style="position:absolute;right:0;bottom:0;">
						<div style="position:relative;top:10px;left:10px;"><span th:text="${weektime}"></span></div>
						<div class="col-sm-12 col-sm-12 col-xs-12" id="maphb" style="height:100%;"></div>
					</div>
					<div class="col-sm-12 col-sm-12 col-xs-12" style="height:200px;background-color:#0B2546;border:1px solid #90B9F7;margin-top:10px;bottom:6px;width:98.8%;left:0.6%;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;">
						<div id="echarts_sjxx_lead_bgwcdhb" style="height:200px;padding-top:-5%;"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="position:absolute;top:5px;">报告完成度</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3" id="rightbody" style="padding-left:0px;padding-right:20px;">
					<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
						<span>关注度</span>
						<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
						<!-- 条件选择框 -->
							 <div class="desktop_analysisBar" style="position: absolute;top:25px;margin-left:-3%;width:100%;"> 
								<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
									<a href="javascript:void(0);" id="tj2qhb" class="ocFlag pull-right bechoosed" title="全" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-yahoo fa-stack-1x roundq" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
									<a href="javascript:void(0);" id="tj2mhb" class="ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
									<a href="javascript:void(0);" id="tj2whb" class="ocFlag pull-right" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"></i></span></a>
								</div> 
							</div> 
                       	<div id="echarts_sjxx_lead_ggzdhb" style="height:280px;padding-top:5px;"></div>
                       	<!-- <div  id="echarts_sjxx_lead_ybnum" style="height:250px;padding-top:5px;" ></div> -->
			 	 	</div>
			 	 	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
						<span>送样-报告-阳性率</span>
						<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
						<!-- 条件选择框 -->
						<div class="desktop_analysisBar" style="position: absolute;top:25px;margin-left:-3%;width:100%;"> 
							<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
								<a href="javascript:void(0);" id="tj4qhb" class="tj1 ocFlag pull-right " title="全" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq"></i><i  class="fa fa-yahoo fa-stack-1x roundq" ></i></span></a>
								<a href="javascript:void(0);" id="tj4mhb" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
								<a href="javascript:void(0);" id="tj4whb" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
							</div> 
						</div> 
						<div id="echarts_sjxx_lead_jsrqhb" style="height:270px;padding-top:5px;">
			   	 		</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
						<span>检验结果</span>
						<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
						<div class="desktop_analysisBar" style="position: absolute;top:25px;margin-left:-3%;width:100%;"> 
							<div id="ybxxheadhb" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
								<a href="javascript:void(0);" id="tj6qhb" class="tj1 ocFlag pull-right" title="全" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq" ></i></span></a>
								<a href="javascript:void(0);" id="tj6mhb" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
								<a href="javascript:void(0);" id="tj6whb" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
							</div> 
						</div> 
						<div id="echarts_sjxx_lead_possiblehb" style="height:270px;padding-top:5px;">
			   	 	</div>
					<!-- <div class="col-sm-12 col-md-12 col-xs-12">
						<span>收样排行榜</span>
						<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>