<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/wechat/mediTrust/medi_list.js"
            charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom: 0px;">
    <form id="medi_formSearch" class="form-horizontal form-inline" data-bs-toggle="validation">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" class="form-control chosen-select" id="cxtj"
                                style="height: 34px;">
                            <option value="0">企业名称</option>
                            <option value="1">企业编号</option>
                            <option value="2">镁信订单号</option>
                            <option value="3">服务商订单号</option>
                            <option value="4">用户名</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {applicationResult(); return false;}"/>
                    </div>
                    <button type="button" style="margin-left: 50px" id="btn_query"
                            class="btn btn-primary">查询</button>
                    <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                </div>
                <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                    <span class="tit">已选条件：</span>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <ul id="sl_add_ul"></ul>
                    </div>
                </div>
                <div class="padding_t7 width100" id="searchMore" style="display: none;" >
                    <div class="tab-content sl_sel_con row" id="sl_sel_con" style="padding-bottom:10px;padding-left:5px;margin-left: 0px;margin-right: 0px;min-height: 120px">
                        <div class="tab-pane active" id="tab06">
                            <div id="idType_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="证件类型" >证件类型：</label>
                                    <div class="col-xs-6 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li th:if="${zjlxlist!=null && zjlxlist.size() >0}" th:each="zjlx:${zjlxlist}">
                                                <a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[idType]],[[${zjlx.csid}]],[[medi_formSearch]]);" th:id="'idType_id_'+${zjlx.csid}">
                                                    <span th:text="${zjlx.csmc}"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="status_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="订单状态" >订单状态：</label>
                                    <div class="col-xs-6 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('status','1','medi_formSearch');"
                                                   id="status_id_1"><span>已使用</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('status','0','medi_formSearch');"
                                                   id="status_id_0"><span>已预约</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('status','2','medi_formSearch');"
                                                   id="status_id_2"><span>已出报告</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('status','3','medi_formSearch');"
                                                   id="status_id_3"><span>未预约</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="yysj" class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group width100">
                                    <label class="col-sm-3 col-md-2 col-lg-2 control-label" title="预约时间" >预约时间：</label>
                                    <div class="col-xs-9 col-sm-9  col-md-9 col-lg-9 sl_sel_list" >
                                        <input id="yysjstart" name="yysjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                        <input id="yysjend" name="yysjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                    </div>
                                </div>
                            </div>
                            <div id="cbgsj" class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group width100">
                                    <label class="col-sm-3 col-md-2 col-lg-2 control-label" title="出报告时间" >出报告时间：</label>
                                    <div class="col-xs-9 col-sm-9  col-md-9 col-lg-9 sl_sel_list" >
                                        <input id="cbgsjstart" name="cbgsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                        <input id="cbgsjend" name="cbgsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input  type="hidden" id="status_id_tj" name="status_id_tj">
        <input  type="hidden" id="idType_id_tj" name="idType_id_tj">
        <div th:include="common/btn/ancz.html"></div>
        <table id="medi_list"
               class="table table-hover table-bordered table-hidden"
               data-reorderable-columns="true"></table>
    </form>
</div>
</body>
</html>