<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <script type="text/javascript"
            charset="utf-8"></script>
    <style type="text/css">
        table{
            table-layout: fixed;
        }
        td{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
</head>
<body>
<form id="ajaxForm" class="form-horizontal sl_all_form" method="post" theme="simple">
    <input type="hidden" name="access_token" />
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in"
             id="MaterInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    单号 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.djh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    收发类别 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.sflb}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    部门 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.bm}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    供应商 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.gys}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    数量 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.sl}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    物料编码 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.wlbm}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    规格型号 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.ggxh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    物料名称 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.wlmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    批号 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.ph}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    仓库 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.ck}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    制单人 </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${flowingDto.zdr}" />
                                </div>
                            </div>
                        </div>
                </div>
                </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>