<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
 	<form id="shtx_formSearch" class="form-horizontal form-inline">
 	<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
 		<div class="panel panel-default">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
			 	<div class="">
					<div class="form-group padding_l10">
		            	<select name="shtx_select" id="shtx_select" class="form-control chosen-select" style="height:34px;">
		                	<option value="0">提醒ID</option>
		                	<option value="1">提醒类别</option>
		                	<option value="2">延期日数</option>
		         		</select>
			      		<input id="shtx_input" name="shtx_input" class="form-control" placeholder="模糊匹配"
                        onkeydown="if(event.keyCode==13) {searchShtxResult(); return false;}"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
				</div>
			</div>
		</div> 
		<div th:include="common/btn/ancz.html"></div>
 		<table id="shtx_list" class="table table-hover table-bordered table-hidden"></table>
 	</form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/common/shtx/shtx_list.js'}"></script>
</html>