<!DOCTYPE html>
<html>
<head lang="zh-cn">
<meta charset="UTF-8">
<style>
</style>
</head>
<body>
	<form id="ajaxForm"
		th:action="${urlPrefix} + '/systemmain/audit/'+${shtxDto.formAction}"
		class="form-horizontal sl_all_form" method="post" theme="simple"
		data-bs-toggle="validation">
		<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in"
				id="partnerInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<input type="hidden" name="access_token" /> 
							<input type="hidden" id="txid" name="txid" th:value="${shtxDto.txid}"/>

							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
									   <span style="color: red;">*</span> 提醒类别：
									</label>
									<div class="col-sm-8 col-xs-12">
 									     <select id="txlb" name="txlb"   th:value="${shtxDto.txlb}"  class="form-control chosen-select" style="height:34px">
										    <option  value="">--请选择--</option>
			                        	    <option  th:each="list:${shlbList}" th:value="${list.shlb}" th:text="${list.shlbmc}" th:selected="${shtxDto.txlb eq list.shlb}" ></option>
			 						     </select> 
			 						     <!-- <input  type="text" id="txlb" name="txlb" th:value="${shtxDto.txlb}" validate="{required:true,stringMaxLength:64}" class="form-control" style="height: 30px;" /> -->
									</div>
								</div>
							</div>							
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> <span
										style="color: red;">*</span>&nbsp;&nbsp;延期小时数：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input  type="text" id="txyqrs" name="txyqrs" th:value="${shtxDto.txyqrs}" validate="{required:true,max:100000}" class="form-control" style="height: 30px;" placeholder="只能请填写五位以内的数字" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript">
   $(function(){
	   jQuery('#ajaxForm .chosen-select').chosen({width: '100%'});
   })
</script>
</html>