<!DOCTYPE html>
<html lang="zh-cn">
<!-- 引入 tagsinput-->
<link rel="stylesheet" type="text/css" href="/js/globalweb/systemrole/bootstrap-tagsinput.css"></link>
<script type="text/javascript" src="/js/globalweb/systemrole/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js" charset="utf-8"></script>
<style>
    .bootstrap-switch-container{
		height:28px !important;
		}
</style>
<body>
<form data-bs-toggle="validation" th:action="'/systemrole/user/' + ${xtyhDto.formAction} + 'SaveExternalUser'" method="post" id="externaluser_ajaxForm" class="form-horizontal sl_all_form">
    <div class="body-content tab-content">
        <input type="hidden" name="ss_formAction" id="ss_formAction" th:value="${xtyhDto.formAction}"/>
        <input type="hidden" name="access_token"/>
        <input type="hidden" name="yhid" id="yhid" th:value="${yhid}"/>
        <input type="hidden" name="permissions" id="permissions">
        <input type="hidden" name="xtqxlist" id="xtqxlist">
        <input type="hidden" name="labelmc" id="labelmc" value="下一步">
        <input type="hidden" name="signflg" id="signflg" >
        <!--基本信息-->
        <div class="panel panel-default page1" style="margin-top:20px;">
            <div class="panel-heading">
                <h3 class="panel-title">用户信息:</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>用户名</label>
                        <div class="col-sm-7">
                            <input type="text" id="yhm"  name="yhm" th:value="${xtyhDto.yhm}" validate="{required:true,stringMaxLength:128}" class="form-control" ></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>真实姓名</label>
                        <div class="col-sm-7">
                            <input type="text" id="zsxm" name="zsxm" th:value="${xtyhDto.zsxm}" validate="{required:true,stringMaxLength:128}" class="form-control" ></input>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>机&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;构</label>
                        <div class="col-sm-7">
                            <select id="jgid" name="jgid"  class="form-control chosen-select" validate="{required:true}">
                                <option  value="">--请选择--</option>
                                <option  th:each="jgxxs:${jgxxList}"   th:value="${jgxxs.jgid}"  th:text="${jgxxs.jgmc+(jgxxs.wbcxmc==null?'':'-'+jgxxs.wbcxmc)}" th:selected="${jgxxs.jgid  eq xtyhDto.jgid}" ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;"></span>U8人员Code</label>
                        <div class="col-sm-7">
                            <input type="text" id="grouping"  name="grouping" th:value="${xtyhDto.grouping}" validate="{stringMaxLength:128}" class="form-control" ></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;"></span>默认分组</label>
                        <div class="col-sm-7">
                            <input type="text" id="mrfz"  name="mrfz" th:value="${xtyhDto.mrfz}" validate="{stringMaxLength:128}" class="form-control" ></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</label>
                        <div class="col-sm-7">
                            <select id="zj" name="zj"  class="form-control chosen-select">
                                <option  value="">--请选择--</option>
                                <option  th:each="zj:${zjs}"   th:value="${zj.csid}"  th:text="${zj.csmc}" th:selected="${zj.csid  eq xtyhDto.zj}" ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>是否锁定</label>
                        <div class="col-sm-7" id="sw-content">
                            <label class="radio-inline"><input type="radio"
                                                               value="0" name="sfsd"   th:checked="${'0' eq xtyhDto.sfsd}">否</label>
                            <label class="radio-inline"><input type="radio"
                                                               value="1" name="sfsd"   th:checked="${'1' eq xtyhDto.sfsd}">是</label>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6 col-sm-12 col-xs-12">-->
<!--                    <div class="form-group">-->
<!--                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">用户名</label>-->
<!--                        <div class="col-sm-8 col-md-8 col-xs-8 padding_t7"><span id="yhm" /></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-sm-12 col-xs-12">-->
<!--                    <div class="form-group">-->
<!--                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">姓名</label>-->
<!--                        <div class="col-sm-8 col-md-8 col-xs-8 padding_t7"><span id="zsxm" /></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-sm-12 col-xs-12">-->
<!--                    <div class="form-group">-->
<!--                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">部门</label>-->
<!--                        <div class="col-sm-8 col-md-8 col-xs-8 padding_t7"><span id="jgmc" /></div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="panel panel-default page1" style="margin-top:20px;">
            <div class="panel-heading">
                <h3 class="panel-title">设置角色信息:</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span style="color:red;">*</span>角色设置</label>
                        <div class="col-md-10 col-sm-12">
                            <div class="input-group">
                                <input type="hidden" class="form-control" aria-label="..." id="jsid" name="xtjsDtos['0'].jsid">
                                <input type="text" class="form-control" aria-label="..." id="jsmc" name="xtjsDtos['0'].jsmc">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="chanceRole()">选择已有角色或添加新角色 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span style="color:red;">*</span>测序仪编号</label>
                        <div class="col-md-10 col-sm-12">
                                <input type="hidden" class="form-control" aria-label="..." id="cxyid" name="cxyid">
                                <input autoComplete="off" ata-provide="typeahead" data-items="5" type="text" class="form-control" aria-label="..." id="cxybh" name="cxybh" placeholder="输入测序仪名称或编号进行选择，若为新测序仪直接输入测序仪相关信息即可">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;"></span>测序仪名称</label>
                        <div class="col-sm-7">
                            <input type="text" id="mc"  name="mc"  validate="{stringMaxLength:128}" class="form-control" ></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;"></span>测序仪型号</label>
                        <div class="col-sm-7">
                            <input type="text" id="xh"  name="xh"  validate="{stringMaxLength:128}" class="form-control" placeholder="illumina或salus"></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span style="color:red;">*</span>检测单位</label>
                        <div class="col-md-10 col-sm-12">
                            <div class="input-group">
                                <input type="hidden" id="jcdwmc" name="jcdwmc">
                                <select id="jcdw" name="jcdw"   class="form-control chosen-select" validate="{required:true}" >
                                    <option value="">--请选择--</option>
                                    <option  th:if="${decetionlist!=null && decetionlist.size() > 0}" th:each="list:${decetionlist}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}"  ></option>
                                </select>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="addBgfs('/systemmain/data/addBasicData?jclb=DETECTION_UNIT')">添加新检测单位 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"><span style="color:red;"></span>是否去R</label>
                        <div class="col-sm-7" id="jt2bj">
                            <label class="radio-inline"><input type="radio"
                                                               value="0" name="jt2bj"   >否</label>
                            <label class="radio-inline"><input type="radio"
                                                               value="1" name="jt2bj"   >是</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default page2" style="margin-top:20px;display:none;" >
            <div class="panel-heading">
                <h3 class="panel-title">设置伙伴信息:</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-2 col-md-2 col-xs-12 control-label">关联伙伴</label>
                        <div class="col-sm-10">
                            <div class="col-sm-2 col-md-2"><button type="button" class="btn btn-warning" onclick="addBgfs('/systemmain/data/addBasicData?jclb=REPORTWAY_TYPE')">新增报告方式</button></div>
                            <div class="col-sm-1 col-md-1 glyphicon glyphicon-arrow-right jt" style=" transform: translateY(50%);"></div>
                            <div class="col-sm-2 col-md-2"><button type="button" class="btn btn-warning" onclick="addPartner('/partner/partner/addPartner')">新增伙伴信息</button></div>
                            <div class="col-sm-1 col-md-1 glyphicon glyphicon-arrow-right jt" style=" transform: translateY(50%);"></div>
                            <div class="col-sm-2 col-md-2"><button type="button" class="btn btn-warning" onclick="setPartner('/partner/partner/partnerinstallHb')">用户关联伙伴</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-2 col-md-2 col-xs-12 control-label">已关联伙伴</label>
                        <div class="col-sm-10">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default page2" style="margin-top:20px;display:none;">
            <div class="panel-heading">
                <h3 class="panel-title">设置权限:</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 col-sm-12" th:each="list:${xtlist}">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <span class="panel-title" th:text="${list.csmc}">
                                </span>
                                <input type="checkbox" th:id="'zdpbCheck'+${listStat.index}" th:name="'zdpbCheck'+${listStat.index}" th:index="${listStat.index}" style="height:30px;font-size:14px;" class="form-control zdpbCheck" th:value="${list.csid}" th:csdm="${list.csdm}"/>
                            </div>
                            <div th:id="'collapse'+${listStat.index}" class="panel-collapse collapse">
                                <div class="panel-body" th:if="${list.csdm=='deterpret'}">
                                    <div class="col-md-6" style="margin-top:10px;">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="mngs" name="mngs">
                                            </span>
                                                <input type="text" class="form-control" aria-label="..." value="查看标准化页面" name="bzhym" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="list" name="list">
                                            </span>
                                            <input type="text" class="form-control" aria-label="..." value="文库列表和芯片列表" name="wkxp" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="review" name="review">
                                            </span>
                                            <input type="text" class="form-control" aria-label="..." value="审核文库" name="review" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="report" name="report">
                                            </span>
                                            <input type="text" class="form-control" aria-label="..." value="发送报告" name="report" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="download" name="download">
                                            </span>
                                            <input type="text" class="form-control" aria-label="..." value="下载结果" name="download" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="cnv" name="cnv">
                                            </span>
                                            <input type="text" class="form-control" aria-label="..." value="审核onco结果" name="cnv" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="dashboard" name="dashboard">
                                            </span>
                                            <input type="text" class="form-control" aria-label="..." value="内部统计" name="dashboard" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="hidden" aria-label="..." id="display_tag" name="display_tag">
                                                <input type="checkbox" aria-label="..." class="deterpret" value="displaytag" name="displaytag">
                                            </span>
                                            <input type="text" class="form-control" aria-label="..." value="标本是否展示给报告组" name="displaytag" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/globalweb/systemrole/externaluser_edit.js"></script>
</body>
</html>