<!DOCTYPE html>
<html lang="zh-cn">
<body>
<form data-bs-toggle="validation" th:action="'/recruit/recruit/'+${rszpDto.formAction}+SaveRecruitment" method="post" id="recruit_ajaxForm" class="form-horizontal sl_all_form">
    <div class="body-content tab-content">
        <input type="hidden" name="access_token"/>
        <input type="hidden" id="zpid" name="zpid" th:value="${rszpDto.zpid}"/>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">发起人</label>
                        <div class="col-sm-8 col-md-9" th:if="${rszpDto.formAction eq 'add'}">
                            <select id="fqr" name="fqr" th:value="${rszpDto.fqr}" class="form-control chosen-select" >
                                <option  value="">--请选择--</option>
                                <option  th:each="xtyhs:${xtyhlist}"   th:value="${xtyhs.yhid}"  th:text="${xtyhs.zsxm}" th:selected="${xtyhs.zsxm eq rszpDto.fqr}"></option>
                            </select>
                        </div>
                        <div class="col-sm-8 padding_t7"  th:if="${rszpDto.formAction eq 'mod'}">
                            <span th:text="${rszpDto.fqr}"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">发起人部门</label>
                        <div class="col-sm-8 col-md-9" th:if="${rszpDto.formAction eq 'add'}">
                            <input id="fqrbm" name="fqrbm" class="form-control" th:value="${rszpDto.fqrbm}" placeholder="选择发起人后点击自动显示" style="height:28px;width: 90%" onclick="getJg()"/>
                        </div>
                        <div class="col-sm-8 padding_t7"  th:if="${rszpDto.formAction eq 'mod'}">
                            <span th:text="${rszpDto.fqrbm}"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">发起时间</label>
                        <div class="col-sm-8">
                            <input id="fqsj" name="fqsj" class="form-control" th:value="${rszpDto.fqsj}" placeholder="请选择时间" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">需求岗位</label>
                        <div class="col-sm-8">
                            <input id="xqgw" name="xqgw" class="form-control" th:value="${rszpDto.xqgw}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">岗位base地</label>
                        <div class="col-sm-8">
                            <input id="gwbased" name="gwbased" class="form-control" th:value="${rszpDto.gwbased}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">负责区域及医院</label>
                        <div class="col-sm-8">
                            <input id="fzqyjyy" name="fzqyjyy" class="form-control" th:value="${rszpDto.fzqyjyy}" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">需求人数</label>
                        <div class="col-sm-8">
                            <input id="xqrs" name="xqrs" class="form-control" th:value="${rszpDto.xqrs}"  onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
                                   placeholder="请输入大于或等于0的数字"  style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">预计年薪</label>
                        <div class="col-sm-8">
                            <input id="yjnx" name="yjnx" class="form-control" th:value="${rszpDto.yjnx}" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
                                   placeholder="请输入大于或等于0的数字"  style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">岗位现有人数</label>
                        <div class="col-sm-8">
                            <input id="gwxyrs" name="gwxyrs" class="form-control" th:value="${rszpDto.gwxyrs}" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
                                   placeholder="请输入大于或等于0的数字" style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">希望到岗日期</label>
                        <div class="col-sm-8">
                            <input id="xwdgrq" name="xwdgrq" class="form-control" th:value="${rszpDto.xwdgrq}"   placeholder="请选择开始时间"  style="height:28px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"></span>岗位职责要求</label>
                        <div class="col-sm-8">
                            <textarea rows="" cols="" id="gwyqzz" name="gwyqzz" th:text="${rszpDto.gwyqzz}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/globalweb/systemrole/recruit_edit.js"></script>
</body>
</html>