<!DOCTYPE html>
<html lang="zh-cn">
<body>
<form method="post" id="viewRecruitForm" theme="simple" class="form-horizontal sl_all_form">
    <div class="body-content tab-content">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">发起人</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.fqr}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">发起人部门</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.fqrbmmc}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">发起时间</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.fqsj}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">需求岗位</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.xqgw}" /></div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">岗位base地</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.gwbased}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">负责区域及医院</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.fzqyjyy}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">需求人数</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.xqrs}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">预计年薪(元)</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.yjnx}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">岗位现有人数</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.gwxyrs}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">希望到岗日期</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.xwdgrq}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">岗位职责要求</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${rszpDto.gwyqzz}" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>