<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" src="/js/globalweb/systemrole/relwechatuser_list.js" charset="utf-8"></script>
</head>
<body>
	<div class=" col-sm-12 col-md-12" style="padding-bottom:0px;">
			<form id="RelWxyhformSearch"  class="form-horizontal form-inline" >
			 <input type="hidden" name="yhid" id="yhid" th:if="${wxyhlist!=null && wxyhlist.size() > 0}" 
			th:each="list:${wxyhlist}" th:value="${list.yhid}"> 
			<input type="hidden" name="access_token"/>
			<input type="hidden" id="Xtyhid" name="Xtyhid" th:value="${wxyhdto.yhid}">
		            <div class="panel-body" style="padding-bottom:0px;">
	                    <div class="form-group padding_l10">
	                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                           		<option value="0">微信名</option>
                           		<option value="1">微信ID</option>
                           		<option value="2">用户ID</option>
                           		<option value="3">用户名</option>
                           		<option value="4">关注平台</option>
                           	</select>
	                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                onkeydown="if(event.keyCode==13) {searchRelwxyhResult(true); return false;}"/>
						</div>
						<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
					</div>
						<div class="col-sm-12 col-md-12">
					        	 <table id="relwxyh_list" class="table table-hover table-bordered" style="border:1px solid #000000;">
								</table> 
						</div>
	        </form>
	    </div>
	    
</body>
</html>