<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/globalweb/systemrole/role_list.js" charset="utf-8"></script>
	</head>
	<body>
		<div class="panel-body" style="padding-bottom:0px;">
			<form id="roleFormSearch" class="form-horizontal form-inline">
	        	<div class="panel panel-default">
	            <div class="panel-heading">查询条件</div>
		            <div class="panel-body">
	                    <div class="form-group padding_l10">
	                        <select name="cxbt" class="form-control chosen-select" id="cxbt" style="height:34px;">
                           		<option value="0">角色名称</option>
                           	</select>
	                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                onkeydown="if(event.keyCode==13) {searchRoleResult(); return false;}"/>
						</div>
						<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
		            </div>
		        </div>  
	        	<div th:include="common/btn/ancz.html"></div>
	        	<table id="tb_list" class="table table-hover table-bordered"></table>
	        </form>
	    </div>
	</body>
</html>