<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>字段设置</title>
</head>
<body>
	<form th:if="${listMap.size()>0}" id="setting_ajaxForm"  action="/systemrole/configunit/settingSaveField" method="post" class="form-horizontal sl_all_form" data-bs-toggle="validation">
		<input type="hidden" id="ids" name="ids" th:value="${xtjsDto.ids}"></input>
		<input type="hidden" name="access_token"/>
		<div class="modal-body body-content tab-content">
			<div class="panel-body">
				<div class="row">
					<div class="panel panel-success" th:each="map,local:${listMap}">
						<div class="panel-heading">
							<span th:text="${map[ywmc]}"></span>
							<input  type="hidden" th:name="'jsgrqxDtos['+${local.index}+'].ywid'" th:value="${map.ywid}"/> 
						</div>
						<div class="panel-body">
							<div class="RadioStyle">
							    <div class="Block PaddingL" th:each="zdmsz,stat:${map[zdmsz]}">
							        <input th:id="${local.index}+${zdmsz.xszd}+${stat.index}" th:value="${zdmsz.sqlzd}" th:name="'jsgrqxDtos['+${local.index}+'].jsgnqxs['+${stat.index}+'].xszd'" type="checkbox" th:attr="checked=${map[zds].contains(zdmsz.sqlzd)?true:false}"  />
							        <label th:for="${local.index}+${zdmsz.xszd}+${stat.index}" th:text="${zdmsz.xszdmc}"></label>
							        <input  type="hidden" th:name="'jsgrqxDtos['+${local.index}+'].jsgnqxs['+${stat.index}+'].xssx'" th:value="${zdmsz.xsxx}" />
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>