<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>仓库分类设置</title>
</head>
<body>
<form th:if="${jcsjDtos.size()>0}" id="storehouseSet_ajaxForm"  action="/systemrole/role/storehousesetSaveCkfl" method="post" class="form-horizontal sl_all_form" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" name="jsid" th:value="${xtjsDto.jsid}"/>
		<div class="modal-body body-content tab-content">
			<div class="panel-body">
				<div class="row">
					<div class="panel panel-success">
						<div class="panel-body">
							<div class="RadioStyle">
							 	<div class="Block PaddingL col-md-2 padding_l0" th:each="jcsjDto,local:${jcsjDtos}" >
									<input th:id="${jcsjDto.csid}" th:value="${jcsjDto.csid}" th:name="'ckqxlxDtos['+${local.index}+']'" type="checkbox" th:attr="checked=${strlist!=null &&strlist.contains(jcsjDto.csid)?true:false}"/>
							        <label th:for="${jcsjDto.csid}" th:text="${jcsjDto.csmc}" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:110px;"></label>
							 	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>