<!DOCTYPE html>
<html>
	<head>
		<meta name="referrer" content="never">
		<meta content="webkit" name="renderer" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Copyright" content="matridx" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
		<title>查看采购信息</title>
		<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
		<link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
		<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
		<link href="/js/plugins/bootstrap-table/bootstrap-table-pagejump.css" rel="stylesheet">
		<script src="/js/plugins/bootstrap-table/bootstrap-table-pagejump.js"></script>
		<link href="/js/plugins/bootstrap-table/themes/bulma/bootstrap-table-bulma.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/v5_style.css" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/basephone.css" />
		<script type="text/javascript" src="/js/wechat/purchase/purchase_auditView.js"  charset="utf-8"></script>
		<style type="text/css">
			.hidden{display:none;}
			table{
				table-layout: fixed;
			}
			tr{
			width:100%;
			}
			.first th{
			border:1px solid #DDDDDD;
			}
			.first td{
			border:1px solid #DDDDDD;
			}
			body{
				overflow: auto;
			}
			.padding_t7{
				padding-top: 3px !important;
			}
			
			
            .audit_steps{
               padding: 0px 15px 30px 15px;
            }
            b{
               font-size:12px;
            }
		</style>
	</head>
	<body>
		<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
			<li  class=" nav-item" >
				<a  class="nav-link active"  href="#cgglTab" role="tab" data-bs-toggle="tab">请购单据</a>
			</li>
			<li class=" nav-item" >
				<a  class="nav-link"  href="#cgmxTab" role="tab" data-bs-toggle="tab">请购明细</a>
			</li>
			<li class=" nav-item" >
				<a  class="nav-link"  href="#shlsTab" role="tab" data-bs-toggle="tab" id="auditHistory">审核历史</a>
			</li>
		</ul>
		<form id="purchaseAuditViewForm" action="" class="form-horizontal sl_all_form  blue-second-skin" data-bs-toggle="validation">
			<input type="hidden" name="qgid" th:value="${qgglDto.qgid}" id="qgid"/>
			<input type="hidden" name="urlPrefix" th:value="${urlPrefix}" id="urlPrefix"/>
			<input type="hidden" name="url" id="url" th:value="${url}">
			<input type="hidden" name="qglbdm" id="qglbdm" th:value="${qgglDto.qglbdm}">
			<div class="body-content tab-content">
				<div role="tabpanel" class="tab-pane fade active in" id="cgglTab"  aria-labelledby="profile-tab">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<input id="qgid" type="hidden" th:value="${qgglDto.qgid}"/>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											采购单号
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.djh}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											请购类别
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.qglbmc}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											申请人
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.sqrmc}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											申请部门
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.sqbmmc}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											记录编号
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.jlbh}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											申请日期
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.sqrq}" />
										</div>
									</div>
								</div>
								
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											项目大类
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.xmdlmc}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											项目编码
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.xmbmmc}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											申请理由
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.sqly}" />
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											支付方式
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
											<span th:text="${qgglDto.zffsmc}" />
										</div>
									</div>
								</div> 
								<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
									<div class="form-group">
										<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
											付款方
										</label>
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
											<span th:text="${qgglDto.fkfmc}" />
										</div>
									</div>
								</div> 
								<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12" style="height:40px;">
									<div class="form-group" >
										<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label">
											备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
										</label>
										<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
											<span th:text="${qgglDto.bz}" />
										</div>
									</div> 
								</div>
								<div id="t_fjcfbDto" th:if="${t_fjcfbDtos != null && t_fjcfbDtos.size() >0}"
									th:each="t_fjcfbDto:${t_fjcfbDtos}" class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
									<div class="form-group" >
										<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label"
											th:if="${t_fjcfbDtoStat.index == 0}">附件</label>
										<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label"
											th:if="${t_fjcfbDtoStat.index > 0}">　　</label>
										<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 padding_t7 h30">
											<label for="" th:if="${t_fjcfbDtos.size() > 1}" th:text="${t_fjcfbDtoStat.index+1}+."></label>
											<span
												th:text="${t_fjcfbDto.wjm}"></span>
											</a>&nbsp;&nbsp; <a title="预览" th:onclick="yl([[${t_fjcfbDto.fjid}]],[[${t_fjcfbDto.wjm}]])">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</div>
									</div>
								</div> 
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="cgmxTab" aria-labelledby="profile-tab" >
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-12 col-sm-12 col-xs-12 text-left">
								<span style="font-size:20px ! important;">预计总价(元)：</span><span style="color:red;font-size:20px ! important;" id="jg" th:text="${zjg}"></span>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-left">
								<table class="table table-bordered col-md-12 col-sm-12 col-xs-12" style="width:100%;">
								  <thead class="success first">
								    <tr>
								      <th style="width:10%;">序号</th>
								      <th style="width:40%;" th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">物料名称</th>
								      <th style="width:40%;" th:if="${qgglDto.qglbdm=='DEVICE'}">设备名称</th>
								      <th style="width:40%;" th:if="${qgglDto.qglbdm=='SERVICE'}">服务名称</th>
								      <th style="width:25%;">数量</th>
								      <th style="width:25%;">单价</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr class="tr first" th:if="${qgmxlist.size()>0 && qgmxlist != null}" th:each="list:${qgmxlist}" th:onclick="viewmore([[${list.qgmxid}]])" th:id="${list.qgmxid}">
								      <td th:text="${listStat.index+1}" style="width:10%;"></td>
								      <td th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}" th:text="${list.wlmc}" style="width:40%;"></td>
								      <td th:if="${qgglDto.qglbdm!=null && qgglDto.qglbdm!='' && qgglDto.qglbdm!='MATERIAL'}" th:text="${list.hwmc}" style="width:40%;"></td>
								      <td th:text="${list.sl}" style="width:25%;"></td>
								      <td th:text="${list.jg == null || list.jg ==''?'0.00':list.jg}" style="width:25%;"></td>
								    </tr>
								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>				    			    
			    
			    <div role="tabpanel" class="tab-pane fade" id="shlsTab"  aria-labelledby="profile-tab">
					  					  					  					  
					   <div class="modal-body form-horizontal clearfix">
							<div class="">
<!-- 							<ul class="flow_bar">
									<li class="flo_first flow_finish">
										<div><a href="javascript:void(0);"> <span class="flo_ico"></span><h5>开始</h5></a></div>
									</li>
									<li th:each="shlc : ${shlcList}" th:class='${shlc.audited eq true?"flow_finish":""}'>
										<div><a href="javascript:void(0);"> <span class="flo_ico"></span><h5 th:text="${shlc.gwmc}"></h5></a></div>
									</li>
									<li th:class='${shgcDto.xlcxh==""?"flow_finish":""}'>
										<div><a href="javascript:void(0);"> <span class="flo_ico"></span><h5>结束</h5></a></div>
									</li>
								</ul> -->
								
								<ul class="audit_steps" style="margin-left:30px">
									<li class="end"><span>开始</span></li>
									<li th:each="shlc : ${shlcList}" th:class='${shlc.audited eq true?"end":""}'>
										<span th:text="${shlc.gwmc}"></span>
									</li>
									<li th:class='${shgcDto.xlcxh==""?"end":""}'>
										<span>结束</span>
									</li>
								</ul>
							</div>
							<div class="col-sm-10 col-sm-offset-1 col-xs-12" th:if="${shxxList != null and shxxList.size() > 0}" th:each="shxx:${shxxList}">
								<table th:class="'table table-bordered table_sh table_' + ${(shxx.sftg eq '1')?'tg':(shxx.sftg eq null?'tj':'wtg')}">
									<thead>
										<tr class="active">
											<th width="22%">
												 <span>审核岗位：</span>
												 </br>
												 <span th:text="${(shxx.sftg eq null)?'用户':shxx.gwmc}"></span> 
											</th>
											<th width="22%">
											    <span th:text="${(shxx.sftg ne null?'审核人：':'提交人：') }"></span>
											    </br>
											    <span th:text="${shxx.shrmc}"></span>
												<!-- <span th:text="${(shxx.sftg ne null?'审核人：':'提交人：') + shxx.shrmc}"></span> -->
											</th>
											<th width="54%">										   
											    <span th:text="${(shxx.sftg ne null?'审核时间：':'提交时间：') + shxx.shsj}"></span>
												<span th:class="'pull-right col'+${(shxx.sftg eq '1')?'1':(shxx.sftg eq null?'4':'2')}" th:text='${(shxx.sftg eq null)?"提交":shxx.sftgmc}'></span> 
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="3" th:if="${shxx.sftg ne null}" style="white-space:normal;">
												<b>审核意见：</b><span th:text="${shxx.shyj}"></span>
											</td>
											<td colspan="3" th:if="${shxx.sftg eq null}">
												<b>提交</b>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>		
								
				</div>	    
			</div>
			<div class="panel panel-default" id="t_div" style="position: absolute;z-index:99;top:0;left:-200px;color:black;width:200px;height:100%;">
				<div class="panel-body">
					<div class="col-xs-12 col-sm-12 text-right">
						<i class="fa fa-times" aria-hidden="true" id="cancel" onclick="closeNav()"></i>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								<span th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">物料名称</span>
								<span th:if="${qgglDto.qglbdm=='DEVICE'}">设备名称</span>
								<span th:if="${qgglDto.qglbdm=='SERVICE'}">服务名称</span>
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="wlmc" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								物料编码
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="wlbm" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								物料类别
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="wllbmc" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm=='SERVICE' || qgglDto.qglbdm=='DEVICE'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								用途
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="hwyt" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm=='SERVICE'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								服务期限
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="fwqx" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm=='SERVICE'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								服务要求
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="fwyq" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								物料子类别
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="wlzlbmc" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm==null || qgglDto.qglbdm=='' || qgglDto.qglbdm=='MATERIAL'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								子类别统称
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="wlzlbtcmc" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm!='SERVICE'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								规格
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="gg" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" th:if="${qgglDto.qglbdm!='SERVICE'}">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								计量单位
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="jldw" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								生产商
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="scs" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								数量
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="sl" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								单价
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="dj" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label" style="padding-left:0px;padding-right:0px;">
								总价
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t4">
								<span id="zj" />
							</div>
						</div>
					</div>
					<div id="mx_fjcfbDtos" class="col-xs-12 col-sm-12">
						
					</div>
				</div>
			</div>
			</form>
	</body>
</html>