<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript" th:src="@{${urlPrefix}+'/js/systemmain/timing/timingtaskcube_list.js'}"></script>
	<style type="text/css">
		.tool:hover{
			color:#44acb6;
		}
		#tbcss{
		text-align:center;
		position:relative;
		padding:5px;
		font-size:60px;
		margin-top: 14px;
		}
		a:hover{
		text-decoration: none;
		}

		body{
			height: 100%;
			padding: 0;
			margin: 0;
		}
	</style>
</head>
<body>
	<div class="panel panel-default divxscroll" style="height:100%;">
		<form id="timingtaskcubelist_formSearch" class="form-horizontal sl_all_form" method="post"  data-bs-toggle="validation">
			<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}"/>
			<div class="body-content" style="padding: 20px">
				<div name="target" th:id="${dsrwszDto.rwid}" class="col-md-3 col-xs-12 dragabled" th:if="${rows!=null && rows.size()>0}" th:each="dsrwszDto:${rows}" draggable="true">
					<div class="panel panel-default" style="margin-top:10px;">
						<div class="row" >
							 <div class="col-md-12 col-xs-12" style="text-align:center;height:150px;">
						    	<div type="button" class="btn btn-default btn-block " style="border:0;height:100% !important;display: flex;justify-content: center;align-items: center;" th:onclick="runDsrw([[${dsrwszDto.rwid}]])">
						    		<span style="font-size:18px;word-wrap: break-word;overflow-wrap: break-word;white-space: normal;" th:title="${dsrwszDto.rwmc}" th:text="${dsrwszDto.rwmc}"></span>
						    	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>