<!DOCTYPE html>
<html>
<head lang="zh-cn">
</head>
<body>
<form id="ajaxForm"   class="form-horizontal sl_all_form" th:action ="${urlPrefix}+'/systemmain/timing/'+${Dsrwxx.formAction}"  method="post" theme="simple" data-bs-toggle="validation">
	<input type="hidden" id="rwid" name="rwid" th:value="${Dsrwxx.rwid}">
	<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
	<div class="body-content tab-content">
		<div class="row">
			<input type="hidden" name="access_token"/>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 control-label">
						<span style="color: red;">*</span>任务名称：
					</label>
					<div class="col-sm-8 col-md-8 col-xs-12">
						<input type="text" id="rwmc" name="rwmc" th:value="${Dsrwxx.rwmc}"  validate="{required:true,stringMaxLength:64}" class="form-control" style="height:30px;"/>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 control-label">
						<span style="color: red;">*</span>定时信息：
					</label>
					<div class="col-sm-8 col-md-8 col-xs-12">
						<input type="text" id="dsxx" name="dsxx"  th:value="${Dsrwxx.dsxx}" validate="{required:true,stringMaxLength:64}" class="form-control" style="height:30px;" placeholder="格式,例:0/12 * * * * ?"/>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 control-label">
						<span style="color: red;">*</span>执行类：
					</label>
					<div class="col-sm-8 col-md-8 col-xs-12">
						<input type="text" id="zxl" name="zxl" th:value="${Dsrwxx.zxl}"  validate="{required:true,stringMaxLength:64}" class="form-control" style="height:30px;" placeholder="需要执行的定时任务所在的实现类,例:commonServiceImpl"/>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 control-label">
						<span style="color: red;">*</span>执行方法：
					</label>
					<div class="col-sm-8 col-md-8 col-xs-12">
						<input type="text" id="zxff" name="zxff" th:value="${Dsrwxx.zxff}"  validate="{required:true,stringMaxLength:64}" class="form-control" style="height:30px;" placeholder="需要执行的定时任务所在实现类的方法,例:clistOrgByYhid"/>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 control-label">
						参数：
					</label>
					<div class="col-sm-8 col-md-8 col-xs-12">
						<input type="text" id="cs" name="cs" th:value="${Dsrwxx.cs}"  validate="{stringMaxLength:1024}" class="form-control" style="height:30px;" placeholder="钉钉消息的类型,填写格式为eg：name=xx,hobbies=xx%yy%zz"/>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 control-label">
						类别：
					</label>
					<div class="col-sm-8 col-md-8 col-xs-12">
						<input type="text" id="remindtype" name="remindtype" th:value="${Dsrwxx.remindtype}"  validate="{stringMaxLength:256}" class="form-control" style="height:30px;" placeholder="分布式执行标识"/>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</form> 
</body>
	<!--<script type="text/javascript" src="/js/wechat/sjxx/partner_Save.js" charset="utf-8"></script>-->
</html>