<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IBmwlDao" >
    <select id="getDtoList" parameterType="BmwlDto" resultType="BmwlDto">
        select wlid,bm from igams_bmwl where wlid = #{wlid}
    </select>
    <select id="getAllBm" parameterType="BmwlDto" resultType="BmwlDto">
        select jgxx.jgmc,bmwl.bm from igams_bmwl bmwl
        left join matridx_jgxx jgxx on jgxx.jgid = bmwl.bm
        group by jgxx.jgmc,bmwl.bm
    </select>
    <select id="getDto" parameterType="BmwlDto" resultType="BmwlDto">
        select wlid,bm from igams_bmwl where wlid = #{wlid} and bm = #{bm}
    </select>
    <insert id="insert" parameterType="BmwlDto">
        insert into igams_bmwl(wlid,bm,lrsj) values(#{wlid}, #{bm},LOCALTIMESTAMP)
    </insert>
    <delete id="delete" parameterType="BmwlDto">
        delete from igams_bmwl
        where wlid = #{wlid} and bm = #{bm}
    </delete>
</mapper>
