<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ICljlxxDao">
    <insert id="insert" parameterType="CljlxxDto">
        insert into igams_cljlxx(cljlid,shfkid,llid,sfjs,bz,lrry,lrsj)
        values (#{cljlid},#{shfkid},#{llid},#{sfjs},#{bz},#{lrry},LOCALTIMESTAMP)
    </insert>
    <select id="getDtoList" parameterType="CljlxxDto" resultType="CljlxxDto">
        SELECT
            cljlxx.cljlid,
            cljlxx.llid,
            to_char(cljlxx.lrsj,'yyyy-mm-dd hh24:mi') lrsj,
            cljlxx.sfjs,
            cljlxx.bz,
            xtyh.zsxm lrry,
            cljlxx.sfjs
        FROM
            igams_cljlxx cljlxx
            LEFT JOIN igams_shfkdj shfkdj ON shfkdj.shfkid = cljlxx.shfkid
            LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = cljlxx.lrry
        WHERE
         cljlxx.shfkid=#{shfkid}
    </select>
</mapper>