<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IDdbxglDao" >
    <sql id="SEARCH_TERMS">
        <if test="ssgs != null and ssgs != ''">
            and ddbxgl.ssgs ILIKE '%'||#{ssgs}||'%'
        </if>
        <if test="sprmc != null and sprmc != ''">
            and spr.zsxm ILIKE '%'||#{sprmc}||'%'
        </if>
        <if test="sqrmc != null and sqrmc != ''">
            and sqr.zsxm ILIKE '%'||#{sqrmc}||'%'
        </if>
        <if test="bmmc != null and bmmc != ''">
            and sqbm.jgmc ILIKE '%'||#{bmmc}||'%'
        </if>
        <if test="zy != null and zy != ''">
            and ddbxgl.zy ILIKE '%'||#{zy}||'%'
        </if>
        <if test="lrsj != null and lrsj != ''">
            and ddbxgl.lrsj = #{lrsj}
        </if>
        <if test = "bxlxs != null and bxlxs.length > 0 "  >
            and ddbxgl.bxlx in
            <foreach collection="bxlxs" separator="," open="(" close=") "
                     item="item" index="index">
                #{item}
            </foreach>
        </if>
    </sql>
    <select id="getPagedDtoList" resultType="DdbxglDto" parameterType="DdbxglDto">
    select ddbxgl.ddbxid,ddbxgl.spslid,ddbxgl.ssgs,ddbxgl.spr,ddbxgl.sqr,ddbxgl.zje,ddbxgl.lrsj,ddbxgl.bm,ddbxgl.u8glid,ddbxgl.pzbh,
    ddbxgl.bz,ddbxgl.zy,ddbxgl.bxlx,sqr.zsxm sqrmc,spr.zsxm sprmc,sqbm.jgmc bmmc,bxlx.csmc bxlxmc
    from igams_ddbxgl ddbxgl
    left join matridx_xtyh sqr on sqr.yhid=ddbxgl.sqr
    left join matridx_xtyh spr on spr.yhid=ddbxgl.spr
    left join matridx_jgxx sqbm on sqbm.jgid=ddbxgl.bm
    left join matridx_jcsj bxlx on bxlx.csid=ddbxgl.bxlx
    <where>
        <include refid="SEARCH_TERMS"></include>
    </where>
    </select>
    <select id="getDto" resultType="DdbxglDto" parameterType="DdbxglDto">
    select ddbxgl.ddbxid,ddbxgl.spslid,ddbxgl.ssgs,ddbxgl.spr,ddbxgl.sqr,ddbxgl.zje,ddbxgl.lrsj,ddbxgl.bm,ddbxgl.u8glid,ddbxgl.pzbh,
    ddbxgl.bz,ddbxgl.zy,ddbxgl.bxlx,sqr.zsxm sqrmc,spr.zsxm sprmc,sqbm.jgmc bmmc,bxlx.csmc bxlxmc
    from igams_ddbxgl ddbxgl
    left join matridx_xtyh sqr on sqr.yhid=ddbxgl.sqr
    left join matridx_xtyh spr on spr.yhid=ddbxgl.spr
    left join matridx_jgxx sqbm on sqbm.jgid=ddbxgl.bm
    left join matridx_jcsj bxlx on bxlx.csid=ddbxgl.bxlx
    where ddbxgl.ddbxid=#{ddbxid}
    </select>

    <insert id="insert" parameterType="DdbxglDto">
        insert into igams_ddbxgl(ddbxid
        <if test="spslid !=null and spslid != ''">
            ,spslid
        </if>
        <if test="ssgs !=null and ssgs != ''">
            ,ssgs
        </if>
        <if test="spr !=null and spr != ''">
            ,spr
        </if>
        <if test="sqr !=null and sqr != ''">
            ,sqr
        </if>
        <if test="zje !=null and zje != ''">
            ,zje
        </if>
        <if test="bm !=null and bm != ''">
            ,bm
        </if>
        <if test="u8glid !=null and u8glid != ''">
            ,u8glid
        </if>
        <if test="pzbh !=null and pzbh != ''">
            ,pzbh
        </if>
        <if test="bz !=null and bz != ''">
            ,bz
        </if>
        <if test="zy !=null and zy != ''">
            ,zy
        </if>
        <if test="bxlx !=null and bxlx != ''">
            ,bxlx
        </if>
        <if test="hylx !=null and hylx != ''">
            ,hylx
        </if>
        ,lrsj) values(#{ddbxid}
        <if test="spslid !=null and spslid != ''">
            ,#{spslid}
        </if>
        <if test="ssgs !=null and ssgs != ''">
            ,#{ssgs}
        </if>
        <if test="spr !=null and spr != ''">
            ,#{spr}
        </if>
        <if test="sqr !=null and sqr != ''">
            ,#{sqr}
        </if>
        <if test="zje !=null and zje != ''">
            ,cast (#{zje} as numeric )
        </if>
        <if test="bm !=null and bm != ''">
            ,#{bm}
        </if>
        <if test="u8glid !=null and u8glid != ''">
            ,#{u8glid}
        </if>
        <if test="pzbh !=null and pzbh != ''">
            ,#{pzbh}
        </if>
        <if test="bz !=null and bz != ''">
            ,#{bz}
        </if>
        <if test="zy !=null and zy != ''">
            ,#{zy}
        </if>
        <if test="bxlx !=null and bxlx != ''">
            ,#{bxlx}
        </if>
        <if test="hylx !=null and hylx != ''">
            ,#{hylx}
        </if>
        ,LOCALTIMESTAMP)
    </insert>

    <update id="update" parameterType="DdbxglDto">
        update igams_ddbxgl
        <set>
            <if test="u8glid != null and u8glid !=''">
                ,u8glid=#{u8glid}
            </if>
            <if test="pzbh != null and pzbh !=''">
                ,pzbh=#{pzbh}
            </if>
            <if test="zy != null and zy !=''">
                ,zy=#{zy}
            </if>
        </set>
        <where>
            ddbxid=#{ddbxid}
        </where>
    </update>

    <select id="getDtoList" resultType="DdbxglDto" parameterType="DdbxglDto">
    select ddbxgl.ddbxid,ddbxgl.spslid,ddbxgl.ssgs,ddbxgl.spr,ddbxgl.sqr,ddbxgl.zje,ddbxgl.lrsj,ddbxgl.bm,ddbxgl.u8glid,ddbxgl.pzbh,
    ddbxgl.bz,ddbxgl.zy,ddbxgl.bxlx,sqr.zsxm sqrmc,spr.zsxm sprmc,sqbm.jgmc bmmc,bxlx.csmc bxlxmc
    from igams_ddbxgl ddbxgl
    left join matridx_xtyh sqr on sqr.yhid=ddbxgl.sqr
    left join matridx_xtyh spr on spr.yhid=ddbxgl.spr
    left join matridx_jgxx sqbm on sqbm.jgid=ddbxgl.bm
    left join matridx_jcsj bxlx on bxlx.csid=ddbxgl.bxlx
    <where>
        spslid in
        <foreach collection="spslids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </where>
    </select>
</mapper>
