<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IGlwjxxDao" >
    <select id="getDtoList" parameterType="GlwjxxDto" resultType="GlwjxxDto">
        SELECT
            glwjxx.glwjid,glwjxx.wjid,glwjxx.zwjid,wjgl.wjbh,wjgl.wjmc,wjgl.bbh,wjgl.sxrq
        FROM
            igams_glwjxx glwjxx
            LEFT JOIN igams_wjgl wjgl on wjgl.wjid = glwjxx.zwjid
        WHERE glwjxx.wjid = #{wjid}
    </select>

    <insert id="insertGlwjxxDtos" parameterType="List">
        insert into igams_glwjxx(glwjid,wjid,zwjid)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.glwjid}, #{item.wjid},
            #{item.zwjid})
        </foreach>
    </insert>

    <delete id="delete" parameterType="GlwjxxDto">
        delete from igams_glwjxx where wjid = #{wjid}
    </delete>
</mapper>
