<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IHtfpmxDao" >
    <insert id="insertList" parameterType="List">
        insert into igams_htfpmx(fpmxid,htfpid,htmxid,fpje)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.fpmxid},#{item.htfpid},#{item.htmxid},cast(#{item.fpje} as numeric))
        </foreach>
    </insert>

    <delete id="delete" parameterType="HtfpmxDto">
        delete from igams_htfpmx
        where htfpid=#{htfpid}
    </delete>
</mapper>
