<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IHtfpqkDao" >
	
	<select id="getFpqkList" parameterType="HtfpqkDto" resultType="HtfpqkDto">
		select fp.htfpid,fp.htid,fp.fphm,fp.fpjsrq,fp.sl,fp.fpzl,fp.bhsje,fp.fpje,fp.zjcwrq,fp.kprq,fp.fpdm,
		yh.zsxm czr,jc_fpzl.csmc fpzlmc
		from igams_htfpqk fp
		left join igams_htgl ht on ht.htid=fp.htid
		left join matridx_jcsj jc_fpzl on jc_fpzl.csid=fp.fpzl
		left join matridx_xtyh yh on yh.yhid=fp.lrry
		<where>
			fp.scbj!='1'
			and fp.htid=#{htid}
		</where>
	</select>

	<select id="getFpqk" parameterType="HtfpqkDto" resultType="HtfpqkDto">
		select fp.htfpid,fp.htid,fp.fphm,fp.fpjsrq,fp.sl,fp.fpzl,fp.bhsje,fp.fpje,fp.zjcwrq,fp.kprq,fp.fpdm,jc_fpzl.csmc fpzlmc
		from igams_htfpqk fp
		left join igams_htgl ht on ht.htid=fp.htid
		left join matridx_jcsj jc_fpzl on jc_fpzl.csid=fp.fpzl
		<where>
			fp.scbj!='1'
			and fp.htid=#{htid}
			and fp.fphm = #{fphm}
			and fp.fpzl = #{fpzl}
		</where>
	</select>
	
	<insert id="insert" parameterType="HtfpqkDto">
		insert into igams_htfpqk(htfpid,htid
			<if test="fphm != null and fphm != ''">
				,fphm
			</if>
			<if test="sl != null and sl != ''">
				,sl
			</if>
			<if test="fpzl != null and fpzl != ''">
				,fpzl
			</if>
			<if test="bhsje != null and bhsje != ''">
				,bhsje
			</if>
			<if test="fpje != null and fpje != ''">
				,fpje
			</if>
			<if test="fpdm != null and fpdm != ''">
				,fpdm
			</if>
			<if test="fpjsrq != null and fpjsrq != ''">
				,fpjsrq
			</if>
			<if test="kprq != null and kprq != ''">
				,kprq
			</if>
			<if test="zjcwrq != null and zjcwrq != ''">
				,zjcwrq
			</if>
			<if test="fygs != null and fygs != ''">
				,fygs
			</if>
		,lrry,lrsj,scbj)
		values(
			#{htfpid},#{htid}
			<if test="fphm != null and fphm != ''">
				,#{fphm}
			</if>
			<if test="sl != null and sl != ''">
				,cast(#{sl} as numeric)
			</if>
			<if test="fpzl != null and fpzl != ''">
				,#{fpzl}
			</if>
			<if test="bhsje != null and bhsje != ''">
				,cast(#{bhsje} as numeric)
			</if>
			<if test="fpje != null and fpje != ''">
				,cast(#{fpje} as numeric)
			</if>
			<if test="fpdm != null and fpdm != ''">
				,#{fpdm}
			</if>
			<if test="fpjsrq != null and fpjsrq != ''">
				,cast(#{fpjsrq} as timestamp)
			</if>
			<if test="kprq != null and kprq != ''">
				,cast(#{kprq} as timestamp)
			</if>
			<if test="zjcwrq != null and zjcwrq != ''">
				,cast(#{zjcwrq} as timestamp)
			</if>
			<if test="fygs != null and fygs != ''">
				,#{fygs}
			</if>
			,#{lrry},LOCALTIMESTAMP,'0')
	</insert>
	
	<select id="getDtoById" parameterType="HtfpqkDto" resultType="HtfpqkDto">
		select fp.htfpid,fp.htid,fp.fphm,fp.fpjsrq,fp.sl,fp.fpzl,fp.bhsje,fp.fpje,fp.zjcwrq,fp.kprq,fp.fpdm,
		yh.zsxm czr,jc_fpzl.csmc fpzlmc
		from igams_htfpqk fp
		left join igams_htgl ht on ht.htid=fp.htid
		left join matridx_jcsj jc_fpzl on jc_fpzl.csid=fp.fpzl
		left join matridx_xtyh yh on yh.yhid=fp.lrry
		<where>
			fp.scbj!='1' and fp.htfpid=#{htfpid}
		</where>
	</select>
	
	<update id="updateFpqk" parameterType="HtfpqkDto">
		update igams_htfpqk 
		<set>
			xgry=#{xgry},xgsj=LOCALTIMESTAMP
			<if test="fphm != null and fphm != ''">
				,fphm=#{fphm}
			</if>
			<if test="sl != null and sl != ''">
				,sl=cast(#{sl} as numeric)
			</if>
			<if test="fpzl != null and fpzl != ''">
				,fpzl=#{fpzl}
			</if>
			<if test="bhsje != null and bhsje != ''">
				,bhsje=cast(#{bhsje} as numeric)
			</if>
			<if test="fpje != null and fpje != ''">
				,fpje=cast(#{fpje} as numeric)
			</if>
			<if test="fpdm != null and fpdm != ''">
				,fpdm=#{fpdm}
			</if>
			<if test="fpjsrq != null and fpjsrq != ''">
				,fpjsrq=cast(#{fpjsrq} as timestamp)
			</if>
			<if test="kprq != null and kprq != ''">
				,kprq=cast(#{kprq} as timestamp)
			</if>
			<if test="zjcwrq != null and zjcwrq != ''">
				,zjcwrq=cast(#{zjcwrq} as timestamp)
			</if>
		</set>
		<where>
			scbj!='1' and htfpid=#{htfpid}
		</where>
	</update>
	
	<update id="deleteFpqk" parameterType="HtfpqkDto">
		update igams_htfpqk
		<set>
			scry=#{scry},scbj='1',scsj=LOCALTIMESTAMP
		</set>
		<where>
			scbj!='1' and htfpid=#{htfpid}
		</where>
	</update>
</mapper>
