<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IKctbcwxxDao" >
	<insert id="insertKctbcwxxList" parameterType="List">
		insert into igams_kctbcwxx(kctbcwid, tsxx, wlbm, scph, ckdm, kwdm, sl, tblx, lrsj)
		values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(
				#{item.kctbcwid},#{item.tsxx},#{item.wlbm},#{item.scph},#{item.ckdm},#{item.kwdm},cast(#{item.sl} as numeric),#{item.tblx},LOCALTIMESTAMP
				)
			</foreach>
		</if>
	</insert>
</mapper>
