<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ISbbfDao">
    <sql id="selectWhere">
        <if test="entire !=null and entire!=''">
            and (
            sbys.sbbh ILIKE '%'||#{entire}||'%'
            or sblx.csmc ILIKE '%'||#{entire}||'%'
            or sbys.sbmc ILIKE '%'||#{entire}||'%'
            or sbys.gdzcbh ILIKE '%'||#{entire}||'%'
            or sbys.ggxh ILIKE '%'||#{entire}||'%'
            or sbys.sbccbh ILIKE '%'||#{entire}||'%'
            or sbys.xlh ILIKE '%'||#{entire}||'%'
            or sbys.sccj ILIKE '%'||#{entire}||'%'
            or sbgly.zsxm ILIKE '%'||#{entire}||'%'
            or syry.zsxm ILIKE '%'||#{entire}||'%'
            or sybm.jgmc ILIKE '%'||#{entire}||'%'
            or sbys.sydd ILIKE '%'||#{entire}||'%'
            or bmsbfzr.zsxm ILIKE '%'||#{entire}||'%'
            or sqr.zsxm ILIKE '%'||#{entire}||'%'
            or sqbm.jgmc ILIKE '%'||#{entire}||'%'
            )
        </if>
        <if test="sbbh!=null and sbbh!=''">
            and sbys.sbbh ILIKE '%'||#{sbbh}||'%'
        </if>
        <if test="sbmc!=null and sbmc!=''">
            and sbys.sbmc ILIKE '%'||#{sbmc}||'%'
        </if>
        <if test="syrymc!=null and syrymc!=''">
            and syry.zsxm ILIKE '%'||#{syrymc}||'%'
        </if>
        <if test="sblxmc!=null and sblxmc!=''">
            and sblx.csmc ILIKE '%'||#{sblxmc}||'%'
        </if>
        <if test="gdzcbh!=null and gdzcbh!=''">
            and sbys.gdzcbh ILIKE '%'||#{gdzcbh}||'%'
        </if>
        <if test="ggxh!=null and ggxh!=''">
            and sbys.ggxh ILIKE '%'||#{ggxh}||'%'
        </if>
        <if test="sbccbh!=null and sbccbh!=''">
            and sbys.sbccbh ILIKE '%'||#{sbccbh}||'%'
        </if>
        <if test="xlh!=null and xlh!=''">
            and sbys.xlh ILIKE '%'||#{xlh}||'%'
        </if>
        <if test="sccj!=null and sccj!=''">
            and sbys.sccj ILIKE '%'||#{sccj}||'%'
        </if>
        <if test="glrymc!=null and glrymc!=''">
            and sbgly.zsxm ILIKE '%'||#{glrymc}||'%'
        </if>
        <if test="sybmmc!=null and sybmmc!=''">
            and sybm.jgmc ILIKE '%'||#{sybmmc}||'%'
        </if>
        <if test="sydd!=null and sydd!=''">
            and sbys.sydd ILIKE '%'||#{sydd}||'%'
        </if>
        <if test="bmsbfzrmc!=null and bmsbfzrmc!=''">
            and bmsbfzr.zsxm ILIKE '%'||#{bmsbfzrmc}||'%'
        </if>
        <if test="sqrmc!=null and sqrmc!=''">
            and sqr.zsxm ILIKE '%'||#{sqrmc}||'%'
        </if>
        <if test="sqbmmc!=null and sqbmmc!=''">
            and sqbm.jgmc ILIKE '%'||#{sqbmmc}||'%'
        </if>
        <if test = "sblxs != null and sblxs.length > 0 "  >
            and sbys.sblx in
            <foreach collection="sblxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "sybms != null and sybms.length > 0 "  >
            and sbys.xsybm in
            <foreach collection="sybms" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "glrys != null and glrys.length > 0 "  >
            and sbys.glry in
            <foreach collection="glrys" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="zts!=null and zts.length > 0">
            and sbbf.zt in
            <foreach collection="zts" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="sqsjstart !=null and sqsjstart!=''">
             and to_char(sbbf.sqsj,'YYYY-MM-dd') &gt;= #{sqsjstart}
        </if>
        <if test="sqsjend !=null and sqsjend!=''">
             and to_char(sbbf.sqsj,'YYYY-MM-dd') &lt;= #{sqsjend}
        </if>
    </sql>
    <insert id="insert" parameterType="SbbfDto">
        insert into igams_sbbf (sbbfid,sbysid
        <if test="sqr != null and sqr != ''">
            ,sqr
        </if>
        <if test="sqbm != null and sqbm != ''">
            ,sqbm
        </if>
        <if test="sqsj != null and sqsj != ''">
            ,sqsj
        </if>
        <if test="bz != null and bz != ''">
            ,bz
        </if>
        <if test="zt != null and zt != ''">
            ,zt
        </if>
        <if test="ddslid != null and ddslid != ''">
            ,ddslid
        </if>,lrry,lrsj,scbj)
        values(#{sbbfid},#{sbysid}
        <if test="sqr != null and sqr != ''">
            ,#{sqr}
        </if>
        <if test="sqbm != null and sqbm != ''">
            ,#{sqbm}
        </if>
        <if test="sqsj != null and sqsj != ''">
            ,cast (#{sqsj} as date)
        </if>
        <if test="bz != null and bz != ''">
            ,#{bz}
        </if>
        <if test="zt != null and zt != ''">
            ,#{zt}
        </if>
        <if test="ddslid != null and ddslid != ''">
            ,#{ddslid}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0')
    </insert>
    <update id="update" parameterType="SbbfDto">
    update igams_sbbf
    <set>
        xgsj=LOCALTIMESTAMP
        <if test="sqr != null and sqr != ''">
            ,sqr=#{sqr}
        </if>
        <if test="sqbm != null and sqbm != ''">
            ,sqbm=#{sqbm}
        </if>
        <if test="sqsj != null and sqsj != ''">
            , sqsj=cast(#{sqsj} as date)
        </if>
        <if test="bz != null and bz != ''">
            ,bz=#{bz}
        </if>
        <if test="zt != null and zt != ''">
            ,zt=#{zt}
        </if>
        <if test="ddslid != null and ddslid != ''">
            ,ddslid=#{ddslid}
        </if>
        <if test="xgry != null and xgry != ''">
            ,xgry=#{xgry}
        </if>
    </set>
    <where>
        sbbfid=#{sbbfid}
    </where>
    </update>
    <select id="getDtoById" parameterType="String" resultType="SbbfDto">
        select sbbf.sbbfid,sbbf.sbysid,sbbf.sqr,sqr.zsxm sqrmc,sqbm.jgmc sqbmmc,
        sbys.xlh,sbys.sbmc,sbbf.ddslid,sbbf.bz,sbbf.sqsj,sbys.ggxh,sbys.sydd fzwz,
        sbbf.sqbm,sbys.gdzcbh,case when htmx.sfgdzc='1' then '是' else '否' end sfgdzcmc,
        sbbf.sbbfid,sbys.sbbh,sbys.sbccbh,sbys.sccj,sbgly.zsxm glrymc,
        syry.zsxm syrymc,sybm.jgmc sybmmc,sbys.sydd,bmsbfzr.zsxm bmsbfzrmc,sbbf.zt,sbys.sbzt,sbys.ysbzt
        from igams_sbbf sbbf
        left join matridx_xtyh sqr on sqr.yhid=sbbf.sqr
        left join matridx_jgxx sqbm on sqbm.jgid=sbbf.sqbm
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        left join igams_hwxx hwxx on hwxx.sbysid=sbys.sbysid and hwxx.scbj='0'
        left join igams_htmx htmx on htmx.htmxid=hwxx.htmxid and htmx.scbj='0'
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        left join matridx_xtyh sbgly on sbgly.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        <where>
            sbbfid=#{sbbfid}
        </where>
    </select>
    <select id="getDtoByDdslid" parameterType="String" resultType="SbbfDto">
        select sbbf.sbbfid,sbbf.sbysid,sbbf.sqr,sqr.zsxm sqrmc,sqbm.jgmc sqbmmc,
        sbys.xlh,sbys.sbmc,sbbf.ddslid,sbbf.bz,sbbf.sqsj,sbys.ggxh,sbys.sydd fzwz,
        sbbf.sqbm,sbys.gdzcbh,
        sbbf.sbbfid,sbys.sbbh,sbys.sbccbh,sbys.sccj,sbgly.zsxm glrymc,
        syry.zsxm syrymc,sybm.jgmc sybmmc,sbys.sydd,bmsbfzr.zsxm bmsbfzrmc,sbbf.zt
        from igams_sbbf sbbf
        left join matridx_xtyh sqr on sqr.yhid=sbbf.sqr
        left join matridx_jgxx sqbm on sqbm.jgid=sbbf.sqbm
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        left join matridx_xtyh sbgly on sbgly.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        <where>
            sbbf.sbbfid is not null
            <if test="_parameter != null and _parameter != ''">
                and sbbf.ddslid=#{ddslid}
            </if>
        </where>
    </select>
    <update id="updateDdslidToNull" parameterType="SbbfDto">
        update igams_sbbf
        set ddslid = null
        <where>
            sbbfid =#{sbbfid}
        </where>
    </update>
    <!-- 获取审批人角色 -->
    <select id="getSprjsBySprid" parameterType="String" resultType="SbbfDto">
        select yhjs.jsid as sprjsid,xtjs.jsmc as sprjsmc
        from matridx_yhjs yhjs
        left join matridx_xtjs xtjs on xtjs.jsid=yhjs.jsid
        <where>
            yhjs.yhid=#{sprid}
        </where>
    </select>
    <select id="getPagedDtoList" resultType="SbbfDto" parameterType="SbbfDto">
        select sbbf.sbbfid,sbys.sbbh,sbys.gdzcbh,sbys.sbccbh,sbys.xlh,sbys.ggxh,sbys.sccj,sbgly.zsxm glrymc,
        syry.zsxm syrymc,sybm.jgmc sybmmc,sbys.sydd,bmsbfzr.zsxm bmsbfzrmc,sqr.zsxm sqrmc,sqbm.jgmc sqbmmc,
        sbbf.sqsj,sbbf.bz,sbbf.zt,sblx.csmc sblxmc,sbys.sbmc,sbbf.sbysid,sbbf.sqbm
        from igams_sbbf sbbf
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        left join matridx_xtyh sbgly on sbgly.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_xtyh sqr on sqr.yhid=sbbf.sqr
        left join matridx_jgxx sqbm on sqbm.jgid=sbbf.sqbm
        <where>
            sbbf.scbj='0'
            <include refid="selectWhere"></include>
        </where>
    </select>
    <select id="getDepartmentList"  resultType="SbbfDto">
        SELECT
        sbys.xsybm,
        xsybm.jgmc xsybmmc
        from igams_sbbf sbbf
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        <where>
            sbbf.scbj='0' and sbys.xsybm is not null and xsybm.jgmc is not null
            group by sbys.xsybm,xsybm.jgmc
        </where>
    </select>
    <select id="getLeadList" resultType="SbbfDto">
        SELECT
        sbys.glry,
        glry.zsxm glrymc
        from igams_sbbf sbbf
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_xtyh glry ON glry.yhid = sbys.glry
        <where>
            sbbf.scbj='0' and sbys.glry is not null and glry.zsxm is not null
            group by sbys.glry,glry.zsxm
        </where>
    </select>
    <select id="getDtoList" resultType="SbbfDto" parameterType="SbbfDto">
        select sbbf.sbbfid,sbbf.sbysid,sbys.sbbh,sbys.gdzcbh,sbys.sbccbh,sbys.xlh,sbys.ggxh,sbys.sccj,sbgly.zsxm glrymc,
        syry.zsxm syrymc,sybm.jgmc sybmmc,sbys.sydd,bmsbfzr.zsxm bmsbfzrmc,sqr.zsxm sqrmc,sqbm.jgmc sqbmmc,
        sbbf.sqsj,sbbf.bz,sbbf.zt,sbys.sbzt,sbys.ysbzt
        from igams_sbbf sbbf
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        left join matridx_xtyh sbgly on sbgly.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_xtyh sqr on sqr.yhid=sbbf.sqr
        left join matridx_jgxx sqbm on sqbm.jgid=sbbf.sqbm
        <where>
            sbbf.scbj='0'
            <if test="ids!=null and ids.size>0">
                and sbbf.sbbfid in
                <foreach collection="ids" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <update id="delete" parameterType="SbbfDto">
        update igams_sbbf
        <set>
            scbj='1',
            scsj=LOCALTIMESTAMP
        </set>
        <where>
            sbbfid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
    <select id="getPagedAuditDeviceScrap" parameterType="SbbfDto" resultType="SbbfDto">
        select sbbf.sbbfid,sbys.sbbh,sbys.gdzcbh,sbys.sbccbh,sbys.xlh,sbys.ggxh,sbys.sccj,sbgly.zsxm glrymc,
        syry.zsxm syrymc,sybm.jgmc sybmmc,sbys.sydd,bmsbfzr.zsxm bmsbfzrmc,sqr.zsxm sqrmc,sqbm.jgmc sqbmmc,
        sbbf.sqsj,sbbf.bz,sbbf.zt,sblx.csmc sblxmc,sbys.sbmc,sbbf.sbysid,sbbf.sqbm,sbbf.lrsj,sbbf.xgsj
        from igams_sbbf sbbf
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        left join matridx_xtyh sbgly on sbgly.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_xtyh sqr on sqr.yhid=sbbf.sqr
        left join matridx_jgxx sqbm on sqbm.jgid=sbbf.sqbm
        <where>
            sbbf.scbj='0' and sbbf.zt='10'
            <include refid="selectWhere"></include>
        </where>
    </select>
    <select id="getAuditDeviceScrap" parameterType="List" resultType="SbbfDto">
        select sbbf.sbbfid,sbys.sbbh,sbys.gdzcbh,sbys.sbccbh,sbys.xlh,sbys.ggxh,sbys.sccj,sbgly.zsxm glrymc,
        syry.zsxm syrymc,sybm.jgmc sybmmc,sbys.sydd,bmsbfzr.zsxm bmsbfzrmc,sqr.zsxm sqrmc,sqbm.jgmc sqbmmc,
        sbbf.sqsj,sbbf.bz,sbbf.zt,sblx.csmc sblxmc,sbys.sbmc,sbbf.sbysid,sbbf.sqbm,shxx_sqsj,shxx_gwmc,shxx_lrryxm,shxx_shsj,shxx_sftg,shxx_shxxid,shxx_shyj
        from
        <foreach collection="list" separator="union" open="(" close=") "
                 item="item" index="index">
            select #{item.sbbfid} sbbfid,#{item.shxx_shxxid} shxx_shxxid,#{item.shxx_sqsj} shxx_sqsj,#{item.sqr} sqr,
            #{item.shxx_lrryxm} shxx_lrryxm,#{item.shxx_shsj} shxx_shsj,
            #{item.shxx_sftg} shxx_sftg,#{item.shxx_shyj} shxx_shyj,#{item.shxx_gwmc} shxx_gwmc,#{index} rownum
        </foreach>
        tmp
        left join igams_sbbf sbbf on sbbf.sbbfid=tmp.sbbfid and sbbf.scbj='0'
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        left join matridx_xtyh sbgly on sbgly.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_xtyh sqr on sqr.yhid=sbbf.sqr
        left join matridx_jgxx sqbm on sqbm.jgid=sbbf.sqbm
    </select>
</mapper>