<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ISbbhlldao" >
    <insert id="insert" parameterType="SbbhllDto">
        insert into igams_sbbhll (llid,sbysid
        <if test="ysbbh != null and ysbbh != ''">
            ,ysbbh
        </if>
        <if test="ygdzcbh != null and ygdzcbh != ''">
            ,ygdzcbh
        </if>,bgsj)
        values(#{llid},#{sbysid}
        <if test="ysbbh != null and ysbbh != ''">
            ,#{ysbbh}
        </if>
        <if test="ygdzcbh != null and ygdzcbh != ''">
            ,#{ygdzcbh}
        </if>
     ,LOCALTIMESTAMP)
    </insert>
    <select id="getDtoList" parameterType="SbbhllDto" resultType="SbbhllDto">
        select llid,ysbbh,ygdzcbh,to_char(bgsj,'yyyy-MM-dd HH24:mi') bgsj
        from igams_sbbhll
        <where>
           sbysid=#{sbysid}
        </where>
    </select>
</mapper>