<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ISbfyDao">
    <select id="getDtoList" parameterType="SbfyDto" resultType="SbfyDto">
        select sbfy.sbfyid,sbfy.sbysid,sbfy.sj,sbfy.nr,sbfy.je,sbfy.lrsj,sbfy.fylx,jgxx.jgmc as bmmc
        from igams_sbfy sbfy
        left join matridx_jgxx jgxx on jgxx.jgid=sbfy.bm
        where sbfy.scbj='0'
        <if test="sbysid!=null and sbysid!=''">
            and sbfy.sbysid=#{sbysid}
        </if>
    </select>

    <update id="delete" parameterType="SbfyDto">
        update igams_sbfy
        set scsj = LOCALTIMESTAMP,scbj='1'
        <if test="scry!=null and scry!=''">
            ,scry=#{scry}
        </if>
        where sbfyid=#{sbfyid}
    </update>
    <insert id="insert" parameterType="SbfyDto">
        insert into igams_sbfy(sbfyid,sbysid
        <if test="fylx != null and fylx != ''">
            ,fylx
        </if>
        <if test="bm != null and bm != ''">
            ,bm
        </if>
        <if test="nr != null and nr != ''">
            ,nr
        </if>
        <if test="je != null and je != ''">
            ,je
        </if>
        <if test="sj != null and sj != ''">
            ,sj
        </if>
        <if test="lrry != null and lrry != ''">
            ,lrry
        </if>
        ,lrsj,scbj
        )
        values(#{sbfyid},#{sbysid}
        <if test="fylx != null and fylx != ''">
            ,#{fylx}
        </if>
        <if test="bm != null and bm != ''">
            ,#{bm}
        </if>
        <if test="nr != null and nr != ''">
            ,#{nr}
        </if>
        <if test="je != null and je != ''">
            ,cast(#{je} as decimal)
        </if>
        <if test="sj != null and sj != ''">
            ,cast(#{sj} as date)
        </if>
        <if test="lrry != null and lrry != ''">
            ,#{lrry}
        </if>
        ,LOCALTIMESTAMP,'0' )
    </insert>

</mapper>