<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ISbjlDao">
    <sql id="selectWhere">
        sbjl.scbj='0'
        <if test="entire != null and entire != ''">
            and (sbys.sbbh ILIKE '%' ||#{entire}||'%'
            or sbys.sbmc ILIKE '%' ||#{entire}||'%'
            or sbys.gdzcbh ILIKE '%' ||#{entire}||'%'
            or sbys.ggxh ILIKE '%' ||#{entire}||'%'
            or sbys.sbccbh ILIKE '%' ||#{entire}||'%'
            or sbys.xlh ILIKE '%' ||#{entire}||'%'
            or glry.zsxm ILIKE '%' ||#{entire}||'%'
            or sbys.sydd ILIKE '%' ||#{entire}||'%'
            or xsyr.zsxm ILIKE '%' ||#{entire}||'%'
            or sbbmfzr.zsxm ILIKE '%' ||#{entire}||'%'
            or sqr.zsxm ILIKE '%' ||#{entire}||'%'
            or sqbm.jgmc ILIKE '%' ||#{entire}||'%'
            )
        </if>
        <if test="sbbh!=null and sbbh!=''">
            and sbys.sbbh ILIKE '%' ||#{sbbh}||'%'
        </if>
        <if test="sbmc!=null and sbmc!=''">
            and sbys.sbmc ILIKE '%' ||#{sbmc}||'%'
        </if>
        <if test="gdzcbh!=null and gdzcbh!=''">
            and sbys.gdzcbh ILIKE '%' ||#{gdzcbh}||'%'
        </if>
        <if test="ggxh!=null and ggxh!=''">
            and sbys.ggxh ILIKE '%' ||#{ggxh}||'%'
        </if>
        <if test="sbccbh!=null and sbccbh!=''">
            and sbys.sbccbh ILIKE '%' ||#{sbccbh}||'%'
        </if>
        <if test="xlh!=null and xlh!=''">
            and sbys.xlh ILIKE '%' ||#{xlh}||'%'
        </if>
        <if test="glrymc!=null and glrymc!=''">
            and glry.zsxm ILIKE '%' ||#{glrymc}||'%'
        </if>
        <if test="sydd!=null and sydd!=''">
            and sbys.sydd ILIKE '%' ||#{sydd}||'%'
        </if>
        <if test="xsyrmc!=null and xsyrmc!=''">
            and xsyr.zsxm ILIKE '%' ||#{xsyrmc}||'%'
        </if>
        <if test="sbbmfzrmc!=null and sbbmfzrmc!=''">
            and sbbmfzr.zsxm ILIKE '%' ||#{sbbmfzrmc}||'%'
        </if>
        <if test="sqrmc!=null and sqrmc!=''">
            and sqr.zsxm ILIKE '%' ||#{sqrmc}||'%'
        </if>
        <if test="sqbmmc!=null and sqbmmc!=''">
            and sqbm.jgmc ILIKE '%' ||#{sqbmmc}||'%'
        </if>
        <if test = "sblxs != null and sblxs.length > 0 "  >
            and sbys.sblx in
            <foreach collection="sblxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "xsybms != null and xsybms.length > 0 "  >
            and sbys.xsybm in
            <foreach collection="xsybms" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "glrys != null and glrys.length > 0 "  >
            and sbys.glry in
            <foreach collection="glrys" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "zts != null and zts.length > 0 "  >
            and sbjl.zt in
            <foreach collection="zts" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="qwwcsjstart != null and qwwcsjstart != ''">
            and to_char(sbjl.qwwcsj,'YYYY-MM-dd') &gt;= #{qwwcsjstart}
        </if>
        <if test="qwwcsjend != null and qwwcsjend != ''">
            and to_char(sbjl.qwwcsj,'YYYY-MM-dd') &lt;= #{qwwcsjend}
        </if>
        <if test="sqrqstart != null and sqrqstart != ''">
            and to_char(sbjl.sqrq,'YYYY-MM-dd') &gt;= #{sqrqstart}
        </if>
        <if test="sqrqend != null and sqrqend != ''">
            and to_char(sbjl.sqrq,'YYYY-MM-dd') &lt;= #{sqrqend}
        </if>
        <if test="jlrqstart != null and jlrqstart != ''">
            and to_char(sbjl.jlrq,'YYYY-MM-dd') &gt;= #{jlrqstart}
        </if>
        <if test="jlrqend != null and jlrqend != ''">
            and to_char(sbjl.jlrq,'YYYY-MM-dd') &lt;= #{jlrqend}
        </if>
        <if test="yjwcsjstart != null and yjwcsjstart != ''">
            and to_char(sbjl.yjwcsj,'YYYY-MM-dd') &gt;= #{yjwcsjstart}
        </if>
        <if test="yjwcsjend != null and yjwcsjend != ''">
            and to_char(sbjl.yjwcsj,'YYYY-MM-dd') &lt;= #{yjwcsjend}
        </if>
        <if test="jlzqstart != null and jlzqstart != ''">
            and sbys.jlzq &gt;= cast(#{jlzqstart} as numeric)
        </if>
        <if test="jlzqend != null and jlzqend != ''">
            and sbys.jlzq &lt;= cast(#{jlzqend} as numeric)
        </if>
    </sql>

    <select id="getPagedDtoList" resultType="SbjlDto" parameterType="SbjlDto">
        SELECT
        sbjl.sbjlid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sbbh,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xlh,
        sbys.xsyr,
        xsyr.zsxm xsyrmc,
        xsybm.jgmc xsybmmc,
        sbys.sydd,
        sbbmfzr.zsxm sbbmfzrmc,
        sbys.jlzq,
        sbys.xcjlsj,
        sqr.zsxm sqrmc,
        sqbm.jgmc sqbmmc,
        sbjl.sqrq,
        sbjl.qwwcsj,
        sbjl.jlrq,
        sbjl.zt,
        sbys.gdzcbh,
        sbys.sbccbh,
        hwxx.wlid,
        sbjl.yjwcsj,
        sbjl.lrry,
        sbjl.xgry,
        lrry.zsxm lrrymc,
        xgry.zsxm xsrymc,
        sbys.sccjlxfs,
        sbys.sccj,
        glry.zsxm glrymc
        FROM
        igams_sbjl sbjl
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbjl.sbysid
        AND sbys.scbj = '0'
        LEFT JOIN igams_hwxx hwxx ON hwxx.sbysid = sbys.sbysid
        AND hwxx.scbj = '0' AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xsyr ON xsyr.yhid = sbys.xsyr
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        LEFT JOIN matridx_xtyh lrry ON lrry.yhid = sbjl.lrry
        LEFT JOIN matridx_xtyh xgry ON xgry.yhid = sbjl.xgry
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        AND sblx.scbj = '0'
        LEFT JOIN matridx_xtyh glry ON glry.yhid = sbys.glry
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbys.xgry
        LEFT JOIN matridx_xtyh sqr ON sqr.yhid = sbjl.sqr
        LEFT JOIN matridx_jgxx sqbm ON sqbm.jgid = sbjl.sqbm
        LEFT JOIN matridx_xtyh sbbmfzr ON sbbmfzr.yhid = sbys.bmsbfzr
        <where>
            <include refid="selectWhere"></include>
        </where>
    </select>
    <select id="getDtoList" resultType="SbjlDto" parameterType="SbjlDto">
                SELECT
        sbjl.sbjlid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sbbh,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xlh,
        sbys.xsyr,
        xsyr.zsxm xsyrmc,
        xsybm.jgmc xsybmmc,
        sbys.sydd,
        sbbmfzr.zsxm sbbmfzrmc,
        sbys.jlzq,
        sbys.xcjlsj,
        sqr.zsxm sqrmc,
        sqbm.jgmc sqbmmc,
        sbjl.sqrq,
        sbjl.qwwcsj,
        sbjl.jlrq,
        sbjl.zt,
        sbys.gdzcbh,
        sbys.sbccbh,
        hwxx.wlid,
        sbjl.yjwcsj,
        sbjl.lrry,
        sbjl.xgry,
        lrry.zsxm lrrymc,
        xgry.zsxm xsrymc,
        sbys.sccjlxfs,
        sbys.sccj,
        glry.zsxm glrymc,sbys.sbzt,sbys.ysbzt
        FROM
        igams_sbjl sbjl
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbjl.sbysid
        AND sbys.scbj = '0'
        LEFT JOIN igams_hwxx hwxx ON hwxx.sbysid = sbys.sbysid
        AND hwxx.scbj = '0' AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xsyr ON xsyr.yhid = sbys.xsyr
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        LEFT JOIN matridx_xtyh lrry ON lrry.yhid = sbjl.lrry
        LEFT JOIN matridx_xtyh xgry ON xgry.yhid = sbjl.xgry
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        AND sblx.scbj = '0'
        LEFT JOIN matridx_xtyh glry ON glry.yhid = sbys.glry
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbys.xgry
        LEFT JOIN matridx_xtyh sqr ON sqr.yhid = sbjl.sqr
        LEFT JOIN matridx_jgxx sqbm ON sqbm.jgid = sbjl.sqbm
        LEFT JOIN matridx_xtyh sbbmfzr ON sbbmfzr.yhid = sbys.bmsbfzr
        <where>
            sbjl.scbj='0'
            <if test="sbysid !=null and sbysid!=''">
                and sbjl.sbysid=#{sbysid}
            </if>
            <if test="ids !=null and ids.size>0">
                and sbjl.sbjlid in
                <foreach collection="ids" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getDtoById" resultType="SbjlDto" parameterType="String">
        SELECT
        sbjl.sbjlid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sbbh,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xlh,
        sbys.xsyr,
        xsyr.zsxm xsyrmc,
        xsybm.jgmc xsybmmc,
        sbys.sydd,
        sbbmfzr.zsxm sbbmfzrmc,
        sbys.jlzq,
        sbys.xcjlsj,
        sqr.zsxm sqrmc,
        sqbm.jgmc sqbmmc,
        sbjl.sqrq,
        sbjl.qwwcsj,
        sbjl.jlrq,
        sbjl.zt,
        sbjl.sqbm,
        sbys.gdzcbh,
        sbys.sbccbh,
        hwxx.wlid,
        sbjl.yjwcsj,
        sbjl.lrry,
        sbjl.xgry,
        lrry.zsxm lrrymc,
        xgry.zsxm xsrymc,
        sbys.sccjlxfs,
        sbys.sccj,
        glry.zsxm glrymc,sbys.ysbzt,sbys.sbzt
        FROM
        igams_sbjl sbjl
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbjl.sbysid
        AND sbys.scbj = '0'
        LEFT JOIN igams_hwxx hwxx ON hwxx.sbysid = sbys.sbysid
        AND hwxx.scbj = '0' AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xsyr ON xsyr.yhid = sbys.xsyr
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        LEFT JOIN matridx_xtyh lrry ON lrry.yhid = sbjl.lrry
        LEFT JOIN matridx_xtyh xgry ON xgry.yhid = sbjl.xgry
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        AND sblx.scbj = '0'
        LEFT JOIN matridx_xtyh glry ON glry.yhid = sbys.glry
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbys.xgry
        LEFT JOIN matridx_xtyh sqr ON sqr.yhid = sbjl.sqr
        LEFT JOIN matridx_jgxx sqbm ON sqbm.jgid = sbjl.sqbm
        LEFT JOIN matridx_xtyh sbbmfzr ON sbbmfzr.yhid = sbys.bmsbfzr
        <where>
            sbjl.sbjlid=#{sbjlid}
        </where>
    </select>
    <select id="getDepartmentList"  resultType="SbjlDto">
        SELECT
        sbjl.sqbm xsybm,
        sqbm.jgmc xsybmmc
        FROM
        igams_sbjl sbjl
        LEFT JOIN matridx_jgxx sqbm ON sqbm.jgid = sbjl.sqbm
        <where>
            sbjl.scbj='0' and sbjl.sqbm is not null and sqbm.jgmc is not null
            group by sbjl.sqbm,sqbm.jgmc
        </where>
    </select>
    <select id="getGlryList"  resultType="SbjlDto">
        select glry.yhid glry,glry.zsxm glrymc
        from igams_sbjl sbjl
        left join igams_sbys sbys on sbys.sbysid=sbjl.sbysid and sbys.scbj='0'
        left join matridx_xtyh glry on glry.yhid=sbys.glry and glry.scbj='0'
       <where>
        sbjl.scbj='0' and glry.zsxm is not null
        group by glry.yhid,glry.zsxm
       </where>
    </select>
    <select id="getPagedAuditMetering" parameterType="SbjlDto" resultType="SbjlDto">
        SELECT
        sbjl.sbjlid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sbbh,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xlh,
        sbys.xsyr,
        xsyr.zsxm xsyrmc,
        xsybm.jgmc xsybmmc,
        sbys.sydd,
        sbbmfzr.zsxm sbbmfzrmc,
        sbys.jlzq,
        sbys.xcjlsj,
        sqr.zsxm sqrmc,
        sqbm.jgmc sqbmmc,
        sbjl.sqrq,
        sbjl.sqbm,
        sbjl.qwwcsj,
        sbjl.jlrq,
        sbjl.zt,
        sbys.gdzcbh,
        sbys.sbccbh,
        hwxx.wlid,
        sbjl.yjwcsj,
        sbjl.lrry,
        sbjl.xgry,
        lrry.zsxm lrrymc,
        xgry.zsxm xsrymc,
        sbys.sccjlxfs,
        sbys.sccj,
        glry.zsxm glrymc,
        sbjl.lrsj,
        sbjl.xgsj
        FROM
        igams_sbjl sbjl
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbjl.sbysid
        AND sbys.scbj = '0'
        LEFT JOIN igams_hwxx hwxx ON hwxx.sbysid = sbys.sbysid
        AND hwxx.scbj = '0' AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xsyr ON xsyr.yhid = sbys.xsyr
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        LEFT JOIN matridx_xtyh lrry ON lrry.yhid = sbjl.lrry
        LEFT JOIN matridx_xtyh xgry ON xgry.yhid = sbjl.xgry
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        AND sblx.scbj = '0'
        LEFT JOIN matridx_xtyh glry ON glry.yhid = sbys.glry
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbys.xgry
        LEFT JOIN matridx_xtyh sqr ON sqr.yhid = sbjl.sqr
        LEFT JOIN matridx_jgxx sqbm ON sqbm.jgid = sbjl.sqbm
        LEFT JOIN matridx_xtyh sbbmfzr ON sbbmfzr.yhid = sbys.bmsbfzr
        <where>
            <include refid="selectWhere"></include>
        </where>
    </select>
    <select id="getAuditListMetering" resultType="SbjlDto" parameterType="List">
        select
        sbjl.sbjlid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sbbh,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xlh,
        sbys.xsyr,
        xsyr.zsxm xsyrmc,
        xsybm.jgmc xsybmmc,
        sbys.sydd,
        sbbmfzr.zsxm sbbmfzrmc,
        sbys.jlzq,
        sbys.xcjlsj,
        sqr.zsxm sqrmc,
        sqbm.jgmc sqbmmc,
        sbjl.sqrq,
        sbjl.sqbm,
        sbjl.qwwcsj,
        sbjl.jlrq,
        sbjl.zt,
        sbys.gdzcbh,
        sbys.sbccbh,
        hwxx.wlid,
        sbjl.yjwcsj,
        sbjl.lrry,
        sbjl.xgry,
        sbys.sccj,
        glry.zsxm glrymc,
        lrry.zsxm lrrymc,
        xgry.zsxm xsrymc,
        sbys.sccjlxfs,shxx_sqsj, shxx_gwmc, shxx_sqr, shxx_lrryxm, shxx_shsj, shxx_sftg, shxx_shxxid,shxx_shyj
        from
        <foreach collection="list" separator="union" open="(" close=")" item="item" index="index">
            select #{item.sbjlid} sbjlid, #{item.shxx_shxxid} shxx_shxxid, #{item.shxx_sqsj} shxx_sqsj, #{item.sqr} shxx_sqr,
            #{item.shxx_lrryxm} shxx_lrryxm, #{item.shxx_shsj} shxx_shsj, #{item.shxx_sftg} shxx_sftg,
            #{item.shxx_gwmc} shxx_gwmc, #{item.shxx_shyj} shxx_shyj, #{index} rownum
        </foreach> tmp
        left join igams_sbjl sbjl on sbjl.sbjlid = tmp.sbjlid
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbjl.sbysid
        AND sbys.scbj = '0'
        LEFT JOIN igams_hwxx hwxx ON hwxx.sbysid = sbys.sbysid
        AND hwxx.scbj = '0' AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xsyr ON xsyr.yhid = sbys.xsyr
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        LEFT JOIN matridx_xtyh lrry ON lrry.yhid = sbjl.lrry
        LEFT JOIN matridx_xtyh xgry ON xgry.yhid = sbjl.xgry
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        LEFT JOIN matridx_xtyh glry ON glry.yhid = sbys.glry
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbys.xgry
        LEFT JOIN matridx_xtyh sqr ON sqr.yhid = sbjl.sqr
        LEFT JOIN matridx_jgxx sqbm ON sqbm.jgid = sbjl.sqbm
        LEFT JOIN matridx_xtyh sbbmfzr ON sbbmfzr.yhid = sbys.bmsbfzr
        order by tmp.rownum
    </select>
    <update id="updateList" parameterType="list">
        <if test="list !=null and list.size > 0">
            update igams_sbjl sbjl
            set sqr=tmp.sqr,
            sqbm=tmp.sqbm,
            xgry=tmp.xgry,
            xgsj=LOCALTIMESTAMP,
            qwwcsj=cast(tmp.qwwcsj as date )
            from(
            <foreach collection="list" separator="union" open="(" close=") " item="item" index="index">
                select #{item.sqr} sqr,#{item.sqbm} sqbm,#{item.sbjlid} sbjlid,#{item.xgry} xgry,#{item.xgsj} xgsj,#{item.qwwcsj} qwwcsj
            </foreach>
            )
            tmp
            where
            sbjl.sbjlid=tmp.sbjlid
        </if>
    </update>
    <update id="update" parameterType="SbjlDto">
        update igams_sbjl
        set
        <if test="qwwcsj!=null and qwwcsj!=''">
            qwwcsj=cast (#{qwwcsj} as date),
        </if>
        <if test="zt!=null and zt!=''">
            zt=#{zt},
        </if>
        <if test="yjwcsj!=null and yjwcsj!=''">
            yjwcsj=cast (#{yjwcsj} as date),
        </if>
        <if test="jlrq!=null and jlrq!=''">
            jlrq=cast (#{jlrq} as date),
        </if>
        xgsj=LOCALTIMESTAMP
        where
        <if test="sbjlid !=null and sbjlid!=''">
             sbjlid=#{sbjlid}
        </if>
        <if test="ids!=null and ids.size>0">
            sbjlid in
            <foreach collection="ids" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </update>
    <insert id="insertList" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            insert into igams_sbjl(
                sbjlid
            <if test="item.qwwcsj !=null and item.qwwcsj !=''">
                ,qwwcsj
            </if>
            <if test="item.sbysid !=null and item.sbysid !=''">
                ,sbysid
            </if>
                ,sqrq
            <if test="item.sqr !=null and item.sqr !=''">
                ,sqr
            </if>
            <if test="item.sqbm !=null and item.sqbm !=''">
                ,sqbm
            </if>
            <if test="item.zt !=null and item.zt !=''">
                ,zt
            </if>
            <if test="item.lrry !=null and item.lrry !=''">
                ,lrry
            </if>
            ,lrsj,scbj
            ) values

            (
                #{item.sbjlid}
            <if test="item.qwwcsj !=null and item.qwwcsj !=''">
                ,cast (#{item.qwwcsj} as date)
            </if>
            <if test="item.sbysid !=null and item.sbysid !=''">
                ,#{item.sbysid}
            </if>
                ,LOCALTIMESTAMP
            <if test="item.sqr !=null and item.sqr !=''">
                ,#{item.sqr}
            </if>
            <if test="item.sqbm !=null and item.sqbm !=''">
                ,#{item.sqbm}
            </if>
            <if test="item.zt !=null and item.zt !=''">
                ,#{item.zt}
            </if>
            <if test="item.lrry !=null and item.lrry !=''">
                ,#{item.lrry}
            </if>
            ,LOCALTIMESTAMP,'0')
        </foreach>
    </insert>
    <update id="delete" parameterType="SbjlDto">
        update igams_sbjl
        <set>
            scbj='1',
            scsj=LOCALTIMESTAMP
        </set>
        <where>
        <if test="ids!=null and ids.size>0">
            sbjlid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="sbysids!=null and sbysids.size>0">
            sbysid in
            <foreach collection="sbysids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        </where>
    </update>
</mapper>