<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ISbtsjlDao">
    <insert id="insert" parameterType="SbtsjlDto">
        insert into igams_sbtsjl(tsid,llid
        <if test="azdw != null and azdw != ''">
            ,azdw
        </if>
        <if test="yjr != null and yjr != ''">
            ,yjr
        </if>
        <if test="yjrq != null and yjrq != ''">
            ,yjrq
        </if>
        <if test="sydw != null and sydw != ''">
            ,sydw
        </if>
        <if test="ysr != null and ysr != ''">
            ,ysr
        </if>
        <if test="ysrq != null and ysrq != ''">
            ,ysrq
        </if>
        <if test="yxsj != null and yxsj != ''">
            ,yxsj
        </if>
        <if test="jsjdqbf != null and jsjdqbf != ''">
            ,jsjdqbf
        </if>
        <if test="czcdjg != null and czcdjg != ''">
            ,czcdjg
        </if>
        <if test="fsxt != null and fsxt != ''">
            ,fsxt
        </if>
        <if test="yspdyj != null and yspdyj != ''">
            ,yspdyj
        </if>
        ,lrry,lrsj,scbj
        )
        values(#{tsid},#{llid}
        <if test="azdw != null and azdw != ''">
            ,#{azdw}
        </if>
        <if test="yjr != null and yjr != ''">
            ,#{yjr}
        </if>
        <if test="yjrq != null and yjrq != ''">
            ,cast(#{yjrq} as timestamp )
        </if>
        <if test="sydw != null and sydw != ''">
            ,#{sydw}
        </if>
        <if test="ysr != null and ysr != ''">
            ,#{ysr}
        </if>
        <if test="ysrq != null and ysrq != ''">
            ,cast(#{ysrq} as timestamp )
        </if>
        <if test="yxsj != null and yxsj != ''">
            ,#{yxsj}
        </if>
        <if test="jsjdqbf != null and jsjdqbf != ''">
            ,#{jsjdqbf}
        </if>
        <if test="czcdjg != null and czcdjg != ''">
            ,#{czcdjg}
        </if>
        <if test="fsxt != null and fsxt != ''">
            ,#{fsxt}
        </if>
        <if test="yspdyj != null and yspdyj != ''">
            ,#{yspdyj}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0'
        )
    </insert>
    <select id="getDtoList" parameterType="SbtsjlDto" resultType="SbtsjlDto">
        SELECT
        sbtsjl.tsid,
        sybm.jgmc sybmmc,
        sbyjll.sydd,
        yjr.zsxm yjrmc,
        sbyjll.yjsj,
        sbtsjl.azdw,
        sbtsjl.sydw,
        ysr.zsxm ysrmc,
        sbtsjl.ysrq,
        sbtsjl.yxsj,
        sbtsjl.jsjdqbf,
        sbtsjl.czcdjg,
        sbtsjl.fsxt,
        sbtsjl.yspdyj,
        sbys,sbmc,
        sbys.ggxh,sbys.sccj,
        sbys.sbccbh,sbys.dzwz,
        sbys.ccrq,
        sbys.sbbh
        FROM
        igams_sbtsjl sbtsjl
        LEFT JOIN igams_sbyjll sbyjll ON sbyjll.llid = sbtsjl.llid
        AND sbyjll.scbj = '0'
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid
        AND sbys.scbj = '0'
        LEFT JOIN matridx_jgxx sybm ON sybm.jgid = sbyjll.sybm
        LEFT JOIN matridx_xtyh yjr ON yjr.yhid = sbyjll.yjr
        LEFT JOIN matridx_xtyh ysr ON ysr.yhid = sbtsjl.ysr
	<where>
        sbtsjl.scbj='0'
        <if test="llid!=null and llid!=''">
            and sbtsjl.llid=#{llid}
        </if>
        <if test="llids!=null and llids.size>0">
        and sbtsjl.llid in
            <foreach collection="llids" separator="," open="(" close=")" item="item" index="index">
                #{item}
            </foreach>
        </if>
    </where>
    </select>
    <select id="getDtoById" resultType="SbtsjlDto" parameterType="String">
            SELECT
        sbtsjl.tsid,
        sybm.jgmc sybmmc,
        sbyjll.sydd,
        yjr.zsxm yjrmc,
        sbyjll.yjsj,
        sbtsjl.azdw,
        sbtsjl.sydw,
        ysr.zsxm ysrmc,
        sbtsjl.ysrq,
        sbtsjl.yxsj,
        sbtsjl.jsjdqbf,
        sbtsjl.czcdjg,
        sbtsjl.fsxt,
        sbtsjl.yspdyj,
        sbys,sbmc,
        sbys.ggxh,sbys.sccj,
        sbys.sbccbh,sbys.dzwz,
        sbys.ccrq,
        sbys.sbbh,sbys.jlbh
    FROM
        igams_sbtsjl sbtsjl
        LEFT JOIN igams_sbyjll sbyjll ON sbyjll.llid = sbtsjl.llid
        AND sbyjll.scbj = '0'
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid
        AND sbys.scbj = '0'
        LEFT JOIN matridx_jgxx sybm ON sybm.jgid = sbyjll.sybm
        LEFT JOIN matridx_xtyh yjr ON yjr.yhid = sbyjll.yjr
        LEFT JOIN matridx_xtyh ysr ON ysr.yhid = sbtsjl.ysr
            <where>
                sbtsjl.tsid=#{tsid}
            </where>
    </select>
</mapper>