<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ISbyjllDao">
    <sql id="selectWhere">
        <if test="entire != null and entire != ''">
            and (
            sbys.sbbh ILIKE '%'||#{entire}||'%'
            or sbys.sbmc ILIKE '%'||#{entire}||'%'
            or sbys.gdzcbh ILIKE '%' ||#{entire}||'%'
            or sbys.ggxh ILIKE '%' ||#{entire}||'%'
            or sbys.sbccbh ILIKE '%' ||#{entire}||'%'
            or sbys.xlh ILIKE '%' ||#{entire}||'%'
            or glry.zsxm ILIKE '%' ||#{entire}||'%'
            or sbys.sydd ILIKE '%' ||#{entire}||'%'
            or sbys.sccj ILIKE '%' ||#{entire}||'%'
            or sbys.sccjlxfs ILIKE '%' ||#{entire}||'%'
            or ybmsbfzr.zsxm ILIKE '%' ||#{entire}||'%'
            or bmsbfzr.zsxm ILIKE '%' ||#{entire}||'%'
            or ysry.zsxm ILIKE '%' ||#{entire}||'%'
            or yjr.zsxm ILIKE '%' ||#{entire}||'%'
            or sbyjll.sydd ILIKE '%' ||#{entire}||'%'
            or syry.zsxm ILIKE '%' ||#{entire}||'%'
            or ysybm.jgmc ILIKE '%' ||#{entire}||'%'
            )
        </if>
        <if test = "sblxs != null and sblxs.length > 0 "  >
            and sbys.sblx in
            <foreach collection="sblxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "ysybms != null and ysybms.length > 0 "  >
            and sbys.xsybm in
            <foreach collection="ysybms" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "xsybms != null and xsybms.length > 0 "  >
            and sbyjll.sybm in
            <foreach collection="xsybms" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="sbbh != null and sbbh != ''">
            and sbys.sbbh ILIKE '%' ||#{sbbh}||'%'
        </if>
        <if test="sbmc != null and sbmc != ''">
            and sbys.sbmc ILIKE '%' ||#{sbmc}||'%'
        </if>
        <if test="sblxmc != null and sblxmc != ''">
            and sblx.csmc ILIKE '%' ||#{sblxmc}||'%'
        </if>
        <if test="gdzcbh != null and gdzcbh != ''">
            and sbys.gdzcbh ILIKE '%' ||#{gdzcbh}||'%'
        </if>
        <if test="ggxh != null and ggxh != ''">
            and sbys.ggxh ILIKE '%' ||#{ggxh}||'%'
        </if>
        <if test="sbccbh != null and sbccbh != ''">
            and sbys.sbccbh ILIKE '%' ||#{sbccbh}||'%'
        </if>
        <if test="xlh != null and xlh != ''">
            and sbys.xlh ILIKE '%' ||#{xlh}||'%'
        </if>
        <if test="glrymc != null and glrymc != ''">
            and glry.zsxm ILIKE '%' ||#{glrymc}||'%'
        </if>
        <if test="ysydd != null and ysydd != ''">
            and sbys.sydd ILIKE '%' ||#{ysydd}||'%'
        </if>
        <if test="sccj != null and sccj != ''">
            and sbys.sccj ILIKE '%' ||#{sccj}||'%'
        </if>
        <if test="sccjlxfs != null and sccjlxfs != ''">
            and sbys.sccjlxfs ILIKE '%' ||#{sccjlxfs}||'%'
        </if>
        <if test="ybmsbfzrmc != null and ybmsbfzrmc != ''">
            and ybmsbfzr.zsxm ILIKE '%' ||#{ybmsbfzrmc}||'%'
        </if>
        <if test="bmsbfzrmc != null and bmsbfzrmc != ''">
            and bmsbfzr.zsxm ILIKE '%' ||#{bmsbfzrmc}||'%'
        </if>
        <if test="ysrymc != null and ysrymc != ''">
            and ysry.zsxm ILIKE '%' ||#{ysrymc}||'%'
        </if>
        <if test="ysybmmc != null and ysybmmc != ''">
            and ysybm.jgmc ILIKE '%' ||#{ysybmmc}||'%'
        </if>
        <if test="sybmmc != null and sybmmc != ''">
            and sybm.jgmc ILIKE '%' ||#{sybmmc}||'%'
        </if>
        <if test="yjrmc != null and yjrmc != ''">
            and yjr.zsxm ILIKE '%' ||#{yjrmc}||'%'
        </if>
        <if test="sydd != null and sydd != ''">
            and sbyjll.sydd ILIKE '%' ||#{sydd}||'%'
        </if>
        <if test="syrymc != null and syrymc != ''">
            and syry.zsxm ILIKE '%' ||#{syrymc}||'%'
        </if>
        <if test="yjsjstart != null and yjsjstart != ''">
            and to_char(sbyjll.yjsj,'YYYY-MM-dd') &gt;= #{yjsjstart}
        </if>
        <if test="yjsjend != null and yjsjend != ''">
            and to_char(sbyjll.yjsj,'YYYY-MM-dd') &lt;= #{yjsjend}
        </if>
    </sql>
    <insert id="insertSbyjllDtos" parameterType="List">
        insert into igams_sbyjll(llid,sbysid,sydd,zt, bz,syry,bmsbfzr,yjsj,sybm, ybmsbfzr,lrsj,scbj)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.llid}, #{item.sbysid},
            #{item.sydd},
            #{item.zt},
            #{item.bz},
            #{item.syry},
            #{item.bmsbfzr},
            cast(#{item.yjsj} as date),
            #{item.sybm},
            #{item.ybmsbfzr},
            LOCALTIMESTAMP,'0')
        </foreach>
    </insert>
    <insert id="insert" parameterType="SbyjllDto">
        insert into igams_sbyjll(llid,sbysid
        <if test="sydd != null and sydd != ''">
            ,sydd
        </if>
        <if test="zt != null and zt != ''">
            ,zt
        </if>
        <if test="bz != null and bz != ''">
            ,bz
        </if>
        <if test="syry != null and syry != ''">
            ,syry
        </if>
        <if test="qrzt != null and qrzt != ''">
            ,qrzt
        </if>
        <if test="qrlx != null and qrlx != ''">
            ,qrlx
        </if>
        <if test="yy != null and yy != ''">
            ,yy
        </if>
        <if test="ddslid != null and ddslid != ''">
            ,ddslid
        </if>
        <if test="bmsbfzr != null and bmsbfzr != ''">
            ,bmsbfzr
        </if>
        <if test="yjr != null and yjr != ''">
            ,yjr
        </if>
        <if test="zyjyzq != null and zyjyzq != ''">
            ,zyjyzq
        </if>
        <if test="yjsj != null and yjsj != ''">
            ,yjsj
        </if>
        <if test="ysyr != null and ysyr != ''">
            ,ysyr
        </if>
        <if test="ysybm != null and ysybm != ''">
            ,ysybm
        </if>
        <if test="sybm != null and sybm != ''">
            ,sybm
        </if>
        <if test="ybmsbfzr != null and ybmsbfzr != ''">
            ,ybmsbfzr
        </if>
        <if test="jsrzg != null and jsrzg != ''">
            ,jsrzg
        </if>
        ,lrsj,
        scbj
        )
        values(#{llid},#{sbysid}
        <if test="sydd != null and sydd != ''">
            ,#{sydd}
        </if>
        <if test="zt != null and zt != ''">
            ,#{zt}
        </if>
        <if test="bz != null and bz != ''">
            ,#{bz}
        </if>
        <if test="syry != null and syry != ''">
            ,#{syry}
        </if>
        <if test="qrzt != null and qrzt != ''">
            ,#{qrzt}
        </if>
        <if test="qrlx != null and qrlx != ''">
            ,#{qrlx}
        </if>
        <if test="yy != null and yy != ''">
            ,#{yy}
        </if>
        <if test="ddslid != null and ddslid != ''">
            ,#{ddslid}
        </if>
        <if test="bmsbfzr != null and bmsbfzr != ''">
            ,#{bmsbfzr}
        </if>
        <if test="yjr != null and yjr != ''">
            ,#{yjr}
        </if>
        <if test="zyjyzq != null and zyjyzq != ''">
            ,#{zyjyzq}
        </if>
        <if test="yjsj != null and yjsj != ''">
            ,cast(#{yjsj} as date )
        </if>
        <if test="ysyr != null and ysyr != ''">
            ,#{ysyr}
        </if>
        <if test="ysybm != null and ysybm != ''">
            ,#{ysybm}
        </if>
        <if test="sybm != null and sybm != ''">
            ,#{sybm}
        </if>
        <if test="ybmsbfzr != null and ybmsbfzr != ''">
            ,#{ybmsbfzr}
        </if>
        <if test="jsrzg != null and jsrzg != ''">
            ,#{jsrzg}
        </if>
        ,LOCALTIMESTAMP,'0'
        )
    </insert>
    <select id="getPagedDtoList" parameterType="SbyjllDto" resultType="SbyjllDto">
        SELECT
        sbyjll.llid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sblx,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xsyr,
        sbyjll.qrzt,
        sbys.sbbh,
        sbys.xlh,
        sbyjll.ysyr,
        syry.zsxm ysyrmc,
        sbyjll.ysybm,
        ysybm.jgmc ysybmmc,
        sbyjll.ybmsbfzr,
        ybmsbfzr.zsxm ybmsbfzrmc,
        sbyjll.bmsbfzr,
        bmsbfzr.zsxm bmsbfzrmc,
        sbyjll.bz,
        sbyjll.yy,
        sbyjll.zyjyzq,
        sbyjll.yjsj,
        sbyjll.sybm,
        sbyjll.syry,
        syry.zsxm syrymc,
        yy.csmc yymc,
        sbyjll.zt,
        sybm.jgmc sybmmc,glry.zsxm glrymc,
        sbys.sydd ysydd,
        sbyjll.sydd,
        sbys.gdzcbh,sbys.sbccbh,
        yjr.zsxm yjrmc,
        sbys.sccj,sbys.sccjlxfs,
        sbyjll.yjr
        FROM
        igams_sbyjll sbyjll
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        left join matridx_xtyh ysry on ysry.yhid=sbyjll.ysyr
        left join matridx_jgxx ysybm on ysybm.jgid=sbyjll.ysybm
        left join matridx_xtyh ybmsbfzr on ybmsbfzr.yhid=sbyjll.ybmsbfzr
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbyjll.bmsbfzr
        left join matridx_jgxx sybm on sybm.jgid=sbyjll.sybm
        left join matridx_xtyh syry on syry.yhid=sbyjll.syry
        left join matridx_jcsj yy on yy.csid=sbyjll.yy and yy.scbj='0'
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh yjr on yjr.yhid=sbyjll.yjr
        <where>
            sbyjll.scbj='0'
            <include refid="selectWhere"></include>
        </where>
    </select>
    <select id="getDtoList" parameterType="SbyjllDto" resultType="SbyjllDto">
        SELECT
        sbyjll.llid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sblx,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xsyr,
        sbyjll.qrzt,
        sbys.sbbh,
        sbys.xlh,
        sbyjll.ysyr,
        syry.zsxm ysyrmc,
        sbyjll.ysybm,
        ysybm.jgmc ysybmmc,
        sbyjll.ybmsbfzr,
        ybmsbfzr.zsxm ybmsbfzrmc,
        sbyjll.bmsbfzr,
        bmsbfzr.zsxm bmsbfzrmc,
        sbyjll.bz,
        sbyjll.yy,
        sbyjll.zyjyzq,
        sbyjll.yjsj,
        sbyjll.sybm,
        sbyjll.syry,
        syry.zsxm syrymc,
        yy.csmc yymc,
        sbyjll.zt,
        sybm.jgmc sybmmc,glry.zsxm glrymc,
        sbys.sydd ysydd,
        sbyjll.sydd,
        sbys.gdzcbh,sbys.sbccbh,
        yjr.zsxm yjrmc,
        sbys.sccj,sbys.sccjlxfs,
        sbyjll.yjr,
        to_char(sbyjll.lrsj,'yyyy-mm-dd hh24:mi:ss') lrsj,
        jgxx.jgmc sqbmmc,sbys.sbzt,sbys.ysbzt
        FROM
        igams_sbyjll sbyjll
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        left join matridx_xtyh ysry on ysry.yhid=sbyjll.ysyr
        left join matridx_jgxx ysybm on ysybm.jgid=sbyjll.ysybm
        left join matridx_xtyh ybmsbfzr on ybmsbfzr.yhid=sbyjll.ybmsbfzr
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbyjll.bmsbfzr
        left join matridx_jgxx sybm on sybm.jgid=sbyjll.sybm
        left join matridx_xtyh syry on syry.yhid=sbyjll.syry
        left join matridx_jcsj yy on yy.csid=sbyjll.yy and yy.scbj='0'
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh yjr on yjr.yhid=sbyjll.yjr
        left join matridx_yhssjg jg on jg.yhid=sbyjll.yjr
        left join matridx_jgxx jgxx on jgxx.jgid=jg.jgid
        <where>
            sbyjll.scbj='0'
        <if test="sbysid !=null and sbysid!=''">
            and sbyjll.sbysid=#{sbysid} and sbyjll.zt='80'
        </if>
        <if test="ids !=null and ids.size > 0">
            and sbyjll.llid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
            </foreach>
        </if>
        </where>
    </select>
    <select id="getDtoById" parameterType="String" resultType="SbyjllDto">
        SELECT
        sbyjll.llid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sblx,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xsyr,
        sbyjll.qrzt,
        sbys.sbbh,
        sbys.xlh,
        sbyjll.ysyr,
        ysry.zsxm ysyrmc,
        sbyjll.ysybm,
        ysybm.jgmc ysybmmc,
        sbyjll.ybmsbfzr,
        ybmsbfzr.zsxm ybmsbfzrmc,
        sbyjll.bmsbfzr,
        bmsbfzr.zsxm bmsbfzrmc,
        sbyjll.bz,
        sbyjll.yy,
        sbyjll.zyjyzq,
        sbyjll.yjsj,
        sbyjll.sybm,
        sbyjll.syry,
        syry.zsxm syrymc,
        yy.csmc yymc,
        sbyjll.zt,
        sybm.jgmc sybmmc,glry.zsxm glrymc,
        sbys.sydd ysydd,
        sbyjll.sydd,
        sbys.gdzcbh,sbys.sbccbh,
        yjr.zsxm yjrmc,
        sbys.sccj,sbys.sccjlxfs,
        sbyjll.yjr,
        sbyjll.ddslid,
        sbyjll.jsrzg,
        jsrzg.zsxm jsrzgmc,
        jsrzg.ddid jsrzgddid,sblx.cskz1 sblxcskz1,syry.ddid syryddid,sbys.sbzt,sbys.ysbzt
        FROM
        igams_sbyjll sbyjll
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        left join matridx_xtyh ysry on ysry.yhid=sbyjll.ysyr
        left join matridx_jgxx ysybm on ysybm.jgid=sbyjll.ysybm
        left join matridx_xtyh ybmsbfzr on ybmsbfzr.yhid=sbyjll.ybmsbfzr
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbyjll.bmsbfzr
        left join matridx_jgxx sybm on sybm.jgid=sbyjll.sybm
        left join matridx_xtyh syry on syry.yhid=sbyjll.syry
        left join matridx_jcsj yy on yy.csid=sbyjll.yy and yy.scbj='0'
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh yjr on yjr.yhid=sbyjll.yjr
        left join matridx_xtyh jsrzg on jsrzg.yhid=sbyjll.jsrzg
        <where>
            sbyjll.llid=#{llid}
        </where>
    </select>
    <update id="update" parameterType="SbyjllDto">
    update igams_sbyjll
    <set>
        <if test="sydd != null and sydd != ''">
            ,sydd=#{sydd}
        </if>
        <if test="zt != null and zt != ''">
            ,zt=#{zt}
        </if>
        <if test="bz != null and bz != ''">
            ,bz=#{bz}
        </if>
        <if test="syry != null and syry != ''">
            ,syry=#{syry}
        </if>
        <if test="qrzt != null and qrzt != ''">
            ,qrzt=#{qrzt}
        </if>
        <if test="qrlx != null and qrlx != ''">
            ,qrlx=#{qrlx}
        </if>
        <if test="ddslid != null and ddslid != ''">
            ,ddslid=#{ddslid}
        </if>
        <if test="bmsbfzr != null and bmsbfzr != ''">
            ,bmsbfzr=#{bmsbfzr}
        </if>
        <if test="yjr != null and yjr != ''">
            ,yjr=#{yjr}
        </if>
        <if test="zyjyzq != null and zyjyzq != ''">
            ,zyjyzq=#{zyjyzq}
        </if>
        <if test="ysyr != null and ysyr != ''">
            ,ysyr=#{ysyr}
        </if>
        <if test="ysybm != null and ysybm != ''">
            ,ysybm=#{ysybm}
        </if>
        <if test="sybm != null and sybm != ''">
            ,sybm=#{sybm}
        </if>
        <if test="ybmsbfzr != null and ybmsbfzr != ''">
            ,ybmsbfzr=#{ybmsbfzr}
        </if>
        <if test="yjsj != null and yjsj != ''">
            ,yjsj=cast(#{yjsj} as date)
        </if>
        <if test="jsrzg != null and jsrzg != ''">
            ,jsrzg=#{jsrzg}
        </if>
    </set>
    <where>
        llid=#{llid}
    </where>
    </update>
    <insert id="insertList" parameterType="List">
        insert into igams_sbyjll(
        llid,
        sbysid
        ,sydd
        ,zt
        ,bz
        ,syry
        ,qrzt
        ,qrlx
        ,lrsj
        )
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.llid},
                #{item.sbysid},
                #{item.sydd},
                #{item.zt},
                #{item.bz},
                #{item.syry},
                #{item.qrzt},
                #{item.qrlx},
                LOCALTIMESTAMP
                )
            </foreach>
        </if>
    </insert>
    <select id="selectNeedScrapList" parameterType="list" resultType="String">
        select llid from
        (select llid,lrsj,sbysid,row_number() over (partition by sbysid order by lrsj desc) as rownum from igams_sbyjll where zt='0'
        )tmp
        where tmp.rownum='1' and tmp.sbysid in
        <foreach collection="list" separator="," open="(" close=")" item="item" index="index">
            select #{item}
        </foreach>
    </select>
    <update id="scrapOrSold" parameterType="SbyjllDto">
        update  igams_sbyjll
        set
        <if test="signal!='' and signal!=null and signal=='scrap'.toString()">
            zt='1'
        </if>
        <if test="signal!='' and signal!=null and signal=='sold'.toString()">
            zt='2'
        </if>
        where llid in
        <if test="ids !=null and ids.size > 0">
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </update>
    <!-- 将钉钉实例ID设置为空 -->
    <update id="updateDdslidToNull" parameterType="SbyjllDto">
        update igams_sbyjll set ddslid = null
        <where>
         llid =#{llid}
        </where>
    </update>
    <select id="getDtoByDdslid" parameterType="String" resultType="SbyjllDto">
        SELECT
        sbyjll.llid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sblx,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xsyr,
        sbyjll.qrzt,
        sbys.sbbh,
        sbys.xlh,
        sbyjll.ysyr,
        syry.zsxm ysyrmc,
        sbyjll.ysybm,
        ysybm.jgmc ysybmmc,
        sbyjll.ybmsbfzr,
        ybmsbfzr.zsxm ybmsbfzrmc,
        sbyjll.bmsbfzr,
        bmsbfzr.zsxm bmsbfzrmc,
        sbyjll.bz,
        sbyjll.yy,
        sbyjll.zyjyzq,
        sbyjll.yjsj,
        sbyjll.sybm,
        sbyjll.syry,
        syry.zsxm syrymc,
        sbys.sydd ysydd,
        sbyjll.sydd,
        yy.csmc yymc,
        sbyjll.zt
        FROM
        igams_sbyjll sbyjll
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        left join matridx_xtyh ysry on ysry.yhid=sbyjll.ysyr and ysry.scbj='0'
        left join matridx_jgxx ysybm on ysybm.jgid=sbyjll.ysybm
        left join matridx_xtyh ybmsbfzr on ybmsbfzr.yhid=sbyjll.ybmsbfzr and ybmsbfzr.scbj='0'
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbyjll.bmsbfzr and bmsbfzr.scbj='0'
        left join matridx_jgxx sybm on sybm.jgid=sbyjll.sybm
        left join matridx_xtyh syry on syry.yhid=sbyjll.syry and syry.scbj='0'
        left join matridx_jcsj yy on yy.csid=sbyjll.yy and yy.scbj='0'
        <where>
            sbyjll.llid is not null
            <if test="_parameter != null and _parameter != ''">
                and sbyjll.ddslid=#{ddslid}
            </if>
        </where>
    </select>
    <!-- 获取审批人角色 -->
    <select id="getSprjsBySprid" parameterType="String" resultType="SbyjllDto">
        select yhjs.jsid as sprjsid,xtjs.jsmc as sprjsmc
        from matridx_yhjs yhjs
        left join matridx_xtjs xtjs on xtjs.jsid=yhjs.jsid
        <where>
            yhjs.yhid=#{sprid}
        </where>
    </select>
    <select id="selectOldOrNewDepartments" parameterType="SbyjllDto" resultType="SbyjllDto">
        select
        <if test="flag!=null and flag!='' and flag=='1'.toString()">
            jgxx.jgid sybm,jgxx.jgmc sybmmc
        </if>
        <if test="flag!=null and flag!='' and flag=='0'.toString()">
            jgxx.jgid ysybm,jgxx.jgmc ysybmmc
        </if>
        from igams_sbyjll sbyjll
        <if test="flag!=null and flag!='' and flag=='1'.toString()">
            left join matridx_jgxx jgxx on jgxx.jgid=sbyjll.sybm
        </if>
        <if test="flag!=null and flag!='' and flag=='0'.toString()">
            left join igams_sbys sbys on sbys.sbysid=sbyjll.sbysid
            left join matridx_jgxx jgxx on jgxx.jgid=sbys.xsybm
        </if>
        where jgxx.jgid is not null
        group by jgxx.jgid,jgxx.jgmc
    </select>
    <select id="getPagedAuditDeviceTurnOver" resultType="SbyjllDto" parameterType="SbyjllDto">
        SELECT
        sbyjll.llid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sblx,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xsyr,
        sbyjll.qrzt,
        sbys.sbbh,
        sbys.xlh,
        sbyjll.ysyr,
        syry.zsxm ysyrmc,
        sbyjll.ysybm,
        ysybm.jgmc ysybmmc,
        sbyjll.ybmsbfzr,
        ybmsbfzr.zsxm ybmsbfzrmc,
        sbyjll.bmsbfzr,
        bmsbfzr.zsxm bmsbfzrmc,
        sbyjll.bz,
        sbyjll.yy,
        sbyjll.zyjyzq,
        sbyjll.yjsj,
        sbyjll.sybm,
        sbyjll.syry,
        syry.zsxm syrymc,
        yy.csmc yymc,
        sbyjll.zt,
        sybm.jgmc sybmmc,glry.zsxm glrymc,
        sbys.sydd ysydd,
        sbyjll.sydd,
        sbys.gdzcbh,sbys.sbccbh,
        yjr.zsxm yjrmc,
        sbys.sccj,sbys.sccjlxfs,sbyjll.lrsj
        FROM
        igams_sbyjll sbyjll
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        left join matridx_xtyh ysry on ysry.yhid=sbyjll.ysyr
        left join matridx_jgxx ysybm on ysybm.jgid=sbyjll.ysybm
        left join matridx_xtyh ybmsbfzr on ybmsbfzr.yhid=sbyjll.ybmsbfzr and ybmsbfzr.scbj='0'
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbyjll.bmsbfzr and bmsbfzr.scbj='0'
        left join matridx_jgxx sybm on sybm.jgid=sbyjll.sybm
        left join matridx_xtyh syry on syry.yhid=sbyjll.syry and syry.scbj='0'
        left join matridx_jcsj yy on yy.csid=sbyjll.yy and yy.scbj='0'
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh yjr on yjr.yhid=sbyjll.yjr
        <where>
            sbys.scbj='0' and sbyjll.zt='10'
            <include refid="selectWhere"></include>
        </where>
    </select>
    <select id="getAuditDeviceTurnOver" parameterType="List" resultType="SbyjllDto">
        SELECT
        sbyjll.llid,
        sbys.sbysid,
        sbys.sbmc,
        sbys.sblx,
        sblx.csmc sblxmc,
        sbys.ggxh,
        sbys.xsyr,
        sbyjll.qrzt,
        sbys.sbbh,
        sbys.xlh,
        sbyjll.ysyr,
        syry.zsxm ysyrmc,
        sbyjll.ysybm,
        ysybm.jgmc ysybmmc,
        sbyjll.ybmsbfzr,
        ybmsbfzr.zsxm ybmsbfzrmc,
        sbyjll.bmsbfzr,
        bmsbfzr.zsxm bmsbfzrmc,
        sbyjll.bz,
        sbyjll.yy,
        sbyjll.zyjyzq,
        sbyjll.yjsj,
        sbyjll.sybm,
        sbyjll.syry,
        syry.zsxm syrymc,
        yy.csmc yymc,
        sbyjll.zt,
        sybm.jgmc sybmmc,glry.zsxm glrymc,
        sbys.sydd ysydd,
        sbyjll.sydd,
        sbys.gdzcbh,sbys.sbccbh,
        yjr.zsxm yjrmc,
        sbys.sccj,sbys.sccjlxfs,sbyjll.lrsj
        ,shxx_sqsj,shxx_gwmc,shxx_lrryxm,shxx_shsj,shxx_sftg,shxx_shxxid,shxx_shyj,sbys.sbysdh,sbys.sfgz
        from
        <foreach collection="list" separator="union" open="(" close=") "
                 item="item" index="index">
            select #{item.llid} llid,#{item.shxx_shxxid} shxx_shxxid,#{item.shxx_sqsj} shxx_sqsj,#{item.sqr} sqr,
            #{item.shxx_lrryxm} shxx_lrryxm,#{item.shxx_shsj} shxx_shsj,
            #{item.shxx_sftg} shxx_sftg,#{item.shxx_shyj} shxx_shyj,#{item.shxx_gwmc} shxx_gwmc,#{index} rownum
        </foreach>
        tmp
        left join igams_sbyjll sbyjll on sbyjll.llid=tmp.llid
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jcsj sblx ON sblx.csid = sbys.sblx
        left join matridx_xtyh ysry on ysry.yhid=sbyjll.ysyr
        left join matridx_jgxx ysybm on ysybm.jgid=sbyjll.ysybm
        left join matridx_xtyh ybmsbfzr on ybmsbfzr.yhid=sbyjll.ybmsbfzr and ybmsbfzr.scbj='0'
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbyjll.bmsbfzr and bmsbfzr.scbj='0'
        left join matridx_jgxx sybm on sybm.jgid=sbyjll.sybm
        left join matridx_xtyh syry on syry.yhid=sbyjll.syry and syry.scbj='0'
        left join matridx_jcsj yy on yy.csid=sbyjll.yy and yy.scbj='0'
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh yjr on yjr.yhid=sbyjll.yjr
    </select>
    <update id="delete" parameterType="SbyjllDto">
        update igams_sbyjll
        <set>
            scbj='1',
            scsj=LOCALTIMESTAMP
        </set>
        <where>
            llid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
    <select id="getSyjllDtos" parameterType="SbyjllDto" resultType="SbyjllDto">
        SELECT
        sbyjll.llid,
        bmsbfzr.zsxm bmsbfzrmc,
        sbyjll.bz,
        syry.zsxm syrymc,
        yy.csmc yymc,
        sbyjll.sydd,
        yjr.zsxm sqrmc,
        to_char(sbyjll.lrsj,'yyyy-mm-dd') sqsj,
        jgxx.jgmc sqbmmc,
        '移交' as lx,
        sbyjll.zt
        FROM
        igams_sbyjll sbyjll
        LEFT JOIN igams_sbys sbys ON sbys.sbysid = sbyjll.sbysid and sbys.scbj='0'
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbyjll.bmsbfzr
        left join matridx_xtyh syry on syry.yhid=sbyjll.syry
        left join matridx_jcsj yy on yy.csid=sbyjll.yy and yy.scbj='0'
        left join matridx_xtyh yjr on yjr.yhid=sbyjll.yjr
        left join matridx_yhssjg jg on jg.yhid=sbyjll.yjr
        left join matridx_jgxx jgxx on jgxx.jgid=jg.jgid
        <where>
            sbyjll.scbj='0'
            <if test="sbysid !=null and sbysid!=''">
                and sbyjll.sbysid=#{sbysid}
            </if>
        </where>
        union all
        select sbbf.sbbfid llid,bmsbfzr.zsxm bmsbfzrmc,sbbf.bz,syry.zsxm syrymc,'' as yymc
        ,sbys.sydd,sqr.zsxm sqrmc,to_char(sbbf.sqsj,'yyyy-mm-dd') sqsj,sqbm.jgmc sqbmmc,'退库' as lx,sbbf.zt
        from igams_sbbf sbbf
        left join igams_sbys sbys on sbys.sbysid=sbbf.sbysid and sbys.scbj='0'
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_xtyh sqr on sqr.yhid=sbbf.sqr
        left join matridx_jgxx sqbm on sqbm.jgid=sbbf.sqbm
        <where>
            sbbf.scbj='0'
            <if test="sbysid !=null and sbysid!=''">
                and sbbf.sbysid=#{sbysid}
            </if>
        </where>
        union all
        SELECT
        sbtk.sbtkid llid,bmsbfzr.zsxm bmsbfzrmc,'' as bz,syry.zsxm syrymc,sbtk.yy as yymc,sbys.sydd,xtyh.zsxm sqrmc,to_char(sbtk.lrsj,'yyyy-mm-dd') sqsj,
        jgxx.jgmc sqbmmc,'退库' as lx,sbtk.zt
        FROM
        igams_sbtk sbtk
        LEFT JOIN igams_sbys sbys on sbys.sbysid = sbtk.sbysid
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbtk.sqr
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = sbtk.sqbm
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        <where>
            sbtk.scbj='0' and sbtk.zt='80'
            <if test="sbysid !=null and sbysid!=''">
                and sbtk.sbysid=#{sbysid}
            </if>
        </where>
    </select>
</mapper>