<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.ISbyjqrDao">

    <insert id="insert" parameterType="SbyjqrDto">
        insert into igams_sbyjqr(qrid,llid
        <if test="qrzt != null and qrzt != ''">
            ,qrzt
        </if>
        <if test="bz != null and bz != ''">
            ,bz
        </if>
            ,qrsj
        )
        values(#{qrid},#{llid}
        <if test="qrzt != null and qrzt != ''">
            ,#{qrzt}
        </if>
        <if test="bz != null and bz != ''">
            ,#{bz}
        </if>
            ,LOCALTIMESTAMP )
    </insert>
    <select id="getDtoList" resultType="SbyjqrDto" parameterType="SbyjqrDto">
        select case when qrzt='1' then '通过' when qrzt='0' then '不通过' end qrzt,to_char(qrsj,'yyyy-MM-dd HH24:mi') qrsj,bz
        from igams_sbyjqr
        where llid=#{llid}
    </select>
</mapper>