<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IWlgllsbDao" >

	<!-- 根据物料ID获取物料信息 -->
	<select id="getDto" parameterType="WlgllsbDto" resultType="WlgllsbDto">
		select wllsb.lsid,wllsb.wlid,wllsb.wlbm,wllsb.jwlbm,wllsb.wllb,wllsb.wlzlb,wllsb.wlmc,wllsb.dlgys,wllsb.scs,wllsb.ychh,
				wllsb.gg,wllsb.jldw,wllsb.bctj,wllsb.bzq,wllsb.bzqflg,wllsb.sfwxp,wllsb.bz,wllsb.shsj,wllsb.zt,wllsb.lrry,wllsb.lrsj,
				wllsb.xgry,wllsb.xgsj,wllsb.scry,wllsb.scsj,wllsb.scbj,jc.csmc wllbmc,wllsb.qdl,wllsb.hq,wllsb.wlzlbtc,wllsb.cpzch,wllsb.rf
			from igams_wlgllsb wllsb
			left outer join matridx_jcsj jc on wllsb.wllb = jc.csid
			<where>
				wllsb.scbj !='1' 
				<if test="wlid != null and wlid != ''">
					and wlid = #{wlid}
				</if>
				<if test="lsid != null and lsid != ''">
					and lsid = #{lsid}
				</if>
			</where>
	</select>
	<!-- 根据物料ID获取物料信息 -->
	<select id="getDtoListByWlid" parameterType="WlgllsbDto" resultType="WlgllsbDto">
		select wllsb.lsid,wllsb.wlid,wllsb.wlbm,wllsb.jwlbm,wllsb.wllb,wllsb.wlzlb,wllsb.wlmc,wllsb.dlgys,wllsb.scs,wllsb.ychh,
				wllsb.gg,wllsb.jldw,wllsb.bctj,wllsb.bzq,wllsb.bzqflg,wllsb.sfwxp,sfwxp.csmc as sfwxpmc,wllsb.bz,wllsb.shsj,wllsb.zt,wllsb.lrry,wllsb.lrsj,
				wllsb.xgry,wllsb.xgsj,wllsb.scry,wllsb.scsj,wllsb.scbj,to_char(wllsb.lrsj,'YYYY-MM-DD') AS lrtime,to_char(wllsb.shsj,'YYYY-MM-DD') AS shtime,
				jc.csmc wllbmc,zlbjc.csmc wlzlbmc,jc.csdm wllbdm,zlbjc.csdm wlzlbdm,wllsb.qdl,wllsb.hq,wllsb.wlzlbtc,zlbtcjc.csmc wlzlbtcmc,wllsb.cpzch,wllsb.rf
			from igams_wlgllsb wllsb
			left outer join matridx_jcsj jc on wllsb.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wllsb.wlzlb = zlbjc.csid
		    left outer join matridx_jcsj sfwxp on wllsb.sfwxp = sfwxp.csid
			left outer join matridx_jcsj zlbtcjc on wllsb.wlzlbtc = zlbtcjc.csid
			<where>
				<if test="wlid != null and wlid != ''">
					and wllsb.wlid = #{wlid}
				</if>
				<if test="lsid != null and lsid != ''">
					and lsid = #{lsid}
				</if>
			</where>
			order by wllsb.lrsj desc, wllsb.shsj asc
	</select>

	<select id="getDtoList" parameterType="WlgllsbDto" resultType="WlgllsbDto">
		select wllsb.lsid,wllsb.wlid,wllsb.wlbm,wllsb.jwlbm,wllsb.wllb,wllsb.wlzlb,wllsb.wlmc,wllsb.dlgys,wllsb.scs,wllsb.ychh,
		wllsb.gg,wllsb.jldw,wllsb.bctj,wllsb.bzq,wllsb.bzqflg,wllsb.sfwxp,sfwxp.csmc as sfwxpmc,wllsb.bz,wllsb.shsj,wllsb.zt,wllsb.lrry,wllsb.lrsj,
		wllsb.xgry,wllsb.xgsj,wllsb.scry,wllsb.scsj,wllsb.scbj,to_char(wllsb.lrsj,'YYYY-MM-DD') AS lrtime,to_char(wllsb.shsj,'YYYY-MM-DD') AS shtime,
		jc.csmc wllbmc,zlbjc.csmc wlzlbmc,jc.csdm wllbdm,zlbjc.csdm wlzlbdm,wllsb.qdl,wllsb.hq,wllsb.wlzlbtc,zlbtcjc.csmc wlzlbtcmc,wllsb.cpzch,wllsb.rf
		from igams_wlgllsb wllsb
		left outer join matridx_jcsj jc on wllsb.wllb = jc.csid
		left outer join matridx_jcsj zlbjc on wllsb.wlzlb = zlbjc.csid
		left outer join matridx_jcsj sfwxp on wllsb.sfwxp = sfwxp.csid
		left outer join matridx_jcsj zlbtcjc on wllsb.wlzlbtc = zlbtcjc.csid
		<where>
			wllsb.scbj !='1'
			<if test="ids !=null and ids.size > 0">
				and wllsb.lsid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
		order by wllsb.lrsj desc, wllsb.shsj asc
	</select>
	<!-- 根据临时ID获取物料信息 -->
	<select id="getDtoById" parameterType="WlgllsbDto" resultType="WlgllsbDto">
		select wllsb.lsid,wllsb.wlid,wllsb.wlbm,wllsb.jwlbm,wllsb.wllb,wllsb.wlzlb,wllsb.wlmc,wllsb.dlgys,wllsb.scs,wllsb.ychh,
				wllsb.gg,wllsb.jldw,wllsb.bctj,wllsb.bzq,wllsb.bzqflg,wllsb.sfwxp,wllsb.bz,wllsb.shsj,wllsb.zt,wllsb.lrry,wllsb.lrsj,
				wllsb.xgry,wllsb.xgsj,wllsb.scry,wllsb.scsj,wllsb.scbj,jc.csmc wllbmc,zlbjc.csmc wlzlbmc,jc.csdm wllbdm,zlbjc.csdm wlzlbdm,wllsb.qdl,wllsb.hq,
				wllsb.wlzlbtc, zlbtcjc.csmc wlzlbtcmc,wllsb.cpzch,wllsb.rf
			from igams_wlgllsb wllsb
			left outer join matridx_jcsj jc on wllsb.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wllsb.wlzlb = zlbjc.csid
			left outer join matridx_jcsj zlbtcjc on wllsb.wlzlbtc = zlbtcjc.csid
			<where>
				wllsb.scbj !='1' and lsid = #{lsid}
			</where>
	</select>
	<!-- 插入物料信息 -->
	<insert id="insert" parameterType="WlgllsbModel">
		insert into igams_wlgllsb(lsid
		<if test="wlid !=null and wlid != ''">
			,wlid
		</if>
		<if test="wllb !=null and wllb != ''">
			,wllb
		</if>
		<if test="wlzlb !=null and wlzlb != ''">
			,wlzlb
		</if>
		<if test="wlbm !=null and wlbm != ''">
			,wlbm
		</if>
		<if test="wlmc !=null and wlmc != ''">
			,wlmc
		</if>
		<if test="dlgys !=null and dlgys != ''">
			,dlgys
		</if>
		<if test="scs !=null and scs != ''">
			,scs
		</if>
		<if test="ychh !=null and ychh != ''">
			,ychh
		</if>
		<if test="gg !=null and gg != ''">
			,gg
		</if>
		<if test="jldw !=null and jldw != ''">
			,jldw
		</if>
		<if test="bctj !=null and bctj != ''">
			,bctj
		</if>
		<if test="bzq !=null and bzq != ''">
			,bzq
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			,bzqflg
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			,sfwxp
		</if>
		<if test="bz !=null and bz != ''">
			,bz
		</if>
		<if test="shsj !=null and shsj != ''">
			,shsj
		</if>
		<if test="zt !=null and zt != ''">
			,zt
		</if>
		<if test="jwlbm !=null and jwlbm != ''">
			,jwlbm
		</if>
		<if test="scbj !=null and scbj != ''">
			,scbj
		</if>
		<if test="qdl !=null and qdl != ''">
			,qdl
		</if>
		<if test="hq !=null and hq != ''">
			,hq
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			,wlzlbtc
		</if>
		<if test="cpzch !=null and cpzch != ''">
			,cpzch
		</if>
		<if test="rf !=null and rf != ''">
			,rf
		</if>
		,lrry,lrsj) values(#{lsid}
		<if test="wlid !=null and wlid != ''">
			,#{wlid}
		</if>
		<if test="wllb !=null and wllb != ''">
			,#{wllb}
		</if>
		<if test="wlzlb !=null and wlzlb != ''">
			,#{wlzlb}
		</if>
		<if test="wlbm !=null and wlbm != ''">
			,#{wlbm}
		</if>
		<if test="wlmc !=null and wlmc != ''">
			,#{wlmc}
		</if>
		<if test="dlgys !=null and dlgys != ''">
			,#{dlgys}
		</if>
		<if test="scs !=null and scs != ''">
			,#{scs}
		</if>
		<if test="ychh !=null and ychh != ''">
			,#{ychh}
		</if>
		<if test="gg !=null and gg != ''">
			,#{gg}
		</if>
		<if test="jldw !=null and jldw != ''">
			,#{jldw}
		</if>
		<if test="bctj !=null and bctj != ''">
			,#{bctj}
		</if>
		<if test="bzq !=null and bzq != ''">
			,#{bzq}
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			,#{bzqflg}
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			,#{sfwxp}
		</if>
		<if test="bz !=null and bz != ''">
			,#{bz}
		</if>
		<if test="shsj !=null and shsj != ''">
			,LOCALTIMESTAMP
		</if>
		<if test="zt !=null and zt !=''">
			,#{zt}
		</if>
		<if test="jwlbm !=null and jwlbm !=''">
			,#{jwlbm}
		</if>
		<if test="scbj !=null and scbj !=''">
			,#{scbj}
		</if>
		<if test="qdl !=null and qdl != ''">
			,#{qdl}
		</if>
		<if test="hq !=null and hq != ''">
			,cast(#{hq} as numeric)
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			,#{wlzlbtc}
		</if>
		<if test="cpzch !=null and cpzch != ''">
			,#{cpzch}
		</if>
		<if test="rf !=null and rf != ''">
			,cast(#{rf} as numeric)
		</if>
		,#{lrry},LOCALTIMESTAMP)
	</insert>
	<update  id="update" parameterType="WlgllsbModel">
		update igams_wlgllsb
		<set>
		<if test="wlid !=null and wlid != ''">
			wlid = #{wlid},
		</if>
		<if test="wllb !=null and wllb != ''">
			wllb = #{wllb},
		</if>
		<if test="wlzlb !=null and wlzlb != ''">
			wlzlb = #{wlzlb},
		</if>
		<if test="wlbm !=null and wlbm != ''">
			wlbm = #{wlbm},
		</if>
		<if test="wlmc !=null and wlmc != ''">
			wlmc = #{wlmc},
		</if>
		<if test="dlgys !=null and dlgys != ''">
			dlgys = #{dlgys},
		</if>
		<if test="scs !=null and scs != ''">
			scs = #{scs},
		</if>
		<if test="ychh !=null and ychh != ''">
			ychh = #{ychh},
		</if>
		<if test="gg !=null and gg != ''">
			gg = #{gg},
		</if>
		<if test="jldw !=null and jldw != ''">
			jldw = #{jldw},
		</if>
		<if test="bctj !=null and bctj != ''">
			bctj = #{bctj},
		</if>
		<if test="bzq !=null and bzq != ''">
			bzq = #{bzq},
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			bzqflg = #{bzqflg},
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			sfwxp = #{sfwxp},
		</if>
		<if test="bz !=null and bz != ''">
			bz = #{bz},
		</if>
		<if test="shsj !=null and shsj != ''">
			shsj = LOCALTIMESTAMP,
		</if>
		<if test="zt !=null and zt != ''">
			zt = #{zt},
		</if>
		<if test="jwlbm !=null and jwlbm != ''">
			jwlbm = #{jwlbm},
		</if>
		<if test="scbj !=null and scbj != ''">
			scbj = #{scbj},
		</if>
		<if test="qdl !=null and qdl != ''">
			qdl = #{qdl},
		</if>
		<if test="hq !=null and hq != ''">
			hq = cast(#{hq} as numeric),
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			wlzlbtc = #{wlzlbtc},
		</if>
		<if test="cpzch !=null and cpzch != ''">
			cpzch = #{cpzch},
		</if>
		<if test="rf !=null and rf != ''">
			rf = cast(#{rf} as numeric),
		</if>
		xgry = #{xgry},
		xgsj = LOCALTIMESTAMP
		</set> 
		<where>
			lsid = #{lsid}
		</where>
	</update>
	<!--更新物料申请的状态信息-->
	<update id="updateZt" parameterType="WlgllsbModel">
		update igams_wlgllsb set zt = #{zt,jdbcType=VARCHAR},xgry = #{xgry},xgsj = LOCALTIMESTAMP,shsj = LOCALTIMESTAMP
		<if test="wlbm != null and wlbm != ''">
			,wlbm = #{wlbm}
		</if>
		where lsid = #{lsid}
	</update>
	<!--更新临时表数据审核后状态-->
	<update id="updateSc" parameterType="WlgllsbModel">
		update igams_wlgllsb set zt = #{zt},shsj = LOCALTIMESTAMP
		<where>
			 lsid = #{lsid}
		</where>
	</update>
	
	<!-- 获取物料修改申请审核的ID列表 -->
	<select id="getPagedModAuditIdList" parameterType="WlgllsbDto" resultType="WlgllsbDto">
		select wllsb.lsid,wllsb.lrsj
			from igams_wlgllsb wllsb
			<where>
				wllsb.scbj != '1' 
				<if test="wlmc != null and wlmc != ''">
					and wllsb.wlmc like '%'||#{wlmc}||'%'
				</if>
				<if test="scs != null and scs != ''">
					and wllsb.scs like '%'||#{scs}||'%'
				</if>
				<if test="zt != null and zt != ''">
					and wllsb.zt = #{zt}
				</if>
			</where>
	</select>
	<!-- 临时表分页查询-审核列表-->
	<select id="getModAuditListByIds" parameterType="List" resultType="WlgllsbDto">
		select wllsb.lsid,wllsb.wlid,wllsb.wlbm,wllsb.wllb,wllsb.wlzlb,wllsb.wlmc,wllsb.dlgys,wllsb.scs,wllsb.ychh,wllsb.gg,wllsb.jldw,wllsb.bctj,wllsb.bzq,wllsb.sfwxp,wllsb.bz,wllsb.wlzlbtc,
			wllsb.zt,wllsb.bzqflg,wllsb.lrry,wllsb.lrsj,wllsb.xgry,wllsb.xgsj,wllsb.jwlbm,shxx_sqsj,shxx_gwmc,sqr,shxx_lrryxm,shxx_shsj,shxx_sftg,shxx_shxxid,shxx_shyj
			from igams_wlgllsb wllsb
			join 
				<foreach collection="list" separator="union" open="(" close=") "
						item="item" index="index">
					select #{item.lsid} lsid,#{item.shxx_shxxid} shxx_shxxid,#{item.shxx_sqsj} shxx_sqsj,#{item.sqr} sqr,#{item.shxx_lrryxm} shxx_lrryxm,#{item.shxx_shsj} shxx_shsj,#{item.shxx_sftg} shxx_sftg,#{item.shxx_gwmc} shxx_gwmc,#{item.shxx_shyj} shxx_shyj,#{index} rownum
				</foreach>
			tmp on tmp.lsid = wllsb.lsid
		order by tmp.rownum
	</select>
	<!-- 根据物料ID获取物料信息 -->
	<select id="getDtoListByWlids" parameterType="WlgllsbDto" resultType="WlgllsbDto">
		select wllsb.lsid,wllsb.wlid,wllsb.wlbm,wllsb.jwlbm,wllsb.wllb,wllsb.wlzlb,wllsb.wlmc,wllsb.dlgys,wllsb.scs,wllsb.ychh,
				wllsb.gg,wllsb.jldw,wllsb.bctj,wllsb.bzq,wllsb.bzqflg,wllsb.sfwxp,wllsb.bz,wllsb.shsj,wllsb.zt,wllsb.lrry,wllsb.lrsj,
				wllsb.xgry,wllsb.xgsj,wllsb.scry,wllsb.scsj,wllsb.scbj,to_char(wllsb.lrsj,'YYYY-MM-DD') AS lrtime,to_char(wllsb.shsj,'YYYY-MM-DD') AS shtime,
				jc.csmc wllbmc,zlbjc.csmc wlzlbmc,jc.csdm wllbdm,zlbjc.csdm wlzlbdm,wllsb.qdl,wllsb.hq,wllsb.wlzlbtc,zlbtcjc.csmc wlzlbtcmc
			from igams_wlgllsb wllsb
			left outer join matridx_jcsj jc on wllsb.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wllsb.wlzlb = zlbjc.csid
			left outer join matridx_jcsj zlbtcjc on wllsb.wlzlbtc = zlbtcjc.csid
			<where>
				<if test="wlid !=null and wlid != ''">
					or wllsb.wlid = #{wlid}
				</if>
				<if test="ids !=null and ids.size > 0">
				or wllsb.wlid in
					<foreach collection="ids" open="(" close=")" separator="," item="item">
						#{item}
					</foreach>
				</if>
			</where>
			order by wllsb.lrsj desc, wllsb.shsj asc
	</select>
</mapper>
