<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IWlglDao" >
	<sql id="SEARCH_TERMS">
		<if test="entire != null and entire != ''">
			and (
			wl.wlbm ILIKE '%'||#{entire}||'%'
			or wl.jwlbm ILIKE '%'||#{entire}||'%'
			or wl.wlmc ILIKE '%'||#{entire}||'%'
			or wl.scs ILIKE '%'||#{entire}||'%'
			or wl.gg ILIKE '%'||#{entire}||'%'
			or yh.zsxm ILIKE '%'||#{entire}||'%'
			or wl.ychh ILIKE '%'||#{entire}||'%'
			)
		</if>
		<if test="wlbm != null and wlbm != ''">
			and wl.wlbm ILIKE '%'||#{wlbm}||'%'
		</if>
		<if test="jwlbm != null and jwlbm != ''">
			and wl.jwlbm ILIKE '%'||#{jwlbm}||'%'
		</if>
		<if test="wlmc != null and wlmc != ''">
			and wl.wlmc ILIKE '%'||#{wlmc}||'%'
		</if>
		<if test="scs != null and scs != ''">
			and wl.scs ILIKE '%'||#{scs}||'%'
		</if>
		<if test="gg != null and gg != ''">
			and wl.gg ILIKE '%'||#{gg}||'%'
		</if>
		<if test="ychh != null and ychh != ''">
			and wl.ychh ILIKE '%'||#{ychh}||'%'
		</if>
		<if test="sfwxp != null and sfwxp != ''">
			and wl.sfwxp  = #{sfwxp}
		</if>
		<if test="shsjstart != null and shsjstart != ''">
			and to_char(wl.shsj,'yyyy-mm-dd') &gt;= #{shsjstart}
		</if>
		<if test="shsjend != null and shsjend != ''">
			and to_char(wl.shsj,'yyyy-mm-dd') &lt;= #{shsjend}
		</if>
		<if test="lrryxm != null and lrryxm != ''">
			and yh.zsxm ILIKE '%'||#{lrryxm}||'%'
		</if>
		<if test = "wllbs != null and wllbs.length > 0 "  >
			and wl.wllb in 
			<foreach collection="wllbs" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "wlzlbs != null and wlzlbs.length > 0 "  >
			and wl.wlzlb in 
			<foreach collection="wlzlbs" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "lbs != null and lbs.length > 0 "  >
			and wl.lb in 
			<foreach collection="lbs" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "wlzlbtcs != null and wlzlbtcs.length > 0 "  >
			and wl.wlzlbtc in 
			<foreach collection="wlzlbtcs" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "sfwxps != null and sfwxps.length > 0 "  >
			and wl.sfwxp in 
			<foreach collection="sfwxps" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "zts != null and zts.length > 0 "  >
			and wl.zt in 
			<foreach collection="zts" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "scbjs != null and scbjs.length > 0 "  >
			and wl.scbj in 
			<foreach collection="scbjs" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "scbjs == null or scbjs.length == 0 "  >
			and wl.scbj !='1' 
		</if>
		<if test="zt != null and zt != ''">
			and wl.zt  = #{zt}
		</if>
	</sql>

	<sql id="SEARCH_TERMST">
		<if test="entire != null and entire != ''">
			and (
			wl.wlbm ILIKE '%'||#{entire}||'%'
			or wl.jwlbm ILIKE '%'||#{entire}||'%'
			or wl.wlmc ILIKE '%'||#{entire}||'%'
			or wl.scs ILIKE '%'||#{entire}||'%'
			or wl.gg ILIKE '%'||#{entire}||'%'
			or yh.zsxm ILIKE '%'||#{entire}||'%'
			or wl.ychh ILIKE '%'||#{entire}||'%'
			or tmp.sscplbmc ILIKE '%'||#{entire}||'%'
			)
		</if>
		<if test="sscplbmc != null and sscplbmc != ''">
			and tmp.sscplbmc ILIKE '%'||#{sscplbmc}||'%'
		</if>
		<if test="wlbm != null and wlbm != ''">
			and wl.wlbm ILIKE '%'||#{wlbm}||'%'
		</if>
		<if test="jwlbm != null and jwlbm != ''">
			and wl.jwlbm ILIKE '%'||#{jwlbm}||'%'
		</if>
		<if test="wlmc != null and wlmc != ''">
			and wl.wlmc ILIKE '%'||#{wlmc}||'%'
		</if>
		<if test="scs != null and scs != ''">
			and wl.scs ILIKE '%'||#{scs}||'%'
		</if>
		<if test="gg != null and gg != ''">
			and wl.gg ILIKE '%'||#{gg}||'%'
		</if>
		<if test="ychh != null and ychh != ''">
			and wl.ychh ILIKE '%'||#{ychh}||'%'
		</if>
		<if test="sfwxp != null and sfwxp != ''">
			and wl.sfwxp  = #{sfwxp}
		</if>
		<if test="shsjstart != null and shsjstart != ''">
			and to_char(wl.shsj,'yyyy-mm-dd') &gt;= #{shsjstart}
		</if>
		<if test="shsjend != null and shsjend != ''">
			and to_char(wl.shsj,'yyyy-mm-dd') &lt;= #{shsjend}
		</if>
		<if test="lrryxm != null and lrryxm != ''">
			and yh.zsxm ILIKE '%'||#{lrryxm}||'%'
		</if>
		<if test = "wllbs != null and wllbs.length > 0 "  >
			and wl.wllb in
			<foreach collection="wllbs" separator="," open="(" close=") "
					 item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "wlzlbs != null and wlzlbs.length > 0 "  >
			and wl.wlzlb in
			<foreach collection="wlzlbs" separator="," open="(" close=") "
					 item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "lbs != null and lbs.length > 0 "  >
			and wl.lb in
			<foreach collection="lbs" separator="," open="(" close=") "
					 item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "wlzlbtcs != null and wlzlbtcs.length > 0 "  >
			and wl.wlzlbtc in
			<foreach collection="wlzlbtcs" separator="," open="(" close=") "
					 item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "sfwxps != null and sfwxps.length > 0 "  >
			and wl.sfwxp in
			<foreach collection="sfwxps" separator="," open="(" close=") "
					 item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "zts != null and zts.length > 0 "  >
			and wl.zt in
			<foreach collection="zts" separator="," open="(" close=") "
					 item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "scbjs != null and scbjs.length > 0 "  >
			and wl.scbj in
			<foreach collection="scbjs" separator="," open="(" close=") "
					 item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test = "scbjs == null or scbjs.length == 0 "  >
			and wl.scbj !='1'
		</if>
		<if test="zt != null and zt != ''">
			and wl.zt  = #{zt}
		</if>
	</sql>
	
	<sql id="OUT_SEARCH_JOINS">
		<if test="wllb_flg != null">
			left join matridx_jcsj wllb on wllb.csid= wl.wllb
		</if>
		<if test="wlzlb_flg !=null">
			left join matridx_jcsj wlzlb on wlzlb.csid= wl.wlzlb
		</if>
		<if test="wlzllb_flg !=null">
			left join matridx_jcsj wlzllb on wlzllb.csid= wl.lb
		</if>
		left join matridx_jcsj abclb on abclb.csid= wl.lb
		left join matridx_jcsj sfwxp on wl.sfwxp = sfwxp.csid
	</sql>

	<!-- 插入物料信息 -->
	<insert id="insert" parameterType="WlglModel">
		insert into igams_wlgl(wlid,wllb
		<if test="wlzlb !=null and wlzlb != ''">
			,wlzlb
		</if>
		<if test="wlbm !=null and wlbm != ''">
			,wlbm
		</if>
		<if test="wlmc !=null and wlmc != ''">
			,wlmc
		</if>
		<if test="dlgys !=null and dlgys != ''">
			,dlgys
		</if>
		<if test="scs !=null and scs != ''">
			,scs
		</if>
		<if test="ychh !=null and ychh != ''">
			,ychh
		</if>
		<if test="gg !=null and gg != ''">
			,gg
		</if>
		<if test="jldw !=null and jldw != ''">
			,jldw
		</if>
		<if test="bctj !=null and bctj != ''">
			,bctj
		</if>
		<if test="bzq !=null and bzq != ''">
			,bzq
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			,bzqflg
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			,sfwxp
		</if>
		<if test="bz !=null and bz != ''">
			,bz
		</if>
		<if test="shsj !=null and shsj != ''">
			,shsj
		</if>
		<if test="zt !=null and zt != ''">
			,zt
		</if>
		<if test="jwlbm !=null and jwlbm != ''">
			,jwlbm
		</if>
		<if test="lb !=null and lb != ''">
			,lb
		</if>
		<if test="aqkc !=null and aqkc != ''">
			,aqkc
		</if>
		<if test="qdl !=null and qdl != ''">
			,qdl
		</if>
		<if test="hq !=null and hq != ''">
			,hq
		</if>
		<if test="zdcgl !=null and zdcgl != ''">
			,zdcgl
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			,wlzlbtc
		</if>
		<if test="cpzch !=null and cpzch != ''">
			,cpzch
		</if>
		<if test="rf !=null and rf != ''">
			,rf
		</if>
		,lrry,lrsj,scbj) values(#{wlid},#{wllb}
		<if test="wlzlb !=null and wlzlb != ''">
			,#{wlzlb}
		</if>
		<if test="wlbm !=null and wlbm != ''">
			,#{wlbm}
		</if>
		<if test="wlmc !=null and wlmc != ''">
			,#{wlmc}
		</if>
		<if test="dlgys !=null and dlgys != ''">
			,#{dlgys}
		</if>
		<if test="scs !=null and scs != ''">
			,#{scs}
		</if>
		<if test="ychh !=null and ychh != ''">
			,#{ychh}
		</if>
		<if test="gg !=null and gg != ''">
			,#{gg}
		</if>
		<if test="jldw !=null and jldw != ''">
			,#{jldw}
		</if>
		<if test="bctj !=null and bctj != ''">
			,#{bctj}
		</if>
		<if test="bzq !=null and bzq != ''">
			,#{bzq}
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			,#{bzqflg}
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			,#{sfwxp}
		</if>
		<if test="bz !=null and bz != ''">
			,#{bz}
		</if>
		<if test="shsj !=null and shsj != ''">
			,LOCALTIMESTAMP
		</if>
		<if test="zt !=null and zt !=''">
			,#{zt}
		</if>
		<if test="jwlbm !=null and jwlbm !=''">
			,#{jwlbm}
		</if>
		<if test="lb !=null and lb != ''">
			,#{lb}
		</if>
		<if test="aqkc !=null and aqkc != ''">
			,cast(#{aqkc} as numeric)
		</if>
		<if test="qdl !=null and qdl != ''">
			,#{qdl}
		</if>
		<if test="hq !=null and hq != ''">
			,cast(#{hq} as numeric)
		</if>
		<if test="zdcgl !=null and zdcgl != ''">
			,cast(#{zdcgl} as numeric)
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			,#{wlzlbtc}
		</if>
		<if test="cpzch !=null and cpzch != ''">
			,#{cpzch}
		</if>
		<if test="rf !=null and rf != ''">
			,cast(#{rf} as numeric)
		</if>
		,#{lrry},LOCALTIMESTAMP,'0')
	</insert>
	
	<update  id="update" parameterType="WlglModel">
		update igams_wlgl 
		<set>
		<if test="wllb !=null and wllb != ''">
			wllb = #{wllb},
		</if>
		<if test="wlzlb !=null and wlzlb != ''">
			wlzlb = #{wlzlb},
		</if>
		<if test="wlbm !=null and wlbm != ''">
			wlbm = #{wlbm},
		</if>
		<if test="wlmc !=null and wlmc != ''">
			wlmc = #{wlmc},
		</if>
		<if test="dlgys !=null and dlgys != ''">
			dlgys = #{dlgys},
		</if>
		<if test="scs !=null and scs != ''">
			scs = #{scs},
		</if>
		<if test="ychh !=null and ychh != ''">
			ychh = #{ychh},
		</if>
		<if test="gg !=null and gg != ''">
			gg = #{gg},
		</if>
		<if test="jldw !=null and jldw != ''">
			jldw = #{jldw},
		</if>
		<if test="bctj !=null and bctj != ''">
			bctj = #{bctj},
		</if>
		<if test="bzq !=null and bzq != ''">
			bzq = #{bzq},
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			bzqflg = #{bzqflg},
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			sfwxp = #{sfwxp},
		</if>
		<if test="bz !=null and bz != ''">
			bz = #{bz},
		</if>
		<if test="shsj !=null and shsj != ''">
			shsj = LOCALTIMESTAMP,
		</if>
		<if test="zt !=null and zt != ''">
			zt = #{zt},
		</if>
		<if test="jwlbm !=null and jwlbm != ''">
			jwlbm = #{jwlbm},
		</if>
		<if test="lb !=null and lb != ''">
			lb = #{lb},
		</if>
		<if test="aqkc !=null and aqkc != ''">
			aqkc = cast(#{aqkc} as numeric),
		</if>
		<if test="zdcgl !=null and zdcgl != ''">
			zdcgl = cast(#{zdcgl} as numeric),
		</if>
		<if test="scbj !=null and scbj != ''">
			scbj = #{scbj},
		</if>
		<if test="qdl !=null and qdl != ''">
			qdl = #{qdl},
		</if>
		<if test="hq !=null and hq != ''">
			hq = cast(#{hq} as numeric),
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			wlzlbtc = #{wlzlbtc},
		</if>
		<if test="sscplb !=null and sscplb != ''">
			sscplb = #{sscplb},
		</if>
		<if test="cpzch !=null and cpzch != ''">
			cpzch = #{cpzch},
		</if>
		<if test="rf !=null and rf != ''">
			rf = cast(#{rf} as numeric),
		</if>
		xgry = #{xgry},xgsj = LOCALTIMESTAMP
		</set>
		<where>
			wlid = #{wlid}
		</where>
	</update>
	
		<update  id="updateKcwh" parameterType="WlglModel">
		update igams_wlgl 
		<set>
		<if test="wllb !=null and wllb != ''">
			wllb = #{wllb},
		</if>
		<if test="wlzlb !=null and wlzlb != ''">
			wlzlb = #{wlzlb},
		</if>
		<if test="wlbm !=null and wlbm != ''">
			wlbm = #{wlbm},
		</if>
		<if test="wlmc !=null and wlmc != ''">
			wlmc = #{wlmc},
		</if>
		<if test="dlgys !=null and dlgys != ''">
			dlgys = #{dlgys},
		</if>
		<if test="scs !=null and scs != ''">
			scs = #{scs},
		</if>
		<if test="ychh !=null and ychh != ''">
			ychh = #{ychh},
		</if>
		<if test="gg !=null and gg != ''">
			gg = #{gg},
		</if>
		<if test="jldw !=null and jldw != ''">
			jldw = #{jldw},
		</if>
		<if test="bctj !=null and bctj != ''">
			bctj = #{bctj},
		</if>
		<if test="bzq !=null and bzq != ''">
			bzq = #{bzq},
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			bzqflg = #{bzqflg},
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			sfwxp = #{sfwxp},
		</if>
		<if test="bz !=null and bz != ''">
			bz = #{bz},
		</if>
		<if test="shsj !=null and shsj != ''">
			shsj = LOCALTIMESTAMP,
		</if>
		<if test="zt !=null and zt != ''">
			zt = #{zt},
		</if>
		<if test="jwlbm !=null and jwlbm != ''">
			jwlbm = #{jwlbm},
		</if>
		<if test="lb !=null and lb != ''">
			lb = #{lb},
		</if>
		<if test="aqkc !=null and aqkc != ''">
			aqkc = cast(#{aqkc} as numeric),
		</if>
		
		<if test="zdcgl ==null or zdcgl.toString() == ''">
			zdcgl = null,
		</if>
		<if test="zdcgl !=null and zdcgl != ''">
			zdcgl = cast(#{zdcgl} as numeric),
		</if>
		<if test="scbj !=null and scbj != ''">
			scbj = #{scbj},
		</if>
		<if test="qdl !=null and qdl != ''">
			qdl = #{qdl},
		</if>
		<if test="hq !=null and hq != ''">
			hq = cast(#{hq} as numeric),
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			wlzlbtc = #{wlzlbtc},
		</if>
		sscplb = #{sscplb},	xgry = #{xgry},xgsj = LOCALTIMESTAMP
		</set>
		<where>
			wlid = #{wlid}
		</where>
	</update>
	
	<update  id="delete" parameterType="WlglModel">
		update igams_wlgl set scry = #{scry},scsj = LOCALTIMESTAMP,scbj='1' 
		<where>
			<if test="wlid !=null and wlid != ''">
				or wlid = #{wlid}
			</if>
			<if test="ids !=null and ids.size > 0">
			or wlid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</update>

	<update  id="discard" parameterType="WlglDto">
		update igams_wlgl set xgry = #{xgry},xgsj = LOCALTIMESTAMP,scbj='1'
		<where>
			<if test="wlid !=null and wlid != ''">
				or wlid = #{wlid}
			</if>
			<if test="ids !=null and ids.size > 0">
				or wlid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</update>
	
	<!-- 获取物料信息列表 -->
	<select id="getDtoList" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid as zjwlid,wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg
				,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.jwlbm,wl.scbj,wl.lb,wl.aqkc,wl.qdl,wl.hq,wl.zdcgl,wl.wlzlbtc,jc_wlzlb.cskz1,jc_wlzlb.cskz2,wl.sscplb,tmpt.kcl
			from igams_wlgl wl
			left join matridx_jcsj jc_wlzlb on wl.wlzlb=jc_wlzlb.csid
			left join (select sum(kcl) as kcl,wlid
			from igams_ckhwxx
			group by wlid
			)tmpt on tmpt.wlid=wl.wlid
			<where>
				wl.scbj !='1'
				<if test="wlid !=null and wlid !=''">
					and wl.wlid = #{wlid}
				</if>
				<if test="entire != null and  entire!= ''">
					and (wl.wlmc ILIKE '%'||#{entire}||'%'
					or wl.wlbm ILIKE '%'||#{entire}||'%')
				</if>
				<if test="ids != null and ids.size>0">
					and wl.wlid in
					<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
						#{item}
					</foreach>
				</if>
			</where>
	</select>
	<select id="getOrderedDtoList" parameterType="WlglDto" resultType="WlglDto">
		SELECT
		wl.wlid AS zjwlid,
		wl.wlid,
		wl.wlbm,
		wl.wllb,
		wl.wlzlb,
		wl.wlmc,
		wl.dlgys,
		wl.scs,
		wl.ychh,
		wl.gg,
		wl.jldw,
		wl.bctj,
		wl.bzq,
		wl.sfwxp,
		wl.bz,
		wl.zt,
		wl.bzqflg,
		wl.lrry,
		wl.lrsj,
		wl.xgry,
		wl.xgsj,
		wl.jwlbm,
		wl.scbj,
		wl.lb,
		wl.aqkc,
		wl.qdl,
		wl.hq,
		wl.zdcgl,
		wl.wlzlbtc,
		jc_wlzlb.cskz1,
		jc_wlzlb.cskz2,
		wl.sscplb,lbjc.cskz1 lbcskz1,
		wl.jszb,wl.zlyq
		FROM
		igams_wlgl wl
		LEFT JOIN matridx_jcsj jc_wlzlb ON wl.wlzlb = jc_wlzlb.csid
		left join matridx_jcsj lbjc on wl.lb = lbjc.csid
		left join (
		<foreach item="item" index="index" collection="ids"
				 separator=" union all ">
			select #{item,jdbcType=VARCHAR} wlid,#{index} ordernum
		</foreach>
		) tmp on tmp.wlid=wl.wlid
		<where>
			wl.scbj !='1'
			<if test="wlid !=null and wlid !=''">
				and wlid = #{wlid}
			</if>
			<if test="ids != null and ids.size>0">
				and wl.wlid in
				<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
		order by tmp.ordernum asc
	</select>
	<!-- 获取物料信息列表通过wlid -->
	<select id="getDtoListByWlid" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid as zjwlid,wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg
		,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.jwlbm,wl.scbj,wl.lb,wl.aqkc,wl.qdl,wl.hq,wl.zdcgl,wl.wlzlbtc,jc_wlzlb.cskz1,jc_wlzlb.cskz2,wl.rf
		<if test="wlid !=null and wlid !=''">
		     ,hwxx.scrq,hwxx.yxq,hwxx.ckid
		</if>
		from igams_wlgl wl
		<if test="wlid !=null and wlid !=''">
			left join igams_hwxx hwxx on hwxx.wlid = wl.wlid
		</if>
		left join matridx_jcsj jc_wlzlb on wl.wlzlb=jc_wlzlb.csid
		<where>
			wl.scbj !='1'
			<if test="wlid !=null and wlid !=''">
				and wl.wlid = #{wlid}
			</if>
			<if test="entire != null and  entire!= ''">
				and (wl.wlmc ILIKE '%'||#{entire}||'%'
				or wl.wlbm ILIKE '%'||#{entire}||'%')
			</if>
		</where>
		<if test="wlid !=null and wlid !=''">
			order by hwxx.lrsj
		</if>
	</select>
	
	<!-- 根据物料ID获取物料信息 -->
	<select id="getDtoById" parameterType="String" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,sfwxp.csmc as sfwxpmc,wl.bz,wl.zt,wl.bzqflg,wl.lb,wl.aqkc,wl.wlzlbtc,zlbtcjc.csmc wlzlbtcmc
				,zlbtcjc.csdm wlzlbtcdm,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.jwlbm,wl.scbj,jc.csmc wllbmc,zlbjc.csmc wlzlbmc,jc.csdm wllbdm,zlbjc.csdm wlzlbdm,lbjc.csmc lbmc,lbjc.csdm lbdm,wl.qdl,wl.hq,sscplb.csmc sscplbmc,wl.sscplb,
				wl.cpzch,case when wl.rf is not null then wl.rf||'份' else '' end rf,lbjc.cskz1 lbcskz1
			from igams_wlgl wl
			left outer join matridx_jcsj jc on wl.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wl.wlzlb = zlbjc.csid
			left outer join matridx_jcsj lbjc on wl.lb = lbjc.csid
			left outer join matridx_jcsj zlbtcjc on wl.wlzlbtc = zlbtcjc.csid
			left outer join matridx_jcsj sscplb on wl.sscplb = sscplb.csid
		    left outer join matridx_jcsj sfwxp on wl.sfwxp = sfwxp.csid
			<where>
				 wl.wlid = #{wlid}
			</where>
	</select>
	
	<!-- 根据物料ID获取物料信息 -->
	<select id="getDto" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg,wl.lb,wl.aqkc,wl.wlzlbtc,zlbjc.cskz1,zlbjc.cskz2
				,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,jc.csmc wllbmc,jc.csdm wllbdm,zlbtcjc.csmc wlzlbtcmc, zlbtcjc.csdm wlzlbtcdm,wl.jwlbm,zlbjc.csmc wlzlbmc,zlbjc.csdm wlzlbdm,wl.scbj,wl.lb,wl.aqkc,jclb.csmc lbmc,jclb.csdm as lbdm,wl.qdl,wl.hq,wl.zdcgl,sscplb.csmc sscplbmc,wl.sscplb,
		(COALESCE(ckhwxx.kcl,0)-COALESCE(ckhwxx.yds,0)) kcl,COALESCE(ckhwxx.yds,0) yds,wl.cpzch,coalesce(tmp.kcl,0) wlkcl,wl.rf
			from igams_wlgl wl
			left outer join (select wlid,sum(COALESCE(kcl,0)) kcl,sum(COALESCE(yds,0)) yds  from igams_ckhwxx ckhwxx group by wlid) ckhwxx on ckhwxx.wlid = wl.wlid
			left outer join matridx_jcsj jc on wl.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wl.wlzlb = zlbjc.csid
			left outer join matridx_jcsj jclb on wl.lb = jclb.csid
			left outer join matridx_jcsj zlbtcjc on wl.wlzlbtc = zlbtcjc.csid
			left outer join matridx_jcsj sscplb on wl.sscplb = sscplb.csid
			left outer join ( SELECT wlid, SUM ( kcl ) kcl FROM
			igams_hwxx hwxx
			LEFT JOIN igams_dhxx dhxx on dhxx.dhid = hwxx.dhid
			LEFT JOIN matridx_jcsj jcsj ON jcsj.csid = dhxx.rklb
			WHERE hwxx.scbj = '0'  AND hwxx.zt = '99' AND hwxx.kcl != 0 AND jcsj.csdm!='cghz'
			<if test="wlid != null and wlid != ''">
				and hwxx.wlid = #{wlid}
			</if>
			GROUP BY
			hwxx.wlid
			) tmp ON tmp.wlid = wl.wlid
			<where>
					wl.scbj!='1'
				<if test="wlid != null and wlid != ''">
					and wl.wlid = #{wlid}
				</if>
				<if test="wlbm !=null and wlbm !=''">
					and wl.wlbm = #{wlbm}
				</if>
			</where>
	</select>
	
	<!-- 获取物料管理的清单 -->
	<select id="getPagedDtoList" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,sfwxp.csmc as sfwxpmc,wl.bz,wl.zt,wl.bzqflg,wl.wlzlbtc
				,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.jwlbm,wl.scbj,wllsb.lsid,yh.zsxm as lrryxm,wl.lb,wl.aqkc,wl.qdl,wl.hq,wl.zdcgl,wl.sscplb,tc.csmc wlzlbtcmc,wl.cpzch,wl.rf,tmp.sscplbmc
			from igams_wlgl wl
			left outer join matridx_xtyh yh on wl.lrry = yh.yhid
			left outer join igams_wlgllsb wllsb on wl.wlid = wllsb.wlid and wllsb.zt in (null,'10')
			left join matridx_jcsj sscplb on wl.sscplb = sscplb.csid
		    left join matridx_jcsj sfwxp on wl.sfwxp = sfwxp.csid
		    left join matridx_jcsj tc on wl.wlzlbtc=tc.csid
			left join (select wlgl.wlid, (select string_agg(cplb.csmc,',') FROM
					( SELECT regexp_split_to_table( wlgl.sscplb, E'[\\s,]+' ) AS sscplb, ROW_NUMBER ( ) OVER ( ) xh ) tt
					left join matridx_jcsj cplb on cplb.csid=tt.sscplb)as sscplbmc from igams_wlgl wlgl
					)tmp on tmp.wlid=wl.wlid
			<where>
				<include refid="SEARCH_TERMST"></include>
			</where>
	</select>
	
	<!--更新物料申请的状态信息-->
	<update id="updateZt" parameterType="WlglModel">
		update igams_wlgl set zt = #{zt,jdbcType=VARCHAR},xgry = #{xgry},xgsj = LOCALTIMESTAMP
		<if test="wlbm != null and wlbm != ''">
			,wlbm = #{wlbm}
		</if>
		<if test="shsj != null and shsj != ''">
			,shsj = LOCALTIMESTAMP
		</if>
		<if test="lb != null and lb != ''">
			,lb = #{lb}
		</if>
		where wlid = #{wlid}
	</update>
	
	<!-- 获取标本申请审核的ID列表 -->
	<select id="getPagedAuditIdList" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid,wl.lrsj
			from igams_wlgl wl
			<where>
				wl.scbj !='1' 
				<if test="wlmc != null and wlmc != ''">
					and wl.wlmc like '%'||#{wlmc}||'%'
				</if>
				<if test="scs != null and scs != ''">
					and wl.scs like '%'||#{scs}||'%'
				</if>
				<if test="zt != null and zt != ''">
					and wl.zt = #{zt}
				</if>
				<if test = "wllbs != null and wllbs.length > 0 "  >
					and wl.wllb in 
					<foreach collection="wllbs" separator="," open="(" close=") "
					item="item" index="index">
						#{item}
					</foreach>
				</if>
				<if test = "wlzlbs != null and wlzlbs.length > 0 "  >
					and wl.wlzlb in 
					<foreach collection="wlzlbs" separator="," open="(" close=") "
					item="item" index="index">
						#{item}
					</foreach>
				</if>
				<if test = "sfwxps != null and sfwxps.length > 0 "  >
					and wl.sfwxp in 
					<foreach collection="sfwxps" separator="," open="(" close=") "
					item="item" index="index">
						#{item}
					</foreach>
				</if>
			</where>
	</select>
	
	<!-- 临时表分页查询-审核列表-->
	<select id="getAuditListByIds" parameterType="List" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg
			,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.scbj,wl.jwlbm,shxx_sqsj,shxx_gwmc,sqr,shxx_lrryxm,shxx_shsj,shxx_sftg,shxx_shxxid,shxx_shyj
			from 
			<foreach collection="list" separator="union" open="(" close=") "
					item="item" index="index">
				select #{item.wlid} wlid,#{item.shxx_shxxid} shxx_shxxid,#{item.shxx_sqsj} shxx_sqsj,#{item.sqr} sqr,#{item.shxx_lrryxm} shxx_lrryxm,#{item.shxx_shsj} shxx_shsj,#{item.shxx_sftg} shxx_sftg,#{item.shxx_gwmc} shxx_gwmc,#{item.shxx_shyj} shxx_shyj,#{index} rownum
			</foreach>
			tmp
			left join igams_wlgl wl on wl.wlid = tmp.wlid 	 
		order by tmp.rownum
	</select>
	
	<select id="getCountForSearchExp"  parameterType="WlglDto" resultType="java.lang.Integer">
		select count(wl.wlid) from igams_wlgl wl
		left outer join matridx_xtyh yh on wl.lrry = yh.yhid
		<where>
			<include refid="SEARCH_TERMS"></include>
		</where>
	</select>
	
	<select id="getListForSearchExp" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid ${sqlParam} from (
		select wl.wlid  
			from igams_wlgl wl
			left outer join matridx_xtyh yh on wl.lrry = yh.yhid
		<where>
			<include refid="SEARCH_TERMS"></include>
		</where>
		LIMIT #{pageSize} OFFSET #{pageStart}
		) t_wl
		left outer join igams_wlgl wl on t_wl.wlid = wl.wlid
		<include refid="OUT_SEARCH_JOINS"></include>
		order by 
		<if test="sortName != null and sortName != ''">
		${sortName} ${sortOrder}
		</if>
		<if test="sortLastName != null and sortLastName != ''">
			,${sortLastName} ${sortLastOrder}
		</if>
	</select>
	
	<select id="getListForSelectExp" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid ${sqlParam} from (
			<foreach item="item" index="index" collection="ids" separator=" union all ">  
			   select #{item,jdbcType=VARCHAR} wlid,#{index} ordernum
			</foreach>
			) tmp
			left outer join igams_wlgl wl on tmp.wlid = wl.wlid
			<include refid="OUT_SEARCH_JOINS"></include>
		order by tmp.ordernum
	</select>
	<!-- 通过wlid查询物料表，返回一个wllsbDto-->
	<select id="selectWllsbDtoByWlid" parameterType="String" resultType="WlgllsbDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg
			,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.scbj,wl.jwlbm,jc.csmc wllbmc,zlbjc.csmc wlzlbmc,zlbjc.csdm wlzlbdm,wl.qdl,wl.hq,wl.wlzlbtc,zlbtcjc.csmc wlzlbtcmc,wl.cpzch,wl.rf
			from igams_wlgl wl
			left outer join matridx_jcsj jc on wl.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wl.wlzlb = zlbjc.csid
			left outer join matridx_jcsj zlbtcjc on wl.wlzlbtc = zlbtcjc.csid
			where wl.scbj !='1' and wl.wlid = #{wlid}
	</select>
	<!-- 模糊查询物料信息-->
	<select id="selectSameMater" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg,wl.wlzlbtc
			,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.scbj,wl.jwlbm,jc.csmc wllbmc,zlbjc.csmc wlzlbmc,zlbjc.csdm wlzlbdm
			from igams_wlgl wl
			left outer join matridx_jcsj jc on wl.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wl.wlzlb = zlbjc.csid
			where wl.scbj !='1' 
				<if test="gg != null and gg != ''">
					and wl.gg like '%'||#{gg}||'%'
				</if>
				<if test="wlmc != null and wlmc != ''">
					and wl.wlmc like '%'||#{wlmc}||'%'
				</if>
			limit 1
	</select>
	
	<!-- 根据查询条件模糊查询物料信息 -->
	<select id="selectWl" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg,wl.wlzlbtc
			,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.scbj,wl.jwlbm,jc.csmc wllbmc,zlbjc.csmc wlzlbmc,zlbjc.csdm wlzlbdm,coalesce(tmp.kcl,0) wlkcl,wl.cpzch
			from igams_wlgl wl
			left outer join matridx_jcsj jc on wl.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wl.wlzlb = zlbjc.csid
			left outer join ( SELECT wlid, SUM ( kcl ) kcl FROM
			igams_hwxx hwxx
			LEFT JOIN igams_dhxx dhxx on dhxx.dhid = hwxx.dhid
			LEFT JOIN matridx_jcsj jcsj ON jcsj.csid = dhxx.rklb
			WHERE hwxx.scbj = '0'  AND hwxx.zt = '99' AND hwxx.kcl != 0 AND jcsj.csdm!='cghz'
			GROUP BY
			hwxx.wlid
			) tmp ON tmp.wlid = wl.wlid
			where wl.scbj ='0'
			<if test="entire != null and  entire!= ''">
				and (wl.wlmc ILIKE '%'||#{entire}||'%'
					or wl.wlbm ILIKE '%'||#{entire}||'%'
				)
			</if>
	</select>
	
	<!-- 新增或修改物料信息 -->
	<update id="insertOrUpdateWlgl" parameterType="WlglDto">
		insert into igams_wlgl(wlid,wllb
		<if test="wlzlb !=null and wlzlb != ''">
			,wlzlb
		</if>
		<if test="wlbm !=null and wlbm != ''">
			,wlbm
		</if>
		<if test="wlmc !=null and wlmc != ''">
			,wlmc
		</if>
		<if test="dlgys !=null and dlgys != ''">
			,dlgys
		</if>
		<if test="scs !=null and scs != ''">
			,scs
		</if>
		<if test="ychh !=null and ychh != ''">
			,ychh
		</if>
		<if test="gg !=null and gg != ''">
			,gg
		</if>
		<if test="jldw !=null and jldw != ''">
			,jldw
		</if>
		<if test="bctj !=null and bctj != ''">
			,bctj
		</if>
		<if test="bzq !=null and bzq != ''">
			,bzq
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			,bzqflg
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			,sfwxp
		</if>
		<if test="bz !=null and bz != ''">
			,bz
		</if>
		<if test="shsj !=null and shsj != ''">
			,shsj
		</if>
		<if test="zt !=null and zt != ''">
			,zt
		</if>
		<if test="jwlbm !=null and jwlbm != ''">
			,jwlbm
		</if>
		<if test="lb !=null and lb != ''">
			,lb
		</if>
		<if test="aqkc !=null and aqkc != ''">
			,aqkc
		</if>
		<if test="qdl !=null and qdl != ''">
			,qdl
		</if>
		<if test="hq !=null and hq != ''">
			,hq
		</if>
		<if test="zdcgl !=null and zdcgl != ''">
			,zdcgl
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			,wlzlbtc
		</if>
		,lrry,lrsj,scbj) values(#{wlid},#{wllb}
		<if test="wlzlb !=null and wlzlb != ''">
			,#{wlzlb}
		</if>
		<if test="wlbm !=null and wlbm != ''">
			,#{wlbm}
		</if>
		<if test="wlmc !=null and wlmc != ''">
			,#{wlmc}
		</if>
		<if test="dlgys !=null and dlgys != ''">
			,#{dlgys}
		</if>
		<if test="scs !=null and scs != ''">
			,#{scs}
		</if>
		<if test="ychh !=null and ychh != ''">
			,#{ychh}
		</if>
		<if test="gg !=null and gg != ''">
			,#{gg}
		</if>
		<if test="jldw !=null and jldw != ''">
			,#{jldw}
		</if>
		<if test="bctj !=null and bctj != ''">
			,#{bctj}
		</if>
		<if test="bzq !=null and bzq != ''">
			,#{bzq}
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			,#{bzqflg}
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			,#{sfwxp}
		</if>
		<if test="bz !=null and bz != ''">
			,#{bz}
		</if>
		<if test="shsj !=null and shsj != ''">
			,LOCALTIMESTAMP
		</if>
		<if test="zt !=null and zt !=''">
			,#{zt}
		</if>
		<if test="jwlbm !=null and jwlbm !=''">
			,#{jwlbm}
		</if>
		<if test="lb !=null and lb != ''">
			,#{lb}
		</if>
		<if test="aqkc !=null and aqkc != ''">
			,cast(#{aqkc} as numeric)
		</if>
		<if test="qdl !=null and qdl != ''">
			,#{qdl}
		</if>
		<if test="hq !=null and hq != ''">
			,cast(#{hq} as numeric)
		</if>
		<if test="zdcgl !=null and zdcgl != ''">
			,cast(#{zdcgl} as numeric)
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			,#{wlzlbtc}
		</if>
		,#{lrry},LOCALTIMESTAMP,'0')
		on conflict (wlid) 
		do update set
			<if test="wllb !=null and wllb != ''">
			wllb = #{wllb},
		</if>
		<if test="wlzlb !=null and wlzlb != ''">
			wlzlb = #{wlzlb},
		</if>
		<if test="wlbm !=null and wlbm != ''">
			wlbm = #{wlbm},
		</if>
		<if test="wlmc !=null and wlmc != ''">
			wlmc = #{wlmc},
		</if>
		<if test="dlgys !=null and dlgys != ''">
			dlgys = #{dlgys},
		</if>
		<if test="scs !=null and scs != ''">
			scs = #{scs},
		</if>
		<if test="ychh !=null and ychh != ''">
			ychh = #{ychh},
		</if>
		<if test="gg !=null and gg != ''">
			gg = #{gg},
		</if>
		<if test="jldw !=null and jldw != ''">
			jldw = #{jldw},
		</if>
		<if test="bctj !=null and bctj != ''">
			bctj = #{bctj},
		</if>
		<if test="bzq !=null and bzq != ''">
			bzq = #{bzq},
		</if>
		<if test="bzqflg !=null and bzqflg != ''">
			bzqflg = #{bzqflg},
		</if>
		<if test="sfwxp !=null and sfwxp != ''">
			sfwxp = #{sfwxp},
		</if>
		<if test="bz !=null and bz != ''">
			bz = #{bz},
		</if>
		<if test="shsj !=null and shsj != ''">
			shsj = LOCALTIMESTAMP,
		</if>
		<if test="zt !=null and zt != ''">
			zt = #{zt},
		</if>
		<if test="jwlbm !=null and jwlbm != ''">
			jwlbm = #{jwlbm},
		</if>
		<if test="lb !=null and lb != ''">
			lb = #{lb},
		</if>
		<if test="aqkc !=null and aqkc != ''">
			aqkc = cast(#{aqkc} as numeric),
		</if>
		<if test="zdcgl !=null and zdcgl != ''">
			zdcgl = cast(#{zdcgl} as numeric),
		</if>
		<if test="scbj !=null and scbj != ''">
			scbj = #{scbj},
		</if>
		<if test="qdl !=null and qdl != ''">
			qdl = #{qdl},
		</if>
		<if test="hq !=null and hq != ''">
			hq = cast(#{hq} as numeric),
		</if>
		<if test="wlzlbtc !=null and wlzlbtc != ''">
			wlzlbtc = #{wlzlbtc},
		</if>
		xgry = #{xgry},xgsj = LOCALTIMESTAMP
	</update>
	
	<!-- 根据物料ID获取物料信息 -->
	<select id="getDtosByIds" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg,wl.lb,wl.aqkc,wl.wlzlbtc
				,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,jc.csmc wllbmc,wl.jwlbm,zlbjc.csmc wlzlbmc,zlbjc.csdm wlzlbdm,wl.scbj,wl.lb,wl.aqkc,jclb.csmc lbmc,wl.qdl,wl.hq,wl.zdcgl
				,zlbtc.csmc wlzlbtcmc,coalesce(tmp.kcl,0) wlkcl,wl.cpzch
			from igams_wlgl wl
			left outer join matridx_jcsj jc on wl.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wl.wlzlb = zlbjc.csid
			left outer join matridx_jcsj jclb on wl.lb = jclb.csid
			left outer join matridx_jcsj zlbtc on zlbtc.csid = wl.wlzlbtc
			left outer join ( SELECT wlid, SUM ( kcl ) kcl FROM
			igams_hwxx hwxx
			LEFT JOIN igams_dhxx dhxx on dhxx.dhid = hwxx.dhid
			LEFT JOIN matridx_jcsj jcsj ON jcsj.csid = dhxx.rklb
			WHERE hwxx.scbj = '0'  AND hwxx.zt = '99' AND hwxx.kcl != 0 AND jcsj.csdm!='cghz'
			GROUP BY
			hwxx.wlid
			) tmp ON tmp.wlid = wl.wlid
			<where>
					wl.scbj!='1'
					and wlbm in
					<foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
						#{item}
					</foreach>
			</where>
	</select>
	
	<!-- 根据物料ID获取物料信息 -->
	<select id="getNullRequiredDtos" parameterType="List" resultType="WlglDto">
		select wl.wlid
			from igams_wlgl wl
			<where>
				wlid in
				<foreach collection="list" separator="," open="(" close=") "
						item="item" index="index">
					 #{item.ywid} 
				</foreach>
				and (wllb is null or wlzlb is null or wlmc is null or scs is null
				or ychh is null or gg is null or jldw is null or bctj is null or bzq is null or sfwxp is null)
			</where>
	</select>
	
	<!-- 根据物料id获取物料基本信息 -->
	<select id="getWlglDtoListByDtos" parameterType="List" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg,wl.lb,wl.aqkc,wl.wlzlbtc
				,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,jc.csmc wllbmc,wl.jwlbm,zlbjc.csmc wlzlbmc,zlbjc.csdm wlzlbdm,wl.scbj,wl.lb,wl.aqkc,jclb.csmc lbmc,wl.qdl,wl.hq,wl.zdcgl
			from igams_wlgl wl
			left outer join matridx_jcsj jc on wl.wllb = jc.csid
			left outer join matridx_jcsj zlbjc on wl.wlzlb = zlbjc.csid
			left outer join matridx_jcsj jclb on wl.lb = jclb.csid
			<where>
				wl.scbj!='1'
				and wl.wlid in 
				<foreach collection="list" separator="," index="index" close=")" open="(" item="item">
					#{item}
				</foreach>
			</where>
	</select>
	
	<!-- 获取物料管理的清单 -->
	<select id="getWlgl" parameterType="WlglDto" resultType="WlglDto">
		select wl.wlid,wl.wlbm,wl.wllb,wl.wlzlb,wl.wlmc,wl.dlgys,wl.scs,wl.ychh,wl.gg,wl.jldw,wl.bctj,wl.bzq,wl.sfwxp,wl.bz,wl.zt,wl.bzqflg,wl.wlzlbtc
				,wl.lrry,wl.lrsj,wl.xgry,wl.xgsj,wl.jwlbm,wl.scbj,wllsb.lsid,yh.zsxm as lrryxm,wl.lb,wl.aqkc,wl.qdl,wl.hq,wl.zdcgl,sscplb.csmc sscplbmc,wl.sscplb
			from igams_wlgl wl
			left outer join matridx_xtyh yh on wl.lrry = yh.yhid
			left outer join igams_wlgllsb wllsb on wl.wlid = wllsb.wlid and wllsb.zt in (null,'10')
			left join matridx_jcsj sscplb on wl.sscplb = sscplb.csid
			<where>
				<include refid="SEARCH_TERMS"></include>
			</where>
			order by wl.lrsj DESC
			limit 15
	</select>
	
	<!-- 通过wlbm获取wlid -->
	<select id="getWlidByWlbm" parameterType="String" resultType="WlglDto">
	    select  wlgl.wlbm, wlgl.wlid , qgmx.qgid,  qggl.xmbm, qggl.xmdl
		from igams_wlgl wlgl
		left join igams_qgmx qgmx on wlgl.wlid =  qgmx.wlid and qgmx.scbj='0'
		left join igams_qggl qggl on qgmx.qgid = qggl.qgid and qggl.scbj='0'
		<where>
		    wlgl.wlbm = #{wlbm} and wlgl.scbj!='1'
		</where>
		limit 1
	</select>
	<select id="queryByWlid" parameterType="WlglDto" resultType="WlglDto">
		select wlgl.wlmc,wlgl.wlbm,wlgl.jwlbm,jc.csmc as wllbmc,zlbjc.csmc as wlzlbmc,zlbtc.csmc as wlzlbtcmc ,jclb.csmc as lbmc,wlgl.scs,wlgl.ychh,
		wlgl.gg,wlgl.jldw,wlgl.bctj,wlgl.bzq,wlgl.sfwxp,wlgl.qdl,wlgl.hq,wlgl.aqkc,wlgl.zt as syzt,sscplb.csmc as sscplb,wlgl.bz
		from igams_wlgl wlgl
		left outer join matridx_jcsj jc on wlgl.wllb = jc.csid
		left outer join matridx_jcsj zlbjc on wlgl.wlzlb = zlbjc.csid
		left outer join matridx_jcsj jclb on wlgl.lb = jclb.csid
		left outer join matridx_jcsj zlbtc on wlgl.wlzlbtc=zlbtc.csid
		left outer join matridx_jcsj sscplb on wlgl.sscplb = sscplb.csid
		WHERE wlgl.wlid=#{wlid} and wlgl.scbj!='1'
	</select>
	<select id="queryByWllxByWlids" parameterType="WlglDto" resultType="WlglDto">
		select sbys.sfgz,jcsj.csdm lbdm,wlgl.wlid,jcsj.cskz1,wlgl.wlbm
		from igams_wlgl wlgl
		left join igams_hwxx hwxx on hwxx.wlid = wlgl.wlid
		left join igams_sbys sbys on sbys.sbysid = hwxx.sbysid
		LEFT JOIN matridx_jcsj jcsj on wlgl.lb = jcsj.csid
		WHERE wlgl.scbj!='1' and wlgl.wlid in
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
		group by sbys.sfgz,jcsj.csdm,wlgl.wlid,jcsj.cskz1,wlgl.wlbm
	</select>
	<select id="selectBiggestHq" parameterType="String" resultType="String">
		select coalesce(round(cast(date_part('day',dhxx.dhrq-qggl.shsj)as numeric ),0),'0') hq,htgl.htnbbh
		from igams_dhxx dhxx
		left join igams_hwxx hwxx on hwxx.dhid=dhxx.dhid and hwxx.scbj='0'
		left join igams_qgmx qgmx on qgmx.qgmxid=hwxx.qgmxid and qgmx.scbj='0'
		left join igams_qggl qggl on qggl.qgid=qgmx.qgid
		left join igams_htmx htmx on htmx.htmxid=hwxx.htmxid and htmx.scbj='0'
		left join igams_htgl htgl on htgl.htid=htmx.htid
		left join igams_gysxx gysxx on gysxx.gysid=htgl.gys and gysxx.scbj!='1'
		where  qggl.shsj is not null
		and dhxx.scbj='0' AND hwxx.wlid = #{wlid}
		order by hq
		desc limit 1
	</select>

	<select id="queryByGrsz" parameterType="WlglDto" resultType="WlglDto">
		select grsz.szid,tmp.cksl,tmpt.kcl,wl.wlid,wl.wlbm,wl.wlmc,wl.gg,wl.scs,wl.jldw
		from matridx_grsz grsz
		left join igams_wlgl wl on wl.wlid=grsz.szz
		left join (select sum(ckmx.cksl) as cksl,hwxx.wlid
			from igams_ckmx ckmx
			left join igams_ckgl ckgl on ckgl.ckid=ckmx.ckid
			left join igams_hwxx hwxx on hwxx.hwid=ckmx.hwid
			where ckmx.scbj='0' and ckgl.scbj='0' and ckgl.ckrq>=current_date - INTERVAL '2 month'
			group by hwxx.wlid
		)tmp on tmp.wlid = wl.wlid
		left join (select sum(kcl) as kcl,wlid
			from igams_ckhwxx
			group by wlid
		)tmpt on tmpt.wlid=wl.wlid
		where grsz.scbj='0' and grsz.szlb='MATERIAL_SELECT' and wl.scbj='0'
		and grsz.yhid=#{yhid}
	</select>

	<select id="queryByIds" parameterType="WlglDto" resultType="WlglDto">
		select tmp.cksl,tmpt.kcl,wl.wlid,wl.wlbm,wl.wlmc,wl.gg
		from igams_wlgl wl
		left join (select sum(ckmx.cksl) as cksl,hwxx.wlid
		from igams_ckmx ckmx
		left join igams_ckgl ckgl on ckgl.ckid=ckmx.ckid
		left join igams_hwxx hwxx on hwxx.hwid=ckmx.hwid
		where ckmx.scbj='0' and ckgl.scbj='0' and ckgl.ckrq>=current_date - INTERVAL '2 month'
		group by hwxx.wlid
		)tmp on tmp.wlid = wl.wlid
		left join (select sum(kcl) as kcl,wlid
		from igams_ckhwxx
		group by wlid
		)tmpt on tmpt.wlid=wl.wlid
		where wl.scbj='0'
		<if test="ids != null and ids.size>0">
			and wl.wlid in
			<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</select>
</mapper>
