<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.post.IYxhtDao" >
    <sql id="selectWhere">
        where yxht.scbj!='1'
        <if test="entire!=null and entire!=''">
            and (yxht.htbh ILIKE '%'||#{entire}||'%'
            or ywy.zsxm ILIKE '%'||#{entire}||'%'
            or khgl.khmc ILIKE '%'||#{entire}||'%'
            or yxht.zd ILIKE '%'||#{entire}||'%'
            or yxht.htzk ILIKE '%'||#{entire}||'%'
            or xsgl.oaxsdh ILIKE '%'||#{entire}||'%'
            or xsgl.u8xsdh ILIKE '%'||#{entire}||'%'
            or llgl.lldh ILIKE '%'||#{entire}||'%'
            or jcjygl.jydh ILIKE '%'||#{entire}||'%'
            or jcjygl.u8jydh ILIKE '%'||#{entire}||'%'
            or jcghgl.ghdh ILIKE '%'||#{entire}||'%'
            or jcghgl.u8ghdh ILIKE '%'||#{entire}||'%'
            or yxht.htzt ILIKE '%'||#{entire}||'%'
            or htjbr.zsxm ILIKE '%'||#{entire}||'%'
            or htjbbm.jgmc ILIKE '%'||#{entire}||'%'
            or yxht.htgsbm ILIKE '%'||#{entire}||'%')
        </if>
        <if test="htzt!=null and htzt!=''">
            and yxht.htzt ILIKE '%'||#{htzt}||'%'
        </if>
        <if test="htjbrmc!=null and htjbrmc!=''">
            and htjbr.zsxm ILIKE '%'||#{htjbrmc}||'%'
        </if>
        <if test="htjbbmmc!=null and htjbbmmc!=''">
            and htjbbm.jgmc ILIKE '%'||#{htjbbmmc}||'%'
        </if>
        <if test="htgsbm!=null and htgsbm!=''">
            and yxht.htgsbm ILIKE '%'||#{htgsbm}||'%'
        </if>
        <if test="htbh!=null and htbh!=''">
            and yxht.htbh ILIKE '%'||#{htbh}||'%'
        </if>
        <if test="ssywymc!=null and ssywymc!=''">
            and ywy.zsxm ILIKE '%'||#{ssywymc}||'%'
        </if>
        <if test="khmc!=null and khmc!=''">
            and khgl.khmc ILIKE '%'||#{khmc}||'%'
        </if>
        <if test="zd!=null and zd!=''">
            and yxht.zd ILIKE '%'||#{zd}||'%'
        </if>
        <if test="htzk!=null and htzk!=''">
            and yxht.htzk ILIKE '%'||#{htzk}||'%'
        </if>
        <if test="oaxsdh!=null and oaxsdh!=''">
            and xsgl.oaxsdh ILIKE '%'||#{oaxsdh}||'%'
        </if>
        <if test="u8xsdh!=null and u8xsdh!=''">
            and xsgl.u8xsdh ILIKE '%'||#{u8xsdh}||'%'
        </if>
        <if test="lldh!=null and lldh!=''">
            and llgl.lldh ILIKE '%'||#{lldh}||'%'
        </if>
        <if test="jydh!=null and jydh!=''">
            and jcjygl.jydh ILIKE '%'||#{jydh}||'%'
        </if>
        <if test="u8jydh!=null and u8jydh!=''">
            and jcjygl.u8jydh ILIKE '%'||#{u8jydh}||'%'
        </if>
        <if test="ghdh!=null and ghdh!=''">
            and jcghgl.ghdh ILIKE '%'||#{ssywymc}||'%'
        </if>
        <if test="u8ghdh!=null and u8ghdh!=''">
            and jcghgl.u8ghdh ILIKE '%'||#{u8ghdh}||'%'
        </if>
        <if test = "htqdzts != null and htqdzts.length > 0 "  >
            and yxht.htqdzt in
            <foreach collection="htqdzts" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "htzts != null and htzts.length > 0 "  >
            and (
                1=2
            <foreach collection="htzts" item="item" index="index">
                <if test="item=='0'.toString()">
                    or ((current_date + INTERVAL '3 months') >= yxht.dqrq and yxht.dqrq >= current_date)
                </if>
                <if test="item=='1'.toString()">
                    or current_date > yxht.dqrq
                </if>
            </foreach>
            )
        </if>
        <if test = "htlxs != null and htlxs.length > 0 "  >
            and htlx.csid in
            <foreach collection="htlxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "khlxs != null and khlxs.length > 0 "  >
            and khlx.csid in
            <foreach collection="khlxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "htqxs != null and htqxs.length > 0 "  >
            and yxht.htqx in
            <foreach collection="htqxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "szbjs != null and szbjs.length > 0 "  >
            and yxht.szht in
            <foreach collection="szbjs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "sfjhs != null and sfjhs.length > 0 "  >
            and yxht.sfjh in
            <foreach collection="sfjhs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "xslxs != null and xslxs.length > 0 "  >
            and yxht.xslb in
            <foreach collection="xslxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "yxhtlxs != null and yxhtlxs.length > 0 "  >
            and yxht.yxhtlx in
            <foreach collection="yxhtlxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "yzlbs != null and yzlbs.length > 0 "  >
            and yxht.yzlb in
            <foreach collection="yzlbs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="htrqstart!=null and htrqstart!=''">
            and to_char(yxht.htrq,'yyyy-mm-dd') &gt;=#{htrqstart}
        </if>
        <if test="htrqend!=null and htrqend!=''">
            and to_char(yxht.htrq,'yyyy-mm-dd') &lt;=#{htrqend}
        </if>
        <if test="htjemin!=null and htjemin!=''">
            and yxht.htje &gt;= cast(#{htjemin} as decimal )
        </if>
        <if test="htjemax!=null and htjemax!=''">
            and yxht.htje &lt;=cast(#{htjemax} as decimal )
        </if>
    </sql>
    <select id="selectHtqxList" resultType="yxhtDto">
        select htqx
        from igams_yxht
        where scbj='0' and htqx is not null
        group by htqx
    </select>
    <select id="getPagedDtoList" parameterType="yxhtDto" resultType="yxhtDto">
    select yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm ssywymc,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc htlxmc,case when yxht.htqx is not null then yxht.htqx else cast(yxht.dqrq as VARCHAR) end as htqx,
    yxht.hkfs,yxht.szht,htfxcd.csmc htfxcdmc,yxht.htfxcd,yxht.xslb,xslx.csmc xslbmc,yxht.htyjxx,yxht.bz,yxht.zt,khlx.csmc khlxmc,yzlb.csmc yzlxmc
    ,hkfs.csmc hkfsmc,khgl.khjc,khgl.khid,yxht.htsl,yxht.htzt,yxht.htjbr,yxht.htjbbm,yxht.htgsbm,htjbr.zsxm htjbrmc,htjbbm.jgmc htjbbmmc,yxht.htqdzt,yxht.scbj
    ,yxhtlx.csmc as yxhtlxmc,case when ((current_date + INTERVAL '3 months') >= yxht.dqrq  and yxht.dqrq >= current_date) then '0' when current_date > yxht.dqrq then '1' end as ht_zt,yxht.sfjh
    from igams_yxht yxht
    left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
    left join matridx_xtyh htjbr on htjbr.yhid=yxht.htjbr
    left join matridx_jgxx htjbbm on htjbbm.jgid=yxht.htjbbm
    left join igams_khgl khgl on khgl.khid=yxht.khid
    left join matridx_jcsj htlx on htlx.csid=yxht.htlx
    left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
    left join matridx_jcsj xslx on xslx.csid=yxht.xslb
    left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
    left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
    left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
    left join matridx_jcsj yxhtlx on yxhtlx.csid=yxht.yxhtlx
    <if test="(entire!=null and entire!='')or(oaxsdh!=null and oaxsdh!='')or(u8xsdh!=null and u8xsdh!='')or(lldh!=null and lldh!='')
or(jydh!=null and jydh!='')or(u8jydh!=null and u8jydh!='')or(ghdh!=null and ghdh!='')or(u8ghdh!=null and u8ghdh!='')">
    left join igams_xsgl xsgl on xsgl.htdh=yxht.htid
    left join igams_xsmx xsmx on xsmx.xsid=xsgl.xsid
    left join igams_jcjyxx jcjyxx on jcjyxx.jyxxid=xsmx.jyxxid
    left join igams_jcjygl jcjygl on jcjygl.jcjyid=jcjyxx.jyxxid
    left join igams_llgl llgl on llgl.htdh=yxht.htid
    left join igams_jcghgl jcghgl on jcghgl.jcjyid=jcjygl.jcjyid
    </if>
    <include refid="selectWhere"></include>
    <if test="(entire!=null and entire!='')or(oaxsdh!=null and oaxsdh!='')or(u8xsdh!=null and u8xsdh!='')or(lldh!=null and lldh!='')
or(jydh!=null and jydh!='')or(u8jydh!=null and u8jydh!='')or(ghdh!=null and ghdh!='')or(u8ghdh!=null and u8ghdh!='')">
    group by yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc,yxht.htqx,
        yxht.hkfs,yxht.szht,htfxcd.csmc,yxht.htfxcd,yxht.xslb,xslx.csmc,yxht.htyjxx,yxht.bz,yxht.zt,khlx.csmc,yzlb.csmc,hkfs.csmc,khgl.khjc,khgl.khid
        ,yxht.htsl,yxht.htzt,yxht.htjbr,yxht.htjbbm,yxht.htgsbm,htjbr.zsxm,htjbbm.jgmc,yxht.htqdzt,yxhtlx.csmc
    </if>
    </select>
    <select id="getDtoById" resultType="yxhtDto" parameterType="String">
    select yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm ssywymc,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc htlxmc,yxht.htqx,yxht.dqrq,
    yxht.hkfs,yxht.szht,htfxcd.csmc htfxcdmc,yxht.htfxcd,yxht.xslb,xslx.csmc xslbmc,yxht.htyjxx,yxht.bz,yxht.zt,yxht.htmc,khlx.csmc khlxmc,yzlb.csmc yzlxmc,
    yxht.yzlb,yxht.khid,khgl.khjc,yzlb.csmc yzlbmc,yxht.ddslid,hkfs.csmc hkfsmc,khgl.khid,ywy.ddid ywyddid,jg.jgid,yxht.zsld,yxht.ddslid,yxht.htsl,yxht.htzt,yxht.htjbr,yxht.htjbbm,yxht.htgsbm,htjbr.zsxm htjbrmc,htjbbm.jgmc htjbbmmc
    ,yxht.htqdzt,yxhtlx.csmc as yxhtlxmc,yxht.yxhtlx,yxhtlx.csdm as yxhtlxdm,htlx.csdm as htlxdm,case when yxht.htqx is not null then '1' else '0' end as dqrqflg
    from igams_yxht yxht
    left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
    left join matridx_xtyh htjbr on htjbr.yhid=yxht.htjbr
    left join matridx_jgxx htjbbm on htjbbm.jgid=yxht.htjbbm
    left join igams_khgl khgl on khgl.khid=yxht.khid
    left join matridx_jcsj htlx on htlx.csid=yxht.htlx
    left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
    left join matridx_jcsj xslx on xslx.csid=yxht.xslb
    left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
    left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
    left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
    left outer join matridx_yhssjg ssjg on yxht.lrry = ssjg.yhid
    left outer join matridx_jgxx jg on jg.jgid=ssjg.jgid
    left join matridx_jcsj yxhtlx on yxhtlx.csid=yxht.yxhtlx
    <where>
        yxht.htid=#{htid}
    </where>
    </select>

    <select id="getDtoList" resultType="yxhtDto" parameterType="yxhtDto">
    select yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm ssywymc,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc htlxmc,yxht.htqx,
    yxht.hkfs,yxht.szht,htfxcd.csmc htfxcdmc,yxht.htfxcd,yxht.xslb,xslx.csmc xslbmc,yxht.htyjxx,yxht.bz,yxht.zt,yxht.htmc,khlx.csmc khlxmc,yzlb.csmc yzlxmc,
    yxht.yzlb,yxht.khid,khgl.khjc,yzlb.csmc yzlbmc,yxht.ddslid,hkfs.csmc hkfsmc,khgl.khid,ywy.ddid ywyddid,jg.jgid,yxht.zsld,yxht.ddslid
    from igams_yxht yxht
    left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
    left join igams_khgl khgl on khgl.khid=yxht.khid
    left join matridx_jcsj htlx on htlx.csid=yxht.htlx
    left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
    left join matridx_jcsj xslx on xslx.csid=yxht.xslb
    left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
    left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
    left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
    left outer join matridx_yhssjg ssjg on yxht.lrry = ssjg.yhid
    left outer join matridx_jgxx jg on jg.jgid=ssjg.jgid
    <where>
        yxht.scbj='0' and
        yxht.htid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </where>
    </select>
    <select id="getDtoByDdslid" resultType="YxhtDto" parameterType="String">
    select yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm ssywymc,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc htlxmc,yxht.htqx,
    yxht.hkfs,yxht.szht,htfxcd.csmc htfxcdmc,yxht.htfxcd,yxht.xslb,xslx.csmc xslbmc,yxht.htyjxx,yxht.bz,yxht.zt,yxht.htmc,khlx.csmc khlxmc,yzlb.csmc yzlxmc,
    yxht.yzlb,yxht.khid,khgl.khjc,yzlb.csmc yzlbmc
    from igams_yxht yxht
    left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
    left join igams_khgl khgl on khgl.khid=yxht.khid
    left join matridx_jcsj htlx on htlx.csid=yxht.htlx
    left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
    left join matridx_jcsj xslx on xslx.csid=yxht.xslb
    left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
    left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
    <where>
        yxht.ddslid=#{ddslid} and yxht.scbj='0'
    </where>
    </select>
    <!-- 获取审批人角色 -->
    <select id="getSprjsBySprid" parameterType="String" resultType="YxhtDto">
        select yhjs.jsid as sprjsid,xtjs.jsmc as sprjsmc
        from matridx_yhjs yhjs
        left join matridx_xtjs xtjs on xtjs.jsid=yhjs.jsid
        <where>
            yhjs.yhid=#{sprid}
        </where>
    </select>
    <update id="updateDdslidToNull" parameterType="YxhtDto">
        update igams_yxht set ddslid=null
        <where>
            htid=#{htid}
        </where>
    </update>
    <select id="getListByHtbh" parameterType="YxhtDto" resultType="YxhtDto">
        select yxht.htid,yxht.htbh
        from igams_yxht yxht
        <where>
            yxht.scbj ='0'
            <if test="htbh != null and htbh != ''">
                and yxht.htbh = #{htbh}
            </if>
            <if test="htid != null and htid != ''">
                and yxht.htid != #{htid}
            </if>
        </where>
    </select>
    <select id="getInfoByZsld" parameterType="YxhtDto" resultType="YxhtDto">
        SELECT
            xtyh.yhid,
            xtyh.ddid,
            xtyh.zsxm
        FROM
            matridx_xtyh xtyh
                LEFT JOIN (
                SELECT
                    yhid,
                    ROW_NUMBER ( ) OVER ( ) xh
                FROM
                    ( SELECT regexp_split_to_table( #{zsld}, E'[\\s,]+' ) AS yhid, ROW_NUMBER ( ) OVER ( ) xh ) tt
            ) yh ON yh.yhid = xtyh.yhid
        WHERE
            xtyh.scbj = '0'
          AND yh.yhid IS NOT NULL ORDER BY yh.xh ASC
    </select>
    <select id="getDhByHtIds" parameterType="YxhtDto" resultType="YxhtDto">
        SELECT
            string_agg ( DISTINCT xsgl.oaxsdh, ',' ) oaxsdh,
            string_agg ( DISTINCT llgl.lldh, ',' ) lldh,
            string_agg ( DISTINCT jcjygl.jydh, ',' ) jydh,
            yxht.htbh
        FROM
            igams_yxht yxht
                LEFT JOIN igams_xsgl xsgl ON xsgl.htdh = yxht.htid and xsgl.scbj ='0'
                LEFT JOIN igams_llgl llgl ON llgl.htdh = yxht.htid and llgl.scbj ='0'
                LEFT JOIN igams_jcjygl jcjygl ON jcjygl.htbh = yxht.htid and jcjygl.scbj ='0'
        WHERE
            yxht.htid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        GROUP BY
            yxht.htbh
    </select>
    <delete id="delete" parameterType="YxhtDto">
        update igams_yxht set scbj =#{scbj} , scry = #{scry}
        <if test="htqdzt !=null and htqdzt != ''">
            ,htqdzt = #{htqdzt}
        </if>
        where htid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>
    <!-- 新增合同信息 -->
    <insert id="insert" parameterType="YxhtDto">
        insert into igams_yxht(htid
        <if test="htbh !=null and htbh != ''">
            ,htbh
        </if>
        <if test="htmc !=null and htmc != ''">
            ,htmc
        </if>
        <if test="htrq !=null and htrq != ''">
            ,htrq
        </if>
        <if test="ssywy !=null and ssywy != ''">
            ,ssywy
        </if>
        <if test="khid !=null and khid != ''">
            ,khid
        </if>
        <if test="zd !=null and zd != ''">
            ,zd
        </if>
        <if test="htje !=null and htje != ''">
            ,htje
        </if>
        <if test="htzk !=null and htzk != ''">
            ,htzk
        </if>
        <if test="htlx !=null and htlx != ''">
            ,htlx
        </if>
        <if test="htqx !=null and htqx != ''">
            ,htqx
        </if>
        <if test="hkfs !=null and hkfs != ''">
            ,hkfs
        </if>
        <if test="szht !=null and szht != ''">
            ,szht
        </if>
        <if test="htfxcd !=null and htfxcd != ''">
            ,htfxcd
        </if>
        <if test="xslb !=null and xslb != ''">
            ,xslb
        </if>
        <if test="yzlb !=null and yzlb != ''">
            ,yzlb
        </if>
        <if test="htyjxx !=null and htyjxx != ''">
            ,htyjxx
        </if>
        <if test="bz !=null and bz != ''">
            ,bz
        </if>
        <if test="zt !=null and zt != ''">
            ,zt
        </if>
        <if test="zsld !=null and zsld != ''">
            ,zsld
        </if>
        <if test="htsl !=null and htsl != ''">
            ,htsl
        </if>
        <if test="htzt !=null and htzt != ''">
            ,htzt
        </if>
        <if test="htjbr !=null and htjbr != ''">
            ,htjbr
        </if>
        <if test="htjbbm !=null and htjbbm != ''">
            ,htjbbm
        </if>
        <if test="htgsbm !=null and htgsbm != ''">
            ,htgsbm
        </if>
        <if test="htqdzt !=null and htqdzt != ''">
            ,htqdzt
        </if>
        <if test="yxhtlx !=null and yxhtlx != ''">
            ,yxhtlx
        </if>
        ,lrry,lrsj,scbj,sfjh) values(#{htid}
        <if test="htbh !=null and htbh != ''">
            ,#{htbh}
        </if>
        <if test="htmc !=null and htmc != ''">
            ,#{htmc}
        </if>
        <if test="htrq !=null and htrq != ''">
            ,cast(#{htrq} as date)
        </if>
        <if test="ssywy !=null and ssywy != ''">
            ,#{ssywy}
        </if>
        <if test="khid !=null and khid != ''">
            ,#{khid}
        </if>
        <if test="zd !=null and zd != ''">
            ,#{zd}
        </if>
        <if test="htje !=null and htje != ''">
            ,cast(#{htje} as decimal)
        </if>
        <if test="htzk !=null and htzk != ''">
            ,#{htzk}
        </if>
        <if test="htlx !=null and htlx != ''">
            ,#{htlx}
        </if>
        <if test="htqx !=null and htqx != ''">
            ,#{htqx}
        </if>
        <if test="hkfs !=null and hkfs != ''">
            ,#{hkfs}
        </if>
        <if test="szht !=null and szht != ''">
            ,#{szht}
        </if>
        <if test="htfxcd !=null and htfxcd != ''">
            ,#{htfxcd}
        </if>
        <if test="xslb !=null and xslb != ''">
            ,#{xslb}
        </if>
        <if test="yzlb !=null and yzlb != ''">
            ,#{yzlb}
        </if>
        <if test="htyjxx !=null and htyjxx != ''">
            ,#{htyjxx}
        </if>
        <if test="bz !=null and bz != ''">
            ,#{bz}
        </if>
        <if test="zt !=null and zt != ''">
            ,#{zt}
        </if>
         <if test="zsld !=null and zsld != ''">
            ,#{zsld}
        </if>
        <if test="htsl !=null and htsl != ''">
            ,cast(#{htsl} as numeric )
        </if>
        <if test="htzt !=null and htzt != ''">
            ,#{htzt}
        </if>
        <if test="htjbr !=null and htjbr != ''">
            ,#{htjbr}
        </if>
        <if test="htjbbm !=null and htjbbm != ''">
            ,#{htjbbm}
        </if>
        <if test="htgsbm !=null and htgsbm != ''">
            ,#{htgsbm}
        </if>
        <if test="htqdzt !=null and htqdzt != ''">
            ,#{htqdzt}
        </if>
        <if test="yxhtlx !=null and yxhtlx != ''">
            ,#{yxhtlx}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0','0')
    </insert>


    <update id="update" parameterType="YxhtDto">
        update igams_yxht set
        xgry=#{xgry}, xgsj=LOCALTIMESTAMP
        <if test="zt !=null and zt != ''">
            ,zt = #{zt}
        </if>
        <if test="szht !=null and szht != ''">
            ,szht = #{szht}
        </if>
        <if test="ddslid !=null and ddslid != ''">
            ,ddslid = #{ddslid}
        </if>
        <if test="htqdzt !=null and htqdzt != ''">
            ,htqdzt = #{htqdzt}
        </if>
        <if test="sfjh !=null and sfjh != ''">
            ,sfjh = #{sfjh}
        </if>
        <where>
            htid = #{htid}
        </where>
    </update>
    <!-- 合同修改方法(修改页面) -->
    <update id="updatePageEvent" parameterType="YxhtDto">
        update igams_yxht set
        xgry=#{xgry}, xgsj=LOCALTIMESTAMP
        ,htbh = #{htbh}
        ,htmc = #{htmc}
        ,htrq = cast(#{htrq} as date)
        ,ssywy = #{ssywy}
        ,khid = #{khid}
        ,zd = #{zd}
        ,htje = cast(#{htje} as decimal)
        ,htzk = #{htzk}
        ,htlx = #{htlx}
        ,htqx = #{htqx}
        ,hkfs = #{hkfs}
        ,htfxcd = #{htfxcd}
        ,xslb = #{xslb}
        ,yzlb = #{yzlb}
        ,htyjxx = #{htyjxx}
        ,bz = #{bz}
        ,zsld = #{zsld}
        ,htsl = cast(#{htsl} as numeric )
        ,htzt = #{htzt}
        ,htjbr = #{htjbr}
        ,htjbbm = #{htjbbm}
        ,htgsbm = #{htgsbm}
        ,yxhtlx = #{yxhtlx}
        ,dqrq = cast(#{dqrq} as date)
        <where>
            htid = #{htid}
        </where>
    </update>
    <select id="getPagedAuditMarketingContract" parameterType="YxhtDto" resultType="YxhtDto">
        select yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm ssywymc,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc htlxmc,yxht.htqx,
        yxht.hkfs,yxht.szht,htfxcd.csmc htfxcdmc,yxht.htfxcd,yxht.xslb,xslx.csmc xslbmc,yxht.htyjxx,yxht.bz,yxht.zt,yxht.htmc,khlx.csmc khlxmc,yzlb.csmc yzlxmc
        ,hkfs.csmc hkfsmc,yxht.lrsj,yxhtlx.csmc as yxhtlxmc
        from igams_yxht yxht
        left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
        left join igams_khgl khgl on khgl.khid=yxht.khid
        left join matridx_jcsj htlx on htlx.csid=yxht.htlx
        left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
        left join matridx_jcsj xslx on xslx.csid=yxht.xslb
        left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
        left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
        left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
        left join matridx_jcsj yxhtlx on yxhtlx.csid=yxht.yxhtlx
        <where>
            yxht.scbj!='1'
            <if test="entire!=null and entire!=''">
                and (yxht.htbh ILIKE '%'||#{entire}||'%'
                or ywy.zsxm ILIKE '%'||#{entire}||'%'
                or khgl.khmc ILIKE '%'||#{entire}||'%'
                or yxht.zd ILIKE '%'||#{entire}||'%')
            </if>
            <if test="htbh!=null and htbh!=''">
                and yxht.htbh ILIKE '%'||#{htbh}||'%'
            </if>
            <if test="ssywymc!=null and ssywymc!=''">
                and ywy.zsxm ILIKE '%'||#{ssywymc}||'%'
            </if>
            <if test="khmc!=null and khmc!=''">
                and khgl.khmc ILIKE '%'||#{khmc}||'%'
            </if>
            <if test="zd!=null and zd!=''">
                and yxht.zd ILIKE '%'||#{zd}||'%'
            </if>
            <if test="htrqstart!=null and htrqstart!=''">
                and to_char(yxht.htrq,'yyyy-mm-dd') &gt;=#{htrqstart}
            </if>
            <if test="htrqend!=null and htrqend!=''">
                and to_char(yxht.htrq,'yyyy-mm-dd') &lt;=#{htrqend}
            </if>
        </where>
    </select>
    <select id="getAuditListMarketingContract" parameterType="List" resultType="YxhtDto">
        select yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm ssywymc,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc htlxmc,yxht.htqx,
        yxht.hkfs,yxht.szht,htfxcd.csmc htfxcdmc,yxht.htfxcd,yxht.xslb,xslx.csmc xslbmc,yxht.htyjxx,yxht.bz,yxht.zt,yxht.htmc,khlx.csmc khlxmc,yzlb.csmc yzlxmc
        ,hkfs.csmc hkfsmc,yxht.lrsj
        shxx_sqsj,shxx_lrryxm,shxx_shsj,shxx_sftg,shxx_shxxid,shxx_shyj
        from
        <foreach collection="list" separator="union" open="(" close=") "
                 item="item" index="index">
            select #{item.htid} htid,#{item.shxx_shxxid} shxx_shxxid,#{item.shxx_sqsj} shxx_sqsj,
            #{item.shxx_lrryxm} shxx_lrryxm,#{item.shxx_shsj} shxx_shsj,
            #{item.shxx_sftg} shxx_sftg,#{item.shxx_shyj} shxx_shyj,${index} rownum
        </foreach>
        tmp
        left join igams_yxht yxht on tmp.htid=yxht.htid
        left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
        left join igams_khgl khgl on khgl.khid=yxht.khid
        left join matridx_jcsj htlx on htlx.csid=yxht.htlx
        left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
        left join matridx_jcsj xslx on xslx.csid=yxht.xslb
        left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
        left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
        left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
        order by tmp.rownum
    </select>
    <!-- 导出条数 -->
    <select id="getCountForSearchExp" parameterType="YxhtDto"
            resultType="java.lang.Integer">
        select count(tmp.htid) from
         (select yxht.htid
        from igams_yxht yxht
        left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
        left join matridx_xtyh htjbr on htjbr.yhid=yxht.htjbr
        left join matridx_jgxx htjbbm on htjbbm.jgid=yxht.htjbbm
        left join igams_khgl khgl on khgl.khid=yxht.khid
        left join matridx_jcsj htlx on htlx.csid=yxht.htlx
        left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
        left join matridx_jcsj xslx on xslx.csid=yxht.xslb
        left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
        left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
        left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
        <if test="(entire!=null and entire!='')or(oaxsdh!=null and oaxsdh!='')or(u8xsdh!=null and u8xsdh!='')or(lldh!=null and lldh!='')
or(jydh!=null and jydh!='')or(u8jydh!=null and u8jydh!='')or(ghdh!=null and ghdh!='')or(u8ghdh!=null and u8ghdh!='')">
            left join igams_xsgl xsgl on xsgl.htdh=yxht.htid
            left join igams_xsmx xsmx on xsmx.xsid=xsgl.xsid
            left join igams_jcjyxx jcjyxx on jcjyxx.jyxxid=xsmx.jyxxid
            left join igams_jcjygl jcjygl on jcjygl.jcjyid=jcjyxx.jyxxid
            left join igams_llgl llgl on llgl.htdh=yxht.htid
            left join igams_jcghgl jcghgl on jcghgl.jcjyid=jcjygl.jcjyid
        </if>
        <include refid="selectWhere"></include>
        <if test="(entire!=null and entire!='')or(oaxsdh!=null and oaxsdh!='')or(u8xsdh!=null and u8xsdh!='')or(lldh!=null and lldh!='')
or(jydh!=null and jydh!='')or(u8jydh!=null and u8jydh!='')or(ghdh!=null and ghdh!='')or(u8ghdh!=null and u8ghdh!='')">
            group by yxht.htid
        </if>)tmp
    </select>
    <!--搜索导出-->
    <select id="getListForSearchExp" parameterType="YxhtDto" resultType="YxhtDto">
        select tmp.htid ${sqlParam}
        from (
        select yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm ssywymc,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc htlxmc,yxht.htqx,
        yxht.hkfs,case when yxht.szht='1' then '是' else '否' end szht,htfxcd.csmc htfxcdmc,yxht.htfxcd,yxht.xslb,xslx.csmc xslbmc,yxht.htyjxx,yxht.bz,yxht.zt,khlx.csmc khlxmc,yzlb.csmc yzlxmc
        ,hkfs.csmc hkfsmc,khgl.khjc,khgl.khid,yxht.htsl,yxht.htzt,yxht.htjbr,yxht.htjbbm,yxht.htgsbm,htjbr.zsxm htjbrmc,htjbbm.jgmc htjbbmmc
        from igams_yxht yxht
        left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
        left join matridx_xtyh htjbr on htjbr.yhid=yxht.htjbr
        left join matridx_jgxx htjbbm on htjbbm.jgid=yxht.htjbbm
        left join igams_khgl khgl on khgl.khid=yxht.khid
        left join matridx_jcsj htlx on htlx.csid=yxht.htlx
        left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
        left join matridx_jcsj xslx on xslx.csid=yxht.xslb
        left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
        left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
        left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
        <if test="(entire!=null and entire!='')or(oaxsdh!=null and oaxsdh!='')or(u8xsdh!=null and u8xsdh!='')or(lldh!=null and lldh!='')
or(jydh!=null and jydh!='')or(u8jydh!=null and u8jydh!='')or(ghdh!=null and ghdh!='')or(u8ghdh!=null and u8ghdh!='')">
            left join igams_xsgl xsgl on xsgl.htdh=yxht.htid
            left join igams_xsmx xsmx on xsmx.xsid=xsgl.xsid
            left join igams_jcjyxx jcjyxx on jcjyxx.jyxxid=xsmx.jyxxid
            left join igams_jcjygl jcjygl on jcjygl.jcjyid=jcjyxx.jyxxid
            left join igams_llgl llgl on llgl.htdh=yxht.htid
            left join igams_jcghgl jcghgl on jcghgl.jcjyid=jcjygl.jcjyid
        </if>
        <include refid="selectWhere"></include>
        <if test="(entire!=null and entire!='')or(oaxsdh!=null and oaxsdh!='')or(u8xsdh!=null and u8xsdh!='')or(lldh!=null and lldh!='')
or(jydh!=null and jydh!='')or(u8jydh!=null and u8jydh!='')or(ghdh!=null and ghdh!='')or(u8ghdh!=null and u8ghdh!='')">
            group by yxht.htid,yxht.htbh,yxht.htmc,yxht.htrq,yxht.ssywy,ywy.zsxm,khgl.khmc,yxht.zd,yxht.htje,yxht.htzk,yxht.htlx,htlx.csmc,yxht.htqx,
            yxht.hkfs,yxht.szht,htfxcd.csmc,yxht.htfxcd,yxht.xslb,xslx.csmc,yxht.htyjxx,yxht.bz,yxht.zt,khlx.csmc,yzlb.csmc,hkfs.csmc,khgl.khjc,khgl.khid
            ,yxht.htsl,yxht.htzt,yxht.htjbr,yxht.htjbbm,yxht.htgsbm,htjbr.zsxm,htjbbm.jgmc
        </if>
        order by
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart})tmp
    </select>
    <!--选中导出-->
    <select id="getListForSelectExp" parameterType="YxhtDto" resultType="YxhtDto">
        select yxht.htid ${sqlParam} from (
        <foreach item="item" index="index" collection="ids"
                 separator=" union all ">
            select #{item,jdbcType=VARCHAR} htid,#{index} ordernum
        </foreach>
        ) tmp
        left join igams_yxht yxht on yxht.htid = tmp.htid
        left join matridx_xtyh htjbr on htjbr.yhid=yxht.htjbr
        left join matridx_jgxx htjbbm on htjbbm.jgid=yxht.htjbbm
        left join matridx_xtyh ywy on ywy.yhid=yxht.ssywy
        left join igams_khgl khgl on khgl.khid=yxht.khid
        left join matridx_jcsj htlx on htlx.csid=yxht.htlx
        left join matridx_jcsj htfxcd on htfxcd.csid=yxht.htfxcd
        left join matridx_jcsj xslx on xslx.csid=yxht.xslb
        left join matridx_jcsj yzlb on yzlb.csid=yxht.yzlb
        left join matridx_jcsj khlx on khlx.csid=khgl.khgllx
        left join matridx_jcsj hkfs on hkfs.csid=yxht.hkfs
        order by tmp.ordernum
    </select>
    <select id="getMarketingContractSerial" parameterType="String" resultType="String">
        SELECT lpad(cast((CAST(coalesce(MAX(substring(htbh,LENGTH(htbh)-strpos(reverse(htbh),'-')+2,LENGTH(htbh))),'0') AS numeric) + 1) as VARCHAR), 2, '0') serial
        FROM igams_yxht
        where
            scbj != '1' AND htbh like #{prefix}||'%'
    </select>
</mapper>
