<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <style>
        .form-control {
            height: 31px;
        }

        .bootstrap-tagsinput {
            min-width: 100%;
        }
    </style>
</head>
<body>
<form id="ajaxForm"
      th:action="'/systemrole/user/'+ ${yhzDto.formAction}"
      class="form-horizontal sl_all_form" method="post" theme="simple"
      data-bs-toggle="validation">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in"
             id="partnerInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" name="access_token" />
                        <input type="hidden" id="yhzid" name="yhzid" th:value="${yhzDto.yhzid}"/>
                        <input type="hidden" id="lrry" name="lrry" th:value="${yhzDto.getLrry()}"/>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">
                                    <span style="color: red;">*</span>&nbsp;&nbsp;用户组名称：
                                </label>
                                <div class="col-sm-6 col-xs-12">
                                    <input  type="text" id="yhzmc" name="yhzmc"
                                            th:value="${yhzDto.yhzmc}"
                                            validate="{required:true,stringMaxLength:64}"
                                            class="form-control" style="height: 30px;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">
                                    <span style="color: red;">*</span>&nbsp;&nbsp;组属性：
                                </label>
                                <div class="col-sm-6 col-xs-12">
                                    <label class="radio-inline">
                                        <input type="radio" class="zsx" id="group_pub" value="0" name="zsx" th:checked="true" validate="{required:true}" autocomplete="off">共有
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" class="zsx" id="group_pri" value="1" name="zsx" validate="{required:true}" autocomplete="off">私有
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>