<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.warehouse.dao.post.IGysxxDao" >

	<!-- 查找服务器信息 -->
	<select id="getServer" parameterType="String" resultType="JcsjDto">
		select cskz1,csdm from matridx_jcsj where csid=#{server}
	</select>

	<!-- 新增供应商信息 -->
	<insert id="insert" parameterType="GysxxDto">
		insert into igams_gysxx(gysid
		<if test="gysmc !=null and gysmc != ''">
		,gysmc
		</if>
		<if test="gysdm !=null and gysdm != ''">
		,gysdm
		</if>
		<if test="gysjc !=null and gysjc != ''">
		,gysjc
		</if>
		<if test="dq !=null and dq != ''">
		,dq
		</if>
		<if test="fzrq !=null and fzrq != ''">
		,fzrq
		</if>
		<if test="lxr !=null and lxr != ''">
		,lxr
		</if>
		<if test="dh !=null and dh != ''">
		,dh
		</if>
		<if test="sj !=null and sj != ''">
		,sj
		</if>
		<if test="qq !=null and qq != ''">
		,qq
		</if>
		<if test="wx !=null and wx != ''">
		,wx
		</if>
		<if test="cz !=null and cz != ''">
		,cz
		</if>
		<if test="yx !=null and yx != ''">
		,yx
		</if>
		<if test="gfgllb !=null and gfgllb != ''">
		,gfgllb
		</if>
		<if test="sf !=null and sf != ''">
		,sf
		</if>
		<if test="khh !=null and khh != ''">
		,khh
		</if>
		<if test="zh !=null and zh != ''">
		,zh
		</if>
		<if test="sl !=null and sl != ''">
		,sl
		</if>
		,zt
		<if test="bz !=null and bz != ''">
		,bz
		</if>
		<if test="fddbr !=null and fddbr != ''">
			,fddbr
		</if>
		<if test="gfbh !=null and gfbh != ''">
			,gfbh
		</if>
		<if test="ywbm !=null and ywbm != ''">
			,ywbm
		</if>
		,lrry,lrsj,scbj) values(#{gysid}
		<if test="gysmc !=null and gysmc != ''">
		,#{gysmc}
		</if>
		<if test="gysdm !=null and gysdm != ''">
		,#{gysdm}
		</if>
		<if test="gysjc !=null and gysjc != ''">
		,#{gysjc}
		</if>
		<if test="dq !=null and dq != ''">
		,#{dq}
		</if>
		<if test="fzrq !=null and fzrq != ''">
		,cast(#{fzrq} as date)
		</if>
		<if test="lxr !=null and lxr != ''">
		,#{lxr}
		</if>
		<if test="dh !=null and dh != ''">
		,#{dh}
		</if>
		<if test="sj !=null and sj != ''">
		,#{sj}
		</if>
		<if test="qq !=null and qq != ''">
		,#{qq}
		</if>
		<if test="wx !=null and wx != ''">
		,#{wx}
		</if>
		<if test="cz !=null and cz != ''">
		,#{cz}
		</if>
		<if test="yx !=null and yx != ''">
		,#{yx}
		</if>
		<if test="gfgllb !=null and gfgllb != ''">
		,#{gfgllb}
		</if>
		<if test="sf !=null and sf != ''">
		,#{sf}
		</if>
		<if test="khh !=null and khh != ''">
		,#{khh}
		</if>
		<if test="zh !=null and zh != ''">
		,#{zh}
		</if>
		<if test="sl !=null and sl != ''">
		,cast(#{sl} as numeric)
		</if>
		,'00'
		<if test="bz !=null and bz != ''">
		,#{bz}
		</if>
		<if test="fddbr !=null and fddbr != ''">
		,#{fddbr}
		</if>
		<if test="gfbh !=null and gfbh != ''">
			,#{gfbh}
		</if>
		<if test="ywbm !=null and ywbm != ''">
			,#{ywbm}
		</if>
		,#{lrry},LOCALTIMESTAMP,'0')
	</insert>
	<!-- 查询供应商列表 -->
	<select id="getPagedSupplierList" parameterType="GysxxDto" resultType="GysxxDto">
		select gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc,gysxx.dq,gysxx.fzrq,gysxx.lxr,gysxx.dh,gysxx.sj,gysxx.qq,gysxx.wx,gysxx.zt,gysxx.bz,jc.csmc gfgllbmc,jcsf.csmc as sfmc,gysxx.khh,gysxx.zh,gysxx.sl,gysxx.cz,gysxx.yx,
		gysxx.fddbr,gysxx.gfbh,gysxx.sfxs,gysxx.scbj,tyry.zsxm tyrymc,gysxx.tysj,to_char(gysxx.lrsj,'yyyy-MM-dd HH24:mi') lrsj,lrry.zsxm lrrymc
		from igams_gysxx gysxx
		left join matridx_jcsj jc on jc.csid=gysxx.gfgllb
		left join matridx_jcsj jcsf on jcsf.csid=gysxx.sf
		left join matridx_xtyh tyry on tyry.yhid=gysxx.tyry
		left join matridx_xtyh lrry on lrry.yhid=gysxx.lrry
		<where>
			gysxx.scbj!='1'
			<if test="entire != null and entire != ''">
				and (gysxx.gysmc ILIKE '%'||#{entire}||'%'
				or gysxx.gysdm ILIKE '%'||#{entire}||'%'
				or gysxx.dq ILIKE '%'||#{entire}||'%'
				or gysxx.lxr ILIKE '%'||#{entire}||'%'
				or gysxx.dh ILIKE '%'||#{entire}||'%'
				or gysxx.sj ILIKE '%'||#{entire}||'%'
				or gysxx.qq ILIKE '%'||#{entire}||'%'
				or gysxx.wx ILIKE '%'||#{entire}||'%'
				or gysxx.gysjc ILIKE '%'||#{entire}||'%'
				or gysxx.bz ILIKE '%'||#{entire}||'%'
				or jc.csmc ILIKE '%'||#{entire}||'%'
				or jc.csmc ILIKE '%'||#{entire}||'%'
				or gysxx.gfbh ILIKE '%'||#{entire}||'%')
			</if>
			<if test="gysmc !=null and gysmc !=''">
				and gysxx.gysmc ILIKE '%'||#{gysmc}||'%'
			</if>
			<if test="gfbh !=null and gfbh !=''">
				and gysxx.gfbh ILIKE '%'||#{gfbh}||'%'
			</if>
			<if test="gysdm !=null and gysdm !=''">
				and gysxx.gysdm ILIKE '%'||#{gysdm}||'%'
			</if>
			<if test="dq !=null and dq !=''">
				and gysxx.dq ILIKE '%'||#{dq}||'%'
			</if>
			<if test="lxr !=null and lxr !=''">
				and gysxx.lxr ILIKE '%'||#{lxr}||'%'
			</if>
			<if test="dh !=null and dh !=''">
				and gysxx.dh ILIKE '%'||#{dh}||'%'
			</if>
			<if test="sj !=null and sj !=''">
				and gysxx.sj ILIKE '%'||#{sj}||'%'
			</if>
			<if test="qq !=null and qq !=''">
				and gysxx.qq ILIKE '%'||#{qq}||'%'
			</if>
			<if test="wx !=null and wx !=''">
				and gysxx.wx ILIKE '%'||#{wx}||'%'
			</if>
			<if test="gysjc !=null and gysjc !=''">
				and gysxx.gysjc ILIKE '%'||#{gysjc}||'%'
			</if>
			<if test="bz !=null and bz !=''">
				and gysxx.bz ILIKE '%'||#{bz}||'%'
			</if>
			<if test="gfgllbmc !=null and gfgllbmc !=''">
				and jc.csmc ILIKE '%'||#{gfgllbmc}||'%'
			</if>
			<if test="fzkssj != null and fzkssj != ''">
				and to_char(gysxx.fzrq,'YYYY-MM-dd') &gt;= #{fzkssj}
			</if>
			<if test="fzjssj != null and fzjssj != ''">
				and to_char(gysxx.fzrq,'YYYY-MM-dd') &lt;= #{fzjssj}
			</if>
			<if test = "gfgllbs != null and gfgllbs.length > 0 "  >
			and gysxx.gfgllb in 
			<foreach collection="gfgllbs" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
			</if>
			<if test = "sfxss != null and sfxss.length > 0 "  >
				and gysxx.sfxs in
				<foreach collection="sfxss" separator="," open="(" close=") "
						 item="item" index="index">
					#{item}
				</foreach>
			</if>
			<if test = "zts != null and zts.length > 0 "  >
				and gysxx.scbj in
				<foreach collection="zts" separator="," open="(" close=") "
						 item="item" index="index">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<!-- 根据供应商id查询单个供应商信息 -->
	<select id="selectByGysmc" parameterType="GysxxDto" resultType="GysxxDto">
		select gysmc from igams_gysxx where gysmc=#{gysmc} and scbj!='1'
	</select>
	<!-- 根据供应商id查询供应商信息 -->
	<select id="selectGysxxByGysid" parameterType="GysxxDto" resultType="GysxxDto">
		select gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc,gysxx.dq,gysxx.fzrq,gysxx.lxr,gysxx.dh,gysxx.sj,gysxx.qq,gysxx.wx,gysxx.zt,gysxx.bz,gysxx.gfgllb,jc.csmc gfgllbmc,jcsf.csmc as sfmc,gysxx.sf,gysxx.khh,gysxx.zh,gysxx.sl,gysxx.cz,gysxx.yx
		,gysxx.fddbr,gysxx.gfbh,gysxx.ywbm,gysxx.sfxs,tyry.zsxm tyrymc,gysxx.tysj,to_char(gysxx.lrsj,'yyyy-MM-dd HH24:mi') lrsj,lrry.zsxm lrrymc
		from igams_gysxx gysxx
		left join matridx_jcsj jc on jc.csid=gysxx.gfgllb
		left join matridx_jcsj jcsf on jcsf.csid=gysxx.sf
		left join matridx_xtyh tyry on tyry.yhid=gysxx.tyry
		left join matridx_xtyh lrry on lrry.yhid=gysxx.lrry
		<where>
			gysxx.scbj!='1'
			<if test="gysid !=null and gysid !=''">
				and gysxx.gysid=#{gysid}
			</if>
			<if test="gysmc !=null and gysmc !=''">
				and gysxx.gysmc=#{gysmc}
			</if>
		</where>
	</select>
	<select id="getDtoList" parameterType="GysxxDto" resultType="GysxxDto">
		select gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc,gysxx.dq,gysxx.fzrq,gysxx.lxr,gysxx.dh,gysxx.sj,gysxx.qq,gysxx.wx,gysxx.zt,gysxx.bz,gysxx.gfgllb,jc.csmc gfgllbmc,jcsf.csmc as sfmc,gysxx.sf,gysxx.khh,gysxx.zh,gysxx.sl,gysxx.cz,gysxx.yx
		,gysxx.fddbr,gysxx.gfbh,gysxx.ywbm,gysxx.sfxs
		from igams_gysxx gysxx
		left join matridx_jcsj jc on jc.csid=gysxx.gfgllb
		left join matridx_jcsj jcsf on jcsf.csid=gysxx.sf
		<where>
			gysxx.scbj!='1'
			<if test="ids !=null and ids.size>0">
				and gysid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- 根据供应商id修改供应商信息 -->
	<update id="updateDto" parameterType="GysxxDto">
		update igams_gysxx set xgsj=LOCALTIMESTAMP,xgry=#{xgry}
		<if test="gysmc!=null and gysmc!=''">
		,gysmc=#{gysmc}
		</if>
		<if test="gysdm!=null and gysdm!=''">
		,gysdm=#{gysdm}
		</if>
		<if test="gysjc!=null and gysjc!=''">
		,gysjc=#{gysjc}
		</if>
		<if test="dq!=null and dq!=''">
		,dq=#{dq}
		</if>
		<if test="fzrq!=null and fzrq!=''">
		,fzrq=cast(#{fzrq} as date)
		</if>
		<if test="lxr!=null and lxr!=''">
		,lxr=#{lxr}
		</if>
		<if test="dh!=null and dh!=''">
		,dh=#{dh}
		</if>
		<if test="sj!=null and sj!=''">
		,sj=#{sj}
		</if>
		<if test="qq!=null and qq!=''">
		,qq=#{qq}
		</if>
		<if test="wx!=null and wx!=''">
		,wx=#{wx}
		</if>
		<if test="cz!=null and cz!=''">
		,cz=#{cz}
		</if>
		<if test="yx!=null and yx!=''">
		,yx=#{yx}
		</if>
		<if test="gfgllb!=null and gfgllb!=''">
		,gfgllb=#{gfgllb}
		</if>
		<if test="sf!=null and sf!=''">
		,sf=#{sf}
		</if>
		<if test="khh!=null and khh!=''">
		,khh=#{khh}
		</if>
		<if test="zh!=null and zh!=''">
		,zh=#{zh}
		</if>
		<if test="sl!=null and sl!=''">
		,sl=cast(#{sl} as numeric)
		</if>
		<if test="bz!=null and bz!=''">
		,bz=#{bz}
		</if>
		<if test="fddbr!=null and fddbr!=''">
		,fddbr=#{fddbr}
		</if>
		<if test="gfbh!=null and gfbh!=''">
			,gfbh=#{gfbh}
		</if>
		<if test="ywbm!=null and ywbm!=''">
			,ywbm=#{ywbm}
		</if>
		<if test="sfxs!=null and sfxs!=''">
			,sfxs=#{sfxs}
		</if>
		<if test="jxflg!=null and jxflg!=''">
			,jxflg=#{jxflg}
		</if>
		<where>
		scbj!='1'
			<if test="gysid!=null and gysid!=''">
			and gysid=#{gysid}
			</if>
			<if test="ids !=null and ids.size>0">
				and gysid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</update>
	<update id="update" parameterType="GysxxDto">
		update igams_gysxx set xgsj=LOCALTIMESTAMP,xgry=#{xgry}
		<if test="gysmc!=null and gysmc!=''">
			,gysmc=#{gysmc}
		</if>
		<if test="gysdm!=null and gysdm!=''">
			,gysdm=#{gysdm}
		</if>
		<if test="gysjc!=null and gysjc!=''">
			,gysjc=#{gysjc}
		</if>
		<if test="dq!=null and dq!=''">
			,dq=#{dq}
		</if>
		<if test="fzrq!=null and fzrq!=''">
			,fzrq=cast(#{fzrq} as date)
		</if>
		<if test="lxr!=null and lxr!=''">
			,lxr=#{lxr}
		</if>
		<if test="dh!=null and dh!=''">
			,dh=#{dh}
		</if>
		<if test="sj!=null and sj!=''">
			,sj=#{sj}
		</if>
		<if test="qq!=null and qq!=''">
			,qq=#{qq}
		</if>
		<if test="wx!=null and wx!=''">
			,wx=#{wx}
		</if>
		<if test="cz!=null and cz!=''">
			,cz=#{cz}
		</if>
		<if test="yx!=null and yx!=''">
			,yx=#{yx}
		</if>
		<if test="gfgllb!=null and gfgllb!=''">
			,gfgllb=#{gfgllb}
		</if>
		<if test="sf!=null and sf!=''">
			,sf=#{sf}
		</if>
		<if test="khh!=null and khh!=''">
			,khh=#{khh}
		</if>
		<if test="zh!=null and zh!=''">
			,zh=#{zh}
		</if>
		<if test="sl!=null and sl!=''">
			,sl=cast(#{sl} as numeric)
		</if>
		<if test="bz!=null and bz!=''">
			,bz=#{bz}
		</if>
		<if test="fddbr!=null and fddbr!=''">
			,fddbr=#{fddbr}
		</if>
		<if test="gfbh!=null and gfbh!=''">
			,gfbh=#{gfbh}
		</if>
		<if test="ywbm!=null and ywbm!=''">
			,ywbm=#{ywbm}
		</if>
		<if test="sfxs!=null and sfxs!=''">
			,sfxs=#{sfxs}
		</if>
		<if test="jxflg!=null and jxflg!=''">
			,jxflg=#{jxflg}
		</if>
		<where>
			scbj!='1'
				and gysid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
		</where>
	</update>
	<!-- 根据供应商id删除供应商信息 -->
	<update id="deleteByGysids" parameterType="GysxxDto">
	 update igams_gysxx set scbj='1',scsj=LOCALTIMESTAMP
	 <if test="scry!=null and scry!=''">
		,scry=#{scry}
		</if>
		<where>
		<if test="gysid !=null and gysid !=''">
	 			or gysid = #{gysid}
	 		</if>
	 	  	<if test="ids !=null and ids.size>0">
	 	  	  	or gysid in
	 	  	  		<foreach collection="ids" open="(" close=")" separator="," item="item">
	 	  	  			 #{item}
	 	  	  		</foreach>
	 	  	</if>
		</where>
	</update>
	<!-- 停用供应商 -->
	<update id="disableSupplier" parameterType="GysxxDto">
	 update igams_gysxx set scbj='2',tysj=cast(#{tysj} as timestamp),tyry = #{tyry},bz=#{bz}
		where  gysid =#{gysid}
	</update>
	<!-- 启用供应商 -->
	<update id="enableSupplier" parameterType="GysxxDto">
	 update igams_gysxx set scbj='0'
		where  gysid =#{gysid}
	</update>
	<!-- 模糊查询供应商 -->
	<select id="selectBygysmc" parameterType="GysxxDto" resultType="GysxxDto">
		select gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc,gysxx.dq,gysxx.fzrq,gysxx.lxr,gysxx.dh,gysxx.sj,gysxx.qq,gysxx.wx,gysxx.gfgllb,gysxx.zt,gysxx.bz,gysxx.sf,gysxx.khh,gysxx.zh,gysxx.sl,gysxx.cz,gysxx.yx
			from igams_gysxx gysxx
		<where>
			gysxx.scbj!='1'
			<if test="gysmc!=null and gysmc!=''">
			and gysxx.gysmc like '%'||#{gysmc}||'%'
			</if>
		</where>
	</select>
	<!-- 获取供应商编码最大值 -->
	<select id="countMax" parameterType="GysxxDto" resultType="java.lang.Integer">
		select max(gysdm) as num from igams_gysxx
	</select>
	
	<!-- 根据供应商id查询供应商信息 -->
	<select id="getDtoById" parameterType="String" resultType="GysxxDto">
		select gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc,gysxx.dq,gysxx.fzrq,gysxx.lxr,gysxx.dh,gysxx.sj,gysxx.qq,gysxx.wx,gysxx.zt,gysxx.bz,gysxx.gfgllb,jc.csmc gfgllbmc,jcsf.csmc as sfmc,gysxx.sf,gysxx.khh,gysxx.zh,gysxx.sl,gysxx.cz,gysxx.yx,
		gysxx.fddbr,gysxx.gfbh,gysxx.ywbm
		from igams_gysxx gysxx
		left join matridx_jcsj jc on jc.csid=gysxx.gfgllb
		left join matridx_jcsj jcsf on jcsf.csid=gysxx.sf
		<where>
			gysxx.scbj!='1' and gysxx.gysid=#{gysid}
		</where>
	</select>
	
	<!-- 根据供应商名称，供应商简称查询供应商信息 -->
	<select id="getDtoByGysmcAndJc" parameterType="GysxxDto" resultType="GysxxDto">
	select tmp.gysid,tmp.gysmc,tmp.gysdm,tmp.gysjc from(
		select gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc
		from igams_gysxx gysxx
		<where>
			<if test="gysid!=null and gysid!=''">
			 gysxx.gysid!=#{gysid} and
			</if>
			gysxx.scbj!='1'
		</where>
		)tmp
		<where>
			<if test="gysmc!=null and gysmc!=''">
				tmp.gysmc=#{gysmc} or
			</if>
			<if test="gysjc!=null and gysjc!=''">
				tmp.gysjc=#{gysjc}
			</if>
		</where>
	</select>

	<select id="selectDownLoadFiles" parameterType="GysxxDto" resultType="GysxxDto">
		select fjcfb.ywlx,fjcfb.wjm,fjcfb.wjlj,fjcfb.fjid,gysxx.gysmc
		from igams_gysxx gysxx
		left join matridx_fjcfb fjcfb on gysxx.gysid=fjcfb.ywid
		<where>
			fjcfb.scbj!='1' and ywlx=#{ywlx}
			and ywid in
			<foreach collection="ids" separator="," item="item" index="index" open="(" close=")">
				#{item}
			</foreach>
		</where>
	</select>
	<select id="queryByGfbh" parameterType="GysxxDto" resultType="GysxxDto">
		select gfbh,gysid
		from igams_gysxx gysxx
		<where>
			gysxx.scbj!='1'
			<if test="gysid !=null and gysid !=''">
				and gysxx.gysid!=#{gysid}
			</if>
			<if test="gfbh !=null and gfbh !=''">
				and gysxx.gfbh=#{gfbh}
			</if>
		</where>
	</select>
</mapper>
