<!DOCTYPE html>
<html lang="zh-cn">
<head>
<style type="text/css">
.shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:998;
    background-color:#000;
    opacity:0.2;
    display:none;
}
.addBox{
    z-index:999;
    background:url("/images/jlexe/loadingBlack.gif") center center no-repeat;
    height:100%;
    background-size: 10%;
}


</style>

</head>
	<body>
		<form data-bs-toggle="validation" method="post" id="ajaxForm" class="form-horizontal sl_all_form" style="min-height: 500px;">
			<div class="body-content tab-content" style="min-height:80px;">
				<input type="hidden" name="access_token"/>
				<input type="hidden" id="cxid" name="cxid" th:value="${LscxszDto.cxid}">
				<input type="hidden" id="xsfsdm" name="xsfsdm" th:value="${LscxszDto.xsfsdm}">
				<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
                            <div class="form-group">
                            	<label for="" class="col-sm-3 control-label">查询名称</label>
							    <div class="col-sm-9 padding_t7" th:text="${LscxszDto.cxmc}">&nbsp;</div>
                               </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            	<label for="" class="col-sm-3 control-label">备注</label>
                            	<div class="col-sm-9 padding_t7" th:text="${LscxszDto.bz}">&nbsp;</div>
                       		</div>
                        </div>
						<div class="col-md-6" th:if="${fieldList != null && fieldList.size() > 0}" th:each="field,stat:${fieldList}">
                            <div class="form-group">
                            	<label for="" class="col-sm-3 control-label" th:text="${field.zdmc}"></label>
                            	<div class="col-sm-9">
                                	<input type="text" name="cxtj" th:placeholder="${field.zdgs}" th:value="${field.zdmrz}" class="form-control"></input>
                                </div>
                            </div>
                        </div>
						<button  class="btn btn-primary  btn-md" type="button" title="下载" th:if="${'1' eq xsbj}" th:onclick="hsxz([[${LscxszDto.cxid}]]);">
							原数据下载
						</button>&nbsp;&nbsp;
                        <!--    根据显示方式判断(表格)        -->
						<div class="col-md-12" id="table">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label">执行结果</label>
								<div class="col-md-11 col-sm-11">
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle btn-md" style="color: #000;background-color: #337ab7;border-color: #2e6da4;" data-bs-toggle="dropdown">
											下载 
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="javascript:void(0)" type="button" title="csv导 出" onclick="export_sale_csv()">csv导 出</a></li>
											<li><a href="javascript:void(0)" type="button" title="xlsx导 出" onclick="export_sale_xlsx()">xlsx导 出</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-12">
									<table id="excTable" class="col-sm-12 col-md-12 col-xs-12 table table-bordered table-hover" style="margin-bottom:20px;">
										<thead>
											<tr id="bt">
												
											</tr>
										</thead>
										<tbody id="nr">
											
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--    根据显示方式判断(圆饼图)    -->
			<div id="graph" class="panel-body" style="color:#000;">
				<div>
					<div id="echarts_sale_statis"></div>
				</div>
				<div>
					<div id="echarts_sale_statis_bar_line"></div>
				</div>
			</div>
	   </form>
	   <div class="shadow">
	       	<div id="addBox" class="addBox"><div>
	   </div>
		<!--华山专用，隐藏Table-->
		<div style="display:none：" class="col-sm-12">
			<table id="huashan_excTable" class="col-sm-12 col-md-12 col-xs-12 table table-bordered table-hover" style="margin-bottom:20px;">
				<thead>
				<tr id="huashan_bt">

				</tr>
				</thead>
				<tbody id="huashan_nr">

				</tbody>
			</table>
		</div>
	</body>
	<script type="text/javascript" th:src="@{${urlPrefix} +'/js/systemmain/sale/sale_execute.js?v=20250313'}" charset="utf-8"></script>
</html>