<!DOCTYPE html>
<html lang="zh-cn">
<head>
<style type="text/css">
.shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:998;
    background-color:#000;
    opacity:0.2;
    display:none;
}
.addBox{
    z-index:999;
    background:url("/images/jlexe/loadingBlack.gif") center center no-repeat;
    height:100%;
    background-size: 10%;
}


</style>

</head>
	<body>
		<form data-bs-toggle="validation" method="post" id="ajaxForm" class="form-horizontal sl_all_form" style="min-height: 200px;">
			<div class="body-content tab-content" style="min-height:80px;">
				<input type="hidden" name="access_token"/>
				<input type="hidden" id="cxid" name="cxid" th:value="${LscxszDto.cxid}">
				<input type="hidden" id="xsfsdm" name="xsfsdm" th:value="${LscxszDto.xsfsdm}">
				<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
                            <div class="form-group">
                            	<label for="" class="col-sm-3 control-label">查询名称</label>
							    <div class="col-sm-9 padding_t7" th:text="${LscxszDto.cxmc}">&nbsp;</div>
                               </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            	<label for="" class="col-sm-3 control-label">备注</label>
                            	<div class="col-sm-9 padding_t7" th:text="${LscxszDto.bz}">&nbsp;</div>
                       		</div>
                        </div>
						<div class="col-md-6" th:if="${fieldList != null && fieldList.size() > 0}" th:each="field,stat:${fieldList}">
                            <div class="form-group">
                            	<label for="" class="col-sm-3 control-label" th:text="${field.zdmc}"></label>
                            	<div class="col-sm-9">
                                	<input type="text" name="cxtj" th:placeholder="${field.zdgs}" th:value="${field.zdmrz}" class="form-control"></input>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
	   </form>
	   <div class="shadow">
	       	<div id="addBox" class="addBox"></div>
	   </div>

	</body>
	<script type="text/javascript" th:src="@{${urlPrefix} +'/js/systemmain/sale/sale_download.js'}" charset="utf-8"></script>
</html>