<!DOCTYPE html>
<html>
<head lang="zh-cn">
<meta charset="UTF-8">
<style>
.form-control {
	height: 31px;
}

.bootstrap-tagsinput {
	min-width: 100%;
}
</style>
</head>
<body>
	<form class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in"
				id="partnerInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<input type="hidden" name="access_token" /> 
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
									   设置类别：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.szlb}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										设置名称：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.szmc}"></div>
									</div>
								</div>
							</div>		
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										设置值：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.szz}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										序号：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.xh}"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										备注：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.bz}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										显示类型：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" 
										th:text="${xtszDto.xslx}=='00'?'普通输入框':(${xtszDto.xslx}=='01'?'带单位的输入框':(${xtszDto.xslx}=='02'?'单选框':''))"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										扩展参数1：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.kzcs1}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										扩展参数2：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.kzcs2}"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										扩展参数3：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.kzcs3}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										扩展参数4：
									</label>
									<div class="col-sm-8 col-xs-12">
										<div style="padding-top:6px" th:text="${xtszDto.kzcs4}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>