<!DOCTYPE html>
<html>
<head lang="zh-cn">
<meta charset="UTF-8">
<style>
.form-control {
	height: 31px;
}

.bootstrap-tagsinput {
	min-width: 100%;
}
</style>
</head>
<body>
	<form id="xtszaddForm"
		th:action="${urlPrefix}+'/systemmain/xtsz/'+${xtszDto.formAction}"
		class="form-horizontal sl_all_form" method="post" theme="simple"
		data-bs-toggle="validation">
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in"
				id="partnerInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<input type="hidden" name="access_token" /> 
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
									   <span style="color: red;">*</span>&nbsp;&nbsp;设置类别：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input  type="text" id="szlb" name="szlb"
											th:value="${xtszDto.szlb}" autocomplete='off'
											validate="{required:true,stringMaxLength:32}"
											class="form-control" style="height: 30px;" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										设置名称：
									</label>
									<div class="col-sm-8 col-xs-12">
									     <input type="text" id="szmc" name="szmc" autocomplete='off' validate="{stringMaxLength:128}" th:value="${xtszDto.szmc}" class="form-control" style="height:30px"/>
									</div>
								</div>
							</div>		
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										设置值：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input type='text' id="szz" name="szz" validate="{stringMaxLength:2000}" autocomplete='off' th:value="${xtszDto.szz}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										序号：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="xh" name="xh" validate="{stringMaxLength:2}" th:value="${xtszDto.xh}" autocomplete='off' class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										备注：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="bz" name="bz" autocomplete='off' validate="{stringMaxLength:128}" th:value="${xtszDto.bz}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										显示类型：
									</label>
									<div class="col-sm-8 col-xs-12">
										<select id="ysxs" name="xslx" th:value="${xtszDto.xslx}" class="form-control chosen-select" style="height:34px">
										    <option  value="">--请选择--</option>
			                        	    <option value="00" th:selected="${xtszDto.xslx eq '00'}" >普通输入框</option>
			                        	    <option value="01" th:selected="${xtszDto.xslx eq '01'}" >带单位的输入框</option>
			                        	    <option value="02" th:selected="${xtszDto.xslx eq '01'}" >单选框</option>
			 						     </select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										扩展参数1：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input type='text' id="kzcs1" autocomplete='off' validate="{stringMaxLength:256}" name="kzcs1" th:value="${xtszDto.kzcs1}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										扩展参数2：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input type='text' id="kzcs2" autocomplete='off'  name="kzcs2" th:value="${xtszDto.kzcs2}" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										扩展参数3：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input type='text' id="kzcs3" autocomplete='off' name="kzcs3" th:value="${xtszDto.kzcs3}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										扩展参数4：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input type='text' id="kzcs4" autocomplete='off' validate="{stringMaxLength:256}" name="kzcs4" th:value="${xtszDto.kzcs4}" class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript">
$(function(){
	//添加日期控件
	laydate.render({
	   elem: '#kzcs2',
	   theme: '#2381E9'
	});
	laydate.render({
		   elem: '#kzcs3',
		   theme: '#2381E9'
	});
});
</script>
</html>