<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
 	<form id="allocate_formSearch" class="form-horizontal form-inline">
		<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
			<div class="panel panel-default">
				<div class="panel-heading">查询条件</div>
				<div class="panel-body">
					<div class="">
						<div class="form-group padding_l10">
							<select name="allocate_select" id="allocate_select" class="form-control chosen-select" style="height:34px;">
								<option value="0">全部</option>
								<option value="1">调拨单号</option>
								<option value="2">转出仓库</option>
								<option value="3">转入仓库</option>
								<option value="4">出库类别</option>
								<option value="5">入库类别</option>
							</select>
							<input id="allocate_input" name="allocate_input" class="form-control" placeholder="模糊匹配"
							onkeydown="if(event.keyCode==13) {allocateResult(); return false;}"/>
						</div>
						<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
		<!--					<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>-->
					</div>
					<input type="hidden" id="scbj_id_tj" name="scbj_id_tj">
				</div>
			</div>
		    <div th:include="common/btn/ancz.html"></div>
			<table id="allocate_list" class="table table-hover table-bordered table-hidden"></table>
 	</form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/warehouse/allocate/allocate_list.js'}"></script>
</html>