<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/lashome/codeEntry/codeEntry_interface.js" charset="utf-8"></script>
		<style type="text/css">
			#codeEntry
			  {
			   border:2px solid black;
			  }
			#enter
			  {
			   position: absolute;
		        left: 50%;
		        top: 50%;
		        transform: translate(-50%,-50%);
		        border:2px solid black;
			  }
		</style>
	</head>
	<body>
		<input type="hidden" name="access_token"/>
		<div class="row">
		<div class="col-md-2 col-sm-2"  id="codeEntry" onclick="div1but()">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh1_1" name="bh1_1" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh1_2" name="bh1_2" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh1_3" name="bh1_3" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh1_4" name="bh1_4" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>						
		</div>

		<div class="col-md-2 col-sm-2 col-md-offset-2"  id="codeEntry" onclick="div2but()">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh2_1" name="bh2_1" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh2_2" name="bh2_2" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh2_3" name="bh2_3" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh2_4" name="bh2_4" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>						
		</div>
		</div>
		<div class="row">
		<div class="col-md-2 col-sm-2"  id="codeEntry" onclick="div3but()">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh3_1" name="bh3_1" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh3_2" name="bh3_2" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh3_3" name="bh3_3" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh3_4" name="bh3_4" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>						
		</div>

		<div class="col-md-2 col-sm-2 col-md-offset-2"  id="codeEntry" onclick="div4but()">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh4_1" name="bh4_1" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh4_2" name="bh4_2" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh4_3" name="bh4_3" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="input-group">
							<input type="text" id="bh4_4" name="bh4_4" readonly="readonly" class="form-control" />
						</div>
					</div>
				</div>
			</div>						
		</div>
		</div>
		
		<button onclick="implementbtn()" class="btn btn-primary" style="height:28px !important;">执行</button>

		<div class="body-content" id="enter" style="display:none;">
			<div class="row">
				<div class="col-md-6 col-sm-6">
			        <div class="col-md-6 col-sm-6">
			        	<input type="text"  id="ybbh_1" name="ybbh_1" onkeypress="if(event.keyCode==13) focusNextInput(this);" class="form-control" />
			        </div>
			        <div class="col-md-6 col-sm-6">
			        	<input type="text"  id="ybbh_2" name="ybbh_2"  onkeypress="if(event.keyCode==13) focusNextInput(this);" class="form-control" />
			        </div>
			        <div class="col-md-6 col-sm-6">
			        	<input type="text"  id="ybbh_3" name="ybbh_3" onkeypress="if(event.keyCode==13) focusNextInput(this);" class="form-control" />
			        </div>
			        <div class="col-md-6 col-sm-6">
			        	<input type="text"  id="ybbh_4" name="ybbh_4" onkeypress="if(event.keyCode==13) focusNextInput(this);" class="form-control" />
			        </div>
			        <div class="col-md-6 col-sm-6">
			        	<button onclick="determine()" class="btn btn-primary" style="height:28px !important;">确定</button>
			        </div>
			        <div class="col-md-6 col-sm-6">
			        	 <button onclick="closebut()" class="btn btn-primary" style="height:28px !important;">关闭</button>
			        </div>
			    </div>
			</div>
		</div>
	   
	</body>
</html>