<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
<head>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/inspection/equipmentAcceptance_view.js'}" charset="utf-8"></script>
    <style type="text/css">
        hr{border: 1px solid black;}
    </style>
</head>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
    <li  class="nav-item" ><a  class="nav-link active" href="#sbxxTab" role="tab" data-bs-toggle="tab">设备信息</a></li>
    <li class="nav-item" ><a class="nav-link"  href="#sbtsxx" role="tab" data-bs-toggle="tab">调试记录</a></li>
    <li class="nav-item" ><a  class="nav-link" href="#sbyjxx" role="tab" data-bs-toggle="tab">移交记录</a></li>
    <li class="nav-item" ><a  class="nav-link" href="#sbjlxx" role="tab" data-bs-toggle="tab">计量记录</a></li>
    <li class="nav-item" ><a class="nav-link"  href="#sbyzxx" role="tab" data-bs-toggle="tab">验证记录</a></li>
    <li class="nav-item" ><a  class="nav-link" href="#sbwxbyxx" role="tab" data-bs-toggle="tab">维修保养记录</a></li>
</ul>
<form id="equipmentAcceptanceViewForm" class="form-horizontal sl_all_form" method="post" theme="simple">
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="sbysid" id ="sbysid" th:value="${sbysDto.sbysid}">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="sbxxTab"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                <label for="" style="font-size: large" class="col-sm-2 col-xs-2 control-label">设备信息</label>
                </div>
            </div>
            <br/>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">设备编号:</label>
                    <div class="col-sm-6 col-md-6 col-xs-6 padding_t7">
                        <span th:text="${sbysDto.sbbh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">设备名称:</label>
                    <div class="col-sm-6 col-md-6 col-xs-6 padding_t7">
                        <span th:text="${sbysDto.sbmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">
                        固定资产编号:
                    </label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.gdzcbh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">
                        规格:
                    </label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span  th:text="${sbysDto.ggxh}"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">出厂编号:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.sbccbh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">序列号:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.xlh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">供应商:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.gysmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">供应商电话:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.dh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">生产厂家:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.sccj}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">生产厂家电话:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.sccjlxfs}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">保修时间:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.bxsj}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">验收日期:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.ysrq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">设备类型:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.sblxmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">验收人:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.ysrmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">验收地点:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.ysdd}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">启用日期:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.qyrq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">是否贵重:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.sfgzmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">请购单:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <a><span th:text="${sbysDto.djh}" th:onclick="viewQgxx([[${sbysDto.qgid}]])"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">设备状态:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.sbzt eq '00'}" th:text="闲置" ></span>
                        <span th:if="${sbysDto.sbzt eq '01'}" th:text="使用" ></span>
                        <span th:if="${sbysDto.sbzt eq '02'}" th:text="已报废" ></span>
                        <span th:if="${sbysDto.sbzt eq '03'}" th:text="售出" ></span>
                        <span th:if="${sbysDto.sbzt eq '04'}" th:text="在库" ></span>
                        <span th:if="${sbysDto.sbzt eq '05'}" th:text="移交中" ></span>
                        <span th:if="${sbysDto.sbzt eq '06'}" th:text="计量中" ></span>
                        <span th:if="${sbysDto.sbzt eq '07'}" th:text="验证中" ></span>
                        <span th:if="${sbysDto.sbzt eq '08'}" th:text="维修保养中" ></span>
                        <span th:if="${sbysDto.sbzt eq '09'}" th:text="报废中" ></span>
                        <span th:if="${sbysDto.sbzt eq '10'}" th:text="投放" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">审核状态:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.shzt eq '02'}" th:text="移交审核不通过" ></span>
                        <span th:if="${sbysDto.shzt eq '03'}" th:text="计量审核不通过" ></span>
                        <span th:if="${sbysDto.shzt eq '04'}" th:text="验证审核不通过" ></span>
                        <span th:if="${sbysDto.shzt eq '05'}" th:text="维修/保养审核不通过" ></span>
                        <span th:if="${sbysDto.shzt eq '06'}" th:text="报废审核不通过" ></span>
                        <span th:if="${sbysDto.shzt eq '07'}" th:text="移交审核中" ></span>
                        <span th:if="${sbysDto.shzt eq '08'}" th:text="计量审核中" ></span>
                        <span th:if="${sbysDto.shzt eq '09'}" th:text="验证审核中" ></span>
                        <span th:if="${sbysDto.shzt eq '10'}" th:text="维修/保养审核中" ></span>
                        <span th:if="${sbysDto.shzt eq '11'}" th:text="报废审核中" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-2 col-xs-2 control-label">备注:</label>
                    <div class="col-sm-10 col-xs-10 padding_t7">
                        <span th:text="${sbysDto.bz}" ></span>
                    </div>
                </div>
            </div>
            <div th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" class="col-md-12 col-sm-12">
                <div class="form-group">
                    <div id="fjcfbDto"  th:each="fjcfbDto:${fjcfbDtos}">
                        <div th:id="${fjcfbDto.fjid}" >
                            <label for="" class="col-md-4 col-sm-4 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件："></label>
                            <label for="" class="col-md-4 col-sm-4 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
                            <div class="col-md-9 col-sm-9 padding_t7">
                                <label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
                                <a title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
                                    <span th:text="${fjcfbDto.wjm}"></span>&nbsp;
                                    <span class="glyphicon glyphicon glyphicon-save"></span>
                                </a>&nbsp;&nbsp;
                                <a title="预览" class="f_button" type="button">
                                    <span class="glyphicon glyphicon-eye-open" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]]);"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <hr/>
            </div>
            <!--            <div class="col-md-11 col-sm-11">-->
<!--                <div class="form-group">-->
<!--                    <label for="" class="col-sm-2 col-xs-2 control-label">备注:</label>-->
<!--                    <div class="col-sm-10 col-xs-10 padding_t7">-->
<!--                        <span th:text="${sbysDto.bz}" ></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" style="font-size: large" class="col-sm-2 col-xs-2 control-label">使用信息</label>
                </div>
            </div>
            <br/>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">现使用部门:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.xsybmmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">现使用人员:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.xsyrmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">现使用地点:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.sydd}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">设备管理员:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.glrymc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">部门设备负责人:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.sbbmfzrmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <hr/>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" style="font-size: large" class="col-sm-2 col-xs-2 control-label">周期设置</label>
                </div>
            </div>
            <br/>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">保养周期:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.byzq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">保养时间:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.byrq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">下次保养时间:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.xcbysj}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">是否计量:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.sfjl eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.sfjl eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">计量周期:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.jlzq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">计量时间:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.jlrq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">下次计量时间:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.xcjlsj}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">是否验证:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.sfyz eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.sfyz eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">验证周期:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.yzzq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">验证时间:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.yzrq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">下次验证时间:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.xcyzsj}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <hr/>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" style="font-size: large" class="col-sm-2 col-xs-2 control-label">开箱验收</label>
                </div>
            </div>
            <br/>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">包装情况:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.bzqk}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">外观情况:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.wgqk}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">绝缘情况:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:text="${sbysDto.jyqk}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <hr/>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" style="font-size: large" class="col-sm-2 col-xs-2 control-label">硬件验收</label>
                </div>
            </div>
            <br/>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">装箱单内容:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.zxdnr eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.zxdnr eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">设备参数:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.sbcs eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.sbcs eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">仪器功能运转:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.yqgnyz eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.yqgnyz eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <hr/>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" style="font-size: large" class="col-sm-2 col-xs-2 control-label">软件验收</label>
                </div>
            </div>
            <br/>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">数据传输:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.sjcs eq '1'}" th:text="是"></span>
                        <span th:if="${sbysDto.sjcs eq '0'}" th:text="否"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">数据完整和保密性:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.sjwzxhbmx eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.sjwzxhbmx eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">数据处理和检索:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.sjclhjs eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.sjclhjs eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <hr/>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" style="font-size: large" class="col-sm-2 col-xs-2 control-label">验证</label>
                </div>
            </div>
            <br/>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">是否需要性能验证:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.xnyz eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.xnyz eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-6 col-xs-6 control-label">验证结论:</label>
                    <div class="col-sm-5 col-xs-5 padding_t7">
                        <span th:if="${sbysDto.ysjl eq '1'}" th:text="是" ></span>
                        <span th:if="${sbysDto.ysjl eq '0'}" th:text="否" ></span>
                    </div>
                </div>
            </div>
        </div>
      </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sbtsxx"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="sbtsjltable_list" data-classes="table table-hover table-bordered table-hidden"></table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sbyjxx"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="yjtable_list" data-classes="table table-hover table-bordered table-hidden"></table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sbjlxx"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="sbjltable_list" data-classes="table table-hover table-bordered table-hidden"></table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sbyzxx"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="sbyztable_list" data-classes="table table-hover table-bordered table-hidden"></table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sbwxbyxx"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="sbwxbytable_list" data-classes="table table-hover table-bordered table-hidden"></table>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>