<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>检验统计</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/inspection/inspection_stats.js'}"></script>
	<script type="text/javascript" src="/js/plugins/echarts/china.js"></script>
	<!--	<script type="text/javascript" src="/js/wechat/statistics/chartMap_lead.js"></script>-->
	<style type="text/css">
		.titletop{
			position: absolute;
			padding:15px;
			padding-top:22px;
			left:0px;
			top:-5px;
		}
		.laydate-theme-molv .layui-laydate-main {
			width: 220px;
			font-size: 10px;
			height: 230px;
		}
	</style>
</head>
<body>
<div class="body-content tab-content" id="inspectStats">
	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}" >
	<div class="body-content">
		<div class="row" id="all">
			<div id="zt" class="col-md-4 col-sm-4 col-xs-12 padding_t7" style="height:430px;">
				<span>审核统计</span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="height:50px;">
				<div class="col-md-6 col-sm-6 col-xs-12 padding_t7 " style="float: right">
					<div class="col-md-12 col-sm-12" style="height:25px">
						<select id="year" name="year"class="form-control chosen-select">
							<option th:each="list:${yearlist}" th:value="${list.jyrq}" th:text="${list.jyrq}"></option>
						</select>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 padding_t7 ">
					<div id="echarts_inspect_zt" style="height: 300px;"></div>
				</div>
			</div>
			<div id="qy" class="col-md-4 col-sm-4 col-xs-12 padding_t7" style="height:430px;">
				<span>月份统计请验数量</span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="height:50px;">
				<div class="col-md-6 col-sm-6 col-xs-12 padding_t7 " style="float: right">
					<div class="col-md-12 col-sm-12" style="height:25px">
						<select id="year_qy" name="year_qy"class="form-control chosen-select">
							<option th:each="list:${yearlist}" th:value="${list.jyrq}" th:text="${list.jyrq}"></option>
						</select>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 padding_t7 ">
					<div id="echarts_inspect_qy" style="height: 300px;"></div>
				</div>
			</div>
			<div id="jyjg" class="col-md-4 col-sm-4 col-xs-12 padding_t7" style="height:430px;">
				<span>检验结果统计</span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="height:50px;">
				<div class="col-md-6 col-sm-6 col-xs-12 padding_t7 " style="float: right">
					<div class="col-md-12 col-sm-12" style="height:25px">
						<select id="year_jyjg" name="year_jyjg"class="form-control chosen-select">
							<option th:each="list:${yearlist}" th:value="${list.jyrq}" th:text="${list.jyrq}"></option>
						</select>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 padding_t7 ">
					<div id="echarts_inspect_jyjg" style="height: 300px;"></div>
				</div>
			</div>
		</div>
		<div id="wllbzb" class="col-md-4 col-sm-4 col-xs-12 padding_t7" style="height:430px;">
			<span>物料类别占比</span>
			<img class="titletop" src="/images/censusimages/ksh33.png" style="height:50px;">
			<div class="col-md-10 col-sm-12" style="height:25px;margin-left: 130px;margin-top: 15px;">
				<input id="rqstart" th:value="${rqstart}" style="border: 1px solid #ccc;border-radius: 4px;width: 30%" name="rqstart" placeholder="开始日期"  autocomplete="off" validate="{required:true}" />~
				<input id="rqend" th:value="${rqend}" style="border: 1px solid #ccc;border-radius: 4px;width: 30%"  autocomplete="off" name="rqend" placeholder="结束日期" validate="{required:true}" />
				<button type="button" style="margin-left:5px;width: 10%;height: 80%  !important;padding: 0px" id="btn_query" class="btn btn-primary glyphicon glyphicon-zoom-in"></button>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 padding_t7 ">
				<div id="echarts_inspect_wllbzb" style="height: 300px;"></div>
			</div>
		</div>
	</div>
</div>
</body>

</html>