<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/inspection/inspection_uploadFile.js'}" charset="utf-8"></script>
	<style type="text/css">
		.fjcfbDto span:hover{
			cursor:pointer;
		}
		.f_button{
			background: white;
			border: 0;
		}
		.f_button:hover{
			border-width: 0px; 
			border-radius: 3px;
			background: #1E90FF;
			cursor: pointer; 
			outline: none;
			font-family: Microsoft YaHei; 
			color: white; 
			font-size: 14px; 
		}
	</style>
</head>
<body>
<form id="ajaxForm"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" enctype="multipart/form-data">
	<input type="hidden" th:value="${ywid}" id="ywid" name="ywid">
	<input type="hidden" th:value="${zywid}" id="zywid" name="zywid">
	<input type="hidden" th:value="${ywlx}" id="ywlx" name="ywlx">
	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
	<input type="hidden" th:value="${fjids}" id="fjids" name="fjids">
	<div class="body-content tab-content">
		<div class="panel panel-default sample-formal">
			<div class="panel-body">
				<div class="row">
				<div class="col-md-12 col-sm-12">
			       	<div class="form-group">
			   			<div class="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
			   				<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件"></label>
			   				<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
			   				<div th:id="${fjcfbDto.fjid}" name="formalFile">
			    				<div class="col-sm-10 padding_t7">
			    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
			    					<button style="outline:none;margin-bottom:5px;padding:0px;" class="btn btn-link" type="button" title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
				    					<span th:text="${fjcfbDto.wjm}"></span>
				    					<span class="glyphicon glyphicon glyphicon-save"></span>
			    					</button>&nbsp;&nbsp;
			    					<button title="删除" class="f_button" type="button" th:if="${ckbj != '1'}">
			    						<span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjlj}]]);"></span>
			    					</button>&nbsp;&nbsp;
			    					<button title="预览" class="f_button" type="button">
			    						<span class="glyphicon glyphicon-eye-open" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]]);"></span>
			    					</button>
			    				</div>
			    			</div>
			   			</div>
			  		</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<div id="fjcfbDto_t" th:if="${fjcfbDtos_t != null && fjcfbDtos_t.size() >0}"
							 th:each="fjcfbDto_t:${fjcfbDtos_t}">
							<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
								   th:if="${fjcfbDto_tStat.index == 0}">报告</label>
							<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
								   th:if="${fjcfbDto_tStat.index > 0}"></label>
							<div class="col-sm-10 col-xs-10 col-md-10" style="padding-top: 6px;">
								<label for="" th:if="${fjcfbDtos_t.size() > 1}" th:text="${fjcfbDto_tStat.index+1}+."></label>
								<a title="下载" th:onclick="xz([[${fjcfbDto_t.fjid}]]);"> <span
										th:text="${fjcfbDto_t.wjm}"></span> <span class="glyphicon glyphicon glyphicon-save"></span>
								</a>&nbsp;&nbsp; <a title="预览" th:onclick="view([[${fjcfbDto_t.fjid}]],[[${fjcfbDto_t.wjm}]])">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<div id="fjcfbDto_s" th:if="${fjcfbDtos_s != null && fjcfbDtos_s.size() >0}"
							 th:each="fjcfbDto_s:${fjcfbDtos_s}">
							<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
								   th:if="${fjcfbDto_sStat.index == 0}">说明</label>
							<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
								   th:if="${fjcfbDto_sStat.index > 0}"></label>
							<div class="col-sm-10 col-xs-10 col-md-10" style="padding-top: 6px;">
								<label for="" th:if="${fjcfbDtos_s.size() > 1}" th:text="${fjcfbDto_sStat.index+1}+."></label>
								<a title="下载" th:onclick="xz([[${fjcfbDto_s.fjid}]]);"> <span
										th:text="${fjcfbDto_s.wjm}"></span> <span class="glyphicon glyphicon glyphicon-save"></span>
								</a>&nbsp;&nbsp; <a title="预览" th:onclick="view([[${fjcfbDto_s.fjid}]],[[${fjcfbDto_s.wjm}]])">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<div id="fjcfbDto_d" th:if="${fjcfbDtos_d != null && fjcfbDtos_d.size() >0}"
							 th:each="fjcfbDto_d:${fjcfbDtos_d}">
							<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
								   th:if="${fjcfbDto_dStat.index == 0}">数据</label>
							<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
								   th:if="${fjcfbDto_dStat.index > 0}"></label>
							<div class="col-sm-10 col-xs-10 col-md-10" style="padding-top: 6px;">
								<label for="" th:if="${fjcfbDtos_d.size() > 1}" th:text="${fjcfbDto_dStat.index+1}+."></label>
								<a title="下载" th:onclick="xz([[${fjcfbDto_d.fjid}]]);"> <span
										th:text="${fjcfbDto_d.wjm}"></span> <span class="glyphicon glyphicon glyphicon-save"></span>
								</a>&nbsp;&nbsp; <a title="预览" th:onclick="view([[${fjcfbDto_d.fjid}]],[[${fjcfbDto_d.wjm}]])">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${ckbj != '1'}">
			       	<div class="form-group">
			   			<div class="fjcfbDto" th:if="${redisList != null && redisList.size() >0}" th:each="redis:${redisList}">
			   				<label for="" class="col-sm-2 control-label" th:if="${redisStat.index == 0}" th:text="临时附件"></label>
			   				<label for="" class="col-sm-2 control-label" th:if="${redisStat.index > 0}"></label>
			   				<div th:id="${redis.fjid}" >
			    				<div class="col-sm-10 padding_t7">
			    					<label for="" th:text="${redisStat.index+1}+."></label>
			    					<button style="outline:none;margin-bottom:5px;padding:0px;" class="btn btn-link" type="button" th:title="${redis.wjm}">
				    					<span th:text="${redis.wjm}"></span>
			    					</button>
			    					<button title="删除" class="f_button" type="button">
			    						<span class="glyphicon glyphicon-remove" th:onclick="tempDel([[${redis.fjid}]]);"></span>
			    					</button>
			    					<!-- <button title="预览" class="f_button" type="button">
			    						<span class="glyphicon glyphicon-eye-open"  th:onclick="tempView([[${redis.fjid}]],[[${redis.wjm}]]);"></span>
			    					</button> -->
			    				</div>
			    			</div>
			   			</div>
			  		</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${ckbj != '1'}">
					<div class="form-group">
						<label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
							资料上传
						</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<input id="pro_file" name="pro_file" type="file">
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>