<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>合格证打印</title>
        <meta content="webkit" name="renderer"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.8, user-scalable=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Copyright" content="matridx"/>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

        <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
        <!--jQuery常用工具扩展库：基础工具,资源加载工具,元素尺寸相关工具 -->
        <script type="text/javascript" src="/js/jquery.utils.contact-min.js" charset="utf-8"></script>
        <!--jQuery基础工具库：$.browser,$.cookie,$.actual等 -->
        <script type="text/javascript" src="/js/jquery.plugins.contact-min.js?v=20220905" charset="utf-8"></script>
        <!--bootstrap -->
        <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="/css/basephone.css"/>
        <script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/inspection/inspection_certificateprint.js'}"
                charset="utf-8">
        </script>
        <style>
            .form-horizontal .form-group {
                padding-right: -20px;
                padding-left: -15px;
                position: relative;
            }

            .form-group {
                padding-bottom: 0px !important;
            }

            .panel-body {
                padding: 0px 0px 0px 0px;
            }

            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 20px;
                line-height: 1;
                color: #333;
                background-color: #fff;
            }

            form {
                display: block;
                padding-top: 0em;
            }

            @media print {
                html, body {
                    height: 99%;
                }
            }
        </style>

    </head>
    <body>

        <form class="form-horizontal sl_all_form" theme="simple" data-bs-toggle="validation">
            <div style="width:220px;font-size:12px;position: relative;left:5%;" th:if="${hwlist != null && hwlist.size() >0}"
                 th:each="hwxxDto: ${hwlist}">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                        <div class="form-group">
                            <span style="font-size: 16px !important;font-weight: 900" th:if="${hwxxDto.hgbj=='1'}">
                                合格证
                            </span>
                            <span style="font-size: 16px !important;font-weight: 900" th:if="${hwxxDto.hgbj=='0'}">
                                不合格标签
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                    <span for="" style="padding: 0px;">
                        物料名称:
                    </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.wlmc}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                    <span for="" style="padding: 0px;">
                        物料编码:
                    </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.wlbm}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                    <span for="" style="padding: 0px;">
                        物料批号:
                    </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.scph}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                    <span for="" style="padding: 0px;">
                        规格型号:
                    </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.gg}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                    <span for="" style="padding: 0px;">
                        物料数量:
                    </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.dhsl}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" th:if="${hwxxDto.hgbj=='1'}">
                        <div class="form-group">
                        <span for="" style="padding: 0px;" >
                            报告单号:
                        </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.bgdh}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                    <span for="" style="padding: 0px;">
                        质检人员:
                    </span>
                            <span style="padding-left: 10px" th:text="${hwxxDto.jyfzrmc}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                    <span for="" style="padding: 0px;">
                        质检日期:
                    </span>
                            <span style="padding-left: 10px" th:text="${hwxxDto.jyrq}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" th:if="${hwxxDto.hgbj=='0'}">
                        <div class="form-group">
                            <span for="" style="padding: 0px;">
                            不合格原因:
                            </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.bhgyy}"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" th:if="${hwxxDto.hgbj=='1'}">
                        <div class="form-group">
                    <span for="" style="padding: 0;">
                       储存期至:
                    </span>
                            <span style="padding-left: 12px" th:text="${hwxxDto.yxq}"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" th:if="${hwxxDto.hgbj=='1'}">
                        <div class="form-group">
                    <span for="" style="padding: 0;">
                        备注:
                    </span>
                            <span style="padding-left: 10px;word-wrap:break-word;" th:text="${hwxxDto.jybz}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top: 8px">
                    <span style="word-wrap:break-word;font-weight: 600" >杭州杰毅生物技术有限公司</span>
                </div>
                <div style="page-break-after: always;"></div>
            </div>
        </form>
    </body>
</html>



