<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<style type="text/css">
		th{
			font-weight:bold;
			text-align: center;
		}
		tr{
			width:100%;
		}
		.first th{
			border:1px solid #DDDDDD;
			text-align:center;
		}
		.first td{
			border:1px solid #DDDDDD;
			text-align:center;
		}
		table{
			table-layout: fixed;
		}
	</style>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/inspection/pendingInspection_view.js'}"
	charset="utf-8"></script>
</head>
<body>
	<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	    <li  class="nav-item" >
	        <a  class="nav-link active" href="#goodsInfoTab" role="tab" data-bs-toggle="tab">基本信息</a>
	    </li>
	    <li class="nav-item" >
	    	<a  class="nav-link" href="#processInfoTab" role="tab" data-bs-toggle='tab'>采购过程信息</a>
	    </li>
	</ul>
	<form id="pendingInspectionViewForm" class="form-horizontal sl_all_form" method="post" theme="simple">
		<input type="hidden" name="access_token" />
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		<input type="hidden" name="lbcskz1" id ="lbcskz1" th:value="${hwxxDto.lbcskz1}">
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in" id="goodsInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料名称：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<a href='javascript:void(0);' th:onclick="queryByWlbm([[${hwxxDto.wlid}]])"><span th:text="${hwxxDto.wlmc}"/></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										合同单号：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.htnbbh}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料编码：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.wlbm}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										到货单号：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.dhdh}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										供应商：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.gysmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										到货日期：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.dhrq}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料类别：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.lbcsdm}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										数量：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.reduce}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.jldw}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										规格：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.gg}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										追溯号：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.zsh}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										生产批号：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.scph}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										产品注册号：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.cpzch}" />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										库位名称：</label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${hwxxDto.kwmc}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade " id="processInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-heading col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-10 col-sm-10 col-xs-10">
							<h2 class="panel-title">请购信息</h2>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
							<thead>
								<tr>
									<th style="width:20%;">请购单号</th>
									<th style="width:10%;">申请人</th>
									<th style="width:17%;">申请部门</th>
									<th style="width:13%;">记录编号</th>
									<th style="width:14%;">申请日期</th>
									<th style="width:14%;">项目大类</th>
									<th style="width:15%;">项目编码</th>
									<th style="width:15%;">申请理由</th>
									<th style="width:15%;">支付方式</th>
									<th style="width:15%;">付款方</th>
								</tr>
							</thead>
							<tbody>
								<tr class="first"  th:if="${qgglDto!=null}" style="padding:20px;">
									<td th:title="${qgglDto.djh}"><a href='javascript:void(0);' th:onclick="queryQgxx([[${qgglDto.qgid}]])"><span th:text="${qgglDto.djh}"/></a></td>
									<td th:title="${qgglDto.sqrmc}" th:text="${qgglDto.sqrmc}"></td>
									<td th:title="${qgglDto.sqbmmc}" th:text="${qgglDto.sqbmmc}"></td>
									<td th:title="${qgglDto.jlbh}" th:text="${qgglDto.jlbh}"></td>
									<td th:title="${qgglDto.sqrq}" th:text="${qgglDto.sqrq}"></td>
									<td th:title="${qgglDto.xmdlmc}" th:text="${qgglDto.xmdlmc}"></td>
									<td th:title="${qgglDto.xmbmmc}" th:text="${qgglDto.xmbmmc}"></td>
									<td th:title="${qgglDto.sqly}" th:text="${qgglDto.sqly}"></td>
									<td th:title="${qgglDto.zffsmc}" th:text="${qgglDto.zffsmc}"></td>
									<td th:title="${qgglDto.fkfmc}" th:text="${qgglDto.fkfmc}"></td>
									<td th:title="${qgglDto.bz}" th:text="${qgglDto.bz}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-10 col-sm-10 col-xs-10">
							<h2 class="panel-title">合同信息</h2>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
							<thead>
								<tr>
									<th style="width:15%;">内部编号</th>
									<th style="width:10%;">外部编号</th>
									<th style="width:10%;">业务类型</th>
									<th style="width:13%;">订单日期</th>
									<th style="width:15%;">负责人</th>
									<th style="width:15%;">申请部门</th>
									<th style="width:15%;">付款方式</th>
									<th style="width:15%;">发票方式</th>
									<th style="width:15%;">备注</th>
								</tr>
							</thead>
							<tbody>
								<tr class="first"  th:if="${htglDto!=null}" style="padding:20px;">
									<td th:title="${htglDto.htnbbh}" th:text="${htglDto.htnbbh}"></td>
									<td th:title="${htglDto.htwbbh}" th:text="${htglDto.htwbbh}"></td>
									<td th:title="${htglDto.ywlxmc}" th:text="${htglDto.ywlxmc}"></td>
									<td th:title="${htglDto.ddrq}" th:text="${htglDto.ddrq}"></td>
									<td th:title="${htglDto.fzrmc}" th:text="${htglDto.fzrmc}"></td>
									<td th:title="${htglDto.sqbmmc}" th:text="${htglDto.sqbmmc}"></td>
									<td th:title="${htglDto.fkfsmc}" th:text="${htglDto.fkfsmc}"></td>
									<td th:title="${htglDto.fpfsmc}" th:text="${htglDto.fpfsmc}"></td>
									<td th:title="${htglDto.bz}" th:text="${htglDto.bz}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-10 col-sm-10 col-xs-10">
							<h2 class="panel-title">到货信息</h2>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
							<thead>
								<tr>
									<th style="width:15%;">货物单号</th>
									<th style="width:10%;">到货日期</th>
									<th style="width:10%;">供应商</th>
									<th style="width:6%;">备注</th>
								</tr>
							</thead>
							<tbody>
								<tr class="first"  th:if="${dhxxDto!=null}" style="padding:20px;">
									<td th:title="${dhxxDto.dhdh}"><a href='javascript:void(0);' th:onclick="queryDhxx([[${dhxxDto.dhid}]])"><span th:text="${dhxxDto.dhdh}"/></a></td>
									<td th:title="${dhxxDto.dhrq}" th:text="${dhxxDto.dhrq}"></td>
									<td th:title="${dhxxDto.gysmc}" th:text="${dhxxDto.gysmc}"></td>
									<td th:title="${dhxxDto.bz}" th:text="${dhxxDto.bz}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-10 col-sm-10 col-xs-10">
							<h2 class="panel-title">到货检验信息</h2>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
							<thead>
								<tr>
									<th style="width:15%;">检验单号</th>
									<th style="width:10%;">检验日期</th>
									<th style="width:10%;">负责人</th>
									<th style="width:6%;">备注</th>
								</tr>
							</thead>
							<tbody>
								<tr class="first"  th:if="${dhjyDto!=null}" style="padding:20px;">
									<td th:title="${dhjyDto.jydh}"><a href='javascript:void(0);' th:onclick="queryDhjyxx([[${dhjyDto.dhjyid}]])"><span th:text="${dhjyDto.jydh}"/></a></td>
									<td th:title="${dhjyDto.jyrq}" th:text="${dhjyDto.jyrq}"></td>
									<td th:title="${dhjyDto.lrsj}" th:text="${dhjyDto.lrsj}"></td>
									<td th:title="${dhjyDto.bz}" th:text="${dhjyDto.bz}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-10 col-sm-10 col-xs-10">
							<h2 class="panel-title">入库信息</h2>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
							<thead>
								<tr>
									<th style="width:15%;">入库单号</th>
									<th style="width:10%;">入库日期</th>
									<th style="width:10%;">仓库名称</th>
									<th style="width:10%;">入库类别</th>
									<th style="width:10%;">供应商</th>
									<th style="width:6%;">备注</th>
								</tr>
							</thead>
							<tbody>
								<tr class="first"  th:if="${rkglDto!=null}" style="padding:20px;">
									<td th:title="${rkglDto.rkdh}"><a href='javascript:void(0);' th:onclick="queryRkxx([[${rkglDto.rkid}]])"><span th:text="${rkglDto.rkdh}"/></a></td>
									<td th:title="${rkglDto.rkrq}" th:text="${rkglDto.rkrq}"></td>
									<td th:title="${rkglDto.ckmc}" th:text="${rkglDto.ckmc}"></td>
									<td th:title="${rkglDto.rklxmc}" th:text="${rkglDto.rklxmc}"></td>
									<td th:title="${rkglDto.gysmc}" th:text="${rkglDto.gysmc}"></td>
									<td th:title="${rkglDto.bz}" th:text="${rkglDto.bz}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>