<!DOCTYPE html>
<html>
    <head lang="zh-cn">
    </head>
    <body>
        <ul class="nav nav-tabs sl_nav_tabs" role="tablist">
            <li  class="nav-item" >
                <a  class="nav-link active" href="#thglTab" role="tab" data-bs-toggle="tab">退货信息</a>
            </li>
            <li class="nav-item" >
                <a  class="nav-link" href="#thmxTab" role="tab" data-bs-toggle="tab">退货详细信息</a>
            </li>
         </ul>

        <form id="returnManagement_view"   class="form-horizontal sl_all_form" method="post" theme="simple">
            <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
            <div class="body-content tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="thglTab" aria-labelledby="profile-tab">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">退货单号</label>
                                        <div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.thdh}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">U8退货单号</label>
                                        <div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.u8thdh}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">经手人</label>
                                        <div class="col-sm-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.jsrmc}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">销售类型</label>
                                        <div class="col-sm-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.xslxmc}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">单据日期</label>
                                        <div class="col-sm-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.djrq}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">销售部门</label>
                                        <div class="col-sm-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.xsbmmc}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">客户简称</label>
                                        <div class="col-sm-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.khjc}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">收货地址</label>
                                        <div class="col-sm-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.shdz}" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 control-label">备注</label>
                                        <div class="col-sm-8 col-xs-8 padding_t7">
                                            <span th:text="${thglDto.bz}" ></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="thmxTab" aria-labelledby="profile-tab">
                    <div class="panel-body">
                        <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
                            <tr style="background-color: #63a3ff;text-align: center">
                                <th style="width:5%;text-align: center"><span th:text="序号" /></th>
                                <th style="width:10%;text-align: center"><span th:text="物料编码" /></th>
                                <th style="width:20%;text-align: center"><span th:text="物料名称" /></th>
                                <th style="width:10%;text-align: center"><span th:text="规格" /></th>
                                <th style="width:5%;text-align: center"><span th:text="单位" /></th>
                                <th style="width:6%;text-align: center"><span th:text="退货数量" /></th>
                                <th style="width:8%;text-align: center"><span th:text="仓库" /></th>
                                <th style="width:8%;text-align: center"><span th:text="库位" /></th>
                                <th style="width:8%;text-align: center"><span th:text="生产批号" /></th>
                                <th style="width:8%;text-align: center"><span th:text="生产日期" /></th>
                                <th style="width:8%;text-align: center"><span th:text="失效日期" /></th>
                                <th style="width:20%;text-align: center"><span th:text="备注" /></th>
                            </tr>
                            <div th:if="${thmxDtos != null && thmxDtos.size() >0}" th:each="thmxDto:${thmxDtos}">
                                <tr>
                                    <td><span th:title="${thmxDtoStat.index+1}" th:text="${thmxDtoStat.index+1}"/></td>
                                    <td>
                                        <a href="javascript:void(0);" th:onclick="queryByWlbm([[${thmxDto.wlid}]])">
                                            <span th:text="${thmxDto.wlbm}" th:title="${thmxDto.wlbm}"/>
                                        </a>
                                    </td>
                                    <td><span th:title="${thmxDto.wlmc}" th:text="${thmxDto.wlmc}"/></td>
                                    <td><span th:title="${thmxDto.gg}" th:text="${thmxDto.gg}"/></td>
                                    <td><span th:title="${thmxDto.jldw}" th:text="${thmxDto.jldw}"/></td>
                                    <td><span th:title="${thmxDto.thsl}" th:text="${thmxDto.thsl}"/></td>
                                    <td><span th:title="${thmxDto.ckmc}" th:text="${thmxDto.ckmc}"/></td>
                                    <td><span th:title="${thmxDto.kwmc}" th:text="${thmxDto.kwmc}"/></td>
                                    <td><span th:title="${thmxDto.scph}" th:text="${thmxDto.scph}"/></td>
                                    <td><span th:title="${thmxDto.scrq}" th:text="${thmxDto.scrq}"/></td>
                                    <td><span th:title="${thmxDto.yxq}" th:text="${thmxDto.yxq}"/></td>
                                    <td><span th:title="${thmxDto.bz}" th:text="${thmxDto.bz}"/></td>
                                </tr>
                            </div>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/thgl/return_management_view.js'}" charset="utf-8"></script>
</html>