<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <meta charset="UTF-8">
    <title>供方验证新增</title>
</head>
<body>
<form id="appraiseEditForm" th:action ="${urlPrefix}+'/appraise/appraise/'+${gfpjbDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content">
        <div id="row" class="row">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
            <input type="hidden" id="gfyzid" name="gfyzid" th:value="${gfpjbDto.gfyzid}">
            <input type="hidden" id="gfpjid" name="gfpjid" th:value="${gfpjbDto.gfpjid}">
            <input type="hidden" name="auditType" id ="auditType" th:value="${gfpjbDto.auditType}">
            <input type="hidden" name="gfpjmxJson" id ="gfpjmxJson">
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>记录编号
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="jlbh" name="jlbh" th:value="${gfpjbDto.jlbh}" class="form-control" validate="{required:true}"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>申请人
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group">
                            <input type="text" id="sqrmc" name="sqrmc" th:value="${gfpjbDto.sqrmc}" readonly="true" validate="{required:true}" class="form-control" />
                            <input id="sqr" name="sqr" type="hidden" th:value="${gfpjbDto.sqr}" class="form-control" />
                            <span class="input-group-btn">
									<button type="button" onclick="chooseSqr()" class="btn btn-primary" style="height:28px !important;">选择</button>
								</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>评价时间
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="pjsj" name="pjsj" th:value="${gfpjbDto.pjsj}" validate="{required:true}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>供方名称
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group">
                            <input type="text" id="gfmc" name="gfmc" th:value="${gfpjbDto.gfmc}" readonly="true" validate="{required:true}" class="form-control" />
                            <input id="gysid" name="gysid" type="hidden" th:value="${gfpjbDto.gysid}" class="form-control" />
                            <span class="input-group-btn">
									<button type="button" onclick="chooseGfyz()" class="btn btn-primary" style="height:28px !important;">选择</button>
								</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        供方编号
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="gfbh" name="gfbh" th:value="${gfpjbDto.gfbh}" validate="{required:true}" class="form-control" readonly="true"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        传真
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="cz" name="cz" th:value="${gfpjbDto.cz}" class="form-control" readonly="true"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        联系人
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="lxr" name="lxr" th:value="${gfpjbDto.lxr}" class="form-control" readonly="true"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        审核人
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group">
                            <input type="text" id="sybmshrmc" name="sybmshrmc" th:value="${gfpjbDto.sybmshrmc}" readonly="true"  class="form-control" />
                            <input id="sybmshr" name="sybmshr" type="hidden" th:value="${gfpjbDto.sybmshr}" class="form-control" />
                            <span class="input-group-btn">
									<button type="button" onclick="chooseShr()" class="btn btn-primary" style="height:28px !important;">选择</button>
								</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        供方地址
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <input type="text" id="dz" name="dz" th:value="${gfpjbDto.dz}"  class="form-control" readonly="true"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>资质文件情况
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="zzwjqk" name="zzwjqk" rows="3" th:text="${gfpjbDto.zzwjqk}" validate="{required:true}" style="height: auto;" class="form-control" ></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>质量情况
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="zlqk" name="zlqk" rows="3" th:text="${gfpjbDto.zlqk}" validate="{required:true}" style="height: auto;" class="form-control" ></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>价格情况
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="jgqk" name="jgqk" rows="3" th:text="${gfpjbDto.jgqk}" validate="{required:true}" style="height: auto;" class="form-control" ></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>供货周期情况
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="ghzqqk" name="ghzqqk" rows="3" th:text="${gfpjbDto.ghzqqk}" validate="{required:true}" style="height: auto;" class="form-control" ></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>现场审核情况
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="xcshqk" name="xcshqk" rows="3" th:text="${gfpjbDto.xcshqk}" validate="{required:true}" style="height: auto;" class="form-control" ></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>评价结论
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="jl" name="jl" rows="3" th:text="${gfpjbDto.jl}" validate="{required:true}" style="height: auto;" class="form-control" ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="view_list" data-classes="table table-hover table-bordered table-hidden" style="width:1500px"></table>
    <div class="col-md-12 col-sm-12">
        <button  type="button" class="btn btn-success" onclick="addWl()" ><span>新增物料</span></button>
        <button  type="button" class="btn btn-success" onclick="addFw()" ><span>新增服务</span></button>
    </div>
    <table id="edit_list" data-classes="table table-hover table-bordered table-hidden" style="width:1500px"></table>
</form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/warehouse/appraise/appraise_edit.js'}" charset="utf-8"></script>
</html>