<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.home.dao.post.ISysszDao" >

	<!-- 查询信息  -->
	<select id="getDtoList" parameterType="SysszDto" resultType="SysszDto">
		select sys.sysid, sys.jcdw, sys.fzr, jc_jcdw.csmc jcdwmc, yh.zsxm fzrmc, fj.fjid
		from igams_syssz sys
		left outer join matridx_jcsj jc_jcdw on sys.jcdw = jc_jcdw.csid
		left outer join matridx_xtyh yh on yh.yhid = sys.fzr
		left outer join matridx_fjcfb fj on fj.ywid = sys.sysid and fj.scbj = '0'
	</select>
	
	<!-- 新增实验室信息 -->
	<insert id="insert" parameterType="SysszModel">
		insert into igams_syssz(sysid
		<if test="jcdw !=null and jcdw != ''">
			,jcdw
		</if>
		<if test="fzr !=null and fzr != ''">
			,fzr
		</if>
		) values(#{sysid}
		<if test="jcdw !=null and jcdw != ''">
			,#{jcdw}
		</if>
		<if test="fzr !=null and fzr != ''">
			,#{fzr}
		</if>)
	</insert>
	
	<!--更新实验室信息-->
	<update id="update" parameterType="SysszModel">
		update igams_syssz 
		<set>
			<if test="jcdw !=null and jcdw != ''">
				jcdw = #{jcdw},
			</if>
			<if test="fzr !=null and fzr != ''">
				fzr = #{fzr},
			</if>
			sysid = #{sysid}
		</set>
		<where>
			sysid = #{sysid}
		</where>
	</update>
	
</mapper>
