<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.home.dao.post.IYqxxDao" >

	<!-- 新增实验室信息 -->
	<insert id="insert" parameterType="YqxxModel">
		insert into igams_yqxx(yqid
		<if test="sysid !=null and sysid != ''">
			,sysid
		</if>
		<if test="yqmc !=null and yqmc != ''">
			,yqmc
		</if>
		<if test="dbjl !=null and dbjl != ''">
			,dbjl
		</if>
		<if test="zcjl !=null and zcjl != ''">
			,zcjl
		</if>
		<if test="gd !=null and gd != ''">
			,gd
		</if>
		<if test="kd !=null and kd != ''">
			,kd
		</if>
		<if test="sybj !=null and sybj != ''">
			,sybj
		</if>
		,lrry,lrsj,scbj) values(#{yqid}
		<if test="sysid !=null and sysid != ''">
			,#{sysid}
		</if>
		<if test="yqmc !=null and yqmc != ''">
			,#{yqmc}
		</if>
		<if test="dbjl !=null and dbjl != ''">
			,#{dbjl}
		</if>
		<if test="zcjl !=null and zcjl != ''">
			,#{zcjl}
		</if>
		<if test="gd !=null and gd != ''">
			,#{gd}
		</if>
		<if test="kd !=null and kd != ''">
			,#{kd}
		</if>
		<if test="sybj !=null and sybj != ''">
			,#{sybj}
		</if>
		,#{lrry},LOCALTIMESTAMP,'0')
	</insert>
	
	<!-- 查询信息 -->
	<select id="getDtoList" parameterType="YqxxDto" resultType="YqxxDto">
		select yq.yqid, yq.sysid, yq.xh, yq.yqmc, yq.dbjl, yq.zcjl, yq.gd, yq.kd, yq.sybj, fj.fjid,yq.lx,yq.yq
		from igams_yqxx yq
		left outer join matridx_fjcfb fj on fj.ywid = yq.yqid and fj.scbj = '0'
		<where>
			yq.scbj != '1' 
			<if test="sysid !=null and sysid != ''">
				and yq.sysid = #{sysid}
			</if>
			<if test="sybj !=null and sybj != ''">
				and yq.sybj = #{sybj}
			</if>
		</where>
	</select>
	
	<!-- 查询信息 -->
	<select id="getDtoById" parameterType="String" resultType="YqxxDto">
		select yq.yqid, yq.sysid, yq.xh, yq.yqmc, yq.dbjl, yq.zcjl, yq.gd, yq.kd, yq.sybj, fj.fjid
		from igams_yqxx yq
		left outer join matridx_fjcfb fj on fj.ywid = yq.yqid and fj.scbj = '0'
		<where>
			yq.scbj != '1' and yq.yqid = #{yqid}
		</where>
	</select>
	
	<!--更新仪器信息-->
	<update id="update" parameterType="YqxxModel">
		update igams_yqxx
		<set>
			<if test="yqmc !=null and yqmc != ''">
				yqmc = #{yqmc},
			</if>
			<if test="dbjl !=null and dbjl != ''">
				dbjl = #{dbjl},
			</if>
			<if test="zcjl !=null and zcjl != ''">
				zcjl = #{zcjl},
			</if>
			<if test="gd !=null and gd != ''">
				gd = #{gd},
			</if>
			<if test="kd !=null and kd != ''">
				kd = #{kd},
			</if>
			<if test="sybj !=null and sybj != ''">
				sybj = #{sybj},
			</if>
			xgry = #{xgry}, xgsj = LOCALTIMESTAMP
		</set>
		<where>
			yqid = #{yqid}
		</where>
	</update>
	
	<!-- 删除仪器信息 -->
	<update  id="delete" parameterType="YqxxModel">
		update igams_yqxx set scry = #{scry},scsj = LOCALTIMESTAMP,scbj=#{scbj}
		<where>
			( 1=2
				<if test="yqid !=null and yqid != ''">
					or yqid = #{yqid}
				</if>
				<if test="ids !=null and ids.size > 0">
					or yqid in
					<foreach collection="ids" open="(" close=")" separator="," item="item">
						#{item}
					</foreach>
				</if>
			)
		</where>
	</update>
</mapper>
