<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    </head>
    <body>
        <form id="sendOrdersFeedBackForm" th:action ="${urlPrefix}+'/saleFeedback/saleFeedback/'+${shfkdjDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
            <div class="body-content">
                <div class="row">
                    <input type="hidden" name="access_token" id="access_token"/>
                    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
                    <input type="hidden" name="shfkid" id ="shfkid" th:value="${shfkdjDto.shfkid}">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <span style="color:red;">*</span>派单负责人:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12" >
                                <select  id="fzr" name="fzr" class="form-control chosen-select" style="height:28px;" validate="{required:true}" >
                                    <option value="">--请选择--</option>
                                    <option th:each="list:${yhjsDtos}" th:value="${list.yhid}"  th:text="${list.lhmc}" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script>
        $(function() {
            jQuery('#sendOrdersFeedBackForm .chosen-select').chosen({width: '100%'});
        });
    </script>
</html>