<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <style>
        .col-md-6{
            height:33px;
        }
        .col-sm-4{
            height:24px;
        }
    </style>
</head>
<body>
<form class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-12 control-label">
                                    客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <div style="padding-top:6px" th:text="${shfkdjDto.khmc}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-12 control-label">
                                    负&nbsp;&nbsp;责&nbsp;&nbsp;人：
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <div style="padding-top:6px" th:text="${shfkdjDto.fzrmc}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-12 control-label">
                                    问题描述：
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <div style="padding-top:6px" th:text="${shfkdjDto.wtms}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-12 control-label">
                                    处理意见：
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <div style="padding-top:6px" th:text="${shfkdjDto.clyj}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-12 control-label">
                                    登记人员：
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <div style="padding-top:6px" th:text="${shfkdjDto.djry}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-12 control-label">
                                    登记日期：
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <div style="padding-top:6px" th:text="${shfkdjDto.lrsj}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-12 control-label">
                                    进&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;度：
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <div style="padding-top:6px" th:text="${shfkdjDto.jdmc}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>