<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:20px;">
    <form id="processingRecords_formSearch" class="form-horizontal form-inline">
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <input type="hidden" name="shfkid" id="shfkid" th:value="${shfkid}">
        <table id="processingRecords_list" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/feedback/saleFeedBack_records.js'}"></script>
</html>