@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1563432446904'); /* IE9 */
  src: url('iconfont.eot?t=1563432446904#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABowAAAKFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBHIExATYCJAMICwYABCAFhG0HKxvSBciemjxtEUTv0Glok5UZDEQQD/H7oz9z7yyZdr8dwQyiBDI2VjmJJbyBcy5MK8ACZKNZlHW8jU5066KD/htrmhILG6FKsopQMeQJ8ix1B8Jvwu6WpcP1RhxOm0Ab54OUyxyToy7AeGuge2AUWZFE3jB2wQt8TKDTBAhw/XC+gqxkrwrEOVm8Q7YQk5IV24XWhoMp7mvRXm6Up8C96PvxXzPaKVoqu23TicEL2r8ypww+35y3LyCIE9DxFlTMA0hiW2Nug4RgNFincNIUgJTJX9G/wQ5xVKtgf53d2A3GoOyZ5J7iURsLSDg9F2DDpIvIrvbu7qOJrlvv5OUyn4+98fTmD92/pPw9V6vXevPZrt/her3ZbLar9jfy7DDR7pYUxp2RdxlayVh/oOe3vXcJheEyUfNx/tbEk9TEvvoHtnevO7/h79+Tb4f9/flOeH78SIS/9OMBbYDmXV/VIcQQfO7xhYOV5bcXEnzacD8aad5pWAC0n8wf/DT5wK40lLaxXF2G/MXcXJWCTiOoATs06DzVNHKHntBekDMUbcZRtZtGTOo8tOiyDK3arUKnucTjXYb4EiI7MMcIIPSbo+j1AFW/BTGpJ7QY9UWr/qjotCOGLuwyI07n1zHdXXqhGqHzNA3Bdbr5uHlBoqfdOa+MOBtiR04iuWBRuTgig3iJLYEvNkNXQJNNHQXwHGmaiS6bCj3dqu26VgtfeKLpTVXN1CFvHUbuXOQFqSLI8WQyCEF/V77y+QUi8mjuuKOjLrpBmEOeHZEwxADiSGcM6niUVwI+UVPIJUAmZtIhAcwjGo0Juc3zFOTJVWVPyFhacKeXOVRX3d6g/90B6GSbSzhVVawHAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1563432446904') format('woff'),
  url('iconfont.ttf?t=1563432446904') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1563432446904#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-D:before {
  content: "\e679";
}

