.statistics_laboratory_body{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(270deg,rgba(0,21,103,1.00) 0%,rgba(18,20,42,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,21,103,1.00) 0%,rgba(18,20,42,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,21,103,1.00) 0%,rgba(18,20,42,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,21,103,1.00) 0%,rgba(18,20,42,1.00) 100%);
}
.statistics_laboratory_background{
    width: 100%;
    height: auto;
    color: #333;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0B1145;
}


.statistics_laboratory_fl{
    float: left;
}
/*header开始*/
.statistics_laboratory_header{
    width: 100%;
    height: 80px;
    padding:0 20px;
    min-width: 1366px;
}
.statistics_laboratory_bg_header{
    width: 100%;
    height: 80px;
    background: url(/images/statistics_laboratory/statistics_laboratory_title.png) no-repeat;
    background-size: 100% 100%;
}
.statistics_laboratory_title{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 80px;
    color: #fff;
}
.statistics_laboratory_header_myself{
    width: 90px;
    text-align: center;
}
.statistics_laboratory_header_myself>p{
    color:#fff;
    font-size: 13px;
    margin-top: 15px;
}
.statistics_laboratory_header_myself>a{
    color:#fff;
    font-size: 13px;
}
.statistics_laboratory_data_content{
    /*overflow-x: hidden;*/
    height: 90%;
    min-width: 1366px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.statistics_laboratory_data_time{
    width: 340px;
    height: 35px;
    background-color: #2C58A6;
    line-height: 35px;
    color: #fff;
    font-size: 12.8px;
    position: relative;
    margin-bottom: 25px;
    margin-left: 20px;
    text-align: center;
}

.statistics_laboratory_data_main{
    width: calc(100% - 40px);
    margin-bottom: 40px;
    height: 615px;
    margin-left: 20px;
}

.statistics_laboratory_main_left{
    width: 64%;
    margin-bottom: 50px;
}

.statistics_laboratory_main_left>div{
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    position: relative;
    box-shadow: 0 0 10px #2C58A6;
}

.statistics_laboratory_main_left div.left_1{
    margin-bottom: 50px;
}

.statistics_laboratory_main_title{
    width: 200px;
    height: 35px;
    line-height: 33px;
    background-color: #2C58A6;
    border-radius: 18px;
    position: absolute;
    top: -17px;
    left:50%;
    margin-left: -100px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center;
}

.img{
    top: 8px;
}

.statistics_laboratory_main_center{
    width: 36%;
    height: 610px;
}

.statistics_laboratory_center_text{
    width: calc(100% - 50px);
    height: 610px;
    margin-left: 50px;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    box-shadow: 0px 0px 6px #2C58A6;
    position: relative;
}

.l_t_line{
    width: 5px;
    height: 24px;
    left: -3px;
    top: -3px;
}

.t_l_line{
    height: 5px;
    width: 26px;
    left: -3px;
    top: -3px;
}

.t_line_box {
    position: absolute;
    width: 100%;
    height: 100%;
}
.t_line_box i{
    background-color: #4788fb;
    box-shadow: 0px 0px 10px #4788fb;
    position: absolute;
}
.t_r_line{
    height: 5px;
    width: 26px;
    right: -3px;
    top: -3px;
}
.r_t_line{
    width: 5px;
    height: 24px;
    right: -3px;
    top: -3px;
}
.l_b_line{
    width: 5px;
    height: 24px;
    left: -3px;
    bottom: -3px;
}
.b_l_line{
    height: 5px;
    width: 26px;
    left: -3px;
    bottom: -3px;
}
.r_b_line{
    width: 5px;
    height: 24px;
    right: -3px;
    bottom: -3px;
}
.b_r_line{
    height: 5px;
    width: 26px;
    right: -3px;
    bottom: -3px;
}

.statistics_laboratory_data_bottom{
    width: calc(100% - 40px);
    height: 400px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.statistics_laboratory_bottom_center{
    width: 100%;
    height: 400px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    box-shadow: 0 0 10px #2C58A6;
}

.statistics_laboratory_main_table{
    width: 100%;
    margin-top: 25px;
}
/*实验室列表 鼠标移动 背景变色*/
.solutit:hover {border: 2px solid #ffffff; border-radius: 5px;background-color: #0c54a5}

.statistics_laboratory_height {
    /*line-height: 280px;*/
    position: absolute;
    right: 28px;
    top: 100px;
}
.statistics_laboratory {
    display: inline-block;
    padding: 10px 5px;
    width: 80px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 0.5em 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    background-color: #2C58A6;
    border-color: #0263ff;
    color: white;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset !important;
    margin-right: 0.5em;
    border-radius: 4px;
}

/* 设置滚动条的样式 */
#statistics_laboratory ::-webkit-scrollbar{
    width:12px;
    background-color: #2C58A6;
    border-radius:10px;
}

/* 滚动槽 */
#statistics_laboratory ::-webkit-scrollbar-track{
    border-radius:10px;
    background-color: #2C58A6;
}

/* 滚动条滑块 */
#statistics_laboratory ::-webkit-scrollbar-thumb{
    border-radius:10px;
    background: #0263ff;
}
.statistics_laboratory_detial_main{
    width: calc(100% - 40px);
    /*margin-bottom: 40px;*/
    /*height: 615px;*/
    margin-left: 20px;
    height: 100%;
}
/*.statistics_laboratory_detial_main_left{*/
/*    width: 45%;*/
/*}*/

.statistics_laboratory_detial_main_center{
    width:100%;
    height: 100%;
}
.statistics_laboratory_detial_center_text{
    width: calc(100% - 50px);
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    border-radius: 2px;
    position: relative;
}
/*
.statistics_laboratory_detial_main_title{
    width: 180px;
    height: 35px;
    line-height: 33px;
    background-color: #2C58A6;
    border-radius: 2px;
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -90px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    z-index: 1000;
    text-align: center;
}*/
/*进度条*/
.title_Nav {
    padding: 0px 10px 0px 20px; /*上、右、下、左*/
    line-height: 60px;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: #fff;
    position: relative;
    border-radius: 10px 0 0 10px;
}
.title_Nav:after {
    content: '';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #4776E6;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 1;
}
.title_Nav:before {
    content: '';
    display: none;
    border-top: 30px solid #7f5be9;
    border-bottom: 30px solid #7f5be9;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.done_Nav {
    padding: 0px 20px 0px 40px;
    line-height: 30px;
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: gray;
    position: relative;
}
.done_Nav:before {
    content: '';
    display: block;
    border-top: 30px solid #58c3dc;
    border-bottom: 30px solid #58c3dc;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.done_Nav:after {
    content: '';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #2193b0;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 1;
}
.done_NavEnd {
    padding: 0px 20px 0px 40px;
    line-height: 60px;
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: gray;
    position: relative;
    border-radius: 0px 10px 10px 0px;
}
.done_NavEnd:before {
    content: '';
    display: block;
    border-top: 30px solid #5cc6df;
    border-bottom: 30px solid #5cc6df;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.done_NavEnd:after {
    display: none;
}
.doing_Nav {
    padding: 0px 20px 0px 40px;
    line-height: 60px;
    background: #5433FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: #fff;
    position: relative;
}
.doing_Nav:before {
    content: '';
    display: block;
    border-top: 30px solid #5fdce6;
    border-bottom: 30px solid #5fdce6;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.doing_Nav:after {
    content: '';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #5433FF;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 1;
}
.doing_NavEnd {
    padding: 0px 20px 0px 40px;
    line-height: 60px;
    background: #5433FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: #fff;
    position: relative;
    border-radius: 0px 10px 10px 0px;
}
.doing_NavEnd:before {
    content: '';
    display: block;
    border-top: 30px solid #57d8ea;
    border-bottom: 30px solid #57d8ea;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.doing_NavEnd:after {
    display: none;
}
.undone_Nav {
    padding: 0px 20px 0px 40px;
    line-height: 60px;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: gray;
    position: relative;
}
.undone_Nav:before {
    content: '';
    display: block;
    border-top: 30px solid #d5dce0;
    border-bottom: 30px solid #d5dce0;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.undone_Nav:after {
    content: '';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #8e9eab;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 1;
}
.undone_NavEnd {
    padding: 0px 20px 0px 40px;
    line-height: 60px;
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: gray;
    position: relative;
    border-radius: 0px 10px 10px 0px;
}
.undone_NavEnd:before {
    content: '';
    display: block;
    border-top: 30px solid #d4dbe0;
    border-bottom: 30px solid #d4dbe0;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.undone_NavEnd:after {
    display: none;
}
.success_Nav {
    padding: 0px 20px 0px 40px;
    line-height: 60px;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: #fff;
    position: relative;
}
.success_Nav:after {
    content: '';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #4776E6;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 1;
}
.success_Nav:before {
    content: '';
    display: block;
    border-top: 30px solid #835ae9;
    border-bottom: 30px solid #835ae9;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.success_NavEnd {
    padding: 0px 20px 0px 40px;
    line-height: 60px;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    /*float:left;*/
    color: #fff;
    position: relative;
    border-radius: 0px 10px 10px 0px;
}
.success_NavEnd:before {
    content: '';
    display: block;
    border-top: 30px solid #7e5de9;
    border-bottom: 30px solid #7e5de9;
    border-left: 30px solid #0b1145;
    position: absolute;
    left: 0px;
    top: 0;
}
.success_NavEnd:after {
    display: none;
}

a.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background:#5384b1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
}
a.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6fa8dc;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
a.hvr-rectangle-out:hover,a.hvr-rectangle-out:focus,a.hvr-rectangle-out:active {
    color: white;
}
a.hvr-rectangle-out:hover:before,a.hvr-rectangle-out:focus:before,a.hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*模态框 动画*/
#statistics_laboratory_modal_container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash {
    transform: scale(1);
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash .statistics_laboratory_modal_background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash .statistics_laboratory_modal_background .statistics_laboratory_modal {
    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash + .statistics_laboratory_modal_content {
    animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash.out {
    animation: quickScaleDown 0s .5s linear forwards;
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash.out .statistics_laboratory_modal_background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash.out .statistics_laboratory_modal_background .statistics_laboratory_modal {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#statistics_laboratory_modal_container.statistics_laboratory_modal_flash.out + .statistics_laboratory_modal_content {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#statistics_laboratory_modal_container .statistics_laboratory_modal_background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
}
#statistics_laboratory_modal_container .statistics_laboratory_modal_background .statistics_laboratory_modal {
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50%;
    width: 50%;
    padding: 50px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 300;
    position: relative;
}
#statistics_laboratory_modal_container .statistics_laboratory_modal_background .statistics_laboratory_modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
#statistics_laboratory_modal_container .statistics_laboratory_modal_background .statistics_laboratory_modal p {
    font-size: 18px;
    line-height: 22px;
}
.statistics_laboratory_modal_content .statistics_laboratory_modal_buttons {
    text-align: center;
}
.statistics_laboratory_modal_content .statistics_laboratory_modal_buttons .statistics_laboratory_modal_button {
    display: inline-block;
    text-align: center;
    padding: 1px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 20px 10px 20px 10px;
}
@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}
@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}
@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}
@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
}
@keyframes scaleBack {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.85);
    }
}
@keyframes scaleForward {
    0% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/*===================
    bannerLiist-css
======================*/
.banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.banner > ul {
    display: none;
    /*width: 999999999px;*/
    height: 400px;
    padding: 0;
    position: absolute;
    top:0;
    left: 0;
}

.banner > ul > li  {
    float: left;
    height: 400px;
}

.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.img-btn-list > span  {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin: 0 5px;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

.img-btn-list > span.current {
    border: 3px solid rgba(0,0,0,0.8);
    background: rgba(255,255,255,0.8);
}



#slideCallback{overflow:hidden;width:100%;height:100%;}
#slideCallback .content{position:relative;float:left;overflow:hidden;width:40%;height: 100%}
#slideCallback .contentInner{height: 100%}
#slideCallback .content p{display:block;width:100%;height:100%;}
#slideCallback .content p img{display:block;width:100%;height:100%;vertical-align:baseline;}
#slideCallback .tag{float:left;width:60%;height:90%;}
#slideCallback .tag .feature{position:relative;width:100%;height:91px;}
#slideCallback .tag .feature a{display:block;width:100%;height:100%;text-decoration:none;opacity:0.4;filter:alpha(opacity=40);}
#slideCallback .tag .azure a{background-color:#49b8da;}
#slideCallback .tag .brick a{background-color:#A83513;}
#slideCallback .tag .gray a{background-color:#646464;}
#slideCallback .tag .green a{background-color:#85bb23;}
#slideCallback .tag .current a,#slideCallback .tag .feature a:hover{opacity:1;filter:alpha(opacity=100);}
#slideCallback .tag .feature img{position:absolute;left:18px;top:18px;width:56px;height:57px;}
#slideCallback .tag .feature span{position:absolute;left:92px;top:32px;width:70px;font-size:15px;text-align:left;color:#fff;}
#slideCallback .tag .feature .timerline{position:absolute;left:0;bottom:0;display:none;width:100%;height:7px;}
#slideCallback .tag .feature .dark-green{background-color:#308900;}
#slideCallback .tag .feature .dark-azure{background-color:#0088C4;}
#slideCallback .tag .feature .dark-brick{background-color:#6F0B01;}
#slideCallback .tag .feature .dark-gray{background-color:#272727;}