<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" th:src="@{${urlprefix}+'/js/warehouse/ship/ship_listKh.js'}" charset="utf-8"></script>
	<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
	<form id="taskListKhForm" class="form-horizontal form-inline">
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		<input type="hidden" id="khid" name="khid" th:value="${GzglDto.khid}">
		<input type="hidden" id="khs" name="khs">
		<div class="panel panel-default">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
				<div class="">
					<div class="form-group padding_l10">
						<select name="cxtj" class="form-control chosen-select" id="cxtj">
							<option value="0">客户名称</option>
							<option value="1">客户简称</option>
<!--							<option value="2">地区名称</option>-->
						</select>
						<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
							   onkeydown="if(event.keyCode==13) {searchTaskListFzrResult(); return false;}"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">检索</button>
				</div>
			</div>
		</div>
		<input id="t_khs"   name="t_khs" type="hidden" ></input>
		<table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
	</form>
</div>
</body>
</html>