<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>货物列表</title>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/warehouse/ship/ship_chooseXsmx.js'}" charset="utf-8"></script>
	</head>
	<body>
		<div class="panel-body body-content" style="padding-bottom:0px;">
			<form id="chooseXsmx_formSearch" action="" class="form-horizontal form-inline" data-bs-toggle="validation">
				<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
				<input type="hidden" name="wlbm" id ="wlbm" th:value="${hwxxDto.wlbm}">
				<input type="hidden" name="fhid" id ="fhid" th:value="${hwxxDto.fhid}">
				<input type="hidden" name="access_token"/>
				<div th:include="common/btn/ancz.html"></div>
				<table id="chooseXsmx_list" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true" ></table>
			</form>
		</div>
	</body>
</html>