<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
 	<form id="putInStorage_formSearch" class="form-horizontal form-inline">
 	<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
 	<input type="hidden" name="auditType" id="auditType" th:value="${auditType}">
 		<div class="panel panel-default">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
			 	<div class="">
					<div class="form-group padding_l10">
		            	<select name="putInStorage_select" id="putInStorage_select" class="form-control chosen-select" style="height:34px;">
							<option value="5">全&nbsp;&nbsp;&nbsp;&nbsp;部</option>
							<option value="0">入库单号</option>
		                	<option value="1">物料名称</option>
		                	<option value="2">物料编码</option>
							<option value="3">U8入库单号</option>
							<option value="4">录入人员</option>
		         		</select>
			      		<input id="putInStorage_input" name="putInStorage_input" class="form-control" placeholder="模糊匹配"
                        onkeydown="if(event.keyCode==13) {searchPutInStorageResult(); return false;}"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
					<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
				</div>
				<div class="sl_yx_con" id="sl_yx_con" style="display: none">
					<span class="tit">已选条件：</span>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
						<ul id="sl_add_ul"></ul>
					</div>
				</div>
				<div class="padding_t7 width100" id="searchMore"
						style="display: none;">
						<div class="tab-content sl_sel_con row"
							style="min-height: 120px; padding-left: 5px; margin-left: 0px; margin-right: 0px; padding-bottom: 10px;"
							id="sl_sel_con">
							<div class="tab-pane active" id="tab06">
								<div id="scbj_id" class="col-xs-12 col-sm-12 col-lg-12">
			                        <div class="form-group width100">
			                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="是否废弃">是否废弃：</label>
			                            <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
			                            	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
			                                    <li>
			                                        <a style='text-decoration:none;cursor:pointer;'
			                                           onclick="addTj('scbj','0','putInStorage_formSearch');"
			                                           id="scbj_id_0"><span>正常</span></a>
			                                    </li>
			                                    <li>
			                                        <a style='text-decoration:none;cursor:pointer;'
			                                           onclick="addTj('scbj','2','putInStorage_formSearch');"
			                                           id="scbj_id_2"><span>废弃</span></a>
			                                    </li>
			                            	</ul>
			                    		</div>
			                    	</div>
			                    </div>			                   
								<div id="rksj_id" class="col-md-12 col-sm-12 col-lg-12">
				                    <div class="form-group width100">
				                    <label
											class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"
											title="入库时间">入库时间：</label>

				                    	<div class="col-xs-9 col-sm-9  col-md-9 col-lg-9 sl_sel_list" >
											<input id="shsjstart" type="shsjstart" name="shsjstart" class="form-control" placeholder="开始时间"  validate="{required:true,}" />~
											<input id="shsjend" type="shsjend" name="shsjend" class="form-control" placeholder="结束时间"   validate="{required:true,}" />
				                 		</div>
				             		</div>
				             	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			 <input type="hidden" id="scbj_id_tj" name="scbj_id_tj">
		<div th:include="common/btn/ancz.html"></div>
 		<table id="putInStorage_list" class="table table-hover table-bordered table-hidden"></table>
 	</form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/putInStorage/putInStorage_list.js'}"></script>
</html>