<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/khgl/khgl_list.js?V=20221128'}" charset="utf-8"></script>
	</head>
	<body>
		<div class="panel-body body-content" style="padding-bottom:0px;">
	        <form id="khgllist_formSearch" class="form-horizontal form-inline">
	        	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
	        	<div class="panel panel-default">
		            <div class="panel-heading">查询条件</div>
		            <div class="panel-body">
		            	<div class="">
		                    <div class="form-group padding_l10">
		                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
		                        	<option value="0">全&emsp;部</option>
                            		<option value="1">省&emsp;份</option>
									<option value="2">客户代码</option>
									<option value="3">客户名称</option>
									<option value="4">客户简称</option>
									<option value="5">联系人</option>
									<option value="6">联系方式</option>
									<option value="7">邮&emsp;编</option>
								</select>
	                        	<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
	                               onkeydown="if(event.keyCode==13) {searchKhglResult(true); return false;}"/>
							</div>
							<div class="form-group padding-hidden-md-l30" style="margin-left:0px;color:#000">
			                  <label>发展日期</label>
			                  <input id="fzrqstart" name="fzrqstart" class="form-control" placeholder="发展开始日期" validate="{required:true}" />~
			                  <input id="fzrqend" name="fzrqend" class="form-control" placeholder="发展结束日期" validate="{required:true}" />
			        		</div>
							<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
							<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
						</div>
						<div class="sl_yx_con" id="sl_yx_con" style="display: none">
							<span class="tit">已选条件：</span>
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
								<ul id="sl_add_ul"></ul>
							</div>
						</div>
						<div class="padding_t7 width100" id="searchMore" style="display: none;" >
							<div class="tab-content sl_sel_con row" id="sl_sel_con" style="min-height:70px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
								<div class="tab-pane active" id="tab06">
									<div id="khlb_id" class="col-xs-12 col-sm-12 col-lg-12">
										<div class="form-group width100">
											<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="客户类别">客户类别：</label>
											<div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
												<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
													<li th:if="${khlblist !=null && khlblist.size() >0}" th:each="list:${khlblist}">
														<a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[khlb]],[[${list.csid}]],[[khgllist_formSearch]]);" th:id="'khlb_id_'+${list.csid}">
															<span th:text="${list.csmc}"></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		            </div>
		        </div>
				<div th:include="common/btn/ancz.html"></div>
				<input  type="hidden" id="khlb_id_tj" name="khlb_id_tj">
				<table id="khgl_list" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true" ></table>
	        </form>
	    </div>
	</body>
</html>