<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	</head>
	<body>
		<form id="listSet_ajaxForm" th:action="'/systemmain/list/'+${lbcxszDto.formAction}+'SaveListSet'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<input type="hidden" name="access_token"/>
			<input type="hidden" name="formAction" id="formAction" th:value="${lbcxszDto.formAction}"/>
			<input type="hidden" name="prezyid" id="prezyid" th:value="${lbcxszDto.prezyid}"/>
			<input type="hidden" name="preywid" id="preywid" th:value="${lbcxszDto.preywid}"/>
			<input type="hidden" name="zylj" id="zylj" th:value="${lbcxszDto.zylj}"/>
			<div class="body-content">
				<div id="xtzyb" class="panel panel-default">
					<div class="panel-heading">
						系统资源表
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>资源ID</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="zyid" name="zyid" th:value="${lbcxszDto.zyid}" validate="{required:true,stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>父节点</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="fjd" name="fjd" th:value="${lbcxszDto.fjd}" validate="{required:true,stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>资源标题</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="zybt" name="zybt" th:value="${lbcxszDto.zybt}" validate="{required:true,stringMaxLength:64}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>显示顺序</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xssx" name="xssx" th:value="${lbcxszDto.xssx}" validate="{required:true,stringMaxLength:8}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>菜单层次</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="cdcc" name="cdcc" th:value="${lbcxszDto.cdcc}" validate="{required:true,stringMaxLength:8}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>功能名</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="gnm" name="gnm" th:value="${lbcxszDto.gnm}" validate="{required:true,stringMaxLength:64}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						</div>
					</div>
				</div>
				<div class="panel panel-default" id="zyczb">
					<div class="panel-heading">
						资源操作表
					</div>
					<div class="panel-body">
						<div class="row">
		          			<div id="czdmsa" th:if="${lbcxszDtos != null && lbcxszDtos.size() >0}" th:each="czdmDto:${lbcxszDtos}" class="col-md-2 col-sm-6">
						    	<input th:type="checkbox" th:id="czdms" th:name="czdms" th:checked="${czdmDto.czdm ne '' and czdmDto.czdm ne null}" th:value="${czdmDto.czdm_cz}" th:text="${czdmDto.czmc}" th:data-on-color="success" th:data-off-color="warning" th:data-on-text="是" th:data-off-text="否" />
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						列表查询设置
					</div>
					<div class="panel-body">
						<div class="row">
							<div id="zd_ywid" class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label  for="" class="col-sm-4 control-label"><span style="color:red;">*</span>业务ID</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="ywid" name="ywid" th:value="${lbcxszDto.ywid}" validate="{required:true,stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">父菜单</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="fcd" name="fcd" th:value="${lbcxszDto.fcd}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">关联方式</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="glfs" name="glfs" th:value="${lbcxszDto.glfs}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">关联表</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="glb" name="glb" th:value="${lbcxszDto.glb}" validate="{stringMaxLength:3000}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">关联表缩写</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="glbsx" name="glbsx" th:value="${lbcxszDto.glbsx}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">关联字段</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="glzd" name="glzd" th:value="${lbcxszDto.glzd}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">隐藏条件</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="yctj" name="yctj" th:value="${lbcxszDto.yctj}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">排序信息</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="pxxx" name="pxxx" th:value="${lbcxszDto.pxxx}" validate="{stringMaxLength:64}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						列表查询条件设置
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">标题名</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="btm" name="btm" th:value="${lbcxszDto.btm}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">显示类型</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xslx" name="xslx" th:value="${lbcxszDto.xslx}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">输入ID</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="srid" name="srid" th:value="${lbcxszDto.srid}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">输入名</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="srm" name="srm" th:value="${lbcxszDto.srm}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">限制范围</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xzfw" name="xzfw" th:value="${lbcxszDto.xzfw}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">限制内容</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xznr" name="xznr" th:value="${lbcxszDto.xznr}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">关联基础类别</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="gljclb" name="gljclb" th:value="${lbcxszDto.gljclb}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">匹配类型</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="pplx" name="pplx" th:value="${lbcxszDto.pplx}" validate="{stringMaxLength:1}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">条件关联字段</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="glzd_tj" name="glzd_tj" th:value="${lbcxszDto.glzd_tj}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">扩展参数1</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="kzcs1" name="kzcs1" th:value="${lbcxszDto.kzcs1}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">扩展参数2</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="kzcs2" name="kzcs2" th:value="${lbcxszDto.kzcs2}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">扩展参数3</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="kzcs3" name="kzcs3" th:value="${lbcxszDto.kzcs3}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>高级筛选标记</label>      	
						          	<div class="col-sm-8 h30" >
						          		<label class="radio-inline"><input type="radio" value="1" name="gjsxbj" th:checked="${'1' eq lbcxszDto.gjsxbj}" validate="{required:true}">开</label>
						          		<label class="radio-inline"><input type="radio" value="0" name="gjsxbj" th:checked="${'0' eq lbcxszDto.gjsxbj}" validate="{required:true}">关</label>
						          	</div>
						        </div>
						     </div>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						列表字段设置
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">显示字段</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xszd" name="xszd" th:value="${lbcxszDto.xszd}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
							<div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>业务名称</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="ywmc" name="ywmc" th:value="${lbcxszDto.ywmc}" validate="{required:true,stringMaxLength:256}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">显示字段名称</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xszdmc" name="xszdmc" th:value="${lbcxszDto.xszdmc}" validate="{stringMaxLength:256}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">排序字段</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="pxzd" name="pxzd" th:value="${lbcxszDto.pxzd}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">显示顺序</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xsxx" name="xsxx" th:value="${lbcxszDto.xsxx}" validate="{stringMaxLength:6}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">SQL字段</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="sqlzd" name="sqlzd" th:value="${lbcxszDto.sqlzd}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">显示宽度</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xskd" name="xskd" th:value="${lbcxszDto.xskd}" validate="{stringMaxLength:32}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">显示格式</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="xsgs" name="xsgs" th:value="${lbcxszDto.xsgs}" validate="{stringMaxLength:128}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label">字段说明</label>      	
						          	<div class="col-sm-8">
						          		<input type="text" id="zdsm" name="zdsm" th:value="${lbcxszDto.zdsm}" validate="{stringMaxLength:512}" class="form-control" data-clear="true"/>
						          	</div>
						        </div>
						     </div>
						     <div class="col-md-4 col-sm-6">
						        <div class="form-group">
						          	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>默认显示</label>      	
						          	<div class="col-sm-8 h30">
						          		<label class="radio-inline"><input type="radio" value="1" name="mrxs" th:checked="${'1' eq lbcxszDto.mrxs}" validate="{required:true}">是</label>
						          		<label class="radio-inline"><input type="radio" value="0" name="mrxs" th:checked="${'0' eq lbcxszDto.mrxs}" validate="{required:true}">否</label>
						          	</div>
						        </div>
						     </div>
						</div>
					</div>
				</div>
			</div>
		</form>
		
		<script type="text/javascript" src="/js/systemmain/listset/listSet_edit.js" charset="utf-8"></script>
	</body>
</html>