<!DOCTYPE html>
<html lang="zh-cn">
<head>
</head>
<body>
<form id="ajaxForm"   class="form-horizontal sl_all_form" method="post" theme="simple">
<div class="body-content tab-content">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-2 col-xs-12 control-label">
							资讯标题：
						</label>
						<div class="col-sm-8 col-xs-12 padding_t7">
							<span th:text="${wbzxDto.zxbt}" ></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-12 control-label">
							资讯简介：
						</label>
						<div class="col-sm-8 col-xs-12 padding_t7">
							<span th:text="${wbzxDto.zxjj}" ></span>							
						</div>
					</div>
				</div> 
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-12 control-label">
							资讯类型：
						</label>
						<div class="col-sm-8 col-xs-12 padding_t7">
							<span th:text="${wbzxDto.zxlxmc}" ></span>
						</div>
					</div>
				</div> 
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-12 control-label">
							资讯子类型：
						</label>
						<div class="col-sm-8 col-xs-12 padding_t7">
							<span th:text="${wbzxDto.zxzlxmc}" ></span>							
						</div>
					</div>
				</div> 
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-12 control-label">
							发布日期：
						</label>
						<div class="col-sm-8 col-xs-12">
							<span th:text="${wbzxDto.fbrq}" ></span>							
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-4 col-xs-12 control-label">
							资讯地址：
						</label>
						<div class="col-sm-8 col-xs-12 padding_t7">
							<span th:text="${wbzxDto.zxdz}" ></span>							
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-2 col-xs-12 control-label">
							资讯清单地址：
						</label>
						<div class="col-sm-10 col-xs-12 padding_t7">
							<span th:text="${wbzxDto.zxqddz}" ></span>							
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-2 col-xs-12 control-label">
							资讯内容：
						</label>
						<div class="col-sm-10 col-xs-12 padding_t7">
							<span th:text="${wbzxDto.zxnr}" ></span>							
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>
</form>
</body>
</html>
