<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/wechat/wechatnews/wechatnews_add.js" charset="utf-8"></script>

</head>
<body>
<form id="ajaxForm" th:action="'/news/news/'+${wbzxDto.formAction}+'SaveWechatNews'" data-bs-toggle="validation" method="post"  class="form-horizontal sl_all_form blue-second-skin">
	<input type="hidden" id="zxid" name="zxid" th:value="${wbzxDto.zxid}"/>
	<input type="hidden" id="zxzlxmc" name="zxzlxmc" th:value="${wbzxDto.zxzlxmc}"/>
	<input type="hidden" name="access_token"/>
	<div class="body-content"  style="padding: 0px;">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>资讯标题:
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<input id="zxbt" name="zxbt" type="text" th:value="${wbzxDto.zxbt}" class="form-control" validate="{required:true,stringMaxLength:256}"/>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>资讯类型:
						</label>
						<div class="col-sm-8 col-xs-12 col-md-8"> 
							<select id="zxlx" name="zxlx" th:value="${wbzxDto.zxlx}" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
								<option value="">--请选择--</option>
                       			<option th:each="list:${zxlxlist}" th:value="${list.csid}" th:text="${list.csmc}"  th:selected="${list.csid eq wbzxDto.zxlx}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" id="zlx" style="display:none;">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>资讯子类型:
						</label>
						<div class="col-sm-8 col-xs-12 col-md-8"> 
							<select id="zxzlx" name="zxzlx" th:value="${wbzxDto.zxzlx}" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
								<option value="">--请选择--</option>
                       			<option th:value="${wbzxDto.zxzlx}" th:text="${wbzxDto.zxzlxmc}"  th:selected="${wbzxDto.zxzlx}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>发布日期:
						</label>
						<div class="col-sm-8 col-xs-12  padding_t7">
							<input type="text" id="fbrq" name="fbrq"  th:value="${wbzxDto.fbrq}" validate="{required:true}"  class="form-control" />
						</div>
					</div>
				</div> 
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>资讯地址:
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<input id="zxdz" name="zxdz" type="text" th:value="${wbzxDto.zxdz}" class="form-control" validate="{required:true,stringMaxLength:256}"/>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							资讯简介:
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<textarea id="zxjj" name="zxjj" th:value="${wbzxDto.zxjj}" th:text="${wbzxDto.zxjj}" rows="5" style="height:70px;"  validate="{stringMaxLength:512}" class="form-control"></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							资讯内容:
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<textarea id="zxnr" name="zxnr" th:value="${wbzxDto.zxnr}" th:text="${wbzxDto.zxnr}" rows="5" style="height:70px;"  validate="{stringMaxLength:5000}" class="form-control"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>