<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <script type="text/javascript" th:src="@{${urlPrefix} + '/js/globalweb/systemrole/organ_add.js'}" charset="utf-8"></script>
</head>
<body>
	<form id="ajaxForm"  th:action="${urlPrefix} + '/systemrole/organ/'+${JgxxDto.formAction}"  class="form-horizontal sl_all_form"  method="post" theme="simple" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" id="jgid" name="jgid" th:value="${JgxxDto.jgid}">
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		<div class="body-content tab-content">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 col-md-4 control-label">父机构名称</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<select  id="fjgid" name="fjgid" th:value="${JgxxDto.fjgid}" class="form-control chosen-select" style="height:34px;" >
								<option value="">--请选择--</option>
								<option th:if="${JgxxList!=null && JgxxList.size()>0}" th:each="jglist:${JgxxList}" th:value="${jglist.jgid}" th:text="${jglist.jgmc}" th:selected="${jglist.jgid eq JgxxDto.fjgid}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 col-md-4 control-label"><span style="color:red;">*</span>机构代码</label>
						<div class="col-sm-8 col-md-8 col-xs-12">
							<input type="text" id="jgdm" name="jgdm"  th:value="${JgxxDto.jgdm}" validate="{required:true,stringMaxLength:16}" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 col-md-4 control-label"><span style="color:red;">*</span>机构名称</label>
						<div class="col-sm-8 col-md-8 col-xs-12">
							<input type="text" id="jgmc" name="jgmc"  th:value="${JgxxDto.jgmc}" validate="{required:true,stringMaxLength:64}" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 col-md-4 control-label">
							<span style="color: red;">*</span>是否停用
						</label>
						<div class="col-sm-8 col-md-8 col-xs-12">
							<label class="radio-inline"><input type="radio"   value="0" name="sfty" validate="{required:true}" th:checked="${JgxxDto.sfty eq '0'}">否</label>
							<label class="radio-inline"><input type="radio"  value="1" name="sfty" validate="{required:true}" th:checked="${JgxxDto.sfty eq '1'}">是</label>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 col-md-4 control-label">扩展参数1</label>
						<div class="col-sm-8 col-md-8 col-xs-12">
							<input type="text" id="kzcs1" name="kzcs1" placeholder="自动生成记录编号的前缀" th:value="${JgxxDto.kzcs1}" validate="{required:false,stringMaxLength:128}" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 col-md-4 control-label">扩展参数2</label>
						<div class="col-sm-8 col-md-8 col-xs-12">
							<input type="text" id="kzcs2" name="kzcs2"  th:value="${JgxxDto.kzcs2}" validate="{required:false,stringMaxLength:128}" class="form-control" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>