<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form class="form-horizontal sl_all_form" method="post" theme="simple">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-sm-12 padding_t7 font-color">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									仓库编码：
								</label>
								<div class="col-md-8 col-xs-4">
									<span th:text="${ckxxDto.ckdm}" ></span>							
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12 padding_t7 font-color">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									仓库名称：
								</label>
								<div class="col-md-8 col-xs-4">
									<span th:text="${ckxxDto.ckmc}" ></span>							
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12 padding_t7 font-color">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									父&nbsp;&nbsp;仓&nbsp;库：
								</label>
								<div class="col-md-8 col-xs-12">
									<span th:text="${ckxxDto.fckmc}" ></span>							
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12 padding_t7 font-color">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									仓库类别：
								</label>
								<div class="col-md-8 col-xs-12">
									<span th:text="${ckxxDto.cklbmc}" ></span>							
								</div>
							</div>
						</div> 
						<div class="col-md-6 col-sm-12 padding_t7 font-color">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									录入人员：
								</label>
								<div class="col-md-8 col-xs-12">
									<span th:text="${ckxxDto.lrrymc}" ></span>							
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 padding_t7 font-color">
							<div class="form-group">
								<label for="" class="col-md-4 col-sm-4 control-label">
									录入时间：
								</label>
								<div class="col-md-8 col-xs-12">
									<span th:text="${ckxxDto.f_lrsj}" ></span>							
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 padding_t7 font-color">
							<div class="form-group">
								<label for="" class="col-md-2 col-sm-2 control-label">
									备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：
								</label>
								<div class="col-md-10 col-xs-12">
									<span th:text="${ckxxDto.bz}" ></span>							
								</div>
							</div>
						</div>  
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>