<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/ckxx/warehouse_batchpermit.js'}" charset="utf-8"></script>
</head>
<body>
<form id="batchpermitCkxxForm"  th:action="${urlPrefix}+'/warehouse/warehouse/batchpermitSaveCkxx'"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="ckid" id="ckid" th:value="${ckjgxxDto.ckid}"/>
    <input type="hidden" name="ckjgxx_json" id="ckjgxx_json">
    <div class="body-content">
        <div class="panel panel-default sample-formal">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12" id="bbDiv">
                        <button  type="button" class="btn btn-success" onclick="addDepartments()"><span>新增</span></button>
                        <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>