<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.IPayinfoDao" >

	<!-- 新增支付信息 -->
	<insert id="insert" parameterType="PayinfoModel">
		insert into igams_payinfo(zfid
			<if test="ywid !=null and ywid != ''">
				,ywid
			</if>
			<if test="ywlx !=null and ywlx != ''">
				,ywlx
			</if>
			<if test="ddbh !=null and ddbh != ''">
				,ddbh
			</if>
			<if test="ptddh !=null and ptddh != ''">
				,ptddh
			</if>
			<if test="glddh !=null and glddh != ''">
				,glddh
			</if>
			<if test="dylx !=null and dylx != ''">
				,dylx
			</if>
			<if test="dyjk !=null and dyjk != ''">
				,dyjk
			</if>
			<if test="ywyxx !=null and ywyxx != ''">
				,ywyxx
			</if>
			<if test="jg !=null and jg != ''">
				,jg
			</if>
			<if test="fkje !=null and fkje != ''">
				,fkje
			</if>
			<if test="jyje !=null and jyje != ''">
				,jyje
			</if>
			<if test="jysj !=null and jysj != ''">
				,jysj
			</if>
			<if test="cjsj !=null and cjsj != ''">
				,cjsj
			</if>
			<if test="cwxx !=null and cwxx != ''">
				,cwxx
			</if>
			<if test="zffs !=null and zffs != ''">
				,zffs
			</if>
			<if test="zfjcxm !=null and zfjcxm != ''">
				,zfjcxm
			</if>
			<if test="wbcxid !=null and wbcxid != ''">
				,wbcxid
			</if>
			,lrry,lrsj) values(#{zfid}
			<if test="ywid !=null and ywid != ''">
				,#{ywid}
			</if>
			<if test="ywlx !=null and ywlx != ''">
				,#{ywlx}
			</if>
			<if test="ddbh !=null and ddbh != ''">
				,#{ddbh}
			</if>
			<if test="ptddh !=null and ptddh != ''">
				,#{ptddh}
			</if>
			<if test="glddh !=null and glddh != ''">
				,#{glddh}
			</if>
			<if test="dylx !=null and dylx != ''">
				,#{dylx}
			</if>
			<if test="dyjk !=null and dyjk != ''">
				,#{dyjk}
			</if>
			<if test="ywyxx !=null and ywyxx != ''">
				,#{ywyxx}
			</if>
			<if test="jg !=null and jg != ''">
				,#{jg}
			</if>
			<if test="fkje !=null and fkje != ''">
				,#{fkje}
			</if>
			<if test="jyje !=null and jyje != ''">
				,#{jyje}
			</if>
			<if test="jysj !=null and jysj != ''">
				,cast(#{jysj} as timestamp)
			</if>
			<if test="cjsj !=null and cjsj != ''">
				,cast(#{cjsj} as timestamp)
			</if>
			<if test="cwxx !=null and cwxx != ''">
				,#{cwxx}
			</if>
			<if test="zffs !=null and zffs != ''">
				,#{zffs}
			</if>
			<if test="zfjcxm !=null and zfjcxm != ''">
				,#{zfjcxm}
			</if>
			<if test="wbcxid !=null and wbcxid != ''">
				,#{wbcxid}
			</if>
			,#{lrry},LOCALTIMESTAMP)
	</insert>
	
	<!-- 获取支付信息 -->
	<select id="getDto" parameterType="PayinfoDto" resultType="PayinfoDto">
		select payinfo.zfid, payinfo.ywid, payinfo.ywlx, payinfo.ptddh, payinfo.ddbh, payinfo.dylx, payinfo.dyjk, payinfo.ywyxx, payinfo.jg, payinfo.fkje, 
			payinfo.jyje, payinfo.jysj, payinfo.cwxx, payinfo.cjsj, payinfo.lrsj, payinfo.lrry, payinfo.zffs,payinfo.wbcxid,
			sjxx.sjid, sjxx.hzxm, sjxx.ybbh, sjxx.fkje sjfkje, sjxx.sfje, sjxx.db sjhb,payinfo.zfjcxm
		from igams_payinfo payinfo
		left outer join igams_sjxx sjxx on payinfo.ywid = sjxx.sjid and payinfo.ywlx = #{ywlx} and sjxx.scbj != '1'
		<where>
			<if test="zfid != null and zfid != ''">
				and payinfo.zfid = #{zfid}
			</if>
			<if test="ddbh != null and ddbh != ''">
				and payinfo.ddbh = #{ddbh}
			</if>
			<if test="ptddh != null and ptddh != ''">
				and payinfo.ptddh = #{ptddh}
			</if>
		</where>
	</select>
	
	<!-- 更新支付信息 -->
	<update  id="update" parameterType="PayinfoModel">
		update igams_payinfo
		<set>
			<if test="ptddh !=null and ptddh != ''">
				ptddh = #{ptddh},
			</if>
			<if test="ddbh !=null and ddbh != ''">
				ddbh = #{ddbh},
			</if>
			<if test="ywyxx !=null and ywyxx != ''">
				ywyxx = #{ywyxx},
			</if>
			<if test="jg !=null and jg != ''">
				jg = #{jg},
			</if>
			<if test="fkje !=null and fkje != ''">
				fkje = #{fkje},
			</if>
			<if test="jyje !=null and jyje != ''">
				jyje = #{jyje},
			</if>
			<if test="jysj !=null and jysj != ''">
				jysj = cast(#{jysj} as timestamp),
			</if>
			<if test="dylx !=null and dylx != ''">
				dylx = #{dylx},
			</if>
			<if test="dyjk !=null and dyjk != ''">
				dyjk = #{dyjk},
			</if>
			<if test="cwxx !=null and cwxx != ''">
				cwxx = #{cwxx},
			</if>
			<if test="cjsj !=null and cjsj != ''">
				cjsj = cast(#{cjsj} as timestamp),
			</if>
			<if test="zffs !=null and zffs != ''">
				zffs = #{zffs},
			</if>
			zfid = #{zfid}
		</set>
		<where>
			zfid = #{zfid}
		</where>
	</update>
	
	<!-- 查询未完成订单信息 -->
	<select id="getIncompOrders" parameterType="PayinfoDto" resultType="PayinfoDto">
		select payinfo.zfid, payinfo.ywid, payinfo.ywlx, payinfo.ptddh, payinfo.ddbh, payinfo.dylx, payinfo.dyjk, payinfo.ywyxx, payinfo.jg, payinfo.fkje, 
			payinfo.jyje, payinfo.jysj, payinfo.cwxx, payinfo.cjsj, payinfo.lrsj, payinfo.lrry, payinfo.zffs,payinfo.wbcxid
			from igams_payinfo payinfo
		where (payinfo.jg = '0' or payinfo.jg = '9') and payinfo.dylx = #{dylx} and payinfo.cjsj > now() - INTERVAL '30' MINUTE
		<if test="ywid != null and ywid != ''">
			and payinfo.ywid = #{ywid}
		</if>
	</select>
	
	<!-- 查询退款未完成订单信息 -->
	<select id="getRefundOrders" parameterType="PayinfoDto" resultType="PayinfoDto">
		select payinfo.zfid, payinfo.ywid, payinfo.ywlx, payinfo.ptddh, payinfo.ddbh, payinfo.dylx, payinfo.dyjk, payinfo.ywyxx, payinfo.jg, payinfo.fkje, 
			payinfo.jyje, payinfo.jysj, payinfo.cwxx, payinfo.cjsj, payinfo.lrsj, payinfo.lrry, payinfo.zffs
			from igams_payinfo payinfo
		where payinfo.jg = '0' and payinfo.dylx = #{dylx} and payinfo.cjsj > now() - INTERVAL '15' DAY
	</select>
	
	<!-- 查询未完成订单信息 -->
	<select id="selectPayOrders" parameterType="PayinfoDto" resultType="PayinfoDto">
		select payinfo.zfid, payinfo.ywid, payinfo.ywlx, payinfo.ptddh, payinfo.ddbh, payinfo.dylx, payinfo.dyjk, payinfo.ywyxx, payinfo.jg, payinfo.fkje, 
			payinfo.jyje, payinfo.jysj, payinfo.cwxx, payinfo.cjsj, payinfo.lrsj, payinfo.lrry, payinfo.zffs
			from igams_payinfo payinfo
		where payinfo.jg = '0' and payinfo.ywid = #{ywid} and payinfo.ywlx = #{ywlx}
	</select>

<!--	查询支付成功订单-->
	<select id="selectPayOrdersSuccess" parameterType="PayinfoDto" resultType="PayinfoDto">
		select payinfo.zfid, payinfo.ywid, payinfo.ywlx, payinfo.ptddh, payinfo.ddbh, payinfo.dylx, payinfo.dyjk, payinfo.ywyxx, payinfo.jg, payinfo.fkje,
			payinfo.jyje, payinfo.jysj, payinfo.cwxx, payinfo.cjsj, payinfo.lrsj, payinfo.lrry, payinfo.zffs,payinfo.zfjcxm
			from igams_payinfo payinfo
		<where>
			payinfo.jg = '1'
			<if test="ywid != null and ywid != ''">
				and payinfo.ywid = #{ywid}
			</if>
			<if test="ywlx != null and ywlx != ''">
				and payinfo.ywlx = #{ywlx}
			</if>
			<if test="zfid != null and zfid != ''">
				and payinfo.zfid = #{zfid}
			</if>
		</where>
		ORDER BY payinfo.jysj asc
	</select>
	
	<!-- 查询当前实付金额  -->
	<select id="selectPaidAmount" parameterType="PayinfoDto" resultType="String">
		SELECT SUM(tmp.sfje)
			FROM (
				SELECT payinfo.zfid, payinfo.jysj, payinfo.fkje, 
					SUM(CAST(CASE WHEN payinfo_tk.jg = '1' THEN payinfo_tk.fkje
						ELSE '0' END AS decimal)) AS tkje,
					SUM(CAST(CASE WHEN payinfo_tk.jg = '0' THEN payinfo_tk.fkje
						ELSE '0' END AS decimal)) AS tkzje,
					CAST(payinfo.fkje AS decimal) - SUM(CAST(CASE WHEN payinfo_tk.jg = '1' THEN payinfo_tk.fkje
						ELSE '0' END AS decimal)) - SUM(CAST(CASE WHEN payinfo_tk.jg = '0' THEN payinfo_tk.fkje
						ELSE '0' END AS decimal)) AS sfje
				FROM igams_payinfo payinfo
					LEFT JOIN igams_payinfo payinfo_tk ON payinfo.ddbh = payinfo_tk.glddh AND (payinfo_tk.jg = '1' OR payinfo_tk.jg = '0')
				<where> 
					payinfo.jg = '1'
					<if test="ywid != null and ywid != ''">
						and payinfo.ywid = #{ywid}
					</if>
					<if test="ywlx != null and ywlx != ''">
						and payinfo.ywlx = #{ywlx}
					</if>
					<if test="dylx != null and dylx != ''">
						and payinfo.dylx = #{dylx}
					</if>
				</where>
				GROUP BY payinfo.zfid, payinfo.jysj, payinfo.fkje
				ORDER BY payinfo.jysj
			) tmp
	</select>

</mapper>
