<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjbgsmDao" >

	<!--根据送检ID删除信息-->
	<delete id="deleteById" parameterType="String">
		delete from igams_sjbgsm
		<where>
			sjid = #{sjid}
		</where>
	</delete>
	<!--根据Dto删除信息-->
	<delete id="deleteBySjbgsmDto" parameterType="SjbgsmDto">
		delete from igams_sjbgsm
		<where>
			sjid = #{sjid} and jclx = #{jclx}
			<if test="jczlx !=null and jczlx != ''">
				and jczlx = #{jczlx}
			</if>
		</where>
	</delete>
	<!-- 增加送检报告说明 -->
	<insert id="insert" parameterType="SjbgsmModel">
		insert into igams_sjbgsm(sjid,jclx,bgrq
		<if test="ggzdsm !=null and ggzdsm != ''">
			,ggzdsm
		</if>
		<if test="yssm !=null and yssm != ''">
			,yssm
		</if>
		<if test="dzsm !=null and dzsm != ''">
			,dzsm
		</if>
		<if test="ggzdzb !=null and ggzdzb != ''">
			,ggzdzb
		</if>
		<if test="yszb !=null and yszb != ''">
			,yszb
		</if>
		<if test="dzzb !=null and dzzb != ''">
			,dzzb
		</if>
		<if test="ckwx !=null and ckwx != ''">
			,ckwx
		</if>
		<if test="jyry !=null and jyry != ''">
			,jyry
		</if>
		<if test="shry !=null and shry != ''">
			,shry
		</if>
		<if test="jczlx !=null and jczlx != ''">
			,jczlx
		</if>
		)values(#{sjid},#{jclx},cast(#{bgrq} as TIMESTAMP)
		<if test="ggzdsm !=null and ggzdsm != ''">
			,#{ggzdsm}
		</if>
		<if test="yssm !=null and yssm != ''">
			,#{yssm}
		</if>
		<if test="dzsm !=null and dzsm != ''">
			,#{dzsm}
		</if>
		<if test="ggzdzb !=null and ggzdzb != ''">
			,#{ggzdzb}
		</if>
		<if test="yszb !=null and yszb != ''">
			,#{yszb}
		</if>
		<if test="dzzb !=null and dzzb != ''">
			,#{dzzb}
		</if>
		<if test="ckwx !=null and ckwx != ''">
			,#{ckwx}
		</if>
		<if test="jyry !=null and jyry != ''">
			,#{jyry}
		</if>
		<if test="shry !=null and shry != ''">
			,#{shry}
		</if>
		<if test="jczlx !=null and jczlx != ''">
			,#{jczlx}
		</if>
		)
	</insert>
	<!-- 根据送检ID查询送检报告说明信息 -->
	<select id="selectSjbgBySjid" parameterType="SjbgsmDto" resultType="SjbgsmDto">
		select bgsm.sjid,bgsm.ggzdsm,bgsm.yssm,bgsm.ckwx,jclx.cskz1 jclx,bgsm.ggzdzb,bgsm.yszb,bgsm.ryzs||',高于'||bgsm.ryzsbfb||'%的同类标本' as host_index
		,jclx.csid jcxmid,bgsm.bgrq,jczlx.csid jczlx
		from igams_sjbgsm bgsm
		left join matridx_jcsj jclx on jclx.csid=bgsm.jclx
		left join matridx_jcsj jczlx on jczlx.csid=bgsm.jczlx
	<where>
		<if test="sjid != null and sjid != ''">
			and bgsm.sjid = #{sjid}
		</if>
		<if test="jclx != null and jclx!=''">
			and bgsm.jclx = #{jclx}
		</if>
		<if test="jczlx != null and jczlx!=''">
			and bgsm.jczlx = #{jczlx}
		</if>
	</where>
	</select>
</mapper>
