<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjdwlsxxDao" >

				 <!-- 增加送检单位历史信息 -->
		<insert id="insert" parameterType="SjdwlsxxModel">
			insert into igams_sjdwlsxx(dwid
			<if test="xh !=null and xh != ''">
				,xh
			</if>
			<if test="fdwid !=null and fdwid != ''">
				,fdwid
			</if>
			<if test="dwdm !=null and dwdm != ''">
				,dwdm
			</if>
			<if test="dwmc !=null and dwmc != ''">
				,dwmc
			</if>
			<if test="dh !=null and dh != ''">
				,dh
			</if>
				,lrry,lrsj) values(#{dwid}
			<if test="xh !=null and xh != ''">
				,#{xh}
			</if>
			<if test="fdwid !=null and fdwid != ''">
				,#{fdwid}
			</if>
			<if test="dwdm !=null and dwdm != ''">
				,#{dwdm}
			</if>
			<if test="dwmc !=null and dwmc != ''">
				,#{dwmc}
			</if>
			<if test="dh !=null and dh != ''">
				,#{dh}
			</if>
				,#{lrry},LOCALTIMESTAMP)
		</insert> 
	   				<!--   把送检单位信息添加到历史送检单位里边 -->
	    <insert id="insertLsxx"  parameterType="java.util.List">
	   		 insert into igams_sjdwlsxx(dwid,xh,fdwid,dwdm,dwmc,lrry,lrsj,kzcs)
	    		values
	    	<if test="list !=null and list.size>0">
	       		<foreach collection="list" separator="," item="item" index="index">
	       			(#{item.dwid},cast(#{item.xh} as numeric)
	       			,#{item.fdwid},#{item.dwdm},#{item.dwmc},#{item.lrry},LOCALTIMESTAMP,#{item.kzcs})
	      		</foreach>
	   		</if>
	   	</insert>
</mapper>
