<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjdwxxDao" >
			<!-- 增加送检单位信息 -->
	<insert id="insertSjdwxx" parameterType="SjdwxxModel">
			insert into igams_sjdwxx(dwid
		  	<if test="xh !=null and xh != ''">
				,xh
			</if>
			<if test="fdwid !=null and fdwid != ''">
				,fdwid
			</if>
			<if test="dwdm !=null and dwdm != ''">
				,dwdm
			</if>
			<if test="dwmc !=null and dwmc != ''">
				,dwmc
			</if>
			<if test="dh !=null and dh != ''">
				,dh
			</if>
			<if test="kzcs !=null and kzcs != ''">
				,kzcs
			</if>
			<if test="kzcs2 !=null and kzcs2 != ''">
				,kzcs2
			</if>
			<if test="kzcs3 !=null and kzcs3 != ''">
				,kzcs3
			</if>
		   		,lrry,lrsj,scbj) values(#{dwid}
		 	<if test="xh !=null and xh !=''">
	      		,cast(#{xh} as numeric)
	      	</if>
			<if test="fdwid !=null and fdwid != ''">
				,#{fdwid}
			</if>
			<if test="dwdm !=null and dwdm != ''">
				,#{dwdm}
			</if>
			<if test="dwmc !=null and dwmc != ''">
				,#{dwmc}
			</if>
			<if test="dh !=null and dh !=''">
				,#{dh}
			</if>
			<if test="kzcs !=null and kzcs != ''">
				,#{kzcs}
			</if>
			<if test="kzcs2 !=null and kzcs2 != ''">
				,#{kzcs2}
			</if>
			<if test="kzcs3 !=null and kzcs3 != ''">
				,#{kzcs3}
			</if>
				,#{lrry}
				,LOCALTIMESTAMP
			<if test="scbj !=null and scbj != ''">
				,#{scbj}
			</if>
			<if test="scbj == null or scbj == ''">
				,'0'
			</if>)
	</insert>
	<select id="getSjdwxx" resultType="SjdwxxDto">
			select dwid,xh,fdwid,dwdm,dwmc,dh,lrry,lrsj,xgry,xgsj,scry,scsj,scbj,kzcs
				from igams_sjdwxx 
			where  scbj  !='1' order by xh
	</select>
	<!-- 查询所有科室 -->
	<select id="getAllSjdwxx" resultType="SjdwxxDto">
		SELECT dwid, xh, fdwid, dwdm, dwmc, dh,lrry,lrsj,xgry,xgsj,scry,scsj,scbj, kzcs, kzcs2, kzcs3
		FROM igams_sjdwxx
	</select>
	
	 	<!--  删除送检单位信息 -->
	 <delete id="delSjdwxx">
		delete from igams_sjdwxx
	</delete>
	 	
	<!-- 查询送检单位列表 -->
	<select id="selectSjdwList" resultType="SjdwxxDto">
		select dwxx.dwid, dwxx.xh, dwxx.fdwid, dwxx.dwdm, dwxx.dwmc, dwxx.dh, dwxx.kzcs
			from igams_sjdwxx dwxx
		where dwxx.scbj != '1' order by xh asc
	</select>
</mapper>
