<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjhbxxDao" >
	
	<sql id="selectWhere">
			hb.scbj!='1'
		<if test="hbmc !=null and hbmc !=''">
			and hb.hbmc = #{hbmc}
		</if>
		<if test="hbid !=null and hbid !=''">
			and hb.hbid = #{hbid}
		</if>
		<if test="csmc !=null and csmc !=''">
			and jc_cs.csmc like '%'||#{csmc}||'%'
		</if>
		<if test="sfmc !=null and sfmc !=''">
			and jc_sf.csmc like '%'||#{sfmc}||'%'
		</if>
	</sql>
	
	
	<select id="getDto" parameterType="SjhbxxDto" resultType="SjhbxxDto">
		select hbid,hbmc,hblx,sf,cs,jc_sf.csmc sfmc,jc_cs.csmc csmc
		from igams_sjhbxx hb
		left outer join matridx_jcsj jc_sf on jc_sf.csid = hb.sf
		left outer join matridx_jcsj jc_cs on jc_cs.csid = hb.cs
		<where>
			<include refid="selectWhere"></include>
		</where>		    	
	</select>
	
	<!-- 删除合作伙伴 -->
	<update id="deletepartner" parameterType="SjhbxxDto">
  		update igams_sjhbxx 
  		<set>
  			scry=#{scry},scsj=LOCALTIMESTAMP,scbj='1'
  		</set>
  	 	<where>
  	 		scbj!='1' and ( 1 = 2
  	 		 	<if test="hbid !=null and hbid !=''">
		  	 		or hbid=#{hbid}
		  	 	</if>
		  	 	<if test="ids !=null and ids.size() !=''">
		  	 	 	or hbid in
		  	 	 		<foreach collection="ids" open="(" close=")" separator="," item="item" >
		  	 	 		 	#{item}
		  	 	 		</foreach>
		  	 	</if>
  	 		)
		</where>
  	</update>
  	
  	<!-- 添加合作伙伴 -->
	<insert id="insert" parameterType="SjhbxxModel">
	  	insert into igams_sjhbxx(hbid
		<if test="hbmc !=null and hbmc !=''">
			,hbmc
		</if>
		<if test="cskz4 !=null and cskz4 !=''">
			,cskz4
		</if>
		<if test="hbdm !=null and hbdm !=''">
			,hbdm
		</if>
		<if test="hblx !=null and hblx !=''">
			,hblx
		</if>
		<if test="sf !=null and sf !=''">
			,sf
		</if>
		<if test="cs !=null and cs !=''">
			,cs
		</if>
		<if test="yhid !=null and yhid !=''">
			,yhid
		</if>
		<if test="wxid !=null and wxid !=''">
			,wxid
		</if>
		<if test="bgmb !=null and bgmb !=''">
			,bgmb
		</if>
		<if test="fsfs !=null and fsfs !=''">
			,fsfs
		</if>
		<if test="yx !=null and yx !=''">
			,yx
		</if>
		<if test="yx2 !=null and yx2 !=''">
			,yx2
		</if>
		<if test="cskz1 !=''">
			,cskz1
		</if>
		<if test="cskz2 !=''">
			,cskz2
		</if>
		<if test="cskz3 !=''">
			,cskz3
		</if>
		<if test="fl !=''">
			,fl
		</if>
		<if test="zfl !=''">
			,zfl
		</if>
		<if test="tjmc !=''">
			,tjmc
		</if>
		<if test="gzlx !=null and gzlx !=''">
			,gzlx
		</if>
		,scbj)
			values(#{hbid}
		<if test="hbmc !=null and hbmc !=''">
			,#{hbmc}
		</if>
		<if test="cskz4 !=null and cskz4 !=''">
			,#{cskz4}
		</if>
		<if test="hbdm !=null and hbdm !=''">
			,#{hbdm}
		</if>
		<if test="hblx !=null and hblx!=''">
			,#{hblx}
		</if>
		<if test="sf !=null and sf !=''">
			,#{sf}
		</if>
		<if test="cs !=null and cs!=''">
			,#{cs}
		</if>
		<if test="yhid !=null and yhid!=''">
			,#{yhid}
		</if>
		<if test="wxid !=null and wxid!=''">
			,#{wxid}
		</if>
		<if test="bgmb !=null and bgmb !=''">
			,#{bgmb}
		</if>
		<if test="fsfs !=null and fsfs !=''">
			,#{fsfs}
		</if>
		<if test="yx !=null and yx !=''">
			,#{yx}
		</if>
		<if test="yx2 !=null and yx2 !=''">
			,#{yx2}
		</if>
		<if test="cskz1 !=''">
			,#{cskz1}
		</if>
		<if test="cskz2 !=''">
			,#{cskz2}
		</if>
		<if test="cskz3 !=''">
			,#{cskz3}
		</if>
		<if test="fl !=''">
			,#{fl}
		</if>
		<if test="zfl !=''">
			,#{zfl}
		</if>
		<if test="tjmc !=''">
			,#{tjmc}
		</if>
		<if test="gzlx !=null and gzlx !=''">
			,#{gzlx}
		</if>
	  	,'0')
	</insert>
	<!-- 添加合作伙伴 -->
	<insert id="insertDto" parameterType="SjhbxxDto">
		insert into igams_sjhbxx(hbid
		<if test="hbmc !=null and hbmc !=''">
			,hbmc
		</if>
		<if test="cskz4 !=null and cskz4 !=''">
			,cskz4
		</if>
		<if test="hbdm !=null and hbdm !=''">
			,hbdm
		</if>
		<if test="hblx !=null and hblx !=''">
			,hblx
		</if>
		<if test="sf !=null and sf !=''">
			,sf
		</if>
		<if test="cs !=null and cs !=''">
			,cs
		</if>
		<if test="yhid !=null and yhid !=''">
			,yhid
		</if>
		<if test="wxid !=null and wxid !=''">
			,wxid
		</if>
		<if test="bgmb !=null and bgmb !=''">
			,bgmb
		</if>
		<if test="fsfs !=null and fsfs !=''">
			,fsfs
		</if>
		<if test="yx !=null and yx !=''">
			,yx
		</if>
		<if test="yx2 !=null and yx2 !=''">
			,yx2
		</if>
		<if test="cskz1 !=''">
			,cskz1
		</if>
		<if test="cskz2 !=''">
			,cskz2
		</if>
		<if test="cskz3 !=''">
			,cskz3
		</if>
		<if test="wjmgz !=null and wjmgz !=''">
			,wjmgz
		</if>
		<if test="fl !=''">
			,fl
		</if>
		<if test="zfl !=''">
			,zfl
		</if>
		<if test="tjmc !=''">
			,tjmc
		</if>
		<if test="swmc !=''">
			,swmc
		</if>
		<if test="gzlx !=null and gzlx !=''">
			,gzlx
		</if>
		<if test="bgfs !=null and bgfs !=''">
			,bgfs
		</if>
		<if test="sjqf !=null and sjqf !=''">
			,sjqf
		</if>
		<if test="ptgs !=null and ptgs !=''">
			,ptgs
		</if>
		<if test="hzgsmc !=null and hzgsmc !=''">
			,hzgsmc
		</if>
		<if test="bz !=null and bz !=''">
			,bz
		</if>
		<if test="hbjb !=null and hbjb !=''">
			,hbjb
		</if>
		<if test="yptgs !=null and yptgs !=''">
			,yptgs
		</if>
		,scbj)
		values(#{hbid}
		<if test="hbmc !=null and hbmc !=''">
			,#{hbmc}
		</if>
		<if test="cskz4 !=null and cskz4 !=''">
			,#{cskz4}
		</if>
		<if test="hbdm !=null and hbdm !=''">
			,#{hbdm}
		</if>
		<if test="hblx !=null and hblx!=''">
			,#{hblx}
		</if>
		<if test="sf !=null and sf !=''">
			,#{sf}
		</if>
		<if test="cs !=null and cs!=''">
			,#{cs}
		</if>
		<if test="yhid !=null and yhid!=''">
			,#{yhid}
		</if>
		<if test="wxid !=null and wxid!=''">
			,#{wxid}
		</if>
		<if test="bgmb !=null and bgmb !=''">
			,#{bgmb}
		</if>
		<if test="fsfs !=null and fsfs !=''">
			,#{fsfs}
		</if>
		<if test="yx !=null and yx !=''">
			,#{yx}
		</if>
		<if test="yx2 !=null and yx2 !=''">
			,#{yx2}
		</if>
		<if test="cskz1 !=''">
			,#{cskz1}
		</if>
		<if test="cskz2 !=''">
			,#{cskz2}
		</if>
		<if test="cskz3 !=''">
			,#{cskz3}
		</if>
		<if test="wjmgz !=null and wjmgz !=''">
			,#{wjmgz}
		</if>
		<if test="fl !=''">
			,#{fl}
		</if>
		<if test="zfl !=''">
			,#{zfl}
		</if>
		<if test="tjmc !=''">
			,#{tjmc}
		</if>
		<if test="swmc !=''">
			,#{swmc}
		</if>
		<if test="gzlx !=null and gzlx !=''">
			,#{gzlx}
		</if>
		<if test="bgfs !=null and bgfs !=''">
			,#{bgfs}
		</if>
		<if test="sjqf !=null and sjqf !=''">
			,#{sjqf}
		</if>
		<if test="ptgs !=null and ptgs !=''">
			,#{ptgs}
		</if>
		<if test="hzgsmc !=null and hzgsmc !=''">
			,#{hzgsmc}
		</if>
		<if test="bz !=null and bz !=''">
			,#{bz}
		</if>
		<if test="hbjb !=null and hbjb !=''">
			,#{hbjb}
		</if>
		<if test="yptgs !=null and yptgs !=''">
			,#{yptgs}
		</if>
		,'0')
	</insert>
	<!--  修改伙伴信息 -->
	<update id="update" parameterType="SjhbxxModel">
		update igams_sjhbxx set
			<if test="hbmc !=null and hbmc !=''">
			  	hbmc=#{hbmc}
			</if>
			<if test="cskz4 !=null and cskz4 !=''">
				,cskz4=#{cskz4}
			</if>
			<if test="hbdm !=null and hbdm !=''">
				,hbdm=#{hbdm}
			</if>
			<if test="cskz4 !=null and cskz4 ==''">
				,cskz4=null
			</if>
			<if test="hblx !=null and hblx!=''">
				,hblx=#{hblx}
			</if>
			<if test="sf !=null and sf !=''">
				,sf=#{sf}
			</if>
			<if test="cs !=null and cs!=''">
				,cs=#{cs}
			</if>
			<if test="yhid !=null and yhid!=''">
				,yhid=#{yhid}
			</if>
			<if test="wxid !=null">
			  	,wxid=#{wxid}
			</if>
			<if test="bgmb !=null and bgmb !=''">
			  	,bgmb=#{bgmb}
			</if>
			<if test="fsfs !=null and fsfs !=''">
			  	,fsfs=#{fsfs}
			</if>
			<if test="yx !=null">
			  	,yx=#{yx}
			</if>
			<if test="cskz1 !=null">
			  	,cskz1=#{cskz1}
			</if>
			<if test="cskz2 !=null">
			  	,cskz2=#{cskz2}
			</if>	
			<if test="cskz3 !=null">
			  	,cskz3=#{cskz3}
			</if>	
			<if test="fl !=null">
			  	,fl=#{fl}
			</if>	
			<if test="zfl !=null">
			  	,zfl=#{zfl}
			</if>
			<if test="tjmc !=null and tjmc !=''">
			  	,tjmc=#{tjmc}
			</if>			
			<if test="gzlx !=null and gzlx !=''">
			 	,gzlx=#{gzlx}
			</if>
			<if test="gzlx ==null or gzlx ==''">
			 	,gzlx=null
			</if>
			<if test="yx2 !=null and yx2 !=''">
				,yx2=#{yx2}
			</if>
			<if test="yx2 !=null and yx2 ==''">
				,yx2=null
			</if>
			<where>
				hbid=#{hbid}
			</where>
	</update>
	<!--  执行修改操作 -->
	<update id="updatePageEvent" parameterType="SjhbxxDto">
		update igams_sjhbxx set xgsj = LOCALTIMESTAMP
		<if test="xgry !=null and xgry !=''">
			,xgry=#{xgry}
		</if>
		<if test="xgry ==null or xgry ==''">
			,xgry=null
		</if>
		<if test="hbmc !=null and hbmc !=''">
			,hbmc=#{hbmc}
		</if>
		<if test="hbmc ==null or hbmc ==''">
			,hbmc=null
		</if>
		<if test="cskz4 !=null and cskz4 !=''">
			,cskz4=#{cskz4}
		</if>
		<if test="cskz4 !=null and cskz4 ==''">
			,cskz4=null
		</if>
		<if test="hblx !=null and hblx !=''">
			,hblx=#{hblx}
		</if>
		<if test="hblx ==null or hblx ==''">
			,hblx=null
		</if>
		<if test="sf !=null and sf !=''">
			,sf=#{sf}
		</if>
		<if test="sf ==null or sf ==''">
			,sf=null
		</if>
		<if test="cs !=null and cs !=''">
			,cs=#{cs}
		</if>
		<if test="cs ==null or cs ==''">
			,cs=null
		</if>
		<if test="yhid !=null and yhid !=''">
			,yhid=#{yhid}
		</if>
		<if test="yhid ==null or yhid ==''">
			,yhid=null
		</if>
		<if test="yx !=null and yx !=''">
			,yx=#{yx}
		</if>
		<if test="yx ==null or yx ==''">
			,yx=null
		</if>
		<if test="yx2 !=null and yx2 !=''">
			,yx2=#{yx2}
		</if>
		<if test="yx2 !=null and yx2 ==''">
			,yx2=null
		</if>
		<if test="cskz1 !=null and cskz1 !=''">
			,cskz1=#{cskz1}
		</if>
		<if test="cskz1 ==null or cskz1 ==''">
			,cskz1=null
		</if>
		<if test="cskz2 !=null and cskz2 !=''">
			,cskz2=#{cskz2}
		</if>
		<if test="cskz2 ==null or cskz2 ==''">
			,cskz2=null
		</if>
		<if test="cskz3 !=null and cskz3 !=''">
			,cskz3=#{cskz3}
		</if>
		<if test="cskz3 ==null or cskz3 ==''">
			,cskz3=null
		</if>
		<if test="wjmgz !=null and wjmgz !=''">
			,wjmgz=#{wjmgz}
		</if>
		<if test="wjmgz ==null or wjmgz ==''">
			,wjmgz=null
		</if>
		<if test="fl !=null and fl !=''">
			,fl=#{fl}
		</if>
		<if test="fl ==null or fl ==''">
			,fl=null
		</if>
		<if test="zfl !=null and zfl !=''">
			,zfl=#{zfl}
		</if>
		<if test="zfl ==null or zfl ==''">
			,zfl=null
		</if>
		<if test="tjmc !=null and tjmc !=''">
			,tjmc=#{tjmc}
		</if>
		<if test="tjmc ==null or tjmc ==''">
			,tjmc=null
		</if>
		<if test="swmc !=null and swmc !=''">
			,swmc=#{swmc}
		</if>
		<if test="swmc ==null or swmc ==''">
			,swmc=null
		</if>
		<if test="gzlx !=null and gzlx !=''">
			,gzlx=#{gzlx}
		</if>
		<if test="gzlx ==null or gzlx ==''">
			,gzlx=null
		</if>
		<if test="bgfs !=null and bgfs !=''">
			,bgfs=#{bgfs}
		</if>
		<if test="bgfs ==null or bgfs ==''">
			,bgfs=null
		</if>
		<if test="sjqf !=null and sjqf !=''">
			,sjqf=#{sjqf}
		</if>
		<if test="sjqf ==null or sjqf ==''">
			,sjqf=null
		</if>
		<if test="hzgsmc !=null and hzgsmc !=''">
			,hzgsmc=#{hzgsmc}
		</if>
		<if test="hzgsmc ==null or hzgsmc ==''">
			,hzgsmc=null
		</if>
		<if test="bz !=null and bz !=''">
			,bz=#{bz}
		</if>
		<if test="hbdm !=null and hbdm !=''">
			,hbdm=#{hbdm}
		</if>
		<if test="scbj =='1'.toString()">
			<if test="dqxx ==null or dqxx ==''">
				,dqxx=null
			</if>
		</if>
		<if test="hbjb !=null and hbjb !=''">
			,hbjb=#{hbjb}
		</if>
		,ptgs=#{ptgs},yptgs=#{yptgs}
		<where>
			hbid=#{hbid}
		</where>
	</update>
	<!-- 通过hbid查询对应的合作伙伴 -->
	<select id="getHbmcByHbid" parameterType="list" resultType="String">
		select sjhb.hbmc from igams_sjhbxx sjhb
		<where> 
			sjhb.hbid in
		<foreach collection="list" open="(" close=")" separator=","  index="idnex" item="item">
			#{item}
		</foreach>
		</where>
	</select>

	<!-- 查询伙伴为'无'的用户信息 -->
	<select id="getXtyhByHbmc"  resultType="SjhbxxDto">
		select  hb.hbid,hb.hbmc,hb.sf,hb.cs,hb.yhid,yh.zsxm as xtyhm,yh.ddid,hb.tjmc
		from igams_sjhbxx hb
				 left join matridx_xtyh yh on yh.yhid = hb.yhid
		where yh.scbj != '1' and hb.hbmc = '无'
	</select>

	<update id="enablepartner" parameterType="SjhbxxDto">
		update igams_sjhbxx
		<set>
			scbj='0'
		</set>
		<where>
			<if test="hbid !=null and hbid !=''">
				or hbid=#{hbid}
			</if>
			<if test="ids !=null and ids.size() !=''">
				or hbid in
				<foreach collection="ids" open="(" close=")" separator="," item="item" >
					#{item}
				</foreach>
			</if>
		</where>
	</update>

	<update id="disablepartner" parameterType="SjhbxxDto">
		update igams_sjhbxx
		<set>
			scbj='2'
		</set>
		<where>
			<if test="hbid !=null and hbid !=''">
				or hbid=#{hbid}
			</if>
			<if test="ids !=null and ids.size() !=''">
				or hbid in
				<foreach collection="ids" open="(" close=")" separator="," item="item" >
					#{item}
				</foreach>
			</if>
		</where>
	</update>
</mapper>
