<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjkjxxDao" >

	<!-- 增加送检快捷信息 -->
	<insert id="insert" parameterType="SjkjxxModel">
		insert into igams_sjkjxx(wxid
		<if test="sjdw !=null and sjdw != ''">
			,sjdw
		</if>
		<if test="ks !=null and ks != ''">
			,ks
		</if>
		<if test="qtks !=null and qtks != ''">
			,qtks
		</if>
		<if test="sjys !=null and sjys != ''">
			,sjys
		</if>
		<if test="ysdh !=null and ysdh != ''">
			,ysdh
		</if>
		<if test="dbm !=null and dbm != ''">
			,dbm
		</if>
		<if test="jcdw !=null and jcdw != ''">
			,jcdw
		</if>
		) values(#{wxid}
		<if test="sjdw !=null and sjdw != ''">
			,#{sjdw}
		</if>
		<if test="ks !=null and ks != ''">
			,#{ks}
		</if>
		<if test="qtks !=null and qtks != ''">
			,#{qtks}
		</if>
		<if test="sjys !=null and sjys != ''">
			,#{sjys}
		</if>
		<if test="ysdh !=null and ysdh != ''">
			,#{ysdh}
		</if>
		<if test="dbm !=null and dbm != ''">
			,#{dbm}
		</if>
		<if test="jcdw !=null and jcdw != ''">
			,#{jcdw}
		</if>
		)
	</insert>
	<!-- 根据送检信息新增送检快捷信息 -->
	<insert id="inserBySjxxDto" parameterType="sjxxDto">
		insert into igams_sjkjxx(wxid
		<if test="sjdw !=null and sjdw != ''">
			,sjdw
		</if>
		<if test="ks !=null and ks != ''">
			,ks
		</if>
		<if test="qtks !=null and qtks != ''">
			,qtks
		</if>
		<if test="sjys !=null and sjys != ''">
			,sjys
		</if>
		<if test="ysdh !=null and ysdh != ''">
			,ysdh
		</if>
		<if test="db !=null and db != ''">
			,dbm
		</if>
		<if test="jcdw !=null and jcdw != ''">
			,jcdw
		</if>
		) values(#{wxid}
		<if test="sjdw !=null and sjdw != ''">
			,#{sjdw}
		</if>
		<if test="ks !=null and ks != ''">
			,#{ks}
		</if>
		<if test="qtks !=null and qtks != ''">
			,#{qtks}
		</if>
		<if test="sjys !=null and sjys != ''">
			,#{sjys}
		</if>
		<if test="ysdh !=null and ysdh != ''">
			,#{ysdh}
		</if>
		<if test="db !=null and db != ''">
			,#{db}
		</if>
		<if test="jcdw !=null and jcdw != ''">
			,#{jcdw}
		</if>
		)
	</insert>
	
	<!-- 通过微信ID查询用户信息 -->
	<select id="getDtoById" parameterType="String" resultType="SjkjxxDto">
		select sjkjxx.wxid,sjkjxx.sjdw,sjkjxx.ks,sjkjxx.sjys,sjkjxx.ysdh,sjkjxx.dbm,sjkjxx.qtks,sjkjxx.jcdw,
			yyxx.dwmc sjdwmc, yyxx.cskz1 sjdwbj
			from igams_sjkjxx sjkjxx
			left join igams_yyxx yyxx on  sjkjxx.sjdw = yyxx.dwid
			<where>
				 sjkjxx.wxid = #{wxid}
			</where>
	</select>
	<!--根据微信ID删除权限信息-->
	<delete id="deleteById" parameterType="String">
		delete from igams_sjkjxx
		<where>
				wxid = #{wxid}
		</where>
	</delete>
</mapper>
