<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjyczdWechatDao">

	<insert id="insert" parameterType="SjyczdWechatDto">
		insert into igams_sjyczd(ycid, zdry, zdsj)
		values (#{ycid}, #{zdry}, LOCALTIMESTAMP)
	</insert>

	<delete id="delete" parameterType="SjyczdWechatDto">
		delete from igams_sjyczd
		<where>
			ycid=#{ycid} and zdry=#{zdry}
		</where>
	</delete>

</mapper>
