<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjyctzWechatDao" >

	<!-- 新增异常通知人员 -->
	<insert id="insert" parameterType="SjyctzWechatDto">
		insert into igams_sjyctz(ycid,lx,ryid)
		values
		<foreach collection="ids" open="" close="" separator="," item="item" index="index">
			(#{ycid},#{lx},#{item})
		</foreach>
	</insert>
	
	<!-- 删除异常通知人员 -->
	<delete id="delete" parameterType="SjyctzWechatDto">
		delete from igams_sjyctz
		<where>
			ycid=#{ycid}
		</where>
	</delete>
</mapper>
