<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.ISjyzDao" >
	<!-- 新增 -->
	<insert id="insert" parameterType="SjyzDto">
		insert into igams_sjyz(yzid,sjid,lrry,lrsj,scbj
			<if test="yzlb !=null and yzlb !=''">
				,yzlb
			</if>
			<if test="yzjg !=null and yzjg !=''">
				,yzjg
			</if>
			<if test="qf !=null and qf !=''">
				,qf
			</if>
			<if test="khtz !=null and khtz !=''">
				,khtz
			</if>
			<if test="bz !=null and bz !=''">
				,bz
			</if>
			<if test="zt != null and zt !=''">
				,zt
			</if>
		)values(#{yzid},#{sjid},#{lrry},LOCALTIMESTAMP,'0'
			<if test="yzlb !=null and yzlb !=''">
				,#{yzlb}
			</if>
			<if test="yzjg !=null and yzjg !=''">
				,#{yzjg}
			</if>
			<if test="qf !=null and qf !=''">
				,#{qf}
			</if>
			<if test="khtz !=null and khtz !=''">
				,#{khtz}
			</if>
			<if test="bz !=null and bz !=''">
				,#{bz}
			</if>
			<if test="zt != null and zt !=''">
				,#{zt}
			</if>)
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="SjyzDto">
		update igams_sjyz set xgry=#{xgry},xgsj=LOCALTIMESTAMP
			<if test="yzlb !=null and yzlb !=''">
				,yzlb=#{yzlb}
			</if>
			<if test="yzjg !=null and yzjg !=''">
				,yzjg=#{yzjg}
			</if>
			<if test="qf !=null and qf !=''">
				,qf=#{qf}
			</if>
			<if test="khtz !=null and khtz !=''">
				,khtz=#{khtz}
			</if>
			<if test="bz !=null and bz !=''">
				,bz=#{bz}
			</if>
			<if test="zt != null and zt !=''">
				,zt=#{zt}
			</if>
		<where>
			yzid=#{yzid}
		</where>
	</update>
	
	<delete id="delete" parameterType="SjyzDto">
		update igams_sjyz set scry=#{scry},scsj=LOCALTIMESTAMP,scbj='1'
		<where>
			yzid in
			<foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</where>
	</delete>
	
	<select id="getDto" parameterType="SjyzDto" resultType="SjyzDto"> 
		select sjxx.ybbh,sjxx.nbbm,sjxx.hzxm,sjxx.nl,case when sjxx.yblxmc is null then jc_yblx.csmc else sjxx.yblxmc end yblxmc,sjxx.db,
		sjyz.yzid,sjyz.sjid,sjyz.yzlb,jc_yzlb.csmc as yzlbmc,sjyz.yzjg,sjyz.bz,sjyz.zt,xt_lrry.zsxm as lrrymc,sjyz.lrsj,jc_yzjg.csmc yzjgmc,
		jc_qf.csmc as qfmc,jc_khtz.csmc as khtzmc,sjyz.qf,sjyz.khtz,to_char(sjyz.lrsj,'yyyy-mm-dd hh24:mi') as lrsj_format
		from igams_sjyz sjyz 
		left join igams_sjxx sjxx on sjxx.sjid =sjyz.sjid
		left join matridx_jcsj jc_yblx on jc_yblx.csid =sjxx.yblx
		left join matridx_jcsj jc_yzlb on jc_yzlb.csid =sjyz.yzlb
		left join matridx_xtyh xt_lrry on xt_lrry.yhid= sjyz.lrry
		left join matridx_jcsj jc_yzjg on jc_yzjg.csid=sjyz.yzjg
		left join matridx_jcsj jc_qf on jc_qf.csid=sjyz.qf
		left join matridx_jcsj jc_khtz on jc_khtz.csid=sjyz.khtz
		<where>
			sjyz.scbj !='1'
			<if test="yzid != null and yzid !=''">
				and sjyz.yzid=#{yzid}
			</if>
		</where>
	</select>
</mapper>
	
	
	