<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.IXxcqxxjlDao" >
	<!-- 增加送检信息 -->
	<insert id="insert" parameterType="XxcqxxjlModel">
		insert into igams_xxcqxxjl(jlid
		<if test="wxid !=null and wxid != ''">
			,wxid
		</if>
		<if test="xh !=null and xh != ''">
			,xh
		</if>
		<if test="hzid !=null and hzid != ''">
			,hzid
		</if>
		<if test="sjxx !=null and sjxx != ''">
			,sjxx
		</if>
		<if test="cqxx !=null and cqxx != ''">
			,cqxx
		</if>
		<if test="ysxx !=null and ysxx != ''">
			,ysxx
		</if>
		<if test="sfzq !=null and sfzq != ''">
			,sfzq
		</if>
		,lrry,lrsj,scbj) values(#{jlid}
		<if test="wxid !=null and wxid != ''">
			,#{wxid}
		</if>
		<if test="xh !=null and xh != ''">
			,cast(#{xh} as numeric)
		</if>
		<if test="hzid !=null and hzid != ''">
			,#{hzid}
		</if>
		<if test="sjxx !=null and sjxx != ''">
			,#{sjxx}
		</if>
		<if test="cqxx !=null and cqxx != ''">
			,#{cqxx}
		</if>
		<if test="ysxx !=null and ysxx != ''">
			,#{ysxx}
		</if>
		<if test="sfzq !=null and sfzq != ''">
			,#{sfzq}
		</if>
		,#{lrry},LOCALTIMESTAMP,'0')
	</insert>
	
	<!-- 更新学习记录 -->
	<update id="update" parameterType="XxcqxxjlModel">
		update igams_xxcqxxjl 
		<set>
			xgry = #{xgry}
			,xgsj = LOCALTIMESTAMP
			<if test="wxid !=null and wxid !=''">
				,wxid = #{wxid}
			</if>
			<if test="xh !=null and xh !=''">
				,xh = #{xh}
			</if>
			<if test="hzid !=null and hzid !=''">
				,hzid = #{hzid}
			</if>
			<if test="sjxx !=null and sjxx !=''">
				,sjxx = #{sjxx}
			</if>
			<if test="cqxx !=null and cqxx !=''">
				,cqxx = #{cqxx}
			</if>
			<if test="ysxx !=null and ysxx !=''">
				,ysxx = #{ysxx}
			</if>
			<if test="sfzq !=null and sfzq !=''">
				,sfzq = #{sfzq}
			</if>
		</set>
		<where>
			scbj != '1' and jlid = #{jlid}
		</where>
	</update>
	
	<!-- 查询最近3条已确认信息 -->
	<select id="getRecentCorrect" parameterType="XxcqxxjlDto" resultType="XxcqxxjlDto">
		select xxjl.jlid,xxjl.wxid,xxjl.xh,xxjl.hzid,xxjl.sfzq,xxjl.sjxx
			from igams_xxcqxxjl xxjl
			<where>
				xxjl.scbj !='1' 
				and xxjl.sfzq != '' 
				and xxjl.sfzq is not null
				and xxjl.wxid = #{wxid}
			</where>
			order by xxjl.lrsj desc
			limit 3
	</select>
	
	<!-- 根据记录ID查询学习信息 -->
	<select id="getDto" parameterType="XxcqxxjlDto" resultType="XxcqxxjlDto">
		select xxjl.jlid,xxjl.wxid,xxjl.xh,xxjl.hzid,xxjl.sjxx,xxjl.cqxx,xxjl.ysxx,xxjl.sfzq,xxjl.lrsj,
			xxjl.lrry,xxjl.xgsj,xxjl.xgry,xxjl.scbj
			from igams_xxcqxxjl xxjl
			<where>
				xxjl.scbj !='1'
				and xxjl.jlid = #{jlid}
			</where>
	</select>

	
</mapper>
