<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.IXxdjDao" >
	<insert id="insert" parameterType="XxdjDto">
		insert into matridx_xxdj(xxid
			<if test="xxlx !=null and xxlx !=''">
				,xxlx
			</if>
			<if test="wxid !=null and wxid !=''">
				,wxid
			</if>
			<if test="wbxx1  !=null and  wbxx1  !=''">
				,wbxx1 
			</if>
			<if test="wbxx2  !=null and  wbxx2  !=''">
				,wbxx2 
			</if>
			<if test="wbxx3  !=null and  wbxx3  !=''">
				,wbxx3 
			</if>
			<if test="wbxx4  !=null and  wbxx4  !=''">
				,wbxx4 
			</if>
			<if test="wbxx5 !=null and  wbxx5  !=''">
				,wbxx5 
			</if>
			<if test="wbxx6 !=null and wbxx6 !=''">
				,wbxx6
			</if>
			<if test="wbxx7 !=null and wbxx7 !=''">
				,wbxx7
			</if>
			<if test="wbxx8 !=null and wbxx8 !=''">
				,wbxx8
			</if>
			<if test="sjxx1 !=null and sjxx1 !=''">
				,sjxx1
			</if>
			<if test="sjxx2 !=null and sjxx2 !=''">
				,sjxx2
			</if>
			<if test="sjxx3 !=null and sjxx3 !=''">
				,sjxx3
			</if>
			<if test="rqxx1  !=null and rqxx1 !=''">
				,rqxx1
			</if>
			<if test="rqxx2 !=null and rqxx2!=''">
				,rqxx2
			</if>
			<if test="rqxx3 !=null and rqxx3 !=''">
				,rqxx3
			</if>
			<if test="bjxx1 !=null and  bjxx1 !=''">
				,bjxx1
			</if>
			<if test="bjxx2 !=null and  bjxx2 !=''">
				,bjxx2
			</if>
			<if test="bjxx3 !=null and  bjxx3 !=''">
				,bjxx3
			</if>
			<if test="xgry !=null and  xgry !=''">
				,xgry 
			</if>
			<if test="xgsj !=null and xgsj !=''">
				,xgsj
			</if>
			<if test="scry !=null and scry !=''">
				,scry
			</if>
			<if test="scsj !=null and scsj !=''">
				,scsj
			</if>
			<if test="qdsj !=null and qdsj !=''">
				,qdsj
			</if>
			,lrry,lrsj,scbj) values(#{xxid}
			<if test="xxlx !=null and xxlx !=''">
				,#{xxlx}
			</if>
			<if test="wxid !=null and wxid !=''">
				,#{wxid}
			</if>
			<if test="wbxx1  !=null and  wbxx1  !=''">
				,#{wbxx1} 
			</if>
			<if test="wbxx2  !=null and  wbxx2  !=''">
				,#{wbxx2} 
			</if>
			<if test="wbxx3  !=null and  wbxx3  !=''">
				,#{wbxx3} 
			</if>
			<if test="wbxx4  !=null and  wbxx4  !=''">
				,#{wbxx4} 
			</if>
			<if test="wbxx5 !=null and  wbxx5  !=''">
				,#{wbxx5} 
			</if>
			<if test="wbxx6 !=null and wbxx6 !=''">
				,#{wbxx6}
			</if>
			<if test="wbxx7 !=null and wbxx7 !=''">
				,#{wbxx7}
			</if>
			<if test="wbxx8 !=null and wbxx8 !=''">
				,#{wbxx8}
			</if>
			<if test="sjxx1 !=null and sjxx1 !=''">
				,cast(#{sjxx1} as  timestamp )
			</if>
			<if test="sjxx2 !=null and sjxx2 !=''">
				,cast(#{sjxx2} as  timestamp )
			</if>
			<if test="sjxx3 !=null and sjxx3 !=''">
				,cast(#{sjxx3} as  timestamp )
			</if>
			<if test="rqxx1  !=null and rqxx1 !=''">
				,cast(#{rqxx1} as  timestamp )
			</if>
			<if test="rqxx2 !=null and rqxx2!=''">
				,cast(#{rqxx2} as  timestamp )
			</if>
			<if test="rqxx3 !=null and rqxx3 !=''">
				,cast(#{rqxx3} as  timestamp )
			</if>
			<if test="bjxx1 !=null and  bjxx1 !=''">
				,#{bjxx1}
			</if>
			<if test="bjxx2 !=null and  bjxx2 !=''">
				,#{bjxx2}
			</if>
			<if test="bjxx3 !=null and  bjxx3 !=''">
				,#{bjxx3}
			</if>
			<if test="xgry !=null and  xgry !=''">
				,#{xgry} 
			</if>
			<if test="xgsj !=null and xgsj !=''">
				,cast(#{xgsj} as timestamp) 
			</if>
			<if test="scry !=null and scry !=''">
				,#{scry} 
			</if>
			<if test="scsj !=null and scsj !=''">
				,cast(#{scsj} as timestamp)
			</if>
			<if test="qdsj !=null and qdsj !=''">
				,cast(#{qdsj} as timestamp)
			</if>
			,#{wxid},LOCALTIMESTAMP,'0')
	</insert>
	
	<!-- 查询单个 -->
	<select id="getDto" parameterType="XxdjDto" resultType="XxdjDto">
		select  xxdj.xxid,xxdj.xxlx,xxdj.wxid,xxdj.wbxx1,xxdj.wbxx2,xxdj.wbxx3,xxdj.wbxx4,xxdj.wbxx5,xxdj.wbxx6,xxdj.wbxx7,xxdj.wbxx8,
				xxdj.sjxx1,xxdj.sjxx2,xxdj.sjxx3,xxdj.rqxx1,xxdj.rqxx2,xxdj.rqxx3,xxdj.bjxx1,xxdj.bjxx2,xxdj.bjxx3,xxdj.qdsj
		from matridx_xxdj xxdj
		<where>
			xxdj.scbj!='1'
			<if test="wxid !=null and wxid !=''">
				and xxdj.wxid=#{wxid}
			</if>
			<if test="xxlx !=null and xxlx !=''">
				and xxdj.xxlx=#{xxlx}
			</if>
		</where>
	</select>
	
	<!-- 删除消息 -->
	<update id="deleteByWxid" parameterType="String">
		update matridx_xxdj set scbj='1' 
		<where>
			wxid=#{wxid}
		</where>
	</update>
	
	<!-- 更新送检信息 -->
	<update  id="update" parameterType="XxdjDto">
		update matridx_xxdj
		<set>
			xgry = #{wxid}
			<if test="xxlx !=null and xxlx !=''">
				,xxlx = #{xxlx}
			</if>
			<if test="wxid !=null and wxid !=''">
				,wxid = #{wxid}
			</if>
			<if test="wbxx1  !=null and  wbxx1  !=''">
				,wbxx1 = #{wbxx1}
			</if>
			<if test="wbxx2  !=null and  wbxx2  !=''">
				,wbxx2 = #{wbxx2} 
			</if>
			<if test="wbxx3  !=null and  wbxx3  !=''">
				,wbxx3 = #{wbxx3}
			</if>
			<if test="wbxx4  !=null and  wbxx4  !=''">
				,wbxx4 = #{wbxx4}
			</if>
			<if test="wbxx5 !=null and  wbxx5  !=''">
				,wbxx5 = #{wbxx5}
			</if>
			<if test="wbxx6 !=null and wbxx6 !=''">
				,wbxx6 = #{wbxx6}
			</if>
			<if test="wbxx7 !=null and wbxx7 !=''">
				,wbxx7 = #{wbxx7}
			</if>
			<if test="wbxx8 !=null and wbxx8 !=''">
				,wbxx8 = #{wbxx8}
			</if>
			<if test="sjxx1 !=null and sjxx1 !=''">
				,sjxx1 = #{sjxx1}
			</if>
			<if test="sjxx2 !=null and sjxx2 !=''">
				,sjxx2 = #{sjxx2}
			</if>
			<if test="sjxx3 !=null and sjxx3 !=''">
				,sjxx3 = #{sjxx3}
			</if>
			<if test="rqxx1  !=null and rqxx1 !=''">
				,rqxx1 = #{rqxx1}
			</if>
			<if test="rqxx2 !=null and rqxx2!=''">
				,rqxx2 = #{rqxx2}
			</if>
			<if test="rqxx3 !=null and rqxx3 !=''">
				,rqxx3 = #{rqxx3}
			</if>
			<if test="bjxx1 !=null and  bjxx1 !=''">
				,bjxx1 = #{bjxx1}
			</if>
			<if test="bjxx2 !=null and  bjxx2 !=''">
				,bjxx2 = #{bjxx2}
			</if>
			<if test="bjxx3 !=null and  bjxx3 !=''">
				,bjxx3 = #{bjxx3}
			</if>
			<if test="qdsj !=null and qdsj !=''">
				,qdsj = cast(#{qdsj} as timestamp)
			</if>
			,xgsj = LOCALTIMESTAMP
		</set>
		<where>
			xxid = #{xxid}
		</where>
	</update>
</mapper>
