<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.wechat.dao.post.IXxpzDao" >
	<select id="getDtoList" parameterType="XxpzDto" resultType="XxpzDto">
		select xxlx,xh,xsmc,wbxx,kzcs1,kzcs2,sfbt,lrry,lrsj from matridx_xxpz
		<where>
				scbj != '1'
			<if test="xxlx !=null and xxlx !=''">
				and xxlx=#{xxlx}
			</if>
		</where>
		order by xh
	</select>
</mapper>
