<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/progress/progress_edit.js'}" charset="utf-8"></script>
    <style type="text/css">
		.bootstrap-tagsinput{
			width:100%;
		}
        #fjcfbDto span:hover{
            cursor:pointer;
        }
        .bootstrap-tagsinput {
            min-width:100%;
        }
        .label-info {
            cursor: pointer;
        }
        th{
            font-weight:bold;
            text-align: center;
        }
	</style>
</head>
<body>
<form id="progress_edit_ajaxForm" th:action ="${urlPrefix}+${cpxqjhDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content">
        <div id="row" class="row">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="fjids" id="fjids"/>
            <input type="hidden" name="xqjhmx_json" id="xqjhmx_json"/>
            <input type="hidden" name="addwlid" id="addwlid"/>
            <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
            <input type="hidden" name="url" id="url" th:value="${url}">
            <input type="hidden" name="xqjhid" id="xqjhid" th:value="${cpxqjhDto.cpxqid}">
            <input type="hidden" name="cpxqid" id="cpxqid" th:value="${cpxqjhDto.cpxqid}">
            <input type="hidden" name="zt" id="zt" th:value="${cpxqjhDto.zt}">
            <input type="hidden" name="ywlx" id="ywlx" th:value="${ywlx}">
            <input type="hidden" name="auditType" id ="auditType" th:value="${auditType}">
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                   <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>需求单号:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                    <div class="input-group">
                        <input type="text" id="xqdh" name="xqdh" th:value="${cpxqjhDto.xqdh}" validate="{required:true,stringMaxLength:64}" class="form-control" style="height:28px;" autocomplete="off"/>
                        <span class="input-group-btn">
							<button type="button" onclick="refreshXqdh()" class="btn btn-primary" style="height:28px !important;">刷新</button>
						</span>
					</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>需求日期:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="xqrq" th:value="${cpxqjhDto.xqrq}" name="xqrq" validate="{required:true,stringMaxLength:64}" class="form-control" style="height:28px;" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                   <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>申请部门:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group">
                            <input type="text" id="sqbmmc" name="sqbmmc"  th:value="${cpxqjhDto.sqbmmc}" validate="{required:true}" readonly="true" class="form-control" />
                            <input type="hidden" id="sqbm" name="sqbm"  th:value="${cpxqjhDto.sqbm}" class="form-control"/>
                            <span class="input-group-btn">
                                <button type="button" onclick="chooseSqbm()"class="btn btn-primary" style="height:28px !important;">选择</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>申请人:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group">
                            <input type="text" id="sqrmc" name="sqrmc" th:value="${cpxqjhDto.sqrmc}" validate="{required:true}" readonly="true" class="form-control" />
                            <input type="hidden" id="sqr" name="sqr" th:value="${cpxqjhDto.sqr}" class="form-control"/>
                            <span class="input-group-btn">
                                <button type="button" onclick="chooseSqr()" class="btn btn-primary" style="height:28px !important;">选择</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
                        <div th:id="${fjcfbDto.fjid}" >
                            <label for="" class="col-sm-1 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件："></label>
                            <label for="" class="col-sm-1 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
                            <div class="col-md-11 col-sm-11 padding_t7">
                                <label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
                                <a title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
                                    <span th:text="${fjcfbDto.wjm}"></span>&nbsp;
                                    <span class="glyphicon glyphicon glyphicon-save"></span>
                                </a>&nbsp;&nbsp;
                                <a title="删除" class="f_button" type="button">
                                    <span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjlj}]]);"></span>
                                </a>&nbsp;&nbsp;
                                <a title="预览" class="f_button" type="button">
                                    <span class="glyphicon glyphicon-eye-open" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]]);"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12" >
                <div class="form-group">
                    <label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
                        附件上传:
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11" style="line-height:28px;">
                        <a href="javascript:void(0);" onclick="editfile()" id="file_btn" style="display:inline-block;width:100%;;border:1px solid #CCCCCC;border-radius:3px;">
                            <span  id="fileclick" title="点击上传"  style="display:inline-block;width:100%;color:#A6A6A6;font-size:12px;padding-left:10px;">点击展开上传文件</span>
                        </a>
                        <div id="fileDiv" style="display:none;">
                            <input id="pro_file" name="pro_file" type="file">
                            <button class="btn btn-default" type="button" style="margin-left:77%;width:23%;margin-top:10px;" onclick="cancelfile()">隐藏</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>预计用途:
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="yjyt" name="yjyt" th:text="${cpxqjhDto.yjyt}" rows="3" validate="{required:true,stringMaxLength:1024}" style="height: auto;" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        备注:
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <textarea id="bz" name="bz" th:text="${cpxqjhDto.bz}" rows="3" validate="{stringMaxLength:1024}" style="height: auto;" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="form-group" >
            <label for="" class="col-sm-2 control-label" style="color:black;">
                新增:
            </label>
            <div class="col-sm-10 col-xs-12">
                <input type="text" id="addnr" name="addnr" placeholder="请输入物料名称,点击确定或按回车添加物料" class="form-control" data-provide="typeahead" data-items="5" autocomplete="off"/>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="form-group" >
            <button  type="button" class="btn btn-success" onclick="punchCofirmaddwl()"><span id="cofirmaddwl">确定</span></button>
            <button  type="button" class="btn btn-warning" onclick="choosewlxx()"><span id="choosewlxx">选择个人设置物料</span></button>
        </div>
    </div>
    <table id="progress_edit_tb_list" data-classes="table table-hover table-bordered" style="width:1470px;margin-left:2px;"></table>
</form>
</body>
</html>