<!DOCTYPE html>
<html lang="zh-cn">

<head>

    <style type="text/css">
        table{
            table-layout: fixed;
        }
        td{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
</head>
<body>
<form id="progress_view_hwxx" class="form-horizontal sl_all_form" method="post" theme="simple">
    <input type="hidden" name="access_token" />
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <div class="body-content tab-content">

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-bordered ">
                            <tr style="background-color: #63a3ff;">
                                <th><span style="width: 15%" th:text="仓库" /></th>
                                <th><span style="width: 20%" th:text="生产批号" /></th>
                                <th><span style="width: 10%" th:text="库存量" /></th>
                                <th><span style="width: 25%" th:text="生产日期" /></th>
                                <th><span style="width: 25%" th:text="失效日期" /></th>
                            </tr>
                            <div th:if="${cpxqjhDtoList != null && cpxqjhDtoList.size() >0}" th:each="cpxqjhDto:${cpxqjhDtoList}">
                                <tr th:if="${cpxqjhDto.kcl} !=null and ${cpxqjhDto.kcl}!=''">
                                    <td><span th:title="${cpxqjhDto.ckmc}" th:text="${cpxqjhDto.ckmc}"/></td>
                                    <td><span th:title="${cpxqjhDto.scph}" th:text="${cpxqjhDto.scph}"/></td>
                                    <td><span th:title="${cpxqjhDto.kcl}" th:text="${cpxqjhDto.kcl}"/></td>
                                    <td><span th:title="${cpxqjhDto.scrq}" th:text="${cpxqjhDto.scrq}"/></td>
                                    <td><span th:title="${cpxqjhDto.yxq}" th:text="${cpxqjhDto.yxq}"/></td>
                                </tr>
                            </div>
                        </table>
            </div>
        </div>

    </div>
</form>
</body>
</html>