@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1586425427163'); /* IE9 */
  src: url('iconfont.eot?t=1586425427163#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABqAAAAKPAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBKIEsATYCJAMICwYABCAFhG0HMhvUBcgusG3YE0GggMIwjd1+ewi8PCKo1rCevb0gKURFmjWgkFFxkWGViiJQnoR++4rIiEyuaYrsdxmp7QhQFSj55/TSdIxuehOGjSeSJIHU9LqgMjhax/jV6koeQNs/7p3+FlAg8wHlMvegLsA4oADHWhRZAYUZN4xd4BIOE6jRLZdmua1nBJhl1qhA7AlcBJhzTllmkSqhomZhFlcMqtJFugBchp+P/2AqzCRlwcpZ222Ng4Zf2DG6xY/4fYQLCGh5iQKTgExs1QZX6ATD69QE9fqBfWUGv/j/99VirwrB/jorvQ50QuY9sVz2rX4zgYwSU4CFUZtTNrn1huqDHYH+9M7q3n7QGM4ebTNR/gvQP79me3beC1e8TbrwyMxYeNRG99+5X7rbvqmkR0wY6lxxXtiv6FVe2kF3nXPzC6DBfWd37+p6c34vWTyfkKxnx3uP15HRY5tAA+tnxVftGwgEn+yQq+bPbMvgc65hLM/6mak6kyn4Y6yeTVnnWKqUVVZtNJliuJOKGjX4gK0tnsdK229PH6pyLAZJpS4oVBlEZdwklGrNQIUqc1BjQvvyWq0oncjVGLcGIDQ5haTBOxSaXKIy7glKHb6hQlPooMZO+DasNRyCtZmiCENxGJ2CQoyo2NEwa5Q5hLiUHKFZTkgYQzQpeGBhXkEx0o5UROeYkhznihjDEFOiwDZwHJJlAhOUiCjG8njGElX5+bjuRXkxogCrJRQSwSBxUNQUSBBDqLDfnrGW3j8E4aTIImhLQ416DEIlCd1DhfIU9EC1C9VeDffyTNI4ThGGwSCMIhRQG+iHyGQElKjvJ0JimDz8CH9ClXy7Fe4rzFtfrHzdDqhhyVLYvQtV+ykijyOWAgAA') format('woff2'),
  url('iconfont.woff?t=1586425427163') format('woff'),
  url('iconfont.ttf?t=1586425427163') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1586425427163#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suolvetu:before {
  content: "\e631";
}

