<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/germ/stock/germPick_list.js" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
    <form id="germPick_formSearch" class="form-horizontal form-inline">
        <input type="hidden" name="auditType" id ="auditType" th:value="${jzllglDto.auditType}">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                            <option value="0">全部</option>
                            <option value="1">名称</option>
                            <option value="2">编号</option>
                            <option value="3">位置</option>
                            <option value="4">来源</option>
                            <option value="5">批号</option>
                            <option value="6">规格</option>
                            <option value="7">单号</option>
                            <option value="8">发料人</option>
                            <option value="9">申请人</option>
                            <option value="10">部门</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {searchgermPickResult(); return false;}"/>
                    </div>
                    <div class="form-group padding-l30" style="margin-left:0px">
                        <label>申请日期</label>
                        <input id="sqsjstart" name="sqsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                        <input id="sqsjend" name="sqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                    <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                </div>
                <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                    <span class="tit">已选条件：</span>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <ul id="sl_add_ul"></ul>
                    </div>
                </div>
                <div class="width100 padding_t7" id="searchMore" action="" data-bs-toggle="validation" style="display: none;" >
                    <div class="tab-content sl_sel_con row" style="min-height:100px;padding-left:5px;margin-left: 0px;margin-right: 0px;padding-bottom:10px;" id="sl_sel_con">
                        <div class="tab-pane active" id="tab06">
                            <div id="jzlx_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="类型">类型：</label>
                                    <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li th:if="${jzlxlist!=null && jzlxlist.size() >0}" th:each="t_jzlx:${jzlxlist}">
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   th:onclick="addTj([[jzlx]],[[${t_jzlx.csid}]],[[germPick_formSearch]]);" th:id="'jzlx_id_'+${t_jzlx.csid}"><span th:style="${t_jzlx.scbj eq '2'?'color:red':''}" th:text="${t_jzlx.csmc} + ${t_jzlx.scbj eq '2'?'(停用)':''}"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="jzfl_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="类型">类型：</label>
                                    <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li th:if="${jzfllist!=null && jzfllist.size() >0}" th:each="t_jzfl:${jzfllist}">
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   th:onclick="addTj([[jzfl]],[[${t_jzfl.csid}]],[[germPick_formSearch]]);" th:id="'jzfl_id_'+${t_jzfl.csid}"><span th:style="${t_jzfl.scbj eq '2'?'color:red':''}" th:text="${t_jzfl.csmc} + ${t_jzfl.scbj eq '2'?'(停用)':''}"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="jzlx_id_tj" name="jzlx_id_tj">
        <input type="hidden" id="jzfl_id_tj" name="jzfl_id_tj">
        <div th:include="common/btn/ancz.html"></div>
        <table id="tb_list" class="table table-hover table-bordered"></table>
    </form>
</div>
</body>
</html>