<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" src="/js/germ/stock/germPick_auditList.js" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
    <form id="germPick_formAudit">
        <div class="row">
            <div class="pull-left">
                <ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="germPick_audit_ul">
                    <li  class="nav-item" >
                        <a  class="nav-link active" name="tabBlock[germAuditDiv]" href="#germPick_auditing" role="tab" data-bs-toggle="tab">待审核的信息</a>
                    </li>
                    <li  class="nav-item" >
                        <a  class="nav-link" name="tabBlock[germAuditDiv]" href="#germPick_audited" role="tab" data-bs-toggle="tab">审核记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="row padding-l15 padding-r15">
        <div class="main_content tab-content">
            <div role="tabpanel" class="tab-pane active padding-10" id="germPick_auditing" style="border:1px solid #eee">
                <form id="germPick_audit_formSearch" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                                        <option value="0">全部</option>
                                        <option value="1">名称</option>
                                        <option value="2">编号</option>
                                        <option value="3">位置</option>
                                        <option value="4">来源</option>
                                        <option value="5">批号</option>
                                        <option value="6">规格</option>
                                        <option value="7">单号</option>
                                        <option value="8">发料人</option>
                                        <option value="9">申请人</option>
                                        <option value="10">部门</option>
                                    </select>
                                    <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配" onkeydown="if(event.keyCode==13) {searchPick_audit_Result(true); return false;}"/>
                                </div>
                                <div class="form-group padding-l30" style="margin-left:0px">
                                    <label>申请日期</label>
                                    <input id="sqsjstart" name="sqsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                    <input id="sqsjend" name="sqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                </div>
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                    <div th:include="common/btn/ancz.html"></div>
                    <table id="germPick_auditing_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane padding-10" id="germPick_audited" style="border:1px solid #eee">
                <form id="germPick_audited_formSearch" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                                        <option value="0">全部</option>
                                        <option value="1">名称</option>
                                        <option value="2">编号</option>
                                        <option value="3">位置</option>
                                        <option value="4">来源</option>
                                        <option value="5">批号</option>
                                        <option value="6">规格</option>
                                        <option value="7">单号</option>
                                        <option value="8">发料人</option>
                                        <option value="9">申请人</option>
                                        <option value="10">部门</option>
                                    </select>
                                    <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                           onkeydown="if(event.keyCode==13) {searchPick_audited_Result(true); return false;}"/>
                                </div>
                                <div class="form-group padding-l30" style="margin-left:0px">
                                    <label>申请日期</label>
                                    <input id="sqsjstart" name="sqsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                    <input id="sqsjend" name="sqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                </div>
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                    <div id="toolbar" class="btn-group">
                        <button class="btn btn-default" type="button" id="btn_cancelAudit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消审批</button>
                    </div>
                    <table id="germPick_audited_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>