<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <script type="text/javascript" charset="utf-8"></script>
</head>
<style type="text/css">
</style>
<body>
<form id="germStockView_Form"   class="form-horizontal sl_all_form" method="post" theme="simple">
    <input type="hidden" name="access_token" />
    <div class="body-content tab-content">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">编号:</label>
                    <div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.bh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">名称:</label>
                    <div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.mc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">批号:</label>
                    <div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.ph}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">入库数量:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.rksl}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">库存量:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.kcl}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">预定数:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.yds}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">拷贝数:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.kbs}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">规格:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.gg}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">分类:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.flmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">类型:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.lxmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">录入人员:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${jzkcxxDto.lrrymc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
                        位置:
                    </label>
                    <div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
                        <span th:text="${jzkcxxDto.wz}" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
                        来源:
                    </label>
                    <div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
                        <span th:text="${jzkcxxDto.ly}" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
                        备注:
                    </label>
                    <div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
                        <span th:text="${jzkcxxDto.bz}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>