<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="referrer" content="never">
	<meta content="webkit" name="renderer"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Copyright" content="matridx"/>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
	<title>送检反馈</title>
	<link rel="stylesheet" href="/js/weui/jquery-weui.min.css">
	<link rel="stylesheet" href="/css/weui.css">
	<style>
		.weui-mask {
			visibility: visible;
		}
		.weui-cell:before {
			left: 0;
		}
		.weui-form-preview__label {
			min-width: 1em;
		}
	</style>
</head>
<body style="background-color: #F5F5F5" data-weui-theme="light">
<div>
	<input type="hidden" name="lrry" id ="lrry" th:value="${sjxxDto.lrry}">
	<input type="hidden" name="sign" id ="sign" th:value="${sjxxDto.sign}">
	<input type="hidden" name="wbcxdm" id ="wbcxdm" th:value="${wbcxdm}">
	<div class="weui-search-bar weui-search-bar_focusing" id="searchBar" style="padding-bottom: 0;line-height: 20px;background-color: #F5F5F5;">
		<form id="report_formSearch" class="weui-search-bar__form" style="border-radius: 15px;">
			<div class="weui-search-bar__box" style="border-radius: 15px;">
				<i class="weui-icon-search"></i>
				<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="请输入搜索信息" required="" autocomplete="off" onkeydown="if(event.keyCode==13) {searchResult(); return false;}">
				<a style="position: absolute;top: 50%;right: 8px;margin-top: -8px;font-size: small;color: #00AFEC;" onclick="searchResult()">搜索</a>
			</div>
		</form>
		<div style="margin: 0 10px;background-color: white;padding: 5px;border-radius: 50%;" onclick="getScanYbbhQRCode()">
			<button id="" class="weui-icon-scan"></button>
		</div>
	</div>
	<div class="page__bd" id="sjxxList" style="font-size: 12px">
	</div>
</div>
	<script type="text/javascript" src="/js/jquery-3.6.1.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/weui/jquery-weui.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/weui/weui.js"></script>
	<script type="text/javascript" src="/js/jquery-qrcode.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/wechat/flexible.js" charset="utf-8"></script>
	<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/wechat/informed/wechat_feedBack.js?v=20230331" charset="utf-8"></script>
</body>
</html>