<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta content="webkit" name="renderer" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Copyright" content="matridx" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
		<title>送检系统</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
		<!--jQuery常用工具扩展库：基础工具,资源加载工具,元素尺寸相关工具 -->
		<script type="text/javascript" src="/js/jquery.utils.contact-min.js" charset="utf-8"></script>
		<!--jQuery基础工具库：$.browser,$.cookie,$.actual等 -->
		<script type="text/javascript" src="/js/jquery.plugins.contact-min.js?v=20220905" charset="utf-8"></script>
		<!-- 表单验证 -->
		<link rel="stylesheet" type="text/css" href="/js/plugins/validation/css/jquery.validate-min.css" />
		<script src="/js/plugins/validation/jquery.validate-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/plugins/validation/jquery.validate.contact-min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/js/plugins/validation/jquery.validate.methods.contact-min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/js/plugins/validation/lang/zh_CN-min.js" charset="utf-8"></script>
		
		<!--bootstrap -->
		<script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
		<link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
		<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/basephone.css" />
		<!--Bootbox弹窗插件-->
		<link rel="stylesheet" type="text/css" href="/js/plugins/bootbox/css/bootbox-min.css" />
		<script src="/js/plugins/bootbox/bootbox.concat-min.js?v=20220905v1" type="text/javascript" charset="utf-8"></script>
		<script src="/js/plugins/bootbox/lang/zh_CN-min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<form id="saleReportForm"  data-bs-toggle="validation"  method="post"  class="form-horizontal sl_all_form">
			<input type="hidden" id="wxid" name="wxid" th:value="${wxyhDto.wxid}">
			<input type="hidden" id="sflx" name="sflx" th:value="${wxyhDto.sflx}">
			<input type="hidden" id="sj" name="sj" th:value="${wxyhDto.sj}">
			<input type="hidden" id="sign" name="sign" th:value="${sign}">
			<div class="body-content" style="padding: 0px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						核对用户信息
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
							 		<label for="" class="col-xs-3 control-label">
							 			患者姓名<span style="color: red;">*</span>
							 		</label>
							 		<div class="col-xs-8">
										<input name="hzxm" id="hzxm" type="text" class="form-control" validate="{required:true}"/>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 hidden" id="alipayDiv">
								<div class="form-group">
							 		<label for="" class="col-xs-3 control-label">
							 			待付金额
							 		</label>
							 		<div class="col-xs-8 control-label text-left">
										<span id="pay_je" style="color: red;"></span>元
									</div>
								</div>
							</div> 
							<div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-8">
								<button type="button" class="btn btn-primary" id="confirm" style="margin-right:30px">查询</button>
								<button type="button" class="btn btn-success hidden" id="pay" >付款</button>
							</div>
							<div>&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
			<table id="list" class="table table-hover table-bordered table-hidden"></table>
		</form>
		<script type="text/javascript" src="/js/wechat/informed/wechat_viewReportBySales.js"></script>
	</body>
</html>