<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta content="webkit" name="renderer" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Copyright" content="matridx" />
		<title>送检系统</title>
	</head>
	<body>
		<form data-bs-toggle="validation" action="/wechat/sampleConfirm" method="post" id="ajaxForm" class="form-horizontal sl_all_form blue-second-skin">
			<input type="hidden" id="sjid" name="sjid" th:value="${sjxxDto.sjid}"/>
			<input type="hidden" id="wxid" name="wxid" th:value="${sjxxDto.wxid}"/>
			<input type="hidden" id="sign" name="sign" th:value="${sign}"/>
			<div class="body-content"  style="padding: 0px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						患者及医院名称信息
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-xs-3 control-label">
										标本编号<span style="color: red;">*</span>
									</label>
									<div class="col-xs-8">
										<div class="input-group">
											<span class="input-group-btn">
												<span class="btn btn-primary" onclick="getInspectionInfo()">确定</span>
											</span>
											<input style="height: 30px;" id="ybbh" th:value="${sjxxDto.ybbh}" name="ybbh" type="text" class="form-control" ref="ybbh" />
											<span class="input-group-btn">
												<span class="btn btn-primary" onclick="getQRCode()">扫码</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-xs-3 control-label">
										内部编码<span style="color: red;">*</span>
									</label>
									<div class="col-xs-8">
										<input id="nbbm" name="nbbm" th:value="${sjxxDto.nbbm}" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-xs-3 control-label">
										姓名
									</label>
									<div class="col-xs-8 padding_t7" id="hzxm">&nbsp;</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-xs-3 control-label">
					         			性别
					         		</label>
					         		<div class="col-xs-8 padding_t7" id="xb">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-xs-3 control-label">
					         			医院名称
					         		</label>
					         		<div class="col-xs-8 padding_t7" id="sjdw">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-xs-3 control-label">
					         			科室
					         		</label>
					         		<div class="col-xs-8 padding_t7" id="ks">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-xs-3 control-label">代表</label>
					         		<div class="col-xs-8 padding_t7" id="db">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-xs-3 control-label">
					         			标本类型
					         		</label>
					         		<div class="col-xs-8 padding_t7" id="yblxmc">&nbsp;</div>
					   			</div>
					   		</div>
					   		<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-xs-3 control-label">
										检测项目
									</label>
									<div class="col-xs-8 padding_t7" id="jcxmmc">&nbsp;</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-xs-3 control-label">
					         			采样日期
					         		</label>
					         		<div class="col-xs-8 padding_t7" id="cyrq">
									</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-xs-3 control-label">
					         			备注
					         		</label>
					         		<div class="col-xs-8 padding_t7">
					         			<textarea id="bz" name="bz" rows="3" 
													validate="{stringMaxLength:512}" class="form-control"></textarea>
									</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
								<input type="button" class="btn btn-primary" onclick="confirm()" style="width:30%;" value="收样确认"></input>
							</div>
							<div>&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<script type="text/javascript" src="/js/wechat/informed/wechat_inspConfirm.js"></script>
	</body>
</html>