<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="referrer" content="never">
	<meta content="webkit" name="renderer"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Copyright" content="matridx"/>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
	<title>个人设置</title>
	<link rel="stylesheet" href="/js/weui/jquery-weui.min.css">
	<link rel="stylesheet" href="/css/weui.css">
	<style>
		/**蓝色按钮*/
		.weui-btn_bule,.weui-btn_primary {
			color: white;
			background-color: #00AFEC;
		}
		.weui-btn_bule:not(.weui-btn_disabled):visited,.weui-btn_primary:not(.weui-btn_disabled):visited {
			color: rgba(0, 208, 236, 0.98);
		}
		.weui-btn_bule:not(.weui-btn_disabled):active,.weui-btn_primary:not(.weui-btn_disabled):active {
			background-color: #00e4ec;
		}
	</style>
</head>
<body style="background-color: #F5F5F5" data-weui-theme="light">
	<form data-bs-toggle="validation" method="post" id="ajaxForm" class="form-horizontal sl_all_form">
		<input type="hidden" id="wxid" name="wxid" th:value="${wxyhDto.wxid}"/>
		<input type="hidden" id="wbcxdm" name="wbcxdm" th:value="${wbcxdm}"/>
		<input type="hidden" id="sign" name="sign" th:value="${sign}">
		<div class="page__bd">
			<div class="weui-cells__title" style="margin-top: 8px;">
				<div>个人设置</div>
			</div>
			<div style="margin: 10px;border-radius: 10px;background-color: white">
				<div class="weui-cells weui-cells_form" style="border-radius: 10px;margin: 0;font-size: medium">
					<!--姓名-->
					<div class="weui-cell weui-cell_access">
						<div  class="weui-cell__hd">
							<label class="weui-label">姓　名<span style="color: red;">*</span></label>
						</div>
						<div class="weui-cell__bd">
							<input name="yhm" id="yhm" type="text" class="weui-input" placeholder="请填写用户名" validate="{required:true}" th:value="${wxyhDto.yhm}"/>
						</div>
					</div>
					<!--身份-->
					<div class="weui-cell weui-cell_select weui-cell_select-after">
						<div  class="weui-cell__hd">
							<label class="weui-label">身　份<span style="color: red;">*</span></label>
						</div>
						<div class="weui-cell__bd">
							<select class="weui-select" name="sflx" id="sflx" type="text" th:value="${wxyhDto.sflx}">
								<option value="">--请选择--</option>
								<option  th:if="${identitylist!=null && identitylist.size() > 0}" th:each="list:${identitylist}" th:value="${list.code}" th:text="${list.value}" th:selected="${list.code eq wxyhDto.sflx}"></option>
							</select>
						</div>
						<div class="weui-cell__ft"></div>
					</div>
					<!--电话-->
					<div class="weui-cell weui-cell_vcode">
						<div class="weui-cell__hd">
							<label class="weui-label">电　话<span style="color: red;">*</span></label>
						</div>
						<div class="weui-cell__bd">
							<input name="sj" id="sj" class="weui-input" th:value="${wxyhDto.sj}" validate="{required:true,stringMaxLength:32}" placeholder="请输入手机号">
						</div>
						<div class="weui-cell__ft">
							<button type="button" class="weui-vcode-btn" style="color: #00AFEC" id="unbind">解绑</button>
							<button type="button" class="weui-vcode-btn" style="color: #00AFEC;display:none" id="sendMsm">短信验证</button>
						</div>
					</div>
					<!--验证码-->
					<div id="yzm" class="weui-cell weui-cell_access">
						<div  class="weui-cell__hd">
							<label class="weui-label">验证码<span style="color: red;">*</span></label>
						</div>
						<div class="weui-cell__bd">
							<input name="cskz1" id="cskz1" type="text" class="weui-input" placeholder="请输入验证码" validate="{required:true,stringMaxLength:32}"/>
						</div>
					</div>
					<div class="weui-cell">
						<button id="modUserButton" type="button" class="weui-btn weui-btn_bule" onclick="modUser();" style="width: 100%;margin: 20px;border-radius: 20px">确定</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/js/jquery-3.6.1.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/weui/jquery-weui.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/weui/weui.js"></script>
	<script type="text/javascript" src="/js/jquery-qrcode.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/wechat/flexible.js" charset="utf-8"></script>
	<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" charset="utf-8"></script>
	<script src="/js/wechat/informed/jquery-labelauty.js"></script>
	<script src="/js/plugins/validation/jquery.validate-min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/js/wechat/informed/wechat_modUserInfo.js?v=20230607"></script>
</body>
</html>