<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta content="webkit" name="renderer" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Copyright" content="matridx" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
		<title>检测报告单</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
		<script src="/js/plugins/bootstrap-table/extensions/treegrid/jquery.treegrid.min.js" type="text/javascript" charset="utf-8"></script>
		<!--提交共通 -->
		<script src="/js/common/comdefine.js" type="text/javascript" charset="utf-8"></script>
		<!--Bootstrap-table插件-->
		<link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
		<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
		<!--bootstrap -->
		<script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/basephone.css" />
		<script type="text/javascript" src="/js/wechat/informed/wechat_view.js?v=20250521"></script>
		<!--Bootbox弹窗插件-->
		<link rel="stylesheet" type="text/css" href="/js/plugins/bootbox/css/bootbox-min.css" />
		<script src="/js/plugins/bootbox/bootbox.concat-min.js?v=20220905v1" type="text/javascript" charset="utf-8"></script>
		<script src="/js/plugins/bootbox/lang/zh_CN-min.js" type="text/javascript" charset="utf-8"></script>

		<!-- jQuery常用工具扩展库：基础工具,资源加载工具,元素尺寸相关工具-->
		<script type="text/javascript" src="/js/jquery.utils.contact-min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-table/extensions/treegrid/jquery.treegrid.min.css" />
		<script type="text/javascript" src="/js/plugins/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/api/site.css?v=20250217v2" />
		<style type="text/css">
		th{
			font-weight:bold;
			text-align: center;
			line-height:100%;
			vertical-align: middle!important;
			background-color:#D2E9FF;
		}
		td{
			line-height:100%;
			vertical-align: middle!important;
		}
		tr{
		width:100%;
		}
		#bdjcjg{
			padding:0px;
		}
		
		.first th{
		border:1px solid #DDDDDD;
		text-align:center;
		}
		.first td{
		border:1px solid #DDDDDD;
		text-align:center;
		}
		p{
		width: 100%;  
   		height: auto;  
    	word-wrap:break-word;  
    	word-break:break-all;  
    	overflow: hidden;  
		}
		table{
		table-layout: fixed;
		}
		.zwm{
		width:20%;
		}
		.ywm{
		width:35%;
		}
		.xls{
		width:15%;
		}
		.jyfgd{
		width:15%;
		}
		.xdfd{
		width:15%;
		}
	</style>
	</head>
	<body class="pre-scrollable" style="padding: 10px;">
	<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	    <li  class=" nav-item" >
	        <a  class="nav-link active"  href="#wechatzdxx" role="tab" data-bs-toggle="tab" >基本</a>
	    </li>
	    <li  class=" nav-item" th:if="${viewFlg eq '1'}">
	    	<a  class="nav-link"  href="#wechatjcjg" role="tab" data-bs-toggle="tab" >结果</a>
	    </li>
	    <!--<li  class=" nav-item" th:if="${viewFlg eq '1'}">
	        <a  class="nav-link"  href="#wechatyxzb" role="tab" data-bs-toggle="tab" >详细</a>
	    </li>
	    <li  class=" nav-item" th:if="${DaobyYbbh.sflx eq 'DOCTOR' && viewFlg eq '1'}" id="sjxxjg">
	    	<a  class="nav-link"  href="#wechatsheet" role="tab" data-bs-toggle="tab" >上机</a>
	    </li> -->
		<li  class=" nav-item" th:if="${viewFlg eq '1'}">
			<a  class="nav-link"  href="#detectInfoTab" role="tab" data-bs-toggle="tab">检测项目</a>
		</li>
	</ul>
	<form id="ajaxForm"  action="/wechat/file/pdfPreview" class="form-horizontal sl_all_form" method="post"  data-bs-toggle="validation"  >
		<input type="hidden" name="access_token"/>
		<input type="hidden" name="fjid" id="fjid"/>
		<input type="hidden" name="sfqx" id="sfqx" th:value="${sfqx}"/>
		<input type="hidden" name="sign" id="sign"/>
		<input type="hidden" name="applicationurl" id="applicationurl" th:value="${applicationurl}"/>
		<input type="hidden" name="sjid" id="sjid" th:value="${DaobyYbbh.sjid}">
		<div class="tab-content body-content" id="titBody">
			<!-- 基本 -->
			<div role="tabpanel" class="tab-pane fade active show" id="wechatzdxx" aria-labelledby="profile-tab" style="padding-top: 5px;">
				<div class="body-content">
					<div class="panel panel-default ">
						<div class="panel-heading">
							<h2 class="panel-title"><strong>一、临床标本与诊断信息</strong></h2>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 ">
									<div class="form-group">
										<label for="" class="col-sm-2 col-xs-5 control-label text-left" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
											<strong>标本条码号:</strong>
										</label>
										<div class="col-sm-8 col-xs-7 control-label" style="font-size:calc(125%) !important;">
											<p class="text-left" style="line-height:100%;vertical-align: middle!important;" th:text="${DaobyYbbh.ybbh}">&nbsp;</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-5 control-label text-left" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>患者姓名:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.hzxm==null or DaobyYbbh.hzxm==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.hzxm!=null and DaobyYbbh.hzxm!=''}" th:text="${DaobyYbbh.hzxm}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
									</div>	
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label text-left" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.xb==null or DaobyYbbh.xb==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.xb!=null and DaobyYbbh.xb!=''}" th:text="${DaobyYbbh.xb}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>		
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label text-left" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.nl==null or DaobyYbbh.nl==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.nl!=null and DaobyYbbh.nl!='' and DaobyYbbh.nldw==null}" th:text="${DaobyYbbh.nl}+'&nbsp;'+'岁'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.nl!=null and DaobyYbbh.nl!='' and DaobyYbbh.nldw!=null}" th:text="${DaobyYbbh.nl}+'&nbsp;'+${DaobyYbbh.nldw}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>	
								<div class="col-md-6 col-sm-6 col-xs-12" id=dontfloat>
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>医院名称:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.sjdw==null or DaobyYbbh.sjdw==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.sjdw!=null and DaobyYbbh.sjdw!=''}" th:text="${DaobyYbbh.sjdwmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>送检科室:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:text="${DaobyYbbh.kskzcs eq '1'?DaobyYbbh.ksmc+' - '+DaobyYbbh.qtks:DaobyYbbh.ksmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>主治医师:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.sjys==null or DaobyYbbh.sjys==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.sjys!=null and DaobyYbbh.sjys!=''}" th:text="${DaobyYbbh.sjys}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>检测单位:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.jcdwmc==null or sjxxDto.jcdwmc==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.jcdwmc!=null and sjxxDto.jcdwmc!=''}" th:text="${DaobyYbbh.jcdwmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
											<strong>住院号:</strong>
										</label>
										<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
											<p class="text-left" th:if="${DaobyYbbh.zyh==null or DaobyYbbh.zyh==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
											<p class="text-left" th:if="${DaobyYbbh.zyh!=null and DaobyYbbh.zyh!=''}" th:text="${DaobyYbbh.zyh}"  style="line-height:100%;vertical-align: middle!important;"></p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
											<strong>床位号:</strong>
										</label>
										<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
											<p class="text-left" th:if="${DaobyYbbh.cwh==null or DaobyYbbh.cwh==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
											<p class="text-left" th:if="${DaobyYbbh.cwh!=null and DaobyYbbh.cwh!=''}" th:text="${DaobyYbbh.cwh}"  style="line-height:100%;vertical-align: middle!important;"></p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>快递类型:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.kdlxmc==null or DaobyYbbh.kdlxmc==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.kdlxmc!=null and DaobyYbbh.kdlxmc!=''}" th:text="${DaobyYbbh.kdlxmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>快递单号:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.kdh==null or DaobyYbbh.kdh==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.kdh!=null and DaobyYbbh.kdh!=''}" th:text="${DaobyYbbh.kdh}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>标本类型:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.yblxmc==null or DaobyYbbh.yblxmc==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.yblxmc!=null and DaobyYbbh.yblxmc!=''}" th:text="${DaobyYbbh.yblxmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>标本体积:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.ybtj==null or DaobyYbbh.ybtj==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.ybtj!=null and DaobyYbbh.ybtj!=''}" th:text="${DaobyYbbh.ybtj}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>接收日期:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.jsrq==null or DaobyYbbh.jsrq==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.jsrq!=null and DaobyYbbh.jsrq!=''}" th:text="${DaobyYbbh.jsrq}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>报告日期:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.bgrq==null or DaobyYbbh.bgrq==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.bgrq!=null and DaobyYbbh.bgrq!=''}" th:text="${DaobyYbbh.bgrq}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>检测项目:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.jcxmmc==null or DaobyYbbh.jcxmmc==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.jcxmmc!=null and DaobyYbbh.jcxmmc!=''}" th:text="${DaobyYbbh.jcxmmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
											<strong>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分:</strong>
										</label>
										<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
											<p class="text-left" th:if="${DaobyYbbh.sjqfmc==null or DaobyYbbh.sjqfmc==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
											<p class="text-left" th:if="${DaobyYbbh.sjqfmc!=null and DaobyYbbh.sjqfmc!=''}" th:text="${DaobyYbbh.sjqfmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
										</div>
									</div>
								</div>
								<!--<div class="col-md-6 col-sm-6 col-xs-12">-->
									<!--<div class="form-group">-->
										<!--<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;">-->
											<!--<strong>自免目的地:</strong>-->
										<!--</label>-->
										<!--<div class="col-sm-8 col-xs-7 control-label text-left">-->
											<!--<p class="text-left" th:if="${DaobyYbbh.zmmddmc==null or DaobyYbbh.zmmddmc==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>-->
											<!--<p class="text-left" th:if="${DaobyYbbh.zmmddmc!=null and DaobyYbbh.zmmddmc!=''}" th:text="${DaobyYbbh.zmmddmc}"  style="line-height:100%;vertical-align: middle!important;"></p>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
								<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-2 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>临床症状:</strong>
											
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.lczz==null or DaobyYbbh.lczz==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.lczz!=null and DaobyYbbh.lczz!=''}" th:text="${DaobyYbbh.lczz}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-2 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
											<strong>前期诊断:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.qqzd==null or DaobyYbbh.qqzd==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.qqzd!=null and DaobyYbbh.qqzd!=''}" th:text="${DaobyYbbh.qqzd}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 sfqx">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>是否收费:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.sfsf==null or sjxxDto.sfsf==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.sfsf!=null and sjxxDto.sfsf!=''}" th:text="${DaobyYbbh.sfsfmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 sfqx">
										<div class="form-group">
											<label for="" class="col-sm-4 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
												<strong>是否开票:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.kpsq==null or sjxxDto.kpsq==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.kpsq!=null and sjxxDto.kpsq!=''}" th:text="${DaobyYbbh.kpsqmc}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-2 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;font-size:calc(125%) !important;">
											<strong>近期用药:</strong>
											</label>
											<div class="col-sm-8 col-xs-7 control-label text-left" style="font-size:calc(125%) !important;">
												<p class="text-left" th:if="${DaobyYbbh.jqyy==null or DaobyYbbh.jqyy==''}" th:text="'&nbsp;'"  style="line-height:100%;vertical-align: middle!important;"></p>
												<p class="text-left" th:if="${DaobyYbbh.jqyy!=null and DaobyYbbh.jqyy!=''}" th:text="${DaobyYbbh.jqyy}"  style="line-height:100%;vertical-align: middle!important;"></p>
											</div>
										</div>
								</div>
<!--									<div class="col-md-12 col-sm-12 col-xs-12">-->
<!--										<div class="form-group">-->
<!--											<label for="" class="col-sm-2 col-xs-5 control-label" style="line-height:100%;vertical-align: middle!important;">-->
<!--												<strong>上机情况:</strong>-->
<!--											</label>-->
<!--											<div class="col-sm-8 col-xs-7 control-label text-left">-->
<!--												<p class="text-left" th:if="${sfsj eq '1'}" style="line-height:100%;vertical-align: middle!important;color: green">已上机</p>-->
<!--												<p class="text-left" th:if="${sfsj eq '0'}" style="line-height:100%;vertical-align: middle!important;color: red">未上机</p>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
								<div class="col-md-12 col-sm-12 col-xs-12">
						        	<div class="form-group">
						    			<div id="fjcfbDtos_fj"   th:if="${fjcfbDtos_fjs != null && fjcfbDtos_fjs.size() >0}" th:each="fjcfbDtos_fj:${fjcfbDtos_fjs}">
						    				<label for="" class="col-sm-12 col-xs-5 col-md-2 control-label" th:if="${fjcfbDtos_fjStat.index == 0}" >附&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件:</label>
					    					<label for="" class="col-sm-12 col-xs-5 col-md-2 control-label" th:if="${fjcfbDtos_fjStat.index > 0}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						    				<div class="col-md-10 col-sm-1 padding_t7 h30">
						    					<label for="" th:if="${fjcfbDtos_fjs.size() > 1}" th:text="${fjcfbDtos_fjStat.index+1}+."></label>
						    					
						    					<a  href="javascript:void(0);" title="预览"  th:onclick="yl([[${fjcfbDtos_fj.fjid}]],[[${fjcfbDtos_fj.wjm}]],[[${fjcfbDtos_fj.sign}]])">
						    						<span th:text="${fjcfbDtos_fj.wjm}"></span>
						    						<span class="glyphicon glyphicon-eye-open"></span>
						    					</a>
						    				</div>
						    			</div> 
						   			</div>
								</div>		
							</div>
						</div>
					</div>
				</div>
				<div class="text-right">
					<a href="/wechat/getmzsm" style="color:red">免责声明</a>
				</div>
			</div>
			<!-- 结果 -->
			<div role="tabpanel" class="tab-pane fade" id="wechatjcjg" aria-labelledby="profile-tab" style="padding-top: 5px;">
				<!--报告说明 -->
				<div class="panel panel-default" th:each="jcxmDto:${jcxmlist}">
					<div class="panel-heading">
						<h2 class="panel-title"><strong th:text="${'丨'+jcxmDto.csmc+'检测结果'}"></strong></h2>
					</div>
					<div class="panel-body" th:if="${jcxmDto.cskz3!='IMP_REPORT_TEMEPLATE'}">
						<div class="col-md-12 col-sm-12">
							<div class="form-group ">
								<label for="" class="col-sm-12 col-xs-12  text-left" style="font-size:calc(125%) !important;">
									<strong>A.检测结果解读:&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">*</span>关注等级分类 1、高关注度; 2、疑似,仅供参考</strong>
								</label>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-12 col-xs-12 text-left" style="font-size:calc(125%) !important;">
									<strong style="margin-bottom:15px;padding:0px 15px 0px 15px;">1.高度关注阳性指标:</strong><br><br>
								</label>
								<label for="" class="col-sm-12 col-xs-12 text-left" style="font-size:calc(125%) !important;">
									<span th:if="${sjbgsmDto!=null && sjbgsmDto.jcxmid==jcxmDto.csid}" th:each="sjbgsmDto:${sjbgsmList}" th:text="${sjbgsmDto.ggzdzb}" style="font-weight:normal;padding-left:30px;"></span>
								</label>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-12 col-xs-12 text-left" style="font-size:calc(125%) !important;">
									<strong style="margin-bottom:15px;padding:0px 15px 0px 15px;">2.疑似、仅供参考指标:</strong><br><br>
								</label>
								<label for="" class="col-sm-12 col-xs-12 text-left" style="font-size:calc(125%) !important;">
									<span th:if="${sjbgsmDto!=null && sjbgsmDto.jcxmid==jcxmDto.csid}" th:each="sjbgsmDto:${sjbgsmList}" th:text="${sjbgsmDto.yszb}" style="font-weight:normal;padding-left:30px;"></span>
								</label>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-12 col-xs-12  text-left" style="font-size:calc(125%) !important;">
									<strong>B.检出指标说明:</strong>
								</label>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group" style="margin-bottom:0px">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label for="" class="col-sm-12 col-xs-12  text-left" style="font-size:calc(125%) !important;">
										<span th:if="${sjbgsmDto!=null && sjbgsmDto.jcxmid==jcxmDto.csid}" th:each="sjbgsmDto:${sjbgsmList}" th:text="${sjbgsmDto.ggzdsm}" style="font-weight:normal" id="gg"></span><br><br>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label for="" class="col-sm-12 col-xs-12  text-left" style="font-size:calc(125%) !important;">
										<span th:if="${sjbgsmDto!=null && sjbgsmDto.jcxmid==jcxmDto.csid}" th:each="sjbgsmDto:${sjbgsmList}" th:text="${sjbgsmDto.yssm}" style="font-weight:normal"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="" class="col-sm-2 col-xs-4 control-left" style="font-size:calc(125%) !important;">
									送检报告:
								</label>
								<div class="col-sm-10 col-xs-8">
			    					<a href="javascript:void(0)" class="btn btn-success"  th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.sign}]])" th:if="${fjcfbDto.ywlx==(jcxmDto.cskz3+'_'+jcxmDto.cskz1) && fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
					    				查看报告请点击此处
				    				</a>
								</div>
							</div>
						</div> 
					</div>
					<div class="panel-body" th:if="${jcxmDto.cskz3=='IMP_REPORT_TEMEPLATE'}">
<!--						<table class="table table-bordered" th:if="${KZCS=='Z6' || KZCS=='Z12' || KZCS=='Z18'}">-->
						<table class="table table-bordered" th:if="${KZCS=='Z6' ||KZCS=='Z'}">
							<thead>
								<tr>
									<th>项目名称</th>
									<th>检测方法</th>
									<th>结果</th>
									<th>参考值</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="sjzmjgDto:${sjzmList}">
									<td th:text="${sjzmjgDto.xm}" th:title="${sjzmjgDto.xm}" style="text-align: center;"></td>
									<td th:text="${sjzmjgDto.jcff}" th:title="${sjzmjgDto.jcff}" style="text-align: center;"></td>
									<td th:text="${sjzmjgDto.jg}" th:title="${sjzmjgDto.jg}" style="text-align: center;"></td>
									<td th:text="${sjzmjgDto.ckz}" th:title="${sjzmjgDto.ckz}" style="text-align: center;"></td>
								</tr>
							</tbody>
						</table>
	                    <table class="table table-bordered" th:if="${KZCS=='F'}">
							<thead>
								<tr>
									<th>项目名称</th>
						            <th>检测方法</th>
						            <th>神经综合征</th>
						            <th>相关肿瘤</th>
		                        </tr>
		                   </thead>
		                   <tbody>
		                        <tr th:each="sjzmjgDto:${sjzmList}">
		                            <td th:text="${sjzmjgDto.xm}" th:title="${sjzmjgDto.xm}" style="text-align: center;"></td>
		                            <td th:text="${sjzmjgDto.jg}" th:title="${sjzmjgDto.jg}" style="text-align: center;"></td>
		                            <td th:text="${sjzmjgDto.sjzhz}" th:title="${sjzmjgDto.sjzhz}" style="text-align: center;"></td>
		                            <td th:text="${sjzmjgDto.xgzl}" th:title="${sjzmjgDto.xgzl}" style="text-align: center;"></td>
		                        </tr>
		                   </tbody>
	                    </table>
	                    <div class="form-group">
		                    <label for="" class="col-sm-2 col-xs-4 control-left">
		                    	送检报告:
		                    </label>
		                    <div class="col-sm-10 col-xs-8">
		                    	<a href="javascript:void(0)" class="btn btn-success"  th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.sign}]])" th:if="${fjcfbDto.ywlx==(jcxmDto.cskz3+'_'+jcxmDto.cskz1) && fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
		                        	查看报告请点击此处
		                        </a>
		                    </div>
	                    </div>
					</div>
				</div>
			</div>
			<!-- 详细 -->
	 		<div role="tabpanel" class="tab-pane fade" id="wechatyxzb" aria-labelledby="profile-tab" style="padding-top: 5px;">
<!--				<div class="panel panel-default" th:each="jcxmDto:${wzjcxmlist}" th:if="${jcxmDto.cskz1!='Z6' && jcxmDto.cskz1!='Z12' && jcxmDto.cskz1!='Z18' && jcxmDto.cskz1!='F'}">-->
				<div class="panel panel-default" th:each="jcxmDto:${wzjcxmlist}" th:if="${jcxmDto.cskz1!='Z6' &&jcxmDto.cskz1!='Z' && jcxmDto.cskz1!='F'}">
					<div th:if="${jcxmDto.cskz1!='R'}">
						<div class="panel-heading">
							<h2 class="panel-title"><strong th:text="${'丨'+jcxmDto.csmc+'检测结果'}"></strong></h2>
						</div>	
						<div class="panel-body" >
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<strong >1.DNA病毒</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}"  style="padding:20px;">
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<strong>2.分枝杆菌</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Mycobacteria' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<strong>3.支原体/衣原体/立克次体</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='MCR' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<strong>4.细菌</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}" >
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Bacteria' && SjwzxxDto.jglx!='background'  && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<strong>5.真菌</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Fungi' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<strong>6.寄生虫</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}">
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Parasite' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
								</div>
		
							<div class="col-md-12 col-sm-12 col-xs-12">
									<strong>7.耐药基因/毒力基因</strong>
								<table class="table table-bordered col-md-12 col-sm-12 col-xs-12">
									<thead>
											<tr class="first ">
												<th >耐药家族</th>
												<th >相关耐药基因</th>
												<th >涉及的主要机制</th>
												<th >包括但不限于以下参考物种</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="Sjnyxlist:${SjnyxDto}">
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.yp}" th:title="${Sjnyxlist.yp}"></td>
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.jy}" th:title="${Sjnyxlist.jy}"></td>
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.jl}" th:title="${Sjnyxlist.jl}"></td>
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.xgwz}" th:title="${Sjnyxlist.xgwz}"></td>
											</tr>
										</tbody>
								</table>
						    </div>
						    <div class="col-md-12 col-sm-12 col-xs-12" >
								<strong >8.疑似人体共生微生物群</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}"  style="padding:20px;">
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.jglx=='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.jglx=='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.jglx=='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.jglx=='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.jglx=='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
							</div>
						    <div class="col-md-12 col-sm-12 col-xs-12">
								<strong>参考文献</strong>	
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span th:if="${sjbgsmList!=null && sjbgsmList.size()>0 && sjbgsmDto.jcxmid==jcxmDto.csid}" th:text="${sjbgsmDto.ckwx}" id="ckwx" th:each="sjbgsmDto:${sjbgsmList}"></span>
							</div>
						</div>
					</div>
					<div th:if="${jcxmDto.cskz1=='R'}">
						<div class="panel-heading">
							<h2 class="panel-title"><strong th:text="${'丨'+jcxmDto.csmc+'检测结果'}"></strong></h2>
						</div>
						<div class="panel-body" >
							<div class="col-md-12 col-sm-12 col-xs-12" >
								<strong >1.RNA病毒</strong>
									<table class="table table-bordered table-hover col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
										<thead>
											<tr class="first ">
												<th class="zwm">中文名</th>
												<th class="ywm">拉丁文名</th>
												<th class="xls">检出序列数</th>
												<th class="jyfgd">基因组覆盖度</th>
												<th class="xdfd">相对丰度(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="SjwzxxDto:${Sjwzxx}"  style="padding:20px;">
												<td th:title="${SjwzxxDto.wzzwm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzzwm}"></td>
												<td th:title="${SjwzxxDto.wzywm}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.wzywm}"></td>
												<td th:title="${SjwzxxDto.dqs}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.dqs}"></td>
												<td th:title="${SjwzxxDto.jyzfgd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.jyzfgd}"></td>
												<td th:title="${SjwzxxDto.xdfd}" th:if="${SjwzxxDto.wzfl=='Viruses' && SjwzxxDto.jglx!='background' && SjwzxxDto.jcxmid==jcxmDto.csid}" th:text="${SjwzxxDto.xdfd}"></td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
									<strong>2.耐药基因/毒力基因</strong>
								<table class="table table-bordered col-md-12 col-sm-12 col-xs-12">
									<thead>
											<tr class="first ">
												<th >耐药家族</th>
												<th >相关耐药基因</th>
												<th >涉及的主要机制</th>
												<th >包括但不限于以下参考物种</th>
											</tr>
										</thead>
										<tbody>
											<tr class="first" th:each="Sjnyxlist:${SjnyxDto}">
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.yp}" th:title="${Sjnyxlist.yp}"></td>
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.jy}" th:title="${Sjnyxlist.jy}"></td>
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.jl}" th:title="${Sjnyxlist.jl}"></td>
												<td th:if="${Sjnyxlist!=null&&Sjnyxlist!='' && Sjnyxlist.jcxmid==jcxmDto.csid}" th:text="${Sjnyxlist.xgwz}" th:title="${Sjnyxlist.xgwz}"></td>
											</tr>
										</tbody>
								</table>
						    </div>
						</div>	
					</div>
				</div>
			</div> 
			<!-- 上机 -->
			<div role="tabpanel" class="tab-pane fade" id="wechatsheet" aria-labelledby="profile-tab" >
				<div class="panel panel-default" style="margin:0px;">
					<div class="panel-group" id="accordion" jclx="" th:each="jcxmlist:${wzjcxmlist}" style="margin:0px;">
						<div class="panel panel-default" >
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="" data-bs-toggle="collapse" data-parent="#accordion"
									   th:href="${'#collapseone'+jcxmlist.csid}" th:id="${'clickBacteria'+jcxmlist.csid}" th:onclick="clickBacteria([[${jcxmlist.csid}]])" th:text="${'Bacteria('+jcxmlist.csmc+')'}">
									</a>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<button type="button" class="btn btn-info" th:onclick="getBacteriaGenus([[${jcxmlist.csid}]])">Genus</button>
									<button type="button" class="btn btn-success" th:onclick="getBacteriaSpecies([[${jcxmlist.csid}]])" >Species</button>
								</h4>
							</div>
							<div th:id="${'collapseone'+jcxmlist.csid}" class="panel-collapse collapse hide">
								<div class="panel-body" style="padding:0px;">
									<div th:include="common/btn/ancz.html"></div>
									<table th:id="${'Bacteria_tb_list'+jcxmlist.csid}" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true"></table>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="" data-bs-toggle="collapse" data-parent="#accordion"
									   th:href="${'#collapsetwo'+jcxmlist.csid}" th:id="${'clickFungi'+jcxmlist.csid}" th:onclick="clickFungi([[${jcxmlist.csid}]])" th:text="${'Fungi('+jcxmlist.csmc+')'}">
									</a>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<button type="button" class="btn btn-info" th:onclick="getFungiGenus([[${jcxmlist.csid}]])">Genus</button>
									<button type="button" class="btn btn-success" th:onclick="getFungiSpecies([[${jcxmlist.csid}]])" >Species</button>
								</h4>
							</div>
							<div th:id="${'collapsetwo'+jcxmlist.csid}" class="panel-collapse collapse hide">
								<div class="panel-body" style="padding:0px;">
									<div th:include="common/btn/ancz.html"></div>
									<table th:id="${'Fungi_tb_list'+jcxmlist.csid}" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true" style="margin:0px;"></table>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="" data-bs-toggle="collapse" data-parent="#accordion"
									   th:href="${'#collapsethree'+jcxmlist.csid}" th:id="${'clickVirus'+jcxmlist.csid}" th:onclick="clickVirus([[${jcxmlist.csid}]])" th:text="${'Virus('+jcxmlist.csmc+')'}">
									</a>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<button type="button" class="btn btn-info" th:onclick="getVirusGenus([[${jcxmlist.csid}]])">Genus</button>
									<button type="button" class="btn btn-success" th:onclick="getVirusSpecies([[${jcxmlist.csid}]])" >Species</button>
								</h4>
							</div>
							<div th:id="${'collapsethree'+jcxmlist.csid}" class="panel-collapse collapse hide">
								<div class="panel-body" style="padding:0px;">
									<div th:include="common/btn/ancz.html"></div>
									<table th:id="${'Virus_tb_list'+jcxmlist.csid}" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true" style="margin:0px;"></table>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="" data-bs-toggle="collapse" data-parent="#accordion"
									   th:href="${'#collapsefour'+jcxmlist.csid}" th:id="${'clickParasite'+jcxmlist.csid}" th:onclick="clickParasite([[${jcxmlist.csid}]])" th:text="${'Parasite('+jcxmlist.csmc+')'}">
									</a>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<button type="button" class="btn btn-info" th:onclick="getParasiteGenus([[${jcxmlist.csid}]])">Genus</button>
									<button type="button" class="btn btn-success" th:onclick="getParasiteSpecies([[${jcxmlist.csid}]])" >Species</button>
								</h4>
							</div>
							<div th:id="${'collapsefour'+jcxmlist.csid}" class="panel-collapse collapse hide">
								<div class="panel-body" style="padding:0px;">
									<div th:include="common/btn/ancz.html"></div>
									<table th:id="${'Parasite_tb_list'+jcxmlist.csid}" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true" style="margin:0px;"></table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 检测项目 -->
			<div role="tabpanel" class="tab-pane fade" id="detectInfoTab" aria-labelledby="profile-tab">
				<div class="panel-body">
					<div class="row">
						<div class="weui-panel" style="border-radius: 10px;margin: 8px;border: 1px solid #00AFEC;padding-left: 0px;padding-right: 0px;width:95%;"  th:if="${sjsyglDtos != null && sjsyglDtos.size() >0}"
							 th:each="dto:${sjsyglDtos}">
							<div class="weui-cell__bd" style="border-radius: 10px;">
								<div class="weui-form-preview" style="border-radius: 10px;">
									<div style="height: 0.1rem;"></div>

									<div class="weui-form-preview__bd" style="font-size: 14px;font-weight: bolder;padding: 0px 10px;">
										<div style="display: flex">
											<div class="weui-form-preview__item" style="flex: 12"><label class=""
																										 style="margin-right: 2px;">检测项目：</label>
												<span class="weui-form-preview__value"
													  style="text-align: left;word-break: keep-all;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;" th:text="${dto.jcxmmc}"></span>
											</div>
										</div>
										<div style="display: flex">
											<div class="weui-form-preview__item" style="flex: 12"><label class=""
																										 style="margin-right: 2px;">检测子项目：</label>
												<span class="weui-form-preview__value"
													  style="text-align: left;word-break: keep-all;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;" th:text="${dto.jczxmmc}"></span>
											</div>
										</div>
										<div style="display: flex">
											<div class="weui-form-preview__item" style="flex: 12"><label class=""
																										 style="margin-right: 2px;">最早接收时间：</label>
												<span class="weui-form-preview__value"
													  style="text-align: left;word-break: keep-all;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;" th:text="${dto.jsrq}"></span>
											</div>
										</div>
										<div style="display: flex">
											<div class="weui-form-preview__item" style="flex: 12"><label class=""
																										 style="margin-right: 2px;">最早取样时间：</label>
												<span class="weui-form-preview__value"
													  style="text-align: left;word-break: keep-all;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;" th:text="${dto.qysj}"></span>

											</div>
										</div>
										<div style="display: flex">
											<div class="weui-form-preview__item" style="flex: 12"><label class=""
																										 style="margin-right: 2px;">最早实验日期：</label>
												<span class="weui-form-preview__value"
													  style="text-align: left;word-break: keep-all;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;" th:text="${dto.syrq}"></span>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>