<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
	<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/css/v5_style.css" />
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
	<style>
	p {
	    display: block;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	}
	</style>
</head>
<body>
<div class="container"> 
	<div class="row">
		<div style="text-align:center">
			<p><strong>2.3疑似,仅供参考指标解释</strong></p>
		</div>
		<p>（1）不排除列表中含有导致受检者患病的致病微生物。 </p>
		<p>（2）标本采集过程中或分装过程中带入受检标本中的环境微生物或其 DNA或标本采集容器本身带有的环境微生物或其 DNA; </p>
		<p>（3）标本采集过程中带入受检标本中的病人身上（皮肤、上呼吸道、口腔、肠道等等）的人体共生微生物； </p>
		<p>（4）标本采集过程中收到污染的采集或分装人员身上（皮肤、上呼吸道、口腔、肠道等等）的人体共生微生物； </p>
		<p>（5）该报告仅供参考，不能作为临床诊断或用药的唯一依据。 </p>
		<h3 style="font-size:24px;margin-top: 20px;margin-bottom: 20px;">三、术语解释</h3>
		<p style="font-size:12px">检出序列数：表示检测到标本中某种微生物的核酸片段数。</p>
		<p style="font-size:12px">基因组覆盖度：表示检测到的该微生物核酸序列覆盖到该微生物整个基因序列的比值，覆盖度高表示该微生物全基因组测到的比率高。</p>
		<p style="font-size:12px">相对丰度：指的是该微生物在整个标本中检测到的微生物中所占的比重，丰度越高表示其在相同类型微生物中所占的比例越高。</p>
	</div>
</div>
</body>
</html>