<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.web.dao.post.IJszyczbDao" >
	<!-- 查询操作权限列表 -->
	<select id="getDtoList" parameterType="JszyczbDto" resultType="JszyczbDto">
		select jscz.jsid,jscz.zyid,jscz.czdm,czb.dyym,dm.czmc,dm.xssx,dm.anys,dm.czsm
		from matridx_jszyczb jscz
		left outer join matridx_zyczb czb on czb.zyid = jscz.zyid and czb.czdm = jscz.czdm
		left outer join matridx_czdm dm on dm.czdm = czb.czdm
		 where czb.czdm is not null
		 <if test="jsid != null and jsid != ''">
		 	and jsid = #{jsid}
		 </if>
		 order by zyid,xssx
	</select>
	
	<!-- 查询操作权限列表-用于所有地方，登陆时设置 -->
	<select id="getQxModelList" parameterType="QxModel" resultType="QxModel">
		select jscz.jsid,jscz.zyid,jscz.czdm,czb.dyym,dm.czmc,dm.xssx,dm.anys,zy.gnm,dm.czsm
		from matridx_jszyczb jscz
		left outer join matridx_xtzy zy on jscz.zyid = zy.zyid
		left outer join matridx_zyczb czb on czb.zyid = jscz.zyid and czb.czdm = jscz.czdm
		left outer join matridx_czdm dm on dm.czdm = czb.czdm
		 where czb.czdm is not null
		 <if test="jsid != null and jsid != ''">
		 	and jsid = #{jsid}
		 </if>
		 order by zyid,xssx
	</select>
</mapper>
