<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.web.dao.post.IYhjgqxDao" >

	<!-- 查询用户机构权限信息 -->
	<select id="getYhjgqxList"  resultType="YhjgqxDto">
		select jgqx.yhid,jgqx.jgid,jgqx.xh,jgqx.jsid
		from matridx_yhjgqx jgqx
	</select>
	<!-- 增加用户机构权限信息 -->
	<insert id="insert" parameterType="YhjgqxModel">
		insert into matridx_yhjgqx(yhid
		<if test="jgid !=null and jgid != ''">
			,jgid
		</if>
		<if test="xh !=null and xh != ''">
			,xh
		</if>
		,jsid) values(#{yhid}
		<if test="jgid !=null and jgid != ''">
			,#{jgid}
		</if>
		<if test="xh !=null and xh != ''">
			,cast(#{xh} as numeric)
		</if>
		,#{jsid})
	</insert>
</mapper>
