<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>领料列表</title>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/receiveMateriel/receiveAdministrationMateriel_list.js'}" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
	<form id="receiveAdministrationMaterielList_formSearch" class="form-horizontal form-inline" data-bs-toggle="validation">
		<input type="hidden" name="auditType" id ="auditType" th:value="${xzllglDto.auditType}">
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		<div class="panel panel-default">
			<div class="panel-heading">查询条件 </div>
			<div class="panel-body">
				<div class="">
					<div class="form-group padding_l10">
						<select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
							<option value="0">全部</option>
							<option value="1">领料单号</option>
							<option value="2">申请部门</option>
							<option value="3">领料人员</option>
							<option value="4">发料人</option>
							<option value="5">货物名称</option>
							<option value="6">货物标准</option>
						</select>
						<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
							   onkeydown="if(event.keyCode==13) {searchReceiveMaterielResult(true); return false;}" autocomplete="off"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
					<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
				</div>
				<div class="sl_yx_con" id="sl_yx_con" style="display: none">
					<span class="tit">已选条件：</span>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
						<ul id="sl_add_ul"></ul>
					</div>
				</div>
				<div class="padding_t7 width100" id="searchMore" style="display: none;" >
					<div class="tab-content sl_sel_con row" id="sl_sel_con" style="min-height:100px;min-height:150px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
						<div class="tab-pane active" id="tab06">
							<div id="kw_id" class="col-xs-12 col-sm-12 col-lg-12">
								<div class="form-group width100">
									<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="库位">库位：</label>
									<div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
										<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
											<li th:if="${kwlblist !=null && kwlblist.size() >0}" th:each="list:${kwlblist}">
												<a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[kw]],[[${list.csid}]],[[receiveAdministrationMaterielList_formSearch]]);" th:id="'kw_id_'+${list.csid}">
													<span th:text="${list.csmc}"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div id="lllx_id" class="col-xs-12 col-sm-12 col-lg-12">
								<div class="form-group width100">
									<label
											class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="合同类型">领料类型：
									</label>
									<div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list">
										<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
											<li>
												<a style='text-decoration: none; cursor: pointer;'
												   onclick="addTj('lllx','1','receiveAdministrationMaterielList_formSearch');"
												   id="lllx_id_1">
													<span>设备领料</span>
												</a>
											</li>
											<li><a style='text-decoration: none; cursor: pointer;'
												   onclick="addTj('lllx','0','receiveAdministrationMaterielList_formSearch');"
												   id="lllx_id_0">
												<span>普通领料</span>
											</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div id="sqrq_id" class="col-xs-12 col-sm-12 col-lg-12">
								<div class="form-group width100">
									<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="申请日期">申请日期：</label>
									<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11 sl_sel_list" >
										<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
											<li>
												<input id="sqrqstart" name="sqrqstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
												<input id="sqrqend" name="sqrqend" class="form-control" placeholder="结束日期" validate="{required:true}" />
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input  type="hidden" id="kw_id_tj" name="kw_id_tj">
		<input  type="hidden" id="lllx_id_tj" name="lllx_id_tj">
		<div th:include="common/btn/ancz.html"></div>
		<table id="receiveAdministrationMateriel_list" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true" ></table>
	</form>
</div>
</body>
</html>