<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/receiveMateriel/receiveMateriel_view.js'}" charset="utf-8"></script>
	<style type="text/css">
		th{
			font-weight:bold;
			text-align: center;
		}
	</style>
	</head>
	<body>
	<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	    <li  class="nav-item" >
	        <a  class="nav-link active" href="#receiveMaterielInfoTab" role="tab" data-bs-toggle="tab">领料信息</a>
	    </li>
	    <li class="nav-item" >
	        <a  class="nav-link" href="#receiveMaterielDetailTab" role="tab" data-bs-toggle="tab">货物领料信息</a>
	    </li>
		<li class="nav-item" >
			<a  class="nav-link" href="#logisticsupholdDetailTab" role="tab" data-bs-toggle="tab">物流信息</a>
		</li>
	</ul>
		<form id="view_ajaxForm" namespace="/production" class="form-horizontal sl_all_form" method="post" theme="simple">
			<input type="hidden" name="access_token"/>
			<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}"/>
			<input type="hidden" name="ywid" id="ywid" th:value="${llxxDto.llid}">
			<div class="body-content tab-content">
				<div role="tabpanel" class="tab-pane fade active in" id="receiveMaterielInfoTab" aria-labelledby="profile-tab">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
													领料单号：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.lldh}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											记录编号：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.jlbh}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											申请部门：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.sqbm}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											归属人部门：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.gsrbmmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											申请人员：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.sqry}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											申请日期：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.sqrq}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											完成标记：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:if="${llxxDto.wcbj =='0'}">未完成</span>
											<span th:if="${llxxDto.wcbj =='1'}">完成 全部已处理</span>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											出库类别：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.cklb}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											部门设备负责人：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.bmsbfzrmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
											使用地点：
										</label>
										<div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
											<span th:text="${llxxDto.sydd}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											客户简称：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.khjc}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											运输方式：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.ysfsmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											终端：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.zd}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											终端区域：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.zdqymc}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											合同编号: </label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<a href="javascript:void(0);" th:onclick="viewYxht([[${llxxDto.htid}]])">
												<span th:text="${llxxDto.htdh}"/>
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											归属人：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.gsrmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											负责大区：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.fzdq}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											收货联系方式：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.shlxfs}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											是否确认：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.sfqr=='1'?'是':'否'}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											赠送原因：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.zsyy}" />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
											收货地址：
										</label>
										<div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
											<span th:text="${llxxDto.shdz}" />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12" th:if="${llxxDto.lllx =='3'}">
									<div class="form-group">
										<label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
											快递信息：
										</label>
										<div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
											<span th:text="${llxxDto.kdxx}" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											备注：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${llxxDto.bz}" />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
											状态：
										</label>
										<div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
											<span th:if="${llxxDto.zt =='00'}">未提交</span>
											<span th:if="${llxxDto.zt =='80'}">审核通过</span>
											<span th:if="${llxxDto.zt =='15'}">审核未通过</span>
											<span th:if="${llxxDto.zt =='10'}">审核中</span>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<div id="t_fjcfbDto" th:if="${t_fjcfbDtos != null && t_fjcfbDtos.size() >0}"
											 th:each="t_fjcfbDto:${t_fjcfbDtos}">
											<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
												   th:if="${t_fjcfbDtoStat.index == 0}">附件</label>
											<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label"
												   th:if="${t_fjcfbDtoStat.index > 0}"></label>
											<div class="col-sm-10 col-xs-10 col-md-10" style="padding-top: 6px;">
												<label for="" th:if="${t_fjcfbDtos.size() > 1}" th:text="${t_fjcfbDtoStat.index+1}+."></label>
												<a title="下载" th:onclick="xz([[${t_fjcfbDto.fjid}]]);"> <span
														th:text="${t_fjcfbDto.wjm}"></span> <span class="glyphicon glyphicon glyphicon-save"></span>
												</a>&nbsp;&nbsp; <a title="预览" th:onclick="yl([[${t_fjcfbDto.fjid}]],[[${t_fjcfbDto.wjm}]])">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="receiveMaterielDetailTab" aria-labelledby="profile-tab">
				    <div class="panel-body" th:if="${hwllxxDtos !=null && hwllxxDtos.size() > 0}" th:each="hwllxxDto:${hwllxxDtos}">
 					         <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
 					         	<tr>
 					         		<td style="width:50px;"><span th:title="'物料编码：'+${hwllxxDto.wlbm}" th:text="${hwllxxDto.wlbm}" /></td>
 					         		<td style="width:80px;"><span th:title="'物料名称：'+${hwllxxDto.wlmc}" th:text="${hwllxxDto.wlmc}" /></td>
 					         		<td style="width:80px;"><span th:title="'项目大类名称：'+${hwllxxDto.xmdl}" th:text="${hwllxxDto.xmdl}" /></td>
 					         		<td style="width:80px;"><span th:title="'项目编码名称：'+${hwllxxDto.xmbm}" th:text="${hwllxxDto.xmbm}" /></td>
 					         		<td style="width:80px;" th:if="${llxxDto.lllx =='3'}" ><span th:title="'产品类型：'+${hwllxxDto.cplxmc}" th:text="${hwllxxDto.cplxmc}" /></td>
 					         		<td style="width:70px;" th:if="${hwllxxDto.qlsl !=null && hwllxxDto.qlsl != ''}" ><span th:title="'请领数量：'+${hwllxxDto.qlsl}" th:text="'请领数：'+${hwllxxDto.qlsl}" /></td>
 					         		<td style="width:70px;" th:if="${hwllxxDto.qlsl ==null || hwllxxDto.qlsl == ''}" ><span th:title="请领数量：" th:text="请领数量：" /></td>
 					         		<td style="width:70px;" th:if="${hwllxxDto.yxsl !=null && hwllxxDto.yxsl != ''}" ><span th:title="'允许请领数量：'+${hwllxxDto.yxsl}" th:text="'允许请领数：'+${hwllxxDto.yxsl}" /></td>
 					         		<td style="width:70px;" th:if="${hwllxxDto.yxsl ==null || hwllxxDto.yxsl == ''}" ><span th:title="允许请领数：" th:text="允许请领数：" /></td>
 					         		<td style="width:70px;" th:if="${hwllxxDto.slsl !=null && hwllxxDto.slsl != ''}" ><span th:title="'实领数量：'+${hwllxxDto.slsl}" th:text="'实领数量：'+${hwllxxDto.slsl}" /></td>
 					         		<td style="width:70px;" th:if="${hwllxxDto.slsl ==null || hwllxxDto.slsl == ''}" ><span th:title="实领数量：" th:text="实领数量：" /></td>
									<td style="width:70px;" th:if="${hwllxxDto.bz !=null && hwllxxDto.bz != ''}" ><span th:title="'备注：'+${hwllxxDto.bz}" th:text="'备注：'+${hwllxxDto.bz}" /></td>
 					         		<td style="width:70px;" th:if="${hwllxxDto.bz ==null || hwllxxDto.bz == ''}" ><span th:title="备注：" th:text="备注：" /></td>
 					         	</tr>
 					         </table>
 					         <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
								<tr style="background-color: #63a3ff;">
									<th><span th:text="序号" /></th>
									<th><span th:text="规格" /></th>
									<th><span th:text="单位" /></th>
									<th><span th:text="货号" /></th>
									<th><span th:text="追溯号" /></th>
									<th><span th:text="生产批号" /></th>
									<th><span th:text="库位名称" /></th>
									<th><span th:text="仓库名称" /></th>
									<th><span th:text="库存量" /></th>
									<th><span th:text="入库日期" /></th>
									<th><span th:text="实领数量" /></th>
								</tr>
					         	<div th:if="${hwllxxDto.hwllmxDtos != null && hwllxxDto.hwllmxDtos.size() >0}" th:each="hwllmxDto:${hwllxxDto.hwllmxDtos}">
					         		<tr>
					         			<td><span th:title="${hwllmxDtoStat.index+1}" th:text="${hwllmxDtoStat.index+1}"/></td>
										<td><span th:title="${hwllmxDto.gg}" th:text="${hwllmxDto.gg}"/></td>
										<td><span th:title="${hwllmxDto.jldw}" th:text="${hwllmxDto.jldw}"/></td>
										<td><span th:title="${hwllmxDto.ychh}" th:text="${hwllmxDto.ychh}"/></td>
										<td><span th:title="${hwllmxDto.zsh}" th:text="${hwllmxDto.zsh}"/></td>
										<td><span th:title="${hwllmxDto.scph}" th:text="${hwllmxDto.scph}"/></td>
										<td><span th:title="${hwllmxDto.kwmc}" th:text="${hwllmxDto.kwmc}"/></td>
										<td><span th:title="${hwllmxDto.ckmc}" th:text="${hwllmxDto.ckmc}"/></td>
										<td><span th:title="${hwllmxDto.kcl}" th:text="${hwllmxDto.kcl}"/></td>
										<td><span th:title="${hwllmxDto.rkrq}" th:text="${hwllmxDto.rkrq}"/></td>
										<td><span th:title="${hwllmxDto.slsl}" th:text="${hwllmxDto.slsl}"/></td>
									</tr>
								</div>
					         </table>
					         <hr>
						</div>
				    </div>
				<div role="tabpanel" class="tab-pane fade" id="logisticsupholdDetailTab" aria-labelledby="profile-tab">
					<div class="panel panel-default">
						<div class="panel-body">
							<table id="tb_list" class="table table-hover table-bordered table-hidden" style="width:1600px;"></table>
						</div>
					</div>
				</div>
				</div>
		 	</div>
		</form>
	</body>
</html>