<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/receiveMateriel/receiveAdministrationMateriel_edit.js'}" charset="utf-8"></script>
		<style type="text/css">
			#fjcfbDto span:hover{
				cursor:pointer;
			}
		    .bootstrap-tagsinput {
			  min-width:100%;
		    }
			.label-info {
				cursor: pointer;
			}
			th{
				font-weight:bold;
				text-align: center;
			}
	</style>
	</head>
	<body>
	
	<form id="editXzPickingForm" th:action="${urlPrefix}+${xzllglDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" name="formAction" id ="formAction" th:value="${xzllglDto.formAction}">
		<input type="hidden" name="auditType" th:value="${xzllglDto.auditType}" id="auditType"/>
		<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
		<input type="hidden" name="llmx_json" id="llmx_json"/>
		<input type="hidden" name="url" id="url" th:value="${url}">
		<input type="hidden" name="xzllid" id="xzllid" th:value="${xzllglDto.xzllid}">
		<input type="hidden" name="lllx" id="lllx" th:value="${xzllglDto.lllx}">
		<input type="hidden" name="tssh" id="tssh" th:value="${xzllglDto.tssh}">
		<input type="hidden" name="loadFlag" id="loadFlag" th:value="${loadFlag}">
		<div class="panel-body body-content">
		    	<div class="panel panel-default">
		    		<div class="panel-body">
						<div class="row">
							<div class="col-md-12 col-sm-12" th:if="${xzllglDto.formAction != '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}">
								<div class="form-group">
									<label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
										请购单:
									</label>
									<div class="col-sm-11 col-xs-11 col-md-11">
										<div class="input-group">
											<input id="qgid" autoComplete="off" style="min-width: 100%;height:32px;"name="qgid" type="text" class="form-control" />
											<span class="input-group-btn">
												<button type="button" onclick="chooseRequisition()" class="btn btn-primary"  style="height:32px !important;">新增</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<div class="col-md-3 col-sm-3" style="height:30px">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
												<span style="color: red;">*</span>领料单号:
											</label>
											<div class="col-sm-8 col-xs-8 col-md-8" th:if="${xzllglDto.formAction != '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}">
												<input type="text" id="lldh" name="lldh" th:value="${xzllglDto.lldh}" validate="{required:true,stringMaxLength:64}" class="form-control" autocomplete="off"/>
											</div>
											<div class="col-sm-8 col-xs-8 col-md-8  padding_t7" th:if="${xzllglDto.formAction eq '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}" >
												<span  th:text="${xzllglDto.lldh}"/>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-3" style="height:30px">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
												<span style="color: red;">*</span>领料人员:
											</label>
											<div class="col-sm-8 col-xs-8 col-md-8" th:if="${xzllglDto.formAction != '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}">
												<div class="input-group" >
													<input id="llrymc" name="llrymc" type="text" th:value="${xzllglDto.llrymc}" readonly="readonly" validate="{required:true}"  class="form-control" />
													<input id="llry" name="llry" type="hidden"  th:value="${xzllglDto.llry}" class="form-control" validate="{required:true}"/>
													<span class="input-group-btn">
												<button type="button" onclick="chooseSqr()" class="btn btn-primary">选择</button>
											</span>
												</div>
											</div>
											<div class="col-sm-8 col-xs-8 col-md-8 padding_t7" th:if="${xzllglDto.formAction eq '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}" >
												<span  th:text="${xzllglDto.llrymc}"/>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-3" style="height:30px">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
												<span style="color: red;">*</span>领料部门:
											</label>
											<div class="col-sm-8 col-xs-8 col-md-8" th:if="${xzllglDto.formAction != '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}">
												<div class="input-group">
													<input id="sqbmmc" name="sqbmmc" type="text" th:value="${xzllglDto.sqbmmc}" readonly="readonly" validate="{required:true}" class="form-control"  />
													<input id="sqbm" name="sqbm" type="hidden" th:value="${xzllglDto.sqbm}" class="form-control" validate="{required:true}"/>
													<span class="input-group-btn">
												<button type="button" onclick="chooseSqbm()" class="btn btn-primary">选择</button>
											</span>
												</div>
											</div>
											<div class="col-sm-8 col-xs-8 col-md-8  padding_t7" th:if="${xzllglDto.formAction eq '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}" >
												<span  th:text="${xzllglDto.sqbmmc}"/>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-3" style="height:30px">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
												<span style="color: red;">*</span>领料日期:
											</label>
											<div class="col-sm-8 col-xs-8 col-md-8" th:if="${xzllglDto.formAction != '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}">
												<input type="text" id="sqrq" name="sqrq" th:value="${xzllglDto.sqrq}" validate="{required:true,stringMaxLength:64}" class="form-control" autocomplete="off"/>
											</div>
											<div class="col-sm-8 col-xs-8 col-md-8  padding_t7" th:if="${xzllglDto.formAction eq '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}" >
												<span  th:text="${xzllglDto.sqrq}"/>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-3" style="height:30px" th:if="${xzllglDto.formAction eq '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
												<span style="color: red;">*</span>发料人员:
											</label>
											<div class="col-sm-8 col-xs-8 col-md-8">
												<div class="input-group" >
													<input id="flrymc" name="flrymc" type="text" th:value="${xzllglDto.flrymc}" readonly="readonly" validate="{required:true}"  class="form-control" />
													<input id="flry" name="flry" type="hidden"  th:value="${xzllglDto.flry}" class="form-control" validate="{required:true}"/>
													<span class="input-group-btn">
												<button type="button" onclick="chooseFlry()" class="btn btn-primary">选择</button>
											</span>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>

							<div class="col-md-12 col-sm-12" >
								<div class="form-group" >
									<label for="" class="col-sm-1 control-label">
										备注:
									</label>
									<div class="col-sm-11 col-xs-11" th:if="${xzllglDto.formAction != '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}" >
										<textarea id="bz" name="bz" rows="3"  style="height:50px;" validate="{stringMaxLength:512}" class="form-control" th:text="${xzllglDto.bz}" autocomplete="off"></textarea>
									</div>
									<div class="col-sm-11 col-xs-11 padding_t7" th:if="${xzllglDto.formAction eq '/storehouse/receiveAdministrationMateriel/pagedataReleaseSaveReceiveAdminMateriel'}" >
										<span  th:text="${xzllglDto.bz}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<table id="xzllmxtb_list" data-classes="table" style="width:1500px;margin-left: 20px"></table>
		</form>
	</body>
</html>
