<!DOCTYPE html>
<html>
    <head>
        <meta name="referrer" content="never">
        <meta content="webkit" name="renderer" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Copyright" content="matridx" />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <title>查看信息</title>
        <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
        <link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
        <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
        <link href="/js/plugins/bootstrap-table/bootstrap-table-pagejump.css" rel="stylesheet">
        <script src="/js/plugins/bootstrap-table/bootstrap-table-pagejump.js"></script>
        <link href="/js/plugins/bootstrap-table/themes/bulma/bootstrap-table-bulma.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="/css/v5_style.css" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/css/basephone.css" />
        <script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/receiveMateriel/view_YwxxWithWlxx.js'}" charset="utf-8"></script>
        <style type="text/css">
            .hidden{display:none;}
            table{
                table-layout: fixed;
            }
            tr{
                width:100%;
            }
            .first th{
                border:1px solid #DDDDDD;
            }
            .first td{
                border:1px solid #DDDDDD;
            }
            body{
                overflow: auto;
            }
            .padding_t7{
                padding-top: 3px !important;
            }


            .flow_bar li {
                width: 80px;
            }

            .flow_bar li .flo_ico {
                /* 		    width: 30px;
                            height: 30px;
                            top:1px;*/
                top:0px;/*调整小球的位置*/
            }
            .flow_bar .flow_finish .flo_ico {
                width:10px;
                height:10px;/*调正小球的大小*/
            }
            .flow_bar li>div{
                width:80px;
                height:56px;
                height:6px;
                margin-bottom:40px;/*调整两行间隔*/
            }
            .flow_bar .flo_first>div{
                width:10px;
                height:6px;/*调整横线宽度*/
            }
            .flow_bar .flo_first h5{
                left:-16px;
            }
            .flow_bar li h5{
                top:19px;
                width:43px;
                /*  left:43px; */
            }
            .h5, h5 {
                font-size: 12px;
            }
            .table_sh td{
                padding:0px !important;
            }
            b{
                /* font-size:60px; */
                margin:16px;
            }
            th{
                font-size:12px;
                padding:4px !important;
            }

        </style>
    </head>
    <body>
        <ul class="nav nav-tabs sl_nav_tabs" role="tablist">
            <li  class="nav-item" >
                <a  class="nav-link active" href="#glTab" role="tab" data-bs-toggle="tab" th:text="${djlx}"></a>
            </li>
            <li class="nav-item" >
                <a  class="nav-link" href="#mxTab" role="tab" data-bs-toggle="tab" th:text="${djlx+'明细'}"></a>
            </li>
            <li class="nav-item" >
                <a  class="nav-link" href="#logisticsupholdDetailTab" role="tab" data-bs-toggle="tab">物流信息</a>
            </li>
        </ul>
        <form id="wlxxViewForm" action="" class="form-horizontal sl_all_form  blue-second-skin" data-bs-toggle="validation">
            <input type="hidden" name="urlPrefix" th:value="${urlPrefix}" id="urlPrefix"/>
            <input type="hidden" name="ywlx" th:value="${ywlx}" id="ywlx"/>
            <input type="hidden" name="ywid" th:value="${ywid}" id="ywid"/>
            <div class="body-content tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="glTab"  aria-labelledby="profile-tab">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            领料单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.lldh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            记录编号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.jlbh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            发货单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.fhdh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            订单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.xsdd}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            OA订单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.oaxsdh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            U8订单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.u8xsdh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            订单日期
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.ddrq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            业务类型
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.ywlxmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            销售类型
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.xslxmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            销售部门
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.xsbmmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            借用单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.jydh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            申请日期
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.sqrq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            单据日期
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.djrq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            借用日期
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.jyrq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            是否支付运费
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.sfzfyf=='1'?'是':'否'}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            申请人
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.sqrmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            经手人
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.jsrmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            联系人
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.lxr}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            申请部门
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.sqbmmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            销售部门
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.xsbmmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            部门
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.bmmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            出库类别
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.cklbmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            销售类型
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.xslxmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            单位类型
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.dwlxmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            单位
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.dwmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            联系人
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.lxr}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            联系方式
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.lxfs}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            完成标记
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.wcbj=='1'?'完成':'未完成'}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy' || ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            客户名称
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.khmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            业务员
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.ywymc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            客户简称
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.khjcmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'fh'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            u8发货单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.u8fhdh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;"  th:if="${ywlx eq 'jcjy' || ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            终端
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.zd}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;"  th:if="${ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            客户终端
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.khzd}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy' || ywlx eq 'll'|| ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            终端区域
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.zdqymc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'|| ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            合同单号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.htdh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            运输要求
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.ysyq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            税率
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.suil}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            总金额
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.xszje}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            发票号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.xsfph}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            折扣
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.zk}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            到款月
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.dky}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            到款金额
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.dkje}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            合同编号
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.htbh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            归属人
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.gsrmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy' || ywlx eq 'll'||ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            负责大区
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.fzdq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'jcjy' || ywlx eq 'll'|| ywlx eq 'xs'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            收货联系方式
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.shlxfs}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;" th:if="${ywlx eq 'll'}">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            赠送原因
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.zsyy}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            收货地址
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.shdz}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:60px;">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            快递信息
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.kdxx}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" style="height:40px;">
                                    <div class="form-group">
                                        <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                            是否确认
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                            <span th:text="${dto.sfqr=='1'?'是':'否'}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12" style="height:40px;">
                                    <div class="form-group" >
                                        <label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label">
                                            状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                                            <span th:if="${dto.zt =='00'}">未提交</span>
                                            <span th:if="${dto.zt =='80'}">审核通过</span>
                                            <span th:if="${dto.zt =='15'}">审核未通过</span>
                                            <span th:if="${dto.zt =='10'}">审核中</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12" style="height:40px;">
                                    <div class="form-group" >
                                        <label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label">
                                            备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
                                        </label>
                                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                                            <span th:text="${dto.bz}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="mxTab" aria-labelledby="profile-tab" >
                    <div th:if="${dtos != null && dtos.size() >0}" th:each="list:${dtos}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        物料编码：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.wlbm}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        物料名称：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.wlmc}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.gg}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.jldw}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${ywlx eq 'xs'}">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.sl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${ywlx eq 'jcjy'}">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        借出数量：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.jcsl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${ywlx eq 'fh'}">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        发货数量：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.fhsl}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${ywlx eq 'll'}">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                        实领数量：
                                    </label>
                                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                        <span th:text="${list.slsl}" />
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="logisticsupholdDetailTab" aria-labelledby="profile-tab" >
                    <div th:if="${dtoList != null && dtoList.size() >0}" th:each="list:${dtoList}">
                        <div class="panel panel-default">
                            <div class="panel-body" style="margin-bottom: 20px">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                            快递公司：
                                        </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                            <span th:text="${list.kdgs}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                            快递单号：
                                        </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                            <span th:text="${list.wldh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                            发货日期：
                                        </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                            <span th:text="${list.fhrq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                            签收时间：
                                        </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                            <span th:text="${list.qsrq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"  style="padding-right: 0px;">
                                            运费：
                                        </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" style="padding-right: 0px;" >
                                            <span th:text="${list.yf+'元'}" />
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${list.fjcfbDtos != null}"
                                     th:each="t_fjcfbDto:${list.fjcfbDtos}" class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"
                                               th:if="${t_fjcfbDtoStat.index == 0}">附&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</label>
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label"
                                               th:if="${t_fjcfbDtoStat.index > 0}">　　</label>
                                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 padding_t7 h30">
                                            <label for="" th:if="${list.fjcfbDtos != null}" th:text="${t_fjcfbDtoStat.index+1}+."></label>
                                            <span
                                                    th:text="${t_fjcfbDto.wjm}"></span>
                                            </a>&nbsp;&nbsp; <a title="预览" th:onclick="yl([[${t_fjcfbDto.fjid}]],[[${t_fjcfbDto.wjm}]],[[${t_fjcfbDto.zhwjxx}]])">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </form>
    </body>
</html>
