	<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>运营统计一</title>
</head>
    <script type="text/javascript" src="/js/wechat/operational/operational_one.js"></script>
   	<link rel="stylesheet" type="text/css" href="/css/wechat/operational/normalize.css" />
	<link href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/wechat/operational/styles.css"> 
<body>
	<div class="body-content tab-content" id="operationalStatis">
		<input type="hidden" name="tjzq" id="tjzq" th:value="${sjxxDto.tjzq}"/>
		<div class="alert alert-info" style="text-align: center;">运营统计</div>
		<div class="col-md-6 col-sm-6 col-xs-6 padding_t7">
	 	 	<div class="col-md-8 col-sm-8 col-xs-8" id="echarts_operational_jcdw" style="height: 450px;">
	 	 	</div>
	 	 	<div class="col-md-4 col-sm-4 col-xs-4 btn-list">
	    		<a href="javascript:void(0)" title="天" class="btn-float yellow" id="jcdw_D">D</a>
	    		<a href="javascript:void(0)" title="周" class="btn-float pink" id="jcdw_W">W</a>
	    		<a href="javascript:void(0)" title="月" class="btn-float green" id="jcdw_M">M</a>
	    		<a href="javascript:void(0)" title="年" class="btn-float purple" id="jcdw_Y">Y</a>
	 	 	</div>
		</div>
		
		<div class="col-md-6 col-sm-6 col-xs-6 padding_t7">
	 	 	<div class="col-md-8 col-sm-8 col-xs-8" id="echarts_operational_sys" style="height: 450px;">
	 	 	</div>
	 	 	<div class="col-md-4 col-sm-4 col-xs-4 btn-list">
	    		<a href="javascript:void(0)" title="天" class="btn-float yellow" id="sys_D">D</a>
	    		<a href="javascript:void(0)" title="周" class="btn-float pink" id="sys_W">W</a>
	    		<a href="javascript:void(0)" title="月" class="btn-float green" id="sys_M">M</a>
	    		<a href="javascript:void(0)" title="年" class="btn-float purple" id="sys_Y">Y</a>
	 	 	</div>
		</div>
		
		
	</div>
</body>
</html>