<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
    <script type="text/javascript" src="/js/wechat/operational/operational_two_jcdw.js"></script>
<body>
	<div class="body-content tab-content" id="operationalStatis_jcdw">
		<input type="hidden" name="tjzq" id="tjzq" th:value="${sjxxDto.tjzq}"/>
		<input type="hidden" name="jcdw" id="jcdw" th:value="${sjxxDto.jcdw}"/>
		<div class="alert alert-info" style="text-align: center;">
			<button id="backBtn" type="button" class="btn btn-info" style="float: left;">返回</button>
			<span id="jcdwmc" th:text="${sjxxDto.jcdwmc}"></span>
		</div>
		
		<div class="col-md-6 col-sm-6 col-xs-12 padding_t7">
			<div  class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 btn-list">
		    		<a href="javascript:void(0)" title="天" class="btn-float yellow jcdw_a" id="jcdw_D">D</a>
		    		<a href="javascript:void(0)" title="周" class="btn-float pink jcdw_a" id="jcdw_W">W</a>
		    		<a href="javascript:void(0)" title="月" class="btn-float green jcdw_a" id="jcdw_M">M</a>
		    		<a href="javascript:void(0)" title="年" class="btn-float purple jcdw_a" id="jcdw_Y">Y</a>
		 	 	</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12" id="echarts_operational_jcdw" style="height: 450px;">
	 	 		</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 padding_t7">
			<div class="body-content">
				<table class="table table-hover " id="tbody"> 		
				</table>
			</div>
		</div>
	</div>
</body>
</html>