<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
	<script type="text/javascript" src="/js/plugins/echarts/infographic.js"></script>
	<script type="text/javascript" src="/js/plugins/echarts/shine.js"></script>
	<script type="text/javascript" src="/js/plugins/echarts/china.js"></script>
	<script type="text/javascript" src="/js/jquery.rotate.min.js"></script>
	<script type="text/javascript" src="/js/lashome/choice/choice_las.js" charset="utf-8"></script>
</head>
<body>
	<div class="row" style="margin:0px;height:100%;background-image:url(/images/censusimages/backgroundimage.png);background-size:cover;">
		<div class="col-md-12 col-sm-12 col-xs-12" id="xuanzhuan" style="background-image:url(/images/censusimages/backgroundimage.png);background-size:cover;position:absolute;z-index:99;height:100%;">
			<img src="/images/censusimages/jzxz1.png" id="outaction" style="position:absolute;z-index:100;margin-top:10%;margin-left:40%">
			<img src="/images/censusimages/jzxz2.png" id="inaction" style="position:absolute;z-index:101;margin-top:10%;margin-left:40%">
		</div>
		<div class="col-sm-12 col-sm-12 col-xs-12" style="height:100%;padding:0px;">
			<img src="/images/censusimages/ksh42.png" style="position:absolute;left:5px;top:5px;">
			<img src="/images/censusimages/ksh43.png" style="position:absolute;right:5px;top:5px;">
			<img src="/images/censusimages/ksh45.png" style="position:absolute;left:5px;bottom:5px;">
			<img src="/images/censusimages/ksh44.png" style="position:absolute;right:5px;bottom:5px;">
			<div style="position:absolute;top:15px;left:15px;"><span id="timeSpan"></span></div>
			<div class="col-sm-12 col-sm-12 col-xs-12" id="lasmap" style="height:100%;"></div>
			<div class="panel panel-default col-xs-4 col-md-2 col-sm-3" id="lasPanel">
				<div id="lasList"></div>
			</div>
		</div>
		
	</div>
</body>
</html>