<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	</head>
	<body>
	   <form id="ajaxForm" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<div class="body-content">
				<div class="panel panel-default sample-formal">
					<div class="panel-heading">
						注册用户信息
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 col-sm-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-3 control-label">用户名</label>
					    			<div class="col-sm-9 padding_t7" th:text="${jkrzxxDto.rzyhm}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-3 control-label">认证建</label>
					    			<div class="col-sm-9 padding_t7" th:text="${jkrzxxDto.rzkey}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-3 control-label">用户代码</label>
					    			<div class="col-sm-9 padding_t7" th:text="${jkrzxxDto.rzyhdm}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-3 control-label">备注</label>
					    			<div class="col-sm-9 padding_t7" th:text="${jkrzxxDto.bz}">&nbsp;</div>
					   			</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>	
	</body>
</html>