<!DOCTYPE html>
<html lang="zh-cn">
	<body>
	   <form id="addSysxxForm" action ="/wechat/sys/pagedataSaveSysxx" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<input type="hidden" name="access_token"/>
			<input type="hidden" name="sysid" id="sysid" th:value="${sysxxDto.sysid}">
			<div class="body-content">
				<div class="panel panel-default sample-formal">
					<div class="panel-heading">
						实验室信息
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 col-sm-12">
					        	<div class="form-group">
									<label for="" class="col-sm-3 col-xs-3 control-label">
										<span style="color: red;">*</span>对方实验室
									</label>
					    			<div class="col-sm-9 col-xs-9">
					    				<input type="text" id="dfsysmc" name="dfsysmc" th:value="${sysxxDto.dfsysmc}"  validate="{required:true}" class="form-control" />
					    			</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-3 col-xs-3 control-label">
										<span style="color: red;">*</span>我方实验室：
									</label>
									<div class="col-sm-9 col-xs-9">
										<select id="wfsys" name="wfsys" th:value="${sysxxDto.wfsys}"  class="form-control chosen-select" validate="{required:true}">
											<option  th:if="${decetionlist!=null && decetionlist.size() > 0}" th:each="list:${decetionlist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${sysxxDto.wfsys eq list.csid}" ></option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
					        	<div class="form-group">
									<label for="" class="col-sm-3 col-xs-3 control-label">
										周期：
									</label>
					    			<div class="col-sm-1 col-xs-1" style="padding: 0;">
										<label class="checkboxLabel checkbox-inline" >
											<input type="checkbox" name="zq" value="1" th:attr="checked=${sysxxDto.zq !=null && sysxxDto.zq.contains('1')?true:false}" />
											<span>周一</span>
										</label>
					    			</div>
					    			<div class="col-sm-1 col-xs-1" style="padding: 0;">
										<label class="checkboxLabel checkbox-inline" >
											<input type="checkbox" name="zq" value="2" th:attr="checked=${sysxxDto.zq !=null && sysxxDto.zq.contains('2')?true:false}" />
											<span>周二</span>
										</label>
					    			</div>
					    			<div class="col-sm-1 col-xs-1" style="padding: 0;">
										<label class="checkboxLabel checkbox-inline" >
											<input type="checkbox" name="zq" value="3" th:attr="checked=${sysxxDto.zq !=null && sysxxDto.zq.contains('3')?true:false}" />
											<span>周三</span>
										</label>
					    			</div>
					    			<div class="col-sm-1 col-xs-1" style="padding: 0;">
										<label class="checkboxLabel checkbox-inline" >
											<input type="checkbox" name="zq" value="4" th:attr="checked=${sysxxDto.zq !=null && sysxxDto.zq.contains('4')?true:false}" />
											<span>周四</span>
										</label>
					    			</div>
					    			<div class="col-sm-1 col-xs-1" style="padding: 0;">
										<label class="checkboxLabel checkbox-inline" >
											<input type="checkbox" name="zq" value="5" th:attr="checked=${sysxxDto.zq !=null && sysxxDto.zq.contains('5')?true:false}" />
											<span>周五</span>
										</label>
					    			</div>
					    			<div class="col-sm-1 col-xs-1" style="padding: 0;">
										<label class="checkboxLabel checkbox-inline" >
											<input type="checkbox" name="zq" value="6" th:attr="checked=${sysxxDto.zq !=null && sysxxDto.zq.contains('6')?true:false}" />
											<span>周六</span>
										</label>
					    			</div>
					    			<div class="col-sm-1 col-xs-1" style="padding: 0;">
										<label class="checkboxLabel checkbox-inline" >
											<input type="checkbox" name="zq" value="0" th:attr="checked=${sysxxDto.zq !=null && sysxxDto.zq.contains('0')?true:false}" />
											<span>周日</span>
										</label>
					    			</div>
					   			</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>	
	</body>
</html>
