<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <script type="text/javascript" src="/js/wechat/resfirst/resfirst_edit.js?v=20221031" charset="utf-8"></script>
    <link href="/css/wechat/sjxx/colorview.css" rel="stylesheet" type="text/css" />
</head>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
    <li  class="nav-item" >
        <a  class="nav-link active" href="#materInfoTab" role="tab" data-bs-toggle="tab">患者信息</a>
    </li>
    <li class="nav-item" >
        <a  class="nav-link" href="#modInfoTab" role="tab" data-bs-toggle="tab">标本信息</a>
    </li>
    <li  class="nav-item" id="file_li">
        <a  class="nav-link" href="#fjInfoTab" role="tab" data-bs-toggle="tab">附件信息</a>
    </li>
</ul>
<form id="ajaxForm_resfirstEdit"  th:action="'/experimentS/experiments/'+${sjxxDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="sjid" id="sjid" th:value="${sjxxDto.sjid}"/>
    <input type="hidden" name="ywlx" id ="ywlx" th:value="${sjxxDto.ywlx}"/>
    <input type="hidden" name="xg_flg" id="xg_flg" th:value="${sjxxDto.xg_flg}"/>
    <input type="hidden" name="fjids" id ="fjids"/>
    <input type="hidden" name="dtoList" id="dtoList" th:value="${dtoList}"/>
    <input type="hidden" name="jcxm" id="jcxm"/>
    <input type="hidden" name="jcxmmc" id="jcxmmc"/>
    <input type="hidden" name="px" id="px"/>
    <input type="hidden" name="wbbm" id="wbbm" th:value="${sjxxDto.wbbm}"/>
    <input type="hidden" name="old_db" id="old_db" th:value="${sjxxDto.db}"/>
    <input type="hidden" name="old_fkje" id="old_fkje" th:value="${sjxxDto.fkje}"/>
<!--    <input type="hidden" name="divisionListJson" id="divisionListJson" th:value="${divisionListJson}"/>-->
    <input type="hidden" name="formAction" id="formAction" th:value="${sjxxDto.formAction}"/>
    <input type="hidden" name="sfzmjc" id="sfzmjc"/>
    <input type="hidden" name="yyxxCskz1" id="yyxxCskz1" th:value="${sjxxDto.yyxxCskz1}"/>
    <input type="hidden" name="kyxmid" id="kyxmid" th:value="${sjxxDto.kyxm}"/>
    <input type="hidden" name="sjqfid" id="sjqfid" th:value="${sjxxDto.sjqf}"/>

    <input th:if="${access_token !=null}" type="hidden" name="" id="out_token" th:value="${access_token}"/>
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="materInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>标本编号：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <!--										<input type="text" onkeyup="this.value=this.value.replace(/[^\a-\z\A-\Z0-9 -]/g,'');" placeholder="请输入样本编号,禁用特殊字符" id="ybbh" name="ybbh" th:value="${sjxxDto.ybbh}"  validate="{required:true,stringMaxLength:128}"class="form-control" />-->
                                    <input type="text" placeholder="请输入样本编号,禁用特殊字符" id="ybbh" name="ybbh" th:value="${sjxxDto.ybbh}"  validate="{required:true,stringMaxLength:128}"class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>患者姓名：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="hzxm" name="hzxm"  validate="{required:true,stringMaxLength:64}" th:value="${sjxxDto.hzxm}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
                                </label>
                                <div class="col-sm-8  col-xs-8">
                                    <label class="radio-inline">
                                        <input type="radio" value="1" name="xb" th:checked="${'1' eq sjxxDto.xb}" validate="{required:true}">男
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="2" name="xb" th:checked="${'2' eq sjxxDto.xb}" validate="{required:true}" >女
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="3" name="xb" th:checked="${'3' eq sjxxDto.xb}" validate="{required:true}" >未知
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <div class="input-group">
                                        <input type="text" id="nl" name="nl" th:value="${sjxxDto.nl}" validate="{required:true}" class="form-control" />
                                        <span class="input-group-addon" style="padding:0px;">
												<select  id="nldw" name="nldw" th:value="${sjxxDto.nldw}" validate="{required:true}"  style="border:none;height:100% !important;">
													<option value="岁" th:selected="${sjxxDto.nldw eq '岁'}">岁</option>
													<option value="个月" th:selected="${sjxxDto.nldw eq '个月'}">个月</option>
													<option value="天" th:selected="${sjxxDto.nldw eq '天'}">天</option>
													<option value="无" th:selected="${sjxxDto.nldw eq '无'}">无</option>
												</select>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="dh" name="dh"  th:value="${sjxxDto.dh}" validate="{stringMaxLength:64}"class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>医院名称：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <div class="input-group">
                                        <input type="text" autocomplete="off" id="hospitalname" name="hospitalname" th:value="${sjxxDto.hospitalname}" validate="{required:true}"  data-provide="typeahead" data-items="5" class="form-control"/>
                                        <span class="input-group-btn">
												<button type="button"  class="btn btn-primary" onclick="selectHospital()">选择</button>
											</span>
                                    </div>
                                    <input type="hidden"  id="sjdw" name="sjdw"  th:value="${sjxxDto.sjdw}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>主治医师：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="sjys" name="sjys"  th:value="${sjxxDto.sjys}" validate="{required:true,stringMaxLength:64}"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span id="otherHospital" style="color: red;">*</span>报告显示单位：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text"  id="sjdwmc" name="sjdwmc"  class="form-control" validate="{stringMaxLength:128}" th:value="${sjxxDto.sjdwmc}" disabled="disabled" placeholder="请填写报告单上需显示的单位"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    医生电话：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="ysdh" name="ysdh" th:value="${sjxxDto.ysdh}" validate="{stringMaxLength:32}"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>	科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="ks" name="ks"   th:value="${sjxxDto.ks}"  class="form-control chosen-select" validate="{required:true}" >
                                        <option  value="">--请选择--</option>
                                        <option  th:if="${sjdwxxList!=null && sjdwxxList.size() > 0}" th:each="list:${sjdwxxList}" th:value="${list.dwid}" th:kzcs="${list.kzcs}" th:text="${list.dwmc}" th:selected="${sjxxDto.ks eq list.dwid}" ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span id="qtkscheck" style="color: red; display:none;" >*</span> 报告显示科室：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="qtks" name="qtks" th:value="${sjxxDto.qtks}" validate="{required:true}" class="form-control" disabled="disabled" placeholder="请填写报告单上需显示的科室"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>合作伙伴：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="db" name="db"  validate="{required:true,stringMaxLength:128}" th:value="${sjxxDto.db}" class="form-control" placeholder="非合作人员请填'无'"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>检测项目：
                                </label>
                                <div class="col-sm-10 col-xs-8" th:if="${sjxxDto.formAction eq'addSaveResFirst'}">
                                    <div class="col-sm-4" th:id="'t-'+${detect.csid}" th:each="detect:${datectlist}" style="padding-left:0px;">
                                        <label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
                                            <input th:id="${detect.csid}" type="radio" class="jcxm" name="jcxmids" th:csmc="${detect.csmc}" th:value="${detect.csid}"  th:cskz1="${detect.cskz1}" th:cskz2="${detect.cskz2}" th:csdm="${detect.csdm}"  validate="{required:true}" th:attr="checked=${detect.csdm eq '047'}" style="padding-left:16px;"/>
                                            <div th:class="${'color_light'+ detect.cskz2}" style="border-radius: 5px" >
                                                <span th:text="${detect.csmc}" th:class="${'color_'+ detect.cskz2}" style="padding: 10px;"></span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-xs-8" th:if="${sjxxDto.formAction eq'modSaveResFirst'}">
                                    <div class="col-sm-4" th:id="'t-'+${detect.csid}" th:each="detect:${datectlist}" style="padding-left:0px;">
<!--                                        <label class="checkboxLabel checkbox-inline" style="padding-left:0px;">-->
<!--                                            <input th:id="${detect.csid}" type="radio" class="jcxm" name="jcxmids" th:value="${detect.csid}"  th:cskz1="${detect.cskz1}" th:csdm="${detect.csdm}"  validate="{required:true}" th:attr="checked=${sjxxDto.jcxmids!=null &&sjxxDto.jcxmids.contains(detect.csid)?true:false}" style="padding-left:16px;"/>-->
<!--                                            <span th:text="${detect.csmc}"></span>-->
<!--                                        </label>-->
                                        <label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
                                            <input th:id="${detect.csid}" type="radio" class="jcxm" name="jcxmids" th:csmc="${detect.csmc}" th:value="${detect.csid}"  th:cskz1="${detect.cskz1}" th:cskz2="${detect.cskz2}" th:csdm="${detect.csdm}"  validate="{required:true}" th:attr="checked=${detect.csdm eq '047'}" style="padding-left:16px;"/>
                                            <div th:class="${'color_light'+ detect.cskz2}" style="border-radius: 5px" >
                                                <span th:text="${detect.csmc}" th:class="${'color_'+ detect.cskz2}" style="padding: 10px;"></span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-md-6 col-sm-6 col-xs-12" id="jczxm_div">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>检测子项目：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="jczxm" name="jczxm" class="form-control chosen-select" validate="{required:true}">
                                        <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                        <option th:if="${subdetectlist != null && subdetectlist.size() > 0}" th:each="list:${subdetectlist}" th:value="${list.csid}"  th:text="${list.csmc}"  th:selected="${sjxxDto.jczxm eq list.csid}" ></option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>送检区分：
                                </label>
                                <div class="col-sm-8 col-xs-8" th:if="${sjxxDto.formAction eq'modSaveResFirst'}">
                                    <div class="col-sm-4 col-md-4 col-xs-6" th:id="${division.csid}" th:each="division:${divisionList}" style="padding:0px;">
                                        <label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
                                            <input th:id="${division.csid}" type="radio" class="sjqf" name="sjqf" th:value="${division.csid}"   th:csdm="${division.csdm}"  validate="{required:true}" th:checked="${division.csid eq sjxxDto.sjqf}"  style="padding-left:16px;"/>
                                            <span th:text="${division.csmc}" th:value="${division.csmc}"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-8" th:if="${sjxxDto.formAction eq'addSaveResFirst'}">
                                    <div class="col-sm-4 col-md-4 col-xs-6" th:id="${division.csid}" th:each="division:${divisionList}" style="padding:0px;">
                                        <label class="checkboxLabel checkbox-inline" style="padding-left:0px;">
                                            <input th:id="${division.csid}" type="radio" class="sjqf" name="sjqf" th:value="${division.csid}"   th:csdm="${division.csdm}"  validate="{required:true}" th:checked="${division.sfmr eq '1'}"  style="padding-left:16px;"/>
                                            <span th:text="${division.csmc}" ></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" id="kyDIV" style="display: none">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>	立项编号：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="kyxm" name="kyxm" th:value="${sjxxDto.kyxm}" class="form-control chosen-select"  >
                                        <option id="-1" value="">--请选择--</option>
                                        <option class="t_kyxm" th:if="${kyxmlist!=null && kyxmlist.size() > 0}" th:each="list:${kyxmlist}" th:value="${list.csid}" th:id="${list.csid}" th:fcsid="${list.fcsid}"  th:text="${list.csmc}" th:selected="${sjxxDto.kyxm eq list.csid}" ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="modInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>标本类型：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="yblx" name="yblx" th:value="${sjxxDto.yblx}" class="form-control chosen-select" validate="{required:true}">
                                        <option value="">--请选择--</option>
                                        <option class="t_yblx" th:id="${list.csid}"  th:if="${samplelist!=null && samplelist.size() > 0}"  th:csdm="${list.csdm}" th:each="list:${samplelist}"   th:value="${list.csid}" th:kzcs="${list.cskz1}" th:cskz2="${list.cskz2}" th:csmc="${list.csmc}" th:text="${list.csmc}"  th:selected="${sjxxDto.yblx eq list.csid}" ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;display:none;" id="yblxmcspan">*</span>其他类型：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="yblxmc" name="yblxmc"  th:value="${sjxxDto.yblxmc}" validate="{required:true}" disabled="disabled"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" th:if="${sjxxDto.formAction eq'modSaveResFirst'}">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    标本状态：
                                </label>
                                <div class="col-sm-8 col-xs-8" id="ztDiv">
                                    <label class="checkboxLabel checkbox-inline"  th:each="state:${samplestate}">
                                        <input th:id="${state.csid}" type="checkbox" name="zts" th:value="${state.csid}" th:attr="checked=${sjxxDto.zts!=null &&sjxxDto.zts.contains(state.csid)?true:false}" onclick="updateBz(this)" />
                                        <span style="padding-right: 25px;" th:id="${state.csid}" th:text="${state.csmc}"></span>
                                    </label>
                                    <button  type="button" class="btn btn-default" style="height:25px" onclick="calcel()">取消选中</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>	标本体积：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="ybtj" name="ybtj"  th:value="${sjxxDto.ybtj}" validate="{required:true}"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    内部编码：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="nbbm" name="nbbm" th:value="${sjxxDto.nbbm}"  class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>采样日期：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="cyrq" name="cyrq"  th:value="${sjxxDto.cyrq}" validate="{required:true}"  class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    接收日期：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="jsrq" name="jsrq"  th:value="${sjxxDto.jsrq}"  class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    报告日期：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="bgrq" name="bgrq"  th:value="${sjxxDto.bgrq}"   class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span  style="color: red;">*</span>快递类型：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="kdlx" name="kdlx"   th:value="${sjxxDto.kdlx}"  class="form-control chosen-select"  >
                                        <option  th:if="${expressage!=null && expressage.size() > 0}" th:each="list:${expressage}" th:value="${list.csid}" th:text="${list.csmc}" th:csdm="${list.csdm}" th:cskz2=${list.cskz2} th:selected="${sjxxDto.kdlx eq list.csid}" ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span  id="kdhspan" style="color: red;">*</span><span id="kdhname" th:text="快递单号："></span>
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="kdh" name="kdh"  th:value="${sjxxDto.kdh}"  validate="{stringMaxLength:32}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    快递费用：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="kdfy" name="kdfy" th:value="${sjxxDto.kdfy}" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    是否检测：
                                </label>
                                <div class="col-sm-8 col-xs-8" id="sfjsDiv">
                                    <label class="radio-inline">
                                        <input id="sfjs_true" type="radio" value="1" name="sfjs" th:checked="${'1' eq sjxxDto.sfjs}">是
                                    </label>
                                    <label class="radio-inline">
                                        <input id="sfjs_false" type="radio" value="0" name="sfjs" th:checked="${'0' eq sjxxDto.sfjs}">否
                                    </label>
                                    <label class="radio-inline">
                                        <input id="sfjs_else" type="radio" value="2" name="sfjs" th:checked="${'2' eq sjxxDto.sfjs}">其他
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    是否统计：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <label class="radio-inline">
                                        <input type="radio" value="1" name="sftj" th:checked="${'1' eq sjxxDto.sftj}">是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="0" name="sftj" th:checked="${'0' eq sjxxDto.sftj}">否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                    <span style="color: red;">*</span>检测单位：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="jcdw" name="jcdw"   th:value="${sjxxDto.jcdw}"  class="form-control chosen-select" validate="{required:true}" >
                                        <option  th:if="${decetionlist!=null && decetionlist.size() > 0}" th:each="list:${decetionlist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${sjxxDto.jcdw eq list.csid}" ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group" >
                                <label for="" class="col-sm-2 col-xs-4 control-label" style="padding-right: 0px">
                                    备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：
                                </label>
                                <div class="col-sm-10 col-xs-8 " >
                                    <textarea id="bz" name="bz" rows="3" style="height:70px;" validate="{stringMaxLength:1024}" class="form-control" th:text="${sjxxDto.bz}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade " id="fjInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
                                    <div th:id="${fjcfbDto.fjid}" >
                                        <label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件"></label>
                                        <label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
                                        <div class="col-sm-10 padding_t7">
                                            <label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
                                            <a title="下载" th:@click.prevent="'xz_bg(\''+${fjcfbDto.fjid}+'\');'" >
                                                <span th:text="${fjcfbDto.wjm}"></span>
                                                <span class="glyphicon glyphicon glyphicon-save"></span>
                                            </a>&nbsp;&nbsp;
                                            <button title="删除" class="f_button" type="button">
                                                <span class="glyphicon glyphicon-remove" th:@click.prevent="'del_bg(\''+${fjcfbDto.fjid}+'\',\''+${fjcfbDto.wjlj}+'\');'"></span>
                                            </button>&nbsp;&nbsp;
                                            <button title="预览" class="f_button" type="button">
                                                <span  class="glyphicon glyphicon-eye-open"  th:onclick="yl([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjmhz}]])"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12" >
                            <div class="form-group">
                                <label for="" class="col-sm-2 col-xs-12 control-label">
                                    附件上传：
                                </label>
                                <div class="col-sm-10 col-sm-12 " >
                                    <input  id="sjxx_file" name="sjxx_file" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top:20px;">
        <button th:if="${access_token !=null}" type="button" id="sub" class="btn btn-primary" onclick="outsubmit();">确定</button>
    </div>
</form>
</body>
</html>