<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script type="text/javascript" src="/js/wechat/sjxx/sjxx_detection.js"></script>-->
</head>
<body>
<form id="detectionResFirstForm" th:action="${sjxxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="ids" th:value="${sjxxDto.ids}"/>
    <input type="hidden" id="qtjcbjfirst" name="qtjcbjfirst" th:value="${sjxx.qtjcbj}">
    <input type="hidden" id="qtsyrqfirst" name="qtsyrqfirst" th:value="${sjxx.qtsyrq}">
    <div class="body-content tab-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12"> <!--th:if="${sjjcxm.cskz1 == 'Z' || sjjcxm.cskz1=='F'}"-->
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>是否检测</label>
                            <div class="col-sm-7">
                                <input type="checkbox" id="qtjcbj" name="qtjcbj" class="make-switch open" data-on-color="success" data-off-color="warning" data-on-text="是" data-off-text="否"  th:value="1" onchange="tochangezbj()">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 DNAjc" id="qtsyrqdiv" style="display:none;" th:if="${sjjcxm.cskz1 == 'Z' || sjjcxm.cskz1=='F'}" >
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>实验日期</label>
                            <div class="col-sm-7">
                                <input type="text" id="qtsyrq" name="qtsyrq"  data-clear="true" validate="{required:true,stringMaxLength:32}" class="form-control" disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<script>
    function tochangedbj(){
        var getclass=$('#detectionResFirstForm #djcbj').attr("class");
        if(getclass.indexOf("open")==-1){//过滤掉点击实验按钮触发这个事件
            if(getclass.indexOf("no")!=-1){
                $('#detectionResFirstForm #djcbj').removeClass("no");
                $('#detectionResFirstForm #djcbj').addClass("yes");
                $('#detectionResFirstForm #dsyrqdiv').attr("style","display:block;");
                if($('#detectionResFirstForm #dsyrqfirst').val()==null||$('#detectionResFirstForm #dsyrqfirst').val()==""){
                    $('#detectionResFirstForm #dsyrq').val(formatDate());
                }else{
                    $('#detectionResFirstForm #dsyrq').val($('#detectionResFirstForm #dsyrqfirst').val());
                }
                $('#detectionResFirstForm #dsyrq').removeAttr("disabled");
            }else{
                $('#detectionResFirstForm #djcbj').removeClass("yes");
                $('#detectionResFirstForm #djcbj').addClass("no");
                $('#detectionResFirstForm #dsyrqdiv').attr("style","display:none;");
                $('#detectionResFirstForm #dsyrq').val(null);
                $('#detectionResFirstForm #dsyrq').attr("disabled","disabled");
            }
        }else{
            $('#detectionResFirstForm #djcbj').removeClass("open");
        }
    }
</script>
</html>