<!DOCTYPE html>
<html lang="zh-cn">
<style type="text/css">
</style>
<body>
<form id="covidvCheck_formSearch" action="/" data-bs-toggle="validation" method="post"  class="form-horizontal sl_all_form">
    <div class="body-content">
        <div class="row">
            <input type="hidden" name="access_token"/>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label ">
                        <span style="color: red;">*</span>场所码：
                    </label>
                    <div class="col-sm-8 col-md-8 col-xs-8">
                        <label class="radio-inline">
                            <input type="radio"  id="yes_cs" value="0" name="print"   validate="{required:true}" >有
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="no_cs" value="1" name="print"  checked="true"  validate="{required:true}">无
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12" id="csmxx" >
                <div class="form-group">
                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label" >
                        <span style="color: red;">*</span>场所：
                    </label>
                    <div class="col-sm-8 col-xs-8 col-md-8" validate="{required:true}" th:if="${dtoList!=null && dtoList.size() > 0}">
                        <select id="print_cs" name="print_cs" validate="{required:true}"  class="form-control chosen-select" style="height:28px;">
                            <option value="">--请选择--</option>
                            <option th:each="list:${dtoList}"  th:value="${list.csmid}" th:text="${list.sjdwmc}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    /**
     * 内网打印机
     * @returns
     */
    $("#covidvCheck_formSearch #no_cs").click(function () {
        $("#covidvCheck_formSearch #csmxx").hide();
        $("#covidvCheck_formSearch #print_cs").attr("disabled", "disabled");
    })

    /**
     *
     * @returns
     */
    $("#covidvCheck_formSearch #yes_cs").click(function () {
        $("#covidvCheck_formSearch #csmxx").show();
        $("#covidvCheck_formSearch #print_cs").removeAttr("disabled");
    })

    $(function () {
        $("#covidvCheck_formSearch #csmxx").hide();
        $("#covidvCheck_formSearch #print_cs").attr("disabled", "disabled");
    })

</script>
</body>
</html>