<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/js/detection/covid/covid_print.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jquery-qrcode.min.js" charset="utf-8"></script>
    <style>
        td{
            white-space:nowrap;
            overflow:hidden;
            word-break:keep-all;
        }
    </style>
</head>
<body >
<div style="width:700px;height: 480px;">
    <div>
        <input type="hidden" name="fzjcxxDtos_json" id ="fzjcxxDtos_json" th:value="${fzjcxxDtos_json}">
        <input type="hidden" name="csqrCode" id ="csqrCode" th:value="${csqrCode}">
<!--        <input id="menuurl" name="menuurl" type="hidden" th:value="${menuurl}"/>-->
        <div style="width: 180px;height: 120px;float: right">
        <div  th:if="${csqrCode !=''}" >
            <div style="width: 50px;height: 120px;float: left">
            <span >场所码</span>
            </div >
            <div id="csqrCodeDiv" style="width: 120px;height: 120px;float: right">

            </div>
<!--            <img style="width: 120px;height: 120px;" th:src="${csqrCode}">-->
        </div>
        </div>
        <div style="margin-left: 80px;font-size: 24px;font-family: '宋体';font-weight: bold">
            <span >杭州杰毅医学检验实验室有限公司</span>
        </div>
        <div style="margin-top:80px;font-size: 18px;font-family: '宋体';font-weight: bold">
            <span >物检清单</span>
        </div>

        <div >
            <table style="border-collapse: collapse;table-layout: fixed;" cellspacing="0" cellpadding="0" align="center" width="100%">
                <tbody>
                <tr th:each="fzjcxx:${fzjcxxDtos}" style="border-top: 1px rgba(0,0,0,0.47) solid">
                    <td th:if="${fzjcxxStat.index % 2 == 0}" width="10%"> </td>
                    <td th:if="${fzjcxxStat.index % 2 == 0}" width="80%">
                        <table>
                            <tr>
                                <td width="4%"    valign="center" style="font-size:10px;" >样品名称</td>
                                <td width="1%"    valign="center" style="font-size:10px;" >:</td>
                                <td colspan='4' style='word-wrap: break-word;font-size:10px;'  valign="center" th:text="${(fzjcxx.ypmc == null) ? '': fzjcxx.ypmc}"></td>
                            </tr>
                            <tr>
                                <td width="4%"    valign="center" style="font-size:10px;" >生产厂家</td>
                                <td width="1%"    valign="center" style="font-size:10px;" >:</td>
                                <td colspan='4' style='word-wrap: break-word;font-size:10px;'  valign="center" th:text="${(fzjcxx.sccj == null) ? '': fzjcxx.sccj}"></td>
                            </tr>
                            <tr>
                                <td width="4%"    valign="center" style="font-size:10px;" >产地/批次</td>
                                <td width="1%"    valign="center" style="font-size:10px;" >:</td>
                                <td width="18%"   valign="center" style="font-size:10px;" th:text="${(fzjcxx.scd == null) ? '': fzjcxx.scd }+'|'+ ${(fzjcxx.scpc  == null) ? '': fzjcxx.scpc}"></td>
                                <td width="4%"    valign="center" style="font-size:10px;">生产日期</td>
                                <td width="1%"    valign="center" style="font-size:10px;">:</td>
                                <td width="18%"   valign="center" style="font-size:10px;" th:text="${(fzjcxx.scrq == null) ? '': fzjcxx.scrq}"></td>
                            </tr>
                            <tr th:if="${fzjcxxStat.index != 13 && (fzjcxxStat.index-13)%16 == 0}" style="height: 34px;">
                                <td valign="center" ></td>
                            </tr>
                        </table>

                    </td>
                    <td width="10%">
                        <div id="qrCodePage"  class="box">
                                <div th:id="'qrcode_'+${fzjcxxStat.index}">
<!--                                    <img th:id="'qrcode_'+${fzjcxxStat.index}" style="width: 40px;height: 40px;margin: auto" th:src="${fzjcxx.filePath}">-->
                                </div>

                        </div>
                    </td>
                    <td th:if="${fzjcxxStat.index % 2 == 1}"  width="80%" >
                        <table>

                            <tr>
                                <td width="4%"    valign="center" style="font-size:10px;" >样品名称</td>
                                <td width="1%"    valign="center" style="font-size:10px;" >:</td>
                                <td colspan='4' style='word-wrap: break-word;font-size:10px;'  valign="center" th:text="${(fzjcxx.ypmc == null) ? '': fzjcxx.ypmc}"></td>
                            </tr>
                            <tr>
                                <td width="4%"    valign="center" style="font-size:10px;" >生产厂家</td>
                                <td width="1%"    valign="center" style="font-size:10px;" >:</td>
                                <td colspan='4' style='word-wrap: break-word;font-size:10px;'  valign="center" th:text="${(fzjcxx.sccj == null) ? '': fzjcxx.sccj}"></td>
                            </tr>
                            <tr>
                                <td width="4%"    valign="center" style="font-size:10px;" >产地/批次</td>
                                <td width="1%"    valign="center" style="font-size:10px;" >:</td>
                                <td width="18%"   valign="center" style="font-size:10px;" th:text="${(fzjcxx.scd == null) ? '': fzjcxx.scd }+'/'+ ${(fzjcxx.scpc  == null) ? '': fzjcxx.scpc}"></td>
                                <td width="4%"    valign="center" style="font-size:10px;">生产日期</td>
                                <td width="1%"    valign="center" style="font-size:10px;">:</td>
                                <td width="18%"   valign="center" style="font-size:10px;" th:text="${(fzjcxx.scrq == null) ? '': fzjcxx.scrq}"></td>
                            </tr>
                            <tr th:if="${fzjcxxStat.index == 13}" style="height: 25px;">
                                <td valign="center" ></td>
                            </tr>
                            <tr th:if="${fzjcxxStat.index != 13 && (fzjcxxStat.index-13)%16 == 0}" style="height: 34px;">
                                <td valign="center" ></td>
                            </tr>
                        </table>
                    </td>
                    <td th:if="${fzjcxxStat.index % 2 == 1}" width="10%"> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>