<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>检测新增、编辑</title>
	<script type="text/javascript" src="/js/detection/covid/covid_list_edit.js" charset="utf-8"></script>
	<style type="text/css">
		/*.col-md-6{
			height:41px;
		}*/
		.height40{
			height: 40px;
		}
	</style>
</head>
<body>
	<div>
		<form id="editCovidForm" th:action ="'/detection/detection/'+${formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" autocomplete="off">
			<input type="hidden" name="access_token" id="access_token" th:value="${fzjcxxDto.access_token}" />
			<input type="hidden" name="fzjcid" id ="fzjcid" th:value="${fzjcxxDto.fzjcid}">
			<input type="hidden" name="hzid" id ="hzid" th:value="${fzjcxxDto.hzid}">
			<input type="hidden" name="xmflag" id ="xmflag" th:value="${flag}">
			<input type="hidden" name="jcxmid_mr" id ="jcxmid_mr" th:value="${fzjcxxDto.jcxmid}">
			<input type="hidden" name="yblx_mr" id ="yblx_mr" th:value="${fzjcxxDto.yblx}">
			<input type="hidden" name="yyxxcskz1" id ="yyxxcskz1" th:value="${fzjcxxDto.yyxxcskz1}">
			<input type="hidden" name="jcdxcsdm" id ="jcdxcsdm" th:value="${JcsjDto_jcdxlx.csdm}">
			<input type="hidden" id="grsz_flg" name="grsz_flg"/>
			<input type="hidden" name="jclx" id ="jclx" th:value="${fzjcxxDto.jclx}">
			<input type="hidden" id="ysszz" name="ysszz" th:value="${grszDto.szz}"/>
			<div class="body-content" id="confirm">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-mod">
							<div class="form-group">
								<label for="ybbh" class="col-sm-4 col-xs-4 control-label">标本编号：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="ybbh" name="ybbh" class="form-control obj-mod-content" th:value="${fzjcxxDto.ybbh}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-mod">
							<div class="form-group">
								<label for="bbzbh" class="col-sm-4 col-xs-4 control-label">标本子编号：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="bbzbh" name="bbzbh" class="form-control obj-mod-content" th:value="${fzjcxxDto.bbzbh}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-mod">
							<div class="form-group">
								<label for="syh" class="col-sm-4 col-xs-4 control-label">实验号：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="syh" name="syh" class="form-control" maxlength="15" th:value="${fzjcxxDto.syh}" readonly="readonly"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="yblx" class="col-sm-4 col-xs-4 control-label">标本类型：</label>
								<div class="col-sm-8 col-xs-8">
									<select id="yblx" name="yblx" class="form-control chosen-select">
										<option value="-1">--请选择--</option>
										<option class="t_yblx" th:id="${list.csid}" th:if="${wxbblxList!=null && wxbblxList.size() > 0}" th:csdm="${list.csdm}" th:cskz1="${list.cskz1}" th:each="list:${wxbblxList}" th:value="${list.csid}" th:cskz2="${list.cskz2}" th:text="${list.csmc}" th:selected="${fzjcxxDto.yblx eq list.csid}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="yblxmc" class="col-sm-4 col-xs-4 control-label">
									<span id="qtyblxcheck" style="color: red; display: inline;">*</span>其他标本类型：
								</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="yblxmc" name="yblxmc" class="form-control" th:value="${fzjcxxDto.yblxmc}" disabled="disabled" validate="{stringMaxLength:128,required:true}" />
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-del">
							<div class="form-group">
								<label for="ks" class="col-sm-4 col-xs-4 control-label">科室：</label>
								<div class="col-sm-8 col-xs-8">
									<select id="ks" name="ks" class="form-control chosen-select">
										<option value="">--请选择--</option>
										<option th:if="${sjdwxxList!=null && sjdwxxList.size() > 0}" th:each="list:${sjdwxxList}" th:value="${list.dwid}" th:kzcs="${list.kzcs}" th:text="${list.dwmc}" th:selected="${fzjcxxDto.ks!=null&&fzjcxxDto.ks==list.dwid?true:false}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-del">
							<div class="form-group">
								<label for="qtks" class="col-sm-4 col-xs-4 control-label">
									<span id="qtkscheck" style="display: none;"></span> 其他科室：
								</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="qtks" name="qtks" validate="{required:true,stringMaxLength:128}" th:value="${fzjcxxDto.qtks}"  class="form-control" disabled="disabled" />
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="hospitalname" class="col-sm-4 col-xs-4 control-label">医院名称：</label>
								<div class="col-sm-8 col-xs-8">
									<div class="input-group">
										<input type="text" autocomplete="off" id="hospitalname" name="hospitalname" class="form-control" th:value="${fzjcxxDto.dwmc}" readonly/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary" onclick="selectHospitaljc()">选择</button>
										</span>
									</div>
									<input type="hidden" id="sjdw" name="sjdw" th:value="${fzjcxxDto.sjdw}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="sjdwmc" class="col-sm-4 col-xs-4 control-label">
									<span id="qtyycheck" style="color: red; display: inline;">*</span>其他单位：
								</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="sjdwmc" name="sjdwmc" class="form-control" th:value="${fzjcxxDto.sjdwmc}" disabled="disabled" validate="{stringMaxLength:128,required:true}" />
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="jcdw" class="col-sm-4 col-xs-4 control-label">
									检测单位：</label>
								<div class="col-sm-8 col-xs-8">
									<select id="jcdw" name="jcdw" class="form-control chosen-select">
										<option value="">--请选择--</option>
										<option th:if="${jcdwxxList!=null && jcdwxxList.size() > 0}" th:each="list:${jcdwxxList}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${fzjcxxDto.jcdw!=null&&fzjcxxDto.jcdw==list.csid?true:false}" validate="{{required:true}}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="zffs" class="col-sm-4 control-label col-xs-4">支付方式：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="zffs" name="zffs" class="form-control" maxlength="8" th:value="${fzjcxxDto.zffs}"/>
								</div>
								<!--<div class="col-sm-8 col-xs-8">
									<select id="zffs" name="zffs" class="form-control chosen-select">
										<option value="-1">&#45;&#45;请选择&#45;&#45;</option>
										<option th:if="${zffslist!=null && zffslist.size() > 0}" th:each="list:${zffslist}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}"th:selected="${fzjcxxDto.zffs!=null&&fzjcxxDto.zffs==list.csid?true:false}"></option>
									</select>
								</div>-->
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="cjsj" class="col-sm-4 col-xs-4 control-label">采集时间：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="cjsj" name="cjsj" data-clear="true" class="form-control" th:value="${fzjcxxDto.cjsj}" onblur="dealCjsj()"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-del">
							<div class="form-group">
								<label for="jssj" class="col-sm-4 col-xs-4 control-label">接收时间：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="jssj" name="jssj" class="form-control obj-del-content" th:value="${fzjcxxDto.jssj}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="yyjcrq" class="col-sm-4 col-xs-4 control-label">预约检测日期：</label>
								<div class="col-sm-8 col-xs-8">
									<input id="yyjcrq" name="yyjcrq" data-clear="true" th:value="${fzjcxxDto.yyjcrq}" class="form-control" onblur="dealYyjcrq()"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="fzjczxmid" class="col-sm-4 col-xs-4 control-label">
									单/混检：</label>
								<div class="col-sm-8 col-xs-8">
									<select id="fzjczxmid" name="fzjczxmid" class="form-control chosen-select">
										<option value="">--请选择--</option>
										<option th:if="${fzjczxmlist!=null && fzjczxmlist.size() > 0}" th:each="list:${fzjczxmlist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${fzjcxxDto.fzjczxmid!=null&&fzjcxxDto.fzjczxmid==list.csid?true:false}" validate="{{required:true}}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-del">
							<div class="form-group">
								<label for="tw" class="col-sm-4 col-xs-4 control-label">体温：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="tw" name="tw" class="form-control  obj-del-content" maxlength="8" th:value="${fzjcxxDto.tw}"/>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12" id="jcxm">
							<div class="form-group">
								<label class="col-sm-2 control-label col-xs-4">检测项目：</label>
								<div class="col-sm-10 col-xs-8">
									<label class="checkbox-inline" th:if="${fzjcxmlist!=null&&fzjcxmlist.size() > 0}" th:each="list:${fzjcxmlist}">
										<input class="jcxm" th:name="fzxmids" th:id="${list.csid}" th:csdm="${list.csdm}" type="checkbox" th:value="${list.csid}">
										<span th:text="${list.csmc}"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="height40 col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label class="col-sm-2 control-label col-xs-4">标本状态：</label>
								<div class="col-sm-10 col-xs-8">
									<label class="radio-inline" id="bbzt" th:each="list,local:${bbztlist}">
										<input  th:value="${list.csid}" type="radio" th:id="'bbzt['+${local.index}+']'" th:checked="${fzjcxxDto.bbzt != null ? fzjcxxDto.bbzt eq list.csid:list.sfmr eq '1'}" name="bbzt">
										<span th:text="${list.csmc}"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="bgrq" class="col-sm-4 col-xs-4 control-label">报告日期：</label>
								<div class="col-sm-8 col-xs-8">
									<input id="bgrq" name="bgrq" data-clear="true" th:value="${fzjcxxDto.bgrq}" class="form-control" onblur="dealYyjcrq()"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-del">
							<div class="form-group">
								<label for="cyd" class="col-sm-4 control-label col-xs-4">
									采样点：
								</label>
								<div class="col-sm-8 col-xs-8">
									<select id="cyd" name="cyd" class="form-control chosen-select">
										<option value="-1">--请选择--</option>
										<option th:if="${cydList!=null && cydList.size() > 0}" th:each="list:${cydList}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}" validate="{required:true}" th:selected="${fzjcxxDto.cyd!=null?(fzjcxxDto.cyd==list.csid):(list.csid == '1')}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="jcdxlx" class="col-sm-4 control-label col-xs-4">
									<span style="color: red;">*</span>检测对象类型：
								</label>
								<div class="col-sm-8 col-xs-8">
									<select id="jcdxlxid" name="jcdxlxid" class="form-control chosen-select" disabled th:if="${fzjcxxDto.jcjgmc!=null}">
										<option value="-1">--请选择--</option>
										<option th:if="${jcdxlxlist!=null && jcdxlxlist.size() > 0}" th:each="list:${jcdxlxlist}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}" validate="{required:true}" th:selected="${fzjcxxDto.jcdxlx!=null&&fzjcxxDto.jcdxlx==list.csid?true:false}"></option>
									</select>
									<select id="jcdxlxid" name="jcdxlxid" class="form-control chosen-select" th:if="${fzjcxxDto.jcjgmc==null}">
										<option value="-1">--请选择--</option>
										<option th:if="${jcdxlxlist!=null && jcdxlxlist.size() > 0}" th:each="list:${jcdxlxlist}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}" validate="{required:true}" th:selected="${fzjcxxDto.jcdxlx!=null&&fzjcxxDto.jcdxlx==list.csid?true:false}"></option>
									</select>
									<input hidden id="jcdxlx" name="jcdxlx" th:value="${fzjcxxDto.jcdxlx}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-add">
							<div class="form-group">
								<label for="ypmc" class="col-sm-4 col-xs-4 control-label">样品名称：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="ypmc" name="ypmc" data-clear="true" class="form-control obj-add-content" maxlength="64" th:value="${fzjcxxDto.ypmc}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-add">
							<div class="form-group">
								<label for="sccj" class="col-sm-4 col-xs-4 control-label">生产厂家：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="sccj" name="sccj" data-clear="true" class="form-control obj-add-content" maxlength="32" th:value="${fzjcxxDto.sccj}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-add">
							<div class="form-group">
								<label for="scd" class="col-sm-4 col-xs-4 control-label">产地：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="scd" name="scd" data-clear="true" class="form-control obj-add-content" maxlength="32" th:value="${fzjcxxDto.scd}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-add">
							<div class="form-group">
								<label for="scpc" class="col-sm-4 col-xs-4 control-label">生产批次：</label>
								<div class="col-sm-8 col-xs-8">
									<input type="text" id="scpc" name="scpc" data-clear="true" class="form-control obj-add-content" maxlength="32" th:value="${fzjcxxDto.scpc}"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-add">
							<div class="form-group">
								<label for="scrq" class="col-sm-4 control-label col-xs-4 ">生产日期：</label>
								<div class="col-sm-8 col-xs-8 ">
									<input type="text" id="scrq" name="scrq" data-clear="true" class="form-control obj-add-content"  maxlength="32" th:value="${fzjcxxDto.scrq}" onblur="dealScrq()"/>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-print">
							<div class="form-group">
								<label for="" class="ccol-sm-4 control-label col-xs-4 ">
									<span style="color: red;">*</span>打印机：
								</label>
								<div class="col-sm-8 col-xs-8">
									<label class="radio-inline">
										<input type="radio" class="print_ip" id="local_ip" value="0" name="szz"  th:checked="${'0' eq grszDto.szz  or null==grszDto.szz}"  validate="{required:true}" >本机
									</label>
									<label class="radio-inline">
										<input type="radio" class="print_ip" id="remote_ip" value="1" name="szz" th:checked="${'1' eq grszDto.szz}"  validate="{required:true}">外机
									</label>
								</div>
							</div>
						</div>
						<div class="height40 col-md-6 col-sm-12 col-xs-12 obj-print" id="remoteDiv">
							<div class="form-group">
								<label for="" class="ccol-sm-4 control-label col-xs-4 ">
									<span style="color: red;">*</span>外机地址：
								</label>
								<div class="col-sm-8 col-xs-8">
									<input  id="glxx" name="glxx" type="text" th:value="${grszDto.glxx}" class="form-control"  validate="{required:true}" placeholder="请输入外机地址" />
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 obj-add">
							<div class="form-group">
								<label for="" class="col-sm-2 col-xs-2 control-label">备注：</label>
								<div class="col-sm-10 col-xs-10">
									<textarea id="bz" name="bz" rows="3" class="form-control" maxlength="126" th:text="${fzjcxxDto.bz}"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-heading hzxx_info">
						患者信息
					</div>
					<div class="panel-body hzxx_info" th:if="${hzxx != null}">
						<div class="row">
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="hzxm" class="col-sm-4 control-label col-xs-4">患者姓名:</label>
									<div class="col-sm-8 col-xs-8">
										<span id="hzxm" th:text="${hzxx.xm}"></span>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="nl" class="col-sm-4 control-label col-xs-4">年　　龄:</label>
									<div class="col-sm-8 col-xs-8">
										<span id="nl" th:text="${hzxx.nl}"/>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="xb" class="col-sm-4 control-label col-xs-4">性　　别:</label>
									<div class="col-sm-8 col-xs-8">
										<span id="xb" th:text="${hzxx.xb}"/>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="sj" class="col-sm-4 control-label col-xs-4">电　　话:</label>
									<div class="col-sm-8 col-xs-8">
										<span id="sj" th:text="${hzxx.sj}"/>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>