<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>正式合同上传</title>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <script type="text/javascript" src="/js/detection/covid/covid_report_upload.js" charset="utf-8"></script>
    <style type="text/css">
        .bootstrap-tagsinput {
            min-width:100%;
        }
        #fjcfbDto span:hover{
            cursor:pointer;
        }
        .f_button{
            background: white;
            border: 0;
        }
        .f_button:hover{
            border-width: 0px;
            border-radius: 3px;
            background: #1E90FF;
            cursor: pointer;
            outline: none;
            font-family: Microsoft YaHei;
            color: white;
            font-size: 14px;
        }
    </style>
</head>
<body>
<form id="uploadDetectionCovidForm" class="form-horizontal sl_all_form" method="post" action ="/detection/detection/dealReport" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="fjid" id ="fjid">
    <input type="hidden" name="fjids" id="fjids"/>
    <input type="hidden" name="fzjcid" id="fzjcid" th:value="${fzjcxxDto.fzjcid}"/>
    <input type="hidden" id="ywlx" th:value="${fjywlx}">
    <input type="hidden" id="jclx" th:value="${fzjcxxDto.jclx}">
    <input type="hidden" id="auditType" name="auditType" th:value="${fzjcxxDto.auditType}">
    <div class="body-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>检测项目
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9" th:if="${fzjcxmDtolist !=null && fzjcxmDtolist.size() > 0}">
                        <select id="fzxmid" name="fzxmid"  class="form-control chosen-select" validate="{required:true,stringMaxLength:32}" style="height:34px;">
                            <option value="">--请选择--</option>
                            <option th:each="list:${fzjcxmDtolist}" th:value="${list.csid}" th:text="${list.csmc}"  ></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span></span>检测文件上传
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9" style="line-height:28px;">
                        <a href="javascript:void(0);" onclick="editfile()" id="file_btn" style="display:none;width:100%;;border:1px solid #CCCCCC;border-radius:3px;">
                            <span  id="fileclick" title="点击上传"  style="display:inline-block;width:100%;color:#A6A6A6;font-size:12px;padding-left:10px;">点击展开上传文件</span>
                        </a>
                        <div id="fileDiv" >
                            <input id="pro_file" name="pro_file" type="file">
                            <button class="btn btn-default" type="button" style="margin-left:77%;width:23%;margin-top:10px;" onclick="cancelfile()">隐藏</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>