<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" th:inline="javascript">
    </script>
    <script type="text/javascript" src="/js/detection/covid/patient_list.js" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;" id="dcpBody">
    <form id="patientformSearch" class="form-horizontal form-inline">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-left: 12px;">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" class="form-control chosen-select" id="cxtj">
                            <option value="0">患者姓名</option>
                            <option value="1">年龄</option>
                            <option value="2">手机号</option>
                            <option value="3">证件号</option>
                        </select>
                        <input id="cxnr" name="mhcx" class="form-control" placeholder="模糊查询" onkeydown="if(event.keyCode==13) {searchPatientResult(); return false;}"/>
                        &nbsp&nbsp&nbsp&nbsp
                        性别
                        <select name="xb" class="form-control chosen-select" id="xb" >
                            <option>请选择</option>
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>
        <div th:include="common/btn/ancz.html"></div>
        <table id="patient_list" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
</html>


