<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <style type="text/css">
        .bootstrap-tagsinput {
            min-width:100%;
        }
        .label-info {
            cursor: pointer;
        }
        th{
            font-weight:bold;
            text-align: center;
        }
    </style>
</head>
<body>
<form id="administrationQGmodForm" th:action ="${urlPrefix}+'/purchase/purchase/'+${xzrkglDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content">
        <div class="row">
            <input type="hidden" id="qgmx_json" name="qgmx_json"/>
            <input type="hidden" id="qgmx_yjson" name="qgmx_yjson"/>
            <input type="hidden" name="xzrkid" id="xzrkid" th:value="${xzrkglDto.xzrkid}"/>
            <input type="hidden" name="rklb" id="rklb" th:value="${xzrkglDto.rklb}"/>
            <input type="hidden" name="ykwid" id="ykwid" th:value="${xzrkglDto.ykwid}"/>
            <input type="hidden" name="rklbdm" id="rklbdm" th:value="${xzrkglDto.rklbdm}"/>
            <input type="hidden" name="auditType" id ="auditType" th:value="${auditType}">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>请购单
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <div class="input-group">
                            <input id="qgid" autoComplete="off" style="min-width: 100%;height:32px;"name="qgid" type="text" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" onclick="chooseQg()" class="btn btn-primary"  style="height:32px !important;">新增</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3" id="keydown">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                        <span style="color: red;">*</span>入库单号
                    </label>
                    <div class="col-sm-8 col-xs-8 col-md-8">
                        <input type="text" id="rkdh" name="rkdh" validate="{required:true}" th:value="${xzrkglDto.rkdh}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3" >
                <div class="form-group">
                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                        <span style="color: red;">*</span>入库日期
                    </label>
                    <div class="col-sm-8 col-xs-8 col-md-8">
                        <input type="text" id="rkrq" name="rkrq" validate="{required:true}" th:value="${xzrkglDto.rkrq}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                        <span style="color: red;">*</span>入库人员
                    </label>
                    <div class="col-sm-8 col-xs-8 col-md-8">
                        <div class="input-group">
                            <input type="text" id="rkrymc" name="rkrymc" th:value="${xzrkglDto.rkrymc}"  readonly="true" class="form-control" />
                            <input type="hidden" id="rkry" name="rkry" th:value="${xzrkglDto.rkry}" validate="{required:true}" class="form-control"/>
                            <span class="input-group-btn">
                                <button type="button" onclick="chooseRy()" class="btn btn-primary" style="height:28px !important;">选择</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                        <span style="color: red;">*</span>库位
                    </label>
                    <div class="col-sm-8 col-xs-8 col-md-8" th:if="${kwlist !=null && kwlist.size() > 0}">
                        <select id="kwid" name="kwid"  class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                            <option value="">--请选择--</option>
                            <option th:each="list:${kwlist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${xzrkglDto.kwid eq list.csid}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="tb_list" data-classes="table table-hover table-bordered table-hidden" style="width:1530px;margin-left:8px;"></table>
</form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/administrationStorage_QGmod.js'}" charset="utf-8"></script>
</html>