<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <style type="text/css">
            table{
                table-layout: fixed;
            }
            td{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <form id="ajaxForm" class="form-horizontal sl_all_form" method="post" theme="simple">
            <input type="hidden" name="access_token" />
            <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
            <div class="body-content tab-content">
                <div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
                                            入库单号 </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                                            <span th:text="${xzrkglDto.rkdh}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
                                             入库日期</label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                                            <span th:text="${xzrkglDto.rkrq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
                                            入库人员 </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                                            <span th:text="${xzrkglDto.rkrymc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 col-xs-3 col-md-3 control-label">
                                            库位 </label>
                                        <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                                            <span th:text="${xzrkglDto.kwmc}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered table-striped">
                                <tr>
                                    <th style="width:11%">货物名称</th>
                                    <th style="width:11%">货物规格</th>
                                    <th style="width:8%">货物单位</th>
                                    <th style="width:8%">请购数量</th>
                                    <th style="width:8%">入库数量</th>
                                </tr>
                                <tr th:if="${xzrkmxDtos != null && xzrkmxDtos.size() >0}" th:each="xzrkmxDto: ${xzrkmxDtos}">
                                    <td style="width:16%;vertical-align:middle;" th:text="${xzrkmxDto.hwmc}" th:title="${xzrkmxDto.hwmc}"/>
                                    <td style="width:16%;vertical-align:middle;" th:text="${xzrkmxDto.hwbz}" th:title="${xzrkmxDto.hwbz}"/>
                                    <td style="width:16%;vertical-align:middle;" th:text="${xzrkmxDto.hwjldw}" th:title="${xzrkmxDto.hwjldw}"/>
                                    <td style="width:16%;vertical-align:middle;" th:text="${xzrkmxDto.sl}" th:title="${xzrkmxDto.sl}"/>
                                    <td style="width:16%;vertical-align:middle;" th:text="${xzrkmxDto.rksl}" th:title="${xzrkmxDto.rksl}"/>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>