<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
  <style type="text/css">
    .bootstrap-tagsinput {
      min-width:100%;
    }
    .label-info {
      cursor: pointer;
    }
    th{
      font-weight:bold;
      text-align: center;
    }
  </style>
</head>
<body>
<form id="xzComfirmCarForm"  th:action ="${urlPrefix}+'/administration/purchase/pagedataConfirmCarSave'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
  <div class="body-content">
    <div class="row">
      <input type="hidden" name="access_token"/>
      <input type="hidden" name="url" id="url" th:value="${url}"/>
      <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
      <input type="hidden" name="qgqrmx_json" id="qgqrmx_json">
      <input type="hidden" name="auditType" id="auditType" th:value="${auditType}">
      <input type="hidden" name="auditType" id="auditTypePTP" th:value="${auditTypePTP}">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" onclick="chooseUnConfirmQgmx()" class="btn btn-primary"  style="height:28px !important;">选择</button>
                </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4" style="height:40px">
            <div class="form-group" >
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>对账方式:
              </label>
              <div class="col-sm-7 col-xs-12 col-md-7" th:if="${dzfss!=null && dzfss.size() > 0}">
                <select id="dzfs" name="dzfs" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                  <option value="">--请选择--</option>
                  <option th:each="list:${dzfss}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.sfmr=='1'}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 yj" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;确认单号:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="qrdh" name="qrdh" th:value="${xzqgqrcglDto.djh}"  class="form-control" style="height:30px;" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;付款单号:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="fkdh" name="fkdh" th:value="${xzqgqrcglDto.djh}" class="form-control gdg_form" style="height:30px;" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4" style="height:40px;">
            <div class="form-group">
              <label for="" class="col-sm-5 col-md-5 col-xs-12 control-label">
                <span style="color: red;">*</span>申请人
              </label>
              <div class="col-sm-7 col-xs-12 col-md-7">
                <div class="input-group">
                  <input type="text" id="sqrmc" name="sqrmc" th:value="${xzqgqrcglDto.sqrmc}" validate="{required:true}" readonly="true" class="form-control" />
                  <input type="hidden" id="sqr" name="sqr" th:value="${xzqgqrcglDto.sqr}" class="form-control"/>
                  <span class="input-group-btn">
                      <button type="button" onclick="chooseFzr()" class="btn btn-primary" style="height:28px !important;">选择</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4" style="height:40px;">
            <div class="form-group">
              <label for="" class="col-sm-5 col-md-5 col-xs-12 control-label">
                <span style="color: red;">*</span>申请部门
              </label>
              <div class="col-sm-7 col-xs-12 col-md-7">
                <div class="input-group">
                  <input type="text" id="sqbmmc" name="sqbmmc" th:value="${xzqgqrcglDto.sqbmmc}" validate="{required:true}" readonly="true" class="form-control" />
                  <input type="hidden" id="sqbm" name="sqbm" th:value="${xzqgqrcglDto.sqbm}"  class="form-control"/>
                  <input type="hidden" id="jgdm" name="jgdm" th:value="${xzqgqrcglDto.jgdm}"  class="form-control"/>
                  <span class="input-group-btn">
                      <button type="button" onclick="chooseSqbm()" class="btn btn-primary" style="height:28px !important;">选择</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px">
            <div class="form-group" >
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>付款方:
              </label>
              <div class="col-sm-7 col-xs-12 col-md-7" th:if="${fkfs!=null && fkfs.size() > 0}">
                <select id="fkf" name="fkf" class="form-control chosen-select gdg_form"  style="height:34px;">
                  <option value="">--请选择--</option>
                  <option th:each="list:${fkfs}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.sfmr=='1'}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px">
            <div class="form-group" >
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>付款方式:
              </label>
              <div class="col-sm-7 col-xs-12 col-md-7" th:if="${fkfss!=null && fkfss.size() > 0}">
                <select id="fkfs" name="fkfs" class="form-control chosen-select gdg_form"  style="height:34px;">
                  <option value="">--请选择--</option>
                  <option th:each="list:${fkfss}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.sfmr=='1'}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;付款金额:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="fkje" name="fkje"  class="form-control gdg_form" style="height:30px;" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;最晚付款日期:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="zwfkrq" name="zwfkrq"  class="form-control gdg_form" style="height:30px;" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;支付对象:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="zfdx" name="zfdx"  class="form-control" style="height:30px;" validate="{required:true}" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;支付方开户行:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="zffkhh" name="zffkhh" class="form-control gdg_form" style="height:30px;" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;支付方银行账户:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="zffyhzh" name="zffyhzh" class="form-control gdg_form" style="height:30px;" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;费用归属:
              </label>
              <div class="col-sm-7 col-xs-12 col-md-7" th:if="${fygss!=null && fygss.size() > 0}">
                <select id="fygs" name="fygs" class="form-control chosen-select gdg_form"  style="height:34px;">
                  <option value="">--请选择--</option>
                  <option th:each="list:${fygss}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.sfmr=='1'}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;费用类别:
              </label>
              <div class="col-sm-7 col-xs-12 col-md-7" th:if="${fylblist!=null && fylblist.size() > 0}">
                <select id="fylb" name="fylb" class="form-control chosen-select gdg_form"  style="height:34px;">
                  <option value="">--请选择--</option>
                  <option th:each="list:${fylblist}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 gdg" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;付款事由:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="fksy" name="fksy" class="form-control gdg_form" style="height:30px;" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 yj" style="height:40px" >
            <div class="form-group">
              <label for="" class="col-sm-5 control-label">
                <span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;总金额:
              </label>
              <div class="col-sm-7 col-xs-12">
                <input type="text" id="zje" name="zje" class="form-control yj_from" style="height:30px;" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12" >
            <div class="form-group" >
              <label for="" class="col-sm-1 control-label">
                备注：
              </label>
              <div class="col-sm-11 col-xs-12" >
                <textarea id="bz" name="bz" rows="3"  style="height:50px;" class="form-control"  autocomplete="off"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 合同明细table -->
  <table id="qrmx_list" data-classes="table table-hover table-bordered table-hidden" style="width:1500px;margin-left:2px;"></table>
 </form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/confirmCar_edit.js'}" charset="utf-8"></script>
</html>