<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/purchase_matter_View.js'}"
			charset="utf-8"></script>
	<style type="text/css">
		th {
			font-weight: bold;
			text-align: left;
		}
	</style>
</head>
<body>
<div id="con_view">
	<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
		<li  class="nav-item" ><a  class="nav-link active" href="#qgmxTab" role="tab" data-bs-toggle="tab">请购明细信息</a></li>
		<li class="nav-item" ><a  class="nav-link" href="#htmxTab" role="tab" data-bs-toggle="tab">合同明细信息</a></li>
		<li class="nav-item" ><a  class="nav-link" href="#fkTab" role="tab" data-bs-toggle="tab">付款信息</a></li>
		<li class="nav-item" ><a  class="nav-link" href="#invoiceTab" role="tab" data-bs-toggle="tab">发票信息</a></li>
		<li class="nav-item" ><a  class="nav-link" href="#warehouseTab" role="tab" data-bs-toggle="tab">入库信息</a></li>
	</ul>
	<form id="purchaserMatterForm"
		  class="form-horizontal sl_all_form" method="post" theme="simple">
		<input type="hidden" name="access_token" />
		<input type="hidden" name="htid" id="htid" th:value="${htmxDto.htid}"/>
		<input type="hidden" name="htmxid" id="htmxid" th:value="${htmxDto.htmxid}"/>
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in" id="qgmxTab"
				 aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										请购单号 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.djh}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料编码 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.wlbm}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料名称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.wlmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										产品注册号 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.cpzch}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料类别 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.wllbmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料子类别 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.wlzlbmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										规格 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.gg}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.jldw}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										货号 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.ychh}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										入库数量 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.rksl}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										到货数量 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.dhsl}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										申请人 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.sqr}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										期望到货日期 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${qgmxDto.qwrq}" />
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
										备注 </label>
									<div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
										<span th:text="${qgmxDto.bz}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="htmxTab"
				 aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										合同单号 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.djh}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料编码 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.wlbm}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料名称 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.wlmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料类别 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.wllbmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										物料子类别 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.wlzlbmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										规格 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.gg}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										单位 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.jldw}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										原厂货号 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.ychh}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										数量 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.sl}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										含税单价 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.hsdj}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										合计金额 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.hjje}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										计划到货日期 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.jhdhrq}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										申请人 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.sqr}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										负责人 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.fzrmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										部门 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.sqbmmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										税率 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.sl}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										汇率 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.hl}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										币种 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.bizmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										付款方式 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.fkfsmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										供应商 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.gysmc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										发票方式 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.fpfs}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										到货日期 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.dhrq}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										保修时间 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.bxsj}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										初次订购 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span  th:if="${'1' eq htmxDto.ccdg}">是</span>
										<span  th:if="${'0' eq htmxDto.ccdg}">否</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										行打开人员 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.dkrymc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										行关闭人员 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span th:text="${htmxDto.gbrymc}" />
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
										行状态 </label>
									<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
										<span  th:if="${'1' eq htmxDto.hzt}">打开</span>
										<span  th:if="${'0' eq htmxDto.hzt}">关闭</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="fkTab"
				 aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<table id="fk_list" data-classes="table table-hover table-bordered table-hidden"></table>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="invoiceTab"
				 aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<table id="fp_list" data-classes="table table-hover table-bordered table-hidden"></table>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="warehouseTab"
				 aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<table id="rk_list" data-classes="table table-hover table-bordered table-hidden"></table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</body>
</html>