<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/purchase_maintenance.js'}" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
	<style type="text/css">
		.bootstrap-tagsinput {
				    min-width:100%;
				}
				.label-info {
					cursor: pointer;
				}
				th{
					font-weight:bold;
					text-align: left;
				}
	</style>
</head>
<body>
	<form id="puchasemaintenanceForm" th:action ="${urlPrefix}+'/purchase/purchase/'+${qgmxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<input type="hidden" name="access_token" />
		<input type="hidden" name="ids" id="ids" />
		<input type="hidden" name="yzbj" id ="yzbj">
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">				
		
		<div class="body-content">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
							<span style="color: red;">*</span>快递类型
						</label>
						<div class="col-sm-6 col-xs-6 col-md-6" th:if="${kdlist !=null && kdlist.size() > 0}"> 
							<select id="kdlx" name="kdlx" class="form-control chosen-select" validate="{required:true,stringMaxLength:32}" style="height: 28px;">
								<option value="">--请选择--</option>
                       			<option id="kdmc" th:each="list:${kdlist}" th:value="${list.csid}" th:text="${list.csmc}" th:cskz2="${list.cskz2}" th:csdm="${list.csdm}" ></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3" id="kdlxDiv" style="display:none;">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">
							<span style="color: red;">*</span>快递类型名称
						</label>
						<div class="col-sm-6 col-xs-6">
							<input type="text" id="kdlxmc" name="kdlxmc" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">
							<span style="color: red;">*</span>快递单号
						</label>
						<div class="col-sm-6 col-xs-6">
							<input type="text" id="kddh" name="kddh" validate="{required:true,stringMaxLength:64}"class="form-control" />
						</div>
					</div>
				</div>			
			</div>
		</div>
	
		<div class="body-content">
			<table class="table table-hover table-bordered table-striped" border="1" cellspacing="0" cellpadding="0" style="text-align: left;">						
				<tr style="background-color: #63a3ff;">
					<th><input id="checkAll" name="checkAll" onclick="checkAllClick();" type='checkbox'/></th>
					<th><span th:text="序号" /></th>
					<th>请购单号</th>
					<th>物料编码</th>
					<th>申请日期</th>
					<th>请购数量</th>
					<th>期望日期</th>
					<th>合同单号</th>
					<th>合同日期</th>
					<th>合同数量</th>
					<th>快递类型</th>
					<th>快递单号</th>
					<th>计划到货日期</th>
					<th>入库单号</th>							
					<th>到货数量</th>
					<th>到货日期</th>
				</tr>
				<div th:each="h_qgmxDto: ${qgmxDtos}">
					<tr th:onclick="checkClick([[${h_qgmxDto.htmxid}]],event);" th:id="'tr_'+${h_qgmxDto.htmxid}" name="trQgmx" >
						<td><input th:id="'check_'+${h_qgmxDto.htmxid}" name="checkQgmx"  th:data-htmxid="${h_qgmxDto.htmxid}" type='checkbox'/></td>
        					<td><span th:title="${h_qgmxDtoStat.index+1}" th:text="${h_qgmxDtoStat.index+1}"/></td>
						<td><span th:text="${h_qgmxDto.djh}"/></td>
						<td><span th:text="${h_qgmxDto.wlbm}"/></td>
						<td th:text="${h_qgmxDto.sqrq}" />
						<td th:text="${h_qgmxDto.sl}" />
						<td th:text="${h_qgmxDto.qwrq}" />
						<td><span th:text="${h_qgmxDto.htnbbh}"/></td>
						<td th:text="${h_qgmxDto.ddrq}" />
						<td th:text="${h_qgmxDto.htsl}" />
						<td>
						<span th:if="${h_qgmxDto.cskz2=='1' && h_qgmxDto.kdlxmc!=null}" th:text="${h_qgmxDto.kdlxmc}"></span>
						<span th:if="${h_qgmxDto.cskz2!='1' && h_qgmxDto.kdmc!=null}" th:text="${h_qgmxDto.kdmc}"></span>
						</td>
						<td>
						<span th:text="${h_qgmxDto.kddh}"></span>
						</td>
						<td><span th:text="${h_qgmxDto.jhdhrq}"></span></td>
						<td>
						<span th:text="${h_qgmxDto.hwrkdh}"/>
						</td>
						<td th:text="${h_qgmxDto.dhsl}" />
						<td th:text="${h_qgmxDto.dhrq}" />							
					</tr>
				</div>
			</table>
		</div>
	</form>
</body>
</html>