<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查看采购信息</title>
<style type="text/css">
	 .hidden{display:none;}
	 /*侧边栏选择器*/
	.sidenav {
	    height: 100%;
	    width: 0; /*原始宽度为0*/
	    position: fixed;
	    z-index: 1;
	    top: 0;
	    right: 0;
	    background-color: #111;
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding-top: 60px;
	}
	 
	/*侧边栏选项选择器*/
	.sidenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    transition: 0.3s;
	}
	 
	/*侧栏标签和关闭按钮光标的效果*/
	.sidenav a:hover, .offcanvas a:focus{
	    color: #f1f1f1;
	}
	 
	/*侧栏和关闭按钮的位置选择器*/
	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	 
	/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 18px;}
	}
</style>
</head>
<script type="text/javascript" th:src="@{${urlPrefix==null || urlPrefix==''?'':urlPrefix} + '/js/purchase/purchase/purchase_auditView.js'}"  charset="utf-8"></script>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	<li  class="nav-item" >
		<a  class="nav-link active" href="#cgglTab" role="tab" data-bs-toggle="tab">请购单据</a>
	</li>
	<li class="nav-item" >
		<a  class="nav-link" href="#cgmxTab" role="tab" data-bs-toggle="tab">请购明细</a>
	</li>
</ul>
<form id="purchaseAuditViewForm" class="form-horizontal sl_all_form"  theme="simple" data-bs-toggle="validation">
	<input type="hidden" id="fwbj" name="fwbj" th:value="${qgglDto.fwbj}">
	<input type="hidden" name="qgid" th:value="${qgglDto.qgid}" id="qgid"/>
	<input type="hidden" name="auditType" th:value="${qgglDto.auditType}" id="auditType"/>
	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
	<input type="hidden" name="gxbj" value="0" id="gxbj">
	<input type="hidden" name="qglbdm" id="qglbdm" th:value="${qgglDto.qglbdm}">
	<input id="shlc" name="shlc" type="hidden" th:value="${shlc}"/>
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="cgglTab"  aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<input id="qgid" type="hidden" th:value="${qgglDto.qgid}"/>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									采购单号
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.djh}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									请购类别
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.qglbmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请人
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqrmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请部门
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqbmmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									记录编号
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.jlbh}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请日期
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqrq}" />
								</div>
							</div>
						</div>
						
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" th:if="${qgglDto.qglbdm == null || qgglDto.qglbdm == '' || qgglDto.qglbdm == 'MATERIAL'}">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									项目大类
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.xmdlmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" th:if="${qgglDto.qglbdm == null || qgglDto.qglbdm == '' || qgglDto.qglbdm == 'MATERIAL'}">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									项目编码
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.xmbmmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请理由
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqly}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									支付方式
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.zffsmc}" />
								</div>
							</div>
						</div> 
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									付款方
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.fkfmc}" />
								</div>
							</div>
						</div> 
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label">
									备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
								</label>
								<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 padding_t7">
									<span th:text="${qgglDto.bz}" />
								</div>
							</div> 
						</div> 
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="cgmxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-md-12 col-sm-12 col-xs-12 text-left">
						<span style="font-size:20px ! important;">预计总价(元)：</span><span style="color:red;font-size:20px ! important;" id="jg" th:text="${zjg}"></span>
					</div>
					<table id="tb_list" class="table table-hover table-bordered table-hidden" ></table>
				</div>
			</div>
		</div>
		
		

	</div>
</form>
</body>
</html>