<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <!--Bootstrap-table插件-->
    <link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script type="text/javascript"
            th:src="@{${urlPrefix} + '/js/purchase/purchase/purchaseDevice_print.js'}"
            charset="utf-8"></script>
</head>
<body style="width:1000px;height:480px;" >
<div style="width:1000px;" th:if="${qgglDtos != null && qgglDtos.size() >0}" th:each="qgglDto: ${qgglDtos}">
<table border="0" align="center" width="100%">
    <div class="col-md-12 col-sm-12">
        <div class="col-sm-6 col-md-6 " style="float: left">
            <img src="../../images/logo.png" width="126" height="54">
        </div>
        <div class="col-sm-6 col-md-6 " style="text-align:right;float: right;font-family:宋体;font-size:12px;font-weight:bold;">
            <p th:text="'文件编号:  '+${wjbh.csmc}"></p>
            <p th:text="'生效日期:'+${wjbh.cskz1}"></p>
            <p th:text="'版本号/修订号: '+${wjbh.cskz2}+' 页码: 1/1'"></p>
        </div>
    </div>
    <thead>
    <tr>
        <th colspan="18" style="text-align:center;font-size: 25px;font-family: '宋体';font-weight: bold"><p>设备购置申请单</p></th>
    </tr>
    <tr style="width:1000px;border:none;">
        <td colspan="2" width="100px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:center;font-family:宋体;font-size:10px;font-weight:bold;">
            申请日期:
        </td>
        <td colspan="1" width="240px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:left;font-family:宋体;font-size:10px;"
            th:text="${qgglDto.sqrq.substring(0,4)+'&emsp;年&emsp;'+qgglDto.sqrq.substring(5,7)+'&emsp;月&emsp;'+qgglDto.sqrq.substring(8,10)+'&emsp;日'}"></td>
        <td  colspan="1" width="100px" valign="center"
             style="padding-top:10px;padding-bottom:5px;text-align:center;font-family:宋体;font-size:10px;font-weight:bold;">
            申请人:
        </td>
        <td colspan="2" width="240px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:left;font-family:宋体;font-size:10px;"
            th:text="${qgglDto.sqrmc}"></td>
        <td colspan="1" width="100px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:center;font-family:宋体;font-size:10px;font-weight:bold;">
            申请部门:
        </td>
        <td colspan="2" width="240px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:center;font-family:宋体;font-size:10px;"
            th:text="${qgglDto.sqbmmc}"></td>
        <td  colspan="1" width="100px" valign="center"
             style="padding-top:10px;padding-bottom:5px;text-align:right;font-family:宋体;font-size:10px;font-weight:bold;">
            请购单号:
        </td>
        <td colspan="2" width="240px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:center;font-family:宋体;font-size:10px;"
            th:text="${qgglDto.djh}"></td>
    </tr>
    <tr style="text-align:center; font-family:宋体;font-size:15px;font-weight:bold;height: 30px">
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 4%;">序号</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 8%;">物料编码</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 18%;">设备名称</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 12%;">规格</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%;">货号</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%;">数量</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%;">单位</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 8%;">生产厂家</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 8%;">维保要求</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 8%;">质量要求</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 8%;">配置要求</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 8%;">备注</th>
    </tr>
    </thead>
    <tbody style="text-align:center">
        <tr style="font-family:宋体;font-size:6px;height: 30px" th:if="${qgglDto.qgmxDtos != null && qgglDto.qgmxDtos.size() >0}" th:each="dto: ${qgglDto.qgmxDtos}">
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dtoStat.index+1}"></td>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.wlbm==null||dto.wlbm=='')?'/':dto.wlbm}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.hwmc==null||dto.hwmc=='')?dto.wlmc:dto.hwmc}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.hwbz==null||dto.hwbz=='')?dto.gg:dto.hwbz}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.ychh}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.sl}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.hwjldw==null||dto.hwjldw=='')?dto.jldw:dto.hwjldw}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.gys==null||dto.gys=='')?dto.scs:dto.gys}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.wbyq==null||dto.wbyq=='')?'/':dto.wbyq}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.zlyqmc==null||dto.zlyqmc=='')?'/':dto.zlyqmc}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.pzyq==null||dto.pzyq=='')?'/':dto.pzyq}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.bz==null||dto.bz=='')?'/':dto.bz}"/>
    </tr>
    <tr style="font-family:宋体;height: 40px" >
        <td colspan="2" cellspacing="0" style="border: 1px solid #000;text-align:center;font-size:15px" >申请理由</td>
        <td colspan="12" cellspacing="0" style="border: 1px solid #000;text-align:left;font-size:10px" th:text="${'&emsp;&emsp;'+qgglDto.sqly}"/>
    </tr>
    <tr style="font-family:宋体;font-size:15px;height: 40px" >
        <td  colspan="2"  cellspacing="0" style="border: 1px solid #000;text-align:center;font-size:15px" >部门经理意见</td>
        <td  colspan="12" cellspacing="0" style="border: 1px solid #000;text-align:right;" >
            <div class="col-md-1 col-sm-1" style="float: left">
            <p>同意</p>
            </div>
            <div class="col-md-11 col-sm-11" style="float: right">
                <span>审批人:</span>
                <span th:text="${qgglDto.map['shry_3']}"></span>
                <span th:text="${' 日期：'+((qgglDto.map['shrq_3']==null||qgglDto.map['shrq_3']=='')?'&emsp;&emsp;&emsp;年&emsp;&emsp;月&emsp;&emsp;日':qgglDto.map['shrq_3'].substring(0,4)+'&emsp;年&emsp;'+qgglDto.map['shrq_3'].substring(5,7)+'&emsp;月&emsp;'+qgglDto.map['shrq_3'].substring(8,10)+'&emsp;日')}"></span>
            </div>
        </td>
    </tr>
        <tr style="font-family:宋体;font-size:15px;height: 40px" >
            <td colspan="2"  cellspacing="0" style="border: 1px solid #000;text-align:center;" >采购部门意见</td>
            <td colspan="12" cellspacing="0" style="border: 1px solid #000;text-align:right;" >
                <div class="col-md-1 col-sm-1" style="float: left">
                    <p>同意</p>
                </div>
                <div class="col-md-11 col-sm-11" style="float: right">
                    <span>审批人:</span>
                    <span th:text="${qgglDto.map['shry_1']}"></span>
                    <span th:text="${' 日期：'+((qgglDto.map['shrq_1']==null||qgglDto.map['shrq_1']=='')?'&emsp;&emsp;&emsp;年&emsp;&emsp;月&emsp;&emsp;日':qgglDto.map['shrq_1'].substring(0,4)+'&emsp;年&emsp;'+qgglDto.map['shrq_1'].substring(5,7)+'&emsp;月&emsp;'+qgglDto.map['shrq_1'].substring(8,10)+'&emsp;日')}"></span>
                </div>
            </td>
        </tr>
        <tr style="font-family:宋体;font-size:15px;height: 40px" >
            <td colspan="2"  cellspacing="0" style="border: 1px solid #000;text-align:center;" >分管领导意见</td>
            <td colspan="12" cellspacing="0" style="border: 1px solid #000;text-align:right;" >
                <div class="col-md-1 col-sm-1" style="float: left">
                    <p>同意</p>
                </div>
                <div class="col-md-11 col-sm-11" style="float: right">
                     <span>批准人:</span>
                    <span th:text="${qgglDto.map['shry_0']}"></span>
                    <span th:text="${' 日期：'+((qgglDto.map['shrq_0']==null||qgglDto.map['shrq_0']=='')?'&emsp;&emsp;&emsp;年&emsp;&emsp;月&emsp;&emsp;日':qgglDto.map['shrq_0'].substring(0,4)+'&emsp;年&emsp;'+qgglDto.map['shrq_0'].substring(5,7)+'&emsp;月&emsp;'+qgglDto.map['shrq_0'].substring(8,10)+'&emsp;日')}"></span>
                </div>
            </td>
        </tr>
        <tr style="font-family:宋体;font-size:15px;height: 40px" >
            <td colspan="2"  cellspacing="0" style="border: 1px solid #000;text-align:center;" >备注</td>
            <td colspan="12" cellspacing="0" style="border: 1px solid #000;text-align:left;" th:text="${'&emsp;&emsp;'+((qgglDto.bz==null||qgglDto.bz=='')?'/':qgglDto.bz)}"/>
        </tr>
    </tbody>
    <tfoot style="font-family:宋体;font-size:10px;">
    <tr>
        <!--<th colspan="3" style="text-align: right">申请人/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
        <!--<th colspan="4" style="text-align: right">部门经理/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
        <!--<th colspan="4" style="text-align: right">采购部门/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
        <!--<th colspan="3" style="text-align: right">批准人/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
    </tr>
    </tfoot>
</table>
    <!--签名部分-->
    <div style="margin:auto;width:1000px;border:none;position:fixed ;bottom:0;">
        <table style="bottom:0;margin:auto;width:100%;border-collapse:collapse;font-family:宋体;font-size:8px;">
            <tr>
                <th style="text-align: left"><span>设备类供应品采购作业指导书</span></th>
                <th style="text-align: right" th:text="${wjbh.cskz3}"></th>
            </tr>
        </table>
    </div>
<div style="page-break-after: always;"></div>
</div>
</body>
</html>