<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/purchase_View.js?v=30'}"  charset="utf-8"></script>
<meta charset="UTF-8">
<title>查看采购信息</title>
<style type="text/css">
	.f_button{
			background: white;
			border: 0;
		}
		.f_button:hover{
			border-width: 0px; 
			border-radius: 3px;
			background: #1E90FF;
			cursor: pointer; 
			outline: none;
			font-family: Microsoft YaHei; 
			color: white; 
			font-size: 14px; 
		}
		th {
   			 text-align: left;
		}
</style>
</head>


<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	<li class="nav-item" >
		<a  class="nav-link active" href="#cgglTab" role="tab" data-bs-toggle="tab">请购单据</a>
	</li>
	<li class="nav-item" >
		<a  class="nav-link" href="#cgmxTab" role="tab" data-bs-toggle="tab" id="qgmx">请购明细</a>
	</li>
	<li class="nav-item" >
		<a  class="nav-link" href="#htmxTab" role="tab" data-bs-toggle="tab">合同明细</a>
	</li>
	<li class="nav-item" >
		<a  class="nav-link" href="#qgqxmxTab" role="tab" data-bs-toggle="tab">请购取消明细</a>
	</li>
	<li class="nav-item" >
		<a  class="nav-link" href="#sbxxTab" role="tab" data-bs-toggle="tab">设备信息</a>
	</li>
	<li class="nav-item" >
		<a  class="nav-link" href="#kcxxTab" role="tab" data-bs-toggle="tab">库存信息</a>
	</li>
</ul>
<form id="veriPurchase_Form" class="form-horizontal sl_all_form"  theme="simple" data-bs-toggle="validation">
	<input type="hidden" id="qgid" name="qgid" th:value="${qgglDto.qgid}">
	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
	<input type="hidden" id="qglbdm" name="qglbdm" th:value="${qgglDto.qglbdm}">
	<input type="hidden" id="wlmc" name="wlmc" th:value="${qgglDto.wlmc}">
	<input type="hidden" id="wlbm" name="wlbm" th:value="${qgglDto.wlbm}">
	<input type="hidden" id="gg" name="gg" th:value="${qgglDto.gg}">
	<input type="hidden" id="jldw" name="jldw" th:value="${qgglDto.jldw}">
	<input type="hidden" name="llmx_json" id="llmx_json">
	<input type="hidden" name="idswl" id="idswl"  th:value="${idswl}">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="cgglTab"  aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<input id="qgid" type="hidden" th:value="${qgglDto.qgid}"/>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									请购单号
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.djh}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									请购类别
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.qglbmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请人
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqrmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请部门
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqbmmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									记录编号
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.jlbh}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请日期
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqrq}" />
								</div>
							</div>
						</div>
						
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" th:if="${qgglDto.qglbdm=='MATERIAL' || qgglDto.qglbdm=='OUTSOURCE' || qgglDto.qglbdm==null || qgglDto.qglbdm==''}">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									项目大类
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.xmdlmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" th:if="${qgglDto.qglbdm=='MATERIAL' || qgglDto.qglbdm==null || qgglDto.qglbdm==''}">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									项目编码
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.xmbmmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									申请理由
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.sqly}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									支付方式
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.zffsmc}" />
								</div>
							</div>
						</div> 
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									付款方
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:text="${qgglDto.fkfmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									入库状态
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<span th:if="${qgglDto.rkzt eq '01'} " th:text="未入库" />
									<span th:if="${qgglDto.rkzt eq '02'} " th:text="部分入库" />
									<span th:if="${qgglDto.rkzt eq '03'} " th:text="全部入库" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label">
									备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
								</label>
								<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 padding_t7">
									<span th:text="${qgglDto.bz}" />
								</div>
							</div> 
						</div> 
						<div class="col-md-12 col-sm-12">
				        	<div class="form-group">
				    			<div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
				    				<div th:id="${fjcfbDto.fjid}" >
				    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件："></label>
				    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
					    				<div class="col-sm-10 padding_t7">
					    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
					    					<button style="outline:none;margin-bottom:5px;padding:0px;" class="btn btn-link" type="button" title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
						    					<span th:text="${fjcfbDto.wjm}"></span>
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</button>&nbsp;&nbsp;
					    					<button title="预览" class="f_button" type="button">
					    						<span class="glyphicon glyphicon-eye-open" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]]);"></span>
					    					</button>
					    				</div>
					    			</div>
				    			</div>
				   			</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="cgmxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<table id="cgmx_view" class="table table-hover table-bordered table-hidden" style="width:1650px;margin-left: 5px"></table>
					<span th:id="yjll"></span>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="sbxxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<table id="sbxxTab_list" class="table table-hover table-bordered table-hidden" style="width:1650px;margin-left: 5px"></table>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="qgqxmxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="body-content">
					<table class="table table-hover table-bordered table-striped" >						
						<tr>
							<th>物料编码</th>
							<th>物料名称</th>
							<th>取消数量</th>
							<th>取消理由</th>
							<th>取消人</th>
							<th>取消时间</th>
							<th>状态</th>
						</tr>
						<tr th:if="${qgqxmxDtos != null && qgqxmxDtos.size() >0}" th:each="qgqxmxDto:${qgqxmxDtos}">
							<td>
							<a href="javascript:void(0);" th:onclick="veriPurchase_queryByWlbm([[${qgqxmxDto.wlid}]])">
							<span th:text="${qgqxmxDto.wlbm}"/>
							</a>
							</td>
							<td th:text="${qgqxmxDto.wlmc}" />
							<td th:text="${qgqxmxDto.qxsl}" />
							<td th:text="${qgqxmxDto.sqly}" />
							<td th:text="${qgqxmxDto.sqrmc}" />
							<td th:text="${qgqxmxDto.lrsj}" />							
							<td>
								<span th:if="${qgqxmxDto.qxqgzt=='00'}" th:text="未提交"/>
								<a th:onclick="javascript:qgqxmxTabshzt([[${qgqxmxDto.qgqxid}]],'AUDIT_REQUISITIONS_CANCEL');" th:if="${qgqxmxDto.qxqgzt=='80'}" th:text="审核通过"/>
								<a th:onclick="javascript:qgqxmxTabshzt([[${qgqxmxDto.qgqxid}]],'AUDIT_REQUISITIONS_CANCEL');" th:if="${qgqxmxDto.qxqgzt=='15'}" th:text="审核未通过"/>
								<a th:onclick="javascript:qgqxmxTabshzt([[${qgqxmxDto.qgqxid}]],'AUDIT_REQUISITIONS_CANCEL');" th:if="${qgqxmxDto.qxqgzt=='10'}" th:text="审核中"/>
							</td>							
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div role="tabpanel" class="tab-pane fade" id="htmxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="body-content">
					<table class="table table-hover table-bordered table-striped" >					
						<tr>
							<th>合同单号</th>
							<th>合同日期</th>
							<th>合同数量</th>
							<th>物料编码</th>
							<th>物料名称</th>
							<th>快递名称</th>
							<th>快递单号</th>
							<th>合同计划到货日期</th>
							<th>合同状态</th>
						</tr>
						<tr th:if="${htmxDtos != null && htmxDtos.size() >0}" th:each="htmxDto:${htmxDtos}">
							<td th:text="${htmxDto.htnbbh}" />
							<td th:text="${htmxDto.cjrq}" />
							<td th:text="${htmxDto.sl}" />
							<td>
							<a href="javascript:void(0);" th:onclick="veriPurchase_queryByWlbm([[${htmxDto.wlid}]])">
							<span th:text="${htmxDto.wlbm}"/>
							</a>
							</td>
							<td th:text="${htmxDto.wlmc!=null && htmxDto.wlmc!=''?htmxDto.wlmc:htmxDto.hwmc}" />
							<td>
								<span th:if="${htmxDto.cskz2=='1' && htmxDto.kdlxmc!=null}" th:text="${htmxDto.kdlxmc}"></span>
								<span th:if="${htmxDto.cskz2!='1' && htmxDto.kdmc!=null}" th:text="${htmxDto.kdmc}"></span>
							</td>
							<td> <span th:text="${htmxDto.kddh}"></span></td>
							<td th:text="${htmxDto.jhdhrq}" />						
							<td>
								<span th:if="${htmxDto.htzt=='00'}" th:text="未提交"/>
								<a th:onclick="javascript:qgqxmxTabshzt([[${htmxDto.htid}]],'AUDIT_CONTRACT');" th:if="${htmxDto.htzt=='80'}" th:text="审核通过"/>
								<a th:onclick="javascript:qgqxmxTabshzt([[${htmxDto.htid}]],'AUDIT_CONTRACT');" th:if="${htmxDto.htzt=='15'}" th:text="审核未通过"/>
								<a th:onclick="javascript:qgqxmxTabshzt([[${htmxDto.htid}]],'AUDIT_CONTRACT');" th:if="${htmxDto.htzt=='10'}" th:text="审核中"/>
							</td>							
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="kcxxTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<span id="yjll_t" class="btn btn-info" title="一键领料" onclick="allAdd()">一键领料</span>
					<span id="yjqx_t" class="btn btn-danger" title="一键取消" onclick="allDel()">一键取消</span>
					<table id="kcxx_view" class="table table-hover table-bordered table-hidden" style="width:1600px;"></table>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>