<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/purchase_cancel.js'}" charset="utf-8"></script>
		<style type="text/css">
			.hidden{display:none;}
			#show:hover{
		    	cursor: move;
			}
			.f_button{
				background: white;
				border: 0;
			}
			.f_button:hover{
				border-width: 0px; 
				border-radius: 3px;
				background: #1E90FF;
				cursor: pointer; 
				outline: none;
				font-family: Microsoft YaHei; 
				color: white; 
				font-size: 14px; 
			}
			.bootstrap-tagsinput {
			    min-width:100%;
			}
		</style>
	</head>
	<body>
	
	<form id="purchaseCancelForm" th:action="${urlPrefix+formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" name="qgqxmx_json" id="qgqxmx_json"/>
		<input type="hidden" name="addwlid" id="addwlid">
		<input type="hidden" name="qgid" th:value="${qgglDto.qgid}" id="qgid"/>
		<input type="hidden" name="mrsqr" th:value="${qgglDto.sqr}" id="mrsqr"/>
		<input type="hidden" name="mrsqrmc" th:value="${qgglDto.sqrmc}" id="mrsqrmc"/>
		<input type="hidden" name="mrsqbm" th:value="${qgglDto.sqbm}" id="mrsqbm"/>
		<input type="hidden" name="mrsqbmmc" th:value="${qgglDto.sqbmmc}" id="mrsqbmmc"/>
		<input type="hidden" name="auditType" th:value="${qgglDto.auditType}" id="auditType"/>
		<input type="hidden" name="url" th:value="${url}" id="url"/>
		<input type="hidden" name="shrgxbj" value="1" id="shrgxbj">
		<input type="hidden" name="shzt" th:value="${qgglDto.zt}" id="shzt">
		<input type="hidden" name="xzqgmx" id="xzqgmx">
		<input type="hidden" name="qgsh" value="1" id="qgsh">
		<input type="hidden" name="ywlx" id="ywlx" th:value="${qgglDto.ywlx}">
		<input type="hidden" name="qgqxid" id="" th:value="${qgglDto.qgqxid}">
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		<input type="hidden" name="fwbj" id="fwbj" th:value="${qgglDto.fwbj}">
		<input type="hidden" name="qglbdm" id="qglbdm" th:value="${qgglDto.qglbdm}">
		<div class="panel-body body-content">
		    	<div class="panel panel-default">
		    		<div class="panel-body">
						<div class="row">
					        <div class="col-md-3 col-sm-3">
								<div class="form-group">
									<label for="" class="col-sm-5 control-label">
										<span style="color: red;">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单据号:
									</label>
									<div class="col-sm-7 col-xs-12">
										<input readonly="readonly" type="text" id="djh" name="djh" th:value="${qgglDto.djh}" validate="{required:true,stringMaxLength:64}" class="form-control" style="height:30px;"/>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3" style="height:30px">
								<div class="form-group">
									<label for="" class="col-sm-5 col-md-5 control-label">
										<span style="color: red;">*</span>&nbsp;&nbsp;申请人:
									</label>
									<div class="col-sm-7 col-md-7 col-xs-12">
										<div class="input-group" >
											<input id="sqrmc" name="sqrmc" type="text" th:value="${qgglDto.sqrmc}" readonly="readonly" validate="{required:true}"  class="form-control" />
						         			<input id="sqr" name="sqr" type="hidden"  th:value="${qgglDto.sqr}" class="form-control" validate="{required:true}"/>
											<span class="input-group-btn" >
												<button type="button" onclick="chooseSqr()" class="btn btn-primary">选择</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3" style="height:30px">
								<div class="form-group">
									<label for="" class="col-sm-5 col-md-5 control-label">
										<span style="color: red;">*</span>申请部门:
									</label>
									<div class="col-sm-7 col-xs-12 col-md-7"> 
										<div class="input-group">
											<input id="sqbmmc" name="sqbmmc" type="text" th:value="${qgglDto.sqbmmc}" readonly="readonly" validate="{required:true}" class="form-control"  />
					        				<input id="sqbm" name="sqbm" type="hidden" th:value="${qgglDto.sqbm}" class="form-control" validate="{required:true}"/>
					        				<input id="sqbmdm" name="sqbmdm" type="hidden" class="form-control"/>
											<span class="input-group-btn">
												<button type="button" onclick="chooseBm()" class="btn btn-primary">选择</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group" style="margin-bottom:10px;">
									<label for="" class="col-sm-5 control-label">
										<span style="color: red;">*</span>&nbsp;&nbsp;申请日期:
									</label>
									<div class="col-sm-7 col-xs-12">
										<input type="text" id="sqrq" name="sqrq" validate="{required:true,stringMaxLength:64}" class="form-control" style="height:30px;" th:value="${qgglDto.sqrq}"/>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="form-group" style="margin-bottom:10px;">
									<label for="" class="col-sm-5 control-label">
										<span style="color: red;">*</span>申请理由:
									</label>
									<div class="col-sm-7 col-xs-12">
										<input type="text" id="sqly" name="sqly" validate="{required:true,stringMaxLength:512}" class="form-control" style="height:30px;" th:value="${qgglDto.sqly}"/>
									</div>
								</div>
							</div>
							
							<div class="col-md-12 col-sm-12" >
								<div class="form-group" >
									<label for="" class="col-sm-1 control-label">
										备注：
									</label>
									<div class="col-sm-11 col-xs-12" >
										<textarea id="bz" name="bz" rows="3"  th:value="${qgglDto.bz}" style="height:50px;" validate="{stringMaxLength:512}" class="form-control" ></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<table id="tb_list" data-classes="table" style="width:1530px;margin-left:8px;"></table>
		</form>
		<div id="box" style="display:none;width:400px;height:200px;position:absolute;top:50%;left:40%;background-color:white;border:1px solid black;z-index:98;">
			<button id="close" type="button" style="color:black;border:0px;background-color:white;z-index:1;float:right;">×</button>
			<div id="echarts_qggl_lead_qgzq" style="height: 280px;"></div>
		</div>
	</body>
</html>
