<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>选择请购类型</title>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/purchase_chooseInstore.js'}" charset="utf-8"></script>
</head>
<body>
<form  id="chooseInstore_ajaxForm"  action="" method="post" class="form-horizontal sl_all_form" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}"/>
		<input type="hidden" name="ids" id="ids" th:value="${ids}"/>
		<div class="modal-body body-content tab-content">
			<div class="panel-body">
				<div class="row">
					<div class="panel panel-success">
						<div class="panel-body">
							<div class="RadioStyle">
							 	<div class="Block PaddingL col-md-2" th:each="rklb,local:${rklist}">
									<input th:id="${rklb.csid}" th:value="${rklb.csid}"  type="checkbox" th:onclick="chanceType([[${rklb.csdm}]],[[${rklb.csid}]])"/>
							        <label th:for="${rklb.csid}" th:text="${rklb.csmc}" style="cursor:pointer;"></label>
							 	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>