<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchase/purchase/purchase_matter_Viewmore.js'}"
	charset="utf-8"></script>	
<style type="text/css">
th {
	font-weight: bold;
	text-align: center;
}
</style>
</head>
<body>
	<form id="ajaxmoreForm" class="form-horizontal sl_all_form" method="post" theme="simple">
		<input type="hidden" name="access_token" />
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		<div class="body-content tab-content" style="text-align: center;">
			<table class="table table-hover" >						
				<tr>
					<th>请购单号</th>
					<th>物料编码</th>
					<th>申请日期</th>
					<th>请购数量</th>
					<th>合同单号</th>
					<th>合同日期</th>
					<th>合同数量</th>
					<th>入库单号</th>							
					<th>到货数量</th>
					<th>到货日期</th>
				</tr>
				<tr th:each="qgmxDto_h: ${qgmxDtos}">
					<td>
					<a href="javascript:void(0);" th:onclick="queryByQgid([[${qgmxDto_h.qgid}]])">
					<span th:text="${qgmxDto_h.djh}"/>
					</a>
					</td>
					<td>
					<a href="javascript:void(0);" th:onclick="queryByWlbm([[${qgmxDto_h.wlid}]])">
					<span th:text="${qgmxDto_h.wlbm}"/>
					</a>
					</td>
					<td th:text="${qgmxDto_h.sqrq}" />
					<td th:text="${qgmxDto_h.sl}" />
					<td>
					<a href="javascript:void(0);" th:onclick="queryByHtid([[${qgmxDto_h.htid}]])">
					<span th:text="${qgmxDto_h.htnbbh}"/>
					</a>
					</td>
					<td th:text="${qgmxDto_h.ddrq}" />
					<td th:text="${qgmxDto_h.htsl}" />
					<td>
					<a href="javascript:void(0);" th:onclick="queryByRkid([[${qgmxDto_h.rkid}]])">
					<span th:text="${qgmxDto_h.hwrkdh}"/>
					</a>
					</td>
					<td th:text="${qgmxDto_h.dhsl}" />
					<td th:text="${qgmxDto_h.dhrq}" />							
				</tr>
			</table>
		</div>
	</form>
</body>
</html>