<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <!--Bootstrap-table插件-->
    <link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script type="text/javascript"
            th:src="@{${urlPrefix} + '/js/purchase/purchase/purchaseMaterial_print.js'}"
            charset="utf-8"></script>
</head>
<body style="width:1000px;height:480px;" >
<div style="width:1000px;" th:if="${qgglDtos != null && qgglDtos.size() >0}" th:each="qgglDto: ${qgglDtos}">
<table border="0" align="center" width="100%">
    <div class="col-md-12 col-sm-12">
        <div class="col-sm-6 col-md-6 " style="float: left">
            <img src="../../images/logo.png" width="126" height="54">
        </div>
        <div class="col-sm-6 col-md-6 " style="text-align:right;float: right;font-family:宋体;font-size:12px;font-weight:bold;">
            <p th:text="'文件编号:  '+${wjbh.csmc}"></p>
            <p th:text="'生效日期:'+${wjbh.cskz1}"></p>
            <p th:text="'版本号/修订号: '+${wjbh.cskz2}+' 页码: 1/1'"></p>
        </div>
    </div>
    <thead>
    <tr>
        <th colspan="18" style="text-align:center;font-size: 15px;font-family: '宋体';font-weight: bold"><p>试剂、耗材采购申请单</p></th>
    </tr>
<!--    <tr style="text-align:center;padding-top:10px;font-size: 10px;font-family: '宋体'">-->
<!--        <th valign="center" style="text-align:center; font-family:宋体;font-size:12px;font-weight:bold;"><p>申请部门</p></th>-->
<!--        <th valign="center" style="text-align:left; font-family:宋体;font-size:12px;"><p th:text="${qgglDto.sqbmmc}"></p></th>-->
<!--        <th valign="center" style="text-align:center; font-family:宋体;font-size:12px;font-weight:bold;"><p>申请日期</p></th>-->
<!--        <th valign="center" style="text-align:center; font-family:宋体;font-size:12px;"><p th:text="${qgglDto.sqrq}"></p></th>-->
<!--        <th valign="center" style="text-align:center; font-family:宋体;font-size:12px;font-weight:bold;"><p>请购单号</p></th>-->
<!--        <th valign="center" style="text-align:left; font-family:宋体;font-size:12px;"><p th:text="${qgglDto.djh}"></p></th>-->
<!--    </tr>-->

    <tr style="width:1000px;border:none;">
        <td colspan="2" width="100px" valign="center"
            style="padding-top:5px;padding-bottom:10px;text-align:center;font-family:宋体;font-size:10px;font-weight:bold;text-align: justify">
            申请部门:
        </td>
        <td colspan="3" width="240px" valign="center"
            style="padding-top:5px;padding-bottom:10px;text-align:left;font-family:宋体;font-size:10px;"
            th:text="${qgglDto.sqbmmc}"></td>
        <td colspan="2" width="100px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:center;font-family:宋体;font-size:10px;font-weight:bold;text-align: justify">
            申请日期:
        </td>
        <td colspan="2" width="240px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:left;font-family:宋体;font-size:10px;"
            th:text="${qgglDto.sqrq}"></td>
        <td  width="100px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:center;font-family:宋体;font-size:10px;font-weight:bold;text-align: justify">
            请购单号:
        </td>
        <td colspan="3" width="240px" valign="center"
            style="padding-top:10px;padding-bottom:5px;text-align:left;font-family:宋体;font-size:10px;"
            th:text="${qgglDto.djh}"></td>
    </tr>
    <tr style="text-align:center; font-family:宋体;font-size:6px;font-weight:bold;">
        <th width="3%" cellspacing="0" style="text-align:center;border: 1px solid #000;width: 3%">序号</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%">物料编码</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 17%">名称</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 17%">货号</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 16%">规格型号</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 3%">单位</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%">数量</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%">参考价格</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%">建议品牌</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 8%">要求到货日期</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%">保存条件</th>
        <th cellspacing="0" style="text-align:center;border: 1px solid #000;width: 6%">备注</th>
    </tr>
    </thead>
    <tbody style="text-align:center">
    <tr style="font-family:宋体;font-size:6px;" th:if="${qgglDto.qgmxDtos != null && qgglDto.qgmxDtos.size() >0}" th:each="dto: ${qgglDto.qgmxDtos}">
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;"  th:text="${dtoStat.index+1}"></td>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.wlbm}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.wlmc}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.ychh}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.gg}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.jldw}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.sl}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.jg==null||dto.jg=='')?'/':dto.jg}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.scs}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.jhdhrq}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${dto.bctj}"/>
        <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${(dto.bz==null||dto.bz=='')?'/':dto.bz}"/>
    </tr>
    </tbody>
    <tfoot style="font-family:宋体;font-size:10px;">
    <tr>
        <!--<th colspan="3" style="text-align: right">申请人/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
        <!--<th colspan="4" style="text-align: right">部门经理/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
        <!--<th colspan="4" style="text-align: right">采购部门/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
        <!--<th colspan="3" style="text-align: right">批准人/日期:</th>-->
        <!--<th colspan="1" style="padding-top: 10px"><p th:text="${qgglDto.sqrmc+'/'+qgglDto.sqrq}"></th>-->
    </tr>
    </tfoot>
</table>
<div class="col-md-12 col-sm-12" style="padding-right: 0px;padding-left: 0px;padding-top: 10px">
    <div class="col-sm-3 col-md-3 "  style="padding-right: 0px;padding-left: 0px;float: left">
        <span style="font-size: 10px;font-family: '宋体';">申请人/日期:</span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${qgglDto.sqrmc}"></span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${'/'+qgglDto.sqrq}"></span>
    </div>
    <div class="col-sm-3 col-md-3 "  style="padding-right: 0px;padding-left: 10px;float: left">
        <span style="font-size: 10px;font-family: '宋体';">部门经理/日期:</span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${qgglDto.map['shry_3']}"></span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${'/'+qgglDto.map['shrq_3']}"></span>
    </div>
    <div class="col-sm-3 col-md-3 "  style="padding-right: 0px;padding-left: 10px;float: left">
        <span style="font-size: 10px;font-family: '宋体';">采购部门/日期:</span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${qgglDto.map['shry_1']}"></span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${'/'+qgglDto.map['shrq_1']}"></span>
    </div>
    <div class="col-sm-3 col-md-3 "  style="padding-right: 0px;padding-left: 10px;float: left">
        <span style="font-size: 10px;font-family: '宋体';">批准人/日期:</span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${qgglDto.map['shry_0']}"></span>
        <span style="font-size: 10px;font-family: '宋体';" th:text="${'/'+qgglDto.map['shrq_0']}"></span>
    </div>
</div>
    <!--签名部分-->
    <div style="margin:auto;width:1000px;border:none;position:fixed ;bottom:0;">
        <table style="bottom:0;margin:auto;width:100%;border-collapse:collapse;font-family:宋体;font-size:8px;">
            <tr>
                <th style="text-align: left"><span>试剂类供应品采购作业指导书</span></th>
                <th style="text-align: right" th:text="${wjbh.cskz3}"></th>
            </tr>
        </table>
    </div>
<div style="page-break-after: always;"></div>
</div>
</body>
</html>