<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/quality/quality_audit_list.js'}"charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
    <form id="qualityAudit_formAudit">
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <div class="row">
            <div class="pull-left">
                <ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="qualityAudit_audit_ul">
                    <li  class="nav-item" >
                        <a  class="nav-link active" name="tabBlock[qualityAuditDiv]" href="#qualityAudit_auditing" role="tab" data-bs-toggle="tab">待审核的信息</a>
                    </li>
                    <li  class="nav-item" >
                        <a  class="nav-link" name="tabBlock[qualityAuditDiv]" href="#qualityAudit_audited" role="tab" data-bs-toggle="tab">审核记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="row padding-l15 padding-r15">
        <div class="main_content tab-content">
            <div role="tabpanel" class="tab-pane active padding-10" id="qualityAudit_auditing" style="border:1px solid #eee">
                <form id="qualityAudit_audit_formSearch" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                                        <option value="0">全&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部</option>
                                        <option value="1">质量协议编号</option>
                                        <option value="2">&nbsp;供应商名称&nbsp;</option>
                                        <option value="3">&nbsp;&nbsp;供方编号&nbsp;&nbsp;</option>
                                        <option value="4">&nbsp;&nbsp;物料编码&nbsp;&nbsp;</option>
                                        <option value="5">&nbsp;&nbsp;物料名称&nbsp;&nbsp;</option>
                                        <option value="6">&nbsp;&nbsp;生产厂家&nbsp;&nbsp;</option>
                                        <option value="7">&nbsp;涉及项目号&nbsp;</option>
                                        <option value="8">&nbsp;&nbsp;技术指标&nbsp;&nbsp;</option>
                                        <option value="9">&nbsp;&nbsp;质量要求&nbsp;&nbsp;</option>
                                        <option value="10">&nbsp;&nbsp;验收标准&nbsp;&nbsp;</option>
                                        <option value="11">&nbsp;&nbsp;储存条件&nbsp;&nbsp;</option>
                                    </select>
                                    <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配" onkeydown="if(event.keyCode==13) {searchquality_audit_Result(true); return false;}"/>
                                </div>
                                <div class="form-group padding-l30" style="margin-left:0px">
                                    <label>创建时间</label>
                                    <input id="cjsjstart" name="cjsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                    <input id="cjsjend" name="cjsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                </div>
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                            </div>
                        </div>
                    </div>
                    <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                        <span class="tit" style="color:black;">已选条件：</span>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                            <ul id="sl_add_ul"></ul>
                        </div>
                    </div>
                    <div class="padding_t7 width100" id="searchMore" style="display: none;" >
                        <div class="tab-content sl_sel_con row" id="sl_sel_con" style="padding-bottom:10px; min-height:60px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
                            <div class="tab-pane active" id="tab06">
                                <div id="gfgllb_id" class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="form-group width100">
                                        <label
                                                class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"
                                                title="供方管理类别">供方管理类别：</label>
                                        <div
                                                class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list">
                                            <ul
                                                    class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                                <li th:if="${gfgllblist!=null && gfgllblist.size() >0}"
                                                    th:each="t_gfgllb:${gfgllblist}"><a
                                                        style='text-decoration: none; cursor: pointer;'
                                                        th:onclick="addTj('gfgllb',[[${t_gfgllb.csid}]],'qualityAudit_audit_formSearch');"
                                                        th:id="'gfgllb_id_'+${t_gfgllb.csid}"><span
                                                        th:style="${t_gfgllb.scbj eq '2'?'color:red':''}"
                                                        th:text="${t_gfgllb.csmc}+ ${t_gfgllb.scbj eq '2'?'(停用)':''}"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="htxj_id" class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="form-group width100">
                                        <label
                                                class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="合同新旧">合同新旧：
                                        </label>
                                        <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list">
                                            <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                                <li>
                                                    <a style='text-decoration: none; cursor: pointer;'
                                                       onclick="addTj('htxj','1','qualityAudit_audit_formSearch');"
                                                       id="htxj_id_1">
                                                        <span>新</span>
                                                    </a>
                                                </li>
                                                <li><a style='text-decoration: none; cursor: pointer;'
                                                       onclick="addTj('htxj','0','qualityAudit_audit_formSearch');"
                                                       id="htxj_id_0">
                                                    <span>旧</span>
                                                </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="kssj_id" class="col-xs-12 col-sm-6 col-lg-6">
                                    <div class="form-group width100">
                                        <label class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label" title="开始时间">开始时间：</label>
                                        <div class="col-xs-12 col-sm-8  col-md-8 col-lg-10 sl_sel_list" >
                                            <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
                                                <li>
                                                    <input id="kssjstart" name="kssjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                                    <input id="kssjend" name="kssjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="dqsj_id" class="col-xs-12 col-sm-6 col-lg-6">
                                    <div class="form-group width100">
                                        <label class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label" title="创建时间">到期时间：</label>
                                        <div class="col-xs-12 col-sm-8  col-md-8 col-lg-10 sl_sel_list" >
                                            <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
                                                <li>
                                                    <input id="dqsjstart" name="dqsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                                    <input id="dqsjend" name="dqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="gfgllb_id_tj" name="gfgllb_id_tj">
                    <input type="hidden" id="htxj_id_tj" name="htxj_id_tj">
                    <div th:include="common/btn/ancz.html"></div>
                    <table id="qualityAudit_audit_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane padding-10" id="qualityAudit_audited" style="border:1px solid #eee">
                <form id="qualityAudit_audit_audited" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                                        <option value="0">全&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部</option>
                                        <option value="1">质量协议编号</option>
                                        <option value="2">&nbsp;供应商名称&nbsp;</option>
                                        <option value="3">&nbsp;&nbsp;供方编号&nbsp;&nbsp;</option>
                                        <option value="4">&nbsp;&nbsp;物料编码&nbsp;&nbsp;</option>
                                        <option value="5">&nbsp;&nbsp;物料名称&nbsp;&nbsp;</option>
                                        <option value="6">&nbsp;&nbsp;生产厂家&nbsp;&nbsp;</option>
                                        <option value="7">&nbsp;涉及项目号&nbsp;</option>
                                        <option value="8">&nbsp;&nbsp;技术指标&nbsp;&nbsp;</option>
                                        <option value="9">&nbsp;&nbsp;质量要求&nbsp;&nbsp;</option>
                                        <option value="10">&nbsp;&nbsp;验收标准&nbsp;&nbsp;</option>
                                        <option value="11">&nbsp;&nbsp;储存条件&nbsp;&nbsp;</option>
                                    </select>
                                    <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                           onkeydown="if(event.keyCode==13) {searchqualityAudited(true); return false;}"/>
                                </div>
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                    <div id="toolbar" class="btn-group">
                        <button class="btn btn-default" type="button" id="btn_cancelAudit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消审批</button>
                    </div>
                    <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>