<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.dmp.dao.post.ILjfxxDao" >
	<!-- 根据资源信息Dto新增连接方信息 -->
	<insert id="insertLjfxxDtoByZyxxDto" parameterType="ZyxxDto">
		insert into igams_ljfxx(ljid
		<if test="ljmc !=null and ljmc != ''">
			,ljmc
		</if>
		<if test="ljdz !=null and ljdz != ''">
			,ljdz
		</if>
		<if test="dyfs !=null and dyfs != ''">
			,dyfs
		</if>
		<if test="qqfs !=null and qqfs != ''">
			,qqfs
		</if>
		) values(#{ljid}
		<if test="ljmc !=null and ljmc != ''">
			,#{ljmc}
		</if>
		<if test="ljdz !=null and ljdz != ''">
			,#{ljdz}
		</if>
		<if test="dyfs !=null and dyfs != ''">
			,#{dyfs}
		</if>
		<if test="qqfs !=null and qqfs != ''">
			,#{qqfs}
		</if>
		)
	</insert>
</mapper>
