<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.dmp.dao.post.ISjkxxDao" >
	<!-- 获取数据库信息 -->
	<select id="getSjkxxDtoList" parameterType="SjkxxDto" resultType="SjkxxDto">
		select sjk.sjkid,sjk.sjkm,sjk.sjkyhm,sjk.sjkmm,sjk.sjklx,sjk.sjkljc
			from igams_sjkxx sjk
	</select>
	<!-- 查询数据库信息 -->
	<select id="getDtoById" parameterType="String" resultType="SjkxxDto">
		select sjk.sjkid,sjk.sjkm,sjk.sjkyhm,sjk.sjkmm,sjk.sjklx,sjk.sjkljc
			from igams_sjkxx sjk
		where
			sjk.sjkid =#{sjkid}
	</select>
	<!-- 根据资源信息Dto新增数据库信息 -->
	<insert id="insertSjkxxDtoByZyxxDto" parameterType="ZyxxDto">
		insert into igams_sjkxx(sjkid
		<if test="sjkm !=null and sjkm != ''">
			,sjkm
		</if>
		<if test="sjkyhm !=null and sjkyhm != ''">
			,sjkyhm
		</if>
		<if test="sjkmm !=null and sjkmm != ''">
			,sjkmm
		</if>
		<if test="sjklx !=null and sjklx != ''">
			,sjklx
		</if>
		<if test="sjkljc !=null and sjkljc != ''">
			,sjkljc
		</if>
		) values(#{sjkid}
		<if test="sjkm !=null and sjkm != ''">
			,#{sjkm}
		</if>
		<if test="sjkyhm !=null and sjkyhm != ''">
			,#{sjkyhm}
		</if>
		<if test="sjkmm !=null and sjkmm != ''">
			,#{sjkmm}
		</if>
		<if test="sjklx !=null and sjklx != ''">
			,#{sjklx}
		</if>
		<if test="sjkljc !=null and sjkljc !=''">
			,#{sjkljc}
		</if>
		)
	</insert>
</mapper>
