<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.dmp.dao.post.IZytgfDao" >
	<!-- 获取资源提供方信息 -->
	<select id="getZytgfDtoList" parameterType="ZytgfDto" resultType="ZytgfDto">
		select zytgf.tgfid,zytgf.tgfmc,zytgf.tgfdm,zytgf.lrry,zytgf.lrsj,zytgf.xgry,zytgf.xgsj,zytgf.scry,zytgf.scsj,zytgf.scbj
			from igams_zytgf zytgf
			<where>
				zytgf.scbj != '1'
			</where>
	</select>
	<!-- 新增提供方信息 -->
	<insert id="insert" parameterType="ZytgfModel">
		insert into igams_zytgf(tgfid
		<if test="tgfmc !=null and tgfmc != ''">
			,tgfmc
		</if>
		<if test="tgfdm !=null and tgfdm != ''">
			,tgfdm
		</if>
		,lrry,lrsj,scbj) values(#{tgfid}
		<if test="tgfmc !=null and tgfmc != ''">
			,#{tgfmc}
		</if>
		<if test="tgfdm !=null and tgfdm != ''">
			,#{tgfdm}
		</if>
		,#{lrry},LOCALTIMESTAMP,'0')
	</insert>
</mapper>
