<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	</head>
	<body>
		<form id="sampApply_ajaxForm" th:action ="'/sample/apply/SaveSampApply'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<div class="body-content">
				<div class="row">
					<input type="hidden" id="sqid" name="sqid" th:value="${ybsqDto.sqid}"/>
					<input type="hidden" id="ybid" name="ybid" th:value="${ybsqDto.ybid}"/>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								标本编号
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.ybbh}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								标本类型
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.yblxmc}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								库存单位
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.dw}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								冰箱号
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.bxh}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6" >
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								申请用途
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.ytmc}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								抽屉号
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.chth}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6" id="cfsdiv">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								申请数
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.sqs}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								盒号
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.hzh}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								申请人
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.sqrxm}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								提取位置
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.qswz}" />--<span th:text="${ybsqDto.jswz}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								申请时间
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.sqsj}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								审核时间
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.shsj}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								浓度
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.nd}" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="" class="col-sm-4 col-xs-4 control-label">
								备注
							</label>
							<div class="col-sm-6 col-xs-8 padding_t7"> 
								<span th:text="${ybsqDto.bz}" />
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</form>
	</body>
</html>