<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/borrowing/borrowing_view.js'}" charset="utf-8"></script>
	<style type="text/css">
		th{
			font-weight:bold;
			text-align: center;
		}
	</style>
	</head>
	<body>
	<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	    <li  class="nav-item" >
	        <a  class="nav-link active" href="#receiveMaterielInfoTab" role="tab" data-bs-toggle="tab">借用信息</a>
	    </li>
	    <li class="nav-item" >
	        <a  class="nav-link" href="#receiveMaterielDetailTab" role="tab" data-bs-toggle="tab">借用详细信息</a>
	    </li>
		<li class="nav-item" >
			<a  class="nav-link" href="#xsmxTab" role="tab" data-bs-toggle="tab">销售信息</a>
		</li>
		<li class="nav-item" >
			<a  class="nav-link" href="#logisticsupholdDetailTab" role="tab" data-bs-toggle="tab">物流信息</a>
		</li>
	</ul>
		<form id="viewBorrowAjaxForm" namespace="/production" class="form-horizontal sl_all_form" method="post" theme="simple">
			<input type="hidden" name="access_token"/>
			<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}"/>
			<input type="hidden" name="ywid" id="ywid" th:value="${jcjygl.jcjyid}">
			<div class="body-content tab-content">
				<div role="tabpanel" class="tab-pane fade active in" id="receiveMaterielInfoTab" aria-labelledby="profile-tab">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											借用单号：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.jydh}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											部门：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.bmmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											借用日期：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.jyrq}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											是否支付运费：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.sfzfyf}"/>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											单位类别：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.dwlxmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											单位：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.dwmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											运输方式：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.ysfsmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											终端区域：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.zdqymc}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											终端：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.zd}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											联系人：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.lxr}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											联系方式：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.lxfs}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											客户名称：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.khmc}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											合同编号: </label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<a href="javascript:void(0);" th:onclick="viewYxht([[${jcjygl.htid}]])">
												<span th:text="${jcjygl.htbh}"/>
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											负责大区：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.fzdq}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											收货联系方式：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.shlxfs}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											状态：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:if="${jcjygl.zt =='00'}">未提交</span>
											<span th:if="${jcjygl.zt =='80'}">审核通过</span>
											<span th:if="${jcjygl.zt =='15'}">审核未通过</span>
											<span th:if="${jcjygl.zt =='10'}">审核中</span>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											是否确认：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.sfqr=='1'?'是':'否'}" />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
											快递信息：
										</label>
										<div class="col-sm-11 col-xs-11 col-md-11 padding_t7">
											<span th:text="${jcjygl.kdxx}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											审核人：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.shrymc}" />
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
											审核时间：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.shrq}" />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label for="" class="col-sm-1 col-xs-1col-md-1 control-label">
											收货地址：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.shdz}" />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
											备注：
										</label>
										<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
											<span th:text="${jcjygl.bz}" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="receiveMaterielDetailTab" aria-labelledby="profile-tab">
				    <div class="panel-body" th:if="${jcjyxxDtos != null && jcjyxxDtos.size() >0}" th:each="jcjyxxDto:${jcjyxxDtos}">
						<table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
							<tr>
								<td style="width:10%;"><span th:title="'物料编码：'+${jcjyxxDto.wlbm}" th:text="'物料编码：'+${jcjyxxDto.wlbm}" /></td>
								<td style="width:20%;"><span th:title="'物料名称：'+${jcjyxxDto.wlmc}" th:text="'物料名称：'+${jcjyxxDto.wlmc}" /></td>
								<td style="width:12%;"><span th:title="'规格：'+${jcjyxxDto.gg}" th:text="'规格：'+${jcjyxxDto.gg}" /></td>
								<td style="width:5%;"><span th:title="'单位：'+${jcjyxxDto.jldw}" th:text="'单位：'+${jcjyxxDto.jldw}" /></td>
								<td style="width:8%;" th:if="${jcjyxxDto.ckqxmc !=null && jcjyxxDto.ckqxmc != ''}"><span th:title="'仓库分类：'+${jcjyxxDto.ckqxmc}" th:text="${jcjyxxDto.ckqxmc}" /></td>
								<td style="width:8%;" th:if="${jcjyxxDto.ckqxmc ==null || jcjyxxDto.ckqxmc == ''}"><span th:title="'仓库分类：'"  >仓库分类:</span></td>
								<td style="width:8%;" th:if="${jcjyxxDto.kcl !=null && jcjyxxDto.kcl != ''}"><span th:title="'库存量：'+${jcjyxxDto.kcl}" th:text="'库存量：'+${jcjyxxDto.kcl}" /></td>
								<td style="width:8%;" th:if="${jcjyxxDto.kcl ==null || jcjyxxDto.kcl == ''}"><span th:title="'库存量：'"  >库存量:</span></td>
								<td style="width:8%;"th:if="${jcjyxxDto.jcsl !=null && jcjyxxDto.jcsl != ''}"><span th:title="'借用数量：'+${jcjyxxDto.jcsl}" th:text="'借用数量：'+${jcjyxxDto.jcsl}" /></td>
								<td style="width:8%;"th:if="${jcjyxxDto.jcsl ==null || jcjyxxDto.jcsl == ''}"><span th:title="'借用数量：'" >借用数量:</span></td>
								<td style="width:10%;"th:if="${jcjyxxDto.yjghrq !=null && jcjyxxDto.yjghrq != ''}"><span th:title="'预计归还日期：'+${jcjyxxDto.yjghrq}" th:text="${jcjyxxDto.yjghrq}" /></td>
								<td style="width:10%;"th:if="${jcjyxxDto.yjghrq ==null || jcjyxxDto.yjghrq == ''}"><span th:title="'预计归还日期：'"  >预计归还日期:</span></td>
								<td style="width:8%;"th:if="${jcjyxxDto.cplxmc !=null && jcjyxxDto.cplxmc != ''}"><span th:title="'产品类型：'+${jcjyxxDto.cplxmc}" th:text="${jcjyxxDto.cplxmc}" /></td>
								<td style="width:8%;"th:if="${jcjyxxDto.cplxmc ==null || jcjyxxDto.cplxmc == ''}"><span th:title="'产品类型：'" >产品类型：</span></td>
								<td style="width:15%;"th:if="${jcjyxxDto.bz !=null && jcjyxxDto.bz != ''}"><span th:title="'备注：'+${jcjyxxDto.bz}" th:text="${jcjyxxDto.bz}" /></td>
								<td style="width:15%;"th:if="${jcjyxxDto.bz ==null || jcjyxxDto.bz == ''}"><span th:title="'备注：'" >备注：</span></td>
							</tr>
						</table>
 					         <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
								<tr style="background-color: #63a3ff;">
									<th style="width:5%;"><span th:text="序号" /></th>
									<th style="width:10%;"><span th:text="物料编码" /></th>
									<th style="width:20%;"><span th:text="物料名称" /></th>
									<th style="width:12%;"><span th:text="规格" /></th>
									<th style="width:5%;"><span th:text="单位" /></th>
									<th style="width:8%;"><span th:text="生产批号" /></th>
									<th style="width:8%;"><span th:text="库存量" /></th>
									<th style="width:8%;"><span th:text="借用数量" /></th>
									<th style="width:10%;"><span th:text="生产日期" /></th>
									<th style="width:10%;"><span th:text="有效期" /></th>
									<th style="width:10%;"><span th:text="预计归还日期" /></th>
									<th style="width:15%;"><span th:text="备注" /></th>
								</tr>
					         	<div th:if="${jcjyxxDto.jcjymxDtos != null && jcjyxxDto.jcjymxDtos.size() >0}" th:each="jcjymxDto:${jcjyxxDto.jcjymxDtos}">
					         		<tr>
					         			<td><span th:title="${jcjymxDtoStat.index+1}" th:text="${jcjymxDtoStat.index+1}"/></td>
										<td><span th:title="${jcjymxDto.wlbm}" th:text="${jcjymxDto.wlbm}"/></td>
										<td><span th:title="${jcjymxDto.wlmc}" th:text="${jcjymxDto.wlmc}"/></td>
										<td><span th:title="${jcjymxDto.gg}" th:text="${jcjymxDto.gg}"/></td>
										<td><span th:title="${jcjymxDto.jldw}" th:text="${jcjymxDto.jldw}"/></td>
										<td><span th:title="${jcjymxDto.scph}" th:text="${jcjymxDto.scph}"/></td>
										<td><span th:title="${jcjymxDto.ckkcl}" th:text="${jcjymxDto.ckkcl}"/></td>
										<td><span th:title="${jcjymxDto.jysl}" th:text="${jcjymxDto.jysl}"/></td>
										<td><span th:title="${jcjymxDto.scrq}" th:text="${jcjymxDto.scrq}"/></td>
										<td><span th:title="${jcjymxDto.yxq}" th:text="${jcjymxDto.yxq}"/></td>
										<td><span th:title="${jcjymxDto.yjghrq}" th:text="${jcjymxDto.yjghrq}"/></td>
										<td><span th:title="${jcjymxDto.bz}" th:text="${jcjymxDto.bz}"/></td>
									</tr>
								</div>
					         </table>
					         <hr>
						</div>
				    </div>
				<div role="tabpanel" class="tab-pane fade" id="xsmxTab" aria-labelledby="profile-tab">
					<div class="panel-body">
						<table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
							<tr style="background-color: #63a3ff;">
								<th style="width:5%;"><span th:text="序号" /></th>
								<th style="width:15%;"><span th:text="OA销售单号" /></th>
								<th style="width:10%;"><span th:text="物料编码" /></th>
								<th style="width:10%;"><span th:text="物料名称" /></th>
								<th style="width:12%;"><span th:text="规格" /></th>
								<th style="width:5%;"><span th:text="单位" /></th>
								<th style="width:5%;"><span th:text="数量" /></th>
								<th style="width:8%;"><span th:text="含税单价" /></th>
								<th style="width:8%;"><span th:text="价税总额" /></th>
								<th style="width:15%;"><span th:text="税率" /></th>
								<th style="width:15%;"><span th:text="预发货日期" /></th>
								<th style="width:10%;"><span th:text="产品类型" /></th>
							</tr>
							<div th:if="${xsmxDtos != null && xsmxDtos.size() >0}" th:each="xsmxDto:${xsmxDtos}">
								<tr>
									<td><span th:title="${xsmxDtoStat.index+1}" th:text="${xsmxDtoStat.index+1}"/></td>
									<td><a href="javascript:void(0);" th:onclick="showXsInfo([[${xsmxDto.xsid}]],[[${xsmxDto.jcjyid}]])" th:text="${xsmxDto.oaxsdh}" th:title="${xsmxDto.oaxsdh}"></a></td>
									<td><a href="javascript:void(0);" th:onclick="queryByWlbm([[${xsmxDto.wlid}]])" th:text="${xsmxDto.wlbm}" th:title="${xsmxDto.wlbm}"></a></td>
									<td><span th:title="${xsmxDto.wlmc}" th:text="${xsmxDto.wlmc}"/></td>
									<td><span th:title="${xsmxDto.gg}" th:text="${xsmxDto.gg}"/></td>
									<td><span th:title="${xsmxDto.jldw}" th:text="${xsmxDto.jldw}"/></td>
									<td><span th:title="${xsmxDto.sl}" th:text="${xsmxDto.sl}"/></td>
									<td><span th:title="${xsmxDto.hsdj}" th:text="${xsmxDto.hsdj}"/></td>
									<td><span th:title="${xsmxDto.jsze}" th:text="${xsmxDto.jsze}"/></td>
									<td><span th:title="${xsmxDto.suil}" th:text="${xsmxDto.suil}"/></td>
									<td><span th:title="${xsmxDto.yfhrq}" th:text="${xsmxDto.yfhrq}"/></td>
									<td><span th:title="${xsmxDto.cplx}" th:text="${xsmxDto.cplx}"/></td>
								</tr>
							</div>
						</table>
						<hr>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="logisticsupholdDetailTab" aria-labelledby="profile-tab">
					<div class="panel panel-default">
						<div class="panel-body">
							<table id="tb_list" class="table table-hover table-bordered table-hidden" style="width:1600px;"></table>
						</div>
					</div>
				</div>
		 	</div>
		</form>
	</body>
</html>