<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/wechat/paperReportsApply/paperReportsApply_view.js" charset="utf-8"></script>
</head>
<body>
<form class="form-horizontal sl_all_form" action="" id="viewPaperReportsApplyForm" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="zzsqid" id="zzsqid" th:value="${sjzzsqDto.zzsqid}"/>
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" th:if="${flag eq 'audit'}">
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    <span style="color: red;">*</span>快递类型：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" th:if="${expressage!=null && expressage.size() > 0}" style="padding-top: 3px">
                                    <select id="kdlx" name="kdlx" class="form-control chosen-select" validate="{required:true}">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${expressage}" th:value="${list.csid}"
                                                th:text="${list.csmc}" th:csdm="${list.csdm}" th:selected="${list.csid eq sjzzsqDto.kdlx}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6" id="jdkdDiv">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    京东类型：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7"  style="padding-top: 3px">
                                    <select id="jdlx" name="jdlx" class="form-control chosen-select">
                                        <option value="">--请选择--</option>
                                        <option value="1" th:selected="${'1' eq sjzzsqDto.jdlx}">特惠送</option>
                                        <option value="2" th:selected="${'2' eq sjzzsqDto.jdlx}">特快送</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    样本编号：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:if="${flag eq 'view'}" th:text="${sjzzsqDto.ybbh}" />
                                    <a href="javascript:void(0);" th:if="${flag eq 'audit'}" th:onclick="queryBySjid([[${sjzzsqDto.sjid}]])">
                                        <span  th:text="${sjzzsqDto.ybbh}" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    患者姓名：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${sjzzsqDto.hzxm}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span id="xb" th:text="${sjzzsqDto.xbmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    医院名称：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span id="sjdw" th:text="${sjzzsqDto.sjdwmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    合作伙伴：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span id="db" th:text="${sjzzsqDto.sjhb}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    标本类型：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${sjzzsqDto.yblxmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    检测项目：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${sjzzsqDto.jcxmmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    收件人：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${sjzzsqDto.sjr}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    电话：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${sjzzsqDto.dh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    份数：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${sjzzsqDto.fs}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    发票随寄：
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7" style="padding-top: 3px">
                                    <span th:text="${sjzzsqDto.fpsjmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
                            <div class="form-group">
                                <label for="" class="col-xs-2 col-sm-2 col-md-2  col-lg-2 control-label">
                                    地址：
                                </label>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding_t7" style="padding-top: 3px">
                                    <span rows="" cols="" id="dz" name="dz" th:text="${sjzzsqDto.dz}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
                            <div class="form-group">
                                <label for="" class="col-xs-2 col-sm-2 col-md-2  col-lg-2 control-label">
                                    备注：
                                </label>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding_t7" style="padding-top: 3px">
                                    <span rows="" cols="" id="bz" name="bz" th:text="${sjzzsqDto.bz}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>