<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IDbszDao" >
    <select id="getPersonDtoList" parameterType="DbszDto" resultType="DbszDto">
        select dbszid,yhid,shlb,xh,fbsbj,shlbbm,zylj from igams_dbsz
        where yhid = #{yhid}
        and COALESCE(fbsbj,'') = COALESCE(#{fbsbj},'')
        order by cast(xh as numeric) asc
    </select>
    <delete id="delete" parameterType="DbszDto">
        delete from igams_dbsz
        where yhid = #{yhid}  and COALESCE(fbsbj,'') = COALESCE(#{fbsbj},'')
    </delete>
    <insert id="insertDbszDtos" parameterType="List">
        insert into igams_dbsz(dbszid,yhid,shlb,xh,fbsbj,shlbbm,zylj)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.dbszid}, #{item.yhid},
            #{item.shlb},
            cast(#{item.xh} as numeric),
            #{item.fbsbj},#{item.shlbbm},#{item.zylj} )
        </foreach>
    </insert>
</mapper>
