<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IDdspjlDao" >
    <insert id="insert" parameterType="DdspjlDto">
    insert into igams_ddspjl(processinstanceid
    <if test="attachedprocessinstanceids !=null and attachedprocessinstanceids != ''">
        ,attachedprocessinstanceids
    </if>
    <if test="bizaction !=null and bizaction != ''">
        ,bizaction
    </if>
    <if test="bizdata !=null and bizdata != ''">
        ,bizdata
    </if>
    <if test="businessid !=null and businessid != ''">
        ,businessid
    </if>
    <if test="ccuserids !=null and ccuserids != ''">
        ,ccuserids
    </if>
    <if test="createtime !=null and createtime != ''">
        ,createtime
    </if>
    <if test="finishtime !=null and finishtime != ''">
        ,finishtime
    </if>
    <if test="formcomponentvalues !=null and formcomponentvalues != ''">
        ,formcomponentvalues
    </if>
    <if test="operationrecords !=null and operationrecords != ''">
        ,operationrecords
    </if>
    <if test="originatordeptid !=null and originatordeptid != ''">
        ,originatordeptid
    </if>
    <if test="originatordeptname !=null and originatordeptname != ''">
        ,originatordeptname
    </if>
    <if test="originatoruserid !=null and originatoruserid != ''">
        ,originatoruserid
    </if>
    <if test="result !=null and result != ''">
        ,result
    </if>
    <if test="status !=null and status != ''">
        ,status
    </if>
    <if test="tasks !=null and tasks != ''">
        ,tasks
    </if>
    <if test="title !=null and title != ''">
        ,title
    </if>
    <if test="processcode !=null and processcode != ''">
        ,processcode
    </if>
    ,lrsj) values(#{processinstanceid}
    <if test="attachedprocessinstanceids !=null and attachedprocessinstanceids != ''">
        ,cast(#{attachedprocessinstanceids} as json)
    </if>
    <if test="attachedprocessinstanceids ==null or attachedprocessinstanceids == ''">
        ,null
    </if>
    <if test="bizaction !=null and bizaction != ''">
        ,#{bizaction}
    </if>
    <if test="bizdata !=null and bizdata != ''">
        ,#{bizdata}
    </if>
    <if test="businessid !=null and businessid != ''">
        ,#{businessid}
    </if>
    <if test="ccuserids !=null and ccuserids != ''">
        ,cast(#{ccuserids} as json)
    </if>
    <if test="ccuserids ==null or ccuserids == ''">
        ,null
    </if>
    <if test="createtime !=null and createtime != ''">
        ,cast(#{createtime} as timestamp)
    </if>
    <if test="finishtime !=null and finishtime != ''">
        ,cast(#{finishtime} as timestamp)
    </if>
    <if test="formcomponentvalues !=null and formcomponentvalues != ''">
        ,cast(#{formcomponentvalues} as json)
    </if>
    <if test="formcomponentvalues ==null or formcomponentvalues == ''">
        ,null
    </if>
    <if test="operationrecords !=null and operationrecords != ''">
        ,cast(#{operationrecords} as json)
    </if>
    <if test="operationrecords ==null or operationrecords == ''">
        ,null
    </if>
    <if test="originatordeptid !=null and originatordeptid != ''">
        ,#{originatordeptid}
    </if>
    <if test="originatordeptname !=null and originatordeptname != ''">
        ,#{originatordeptname}
    </if>
    <if test="originatoruserid !=null and originatoruserid != ''">
        ,#{originatoruserid}
    </if>
    <if test="result !=null and result != ''">
        ,#{result}
    </if>
    <if test="status !=null and status != ''">
        ,#{status}
    </if>
    <if test="tasks !=null and tasks != ''">
        ,cast(#{tasks} as json)
    </if>
    <if test="tasks ==null or tasks == ''">
        ,null
    </if>
    <if test="title !=null and title != ''">
        ,#{title}
    </if>
    <if test="processcode !=null and processcode != ''">
        ,#{processcode}
    </if>
    ,LOCALTIMESTAMP)
    </insert>
    <update id="update" parameterType="DdspjlDto">
    update igams_ddspjl set
        processinstanceid=#{processinstanceid}
        <if test="attachedprocessinstanceids !=null and attachedprocessinstanceids != ''">
            ,attachedprocessinstanceids = cast(#{attachedprocessinstanceids} as json)
        </if>
        <if test="attachedprocessinstanceids ==null or attachedprocessinstanceids == ''">
            ,null
        </if>
        <if test="bizaction !=null and bizaction != ''">
            ,bizaction = #{bizaction}
        </if>
        <if test="bizdata !=null and bizdata != ''">
            ,bizdata = #{bizdata}
        </if>
        <if test="businessid !=null and businessid != ''">
            ,businessid = #{businessid}
        </if>
        <if test="ccuserids !=null and ccuserids != ''">
            ,ccuserids = cast(#{ccuserids} as json)
        </if>
        <if test="ccuserids ==null or ccuserids == ''">
            ,null
        </if>
        <if test="createtime !=null and createtime != ''">
            ,createtime = cast(#{createtime} as timestamp)
        </if>
        <if test="finishtime !=null and finishtime != ''">
            ,finishtime = cast(#{finishtime} as timestamp)
        </if>
        <if test="formcomponentvalues !=null and formcomponentvalues != ''">
            ,formcomponentvalues = cast(#{formcomponentvalues} as json)
        </if>
        <if test="formcomponentvalues ==null or formcomponentvalues == ''">
            ,null
        </if>
        <if test="operationrecords !=null and operationrecords != ''">
            ,operationrecords = cast(#{operationrecords} as json)
        </if>
        <if test="operationrecords ==null or operationrecords == ''">
            ,null
        </if>
        <if test="originatordeptid !=null and originatordeptid != ''">
            ,originatordeptid = #{originatordeptid}
        </if>
        <if test="originatordeptname !=null and originatordeptname != ''">
            ,originatordeptname = #{originatordeptname}
        </if>
        <if test="originatoruserid !=null and originatoruserid != ''">
            ,originatoruserid = #{originatoruserid}
        </if>
        <if test="result !=null and result != ''">
            ,result = #{result}
        </if>
        <if test="status !=null and status != ''">
            ,status = #{status}
        </if>
        <if test="tasks !=null and tasks != ''">
            ,tasks = cast(#{tasks} as json)
        </if>
        <if test="tasks ==null or tasks == ''">
            ,null
        </if>
        <if test="title !=null and title != ''">
            ,title = #{title}
        </if>
        <if test="processcode !=null and processcode != ''">
            ,processcode = #{processcode}
        </if>
        <where>
            processinstanceid = #{processinstanceid}
        </where>
    </update>
    <select id="filtrateDdslid" parameterType="DdspjlDto" resultType="String">
        select tmp.processinstanceid from
        <foreach collection="ids" open="(" close=")" separator="union all" item="item">
            select #{item} as processinstanceid
        </foreach>
        tmp
        left join igams_ddspjl ddspjl on ddspjl.processinstanceid = tmp.processinstanceid
        where ddspjl.processinstanceid is null
    </select>

    <insert id="insertList" parameterType="List">
        insert into igams_ddspjl(processinstanceid,attachedprocessinstanceids,bizaction,bizdata,businessid,ccuserids,createtime,finishtime,formcomponentvalues,operationrecords,originatordeptid,
        originatordeptname,originatoruserid,result,status,tasks,title,processcode,lrsj)values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (#{item.processinstanceid},
                <if test="item.attachedprocessinstanceids !=null and item.attachedprocessinstanceids != ''">
                    cast(#{item.attachedprocessinstanceids} as json),
                </if>
                <if test="item.attachedprocessinstanceids ==null or item.attachedprocessinstanceids == ''">
                    null,
                </if>
                #{item.bizaction},#{item.bizdata},#{item.businessid},
                <if test="item.ccuserids !=null and item.ccuserids != ''">
                    cast(#{item.ccuserids} as json),
                </if>
                <if test="item.ccuserids ==null or item.ccuserids == ''">
                    null,
                </if>
                cast(#{item.createtime} as timestamp),cast(#{item.finishtime} as timestamp),
                <if test="item.formcomponentvalues !=null and item.formcomponentvalues != ''">
                    cast(#{item.formcomponentvalues} as json),
                </if>
                <if test="item.formcomponentvalues ==null or item.formcomponentvalues == ''">
                    null,
                </if>
                <if test="item.operationrecords !=null and item.operationrecords != ''">
                    cast(#{item.operationrecords} as json),
                </if>
                <if test="item.operationrecords ==null or item.operationrecords == ''">
                    null,
                </if>
                #{item.originatordeptid},#{item.originatordeptname},#{item.originatoruserid},#{item.result},#{item.status},
                <if test="item.tasks !=null and item.tasks != ''">
                    cast(#{item.tasks} as json),
                </if>
                <if test="item.tasks ==null or item.tasks == ''">
                    null,
                </if>
                #{item.title},#{item.processcode},LOCALTIMESTAMP)
            </foreach>
        </if>
    </insert>

    <select id="getDtoById" parameterType="String" resultType="DdspjlDto">
        select ddspjl.processinstanceid,ddspjl.attachedprocessinstanceids,ddspjl.bizaction,ddspjl.bizdata,ddspjl.businessid,ddspjl.ccuserids,
            ddspjl.createtime,ddspjl.finishtime,ddspjl.formcomponentvalues,ddspjl.operationrecords,ddspjl.originatordeptid,ddspjl.originatordeptname,
            ddspjl.originatoruserid,ddspjl.result,ddspjl.status,ddspjl.tasks,ddspjl.title,ddspjl.lrsj,ddspjl.processcode
        from igams_ddspjl ddspjl
        where ddspjl.processinstanceid=#{processinstanceid}
    </select>

    <select id="getPagedDtoList" parameterType="DdspjlDto" resultType="DdspjlDto">
        select ddspjl.processinstanceid,ddspjl.attachedprocessinstanceids,ddspjl.bizaction,ddspjl.bizdata,ddspjl.businessid,ddspjl.ccuserids,
            ddspjl.createtime,ddspjl.finishtime,ddspjl.formcomponentvalues,ddspjl.operationrecords,ddspjl.originatordeptid,ddspjl.originatordeptname,
            ddspjl.originatoruserid,ddspjl.result,ddspjl.status,ddspjl.tasks,ddspjl.title,ddspjl.lrsj,ddspjl.processcode,jcsj.cskz1 as splx,tmp.zsxm
        from igams_ddspjl ddspjl
        left join matridx_jcsj jcsj on jcsj.csmc = ddspjl.processcode and jcsj.jclb='APPROVAL_SYNCHRONIZATION_PERMISSIONS'
        left join(select zsxm,ddid,ROW_NUMBER() OVER (PARTITION BY ddid ORDER BY ddid) AS rn
                    from matridx_xtyh)tmp on tmp.ddid=ddspjl.originatoruserid and tmp.rn = 1
        <where>
            1=1
            <if test="entire != null and entire != ''">
                and (
                ddspjl.originatordeptname ILIKE '%'||#{entire}||'%'
                or tmp.zsxm ILIKE '%'||#{entire}||'%'
                or ddspjl.title ILIKE '%'||#{entire}||'%'
                )
            </if>
            <if test="originatordeptname != null and originatordeptname != ''">
                and ddspjl.originatordeptname ILIKE '%'||#{originatordeptname}||'%'
            </if>
            <if test="zsxm != null and zsxm != ''">
                and tmp.zsxm ILIKE '%'||#{zsxm}||'%'
            </if>
            <if test="title != null and title != ''">
                and ddspjl.title ILIKE '%'||#{title}||'%'
            </if>
            <if test="createStart != null and createStart != ''">
                and to_char(ddspjl.createtime,'yyyy-mm-dd') &gt;= #{createStart}
            </if>
            <if test="createEnd != null and createEnd != ''">
                and to_char(ddspjl.createtime,'yyyy-mm-dd') &lt;= #{createEnd}
            </if>
            <if test="finishStart != null and finishStart != ''">
                and to_char(ddspjl.finishtime,'yyyy-mm-dd') &gt;= #{finishStart}
            </if>
            <if test="finishEnd != null and finishEnd != ''">
                and to_char(ddspjl.finishtime,'yyyy-mm-dd') &lt;= #{finishEnd}
            </if>
            <if test = "splxs != null and splxs.length > 0 "  >
                and jcsj.csid in
                <foreach collection="splxs" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>