<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IDsrwszDao" >
	<!-- 获取物料信息列表 -->
	<select id="getDtoList" parameterType="DsrwszDto" resultType="DsrwszDto">
		select dsrwsz.rwid,dsrwsz.rwmc,dsrwsz.dsxx,dsrwsz.zxl,dsrwsz.zxff,dsrwsz.cs
				,dsrwsz.lrry,dsrwsz.lrsj,dsrwsz.xgry,dsrwsz.xgsj,dsrwsz.scbj,remindtype
			from matridx_dsrwsz dsrwsz
			<where>
				dsrwsz.scbj !='1' 
				<if test="rwid !=null and rwid !=''">
					and rwid = #{rwid}
				</if>
				<if test="remindtype !=null and remindtype !=''">
					and POSITION(remindtype in #{remindtype}) > 0
				</if>
			</where>
	</select>

	<!-- 用户限制-->
	<select id="getDsrwListByLimt" parameterType="DsrwszDto" resultType="DsrwszDto">
		select dsrwsz.rwid,dsrwsz.rwmc,dsrwsz.dsxx,dsrwsz.zxl,dsrwsz.zxff,dsrwsz.cs
		,dsrwsz.lrry,dsrwsz.lrsj,dsrwsz.xgry,dsrwsz.xgsj,dsrwsz.scbj,remindtype
		from matridx_dsrwsz dsrwsz
		<where>
			dsrwsz.scbj!='1'
			and dsrwsz.rwid in (select rwid from matridx_dsrwqx where yhid = #{yhid} or jsid =#{jsid})
			<if test="rwmc !=null and rwmc != ''">
				and dsrwsz.rwmc like '%'||#{rwmc}||'%'
			</if>
		</where>
	</select>
	<!-- 获取物料信息列表 -->
	<select id="getDto" parameterType="DsrwszDto" resultType="DsrwszDto">
		select dsrwsz.rwid,dsrwsz.rwmc,dsrwsz.dsxx,dsrwsz.zxl,dsrwsz.zxff,dsrwsz.cs
				,dsrwsz.lrry,dsrwsz.lrsj,dsrwsz.xgry,dsrwsz.xgsj,dsrwsz.scbj,remindtype
			from matridx_dsrwsz dsrwsz
			<where>
				dsrwsz.scbj !='1' 
				<if test="rwid !=null and rwid !=''">
					and rwid = #{rwid}
				</if>
			</where>
	</select>
	<!-- 获取定时任务列表 -->
	<select id="getPagedDtoList" parameterType="DsrwszDto" resultType="DsrwszDto">
		select rwid,rwmc,dsxx,zxl,zxff,cs,lrry,lrsj,xgry,xgsj,scbj,scry,scsj,remindtype
		from matridx_dsrwsz
		<where>
		scbj != '1'
			<if test="rwmc !=null and rwmc !=''">
			and rwmc like '%'||#{rwmc}||'%'
			</if>
			<if test="dsxx !=null and dsxx !=''">
			and dsxx like '%'||#{dsxx}||'%'
			</if>
			<if test="zxl !=null and zxl !=''">
			and zxl like '%'||#{zxl}||'%'
			</if>
			<if test="zxff !=null and zxff !=''">
			and zxff like '%'||#{zxff}||'%'
			</if>
		</where>
	</select>
	<!-- 根据任务id查询定时任务信息 -->
	<select id="selectDsrwxxByRwid" parameterType="DsrwszDto" resultType="DsrwszDto">
		select rwid,rwmc,dsxx,zxl,zxff,cs,lrry,lrsj,xgry,xgsj,scbj,scry,scsj,remindtype
		from matridx_dsrwsz
		<where>
			scbj != '1'
			<if test="rwid !=null and rwid !=''">
				and rwid=#{rwid}
			</if>
		</where>
	</select>
	<!-- 通过执行类和执行方法 -->
	<select id="getDsrwByZxlAndZxff" parameterType="DsrwszDto" resultType="DsrwszDto">
		select rwid,rwmc,dsxx,zxl,zxff,cs,lrry,lrsj,xgry,xgsj,scbj,scry,scsj,remindtype
		from matridx_dsrwsz
		<where>
			scbj != '1'
			and zxl=#{zxl}
			and zxff =#{zxff}
		</where>
	</select>
	<!-- 新增定时任务 -->
	<insert id="insert" parameterType="DsrwszDto">
		insert into matridx_dsrwsz(rwid,
		<if test="rwmc !=null and rwmc != ''">
		rwmc,
		</if>
		<if test="dsxx !=null and dsxx != ''">
		dsxx,
		</if>
		<if test="zxl !=null and zxl != ''">
		zxl,
		</if>
		<if test="zxff !=null and zxff != ''">
		zxff,
		</if>
		<if test="cs !=null and cs != ''">
		cs,
		</if>
		<if test="remindtype !=null and remindtype != ''">
			remindtype,
		</if>
		lrry,lrsj,scbj
		)
		values(#{rwid},
		<if test="rwmc !=null and rwmc != ''">
		#{rwmc},
		</if>
		<if test="dsxx !=null and dsxx != ''">
		#{dsxx},
		</if>
		<if test="zxl !=null and zxl != ''">
		#{zxl},
		</if>
		<if test="zxff !=null and zxff != ''">
		#{zxff},
		</if>
		<if test="cs !=null and cs != ''">
		#{cs},
		</if>
		<if test="remindtype !=null and remindtype != ''">
			#{remindtype},
		</if>
		#{lrry},LOCALTIMESTAMP,'0'
		)
	</insert>
	<!-- 编辑定时任务信息 -->
	<update id="updateDsxx" parameterType="DsrwszDto">
	update matridx_dsrwsz 
	<set>
	<if test="rwmc !=null and rwmc != ''">
	rwmc=#{rwmc},
	</if>
	<if test="dsxx !=null and dsxx != ''">
	dsxx=#{dsxx},
	</if>
	<if test="zxl !=null and zxl != ''">
	zxl=#{zxl},
	</if>
	<if test="zxff !=null and zxff != ''">
	zxff=#{zxff},
	</if>
	<if test="cs !=null ">
	cs=#{cs},
	</if>
		<if test="remindtype !=null and remindtype != ''">
			remindtype=#{remindtype},
		</if>
		<if test="remindtype !=null and remindtype == ''">
			remindtype=null,
		</if>
	xgry=#{xgry},xgsj=LOCALTIMESTAMP
	</set>
	<where>
	rwid=#{rwid}
	</where>
	</update>
<!--	根据执行类和方法名来更新数据-->
	<update id="updateByClassAndName" parameterType="DsrwszDto">
		update matridx_dsrwsz
		<set>
			<if test="rwmc !=null and rwmc != ''">
				rwmc=#{rwmc},
			</if>
			<if test="dsxx !=null and dsxx != ''">
				dsxx=#{dsxx},
			</if>
			<if test="zxl !=null and zxl != ''">
				zxl=#{zxl},
			</if>
			<if test="zxff !=null and zxff != ''">
				zxff=#{zxff},
			</if>
			<if test="cs !=null ">
				cs=#{cs},
			</if>
			<if test="remindtype !=null and remindtype != ''">
				remindtype=#{remindtype},
			</if>
			<if test="remindtype !=null and remindtype == ''">
				remindtype=null,
			</if>
			<if test="scbj !=null and scbj != ''">
				scbj=#{scbj},
			</if>
		</set>
		<where>
			zxl=#{zxl} and zxff=#{zxff} and cs=#{cs}
		</where>
	</update>
	<!-- 通过定时任务ID删除定时任务信息 -->
	<update id="deleteByRwid" parameterType="DsrwszDto">
		update matridx_dsrwsz set scry=#{scry},scsj=LOCALTIMESTAMP,scbj='1'
		<where>
			<if test="rwid !=null and rwid !=''">
	 			or rwid = #{rwid}
	 		</if>
	 	  	<if test="ids !=null and ids.size>0">
	 	  	  	or rwid in
	 	  	  		<foreach collection="ids" open="(" close=")" separator="," item="item">
	 	  	  			 #{item}
	 	  	  		</foreach>
	 	  	</if>
		</where>
	</update>

	<select id="queryByRwid" parameterType="DsrwszDto" resultType="DsrwszDto">
		select ds.rwid,ds.rwmc
		from matridx_dsrwsz ds
		<where>
			<if test="rwids !=null and rwids.size > 0">
				ds.rwid in
				<foreach collection="rwids" open="(" close=")"
						 separator="," item="items">
					#{items}
				</foreach>
			</if>
		</where>
	</select>
</mapper>
