<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IDxglDao" >
    <!--新增短信管理信息-->
    <insert id="insertDxgl">
        insert into igams_dxgl (sjh,yzm,fssj,fscs)
        values(#{sjh},#{yzm},LOCALTIMESTAMP,cast(#{fscs} as numeric))
    </insert>

    <!--更新短信管理信息-->
    <update id="updateDxgl">
        update igams_dxgl
        <set>
            fssj=LOCALTIMESTAMP
            <if test="fscs != null and fscs != ''">
                ,fscs = cast(#{fscs} as numeric)
            </if>
            <if test="yzm != null and yzm != ''">
                ,yzm = #{yzm}
            </if>
        </set>
        where sjh = #{sjh}
    </update>

    <!--根据手机号获取当天短信管理信息-->
    <select id="getDxglBySjhToday" resultType="DxglDto">
        select sjh,fssj,fscs,yzm,fszh from igams_dxgl where sjh = #{sjh} and to_char( fssj, 'yyyy-MM-dd' ) = to_char(LOCALTIMESTAMP,'yyyy-MM-DD')
    </select>

    <!--根据手机号获取当天短信管理信息-->
    <select id="getDxglBySjh" resultType="DxglDto">
        select sjh,fssj,fscs,yzm,fszh from igams_dxgl where sjh = #{sjh}
    </select>
</mapper>
