<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IFjcfbDao" >
	<!-- 插入附件信息 -->
	<insert id="insert" parameterType="FjcfbModel">
		insert into matridx_fjcfb(fjid
		<if test="ywid !=null and ywid != ''">
			,ywid
		</if>
		<if test="zywid !=null and zywid != ''">
			,zywid
		</if>
		<if test="ywlx !=null and ywlx != ''">
			,ywlx
		</if>
		<if test="xh !=null and xh != ''">
			,xh
		</if>
		<if test="fq !=null and fq != ''">
			,fq
		</if>
		<if test="wjm !=null and wjm != ''">
			,wjm
		</if>
		<if test="wjlj !=null and wjlj != ''">
			,wjlj
		</if>
		<if test="zhbj !=null and zhbj != ''">
			,zhbj
		</if>
		<if test="fwjlj !=null and fwjlj != ''">
			,fwjlj
		</if>
		<if test="fwjm !=null and fwjm != ''">
			,fwjm
		</if>
		<if test="lyid !=null and lyid != ''">
			,lyid
		</if>
		<if test="zhcs !=null and zhcs != ''">
			,zhcs
		</if>
		,scbj,lrsj,lrry) values(#{fjid}
		<if test="ywid !=null and ywid != ''">
			,#{ywid}
		</if>
		<if test="zywid !=null and zywid != ''">
			,#{zywid}
		</if>
		<if test="ywlx !=null and ywlx != ''">
			,#{ywlx}
		</if>
		<if test="xh !=null and xh != ''">
			,cast(#{xh} as numeric)
		</if>
		<if test="fq !=null and fq != ''">
			,#{fq}
		</if>
		<if test="wjm !=null and wjm != ''">
			,#{wjm}
		</if>
		<if test="wjlj !=null and wjlj != ''">
			,#{wjlj}
		</if>
		<if test="zhbj !=null and zhbj != ''">
			,#{zhbj}
		</if>
		<if test="fwjlj !=null and fwjlj != ''">
			,#{fwjlj}
		</if>
		<if test="fwjm !=null and fwjm != ''">
			,#{fwjm}
		</if>
		<if test="lyid !=null and lyid != ''">
			,#{lyid}
		</if>
		<if test="zhcs !=null and zhcs != ''">
			,cast(#{zhcs} as numeric)
		</if>
		,'0',LOCALTIMESTAMP,#{lrry})
	</insert>

	<!-- 插入附件信息 -->
	<update id="update" parameterType="FjcfbModel">
		update matridx_fjcfb set
		scbj = 0
		<if test="wjlj !=null and wjlj != ''">
			,wjlj = #{wjlj}
		</if>
		<if test="zhbj !=null and zhbj != ''">
			,zhbj = #{zhbj}
		</if>
		<if test="fwjlj !=null and fwjlj != ''">
			,fwjlj = #{fwjlj}
		</if>
		<if test="fwjm !=null and fwjm != ''">
			,fwjm = #{fwjm}
		</if>
		<if test="zhcs !=null and zhcs != ''">
			,zhcs = cast(#{zhcs} as numeric)
		</if>
		where fjid = #{fjid}
	</update>
	
	<update id="updateFjljFail" parameterType="FjcfbModel">
    	update matridx_fjcfb set zhbj = '0',zhcs = coalesce(zhcs,0)+1
    	<if test="wjm != null and wjm != ''">
			,wjm=#{wjm}
		</if>
		<if test="wjlj != null and wjlj != ''">
			,wjlj=#{wjlj}
		</if>
		<if test="fwjlj != null and fwjlj != ''">
			,fwjlj=#{fwjlj}
		</if>
		<if test="fwjm != null and fwjm != ''">
			,fwjm=#{fwjm}
		</if>
    	 where fjid = #{fjid}
    </update>
    <update id="updateZhwjxx" parameterType="FjcfbModel" >
    	update matridx_fjcfb set zhbj = '1',zhcs = coalesce(zhcs,0)+1
    	<if test="zhwjxx !=null and zhwjxx !=''">
    		,zhwjxx=#{zhwjxx}
    	</if>
    	 where fjid = #{fjid}
    </update>
    <select id="getModelListByYwid" parameterType="FjcfbDto" resultType="FjcfbModel">
    	select fjid,ywid,zywid,ywlx,xh,fq,wjm,wjlj,zhbj,fwjlj,fwjm,lyid,zhcs,scry,scsj,scbj 
    	from matridx_fjcfb
    	<where>
    		<if test="ywid !=null and ywid != ''">
				and ywid = #{ywid}
			</if>
			<if test = "ywlxs != null and ywlxs.size > 0 "  >
				 and ywlx in 
				<foreach collection="ywlxs" separator="," open="(" close=") "
				item="item" index="index">
					#{item}
				</foreach>
			</if>
    	</where>
    </select>
    <select id="selectFjcfbDtoByYwidsAndYwlx" parameterType="FjcfbDto" resultType="FjcfbDto">
    	select fjid,ywid,zywid,ywlx,xh,fq,wjm,wjlj,zhbj,fwjlj,fwjm,lyid,zhcs,scry,scsj,scbj 
    	from matridx_fjcfb
    	<where>
    		scbj != '1'
    		<if test="ywlx !=null and ywlx != ''">
				and ywlx = #{ywlx}
			</if>
			<if test = "ywids != null and ywids.size > 0 "  >
				 and ywid in
				<foreach collection="ywids" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>
			<if test = "ywid != null and ywid != '' "  >
				and ywid = #{ywid}
			</if>
    	</where>
    </select>
    <select id="getModel" parameterType="FjcfbModel" resultType="FjcfbModel">
    	select fjid,ywid,zywid,ywlx,xh,fq,wjm,wjlj,zhbj,fwjlj,fwjm,lyid,zhcs,yswjlj,yswjm,scry,scsj,scbj,zhwjxx,lrsj
    	from matridx_fjcfb
    	<where>
    		<if test="fjid !=null and fjid != ''">
				and fjid = #{fjid}
			</if>
    		<if test="ywid !=null and ywid != '' and ywid != 'null'.toString">
				and ywid = #{ywid}
			</if>
    	</where>
    </select>
    
    <select id="getDto" parameterType="FjcfbDto" resultType="FjcfbDto">
    	select fjid,ywid,zywid,ywlx,xh,fq,wjm,wjlj,zhbj,fwjlj,fwjm,lyid,zhcs,yswjlj,yswjm,scry,scsj,scbj,zhwjxx ,lrsj
    	from matridx_fjcfb
    	<where>
    	scbj='0'
    		<if test="fjid !=null and fjid != ''">
				and fjid = #{fjid}
			</if>
			<if test="ywid !=null and ywid !=''">
				and ywid = #{ywid}
			</if>
			<if test="ywlx !=null and ywlx !=''">
				and ywlx = #{ywlx}
			</if>
			<if test="wjm !=null and wjm !=''">
				and wjm like '%'||#{wjm}||'%'
			</if>
    	</where>
    </select>

    <select id="getDtoWithScbjNotOne" parameterType="FjcfbDto" resultType="FjcfbDto">
    	select fjid,ywid,zywid,ywlx,xh,fq,wjm,wjlj,zhbj,fwjlj,fwjm,lyid,zhcs,yswjlj,yswjm,scry,scsj,scbj,zhwjxx ,lrsj
    	from matridx_fjcfb
    	<where>
    	scbj !='1'
    		<if test="fjid !=null and fjid != ''">
				and fjid = #{fjid}
			</if>
			<if test="ywid !=null and ywid !=''">
				and ywid = #{ywid}
			</if>
			<if test="ywlx !=null and ywlx !=''">
				and ywlx = #{ywlx}
			</if>
    	</where>
    </select>
    
    <select id="getDtoList" parameterType="FjcfbDto" resultType="FjcfbDto">
    	select fjid,ywid,zywid,ywlx,xh,fq,wjm,wjlj,zhbj,fwjlj,fwjm,lyid,zhcs,yswjlj,yswjm,scry,scsj,scbj,zhwjxx 
    	from matridx_fjcfb
    	<where>
    		<if test="fjid !=null and fjid != ''">
				and fjid = #{fjid}
			</if>
			<if test="ywid !=null and ywid !=''">
				and ywid = #{ywid}
			</if>
			<if test="ywlx !=null and ywlx !=''">
				and ywlx = #{ywlx}
			</if>
			<if test="ids !=null and ids.size > 0 ">
				and fjid in
				<foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>

    	</where>
    	order by xh asc
    </select>
    
    <!-- 查询不重复下一个序号 -->
	<select id="getDRNextSeqNum" parameterType="FjcfbModel" resultType="java.lang.String">
		select decode(max(xh),null,0, max(xh) + 1) 
		  from srm_fjcfb
		 where ywid = #{ywid}
		<if test="ywlx != null and ywlx != ''">
			and ywlx = #{ywlx}
   		</if>
		<if test="ywlxs != null and ywlxs.size > 0 ">
			and ywlx in 
			<foreach collection="ywlxs" separator="," open="(" close=") "
			item="item" index="index">
				#{item}
			</foreach>
   		</if>
    </select>
    
    <update id="updateSeqNum" parameterType="FjcfbModel">
    	update matridx_fjcfb fj2
		   set fj2.xh =
		       (select b.rn-1
		          from (select rownum rn, fj.ywid, fj.ywlx, fj.fjid
		                  from srm_fjcfb fj
		                 where 1=1
		                 <if test="ywid != null and ywid != ''">
		                  	and fj.ywid = #{ywid}
		                  </if>
		                  <if test="ywlx != null and ywlx != ''">
		                   	and fj.ywlx = #{ywlx}
		                   </if>
		                 order by xh asc) b
		         where fj2.fjid = b.fjid
		           and fj2.ywlx = b.ywlx
		           and fj2.fjid = b.fjid)
		 where 1=1
		 <if test="ywid != null and ywid != ''">
		   and fj2.ywid = #{ywid}
		 </if>
		 <if test="ywlx != null and ywlx != ''">
		   and fj2.ywlx = #{ywlx}
		 </if>
    </update>
    
	<!-- 根据附件ID删除附件 -->
    <update id="delete" parameterType="FjcfbModel">
    	delete from matridx_fjcfb where fjid = #{fjid}
    </update>
    
    <!-- 根据附件ID删除附件 -->
    <update id="deleteByFjid" parameterType="FjcfbDto">
    	update matridx_fjcfb set scbj ='1',scry=#{scry},scsj=LOCALTIMESTAMP where fjid = #{fjid}
    </update>

	<!-- 根据业务ID和业务类型删修改删除标记，单独用，还需要筛选出文件名包含.pdf的 -->
	<update id="updateScbjYwidAndYwlxd" parameterType="FjcfbDto">
		update matridx_fjcfb set scbj ='1',scsj=LOCALTIMESTAMP where ywid = #{ywid}
		and ywlx = #{ywlx}
		and wjm like '%.pdf%'
	</update>
    
    <!-- 根据业务ID和业务类型删除附件信息 -->
    <update id="deleteByYwidAndYwlx" parameterType="FjcfbModel">
    	delete from matridx_fjcfb
		<where>
			ywid = #{ywid} 
			and ywlx = #{ywlx}
			<if test="ids !=null and ids.size > 0 ">
				and fjid in
				<foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>
			<if test="ids ==null or ids.size == 0 ">
				<if test="fjid !=null and fjid !=''">
					and fjid !=#{fjid}
				</if>
			</if>
		</where> 
    </update>
	<update id="deleteByYwidsAndYwlx" parameterType="FjcfbDto">
		delete from matridx_fjcfb
		<where>
			ywlx = #{ywlx}
			and ywid in
			<foreach collection="ywids" separator="," open="(" close=")" item="item" index="index">
				#{item}
			</foreach>
		</where>
	</update>
    <!-- 根据业务ID查询附件表信息 -->
	<select id="selectFjcfbDtoByYwid" parameterType="String" resultType="FjcfbDto">
		select fjcfb.ywlx,fjcfb.wjm,fjcfb.wjlj,fjcfb.fjid
			from matridx_fjcfb fjcfb
			<where>
				fjcfb.scbj !='1' and fjcfb.ywid= #{ywid}
			</where>
		ORDER BY lrsj desc
	</select>
	
	
	<!-- 根据附件IDS查询附件表信息 -->
	<select id="selectFjcfbDtoByFjids" parameterType="FjcfbDto" resultType="FjcfbDto">
		select fjcfb.ywlx,fjcfb.wjm,fjcfb.wjlj,fjcfb.fjid,fjcfb.ywid,fjcfb.zhbj,fjcfb.fwjlj,fjcfb.fwjm,fjcfb.Zywid
			from matridx_fjcfb fjcfb
			<where>
				fjcfb.scbj !='1' 
				<if test="ywlx !=null and ywlx !=''">
					and ywlx=#{ywlx}
				</if>
				<if test="fjids != null and fjids.size > 0 ">
					and fjid in
					<foreach collection="fjids" close=")" open="(" item="item" index="index"  separator=",">
						#{item}
					</foreach>
				</if>
			</where>
	</select>

	<select id="getFjcfbDtoByYwid" parameterType="String" resultType="FjcfbDto">
		select fjcfb.ywlx,fjcfb.wjm,fjcfb.wjlj,fjcfb.fjid,fjcfb.scbj
		from matridx_fjcfb fjcfb
		<where>
			fjcfb.scbj !='1' and fjcfb.ywid= #{ywid}
		</where>
		order by scbj asc, lrsj asc
	</select>
	<!-- 根据业务ID和业务类型查询附件表信息 -->
	<select id="selectFjcfbDtoByYwidAndYwlx" parameterType="FjcfbDto" resultType="FjcfbDto">
		select fjcfb.ywlx,fjcfb.wjm,fjcfb.wjlj,fjcfb.fjid,fjcfb.ywid,fjcfb.zhwjxx,fjcfb.fwjm,fjcfb.fwjlj,fjcfb.lrsj,lrry.zsxm lrrymc
			from matridx_fjcfb fjcfb
			left join matridx_xtyh lrry on fjcfb.lrry = lrry.yhid
			<where>
				fjcfb.scbj !='1' and fjcfb.ywid= #{ywid} 
				and fjcfb.zywid is null
				<if test="ywlx !=null and ywlx !=''">
					and ywlx=#{ywlx}
				</if>
				<if test="ywlxs != null and ywlxs.size > 0 ">
				   and fjcfb.ywlx in
				   <foreach collection="ywlxs" separator="," open="(" close=")" item="item" index="index">
				   	#{item}
				   </foreach>
				 </if>
			</where>
		order by fjcfb.lrsj DESC
	</select>
	<!-- 根据业务ID和业务类型查询附件表信息,增加排序 -->
	<select id="selectFjcfbDtoByYwidAndYwlxOrderByYwlx" parameterType="FjcfbDto" resultType="FjcfbDto">
		select fjcfb.ywlx,fjcfb.wjm,fjcfb.wjlj,fjcfb.fjid,fjcfb.ywid,fjcfb.zhwjxx,fjcfb.fwjm,fjcfb.fwjlj
		from matridx_fjcfb fjcfb
		<where>
			fjcfb.scbj !='1' and fjcfb.ywid= #{ywid}
			and fjcfb.zywid is null
			<if test="ywlx !=null and ywlx !=''">
				and ywlx=#{ywlx}
			</if>
			<if test="ywlxs != null and ywlxs.size > 0 ">
				and fjcfb.ywlx in
				<foreach collection="ywlxs" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>
		</where>
        order by fjcfb.ywlx
	</select>


	<!-- 根据业务ID和业务类型查询附件表信息,增加排序 -->
	<select id="getPagedDtoList" parameterType="FjcfbDto" resultType="FjcfbDto">
		select fjcfb.ywlx,fjcfb.wjm,fjcfb.wjlj,fjcfb.fjid,fjcfb.ywid,fjcfb.zhwjxx,fjcfb.fwjm,fjcfb.fwjlj,'/ws/file/getPubFileInfo?fjid=' || fjcfb.fjid as url
		from matridx_fjcfb fjcfb
		<where>
			fjcfb.scbj !='1'
			and fjcfb.zywid is null
			<if test="ywlx !=null and ywlx !=''">
				and ywlx=#{ywlx}
			</if>
		</where>
	</select>
	<!-- 根据业务ID删除附件 -->
    <update id="deleteByYwid" parameterType="FjcfbModel">
    	delete from matridx_fjcfb where ywid = #{ywid}
    </update>
    
    <!-- 根据附件ID更新转换标记 -->
    <update id="updateZhbj" parameterType="FjcfbModel">
    	update matridx_fjcfb set zhbj = '1'
    	<where>
			<if test="ids != null and ids.size > 0 ">
				and fjid in
				<foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>
			<if test="ids == null or ids.size == 0 ">
				<if test="fjid != null and fjid != ''">
					and fjid = #{fjid}
				</if>
			</if>
		</where>
    </update>
    
    <!-- 附件排序 -->
    <update id="fileSort" parameterType="FjcfbDto">
   	    update matridx_fjcfb fj set xh =
		( select cn from
		( select fjid,row_number() over(order by fjid) cn from matridx_fjcfb where ywid = #{ywid} and ywlx = #{ywlx} and scbj != '1') t 
		 where t.fjid = fj.fjid)
		where ywid = #{ywid} and ywlx = #{ywlx} and scbj != '1'
    </update>
	<!-- 查询没有转pdf的word文件 -->
	<select id="selectWord" resultType="FjcfbDto">
		select fjid,ywlx,zhwjxx,wjm,wjlj,fwjlj,fwjm,zhbj FROM matridx_fjcfb 
		where ywlx='IMP_DOCUMENT'  
		and zhbj='0' and (wjm like '%.doc' or wjm like '%.docx' or wjm like '%.xls' or wjm like '%.xlsx')
	</select>
	<!-- 查询是否有转换为pdf的文件 -->
	<select id="selectzhpdf" parameterType="FjcfbDto" resultType="FjcfbDto">
		select fjid,ywlx,zhwjxx,wjm,wjlj,fwjlj,fwjm,zhbj FROM matridx_fjcfb 
		where 
		wjlj is not null
		and ywid=#{ywid}
		<if test="ywlx != null and ywlx!=''">
			and  ywlx=#{ywlx}
		</if>
		<if test="ywlxs != null and ywlxs.size > 0 ">
			and ywlx in
			<foreach collection="ywlxs" separator="," open="(" close=")" item="item" index="index">
				#{item}
			</foreach>
		</if>
	</select>
	<!-- 根据业务ID和序号查询 -->
	<select id="getListByYwidAndXh" parameterType="java.util.List" resultType="FjcfbDto">
		select fj.fjid,tp.xh xh
		from(
			<foreach collection="list" separator=" union all " open="" close="" item="item" index="index">
				select #{item.ywid} ywid, #{item.xh} xh
			</foreach>
		) tp
		left join matridx_fjcfb fj on fj.ywid = tp.ywid
	</select>
	<!-- 替换文件 -->
	<update id="replaceFile" parameterType="FjcfbModel">
		update matridx_fjcfb set
		scbj = 0
		<if test="wjlj !=null and wjlj != ''">
			,wjlj = #{wjlj}
		</if>
		<if test="fwjlj !=null and fwjlj != ''">
			,fwjlj = #{fwjlj}
		</if>
		<if test="wjm !=null and wjm != ''">
			,wjm = #{wjm}
		</if>
		<if test="fwjm !=null and fwjm != ''">
			,fwjm = #{fwjm}
		</if>
		<if test="yswjm !=null and yswjm != ''">
			,yswjm = #{yswjm}
		</if>
		<if test="yswjlj !=null and yswjlj != ''">
			,yswjlj = #{yswjlj}
		</if>
		<if test="zhwjxx !=null and zhwjxx != ''">
			,zhwjxx = #{zhwjxx}
		</if>
		where fjid = #{fjid}
	</update>
	<!-- 根据fjids删除附件信息 -->
	<delete id="delByFjids" parameterType="FjcfbDto">
		delete from matridx_fjcfb
		<where>
		fjid in
			<foreach collection="fjids" close=")" open="(" item="item" index="index">
				#{item}
			</foreach>
		</where>
	</delete>
	<!-- 根据业务ID和子业务ID查询附件信息 -->
	<select id="getListByZywid" parameterType="FjcfbDto" resultType="FjcfbDto">
		select fjid,ywlx,zhwjxx,wjm,wjlj,fwjlj,fwjm,zhbj 
			FROM matridx_fjcfb 
		where 
			wjlj is not null and ywid=#{ywid} and zywid = #{zywid}
	</select>
	<!-- 批量插入-->
	<insert id="batchInsertFjcfb" parameterType="list">
		insert into matridx_fjcfb (fjid, ywid, zywid, ywlx, xh, fq, wjm, wjlj, zhbj, fwjlj, fwjm, lyid, zhcs, scbj, lrsj)
		values
		<if test="list!=null and list.size()>0">
			<foreach collection="list" item="item" separator=",">
				(
				#{item.fjid}, #{item.ywid}, #{item.zywid}, #{item.ywlx}, cast(#{item.xh} as numeric), #{item.fq}, #{item.wjm},
				#{item.wjlj}, #{item.zhbj}, #{item.fwjlj}, #{item.fwjm}, #{item.lyid}, cast(#{item.zhcs} as numeric), 0 , LOCALTIMESTAMP
				)
			</foreach>
		</if>
	</insert>
	<!--	<update id="updateByYwidAndWjmhz" parameterType="list" >-->
	<!--		<foreach collection="list" open="" close="" item="item" index="index" separator=";">-->
	<!--			update matridx_fjcfb set wjm = #{item.wjm},wjlj = #{item.wjlj} ,fwjlj = #{item.fwjlj} ,fwjm = #{item.fwjm}-->
	<!--			where ywid = #{item.ywid}-->
	<!--			      and ywlx='IMP_VERIFIFCATION'-->
	<!--				  and wjm like 'AUTO_%'-->
	<!--			  	  and substr(wjm,length(wjm)-4,5)= #{item.wjmhz}-->
	<!--		</foreach>-->
	<!--	</update>-->
	<update id="updateByYwidAndWjmhz" parameterType="list" >
		<foreach collection="list" open="" close="" item="item" index="index" separator=";">
			update matridx_fjcfb set scsj=LOCALTIMESTAMP , scbj='2'
			where ywid = #{item.ywid}
			and ywlx='IMP_VERIFIFCATION'
			and scbj='0'
			and wjm like 'AUTO_%'
			and substr(wjm,length(wjm)-4,5)= #{item.wjmhz}
		</foreach>
	</update>
	<!-- 根据业务ID查询附件表信息 -->
	<select id="selectFjcfbDtoByIds" parameterType="FjcfbDto" resultType="FjcfbDto">
		select ywlx,wjm,wjlj,fjid,ywid
		from matridx_fjcfb
		<where>
			scbj !='1'
			<if test="ids != null and ids.size > 0 ">
				and ywid in
				<foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<select id="existFileInfo" parameterType="FjcfbDto" resultType="FjcfbDto">
		select tmp.zywid, case when count(fjcfb.fjid)>0 then '1' else '0' end sfcz from (
		<foreach item="item" index="index" collection="ywids"
				 separator=" union all ">
			select #{item,jdbcType=VARCHAR} zywid
		</foreach>
		) tmp
		left join matridx_fjcfb fjcfb on tmp.zywid = fjcfb.zywid and fjcfb.ywid = #{ywid} and fjcfb.scbj='0'
		group by tmp.zywid
	</select>

	<select id="getListByFilePaths" resultType="FjcfbDto" parameterType="Map">
		select fjid, ywid, zywid, ywlx, xh, fq, wjm, wjlj, zhbj, fwjlj, fwjm, lyid, zhcs, scbj, lrsj
		from matridx_fjcfb
		<where>
			<if test="fileTypes != null and fileTypes.size > 0 ">
				and (wjm is null or
				<foreach collection="fileTypes" separator="or" open="(" close=")" item="item" index="index">
					wjm like '%' || #{item}
				</foreach>
				)
			</if>
			<if test="ywlxs != null and ywlxs.size > 0 ">
				and ywlx in
				<foreach collection="ywlxs" separator="," open="(" close=")" item="item" index="index">
					#{item}
				</foreach>
			</if>
			<if test="startTime != null and startTime!= '' ">
				and lrsj >= cast(#{startTime} as timestamp)
 			</if>
		</where>
	</select>
</mapper>
