<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IGrbjDao" >
    <insert id="insert" parameterType="GrbjDto">
        INSERT INTO igams_grbj
        (grbjid, bj, rq, yhid, tbrc, jjcd)
        VALUES(#{grbjid}, #{bj}, cast(#{rq} as date), #{yhid}, #{tbrc}, #{jjcd});
    </insert>
    <select id="getDtoById" parameterType="String" resultType="GrbjDto">
        SELECT grbjid, bj, rq, yhid, tbrc, jjcd
        FROM igams_grbj
        where grbjid = #{grbjid}
    </select>
    <select id="getPagedDtoList" parameterType="GrbjDto" resultType="GrbjDto">
        SELECT grbjid, bj, rq, yhid, tbrc, jjcd
        FROM igams_grbj
        where yhid = #{yhid}
        <if test="rq != null and rq != ''">
            and rq = #{rq}
        </if>
        <if test="tbrc != null and tbrc != ''">
            and tbrc = #{tbrc}
        </if>
    </select>
    <select id="getDtoList" parameterType="GrbjDto" resultType="GrbjDto">
        SELECT grbjid, bj, rq, yhid, tbrc, jjcd
        FROM igams_grbj
        where yhid = #{yhid}
        <if test="rqM != null and rqM != ''">
            and to_char(rq,'yyyy-MM') = #{rqM}
        </if>
        <if test="rq != null and rq != ''">
            and rq = #{rq}
        </if>
        <if test="tbrc != null and tbrc != ''">
            and tbrc = #{tbrc}
        </if>
    </select>
    <update id="update" parameterType="GrbjDto">
        update igams_grbj set
        <if test="bj != null and bj != ''">
            bj = #{bj},
        </if>
        <if test="rq != null and rq != ''">
            rq = cast(#{rq} as date),
        </if>
        <if test="yhid != null and yhid != ''">
            yhid = #{yhid},
        </if>
        <if test="tbrc != null and tbrc != ''">
            tbrc=#{tbrc},
        </if>
        <if test="jjcd != null and jjcd != ''">
            jjcd=#{jjcd},
        </if>
        grbjid = #{grbjid}
        where grbjid = #{grbjid}
    </update>

    <delete id="delete" parameterType="GrbjDto">
        delete from  igams_grbj
        where grbjid = #{grbjid}
    </delete>

</mapper>
