<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IJkdymxDao" >

	<!-- 新增调用信息 -->
	<insert id="insert" parameterType="JkdymxDto" >
		insert into matridx_jkdymx(dyid
			<if test="lxqf !=null and lxqf !=''">
				,lxqf
			</if>
			<if test="dyfl !=null and dyfl !=''">
				,dyfl
			</if>
			<if test="dyzfl !=null and dyzfl !=''">
				,dyzfl
			</if>
			<if test="ywid !=null and ywid !=''">
				,ywid
			</if>
			<if test="dysj !=null and dysj !=''">
				,dysj
			</if>
			<if test="dydz !=null and dydz !=''">
				,dydz
			</if>
			<if test="nr !=null and nr !=''">
				,nr
			</if>
			<if test="fhsj !=null and fhsj !=''">
				,fhsj
			</if>
			<if test="fhnr !=null and fhnr !=''">
				,fhnr
			</if>
			<if test="qtxx !=null and qtxx !=''">
				,qtxx
			</if>
			<if test="sfcg !=null and sfcg !=''">
				,sfcg
			</if>
			<if test="zywid !=null and zywid !=''">
				,zywid
			</if>
			<if test="zxmid !=null and zxmid !=''">
				,zxmid
			</if>
		)values(#{dyid}
			<if test="lxqf !=null and lxqf !=''">
				,#{lxqf}
			</if>
			<if test="dyfl !=null and dyfl !=''">
				,#{dyfl}
			</if>
			<if test="dyzfl !=null and dyzfl !=''">
				,#{dyzfl}
			</if>
			<if test="ywid !=null and ywid !=''">
				,#{ywid}
			</if>
			<if test="dysj !=null and dysj !=''">
				,cast(#{dysj} as timestamp)
			</if>
			<if test="dydz !=null and dydz !=''">
				,#{dydz}
			</if>
			<if test="nr !=null and nr !=''">
				,#{nr}
			</if>
			<if test="fhsj !=null and fhsj !=''">
				,cast(#{fhsj} as timestamp)
			</if>
			<if test="fhnr !=null and fhnr !=''">
				,#{fhnr}
			</if>
			<if test="qtxx !=null and qtxx !=''">
				,#{qtxx}
			</if>
			<if test="sfcg !=null and sfcg !=''">
				,#{sfcg}
			</if>
			<if test="zywid !=null and zywid !=''">
				,#{zywid}
			</if>
			<if test="zxmid !=null and zxmid !=''">
				,#{zxmid}
			</if>
		)
	</insert>
	
	<!--  查询有word报告的送检信息 -->
	<select id="getListByYwid"  parameterType="String" resultType="JkdymxDto">
		select jkdymx.dyid, jkdymx.ywid, jkdymx.nr,jkdymx.zywid,jkdymx.zxmid
 		from matridx_jkdymx jkdymx
 		<where>
 			jkdymx.ywid = #{ywid}
 			and jkdymx.dyzfl='INVOKING_CHILD_REPORT'
  		</where>
  		order by jkdymx.dysj desc
	</select>

    <select id="getPageJkdymxDtoList" parameterType="JkdymxDto" resultType="JkdymxDto">
		SELECT dyid,lxqf,dysj,dydz,nr,fhsj,fhnr,qtxx,sfcg,ywid,dyfl,dyzfl FROM matridx_jkdymx
		<where>
			<if test="entire != null and entire != ''">
				and (
				lxqf ilike '%'||#{entire}||'%'
				or dydz ilike '%'||#{entire}||'%'
				or nr ilike '%'||#{entire}||'%'
				or ywid ilike '%'||#{entire}||'%'
				or dyfl ilike '%'||#{entire}||'%'
				)
			</if>
			<if test="lxqf !=null and lxqf != ''">
				and lxqf ilike '%'||#{lxqf}||'%'
			</if>
			<if test="dydz !=null and dydz != ''">
				and dydz ilike '%'||#{dydz}||'%'
			</if>
			<if test="nr !=null and nr != ''">
				and nr ilike '%'||#{nr}||'%'
			</if>
			<if test="ywid !=null and ywid != ''">
				and ywid ilike '%'||#{ywid}||'%'
			</if>
			<if test="dyfl !=null and dyfl != ''">
				and dyfl ilike '%'||#{dyfl}||'%'
			</if>
		</where>
	</select>
	<select id="getDtoById" parameterType="String" resultType="JkdymxDto">
		SELECT dyid,lxqf,dysj,dydz,nr,fhsj,fhnr,qtxx,sfcg,ywid,dyfl,dyzfl FROM matridx_jkdymx
		where dyid = #{dyid}
	</select>

	<select id="getSearchItems" parameterType="String" resultType="String">
		SELECT
		<if test="key !=null and key != ''">
			<if test="key == 'lxqf'">
				lxqf
			</if>
			<if test="dyfl == 'dyfl'">
				dyfl
			</if>
		</if>
		FROM matridx_jkdymx
		group by
		<if test="key !=null and key != ''">
			<if test="key == 'lxqf'">
				lxqf
			</if>
			<if test="dyfl == 'dyfl'">
				dyfl
			</if>
		</if>
	</select>

	<select id="selectReportInfo" parameterType="JkdymxDto" resultType="JkdymxDto">
		select jkdymx.dyid, jkdymx.ywid, jkdymx.nr,jkdymx.zywid
		from matridx_jkdymx jkdymx
		<where>
			jkdymx.ywid = #{ywid}
			<if test="zywid !=null and zywid != ''">
				and jkdymx.zywid = #{zywid}
			</if>
			<if test="lxqf !=null and lxqf != ''">
				and jkdymx.lxqf = #{lxqf}
			</if>
			<if test="dyfl !=null and dyfl != ''">
				and jkdymx.dyfl = #{dyfl}
			</if>
			<if test="dyzfl !=null and dyzfl != ''">
				and jkdymx.dyzfl = #{dyzfl}
			</if>
			<if test="dydz !=null and dydz !=''">
				and jkdymx.dydz =#{dydz}
			</if>
			<if test="dydzs !=null and dydzs.size() > 0">
				and jkdymx.dydz in
				<foreach collection="dydzs" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="zxmid !=null and zxmid != ''">
				and jkdymx.zxmid = #{zxmid}
			</if>
		</where>
		order by jkdymx.dysj desc
    </select>
</mapper>
