<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IJsxtqxDao" >

	<!-- 查询操作权限列表-用于所有地方，登陆时设置 -->
	<select id="getQxModelList" parameterType="JsxtqxDto" resultType="JsxtqxDto">
		select xtqx.jsid,xtqx.xtid,jc_xt.csdm jsdm,jc_xt.csmc jsmc
		from matridx_jsxtqx xtqx
		left outer join matridx_jcsj jc_xt on jc_xt.csid = xtqx.xtid
		where xtqx.jsid = #{jsid}
		order by jc_xt.cspx
	</select>

	<insert id="insertJsxtqx" parameterType="list" >
		insert into matridx_jsxtqx(jsid,xtid)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.jsid},#{item.xtid})
			</foreach>
		</if>
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from matridx_jsxtqx
		<where>
			jsid=#{jsid}
		</where>
	</delete>

	<select id="getDtoList" parameterType="JsxtqxDto" resultType="JsxtqxDto">
		select jsid ,xtid
		from matridx_jsxtqx
		<where>
			jsid=#{jsid}
		</where>
	</select>
</mapper>
