<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ILbcxtjszDao" >
	<!-- 新增列表查询条件设置 -->
	<insert id="insertByLbcxsz" parameterType="LbcxszDto">
		insert into matridx_lbcxtjsz(ywid,xh
		<if test="btm !=null and btm != ''">
			,btm
		</if>
		<if test="xslx !=null and xslx != ''">
			,xslx
		</if>
		<if test="srid !=null and srid != ''">
			,srid
		</if>
		<if test="srm !=null and srm != ''">
			,srm
		</if>
		<if test="xzfw !=null and xzfw != ''">
			,xzfw
		</if>
		<if test="xznr !=null and xznr != ''">
			,xznr
		</if>
		<if test="gljclb !=null and gljclb != ''">
			,gljclb
		</if>
		<if test="gjsxbj !=null and gjsxbj != ''">
			,gjsxbj
		</if>
		<if test="pplx !=null and pplx != ''">
			,pplx
		</if>
		<if test="kzcs1 !=null and kzcs1 != ''">
			,kzcs1
		</if>
		<if test="kzcs2 !=null and kzcs2 != ''">
			,kzcs2
		</if>
		<if test="kzcs3 !=null and kzcs3 != ''">
			,kzcs3
		</if>
		<if test="glzd_tj !=null and glzd_tj != ''">
			,glzd
		</if>
		,lrry,lrsj,scbj) values(#{ywid},cast(#{xh_tj} as numeric)
		<if test="btm !=null and btm != ''">
			,#{btm}
		</if>
		<if test="xslx !=null and xslx != ''">
			,#{xslx}
		</if>
		<if test="srid !=null and srid != ''">
			,#{srid}
		</if>
		<if test="srm !=null and srm != ''">
			,#{srm}
		</if>
		<if test="xzfw !=null and xzfw != ''">
			,#{xzfw}
		</if>
		<if test="xznr !=null and xznr != ''">
			,#{xznr}
		</if>
		<if test="gljclb !=null and gljclb != ''">
			,#{gljclb}
		</if>
		<if test="gjsxbj !=null and gjsxbj != ''">
			,#{gjsxbj}
		</if>
		<if test="pplx !=null and pplx != ''">
			,#{pplx}
		</if>
		<if test="kzcs1 !=null and kzcs1 != ''">
			,#{kzcs1}
		</if>
		<if test="kzcs2 !=null and kzcs2 != ''">
			,#{kzcs2}
		</if>
		<if test="kzcs3 !=null and kzcs3 != ''">
			,#{kzcs3}
		</if>
		<if test="glzd_tj !=null and glzd_tj != ''">
			,#{glzd_tj}
		</if>
		,#{lrry},LOCALTIMESTAMP,'0')
	</insert>
	<!-- 查询列表查询条件设置信息 -->
	<select id="getDtoById" parameterType="String" resultType="LbcxtjszDto">
		select cxtj.btm,cxtj.xslx,cxtj.srid,cxtj.srm,cxtj.xzfw,cxtj.xznr,cxtj.gljclb,cxtj.gjsxbj,cxtj.pplx,cxtj.glzd,cxtj.kzcs1,cxtj.kzcs2,cxtj.kzcs3
		from matridx_lbcxtjsz cxtj
		where
			scbj !='1'
			and ywid =#{ywid}
	</select>
	<!--更新列表查询条件设置-->
	<update  id="updateByLbcxsz" parameterType="lbcxszDto">
		update matridx_lbcxtjsz
		<set>
		<if test="ywid !=null and ywid != ''">
			ywid = #{ywid},
		</if>
		<if test="btm !=null and btm != ''">
			btm = #{btm},
		</if>
		<if test="xslx !=null and xslx != ''">
			xslx = #{xslx},
		</if>
		<if test="srid !=null and srid != ''">
			srid = #{srid},
		</if>
		<if test="srm !=null and srm != ''">
			srm = #{srm},
		</if>
		<if test="xzfw !=null and xzfw != ''">
			xzfw = #{xzfw},
		</if>
		<if test="xznr !=null and xznr != ''">
			xznr = #{xznr},
		</if>
		<if test="gljclb !=null and gljclb != ''">
			gljclb = #{gljclb},
		</if>
		<if test="gjsxbj !=null and gjsxbj != ''">
			gjsxbj = #{gjsxbj},
		</if>
		<if test="pplx !=null and pplx != ''">
			pplx = #{pplx},
		</if>
		<if test="kzcs1 !=null and kzcs1 != ''">
			kzcs1 = #{kzcs1},
		</if>
		<if test="kzcs2 !=null and kzcs2 != ''">
			kzcs2 = #{kzcs2},
		</if>
		<if test="kzcs3 !=null and kzcs3 != ''">
			kzcs3 = #{kzcs3},
		</if>
		<if test="glzd_tj !=null and glzd_tj != ''">
			glzd = #{glzd_tj},
		</if>
			xgsj = LOCALTIMESTAMP,
			xgry = #{xgry}
		</set>
		<where>
			ywid = #{preywid}
		</where>
	</update>
	<!--更新列表查询条件设置的删除状态-->
	<update  id="upateLbcxtjszScbj" parameterType="lbcxszDto">
		update matridx_lbcxtjsz set scry = #{scry},scsj = LOCALTIMESTAMP,scbj=#{scbj}
		<where>
			<if test="ywid !=null and ywid != ''">
				or ywid = #{ywid}
			</if>
			<if test="ids !=null and ids.size > 0">
			or ywid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</update>
</mapper>
