<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ILbzdszDao">
    <!-- 新增列表字段设置信息 -->
    <insert id="insertByLbcxsz" parameterType="LbcxszDto">
        insert into matridx_lbzdsz(ywid
        <if test="xszd !=null and xszd != ''">
            ,xszd
        </if>
        <if test="ywmc !=null and ywmc != ''">
            ,ywmc
        </if>
        <if test="xszdmc !=null and xszdmc != ''">
            ,xszdmc
        </if>
        <if test="pxzd !=null and pxzd != ''">
            ,pxzd
        </if>
        <if test="xsxx !=null and xsxx != ''">
            ,xsxx
        </if>
        <if test="sqlzd !=null and sqlzd != ''">
            ,sqlzd
        </if>
        <if test="xskd !=null and xskd != ''">
            ,xskd
        </if>
        <if test="xsgs !=null and xsgs != ''">
            ,xsgs
        </if>
        <if test="zdsm !=null and zdsm != ''">
            ,zdsm
        </if>
        <if test="mrxs !=null and mrxs != ''">
            ,mrxs
        </if>
        ) values(#{ywid}
        <if test="xszd !=null and xszd != ''">
            ,#{xszd}
        </if>
        <if test="ywmc !=null and ywmc != ''">
            ,#{ywmc}
        </if>
        <if test="xszdmc !=null and xszdmc != ''">
            ,#{xszdmc}
        </if>
        <if test="pxzd !=null and pxzd != ''">
            ,#{pxzd}
        </if>
        <if test="xsxx !=null and xsxx != ''">
            ,cast(#{xsxx} as numeric)
        </if>
        <if test="sqlzd !=null and sqlzd != ''">
            ,#{sqlzd}
        </if>
        <if test="xskd !=null and xskd != ''">
            ,#{xskd}
        </if>
        <if test="xsgs !=null and xsgs != ''">
            ,#{xsgs}
        </if>
        <if test="zdsm !=null and zdsm != ''">
            ,#{zdsm}
        </if>
        <if test="mrxs !=null and mrxs != ''">
            ,#{mrxs}
        </if>
        )
    </insert>
    <insert id="insertByLbcxszlist" parameterType="List">
        <foreach collection="list" separator=";" item="item">
            insert into matridx_lbzdsz(ywid
            <if test="item.xszd !=null and item.xszd != ''">
                ,xszd
            </if>
            <if test="item.ywmc !=null and item.ywmc != ''">
                ,ywmc
            </if>
            <if test="item.xszdmc !=null and item.xszdmc != ''">
                ,xszdmc
            </if>
            <if test="item.pxzd !=null and item.pxzd != ''">
                ,pxzd
            </if>
            <if test="item.xsxx !=null and item.xsxx != ''">
                ,xsxx
            </if>
            <if test="item.sqlzd !=null and item.sqlzd != ''">
                ,sqlzd
            </if>
            <if test="item.xskd !=null and item.xskd != ''">
                ,xskd
            </if>
            <if test="item.xsgs !=null and item.xsgs != ''">
                ,xsgs
            </if>
            <if test="item.zdsm !=null and item.zdsm != ''">
                ,zdsm
            </if>
            <if test="item.mrxs !=null and item.mrxs != ''">
                ,mrxs
            </if>
            <if test="item.jz !=null and item.jz != ''">
                ,jz
            </if>

            ) values(

            #{item.ywid}
            <if test="item.xszd !=null and item.xszd != ''">
                ,#{item.xszd}
            </if>
            <if test="item.ywmc !=null and item.ywmc != ''">
                ,#{item.ywmc}
            </if>
            <if test="item.xszdmc !=null and item.xszdmc != ''">
                ,#{item.xszdmc}
            </if>
            <if test="item.pxzd !=null and item.pxzd != ''">
                ,#{item.pxzd}
            </if>
            <if test="item.xsxx !=null and item.xsxx != ''">
                ,cast(#{item.xsxx} as numeric)
            </if>
            <if test="item.sqlzd !=null and item.sqlzd != ''">
                ,#{item.sqlzd}
            </if>
            <if test="item.xskd !=null and item.xskd != ''">
                ,#{item.xskd}
            </if>
            <if test="item.xsgs !=null and item.xsgs != ''">
                ,#{item.xsgs}
            </if>
            <if test="item.zdsm !=null and item.zdsm != ''">
                ,#{item.zdsm}
            </if>
            <if test="item.mrxs !=null and item.mrxs != ''">
                ,#{item.mrxs}
            </if>
			<if test="item.jz !=null and item.jz != ''">
				,#{item.jz}
			</if>

            )
        </foreach>

    </insert>
    <!-- 查询列表字段设置信息 -->
    <select id="getDtoById" parameterType="String" resultType="LbcxtjszDto">
		select lbzd.xszd,lbzd.ywmc,lbzd.xszdmc,lbzd.pxzd,lbzd.xsxx,lbzd.sqlzd,lbzd.xskd,lbzd.xsgs,lbzd.zdsm,lbzd.mrxs
		from matridx_lbzdsz lbzd
		where
			and ywid =#{ywid}
	</select>
    <!--更新列表字段设置-->
    <update id="updateByLbcxsz" parameterType="lbcxszDto">
        update matridx_lbzdsz
        <set>
            <if test="ywid !=null and ywid != ''">
                ywid = #{ywid},
            </if>
            <if test="xszd !=null and xszd != ''">
                xszd = #{xszd},
            </if>
            <if test="ywmc !=null and ywmc != ''">
                ywmc = #{ywmc},
            </if>
            <if test="xszdmc !=null and xszdmc != ''">
                xszdmc = #{xszdmc},
            </if>
            <if test="pxzd !=null and pxzd != ''">
                pxzd = #{pxzd},
            </if>
            <if test="xsxx !=null and xsxx != ''">
                xsxx = cast(#{xsxx} as numeric),
            </if>
            <if test="sqlzd !=null and sqlzd != ''">
                sqlzd = #{sqlzd},
            </if>
            <if test="xskd !=null and xskd != ''">
                xskd = #{xskd},
            </if>
            <if test="xsgs !=null and xsgs != ''">
                xsgs = #{xsgs},
            </if>
            <if test="zdsm !=null and zdsm != ''">
                zdsm = #{zdsm},
            </if>
            <if test="mrxs !=null and mrxs != ''">
                mrxs = #{mrxs},
            </if>
        </set>
        <where>
            ywid = #{preywid}
        </where>
    </update>
    <!--删除列表字段设置信息-->
    <delete id="deleteLbzdszb" parameterType="lbcxszDto">
        delete from matridx_lbzdsz
        <where>
            <if test="ywid !=null and ywid != ''">
                or ywid = #{ywid}
            </if>
            <if test="ids !=null and ids.size > 0">
                or ywid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <delete id="deleteLbzdszbyywid" parameterType="lbzdszDto">
		delete from matridx_lbzdsz where ywid=#{ywid}
	</delete>

    <select id="getWaitList" parameterType="LbzdszDto" resultType="LbzdszDto">
        select
        lb.ywid,lb.xszd,lb.ywmc,lb.xszdmc,lb.pxzd,lb.xsxx,lb.sqlzd,lb.xskd,lb.xsgs,lb.zdsm,lb.mrxs,lb.jz
        from matridx_lbzdsz lb
        left join matridx_grlbzdsz gr on gr.ywid=lb.ywid and gr.xszd=lb.xszd and gr.yhid =#{yhid}
        left join matridx_jsgnqx gnqx on lb.ywid= gnqx.ywid and gnqx.jsid=#{jsid} and lb.xszd = gnqx.xszd
        <where>
            lb.ywid = #{ywid} and gr.ywid is null
            and (lb.mrxs!='3' or (lb.mrxs='3' and gnqx.jsid is not null) )
        </where>
        order by lb.xsxx
    </select>

    <!-- 查出共有多少种ywid在lbzdsz表中 -->
    <select id="getYwmc" resultType="String">
		select  ywid from matridx_lbzdsz group by ywid
	</select>

    <!--通过ywid 查询导出字段  -->
    <select id="getDczd" parameterType="String" resultType="LbzdszDto">
        select distinct ywid ,ywmc ,sqlzd,xszdmc,xsxx from matridx_lbzdsz
        <where>
            mrxs='3'and ywid=#{ywid}
        </where>
        order by xsxx
    </select>
    <!--通过角色id查找权限  -->
    <select id="getXszdQx" parameterType="Map" resultType="LbzdszDto">
		SELECT xszd from matridx_jsgnqx where jsid= #{jsid} and ywid =#{ywid}
	</select>
</mapper>
