<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ILshgzDao" >
	<!-- 查询获取最大流水号 -->
	<select id="getModel" parameterType="LshgzDto" resultType="LshgzDto">
		select lshgzid,lshlx,lshgz from matridx_lshgz 
		<where>
			1=1
			<if test="lshlx !=null and lshlx !=''">
				and lshlx = #{lshlx}
			</if>
		</where>
	</select>
	<!-- 查询流水号规则列表 -->
	<select id="getDtoList" parameterType="LshgzDto" resultType="LshgzDto">
		select gz.lshgzid,gz.lshlx,gz.lshgz 
		from matridx_lshgz gz
		<where>
		<if test="lshlx !=null and lshlx != ''">
			and lshlx =#{lshlx}
		</if>
		<if test="extend_2 !=null and extend_2!= ''">
			and lshgz =#{extend_2}
		</if>
		</where>
	</select>
	<!-- 查询流水号规则信息 -->
	<select id="getDtoById" parameterType="LshgzDto" resultType="LshgzDto">
		select gz.lshgzid,gz.lshlx,gz.lshgz 
		from matridx_lshgz gz
		where lshgzid =#{lshgzid}
	</select>
	<!-- 分页查流水号规则信息列表 -->
	<select id="getPagedDtoList" parameterType="LshgzDto" resultType="LshgzDto">
		select gz.lshgzid,gz.lshlx,gz.lshgz 
		from matridx_lshgz gz
		<where>
			<if test="lshgz !=null and lshgz != ''">
				and lshgz like '%'||#{lshgz}||'%'
			</if>
		</where>
	</select>
	<!-- 增加流水号规则信息 -->
	<insert id="insert" parameterType="LshgzModel">
		insert into matridx_lshgz(lshgzid
		<if test="lshlx !=null and lshlx != ''">
			,lshlx
		</if>
		<if test="lshgz !=null and lshgz != ''">
			,lshgz
		</if>
		) values(#{lshgzid}
		<if test="lshlx !=null and lshlx != ''">
			,#{lshlx}
		</if>
		<if test="lshgz !=null and lshgz != ''">
			,#{lshgz}
		</if>
		)
	</insert>
	<!--更新流水号规则信息-->
	<update  id="update" parameterType="LshgzModel">
		update matridx_lshgz 
		<set>
		<if test="lshlx !=null and lshlx != ''">
			lshlx = #{lshlx},
		</if>
		<if test="lshgz !=null and lshgz != ''">
			lshgz = #{lshgz},
		</if>
		</set>
		<where>
			lshgzid = #{lshgzid}
		</where>
	</update>
	<!--删除流水号规则-->
	<delete id="delete" parameterType="LshgzModel">
		delete from matridx_lshgz
		<where>
			<if test="lshgzid !=null and lshgzid != ''">
				or lshgzid = #{lshgzid}
			</if>
			<if test="ids !=null and ids.size > 0">
			or lshgzid in
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>
</mapper>
