<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ILshkDao" >
	<!-- 查询获取最大流水号 -->
	<select id="getModel" parameterType="LshkDto" resultType="LshkDto">
		select lshid,lshlx,lshqz,zdlsh from matridx_lshk 
		<where>
			1=1
			<if test="lshlx !=null and lshlx !=''">
				and lshlx = #{lshlx}
			</if>
			<if test="lshqz !=null and lshqz != ''">
				and lshqz =#{lshqz}
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="LshkModel">
		insert into matridx_lshk(lshid,lshlx,lshqz,zdlsh)values(#{lshid},#{lshlx},#{lshqz},#{zdlsh} )
	</insert>
	
	<update id="update" parameterType="LshkModel">
		update matridx_lshk set zdlsh = #{zdlsh} where lshid = #{lshid}
	</update>
</mapper>
