<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IRyczxgDao" >

	<!-- 查询人员操作习惯 -->
	<select id="getDto" parameterType="RyczxgDto" resultType="RyczxgDto">
		select czxg.yhid,czxg.dxid,czxg.qf,czxg.czsj,czxg.czpl
		from matridx_ryczxg czxg
		where czxg.yhid =#{yhid}
			and czxg.dxid =#{dxid}
			and czxg.qf =#{qf}
	</select>
	
	<!-- 增加人员操作习惯 -->
	<insert id="insert" parameterType="RyczxgModel">
		insert into matridx_ryczxg(yhid,dxid,qf,czsj
			<if test="czpl !=null and czpl != ''">
				,czpl
			</if>
		) values(#{yhid},#{dxid},#{qf},LOCALTIMESTAMP
			<if test="czpl !=null and czpl != ''">
				,#{czpl}
			</if>
		)
	</insert>
		
	<!--更新人员操作习惯-->
	<update  id="update" parameterType="RyczxgModel">
		update matridx_ryczxg 
		<set>
			<if test="czpl !=null and czpl != ''">
				czpl = #{czpl},
			</if>
			czsj = LOCALTIMESTAMP
		</set>
		<where>
			yhid = #{yhid}
			and dxid = #{dxid}
			and qf = #{qf}
		</where>
	</update>
	
</mapper>
