<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IShlbDao" >
	<select id="getDtoById" parameterType="String" resultType="ShlbDto">
		select lb.shlb,lb.shlbmc,lb.hdl,lb.fqlb,lb.hdmx,lb.qxxk,lb.sfgb
		from matridx_shlb lb
		where lb.shlb = #{shlb}
	</select>
	<!-- 查询审核类别列表 -->
	<select id="getDtoList" parameterType="ShlbDto" resultType="ShlbDto">
		select lb.shlb,lb.shlbmc,lb.hdl,lb.fqlb,lb.hdmx,lb.qxxk,lb.sfgb
		from matridx_shlb lb
		<where>
		<if test="shlb !=null and shlb != ''">
			and shlb =#{shlb}
		</if>
		</where>
	</select>
	<!-- 分页查询系统审核信息列表 -->
	<select id="getPagedDtoList" parameterType="ShlbDto" resultType="ShlbDto">
		select lb.shlb,lb.shlbmc,lb.hdl,lb.fqlb,lb.hdmx,lb.qxxk,case when lb.qxxk='0' then '不允许' when lb.qxxk='1' then '允许' end sfyxqxxk,lb.sfgb,lb.shlbbm,lb.zylj
		from matridx_shlb lb
		<where>
			<if test="entire != null and entire != ''">
				and (shlbmc like '%'||#{entire}||'%'
				or fqlb like '%'||#{entire}||'%'
				or shlb like '%'||#{entire}||'%'
				)
			</if>
			<if test="shlbmc !=null and shlbmc != ''">
			and shlbmc like '%'||#{shlbmc}||'%'
			</if>
			<if test="fqlb !=null and fqlb != ''">
			and fqlb like '%'||#{fqlb}||'%'
			</if>
			<if test="shlb !=null and shlb != ''">
				and shlb like '%'||#{shlb}||'%'
			</if>
		</where>
	</select>
	<!-- 插入审核类别信息 -->
	<insert id="insert" parameterType="ShlbDto" >
		insert into matridx_shlb(shlb
		<if test="shlbmc !=null and shlbmc !=''">
		,shlbmc
		</if>
		<if test="hdl !=null and hdl !=''">
		,hdl
		</if>
		<if test="fqlb !=null and fqlb !=''">
		,fqlb
		</if>
		<if test="hdmx !=null and hdmx !=''">
		,hdmx
		</if>
		<if test="qxxk !=null and qxxk !=''">
		,qxxk
		</if>
		<if test="sfgb !=null and sfgb !=''">
		,sfgb
		</if>
		<if test="shlbbm !=null and shlbbm !=''">
		,shlbbm
		</if>
		<if test="zylj !=null and zylj !=''">
		,zylj
		</if>)
		values(#{shlb}
		<if test="shlbmc !=null and shlbmc !=''">
		,#{shlbmc}
		</if>
		<if test="hdl !=null and hdl !=''">
		,#{hdl}
		</if>
		<if test="fqlb !=null and fqlb !=''">
		,#{fqlb}
		</if>
		<if test="hdmx !=null and hdmx !=''">
		,#{hdmx}
		</if>
		<if test="qxxk !=null and qxxk !=''">
		,#{qxxk}
		</if>
		<if test="sfgb !=null and sfgb !=''">
		,#{sfgb}
		</if>
		<if test="shlbbm !=null and shlbbm !=''">
		,#{shlbbm}
		</if>
		<if test="zylj !=null and zylj !=''">
		,#{zylj}
		</if>
		)
	</insert>
	<!--更新审核类别信息-->
	<update  id="update" parameterType="ShlbModel">
		update matridx_shlb 
		<set>
		<if test="shlb !=null and shlb != ''">
			shlb = #{shlb},
		</if>
		<if test="shlbmc !=null and shlbmc != ''">
			shlbmc = #{shlbmc},
		</if>
		<if test="hdl !=null and hdl != ''">
			hdl = #{hdl},
		</if>
		<if test="fqlb !=null and fqlb != ''">
			fqlb = #{fqlb},
		</if>
		<if test="hdmx !=null and hdmx != ''">
			hdmx = #{hdmx},
		</if>
		<if test="qxxk !=null and qxxk != ''">
			qxxk = #{qxxk},
		</if>
		<if test="sfgb !=null and sfgb != ''">
			sfgb = #{sfgb},
		</if>
		<if test="shlbbm !=null and shlbbm != ''">
			shlbbm = #{shlbbm},
		</if>
		<if test="zylj !=null and zylj != ''">
			zylj = #{zylj},
		</if>
		</set>
		<where>
			shlb = #{shlb}
		</where>
	</update>
	<!-- 根据审核类别查询当前审核类别信息 -->
	<select id="getShlbxxByShlb" parameterType="ShlbDto" resultType="ShlbDto">
		select lb.shlb,lb.shlbmc,lb.hdl,lb.fqlb,lb.hdmx,lb.qxxk,case when lb.qxxk='0' then '不允许' when lb.qxxk='1' then '允许' end sfyxqxxk,lb.sfgb,lb.shlbbm,lb.zylj
		from matridx_shlb lb
		<where>
			shlb=#{shlb}
		</where>
	</select>
	<!-- 删除审核类别 -->
	<delete id="delete" parameterType="ShlbDto">
		delete from matridx_shlb
		<where>
			shlb in
			<foreach collection="ids" open="(" close=")" separator="," item="item" index="index">
				#{item}
			</foreach>
		</where> 
	</delete>
	<!-- 根据ids查询审核类别 -->
	<select id="getShlbxxByIds" parameterType="ShlbDto" resultType="ShlbDto">
		select lb.shlb,lb.shlbmc,lb.hdl,lb.fqlb,lb.hdmx,lb.qxxk,case when lb.qxxk='0' then '不允许' when lb.qxxk='1' then '允许' end sfyxqxxk,lb.sfgb
			from matridx_shlb lb
			<where>
			<if test="ids !=null and ids.size > 0">
				shlb in
				<foreach collection="ids" open="(" close=")" separator="," item="item" index="index">
				#{item}
				</foreach>
			</if>
			</where>
	</select>
	
	<!-- 获取审核类别的所有信息 -->
	<select id="getShlbAllData" resultType="ShlbDto"> 
	    select lb.shlb,lb.shlbmc,lb.hdl,lb.fqlb,lb.hdmx,lb.qxxk,lb.sfgb,lb.shlbbm
        from matridx_shlb lb
	</select>
	<!-- 获取审核类别的所有信息 -->
	<select id="getShlbForHomePage" resultType="ShlbDto">
		select lb.shlb,lb.shlbmc,lb.shlbbm,lb.zylj
		from matridx_shlb lb
		where lb.shlbbm is not null
	</select>
</mapper>
