<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ISjycStatisticsDao" >

	<insert id="insertList" parameterType="List">

		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				insert into igams_sjyc_statistics(statisticsid
				<if test="item.ycid !=null and item.ycid != ''">
					,ycid
				</if>
				<if test="item.sjid !=null and item.sjid != ''">
					,sjid
				</if>
				<if test="item.jcsjcsid !=null and item.jcsjcsid != ''">
					,jcsjcsid
				</if>
				,scbj
				)
				values
				(#{item.statisticsid}
				<if test="item.ycid !=null and item.ycid != ''">
					,#{item.ycid}
				</if>
				<if test="item.sjid !=null and item.sjid != ''">
					,#{item.sjid}
				</if>
				<if test="item.jcsjcsid !=null and item.jcsjcsid != ''">
					,#{item.jcsjcsid}
				</if>
				,'0'
				)
			</foreach>
		</if>
	</insert>
	
	<update id="delByYcid"  parameterType="SjycStatisticsDto">
		update igams_sjyc_statistics set scbj=1 where ycid=#{ycid}
	</update>
	
	<select id="getByYcid" resultType="SjycStatisticsDto" parameterType="SjycStatisticsDto">
		select statisticsid,ycid,sjid,jcsjcsid from igams_sjyc_statistics
		where ycid=#{ycid} and scbj != '1'
	</select>
</mapper>
