<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ISjyczdDao" >

	<insert id="insert" parameterType="SjyczdDto">
		insert into igams_sjyczd(ycid,zdry,zdsj)
		values(#{ycid},#{zdry},LOCALTIMESTAMP)
	</insert>
	
	<delete id="delete" parameterType="SjyczdDto">
		delete from igams_sjyczd
		<where>
			ycid=#{ycid} and zdry=#{zdry}
		</where>
	</delete>
	
</mapper>
