<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ISupplierDao">
<select id="getPagedDtoList" parameterType="SupplierDto" resultType="SupplierDto">
	select gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc,gysxx.dq,gysxx.fzrq,gysxx.lxr,gysxx.dh,gysxx.sj,gysxx.qq,gysxx.wx,gysxx.zt,gysxx.bz,jc.csmc gfgllbmc,
	gysxx.sl,gysxx.khh,gysxx.zh,gysxx.gfbh,case when count(fj.fjid)>0 then 1 else 0 end sfyfj,case when tmp.gys is not null then 1 else 0 end sfczkjht,gysxx.cz
	from igams_gysxx gysxx
	left join matridx_jcsj jc on jc.csid=gysxx.gfgllb
	left join matridx_fjcfb fj on fj.ywid=gysxx.gysid and fj.scbj ='0'
	left join (select gys from igams_htgl where htlx ='3' and scbj ='0' group by gys) tmp on tmp.gys = gysxx.gysid
	<if test="jxflg !=null and jxflg !=''">
		left join igams_gfjxgl gfjx on gfjx.gysid=gysxx.gysid and gfjx.khjssj=cast(#{jxflg} as date) and gfjx.scbj='0'
	</if>
	<where>
		gysxx.scbj='0'
		<if test="entire != null and entire != ''">
			and (gysxx.gysmc like '%'||#{entire}||'%'
			or gysxx.gysdm like '%'||#{entire}||'%'
			or gysxx.dq like '%'||#{entire}||'%'
			or gysxx.lxr like '%'||#{entire}||'%'
			or gysxx.dh like '%'||#{entire}||'%'
			or gysxx.sj like '%'||#{entire}||'%'
			or gysxx.qq like '%'||#{entire}||'%'
			or gysxx.wx like '%'||#{entire}||'%'
			or gysxx.gysjc like '%'||#{entire}||'%'
			or gysxx.bz like '%'||#{entire}||'%'
			or jc.csmc like '%'||#{entire}||'%'
			or jc.csmc like '%'||#{entire}||'%')
		</if>
		<if test="gysmc !=null and gysmc !=''">
			and gysxx.gysmc like '%'||#{gysmc}||'%'
		</if>
		<if test="jxflg !=null and jxflg !=''">
			and (gfjx.gfjxid is null
			<if test="gysid !=null and gysid !=''">
				or gysxx.gysid=#{gysid}
			</if>
			)
		</if>
		<if test="gysdm !=null and gysdm !=''">
			and gysxx.gysdm like '%'||#{gysdm}||'%'
		</if>
		<if test="dq !=null and dq !=''">
			and gysxx.dq like '%'||#{dq}||'%'
		</if>
		<if test="lxr !=null and lxr !=''">
			and gysxx.lxr like '%'||#{lxr}||'%'
		</if>
		<if test="dh !=null and dh !=''">
			and gysxx.dh like '%'||#{dh}||'%'
		</if>
		<if test="sj !=null and sj !=''">
			and gysxx.sj like '%'||#{sj}||'%'
		</if>
		<if test="qq !=null and qq !=''">
			and gysxx.qq like '%'||#{qq}||'%'
		</if>
		<if test="wx !=null and wx !=''">
			and gysxx.wx like '%'||#{wx}||'%'
		</if>
		<if test="gysjc !=null and gysjc !=''">
			and gysxx.gysjc like '%'||#{gysjc}||'%'
		</if>
		<if test="bz !=null and bz !=''">
			and gysxx.bz like '%'||#{bz}||'%'
		</if>
		<if test="gfgllbmc !=null and gfgllbmc !=''">
			and jc.csmc like '%'||#{gfgllbmc}||'%'
		</if>
		<if test="scbj!=null and scbj!=''">
			and gysxx.scbj=#{scbj}
		</if>
	</where>
	GROUP BY gysxx.gysid,gysxx.gysmc,gysxx.gysdm,gysxx.gysjc,gysxx.dq,gysxx.fzrq,gysxx.lxr,gysxx.dh,gysxx.sj,gysxx.qq,gysxx.wx,gysxx.zt,gysxx.bz,jc.csmc,
	gysxx.sl,gysxx.khh,gysxx.zh,gysxx.gfbh,tmp.gys,gysxx.cz
</select>
</mapper>