<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ISyszDao" >
    <select id="getHomePage" parameterType="SyszDto" resultType="SyszDto">
        SELECT
            sysz.syszid,sysz.yhid,sysz.zjid,sysz.arrange,sysz.line,zjgl.zjmc,zjgl.fbsmc,zjgl.fbsbj,zjgl.zjqf,zjgl.width,zjgl.height,
               zjgl.zjlj,zjgl.zjlx,sysz.xh,zjgl.zylj
        FROM
            igams_sysz sysz
            LEFT JOIN igams_zjgl zjgl ON sysz.zjid = zjgl.zjid
        WHERE sysz.yhid = #{yhid}
        order by sysz.xh asc
    </select>
    <insert id="insertSyszDtos" parameterType="List">
        insert into igams_sysz(syszid,yhid,zjid,arrange,line,xh)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.syszid}, #{item.yhid},
            #{item.zjid},
            #{item.arrange},
            #{item.line},
            cast(#{item.xh} as numeric))
        </foreach>
    </insert>
    <delete id="delete" parameterType="SyszDto">
        delete from igams_sysz
        where yhid = #{yhid}
    </delete>
</mapper>
