<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.ISyxxDao" >
    <select id="getDtoByWjlb" parameterType="String" resultType="SyxxDto">
     	select syxx.syxxid,syxx.wjlb,syxx.ksys,syxx.sytplj,syxx.syz,syxx.syztdx,syxx.syhxjg,syxx.syzxjg,
     		syxx.sytmd, syxx.syqxjd,syxx.tpsyztdx,syxx.ysxs
     	   	from matridx_syxx syxx
     	<where>
     		syxx.wjlb=#{wjlb}
     	</where>
    </select>
    <!-- 查找对应syxxid的消息  -->
	<select id="getDto" parameterType="SyxxDto" resultType="SyxxDto"> 
	   select syxx.syxxid,syxx.wjlb,syxx.ksys,syxx.sytplj,syxx.syz,syxx.syztdx,syxx.syhxjg,syxx.syzxjg,syxx.sytmd, 
			syxx.syqxjd,syxx.tpsyztdx,syxx.ysxs
			from matridx_syxx syxx
	    where syxx.syxxid=#{syxxid}
	</select>
    <select id="getPagedDtoList" parameterType="SyxxDto" resultType="SyxxDto">
		select syxx.syxxid,syxx.wjlb,syxx.ksys,syxx.sytplj,syxx.syz,syxx.syztdx,syxx.syhxjg,syxx.syzxjg,syxx.sytmd, 
			syxx.syqxjd,syxx.tpsyztdx,syxx.ysxs
			from matridx_syxx syxx
		<where>
			<if test="syxxid != null and syxxid != ''">
				and syxx.syxxid ILIKE '%'||#{syxxid}||'%'
			</if>
			<if test="wjlb != null and wjlb != ''">
				and syxx.wjlb ILIKE '%'||#{wjlb}||'%'
			</if>
		</where>
	</select>
	<!-- 检验水印信息是否已经存在 -->
	<select id="getCount" parameterType="SyxxDto" resultType="int">
		select count(syxxid) from matridx_syxx 
		<where>
		   <if test="syxxid != null and syxxid !=''">
		      and syxxid=#{syxxid}
		   </if>
		</where>
	</select> 
	<!-- 插入一条水印信息 -->
	<insert id="insertDto" parameterType="SyxxDto">
	   insert into matridx_syxx (
	   <if test="syxxid !=null and syxxid !=''">
            syxxid	   
	   </if>
	   <if test="wjlb !=null and wjlb !=''">
	        ,wjlb
	   </if>
	   <if test="ksys !=null and ksys !=''">
	        ,ksys
	   </if>
	   <if test="sytplj !=null and sytplj !=''">
	        ,sytplj
	   </if>
	   <if test="syz !=null and syz !=''">
	        ,syz
	   </if>
	   <if test="syztdx !=null and syztdx !=''">
	   		,syztdx
	   </if>
	   <if test="syhxjg !=null and syhxjg !=''">
	        ,syhxjg
	   </if>
	   <if test="syzxjg !=null and syzxjg !=''">
	        ,syzxjg
	   </if>
	   <if test="sytmd !=null and sytmd !=''">
	        ,sytmd
	   </if>
	   <if test="syqxjd !=null and syqxjd !=''">
	        ,syqxjd
	   </if>
	   <if test="tpsyztdx !=null and tpsyztdx !=''">
	        ,tpsyztdx
	   </if>
	   <if test="ysxs !=null and ysxs !=''">
	        ,ysxs
	   </if>
	   )
	   values (
	   <if test="syxxid !=null and syxxid !=''">
            #{syxxid}	   
	   </if>
	   <if test="wjlb !=null and wjlb !=''">
	        ,#{wjlb}
	   </if>
	   <if test="ksys !=null and ksys !=''">
	        ,#{ksys}
	   </if>
	   <if test="sytplj !=null and sytplj !=''">
	        ,#{sytplj}
	   </if>
	   <if test="syz !=null and syz !=''">
	        ,#{syz}
	   </if>
	   <if test="syztdx !=null and syztdx !=''">
	        ,cast(#{syztdx} as numeric)
	   </if>
	   <if test="syhxjg !=null and syhxjg !=''">
	        ,cast(#{syhxjg} as numeric)
	   </if>
	   <if test="syzxjg !=null and syzxjg !=''">
	        ,cast(#{syzxjg} as numeric)
	   </if>
	   <if test="sytmd !=null and sytmd !=''">
	        ,#{sytmd}
	   </if>
	   <if test="syqxjd !=null and syqxjd !=''">
	        ,#{syqxjd}
	   </if>
	   <if test="tpsyztdx !=null and tpsyztdx !=''">
	        ,#{tpsyztdx}
	   </if>
	   <if test="ysxs !=null and ysxs !=''">
	        ,#{ysxs}
	   </if>
       )
	</insert>
	<!-- 更新一条水印信息 -->
	<update id="updateDto" parameterType="SyxxDto">
		update matridx_syxx set  syxxid=#{syxxid}
	   <if test="wjlb !=null and wjlb !=''">
	        ,wjlb = #{wjlb}
	   </if>
	   <if test="ksys !=null and ksys !=''">
	        ,ksys = #{ksys}
	   </if>
	   <if test="sytplj !=null and sytplj !=''">
	        ,sytplj = #{sytplj}
	   </if>
	   <if test="syz !=null and syz !=''">
	        ,syz = #{syz}
	   </if>
	   <if test="syztdx !=null and syztdx !=''">
	        ,syztdx=cast(#{syztdx} as numeric)
	   </if>
	   <if test="syhxjg !=null and syhxjg !=''">
	        ,syhxjg=cast(#{syhxjg} as numeric)
	   </if>
	   <if test="syzxjg !=null and syzxjg !=''">
	        ,syzxjg=cast(#{syzxjg} as numeric)
	   </if>
	   <if test="sytmd !=null and sytmd !=''">
	        ,sytmd = #{sytmd}
	   </if>
	   <if test="syqxjd !=null and syqxjd !=''">
	        ,syqxjd = #{syqxjd}
	   </if>
	   <if test="tpsyztdx !=null and tpsyztdx !=''">
	        ,tpsyztdx = #{tpsyztdx}
	   </if>
	   <if test="ysxs !=null and ysxs !=''">
	        ,ysxs = #{ysxs}
	   </if>
	   <where>
	       syxxid = #{syxxid}
	   </where>
	</update>
	<!-- 删除水印信息 -->
	<delete id="delete" parameterType="SyxxDto">
	    delete from matridx_syxx
	    <where> 
	           syxxid in 
	           <foreach collection="ids" open="(" close=")" separator="," item="ids">
	               #{ids}
	           </foreach>
	    </where>
	</delete>
</mapper>
