<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IXtszDao" >
	<!-- 根据iD获取设置信息 -->
	<select id="getDtoById" parameterType="String" resultType="XtszDto">
		select sz.szlb,sz,szmc,sz.szz,sz.xh,sz.bz,sz.xslx,sz.kzcs1,sz.kzcs2,sz.kzcs3,sz.kzcs4
			from matridx_xtsz sz
			<where>
				sz.szlb = #{szlb}
			</where>
	</select>
	
	<!-- 根据iD获取设置信息 -->
	<select id="getDto" parameterType="String" resultType="XtszDto">
		select sz.szlb,sz,szmc,sz.szz,sz.xh,sz.bz,sz.xslx,sz.kzcs1,sz.kzcs2,sz.kzcs3,sz.kzcs4
			from matridx_xtsz sz
			<where>
				sz.szlb = #{szlb}
			</where>
	</select>
	
	<!-- 增加系统设置信息 -->
	<insert id="insert" parameterType="XtszModel">
		insert into matridx_xtsz(szlb
		<if test="szmc !=null and szmc != ''">
			,szmc
		</if>
		<if test="szz !=null and szz != ''">
			,szz
		</if>
		<if test="xh !=null and xh != ''">
			,xh
		</if>
		<if test="bz !=null and bz != ''">
			,bz
		</if>
		<if test="xslx !=null and xslx != ''">
			,xslx
		</if>
		<if test="kzcs1 !=null and kzcs1 != ''">
			,kzcs1
		</if>
		<if test="kzcs2 !=null and kzcs2 != ''">
			,kzcs2
		</if>
		<if test="kzcs3 !=null and kzcs3 != ''">
			,kzcs3
		</if>
		<if test="kzcs4 !=null and kzcs4 != ''">
			,kzcs4
		</if>
		) values(#{szlb}
		<if test="szmc !=null and szmc != ''">
			,#{szmc}
		</if>
		<if test="szz !=null and szz != ''">
			,#{szz}
		</if>
		<if test="xh !=null and xh != ''">
			,#{xh}
		</if>
		<if test="bz !=null and bz != ''">
			,#{bz}
		</if>
		<if test="xslx !=null and xslx != ''">
			,#{xslx}
		</if>
		<if test="kzcs1 !=null and kzcs1 != ''">
			,#{kzcs1}
		</if>
		<if test="kzcs2 !=null and kzcs2 != ''">
			,cast(#{kzcs2} as TIMESTAMP)
		</if>
		<if test="kzcs3 !=null and kzcs3 != ''">
			,cast(#{kzcs3} as TIMESTAMP)
		</if>
		<if test="kzcs4 !=null and kzcs4 != ''">
			,#{kzcs4}
		</if>
		)
	</insert>
	
	<!--更新系统设置信息-->
	<update id="update" parameterType="XtszModel">
		update matridx_xtsz 
		<set>
			<if test="szlb !=null and szlb != ''">
				szlb = #{szlb},
			</if>
			<if test="szmc !=null and szmc != ''">
				szmc = #{szmc},
			</if>
			<if test="szz !=null and szz != ''">
				szz = #{szz},
			</if>
			<if test="xh !=null and xh != ''">
				xh = #{xh},
			</if>
			<if test="bz !=null and bz != ''">
				bz = #{bz},
			</if>
			<if test="xslx !=null and xslx != ''">
				xslx = #{xslx},
			</if>
			<if test="kzcs1 !=null and kzcs1 != ''">
				kzcs1 = #{kzcs1},
			</if>
			<if test="kzcs2 !=null and kzcs2 != ''">
				kzcs2 = cast(#{kzcs2} as TIMESTAMP),
			</if>
			<if test="kzcs3 !=null and kzcs3 != ''">
				kzcs3 = cast(#{kzcs3} as TIMESTAMP),
			</if>
			<if test="kzcs4 !=null and kzcs4 != ''">
				kzcs4 = #{kzcs4}
			</if>
		</set>
		<where>
			szlb = #{oldszlb}
		</where>
	</update>
	
	<!-- 判断更新或新增系统设置信息 -->
	<update id="insertOrUpdateXtsz" parameterType="XtszDto">
		insert into matridx_xtsz
			(szlb,szmc,szz,xh,bz,xslx,kzcs1,kzcs2,kzcs3,kzcs4)
		values
			(#{szlb},#{szmc},#{szz},#{xh},#{bz},#{xslx},#{kzcs1},cast(case when #{kzcs2} ='' then null end as TIMESTAMP),cast(case when #{kzcs3} ='' then null end as TIMESTAMP),#{kzcs4})
		on conflict(szlb) do 
		update 
			<set>
				<if test="szmc !=null and szmc != ''">
					szmc = #{szmc},
				</if>
				<if test="szz !=null and szz != ''">
					szz = #{szz},
				</if>
				<if test="xh !=null and xh != ''">
					xh = #{xh},
				</if>
				<if test="bz !=null and bz != ''">
					bz = #{bz},
				</if>
				<if test="xslx !=null and xslx != ''">
					xslx = #{xslx},
				</if>
				<if test="kzcs1 !=null and kzcs1 != ''">
					kzcs1 = #{kzcs1},
				</if>
				<if test="kzcs2 !=null and kzcs2 != ''">
					kzcs2 = cast(#{kzcs2} as TIMESTAMP),
				</if>
				<if test="kzcs3 !=null and kzcs3 != ''">
					kzcs3 = cast(#{kzcs3} as TIMESTAMP),
				</if>
				<if test="kzcs4 !=null and kzcs4 != ''">
					kzcs4 = #{kzcs4}
				</if>
			</set>
			<where>
				matridx_xtsz.szlb = #{szlb}
			</where>
	</update>
	
	<!-- 根据iD获取设置信息 -->
	<select id="selectById" parameterType="String" resultType="XtszDto">
		select sz.szlb,sz,szmc,sz.szz,sz.xh,sz.bz,sz.xslx,sz.kzcs1,sz.kzcs2,sz.kzcs3,sz.kzcs4
			from matridx_xtsz sz
			<where>
				sz.szlb = #{szlb}
			</where>
	</select>
	
	<!-- 根据设置类别模糊查询系统设置信息 -->
	<select id="getObscureDto" parameterType="String" resultType="XtszDto">
		select sz.szlb,sz,szmc,sz.szz,sz.xh,sz.bz,sz.xslx,sz.kzcs1,sz.kzcs2,sz.kzcs3,sz.kzcs4
			from matridx_xtsz sz
			<where>
				sz.szlb ILIKE '%'||#{szlb}||'%'
			</where>
	</select>
	<!-- 检验水印信息是否已经存在 -->
	<select id="getCount" parameterType="XtszDto" resultType="int">
		select count(szlb) from matridx_xtsz 
		<where>
		   <if test="szlb != null and szlb !=''">
		      and szlb=#{szlb}
		   </if>
		</where>
	</select> 
	<!-- 分页查询系统设置信息 -->
	<select id="getPagedDtoList" parameterType="XtszDto" resultType="XtszDto">
		select sz.szlb,sz,szmc,sz.szz,sz.xh,sz.bz,sz.xslx,sz.kzcs1,sz.kzcs2,sz.kzcs3,sz.kzcs4
			from matridx_xtsz sz
			<where>
				<if test="szlb != null and szlb !=''">
		      		sz.szlb ILIKE '%'||#{szlb}||'%'
		   		</if>
				<if test="szmc !=null and szmc !=''">
					sz.szmc like '%'||#{szmc}||'%'
				</if>
			</where>
	</select>
	<!-- 删除水印信息 -->
	<delete id="delete" parameterType="XtszDto">
	    delete from matridx_xtsz
	    <where> 
	           szlb in 
	           <foreach collection="ids" open="(" close=")" separator="," item="ids">
	               #{ids}
	           </foreach>
	    </where>
	</delete>

	<!--查找系统设置表中的所有数据-->
	<select id="getXtszList" parameterType="XtszDto" resultType="XtszDto">
		select sz.szlb,sz,szmc,sz.szz,sz.xh,sz.bz,sz.xslx,sz.kzcs1,sz.kzcs2,sz.kzcs3,sz.kzcs4
		from matridx_xtsz sz
	</select>
</mapper>
