<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IXxdlcwglDao" >

	<!-- 新增消息队列错误信息 -->
	<insert id="insert" parameterType="XxdlcwglModel">
		insert into matridx_xxdlcwgl(cwid
		<if test="cwlx !=null and cwlx != ''">
			,cwlx
		</if>
		<if test="ysnr !=null and ysnr != ''">
			,ysnr
		</if>
		,cwsj) values(#{cwid}
		<if test="cwlx !=null and cwlx != ''">
			,#{cwlx}
		</if>
		<if test="ysnr !=null and ysnr != ''">
			,#{ysnr}
		</if>
		,LOCALTIMESTAMP)
	</insert>
	
	<!-- 查询所有符合的数据列表 -->
	<select id="getPagedDtoList" parameterType="XxdlcwglDto" resultType="XxdlcwglDto">
	    select cwid,cwlx,to_char(cwsj , 'yyyy-MM-dd HH24:mi:ss') cwsj ,ysnr from matridx_xxdlcwgl xxdlcwgl
	    <where>
	        <if test="cwid!=null and cwid!=''">
	            and xxdlcwgl.cwid ILIKE '%'|| #{cwid} ||'%'
	        </if>
	        <if test="cwlx!=null and cwlx!=''">
	            and xxdlcwgl.cwlx ILIKE '%'|| #{cwlx} ||'%'
	        </if>
	        <if test="ysnr!=null and ysnr!=''">
	            and xxdlcwgl.ysnr ILIKE '%'|| #{ysnr} ||'%'
	        </if>	        	        
	    </where>
	</select>
	
	<!-- 查询单条数据信息 -->
	<select id="getDto" parameterType="XxdlcwglDto" resultType="XxdlcwglDto">
	    select cwid,cwlx,cwsj,ysnr from matridx_xxdlcwgl xxdlcwgl
	    <where>
            cwid=#{cwid}        	        
	    </where>
	</select>

	<update id="deleteByDate" parameterType="String">
		delete from matridx_xxdlcwgl where cwsj &lt;= to_date(#{date},'yyyy-MM-dd')
	</update>

</mapper>
