<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.common.dao.post.IXxdyDao" >

   <select id="getGwJsid" parameterType="String" resultType="XxdyDto">
        SELECT xxdy.dyxx
        FROM igams_xxdy xxdy WHERE xxdy.yxx ILIKE '%' ||#{gwmc}||'%' 
        LIMIT 1
   </select>


    <select id="getPagedDtoList" parameterType="XxdyDto" resultType="XxdyDto">
       SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx ,xxdy.dyxx,jcsj.csmc as dylxmc, case when jcsj.cskz1='BM' then jgxx.jgmc else  xxdy.dyxxmc end as dyxxmc , xxdy.zxx, xxdy.dydm, xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6,xxdy.kzcs7,xxdy.kzcs8,xxdy.kzcs9,xxdy.px
	   FROM igams_xxdy xxdy
	   LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        LEFT JOIN matridx_jgxx jgxx on xxdy.dyxx = jgxx.jgid and jgxx.scbj='0'
	   <where>
	       xxdy.scbj='0'	      
	       <if test="dylx != null and dylx != ''">
	          and jcsj.csmc ILIKE '%'|| #{dylx} ||'%'
	       </if>
	       <if test="yxx != null and yxx != ''">
	          and xxdy.yxx ILIKE '%'|| #{yxx} ||'%'
	       </if>
	       <if test="dyxx != null and dyxx != ''">
	          and xxdy.dyxxmc ILIKE '%'|| #{dyxx} ||'%'
	       </if>

           <if test="dydm != null and dydm != ''">
               and xxdy.dydm ILIKE '%'|| #{dydm} ||'%'
           </if>
           <if test="kzcs1 != null and kzcs1 != ''">
               and xxdy.kzcs1 ILIKE '%'|| #{kzcs1} ||'%'
           </if>
           <if test="kzcs2 != null and kzcs2 != ''">
               and xxdy.kzcs2 ILIKE '%'|| #{kzcs2} ||'%'
           </if>
           <if test="kzcs3 != null and kzcs3 != ''">
               and xxdy.kzcs3 ILIKE '%'|| #{kzcs3} ||'%'
           </if>
           <if test="kzcs4 != null and kzcs4 != ''">
               and xxdy.kzcs4 ILIKE '%'|| #{kzcs4} ||'%'
           </if>
           <if test="kzcs5 != null and kzcs5 != ''">
               and xxdy.kzcs5 ILIKE '%'|| #{kzcs5} ||'%'
           </if>
           <if test="kzcs6 != null and kzcs6 != ''">
               and xxdy.kzcs6 ILIKE '%'|| #{kzcs6} ||'%'
           </if>
           <if test="kzcs7 != null and kzcs7 != ''">
               and xxdy.kzcs7 ILIKE '%'|| #{kzcs7} ||'%'
           </if>
           <if test="kzcs8 != null and kzcs8 != ''">
               and xxdy.kzcs8 ILIKE '%'|| #{kzcs8} ||'%'
           </if>
			<if test="dylxcsdm != null and dylxcsdm != ''">
               and jcsj.csdm =#{dylxcsdm}
			</if>
			<if test="dylxs != null and dylxs.length >0">
               and xxdy.dylx in
               <foreach separator="," collection="dylxs" open="(" close=")" index="index" item="item">
                   #{item}
               </foreach>
			</if>
			<if test="dyxxs != null and dyxxs.length >0">
               and xxdy.dyxx in
               <foreach separator="," collection="dyxxs" open="(" close=")" index="index" item="item">
                   #{item}
               </foreach>
			</if>
       </where> 
    </select>

    <select id="getDtoList" parameterType="XxdyDto" resultType="XxdyDto">
        SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx ,xxdy.dyxx,jcsj.csmc as dylxmc,jcsj.csdm as dylxcsdm, case when jcsj.cskz1='BM' then jgxx.jgmc else  xxdy.dyxxmc end as dyxxmc, xxdy.zxx, xxdy.dydm, xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6
        FROM igams_xxdy xxdy

        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        LEFT JOIN matridx_jgxx jgxx on xxdy.dyxx = jgxx.jgid and jgxx.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and jcsj.csmc = #{dylx}
            </if>
            <if test="yxx != null and yxx != ''">
                and xxdy.yxx = #{yxx}
            </if>
            <if test="dyxx != null and dyxx != ''">
                and xxdy.dyxxmc = #{dyxx}
            </if>
            <if test="dyxxid != null and dyxxid != ''">
                and xxdy.dyxx = #{dyxxid}
            </if>
            <if test="dydm != null and dydm != ''">
                and xxdy.dydm = #{dydm}
            </if>
            <if test="kzcs1 != null and kzcs1 != ''">
                and xxdy.kzcs1 = #{kzcs1}
            </if>
            <if test="kzcs2 != null and kzcs2 != ''">
                and xxdy.kzcs2 = #{kzcs2}
            </if>
            <if test="kzcs3 != null and kzcs3 != ''">
                and xxdy.kzcs3 = #{kzcs3}
            </if>
            <if test="kzcs4 != null and kzcs4 != ''">
                and xxdy.kzcs4 = #{kzcs4}
            </if>
            <if test="xshz != null and xshz != ''">
                and (xxdy.kzcs4 = #{xshz} or xxdy.kzcs4 is null)
            </if>
            <if test="kzcs5 != null and kzcs5 != ''">
                and xxdy.kzcs5 = #{kzcs5}
            </if>
            <if test="kzcs6 != null and kzcs6 != ''">
                and xxdy.kzcs6 = #{kzcs6}
            </if>
            <if test="cskz1 != null and cskz1 != ''">
                and jcsj.cskz1 = #{cskz1}
            </if>
            <if test="dylxcsdm != null and dylxcsdm != ''">
                and jcsj.csdm =#{dylxcsdm}
            </if>
        </where>
    </select>

    <select id="queryHolidays"  parameterType="XxdyDto" resultType="XxdyDto">
        SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx ,xxdy.dyxx,jcsj.csmc as dylxmc,jcsj.csdm as dylxcsdm, xxdy.zxx, xxdy.dydm,
        xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6,
        case when xxdy.dyxx=#{beginTime} or xxdy.dyxx=#{endTime} then '1' else '0' end as flag
        FROM igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        where
        xxdy.scbj='0' and xxdy.dyxx BETWEEN #{beginTime} and #{endTime} and jcsj.csdm =#{dylxcsdm}
    </select>

    <select id="getCount" parameterType="XxdyDto" resultType="int">
      select count(xxdy.dyid) from igams_xxdy as xxdy
      <where>
         xxdy.scbj = '0' and xxdy.dyid=#{dyid}
      </where>
   </select>

    <select id="getInfo" parameterType="XxdyDto" resultType="XxdyDto">
        select  dyid from igams_xxdy as xxdy
        <where>
            xxdy.scbj = '0' and xxdy.dylx=#{dylx} and xxdy.yxxid=#{yxxid}  and xxdy.dyxx=#{dyxx} and xxdy.kzcs4=#{kzcs4} and xxdy.kzcs5=#{kzcs5}
            and xxdy.dydm=#{dydm} and xxdy.kzcs1=#{kzcs1} and xxdy.kzcs2=#{kzcs2} and xxdy.kzcs3=#{kzcs3} and xxdy.kzcs4=#{kzcs4}
            and xxdy.kzcs5=#{kzcs5} and xxdy.kzcs6=#{kzcs6}
            <if test="zid != null and zid != ''">
                and xxdy.zid=#{zid}
            </if>
            <if test="dyid != null and dyid != ''">
                and xxdy.dyid !=#{dyid}
            </if>
        </where>
    </select>
    
    <select id="getDto" parameterType="XxdyDto" resultType="XxdyDto">
       SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx ,xxdy.dyxx ,jc_dylx.csmc  as dylxmc, xxdy.yxxid, xxdy.zid, xxdy.zxx, xxdy.dydm, xxdy.kzcs1, xxdy.kzcs2, xxdy.kzcs3, xxdy.kzcs4, xxdy.kzcs5, xxdy.kzcs6,xxdy.dyxx as dyxx_input
        , xxdy.kzcs7, xxdy.kzcs8, xxdy.kzcs9,xxdy.px,
        case when jc_dylx.cskz1='BM' then jgxx.jgmc else  xxdy.dyxxmc end as dyxxmc
	   FROM igams_xxdy xxdy
	   LEFT JOIN matridx_jcsj jc_dylx on xxdy.dylx = jc_dylx.csid and jc_dylx.scbj='0'
       LEFT JOIN matridx_jgxx jgxx on xxdy.dyxx = jgxx.jgid and jgxx.scbj='0'
	   <where>
	      xxdy.scbj = '0'
           <if test="dyid != null and dyid != ''">
               and xxdy.dyid =#{dyid}
           </if>
           <if test="yxxid != null and yxxid != ''">
               and xxdy.yxxid = #{yxxid}
           </if>
           <if test="zid != null and zid != ''">
               and xxdy.zid =#{zid}
           </if>
           <if test="kzcs6 != null and kzcs6 != ''">
               and xxdy.kzcs6 =#{kzcs6}
           </if>
           <if test="dyxx != null and dyxx != ''">
               and xxdy.dyxx =#{dyxx}
           </if>
           <if test="yxx != null and yxx != ''">
               and xxdy.yxx =#{yxx}
           </if>
           <if test="dylx != null and dylx != ''">
               and xxdy.dylx =#{dylx}
           </if>
           <if test="dylxcsdm != null and dylxcsdm != ''">
               and jc_dylx.csdm =#{dylxcsdm}
           </if>
           <if test="dydm != null and dydm != ''">
               and xxdy.dydm =#{dydm}
           </if>
	   </where>
    </select>

    <select id="getPagedInfoDtoList" parameterType="XxdyDto" resultType="XxdyDto">
        SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx, xxdy.yxxid, xxdy.zid ,xxdy.dyxx,jcsj.csmc as dylxmc, case when jcsj.cskz1='BM' then jgxx.jgmc else  xxdy.dyxxmc end as dyxxmc , xxdy.zxx, xxdy.dydm, xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6
        FROM igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        LEFT JOIN matridx_jgxx jgxx on xxdy.dyxx = jgxx.jgid and jgxx.scbj='0'
        <where>
            xxdy.scbj = '0'
            and xxdy.dyid not in (
            select dyid from igams_sjsygl sjsygl where sjsygl.scbj = '0' and sjsygl.sjid = #{id}
            )
            <if test="yxxid != null and yxxid != ''">
                and xxdy.yxxid = #{yxxid}
            </if>
            <if test="zid != null and zid != ''">
                and xxdy.zid =#{zid}
            </if>
            <if test="kzcs4 != null and kzcs4 != ''">
                and (xxdy.kzcs4 =#{kzcs4} or xxdy.kzcs4 is null or xxdy.kzcs4 = '')
            </if>
            <if test="kzcs5 != null and kzcs5 != ''">
                and (xxdy.kzcs5 =#{kzcs5} or xxdy.kzcs5 is null or xxdy.kzcs5 = '')
            </if>
        </where>
    </select>

    <!-- 新增一条信息对应数据 -->
    <insert id="insertDto" parameterType="XxdyDto">
        insert into igams_xxdy(
            dyid
            <if test="dylx != null and dylx !=''">
              ,dylx   
           </if>
            <if test="yxx != null and yxx !=''">
              ,yxx  
           </if>
           <if test="dyxx != null and dyxx !=''">
              ,dyxx   
           </if>
           <if test="dyxxmc != null and dyxxmc !=''">
              ,dyxxmc   
           </if>
            <if test="yxxid != null and yxxid !=''">
                ,yxxid
            </if>
            <if test="zid != null and zid !=''">
                ,zid
            </if>
            <if test="zxx != null and zxx !=''">
                ,zxx
            </if>
            <if test="dydm != null and dydm !=''">
                ,dydm
            </if>
            <if test="kzcs1 != null and kzcs1 !=''">
                ,kzcs1
            </if>
            <if test="kzcs2 != null and kzcs2 !=''">
                ,kzcs2
            </if>
            <if test="kzcs3 != null and kzcs3 !=''">
                ,kzcs3
            </if>
            <if test="kzcs4 != null and kzcs4 !=''">
                ,kzcs4
            </if>
            <if test="kzcs5 != null and kzcs5 !=''">
                ,kzcs5
            </if>
            <if test="kzcs6 != null and kzcs6 !=''">
                ,kzcs6
            </if>
            <if test="kzcs7 != null and kzcs7 !=''">
                ,kzcs7
            </if>
            <if test="kzcs8 != null and kzcs8 !=''">
                ,kzcs8
            </if>
            <if test="kzcs9 != null and kzcs9 !=''">
                ,kzcs9
            </if>
        <if test="px != null and px !=''">
            ,px
        </if>
           ,lrry,lrsj,scbj
        )values(
           #{dyid}   
           <if test="dylx != null and dylx !=''">
              ,#{dylx}   
           </if>
           <if test="yxx != null and yxx !=''">
              ,#{yxx}   
           </if>
           <if test="dyxx != null and dyxx !=''">
              ,#{dyxx}   
           </if>
           <if test="dyxxmc != null and dyxxmc !=''">
              ,#{dyxxmc}   
           </if>
            <if test="yxxid != null and yxxid !=''">
                ,#{yxxid}
            </if>
            <if test="zid != null and zid !=''">
                ,#{zid}
            </if>
            <if test="zxx != null and zxx !=''">
                ,#{zxx}
            </if>
            <if test="dydm != null and dydm !=''">
                ,#{dydm}
            </if>
            <if test="kzcs1 != null and kzcs1 !=''">
                ,#{kzcs1}
            </if>
            <if test="kzcs2 != null and kzcs2 !=''">
                ,#{kzcs2}
            </if>
            <if test="kzcs3 != null and kzcs3 !=''">
                ,#{kzcs3}
            </if>
            <if test="kzcs4 != null and kzcs4 !=''">
                ,#{kzcs4}
            </if>
            <if test="kzcs5 != null and kzcs5 !=''">
                ,#{kzcs5}
            </if>
            <if test="kzcs6 != null and kzcs6 !=''">
                ,#{kzcs6}
            </if>
            <if test="kzcs7 != null and kzcs7 !=''">
                ,#{kzcs7}
            </if>
            <if test="kzcs8 != null and kzcs8 !=''">
                ,#{kzcs8}
            </if>
            <if test="kzcs9 != null and kzcs9 !=''">
                ,#{kzcs9}
            </if>
        <if test="px != null and px !=''">
            ,cast(#{px} as numeric)
        </if>
           ,#{lrry},LOCALTIMESTAMP,'0'
        )
    </insert>
    
  <!--   更新信息对应表中的数据 -->
    <update id="updateDto" parameterType="XxdyDto">
        update igams_xxdy set 
        <if test="dylx != null and dylx != ''">
            dylx = #{dylx}
        </if>
        <if test="yxx != null and yxx != ''">
            ,yxx = #{yxx}
        </if>
        <if test="dyxx != null and dyxx != ''">
            ,dyxx = #{dyxx}
        </if>
        <if test="dyxxmc != null and dyxxmc != ''">
            ,dyxxmc = #{dyxxmc}
        </if>
        <if test="dyxxmc == null or dyxxmc == ''">
            ,dyxxmc = null
        </if>
        <if test="yxxid != null and yxxid != ''">
            ,yxxid = #{yxxid}
        </if>
        <if test="yxxid == null or yxxid == ''">
            ,yxxid = null
        </if>
        <if test="zid != null and zid != ''">
            ,zid = #{zid}
        </if>
        <if test="zid == null or zid == ''">
            ,zid = null
        </if>
        <if test="zxx != null and zxx != ''">
            ,zxx = #{zxx}
        </if>
        <if test="zxx == null or zxx == ''">
            ,zxx = null
        </if>
        <if test="dydm != null and dydm != ''">
            ,dydm = #{dydm}
        </if>
        <if test="dydm == null or dydm == ''">
            ,dydm = null
        </if>
        <if test="kzcs1 != null and kzcs1 != ''">
            ,kzcs1 = #{kzcs1}
        </if>
        <if test="kzcs1 == null or kzcs1 == ''">
            ,kzcs1 = null
        </if>
        <if test="kzcs2 != null and kzcs2 != ''">
            ,kzcs2 = #{kzcs2}
        </if>
        <if test="kzcs2 == null or kzcs2 == ''">
            ,kzcs2 = null
        </if>
        <if test="kzcs3 != null and kzcs3 != ''">
            ,kzcs3 = #{kzcs3}
        </if>
        <if test="kzcs3 == null or kzcs3 == ''">
            ,kzcs3 = null
        </if>
        <if test="kzcs4 != null and kzcs4 != ''">
            ,kzcs4 = #{kzcs4}
        </if>
        <if test="kzcs4 == null or kzcs4 == ''">
            ,kzcs4 = null
        </if>
        <if test="kzcs5 != null and kzcs5 != ''">
            ,kzcs5 = #{kzcs5}
        </if>
        <if test="kzcs5 == null or kzcs5 == ''">
            ,kzcs5 = null
        </if>
        <if test="kzcs6 != null and kzcs6 != ''">
            ,kzcs6 = #{kzcs6}
        </if>
        <if test="kzcs6 == null or kzcs6 == ''">
            ,kzcs6 = null
        </if>
        <if test="kzcs7 != null and kzcs7 != ''">
            ,kzcs7 = #{kzcs7}
        </if>
        <if test="kzcs7 == null or kzcs7 == ''">
            ,kzcs7 = null
        </if>
        <if test="kzcs8 != null and kzcs8 != ''">
            ,kzcs8 = #{kzcs8}
        </if>
        <if test="kzcs8 == null or kzcs8 == ''">
            ,kzcs8 = null
        </if>
        <if test="kzcs9 != null and kzcs9 != ''">
            ,kzcs9 = #{kzcs9}
        </if>
        <if test="kzcs9 == null or kzcs9 == ''">
            ,kzcs9 = null
        </if>
        <if test="px != null and px !=''">
            ,px = cast(#{px} as numeric)
        </if>
        <if test="px == null or px ==''">
            ,px = null
        </if>
        ,xgsj = LOCALTIMESTAMP
		,xgry = #{xgry}
		<where>
		  dyid = #{dyid}
		</where>
    </update>
    
  <!--   删除信息对应表中选中数据 -->
    <update id="delete" parameterType="XxdyDto">
        update igams_xxdy set scry = #{scry} ,scsj = LOCALTIMESTAMP ,scbj = '1'
        <where>
            <if test="dyid != null and dyid !=''">
                or dyid = #{dyid}
            </if>
            <if test="ids != null and ids.size()>0">
                or dyid in
                <foreach collection="ids" open="(" close=")" separator="," item = "item">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>
    
    <!-- 得到DTO的dylx对应的基础数据cskz -->
    <select id="getCskz" parameterType="XxdyDto" resultType="XxdyDto">
        SELECT jc.csid as dylx,jc.csdm as dylxcsdm,jc.cskz1 ,jc.cskz2
        FROM matridx_jcsj jc 
		<where>
		   jc.scbj='0' and jc.csid=#{dylx}
		</where>
		limit 1
    </select>
    
    <!-- 通过dyxx找到dyxxmc（人员） -->
    <select id="getRyXxdymc" parameterType="String" resultType="String">
        SELECT yh.zsxm as dyxxmc FROM matridx_xtyh yh 
        <where>
         yh.scbj='0' and yh.yhid =#{dyxx}
        </where>
    </select>
    
    <!-- 通过dyxx找到dyxxmc（角色） -->
    <select id="getJsXxdymc" parameterType="String" resultType="String">
         select js.jsmc from matridx_xtjs js 
         <where>
            js.scbj='0' and js.jsid=#{dyxx}
         </where>
    </select>
    
    <!-- 通过dyxx找到dyxxmc（基础数据） -->
    <select id="getJcsjXxdymc" parameterType="String" resultType="String">
         select jc.csmc as dyxxmc from matridx_jcsj jc 
         <where>
            jc.scbj='0' and jc.csid= #{dyxx}
         </where>
    </select>
    
   <!--  通过用户的岗位名称查找对应表中的角色Id -->
<!--    <select id="getJsidByGwmc" parameterType="String" resultTyRpe="String">
        select dy.dyxx as jsid 
        from igams_xxdy dy 
        <where>
           dy.scbj='0' and dy.yxx ILIKE '%'|| #{gwmc} ||'%'
        </where>
        limit 1
        
        SELECT dy.dyxx from igams_xxdy dy  where '特检实验员（杭州）' like '%'||dy.yxx|| '%' order by dy.yxx desc limit 1
   </select>  -->
   <select id="getJsidByGwmc" parameterType="String" resultType="String">
        SELECT dy.dyxx as jsid 
        from igams_xxdy dy
        <where>
           dy.scbj='0' and #{gwmc} ILIKE '%'||dy.yxx|| '%'
        </where>
        order by dy.yxx desc limit 1
   </select>

    <select id="getCountForSearchExp"  parameterType="XxdyDto" resultType="java.lang.Integer">
        select count(xxdy.dyid)
        FROM igams_xxdy xxdy
        LEFT JOIN matridx_jcsj dylx on xxdy.dylx = dylx.csid and dylx.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and dylx.csmc ILIKE '%'|| #{dylx} ||'%'
            </if>
            <if test="yxx != null and yxx != ''">
                and xxdy.yxx ILIKE '%'|| #{yxx} ||'%'
            </if>
            <if test="dyxx != null and dyxx != ''">
                and xxdy.dyxxmc ILIKE '%'|| #{dyxx} ||'%'
            </if>
        </where>
    </select>

    <select id="getListForSearchExp" parameterType="XxdyDto" resultType="XxdyDto">
        select xxdy.dyid ${sqlParam}
        FROM igams_xxdy xxdy
        LEFT JOIN matridx_jcsj dylx on xxdy.dylx = dylx.csid and dylx.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and dylx.csmc ILIKE '%'|| #{dylx} ||'%'
            </if>
            <if test="yxx != null and yxx != ''">
                and xxdy.yxx ILIKE '%'|| #{yxx} ||'%'
            </if>
            <if test="dyxx != null and dyxx != ''">
                and xxdy.dyxxmc ILIKE '%'|| #{dyxx} ||'%'
            </if>
        </where>
        order by
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>

    <select id="getListForSelectExp" parameterType="XxdyDto" resultType="XxdyDto">
        SELECT xxdy.dyid ${sqlParam}
        from (
        <foreach item="item" index="index" collection="ids" separator=" union all ">
            select #{item,jdbcType=VARCHAR} dyid,#{index} ordernum
        </foreach>
        ) tmp
        LEFT JOIN igams_xxdy xxdy on tmp.dyid = xxdy.dyid
        LEFT JOIN matridx_jcsj dylx on xxdy.dylx = dylx.csid and dylx.scbj='0'
        <where>
            xxdy.scbj='0'
        </where>
        order by tmp.ordernum
    </select>

    <update id="updateAll" parameterType="XxdyDto">
        update igams_xxdy set
            dylx = #{dylx}
            ,yxx = #{yxx}
            ,dyxx = #{dyxx}
            ,dyxxmc = #{dyxxmc}
            ,yxxid = #{yxxid}
            ,zid = #{zid}
            ,zxx = #{zxx}
            ,dydm = #{dydm}
            ,kzcs1 = #{kzcs1}
            ,kzcs2 = #{kzcs2}
            ,kzcs3 = #{kzcs3}
            ,kzcs4 = #{kzcs4}
            ,kzcs5 = #{kzcs5}
            ,kzcs6 = #{kzcs6}
        ,xgsj = LOCALTIMESTAMP
        ,xgry = #{xgry}
        <where>
            dyid = #{dyid}
        </where>
    </update>

    <select id="getYxxMsg" parameterType="XxdyDto" resultType="XxdyDto">
        select xxdy.yxx,xxdy.dylx,jcsj.csmc dylxmc,xxdy.kzcs6
        from igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and jcsj.csid=#{dylx}
            </if>
            <if test="kzcs6 != null and kzcs6 != ''">
                and xxdy.kzcs6 = #{kzcs6}
            </if>
            <if test="dylxcsdm != null and dylxcsdm != ''">
                and jcsj.csdm =#{dylxcsdm}
            </if>
        </where>
        group by xxdy.yxx,xxdy.dylx,jcsj.csmc,xxdy.kzcs6
    </select>

    <select id="getDtoMsgByYxx" parameterType="XxdyDto" resultType="XxdyDto">
        select xxdy.yxx,xxdy.dylx,jcsj.csmc dylxmc,xxdy.kzcs6,xxdy.kzcs1,xxdy.kzcs2,xxdy.dyxx,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5
        from igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and jcsj.csid=#{dylx}
            </if>
            <if test="kzcs6 != null and kzcs6 != ''">
                and xxdy.kzcs6 = #{kzcs6}
            </if>
            <if test="dylxcsdm != null and dylxcsdm != ''">
                and jcsj.csdm =#{dylxcsdm}
            </if>
            <if test="yxx != null and yxx != ''">
                and xxdy.yxx =#{yxx}
            </if>
        </where>
        group by xxdy.yxx,xxdy.dylx,jcsj.csmc,xxdy.kzcs6,xxdy.kzcs1,xxdy.kzcs2,xxdy.dyxx,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5
    </select>
    <!--2023/7/24条件从xxdy.dydm in修改为xxdy.kzcs7 in-->
    <select id="getDtoByDydm" parameterType="XxdyDto" resultType="XxdyDto">
        SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx, xxdy.yxxid, xxdy.zid ,xxdy.dyxx,jcsj.csmc as dylxmc, xxdy.dyxxmc , xxdy.zxx, xxdy.dydm,
        xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6,xxdy.kzcs7,xxdy.kzcs8,xxdy.kzcs9,coalesce(jc_jczxm.cskz3,jc_jcxm.cskz3) jcxmcskz3
        FROM igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        left join matridx_jcsj jc_jcxm on jc_jcxm.csid=xxdy.yxxid and jc_jcxm.scbj='0'
        left join matridx_jcsj jc_jczxm on jc_jczxm.csid=xxdy.zid and jc_jczxm.scbj='0'
        where xxdy.kzcs7 in
        <foreach collection="dydms" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
        and xxdy.scbj='0'
    </select>


    <select id="getListGroupByYxx" parameterType="XxdyDto" resultType="XxdyDto">
        select xxdy.yxx,string_agg (distinct  xxdy.dyxx, ',' ) dyxx
        from igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        <where>
            xxdy.scbj='0'
            and jcsj.cskz1=#{cskz1} and jcsj.cskz2=#{cskz2}
            <if test="yxx != null and yxx != ''">
                and xxdy.yxx =#{yxx}
            </if>
        </where>
        group by xxdy.yxx order by xxdy.yxx
    </select>

    <select id="getDyxxByYxx" parameterType="XxdyDto" resultType="XxdyDto">
        select xxdy.yxx,xxdy.dylx,jcsj.csmc dylxmc
        from igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and jcsj.csid=#{dylx}
            </if>
            <if test="kzcs6 != null and kzcs6 != ''">
                and xxdy.kzcs6 = #{kzcs6}
            </if>
            <if test="dylxcsdm != null and dylxcsdm != ''">
                and jcsj.csdm =#{dylxcsdm}
            </if>
        </where>
        group by xxdy.yxx,xxdy.dylx,jcsj.csmc
    </select>

    <select id="getJcsjListByXxdy" parameterType="XxdyDto" resultType="JcsjDto" >
        select jcsj.*
        from
        <foreach collection="yxxs" open="(" close=")" separator=" union all " item="item" index="index">
            select #{item} yxx, #{index} xh
        </foreach> tmp
        LEFT JOIN igams_xxdy xxdy ON tmp.yxx = xxdy.yxx
        LEFT JOIN matridx_jcsj jcsj on xxdy.dyxx  = jcsj.csid
        LEFT JOIN matridx_jcsj jc_dy on xxdy.dylx = jc_dy.csid and jc_dy.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and jc_dy.csdm = #{dylx}
            </if>
        </where>
        ORDER BY tmp.xh
    </select>

    <select id="getJcsjListByLikeXxdy" parameterType="XxdyDto" resultType="JcsjDto" >
        select jcsj.*
        from
        <foreach collection="yxxs" open="(" close=")" separator=" union all " item="item" index="index">
            select #{item} yxx, #{index} xh
        </foreach> tmp
        LEFT JOIN igams_xxdy xxdy on tmp.yxx ILIKE '%'||xxdy.yxx||'%'
        LEFT JOIN matridx_jcsj jcsj on xxdy.dyxx  = jcsj.csid
        LEFT JOIN matridx_jcsj jc_dy on xxdy.dylx = jc_dy.csid and jc_dy.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and jc_dy.csdm = #{dylx}
            </if>
        </where>
        ORDER BY
        tmp.xh,
        CASE WHEN xxdy.yxx = tmp.yxx THEN 0 ELSE 1 END,
        xxdy.px
    </select>




    <select id="getSjwzxxList"  resultType="Map">
        SELECT wzgl.wzid,wzgl.wzywm,wzgl.wzzwm
        FROM  igams_wzgl wzgl
        inner join igams_sjwzxx sjwzxx on wzgl.wzid=sjwzxx.wzid
        group by wzgl.wzid,wzgl.wzywm,wzgl.wzzwm
    </select>

    <select id="getOriginList" parameterType="XxdyDto" resultType="Map">
        select xxdy.dyid,xxdy.dylx,xxdy.yxx,xxdy.dyxx,xxdy.lrry,xxdy.lrsj,xxdy.xgry,xxdy.xgsj,xxdy.scry,xxdy.scsj,xxdy.scbj,xxdy.dyxxmc,
        xxdy.yxxid,xxdy.zid,xxdy.zxx,xxdy.dydm,xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6,xxdy.kzcs7,
        xxdy.kzcs8,xxdy.kzcs9,xxdy.px,jc_dylx.csdm as dylxcsdm,jc_dylx.csmc as dylxmc
        ,kh.gsmc as khmc,yh.zsxm fzrmc
        FROM igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jc_dylx on xxdy.dylx = jc_dylx.csid and jc_dylx.scbj='0'
        LEFT JOIN igams_swkhgl kh on kh.scbj = '0' and kh.khid = xxdy.yxx
        LEFT JOIN matridx_xtyh yh on yh.scbj = '0' and yh.yhid = xxdy.kzcs1
        <where>
            xxdy.scbj='0'
            <if test="dylx != null and dylx != ''">
                and xxdy.dylx = #{dylx}
            </if>
            <if test="yxx != null and yxx != ''">
                and xxdy.yxx = #{yxx}
            </if>
            <if test="dyxx != null and dyxx != ''">
                and xxdy.dyxx = #{dyxx}
            </if>
            <if test="dyxxid != null and dyxxid != ''">
                and xxdy.dyxx = #{dyxxid}
            </if>
            <if test="dydm != null and dydm != ''">
                and xxdy.dydm = #{dydm}
            </if>
            <if test="kzcs1 != null and kzcs1 != ''">
                and xxdy.kzcs1 = #{kzcs1}
            </if>
            <if test="kzcs2 != null and kzcs2 != ''">
                and xxdy.kzcs2 = #{kzcs2}
            </if>
            <if test="kzcs3 != null and kzcs3 != ''">
                and xxdy.kzcs3 = #{kzcs3}
            </if>
            <if test="kzcs4 != null and kzcs4 != ''">
                and xxdy.kzcs4 = #{kzcs4}
            </if>
            <if test="kzcs5 != null and kzcs5 != ''">
                and xxdy.kzcs5 = #{kzcs5}
            </if>
            <if test="kzcs6 != null and kzcs6 != ''">
                and xxdy.kzcs6 = #{kzcs6}
            </if>
            <if test="dylxmc != null and dylxmc != ''">
                and jc_dylx.csmc = #{dylxmc}
            </if>
            <if test="dylxcsdm != null and dylxcsdm != ''">
                and jc_dylx.csdm =#{dylxcsdm}
            </if>
        </where>
    </select>
    
    <select id="getListOrder" parameterType="XxdyDto" resultType="XxdyDto">
        SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx ,xxdy.dyxx,jcsj.csmc as dylxmc,jcsj.csdm as dylxcsdm, case when jcsj.cskz1='BM' then jgxx.jgmc else  xxdy.dyxxmc end as dyxxmc, xxdy.zxx, xxdy.dydm, xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6
        FROM igams_xxdy xxdy

        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        LEFT JOIN matridx_jgxx jgxx on xxdy.dyxx = jgxx.jgid and jgxx.scbj='0'
        <where>
            xxdy.scbj='0'
            <if test="dyxxid != null and dyxxid != ''">
                and xxdy.dyxx = #{dyxxid}
            </if>
            <if test="kzcs1 != null and kzcs1 != ''">
                and xxdy.kzcs1 = #{kzcs1}
            </if>
            <if test="kzcs4 != null and kzcs4 != ''">
                and (xxdy.kzcs4 = #{kzcs4} or xxdy.kzcs4 is null)
            </if>
            <if test="dylxcsdm != null and dylxcsdm != ''">
                and jcsj.csdm =#{dylxcsdm}
            </if>
        </where>
    </select>

    <select id="getCompareListSortByList" parameterType="List" resultType="JcsjDto">
       select jcsj.*
       from
       <foreach collection="list" open="(" close=")" separator=" union all " item="item" index="index">
           select #{item.yxx} yxx, #{item.dylx} dylx, #{index} xh
       </foreach> tmp
       LEFT JOIN igams_xxdy xxdy on tmp.yxx ILIKE '%'||xxdy.yxx||'%'
       LEFT JOIN matridx_jcsj jcsj on xxdy.dyxx  = jcsj.csid
       LEFT JOIN matridx_jcsj jc_dy on xxdy.dylx = jc_dy.csid and jc_dy.scbj='0'
       <where>
           xxdy.scbj='0' and jc_dy.csdm = tmp.dylx
       </where>
       ORDER BY
       tmp.xh,
       CASE WHEN xxdy.yxx = tmp.yxx THEN 0 ELSE 1 END,
       xxdy.px
    </select>

<!--批量新增-->
   <insert id="batchInsertDtos" parameterType="list">
       <if test="list !=null and list.size > 0">
           insert into igams_xxdy (
           dyid,yxx,dyxx,dylx,kzcs1,lrry,lrsj,scbj
           ) values
           <foreach collection="list" separator="," item="item" index="index">
               (
               #{item.dyid},
               #{item.yxx},
               <if test="item.dyxx != null and item.dyxx != ''">
                   #{item.dyxx},
               </if>
               <if test="item.dyxx == null or item.dyxx == ''">
                   null,
               </if>
               <if test="item.dylx != null and item.dylx != ''">
                   #{item.dylx},
               </if>
               <if test="item.dylx == null or item.dylx == ''">
                   null,
               </if>
               <if test="item.kzcs1 != null and item.kzcs1 != ''">
                   #{item.kzcs1},
               </if>
               <if test="item.kzcs1 == null or item.kzcs1 == ''">
                   null,
               </if>
               <if test="item.lrry != null and item.lrry != ''">
                   #{item.lrry},
               </if>
               <if test="item.lrry == null or item.lrry == ''">
                   null,
               </if>
               localtimestamp,
               '0')
           </foreach>
       </if>
    </insert>
    <!--批量修改-->
   <update id="batchUpdateDtos" parameterType="list">
       <if test="list !=null and list.size > 0">
           update igams_xxdy xxdy
           set dyxx = tmp.dyxx,
           kzcs1 = tmp.kzcs1,
           xgry = tmp.xgry,
           xgsj = localtimestamp
           from (
           <foreach collection="list" separator="union" open="(" close=") " item="item" index="index">
               select #{item.dyid} as dyid, #{item.dyxx} as dyxx,#{item.kzcs1} as kzcs1, #{item.xgry} as xgry
           </foreach>
           ) tmp
           where  xxdy.dyid = tmp.dyid
       </if>
    </update>
    <!--批量删除-->
   <update id="batchDeleteDtos" parameterType="list">
       <if test="list !=null and list.size > 0">
           update igams_xxdy xxdy
           set scbj = '1',
           scry = tmp.scry,
           scsj = localtimestamp
           from (
           <foreach collection="list" separator="union" open="(" close=") " item="item" index="index">
               select #{item.dyid} as dyid, #{item.scry} as scry
           </foreach>
           ) tmp
           where  xxdy.dyid = tmp.dyid
       </if>
    </update>
    <select id="getByDylxcsdmAndDyxxAndYxx" parameterType="XxdyDto" resultType="String">
        select xxdy.dydm
        from igams_xxdy xxdy
        left join matridx_jcsj jcsj on xxdy.dylx = jcsj.csid
        left join matridx_jcsj dyxx on dyxx.csid = xxdy.dyxx
        where xxdy.scbj='0' and jcsj.csdm=#{dylxcsdm} and dyxx.csmc=#{dyxx} and xxdy.yxx like #{yxx} ||'%'
        limit 1
    </select>

    <select id="getJcxmByKzcs7" parameterType="XxdyDto" resultType="XxdyDto">
        SELECT xxdy.dyid,xxdy.dylx, xxdy.yxx ,xxdy.dyxx,jcsj.csmc as dylxmc,jcsj.csdm as dylxcsdm,
        xxdy.zxx, xxdy.dydm, xxdy.kzcs1,xxdy.kzcs2,xxdy.kzcs3,xxdy.kzcs4,xxdy.kzcs5,xxdy.kzcs6,jcsj_yxx.cskz3 as jcxmcskz3
        FROM igams_xxdy xxdy
        LEFT JOIN matridx_jcsj jcsj on xxdy.dylx = jcsj.csid and jcsj.scbj='0'
        LEFT JOIN matridx_jcsj jcsj_yxx on xxdy.yxxid = jcsj_yxx.csid
        <where>
            xxdy.scbj='0'
            <if test="kzcs7 != null and kzcs7 != ''">
                and xxdy.kzcs7 = #{kzcs7}
            </if>
            <if test="dylx != null and dylx != ''">
                and jcsj.jclb =#{dylx}
            </if>
        </where>
    </select>

    <select id="getPcdyrq" parameterType="XxdyDto" resultType="Map">
        select xxdy.yxx,jc_dw.csmc jcdwmc,to_char(max(ksrq),'yyyy-mm-dd') ksrq
        from  igams_xxdy xxdy
        left join matridx_jcsj jc_dw on xxdy.kzcs1 = jc_dw.csmc and jc_dw.jclb ='DETECTION_UNIT'
        left join igams_wzzk wzzk on jc_dw.csid = wzzk.jcdwid  and wzzk.scbj ='0'
        left join matridx_jcsj cslx on cslx.csid=xxdy.dylx and cslx.jclb='XXDY_TYPE'
        where cslx.csdm = 'ZKXMPC' and xxdy.kzcs1 in
        <if test="kzcs1s !=null and kzcs1s.size > 0">
            <foreach collection="kzcs1s" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        and xxdy.scbj ='0'
        group by xxdy.yxx,jc_dw.csmc
    </select>

    <select id="getStddevAndVariance" parameterType="XxdyDto" resultType="Map">
        select xxdy.kzcs1 jcdw,xxdy.dyxx wkbh,
        jcdw.csid jcdwid,
        xxdy.yxx xmlx,
        wzid,
        sz,
        cast(avg(cast(mrzk.sz as numeric)) over(partition by xxdy.kzcs1,
        xxdy.yxx,
        wzid) as varchar) jz,
        cast(stddev(cast(mrzk.sz as numeric)) over(partition by xxdy.kzcs1,
        xxdy.yxx,
        wzid) as varchar) bzc
        from igams_xxdy xxdy
        left join matridx_jcsj jcdw on jcdw.csmc=xxdy.kzcs1 and jcdw.jclb='DETECTION_UNIT'
        left join igams_mrzk mrzk on jcdw.csid = mrzk.jcdw and xxdy.dyxx = mrzk.ybbh
        left join matridx_jcsj cslx on cslx.csid=xxdy.dylx and cslx.jclb='XXDY_TYPE'
        where cslx.csdm = 'ZKXMPC' and  xxdy.kzcs1 = #{jcdwmc}  and xxdy.yxx = #{yxx}
    </select>
</mapper>
