<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form id="goodBackDisposeModForm"
		class="form-horizontal sl_all_form" method="post" theme="simple"
		data-bs-toggle="validation">
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in"
				id="goodBackDisposeInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<input type="hidden" name="access_token" /> 
							<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}" /> 
							<input type="hidden" name="auditType" id="auditType" th:value="${auditType}"> 
							<input type="hidden" name="dhthid" id="dhthid" th:value="${dhthclDto.dhthid}"> 
							<div class="row">
								<div class="form-group">
									<label for="" class="col-sm-3 control-label"> <span
										style="color: red;">*</span>处理单记录编号：
									</label>
									<div class="col-sm-8">
										<input type="text"  id="clbh" name="clbh" autocomplete='off'
											validate="{required:true,stringMaxLength:64}"
											class="form-control" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<label for="" class="col-sm-3 control-label"> <span
										style="color: red;">*</span>处理措施： </label>
									<div class="col-sm-8">
										<textarea id="clcs" name="clcs" 
											style="height: 50px; margin-top: 10px"
											validate="{required:true,stringMaxLength:512}" class="form-control"
											placeholder=""></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>