<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IDlysymxDao" >
<insert id="saveDlysymx" parameterType="DlysymxDto">
	insert into igams_dlysymx(
	dlysymxid,
	ctvalue,
	concentration,
	concentrationunit,
	stdconcentration,
	referencedye,
	sampleuid,
	replicatedgroup,
	qcresult,
	wellhindex,
	wellvindex,
	well,
	samplenumber,
	samplename,
	sampletype,
	dyename,
	genename,
	wkid,
	jcdw,
	jcdwtype,
	jssj
)
VALUES
<foreach collection="list" separator="," open=""
				close="" item="item" index="index">
(	#{item.dlysymxid},
	#{item.ctvalue},
	#{item.concentration},
	#{item.concentrationunit},
	#{item.stdconcentration},
	#{item.referencedye},
	#{item.sampleuid},
	#{item.replicatedgroup},
	#{item.qcresult},
	#{item.wellhindex},
	#{item.wellvindex},
	#{item.well},
	#{item.samplenumber},
	#{item.samplename},
	#{item.sampletype},
	#{item.dyename},
	#{item.genename},
	#{item.wkid},
	#{item.jcdw},
	#{item.jcdwtype},
	LOCALTIMESTAMP )
	</foreach>
	</insert>
</mapper>
