<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IJqrcsszDao">
	<!-- 添加建库仪器对应编号 -->
	<insert id="saveJkywzsz" parameterType="JqrcsszDto">
		insert into igams_jqrcssz
		(csszid,
		tdh,
		cbgddbh,
		sbpzbh,
		scbj,
		cbwzbh
		)
		values
		(
		#{csszid},
		#{tdh},
		#{cbgddbh},
		#{sbpzbh},
		#{scbj},
		#{cbwzbh}
		)
	</insert>

	<!-- 根据通道号获取建库仪器对应编号 -->
	<select id="getByTdh"  parameterType="JqrcsszDto"
		resultType="JqrcsszDto">
		select * from igams_jqrcssz where tdh = #{tdh}
	</select>
	

	
	<!-- 根据wzszid修改信息 -->
	<update id="updateByWzszid" parameterType="JqrcsszDto">
		update igams_jqrcssz
          set cbgddbh=#{cbgddbh},tdh=#{tdh},sbpzbh=#{sbpzbh},cbwzbh=#{cbwzbh}
		where wzszid = #{csszid}
	</update>

	
	<!-- 获取所有建库仪器对应编号 -->
	<select id="getList" 
		resultType="JqrcsszDto">
		select * from igams_jqrcssz
	</select>
</mapper>
