<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.ISjlcDao" >


    <select id="getSjlcList" parameterType="SjlcDto" resultType="SjlcDto">
        SELECT
        s.*,
        ml.sjmc bz
        FROM
        matridx_sjlc s
        LEFT JOIN matridx_mlsj ml ON ml.sjid = s.sjid
        AND ml.scbj != '1'
        WHERE
        s.lclx= #{lclx}
        AND s.scbj != '1'
        ORDER BY
        xh ASC

    </select>
</mapper>
