<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IWkglDao" >
	<sql id="SEARCH_TERMS">
		 wkgl.scbj!='1'
		 <if test="wkmc != null and wkmc != ''">
		 	and wkgl.wkmc like '%'||#{wkmc}||'%'
		</if>
	</sql>
	<select id="getPagedDtoList" parameterType="WkglDto" resultType="WkglDto">
		select wkid,wkmc,xsyph,kzyph,bzyph1,bzyph2,bzyph3,bzyph4,bzyph5,bxy,phhhy,zjhcytj
		from igams_wkgl wkgl
		<where>
			<include refid="SEARCH_TERMS"></include>
		</where>
	</select>

	<select id="getWkglDtoBywkid" parameterType="WkglDto" resultType="WkglDto">
		select * from igams_wkgl where wkid=#{wkid} and scbj='0' limit 1
	</select>
	
	<update id="update" parameterType="WkglDto">
		update igams_wkgl 
		<set>
			<trim prefixOverrides=",">
				<if test="bxy !=null and  bxy !=''">
					,bxy = #{bxy}
				</if>
				<if test="phhhy !=null and  phhhy !=''">
					,phhhy = #{phhhy}
				</if>
				<if test="zjhcytj !=null and  zjhcytj !=''">
					,zjhcytj = #{zjhcytj}
				</if>
				<if test="sfdr !=null and  sfdr !=''">
					,sfdr = #{sfdr}
				</if>
			</trim>
		</set>
		<where>
			wkid=#{wkid}
		</where>		
	</update>

	<insert id="insertWkgl" parameterType="WkglDto">
		insert into igams_wkgl(wkid
		<if test="wkmc !=null and  wkmc !=''">
			,wkmc
		</if>
		<if test="xsyph !=null and  xsyph !=''">
			,xsyph
		</if>
		<if test="xsyph !=null and  xsyph !=''">
			,xsyph
		</if>
		<if test="kzyph !=null and  kzyph !=''">
			,kzyph
		</if>
		<if test="bzyph1 !=null and  bzyph1 !=''">
			,bzyph1
		</if>
		<if test="bzyph2 !=null and  bzyph2 !=''">
			,bzyph2
		</if>
		<if test="bzyph3 !=null and  bzyph3 !=''">
			,bzyph3
		</if>
		<if test="bzyph4 !=null and  bzyph4 !=''">
			,bzyph4
		</if>
		<if test="bzyph5 !=null and  bzyph5 !=''">
			,bzyph5
		</if>
		<if test="bxy !=null and  bxy !=''">
			,bxy
		</if>
		<if test="phhhy !=null and  phhhy !=''">
			,phhhy
		</if>
		<if test="zjhcytj !=null and  zjhcytj !=''">
			,zjhcytj
		</if>
		<if test="lrsj !=null and  lrsj !=''">
			,lrsj
		</if>
		<if test="scsj !=null and  scsj !=''">
			,lrsj
		</if>
		,scbj)values(
		#{wkid}
		<if test="wkmc !=null and  wkmc !=''">
			,#{wkmc}
		</if>
		<if test="xsyph !=null and  xsyph !=''">
			,#{xsyph}
		</if>
		<if test="xsyph !=null and  xsyph !=''">
			,#{xsyph}
		</if>
		<if test="kzyph !=null and  kzyph !=''">
			,#{kzyph}
		</if>
		<if test="bzyph1 !=null and  bzyph1 !=''">
			,#{bzyph1}
		</if>
		<if test="bzyph2 !=null and  bzyph2 !=''">
			,#{bzyph2}
		</if>
		<if test="bzyph3 !=null and  bzyph3 !=''">
			,#{bzyph3}
		</if>
		<if test="bzyph4 !=null and  bzyph4 !=''">
			,#{bzyph4}
		</if>
		<if test="bzyph5 !=null and  bzyph5 !=''">
			,#{bzyph5}
		</if>
		<if test="bxy !=null and  bxy !=''">
			,#{bxy}
		</if>
		<if test="phhhy !=null and  phhhy !=''">
			,#{phhhy}
		</if>
		<if test="zjhcytj !=null and  zjhcytj !=''">
			,#{zjhcytj}
		</if>
		<if test="lrsj !=null and  lrsj !=''">
			,cast (#{lrsj} as timestamp)
		</if>
		<if test="scsj !=null and  scsj !=''">
			,cast (#{scsj} as timestamp)
		</if>
		,0
		)

	</insert>
</mapper>
