<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IWksyDao" >
<insert id="saveDlysy" parameterType="WksyDto">
		insert into igams_wksy(wksyid
		<if test="wkid !=null and wkid != ''">
			,wkid
		</if>
		<if test="djcsy !=null and djcsy != ''">
			,djcsy
		</if>
		<if test="ispcr !=null and ispcr != ''">
			,ispcr
		</if>
		<if test="pzyqid !=null and pzyqid != ''">
			,pzyqid
		</if>
		<if test="sysid !=null and sysid != ''">
			,sysid
		</if>
		,jssj,sbsj) values(#{wksyid}
		<if test="wkid !=null and wkid != ''">
			,#{wkid}
		</if>
		<if test="djcsy !=null and djcsy != ''">
			,#{djcsy}
		</if>
		<if test="ispcr !=null and ispcr != ''">
			,#{ispcr}
		</if>
		<if test="pzyqid !=null and pzyqid != ''">
			,#{pzyqid}
		</if>
		<if test="sysid !=null and sysid != ''">
			,#{sysid}
		</if>
		,LOCALTIMESTAMP,LOCALTIMESTAMP)
	</insert>
	<!--更新标本量申请的状态信息-->
	<update id="updateDlysyDto" parameterType="WksyDto">
		update igams_wksy 
		<choose>
		<when test="sbsj !=null and sbsj != ''">
			set sbsj = cast(#{sbsj}as timestamp)
		</when>
		<otherwise>
          set sbsj = null,
         </otherwise>
		</choose>
		where wksyid = #{wksyid}
	</update>
	<!--更新标本量申请的状态信息-->
	<select id="getWksyDtoBywkid" parameterType="WksyDto" resultType="WksyDto">
	
	select * from igams_wksy where wkid=#{wkid} and djcsy='1' limit 1
	</select>
	
	<update id="update" parameterType="WksyDto">
		update igams_wksy 
          set bxy=#{bxy},phhhy=#{phhhy},zjhcytj=#{zjhcytj}
		where wkid = #{wkid}
	</update>
</mapper>
