<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IYblcsjDao">
	<!-- 修改样本流程事件 -->
	<update id="updateYblcsjByList" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item"
					 index="index">
				update igams_yblcsj
				<set>
					<if test="item.jqrztpsj != null and item.jqrztpsj != ''">
						jqrztpsj =cast(#{item.jqrztpsj}as timestamp),
					</if>
					<if test="item.jkykssj != null and item.jkykssj != ''">
						jkykssj =cast(#{item.jkykssj}as timestamp),
					</if>
					<if test="item.jkyjssj != null and item.jkyjssj != ''">
						jkyjssj =cast(#{item.jkyjssj}as timestamp),
					</if>
					<if test="item.jqrncybsj != null and item.jqrncybsj != ''">
						jqrncybsj =cast(#{item.jqrncybsj}as timestamp),
					</if>
					<if test="item.pzykssj != null and item.pzykssj != ''">
						pzykssj =cast(#{item.pzykssj}as timestamp),
					</if>
					<if test="item.dycpyjssj != null and item.dycpyjssj != ''">
						dycpyjssj =cast(#{item.dycpyjssj}as timestamp),
					</if>
					<if test="item.dycdlykssj != null and item.dycdlykssj != ''">
						dycdlykssj =cast(#{item.dycdlykssj}as timestamp),
					</if>
					<if test="item.dycdljssj != null and item.dycdljssj != ''">
						dycdljssj =cast(#{item.dycdljssj}as timestamp),
					</if>
					<if test="item.decpykssj != null and item.decpykssj != ''">
						decpykssj =cast(#{item.decpykssj}as timestamp),
					</if>
					<if test="item.decpyjssj != null and item.decpyjssj != ''">
						decpyjssj =cast(#{item.decpyjssj}as timestamp),
					</if>
					<if test="item.decdlykssj != null and item.decdlykssj != ''">
						decdlykssj =cast(#{item.decdlykssj}as timestamp),
					</if>
					<if test="item.decdlyjssj != null and item.decdlyjssj != ''">
						decdlyjssj =cast(#{item.decdlyjssj}as timestamp),
					</if>
					<if test="item.frcxysj != null and item.frcxysj != ''">
						frcxysj =cast(#{item.frcxysj}as timestamp),
					</if>
				</set>
				<where>
					ysybid=#{item.ysybid}
				</where>
			</foreach>
		</if>
	</update>
   <!--	根据原始样本id修改-->
	<update id="updateYblcsjById" parameterType="YblcsjDto">

				update igams_yblcsj
				<set>
					<if test="jqrztpsj != null and jqrztpsj != ''">
						jqrztpsj =cast(#{jqrztpsj}as timestamp),
					</if>
					<if test="jkykssj != null and jkykssj != ''">
						jkykssj =cast(#{jkykssj}as timestamp),
					</if>
					<if test="jkyjssj != null and jkyjssj != ''">
						jkyjssj =cast(#{jkyjssj}as timestamp),
					</if>
					<if test="jqrncybsj != null and jqrncybsj != ''">
						jqrncybsj =cast(#{jqrncybsj}as timestamp),
					</if>
					<if test="pzykssj != null and pzykssj != ''">
						pzykssj =cast(#{pzykssj}as timestamp),
					</if>
					<if test="dycpyjssj != null and dycpyjssj != ''">
						dycpyjssj =cast(#{dycpyjssj}as timestamp),
					</if>
					<if test="dycdlykssj != null and dycdlykssj != ''">
						dycdlykssj =cast(#{dycdlykssj}as timestamp),
					</if>
					<if test="dycdljssj != null and dycdljssj != ''">
						dycdljssj =cast(#{dycdljssj}as timestamp),
					</if>
					<if test="decpykssj != null and decpykssj != ''">
						decpykssj =cast(#{decpykssj}as timestamp),
					</if>
					<if test="decpyjssj != null and decpyjssj != ''">
						decpyjssj =cast(#{decpyjssj}as timestamp),
					</if>
					<if test="decdlykssj != null and decdlykssj != ''">
						decdlykssj =cast(#{decdlykssj}as timestamp),
					</if>
					<if test="decdlyjssj != null and decdlyjssj != ''">
						decdlyjssj =cast(#{decdlyjssj}as timestamp),
					</if>
					<if test="frcxysj != null and frcxysj != ''">
						frcxysj =cast(#{frcxysj}as timestamp),
					</if>
				</set>
				<where>
					<if test="ysybid !=null and ysybid != ''" >
						ysybid=#{ysybid}
					</if>
					<if test="ids !=null and ids.size >0" >
						ysybid in
						<foreach collection="ids" open="(" close=")" separator="," item="item">
							#{item}
						</foreach>
					</if>
					<if test="(ids ==null or ids.size ==0)and(ysybid ==null or ysybid == '')" >
						ysybid = '-1'
					</if>
				</where>

	</update>
	<!-- 根据样本id查询样本流程事件信息 -->
	<select id="getByYsybId" parameterType="YblcsjDto" resultType="YblcsjDto">
	   select * from igams_yblcsj where ysybid =#{ysybid}
	</select>
	<insert id="insert" parameterType="YblcsjDto">
		insert into  igams_yblcsj (lcsjid,ysybid) values (#{lcsjid},#{ysybid})
	</insert>
	<insert id="insertList" parameterType="List">
		<if test="list !=null and list.size > 0">
			insert into  igams_yblcsj (lcsjid,ysybid) values
			<foreach collection="list" separator="," open="" close=""
					 item="item" index="index">
				(#{item.lcsjid},#{item.ysybid})
			</foreach>
		</if>
	</insert>


	<select id="getPagedDtoList" parameterType="YblcsjDto"
			resultType="YblcsjDto">
		SELECT
		lc.lcsjid,
		ys.nbbh,
		to_char(lc.jqrztpsj,'yyyy-mm-dd hh24:mi:ss') jqrztpsj,
		to_char(lc.jkykssj,'yyyy-mm-dd hh24:mi:ss') jkykssj,
		to_char(lc.jkyjssj,'yyyy-mm-dd hh24:mi:ss') jkyjssj,
		to_char(lc.jqrncybsj,'yyyy-mm-dd hh24:mi:ss') jqrncybsj,
		to_char(lc.pzykssj,'yyyy-mm-dd hh24:mi:ss') pzykssj,
		to_char(lc.dycpyjssj,'yyyy-mm-dd hh24:mi:ss') dycpyjssj,
		to_char(lc.dycdlykssj,'yyyy-mm-dd hh24:mi:ss') dycdlykssj,
		to_char(lc.dycdljssj,'yyyy-mm-dd hh24:mi:ss') dycdljssj,
		to_char(lc.decpykssj,'yyyy-mm-dd hh24:mi:ss') decpykssj,
		to_char(lc.decpyjssj,'yyyy-mm-dd hh24:mi:ss') decpyjssj,
		to_char(lc.decdlykssj,'yyyy-mm-dd hh24:mi:ss') decdlykssj,
		to_char(lc.decdlyjssj,'yyyy-mm-dd hh24:mi:ss') decdlyjssj,
		to_char(lc.frcxysj,'yyyy-mm-dd hh24:mi:ss') frcxysj
		FROM
		igams_yblcsj lc
		LEFT JOIN igams_ysybxx ys ON lc.ysybid = ys.ysybid
		where  ys.scbj != '1'
		<if test="jqrztpsjstart != null and jqrztpsjstart != ''">
			and to_char(lc.jqrztpsj,'yyyy-mm-dd') &gt;= #{jqrztpsjstart}
		</if>
		<if test="jqrztpsjend !=null and jqrztpsjend !=''">
			and to_char(lc.jqrztpsj,'yyyy-mm-dd') &lt;= #{jqrztpsjend}
		</if>





	</select>
	<select id="getYblcsjDtoList" parameterType="YblcsjDto" resultType="YblcsjDto">
		select lc.lcsjid,
		ys.nbbh,
		to_char(lc.jqrztpsj,'yyyy-mm-dd hh24:mi:ss') jqrztpsj,
		to_char(lc.jkykssj,'yyyy-mm-dd hh24:mi:ss') jkykssj,
		to_char(lc.jkyjssj,'yyyy-mm-dd hh24:mi:ss') jkyjssj,
		to_char(lc.jqrncybsj,'yyyy-mm-dd hh24:mi:ss') jqrncybsj,
		to_char(lc.pzykssj,'yyyy-mm-dd hh24:mi:ss') pzykssj,
		to_char(lc.dycpyjssj,'yyyy-mm-dd hh24:mi:ss') dycpyjssj,
		to_char(lc.dycdlykssj,'yyyy-mm-dd hh24:mi:ss') dycdlykssj,
		to_char(lc.dycdljssj,'yyyy-mm-dd hh24:mi:ss') dycdljssj,
		to_char(lc.decpykssj,'yyyy-mm-dd hh24:mi:ss') decpykssj,
		to_char(lc.decpyjssj,'yyyy-mm-dd hh24:mi:ss') decpyjssj,
		to_char(lc.decdlykssj,'yyyy-mm-dd hh24:mi:ss') decdlykssj,
		to_char(lc.decdlyjssj,'yyyy-mm-dd hh24:mi:ss') decdlyjssj,
		to_char(lc.frcxysj,'yyyy-mm-dd hh24:mi:ss') frcxysj
		from  igams_yblcsj
		where scbj!='1' and lcsjid in
		<foreach collection="list" separator="," open="(" close=")"
				 item="item" index="index">

			#{item.lcsjid}


		</foreach>

	</select>
</mapper>
