<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IYqdzxxDao" >
<insert id="insert" parameterType="YqdzxxDto">
		insert into igams_yqdzxx(dzid
			,dzzt,yqlx,sbcs
			<if test="sbsj !=null and sbsj != ''">
			,sbsj
			</if>
			,yqid) values(#{dzid},#{dzzt},#{yqlx},#{sbcs}
			<if test="sbsj !=null and sbsj != ''">
				,cast(#{sbsj} as TIMESTAMP)
			</if>
			,#{yqid})
	</insert>
</mapper>
