<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IYqxxinfosxDao" >
    <select id="getDtoList" parameterType="YqxxinfosxDto" resultType="YqxxinfosxDto">
        select * from  matridx_yqxxinfosx where scbj !='1' and yqxxid = #{yqxxid}
    </select>
    <select id="getYqxxinfoSxList" parameterType="YqxxinfosxDto" resultType="YqxxinfosxDto">
        SELECT
        yq.sxmc,jc.csdm
        FROM
        matridx_yqxxinfosx yq
        LEFT JOIN matridx_jcsj jc ON jc.csid = yq.sxlx
        WHERE
        yq.scbj != '1' and yqxxid = #{yqxxid}
    </select>

    <update id="deleteAll" >
        update matridx_yqxxinfosx set  scbj = '1'
        where  scbj != '1'
    </update>
    <insert id="insertList"  parameterType="List">
        insert into matridx_yqxxinfosx(sxid,yqxxid
        ,sxmc
        ,sxlx
        ,scbj
        )
        VALUES
        <foreach collection="list" separator="," open="" close=""
                 item="item" index="index">
            (#{item.sxid},#{item.yqxxid}
            ,#{item.sxmc}
            ,#{item.sxlx}
            ,'0')
        </foreach>
    </insert>
    <update id="updateList"  parameterType="List">
        <foreach collection="list" separator=";" open="" close=""
                 item="item" index="index">
            update  matridx_yqxxinfosx set yqxxid=#{item.yqxxid},
            sxmc=#{item.sxmc},sxlx=#{item.sxlx},scbj='0'
            where  sxid=#{item.sxid}
        </foreach>
    </update>
</mapper>
