<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IYqztxxDao" >
<update id="updateStYqztxx" parameterType="YqztxxDto">
update igams_yqztxx set yqzt = #{yqzt},xgsj = LOCALTIMESTAMP
		where
		sbid = #{sbid} and scbj !='1'
</update>
<select id="getDto" parameterType="YqztxxDto"
		resultType="YqztxxDto">
		select 
		yqid,yqmc,yqzt,yqlx
		from
		igams_yqztxx 
		where sbid=#{sbid} and scbj!='1'
	</select>
	
	<select id="getAllYqztList" 
		resultType="Map">
		select 
		yqmc,sbid,yqzt,yqlx
		from
		igams_yqztxx 
		where scbj!='1' order by yqlx
	</select>
</mapper>
