<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.netty.dao.post.IYsybxxDao" >
    <insert id="insertDto" parameterType="YsybxxDto">
        INSERT INTO igams_ysybxx (
        "ysybid",
        "nbbh",
        "tpbh",
        "tpnwzxh",
        "jth",
        "tcsjph",
        "jkysjph",
        "zbf",
        "zbfmc",
        "lrry",
        "lrsj","scbj"
        )
        VALUES
        (
        #{ysybid},
        #{nbbh},
        #{tpbh},
        #{tpnwzxh},
        #{jth},
        #{tcsjph},
        #{jkysjph},
        #{zbf},
        #{zbfmc},
        #{lrry},
        LOCALTIMESTAMP,'0'
        );
    </insert>
    <insert id="insertList" parameterType="list">
        <if test="list !=null and list.size > 0">
            INSERT INTO igams_ysybxx (
            "ysybid",
            "nbbh",
            "tpbh",
            "tpnwzxh",
            "jth",
            "tcsjph",
            "jkysjph",
            "zbf",
            "zbfmc",
            "lrry",
            "lrsj","scbj"
            )
            VALUES
            <foreach collection="list" separator="," open="" close=""
                     item="item" index="index">
                (
                #{item.ysybid},
                #{item.nbbh},
                #{item.tpbh},
                #{item.tpnwzxh},
                #{item.jth},
                #{item.tcsjph},
                #{item.jkysjph},
                #{item.zbf},
                #{item.zbfmc},
                #{item.lrry},
                LOCALTIMESTAMP,'0'
                )
            </foreach>
        </if>
    </insert>

    <update id="updateList" parameterType="List">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item"
                     index="index">
                update  igams_ysybxx
                <set>
                    <if test="item.nbbh != null and item.nbbh != ''">
                        "nbbh"=#{item.nbbh},
                    </if>
                    <if test="item.tpbh != null and item.tpbh != ''">
                        "tpbh"=#{item.tpbh},
                    </if>
                    <if test="item.tpnwzxh != null and item.tpnwzxh != ''">
                        "tpnwzxh"=#{item.tpnwzxh},
                    </if>
                    <if test="item.jth != null and item.jth != ''">
                        "jth"=#{item.jth},
                    </if>
                    <if test="item.tcsjph != null and item.tcsjph != ''">
                        "tcsjph"=#{item.tcsjph},
                    </if>
                    <if test="item.jkysjph != null and item.jkysjph != ''">
                        "jkysjph"=#{item.jkysjph},
                    </if>
                    <if test="item.zbf != null and item.zbf != ''">
                        "zbf"=#{item.zbf},
                    </if>
                    <if test="item.zbfmc != null and item.zbfmc != ''">
                        "zbfmc"=#{item.zbfmc},
                    </if>
                    <if test="item.jkytdwz != null and item.jkytdwz != ''">
                        "jkytdwz"=#{item.jkytdwz},
                    </if>
                    <if test="item.jkytdh != null and item.jkytdh != ''">
                        "jkytdh"=#{item.jkytdh},
                    </if>
                    <if test="item.xgry != null and item.xgry != ''">
                        "xgry"=#{item.xgry},
                    </if>

                    "xgsj"=LOCALTIMESTAMP
                </set>
                where ysybid = #{item.ysybid}
            </foreach>
        </if>

    </update>
    <update id="updateDto" parameterType="YsybxxDto">
        update  igams_ysybxx
        <set>
            <if test="nbbh != null and nbbh != ''">
                "nbbh"=#{nbbh},
            </if>
            <if test="tpbh != null and tpbh != ''">
                "tpbh"=#{tpbh},
            </if>
            <if test="tpnwzxh != null and tpnwzxh != ''">
                "tpnwzxh"=#{tpnwzxh},
            </if>
            <if test="jth != null and jth != ''">
                "jth"=#{jth},
            </if>
            <if test="tcsjph != null and tcsjph != ''">
                "tcsjph"=#{tcsjph},
            </if>
            <if test="jkysjph != null and jkysjph != ''">
                "jkysjph"=#{jkysjph},
            </if>
            <if test="zbf != null and zbf != ''">
                "zbf"=#{zbf},
            </if>
            <if test="zbfmc != null and zbfmc != ''">
                "zbfmc"=#{zbfmc},
            </if>
            <if test="jkytdwz != null and jkytdwz != ''">
                "jkytdwz"=#{jkytdwz},
            </if>
            <if test="jkytdh != null and jkytdh != ''">
                "jkytdh"=#{jkytdh},
            </if>         
        "xgry"=#{xgry},
        "xgsj"=LOCALTIMESTAMP
        </set>
        where ysybid = #{ysybid}
    </update>
    <select id="getDto" parameterType="YsybxxDto" resultType="YsybxxDto">
       select * from  igams_ysybxx where scbj!='1' and nbbh = #{nbbh}
    </select>


</mapper>
