<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.web.dao.post.IJsgnqxDao" >
	<!-- list添加角色个人权限 -->
	<insert id="insertJsgnqx" parameterType="list" >
		insert into matridx_jsgnqx (jsid, ywid,xszd,xssx)
		values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.jsid},#{item.ywid},#{item.xszd},cast(#{item.xssx} as numeric))
			</foreach>
		</if>
	</insert>
	<!-- 删除个人 角色权限 -->
	<delete id="delete" parameterType="JsgnqxDto">
		delete from matridx_jsgnqx 
		<where>
			<if test="jsid !=null and jsid!=''">
	 			or jsid = #{jsid}
	 		</if>
	 	  	<if test="ids !=null and ids.size>0">
	 	  	  	or jsid in
	 	  	  		<foreach collection="ids" open="(" close=")" separator="," item="item">
	 	  	  			 #{item}
	 	  	  		</foreach>
	 	  	</if>
		</where>
	</delete>
	<!-- 查询单前js的权限 -->
	<select id="getListById" parameterType="String" resultType="JsgnqxDto">
		select xszd,ywid
			from  matridx_jsgnqx 
		<where>
			jsid=#{jsid}
		</where>
	</select>
</mapper>
