<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.web.dao.post.IJsjcdwDao" >
	<insert id="insertJsjcdw" parameterType="list" >
			insert into matridx_jsjcdw(jsid,jcdw)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.jsid},#{item.jcdw})
			</foreach>
		</if>
	</insert>
	
	<delete id="deleteById" parameterType="String">
		delete from matridx_jsjcdw 
		<where>
			jsid=#{jsid}
		</where>
	</delete>
	
	<select id="getDtoList" parameterType="JsjcdwDto" resultType="JsjcdwDto">
		select jsid ,jcdw
		from matridx_jsjcdw
		<where>
			jsid=#{jsid}
		</where>
	</select>
</mapper>
