<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.web.dao.post.IRslyDao">
    <!-- 获取审批id-->
    <select id="getSpid" parameterType="RslyDto" resultType="RslyDto">
		select lyid,spid
		from igams_rsly
		where spid=#{spid}
	</select>

    <insert id="insert" parameterType="RslyDto">
        insert into igams_rsly(lyid,zpid
        <if test="rzygxm != null and rzygxm != ''">
            ,rzygxm
        </if>
        <if test="yrbm != null and yrbm != ''">
            ,yrbm
        </if>
        <if test="zw != null and zw != ''">
            ,zw
        </if>
        <if test="sj != null and sj != ''">
            ,sj
        </if>
        <if test="yglx != null and yglx != ''">
            ,yglx
        </if>
        <if test="rzrq != null and rzrq != ''">
            ,rzrq
        </if>
        <if test="bz != null and bz != ''">
            ,bz
        </if>
        <if test="spid != null and spid != ''">
            ,spid
        </if>
        <if test="wbcxid != null and wbcxid != ''">
            ,wbcxid
        </if>
        )
        values(#{lyid},#{zpid}
        <if test="rzygxm != null and rzygxm != ''">
            ,#{rzygxm}
        </if>
        <if test="yrbm != null and yrbm != ''">
            ,#{yrbm}
        </if>
        <if test="zw != null and zw != ''">
            ,#{zw}
        </if>
        <if test="sj != null and sj != ''">
            ,#{sj}
        </if>
        <if test="yglx != null and yglx != ''">
            ,#{yglx}
        </if>
        <if test="rzrq != null and rzrq != ''">
            ,#{rzrq}
        </if>
        <if test="bz != null and bz != ''">
            ,#{bz}
        </if>
        <if test="spid != null and spid != ''">
            ,#{spid}
        </if>
        <if test="wbcxid != null and wbcxid != ''">
            ,#{wbcxid}
        </if>
        )
    </insert>

    <update id="update" parameterType="RslyDto">
        update igams_rsly
        <set>
            zpid=#{zpid}
            <if test="rzygxm != null and rzygxm != ''">
                ,rzygxm=#{rzygxm}
            </if>
            <if test="yrbm != null and yrbm != ''">
                ,yrbm=#{yrbm}
            </if>
            <if test="zw != null and zw != ''">
                ,zw=#{zw}
            </if>
            <if test="sj != null and sj != ''">
                ,sj=#{sj}
            </if>
            <if test="yglx != null and yglx != ''">
                ,yglx=#{yglx}
            </if>
            <if test="rzrq != null and rzrq != ''">
                ,rzrq=#{rzrq}
            </if>
            <if test="bz != null and bz != ''">
                ,bz=#{bz}
            </if>
            <if test="spid != null and spid != ''">
                ,spid=#{spid}
            </if>
        </set>
        <where>
            lyid=#{lyid}
        </where>
    </update>

    <select id="viewEmployDetails" parameterType="RslyDto" resultType="RslyDto">
        select rsly.rzygxm,jg.jgmc yrbm,rsly.zw,rsly.sj,rsly.rzrq,rsly.bz,jc.csmc yglx
        from igams_rsly rsly
        left join matridx_jgxx jg on jg.jgid=rsly.yrbm
        left join matridx_jcsj jc on jc.csid=rsly.yglx
        where rsly.zpid=#{zpid}
    </select>

</mapper>