<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.web.dao.post.IWbcxDao" >
	<select id="getPagedDtoList" parameterType="WbcxDto" resultType="WbcxDto">
		select wbcx.wbcxid,wbcx.wbcxmc,wbcx.appid,wbcx.secret,wbcx.token,wbcx.gzpt,wbcx.lrry,wbcx.lrsj,wbcx.wbcxdm,wbcx.lx,wbcx.agentid,wbcx.jumpdingtalkurl,wbcx.aeskey,wbcx.cropid,wbcx.px,wbcx.miniappid,wbcx.sftb
		from matridx_wbcx wbcx
		<where>
			wbcx.scbj!='1'
			<if test="wbcxmc != null and wbcxmc != ''">
				and wbcx.wbcxmc like '%'||#{wbcxmc}||'%'
			</if>
			<if test="wbcxdm != null and wbcxdm != ''">
				and wbcx.wbcxdm like '%'||#{wbcxdm}||'%'
			</if>
			<if test="lx != null and lx != ''">
				and wbcx.lx like '%'||#{lx}||'%'
			</if>
			<if test="entire != null and entire != ''">
				and (
				wbcx.wbcxdm like '%'||#{entire}||'%'
				or wbcx.lx like '%'||#{entire}||'%'
				or wbcx.wbcxmc like '%'||#{entire}||'%'
				)
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="WbcxDto">
		insert into matridx_wbcx(
			wbcxid
		<if test="wbcxmc !=null and wbcxmc !=''">
			,wbcxmc
		</if>
		<if test="appid !=null and appid !=''">
			,appid
		</if>
		<if test="secret !=null and secret !=''">
			,secret
		</if>
		<if test="token !=null and token !=''">
			,token
		</if>
		<if test="gzpt !=null and gzpt !=''">
			,gzpt
		</if>
		<if test="wbcxdm !=null and wbcxdm !=''">
			,wbcxdm
		</if>
		<if test="lx !=null and lx !=''">
			,lx
		</if>
		<if test="agentid !=null and agentid !=''">
			,agentid
		</if>
		<if test="jumpdingtalkurl  !=null and jumpdingtalkurl  !=''">
			,jumpdingtalkurl
		</if>
		<if test="aeskey !=null and aeskey !=''">
			,aeskey
		</if>
		<if test="cropid !=null and cropid !=''">
			,cropid
		</if>
		<if test="px !=null and px !=''">
			,px
		</if>
		<if test="miniappid !=null and miniappid !=''">
			,miniappid
		</if>
		<if test="decodeid !=null and decodeid !=''">
			,decodeid
		</if>
		<if test="sftb !=null and sftb !=''">
			,sftb
		</if>
			,lrry
			,lrsj
			,scbj
		)values(
			#{wbcxid}
		<if test="wbcxmc !=null and wbcxmc !=''">
			,#{wbcxmc}
		</if>
		<if test="appid !=null and appid !=''">
			,#{appid}
		</if>
		<if test="secret !=null and secret !=''">
			,#{secret}
		</if>
		<if test="token !=null and token !=''">
			,#{token}
		</if>
		<if test="gzpt !=null and gzpt !=''">
			,#{gzpt}
		</if>
		<if test="wbcxdm !=null and wbcxdm !=''">
			,#{wbcxdm}
		</if>
		<if test="lx !=null and lx !=''">
			,#{lx}
		</if>
		<if test="agentid !=null and agentid !=''">
			,#{agentid}
		</if>
		<if test="jumpdingtalkurl !=null and jumpdingtalkurl !=''">
			,#{jumpdingtalkurl}
		</if>
		<if test="aeskey !=null and aeskey !=''">
			,#{aeskey}
		</if>
		<if test="cropid !=null and cropid !=''">
			,#{cropid}
		</if>
		<if test="px !=null and px !=''">
			,#{px}
		</if>
		<if test="miniappid !=null and miniappid !=''">
			,#{miniappid}
		</if>
		<if test="decodeid !=null and decodeid !=''">
			,#{decodeid}
		</if>
		<if test="sftb !=null and sftb !=''">
			,#{sftb}
		</if>
			,#{lrry}
			,LOCALTIMESTAMP
			,'0'
		)
	</insert>

	<select id="getDtoById" parameterType="String" resultType="WbcxDto">
		select wbcx.wbcxid,wbcx.wbcxmc,wbcx.appid,wbcx.secret,wbcx.token,wbcx.gzpt,wbcx.lrry,wbcx.lrsj,wbcx.wbcxdm,wbcx.lx,wbcx.agentid,wbcx.jumpdingtalkurl,wbcx.aeskey,wbcx.cropid,wbcx.px,wbcx.miniappid,wbcx.sftb
			,wbcx.sfgx,wbcx.hddz
		from matridx_wbcx wbcx
		<where>
			wbcx.scbj!='1'
			and wbcx.wbcxid=#{wbcxid}
		</where>
	</select>
	<update id="update" parameterType="WbcxDto">
		update matridx_wbcx set
			xgry=#{xgry},xgsj=LOCALTIMESTAMP
	   	<if test="wbcxmc !=null and wbcxmc != ''">
			,wbcxmc=#{wbcxmc}
		</if>
		<if test="appid !=null and appid != ''">
			,appid=#{appid}
		</if>
		<if test="secret !=null and secret != ''">
			,secret=#{secret}
		</if>
		<if test="token !=null and token != ''">
			,token=#{token}
		</if>
		<if test="gzpt !=null and gzpt != ''">
			,gzpt=#{gzpt}
		</if>
		<if test="wbcxdm !=null and wbcxdm != ''">
			,wbcxdm=#{wbcxdm}
		</if>
		<if test="lx !=null and lx != ''">
			,lx=#{lx}
		</if>
		<if test="agentid !=null and agentid != ''">
			,agentid=#{agentid}
		</if>
		<if test="jumpdingtalkurl !=null and jumpdingtalkurl != ''">
			,jumpdingtalkurl=#{jumpdingtalkurl}
		</if>
		<if test="miniappid !=null and miniappid != ''">
			,miniappid=#{miniappid}
		</if>
		<if test="decodeid !=null and decodeid != ''">
			,decodeid=#{decodeid}
		</if>
		<if test="aeskey !=null and aeskey != ''">
			,aeskey=#{aeskey}
		</if>
		<if test="wbcxmc !=null and wbcxmc == ''">
			,wbcxmc=null
		</if>
		<if test="appid !=null  and appid == ''">
			,appid=null
		</if>
		<if test="secret !=null  and secret == ''">
			,secret=null
		</if>
		<if test="token !=null  and token == ''">
			,token=null
		</if>
		<if test="gzpt !=null  and gzpt == ''">
			,gzpt=null
		</if>
		<if test="wbcxdm !=null  and wbcxdm == ''">
			,wbcxdm=null
		</if>
		<if test="lx !=null  and lx == ''">
			,lx=null
		</if>
		<if test="agentid !=null  and agentid == ''">
			,agentid=null
		</if>
		<if test="jumpdingtalkurl !=null  and jumpdingtalkurl == ''">
			,jumpdingtalkurl=null
		</if>
		<if test="aeskey !=null  and aeskey == ''">
			,aeskey=null
		</if>
		<if test="px !=null  and px == ''">
			,px=null
		</if>
		<if test="cropid !=null  and cropid == ''">
			,cropid=null
		</if>
		<if test="px !=null and px != ''">
			,px=#{px}
		</if>
		<if test="cropid !=null and cropid != ''">
			,cropid=#{cropid}
		</if>
		<if test="sftb !=null and sftb != ''">
			,sftb=#{sftb}
		</if>
		<where>
			wbcxid=#{wbcxid}
		</where>
	</update>
	
	<delete id="delete" parameterType="WbcxDto">
		update matridx_wbcx set scbj='1',scry=#{scry},scsj=LOCALTIMESTAMP
			<where>
				<if test="wbcxid != null and wbcxid != ''">
					or wbcxid=#{wbcxid}
				</if>
				<if test="ids != null and ids.size()>0">
					or wbcxid in
					<foreach collection="ids" open="(" close=")" index="index" item="item" separator=",">
						#{item}
					</foreach>
				</if>
			</where>
	</delete>

	<select id="getDtoList" parameterType="WbcxDto" resultType="WbcxDto">
		select wbcx.wbcxid,wbcx.wbcxmc,wbcx.appid,wbcx.secret,wbcx.token,wbcx.gzpt,wbcx.lrry,wbcx.lrsj,wbcx.wbcxdm,wbcx.lx,wbcx.cropid,wbcx.px,wbcx.miniappid,wbcx.agentid,wbcx.jumpdingtalkurl,wbcx.aeskey,wbcx.sftb
		from matridx_wbcx wbcx
		<where>
			wbcx.scbj!='1'
			<if test="lx != null and lx != ''">
				and lx=#{lx}
			</if>
			<if test="sftb != null and sftb != ''">
				and sftb=#{sftb}
			</if>
		</where>
        order by cast(wbcx.px as numeric) asc
	</select>
	<select id="getSsgsList" resultType="WbcxDto">
		select wbcxmc
		from matridx_wbcx wbcx
		<where>
			wbcx.scbj!='1'
		</where>
		group by wbcxmc
	</select>
</mapper>
