<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.web.dao.post.IWbzyczDao" >

<select id="getDtoList" parameterType="wbzyczDto" resultType="wbzyczDto">
	select  wbzycz.zyczid,wbzycz.zyid,wbzycz.czmc,wbzycz.czff,wbzycz.tzdz,wbzycz.xssx,wbzycz.mrcz from matridx_wbzycz wbzycz
	<where>
		wbzycz.zyid=#{zyid}
	</where>
		order  by wbzycz.xssx
</select>

</mapper>
