<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/document/document_view.js'}" charset="utf-8"></script>
		<style type="text/css">
			#fjcfbDto span:hover{
				cursor:pointer;
			}
			#t_fjcfbDto span:hover{
				cursor:pointer;
			}
			.f_button{
				background: white;
				border: 0;
			}
			.f_button:hover{
				border-width: 0px; 
 				border-radius: 3px;
 				background: #1E90FF;
 				cursor: pointer; 
 				outline: none;
 				font-family: Microsoft YaHei; 
 				color: white; 
 				font-size: 14px; 
			}
			th{
				font-weight:bold;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="document_view">
			<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
			    <li  class="nav-item" >
			        <a  class="nav-link active" href="#docInfoTab" role="tab" data-bs-toggle="tab">文件信息</a>
			    </li>
			    <li id="xglltab"  class="nav-item" >
			        <a  class="nav-link" href="#docmodInfoTab" role="tab" data-bs-toggle="tab">修改履历</a>
			    </li>
			    <li id="ryqxtab"  class="nav-item" >
			        <a  class="nav-link" href="#docviewInfoTab" role="tab" data-bs-toggle="tab">人员权限</a>
			    </li>
				<li id="glwjtab"  class="nav-item" >
			        <a  class="nav-link" href="#glwjInfoTab" role="tab" data-bs-toggle="tab">关联文件</a>
			    </li>
				<li id="pxxxtab"  class="nav-item" >
					<a  class="nav-link" href="#pxxxInfoTab" role="tab" data-bs-toggle="tab">培训信息</a>
				</li>
			</ul>
		   <form id="viewDoc_ajaxForm"  namespace="/production" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" th:action="${wjglaction.formAction}">
		   		<input type="hidden" name="formAction" id="formAction" th:value="${wjglaction.formAction}" />
				<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
		   		<input type="hidden" name="sfzh" id="sfth" th:value="${wjglDto.sfth}"/>
		   		<input type="hidden" name="zhgz" id="zhgz" th:value="${wjglDto.zhgz}"/>
		   		<input type="hidden" name="wjid" id="wjid" th:value="${wjglDto.wjid}"/>
				<div class="body-content tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="docInfoTab" aria-labelledby="profile-tab">
						<div class="panel panel-default sample-formal">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">文件分类</label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.wjflmc}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">文件类别</label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.wjlbmc}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">文件名称</label>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:text="${wjglDto.wjmc}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4  col-md-4 col-xs-4 control-label">生效日期</label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.sxrq}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">文件编号</label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.wjbh}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">编制人员</label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.zsxm}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">版本号</label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.bbh}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12" th:if="${wjglDto.cskz1mc != '' && wjglDto.cskz1mc != null}">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label" th:text="${wjglDto.cskz1mc}"></label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.cskz1}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12" th:if="${wjglDto.cskz2mc != '' && wjglDto.cskz2mc != null}">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label" th:text="${wjglDto.cskz2mc}"></label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.cskz2}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12" th:if="${wjglDto.cskz3mc != '' && wjglDto.cskz3mc != null}">
							        	<div class="form-group">
							         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label" th:text="${wjglDto.cskz3mc}"></label>
							    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.cskz3}">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">更改来源</label>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:text="${wjglDto.ggly}" style="padding-left:0px;">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">跟踪记录</label>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:text="${wjglDto.gzjl}" style="padding-left:0px;">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">发放状态</label>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:if="${wjglDto.ffzt == null || wjglDto.ffzt == ''}"  th:text="${''}"  style="padding-left:0px;">&nbsp;</div>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:if="${wjglDto.ffzt == '0'}"  th:text="${'未发放'}"  style="padding-left:0px;color: red">&nbsp;</div>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:if="${wjglDto.ffzt == '1'}"  th:text="${'全部发放'}" style="padding-left:0px;color: green">&nbsp;</div>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:if="${wjglDto.ffzt == '2'}"  th:text="${'部分发放'}" style="padding-left:0px;color: orange">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">设备编号</label>
											<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.sbbh}">&nbsp;</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">设备名称</label>
											<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.sbmc}">&nbsp;</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">设备出厂编号</label>
											<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.sbccbh}">&nbsp;</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">序列号</label>
											<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.xlh}">&nbsp;</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
							        	<div class="form-group">
							         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">备注</label>
							    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:text="${wjglDto.bz}" style="padding-left:0px;">&nbsp;</div>
							   			</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
							        	<div class="form-group">
							    			<div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
							    				<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件"></label>
						    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
							    				<div class="col-sm-10 padding_t7">
							    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
							    					<span th:text="${fjcfbDto.wjm}"></span>
							    					<a th:if="${isDownload || (fjcfbDto.wjmhz != 'pdf' && fjcfbDto.wjmhz != 'PDF') || wjglaction.formAction == 'viewmore'}" title="下载" th:@click.prevent="'xz(\''+${fjcfbDto.fjid}+'\');'" >
			
								    					<span class="glyphicon glyphicon glyphicon-save"></span> 
							    					</a>&nbsp;&nbsp;
							    					
							    					<!-- <button style="outline:none;" class="btn btn-link" type="button" th:if="${fjcfbDto.wjmhz == 'doc'}" title="预览" th:onclick="viewdoc([[${fjcfbDto.fjid}]]);" >
								    					<span class="glyphicon glyphicon-eye-open"></span>
							    					</button> -->
							    					<a title="预览" th:@click="'view(\''+${fjcfbDto.fjid}+'\',\''+${fjcfbDto.wjmhz}+'\')'" >
								    					<span class="glyphicon glyphicon-eye-open"></span>
							    					</a>
							    				</div>
							    			</div>
							   			</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="docmodInfoTab" aria-labelledby="profile-tab" >
						<div class="panel-body">
							<table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
								<tr style="background-color: #63a3ff;">
									<th style="width:50px;"><span th:text="序号" /></th>
									<!-- <th style="width:100px;"><span th:text="录入时间" /></th> -->
									<th style="width:100px;"><span th:text="审核时间" /></th>
									<th style="width:100px;"><span th:text="批准时间" /></th>
									<th style="width:80px;"><span th:text="状态" /></th>
									<th style="width:80px;"><span th:text="使用状态" /></th>
									<th><span th:text="附件" /></th>
									<th style="width:100px;"><span th:text="操作" /></th>
								</tr>
					         	<div th:if="${wjglDtos != null && wjglDtos.size() >0}" th:each="f_wjglDto:${wjglDtos}">
					         		<tr th:id="${f_wjglDto.wjid}">
					         			<td><span th:title="${f_wjglDtoStat.index+1}" th:text="${f_wjglDtoStat.index+1}"><span></td>
					         			<!-- <td><span th:title="${f_wjglDto.lrsj}" th:text="${f_wjglDto.flrsj}"></span></td> -->
										<td><span name="viewshsj" th:title="${f_wjglDto.shsj}" th:text="${f_wjglDto.shsj}"></span></td>
										<td><span name="viewpzsj" th:title="${f_wjglDto.pzsj}" th:text="${f_wjglDto.pzsj}"></span></td>
										<td>
											<a th:@click="'shzt(\''+${f_wjglDto.wjid}+'\');'" th:if="${f_wjglDto.zt=='00'}" th:text="未提交"/>
											<a th:@click="'shzt(\''+${f_wjglDto.wjid}+'\');'" th:if="${f_wjglDto.zt=='80'}" th:text="审核通过"/>
											<a th:@click="'shzt(\''+${f_wjglDto.wjid}+'\');'" th:if="${f_wjglDto.zt=='15'}" th:text="审核未通过"/>
											<a th:@click="'shzt(\''+${f_wjglDto.wjid}+'\');'" th:if="${f_wjglDto.zt=='10'}" th:text="审核中"/>
										</td>
										<td>
											<span th:if="${f_wjglDto.scbj == '0'}" th:text="正常"/>
											<span th:if="${f_wjglDto.scbj == '2'}" th:text="停用"/>
											<span th:if="${f_wjglDto.scbj == '3'}" th:text="作废" />
										</td>
										<td style="text-align: left;">
											<div id="t_fjcfbDto" th:if="${f_wjglDto.fjcfbDtos != null && f_wjglDto.fjcfbDtos.size() >0}" th:each="t_fjcfbDto:${f_wjglDto.fjcfbDtos}">
												<label>•</label>
						    					<button style="outline:none;" class="btn btn-link" type="button" th:if="${t_fjcfbDto.wjmhz != 'pdf' && t_fjcfbDto.wjmhz != 'PDF'}" title="下载" th:@click="'xz(\''+${t_fjcfbDto.fjid}+'\',\''+${t_fjcfbDto.wjmhz}+'\');'" >
							    					<span th:text="${t_fjcfbDto.wjm}"></span>
							    					<span class="glyphicon glyphicon glyphicon-save"></span>
						    					</button>&nbsp;&nbsp;
						    					<button style="outline:none;" class="btn btn-link" type="button" th:if="${(t_fjcfbDto.wjmhz == 'pdf' || t_fjcfbDto.wjmhz == 'PDF') && wjglaction.formAction == 'view'}" title="预览" th:@click="'view(\''+${t_fjcfbDto.fjid}+'\',\''+${t_fjcfbDto.wjmhz}+'\');'" >
							    					<span th:text="${t_fjcfbDto.wjm}"></span>
						    					</button>&nbsp;&nbsp;
						    					<button style="outline:none;" class="btn btn-link" type="button" th:if="${(t_fjcfbDto.wjmhz == 'pdf' || t_fjcfbDto.wjmhz == 'PDF') && wjglaction.formAction == 'viewmore'}">
							    					<span title="下载" th:text="${t_fjcfbDto.wjm}" th:@click="'xz(\''+${t_fjcfbDto.fjid}+'\',\''+${t_fjcfbDto.wjmhz}+'\');'"></span>&nbsp;&nbsp;
							    					<span title="下载" class="glyphicon glyphicon-save" th:@click="'xz(\''+${t_fjcfbDto.fjid}+'\',\''+${t_fjcfbDto.wjmhz}+'\');'"></span>&nbsp;&nbsp;
							    					<span title="预览" class="glyphicon glyphicon-eye-open" th:@click="'view(\''+${t_fjcfbDto.fjid}+'\',\''+${t_fjcfbDto.wjmhz}+'\');'"></span>
						    					</button>
	 						    			</div>
										</td>
										<td>
											<button th:if="${wjglaction.formAction == 'viewmore'}" class="btn btn-primary" type='button' name="timeButton" th:@click="'updateTime(\''+${f_wjglDto.wjid}+'\');'">更新时间</button>
										</td>
									</tr>
								</div>
							</table>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane fade" id="docviewInfoTab" aria-labelledby="profile-tab" >
						<div class="panel panel-default sample-formal">
							<div class="panel-body">
								<div class="col-md-10">
									<div class="row" >
										<div class="col-md-12 col-sm-6 col-xs-12">
								        	<div class="form-group">
								         		<label for="" class="col-sm-4 col-md-2 col-xs-4 control-label">查看</label>
								    			<div class="col-sm-8 col-md-10 col-md-10 padding_t7" th:text="${wjglDto.viewjsmc}">&nbsp;</div>
								   			</div>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-12">
								        	<div class="form-group">
								         		<label for="" class="col-sm-4 col-md-2 col-xs-4 control-label">学习</label>
								    			<div class="col-sm-8 col-md-10 col-md-10 padding_t7" th:text="${wjglDto.studyjsmc}">&nbsp;</div>
								   			</div>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-12">
								        	<div class="form-group">
								         		<label for="" class="col-sm-4 col-md-2 col-xs-4 control-label">下载</label>
								    			<div class="col-sm-8 col-md-10 col-md-10 padding_t7" th:text="${wjglDto.downloadjsmc}">&nbsp;</div>
								   			</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="glwjInfoTab" aria-labelledby="profile-tab" >
						<div class="panel panel-default">
							<div class="panel-body">
								<table id="glwj_list" data-classes="table table-hover table-bordered table-hidden" style="width: 1700px"></table>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="pxxxInfoTab" aria-labelledby="profile-tab" >
						<div class="panel panel-default">
							<div class="panel-body">
								<table id="pxxx_list" data-classes="table table-hover table-bordered table-hidden" style="width: 1700px"></table>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>	
	</body>
</html>