<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/document/document_transform.js'}" charset="utf-8"></script>
		<style type="text/css">
			#fjcfbDto span:hover{
				cursor:pointer;
			}
			#t_fjcfbDto span:hover{
				cursor:pointer;
			}
		</style>
	</head>
	<body>
		<form id="ajaxForm" th:action ="${urlPrefix}+'/production/document/transformSaveDocument'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" enctype="multipart/form-data">
			<input type="hidden" name="access_token"/>
			<input type="hidden" name="wjid" th:value="${wjglDto.wjid}">
			<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
			<input type="hidden" name="replaceflg" value="1">
			<div class="body-content">
				<div class="panel panel-default">
					<div class="panel-heading">
						文件信息
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">文件分类</label>
					    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.wjflmc}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">文件类别</label>
					    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.wjlbmc}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">文件名称</label>
					    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:text="${wjglDto.wjmc}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-4  col-md-4 col-xs-4 control-label">生效日期</label>
					    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.sxrq}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">文件编号</label>
					    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.wjbh}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">编制人员</label>
					    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.zsxm}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">版本号</label>
					    			<div class="col-sm-8 col-md-8 col-xs-8 padding_t7" th:text="${wjglDto.bbh}">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">跟踪记录</label>
					    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:text="${wjglDto.gzjl}" style="padding-left:0px;">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					         		<label for="" class="col-sm-2 col-md-2 col-xs-4 control-label">备注</label>
					    			<div class="col-sm-10 col-md-10 col-xs-8 padding_t7" th:text="${wjglDto.bz}" style="padding-left:0px;">&nbsp;</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					    			<div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
					    				<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index == 0}" th:text="附件"></label>
				    					<label for="" class="col-sm-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
					    				<div class="col-sm-10 padding_t7 h30">
					    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
					    					<span th:text="${fjcfbDto.wjm}"></span>
					    					<button style="outline:none;" class="btn btn-link" type="button" th:if="${isDownload || (fjcfbDto.wjmhz != 'pdf' && fjcfbDto.wjmhz != 'PDF')}" title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</button>&nbsp;&nbsp;
					    					<button style="outline:none;" class="btn btn-link" type="button"  title="预览" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjmhz}]])" >
						    					<span class="glyphicon glyphicon-eye-open"></span>
					    					</button>
					    				</div>
					    			</div>
					   			</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label">
										<span style="color: red;">*</span>转换规则
									</label>
									<div class="col-sm-10 col-xs-10 col-md-10 h30">
										<label class="radio-inline"><input type="radio" value="0" th:checked="${'0' eq wjglDto.zhgz}" name="zhgz" class="phonesyzt1" validate="{required:true}">PDF+签名+水印</label>
										<label class="radio-inline"><input type="radio" value="1" th:checked="${'1' eq wjglDto.zhgz}" name="zhgz" class="phonesyzt2" validate="{required:true}">PDF+水印</label>
										<label class="radio-inline"><input type="radio" value="2" th:checked="${'2' eq wjglDto.zhgz}" name="zhgz" class="phonesyzt2" validate="{required:true}">PDF</label>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label">
										<span style="color: red;">*</span>是否替换
									</label>
									<div class="col-sm-10 col-xs-10 col-md-10 h30">
										<label class="radio-inline"><input type="radio" value="1" th:checked="${'1' eq wjglDto.sfth}"  name="sfth" class="phonesyzt1" validate="{required:true}">是</label>
										<label class="radio-inline"><input type="radio" value="0" th:checked="${'0' eq wjglDto.sfth}" name="sfth" class="phonesyzt2" validate="{required:true}">否</label>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>