<!DOCTYPE html>
<html lang="zh-cn">
	<body>
		<div id="documentaudit">
			<div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
				<form id="document_formAudit">
					<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
					<div class="row">
					    <div class="pull-left">
							<ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="audit_doc">
								<li  class="nav-item" >
									<a  class="nav-link active" name="tabBlock[waitAuditDiv]" href="#auditingdoc" role="tab" data-bs-toggle="tab">待审核的文件申请</a>
								</li>
								<li  class="nav-item" >
									<a  class="nav-link" name="tabBlock[alreadyAuditDiv]" href="#auditeddoc" role="tab" data-bs-toggle="tab">审核记录</a>
								</li>
							</ul>
						</div>
					</div>
				</form>
				<div class="row padding-l15 padding-r15">
	    			<div class="main_content tab-content">
	    				<div role="tabpanel" class="tab-pane active padding-10" id="auditingdoc" style="border:1px solid #eee">
					        <form id="document_auditing" class="form-horizontal form-inline">
					        	<div class="panel panel-default">
						            <div class="panel-heading">查询条件</div>
						            <div class="panel-body">
						            	<div class="">
						                    <div class="form-group padding_l10">
						                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
				                            		<option value="0">文件名称</option>
				                            	</select>
					                        	<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
					                               @keyup.enter="auditingEnter"/>
											</div>
											<button type="button" style="margin-left:50px" id="btn_query" @click="auditingBtnQuery" class="btn btn-primary">查询</button>
										</div>
						            </div>
						        </div>
								<div th:include="common/btn/ancz.html"></div>
								<table id="tb_list" class="table table-hover table-bordered"></table>
					        </form>
						</div>
						<div role="tabpanel" class="tab-pane padding-10" id="auditeddoc" style="border:1px solid #eee">
							<form id="document_audited" class="form-horizontal form-inline">
					        	<div class="panel panel-default">
						            <div class="panel-heading">查询条件</div>
						            <div class="panel-body">
						            	<div class="">
						                    <div class="form-group padding_l10">
						                        <select name="cxtj_audited" class="form-control chosen-select" id="cxtj_audited" style="height:34px;">
					                            	<option value="0">文件名称</option>
				                            		<option value="1">申请人员</option>
					                            </select>
					                        	<input id="cxnr_audited" name="cxnr_audited" class="form-control" placeholder="模糊匹配"
					                               @keyup.enter="auditedEnter"/>
											</div>
											<div class="form-group padding-l30" style="margin-left:0px">
							                    <label>申请时间</label>
							                    <input id="sqsjstart" name="sqsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
							                    <input id="sqsjend" name="sqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
							                </div>
											<button type="button" style="margin-left:50px" id="btn_queryAudited" @click="auditedBtnQuery" class="btn btn-primary">查询</button>
										</div>
						            </div>
					         	</div>
					            <div id="toolbar" class="btn-group">
									<button class="btn btn-default" type="button" @click="auditedBtnCancelAudit" id="btn_cancelAudit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消审批</button>
								</div>
					            <table id="tb_list" class="table table-hover table-bordered"></table>
						    </form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/document/document_listaudit.js?v=20230727001'}" charset="utf-8"></script>
	</body>
</html>