<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/document/document_viewRwjd.js'}" charset="utf-8"></script>
	<style type="text/css">
		th{
			font-weight:bold;
			text-align: center;
		}
	</style>
	</head>
	<body>
		<div id="document_viewrwjd">
		   <form id="ajaxForm"  namespace="/production" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		   <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
				<div class="body-content">
					<div class="panel panel-default sample-formal">
						<div class="panel-heading">
							文件信息
						</div>
						<div class="panel-body">
							 <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
								<tr style="background-color: #63a3ff;">
									<th style="width:50px;"><span th:text="序号" /></th>
									<th><span th:text="用户姓名" /></th>
									<th><span th:text="任务名称" /></th>
									<th><span th:text="业务名称" /></th>
									<th><span th:text="任务状态" /></th>
									<th><span th:text="期望完成时间" /></th>
									<th><span th:text="完成时间" /></th>
								</tr>
					         	<div th:if="${gzglDtos != null && gzglDtos.size() >0}" th:each="gzglDto:${gzglDtos}">
					         		<tr>
					         			<td><span th:title="${gzglDtoStat.index+1}" th:text="${gzglDtoStat.index+1}"/></td>
										<td><span th:title="${gzglDto.zsxm}" th:text="${gzglDto.zsxm}"/></td>
										<td><span th:title="${gzglDto.rwmc}" th:text="${gzglDto.rwmc}"/></td>
										<td><span th:title="${gzglDto.ywmc}" th:text="${gzglDto.ywmc}"/></td>
										<td>
											<a th:@click="'qrzt(\''+${gzglDto.gzid}+'\');'" th:if="${gzglDto.zt=='00'}" th:text="未完成"/>
						    				<a th:@click="'qrzt(\''+${gzglDto.gzid}+'\');'" th:if="${gzglDto.zt=='10'}" th:text="确认中"/>
						    				<a th:@click="'qrzt(\''+${gzglDto.gzid}+'\');'" th:if="${gzglDto.zt=='15'}" th:text="无需完成"/>
											<a th:@click="'qrzt(\''+${gzglDto.gzid}+'\');'" th:if="${gzglDto.zt=='80'}" th:text="完成"/>
										</td>
										<td><span th:title="${gzglDto.qwwcsj}" th:text="${gzglDto.fqwwcsj}"/></td>
										<td><span th:title="${gzglDto.wcsj}" th:text="${gzglDto.fwcsj}"/></td>
									</tr>
								</div>
					         </table>
						</div>
					</div>
				</div>
			</form>
		</div>	
	</body>
</html>