<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/document/document_related.js'}" charset="utf-8"></script>
</head>
<body>
	<div class="panel-body body-content" style="padding-bottom:0px;">
		<form id="reldocformSearch" class="form-horizontal form-inline" >
			<input type="hidden" name="prewjid" id="prewjid" th:value="${wjglDto.wjid}"> 
			<input type="hidden" id="pregwjid" name="pregwjid" th:value="${wjglDto.gwjid}">
			<input type="hidden" name="access_token"/>
			<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
			<div class="panel panel-default">
	            <div class="panel-body" style="margin-bottom:0px;">
	                <div class="form-group padding_l10">
	                    <select name="cxtj" class="form-control chosen-select" id="cxtj">
	                      		<option value="0">文件编码</option>
	                      		<option value="1">文件名称</option>
	                      		<option value="2">版本号</option>
	                      	</select>
	                    <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
	                    	onkeydown="if(event.keyCode==13) {searchRelDocResult(); return false;}"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
				</div>
			</div>
		    <table id="reldoc_list" class="table table-hover table-bordered table-hidden"></table>
        </form>
    </div>
</body>
</html>