<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/contract/contract/matterPuchase_maintenance.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
	<style type="text/css">
		.bootstrap-tagsinput {
				    min-width:100%;
				}
				.label-info {
					cursor: pointer;
				}
				th{
					font-weight:bold;
					text-align: center;
				}
	</style>
</head>
<body>
	<form id="maintenanceForm" th:action ="${urlPrefix}+'/contract/contract/'+${htmxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<div class="body-content">
			<div class="row">
				<input type="hidden" name="ids" id ="ids" th:value="${htmxDto.ids}">
				<input type="hidden" name="access_token"/>
				<input type="hidden" name="yzbj" id ="yzbj">
				<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">				
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-2 col-md-2 col-xs-2 control-label">
							<span style="color: red;">*</span>快递类型
						</label>
						<div class="col-sm-10 col-xs-10 col-md-10" th:if="${maintenancelist !=null && maintenancelist.size() > 0}"> 
							<select id="kdlx" name="kdlx" th:value="${htmxDto.kdlxmc}" class="form-control chosen-select" validate="{required:true,stringMaxLength:32}" style="height:34px;">
								<option value="">--请选择--</option>
                       			<option id="kdmc" th:each="list:${maintenancelist}" th:value="${list.csid}" th:text="${list.csmc}" th:cskz2="${list.cskz2}" th:csdm="${list.csdm}" th:selected="${list.csid eq htmxDto.kdlx}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" id="kdlxDiv" style="display:none;">
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">
							<span style="color: red;">*</span>快递类型名称
						</label>
						<div class="col-sm-10 col-xs-10">
							<input type="text" id="kdlxmc" name="kdlxmc"  th:value="${htmxDto.kdlxmc}" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">
							<span style="color: red;">*</span>快递单号
						</label>
						<div class="col-sm-10 col-xs-10">
							<input type="text" id="kddh" name="kddh"  th:value="${htmxDto.kddh}" validate="{required:true,stringMaxLength:64}"class="form-control" />
						</div>
					</div>
				</div>			
			</div>
		</div>
	</form>
</body>
</html>