<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IDdyhDao" >
	<!-- 根据钉钉ID查询用户角色信息 -->
	<select id="getUserByDdid" parameterType="String" resultType="DdyhDto">
		select yh.yhid,yh.ddid,yh.zsxm
			from matridx_xtyh yh
		<where>
			yh.scbj!='1'
			and yh.ddid=#{ddid}
		</where>
		order by yh.sfsd
		limit 1
	</select>
	
	<!-- 根据yhid查询用户角色信息 -->
	<select id="getUserByYhid" parameterType="String" resultType="DdyhDto">
		select yh.yhid,yh.ddid,yh.zsxm,js.jsid,js.jsmc,js.dwxdbj
			from matridx_xtyh yh
			left join matridx_yhjs yhjs on yhjs.yhid=yh.yhid
			left join matridx_xtjs js on js.jsid=yhjs.jsid
		<where>
			yh.scbj!='1'
			and yh.yhid=#{yhid}
		</where> 
	</select>
	
	<!-- 根据用户名查询用户角色信息 -->
	<select id="getUserByYhm" parameterType="String" resultType="DdyhDto">
		select yh.yhid,yh.ddid,yh.zsxm
			from matridx_xtyh yh
		<where>
			yh.scbj!='1'
			and yh.yhm=#{yhm}
		</where> 
	</select>
</mapper>