<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IDlyzzsDao" >

	<select id="queryByNames" parameterType="DlyzzsDto" resultType="DlyzzsDto">
		--  2022-09-19 10:20:06.229 [http-nio-8086-exec-1] DEBUG com.matridx.igams.wechat.dao.post.IDlyzzsDao.queryByNames - ==>
		select
		dljyid,
		name,
		vfid,
		vfcategory,
		comment,
		data,
		taxid
		from
		igams_dlyzzs  dlyz
		left join (
		<if test="names !=null and names.size >0" >
			<foreach collection="names" separator="union" item="item" index="index">
				select #{item} zname, #{index} xh
			</foreach>
		</if> ) tmp on dlyz.name = tmp.zname
		WHERE tmp.xh is not null
		order by  tmp.xh
	</select>
</mapper>
