<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IFjsqyyDao" >

    <insert id="addDtoList" parameterType="List">
        insert into igams_fjsqyy(fjid,yy)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.fjid},#{item.yy})
        </foreach>
    </insert>

    <delete id="delete" parameterType="FjsqyyDto">
        delete from igams_fjsqyy where fjid=#{fjid}
    </delete>

    <select id="getDtoList" parameterType="FjsqyyDto" resultType="FjsqyyDto">
        select fjid,yy from igams_fjsqyy
        where fjid=#{fjid}
    </select>
</mapper>
