<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IFksqDao" >

    <select id="getPagedDtoList" parameterType="FksqDto" resultType="FksqDto">
        select
        fksq.fksqid,
        fksq.sqr,
        fksq.sqbm,
        fksq.fygs,
        fksq.fkrq,
        fksq.fkzje,
        fksq.fkf,
        fksq.fkfs,
        fksq.fksy,
        to_char(fksq.zwzfrq,'yyyy-mm-dd') as zwzfrq,
        fksq.zfdx,
        fksq.zffkhh,
        fksq.zffyhzh,
        fksq.ddslid,
        fksq.bz,
        fksq.zt,
        fksq.ywlx,
        fksq.ywid,
        fksq.wbcxid,
        yh.zsxm as sqrmc,
        jg.jgmc as sqbmmc,
        fygs.csmc as fygsmc,
        fkf.csmc as fkfmc,
        fkfs.csmc as fkfsmc,
        swkhgl.gsmc as zfdxmc,
        to_char(fksq.lrsj,'yyyy-mm-dd') as lrsj
        from igams_fksq fksq
        left join matridx_xtyh yh on yh.yhid=fksq.sqr and yh.scbj='0'
        left join matridx_jgxx jg on jg.jgid=fksq.sqbm and jg.scbj='0'
        left join matridx_jcsj fygs on fygs.csid=fksq.fygs and fygs.scbj='0'
        left join matridx_jcsj fkf on fkf.csid=fksq.fkf and fkf.scbj='0'
        left join matridx_jcsj fkfs on fkfs.csid=fksq.fkfs and fkfs.scbj='0'
        left join igams_swkhgl swkhgl on swkhgl.khid=fksq.zfdx and swkhgl.scbj='0'
        <where>
            fksq.scbj='0' and fksq.ywlx=#{ywlx}
            <if test="zfdxmc != null and zfdxmc != ''">
                and swkhgl.gsmc ILIKE '%'||#{zfdxmc}||'%'
            </if>
            <if test="zts !=null and zts.length> 0">
                and fksq.zt in
                <foreach collection="zts" open="(" close=")" separator="," index="index"  item="item">
                    #{item}
                </foreach>
            </if>
            <if test="fygss !=null and fygss.length> 0">
                and fksq.fygs in
                <foreach collection="fygss" open="(" close=")" separator="," index="index"  item="item">
                    #{item}
                </foreach>
            </if>
            <if test="manyfkf !=null and manyfkf.length> 0">
                and fksq.fkf in
                <foreach collection="manyfkf" open="(" close=")" separator="," index="index"  item="item">
                    #{item}
                </foreach>
            </if>
            <if test="fkfss !=null and fkfss.length> 0">
                and fksq.fkfs in
                <foreach collection="fkfss" open="(" close=")" separator="," index="index"  item="item">
                    #{item}
                </foreach>
            </if>
            <if test="lrsjstart != null and lrsjstart != ''">
                and to_char(fksq.lrsj,'yyyy-mm-dd') &gt;= #{lrsjstart}
            </if>
            <if test="lrsjend != null and lrsjend != ''">
                and to_char(fksq.lrsj,'yyyy-mm-dd') &lt;= #{lrsjend}
            </if>
        </where>
    </select>

    <insert id="insert"  parameterType="FksqDto">
        insert into igams_fksq(
        fksqid
        <if test="sqr != '' and sqr != null">
            ,sqr
        </if>
        <if test="sqbm != '' and sqbm != null">
            ,sqbm
        </if>
        <if test="fygs != '' and fygs != null">
            ,fygs
        </if>
        <if test="fkrq != '' and fkrq != null">
            ,fkrq
        </if>
        <if test="fkzje != '' and fkzje != null">
            ,fkzje
        </if>
        <if test="fkf != '' and fkf != null">
            ,fkf
        </if>
        <if test="fkfs != '' and fkfs != null">
            ,fkfs
        </if>
        <if test="fksy != '' and fksy != null">
            ,fksy
        </if>
        <if test="zwzfrq != '' and zwzfrq != null">
            ,zwzfrq
        </if>
        <if test="zfdx != '' and zfdx != null">
            ,zfdx
        </if>
        <if test="zffkhh != '' and zffkhh != null">
            ,zffkhh
        </if>
        <if test="zffyhzh != '' and zffyhzh != null">
            ,zffyhzh
        </if>
        <if test="ddslid != '' and ddslid != null">
            ,ddslid
        </if>
        <if test="bz != '' and bz != null">
            ,bz
        </if>
        <if test="zt != '' and zt != null">
            ,zt
        </if>
        <if test="ywlx != '' and ywlx != null">
            ,ywlx
        </if>
        <if test="ywid != '' and ywid != null">
            ,ywid
        </if>
        <if test="wbcxid != '' and wbcxid != null">
            ,wbcxid
        </if>
        ,lrry,lrsj,scbj
        )
        values(
        #{fksqid}
        <if test="sqr != '' and sqr != null">
            ,#{sqr}
        </if>
        <if test="sqbm != '' and sqbm != null">
            ,#{sqbm}
        </if>
        <if test="fygs != '' and fygs != null">
            ,#{fygs}
        </if>
        <if test="fkrq != '' and fkrq != null">
            ,cast(#{fkrq} as date)
        </if>
        <if test="fkzje != '' and fkzje != null">
            ,cast(#{fkzje} as numeric)
        </if>
        <if test="fkf != '' and fkf != null">
            ,#{fkf}
        </if>
        <if test="fkfs != '' and fkfs != null">
            ,#{fkfs}
        </if>
        <if test="fksy != '' and fksy != null">
            ,#{fksy}
        </if>
        <if test="zwzfrq != '' and zwzfrq != null">
            ,cast(#{zwzfrq} as timestamp)
        </if>
        <if test="zfdx != '' and zfdx != null">
            ,#{zfdx}
        </if>
        <if test="zffkhh != '' and zffkhh != null">
            ,#{zffkhh}
        </if>
        <if test="zffyhzh != '' and zffyhzh != null">
            ,#{zffyhzh}
        </if>
        <if test="ddslid != '' and ddslid != null">
            ,#{ddslid}
        </if>
        <if test="bz != '' and bz != null">
            ,#{bz}
        </if>
        <if test="zt != '' and zt != null">
            ,#{zt}
        </if>
        <if test="ywlx != '' and ywlx != null">
            ,#{ywlx}
        </if>
        <if test="ywid != '' and ywid != null">
            ,#{ywid}
        </if>
        <if test="wbcxid != '' and wbcxid != null">
            ,#{wbcxid}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0'
        )
    </insert>

    <update id="update" parameterType="FksqDto">
        update igams_fksq set
        xgry=#{xgry},xgsj=LOCALTIMESTAMP
        <if test="sqr != '' and sqr != null">
            ,sqr=#{sqr}
        </if>
        <if test="sqbm != '' and sqbm != null">
            ,sqbm=#{sqbm}
        </if>
        <if test="fygs != '' and fygs != null">
            ,fygs=#{fygs}
        </if>
        <if test="fkrq != '' and fkrq != null">
            ,fkrq=cast(#{fkrq} as date)
        </if>
        <if test="fkzje != '' and fkzje != null">
            ,fkzje=cast(#{fkzje} as numeric)
        </if>
        <if test="fkf != '' and fkf != null">
            ,fkf=#{fkf}
        </if>
        <if test="fkfs != '' and fkfs != null">
            ,fkfs=#{fkfs}
        </if>
        <if test="fksy != '' and fksy != null">
            ,fksy=#{fksy}
        </if>
        <if test="zwzfrq != '' and zwzfrq != null">
            ,zwzfrq=cast(#{zwzfrq} as timestamp)
        </if>
        <if test="zfdx != '' and zfdx != null">
            ,zfdx=#{zfdx}
        </if>
        <if test="zffkhh != '' and zffkhh != null">
            ,zffkhh=#{zffkhh}
        </if>
        <if test="zffyhzh != '' and zffyhzh != null">
            ,zffyhzh=#{zffyhzh}
        </if>
        <if test="ddslid != '' and ddslid != null">
            ,ddslid=#{ddslid}
        </if>
        <if test="bz != '' and bz != null">
            ,bz=#{bz}
        </if>
        <if test="zt != '' and zt != null">
            ,zt=#{zt}
        </if>
        <if test="ywlx != '' and ywlx != null">
            ,ywlx=#{ywlx}
        </if>
        <if test="ywid != '' and ywid != null">
            ,ywid=#{ywid}
        </if>
        <if test="wbcxid != '' and wbcxid != null">
            ,wbcxid=#{wbcxid}
        </if>
        <where>
            fksqid=#{fksqid}
        </where>
    </update>

    <select id="getDtoList" parameterType="FksqDto" resultType="FksqDto">
        select
        fksq.fksqid,
        fksq.sqr,
        fksq.sqbm,
        fksq.fygs,
        fksq.fkrq,
        fksq.fkzje,
        fksq.fkf,
        fksq.fkfs,
        fksq.fksy,
        to_char(fksq.zwzfrq,'yyyy-mm-dd') as zwzfrq,
        fksq.zfdx,
        fksq.zffkhh,
        fksq.zffyhzh,
        fksq.ddslid,
        fksq.bz,
        fksq.zt,
        fksq.ywlx,
        fksq.ywid,
        fksq.wbcxid,
        yh.zsxm as sqrmc,
        jg.jgmc as sqbmmc,
        fygs.csmc as fygsmc,
        fkf.csmc as fkfmc,
        fkfs.csmc as fkfsmc,
        swkhgl.gsmc as zfdxmc,
        to_char(fksq.lrsj,'yyyy-mm-dd') as lrsj
        from igams_fksq fksq
        left join matridx_xtyh yh on yh.yhid=fksq.sqr and yh.scbj='0'
        left join matridx_jgxx jg on jg.jgid=fksq.sqbm and jg.scbj='0'
        left join matridx_jcsj fygs on fygs.csid=fksq.fygs and fygs.scbj='0'
        left join matridx_jcsj fkf on fkf.csid=fksq.fkf and fkf.scbj='0'
        left join matridx_jcsj fkfs on fkfs.csid=fksq.fkfs and fkfs.scbj='0'
        left join igams_swkhgl swkhgl on swkhgl.khid=fksq.zfdx and swkhgl.scbj='0'
        <where>
            fksq.scbj='0'
            <if test="ywid != null and ywid != ''">
                and fksq.ywid =#{ywid}
            </if>
            <if test="ywlx != null and ywlx != ''">
                and fksq.ywlx =#{ywlx}
            </if>
            <if test="ids !=null and ids.size >0" >
                and fksq.fksqid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getDtoById" parameterType="String" resultType="FksqDto">
        select
        fksq.fksqid,
        fksq.sqr,
        fksq.sqbm,
        fksq.fygs,
        fksq.fkrq,
        fksq.fkzje,
        fksq.fkf,
        fksq.fkfs,
        fksq.fksy,
        to_char(fksq.zwzfrq,'yyyy-mm-dd') as zwzfrq,
        fksq.zfdx,
        fksq.zffkhh,
        fksq.zffyhzh,
        fksq.ddslid,
        fksq.bz,
        fksq.zt,
        fksq.ywlx,
        fksq.ywid,
        fksq.wbcxid,
        yh.zsxm as sqrmc,
        jg.jgmc as sqbmmc,
        fygs.csmc as fygsmc,
        fkf.csmc as fkfmc,
        fkfs.csmc as fkfsmc,
        swkhgl.gsmc as zfdxmc
        from igams_fksq fksq
        left join matridx_xtyh yh on yh.yhid=fksq.sqr and yh.scbj='0'
        left join matridx_jgxx jg on jg.jgid=fksq.sqbm and jg.scbj='0'
        left join matridx_jcsj fygs on fygs.csid=fksq.fygs and fygs.scbj='0'
        left join matridx_jcsj fkf on fkf.csid=fksq.fkf and fkf.scbj='0'
        left join matridx_jcsj fkfs on fkfs.csid=fksq.fkfs and fkfs.scbj='0'
        left join igams_swkhgl swkhgl on swkhgl.khid=fksq.zfdx and swkhgl.scbj='0'
        <where>
            fksq.scbj='0' and fksq.fksqid=#{fksqid}
        </where>
    </select>

    <select id="getDto" parameterType="FksqDto" resultType="FksqDto">
        select
        fksq.fksqid,
        fksq.sqr,
        fksq.sqbm,
        fksq.fygs,
        fksq.fkrq,
        fksq.fkzje,
        fksq.fkf,
        fksq.fkfs,
        fksq.fksy,
        to_char(fksq.zwzfrq,'yyyy-mm-dd') as zwzfrq,
        fksq.zfdx,
        fksq.zffkhh,
        fksq.zffyhzh,
        fksq.ddslid,
        fksq.bz,
        fksq.zt,
        fksq.ywlx,
        fksq.ywid,
        fksq.wbcxid,
        yh.zsxm as sqrmc,
        jg.jgmc as sqbmmc,
        fygs.csmc as fygsmc,
        fkf.csmc as fkfmc,
        fkfs.csmc as fkfsmc,
        swkhgl.gsmc as zfdxmc
        from igams_fksq fksq
        left join matridx_xtyh yh on yh.yhid=fksq.sqr and yh.scbj='0'
        left join matridx_jgxx jg on jg.jgid=fksq.sqbm and jg.scbj='0'
        left join matridx_jcsj fygs on fygs.csid=fksq.fygs and fygs.scbj='0'
        left join matridx_jcsj fkf on fkf.csid=fksq.fkf and fkf.scbj='0'
        left join matridx_jcsj fkfs on fkfs.csid=fksq.fkfs and fkfs.scbj='0'
        left join igams_swkhgl swkhgl on swkhgl.khid=fksq.zfdx and swkhgl.scbj='0'
        <where>
            fksq.scbj='0' and fksq.fksqid=#{fksqid}
        </where>
    </select>

    <update id="updateDdslidToNull" parameterType="FksqDto">
        update igams_fksq set ddslid = null
        <where>
            scbj !='1' and fksqid =#{fksqid}
        </where>
    </update>

    <select id="getDtoByDdslid" parameterType="String" resultType="FksqDto">
        select
        fksq.fksqid,
        fksq.sqr,
        fksq.sqbm,
        fksq.fygs,
        fksq.fkrq,
        fksq.fkzje,
        fksq.fkf,
        fksq.fkfs,
        fksq.fksy,
        to_char(fksq.zwzfrq,'yyyy-mm-dd') as zwzfrq,
        fksq.zfdx,
        fksq.zffkhh,
        fksq.zffyhzh,
        fksq.ddslid,
        fksq.bz,
        fksq.zt,
        fksq.ywlx,
        fksq.ywid,
        fksq.wbcxid,
        yh.zsxm as sqrmc,
        jg.jgmc as sqbmmc,
        fygs.csmc as fygsmc,
        fkf.csmc as fkfmc,
        fkfs.csmc as fkfsmc,
        swkhgl.gsmc as zfdxmc
        from igams_fksq fksq
        left join matridx_xtyh yh on yh.yhid=fksq.sqr and yh.scbj='0'
        left join matridx_jgxx jg on jg.jgid=fksq.sqbm and jg.scbj='0'
        left join matridx_jcsj fygs on fygs.csid=fksq.fygs and fygs.scbj='0'
        left join matridx_jcsj fkf on fkf.csid=fksq.fkf and fkf.scbj='0'
        left join matridx_jcsj fkfs on fkfs.csid=fksq.fkfs and fkfs.scbj='0'
        left join igams_swkhgl swkhgl on swkhgl.khid=fksq.zfdx and swkhgl.scbj='0'
        <where>
            fksq.scbj='0' and fksq.ddslid=#{ddslid}
        </where>
    </select>

    <select id="getSprjsBySprid" parameterType="String" resultType="FksqDto">
        select yhjs.jsid as sprjsid,xtjs.jsmc as sprjsmc
        from matridx_yhjs yhjs
        left join matridx_xtjs xtjs on xtjs.jsid=yhjs.jsid
        <where>
            yhjs.yhid=#{sprid}
        </where>
    </select>

    <select id="getPagedAuditPaymentApplication" parameterType="FksqDto" resultType="FksqDto">
        select
        fksq.fksqid,
        fksq.sqr,
        fksq.sqbm,
        fksq.fygs,
        fksq.fkrq,
        fksq.fkzje,
        fksq.fkf,
        fksq.fkfs,
        fksq.fksy,
        to_char(fksq.zwzfrq,'yyyy-mm-dd') as zwzfrq,
        fksq.zfdx,
        fksq.zffkhh,
        fksq.zffyhzh,
        fksq.ddslid,
        fksq.bz,
        fksq.zt,
        fksq.ywlx,
        fksq.ywid,
        fksq.wbcxid,
        yh.zsxm as sqrmc,
        jg.jgmc as sqbmmc,
        fygs.csmc as fygsmc,
        fkf.csmc as fkfmc,
        fkfs.csmc as fkfsmc,
        swkhgl.gsmc as zfdxmc
        from igams_fksq fksq
        left join matridx_xtyh yh on yh.yhid=fksq.sqr and yh.scbj='0'
        left join matridx_jgxx jg on jg.jgid=fksq.sqbm and jg.scbj='0'
        left join matridx_jcsj fygs on fygs.csid=fksq.fygs and fygs.scbj='0'
        left join matridx_jcsj fkf on fkf.csid=fksq.fkf and fkf.scbj='0'
        left join matridx_jcsj fkfs on fkfs.csid=fksq.fkfs and fkfs.scbj='0'
        left join igams_swkhgl swkhgl on swkhgl.khid=fksq.zfdx and swkhgl.scbj='0'
        <where>
            fksq.scbj='0'
            <if test="ywlx != null and ywlx != ''">
                and fksq.ywlx =#{ywlx}
            </if>
            <if test="zfdxmc != null and zfdxmc != ''">
                and swkhgl.gsmc ILIKE '%'||#{zfdxmc}||'%'
            </if>
        </where>
    </select>

    <select id="getAuditListPaymentApplication" parameterType="List" resultType="FksqDto">
        select
        fksq.fksqid,
        fksq.sqr,
        fksq.sqbm,
        fksq.fygs,
        fksq.fkrq,
        fksq.fkzje,
        fksq.fkf,
        fksq.fkfs,
        fksq.fksy,
        to_char(fksq.zwzfrq,'yyyy-mm-dd') as zwzfrq,
        fksq.zfdx,
        fksq.zffkhh,
        fksq.zffyhzh,
        fksq.ddslid,
        fksq.bz,
        fksq.zt,
        fksq.ywlx,
        fksq.ywid,
        fksq.wbcxid,
        yh.zsxm as sqrmc,
        jg.jgmc as sqbmmc,
        fygs.csmc as fygsmc,
        fkf.csmc as fkfmc,
        fkfs.csmc as fkfsmc,
        swkhgl.gsmc as zfdxmc,shxx_sqsj,shxx_gwmc,shxx_lrryxm,shxx_shsj,shxx_sftg,shxx_shxxid,shxx_shyj
        from igams_fksq fksq
        left join matridx_xtyh yh on yh.yhid=fksq.sqr and yh.scbj='0'
        left join matridx_jgxx jg on jg.jgid=fksq.sqbm and jg.scbj='0'
        left join matridx_jcsj fygs on fygs.csid=fksq.fygs and fygs.scbj='0'
        left join matridx_jcsj fkf on fkf.csid=fksq.fkf and fkf.scbj='0'
        left join matridx_jcsj fkfs on fkfs.csid=fksq.fkfs and fkfs.scbj='0'
        left join igams_swkhgl swkhgl on swkhgl.khid=fksq.zfdx and swkhgl.scbj='0'
        join
        <foreach collection="list" separator="union" open="(" close=") "
                 item="item" index="index">
            select #{item.fksqid} fksqid,#{item.shxx_shxxid} shxx_shxxid,#{item.shxx_sqsj} shxx_sqsj,#{item.sqr} sqr,
            #{item.shxx_lrryxm} shxx_lrryxm,#{item.shxx_shsj} shxx_shsj,
            #{item.shxx_sftg} shxx_sftg,#{item.shxx_shyj} shxx_shyj,#{item.shxx_gwmc} shxx_gwmc,#{index} rownum
        </foreach>
        tmp on tmp.fksqid = fksq.fksqid
        order by tmp.rownum
    </select>

    <update id="delete" parameterType="FksqDto">
        update igams_fksq
        <set>
            scbj='1',
            scsj=LOCALTIMESTAMP,
            scry=#{scry}
        </set>
        <where>
            fksqid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="getUpdateData" resultType="SwyszkDto" parameterType="List">
        select tab.ywid as yszkid,SUM(tab.fkzje) as fkje,case when ((tab.jsje+tab.kdfy)>tab.sfje) then 0 else (tab.sfje-tab.jsje-tab.kdfy-SUM(tab.fkzje)) end wfkje,sum(yfksl) as yfksl,sum(fksl) as fksl  from(
        select fksq.zt,fksq.ywid,case when fksq.zt='80' then fkzje else 0 end fkzje,
        case when fksq.zt='80' then 1 else 0 end yfksl,1 as fksl,
        coalesce (cast(swyszk.sfje as numeric) ,0) as sfje,coalesce (cast(swyszk.kdfy as numeric) ,0) as kdfy,coalesce (cast(swyszk.jsje as numeric) ,0) as jsje
        from igams_fksq fksq
        left join igams_swyszk swyszk on swyszk.yszkid=fksq.ywid
        where  fksq.scbj = '0' and fksq.zt in ('10','80') and swyszk.scbj='0' and fksq.ywid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        )tab group by tab.ywid,tab.sfje,tab.kdfy,tab.jsje
    </select>
</mapper>
