<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IKdxxDao" >
    <!-- 将list数据全部插入顺丰路由信息表中，一个快递单号对应多个路由节点 -->
	<insert id="insertList" parameterType="KdxxDto">
	    insert into igams_kdxx (kdid , mailno, acceptaddress, accepttime, remark, opcode, px, courier, couriertel)
	    values
	    <foreach collection="list" item="item" index="index" separator=",">
	       ( #{item.kdid} , #{item.mailno} ,#{item.acceptaddress} ,#{item.accepttime} ,#{item.remark} ,#{item.opcode}, cast(#{item.px} as int), #{item.courier}, #{item.couriertel})
	    </foreach>
	</insert>  
	
	<!-- 获取订单号下的路由节点个数 -->
	<select id="getCountByMailNo" parameterType="KdxxDto" resultType="int">
	   select count(*) 
	   from igams_kdxx 
	   <where>
	      mailno = #{mailno}
	   </where>
	</select>
</mapper>
