<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ILsbDao" >
	
	<!-- 根据查询ID查询内容 -->
	<select id="getModelById" parameterType="String" resultType="LsbModel">
		select lsb.cxid,lsb.nr,to_char(lsb.xgsj,'YYYY-MM-dd') xgsj
		from igams_lsb lsb
		<where>
			lsb.cxid = #{cxid}
		</where>
	</select>
	
	<!-- 增加临时表信息 -->
	<insert id="insert" parameterType="LsbModel">
		insert into igams_lsb(cxid
		<if test="nr !=null and nr != ''">
			,nr
		</if>,xgsj) values(#{cxid}
		<if test="nr !=null and nr != ''">
			,#{nr}
		</if>
		,LOCALTIMESTAMP)
	</insert>
	<!--更新临时表信息-->
	<update  id="update" parameterType="LsbModel">
		update igams_lsb
		<set>
		<if test="nr !=null and nr != ''">
			nr = #{nr},
		</if>
		xgsj = LOCALTIMESTAMP
		</set>
		<where>
			cxid = #{cxid}
		</where>
	</update>
	
</mapper>
