<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.INyypxxDao" >
    <select id="getDtoList" parameterType="NyypxxDto" resultType="NyypxxDto">
        select nyypid,nyywm,nyzwm,kssjc,kssqc,xgyp,ypdj
        from igams_nyypxx nyx
        <where>
            scbj='0'
            <if test="nyzwm!=null and nyzwm!=''">
                and nyzwm=#{nyzwm}
            </if>
            <if test="nyzwms!=null and nyzwms!=''">
                and nyzwm in (
                <foreach collection="nyzwms" item="item" separator="," index="index">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        order by nyzwm,xh
    </select>
</mapper>
