<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.INyysxxDao" >

    <insert id="insertDtoList" parameterType="List">
        insert into igams_nyysxx(sjid,xh,jclx,sjnyxid,json,llh,bbh)
        values
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.sjid},cast(#{item.xh} as numeric),#{item.jclx},#{item.sjnyxid},cast(#{item.json} as json),#{item.llh},#{item.bbh})
        </foreach>
    </insert>

    <select id="getDtoList" parameterType="NyysxxDto" resultType="NyysxxDto">
        select sjid,xh,jclx,bbh
        ,json ->> '突变基因' AS tbjy,json ->> '突变结果' AS tbjg,json ->> '耐药性' AS nyx,json ->> '突变深度' AS tbsd,json ->> '突变频率' AS tbpl
        ,json ->> '背景突变' AS bjtb,json ->> 'ID' AS wkbh
        from igams_nyysxx nyx
        <where>
            sjid=#{sjid} and jclx=#{jclx} and llh=#{llh}
        </where>
    </select>

    <select id="getNyysxxList" parameterType="NyysxxDto" resultType="NyysxxDto">
        select sjid,xh,jclx,bbh,sjnyxid,json,llh
        from igams_nyysxx nyx
        <where>
            sjid=#{sjid} and jclx=#{jclx} and llh=#{llh}
        </where>
    </select>

</mapper>
