<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IPayinfoDao" >

	<!-- 新增支付信息 -->
	<insert id="insert" parameterType="PayinfoModel">
		insert into igams_payinfo(zfid
			<if test="ywid !=null and ywid != ''">
				,ywid
			</if>
			<if test="ywlx !=null and ywlx != ''">
				,ywlx
			</if>
			<if test="ddbh !=null and ddbh != ''">
				,ddbh
			</if>
			<if test="ptddh !=null and ptddh != ''">
				,ptddh
			</if>
			<if test="glddh !=null and glddh != ''">
				,glddh
			</if>
			<if test="dylx !=null and dylx != ''">
				,dylx
			</if>
			<if test="dyjk !=null and dyjk != ''">
				,dyjk
			</if>
			<if test="ywyxx !=null and ywyxx != ''">
				,ywyxx
			</if>
			<if test="jg !=null and jg != ''">
				,jg
			</if>
			<if test="fkje !=null and fkje != ''">
				,fkje
			</if>
			<if test="jyje !=null and jyje != ''">
				,jyje
			</if>
			<if test="jysj !=null and jysj != ''">
				,jysj
			</if>
			<if test="cjsj !=null and cjsj != ''">
				,cjsj
			</if>
			<if test="cwxx !=null and cwxx != ''">
				,cwxx
			</if>
			<if test="zffs !=null and zffs != ''">
				,zffs
			</if>
			<if test="zfjcxm !=null and zfjcxm != ''">
				,zfjcxm
			</if>
			<if test="wbcxid !=null and wbcxid != ''">
				,wbcxid
			</if>
			,lrry,lrsj) values(#{zfid}
			<if test="ywid !=null and ywid != ''">
				,#{ywid}
			</if>
			<if test="ywlx !=null and ywlx != ''">
				,#{ywlx}
			</if>
			<if test="ddbh !=null and ddbh != ''">
				,#{ddbh}
			</if>
			<if test="ptddh !=null and ptddh != ''">
				,#{ptddh}
			</if>
			<if test="glddh !=null and glddh != ''">
				,#{glddh}
			</if>
			<if test="dylx !=null and dylx != ''">
				,#{dylx}
			</if>
			<if test="dyjk !=null and dyjk != ''">
				,#{dyjk}
			</if>
			<if test="ywyxx !=null and ywyxx != ''">
				,#{ywyxx}
			</if>
			<if test="jg !=null and jg != ''">
				,#{jg}
			</if>
			<if test="fkje !=null and fkje != ''">
				,#{fkje}
			</if>
			<if test="jyje !=null and jyje != ''">
				,#{jyje}
			</if>
			<if test="jysj !=null and jysj != ''">
				,cast(#{jysj} as timestamp)
			</if>
			<if test="cjsj !=null and cjsj != ''">
				,cast(#{cjsj} as timestamp)
			</if>
			<if test="cwxx !=null and cwxx != ''">
				,#{cwxx}
			</if>
			<if test="zffs !=null and zffs != ''">
				,#{zffs}
			</if>
			<if test="zfjcxm !=null and zfjcxm != ''">
				,#{zfjcxm}
			</if>
			<if test="wbcxid !=null and wbcxid != ''">
				,#{wbcxid}
			</if>
			,#{lrry},LOCALTIMESTAMP)
	</insert>
	
	<!-- 更新支付信息 -->
	<update  id="update" parameterType="PayinfoModel">
		update igams_payinfo
		<set>
			<if test="ptddh !=null and ptddh != ''">
				ptddh = #{ptddh},
			</if>
			<if test="ywid !=null and ywid != ''">
				ywid = #{ywid},
			</if>
			<if test="ddbh !=null and ddbh != ''">
				ddbh = #{ddbh},
			</if>
			<if test="ywyxx !=null and ywyxx != ''">
				ywyxx = #{ywyxx},
			</if>
			<if test="jg !=null and jg != ''">
				jg = #{jg},
			</if>
			<if test="fkje !=null and fkje != ''">
				fkje = #{fkje},
			</if>
			<if test="jyje !=null and jyje != ''">
				jyje = #{jyje},
			</if>
			<if test="jysj !=null and jysj != ''">
				jysj = cast(#{jysj} as timestamp),
			</if>
			<if test="dylx !=null and dylx != ''">
				dylx = #{dylx},
			</if>
			<if test="dyjk !=null and dyjk != ''">
				dyjk = #{dyjk},
			</if>
			<if test="cwxx !=null and cwxx != ''">
				cwxx = #{cwxx},
			</if>
			<if test="cjsj !=null and cjsj != ''">
				cjsj = cast(#{cjsj} as timestamp),
			</if>
			<if test="zffs !=null and zffs != ''">
				zffs = #{zffs},
			</if>
			<if test="ywlx !=null and ywlx != ''">
				ywlx = #{ywlx},
			</if>
			<if test="lrry !=null and lrry != ''">
				lrry = #{lrry},
			</if>
			zfid = #{zfid}
		</set>
		<where>
			zfid = #{zfid}
		</where>
	</update>
	
	<!-- 获取支付信息 -->
	<select id="getDto" parameterType="PayinfoDto" resultType="PayinfoDto">
		select  payinfo.zfid, payinfo.ywid, payinfo.ywlx, payinfo.ptddh, payinfo.ddbh, payinfo.dylx, payinfo.dyjk, payinfo.ywyxx, payinfo.jg, payinfo.fkje, 
			payinfo.jyje, payinfo.jysj, sjxx.db as sjhb, payinfo.cwxx, payinfo.cjsj, payinfo.lrsj, payinfo.lrry, payinfo.zffs,payinfo.wbcxid
		from igams_payinfo payinfo
		LEFT JOIN igams_sjxx sjxx ON payinfo.ywid = sjxx.sjid
		<where>
			<if test="zfid != null and zfid != ''">
				and payinfo.zfid = #{zfid}
			</if>
			<if test="ddbh != null and ddbh != ''">
				and payinfo.ddbh = #{ddbh}
			</if>
			<if test="ptddh != null and ptddh != ''">
				and payinfo.ptddh = #{ptddh}
			</if>
		</where>
	</select>
	
	<!-- 获取支付信息 -->
	<select id="selectByYwxx" parameterType="PayinfoDto" resultType="PayinfoDto">
		SELECT payinfo.zfid, payinfo.jysj, payinfo.fkje, 
			SUM(CAST(CASE WHEN payinfo_tk.jg = '1' THEN payinfo_tk.fkje
				ELSE '0' END AS decimal)) AS tkje,
			SUM(CAST(CASE WHEN payinfo_tk.jg = '0' THEN payinfo_tk.fkje
				ELSE '0' END AS decimal)) AS tkzje,
			CAST(payinfo.fkje AS decimal) - SUM(CAST(CASE WHEN payinfo_tk.jg = '1' THEN payinfo_tk.fkje
				ELSE '0' END AS decimal)) - SUM(CAST(CASE WHEN payinfo_tk.jg = '0' THEN payinfo_tk.fkje
				ELSE '0' END AS decimal)) AS sfje
		FROM igams_payinfo payinfo
			LEFT JOIN igams_payinfo payinfo_tk ON payinfo.ddbh = payinfo_tk.glddh AND (payinfo_tk.jg = '1' OR payinfo_tk.jg = '0')
		<where> 
			payinfo.jg = '1'
			<if test="ywid != null and ywid != ''">
				and payinfo.ywid = #{ywid}
			</if>
			<if test="ywlx != null and ywlx != ''">
				and payinfo.ywlx = #{ywlx}
			</if>
			<if test="dylx != null and dylx != ''">
				and payinfo.dylx = #{dylx}
			</if>
		</where>
		GROUP BY payinfo.zfid, payinfo.jysj, payinfo.fkje
		ORDER BY payinfo.jysj
	</select>
	
	<!-- 支付列表显示所有数据 -->
	<select id="getPagedDtoList" parameterType="PayinfoDto" resultType="PayinfoDto">
		SELECT
		payinfo.zfid, payinfo.ptddh,
		case when sjxx.ybbh is null then fzjcxx.ybbh else sjxx.ybbh end ,
		case when sjxx.nbbm is null then fzjcxx.nbbh else sjxx.nbbm end AS nbbm,
		case when sjxx.hzxm is null then hzxx.xm else sjxx.hzxm end AS hzxm,
		payinfo.ddbh,
		payinfo.dyjk,
		payinfo.zffs,
		payinfo.jg,
		payinfo.fkje,
		payinfo.jyje,
		case when sjxx.jcxmmc is null then jc.csmc else sjxx.jcxmmc end AS jcxmmc,
		to_char( payinfo.jysj, 'yyyy-MM-dd hh24:mi:ss' ) AS jysj,
		sjxx.db AS sjhb,
		payinfo.cwxx,
		case when sjxx.fkje  is null then fzjcxx.fkje else sjxx.fkje end AS yfje
		FROM
		igams_payinfo payinfo
		LEFT JOIN igams_sjxx sjxx ON payinfo.ywid = sjxx.sjid
		LEFT JOIN igams_fzjcxx fzjcxx ON payinfo.ywid = fzjcxx.fzjcid
		LEFT JOIN igams_hzxx hzxx ON fzjcxx.hzid = hzxx.hzid
		LEFT JOIN igams_fzjcxm fzjcxm ON fzjcxx.fzjcid = fzjcxm.fzjcid
		LEFT JOIN matridx_jcsj jc ON jc.csid = fzjcxm.fzjcxmid

		<include refid="SEARCH_WHERE"></include>
	</select>

	<sql id="SEARCH_WHERE">
		<where>
			(payinfo.jg = '1' or payinfo.jg = '9')
			<if test="jysjstart != null and jysjstart !=''">
				AND to_char(payinfo.jysj, 'yyyy-mm-dd') &gt;= #{jysjstart}
			</if>
			<if test="ptddh != null and ptddh !=''">
				AND payinfo.ptddh ILIKE '%' || #{ptddh} ||'%'
			</if>
			<if test="sjhb != null and sjhb !=''">
				AND sjxx.db ILIKE '%' || #{sjhb} ||'%'
			</if>
			<if test="ddbh != null and ddbh !=''">
				AND payinfo.ddbh ILIKE '%' || #{ddbh} ||'%'
			</if>
			<if test="jysjend != null and jysjend !=''">
				AND to_char(payinfo.jysj, 'yyyy-mm-dd') &lt;= #{jysjend}
			</if>
			<if test="jgs != null and jgs.length > 0">
				And payinfo.jg in
				<foreach separator="," collection="jgs" open="(" close=")" index="index" item="item">
					#{item}
				</foreach>
			</if>
			<if test="hzxm != null and hzxm != ''">
				AND (sjxx.hzxm ILIKE '%' || #{hzxm} ||'%' or hzxx.xm  ILIKE '%' || #{hzxm} || '%')
			</if>
			<if test="ybbh != null and ybbh != ''">
				AND (sjxx.ybbh ILIKE '%' || #{ybbh} || '%' or fzjcxx.ybbh ILIKE '%' || #{ybbh} || '%')
			</if>
		</where>
	</sql>
	<!-- 查找对应zfid的信息  -->
	<select id="getDtoPayment" parameterType="PayinfoDto" resultType="PayinfoDto">
		SELECT
		payinfo.zfid, payinfo.ptddh, 
		case when sjxx.ybbh is null then fzjcxx.ybbh else sjxx.ybbh end ,
		case when sjxx.nbbm is null then fzjcxx.nbbh else sjxx.nbbm end AS nbbm,
		case when sjxx.hzxm is null then hzxx.xm else sjxx.hzxm end AS hzxm,
		payinfo.ddbh,
		payinfo.dyjk,
		payinfo.zffs,
		payinfo.jg,
		payinfo.fkje,
		payinfo.jyje,
		case when sjxx.fkje  is null then fzjcxx.fkje else sjxx.fkje end AS yfje,
		case when jcsj.csmc is null then jc.csmc else jcsj.csmc end AS jcxmmc,
		to_char( payinfo.jysj, 'yyyy-MM-dd hh24:mi:ss' ) AS jysj,
		payinfo.cwxx,
		sjxx.db AS sjhb,
		( CASE payinfo.jg WHEN '1' THEN '成功' WHEN '9' THEN '异常' END ) AS jgmc
		FROM
		igams_payinfo payinfo
		LEFT JOIN igams_sjxx sjxx ON payinfo.ywid = sjxx.sjid
		LEFT JOIN igams_sjjcxm jcxm ON jcxm.sjid = sjxx.sjid and jcxm.scbj='0'
		LEFT JOIN igams_fzjcxx fzjcxx ON payinfo.ywid = fzjcxx.fzjcid
		LEFT JOIN igams_hzxx hzxx ON fzjcxx.hzid = hzxx.hzid
		LEFT JOIN igams_fzjcxm fzjcxm ON fzjcxx.fzjcid = fzjcxm.fzjcid
		LEFT JOIN matridx_jcsj jc ON jc.csid = fzjcxm.fzjcxmid
		LEFT JOIN matridx_jcsj jcsj ON jcsj.csid = jcxm.jcxmid
		<where>
		    payinfo.zfid = #{zfid}
		</where>
	</select>
	
	<sql id="OUT_SEARCH_JOINS">
		LEFT JOIN igams_sjxx sjxx ON payinfo.ywid = sjxx.sjid
		LEFT JOIN igams_fzjcxx fzjcxx ON payinfo.ywid = fzjcxx.fzjcid
		LEFT JOIN igams_hzxx hzxx ON fzjcxx.hzid = hzxx.hzid
		LEFT JOIN igams_fzjcxm fzjcxm ON fzjcxx.fzjcid = fzjcxm.fzjcid
		LEFT JOIN matridx_jcsj jc ON jc.csid = fzjcxm.fzjcxmid
	</sql>
	
	<!-- 选中导出  --> 
	<select id="getListForSelectExp" parameterType="PayinfoDto" resultType="PayinfoDto"> 
	    SELECT  payinfo.zfid ${sqlParam}
		FROM (
             <foreach collection="ids" separator=" union all "  index="index" item="item">
		        select #{item, jdbcType=VARCHAR} zfid, #{index} ordernum
		     </foreach>
			) tmp 
		LEFT OUTER JOIN igams_payinfo payinfo ON tmp.zfid = payinfo.zfid
		<include refid="OUT_SEARCH_JOINS"></include>
		ORDER BY tmp.ordernum
	</select> 
	
	<!-- 获取搜索导出的条数 -->
 	<select id="getCountForSearchExp"  parameterType="PayinfoDto" resultType="java.lang.Integer">
		select  count (payinfo.zfid) 
		from igams_payinfo  payinfo
		LEFT JOIN igams_sjxx sjxx ON payinfo.ywid = sjxx.sjid
		LEFT JOIN igams_fzjcxx fzjcxx ON payinfo.ywid = fzjcxx.fzjcid
		LEFT JOIN igams_hzxx hzxx ON fzjcxx.hzid = hzxx.hzid
		LEFT JOIN igams_fzjcxm fzjcxm ON fzjcxx.fzjcid = fzjcxm.fzjcid
		LEFT JOIN matridx_jcsj jc ON jc.csid = fzjcxm.fzjcxmid
		<include refid="SEARCH_WHERE"></include>
	</select>  
	
	<!-- 搜索导出 -->
	<select id="getListForSearchExp" parameterType="PayinfoDto" resultType="PayinfoDto">
		SELECT  payinfo.zfid  ${sqlParam}
		FROM igams_payinfo payinfo 
		LEFT JOIN igams_sjxx sjxx ON payinfo.ywid = sjxx.sjid
		LEFT JOIN igams_fzjcxx fzjcxx ON payinfo.ywid = fzjcxx.fzjcid
		LEFT JOIN igams_hzxx hzxx ON fzjcxx.hzid = hzxx.hzid
		LEFT JOIN igams_fzjcxm fzjcxm ON fzjcxx.fzjcid = fzjcxm.fzjcid
		LEFT JOIN matridx_jcsj jc ON jc.csid = fzjcxm.fzjcxmid
		<include refid="SEARCH_WHERE"></include>
		ORDER BY
		<if test="sortName != null and sortName != ''">
		   ${sortName} ${sortOrder}
		</if>
		<if test="sortLastName != null and sortLastName != ''">
		   ,${sortLastName} ${sortLastOrder}
		</if>
		LIMIT #{pageSize} OFFSET #{pageStart}
	</select>

	<!-- 支付列表显示所有数据 -->
	<select id="selectPayYuan" parameterType="PayinfoDto" resultType="PayinfoDto">
		SELECT
		sum(cast(payinfo.jyje as numeric)) as jyzje
		FROM
		igams_payinfo payinfo
		LEFT JOIN igams_sjxx sjxx ON payinfo.ywid = sjxx.sjid
		<where>
			(payinfo.jg = '1')
			<if test="jysjstart != null and jysjstart !=''">
				AND to_char(payinfo.jysj, 'yyyy-mm-dd hh24:mi:ss') &gt;= #{jysjstart}
			</if>
			<if test="sjhb != null and sjhb !=''">
				AND sjxx.db ILIKE '%' || #{sjhb} ||'%'
			</if>
			<if test="jysjend != null and jysjend !=''">
				AND to_char(payinfo.jysj, 'yyyy-mm-dd hh24:mi:ss') &lt;= #{jysjend}
			</if>
		</where>
	</select>

</mapper>
