<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjbgljxxDao" >
<delete id="delete" parameterType="SjbgljxxDto">
delete from igams_sjbgljxx where sjid=#{sjid}
</delete>

<insert id="insert" parameterType="SjbgljxxDto">
insert into igams_sjbgljxx values(#{ljid},#{sjid},#{wzid},#{jglx},#{fid},cast(#{bgrq} as TIMESTAMP),#{sflj},LOCALTIMESTAMP,#{dyr})
</insert>

	<insert id="insertList" parameterType="List">
		insert into igams_sjbgljxx(ljid,sjid,wzid,jglx,fid,bgrq,sflj,fssj,dyr)
		values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(
				#{item.ljid},#{item.sjid},#{item.wzid},#{item.jglx},#{item.fid},cast(#{item.bgrq} as TIMESTAMP),#{item.sflj},LOCALTIMESTAMP,#{item.dyr}
				)
			</foreach>
		</if>
	</insert>
</mapper>
