<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjbgsmDao" >

	<!--根据送检ID删除信息-->
	<delete id="deleteById" parameterType="String">
		delete from igams_sjbgsm
		<where>
			sjid = #{sjid}
		</where>
	</delete>

	<select id="selectBySjbgsmDto" parameterType="SjbgsmDto" resultType="SjbgsmDto">
		select sjid,scbgrq,jyry,shry from igams_sjbgsm
		<where>
			sjid = #{sjid}
			<if test="jclx !=null and jclx != ''">
				and jclx = #{jclx}
			</if>
			<if test="jczlx !=null and jczlx != ''">
				and jczlx = #{jczlx}
			</if>
		</where>
		order by bgrq desc
	</select>
	<!--根据Dto删除信息-->
	<delete id="deleteBySjbgsmDto" parameterType="SjbgsmDto">
		delete from igams_sjbgsm
		<where>
			sjid = #{sjid} and jclx = #{jclx}
			<if test="jczlx !=null and jczlx != ''">
				and jczlx = #{jczlx}
			</if>
		</where>
	</delete>
	<!-- 增加送检报告说明 -->
	<insert id="insert" parameterType="SjbgsmModel">
		insert into igams_sjbgsm(sjid,bgrq,jclx,jczlx
		<if test="ggzdsm !=null and ggzdsm != ''">
			,ggzdsm
		</if>
		<if test="yssm !=null and yssm != ''">
			,yssm
		</if>
		<if test="dzsm !=null and dzsm != ''">
			,dzsm
		</if>
		<if test="ggzdzb !=null and ggzdzb != ''">
			,ggzdzb
		</if>
		<if test="yszb !=null and yszb != ''">
			,yszb
		</if>
		<if test="dzzb !=null and dzzb != ''">
			,dzzb
		</if>
		<if test="ckwx !=null and ckwx != ''">
			,ckwx
		</if>
		<if test="ryzs !=null and ryzs != ''">
			,ryzs
		</if>
		<if test="ryzsbfb !=null and ryzsbfb != ''">
			,ryzsbfb
		</if>
		<if test="ryzswz !=null and ryzswz != ''">
			,ryzswz
		</if>
		<if test="wkbh !=null and wkbh != ''.toString()">
			,wkbh
		</if>
		<if test="spikerpm != null and spikerpm != ''">
			,spikerpm
		</if>
		<if test="gc != null and gc != ''">
			,gc
		</if>
		<if test="zxls != null and zxls != ''">
			,zxls
		</if>
		<if test="wswjcxls != null and wswjcxls != ''">
			,wswjcxls
		</if>
		<if test="szxlbfb != null and szxlbfb != ''">
			,szxlbfb
		</if>
		<if test="yxxls != null and yxxls != ''">
			,yxxls
		</if>
		<if test="cskz1 != null and cskz1 != ''">
			,cskz1
		</if>
		<if test="cskz2 != null and cskz2 != ''">
			,cskz2
		</if>
		<if test="fzhxjg != null and fzhxjg != ''">
			,fzhxjg
		</if>
		<if test="jyjg != null and jyjg != ''">
			,jyjg
		</if>
		<if test="sprpm != null and sprpm != ''">
			,sprpm
		</if>
		<if test="scbgrq != null and scbgrq != ''">
			,scbgrq
		</if>
		<if test="jyry != null and jyry != ''">
			,jyry
		</if>
		<if test="shry != null and shry != ''">
			,shry
		</if>
		)values(#{sjid},cast(#{bgrq} as timestamp),#{jclx}
		<if test="jczlx !=null and jczlx != ''.toString()">
			,#{jczlx}
		</if>
		<if test="jczlx == null or jczlx == ''.toString()">
			,''
		</if>
		<if test="ggzdsm !=null and ggzdsm != ''">
			,#{ggzdsm}
		</if>
		<if test="yssm !=null and yssm != ''">
			,#{yssm}
		</if>
		<if test="dzsm !=null and dzsm != ''">
			,#{dzsm}
		</if>
		<if test="ggzdzb !=null and ggzdzb != ''">
			,#{ggzdzb}
		</if>
		<if test="yszb !=null and yszb != ''">
			,#{yszb}
		</if>
		<if test="dzzb !=null and dzzb != ''">
			,#{dzzb}
		</if>
		<if test="ckwx !=null and ckwx != ''">
			,#{ckwx}
		</if>
		<if test="ryzs !=null and ryzs != ''">
			,#{ryzs}
		</if>
		<if test="ryzsbfb !=null and ryzsbfb != ''">
			,#{ryzsbfb}
		</if>
		<if test="ryzswz !=null and ryzswz != ''">
			,#{ryzswz}
		</if>
		<if test="wkbh !=null and wkbh != ''.toString()">
			,#{wkbh}
		</if>
		<if test="spikerpm != null and spikerpm != ''">
			,#{spikerpm}
		</if>
		<if test="gc != null and gc != ''">
			,#{gc}
		</if>
		<if test="zxls != null and zxls != ''">
			,#{zxls}
		</if>
		<if test="wswjcxls != null and wswjcxls != ''">
			,#{wswjcxls}
		</if>
		<if test="szxlbfb != null and szxlbfb != ''">
			,#{szxlbfb}
		</if>
		<if test="yxxls != null and yxxls != ''">
			,#{yxxls}
		</if>
		<if test="cskz1 != null and cskz1 != ''">
			,#{cskz1}
		</if>
		<if test="cskz2 != null and cskz2 != ''">
			,#{cskz2}
		</if>
		<if test="fzhxjg != null and fzhxjg != ''">
			,#{fzhxjg}
		</if>
		<if test="jyjg != null and jyjg != ''">
			,#{jyjg}
		</if>
		<if test="sprpm != null and sprpm != ''">
			,#{sprpm}
		</if>
		<if test="scbgrq != null and scbgrq != ''">
			,cast(#{scbgrq} as timestamp)
		</if>
		<if test="jyry != null and jyry != ''">
			,#{jyry}
		</if>
		<if test="shry != null and shry != ''">
			,#{shry}
		</if>
		)
	</insert>
	<!-- 根据送检ID查询送检报告说明信息 -->
	<select id="selectSjbgBySjid" parameterType="SjbgsmDto" resultType="SjbgsmDto">
		select bgsm.sjid,bgsm.ggzdsm,bgsm.yssm,bgsm.ckwx,jclx.cskz1 jclx,bgsm.ggzdzb,bgsm.yszb,bgsm.ryzs||',高于'||bgsm.ryzsbfb||'%的同类标本' as host_index
		,bgsm.yxxls,jclx.csid jcxmid,jczlx.csid jczxmid,jclx.csmc jcxmmc,jczlx.csmc jczxmmc,sjxx.hzxm, case sjxx.xb when '1' then '男' when '2' then '女' else '未知' end xb ,sjxx.nl,sjxx.sjdwmc,jclx.cskz3,
		sjxx.ybbh,sjxx.nbbm,sjxx.dh,yyxx.dwmc as hospitalname,dw.dwmc ksmc,sjxx.sjys,case when jc.cskz1 = '1' then sjxx.yblxmc else jc.csmc end AS yblxmc,
		sjxx.cyrq,sjxx.jsrq,bgsm.bgrq,jc_jcdw.csmc jcdwmc,bgsm.zxls,bgsm.gc,bgsm.cskz1 bgsm_cskz1,bgsm.cskz2 bgsm_cskz2,bgsm.cskz3 bgsm_cskz3,bgsm.fzhxjg,
		bgsm.jyjg,bgsm.wkbh,bgsm.jczlx
		from igams_sjbgsm bgsm
		left join matridx_jcsj jclx on jclx.csid=bgsm.jclx
		left join matridx_jcsj jczlx on jczlx.csid=bgsm.jczlx
		left join igams_sjxx sjxx on sjxx.sjid = bgsm.sjid
		left outer join igams_sjdwxx dw on sjxx.ks = dw.dwid
		left join igams_yyxx yyxx on yyxx.dwid =sjxx.sjdw
		left outer join matridx_jcsj jc on sjxx.yblx = jc.csid
		left outer join matridx_jcsj jc_jcdw on jc_jcdw.csid=sjxx.jcdw
	<where>
		<if test="sjid != null and sjid != ''">
			and bgsm.sjid = #{sjid}
		</if>
		<if test="jclx != null and jclx!=''">
			and bgsm.jclx = #{jclx}
		</if>
		<if test="jczlx != null and jczlx!=''">
			and bgsm.jczlx = #{jczlx}
		</if>
		<if test="csid != null and csid != ''">
			and bgsm.jclx = #{csid}
		</if>
	</where>
	</select>

	<select id="selectGroupByJclx"  parameterType="SjbgsmDto" resultType="SjbgsmDto">
		select jclx,jczlx from igams_sjbgsm
		 <where>
			 sjid in
			 <foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
				 #{item}
			 </foreach>
		 </where>
		  group by jclx,jczlx
	</select>

</mapper>
