<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjdlxxDao" >
    <insert id="insertDtoList" parameterType="List">
        insert into igams_sjdlxx(sjid,wkbh,jy,dlyz,ms,zmc,dlyzlx,ysdlyz,xls,dlyzid,glwzid,knlywz,jclx,jczlx)
        values
        <foreach collection="list" item="item" separator="," open="" close="">
            (#{item.sjid},#{item.wkbh},#{item.jy},#{item.dlyz},#{item.ms},#{item.zmc},#{item.dlyzlx},#{item.ysdlyz},#{item.xls},
            #{item.dlyzid},#{item.glwzid},#{item.knlywz},#{item.jclx},coalesce(#{item.jczlx},''))
        </foreach>
    </insert>

    <delete id="delete" parameterType="SjdlxxDto">
        delete from igams_sjdlxx where sjid=#{sjid} and wkbh=#{wkbh} and jclx=#{jclx}
        <if test="jczlx != null and jczlx != ''">
            and jczlx = #{jczlx}
        </if>
    </delete>

    <select id="getDtoList" parameterType="SjdlxxDto" resultType="SjdlxxDto">
        select sjid,wkbh,jy,dlyz,ms,zmc,dlyzlx,ysdlyz,xls,dlyzid,glwzid,knlywz,jclx
        from igams_sjdlxx
        <where> sjid = #{sjid}
            <if test="jclx != null and jczlx != ''">
                and jclx = #{jclx}
            </if>
            <if test="jczlx != null and jczlx != ''">
                and jczlx = #{jczlx}
            </if>
            <if test="wkbh != null and wkbh != ''">
                and wkbh = #{wkbh}
            </if>
        </where>
    </select>

    <select id="getDtoListByWkbh" parameterType="SjdlxxDto" resultType="SjdlxxDto" >
        select sjid,wkbh,jy,dlyz,ms,zmc,dlyzlx,ysdlyz,xls,dlyzid,glwzid,knlywz,jclx
        from igams_sjdlxx
        <where>
            wkbh = #{wkbh}
        </where>
    </select>

    <select id="getDtoBySjidAndJclx" parameterType="SjxxDto" resultType="SjdlxxDto">
        select sjid,wkbh,jy,dlyz,ms,zmc,dlyzlx,ysdlyz,xls,dlyzid,glwzid,knlywz,jclx
        from igams_sjdlxx
        where sjid=#{sjid} and jclx=#{jclx}
        <if test="jczlx != null and jczlx != ''">
            and jczlx = #{jczlx}
        </if>
    </select>
</mapper>
