<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjgzbyDao" >

	<!-- 根据送检信息新增关注病原 -->
	<insert  id="insertSjgzbyDtos" parameterType="list">
		insert into igams_sjgzby (sjid, by,bymc)
		values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.sjid},#{item.by},#{item.bymc})
			</foreach>
		</if>
	</insert>
	
	<!--根据送检ID删除关注病原-->
	<delete id="deleteBySjxx" parameterType="SjxxDto">
		delete from igams_sjgzby
		<where>
			sjid = #{sjid}
		</where>
	</delete>
	
	<!--根据送检ID查询关注病原清单-->
	<select id="getDtoList" parameterType="SjgzbyDto" resultType="SjgzbyDto">
		select gzby.sjid,gzby.by,gzby.bymc,sj.csdm,sj.csmc from igams_sjgzby gzby
		left outer join matridx_jcsj sj on gzby.by = sj.csid
		<where>
			sjid = #{sjid}
		</where>
	</select>
	<!--  根据送检id查询关注病原信息 -->
	<select id="getGzby" parameterType="String" resultType="String">
		select by  from igams_sjgzby
		<where>
			sjid=#{sjid}
		</where>
	</select>
</mapper>
