<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjkzxxDao" >

    <insert id="insertDto" parameterType="SjkzxxDto" >
        insert into igams_sjkzxx (sjid
        <if test="yszkid !=null and yszkid != ''">
            ,yszkid
        </if>
        <if test="sfdz !=null and sfdz != ''">
            ,sfdz
        </if>
        <if test="bbsdwd !=null and bbsdwd != ''">
            ,bbsdwd
        </if>
        <if test="qtxx !=null and qtxx != ''">
            ,qtxx
        </if>
        ,lrry
        ,lrsj
        ,scbj
        )values (#{sjid}
        <if test="yszkid !=null and yszkid != ''">
            ,#{yszkid}
        </if>
        <if test="sfdz !=null and sfdz != ''">
            ,#{sfdz}
        </if>
        <if test="bbsdwd !=null and bbsdwd != ''">
            ,#{bbsdwd}
        </if>
        <if test="qtxx !=null and qtxx != ''">
            ,#{qtxx}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0'
        )
    </insert>

    <update id="delete" parameterType="SjkzxxDto">
        update igams_sjkzxx set scry=#{scry},scsj=LOCALTIMESTAMP,scbj='1'
        <where>
            <if test="sjid !=null and sjid !=''">
                or sjid = #{sjid}
            </if>
            <if test="ids !=null and ids.size>0">
                or sjid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <select id="getDtoListOptimize" parameterType="Map" resultType="Map">
        select
        t_sj.sjid,t_sj.fjid,t_sj.bz,to_char(t_sj.lrsj,'yyyy-mm-dd hh24:mi:ss') lrsj,t_sj.lrry,t_sj.djcbj,t_sj.qtjcbj,t_sj.jcbj,t_sj.dsyrq,t_sj.qtsyrq,t_sj.rsyrq,t_sj.sfsf,t_sj.fkbj,to_char(t_sj.fkrq,'yyyy-mm-dd hh24:mi:ss') fkrq,t_sj.sfje,t_sj.fkje,t_sj.yblx,
        t_sj.fjlxmc,t_sj.yy,t_sj.sfbz,t_sj.tkje,
        sj.hzxm,sj.ybbh,sj.nbbm,sj.sjys,sj.jyjg,sj.sfzq,sj.yxbfk,sj.sfvip,sj.syrq,sj.qyrq,sj.ydrq,sj.yjydrq,sj.cyrq,sj.zyh,sj.cwh,
        to_char(sj.bgrq,'yyyy-mm-dd hh24:mi:ss') bgrq,sj.sjbg,
        sj.sfjs,sj.jsry,to_char(sj.jsrq,'yyyy-mm-dd hh24:mi:ss') jsrq,to_char(sj.jsrq,'yyyy-MM-dd') fjsrq,sj.sfsc,
        jc_kpsq.csmc as kpsqmc,jc_cskz1.csmc sfkp,
        sj.cskz2,jc_gzlx.csmc cskz3,sj.cskz4,sj.cskz5,
        case when jc_yblx.cskz1 = '1' then sj.yblxmc else jc_yblx.csmc end yblxmc,
        ks.dwmc,coalesce(sj.qtks,ks.dwmc) qtks,
        t_sj.sjdwmc,t_sj.yymc,t_sj.yytjmc,t_sj.yyzddj,t_sj.yyxxCskz1,
        t_sj.db,t_sj.flmc,t_sj.dqxx,t_sj.sf,t_sj.swmc,
        CASE WHEN POSITION ( '（' IN t_sj.dqxx ) > 0 AND POSITION ( '）' IN t_sj.dqxx ) > 0 THEN SUBSTRING ( t_sj.dqxx, POSITION ( '（' IN t_sj.dqxx ) + 1, POSITION ( '）' IN t_sj.dqxx ) - POSITION ( '（' IN t_sj.dqxx ) - 1 ) ELSE t_sj.dqxx END dqjc,
        jcxmlx.csmc as jcxmmc,jcxmlx.cskz1 as jcxmkzcs,jczxmlx.csmc as jczxmmc,
        jc_jcdw.csmc jcdwmc,
        sqlx.csmc sqlxmc,
        jc_kdlx.csmc kdlxmc,sj.kdh,sj.kdfy,
        jc_sjqf.csmc as sjqfmc,t_sj.kyxmmc,t_sj.kylx,
        CASE WHEN ( t_sj.sfjs = '0' OR t_sj.sfjs IS NULL ) THEN '-'
        WHEN t_sj.sfsf = '0' THEN '0'
        WHEN jcxmlx.cskz3 = 'IMP_REPORT_ONCO_QINDEX_TEMEPLATE' THEN
        CASE WHEN jcxmlx.cskz1 = 'D' AND t_sj.sfsf = '1' THEN '1'
        WHEN jcxmlx.cskz1 = 'R' AND t_sj.sfsf = '1' THEN '1'
        WHEN jcxmlx.cskz1 = 'C' AND t_sj.sfsf = '1' THEN '2'
        WHEN jcxmlx.cskz1 = 'C' AND t_sj.sfsf = '2' THEN '1'
        WHEN jcxmlx.cskz1 = 'C' AND t_sj.sfsf = '3' THEN '1'
        END
        WHEN jcxmlx.cskz3 = 'IMP_REPORT_SEQ_TNGS_G' AND jcxmlx.cskz1 = 'C' THEN '2'
        WHEN jcxmlx.cskz3 = 'IMP_REPORT_SEQ_XINDEX_TEMEPLATE' THEN '2'
        ELSE '1'
        END sfcss,
        t_sj.hbid,
        t_sj.jcxmid,
        t_sj.jczxmid,
        t_sj.sfdz
        from (
        select sj.sjid,null as fjid,sj.sfsf,null as fjlxmc,sj.lrry,sj.lrsj,'-' as bgbj,sj.bz,null as yy,
        sj.fkbj,sj.sfje,sj.fkje,sj.tkje,sj.fkrq,sj.jsrq,sj.sfjs,sj.bgrq,sj.nbbm,sj.ybbh,sj.hzxm,sj.yblx,
        sj.djcbj,sj.qtjcbj,sj.dsyrq,sj.qtsyrq,null as rjcbj,null as rsyrq,sj.jcbj,
        jcxm.jcxmid,jcxm.jczxmid,sj.jcdw,
        sj.sjdwmc,yyxx.dwmc yymc,coalesce(yyxx.tjmc,yyxx.dwmc) yytjmc,yyxx.cskz2 yyzddj,yyxx.cskz1 as yyxxCskz1,
        sj.db,jc_hbfl.csmc as flmc,coalesce (yh_dq.gwmc,yh_dq.zsxm) dqxx,jc_sf.csmc sf,coalesce(hbxx.swmc,hbxx.hbmc)
        swmc,
        jc_ky.csmc kyxmmc,jc_ky.cskz1 kylx,sfbz.sfbz,hbxx.hbid,jcxm.sfdz
        from igams_sjjcxm jcxm
        left join igams_sjxx sj on sj.sjid= jcxm.sjid and sj.scbj='0'
        left join igams_yyxx yyxx on yyxx.dwid = sj.sjdw
        left join matridx_jcsj jc_ky on jc_ky.csid =sj.kyxm
        left join igams_sjhbxx hbxx on sj.db = hbxx.hbmc and (hbxx.scbj = '0' or hbxx.scbj = '2')
        left join igams_hbsfbz sfbz on hbxx.hbid = sfbz.hbid and jcxm.jcxmid = sfbz.xm
        left join matridx_jcsj jc_sf on jc_sf.csid = hbxx.sf
        left join matridx_xtyh yh_dq on yh_dq.yhid = hbxx.dqxx
        left join matridx_jcsj jc_hbfl on jc_hbfl.csid = hbxx.fl
        <where>
            jcxm.scbj='0'
            and jcxm.yszkid=#{yszkid}
        </where>
        union all
        SELECT fjsq.sjid,fjsq.fjid,fjsq.sfff as sfsf,jc_fjlx.csmc fjlxmc,fjsq.lrry,fjsq.lrsj,case when bgbj = '0' then
        '不发送' when bgbj = '1' then '发送' ELSE '-' end bgbj,fjsq.bz,fjsq.yy,
        fjsq.fkbj,fjsq.sfje,null as fkje,null as tkje,fjsq.fkrq,sj.jsrq,sj.sfjs,sj.bgrq,sj.nbbm,sj.ybbh,sj.hzxm,sj.yblx,
        fjsq.djcbj,fjsq.qtjcbj,fjsq.dsyrq,fjsq.qtsyrq,fjsq.rjcbj,fjsq.rsyrq,null as jcbj,
        fjsq.jcxm as jcxmid,null as jczxmid,fjsq.jcdw,
        sj.sjdwmc,yyxx.dwmc yymc,coalesce(yyxx.tjmc,yyxx.dwmc) yytjmc,yyxx.cskz2 yyzddj,yyxx.cskz1 as yyxxCskz1,
        sj.db,jc_hbfl.csmc as flmc,coalesce (yh_dq.gwmc,yh_dq.zsxm) dqxx,jc_sf.csmc sf,coalesce(hbxx.swmc,hbxx.hbmc)
        swmc,
        jc_ky.csmc kyxmmc,jc_ky.cskz1 kylx,sfbz.sfbz,hbxx.hbid,fjsq.sfdz
        from igams_fjsq fjsq
        left join igams_sjxx sj on sj.sjid = fjsq.sjid and sj.scbj='0'
        left join igams_sjjcxm jcxm on jcxm.sjid= sj.sjid and jcxm.scbj='0'
        left join igams_yyxx yyxx on yyxx.dwid = sj.sjdw
        left join matridx_jcsj jc_ky on jc_ky.csid =sj.kyxm
        left join igams_sjhbxx hbxx on sj.db = hbxx.hbmc and (hbxx.scbj = '0' or hbxx.scbj = '2')
        left join igams_hbsfbz sfbz on hbxx.hbid = sfbz.hbid and fjsq.jcxm = sfbz.xm
        left join matridx_jcsj jc_sf on jc_sf.csid = hbxx.sf
        left join matridx_xtyh yh_dq on yh_dq.yhid = hbxx.dqxx
        left join matridx_jcsj jc_hbfl on jc_hbfl.csid = hbxx.fl
        left join matridx_jcsj jc_fjlx on jc_fjlx.csid = fjsq.lx
        <where>
            fjsq.zt = '80' and jc_fjlx.cskz1 = '1'
            and fjsq.yszkid=#{yszkid}
        </where>
        ) t_sj
        left join igams_sjxx sj on t_sj.sjid = sj.sjid
        left join matridx_jcsj jc_kpsq on jc_kpsq.csid = sj.kpsq
        left join matridx_jcsj jc_cskz1 on jc_cskz1.csid=sj.cskz1
        left join matridx_jcsj jc_cskz2 on jc_cskz2.csid=sj.cskz2
        left join matridx_jcsj jc_yblx on sj.yblx = jc_yblx.csid
        left join igams_sjdwxx ks on sj.ks=ks.dwid
        left join igams_yyxx yyxx on yyxx.dwid = sj.sjdw
        left join matridx_jcsj jcxmlx on jcxmlx.csid = t_sj.jcxmid
        left join matridx_jcsj jczxmlx on jczxmlx.csid = t_sj.jczxmid
        left join matridx_jcsj jc_jcdw on jc_jcdw.csid=t_sj.jcdw
        left join matridx_jcsj sqlx on sj.sqlx = sqlx.csid
        left join matridx_jcsj jc_kdlx on jc_kdlx.csid =sj.kdlx
        left join matridx_jcsj jc_ky on jc_ky.csid =sj.kyxm
        left join matridx_jcsj jc_sjqf on jc_sjqf.csid =sj.sjqf
        left join matridx_jcsj jc_gzlx on jc_gzlx.csid =sj.cskz3
    </select>
<!--    <sql id="OUT_SEARCH_JOINS">-->

<!--	</sql>-->

<!--    <sql id="SEARCH_WHERE">-->
<!--        <where>-->
<!--            sjkzxx.scbj = '0'-->
<!--            <if test="entire != null and entire != ''">-->
<!--                and (sjkzxx.sjid ILIKE '%'||#{entire}||'%'-->
<!--                )-->
<!--            </if>-->
<!--            <if test="sjid != null and sjid != ''">-->
<!--                and sjkzxx.sjid ILIKE '%'||#{sjid}||'%'-->
<!--            </if>-->
<!--            <if test="yszkid != null and yszkid != ''">-->
<!--                and sjkzxx.yszkid ILIKE '%'||#{yszkid}||'%'-->
<!--            </if>-->
<!--            <if test="sfdz != null and sfdz != ''">-->
<!--                and sjkzxx.sfdz ILIKE '%'||#{sfdz}||'%'-->
<!--            </if>-->
<!--        </where>-->
<!--    </sql>-->

<!--    &lt;!&ndash;查询单个&ndash;&gt;-->
    <select id="getDtoById" resultType="SjkzxxDto" parameterType="SjkzxxDto">
        select
          sjkzxx.sjid, sjkzxx.bbsdwd,sjkzxx.qtxx
        from igams_sjkzxx sjkzxx
        where sjkzxx.sjid = #{sjid} and sjkzxx.scbj = '0'
    </select>

<!--    &lt;!&ndash;查询指定行数据&ndash;&gt;-->
<!--    <select id="getPagedDtoList" resultType="SjkzxxDto" parameterType="SjkzxxDto">-->
<!--        select-->
<!--        sjkzxx.sjid, sjkzxx.yszkid, sjkzxx.sfdz, sjkzxx.lrry, sjkzxx.lrsj, sjkzxx.xgry, sjkzxx.xgsj, sjkzxx.scry, sjkzxx.scsj, sjkzxx.scbj-->
<!--        from igams_sjkzxx sjkzxx-->
<!--        <include refid="SEARCH_WHERE"></include>-->
<!--        <include refid="SEARCH_WHERE"></include>-->
<!--    </select>-->


<!--    &lt;!&ndash;新增所有列&ndash;&gt;-->
<!--    <insert id="insert" parameterType="SjkzxxDto">-->
<!--        insert into igams_sjkzxx(yszkid, sfdz, lrry, lrsj,  scbj)-->
<!--        values (#{yszkid}, #{sfdz}, #{lrry}, LOCALTIMESTAMP, '0')-->
<!--    </insert>-->

<!--    -->



<!--    &lt;!&ndash;通过主键修改数据&ndash;&gt;-->
    <update id="update">
        update igams_sjkzxx
        <set>
            xgry = #{xgry}, xgsj = LOCALTIMESTAMP
            <if test="bbsdwd != null and bbsdwd != ''">
                ,bbsdwd = #{bbsdwd}
            </if>
            <if test="qtxx != null and qtxx != ''">
                ,qtxx = #{qtxx}
            </if>
        </set>
        where sjid = #{sjid}
    </update>

<!--    &lt;!&ndash;通过主键删除&ndash;&gt;-->
<!--    <delete id="deleteById">-->
<!--        delete from igams_sjkzxx where sjid = #{sjid}-->
<!--    </delete>-->

    <select id="getPagedSpecimenExperimentalList"  parameterType="SjkzxxDto"  resultType="SjkzxxDto" >
        select sj.sjid,sj.hzxm,sj.sjdwmc,case when jcsj.cskz1 = '1' then sj.yblxmc else jcsj.csmc end yblxmc,
        sj.nbbm,sj.ybbh,sj.db,jc_jcdw.csmc jcdwmc,sjkzxx.bbsdwd,sjkzxx.qtxx,to_char(sj.cyrq,'yyyy-MM-dd') cyrq,to_char(sj.jsrq,'yyyy-MM-dd') jsrq,to_char(sj.dsyrq,'yyyy-MM-dd') dsyrq
        ,to_char(sj.syrq,'yyyy-MM-dd') syrq,to_char(sj.qtsyrq,'yyyy-MM-dd') qtsyrq,to_char(sj.bgrq,'yyyy-MM-dd') bgrq,sj.bz
        from igams_sjxx sj
        left join igams_sjjcxm sjjcxm on sjjcxm.sjid = sj.sjid and sjjcxm.scbj='0'
        left join igams_sjkzxx sjkzxx on sjkzxx.sjid = sj.sjid and sjkzxx.scbj='0'
        left join matridx_jcsj jcsj on sj.yblx = jcsj.csid
        left outer join matridx_jcsj jc_jcdw on jc_jcdw.csid=sj.jcdw
        where sj.scbj = '0'
        <if test="userids != null and userids.size()>0">
            and (sj.lrry in
            <foreach collection="userids" open="(" close=")" index="index" item="item" separator=",">
                #{item}
            </foreach>
            <if test="sjhbs != null and sjhbs.size()>0">
                or sj.db in
                <foreach collection="sjhbs" open="(" close=")" index="index" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            )
        </if>
        <if test="jcdwxz!=null and jcdwxz.size()>0">
            and (exists (
            select sjsygl.sjid from igams_sjsygl sjsygl
            where sjsygl.scbj = '0' and sjsygl.sjid = sj.sjid
            and  sjsygl.syrq is null
            and sjsygl.jcdw in
            <foreach collection="jcdwxz" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
            ) or
            sj.jcdw in
            <foreach collection="jcdwxz" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>)
        </if>
        <if test = "jcdws != null and jcdws.length > 0 "  >
            and (exists (
            select sjsygl.sjid from igams_sjsygl sjsygl
            where sjsygl.scbj = '0' and sjsygl.sjid = sj.sjid
            and  sjsygl.syrq is null
            and sjsygl.jcdw in
            <foreach collection="jcdws" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
            ) or
            sj.jcdw in
            <foreach collection="jcdws" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>)
        </if>
        <if test="jcxms !=null and jcxms.length > 0">
            and sjjcxm.jcxmid in
            <foreach separator="," collection="jcxms" open="(" close=")" index="index" item="item">
                #{item}
            </foreach>
        </if>

        <if test="ybbh != null and ybbh !=''">
            and ybbh ILIKE '%'||#{ybbh}||'%'
        </if>
        <if test="hzxm != null and hzxm != ''">
            and hzxm ILIKE '%'||#{hzxm}||'%'
        </if>
        <if test=" nbbm != null and nbbm != ''">
            and nbbm ILIKE '%'||#{nbbm}||'%'
        </if>
        <if test="bbsdwdstart != null and bbsdwdstart != ''">
            and  (cast(sjkzxx.bbsdwd as numeric) &gt;= cast(#{bbsdwdstart} as numeric))
        </if>
        <if test="bbsdwdend != null and bbsdwdend != ''">
            and (cast(sjkzxx.bbsdwd as numeric) &lt;= cast(#{bbsdwdend} as numeric))
        </if>
        <if test="jsrqstart != null and jsrqstart != ''">
            and to_char(sj.jsrq,'yyyy-mm-dd') &gt;= #{jsrqstart}
        </if>
        <if test="jsrqend != null and jsrqend != ''">
            and to_char(sj.jsrq,'yyyy-mm-dd') &lt;= #{jsrqend}
        </if>
        <if test="bgrqstart != null and bgrqstart != ''">
            and to_char(sj.bgrq,'yyyy-mm-dd') &gt;= #{bgrqstart}
        </if>
        <if test="bgrqend != null and bgrqend != ''">
            and to_char(sj.bgrq,'yyyy-mm-dd') &lt;= #{bgrqend}
        </if>
        <if test="cyrqstart != null and cyrqstart != ''">
            and to_char(sj.cyrq,'yyyy-MM-dd') &gt;= #{cyrqstart}
        </if>
        <if test="cyrqend !=null and cyrqend !=''">
            and to_char(sj.cyrq,'yyyy-MM-dd') &lt;= #{cyrqend}
        </if>
        <if test="(syrqstart != null and syrqstart != '') and (syrqend == null or syrqend == '')">
            and (
            to_char(sj.syrq,'yyyy-mm-dd') &gt;= #{syrqstart}
            or to_char(sj.dsyrq,'yyyy-mm-dd') &gt;= #{syrqstart}
            or to_char(sj.qtsyrq,'yyyy-mm-dd') &gt;= #{syrqstart}
            )
        </if>
        <if test="(syrqstart == null or syrqstart == '') and (syrqend != null and syrqend != '')">
            and (
            to_char(sj.syrq,'yyyy-mm-dd') &lt;= #{syrqend}
            or to_char(sj.dsyrq,'yyyy-mm-dd') &lt;= #{syrqend}
            or to_char(sj.qtsyrq,'yyyy-mm-dd') &lt;= #{syrqend}
            )
        </if>
        <if test="syrqstart != null and syrqstart != '' and syrqend != null and syrqend != ''">
            and (
            (to_char(sj.syrq,'yyyy-mm-dd') &gt;= #{syrqstart}  and to_char(sj.syrq,'yyyy-mm-dd') &lt;= #{syrqend})
            or (to_char(sj.dsyrq,'yyyy-mm-dd') &gt;= #{syrqstart}  and to_char(sj.dsyrq,'yyyy-mm-dd') &lt;= #{syrqend})
            or (to_char(sj.qtsyrq,'yyyy-mm-dd') &gt;= #{syrqstart}  and to_char(sj.qtsyrq,'yyyy-mm-dd') &lt;= #{syrqend})
            )
        </if>
    </select>

    <select id="getListForSelectExp"  parameterType="SjkzxxDto"  resultType="SjkzxxDto" >
        select sj.sjid ${sqlParam}
        from (
        <foreach item="item" index="index" collection="ids"
                 separator=" union all ">
            select #{item,jdbcType=VARCHAR} sjid,#{index} ordernum
        </foreach>
        ) tmp
        left join igams_sjxx sj on tmp.sjid = sj.sjid
        left join igams_sjkzxx sjkzxx on sjkzxx.sjid = sj.sjid and sjkzxx.scbj='0'
        left join matridx_jcsj jcsj on sj.yblx = jcsj.csid
        left outer join matridx_jcsj jc_jcdw on jc_jcdw.csid=sj.jcdw
        where sj.scbj = '0' and exists (
        select sjsygl.sjid from igams_sjsygl sjsygl
        where sjsygl.scbj = '0' and sjsygl.sjid = sj.sjid
        and  sjsygl.syrq is null
        )
    </select>

    <select id="getCountForSearchExp"  parameterType="SjkzxxDto"  resultType="java.lang.Integer" >
        select count(sj.sjid)
        from igams_sjxx sj
        left join igams_sjkzxx sjkzxx on sjkzxx.sjid = sj.sjid and sjkzxx.scbj='0'
        left join matridx_jcsj jcsj on sj.yblx = jcsj.csid
        left outer join matridx_jcsj jc_jcdw on jc_jcdw.csid=sj.jcdw
        where sj.scbj = '0' and exists (
        select sjsygl.sjid from igams_sjsygl sjsygl
        left join igams_xmsygl xmsygl on sjsygl.syglid = xmsygl.syglid and xmsygl.scbj ='0'
        where sjsygl.scbj = '0' and sjsygl.sjid = sj.sjid
        and  sjsygl.syrq is null
        <if test="jcdwxz!=null and jcdwxz.size()>0">
            and sjsygl.jcdw in
            <foreach collection="jcdwxz" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test = "jcdws != null and jcdws.length > 0 "  >
            and sjsygl.jcdw in
            <foreach collection="jcdws" separator="," open="(" close=")" item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="jcxms !=null and jcxms.length > 0">
            and xmsygl.jcxmid in
            <foreach separator="," collection="jcxms" open="(" close=")" index="index" item="item">
                #{item}
            </foreach>
        </if>
        )
        <if test="ybbh != null and ybbh !=''">
            and ybbh ILIKE '%'||#{ybbh}||'%'
        </if>
        <if test="hzxm != null and hzxm != ''">
            and hzxm ILIKE '%'||#{hzxm}||'%'
        </if>
        <if test=" nbbm != null and nbbm != ''">
            and nbbm ILIKE '%'||#{nbbm}||'%'
        </if>
        <if test="bbsdwdstart != null and bbsdwdstart != ''">
            and  (cast(sjkzxx.bbsdwd as numeric) &gt;= cast(#{bbsdwdstart} as numeric))
        </if>
        <if test="bbsdwdend != null and bbsdwdend != ''">
            and (cast(sjkzxx.bbsdwd as numeric) &lt;= cast(#{bbsdwdend} as numeric))
        </if>
    </select>


    <select id="getListForSearchExp"  parameterType="SjkzxxDto"  resultType="SjkzxxDto" >
        select sj.sjid ${sqlParam}
        from igams_sjxx sj
        left join igams_sjkzxx sjkzxx on sjkzxx.sjid = sj.sjid and sjkzxx.scbj='0'
        left join matridx_jcsj jcsj on sj.yblx = jcsj.csid
        left outer join matridx_jcsj jc_jcdw on jc_jcdw.csid=sj.jcdw
        where sj.scbj = '0' and exists (
        select sjsygl.sjid from igams_sjsygl sjsygl
        left join igams_xmsygl xmsygl on sjsygl.syglid = xmsygl.syglid and xmsygl.scbj ='0'
        where sjsygl.scbj = '0' and sjsygl.sjid = sj.sjid
        and  sjsygl.syrq is null
        <if test="jcdwxz!=null and jcdwxz.size()>0">
            and sjsygl.jcdw in
            <foreach collection="jcdwxz" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test = "jcdws != null and jcdws.length > 0 "  >
            and sjsygl.jcdw in
            <foreach collection="jcdws" separator="," open="(" close=")" item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="jcxms !=null and jcxms.length > 0">
            and xmsygl.jcxmid in
            <foreach separator="," collection="jcxms" open="(" close=")" index="index" item="item">
                #{item}
            </foreach>
        </if>
        )
        <if test="ybbh != null and ybbh !=''">
            and ybbh ILIKE '%'||#{ybbh}||'%'
        </if>
        <if test="hzxm != null and hzxm != ''">
            and hzxm ILIKE '%'||#{hzxm}||'%'
        </if>
        <if test=" nbbm != null and nbbm != ''">
            and nbbm ILIKE '%'||#{nbbm}||'%'
        </if>
        <if test="bbsdwdstart != null and bbsdwdstart != ''">
            and  (cast(sjkzxx.bbsdwd as numeric) &gt;= cast(#{bbsdwdstart} as numeric))
        </if>
        <if test="bbsdwdend != null and bbsdwdend != ''">
            and (cast(sjkzxx.bbsdwd as numeric) &lt;= cast(#{bbsdwdend} as numeric))
        </if>
        order by
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>

    <select id="getSjkzxxBySjid" parameterType="SjkzxxDto" resultType="SjkzxxDto">
        select * from
        igams_sjkzxx
        where sjid=#{sjid}
    </select>

    <select id="getTsWzlx" resultType="Map">
        select * from
        igams_tswzlx
    </select>
</mapper>

