<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjtdxxDao" >
    <insert id="insert" parameterType="SjtdxxDto">
        insert into igams_sjtdxx(sjtdid
        <if test="jsfs !=null and jsfs != ''">
            ,jsfs
        </if>
        <if test="gldh !=null and gldh != ''">
            ,gldh
        </if>
        <if test="bc !=null and bc != ''">
            ,bc
        </if>
        <if test="dddd !=null and dddd != ''">
            ,dddd
        </if>
        <if test="yjddsj !=null and yjddsj != ''">
            ,yjddsj
        </if>
        <if test="sdsj !=null and sdsj != ''">
            ,sdsj
        </if>
        <if test="wlzt !=null and wlzt != ''">
            ,wlzt
        </if>
        <if test="sdbz !=null and sdbz != ''">
            ,sdbz
        </if>
        <if test="jdr !=null and jdr != ''">
            ,jdr
        </if>
        <if test="qylxr !=null and qylxr != ''">
            ,qylxr
        </if>
        <if test="qylxdh !=null and qylxdh != ''">
            ,qylxdh
        </if>
         <if test="jcdw !=null and jcdw != ''">
            ,jcdw
        </if>
        ,lrry,lrsj,scbj) values(#{sjtdid}
        <if test="jsfs !=null and jsfs != ''">
            ,#{jsfs}
        </if>
        <if test="gldh !=null and gldh != ''">
            ,#{gldh}
        </if>
        <if test="bc !=null and bc != ''">
            ,#{bc}
        </if>
        <if test="dddd !=null and dddd != ''">
            ,#{dddd}
        </if>
        <if test="yjddsj !=null and yjddsj != ''">
            ,cast(#{yjddsj} as timestamp)
        </if>
        <if test="sdsj !=null and sdsj != ''">
            ,cast(#{sdsj} as timestamp)
        </if>
        <if test="wlzt !=null and wlzt != ''">
            ,#{wlzt}
        </if>
        <if test="sdbz !=null and sdbz != ''">
            ,#{sdbz}
        </if>
        <if test="jdr !=null and jdr != ''">
            ,#{jdr}
        </if>
        <if test="qylxr !=null and qylxr != ''">
            ,#{qylxr}
        </if>
        <if test="qylxdh !=null and qylxdh != ''">
            ,#{qylxdh}
        </if>
        <if test="jcdw !=null and jcdw != ''">
            ,#{jcdw}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0')
    </insert>

    <update id="update" parameterType="SjtdxxDto">
        update igams_sjtdxx
        <set>
            <if test="jdbj !=null and jdbj != ''">
                ,jdbj=#{jdbj}
            </if>
            <if test="wlzt !=null and wlzt != ''">
                ,wlzt=#{wlzt}
            </if>
            <if test="jdsj !=null and jdsj != ''">
                ,jdsj=cast(#{jdsj} as timestamp)
            </if>
            <if test="ygqjsj !=null and ygqjsj != ''">
                ,ygqjsj=cast(#{ygqjsj} as timestamp)
            </if>
            <if test="qxjdyy !=null and qxjdyy != ''">
                ,qxjdyy=#{qxjdyy}
            </if>
            <if test="qjsj !=null and qjsj != ''">
                ,qjsj=cast(#{qjsj} as timestamp)
            </if>
            <if test="jsfs !=null and jsfs != ''">
                ,jsfs=#{jsfs}
            </if>
            <if test="gldh !=null and gldh != ''">
                ,gldh=#{gldh}
            </if>
            <if test="bc !=null and bc != ''">
                ,bc=#{bc}
            </if>
            <if test="dddd !=null and dddd != ''">
                ,dddd=#{dddd}
            </if>
            <if test="yjddsj !=null and yjddsj != ''">
                ,yjddsj=cast(#{yjddsj} as timestamp)
            </if>
            <if test="qjbz !=null and qjbz != ''">
                ,qjbz=#{qjbz}
            </if>
            <if test="sdsj !=null and sdsj != ''">
                ,sdsj==cast(#{sdsj} as timestamp)
            </if>
            <if test="wlfy !=null and wlfy != ''">
                ,wlfy=cast(#{wlfy} as numeric )
            </if>
            <if test="lrry !=null and lrry != ''">
                ,lrry=#{lrry}
            </if>
            <if test="lrsj !=null and lrsj != ''">
                ,lrsj=cast(#{lrsj} as timestamp )
            </if>
            <if test="xgry !=null and xgry != ''">
                ,xgry=#{xgry}
            </if>
            <if test="xgsj !=null and xgsj != ''">
                ,xgsj=cast (#{xgsj} as timestamp )
            </if>
            <if test="scry !=null and scry != ''">
                ,scry=#{scry}
            </if>
            <if test="scsj !=null and scsj != ''">
                ,scsj=cast (#{scsj} as timestamp )
            </if>
            <if test="scbj !=null and scbj != ''">
                ,scbj=#{scbj}
            </if>
            <if test="jdbz !=null and jdbz != ''">
                ,jdbz=#{jdbz}
            </if>
            <if test="sdbz !=null and sdbz != ''">
                ,sdbz=#{sdbz}
            </if>
            <if test="yjsdsj !=null and yjsdsj != ''">
                ,yjsdsj=cast (#{yjsdsj} as timestamp )
            </if>
            <if test="jdr !=null and jdr != ''">
                ,jdr=#{jdr}
            </if>
            <if test="qydz !=null and qydz != ''">
                ,qydz=#{qydz}
            </if>
        </set>
        <where>
            sjtdid=#{sjtdid}
        </where>

    </update>
    <!-- 根据ID获取信息 -->
    <select id="getDtoById" parameterType="String" resultType="SjtdxxDto">
        select sjtdxx.sjtdid,sjtdxx.gldh,sjtdxx.bc,sjtdxx.dddd,sjtdxx.yjddsj,sjtdxx.wlzt,sjtdxx.lrry,lrry.zsxm lrrymc,sjtdxx.lrsj,sjtdxx.scbj,sjtdxx.jdr,jdr.zsxm jdrmc,sjtdxx.jcdw,
        lrry.ddid jdrddid
        from igams_sjtdxx sjtdxx
        left join matridx_jcsj jsfs on jsfs.csid=sjtdxx.jsfs
        left join matridx_xtyh lrry on lrry.yhid=sjtdxx.lrry
        left join matridx_xtyh jdr on jdr.yhid=sjtdxx.jdr
        <where>
            sjtdxx.scbj != '1'
            and sjtdxx.sjtdid = #{sjtdid}
        </where>
    </select>
</mapper>
