<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjwlxxDao" >

    <insert id="insert" parameterType="SjwlxxDto">
        insert into igams_sjwlxx(wlid,sjpdid
        <if test="sjwlid !=null and sjwlid != ''">
            ,sjwlid
        </if>
        <if test="jdr !=null and jdr != ''">
            ,jdr
        </if>
        <if test="jdsj !=null and jdsj != ''">
            ,jdsj
        </if>
        <if test="ygqjsj !=null and ygqjsj != ''">
            ,ygqjsj
        </if>
        <if test="jdbz !=null and jdbz != ''">
            ,jdbz
        </if>
        <if test="qxjdyy !=null and qxjdyy != ''">
            ,qxjdyy
        </if>
        <if test="qjsj !=null and qjsj != ''">
            ,qjsj
        </if>
        <if test="jsfs !=null and jsfs != ''">
            ,jsfs
        </if>
        <if test="gldh !=null and gldh != ''">
            ,gldh
        </if>
        <if test="bc !=null and bc != ''">
            ,bc
        </if>
        <if test="dddd !=null and dddd != ''">
            ,dddd
        </if>
        <if test="yjddsj !=null and yjddsj != ''">
            ,yjddsj
        </if>
        <if test="qjbz !=null and qjbz != ''">
            ,qjbz
        </if>
        <if test="sdsj !=null and sdsj != ''">
            ,sdsj
        </if>
        <if test="wlfy !=null and wlfy != ''">
            ,wlfy
        </if>
        <if test="wlzt !=null and wlzt != ''">
            ,wlzt
        </if>
        <if test="sdbz !=null and sdbz != ''">
            ,sdbz
        </if>
         <if test="sjtdid !=null and sjtdid != ''">
            ,sjtdid
        </if>
        ,lrry,lrsj,scbj) values(#{wlid},#{sjpdid}
        <if test="sjwlid !=null and sjwlid != ''">
            ,#{sjwlid}
        </if>
        <if test="jdr !=null and jdr != ''">
            ,#{jdr}
        </if>
        <if test="jdsj !=null and jdsj != ''">
            ,cast(#{jdsj} as timestamp)
        </if>
        <if test="ygqjsj !=null and ygqjsj != ''">
            ,cast(#{ygqjsj} as timestamp)
        </if>
        <if test="jdbz !=null and jdbz != ''">
            ,#{jdbz}
        </if>
        <if test="qxjdyy !=null and qxjdyy != ''">
            ,#{qxjdyy}
        </if>
        <if test="qjsj !=null and qjsj != ''">
            ,cast(#{qjsj} as timestamp)
        </if>
        <if test="jsfs !=null and jsfs != ''">
            ,#{jsfs}
        </if>
        <if test="gldh !=null and gldh != ''">
            ,#{gldh}
        </if>
        <if test="bc !=null and bc != ''">
            ,#{bc}
        </if>
        <if test="dddd !=null and dddd != ''">
            ,#{dddd}
        </if>
        <if test="yjddsj !=null and yjddsj != ''">
            ,cast(#{yjddsj} as timestamp)
        </if>
        <if test="qjbz !=null and qjbz != ''">
            ,#{qjbz}
        </if>
        <if test="sdsj !=null and sdsj != ''">
            ,cast(#{sdsj} as timestamp)
        </if>
        <if test="wlfy !=null and wlfy != ''">
            ,cast(#{wlfy} as numeric)
        </if>
        <if test="wlzt !=null and wlzt != ''">
            ,#{wlzt}
        </if>
        <if test="sdbz !=null and sdbz != ''">
            ,#{sdbz}
        </if>
        <if test="sjtdid !=null and sjtdid != ''">
            ,#{sjtdid}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0')
    </insert>

    <update id="update" parameterType="SjwlxxDto">
        update igams_sjwlxx
        <set>
            xgry=#{xgry},xgsj = LOCALTIMESTAMP
            <if test="sjwlid !=null and sjwlid != ''">
                ,sjwlid=#{sjwlid}
            </if>
            <if test="jdr !=null and jdr != ''">
                ,jdr=#{jdr}
            </if>
            <if test="jdsj !=null and jdsj != ''">
                ,jdsj=cast(#{jdsj} as timestamp)
            </if>
            <if test="ygqjsj !=null and ygqjsj != ''">
                ,ygqjsj=cast(#{ygqjsj} as timestamp)
            </if>
            <if test="jdbz !=null and jdbz != ''">
                ,jdbz=#{jdbz}
            </if>
            <if test="qxjdyy !=null and qxjdyy != ''">
                ,qxjdyy=#{qxjdyy}
            </if>
            <if test="jsfs !=null and jsfs != ''">
                ,jsfs=#{jsfs}
            </if>
            <if test="gldh !=null and gldh != ''">
                ,gldh=#{gldh}
            </if>
            <if test="gldh !=null and gldh == ''">
                ,gldh=null
            </if>
            <if test="bc !=null and bc != ''">
                ,bc=#{bc}
            </if>
            <if test="dddd !=null and dddd != ''">
                ,dddd=#{dddd}
            </if>
            <if test="yjddsj !=null and yjddsj != ''">
                ,yjddsj=cast(#{yjddsj} as timestamp)
            </if>
            <if test="qjsj !=null and qjsj != ''">
                ,qjsj=cast(#{qjsj} as timestamp )
            </if>
            <if test="qjbz !=null and qjbz != ''">
                ,qjbz=#{qjbz}
            </if>
            <if test="sdsj !=null and sdsj != ''">
                ,sdsj=cast(#{sdsj} as timestamp)
            </if>
            <if test="wlfy !=null and wlfy != ''">
                ,wlfy=cast(#{wlfy} as numeric)
            </if>
            <if test="wlfy !=null and wlfy == ''">
                ,wlfy=null
            </if>
            <if test="wlzt !=null and wlzt != ''">
                ,wlzt=#{wlzt}
            </if>
            <if test="sdbz !=null and sdbz != ''">
                ,sdbz=#{sdbz}
            </if>
            <if test="yjsdsj !=null and yjsdsj != ''">
                ,yjsdsj=cast(#{yjsdsj} as timestamp)
            </if>
        </set>
        <where>
               and wlid=#{wlid}
            <if test="sjtdid !=null and sjtdid != ''">
                and sjtdid=#{sjtdid}
            </if>
        </where>

    </update>

    <!--根据wlid获取送检物流信息-->
    <select id="getSjwlxxDtoById" resultType="SjwlxxDto" parameterType="SjwlxxDto">
        SELECT sjwlxx.wlid,sjwlxx.sjpdid,sjwlxx.sjwlid,sjwlxx.jdr,sjwlxx.jdsj,sjwlxx.ygqjsj,sjwlxx.jdbz,sjwlxx.qxjdyy,sjwlxx.qjsj,sjwlxx.jsfs,
               sjwlxx.gldh,sjwlxx.bc,sjwlxx.dddd,sjwlxx.yjddsj,sjwlxx.qjbz,sjwlxx.sdsj,sjwlxx.wlfy,sjwlxx.wlzt,sjwlxx.sdbz,jc_bblx.csmc bblxmc,
               to_char(sjwlxx.ygqjsj,'yyyy-MM-dd HH24:mi:ss') qysj,sjpdgl.qylxr,sjpdgl.qylxdh ,
               case when sjwlxx.sjwlid is null then sjpdgl.qydz else sjwlxx.dddd end qydz,lrry.zsxm lrrymc,sjpdgl.bbbh,sjpdgl.scbj,jc.csmc jcdwmc,
               pdry.zsxm pdrmc,pdry.ddid pdrddid,sjpdgl.hzxm hzxm,jdr.zsxm jdrmc,sjwlxx.qxjdyy,pdry.yhm
        FROM igams_sjwlxx sjwlxx
         LEFT JOIN igams_sjpdgl sjpdgl ON sjpdgl.sjpdid = sjwlxx.sjpdid and sjpdgl.scbj='0'
         LEFT JOIN matridx_jcsj jc_bblx ON jc_bblx.csid = sjpdgl.bblx
         left join matridx_xtyh lrry on sjwlxx.lrry=lrry.yhid
         left join matridx_xtyh pdry on sjpdgl.lrry=pdry.yhid
         left join matridx_jcsj jc on sjpdgl.jcdw = jc.csid
         left join matridx_xtyh jdr on sjwlxx.jdr=jdr.yhid
        WHERE sjwlxx.wlid = #{wlid} and sjwlxx.scbj='0'
    </select>

    <select id="getWlxxBySjpdidAndSjwlid" parameterType="SjwlxxDto" resultType="SjwlxxDto">
        select sjwlxx.wlid, sjwlxx.sjpdid
        from igams_sjwlxx sjwlxx
        where sjwlxx.sjpdid=#{sjpdid} and sjwlxx.sjwlid is null
        order by sjwlxx.lrsj desc
    </select>

    <select id="getWlxxList" parameterType="SjwlxxDto" resultType="SjwlxxDto">
         select jdr.zsxm jdrmc,sjwlxx.dddd,sjwlxx.wlfy,sjwlxx.wlzt,sjpdgl.zt sjpdzt,sjpdgl.qydz,sjwlxx.yjddsj,sjwlxx.bc,sjpdgl.sjpdid sjpdid,sjpdgl.scbj scbj,sjwlxx.sjwlid,sdry.zsxm sdrymc,sjwlxx2.dddd sjqydz,
        jcdw.csmc jcdwmc,pdr.zsxm pdrmc,jsfs.csdm jsfsdm,sjwlxx.gldh,jsfs.csmc jsfsmc,jdr.ddid jdrddid,pdr2.ddid pdrddid,qxry.zsxm qxrymc,sjwlxx.wlid,sjpdgl.bbbh,
        sjpdgl.pdbz,sjpdgl.qxpdyy,sjwlxx.jdbz,sjwlxx.qjbz,sjwlxx.sdbz,sjpdgl.pdh,to_char(sjwlxx.yjsdsj,'yyyy-mm-dd hh24:mi') yjsdsj,to_char(sjwlxx.ygqjsj,'yyyy-mm-dd hh24:mi:ss') ygqjsj,
        to_char(sjwlxx.lrsj,'yyyy-mm-dd') lrsj, to_char(sjwlxx.lrsj,'hh24:mi') lrtime,
        to_char(sjwlxx.jdsj,'yyyy-mm-dd') jdsj, to_char(sjwlxx.jdsj,'hh24:mi') jdtime,
        to_char(sjwlxx.sdsj,'yyyy-mm-dd') sdsj, to_char(sjwlxx.sdsj,'hh24:mi') sdtime,
        to_char(sjwlxx.qjsj,'yyyy-mm-dd') qjsj, to_char(sjwlxx.qjsj,'hh24:mi') qjtime,
        to_char(sjpdgl.scsj,'yyyy-mm-dd') scsj, to_char(sjpdgl.scsj,'hh24:mi') sctime
        from igams_sjwlxx sjwlxx
        left join igams_sjpdgl sjpdgl on sjwlxx.sjpdid=sjpdgl.sjpdid
        left join matridx_xtyh jdr on sjwlxx.jdr=jdr.yhid
        left join matridx_jcsj jcdw on jcdw.csid=sjpdgl.jcdw
        left join matridx_xtyh pdr on pdr.yhid=sjpdgl.lrry
        left join igams_sjwlxx sjwlxx2 on sjwlxx.sjwlid=sjwlxx2.wlid
        left join matridx_xtyh sdry on sdry.yhid=sjwlxx2.jdr
        left join matridx_jcsj jsfs on jsfs.csid=sjwlxx.jsfs
	    left join matridx_xtyh pdr2 on pdr2.yhid=sjwlxx.lrry
        left join matridx_xtyh qxry on qxry.yhid=sjpdgl.scry
	        where sjwlxx.sjpdid=#{sjpdid}
        order by sjwlxx.jdsj,sjwlxx.lrsj,sjwlxx.sdsj,sjwlxx.qjsj,sjpdgl.scsj desc
    </select>
    <select id="getDto" parameterType="SjwlxxDto" resultType="SjwlxxDto">
        select jc.csmc jcdwmc,jc1.csmc bblxmc,jc2.csmc jsfsmc,xtyh_pdr.zsxm pdrmc,sjpdgl.sjpdid,sjpdgl.pdh,sjpdgl.jsfs,sjpdgl.qydz,to_char(sjpdgl.yjsj,'yyyy-mm-dd hh24:mi:ss') AS yjsj,sjpdgl.qylxr,sjpdgl.qylxdh,sjpdgl.bblx,
        sjpdgl.sfsf,sjpdgl.sfje,sjpdgl.jdbj,sjpdgl.jcdw,sjpdgl.pdbz,sjpdgl.qxpdyy,sjpdgl.lrry,sjpdgl.lrsj,sjpdgl.xgry,sjpdgl.qxpdbj,sjpdgl.bbbh,sjpdgl.xgsj,sjpdgl.scry,sjpdgl.scsj,sjpdgl.scbj,jc2.csdm jsfsdm,sjpdgl.zt,
        jc2.csmc jsfsmc,case when sjpdgl.jdbj='1' then '已接单'  when sjpdgl.jdbj='0' then '未接单' end jdbjmc,jdr.zsxm jdrmc,jdr.ddid jdrddid,xtyh_pdr.ddid pdrddid,wlxx.jdr,
        case when sjpdgl.qxpdbj='1' then '已取消'  when sjpdgl.qxpdbj='0' then '未取消' end qxpdbjmc,wlxx2.sdsj,
        case when sjpdgl.sfsf='1' then '是'  when sjpdgl.sfsf='0' then '否' end sfsfmc,wlxx.wlid,wlxx.wlzt,xtyh_pdr.ddid pdrddid,wlxx.dddd,wlxx.sjwlid,wlxx.bc,to_char(wlxx.yjddsj,'yyyy-mm-dd hh24:mi:ss') yjddsj,wlxx.gldh,sjpdgl.scbj,
        to_char(wlxx.ygqjsj,'yyyy-mm-dd hh24:mi:ss') ygqjsj,jc3.csmc pdjsfsmc,wlxx.jdbz,wlxx.qjbz,wlxx.sdbz,wlxx.jsfs wljsfs,sjtdxx.sjtdid
        from igams_sjwlxx wlxx
        left join igams_sjpdgl sjpdgl on wlxx.sjpdid=sjpdgl.sjpdid and sjpdgl.scbj!='1'
        left join matridx_jcsj jc on sjpdgl.jcdw = jc.csid
        left join matridx_jcsj jc1 on sjpdgl.bblx = jc1.csid
        left join matridx_jcsj jc2 on wlxx.jsfs = jc2.csid
        left join matridx_xtyh xtyh_pdr on xtyh_pdr.yhid=sjpdgl.lrry and xtyh_pdr.scbj!='1'
        left join matridx_xtyh jdr on jdr.yhid=wlxx.lrry
        left join igams_sjwlxx wlxx2 on wlxx.sjwlid=wlxx2.wlid
        left join matridx_jcsj jc3 on sjpdgl.jsfs = jc3.csid
        left join igams_sjtdxx sjtdxx on sjtdxx.sjtdid=wlxx.sjtdid
        <where>
            wlxx.scbj != '1'
            and wlxx.wlid = #{wlid}
        </where>
    </select>
    <select id="getSjwlxxsBySjtdid" parameterType="SjwlxxDto" resultType="SjwlxxDto">
        select jc1.csmc bblxmc,jc2.csmc jsfsmc,xtyh_pdr.zsxm pdrmc,sjpdgl.sjpdid,sjpdgl.pdh,sjpdgl.jsfs,sjpdgl.qydz,to_char(sjpdgl.yjsj,'yyyy-mm-dd hh24:mi:ss') AS yjsj,sjpdgl.bblx,
        sjpdgl.sfsf,sjpdgl.sfje,sjpdgl.jdbj,sjpdgl.pdbz,sjpdgl.qxpdyy,sjpdgl.lrry,sjpdgl.lrsj,sjpdgl.xgry,sjpdgl.qxpdbj,sjpdgl.bbbh,sjpdgl.xgsj,sjpdgl.scry,sjpdgl.scsj,sjpdgl.scbj,jc2.csdm jsfsdm,sjpdgl.zt,
        case when sjpdgl.jdbj='1' then '已接单'  when sjpdgl.jdbj='0' then '未接单' end jdbjmc,jdr.zsxm jdrmc,jdr.ddid jdrddid,xtyh_pdr.ddid pdrddid,wlxx.jdr,
        case when sjpdgl.qxpdbj='1' then '已取消'  when sjpdgl.qxpdbj='0' then '未取消' end qxpdbjmc,wlxx2.sdsj,
        case when sjpdgl.sfsf='1' then '是'  when sjpdgl.sfsf='0' then '否' end sfsfmc,wlxx.wlid,wlxx.wlzt,xtyh_pdr.ddid pdrddid,wlxx.dddd,wlxx.sjwlid,wlxx.bc,to_char(wlxx.yjddsj,'yyyy-mm-dd hh24:mi:ss') yjddsj,wlxx.gldh,sjpdgl.scbj,
        to_char(wlxx.ygqjsj,'yyyy-mm-dd hh24:mi:ss') ygqjsj,jc3.csmc pdjsfsmc,wlxx.jdbz,wlxx.qjbz,wlxx.sdbz,wlxx.jsfs wljsfs,sjtdxx.sjtdid,sjpdgl.hzxm,sjtdxx.qylxr,sjtdxx.qylxdh,sjtdxx.jcdw,jc.csmc jcdwmc,'0' as sfyc,tdjdr.zsxm tdjdrmc,tdjdr.ddid tdjdrddid,
        wlxx.qxjdyy
        from igams_sjwlxx wlxx
        left join igams_sjpdgl sjpdgl on wlxx.sjpdid=sjpdgl.sjpdid and sjpdgl.scbj!='1'
        left join igams_sjtdxx sjtdxx on sjtdxx.sjtdid=wlxx.sjtdid
        left join igams_sjwlxx wlxx2 on wlxx.sjwlid=wlxx2.wlid
        left join matridx_jcsj jc on sjtdxx.jcdw = jc.csid
        left join matridx_jcsj jc1 on sjpdgl.bblx = jc1.csid
        left join matridx_jcsj jc2 on sjtdxx.jsfs = jc2.csid
        left join matridx_xtyh xtyh_pdr on xtyh_pdr.yhid=sjpdgl.lrry and xtyh_pdr.scbj!='1'
        left join matridx_xtyh jdr on jdr.yhid=wlxx.lrry
        left join matridx_xtyh tdjdr on tdjdr.yhid=sjtdxx.lrry
        left join matridx_jcsj jc3 on sjpdgl.jsfs = jc3.csid
        <where>
            wlxx.scbj != '1'
            and wlxx.sjtdid = #{sjtdid}
        </where>
    </select>
    <!--统计标本运输时间-->
    <select id="getTransportationTimeListByRq" parameterType="map" resultType="map">
        SELECT tjxx_wlxx.sjpdid,tjxx_pdgl.bbbh bbbh,date_part('DAY',xxxx.xhsj)*24 + date_part('HOUR',xxxx.xhsj) hs,xxxx.jcdwmc jcdw
        FROM igams_sjwlxx tjxx_wlxx
        LEFT JOIN (
            SELECT wlxx.sjpdid,min(wlxx.qjsj),max(wlxx.sdsj),max(wlxx.sdsj)-min(wlxx.qjsj) xhsj,jc_jcdw.csmc jcdwmc
            FROM igams_sjpdgl pdgl
            LEFT JOIN igams_sjwlxx wlxx ON pdgl.sjpdid = wlxx.sjpdid
            LEFT JOIN matridx_jcsj jc_jcdw ON jc_jcdw.csid = pdgl.jcdw
            GROUP BY wlxx.sjpdid,jc_jcdw.csmc
            ) xxxx ON xxxx.sjpdid = tjxx_wlxx.sjpdid
         LEFT JOIN igams_sjpdgl tjxx_pdgl ON tjxx_pdgl.sjpdid = tjxx_wlxx.sjpdid
        <where>
            tjxx_pdgl.zt = '50'
            <if test = "rq != null and rq !=''">
                and to_char(tjxx_wlxx.sdsj,'yyyy-mm-dd') = #{rq}
            </if>
            <if test = "rqStart != null and rqStart !=''">
                and to_char(tjxx_wlxx.sdsj,'yyyy-mm-dd') &gt;= #{rqStart}
            </if>
            <if test = "rqEnd != null and rqEnd !=''">
                and to_char(tjxx_wlxx.sdsj,'yyyy-mm-dd') &lt;= #{rqEnd}
            </if>
        </where>
        GROUP BY tjxx_wlxx.sjpdid,tjxx_pdgl.bbbh,xxxx.xhsj,xxxx.jcdwmc;
    </select>
    <select id="getDtoById" parameterType="String" resultType="SjwlxxDto">
        select jc.csmc jcdwmc,jc1.csmc bblxmc,jc2.csmc jsfsmc,xtyh_pdr.zsxm pdrmc,sjpdgl.sjpdid,sjpdgl.pdh,sjpdgl.jsfs,sjpdgl.qydz,to_char(sjpdgl.yjsj,'yyyy-mm-dd hh24:mi:ss') AS yjsj,sjpdgl.qylxr,sjpdgl.qylxdh,sjpdgl.bblx,
        sjpdgl.sfsf,sjpdgl.sfje,sjpdgl.jdbj,sjpdgl.jcdw,sjpdgl.pdbz,sjpdgl.qxpdyy,sjpdgl.lrry,sjpdgl.lrsj,sjpdgl.xgry,sjpdgl.qxpdbj,sjpdgl.bbbh,sjpdgl.xgsj,sjpdgl.scry,sjpdgl.scsj,sjpdgl.scbj,jc2.csdm jsfsdm,sjpdgl.zt,
        jc2.csmc jsfsmc,case when sjpdgl.jdbj='1' then '已接单'  when sjpdgl.jdbj='0' then '未接单' end jdbjmc,jdr.zsxm jdrmc,jdr.ddid jdrddid,xtyh_pdr.ddid pdrddid,wlxx.jdr,
        case when sjpdgl.qxpdbj='1' then '已取消'  when sjpdgl.qxpdbj='0' then '未取消' end qxpdbjmc,wlxx2.sdsj,
        case when sjpdgl.sfsf='1' then '是'  when sjpdgl.sfsf='0' then '否' end sfsfmc,wlxx.wlid,wlxx.wlzt,xtyh_pdr.ddid pdrddid,wlxx.dddd,wlxx.sjwlid,wlxx.bc,to_char(wlxx.yjddsj,'yyyy-mm-dd hh24:mi:ss') yjddsj,wlxx.gldh,sjpdgl.scbj,
        to_char(wlxx.ygqjsj,'yyyy-mm-dd hh24:mi:ss') ygqjsj,jc3.csmc pdjsfsmc,wlxx.jdbz,wlxx.qjbz,wlxx.sdbz
        from igams_sjwlxx wlxx
        left join igams_sjpdgl sjpdgl on wlxx.sjpdid=sjpdgl.sjpdid and sjpdgl.scbj!='1'
        left join matridx_jcsj jc on sjpdgl.jcdw = jc.csid
        left join matridx_jcsj jc1 on sjpdgl.bblx = jc1.csid
        left join matridx_jcsj jc2 on wlxx.jsfs = jc2.csid
        left join matridx_xtyh xtyh_pdr on xtyh_pdr.yhid=sjpdgl.lrry and xtyh_pdr.scbj!='1'
        left join matridx_xtyh jdr on jdr.yhid=wlxx.lrry
        left join igams_sjwlxx wlxx2 on wlxx.sjwlid=wlxx2.wlid
        left join matridx_jcsj jc3 on sjpdgl.jsfs = jc3.csid
        <where>
            wlxx.scbj != '1'
            and sjpdgl.sjpdid = #{sjpdid}
        </where>
    </select>
    <select id="getSjwlxxsByJsfsAndYh" parameterType="SjwlxxDto" resultType="SjwlxxDto">
        select yblx.csmc bblxmc,sjpdgl.hbmc,sjpdgl.sjpdid,sjwlxx.wlid,sjwlxx.jdr,sjpdgl.hzxm
        from igams_sjwlxx sjwlxx
        left join igams_sjpdgl sjpdgl on sjwlxx.sjpdid=sjpdgl.sjpdid and sjpdgl.scbj!='1'
        left join matridx_jcsj yblx on sjpdgl.bblx = yblx.csid
        left join matridx_xtyh jdr on jdr.yhid=sjwlxx.jdr
        left join matridx_jcsj jsfs on sjwlxx.jsfs = jsfs.csid
        <where>
            sjwlxx.scbj != '1'
            <if test="wlid !=null and wlid != ''">
                AND sjwlxx.wlid != #{wlid}
            </if>
            <if test="wlids !=null and wlids.length > 0">
                and sjwlxx.wlid not in
                <foreach collection="wlids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="wlzt !=null and wlzt != ''">
                AND sjwlxx.wlzt = #{wlzt}
            </if>
            AND sjwlxx.sjtdid is null
            AND sjwlxx.jsfs = #{jsfs}
            and sjpdgl.jcdw = #{jcdw}
            AND sjwlxx.jdr = #{jdr}
        </where>
    </select>
    <!--根据wlid获取送检物流信息-->
    <select id="getDtoListByIds" resultType="SjwlxxDto" parameterType="String">
        SELECT sjwlxx.wlid,sjwlxx.sjpdid,sjwlxx.sjwlid
        FROM igams_sjwlxx sjwlxx
        WHERE
        sjwlxx.scbj='0'
        AND sjwlxx.wlid in
        <foreach collection="ids" open="(" close=")" index="index" item="item" separator=",">
            #{item}
        </foreach>
    </select>
    <!--根据tdid获取送检物流信息-->
    <select id="getDtoListById" resultType="SjwlxxDto" parameterType="String">
        SELECT sjwlxx.wlid,sjwlxx.sjpdid,sjwlxx.sjwlid,sjwlxx.jdr,sjwlxx.jsfs,
               sjwlxx.gldh,sjwlxx.bc,sjwlxx.dddd,sjwlxx.yjddsj,sjwlxx.sdbz,sjpdgl.lsjl,sjpdgl.hzxm,jc_bblx.csmc bblxmc,jcsj.csmc jcdwmc,sjwlxx.qjsj,sjpdgl.sjid
        FROM igams_sjwlxx sjwlxx
        LEFT JOIN igams_sjpdgl sjpdgl ON sjpdgl.sjpdid = sjwlxx.sjpdid and sjpdgl.scbj='0'
        left join matridx_jcsj jcsj on jcsj.csid = sjpdgl.jcdw
        LEFT JOIN matridx_jcsj jc_bblx ON jc_bblx.csid = sjpdgl.bblx
        WHERE
         sjwlxx.scbj='0'
        AND sjwlxx.sjtdid = #{sjtdid}
    </select>
    <!--团单信息删除时sdsj等设置为null-->
    <update id="updateWlxx" parameterType="SjwlxxDto">
        update igams_sjwlxx
        <set>
            xgry=#{xgry},xgsj = LOCALTIMESTAMP
            ,wlzt=#{wlzt}
            ,sdbz=#{sdbz}
            ,sdsj=#{sdsj}
            ,jsfs=#{jsfs}
        </set>
        <where>
            wlid=#{wlid}
        </where>
    </update>
    <update id="delete" parameterType="SjwlxxDto">
        update igams_sjwlxx
        <set>
            scry=#{scry},scsj = LOCALTIMESTAMP
            ,scbj='1'
        </set>
        <where>
            wlid=#{wlid}
        </where>
    </update>
    <update id="updateJdrAndJdsj" parameterType="String">
        update igams_sjwlxx
        <set>
            jdr=null,jdsj = null
        </set>
        <where>
            wlid=#{wlid}
        </where>
    </update>
    <select id="getQjsj" resultType="SjwlxxDto" parameterType="String">
        SELECT sjwlxx.wlid,sjwlxx.qjsj,sjwlxx.gldh
        FROM igams_sjwlxx sjwlxx
        WHERE sjwlxx.wlid = #{wlid}
    </select>
</mapper>
