<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjxxjgDao" >
	
	<update id="update" parameterType="SjxxjgModel">
		update igams_sjxxjg set
			xgry=#{xgry}, xgsj=LOCALTIMESTAMP
	   	<if test="gzd !=null and gzd !=''">
			,gzd=#{gzd}
		</if>
		<if test="wzfl !=null and wzfl !=''">
			,wzfl=#{wzfl}
		</if>
		<if test="fldj !=null and fldj !=''">
			,fldj=#{fldj}
		</if>
		<if test="dqs !=null and dqs !=''">
			,dqs=#{dqs}
		</if>
		<if test="zdqs !=null and zdqs !=''">
			,zdqs=#{zdqs}
		</if>
		<if test="dwds !=null and dwds !=''">
			,dwds=#{dwds}
		</if>
		<if test="wzfllx !=null and wzfllx !=''">
			,wzfllx=#{wzfllx}
		</if>
		<where>
			xxjgid = #{xxjgid} 
		</where>
	</update>
	
	<!-- 批量新增送检详细审核结果 -->
	<insert  id="insertBySjxxjgDtos" parameterType="list">
		insert into igams_sjxxjg (xxjgid, xh, sjid, jdid, fjdid, wzywm, wzzwm, wzfl, fldj, dqs, zdqs, dwds, dsbfb, jyzfgd, sm, sdds, xpjcl, gzd, xdfd, lrry, lrsj, scbj, jclx, wzfllx,xmdm,wkbh,xpmc)
		values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.xxjgid},cast(#{item.xh} as numeric),#{item.sjid},#{item.jdid},#{item.fjdid},#{item.wzywm},#{item.wzzwm},#{item.wzfl},#{item.fldj},#{item.dqs},
					#{item.zdqs},#{item.dwds},#{item.dsbfb},#{item.jyzfgd},#{item.sm},#{item.sdds},#{item.xpjcl},#{item.gzd},#{item.xdfd},#{item.lrry},LOCALTIMESTAMP, '0', #{item.jclx}, #{item.wzfllx}, #{item.xmdm}, #{item.wkbh}, #{item.xpmc})
			</foreach>
		</if>
	</insert>
	<!--批量删除送检详细审核结果-->
	<delete id="deleteBySjxxjgDto" parameterType="SjxxjgDto">
		delete from igams_sjxxjg
		where sjid = #{sjid} and jclx = #{jclx} and xmdm= #{xmdm}
		<if test="scflag != '' and scflag !=null">
			and wkbh=#{wkbh}
			and xpmc=#{xpmc}
		</if>
	</delete>
	
	<!-- 根据送检ID和物种分类查询fjdid为null的详细信息 -->
	<select id="getxxjgByFjdidIsNull" parameterType="SjxxjgDto" resultType="SjxxjgDto">
		select xxjgid,xh,sjid,jdid,fjdid,wzywm,wzzwm,wzfl,fldj,dqs,zdqs,dwds,dsbfb,jyzfgd,sm,sdds,xpjcl,gzd,wzfllx
		from igams_sjxxjg
		<where>
		scbj!='1' and fjdid ='' and jclx=#{jclx}
		<if test="sjid !=null and sjid!=''">
		and sjid=#{sjid}
		</if>
		<if test="wzfl !=null and wzfl!=''">
		and wzfl=#{wzfl}
		</if>
		</where>
	</select>
	<!-- 根据节点ID查询Species下最后一条详细结果 -->
	<select id="getxxInSpecies" parameterType="List" resultType="SjxxjgDto">
		 (WITH RECURSIVE r (xxjgid,xh,sjid,jdid,fjdid,wzywm,wzzwm,wzfl,fldj,dqs,zdqs,dwds,dsbfb,jyzfgd,sm,sdds,xpjcl,gzd,jclx,wzfllx,depth,np)
		 AS ( select xxjgid,xh,sjid,jdid,fjdid,wzywm,wzzwm,wzfl,fldj,dqs,zdqs,dwds,dsbfb,jyzfgd,sm,sdds,xpjcl,gzd,jclx,wzfllx,1 as depth ,RIGHT('0000'||CAST(row_number() over(order by jdid)  AS varchar(50)),4) np
		   from igams_sjxxjg a 
		   where scbj!='1' 
		   and 
		   <foreach collection="list" open="(" close=")" separator=" or " item="item">
					(fjdid=#{item.jdid} 
		 			<if test="item.sjid != null and item.sjid !=''">
		 				and sjid=#{item.sjid}
		 			</if>
		 			)
	 			</foreach> 
		   union all 
		   select b.xxjgid,b.xh,b.sjid,b.jdid,b.fjdid,b.wzywm,b.wzzwm,b.wzfl,b.fldj,b.dqs,b.zdqs,b.dwds,b.dsbfb,b.jyzfgd,b.sm,b.sdds,b.xpjcl,b.gzd,b.jclx,b.wzfllx,r.depth + 1 as depth ,r.np||RIGHT('0000'||CAST(row_number() over(partition by r.jdid order by b.jdid)  AS varchar(50)),4) np
		   from igams_sjxxjg b 
		   join r on b.fjdid = r.jdid 
		   and b.sjid = r.sjid )
		 SELECT xxjgid,xh,sjid,jdid,case when fjdid is not null then '' end fjdid,wzywm,wzzwm,wzfl,fldj,dqs,zdqs,dwds,dsbfb,jyzfgd,sm,sdds,xpjcl,gzd,jclx,wzfllx,depth,np
		 FROM r order by  np ) 
	</select>
	<!-- 根据节点ID查询Genus下详细结果 -->
	<select id="getxxInGenus" parameterType="List" resultType="SjxxjgDto">
		(WITH RECURSIVE r (xxjgid,xh,sjid,jdid,fjdid,wzywm,wzzwm,wzfl,fldj,dqs,zdqs,dwds,dsbfb,jyzfgd,sm,sdds,xpjcl,gzd,jclx,wfllx,depth) AS 
 			( 
 			select xxjgid,xh,sjid,jdid,fjdid,wzywm,wzzwm,wzfl,fldj,dqs,zdqs,dwds,dsbfb,jyzfgd,sm,sdds,xpjcl,gzd,jclx,wzfllx,1 as depth from igams_sjxxjg a
	 			where scbj!='1' and 
	 			
				<foreach collection="list" open="(" close=")" separator=" or " item="item">
		 			(
		 			jdid=#{item.jdid} 
		 			<if test="item.jclx != null and item.jclx !=''">
		 				and jclx=#{item.jclx}
		 			</if>
		 			<if test="item.sjid != null and item.sjid !=''">
		 				and sjid=#{item.sjid}
		 			</if>
		 			)
				</foreach>
 			union all  
 			select b.xxjgid,b.xh,b.sjid,b.jdid,b.fjdid,b.wzywm,b.wzzwm,b.wzfl,b.fldj,b.dqs,b.zdqs,b.dwds,b.dsbfb,b.jyzfgd,b.sm,b.sdds,b.xpjcl,b.gzd,b.jclx,b.wzfllx,r.depth + 1 as depth 
 			from igams_sjxxjg b join r on b.fjdid = r.jdid and b.sjid = r.sjid
 			)SELECT * FROM r order by depth)
	</select>
	<!-- 根据检测类型计算D,R,C下详细结果总和 -->
	<select id="getJclxCount" parameterType="SjxxjgDto" resultType="SjxxjgDto">
		select count(sjid) num,jclx.cskz1 jclx 
		from igams_sjxxjg xxjg
		left join matridx_jcsj jclx on jclx.csid=xxjg.jclx
		<where>
			xxjg.scbj!='1'
			and xxjg.sjid=#{sjid}
		</where>
		group by jclx.cskz1
	</select>
	
	<!-- 报告模板疑似背景微生物数据 -->
	<select id="selectBackground" parameterType="SjxxjgDto" resultType="SjxxjgDto"> 
		SELECT 
				G_sjxxjg.fldj,
				G_sjxxjg.wzzwm ||
				G_sjxxjg.wzywm AS sm, 
				G_sjxxjg.sdds AS sdds,
				G_sjxxjg.xdfd AS sfd, 
				S_sjxxjg.wzzwm ||
				S_sjxxjg.wzywm AS mc, 
				S_sjxxjg.zdqs AS dqs,
				S_sjxxjg.xdfd
			FROM igams_sjxxjg S_sjxxjg
				LEFT JOIN igams_sjxxjg G_sjxxjg ON G_sjxxjg.jdid = S_sjxxjg.fjdid
			where
		 	S_sjxxjg.sjid=#{sjid} 
			AND G_sjxxjg.sjid=#{sjid}
			AND S_sjxxjg.gzd='默认关注'
			AND S_sjxxjg.fldj='S'
			AND S_sjxxjg.scbj !='1'
			ORDER by  S_sjxxjg.xh, G_sjxxjg.xh
	</select>
	<!-- 查询详细结果信息(小程序) -->
	<select id="getTreeAnalysis" parameterType="SjxxjgDto" resultType="SjxxjgDto">
		WITH RECURSIVE r (xxjgid, xh, sjid, jdid, fjdid, wzywm, wzzwm, wzfl, fldj, dqs, zdqs, dwds, dsbfb, jyzfgd, sm, sdds, xpjcl, gzd, jclx, wfllx, xdfd, depth, t_xssx) AS (
			SELECT xxjgid, xh, sjid, jdid, fjdid
				, wzywm, wzzwm, wzfl, fldj, dqs
				, zdqs, dwds, dsbfb, jyzfgd, sm
				, sdds, xpjcl, gzd, jclx, wzfllx
				, xdfd, 1 AS depth, xxjgid||'' as t_xssx
			FROM igams_sjxxjg
			WHERE scbj != '1' and fjdid = '' and jclx = #{jclx}
				<if test="sjid != null and sjid != ''">
					and sjid = #{sjid}
				</if>
				<if test="wzfl != null and wzfl != ''">
					and wzfl = #{wzfl}
				</if>
			UNION ALL
			SELECT b.xxjgid, b.xh, b.sjid, b.jdid, b.fjdid
				, b.wzywm, b.wzzwm, b.wzfl, b.fldj, b.dqs
				, b.zdqs, b.dwds, b.dsbfb, b.jyzfgd, b.sm
				, b.sdds, b.xpjcl, b.gzd, b.jclx, b.wzfllx
				, b.xdfd, r.depth + 1 AS depth, r.t_xssx||'_'||b.xxjgid t_xssx
			FROM igams_sjxxjg b JOIN r ON b.fjdid = r.jdid AND b.sjid = r.sjid
		)
		SELECT xxjgid, xh, sjid, jdid, fjdid, wzywm, wzzwm, wzfl, fldj, dqs, zdqs, dwds, dsbfb, jyzfgd, sm, sdds, xpjcl, gzd, jclx, wfllx, xdfd, depth, t_xssx
		FROM r
		ORDER BY t_xssx
	</select>
	<!-- 根据送检ID查询详细结果信息 -->
	<select id="selectBySjid" parameterType="String" resultType="SjxxjgDto">
		select xxjgid, xh, sjid, jdid, fjdid, wzywm, wzzwm, wzfl, fldj, dqs, zdqs, dwds, dsbfb, 
			jyzfgd, sm, sdds, xpjcl, gzd, jclx, wzfllx
			FROM igams_sjxxjg
			<where>
				scbj != '1' and sjid = #{sjid}
			</where>
	</select>
	<select id="getDtoList" parameterType="SjxxjgDto" resultType="SjxxjgDto">
		select xxjgid, xh, sjid, jdid, fjdid, wzywm, wzzwm, wzfl, fldj, dqs, zdqs, dwds, dsbfb,
		jyzfgd, sm, sdds, xpjcl, gzd, jclx, wzfllx
		FROM igams_sjxxjg
		<where>
			scbj != '1'
			<if test="sjid !=null and sjid!=''">
				and sjid = #{sjid}
			</if>
			<if test="jclx !=null and jclx!=''">
				and jclx = #{jclx}
			</if>
		</where>
	</select>

	<select id="getListByIds" parameterType="SjxxjgDto" resultType="SjxxjgDto">
		SELECT
		sjxxjg.xxjgid,sjxxjg.xh,sjxxjg.sjid,sjxxjg.jdid,sjxxjg.fjdid,sjxxjg.wzywm,sjxxjg.wzzwm,sjxxjg.wzfl,sjxxjg.fldj,sjxxjg.dqs,sjxxjg.zdqs,
		sjxxjg.dwds,sjxxjg.dsbfb,sjxxjg.jyzfgd,sjxxjg.sm,sjxxjg.sdds,sjxxjg.xpjcl,sjxxjg.gzd,sjxxjg.xdfd,sjxxjg.wzfllx,sjxxjg.jclx,sjxxjg.xmdm,
		yblx.csmc AS yblxmc,sjxx.hzxm,CASE WHEN jcxm.cskz3 = 'IMP_REPORT_TNGS_TEMEPLATE' THEN '1' ELSE NULL END tngs_flg,sjxxjg.dwds AS fdwds,
		sjxx.nbbm,to_char(sjxx.bgrq,'YYYY-MM-DD') bgrq,sjxxjg.xdfd
		FROM igams_sjxx sjxx
		LEFT JOIN igams_sjxxjg sjxxjg ON sjxx.sjid = sjxxjg.sjid AND sjxxjg.scbj != '1'
		LEFT JOIN matridx_jcsj yblx ON yblx.csid = sjxx.yblx AND yblx.scbj = '0'
		LEFT JOIN igams_sjjcxm sjjcxm ON sjjcxm.sjid = sjxx.sjid AND sjjcxm.scbj = '0'
		LEFT JOIN matridx_jcsj jcxm ON jcxm.csid = sjjcxm.jcxmid AND jcxm.scbj = '0'
		<where>
			sjxx.scbj = '0' AND sjxxjg.sjid IN
			<foreach collection="ids" open="(" close=")" separator="," item="item">
				#{item}
			</foreach>
		</where>
		ORDER BY sjxxjg.sjid,sjxxjg.xmdm,sjxxjg.fldj ASC,
		CAST(sjxxjg.zdqs AS NUMERIC) DESC
	</select>
	
	<!-- 获取检测类型信息 -->
	<select id="getJclxInfo" parameterType="SjxxjgDto" resultType="SjxxjgDto">
		select xxjg.jclx, jclx.csmc jclxmc
		from igams_sjxxjg xxjg
		left join matridx_jcsj jclx on jclx.csid=xxjg.jclx
		<where>
			xxjg.scbj != '1'
			and xxjg.sjid = #{sjid}
		</where>
		group by xxjg.jclx, jclx.csmc
	</select>
	<!-- 获取检测类型信息 -->
	<select id="getInfoList" parameterType="SjxxjgDto" resultType="Map">
		select wz.sjwzid,xxjg.xxjgid,xxjg.xh,xxjg.sjid,xxjg.jdid,xxjg.fjdid,xxjg.wzywm,xxjg.wzzwm,xxjg.wzfl,xxjg.fldj,
		xxjg.dqs,xxjg.zdqs,xxjg.dwds,xxjg.dsbfb,xxjg.jyzfgd,xxjg.sm,xxjg.sdds,xxjg.xpjcl,xxjg.gzd,xxjg.lrry,
		xxjg.lrsj,xxjg.xgry,xxjg.xgsj,xxjg.scry,xxjg.scsj,xxjg.scbj,xxjg.xdfd,xxjg.wzfllx,xxjg.jclx,xxjg.wkbh,xxjg.xpmc,
		xxjg.xmdm,wz.jglx,wz.rpm,wz.szwm,wz.sfd,wzgl.wzzs,wzgl.wzlx,sj.ybbh,sj.hzxm
		from igams_sjxxjg xxjg
		left join igams_sjxx sj on sj.sjid=xxjg.sjid
		left join igams_sjwzxx wz on wz.sjid = xxjg.sjid and (xxjg.jdid = wz.wzid or (wz.wzid is null and xxjg.jdid = wz.sid)) and wz.scbj='0'
		left join igams_wzgl wzgl on wzgl.wzid=wz.wzid
		<where>
			xxjg.scbj != '1'
			and xxjg.jclx = #{jclx}
			<if test="wkbh != '' and wkbh != null">
				and xxjg.wkbh = #{wkbh}
			</if>
			<if test="xpmc != '' and xpmc != null">
				and xxjg.xpmc = #{xpmc}
			</if>
		</where>
		ORDER BY xxjg.xh;
	</select>
</mapper>
