<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjysxxDao" >

	<!-- 查询送检医生信息 -->
	<select id="selectSjysxxDtoBySjys" parameterType="SjxxDto" resultType="SjysxxDto">
		select ysxx.ysid, ysxx.sjdw, ysxx.ks, ysxx.sjys, ysxx.ysdh, ysxx.dbm
			from igams_sjysxx ysxx
			<where>
				ysxx.sjys = #{sjys}
			</where>
	</select>
	
	<!-- 根据送检信息新增医生信息 -->
	<insert id="insertBySjxxDto" parameterType="sjxxDto">
		insert into igams_sjysxx(ysid
		<if test="sjdw !=null and sjdw != ''">
			,sjdw
		</if>
		<if test="ks !=null and ks != ''">
			,ks
		</if>
		<if test="sjys !=null and sjys != ''">
			,sjys
		</if>
		<if test="ysdh !=null and ysdh != ''">
			,ysdh
		</if>
		<if test="db !=null and db != ''">
			,dbm
		</if>
		) values(#{ysid}
		<if test="sjdw !=null and sjdw != ''">
			,#{sjdw}
		</if>
		<if test="ks !=null and ks != ''">
			,#{ks}
		</if>
		<if test="sjys !=null and sjys != ''">
			,#{sjys}
		</if>
		<if test="ysdh !=null and ysdh != ''">
			,#{ysdh}
		</if>
		<if test="db !=null and db != ''">
			,#{db}
		</if>
		)
	</insert>
</mapper>
