<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISjyzmxDao" >
	<insert id="insert" parameterType="SjyzmxDto">
		insert into igams_sjyzmx(yzmxid,lrry,lrsj,scbj
		<if test="yzid != null and yzid !=''">
			,yzid
		</if>
		<if test="xh != null and xh !=''">
			,xh
		</if>
		<if test="jcqf != null and jcqf !=''">
			,jcqf
		</if>
		<if test="mbjy != null and mbjy !=''">
			,mbjy
		</if>
		<if test="kw != null and kw !=''">
			,kw
		</if>
		<if test="ct != null and ct !=''">
			,ct
		</if>
		<if test="tm1 != null and tm1 !=''">
			,tm1
		</if>
		<if test="fz1 != null and fz1 !=''">
			,fz1
		</if>
		<if test="tm2 != null and tm2 !=''">
			,tm2
		</if>
		<if test="fz2 != null and fz2 !=''">
			,fz2
		</if>
		<if test="tm3 != null and tm3 !=''">
			,tm3
		</if>
		<if test="fz3 != null and fz3 !=''">
			,fz3
		</if>
		<if test="zt != null and zt !=''">
			,zt
		</if>
		<if test="bh != null and bh !=''">
			,bh
		</if>
		)values(
		#{yzmxid}
		,#{lrry}
		,LOCALTIMESTAMP
		,'0'
		<if test="yzid != null and yzid !=''">
			,#{yzid}
		</if>
		<if test="xh != null and xh !=''">
			,cast(#{xh} as numeric)
		</if>
		<if test="jcqf != null and jcqf !=''">
			,#{jcqf}
		</if>
		<if test="mbjy != null and mbjy !=''">
			,#{mbjy}
		</if>
		<if test="kw != null and kw !=''">
			,#{kw}
		</if>
		<if test="ct != null and ct !=''">
			,#{ct}
		</if>
		<if test="tm1 != null and tm1 !=''">
			,#{tm1}
		</if>
		<if test="fz1 != null and fz1 !=''">
			,#{fz1}
		</if>
		<if test="tm2 != null and tm2 !=''">
			,#{tm2}
		</if>
		<if test="fz2 != null and fz2 !=''">
			,#{fz2}
		</if>
		<if test="tm3 != null and tm3 !=''">
			,#{tm3}
		</if>
		<if test="fz3 != null and fz3 !=''">
			,#{fz3}
		</if>
		<if test="zt != null and zt !=''">
			,#{zt}
		</if>
		<if test="bh != null and bh !=''">
			,#{bh}
		</if>
		)
	</insert>
	<update id="update" parameterType="SjyzmxDto">
		update igams_sjyzmx set xgry=#{xgry},xgsj=LOCALTIMESTAMP
			<if test="jcqf != null and jcqf !=''">
				,jcqf=#{jcqf}
			</if>
			<if test="mbjy != null and mbjy !=''">
				,mbjy=#{mbjy}
			</if>
			<if test="kw != null and kw !=''">
				,kw=#{kw}
			</if>
			<if test="ct != null and ct !=''">
				,ct=#{ct}
			</if>
			<if test="tm1 != null and tm1 !=''">
				,tm1=#{tm1}
			</if>
			<if test="fz1 != null and fz1 !=''">
				,fz1=#{fz1}
			</if>
			<if test="tm2 != null and tm2 !=''">
				,tm2=#{tm2}
			</if>
			<if test="fz2 != null and fz2 !=''">
				,fz2=#{fz2}
			</if>
			<if test="tm3 != null and tm3 !=''">
				,tm3=#{tm3}
			</if>
			<if test="fz3 != null and fz3 !=''">
				,fz3=#{fz3}
			</if>
			<if test="zt != null and zt !=''">
				,zt=#{zt}
			</if>
			<if test="bh != null and bh !=''">
				,bh=#{bh}
			</if>
			<where>
				yzid=#{yzid}
				and kw=#{kw}
			</where>
	</update>
	<delete id="delete" parameterType="SjyzmxDto">
		update igams_sjyzmx set scbj='1'
		<where>
			<if test="yzid != null and yzid !=''">
				or yzid=#{yzid}
			</if>
			<if test="ids !=null and ids.size()>0">
				or yzmxid in
				<foreach collection="ids" open="(" close=")" item="item" index="index" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>
	
	<select id="getDtoList"  parameterType="SjyzmxDto" resultType="SjyzmxDto">
		SELECT yzmx.xh, yzmx.bh, yzmx.jcqf, yzmx.mbjy, yzmx.kw,sjxx.sfsc as sfsc
			, round(CAST(coalesce(yzmx.ct,'0') AS numeric), 2) AS ct, round(CAST(coalesce(yzmx.tm1,'0') AS numeric), 2) AS tm1
			, round(CAST(coalesce(yzmx.fz1,'0')  AS numeric), 2) AS fz1
			, round(CAST(coalesce(yzmx.tm2,'0') AS numeric), 2) AS tm2
			, round(CAST(coalesce(yzmx.fz2,'0') AS numeric), 2) AS fz2
			, round(CAST(coalesce(yzmx.tm3,'0') AS numeric), 2) AS tm3
			, round(CAST(coalesce(yzmx.fz3,'0') AS numeric), 2) AS fz3, yzmx.lrry
			, yzmx.lrsj
		FROM igams_sjyzmx yzmx
			left join igams_sjyz sjyz on sjyz.yzid = yzmx.yzid
			left join igams_sjxx sjxx on sjxx.sjid = sjyz.sjid

		<where>
			yzmx.scbj!='1'
			<if test="yzid != null and yzid !=''">
				and yzmx.yzid=#{yzid}
			</if>
				order by yzmx.xh
		</where>
	</select>
	
	<select id="getCount" parameterType="SjyzmxDto" resultType="java.lang.Integer">
		select count(sjyzmx.yzmxid) from igams_sjyzmx sjyzmx
		<where>
			sjyzmx.scbj ='0'
			<if test="yzid != null and yzid !=''">
				and sjyzmx.yzid=#{yzid}
			</if>
			<if test="kw != null and kw !=''">
				and sjyzmx.kw=#{kw}
			</if>
			
		</where>
	</select>
	
	<select id="getMaxXh" parameterType="String" resultType="java.lang.Integer">
		select  coalesce(max(xh), 0) from igams_sjyzmx
		<where>
			scbj ='0' and yzid=#{yzid}
		</where>
	</select>
	<select id="getSjyzmxFristBynbbh" parameterType="Map" resultType="SjyzmxDto">
	  SELECT
		mx.yzmxid
		FROM
		igams_sjyzmx mx 
		LEFT JOIN igams_sjyz sjyz on mx.yzid=sjyz.yzid
		LEFT JOIN igams_sjxx sjxx ON sjxx.sjid = sjyz.sjid 
		where sjxx.nbbm=#{nbbm} and sjyz.zt='80' 
		<if test="xh != null and xh !=''">
		and mx.xh=${xh}
		</if>
		
		limit 1  offset  0
	</select>
	<update id="updateBynbbm" parameterType="SjyzmxDto">
		update igams_sjyzmx set xgry=#{xgry},xgsj=LOCALTIMESTAMP
			<if test="jcqf != null and jcqf !=''">
				,jcqf=#{jcqf}
			</if>
			<if test="mbjy != null and mbjy !=''">
				,mbjy=#{mbjy}
			</if>
			<if test="kw != null and kw !=''">
				,kw=#{kw}
			</if>
			<if test="ct != null and ct !=''">
				,ct=#{ct}
			</if>
			<if test="tm1 != null and tm1 !=''">
				,tm1=#{tm1}
			</if>
			<if test="fz1 != null and fz1 !=''">
				,fz1=#{fz1}
			</if>
			<if test="tm2 != null and tm2 !=''">
				,tm2=#{tm2}
			</if>
			<if test="fz2 != null and fz2 !=''">
				,fz2=#{fz2}
			</if>
			<if test="tm3 != null and tm3 !=''">
				,tm3=#{tm3}
			</if>
			<if test="fz3 != null and fz3 !=''">
				,fz3=#{fz3}
			</if>
			<if test="zt != null and zt !=''">
				,zt=#{zt}
			</if>
			<if test="bh != null and bh !=''">
				,bh=#{bh}
			</if>
			<where>
				yzmxid=#{yzmxid}
				
			</where>
	</update>
</mapper>
