<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISwhtglDao">
    <sql id="OUT_SEARCH_JOINS">
		left join igams_swkhgl qddx on qddx.khid = swhtgl.qddx
		left join matridx_jcsj htfl on htfl.csid = swhtgl.htfl
        left join matridx_jcsj htfx on htfx.csid = swhtgl.htfx
        left join matridx_jcsj yzlx on yzlx.csid = swhtgl.yzlx
        left join matridx_jcsj xslb on xslb.csid = swhtgl.xslb
        left join matridx_jcsj htzfl on htzfl.csid = swhtgl.htzfl
        left join matridx_jcsj qdzt on qdzt.csid = swhtgl.qdzt
	</sql>

    <sql id="SEARCH_WHERE">
        <where>
            swhtgl.scbj = '0'
            <if test="entire != null and entire != ''">
                and (swhtgl.htbh ILIKE '%'||#{entire}||'%'
                or swhtgl.htmc ILIKE '%'||#{entire}||'%'
                or swhtgl.zdkh ILIKE '%'||#{entire}||'%'
                or swhtgl.htyjxx ILIKE '%'||#{entire}||'%'
                or qddx.gsmc ILIKE '%'||#{entire}||'%'
                or htfl.csmc ILIKE '%'||#{entire}||'%'
                or htfx.csmc ILIKE '%'||#{entire}||'%'
                or yzlx.csmc ILIKE '%'||#{entire}||'%'
                or xslb.csmc ILIKE '%'||#{entire}||'%'
                or swhtgl.fzr ILIKE '%'||#{entire}||'%'
		        or swhtgl.yhzc ILIKE '%'||#{entire}||'%'
                or swhtgl.lxr ILIKE '%'||#{entire}||'%'
                or swhtgl.lxdh ILIKE '%'||#{entire}||'%'
                or swhtgl.sqqy ILIKE '%'||#{entire}||'%'
                )
            </if>
            <if test="zdkh != null and zdkh != ''">
                and swhtgl.zdkh ILIKE '%'||#{zdkh}||'%'
            </if>
            <if test="yhzc != null and yhzc != ''">
                and swhtgl.yhzc ILIKE '%'||#{yhzc}||'%'
            </if>
            <if test="fzr != null and fzr != ''">
                and swhtgl.fzr ILIKE '%'||#{fzr}||'%'
            </if>
            <if test="lxr != null and lxr != ''">
                and swhtgl.lxr ILIKE '%'||#{lxr}||'%'
            </if>
            <if test="lxdh != null and lxdh != ''">
                and swhtgl.lxdh ILIKE '%'||#{lxdh}||'%'
            </if>
            <if test="sqqy != null and sqqy != ''">
                and swhtgl.sqqy ILIKE '%'||#{sqqy}||'%'
            </if>
            <if test="htbh != null and htbh != ''">
                and swhtgl.htbh ILIKE '%'||#{htbh}||'%'
            </if>
            <if test="htmc != null and htmc != ''">
                and swhtgl.htmc ILIKE '%'||#{htmc}||'%'
            </if>
            <if test="htyjxx != null and htyjxx != ''">
                and swhtgl.htyjxx ILIKE '%'||#{htyjxx}||'%'
            </if>
            <if test="khmc != null and khmc != ''">
                and qddx.gsmc ILIKE '%'||#{khmc}||'%'
            </if>
            <if test="htflmc != null and htflmc != ''">
                and htfl.csmc ILIKE '%'||#{htflmc}||'%'
            </if>
            <if test="htfxmc != null and htfxmc != ''">
                and htfx.csmc ILIKE '%'||#{htfxmc}||'%'
            </if>
            <if test="xslbmc != null and xslbmc != ''">
                and xslb.csmc ILIKE '%'||#{xslbmc}||'%'
            </if>
            <if test="yzlxmc != null and yzlxmc != ''">
                and yzlx.csmc ILIKE '%'||#{yzlxmc}||'%'
            </if>
            <if test="sfcl != null and sfcl != ''">
                and swhtgl.sfcl = #{sfcl}
            </if>
            <if test="htksrqstart != null and htksrqstart != ''">
                and to_char(swhtgl.htksrq,'yyyy-mm-dd') &gt;= #{htksrqstart}
            </if>
            <if test="htksrqend != null and htksrqend != ''">
                and to_char(swhtgl.htksrq,'yyyy-mm-dd') &lt;= #{htksrqend}
            </if>
            <if test="htjsrqstart != null and htjsrqstart != ''">
                and to_char(swhtgl.htjsrq,'yyyy-mm-dd') &gt;= #{htjsrqstart}
            </if>
            <if test="htjsrqend != null and htjsrqend != ''">
                and to_char(swhtgl.htjsrq,'yyyy-mm-dd') &lt;= #{htjsrqend}
            </if>
            <if test="qdztids !=null and qdztids.size > 0">
                and swhtgl.qdzt in
                <foreach collection="qdztids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="htflids !=null and htflids.size > 0">
                and swhtgl.htfl in
                <foreach collection="htflids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="htzflids !=null and htzflids.size > 0">
                and swhtgl.htzfl in
                <foreach collection="htzflids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="htzts !=null and htzts.size > 0">
                and swhtgl.htzt in
                <foreach collection="htzts" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <!--查询指定行数据-->
    <select id="getPagedDtoList" resultType="SwhtglDto" parameterType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh, swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,swhtgl.htid _key,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,swhtgl.qdzt,qdzt.csmc qdztmc,
        swhtgl.sflx,case when swhtgl.sflx = '1' then '是' else '否' end sflxmc,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,swhtgl.fzr,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc,swhtgl.sfcl
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
        <include refid="SEARCH_WHERE"></include>
    </select>
    <!--查询指定行数据-->
    <select id="getDtoList" resultType="SwhtglDto" parameterType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh, swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,swhtgl.htid _key,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,swhtgl.qdzt,qdzt.csmc qdztmc,
        swhtgl.sflx,case when swhtgl.sflx = '1' then '是' else '否' end sflxmc,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,swhtgl.fzr,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
       WHERE swhtgl.scbj ='0'
        <if test="htzts !=null and htzts.size()>0">
            and swhtgl.htzt in
            <foreach collection="htzts" open="(" close=")" index="index" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="qddx != null and qddx != ''">
            and swhtgl.qddx = #{qddx}
        </if>
        <if test="ids !=null and ids.size > 0">
            and swhtgl.htid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>



    <select id="getKhhtglInfo" resultType="SwhtglDto" parameterType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh, swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,khhtgl.khid,swkhgl.gsmc,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc
        from igams_khhtgl khhtgl
        left join igams_swhtgl swhtgl on khhtgl.htid = swhtgl.htid
        left join igams_swkhgl swkhgl on swkhgl.khid = khhtgl.khid
        <include refid="OUT_SEARCH_JOINS"></include>
        WHERE swhtgl.scbj ='0'
        <if test="qddx != null and qddx != ''">
            and khhtgl.khid = #{qddx}
        </if>
        <if test="htid != null and htid != ''">
            and khhtgl.htid = #{htid}
        </if>
    </select>

    <!--查询指定行数据-->
    <select id="getRepeatDtoList" resultType="SwhtglDto" parameterType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh,  swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
        WHERE swhtgl.scbj ='0'
        <if test="czbs != null and czbs != '' and czbs == '1'.toString()">
            and swhtgl.htbh = #{htbh}
        </if>
        <if test="czbs != null and czbs != '' and czbs == '2'.toString()">
            and swhtgl.htbh = #{htbh} and swhtgl.htid != #{htid}
        </if>
    </select>

    <!--查询单个-->
    <select id="getDtoById" resultType="SwhtglDto" parameterType="String">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh,  swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj, swhtgl.ddslid,swhtgl.qdzt,qdzt.csmc qdztmc,swhtgl.spr,qddx.hkzq,
        swhtgl.sflx,case when swhtgl.sflx = '1' then '是' else '否' end sflxmc,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,htfl.csdm htfldm,swhtgl.fzr,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
        where swhtgl.htid = #{htid} and swhtgl.scbj = '0'
    </select>

    <!--查询单个-->
    <select id="getDto" resultType="SwhtglDto" parameterType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh, swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt,swhtgl.spr,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,swhtgl.qdzt,qdzt.csmc qdztmc,qddx.hkzq, swhtgl.zdkh,
        swhtgl.sflx,case when swhtgl.sflx = '1' then '是' else '否' end sflxmc,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,htfl.csdm htfldm,swhtgl.fzr,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
        where  swhtgl.scbj = '0'
        <if test="htid !=null and htid != ''">
            and swhtgl.htid = #{htid}
        </if>
        <if test="htbh !=null and htbh != ''">
            and swhtgl.htbh = #{htbh}
        </if>
    </select>


    <!-- 选中导出  -->
    <select id="getListForSelectExp" parameterType="SwhtglDto" resultType="Map">
        SELECT  swhtgl.htid ${sqlParam}
        FROM (
        <foreach collection="ids" separator=" union all "  index="index" item="item">
            select #{item, jdbcType=VARCHAR} htid, #{index} ordernum
        </foreach>
        ) tmp
        LEFT OUTER JOIN igams_swhtgl swhtgl ON tmp.htid = swhtgl.htid
        <if test="bs !=null and bs != '' and bs == '1'.toString()">
            left outer join  (select t_tab.htid,
            <foreach collection="jcsjDtos" separator=","  item="item" index="index">
                sum(t_tab.${item.csmc}) as xm${item.csdm}
            </foreach>
            from
            (select tab.htid,
            <foreach collection="jcsjDtos" separator=","  item="item" index="index">
                case when tab.jcxmid=#{item.csid} then tab.jg else 0 end ${item.csmc}
            </foreach>
            from (
            select jg,htid,jcxmid
            from igams_swhtmx where scbj='0'
            )tab )t_tab group by t_tab.htid) tab on tab.htid=tmp.htid
        </if>
        <include refid="OUT_SEARCH_JOINS"></include>
        ORDER BY tmp.ordernum
    </select>
    <!-- 获取搜索导出的条数 -->
    <select id="getCountForSearchExp"  parameterType="Map" resultType="java.lang.Integer">
        select  count (swhtgl.htid)
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
        <include refid="SEARCH_WHERE"></include>
    </select>

    <!-- 搜索导出 -->
    <select id="getListForSearchExp" parameterType="SwhtglDto" resultType="Map">
        SELECT  swhtgl.htid  ${sqlParam}
        FROM igams_swhtgl swhtgl
        <if test="bs !=null and bs != '' and bs == '1'.toString()">
            left outer join  (select t_tab.htid,
            <foreach collection="jcsjDtos" separator=","  item="item" index="index">
                sum(t_tab.${item.csmc}) as xm${item.csdm}
            </foreach>
            from
            (select tab.htid,
            <foreach collection="jcsjDtos" separator=","  item="item" index="index">
                case when tab.jcxmid=#{item.csid} then tab.jg else 0 end ${item.csmc}
            </foreach>
            from (
            select jg,htid,jcxmid
            from igams_swhtmx where scbj='0'
            )tab )t_tab group by t_tab.htid) tab on tab.htid=swhtgl.htid
        </if>
        <include refid="OUT_SEARCH_JOINS"></include>
        <include refid="SEARCH_WHERE"></include>
        ORDER BY
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>


    <select id="getDtoByDdslid" parameterType="SwhtglDto" resultType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh, swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je,swhtgl.htzfl,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,swhtgl.qdzt,qdzt.csmc qdztmc,
        swhtgl.sflx,case when swhtgl.sflx = '1' then '是' else '否' end sflxmc,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc, htzfl.csmc htzflmc,swhtgl.fzr,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
        <where>
            swhtgl.scbj='0' and swhtgl.ddslid=#{ddslid}
        </where>
    </select>

    <!-- 获取审批人角色 -->
    <select id="getSprjsBySprid" parameterType="String" resultType="SwhtglDto">
        select yhjs.jsid as sprjsid,xtjs.jsmc as sprjsmc
        from matridx_yhjs yhjs
        left join matridx_xtjs xtjs on xtjs.jsid=yhjs.jsid
        <where>
            yhjs.yhid=#{sprid}
        </where>
    </select>


    <select id="getContractNumber" parameterType="String" resultType="String">
        SELECT  lpad(cast((CAST(coalesce(MAX(substring(htbh,LENGTH(htbh)-1,LENGTH(htbh))),'0') AS numeric) + 1) as VARCHAR), 2, '0') serial
        FROM igams_swhtgl
        <where>
            scbj = '0' AND htbh like #{value}||'%'
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="SwhtglDto">
        insert into igams_swhtgl(htid, spr, htfl, htzfl, htbh, htmc, htfx, qddx, yzlx, xslb, htfs ,qdzt,lxr ,lxdh ,sqqy ,zdkh
        <if test="je != null and je != ''">
            , je
        </if>
        <if test="htksrq != null and htksrq != ''">
            , htksrq
        </if>
        <if test="htjsrq != null and htjsrq != ''">
            , htjsrq
        </if>
        ,sflx, htyjxx, gzzt, htzt, zt, bz, yhzc, fzr, lrry, lrsj, scbj,sfcl)


        values (#{htid},#{spr}, #{htfl}, #{htzfl}, #{htbh}, #{htmc}, #{htfx}, #{qddx}, #{yzlx}, #{xslb}, #{htfs}, #{qdzt}, #{lxr}, #{lxdh}, #{sqqy}, #{zdkh}
        <if test="je != null and je != ''">
            , cast(#{je} as numeric)
        </if>
        <if test="htksrq != null and htksrq != ''">
            , cast(#{htksrq} as timestamp )
        </if>
        <if test="htjsrq != null and htjsrq != ''">
            , cast(#{htjsrq} as timestamp )
        </if>

        ,#{sflx}, #{htyjxx}, #{gzzt}, #{htzt}, #{zt}, #{bz},#{yhzc}, #{fzr}, #{lrry}, LOCALTIMESTAMP, '0', '0')
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update igams_swhtgl
        <set>
            <if test="htfl != null and htfl != ''">
                htfl = #{htfl},
            </if>
            <if test="lxr != null and lxr != ''">
                lxr = #{lxr},
            </if>
            <if test="lxdh != null and lxdh != ''">
                lxdh = #{lxdh},
            </if>
            <if test="sqqy != null and sqqy != ''">
                sqqy = #{sqqy},
            </if>
            <if test="htzfl != null and htzfl != ''">
                htzfl = #{htzfl},
            </if>
            <if test="htbh != null and htbh != ''">
                htbh = #{htbh},
            </if>
            <if test="htmc != null and htmc != ''">
                htmc = #{htmc},
            </if>
            <if test="htfx != null and htfx != ''">
                htfx = #{htfx},
            </if>
            <if test="qddx != null and qddx != ''">
                qddx = #{qddx},
            </if>
            <if test="yzlx != null and yzlx != ''">
                yzlx = #{yzlx},
            </if>
            <if test="xslb != null and xslb != ''">
                xslb = #{xslb},
            </if>
            <if test="htfs != null and htfs != ''">
                htfs = #{htfs},
            </if>
            <if test="je != null and je != ''">
                je = cast(#{je} as numeric),
            </if>
            <if test="htksrq != null and htksrq != ''">
                htksrq = cast(#{htksrq} as timestamp ),
            </if>
            <if test="htjsrq != null and htjsrq != ''">
                htjsrq = cast(#{htjsrq} as timestamp ),
            </if>
            <if test="htyjxx != null and htyjxx != ''">
                htyjxx = #{htyjxx},
            </if>
            <if test="gzzt != null and gzzt != ''">
                gzzt = #{gzzt},
            </if>
            <if test="htzt != null and htzt != ''">
                htzt = #{htzt},
            </if>
            <if test="zt != null and zt != ''">
                zt = #{zt},
            </if>
            <if test="bz != null and bz != ''">
                bz = #{bz},
            </if>
            <if test="yhzc != null and yhzc != ''">
                yhzc = #{yhzc},
            </if>
            <if test="ddslid != null and ddslid != ''">
                ddslid = #{ddslid},
            </if>
            <if test="sflx != null and sflx != ''">
                sflx = #{sflx},
            </if>
            <if test="spr != null and spr != ''">
                spr = #{spr},
            </if>
            <if test="zzyy != null and zzyy != ''">
                zzyy = #{zzyy},zzrq = LOCALTIMESTAMP,
            </if>
            <if test="qdzt != null and qdzt != ''">
                qdzt = #{qdzt},
            </if>
            <if test="fzr != null and fzr != ''">
                fzr = #{fzr},
            </if>
            <if test="zdkh != null and zdkh != ''">
                zdkh = #{zdkh},
            </if>
            <if test="zdkh != null and zdkh == ''">
                zdkh = null,
            </if>
            <if test="htfl != null and htfl == ''">
                htfl = null,
            </if>
            <if test="htzfl != null and htzfl == ''">
                htzfl = null,
            </if>
            <if test="htbh != null and htbh == ''">
                htbh = null,
            </if>
            <if test="lxr != null and lxr == ''">
                lxr = null,
            </if>
            <if test="lxdh != null and lxdh == ''">
                lxdh = null,
            </if>
            <if test="sqqy != null and sqqy == ''">
                sqqy = null,
            </if>
           
            <if test="htmc != null and htmc == ''">
                htmc = null,
            </if>
            <if test="htfx != null and htfx == ''">
                htfx = null,
            </if>
            <if test="qddx != null and qddx == ''">
                qddx = null,
            </if>
            <if test="yzlx != null and yzlx == ''">
                yzlx = null,
            </if>
            <if test="xslb != null and xslb == ''">
                xslb = null,
            </if>
            <if test="htfs != null and htfs == ''">
                htfs = null,
            </if>
            <if test="je != null and je == ''">
                je = null,
            </if>
            <if test="htksrq != null and htksrq == ''">
                htksrq = null,
            </if>
            <if test="htjsrq != null and htjsrq == ''">
                htjsrq = null,
            </if>
            <if test="htyjxx != null and htyjxx == ''">
                htyjxx = null,
            </if>
            <if test="gzzt != null and gzzt == ''">
                gzzt = null,
            </if>
            <if test="htzt != null and htzt == ''">
                htzt =null,
            </if>
            <if test="zt != null and zt == ''">
                zt = null,
            </if>
            <if test="bz != null and bz == ''">
                bz = null,
            </if>
            <if test="yhzc != null and yhzc == ''">
                yhzc = null,
            </if>
            <if test="ddslid != null and ddslid == ''">
                ddslid = null,
            </if>
            <if test="spr != null and spr == ''">
                spr = null,
            </if>
            <if test="zzyy != null and zzyy == ''">
                zzyy = null,zzrq = null,
            </if>
            <if test="qdzt != null and qdzt == ''">
                qdzt = null,
            </if>
            xgry = #{xgry}, xgsj = LOCALTIMESTAMP
        </set>
        where
        <if test="htid !=null and htid != ''">
            htid = #{htid}
        </if>
        <if test="ids !=null and ids.size > 0">
            htid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </update>

    <!--通过主键删除-->
    <delete id="delete" parameterType="SwhtglDto">
        update  igams_swhtgl set scry=#{scry},scsj = LOCALTIMESTAMP, scbj= '1'  where
        <if test="htid !=null and htid != ''">
            htid = #{htid}
        </if>
        <if test="ids !=null and ids.size > 0">
            htid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </delete>
    <!-- 批量修改退货明细信息 -->
    <update id="updateSwhtglDtos" parameterType="list">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                update igams_swhtgl set
                xgry=#{item.xgry},xgsj=LOCALTIMESTAMP
                <if test="item.htzt !=null and  item.htzt !=''">
                    ,htzt=#{item.htzt}
                </if>
                <if test="item.sflx !=null and  item.sflx !=''">
                    ,sflx=#{item.sflx}
                </if>
                <if test="item.sfcl !=null and  item.sfcl !=''">
                    ,sfcl=#{item.sfcl}
                </if>
                <where>
                    htid=#{item.htid}
                </where>
            </foreach>
        </if>
    </update>

    <select id="getPagedAuditList" parameterType="SwhtglDto" resultType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh,swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,swhtgl.qdzt,qdzt.csmc qdztmc,
        swhtgl.sflx,case when swhtgl.sflx = '1' then '是' else '否' end sflxmc,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,swhtgl.fzr,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc
        from igams_swhtgl swhtgl
        <include refid="OUT_SEARCH_JOINS"></include>
        <include refid="SEARCH_WHERE"></include>
    </select>

    <select id="getAuditListRecheck" parameterType="List" resultType="SwhtglDto">
        select
        swhtgl.htid, swhtgl.htfl, swhtgl.htbh, swhtgl.htmc, swhtgl.htfx, swhtgl.qddx, swhtgl.yzlx, swhtgl.xslb, swhtgl.htfs, swhtgl.je, swhtgl.htzfl,
        to_char(swhtgl.htksrq,'yyyy-MM-dd') htksrq,to_char(swhtgl.htjsrq,'yyyy-MM-dd') htjsrq, swhtgl.htyjxx, swhtgl.gzzt, swhtgl.htzt, swhtgl.zt, swhtgl.zdkh,
        swhtgl.bz, swhtgl.lrry, swhtgl.lrsj, swhtgl.xgry, swhtgl.xgsj, swhtgl.scry, swhtgl.scsj, swhtgl.scbj,swhtgl.qdzt,qdzt.csmc qdztmc,
        swhtgl.sflx,case when swhtgl.sflx = '1' then '是' else '否' end sflxmc,
        htfl.csmc htflmc,htfx.csmc htfxmc,xslb.csmc xslbmc,yzlx.csmc yzlxmc,qddx.gsmc khmc,htzfl.csmc htzflmc,swhtgl.fzr,htzfl.cskz1 as htzflcskz1,swhtgl.lxr,swhtgl.lxdh,swhtgl.sqqy,swhtgl.yhzc,
        shxx_sqsj, shxx_gwmc, sqr, shxx_lrryxm, shxx_shsj, shxx_sftg, shxx_shxxid,shxx_shyj
        from
        <foreach collection="list" separator="union" open="(" close=")" item="item" index="index">
            select #{item.htid} htid, #{item.shxx_shxxid} shxx_shxxid, #{item.shxx_sqsj} shxx_sqsj, #{item.sqr} sqr,
            #{item.shxx_lrryxm} shxx_lrryxm, #{item.shxx_shsj} shxx_shsj, #{item.shxx_sftg} shxx_sftg,
            #{item.shxx_gwmc} shxx_gwmc,#{item.shxx_shyj} shxx_shyj, #{index} rownum
        </foreach> tmp
        left join igams_swhtgl swhtgl on swhtgl.htid = tmp.htid
        <include refid="OUT_SEARCH_JOINS"></include>
        order by tmp.rownum
    </select>


    <delete id="updateSfcl" parameterType="SwhtglDto">
        update  igams_swhtgl set xgry=#{xgry},scsj = LOCALTIMESTAMP, sfcl= '1'  where
        htid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <delete id="updateZt" parameterType="SwhtglDto">
        update  igams_swhtgl set xgry=#{xgry},xgsj = LOCALTIMESTAMP, zt= #{zt}  where
        htid =#{htid}
    </delete>

    <update id="updateSfbz" parameterType="SwhtglDto">
        update igams_hbsfbz set sfbz=tmp.sfbz,ksrq=tmp.ksrq,jsrq=tmp.jsrq,htmxid=tmp.htmxid from (
        select hbid,xm,zxm,sfbz,ksrq,jsrq,htmxid from (
        select hbhzkh.hbid,swhtmx.jczxmid zxm,swhtmx.jcxmid xm,swhtmx.jg sfbz,swhtgl.htksrq ksrq,swhtgl.htjsrq jsrq,ROW_NUMBER() over (partition by hbhzkh.hbid,swhtmx.jcxmid,swhtmx.jczxmid order by swhtmx.lrsj desc) path,swhtmx.htmxid
        from igams_swhtmx swhtmx
        left join igams_swhtgl swhtgl on swhtgl.htid = swhtmx.htid and swhtgl.scbj = '0'
        left join igams_khhtgl khhtgl on khhtgl.htid =swhtgl.htid
        left join igams_hbhzkh hbhzkh on hbhzkh.khid = khhtgl.khid
        left join igams_hbsfbz hbsfbz on hbhzkh.hbid = hbsfbz.hbid and (swhtmx.jcxmid=hbsfbz.xm and (swhtmx.jczxmid=hbsfbz.zxm or ((swhtmx.jczxmid is null or swhtmx.jczxmid = '' )and (hbsfbz.zxm is null or hbsfbz.zxm = ''))))
        where swhtmx.htid=#{htid})tb
        ) as tmp(hbid,xm,zxm,sfbz,ksrq,jsrq,htmxid)
        where igams_hbsfbz.hbid=tmp.hbid
        and igams_hbsfbz.xm=tmp.xm
        and (igams_hbsfbz.zxm=tmp.zxm or ((igams_hbsfbz.zxm is null or igams_hbsfbz.zxm='') and (tmp.zxm is null or tmp.zxm='')))
    </update>

    <!-- 合同审核通过时获取更新应付金额的list -->
    <select id="getUpListBbHt" parameterType="SwhtglDto" resultType="SjjcxmDto">
        select * from(
        select jcxm.jcxmid,jcxm.xmglid,sj.sjid,jcxm.sfsf,sfbz.sfbz yfje ,jcxm.yfje yyfje,jc_jcxm.cskz1,jc_sfbzxm.cskz1
        ,case when jcxm.sfsf='2'  and jc_sfbzxm.cskz1='R' then '1'
        when jcxm.sfsf='3'  and jc_sfbzxm.cskz1='D' then  '1'
        when jcxm.sfsf='1' and jc_jcxm.cskz1=jc_sfbzxm.cskz1 then '1'
        else '0' end  bj
        from igams_sjjcxm jcxm
        left join matridx_jcsj jc_jcxm on jc_jcxm.csid=jcxm.jcxmid
        left join igams_sjxx sj on sj.sjid=jcxm.sjid
        left join igams_sjhbxx hb on hb.hbmc=sj.db
        left join igams_hbsfbz sfbz on hb.hbid = sfbz.hbid
        left join matridx_jcsj jc_sfbzxm on  jc_sfbzxm.csid=sfbz.xm
        left join igams_hbhzkh hzkh on hzkh.hbid=hb.hbid
        left join igams_swhtgl swht on swht.qddx=hzkh.khid
        where jcxm.scbj='0' and sj.scbj='0' and swht.htid=#{htid} and jcxm.sfsf!='0' and
        to_char(sj.jsrq,'yyyy-mm-dd') &gt;=#{htksrq} and to_char(sj.jsrq,'yyyy-mm-dd') &lt;= #{htjsrq} and jc_sfbzxm.cskz3 =jc_jcxm.cskz3
        )tmp where tmp.bj='1'
    </select>
    
    <select id="getSjUpListByHt" parameterType="SwhtglDto" resultType="SjxxDto">
        select tmp.sjid,sum(tmp.yfje) fkje  from(
        select jcxm.xmglid,sj.sjid,jcxm.sfsf,sfbz.sfbz yfje,jc_jcxm.cskz1,jc_sfbzxm.cskz1
        ,case when jcxm.sfsf='2'  and jc_sfbzxm.cskz1='R' then '1'
        when jcxm.sfsf='3'  and jc_sfbzxm.cskz1='D' then  '1'
        when jcxm.sfsf='1' and jc_jcxm.cskz1=jc_sfbzxm.cskz1 then '1'
        else '0' end  bj
        from igams_sjjcxm jcxm
        left join matridx_jcsj jc_jcxm on jc_jcxm.csid=jcxm.jcxmid
        left join igams_sjxx sj on sj.sjid=jcxm.sjid
        left join igams_sjhbxx hb on hb.hbmc=sj.db
        left join igams_hbsfbz sfbz on hb.hbid = sfbz.hbid
        left join matridx_jcsj jc_sfbzxm on  jc_sfbzxm.csid=sfbz.xm
        left join igams_hbhzkh hzkh on hzkh.hbid=hb.hbid
        left join igams_swhtgl swht on swht.qddx=hzkh.khid
        where jcxm.scbj='0' and  sj.scbj='0' and swht.htid=#{htid} and jcxm.sfsf!='0' and
        to_char(sj.jsrq,'yyyy-mm-dd')&gt;=#{htksrq} and to_char(sj.jsrq,'yyyy-mm-dd')&lt;=#{htjsrq} and jc_sfbzxm.cskz3 =jc_jcxm.cskz3
        )tmp where tmp.bj='1' group by tmp.sjid
    </select>
</mapper>

