<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.ISwkhglDao" >
    <!--查询单个-->
    <select id="getDtoById" resultType="SwkhglDto" parameterType="String">
        select
          swkhgl.khid, swkhgl.lx, swkhgl.gsmc, swkhgl.nsrsbh, swkhgl.khh, swkhgl.yhzh, swkhgl.gsdz, swkhgl.dh, swkhgl.hkzq, swkhgl.dzzq, swkhgl.jsfpyx,to_char(swkhgl.ksrq,'yyyy-MM-dd') ksrq,swkhgl.lxr,
          to_char(swkhgl.jsrq,'yyyy-MM-dd') jsrq, swkhgl.bz, swkhgl.lrry, swkhgl.lrsj, swkhgl.xgry, swkhgl.xgsj, swkhgl.scry, swkhgl.scsj, swkhgl.scbj,swkhgl.ywfl,
          lx.csmc lxmc,dzzq.csmc dzzqmc,ywfl.csmc ywflmc,swkhgl.yjdz,fpxz.csmc as fpxzmc,swkhgl.fpxz,swkhgl.fzr,swkhgl.fzryx,fzr.zsxm as fzrmc,swkhgl.ztqf
        from igams_swkhgl swkhgl
        <include refid="OUT_SEARCH_JOINS"></include>
        where swkhgl.khid = #{khid} and swkhgl.scbj = '0'
    </select>


    <select id="getDto" resultType="SwkhglDto" parameterType="SwkhglDto">
        select
        swkhgl.khid, swkhgl.lx, swkhgl.gsmc, swkhgl.nsrsbh, swkhgl.khh, swkhgl.yhzh, swkhgl.gsdz, swkhgl.dh, swkhgl.hkzq, swkhgl.dzzq, swkhgl.jsfpyx,to_char(swkhgl.ksrq,'yyyy-MM-dd') ksrq,
        to_char(swkhgl.jsrq,'yyyy-MM-dd') jsrq, swkhgl.bz, swkhgl.lrry, swkhgl.lrsj, swkhgl.xgry, swkhgl.xgsj, swkhgl.scry, swkhgl.scsj, swkhgl.scbj,swkhgl.dzzd,
        lx.csmc lxmc,dzzq.csmc dzzqmc,swkhgl.yjdz,fpxz.csmc as fpxzmc,swkhgl.fpxz,swkhgl.ztqf
        from igams_swkhgl swkhgl
        <include refid="OUT_SEARCH_JOINS"></include>
        where swkhgl.scbj = '0'
        <if test="gsmc != null and gsmc != '' ">
            and swkhgl.gsmc = #{gsmc}
        </if>
        <if test="khid != null and khid != '' ">
            and swkhgl.khid = #{khid}
        </if>
    </select>

    <!--查询指定行数据-->
    <select id="getPagedDtoList" resultType="SwkhglDto" parameterType="SwkhglDto">
        select
        swkhgl.khid, swkhgl.lx, swkhgl.gsmc, swkhgl.nsrsbh, swkhgl.khh, swkhgl.yhzh, swkhgl.gsdz, swkhgl.dh, swkhgl.hkzq, swkhgl.dzzq, swkhgl.jsfpyx,swkhgl.khid _key,swkhgl.lxr,
        to_char(swkhgl.ksrq,'yyyy-MM-dd') ksrq,to_char(swkhgl.jsrq,'yyyy-MM-dd') jsrq, swkhgl.bz, swkhgl.lrry, swkhgl.lrsj, swkhgl.xgry, swkhgl.xgsj, swkhgl.scry, swkhgl.scsj, swkhgl.scbj,swkhgl.ywfl,
        lx.csmc lxmc,dzzq.csmc dzzqmc,ywfl.csmc ywflmc,swkhgl.yjdz,fpxz.csmc as fpxzmc,swkhgl.fpxz,swkhgl.fzr,swkhgl.fzryx,fzr.zsxm as fzrmc,swkhgl.ztqf
        from igams_swkhgl swkhgl
        <include refid="OUT_SEARCH_JOINS"></include>
        <include refid="SEARCH_WHERE"></include>

    </select>

    <!--查询指定行数据-->
    <select id="getRepeatDtoList" resultType="SwkhglDto" parameterType="SwkhglDto">
        select
        swkhgl.khid, swkhgl.lx, swkhgl.gsmc, swkhgl.nsrsbh, swkhgl.khh, swkhgl.yhzh, swkhgl.gsdz, swkhgl.dh, swkhgl.hkzq, swkhgl.dzzq, swkhgl.jsfpyx,swkhgl.lxr,
        to_char(swkhgl.ksrq,'yyyy-MM-dd') ksrq,to_char(swkhgl.jsrq,'yyyy-MM-dd') jsrq, swkhgl.bz, swkhgl.lrry, swkhgl.lrsj, swkhgl.xgry, swkhgl.xgsj, swkhgl.scry, swkhgl.scsj, swkhgl.scbj,swkhgl.ywfl,
        lx.csmc lxmc,dzzq.csmc dzzqmc,ywfl.csmc ywflmc
        from igams_swkhgl swkhgl
        <include refid="OUT_SEARCH_JOINS"></include>
        where swkhgl.scbj = '0'
        <if test="czbs != null and czbs != '' and czbs == '1'.toString()">
            and swkhgl.gsmc = #{gsmc}
        </if>
        <if test="czbs != null and czbs != '' and czbs == '2'.toString()">
            and swkhgl.gsmc = #{gsmc} and swkhgl.khid != #{khid}
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="SwkhglDto" >
        insert into igams_swkhgl(khid,lx, gsmc, nsrsbh, khh, yhzh, gsdz, dh, hkzq, dzzq, jsfpyx, lxr ,ywfl
        <if test="ksrq != null and ksrq != ''">
            , ksrq
        </if>
        <if test="jsrq != null and jsrq != ''">
            , jsrq
        </if>
        <if test="ztqf != null and ztqf != ''">
            , ztqf
        </if>
        , bz,dzzd,yjdz,fpxz,fzr,fzryx, lrry, lrsj, scbj)
        values (#{khid}, #{lx}, #{gsmc}, #{nsrsbh}, #{khh}, #{yhzh}, #{gsdz}, #{dh}, #{hkzq}, #{dzzq}, #{jsfpyx}, #{lxr}, #{ywfl}
        <if test="ksrq != null and ksrq != ''">
            , cast(#{ksrq} as timestamp )
        </if>
        <if test="jsrq != null and jsrq != ''">
            ,cast(#{jsrq} as timestamp )
        </if>
        <if test="ztqf != null and ztqf != ''">
            , #{ztqf}
        </if>
        , #{bz}, #{dzzd}, #{yjdz}, #{fpxz}, #{fzr}, #{fzryx}, #{lrry}, LOCALTIMESTAMP, '0')
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update igams_swkhgl
        <set>
            <if test="lxr != null and lxr != ''">
                lxr = #{lxr},
            </if>
            <if test="lx != null and lx != ''">
                lx = #{lx},
            </if>
            <if test="gsmc != null and gsmc != ''">
                gsmc = #{gsmc},
            </if>
            <if test="nsrsbh != null and nsrsbh != ''">
                nsrsbh = #{nsrsbh},
            </if>
            <if test="khh != null and khh != ''">
                khh = #{khh},
            </if>
            <if test="yhzh != null and yhzh != ''">
                yhzh = #{yhzh},
            </if>
            <if test="gsdz != null and gsdz != ''">
                gsdz = #{gsdz},
            </if>
            <if test="dh != null and dh != ''">
                dh = #{dh},
            </if>
            <if test="hkzq != null and hkzq != ''">
                hkzq = #{hkzq},
            </if>
            <if test="dzzq != null and dzzq != ''">
                dzzq = #{dzzq},
            </if>
            <if test="jsfpyx != null and jsfpyx != ''">
                jsfpyx = #{jsfpyx},
            </if>
            <if test="ksrq != null and ksrq != ''">
                ksrq = cast(#{ksrq} as timestamp ),
            </if>
            <if test="jsrq != null and jsrq != ''">
                jsrq =  cast(#{jsrq} as timestamp ),
            </if>
            <if test="bz != null and bz != ''">
                bz = #{bz},
            </if>
            <if test="yjdz != null and yjdz != ''">
                yjdz =  #{yjdz},
            </if>
            <if test="fpxz != null and fpxz != ''">
                fpxz =  #{fpxz},
            </if>
            <if test="fzr != null and fzr != ''">
                fzr =  #{fzr},
            </if>
            <if test="fzryx != null and fzryx != ''">
                fzryx =  #{fzryx},
            </if>
            <if test="ztqf != null and ztqf != ''">
                ztqf =  #{ztqf},
            </if>
            <if test="xgry != null and xgry != ''">
                xgry = #{xgry},xgsj = LOCALTIMESTAMP,
            </if>
            <if test="ywfl != null and ywfl != ''">
                ywfl = #{ywfl},
            </if>
            <if test="ywfl != null and ywfl == ''">
                ywfl = null,
            </if>
            <if test="lxr != null and lxr == ''">
                lxr = null,
            </if>
            <if test="lx != null and lx == ''">
                lx = null,
            </if>
            <if test="gsmc != null and gsmc == ''">
                gsmc = null,
            </if>
            <if test="nsrsbh != null and nsrsbh == ''">
                nsrsbh = null,
            </if>
            <if test="khh != null and khh == ''">
                khh = null,
            </if>
            <if test="yhzh != null and yhzh == ''">
                yhzh = null,
            </if>
            <if test="gsdz != null and gsdz == ''">
                gsdz = null,
            </if>
            <if test="dh != null and dh == ''">
                dh = null,
            </if>
            <if test="hkzq != null and hkzq == ''">
                hkzq = null,
            </if>
            <if test="dzzq != null and dzzq == ''">
                dzzq = null,
            </if>
            <if test="jsfpyx != null and jsfpyx == ''">
                jsfpyx = null,
            </if>
            <if test="ksrq != null and ksrq == ''">
                ksrq = null,
            </if>
            <if test="jsrq != null and jsrq == ''">
                jsrq = null,
            </if>
            <if test="bz != null and bz == ''">
                bz = null,
            </if>
            <if test="yjdz != null and yjdz == ''">
                yjdz = null,
            </if>
            <if test="fpxz != null and fpxz == ''">
                fpxz = null,
            </if>
            <if test="fzr != null and fzr == ''">
                fzr = null,
            </if>
            <if test="fzryx != null and fzryx == ''">
                fzryx = null,
            </if>
            <if test="ztqf != null and ztqf == ''">
                ztqf = null,
            </if>
        </set>
        where khid = #{khid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update igams_swkhgl set  scry = #{scry},scsj = LOCALTIMESTAMP,scbj='1' where khid = #{khid}
    </delete>

    <!--通过主键删除-->
    <delete id="delete">
        update igams_swkhgl set  scry = #{scry},scsj = LOCALTIMESTAMP,scbj='1'
        where khid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>


    <sql id="OUT_SEARCH_JOINS">
		left join matridx_jcsj lx on lx.csid = swkhgl.lx
        left join matridx_jcsj dzzq on dzzq.csid = swkhgl.dzzq
        left join matridx_jcsj ywfl on ywfl.csid = swkhgl.ywfl
		left join matridx_jcsj fpxz on fpxz.csid = swkhgl.fpxz
		left join matridx_xtyh fzr on fzr.yhid = swkhgl.fzr
	</sql>
    <!-- 选中导出  -->
    <select id="getListForSelectExp" parameterType="SwkhglDto" resultType="SwkhglDto">
        SELECT  swkhgl.khid ${sqlParam}
        FROM (
        <foreach collection="ids" separator=" union all "  index="index" item="item">
            select #{item, jdbcType=VARCHAR} khid, #{index} ordernum
        </foreach>
        ) tmp
        LEFT OUTER JOIN igams_swkhgl swkhgl ON tmp.khid = swkhgl.khid
        <include refid="OUT_SEARCH_JOINS"></include>
        ORDER BY tmp.ordernum
    </select>
    <!-- 获取搜索导出的条数 -->
    <select id="getCountForSearchExp"  parameterType="SwkhglDto" resultType="java.lang.Integer">
        select  count (swkhgl.khid)
        from igams_swkhgl  swkhgl
        <include refid="OUT_SEARCH_JOINS"></include>
        <include refid="SEARCH_WHERE"></include>
    </select>

    <!-- 搜索导出 -->
    <select id="getListForSearchExp" parameterType="SwkhglDto" resultType="SwkhglDto">
        SELECT  swkhgl.khid  ${sqlParam}
        FROM igams_swkhgl swkhgl
        <include refid="OUT_SEARCH_JOINS"></include>
        <include refid="SEARCH_WHERE"></include>
        ORDER BY
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>

    <sql id="SEARCH_WHERE">
        <where>
            swkhgl.scbj = '0'
            <if test="entire != null and entire != ''">
                and (swkhgl.gsmc ILIKE '%'||#{entire}||'%'
                or swkhgl.nsrsbh ILIKE '%'||#{entire}||'%'
                or swkhgl.khh ILIKE '%'||#{entire}||'%'
                or swkhgl.yhzh ILIKE '%'||#{entire}||'%'
                or swkhgl.gsdz ILIKE '%'||#{entire}||'%'
                or swkhgl.dh ILIKE '%'||#{entire}||'%'
                or swkhgl.jsfpyx ILIKE '%'||#{entire}||'%'
                or swkhgl.lxr ILIKE '%'||#{entire}||'%'
                or lx.csmc ILIKE '%'||#{entire}||'%'
                )
            </if>
            <if test="gsmc != null and gsmc != ''">
                and swkhgl.gsmc ILIKE '%'||#{gsmc}||'%'
            </if>
            <if test="lxr != null and lxr != ''">
                and swkhgl.lxr ILIKE '%'||#{lxr}||'%'
            </if>
            <if test="nsrsbh != null and nsrsbh != ''">
                and swkhgl.nsrsbh ILIKE '%'||#{nsrsbh}||'%'
            </if>
            <if test="khh != null and khh != ''">
                and swkhgl.khh ILIKE '%'||#{khh}||'%'
            </if>
            <if test="yhzh != null and yhzh != ''">
                and swkhgl.yhzh ILIKE '%'||#{yhzh}||'%'
            </if>
            <if test="gsdz != null and gsdz != ''">
                and swkhgl.gsdz ILIKE '%'||#{gsdz}||'%'
            </if>
            <if test="dh != null and dh != ''">
                and swkhgl.dh ILIKE '%'||#{dh}||'%'
            </if>
            <if test="jsfpyx != null and jsfpyx != ''">
                and swkhgl.jsfpyx ILIKE '%'||#{jsfpyx}||'%'
            </if>
            <if test="lxmc != null and lxmc != ''">
                and lx.csmc ILIKE '%'||#{lxmc}||'%'
            </if>
            <if test="ztqf != null and ztqf != ''">
                and swkhgl.ztqf = #{ztqf}
            </if>
            <if test="ksrqstart != null and ksrqstart != ''">
                and to_char(swkhgl.ksrq,'yyyy-mm-dd') &gt;= #{ksrqstart}
            </if>
            <if test="ksrqend != null and ksrqend != ''">
                and to_char(swkhgl.ksrq,'yyyy-mm-dd') &lt;= #{ksrqend}
            </if>
            <if test="jsrqstart != null and jsrqstart != ''">
                and to_char(swkhgl.jsrq,'yyyy-mm-dd') &gt;= #{jsrqstart}
            </if>
            <if test="jsrqend != null and jsrqend != ''">
                and to_char(swkhgl.jsrq,'yyyy-mm-dd') &lt;= #{jsrqend}
            </if>
            <if test="ywflids !=null and ywflids.size > 0">
                and ywfl in
                <foreach collection="ywflids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="lxids !=null and lxids.size > 0">
                and lx in
                <foreach collection="lxids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="dzzqids !=null and dzzqids.size > 0">
                and dzzq in
                <foreach collection="dzzqids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>


    <update id="updateDzzd">
        update igams_swkhgl
        <set>
            xgry = #{xgry},
            xgsj = LOCALTIMESTAMP,
            dzzd=#{dzzd}
        </set>
        where khid = #{khid}
    </update>


    <update id="updateCustomStateDistinguish" parameterType="String">
        update igams_swkhgl
        <set>
            ztqf = '0'
        </set>
        where lrsj is not null and  to_char(lrsj,'yyyy-mm-dd') &gt;= #{date} and  to_char(lrsj,'yyyy-mm-dd') &lt;= to_char(CURRENT_DATE,'yyyy-mm-dd')
    </update>

</mapper>

