<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IToolUtilDao" >
	
	<select id="getReportByHzxm" parameterType="Map" resultType="Map">
		SELECT fjcfb.wjlj,fjcfb.wjm 
			from igams_sjxx sjxx 
			left outer join matridx_fjcfb fjcfb on sjxx.sjid= fjcfb.ywid and fjcfb.ywlx in ('IMP_REPORT_C_TEMEPLATE_D','IMP_REPORT_C_TEMEPLATE_R',
			'IMP_REPORT_C_TEMEPLATE_C','IMP_REPORT_QINDEX_TEMEPLATE_D','IMP_REPORT_QINDEX_TEMEPLATE_R','IMP_REPORT_QINDEX_TEMEPLATE_C',
					'IMP_REPORT_QINDEX_TEMEPLATE_REM_D','IMP_REPORT_QINDEX_TEMEPLATE_REM_R','IMP_REPORT_QINDEX_TEMEPLATE_REM_C', 
					'IMP_REPORT_ONCO_QINDEX_TEMEPLATE_D', 'IMP_REPORT_ONCO_QINDEX_TEMEPLATE_R', 'IMP_REPORT_ONCO_QINDEX_TEMEPLATE_C', 'IMP_REPORT_ONCO_QINDEX_TEMEPLATE_O',
					'IMP_REPORT_TNGS_TEMEPLATE_D','IMP_REPORT_TNGS_TEMEPLATE_C','IMP_SPEED_D','IMP_SPEED_R','IMP_SPEED_C','IMP_SPEED_REM_D','IMP_SPEED_REM_R','IMP_SPEED_REM_C')
		<where>
			sjxx.hzxm = #{hzxm}
		</where>
	</select>
	
</mapper>
