<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IWlcstxDao" >

    <update id="insertOrUpdateWlcstx" parameterType="WlcstxDto">
        insert into igams_wlcstx
            (ywid,ywlx,cscs)
            values
            (#{ywid},#{ywlx},1)
        on conflict(ywid)
        do update set
            cscs = COALESCE((select tmp.cscs from igams_wlcstx tmp where ywid=#{ywid}),0)+1
    </update>

    <select id="getDto" parameterType="WlcstxDto" resultType="WlcstxDto">
        select wlcstx.ywid, wlcstx.ywlx, wlcstx.cscs
        from igams_wlcstx wlcstx
        <where>
            wlcstx.ywid = #{ywid}
        </where>
    </select>

</mapper>
