<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IXxdjDao" >
	<sql id="SEARCH_TERMS">
		<if test="xxlx != null and xxlx != ''">
			and dj.xxlx =#{xxlx}
		</if>
		<if test="entire != null and entire != ''">
			and (dj.wbxx1 like '%'||#{entire}||'%'
			or dj.wbxx2 like '%'||#{entire}||'%'
			or dj.wbxx3 like '%'||#{entire}||'%'
			or dj.wbxx4 like '%'||#{entire}||'%'
			or dj.wbxx5 like '%'||#{entire}||'%'
			or dj.wbxx6 like '%'||#{entire}||'%'
			or dj.wbxx7 like '%'||#{entire}||'%'
			or dj.wbxx8 like '%'||#{entire}||'%')
		</if>
	</sql>

	<!-- 信息登记列表 -->
	<select id="getPagedDtoList" parameterType="XxdjDto" resultType="XxdjDto">
		select dj.xxid,dj.xxlx,dj.wxid,dj.wbxx1,dj.wbxx2,dj.wbxx3,dj.wbxx4,dj.wbxx5,dj.wbxx6,
		dj.wbxx7,dj.wbxx8,dj.sjxx1,dj.sjxx2,dj.sjxx3,dj.rqxx1,dj.rqxx2,dj.rqxx3,
		case when dj.bjxx1='0' then '否' when dj.bjxx1='1' then '是' else '其他' end bjxx1,
		case when dj.bjxx2='0' then '否' when dj.bjxx1='2' then '是' else '其他' end bjxx2,
		case when dj.bjxx3='0' then '否' when dj.bjxx1='3' then '是' else '其他' end bjxx3
		from matridx_xxdj dj
		<where>
			dj.scbj!='1'
			<include refid="SEARCH_TERMS"></include>
		</where>
	</select>
	
	<!-- 根据id查看信息登记 -->
	<select id="getDtoById" parameterType="String" resultType="XxdjDto">
		select dj.xxid,dj.xxlx,dj.wxid,dj.wbxx1,dj.wbxx2,dj.wbxx3,dj.wbxx4,dj.wbxx5,dj.wbxx6,
		dj.wbxx7,dj.wbxx8,dj.sjxx1,dj.sjxx2,dj.sjxx3,dj.rqxx1,dj.rqxx2,dj.rqxx3,
		case when dj.bjxx1='0' then '否' when dj.bjxx1='1' then '是' else '其他' end bjxx1,
		case when dj.bjxx2='0' then '否' when dj.bjxx1='2' then '是' else '其他' end bjxx2,
		case when dj.bjxx3='0' then '否' when dj.bjxx1='3' then '是' else '其他' end bjxx3,
		wxyh.wxm,wxyh.yhm,wxyh.yhcs,wxyh.gzpt,case when wxyh.yhxb ='1' then '男' when wxyh.yhxb='2' then '女' end yhxb
		from matridx_xxdj dj
		left join matridx_wxyh wxyh on wxyh.wxid=dj.wxid
		<where>
			dj.scbj!='1'
			and xxid=#{xxid}
		</where>
	</select>

	<insert id="insert" parameterType="XxdjDto">
		insert into matridx_xxdj(xxid
			<if test="xxlx !=null and xxlx !=''">
				,xxlx
			</if>
			<if test="wxid !=null and wxid !=''">
				,wxid
			</if>
			<if test="wbxx1  !=null and  wbxx1  !=''">
				,wbxx1 
			</if>
			<if test="wbxx2  !=null and  wbxx2  !=''">
				,wbxx2 
			</if>
			<if test="wbxx3  !=null and  wbxx3  !=''">
				,wbxx3 
			</if>
			<if test="wbxx4  !=null and  wbxx4  !=''">
				,wbxx4 
			</if>
			<if test="wbxx5 !=null and  wbxx5  !=''">
				,wbxx5 
			</if>
			<if test="wbxx6 !=null and wbxx6 !=''">
				,wbxx6
			</if>
			<if test="wbxx7 !=null and wbxx7 !=''">
				,wbxx7
			</if>
			<if test="wbxx8 !=null and wbxx8 !=''">
				,wbxx8
			</if>
			<if test="sjxx1 !=null and sjxx1 !=''">
				,sjxx1
			</if>
			<if test="sjxx2 !=null and sjxx2 !=''">
				,sjxx2
			</if>
			<if test="sjxx3 !=null and sjxx3 !=''">
				,sjxx3
			</if>
			<if test="rqxx1  !=null and rqxx1 !=''">
				,rqxx1
			</if>
			<if test="rqxx2 !=null and rqxx2!=''">
				,rqxx2
			</if>
			<if test="rqxx3 !=null and rqxx3 !=''">
				,rqxx3
			</if>
			<if test="bjxx1 !=null and  bjxx1 !=''">
				,bjxx1
			</if>
			<if test="bjxx2 !=null and  bjxx2 !=''">
				,bjxx2
			</if>
			<if test="bjxx3 !=null and  bjxx3 !=''">
				,bjxx3
			</if>
			<if test="xgry !=null and  xgry !=''">
				,xgry 
			</if>
			<if test="xgsj !=null and xgsj !=''">
				,xgsj
			</if>
			<if test="scry !=null and scry !=''">
				,scry
			</if><if test="scsj !=null and scsj !=''">
				,scsj
			</if>,lrry,lrsj,scbj) values(#{xxid}
			<if test="xxlx !=null and xxlx !=''">
				,#{xxlx}
			</if>
			<if test="wxid !=null and wxid !=''">
				,#{wxid}
			</if>
			<if test="wbxx1  !=null and  wbxx1  !=''">
				,#{wbxx1} 
			</if>
			<if test="wbxx2  !=null and  wbxx2  !=''">
				,#{wbxx2} 
			</if>
			<if test="wbxx3  !=null and  wbxx3  !=''">
				,#{wbxx3} 
			</if>
			<if test="wbxx4  !=null and  wbxx4  !=''">
				,#{wbxx4} 
			</if>
			<if test="wbxx5 !=null and  wbxx5  !=''">
				,#{wbxx5} 
			</if>
			<if test="wbxx6 !=null and wbxx6 !=''">
				,#{wbxx6}
			</if>
			<if test="wbxx7 !=null and wbxx7 !=''">
				,#{wbxx7}
			</if>
			<if test="wbxx8 !=null and wbxx8 !=''">
				,#{wbxx8}
			</if>
			<if test="sjxx1 !=null and sjxx1 !=''">
				,cast(#{sjxx1} as  timestamp )
			</if>
			<if test="sjxx2 !=null and sjxx2 !=''">
				,cast(#{sjxx2} as  timestamp )
			</if>
			<if test="sjxx3 !=null and sjxx3 !=''">
				,cast(#{sjxx3} as  timestamp )
			</if>
			<if test="rqxx1  !=null and rqxx1 !=''">
				,cast(#{rqxx1} as  timestamp )
			</if>
			<if test="rqxx2 !=null and rqxx2!=''">
				,cast(#{rqxx2} as  timestamp )
			</if>
			<if test="rqxx3 !=null and rqxx3 !=''">
				,cast(#{rqxx3} as  timestamp )
			</if>
			<if test="bjxx1 !=null and  bjxx1 !=''">
				,#{bjxx1}
			</if>
			<if test="bjxx2 !=null and  bjxx2 !=''">
				,#{bjxx2}
			</if>
			<if test="bjxx3 !=null and  bjxx3 !=''">
				,#{bjxx3}
			</if>
			<if test="xgry !=null and  xgry !=''">
				,#{xgry} 
			</if>
			<if test="xgsj !=null and xgsj !=''">
				,cast(#{xgsj} as timestamp) 
			</if>
			<if test="scry !=null and scry !=''">
				,#{scry} 
			</if>
			<if test="scsj !=null and scsj !=''">
				,cast(#{scsj} as timestamp)
			</if>,#{wxid},LOCALTIMESTAMP,'0')
	</insert>
	
	<update id="update" parameterType="XxdjDto">
		update  matridx_xxdj set xgry=#{wxid}
			,xgsj=LOCALTIMESTAMP
			<if test="xxlx !=null and xxlx !=''">
				,xxlx=#{xxlx}
			</if>
			<if test="wxid !=null and wxid !=''">
				,wxid=#{wxid}
			</if>
			<if test="wbxx1  !=null and  wbxx1  !=''">
				,wbxx1 =#{wbxx1}
			</if>
			<if test="wbxx2  !=null and  wbxx2  !=''">
				,wbxx2 =#{wbxx2}
			</if>
			<if test="wbxx3  !=null and  wbxx3  !=''">
				,wbxx3 =#{wbxx3}
			</if>
			<if test="wbxx4  !=null and  wbxx4  !=''">
				,wbxx4 =#{wbxx4}
			</if>
			<if test="wbxx5 !=null and  wbxx5  !=''">
				,wbxx5 =#{wbxx5}
			</if>
			<if test="wbxx6 !=null and wbxx6 !=''">
				,wbxx6=#{wbxx6}
			</if>
			<if test="wbxx7 !=null and wbxx7 !=''">
				,wbxx7=#{wbxx7}
			</if>
			<if test="wbxx8 !=null and wbxx8 !=''">
				,wbxx8=#{wbxx8}
			</if>
			<if test="sjxx1 !=null and sjxx1 !=''">
				,sjxx1=cast(#{sjxx1} as timestamp)
			</if>
			<if test="sjxx2 !=null and sjxx2 !=''">
				,sjxx2=cast(#{sjxx2} as timestamp)
			</if>
			<if test="sjxx3 !=null and sjxx3 !=''">
				,sjxx3=cast(#{sjxx3} as timestamp)
			</if>
			<if test="rqxx1  !=null and rqxx1 !=''">
				,rqxx1=cast(#{rqxx1} as DATA)
			</if>
			<if test="rqxx2 !=null and rqxx2!=''">
				,rqxx2=cast(#{rqxx2} as DATA)
			</if>
			<if test="rqxx3 !=null and rqxx3 !=''">
				,rqxx3=cast(#{rqxx3} as DATA)
			</if>
			<if test="bjxx1 !=null and  bjxx1 !=''">
				,bjxx1=#{bjxx1}
			</if>
			<if test="bjxx2 !=null and  bjxx2 !=''">
				,bjxx2=#{bjxx2}
			</if>
			<if test="bjxx3 !=null and  bjxx3 !=''">
				,bjxx3=#{bjxx3}
			</if>
			<where>
				scbj!='1'
				<if test="xxid !=null and xxid !=''">
					and xxid = #{xxid}
				</if>
			</where>
	</update>
	
	<!-- 查询单个 -->
	<select id="getDto" parameterType="XxdjDto" resultType="XxdjDto">
		select  xxdj.xxid,xxdj.xxlx,xxdj.wxid,xxdj.wbxx1,xxdj.wbxx2,xxdj.wbxx3,xxdj.wbxx4,xxdj.wbxx5,xxdj.wbxx6,xxdj.wbxx7,xxdj.wbxx8,
				xxdj.sjxx1,xxdj.sjxx2,xxdj.sjxx3,xxdj.rqxx1,xxdj.rqxx2,xxdj.rqxx3,xxdj.bjxx1,xxdj.bjxx2,xxdj.bjxx3
		from matridx_xxdj xxdj
		<where>
			xxdj.scbj!='1'
			<if test="wxid !=null and wxid !=''">
				and xxdj.wxid = #{wxid}
			</if>
			<if test="xxid !=null and xxid !=''">
				and xxdj.xxid = #{xxid}
			</if>
		</where>
	</select>
<!--原本的输入值为WlglDto，不能正常启动修改为XxdjDto -->
	<select id="getCountForSearchExp"  parameterType="XxdjDto" resultType="java.lang.Integer">
		select count(dj.xxid) from matridx_xxdj dj
		<where>
			<include refid="SEARCH_TERMS"></include>
		</where>
	</select>
	
	<select id="getListForSearchExp" parameterType="XxdjDto" resultType="XxdjDto">
		select dj.xxid ${sqlParam} 
			from matridx_xxdj dj
		<where>
			<include refid="SEARCH_TERMS"></include>
		</where>
		order by 
		<if test="sortName != null and sortName != ''">
		${sortName} ${sortOrder}
		</if>
		<if test="sortLastName != null and sortLastName != ''">
			,${sortLastName} ${sortLastOrder}
		</if>
		LIMIT #{pageSize} OFFSET #{pageStart}
	</select>
	
	<!-- 删除信息登记信息 -->
	<update id="delete" parameterType="XxdjDto">
		update matridx_xxdj
		<set>
			scbj='1',scry=#{scry},scsj=LOCALTIMESTAMP
		</set>
		<where>
			scbj!='1'
			and xxid in
			<foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
				#{item}
			</foreach>
		</where>
	</update>
</mapper>
