<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IYhbqDao" >

	<!--根据标签ID删除用户信息-->
	<delete id="deleteByBqid" parameterType="YhbqDto">
		delete from igams_yhbq
		<where>
			<if test="bqid !=null and bqid != ''">
				or bqid = #{bqid}
			</if>
		</where>
	</delete>
	
	<!-- 新增标签用户信息 -->
	<insert  id="insertByBqid" parameterType="YhbqDto">
		insert into igams_yhbq (bqid, wxid)
		values
		<if test="wxids !=null and wxids.size > 0">
			<foreach collection="wxids" separator="," item="item" index="index">
				(#{bqid},#{wxid})
			</foreach>
		</if>
	</insert>
</mapper>
