<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.wechat.dao.post.IYhsyxgjlDao" >

    <select id="getDtoList" parameterType="YhsyxgjlDto" resultType="YhsyxgjlDto">
        select
        syxgjlid,
        yhid,
        ywlx,
        zdm1,
        zdz1,
        zdm2,
        zdz2,
        zdm3,
        zdz3,
        zdm4,
        zdz4,
        zdm5,
        zdz5,
        zdm6,
        zdz6,
        lrsj
        from matridx_yhsyxgjl
        where yhid=#{yhid}
        and ywlx=#{ywlx}
        order by lrsj desc
    </select>

    <insert id="insert" parameterType="YhsyxgjlDto">
        insert into matridx_yhsyxgjl(syxgjlid
        <if test="yhid != null and yhid != ''">
            ,yhid
        </if>
        <if test="ywlx != null and ywlx != ''">
            ,ywlx
        </if>
        <if test="zdm1 != null and zdm1 != ''">
            ,zdm1
        </if>
        <if test="zdz1 != null and zdz1 != ''">
            ,zdz1
        </if>
        <if test="zdm2 != null and zdm2 != ''">
            ,zdm2
        </if>
        <if test="zdz2 != null and zdz2 != ''">
            ,zdz2
        </if>
        <if test="zdm3 != null and zdm3 != ''">
            ,zdm3
        </if>
        <if test="zdz3 != null and zdz3 != ''">
            ,zdz3
        </if>
        <if test="zdm4 != null and zdm4 != ''">
            ,zdm4
        </if>
        <if test="zdz4 != null and zdz4 != ''">
            ,zdz4
        </if>
        <if test="zdm5 != null and zdm5 != ''">
            ,zdm5
        </if>
        <if test="zdz5 != null and zdz5 != ''">
            ,zdz5
        </if>
        ,lrsj)
        values(#{syxgjlid}
        <if test="yhid != null and yhid != ''">
            ,#{yhid}
        </if>
        <if test="ywlx != null and ywlx != ''">
            ,#{ywlx}
        </if>
        <if test="zdm1 != null and zdm1 != ''">
            ,#{zdm1}
        </if>
        <if test="zdz1 != null and zdz1 != ''">
            ,#{zdz1}
        </if>
        <if test="zdm2 != null and zdm2 != ''">
            ,#{zdm2}
        </if>
        <if test="zdz2 != null and zdz2 != ''">
            ,#{zdz2}
        </if>
        <if test="zdm3 != null and zdm3 != ''">
            ,#{zdm3}
        </if>
        <if test="zdz3 != null and zdz3 != ''">
            ,#{zdz3}
        </if>
        <if test="zdm4 != null and zdm4 != ''">
            ,#{zdm4}
        </if>
        <if test="zdz4 != null and zdz4 != ''">
            ,#{zdz4}
        </if>
        <if test="zdm5 != null and zdm5 != ''">
            ,#{zdm5}
        </if>
        <if test="zdz5 != null and zdz5 != ''">
            ,#{zdz5}
        </if>
        ,LOCALTIMESTAMP)
    </insert>

    <update id="update" parameterType="YhsyxgjlDto">
        update matridx_yhsyxgjl
        <set>
            lrsj=LOCALTIMESTAMP
            <if test="yhid != null and yhid != ''">
                ,yhid=#{yhid}
            </if>
            <if test="ywlx != null and ywlx != ''">
                ,ywlx=#{ywlx}
            </if>
            <if test="zdm1 != null and zdm1 != ''">
                ,zdm1=#{zdm1}
            </if>
            <if test="zdz1 != null and zdz1 != ''">
                ,zdz1=#{zdz1}
            </if>
            <if test="zdm2 != null and zdm2 != ''">
                ,zdm2=#{zdm2}
            </if>
            <if test="zdz2 != null and zdz2 != ''">
                ,zdz2=#{zdz2}
            </if>
            <if test="zdm3 != null and zdm3 != ''">
                ,zdm3=#{zdm3}
            </if>
            <if test="zdz3 != null and zdz3 != ''">
                ,zdz3=#{zdz3}
            </if>
            <if test="zdm4 != null and zdm4 != ''">
                ,zdm4=#{zdm4}
            </if>
            <if test="zdz4 != null and zdz4 != ''">
                ,zdz4=#{zdz4}
            </if>
            <if test="zdm5 != null and zdm5 != ''">
                ,zdm5=#{zdm5}
            </if>
            <if test="zdz5 != null and zdz5 != ''">
                ,zdz5=#{zdz5}
            </if>
        </set>
        <where>
            syxgjlid=#{syxgjlid}
        </where>
    </update>
</mapper>
