<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/stock/allocationCar.js'}"
            charset="utf-8"></script></head>
<body>
<form id="allocationCar_formSearch" th:action ="${urlPrefix}+'/storehouse/stock/'+${xzkcxxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="dbmx_json" id ="dbmx_json" th:value="${dbmx_json}">
    <table id="allocationCar_list" data-classes="table" style="width:1500px;"></table>
</form>
</body>
</html>
