<!DOCTYPE html>
<html lang="zh-cn">
<head>
</head>
<body>
<form id="viewAllStock_Form" class="form-horizontal sl_all_form" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token" />
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in"  aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    物料编码：
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.wlbm}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    物料名称：
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.wlmc}" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    货号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.ychh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    生产商：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.scs}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    规格：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.gg}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    单位：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.jldw}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    库存量：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.klsl}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    供应商：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.gys}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    生产批号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.scph}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    追溯号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.zsh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    仓库：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.ckmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    库位：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.kwmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    请购单号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.qgdh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    合同单号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.htdh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    到货单号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.dhdh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    入库单号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.rkdh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    检验单号：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${hwxx.jydh}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>