<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>库存信息</title>
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.8, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Copyright" content="matridx"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <!--jQuery常用工具扩展库：基础工具,资源加载工具,元素尺寸相关工具 -->
    <script type="text/javascript" src="/js/jquery.utils.contact-min.js" charset="utf-8"></script>
    <!--jQuery基础工具库：$.browser,$.cookie,$.actual等 -->
    <script type="text/javascript" src="/js/jquery.plugins.contact-min.js?v=20220905" charset="utf-8"></script>
    <!--bootstrap -->
    <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/css/basephone.css"/>
</head>
<body>
<form class="form-horizontal sl_all_form" theme="simple" data-bs-toggle="validation"
      style="padding-left: 10px;border-right-width: 15px;padding-right: 10px;">
    <div class="panel panel-default">
        <div class="panel-body">

                <table class="table table-bordered col-md-12 col-sm-12 col-xs-12" style="width:100%;">
                    <thead class="success first">
                    <tr>
                        <th style="width:5%;">序</th>
                        <th style="width:15%;">
                            物料编码
                        </th>
                        <th style="width:25%;">生产批号</th>
                        <th style="width:15%;">仓库</th>
                        <th style="width:15%;">OA</th>
                        <th style="width:15%;">U8</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr first" th:if="${hwxxDtos.size()>0 && hwxxDtos != null}"
                        th:each="list:${hwxxDtos}">
                        <td th:text="${listStat.index+1}" style="width:5%;"></td>
                        <td th:text="${list['wlbm']}" style="width:15%;"></td>
                        <td th:text="${list['scph']}" style="width:25%;"></td>
                        <td th:text="${list['ckdm']}" style="width:15%;"></td>
                        <td th:text="${list['kcl']}" style="width:15%;"></td>
                        <td th:text="${list['iquantity']}" style="width:15%;"></td>
                    </tr>
                    </tbody>
                </table>


                <table class="table table-bordered col-md-12 col-sm-12 col-xs-12" style="width:100%;">
                    <thead class="success first">
                    <tr>
                        <th style="width:5%;">序</th>
                        <th style="width:15%;">
                            物料编码
                        </th>
                        <th style="width:25%;">生产批号</th>
                        <th style="width:15%;">仓库</th>
                        <th style="width:15%;">hwxx</th>
                        <th style="width:15%;">ckhwxx</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr first" th:if="${hwxxDtoList.size()>0 && hwxxDtoList != null}"
                        th:each="hwxxlist:${hwxxDtoList}">
                        <td th:text="${hwxxlistStat.index+1}" style="width:5%;"></td>
                        <td th:text="${hwxxlist['wlbm']}" style="width:15%;"></td>
                        <td th:text="${hwxxlist['scph']}" style="width:25%;"></td>
                        <td th:text="${hwxxlist['ckdm']}" style="width:15%;"></td>
                        <td th:text="${hwxxlist['kcl']}" style="width:15%;"></td>
                        <td th:text="${hwxxlist['hwkcl']}" style="width:15%;"></td>
                    </tr>
                    </tbody>
                </table>

        </div>
    </div>
</form>
</body>
</html>