<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript"  charset="utf-8"></script>
    <meta charset="UTF-8">
    <title>查看样本领料信息</title>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/sample/auditing/samplePick_view.js'}" charset="utf-8"></script>
</head>


<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
    <li  class="nav-item" >
        <a  class="nav-link active" href="#lldxxTab" role="tab" data-bs-toggle="tab">领料单信息</a>
    </li>
    <li  class="nav-item" >
        <a  class="nav-link" href="#lldmxTab" role="tab" data-bs-toggle="tab">领料单明细</a>
    </li>
</ul>
<form id="verAuditing_Form" class="form-horizontal sl_all_form"  theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="access_token" />
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="lldxxTab"  aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <input id="llid" name="llid" type="hidden" th:value="${ybllglDto.llid}"/>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    领料单号
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                    <span th:text="${ybllglDto.lldh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    领料人
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                    <span th:text="${ybllglDto.llrmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    发料人
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                    <span th:text="${ybllglDto.flrmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    申请日期
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                    <span th:text="${ybllglDto.sqrq}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
                            <div class="form-group">
                                <label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
                                    部门
                                </label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
                                    <span th:text="${ybllglDto.bmmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
                            <div class="form-group">
                                <label for="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">
                                    备注
                                </label>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding_t7">
                                    <span th:text="${ybllglDto.bz}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div role="tabpanel" class="tab-pane fade" id="lldmxTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="body-content">
                    <table class="table table-hover table-bordered table-striped" >
                        <tr>
                            <th>内部编码</th>
                            <th>样本编号</th>
                            <th>样本类型</th>
                            <th>存储单位</th>
                            <th>体积</th>
                            <th>冰箱</th>
                            <th>抽屉</th>
                            <th>盒子</th>
                            <th>位置</th>
                        </tr>
                        <tr th:if="${ybllList != null && ybllList.size() >0}" th:each="ybllglDto_t:${ybllList}">
                            <td><a href="javascript:void(0);" th:onclick="openByt([[${ybllglDto_t.sjid}]])" th:text="${ybllglDto_t.nbbm}" th:title="${ybllglDto_t.nbbm}"></a></td>
                            <td th:text="${ybllglDto_t.ybbh}" />
                            <td th:text="${ybllglDto_t.yblxmc}" />
                            <td th:text="${ybllglDto_t.jcdwmc}" />
                            <td th:text="${ybllglDto_t.tj}" />
                            <td th:text="${ybllglDto_t.bxh}" />
                            <td th:text="${ybllglDto_t.cth}" />
                            <td th:text="${ybllglDto_t.hh}" />
                            <td th:text="${ybllglDto_t.wz}" />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>