<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.detection.molecule.dao.post.IFzjcxxPJDao" >

    <select id="getDto" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        SELECT jc.fzjcid,jc.hzid,jc.tw,jc.ybbh,jc.nbbh,jc.yblx,jc.bbzt,jc.jssj,
        to_char( jc.yyrq, 'yyyy-mm-dd')yyrq,jc.yyjcrq,
        to_char( jc.cjsj, 'yyyy-mm-dd')cjsj,
        jc.jcxmid,jc.jcxmmc,jc.cyd,jc.jcdw,jc.ks,jc.sjdw,jc.sjdwmc,jc.qtks,xx.dwmc,jc.fphm,jc.imgurl,jc.pdfurl, jc.jcdxlx, jc.ypmc, jc.sccj, jc.scpc, jc.scd,
        xx.cskz1 yyxxcskz1,jc.bgrq,jc.zt,jc.syh,hz.xm,jc.bbzbh,jc.zffs,jc.sysj,jc.sfsy,jc.fkbj,jc.orderno,jc.kpbj
        FROM
        igams_fzjcxx jc
        left join igams_yyxx xx on xx.dwid=jc.sjdw
        left join igams_hzxx hz on hz.hzid=jc.hzid and hz.scbj='0'
        <where>
            jc.scbj!='1'
            <if test="fzjcid != null and fzjcid != ''">
                and  jc.fzjcid=#{fzjcid}
            </if>
            <if test="ybbh != null and ybbh != ''">
                and  jc.ybbh=#{ybbh}
            </if>
        </where>
    </select>
    <select id="getDtoById" parameterType="String" resultType="FzjcxxDto">
        SELECT jc.fzjcid
        FROM
        igams_fzjcxx jc
        <where>
            jc.fzjcid=#{fzjcid}
        </where>
    </select>

    <insert id="insertPjDto" parameterType="FzjcxxDto">
        insert into igams_fzjcxx (fzjcid
        <if test="ybbh != null and ybbh != ''">
            ,ybbh
        </if>
        <if test="yblx != null and yblx != ''">
            ,yblx
        </if>
        <if test="yblxmc != null and yblxmc != ''">
            ,yblxmc
        </if>
        <if test="cjsj != null and cjsj != ''">
            ,cjsj
        </if>
        <if test="cjry != null and cjry != ''">
            ,cjry
        </if>
        <if test="jsry != null and jsry != ''">
            ,jsry
        </if>
        <if test="jssj != null and jssj != ''">
            ,jssj
        </if>
        <if test="syry != null and syry != ''">
            ,syry
        </if>
        <if test="sysj != null and sysj != ''">
            ,sysj
        </if>
        <if test="nbbh != null and nbbh != ''">
            ,nbbh
        </if>
        <if test="bz != null and bz != ''">
            ,bz
        </if>
        <if test="jcdw != null and jcdw != ''">
            ,jcdw
        </if>
        <if test="jcxmid != null and jcxmid != ''">
            ,jcxmid
        </if>
        <if test="jcxmmc != null and jcxmmc != ''">
            ,jcxmmc
        </if>
        <if test="sjdw != null and sjdw != ''">
            ,sjdw
        </if>
        <if test="sjdwmc != null and sjdwmc != ''">
            ,sjdwmc
        </if>
        <if test="bbzbh != null and bbzbh != ''">
            ,bbzbh
        </if>
        <if test="wybh != null and wybh != ''">
            ,wybh
        </if>
        <if test="xm != null and xm != ''">
            ,xm
        </if>
        <if test="xb != null and xb != ''">
            ,xb
        </if>
        <if test="nl != null and nl != ''">
            ,nl
        </if>
        <if test="lxdh != null and lxdh != ''">
            ,lxdh
        </if>
        <if test="sfjs != null and sfjs != ''">
            ,sfjs
        </if>
        <if test="sfsy != null and sfsy != ''">
            ,sfsy
        </if>
        <if test="jclx != null and jclx != ''">
            ,jclx
        </if>
        <if test="ks != null and ks != ''">
            ,ks
        </if>
        <if test="sjys != null and sjys != ''">
            ,sjys
        </if>
        <if test="ysdh != null and ysdh != ''">
            ,ysdh
        </if>
        <if test="zyh != null and zyh != ''">
            ,zyh
        </if>
        <if test="ch != null and ch != ''">
            ,ch
        </if>
        <if test="qtks != null and qtks != ''">
            ,qtks
        </if>
        <if test="syh != null and syh != ''">
            ,syh
        </if>
        <if test="bgrq != null and bgrq != ''">
            ,bgrq
        </if>
        <if test="bbztmc != null and bbztmc != ''">
            ,bbztmc
        </if>
        <if test="xms != null and xms != ''">
            ,xms
        </if>
        ,zt,bgwcs,lrry,lrsj,scbj) values(#{fzjcid}
        <if test="ybbh != null and ybbh != ''">
            ,#{ybbh}
        </if>
        <if test="yblx != null and yblx != ''">
            ,#{yblx}
        </if>
        <if test="yblxmc != null and yblxmc != ''">
            ,#{yblxmc}
        </if>
        <if test="cjsj != null and cjsj != ''">
            ,cast(#{cjsj} as timestamp)
        </if>
        <if test="cjry != null and cjry != ''">
            ,#{cjry}
        </if>
        <if test="jsry != null and jsry != ''">
            ,#{jsry}
        </if>
        <if test="jssj != null and jssj != ''">
            ,cast(#{jssj} as timestamp)
        </if>
        <if test="syry != null and syry != ''">
            ,#{syry}
        </if>
        <if test="sysj != null and sysj != ''">
            ,cast(#{sysj} as timestamp)
        </if>
        <if test="nbbh != null and nbbh != ''">
            ,#{nbbh}
        </if>
        <if test="bz != null and bz != ''">
            ,#{bz}
        </if>
        <if test="jcdw != null and jcdw != ''">
            ,#{jcdw}
        </if>
        <if test="jcxmid != null and jcxmid != ''">
            ,#{jcxmid}
        </if>
        <if test="jcxmmc != null and jcxmmc != ''">
            ,#{jcxmmc}
        </if>
        <if test="sjdw != null and sjdw != ''">
            ,#{sjdw}
        </if>
        <if test="sjdwmc != null and sjdwmc != ''">
            ,#{sjdwmc}
        </if>
        <if test="bbzbh != null and bbzbh != ''">
            ,#{bbzbh}
        </if>
        <if test="wybh != null and wybh != ''">
            ,#{wybh}
        </if>
        <if test="xm != null and xm != ''">
            ,#{xm}
        </if>
        <if test="xb != null and xb != ''">
            ,#{xb}
        </if>
        <if test="nl != null and nl != ''">
            ,cast(#{nl} as numeric )
        </if>
        <if test="lxdh != null and lxdh != ''">
            ,#{lxdh}
        </if>
        <if test="sfjs != null and sfjs != ''">
            ,#{sfjs}
        </if>
        <if test="sfsy != null and sfsy != ''">
            ,#{sfsy}
        </if>
        <if test="jclx != null and jclx != ''">
            ,#{jclx}
        </if>
        <if test="ks != null and ks != ''">
            ,#{ks}
        </if>
        <if test="sjys != null and sjys != ''">
            ,#{sjys}
        </if>
        <if test="ysdh != null and ysdh != ''">
            ,#{ysdh}
        </if>
        <if test="zyh != null and zyh != ''">
            ,#{zyh}
        </if>
        <if test="ch != null and ch != ''">
            ,#{ch}
        </if>
        <if test="qtks != null and qtks != ''">
            ,#{qtks}
        </if>
        <if test="syh != null and syh != ''">
            ,#{syh}
        </if>
        <if test="bgrq != null and bgrq != ''">
            ,cast(#{bgrq} as timestamp)
        </if>
        <if test="bbztmc != null and bbztmc != ''">
            ,#{bbztmc}
        </if>
        <if test="xms != null and xms != ''">
            ,cast(#{xms} as numeric )
        </if>
        ,'00',0,#{lrry},LOCALTIMESTAMP,'0'
        )
    </insert>

    <select id="getExistByYbbh" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select fzjcxx.fzjcid,fzjcxx.jssj
        from igams_fzjcxx fzjcxx
        <where>
            fzjcxx.scbj='0' and fzjcxx.ybbh=#{ybbh} and fzjcxx.fzjcid!=#{fzjcid}
        </where>
    </select>

    <update id="saveEditDto" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            <if test="xgry != null and xgry != ''">
                xgry=#{xgry}
            </if>
            ,xgsj=LOCALTIMESTAMP
            <if test="ybbh != null and ybbh != ''">
                ,ybbh= #{ybbh}
            </if>
            <if test="ybbh == null or ybbh == ''">
                ,ybbh = null
            </if>
            <!--        <if test="ybbh != null and ybbh != ''">-->
            <!--            ,bbzbh= #{ybbh}-->
            <!--        </if>-->
            <!--        <if test="ybbh == null or ybbh == ''">-->
            <!--            ,bbzbh = null-->
            <!--        </if>-->
            <if test="bz != null and bz != ''">
                ,bz=#{bz}
            </if>
            <if test="bz == null or bz == ''">
                ,bz=''
            </if>
            <if test="yblx != null and yblx != ''">
                ,yblx=#{yblx}
            </if>
            <if test="yblx == null or yblx == ''">
                ,yblx=''
            </if>
            <if test="yblxmc != null and yblx != ''">
                ,yblxmc=#{yblxmc}
            </if>
            <if test="yblxmc == null or yblxmc == ''">
                ,yblxmc=''
            </if>
            <if test="cjsj != null and cjsj != ''">
                ,cjsj=cast(#{cjsj} as TIMESTAMP)
            </if>
            <if test="cjsj == null or cjsj == ''">
                ,cjsj = null
            </if>
            <if test="jsry == null or jsry == ''">
                ,jsry=''
            </if>
            <if test="jsry != null and jsry != ''">
                ,jsry=#{jsry}
            </if>
            <if test="jssj != null and jssj != ''">
                ,jssj=cast(#{jssj} as TIMESTAMP)
            </if>
            <if test="jssj == null or jssj == ''">
                ,jssj = null
            </if>
            <if test="syry == null or syry == ''">
                ,syry=''
            </if>
            <if test="syry != null and syry != ''">
                ,syry=#{syry}
            </if>
            <if test="sysj != null and sysj != ''">
                ,sysj=cast(#{sysj} as TIMESTAMP)
            </if>
            <if test="sysj == null or sysj == ''">
                ,sysj = null
            </if>
            <!--        <if test="nbbh == null or nbbh == ''">-->
            <!--            ,nbbh=''-->
            <!--        </if>-->
            <!--        <if test="nbbh != null and nbbh != ''">-->
            <!--            ,nbbh=#{nbbh}-->
            <!--        </if>-->
            <if test="jcdw != null and jcdw != ''">
                ,jcdw=#{jcdw}
            </if>
            <if test="jcdw == null or jcdw == ''">
                ,jcdw = ''
            </if>
            <if test="jcxmid != null and jcxmid != ''">
                ,jcxmid=#{jcxmid}
            </if>
            <if test="jcxmid == null or jcxmid == ''">
                ,jcxmid = ''
            </if>
            <if test="jcxmmc != null and jcxmmc != ''">
                ,jcxmmc=#{jcxmmc}
            </if>
            <if test="jcxmmc == null or jcxmmc == ''">
                ,jcxmmc = ''
            </if>
            <if test="sjdw != null and sjdw != ''">
                ,sjdw=#{sjdw}
            </if>
            <if test="sjdw == null or sjdw == ''">
                ,sjdw = ''
            </if>
            <if test="sjdwmc != null and sjdwmc != ''">
                ,sjdwmc=#{sjdwmc}
            </if>
            <if test="sjdwmc == null or sjdwmc == ''">
                ,sjdwmc = ''
            </if>
            <!--        <if test="ybbh != null and ybbh != ''">-->
            <!--            ,wybh=#{ybbh}-->
            <!--        </if>-->
            <!--        <if test="ybbh == null or ybbh == ''">-->
            <!--            ,wybh = ''-->
            <!--        </if>-->
            <if test="xm != null and xm != ''">
                ,xm=#{xm}
            </if>
            <if test="xm == null or xm == ''">
                ,xm = ''
            </if>
            <if test="xb != null and xb != ''">
                ,xb=#{xb}
            </if>
            <if test="xb == null or xb == ''">
                ,xb = ''
            </if>
            <if test="nl != null and nl != ''">
                ,nl=cast(#{nl} as numeric )
            </if>
            <!--        <if test="nl == null or nl == ''">-->
            <!--            ,nl = ''-->
            <!--        </if>-->
            <if test="lxdh != null and lxdh != ''">
                ,lxdh=#{lxdh}
            </if>
            <if test="lxdh == null or lxdh == ''">
                ,lxdh = ''
            </if>
            <!--        <if test="bbzt != null and bbzt != ''">-->
            <!--            ,bbzt=#{bbzt}-->
            <!--        </if>-->
            <!--        <if test="bbzt == null or bbzt == ''">-->
            <!--            ,bbzt = ''-->
            <!--        </if>-->
            <if test="sfjs != null and sfjs != ''">
                ,sfjs=#{sfjs}
            </if>
            <if test="sfjs == null or sfjs == ''">
                ,sfjs = ''
            </if>
            <if test="sfsy != null and sfsy != ''">
                ,sfsy=#{sfsy}
            </if>
            <if test="sfsy == null or sfsy == ''">
                ,sfsy = ''
            </if>
            <if test="jclx != null and jclx != ''">
                ,jclx=#{jclx}
            </if>
            <if test="jclx == null or jclx == ''">
                ,jclx = ''
            </if>
            <if test="ks != null and ks != ''">
                ,ks=#{ks}
            </if>
            <if test="ks == null or ks == ''">
                ,ks = ''
            </if>
            <if test="qtks != null and qtks != ''">
                ,qtks=#{qtks}
            </if>
            <if test="qtks == null or qtks == ''">
                ,qtks = ''
            </if>
            <if test="ysdh != null and ysdh != ''">
                ,ysdh=#{ysdh}
            </if>
            <if test="ysdh == null or ysdh == ''">
                ,ysdh = ''
            </if>
            <if test="zyh != null and zyh != ''">
                ,zyh=#{zyh}
            </if>
            <if test="zyh == null or zyh == ''">
                ,zyh = ''
            </if>
            <if test="ch != null and ch != ''">
                ,ch=#{ch}
            </if>
            <if test="ch == null or ch == ''">
                ,ch = ''
            </if>
            <if test="sjys != null and sjys != ''">
                ,sjys=#{sjys}
            </if>
            <if test="sjys == null or sjys == ''">
                ,sjys = ''
            </if>
            <if test="syh != null and syh != ''">
                ,syh=#{syh}
            </if>
            <if test="(syh == null or syh == '') and sfjs == '0'.toString()">
                ,syh = ''
            </if>
            <if test="bbzbh != null and bbzbh != ''">
                ,bbzbh=#{bbzbh}
            </if>
            <if test="bbzbh == null or bbzbh == ''">
                ,bbzbh = ''
            </if>
            <if test="nbbh != null and nbbh != ''">
                ,nbbh=#{nbbh}
            </if>
            <if test="nbbh == null or nbbh == ''">
                ,nbbh = ''
            </if>
            <if test="wybh != null and wybh != ''">
                ,wybh=#{wybh}
            </if>
            <if test="wybh == null or wybh == ''">
                ,wybh = ''
            </if>
            <if test="bbztmc != null and bbztmc != ''">
                ,bbztmc=#{bbztmc}
            </if>
            <if test="bbztmc == null or bbztmc == ''">
                ,bbztmc = ''
            </if>
            <if test="xms != null and xms != ''">
                ,xms=cast(#{xms} as numeric )
            </if>
        </set>
        <where>
            fzjcid=#{fzjcid}
        </where>
    </update>

    <select id="getListWithMap" parameterType="Map" resultType="FzjcxxDto">
        SELECT
        fzjcxx.fzjcid,
        fzjcxx.ybbh,
        fzjcxx.jcxmmc,
        fzjcxx.syh,
        fzjcxx.xm,
        fzjcxx.xb,
        fzjcxx.nl,
        fzjcxx.qtks,
        fzjcxx.sjdwmc dwmc,
        fzjcxx.zt,
        COALESCE(fzjcxx.yblxmc,yblx_jcsj.csmc) as yblxmc,
        fzjcxx.sfjs,
        to_char( fzjcxx.jssj, 'yyyy-MM-dd HH24:mi' ) jssj,
        fzjcxx.sjdwmc,yyxx.dwjc sjdwjc,yyxx.cskz1 sjdwbj,
        to_char( fzjcxx.sysj, 'yyyy-MM-dd HH24:mi' ) sysj,
        fzjcxx.jcjgmc,
        to_char( fzjcxx.bgrq, 'yyyy-MM-dd HH24:mi' ) bgrq,
        jcdw.csmc jcdwmc,fzjcxx.bbztmc
        FROM
        igams_fzjcxx fzjcxx
        left outer join matridx_jcsj yblx_jcsj on fzjcxx.yblx = yblx_jcsj.csid
        left outer join matridx_jcsj jcdw on fzjcxx.jcdw = jcdw.csid
        left join igams_yyxx yyxx on yyxx.dwid=fzjcxx.sjdw
        <where>
            fzjcxx.scbj != '1'
            and fzjcxx.lrry in
            <foreach collection="lrrys" separator="," open="(" close=")" item="item" index="index">
                #{item}
            </foreach>
            <if test="hzxm != null and hzxm != ''">
                and fzjcxx.xm like '%'||#{xm}||'%'
            </if>
            <if test="ybbh != null and ybbh != ''">
                and fzjcxx.ybbh = #{ybbh}
            </if>
            <if test="sjys != null and sjys != ''">
                and fzjcxx.ysdh = #{sjys}
            </if>
            <if test="entire != null and entire != ''">
                and (
                fzjcxx.xm like '%'||#{entire}||'%'
                or fzjcxx.ybbh like '%'||#{entire}||'%'
                or fzjcxx.sjdwmc like '%'||#{entire}||'%'
                or yyxx.dwjc like '%'||#{entire}||'%'
                or fzjcxx.sjys like '%'||#{entire}||'%'
                )
            </if>
            order by ${sortName} ${sortOrder} LIMIT #{pageSize} OFFSET #{pageStart}
        </where>
    </select>

    <select id="getPjDto" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select fzjcxx.fzjcid,fzjcxx.ybbh,fzjcxx.bbzbh,fzjcxx.nbbh,fzjcxx.wybh,fzjcxx.jcxmmc,fzjcxx.jcxmid,fzjcxx.syh,fzjcxx.xm,fzjcxx.nl,fzjcxx.lxdh,fzjcxx.sjdwmc,fzjcxx.bgwcsj, fzjcxx.zt,
        fzjcxx.sjys,fzjcxx.ks,fzjcxx.qtks,fzjcxx.ks ksid,ks.dwmc ksmc,fzjcxx.bbztmc,
        to_char(fzjcxx.cjsj,'yyyy-MM-dd hh24:mi:ss') cjsj,
        to_char(fzjcxx.jssj,'yyyy-MM-dd hh24:mi:ss') jssj,
        to_char(fzjcxx.sysj,'yyyy-MM-dd hh24:mi:ss') sysj,
        to_char(fzjcxx.bgrq,'yyyy-mm-dd') bgrq ,
        fzjcxx.jcdw,jcdw_jcsj.csmc jcdwmc,
        fzjcxx.xb, case fzjcxx.xb WHEN '1' THEN '男' WHEN '2' THEN '女' ELSE '未知' END xbmc,
        fzjcxx.yblx,case when yblx_jcsj.cskz1 = '1' then fzjcxx.yblxmc else yblx_jcsj.csmc end yblxmc,fzjcxx.sjdw,fzjcxx.sfjs,fzjcxx.sfsy,yyxx.dwmc as yymc,
        fzjcxx.bz,fzjcxx.jclx,jclx.csdm jclxdm,fzjcxx.zyh,fzjcxx.ysdh,fzjcxx.ch,
        fzjcxx.jcjgmc,yyxx.cskz1 sjdwbj
        from igams_fzjcxx fzjcxx
        left join igams_yyxx yyxx on yyxx.dwid=fzjcxx.sjdw
        left join matridx_jcsj yblx_jcsj on yblx_jcsj.csid=fzjcxx.yblx
        left join matridx_jcsj jcdw_jcsj on jcdw_jcsj.csid=fzjcxx.jcdw
        left join igams_sjdwxx ks on ks.dwid=fzjcxx.ks
        left join matridx_jcsj jclx on jclx.csid=fzjcxx.jclx
        <where>
            fzjcxx.fzjcid=#{fzjcid}
        </where>
    </select>

    <update id="delGeneralInspection">
        update igams_fzjcxx
        <set>
            scbj='1',scry=#{scry},scsj=LOCALTIMESTAMP
        </set>
        <where>
            fzjcid  = #{fzjcid}
        </where>
    </update>
    <!--更新实验状态-->
    <update id="updateSyzt">
        update igams_fzjcxx
        <set>
            sfsy=#{sfsy},
            sysj = cast(#{sysj} as timestamp),
            syry=#{syry}
        </set>
        <where>
            fzjcid in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
    <delete id="deleteByFzjcid" parameterType="String">
        delete from igams_fzbbzt where fzjcid=#{fzjcid}
    </delete>

    <insert id="insertFzbbzt" parameterType="list">
        insert into igams_fzbbzt(fzjcid,xh,zt )values
        <if test="list !=null and list.size>0">
            <foreach collection="list" separator="," item="item" index="index">
                (#{item.fzjcid},cast(#{item.xh} as numeric),#{item.zt})
            </foreach>
        </if>
    </insert>
    <update id="saveFzjcxxInfo" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            syh=#{syh},bbzt=#{bbzt},jcdw=#{jcdw}
            <if test="nbbh != null and nbbh != ''">
                ,nbbh=#{nbbh}
            </if>
            <if test="sfsy != null and sfsy != '' and sfsy== '1'.toString">
                ,sfsy='1',syry=#{syry},sysj=LOCALTIMESTAMP
            </if>
            <if test="sfjs != null and sfjs != '' and sfjs== '1'.toString">
                ,sfjs='1',jsry=#{jsry},jssj=LOCALTIMESTAMP
            </if>
        </set>
        <where>
            ybbh=#{ybbh}
            <if test="fzjcid != null and fzjcid != ''">
                and fzjcid=#{fzjcid}
            </if>
        </where>
    </update>
    <update id="delPJDetection" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            scbj='1',scry=#{scry},scsj=LOCALTIMESTAMP
        </set>
        <where>
            fzjcid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
    <update id="updateJcjgmc" parameterType="List">
        update igams_fzjcxx
        set jcjgmc=tmp.jcjgmc
        from (
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.fzjcid},#{item.jcjgmc})
        </foreach>
        ) as
        tmp(fzjcid,jcjgmc)
        where
        igams_fzjcxx.fzjcid=tmp.fzjcid
    </update>
    <!--更新申请的状态和报告日期信息-->
    <update id="updatePjBgrqAndBgwcs" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            xgsj = LOCALTIMESTAMP
            <if test="bgrq != null and bgrq != ''">
                ,bgrq=cast(#{bgrq} as timestamp)
            </if>
            <if test="bgwcs != null and bgwcs != ''">
                ,bgwcs=cast(#{bgwcs} as numeric)
            </if>
            <if test="zt != null and zt != ''">
                ,zt=#{zt}
            </if>
        </set>
        <where>
            fzjcid = #{fzjcid}
        </where>
    </update>


    <select id="getReport" parameterType="FjcfbDto" resultType="FjcfbDto">
        select wjm,fjid
        from matridx_fjcfb
        <where>
            scbj!='1' and ywid=#{ywid}
            <if test="ywlx != null and ywlx != ''">
                and ywlx=#{ywlx}
            </if>
        </where>
    </select>
</mapper>
