<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.detection.molecule.dao.post.IFzjcjgDao" >

    <delete id="delDtoListByIds" parameterType="FzjcjgDto">
        delete from igams_fzjcjg
        where
        fzjcid in (
        <foreach collection="ids" separator=","  item="item">
            #{item}
        </foreach>
        )
    </delete>

    <insert id="addDtoList" parameterType="List">
        insert into igams_fzjcjg(fzjcjgid,fzxmid,jcjg,fzjcid)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.fzjcjgid},#{item.fzxmid},#{item.jcjg},#{item.fzjcid})
        </foreach>
    </insert>

    <select id="getDtosList" parameterType="List" resultType="FzjcjgDto">
        select jcjg.fzjcid,jcjg.fzxmid,jcjg.jcjg,jc_jcjg.csmc jcjgmc,jcjg.fzjcjgid
        from igams_fzjcjg jcjg
        left join matridx_jcsj jc_jcjg on jc_jcjg.csid=jcjg.jcjg
        where fzjcid in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
