<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.server.detection.molecule.dao.post.IFzjcxxDao" >

    <select id="getDto" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        SELECT jc.fzjcid,jc.hzid,jc.tw,jc.ybbh,jc.nbbh,jc.yblx,jc.bbzt,
        to_char( jc.yyrq, 'yyyy-mm-dd')yyrq,jc.yyjcrq,
        to_char( jc.cjsj, 'yyyy-mm-dd')cjsj,
        jc.jcxmid,jc.jcxmmc,jc.cyd,jc.jcdw,jc.ks,jc.sjdw,jc.sjdwmc,jc.qtks,xx.dwmc,jc.fphm,jc.imgurl,jc.pdfurl, jc.jcdxlx, jc.ypmc, jc.sccj, jc.scpc, jc.scd,
        xx.cskz1 yyxxcskz1,jc.bgrq,jc.zt,jc.syh,hz.xm,jc.bbzbh,jc.zffs,jc.sysj,jc.sfsy,jc.fkbj,jc.orderno,jc.kpbj
        FROM
        igams_fzjcxx jc
        left join igams_yyxx xx on xx.dwid=jc.sjdw
        left join igams_hzxx hz on hz.hzid=jc.hzid and hz.scbj='0'
        <where>
            jc.scbj!='1'  and jc.jclx=#{jclx}
            <if test="fzjcid != null and fzjcid != ''">
                and  jc.fzjcid=#{fzjcid}
            </if>
            <if test="ybbh != null and ybbh != ''">
                and  jc.ybbh=#{ybbh}
            </if>
        </where>
    </select>

    <update id="saveEditCovid" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            <if test="xgry != null and xgry != ''">
                xgry=#{xgry}
            </if>
            <if test="xgsj != null and xgsj != ''">
                ,xgsj=cast(#{xgsj} as TIMESTAMP )
            </if>
            <if test="tw != null and tw != ''">
                ,tw=#{tw}
            </if>
            <if test="tw == null or tw == ''">
                ,tw=''
            </if>
            <if test="zffs != null and zffs != ''">
                ,zffs=#{zffs}
            </if>
            <if test="zffs == null or zffs == ''">
                ,zffs=''
            </if>
            <if test="yblx != null and yblx != ''">
                ,yblx=#{yblx}
            </if>
            <if test="yblx == null or yblx == ''">
                ,yblx=''
            </if>
            <if test="yyjcrq != null and yyjcrq != ''">
                ,yyjcrq=cast(#{yyjcrq} as TIMESTAMP)
            </if>
            <if test="yyjcrq == null or yyjcrq == ''">
                ,yyjcrq = null
            </if>
            <if test="jcxmid != null and jcxmid != ''">
                ,jcxmid=#{jcxmid}
            </if>
            <if test="jcxmid == null or jcxmid == ''">
                ,jcxmid = ''
            </if>
            <if test="jcxmmc != null and jcxmmc != ''">
                ,jcxmmc=#{jcxmmc}
            </if>
            <if test="jcxmmc == null or jcxmmc == ''">
                ,jcxmmc = ''
            </if>
            <if test="cyd != null and cyd != ''">
                ,cyd=#{cyd}
            </if>
            <if test="bbzt != null and bbzt != ''">
                ,bbzt=#{bbzt}
            </if>
            <if test="bbzt == null or bbzt == ''">
                ,bbzt = ''
            </if>
            <if test="syh != null and syh != ''">
                ,syh=#{syh}
            </if>
            <if test="ks != null and ks != ''">
                ,ks=#{ks}
            </if>
            <if test="ks == null or ks == ''">
                ,ks = ''
            </if>
            <if test="sjdw != null and sjdw != ''">
                ,sjdw=#{sjdw}
            </if>
            <if test="sjdw == null or sjdw == ''">
                ,sjdw = ''
            </if>
            <if test="sjdwmc != null and sjdwmc != ''">
                ,sjdwmc=#{sjdwmc}
            </if>
            <if test="sjdwmc == null or sjdwmc == ''">
                ,sjdwmc = ''
            </if>
            <if test="qtks != null and qtks != ''">
                ,qtks=#{qtks}
            </if>
            <if test="qtks == null or qtks == ''">
                ,qtks = ''
            </if>
            <if test="jcdw != null and jcdw != ''">
                ,jcdw=#{jcdw}
            </if>
            <if test="jcdw == null or jcdw == ''">
                ,jcdw = ''
            </if>
            <if test="cjsj != null and cjsj != ''">
                ,cjsj=cast (#{cjsj} as timestamp )
            </if>
            <if test="cjsj == null or cjsj == ''">
                ,cjsj = null
            </if>
            <if test="jssj != null and jssj != ''">
                ,jssj=cast (#{jssj} as timestamp )
            </if>
            <if test="jssj == null or jssj == ''">
                ,jssj = null
            </if>
            <if test="ybbh != null and ybbh != ''">
                ,ybbh= #{ybbh}
            </if>
            <if test="ybbh == null or ybbh == ''">
                ,ybbh = null
            </if>
            <if test="bbzbh != null and bbzbh != ''">
                ,bbzbh= #{bbzbh}
            </if>
            <if test="bbzbh == null or bbzbh == ''">
                ,bbzbh = null
            </if>
            <if test="bgrq != null and bgrq != ''">
                ,bgrq=cast (#{bgrq} as timestamp )
            </if>
        </set>
        <where>
            fzjcid=#{fzjcid}
        </where>
    </update>

    <select id="viewCovidDetails" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select hzxx.xm, case hzxx.xb
        WHEN '1' THEN
        '男'
        WHEN '2' THEN
        '女' ELSE''
        END xb,hzxx.nl,fzjcxx.tw,fzjcxx.ybbh,hzxx.sj,xtyh_cjry.zsxm cjry,xtyh_syry.zsxm syry,xtyh_jsry.zsxm jsry,fzjcxx.nbbh,fzjcxm.fzxmid,fzjcxx.fzjcid,fzjcxx.yyjcrq,fzjcxx.scbj,
        to_char(fzjcxx.cjsj,'yyyy-mm-dd') cjsj,
        to_char(fzjcxx.jssj,'yyyy-mm-dd') jssj,
        to_char(fzjcxx.sysj,'yyyy-mm-dd') sysj,
        to_char(fzjcxx.bgrq,'yyyy-mm-dd') bgrq,
        case fzjcxx.zt
        WHEN '00' THEN
        '未提交'
        WHEN '10' THEN
        '审核中'
         WHEN '15' THEN
        '审核未通过'
         WHEN '80' THEN
        '审核通过'
        END zt,fzjcxx.jy,fzjcxx.bz,fzjcxx.jcxmmc str_jcxmmcs,yblx_jcsj.csmc yblxmc,jcjg_jcsj.csmc jcjgmc,jcxm_jcsj.csmc jcxmmc,jcdw_jcsj.csmc jcdwmc
        from igams_fzjcxx fzjcxx
        left join igams_hzxx hzxx on hzxx.hzid=fzjcxx.hzid
        left join igams_fzjcxm fzjcxm on fzjcxx.fzjcid=fzjcxm.fzjcid
        left join igams_fzjcjg fzjcjg on fzjcxm.fzxmid=fzjcjg.fzxmid
        left join matridx_jcsj jcjg_jcsj on jcjg_jcsj.csid=fzjcjg.jcjg
        left join matridx_jcsj jczxm_jcsj on jczxm_jcsj.csid=fzjcxm.fzjczxmid
        left join matridx_jcsj jcxm_jcsj on jcxm_jcsj.csid=fzjcxm.fzjcxmid
        left join matridx_jcsj yblx_jcsj on yblx_jcsj.csid=fzjcxx.yblx
        left join matridx_xtyh xtyh_cjry on xtyh_cjry.yhid=fzjcxx.cjry
        left join matridx_xtyh xtyh_jsry on xtyh_jsry.yhid=fzjcxx.jsry
        left join matridx_xtyh xtyh_syry on xtyh_syry.yhid=fzjcxx.syry
        left join matridx_jcsj jcdw_jcsj on jcdw_jcsj.csid=fzjcxx.jcdw
        where fzjcxx.scbj!='1' and fzjcxx.fzjcid=#{fzjcid} and fzjcxx.jclx=#{jclx}
        <if test="pageSize !=null and pageSize !=''">
            limit #{pageSize}
        </if>
        <if test="pageNumber !=null and pageNumber !=''">
            OFFSET #{pageStart}
        </if>
    </select>
    <!--更改新冠报告-->
    <update id="saveFzjcxxInfo" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            sfjs=#{sfjs},jsry=#{jsry},jssj=LOCALTIMESTAMP,syh=#{syh}
            <if test="nbbh != null and nbbh != ''">
                ,nbbh=#{nbbh}
            </if>
            <if test="sfsy != null and sfsy != '' and sfsy== '1'.toString">
                ,sfsy='1',syry=#{syry},sysj=LOCALTIMESTAMP
            </if>
        </set>
        <where>
            ybbh=#{ybbh} and scbj ='0'
        </where>
    </update>
    <select id="bgrqDetails" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select  to_char(fzjcxx.bgrq,'yyyy-mm-dd') bgrq,hzxx.xm,fzjcxx.jcxmmc str_jcxmmcs,
                fzjcxx.fzjcid,fzjcxx.kpbj,fzjcxx.fkbj,fzjcxx.sfje,fzjcxx.scbj,fzjcxx.zffs,fzjcxx.orderno,jcjg_jcsj.csmc jcjgmc,fj.fjid
        from igams_fzjcxx  fzjcxx
        left join igams_fzjcxm fzjcxm on fzjcxx.fzjcid=fzjcxm.fzjcid
        left join igams_fzjcjg fzjcjg on fzjcxm.fzxmid=fzjcjg.fzxmid
        left join matridx_jcsj jcjg_jcsj on jcjg_jcsj.csid=fzjcjg.jcjg
        left JOIN matridx_fjcfb fj on fj.ywid = fzjcxx.fzjcid and fj.ywlx='IMP_REPORT_COVID' and fj.scbj!='1'
        left join igams_hzxx  hzxx on hzxx.hzid=fzjcxx.hzid and hzxx.scbj != '1'
        where fzjcxx.scbj!='1'and (fzjcxx.wxid = #{wxid} or hzxx.sj = #{sj} or fzjcxx.lrry = #{wxid}) and fzjcxx.bgrq is not null and fzjcxx.jclx=#{jclx}
        order by fzjcxx.bgrq DESC
        <if test="pageSize !=null and pageSize !=''">
            limit #{pageSize}
        </if>
        <if test="pageNumber !=null and pageNumber !=''">
            OFFSET #{pageStart}
        </if>
    </select>
 <select id="bgrqDetailsByZjh" parameterType="HzxxtDto" resultType="FzjcxxDto">
        select  to_char(fzjcxx.bgrq,'yyyy-mm-dd') bgrq,hzxx.xm,fzjcxx.jcxmmc str_jcxmmcs,fzjcxx.fzjcid,
                fzjcxx.zffs,fzjcxx.orderno,fzjcxx.kpbj,fzjcxx.fkbj,fzjcxx.sfje,fzjcxx.scbj,jcjg_jcsj.csmc jcjgmc,fj.fjid
        from igams_fzjcxx  fzjcxx
        left join igams_fzjcxm fzjcxm on fzjcxx.fzjcid=fzjcxm.fzjcid
        left join igams_fzjcjg fzjcjg on fzjcxm.fzxmid=fzjcjg.fzxmid
        left join matridx_jcsj jcjg_jcsj on jcjg_jcsj.csid=fzjcjg.jcjg
        left JOIN matridx_fjcfb fj on fj.ywid = fzjcxx.fzjcid and fj.ywlx='IMP_REPORT_COVID' and fj.scbj!='1'
        left join igams_hzxx hzxx on hzxx.hzid=fzjcxx.hzid
         where fzjcxx.scbj!='1'and hzxx.zjh =#{zjh} and hzxx.sj=#{sj} and fzjcxx.bgrq is not null and fzjcxx.jclx=#{jclx}
         order by fzjcxx.bgrq DESC
        <if test="pageSize !=null and pageSize !=''">
            limit #{pageSize}
        </if>
        <if test="pageNumber !=null and pageNumber !=''">
            OFFSET #{pageStart}
        </if>
    </select>
    <!--新增预约信息到分子检测信息表-->
    <insert id="insertDetectionAppointmentFzjcxx" parameterType="FzjcxxDto">
        insert into igams_fzjcxx(hzid
        <if test="wxid !=null and wxid !=''">
            ,wxid
        </if>
        <if test="fzjcid !=null and fzjcid !=''">
            ,fzjcid
        </if>
        <if test="yyjcrq !=null and yyjcrq !=''">
            ,yyjcrq
        </if>
        <if test="jcxmmc !=null and jcxmmc !=''">
            ,jcxmmc
        </if>
        <if test="jcxmid !=null and jcxmid !=''">
            ,jcxmid
        </if>
        <if test="cyd !=null and cyd !=''">
            ,cyd
        </if>
        <if test="fkje !=null and fkje !=''">
            ,fkje
        </if>
        <if test="sjdw != null and sjdw != ''">
        ,sjdw
        </if>
        <if test="sjdwmc != null and sjdwmc != ''">
            ,sjdwmc
        </if>
        <if test="pt !=null and pt !=''">
            ,pt
        </if>
        ,yyrq,lrry
        <if test="jcdxlx != null and jcdxlx != ''">
            ,jcdxlx
        </if>
        <if test="jclx != null and jclx != ''">
            ,jclx
        </if>
        ,lrsj,scbj,zt,fkbj,kpbj)values(#{hzid}
        <if test="wxid !=null and wxid !=''">
            ,#{wxid}
        </if>
        <if test="fzjcid !=null and fzjcid !=''">
            ,#{fzjcid}
        </if>
        <if test="yyjcrq !=null and yyjcrq !=''">
            ,cast(#{yyjcrq} as TIMESTAMP)
        </if>
        <if test="jcxmmc !=null and jcxmmc !=''">
            ,#{jcxmmc}
        </if>
        <if test="jcxmid !=null and jcxmid !=''">
            ,#{jcxmid}
        </if>
        <if test="cyd !=null and cyd !=''">
            ,#{cyd}
        </if>
        <if test="fkje !=null and fkje !=''">
            ,cast(#{fkje} as numeric)
        </if>
        <if test="sjdw != null and sjdw != ''">
            ,#{sjdw}
        </if>
        <if test="sjdwmc != null and sjdwmc != ''">
            ,#{sjdwmc}
        </if>
        <if test="pt !=null and pt !=''">
            ,#{pt}
        </if>
        ,cast(#{lrsj} as TIMESTAMP)
        <if test="lrry != null and lrry != ''">
            ,#{lrry}
        </if>
        <if test="lrry == null or lrry == ''">
            ,#{wxid}
        </if>
        <if test="jcdxlx != null and jcdxlx != ''">
            ,#{jcdxlx}
        </if>
        <if test="jclx != null and jclx != ''">
            ,#{jclx}
        </if>
        ,cast(#{lrsj} as TIMESTAMP),'0','00','0','0')
    </insert>

    <select id="beforeDayList" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select jcxx.fzjcid, jcxx.hzid, jcxx.tw, jcxx.ybbh, jcxx.nbbh, jcxx.yblx, jcxx.yyrq, jcxx.yyjcrq, jcxx.ks,jcxx.qtks,jcxx.sjdw,jcxx.sjdwmc,
        jcxx.cjsj, jcxx.cjry, jcxx.sfjs, jcxx.jssj, jcxx.jsry, jcxx.sfsy, jcxx.syry, jcxx.sysj, jcxx.fkbj, jcxx.pt,
        jcxx.bgrq, jcxx.zt, jcxx.bz,jcxx.jcxmid,jcxx.jcxmmc,jcxx.fkje,
        jcxx.jcdw, jcxx.bbzbh,jcxx.wxid
        from igams_fzjcxx jcxx
        <where>
            jcxx.lrry = #{lrry} and jcxx.hzid = #{hzid} and jcxx.scbj = '0' and jcxx.cjsj is null
            and to_char(jcxx.yyjcrq::timestamp,'yyyyMMdd')  = to_char(#{yyjcrq}::timestamp,'yyyyMMdd') and jcxx.jclx=#{jclx}
        </where>
    </select>
    <!--修改预约信息-->
    <update id="updateDetectionAppointmentFzjcxx" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            <if test="xgry !=null and xgry !=''">
                ,xgry=#{xgry}
            </if>
            <if test="xgry == null or xgry == ''">
                ,xgry=#{wxid}
            </if>
            <if test="wxid !=null and wxid !=''">
                ,wxid=#{wxid}
            </if>
            <if test="hzid !=null and hzid !=''">
                ,hzid=#{hzid}
            </if>
            <if test="yyjcrq !=null and yyjcrq !=''">
                ,yyjcrq=cast(#{yyjcrq} as TIMESTAMP)
            </if>
            <if test="jcxmmc !=null and jcxmmc !=''">
                ,jcxmmc=#{jcxmmc}
            </if>
            <if test="bbzt != null and bbzt != ''">
                ,bbzt=#{bbzt}
            </if>
            <if test="jcxmid !=null and jcxmid !=''">
                ,jcxmid=#{jcxmid}
            </if>
            <if test="cyd !=null and cyd !=''">
                ,cyd=#{cyd}
            </if>
            ,yyrq= cast(#{xgsj} as TIMESTAMP),
            xgsj = cast(#{xgsj} as TIMESTAMP)
        </set>
        <where>
            fzjcid = #{fzjcid}
        </where>
    </update>

    <update id="delCovidDetails" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            scbj='1',scry=#{scry},scsj=LOCALTIMESTAMP
        </set>
        <where>
            fzjcid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>

    <!--修改预约日期-->
    <update id="updateAppDate" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            <if test="xgry != null and xgry != ''">
                xgry=#{xgry}
            </if>
            <if test="xgsj != null and xgsj != ''">
                ,xgsj=cast(#{xgsj} as TIMESTAMP )
            </if>
            <if test="yyjcrq != null and yyjcrq != ''">
                ,yyjcrq=cast(#{yyjcrq} as TIMESTAMP)
            </if>
        </set>
        <where>
            fzjcid=#{fzjcid}
        </where>
    </update>

    <!--取消预约-->
    <update id="cancelDetectionAppointment">
        update igams_fzjcxx
        <set>
            scbj='2',
            scry = #{wxid},
            <if test="fkbj !=null and fkbj !=''">
                fkbj=#{fkbj},
            </if>
            scsj = cast(#{scsj} as TIMESTAMP)
        </set>
        <where>
            fzjcid = #{fzjcid}
        </where>
    </update>

    <update id="discardCovidDetails" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            scbj='2',scry=#{scry},scsj=LOCALTIMESTAMP
        </set>
        <where>
            fzjcid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>

    <!-- 更新分子检测信息表 -->
    <update id="update" parameterType="FzjcxxModel">
        update igams_fzjcxx
        <set>
            <if test="czbs != null and czbs != '' and czbs != '0'.toString">
                ,czbs=#{czbs}
            </if>
            <if test="orderno == '1'.toString and orderno != ''">
                ,orderno= null
            </if>
            <if test="ptorderno == '1'.toString and ptorderno != ''">
                ,ptorderno= null
            </if>
            <if test="sfje == '1'.toString and sfje != ''">
                ,sfje = null
            </if>
            <if test="czbs == '0'.toString and czbs != ''">
                ,czbs= null
            </if>
            <if test="zffs == '1'.toString and zffs != ''">
                ,zffs= null
            </if>
            <if test="fphm != null and fphm != ''">
                ,fphm=#{fphm}
            </if>
            <if test="imgurl != null and imgurl != ''">
                ,imgurl=#{imgurl}
            </if>
            <if test="pdfurl != null and pdfurl != ''">
                ,pdfurl=#{pdfurl}
            </if>
            <if test="orderno != null and orderno != '' and orderno != '1'.toString">
                ,orderno=#{orderno}
            </if>
            <if test="kpbj != null and kpbj != ''">
                ,kpbj=#{kpbj}
            </if>
            <if test="tkcgrq != null and tkcgrq != ''">
                ,tkcgrq=LOCALTIMESTAMP
            </if>
            <if test="refundno != null and refundno != ''">
                ,refundno=#{refundno},tkrq = LOCALTIMESTAMP
            </if>
            <if test="zffs != null and zffs != '' and zffs != '1'.toString">
                ,zffs=#{zffs}
            </if>
            <if test="ptorderno != null and ptorderno != '' and ptorderno != '1'.toString">
                ,ptorderno=#{ptorderno}
            </if>
            <if test="sfje != null and sfje != '' and sfje != '1'.toString">
                ,sfje=cast(#{sfje} as numeric)
            </if>
            <if test="fkbj != null and fkbj != ''">
                ,fkbj=#{fkbj}
            </if>
            <if test="fkbj != null and fkbj != '' and fkbj=='1'.toString">
                ,fkrq = LOCALTIMESTAMP
            </if>
            <if test="scbj != null and scbj != ''">
                ,scbj = #{scbj},scsj = LOCALTIMESTAMP
            </if>
        </set>
        <where>
            fzjcid=#{fzjcid}
        </where>
    </update>
    <!-- 更新分子检测信息表 -->
    <update id="updateConfirm" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            xgry=#{xgry}
            <if test="cjry != null and cjry != ''">
                ,cjry=#{cjry}
            </if>
            <if test="cjsj != null and cjsj != ''">
                ,cjsj=cast(#{cjsj} as timestamp)
            </if>
            <if test="sysj != null and sysj != ''">
                ,sysj=cast(#{sysj} as timestamp)
            </if>
            <if test="sfsy != null and sfsy != ''">
                ,sfsy=#{sfsy}
            </if>
            <if test="ybbh != null and ybbh != ''">
                ,ybbh=#{ybbh}
            </if>
            <if test="bbzbh != null and bbzbh != ''">
                ,bbzbh=#{bbzbh}
            </if>
            <if test="wybh != null and wybh != ''">
                ,wybh=#{wybh}
            </if>
            <if test="nbbh != null and nbbh != ''">
                ,nbbh=#{nbbh}
            </if>
            <if test="tw != null and tw != ''">
                ,tw=#{tw}
            </if>
            <if test="zffs != null and zffs != ''">
                ,zffs=#{zffs}
            </if>
            <if test="yblx != null and yblx != ''">
                ,yblx=#{yblx}
            </if>
            <if test="yyjcrq != null and yyjcrq != ''">
                ,yyjcrq=cast(#{yyjcrq} as TIMESTAMP)
            </if>
            <if test="jcxmid != null and jcxmid != ''">
                ,jcxmid=#{jcxmid}
            </if>
            <if test="jcxmmc != null and jcxmmc != ''">
                ,jcxmmc=#{jcxmmc}
            </if>
            <if test="cyd != null and cyd != ''">
                ,cyd=#{cyd}
            </if>
            <if test="ks != null and ks != ''">
                ,ks=#{ks}
            </if>
            <if test="sjdw != null and sjdw != ''">
                ,sjdw=#{sjdw}
            </if>
            <if test="sjdwmc != null and sjdwmc != ''">
                ,sjdwmc=#{sjdwmc}
            </if>
            <if test="qtks != null and qtks != ''">
                ,qtks=#{qtks}
            </if>
            <if test="jcdw != null and jcdw != ''">
                ,jcdw=#{jcdw}
            </if>
            <if test="bgrq != null and bgrq != ''">
                ,bgrq=cast(#{bgrq} as timestamp)
            </if>
            <if test="zt != null and zt != ''">
                ,zt=#{zt}
            </if>
            <if test="qrry != null and qrry != ''">
                ,qrry=#{qrry}
            </if>
            <if test="qrsj != null and qrsj != ''">
                ,qrsj=cast(#{qrsj} as timestamp )
            </if>
            <if test="jcdxlx != null and jcdxlx != ''">
                ,jcdxlx = #{jcdxlx}
            </if>
            <if test="ypmc != null and ypmc != ''">
                ,ypmc = #{ypmc}
            </if>
            <if test="sccj != null and sccj != ''">
                ,sccj = #{sccj}
            </if>
            <if test="scpc != null and scpc != ''">
                ,scpc = #{scpc}
            </if>
            <if test="scd != null and scd != ''">
                ,scd = #{scd}
            </if>
        </set>
        <where>
            fzjcid=#{fzjcid}
        </where>
    </update>

    <!-- 批量更新分子检测信息表 -->
    <update id="updateBatchConfirm" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            xgry=#{xgry},xgsj=LOCALTIMESTAMP
            <if test="cjry != null and cjry != ''">
                ,cjry=#{cjry}
            </if>
            <if test="cjsj != null and cjsj != ''">
                ,cjsj=cast(#{cjsj} as timestamp)
            </if>
            <if test="sysj != null and sysj != ''">
                ,sysj=cast(#{sysj} as timestamp)
            </if>
            <if test="syry != null and syry != ''">
                ,syry=#{syry}
            </if>
            <if test="sfsy != null and sfsy != ''">
                ,sfsy=#{sfsy}
            </if>
            <if test="ybbh != null and ybbh != ''">
                ,ybbh=#{ybbh}
            </if>
            <if test="wybh != null and wybh != ''">
                ,wybh=#{wybh}
            </if>
            <if test="nbbh != null and nbbh != ''">
                ,nbbh=#{nbbh}
            </if>
            <if test="tw != null and tw != ''">
                ,tw=#{tw}
            </if>
            <if test="zffs != null and zffs != ''">
                ,zffs=#{zffs}
            </if>
            <if test="yblx != null and yblx != ''">
                ,yblx=#{yblx}
            </if>
            <if test="yyjcrq != null and yyjcrq != ''">
                ,yyjcrq=cast(#{yyjcrq} as TIMESTAMP)
            </if>
            <if test="jcxmid != null and jcxmid != ''">
                ,jcxmid=#{jcxmid}
            </if>
            <if test="jcxmmc != null and jcxmmc != ''">
                ,jcxmmc=#{jcxmmc}
            </if>
            <if test="cyd != null and cyd != ''">
                ,cyd=#{cyd}
            </if>
            <if test="ks != null and ks != ''">
                ,ks=#{ks}
            </if>
            <if test="sjdw != null and sjdw != ''">
                ,sjdw=#{sjdw}
            </if>
            <if test="sjdwmc != null and sjdwmc != ''">
                ,sjdwmc=#{sjdwmc}
            </if>
            <if test="qtks != null and qtks != ''">
                ,qtks=#{qtks}
            </if>
            <if test="jcdw != null and jcdw != ''">
                ,jcdw=#{jcdw}
            </if>
            <if test="bgrq != null and bgrq != ''">
                ,bgrq=cast(#{bgrq} as timestamp)
            </if>
            <if test="zt != null and zt != ''">
                ,zt=#{zt}
            </if>
            <if test="qrry != null and qrry != ''">
                ,qrry=#{qrry}
            </if>
            <if test="qrsj != null and qrsj != ''">
                ,qrsj=cast(#{qrsj} as timestamp )
            </if>
            <if test="jcdxlx != null and jcdxlx != ''">
                ,jcdxlx = #{jcdxlx}
            </if>
            <if test="ypmc != null and ypmc != ''">
                ,ypmc = #{ypmc}
            </if>
            <if test="sccj != null and sccj != ''">
                ,sccj = #{sccj}
            </if>
            <if test="scpc != null and scpc != ''">
                ,scpc = #{scpc}
            </if>
            <if test="scd != null and scd != ''">
                ,scd = #{scd}
            </if>
        </set>
        <where>
            fzjcid in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
    <insert id="insertDto" parameterType="FzjcxxDto">
        insert into igams_fzjcxx (fzjcid
        <if test="hzid != null and hzid != ''">
            ,hzid
        </if>
        <if test="tw != null and tw != ''">
            ,tw
        </if>
        <if test="ybbh != null and ybbh != ''">
            ,ybbh
        </if>
        <if test="bbzbh != null and bbzbh != ''">
            ,bbzbh
        </if>
        <if test="wybh != null and wybh != ''">
            ,wybh
        </if>
        <if test="nbbh != null and nbbh != ''">
            ,nbbh
        </if>
        <if test="yblx != null and yblx != ''">
            ,yblx
        </if>
        <if test="yyrq != null and yyrq != ''">
            ,yyrq
        </if>
        <if test="yyjcrq != null and yyjcrq != ''">
            ,yyjcrq
        </if>
        <if test="jcxmid != null and jcxmid != ''">
            ,jcxmid
        </if>
        <if test="jcxmmc != null and jcxmmc != ''">
            ,jcxmmc
        </if>
        <if test="cyd != null and cyd != ''">
            ,cyd
        </if>
        <if test="ks != null and ks != ''">
            ,ks
        </if>
        <if test="sjdw != null and sjdw != ''">
            ,sjdw
        </if>
        <if test="sjdwmc != null and sjdwmc != ''">
            ,sjdwmc
        </if>
        <if test="qtks != null and qtks != ''">
            ,qtks
        </if>
        <if test="jcdw != null and jcdw != ''">
            ,jcdw
        </if>
        <if test="jcdxlx != null and jcdxlx != ''">
            ,jcdxlx
        </if>
        <if test="ypmc != null and ypmc != ''">
            ,ypmc
        </if>
        <if test="sccj != null and sccj != ''">
            ,sccj
        </if>
        <if test="scpc != null and scpc != ''">
            ,scpc
        </if>
        <if test="scd != null and scd != ''">
            ,scd
        </if>
	<if test="fkje != null and fkje != ''">
            ,fkje
        </if>
        <if test="pt != null and pt != ''">
            ,pt
        </if>
        <if test="bgrq != null and bgrq != ''">
            ,bgrq
        </if>
        ,lrry,lrsj,scbj,cjry,cjsj,zt,kpbj,fkbj) values(#{fzjcid}
        <if test="hzid != null and hzid != ''">
            ,#{hzid}
        </if>
        <if test="tw != null and tw != ''">
            ,#{tw}
        </if>
        <if test="ybbh != null and ybbh != ''">
            ,#{ybbh}
        </if>
        <if test="bbzbh != null and bbzbh != ''">
            ,#{bbzbh}
        </if>
        <if test="wybh != null and wybh != ''">
            ,#{wybh}
        </if>
        <if test="nbbh != null and nbbh != ''">
            ,#{nbbh}
        </if>
        <if test="yblx != null and yblx != ''">
            ,#{yblx}
        </if>
        <if test="yyrq != null and yyrq != ''">
            ,cast(#{yyrq} as TIMESTAMP)
        </if>
        <if test="yyjcrq != null and yyjcrq != ''">
            ,cast(#{yyjcrq} as TIMESTAMP)
        </if>
        <if test="jcxmid != null and jcxmid != ''">
            ,#{jcxmid}
        </if>
        <if test="jcxmmc != null and jcxmmc != ''">
            ,#{jcxmmc}
        </if>
        <if test="cyd != null and cyd != ''">
            ,#{cyd}
        </if>
        <if test="ks != null and ks != ''">
            ,#{ks}
        </if>
        <if test="sjdw != null and sjdw != ''">
            ,#{sjdw}
        </if>
        <if test="sjdwmc != null and sjdwmc != ''">
            ,#{sjdwmc}
        </if>
        <if test="qtks != null and qtks != ''">
            ,#{qtks}
        </if>
        <if test="jcdw != null and jcdw != ''">
            ,#{jcdw}
        </if>
        <if test="jcdxlx != null and jcdxlx != ''">
            ,#{jcdxlx}
        </if>
        <if test="ypmc != null and ypmc != ''">
            ,#{ypmc}
        </if>
        <if test="sccj != null and sccj != ''">
            ,#{sccj}
        </if>
        <if test="scpc != null and scpc != ''">
            ,#{scpc}
        </if>
        <if test="scd != null and scd != ''">
            ,#{scd}
        </if>
        <if test="fkje != null and fkje != ''">
            ,cast(#{fkje} as numeric)
        </if>
        <if test="pt != null and pt != ''">
            ,#{pt}
        </if>
        <if test="bgrq != null and bgrq != ''">
            ,cast(#{bgrq} as TIMESTAMP)
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0',#{cjry},cast(#{cjsj} as timestamp ),'00','0','0' )
    </insert>
        <select id="getNbbhSerial" parameterType="String" resultType="String">
        SELECT   lpad(cast((CAST(coalesce(MAX(substring(nbbh,7)),'0') AS numeric) + 1) as VARCHAR), 5, '0') serial
        FROM igams_fzjcxx
        <where>
            scbj = '0' AND nbbh like #{prefix}||'%' and jclx=#{jclx}
        </where>
    </select>
     <!--获取新冠报告-->
    <select id="getFzjcxxByybbh" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select fzjcxx.fzjcid,fzjcxx.hzid,hzxx.xm,case hzxx.xb WHEN '1' THEN '男' WHEN '2' THEN '女' ELSE '' END xb,
        hzxx.sj,hzxx.nl,fzjcxx.jcxmmc,yblx_jcsj.csmc yblx,fzjcxx.cjsj,fzjcxx.sfjs,xtyh.zsxm cjryxm,fzjcxx.ybbh,fzjcxx.jcjgmc,jcdw.csmc jcdwmc,fzjcxx.jy
        from igams_fzjcxx fzjcxx
        left join igams_hzxx hzxx on hzxx.hzid = fzjcxx.hzid
        left join matridx_jcsj yblx_jcsj on yblx_jcsj.csid=fzjcxx.yblx
        left join matridx_xtyh xtyh on xtyh.yhid=fzjcxx.cjry
        left join matridx_jcsj jcdw on jcdw.csid=fzjcxx.jcdw
        <where>
            fzjcxx.scbj='0' and fzjcxx.jclx=#{jclx}
            <if test="ybbh != null and ybbh != ''">
                and fzjcxx.ybbh=#{ybbh}
            </if>
            <if test="fzjcid != null and fzjcid != ''">
                and fzjcxx.fzjcid=#{fzjcid}
            </if>
        </where>
    </select>
    <select id="getFzjcid" resultType="String" parameterType="FzjcxxDto">
        select fzjcid
        from igams_fzjcxx
        where  scbj='0' and wxid=#{wxid} and to_char(bgrq,'YYYY-MM-dd')=#{bgrq}
    </select>
    <!-- 通过wxid获取信息 -->
    <select id="getDtoListByWxid" parameterType="String" resultType="FzjcxxDto">
        select fzjcid
        from igams_fzjcxx fzjcxx
        left join igams_hzxx hzxx on hzxx.hzid = fzjcxx.hzid and hzxx.scbj != '1'
        left join igams_wxbdgl wxbdgl on wxbdgl.wxid = fzjcxx.wxid and hzxx.sj = wxbdgl.sjh
        <where>
            fzjcxx.scbj != '1'and (fzjcxx.wxid = #{wxid} or fzjcxx.lrry = #{wxid}) and fzjcxx.jclx=#{jclx}
        </where>
    </select>
    <update id="UpdateSfqrById" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            qrry=#{qrry},qrsj =  LOCALTIMESTAMP
        </set>
        <where>
            fzjcid = #{fzjcid}
        </where>
    </update>

    <update id="updateJcjg" parameterType="FzjcxxDto">
        update igams_fzjcxx set jcjgmc=#{jcjgmc} where fzjcid in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="getDtoList" parameterType="FzjcxxDto" resultType="FzjcxxDto">
        select fzjcxx.fzjcid,fzjcxx.hzid,hzxx.xm,case hzxx.xb WHEN '1' THEN '男' WHEN '2' THEN '女' ELSE '' END xb,fzjcxx.nbbh,fzjcxx.syh,
        hzxx.sj,hzxx.nl,fzjcxx.jcxmmc,yblx_jcsj.csmc yblx,to_char(fzjcxx.cjsj,'yyyy-MM-dd HH24:mi') cjsj,fzjcxx.sfjs,xtyh.zsxm cjryxm,fzjcxx.ybbh,fzjcxx.jcjgmc,jcdw.csmc jcdwmc,fzjcxx.jy
        from igams_fzjcxx fzjcxx
        left join igams_hzxx hzxx on hzxx.hzid = fzjcxx.hzid
        left join matridx_jcsj yblx_jcsj on yblx_jcsj.csid=fzjcxx.yblx
        left join matridx_xtyh xtyh on xtyh.yhid=fzjcxx.cjry
        left join matridx_jcsj jcdw on jcdw.csid=fzjcxx.jcdw
        <where>
            fzjcxx.scbj!='1' and fzjcxx.jclx=#{jclx} and fzjcid in
            <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <update id="UpdateSfqrByYbbh" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            qrry=#{qrry},qrsj = cast( #{qrsj} as timestamp )
        </set>
        <where>
            ybbh like #{ybbh}
        </where>
    </update>
    <update id="updateList" parameterType="List">
        with recursive t (fzjcid,fkbj,fkje,sfje,fkrq,ptorderno,xgsj) as (
        select tmp.fzjcid,tmp.fkbj,tmp.fkje,tmp.sfje,tmp.fkrq,tmp.ptorderno,tmp.xgsj from
        <foreach collection="list" item="item" index="index" separator=" union all" open=" (" close=") tmp">
            select
            #{item.fzjcid} fzjcid,#{item.fkbj} fkbj,cast(#{item.fkje} as NUMERIC ) fkje,cast(#{item.sfje} as NUMERIC ) sfje,#{item.ptorderno} ptorderno,cast(#{item.fkrq} as TIMESTAMP) fkrq,cast(#{item.xgsj} as TIMESTAMP) xgsj
        </foreach>
        left outer join igams_fzjcxx fzjc on fzjc.fzjcid = tmp.fzjcid
        where fzjc.fzjcid is not null and ((fzjc.xgsj is null and tmp.xgsj > fzjc.lrsj )
        or (fzjc.xgsj is not null and tmp.xgsj > fzjc.xgsj) )
        )
        update igams_fzjcxx fzjcxx set fkbj=(select fkbj from t where fzjcid=fzjcxx.fzjcid),
        fkje=(select fkje from t where fzjcid=fzjcxx.fzjcid),sfje=(select sfje from t where fzjcid=fzjcxx.fzjcid),
        ptorderno=(select ptorderno from t where fzjcid=fzjcxx.fzjcid),
        fkrq=(select fkrq from t where fzjcid=fzjcxx.fzjcid),
        xgsj=(select xgsj from t where fzjcid=fzjcxx.fzjcid)
        where fzjcxx.fzjcid in (
        select fzjcid from t
        )
    </update>

    <update id="updateAliOrder" parameterType="FzjcxxDto">
        update igams_fzjcxx
        <set>
            xgsj=LOCALTIMESTAMP
            <if test="ptorderno != null and ptorderno != ''">
                ,ptorderno=#{ptorderno}
            </if>
            <if test="sfje != null and sfje != ''">
                ,sfje=cast(#{sfje} as numeric)
            </if>
            <if test="fkje != null and fkje != ''">
                ,fkje=cast(#{fkje} as numeric)
            </if>
            <if test="fkbj != null and fkbj != ''">
                ,fkbj=#{fkbj}
            </if>
            <if test="fkrq != null and fkrq != ''">
                ,fkrq=cast(#{fkrq} as TIMESTAMP)
            </if>
        </set>
        <where>
            fzjcid=#{fzjcid}
        </where>
    </update>

    <update id="callbackFzjcxx" parameterType="FzjcxxDto">
        update igams_fzjcxx set ybbh=null,bbzbh=null,cjsj=null,cjry=null,jcdw=null,sjdw=null,cyd=null,wybh=null
        where fzjcid=#{fzjcid}
    </update>

    <update id="updateBgwcsj" parameterType="FzjcxxDto">
        update igams_fzjcxx set bgwcsj=cast(#{bgwcsj} as timestamp )
        where fzjcid=#{fzjcid}
    </update>
</mapper>
