<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/warehouse/outDepot/outDepot_auditList.js'}"></script>
</head>
<body>
<div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
    <form id="outDepotAudit_formAudit">
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <div class="row">
            <div class="pull-left">
                <ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="outDepotAudit_audit_ul">
                    <li  class="nav-item" >
                        <a  class="nav-link active" name="tabBlock[outDepotAuditDiv]" href="#outDepotAudit_auditing" role="tab" data-bs-toggle="tab">待审核的借用信息</a>
                    </li>
                    <li  class="nav-item" >
                        <a  class="nav-link" name="tabBlock[outDepotAuditDiv]" href="#outDepotAudit_audited" role="tab" data-bs-toggle="tab">审核记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="row padding-l15 padding-r15">
        <div class="main_content tab-content">
            <div role="tabpanel" class="tab-pane active padding-10" id="outDepotAudit_auditing" style="border:1px solid #eee">
                <form id="outDepotAudit_audit_formSearch" class="form-horizontal form-inline">

                    <!-- <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}"> -->
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件&nbsp; &nbsp;</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="outDepotAudit_select" id="outDepotAudit_select" class="form-control chosen-select" style="height:34px;">
                                        <option value="0">全部</option>
                                        <option value="1">出库单号</option>
                                        <option value="2">出库名称</option>
                                        <option value="3">出库类别</option>
                                        <option value="4">领料单号</option>
                                    </select>
                                    <input id="outDepotAudit_input" name="outDepotAudit_input" class="form-control" placeholder="模糊匹配"
                                           onkeydown="if(event.keyCode==13) {searchMaterial_audit_Result(true); return false;}"/>
                                </div>
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                    <div th:include="common/btn/ancz.html"></div>
                    <table id="outDepotAudit_auditing_list" class="table table-hover table-bordered table-hidden"></table>

                </form>
            </div>
            <div role="tabpanel" class="tab-pane padding-10" id="outDepotAudit_audited" style="border:1px solid #eee">
                <form id="outDepotAudit_audited_formSearch" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="outDepotAudit_select" id="outDepotAudit_select" class="form-control chosen-select" style="height:34px;">
                                        <option value="0">全部</option>
                                        <option value="1">出库单号</option>
                                        <option value="2">出库名称</option>
                                        <option value="3">出库类别</option>
                                        <option value="4">领料单号</option>
                                    </select>
                                    <input id="outDepotAudit_input" name="outDepotAudit_input" class="form-control" placeholder="模糊匹配"
                                           onkeydown="if(event.keyCode==13) {searchMaterial_audited_Result(true); return false;}"/>
                                </div>
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                    <div id="toolbar" class="btn-group">
                        <button class="btn btn-default" type="button" id="btn_cancelAudit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消审批</button>
                    </div>
                    <table id="outDepotAudit_audited_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>