<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.storehouse.dao.post.ICkjgxxDao" >

    <select id="getDtoList" parameterType="CkjgxxDto" resultType="CkjgxxDto">
        select ckjgxx.ckjgid,ckjgxx.ckid,ckjgxx.jgid,jgxx.jgmc
        from igams_ckjgxx ckjgxx
        left join matridx_jgxx jgxx on jgxx.jgid = ckjgxx.jgid and jgxx.scbj='0'
        <where>
            ckjgxx.ckid = #{ckid}
        </where>
    </select>

    <delete id="delete" parameterType="CkjgxxDto">
        delete from igams_ckjgxx where ckid=#{ckid}
    </delete>

    <insert id="insertList" parameterType="list">
        <foreach collection="list" open="" close="" item="item" index="index" separator=";">
            insert into igams_ckjgxx (ckjgid, ckid, jgid) VALUES
            (#{item.ckjgid},#{item.ckid},#{item.jgid})
        </foreach>
    </insert>

</mapper>
