<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matridx.igams.storehouse.dao.post.IKhglDao">
	<!-- 查询机构信息 -->
	<select id="getKhglInfoByKhdm" resultType="KhglDto" parameterType="KhglDto">
		select khid,khdm,khmc,khjc
		from igams_khgl khgl
		<where>
			khgl.scbj='0' and khgl.khdm = #{khdm}
		</where>
	</select>

	<!-- 查询机构列表 -->
	<select id="getPagedDtoList" parameterType="KhglDto" resultType="KhglDto">
		select khid,khdm,khmc,khjc,dh,sf,dqmc
		from igams_khgl khgl
		<where>
			khgl.scbj='0'
			<if test="khdm !=null and khdm != ''">
				and khgl.khdm like '%'||#{khdm}||'%'
			</if>
			<if test="khjc !=null and khjc != ''">
				and khgl.khjc like '%'||#{khjc}||'%'
			</if>
			<if test="khmc !=null and khmc != ''">
				and khgl.khmc like '%'||#{khmc}||'%'
			</if>
		</where>
	</select>
</mapper>