<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.storehouse.dao.post.ISbtkDao" >
    <insert id="insert" parameterType="SbtkDto">
        insert into igams_sbtk(sbtkid,sbysid
        <if test="sqr != null and sqr != ''">
            ,sqr
        </if>
        <if test="sqbm != null and sqbm != ''">
            ,sqbm
        </if>
        <if test="sqrq != null and sqrq != ''">
            ,sqrq
        </if>
        <if test="zt != null and zt != ''">
            ,zt
        </if>
        <if test="yy != null and yy != ''">
            ,yy
        </if>
        ,lrry,lrsj,scbj
        )
        values(#{sbtkid},#{sbysid}
        <if test="sqr != null and sqr != ''">
            ,#{sqr}
        </if>
        <if test="sqbm != null and sqbm != ''">
            ,#{sqbm}
        </if>
        <if test="sqrq != null and sqrq != ''">
            ,cast(#{sqrq} as date )
        </if>
        <if test="zt != null and zt != ''">
            ,#{zt}
        </if>
        <if test="yy != null and yy != ''">
            ,#{yy}
        </if>
        ,#{lrry},LOCALTIMESTAMP,'0'
        )
    </insert>
    <update id="update" parameterType="SbtkDto">
        update igams_sbtk set
        <if test="sqrq != null and sqrq != ''">
            sqrq = cast(#{sqrq} as date),
        </if>
        <if test="sqr != null and sqr != ''">
            sqr=#{sqr},
        </if>
        <if test="sqbm != null and sqbm != ''">
            sqbm=#{sqbm},
        </if>
        <if test="zt != null and zt != ''">
            zt = #{zt},
        </if>
        <if test="yy != null and yy != ''">
            yy = #{yy},
        </if>
        xgry = #{xgry},
        xgsj = LOCALTIMESTAMP
        where sbtkid = #{sbtkid}
    </update>
    <select id="getDtoById" parameterType="String" resultType="SbtkDto">
        SELECT
            sbtk.sbtkid,sbtk.sbysid,sbtk.sqr,sbtk.sqbm,sbtk.sqrq,sbtk.yy,sbys.sbbh,sbys.ggxh,sbys.sbmc,
            sbys.xlh,sbys.sydd,jgxx.jgmc sqbmmc,xtyh.zsxm sqrmc,
            sbys.sccjlxfs,sybm.jgmc xsybmmc,sbys.sblx,sblx.csmc sblxmc,
            sbys.xsyr,syry.zsxm syrymc,sbys.bmsbfzr,bmsbfzr.zsxm bmsbfzrmc,sbys.gzsj,sbys.sccj,
            glry.zsxm glrymc,sbys.gdzcbh,sbtk.zt,sbys.sbccbh,hwxx.wlid,sbys.sbzt,sbys.ysbzt
        FROM
            igams_sbtk sbtk
                LEFT JOIN igams_sbys sbys on sbys.sbysid = sbtk.sbysid
                LEFT JOIN igams_hwxx hwxx on hwxx.sbysid = sbys.sbysid AND hwxx.lrsj = (
                SELECT MAX(lrsj)
                FROM igams_hwxx
                WHERE scbj ='0' and sbysid = sbys.sbysid
                )
                LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbtk.sqr
                LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = sbtk.sqbm
                left join matridx_jcsj sblx on sblx.csid=sbys.sblx
                left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
                left join matridx_xtyh syry on syry.yhid=sbys.xsyr
                left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
                left join matridx_xtyh glry on glry.yhid=sbys.glry
        WHERE sbtk.sbtkid = #{sbtkid}
    </select>
    <select id="getDtoList" parameterType="SbtkDto" resultType="SbtkDto">
        SELECT
            sbtk.sbtkid,sbtk.sbysid,sbtk.sqr,sbtk.sqbm,sbtk.sqrq,sbtk.yy,sbys.sbbh,sbys.ggxh,sbys.sbmc,
            sbys.xlh,sbys.sydd,jgxx.jgmc sqbmmc,xtyh.zsxm sqrmc,
            sbys.sccjlxfs,sybm.jgmc xsybmmc,sbys.sblx,sblx.csmc sblxmc,
            sbys.xsyr,syry.zsxm syrymc,sbys.bmsbfzr,bmsbfzr.zsxm bmsbfzrmc,sbys.gzsj,sbys.sccj,
            glry.zsxm glrymc,sbys.gdzcbh,sbtk.zt,sbys.sbccbh,hwxx.wlid,sbys.sbzt,sbys.ysbzt
        FROM
            igams_sbtk sbtk
                LEFT JOIN igams_sbys sbys on sbys.sbysid = sbtk.sbysid
                LEFT JOIN igams_hwxx hwxx on hwxx.sbysid = sbys.sbysid AND hwxx.lrsj = (
                SELECT MAX(lrsj)
                FROM igams_hwxx
                WHERE scbj ='0' and sbysid = sbys.sbysid
                )
                LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbtk.sqr
                LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = sbtk.sqbm
                left join matridx_jcsj sblx on sblx.csid=sbys.sblx
                left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
                left join matridx_xtyh syry on syry.yhid=sbys.xsyr
                left join matridx_jgxx sybm on sybm.jgid=sbys.xsybm
                left join matridx_xtyh glry on glry.yhid=sbys.glry
        WHERE sbtk.scbj = '0'
        <if test="ids != null and ids.size() > 0">
            AND sbtk.sbtkid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getDepartmentList"  resultType="SbtkDto">
        SELECT
        sbys.xsybm,
        xsybm.jgmc xsybmmc
        FROM
        igams_sbtk sbtk
        left join igams_sbys sbys on sbys.sbysid=sbtk.sbysid and sbys.scbj='0'
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        <where>
            sbtk.scbj='0' and sbys.xsybm is not null and xsybm.jgmc is not null
            group by sbys.xsybm,xsybm.jgmc
        </where>
    </select>
    <select id="getGlryList"  resultType="SbtkDto">
        select glry.yhid glry,glry.zsxm glrymc
        from igams_sbtk sbtk
        left join igams_sbys sbys on sbys.sbysid=sbtk.sbysid and sbys.scbj='0'
        left join matridx_xtyh glry on glry.yhid=sbys.glry and glry.scbj='0'
        <where>
            sbtk.scbj='0' and glry.zsxm is not null
            group by glry.yhid,glry.zsxm
        </where>
    </select>
    <select id="getPagedDtoList" parameterType="SbtkDto" resultType="SbtkDto">
        SELECT
        sbtk.sbtkid,sbtk.sbysid,sbtk.sqr,sbtk.sqbm,sbtk.sqrq,sbtk.yy,sbys.sbbh,sbys.ggxh,sbys.sbmc,
        sbys.xlh,sbys.sydd,jgxx.jgmc sqbmmc,xtyh.zsxm sqrmc,
        sbys.sccjlxfs,xsybm.jgmc xsybmmc,sbys.sblx,sblx.csmc sblxmc,
        sbys.xsyr,syry.zsxm syrymc,sbys.bmsbfzr,bmsbfzr.zsxm bmsbfzrmc,sbys.gzsj,sbys.sccj,
        glry.zsxm glrymc,sbys.gdzcbh,sbtk.zt,sbys.sbccbh,hwxx.wlid
        FROM
        igams_sbtk sbtk
        LEFT JOIN igams_sbys sbys on sbys.sbysid = sbtk.sbysid
        LEFT JOIN igams_hwxx hwxx on hwxx.sbysid = sbys.sbysid AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbtk.sqr
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = sbtk.sqbm
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        WHERE sbtk.scbj ='0'
        <include refid="selectWhere"></include>
    </select>
    <sql id="selectWhere">
        <if test="entire != null and entire != ''">
            and (
            sbys.sbbh ILIKE '%'||#{entire}||'%'
            or sbys.sbmc ILIKE '%'||#{entire}||'%'
            or sbys.gdzcbh ILIKE '%' ||#{entire}||'%'
            or sbys.ggxh ILIKE '%' ||#{entire}||'%'
            or sbys.sbccbh ILIKE '%' ||#{entire}||'%'
            or sbys.xlh ILIKE '%' ||#{entire}||'%'
            or glry.zsxm ILIKE '%' ||#{entire}||'%'
            or sbys.sydd ILIKE '%' ||#{entire}||'%'
            or syry.zsxm ILIKE '%' ||#{entire}||'%'
            or bmsbfzr.zsxm ILIKE '%' ||#{entire}||'%'
            or xtyh.zsxm ILIKE '%' ||#{entire}||'%'
            or jgxx.jgmc ILIKE '%' ||#{entire}||'%'
            )
        </if>
        <if test = "sblxs != null and sblxs.length > 0 "  >
            and sbys.sblx in
            <foreach collection="sblxs" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "xsybms != null and xsybms.length > 0 "  >
            and sbys.xsybm in
            <foreach collection="xsybms" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "glrys != null and glrys.length > 0 "  >
            and sbys.glry in
            <foreach collection="glrys" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test = "zts != null and zts.length > 0 ">
            and sbtk.zt in
            <foreach collection="zts" separator="," open="(" close=") " item="item" index="index">
                #{item}
            </foreach>
        </if>
        <if test="sqrqstart != null and sqrqstart != ''">
            and to_char(sbtk.sqrq,'YYYY-MM-dd') &gt;= #{sqrqstart}
        </if>
        <if test="sqrqend != null and sqrqend != ''">
            and to_char(sbtk.sqrq,'YYYY-MM-dd') &lt;= #{sqrqend}
        </if>
        <if test="sqbm != null and sqbm != ''">
            and sbtk.sqbm = #{sqbm}
        </if>
        <if test="sqr != null and sqr != ''">
            and sbtk.sqr = #{sqr}
        </if>
        <if test="sbbh != null and sbbh != ''">
            and sbys.sbbh ILIKE '%' ||#{sbbh}||'%'
        </if>
        <if test="sbmc != null and sbmc != ''">
            and sbys.sbmc ILIKE '%' ||#{sbmc}||'%'
        </if>
        <if test="gdzcbh != null and gdzcbh != ''">
            and sbys.gdzcbh ILIKE '%' ||#{gdzcbh}||'%'
        </if>
        <if test="ggxh != null and ggxh != ''">
            and sbys.ggxh ILIKE '%' ||#{ggxh}||'%'
        </if>
        <if test="sbccbh != null and sbccbh != ''">
            and sbys.sbccbh ILIKE '%' ||#{sbccbh}||'%'
        </if>
        <if test="xlh != null and xlh != ''">
            and sbys.xlh ILIKE '%' ||#{xlh}||'%'
        </if>
        <if test="glrymc != null and glrymc != ''">
            and glry.zsxm ILIKE '%' ||#{glrymc}||'%'
        </if>
        <if test="sydd != null and sydd != ''">
            and sbys.sydd ILIKE '%' ||#{sydd}||'%'
        </if>
        <if test="syrymc != null and syrymc != ''">
            and syry.zsxm ILIKE '%' ||#{syrymc}||'%'
        </if>
        <if test="bmsbfzrmc != null and bmsbfzrmc != ''">
            and bmsbfzr.zsxm ILIKE '%' ||#{bmsbfzrmc}||'%'
        </if>
        <if test="sqrmc != null and sqrmc != ''">
            and xtyh.zsxm ILIKE '%' ||#{sqrmc}||'%'
        </if>
        <if test="sqbmmc != null and sqbmmc != ''">
            and jgxx.jgmc ILIKE '%' ||#{sqbmmc}||'%'
        </if>
    </sql>
    <select id="getPagedAuditStockreturnDevice" parameterType="SbtkDto" resultType="SbtkDto">
        SELECT
        sbtk.sbtkid,sbtk.sbysid,sbtk.sqr,sbtk.sqbm,sbtk.sqrq,sbtk.yy,sbys.sbbh,sbys.ggxh,sbys.sbmc,
        sbys.xlh,sbys.sydd,jgxx.jgmc sqbmmc,xtyh.zsxm sqrmc,
        sbys.sccjlxfs,xsybm.jgmc xsybmmc,sbys.sblx,sblx.csmc sblxmc,
        sbys.xsyr,syry.zsxm syrymc,sbys.bmsbfzr,bmsbfzr.zsxm bmsbfzrmc,sbys.gzsj,sbys.sccj,
        glry.zsxm glrymc,sbys.gdzcbh,sbtk.zt,sbys.sbccbh,hwxx.wlid
        FROM
        igams_sbtk sbtk
        LEFT JOIN igams_sbys sbys on sbys.sbysid = sbtk.sbysid
        LEFT JOIN igams_hwxx hwxx on hwxx.sbysid = sbys.sbysid AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbtk.sqr
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = sbtk.sqbm
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        WHERE sbtk.scbj ='0'
        <include refid="selectWhere"></include>
    </select>
    <select id="getAuditListStockreturnDevice" resultType="SbtkDto" parameterType="List">
        select
        sbtk.sbtkid,sbtk.sbysid,sbtk.sqr,sbtk.sqbm,sbtk.sqrq,sbtk.yy,sbys.sbbh,sbys.ggxh,sbys.sbmc,
        sbys.xlh,sbys.sydd,jgxx.jgmc sqbmmc,xtyh.zsxm sqrmc,
        sbys.sccjlxfs,xsybm.jgmc xsybmmc,sbys.sblx,sblx.csmc sblxmc,
        sbys.xsyr,syry.zsxm syrymc,sbys.bmsbfzr,bmsbfzr.zsxm bmsbfzrmc,sbys.gzsj,sbys.sccj,
        glry.zsxm glrymc,sbys.gdzcbh,sbtk.zt,sbys.sbccbh,hwxx.wlid,shxx_sqsj, shxx_gwmc, shxx_sqr, shxx_lrryxm, shxx_shsj, shxx_sftg, shxx_shxxid,shxx_shyj
        from
        <foreach collection="list" separator="union" open="(" close=")" item="item" index="index">
            select #{item.sbtkid} sbtkid, #{item.shxx_shxxid} shxx_shxxid, #{item.shxx_sqsj} shxx_sqsj, #{item.sqr} shxx_sqr,
            #{item.shxx_lrryxm} shxx_lrryxm, #{item.shxx_shsj} shxx_shsj, #{item.shxx_sftg} shxx_sftg,
            #{item.shxx_gwmc} shxx_gwmc, #{item.shxx_shyj} shxx_shyj, #{index} rownum
        </foreach> tmp
        LEFT JOIN igams_sbtk sbtk on sbtk.sbtkid = tmp.sbtkid
        LEFT JOIN igams_sbys sbys on sbys.sbysid = sbtk.sbysid
        LEFT JOIN igams_hwxx hwxx on hwxx.sbysid = sbys.sbysid AND hwxx.lrsj = (
        SELECT MAX(lrsj)
        FROM igams_hwxx
        WHERE scbj ='0' and sbysid = sbys.sbysid
        )
        LEFT JOIN matridx_xtyh xtyh ON xtyh.yhid = sbtk.sqr
        LEFT JOIN matridx_jgxx jgxx ON jgxx.jgid = sbtk.sqbm
        LEFT JOIN matridx_jgxx xsybm ON xsybm.jgid = sbys.xsybm
        left join matridx_xtyh glry on glry.yhid=sbys.glry
        left join matridx_xtyh syry on syry.yhid=sbys.xsyr
        left join matridx_xtyh bmsbfzr on bmsbfzr.yhid=sbys.bmsbfzr
        left join matridx_jcsj sblx on sblx.csid=sbys.sblx
        order by tmp.rownum
    </select>
    <delete id="delete" parameterType="SbtkDto">
        update igams_sbtk set scbj ='1' , scry = #{scry}
        where sbtkid in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>
</mapper>
