<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.storehouse.dao.post.IXzdbcglDao" >
    <select id="getDtoList" parameterType="XzdbcglDto" resultType="XzdbcglDto">
        select xzkcid from
        igams_xzdbcgl
    </select>
    <insert id="insert" parameterType="XzdbcglDto">
        insert into igams_xzdbcgl(
        xzkcid,ryid,lrsj
        ) values (#{xzkcid},#{ryid},LOCALTIMESTAMP)
    </insert>
    <delete id="deleteById" parameterType="XzdbcglDto">
        delete from igams_xzdbcgl
        <where>
            <if test="xzkcid != null and xzkcid != ''">
                 xzkcid = #{xzkcid}
            </if>
        </where>
    </delete>
    <delete id="deleteList" parameterType="XzdbcglDto">

        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                delete from igams_xzdbcgl
                <where>
                    xzkcid=#{item.xzkcid} and ryid=#{item.ryid}
                </where>
            </foreach>
        </if>
    </delete>
</mapper>