<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.storehouse.dao.post.IXzkcxxDao" >

    <insert id="insertList" parameterType="List">
        insert into igams_xzkcxx(xzkcid,
        kcl,
        yds,
        kwid,
        hwmc,
        hwbz
        )
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.xzkcid},cast(#{item.kcl} as numeric),cast(#{item.yds} as numeric),#{item.kwid},#{item.hwmc},#{item.hwbz}
                )
            </foreach>
        </if>
    </insert>


    <update id="updateList" parameterType="List">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                update igams_xzkcxx
                <set>
                    xzkcid=#{item.xzkcid}
                    <if test="item.kcl !=null and item.kcl !='' and item.updateFlag=='add'.toString">
                        ,kcl=COALESCE(kcl,0) + cast(#{item.kcl} as numeric)
                    </if>
                    <if test="item.kcl !=null and item.kcl !='' and item.updateFlag=='subtract'.toString">
                        ,kcl=COALESCE(kcl,0) - cast(#{item.kcl} as numeric)
                    </if>
                    <if test="item.yds !=null and item.yds !=''">
                        ,yds=cast(#{item.yds} as numeric)
                    </if>
                </set>
                <where>
                    xzkcid=#{item.xzkcid}
                </where>
            </foreach>
        </if>
    </update>
    <update id="updateListKclById" parameterType="List">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                update igams_xzkcxx
                <set>
                    xzkcid=#{item.xzkcid}
                    <if test="item.kcl !=null and item.kcl !='' ">
                        ,kcl=cast(#{item.kcl} as numeric)
                    </if>
                    <if test="item.kwid !=null and item.kwid !='' ">
                        ,kwid=#{item.kwid}
                    </if>
                    <if test="item.hwmc !=null and item.hwmc !=''">
                        ,hwmc=#{item.hwmc}
                    </if>
                    <if test="item.hwbz !=null and item.hwbz !=''">
                        ,hwbz=#{item.hwbz}
                    </if>
                </set>
                <where>
                    xzkcid=#{item.xzkcid}
                </where>
            </foreach>
        </if>
    </update>
    <update id="updateXzllDtos" parameterType="List">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                update igams_xzkcxx
                <set>
                    xzkcid=#{item.xzkcid}
                    <if test="item.kcl !=null and item.kcl !='' and item.updateFlag=='add'.toString">
                        ,kcl=COALESCE(kcl,0) + cast(#{item.kcl} as numeric)
                    </if>
                    <if test="item.kcl !=null and item.kcl !='' and item.updateFlag=='subtract'.toString">
                        ,kcl=COALESCE(kcl,0) - cast(#{item.kcl} as numeric)
                    </if>
                    <if test="item.yds !=null and item.yds !='' and item.ydsbj=='1'.toString">
                        ,yds=COALESCE(yds,0) + cast(#{item.yds} as numeric)
                    </if>
                    <if test="item.yds !=null and item.yds !='' and item.ydsbj=='0'.toString">
                        ,yds=COALESCE(yds,0) - cast(#{item.yds} as numeric)
                    </if>
                </set>
                <where>
                    xzkcid=#{item.xzkcid}
                </where>
            </foreach>
        </if>
    </update>
    <update id="updateListByIds" parameterType="List">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                update igams_xzkcxx
                <set>
                    <if test="item.kcl !=null and item.kcl !=''">
                        ,kcl=cast(#{item.kcl} as numeric) - cast(#{item.dbsl} as numeric)
                    </if>
                </set>
                <where>
                    xzkcid=#{item.xzkcid}
                </where>
            </foreach>
        </if>
    </update>

    <update id="updateListKcl" parameterType="List">
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator=";" item="item" index="index">
                update igams_xzkcxx
                <set>
                    <if test="item.kcl !=null and item.kcl !=''">
                        ,kcl=COALESCE(kcl,0) + cast(#{item.dbsl} as numeric)
                    </if>
                </set>
                <where>
                    kwid=#{item.drkw} and hwmc=#{item.hwmc} and hwbz=#{item.hwbz}
                </where>
            </foreach>
        </if>
    </update>

    <update id="updateDto" parameterType="XzkcxxDto">
        update igams_xzkcxx set
        <if test="kcl !=null and kcl != ''">
             kcl=COALESCE(kcl,0) - cast(#{dbsl} as numeric)
        </if>
        <where>
            xzkcid=#{xzkcid}
        </where>
    </update>
    <update id="update" parameterType="XzkcxxDto">
        update igams_xzkcxx set
        <if test="kcl !=null and kcl != ''">
            kcl=COALESCE(kcl,0) + cast(#{dbsl} as numeric)
        </if>
        <where>
            xzkcid=#{xzkcid}
        </where>
    </update>

    <update id="updateAqkc" parameterType="XzkcxxDto">
        update igams_xzkcxx set
        <if test="aqkc !=null and aqkc != ''">
            aqkc=cast(#{aqkc} as numeric)
        </if>
        <where>
            xzkcid=#{xzkcid}
        </where>
    </update>
    <insert id="insert" parameterType="XzkcxxDto">
        insert into igams_xzkcxx(xzkcid,
        kcl,
        yds,
        kwid,
        hwmc,
        hwbz
        )
        values(
        #{xzkcid},cast(#{kcl} as numeric),cast(#{yds} as numeric),#{kwid},#{hwmc},#{hwbz}
        )
    </insert>
    <select id="getPagedDtoList" parameterType="XzkcxxDto" resultType="XzkcxxDto">
        select xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.hwbz,xzkcxx.kcl,jcsj.csmc kw,(coalesce(xzkcxx.kcl,0) - coalesce(xzkcxx.yds,0)) klsl,xzkcxx.yds,xzkcxx.aqkc
        from igams_xzkcxx xzkcxx
        left join igams_xzrkmx xzrkmx on xzrkmx.xzkcid=xzkcxx.xzkcid
        left join matridx_jcsj jcsj on xzkcxx.kwid=jcsj.csid
        <where>
            coalesce(xzkcxx.kcl,0) &gt;=0
            <if test="entire != null and entire != ''">
                and (
                xzkcxx.hwmc ILIKE '%' ||#{entire}||'%'
                or xzkcxx.hwbz ILIKE '%' ||#{entire}||'%'
                )
            </if>
            <if test="hwmc != null and hwmc != ''">
                and xzkcxx.hwmc ILIKE '%' ||#{hwmc}||'%'
            </if>
            <if test="hwbz != null and hwbz != ''">
                and xzkcxx.hwbz ILIKE '%' ||#{hwbz}||'%'
            </if>
            <if test="kws != null and kws.length > 0">
                and xzkcxx.kwid in
                <foreach collection="kws" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="jjtss != null and jjtss.length == 1 ">
                and (
                case when '1' in
                <foreach collection="jjtss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.kcl,0) >= COALESCE(xzkcxx.aqkc,0))
                when '0' in
                <foreach collection="jjtss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.aqkc,0) > COALESCE(xzkcxx.kcl,0)) end)
            </if>
            <if test="kcsfczs != null and kcsfczs.length == 1 ">
                and (
                case when '1' in
                <foreach collection="kcsfczs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.kcl,0) &gt; 0)
                when '0' in
                <foreach collection="kcsfczs" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.kcl,0) &lt;= 0) end)
            </if>
        </where>
        group by   xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.hwbz,xzkcxx.kcl,jcsj.csmc
    </select>
    <select id="getDtoList" parameterType="XzkcxxDto" resultType="XzkcxxDto">
        select xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.hwbz,xzkcxx.kcl,jcsj.csmc kw,(coalesce(xzkcxx.kcl,0) - coalesce(xzkcxx.yds,0)) klsl,xzkcxx.yds,xzkcxx.aqkc,xzkcxx.kwid
        from igams_xzkcxx xzkcxx
        left join igams_xzrkmx xzrkmx on xzrkmx.xzkcid=xzkcxx.xzkcid
        left join matridx_jcsj jcsj on xzkcxx.kwid=jcsj.csid
        group by   xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.hwbz,xzkcxx.kcl,jcsj.csmc
    </select>
    <select id="getDto" resultType="XzkcxxDto" parameterType="XzkcxxDto">
        select xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.hwbz , xzkcxx.kcl,jcsj.csmc kw,(coalesce(xzkcxx.kcl,0) - coalesce(xzkcxx.yds,0)) klsl,xzkcxx.kwid,xzkcxx.yds,xzkcxx.aqkc,
        case when cast (xzkcxx.kcl as numeric )&gt;=cast (xzkcxx.aqkc as numeric ) then '库存充足' when  cast (xzkcxx.kcl as numeric )&lt;cast (xzkcxx.aqkc as numeric )
        then '库存不足' end jjts, case when cast (xzkcxx.kcl as numeric )&gt;0 then '库存充足' when  cast (xzkcxx.kcl as numeric )&lt;=0
        then '库存不足' end kcsfcz
        from igams_xzkcxx xzkcxx
         left join igams_xzrkmx xzrkmx on xzrkmx.xzkcid=xzkcxx.xzkcid
        left join matridx_jcsj jcsj on xzkcxx.kwid=jcsj.csid
        where xzkcxx.xzkcid=#{xzkcid}
        GROUP BY xzkcxx.xzkcid,jcsj.csmc
    </select>
    <!-- 查询当前审核过程信息 -->
    <select id="getDtoByXzkcids" parameterType="XzdbcglDto" resultType="XzkcxxDto">
        select xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.kwid,jcsj.csmc kw,xzkcxx.hwbz,xzkcxx.kcl,(coalesce(xzkcxx.kcl,0) - coalesce(xzkcxx.yds,0)) klsl,xzkcxx.yds
        from igams_xzdbcgl xzdbcgl
        left join igams_xzkcxx xzkcxx on xzkcxx.xzkcid=xzdbcgl.xzkcid
        left join matridx_jcsj jcsj on jcsj.csid=xzkcxx.kwid
    </select>
    <select id="getDtoByHwmcAndHwbz" resultType="XzkcxxDto" parameterType="XzkcxxDto">
       select xzkcid,kcl,yds,kwid,hwmc,hwbz
       from igams_xzkcxx
        <where>
        kwid=#{drkw} and hwmc=#{hwmc} and hwbz=#{hwbz}
        </where>
    </select>
    <select id="getXzkcid" parameterType="XzkcxxDto" resultType="XzkcxxDto">
        select xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.hwbz,xzkcxx.kcl,xzkcxx.kwid,jcsj.csmc kw,(coalesce(xzkcxx.kcl,0) - coalesce(xzkcxx.yds,0)) klsl,xzkcxx.yds,xzkcxx.aqkc
        from igams_xzkcxx xzkcxx
        left join igams_xzrkmx xzrkmx on xzrkmx.xzkcid=xzkcxx.xzkcid
        left join matridx_jcsj jcsj on xzkcxx.kwid=jcsj.csid
        group by   xzkcxx.xzkcid,xzkcxx.hwmc,xzkcxx.hwbz,xzkcxx.kcl,jcsj.csmc,xzkcxx.kwid
    </select>
    <select id="getXzkcxxs" parameterType="List" resultType="XzkcxxDto">
        select xzkcxx.xzkcid,xzkcxx.kcl,xzkcxx.yds,xzkcxx.kwid,xzkcxx.hwmc,xzkcxx.hwbz,xzkcxx.aqkc,kw.csmc kw
        from igams_xzkcxx xzkcxx
        left join matridx_jcsj kw on kw.csid=xzkcxx.kwid
        <where>
            xzkcxx.xzkcid in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item.xzkcid}
            </foreach>
        </where>
    </select>

    <!-- 导出 -->
    <select id="getCountForSearchExp" parameterType="XzkcxxDto"
            resultType="java.lang.Integer">
        select count(xzkcxx.xzkcid)
        from igams_xzkcxx xzkcxx
        left join matridx_jcsj jcsj on xzkcxx.kwid=jcsj.csid
        <where>
            coalesce(xzkcxx.kcl,0)>0
            <if test="entire != null and entire != ''">
                and (
                xzkcxx.hwmc ILIKE '%' ||#{entire}||'%'
                or xzkcxx.hwbz ILIKE '%' ||#{entire}||'%'
                )
            </if>
            <if test="hwmc != null and hwmc != ''">
                and xzkcxx.hwmc ILIKE '%' ||#{hwmc}||'%'
            </if>
            <if test="hwbz != null and hwbz != ''">
                and xzkcxx.hwbz ILIKE '%' ||#{hwbz}||'%'
            </if>
            <if test="kws != null and kws.length > 0">
                and xzkcxx.kwid in
                <foreach collection="kws" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="jjtss != null and jjtss.length == 1 ">
                and (
                case when '1' in
                <foreach collection="jjtss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.kcl,0) >= COALESCE(xzkcxx.aqkc,0))
                when '0' in
                <foreach collection="jjtss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.aqkc,0) > COALESCE(xzkcxx.kcl,0)) end)
            </if>
        </where>
    </select>
    <select id="getListForSearchExp" parameterType="XzkcxxDto" resultType="XzkcxxDto">
        select xzkcxx.xzkcid ${sqlParam}
        from igams_xzkcxx xzkcxx
        left join matridx_jcsj jcsj on xzkcxx.kwid=jcsj.csid
        <where>
            coalesce(xzkcxx.kcl,0)>0
            <if test="entire != null and entire != ''">
                and (
                xzkcxx.hwmc ILIKE '%' ||#{entire}||'%'
                or xzkcxx.hwbz ILIKE '%' ||#{entire}||'%'
                )
            </if>
            <if test="hwmc != null and hwmc != ''">
                and xzkcxx.hwmc ILIKE '%' ||#{hwmc}||'%'
            </if>
            <if test="hwbz != null and hwbz != ''">
                and xzkcxx.hwbz ILIKE '%' ||#{hwbz}||'%'
            </if>
            <if test="kws != null and kws.length > 0">
                and xzkcxx.kwid in
                <foreach collection="kws" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="jjtss != null and jjtss.length == 1 ">
                and (
                case when '1' in
                <foreach collection="jjtss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.kcl,0) >= COALESCE(xzkcxx.aqkc,0))
                when '0' in
                <foreach collection="jjtss" separator="," open="(" close=") " item="item" index="index">
                    #{item}
                </foreach>
                then (COALESCE(xzkcxx.aqkc,0) > COALESCE(xzkcxx.kcl,0)) end)
            </if>
        </where>
        order by
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>

    <select id="getListForSelectExp" parameterType="XzkcxxDto" resultType="XzkcxxDto">
        select xzkcxx.xzkcid ${sqlParam} from (
        <foreach item="item" index="index" collection="ids"
                 separator=" union all ">
            select #{item,jdbcType=VARCHAR} xzkcid,#{index} ordernum
        </foreach>
        ) tmp
        left outer join igams_xzkcxx xzkcxx on tmp.xzkcid = xzkcxx.xzkcid
        left join matridx_jcsj jcsj on xzkcxx.kwid=jcsj.csid
        order by tmp.ordernum
    </select>
</mapper>
