<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>Insert title here</title>
    <script type="text/javascript" src="/js/wechat/recheck/recheck_extend.js?v=20240205" charset="utf-8"></script>
    <style type="text/css">
        .red {
            background: red;
        }
        .green{
            background: green;
        }
    </style>

    <!--<script type="text/javascript" src="/js/swich/bootstrap-switch.min.js"></script>-->
    <!--<script type="text/css" src="/js/swich/bootstrap-switch.min.css"></script>-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">-->
    <!--<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>-->
</head>
<body>
<form id="recheckExtend_Form"  action="/recheck/recheck/pagedataDoExtend"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content tab-content ">
        <input type="hidden" name="access_token"/>
        <input type="hidden" name="fjid" th:value="${fjsqDto.fjid}"/>
        <div role="tabpanel" class="tab-pane fade active in" id="syTab" aria-labelledby="home-tab" >
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-2 col-xs-2 control-label">
                                是否改善
                            </label>
                            <div class="col-sm-10 col-xs-10 padding_t5" id="sfgsDiv">
                                <select  id="sfgs" name="sfgs"  class="form-control chosen-select">
                                    <option value=''>--请选择--</option>
                                    <option value="1" th:selected="${fjsqDto.sfgs eq '1'}" >是</option>
                                    <option value="0" th:selected="${fjsqDto.sfgs eq '0'}" >否</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 obj-add">
                        <div class="form-group">
                            <label for="" class="col-sm-2 col-xs-2 control-label">备注：</label>
                            <div class="col-sm-10 col-xs-10">
                                <textarea id="bz" name="bz" rows="3" class="form-control" maxlength="126" th:text="${fjsqDto.bz}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>