<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <style type="text/css">
        th {
            font-weight: bold;
            text-align: center;
        }
    </style>
<body>
<form id="sampleWarehousAjaxForm" class="form-horizontal sl_all_form"
      method="post" theme="simple">
    <div class="body-content">
        <div role="tabpanel" class="tab-pane fade active in"
             id="sampleStockMaterInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                物料编码
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.wlbm}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                物料名称
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.wlmc}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                产品编号
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.ychh}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格 </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.gg}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.jldw }"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="white-space: nowrap;">
                                批&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.scph}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="white-space: nowrap;">
                                数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.sl}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="white-space: nowrap;">
                                领料单号
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.lldh}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="white-space: nowrap;">
                                留&nbsp;样&nbsp;人
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.lyry}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                留样日期
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.lrsj }"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                记录编号
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.jlbh }"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                贮存条件
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.bctj }"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                生产日期
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.scrq }"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label">
                                有效期
                            </label>
                            <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                <span th:text="${lyrkxxDto.yxq }"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>