<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
    <form id="sampleStock_formSearch" class="form-horizontal form-inline">
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" id="cxtj" class="form-control chosen-select" style="height:34px;">
                            <option value="5">全&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部</option>
                            <option value="0">物料编码</option>
                            <option value="1">物料名称</option>
                            <option value="2">产品编号</option>
                            <option value="3">批&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</option>
                            <option value="4">贮存条件</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {getSampleStockSearchData(); return false;}"/>
                    </div>
                    <div class="form-group padding-l30" style="margin-left:0px">
                        <label>生产日期</label>
                        <input id="cssjstart" name="cssjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                        <input id="cssjend" name="cssjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                    </div>
                    <div class="form-group padding-l30" style="margin-left:0px">
                        <label>有效期</label>
                        <input id="yxqstart" name="yxqstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                        <input id="yxqsjend" name="yxqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                    </div>
                    <div class="form-group padding-l30" style="margin-left:0px">
                        <label>上次观察日期</label>
                        <input id="scgcrqstart" name="scgcrqstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                        <input id="scgcrqend" name="scgcrqend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                    <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                </div>
                <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                    <span class="tit">已选条件：</span>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <ul id="sl_add_ul"></ul>
                    </div>
                </div>
                <div class="padding_t7 width100" id="searchMore" style="display: none;" >
                    <div class="tab-content sl_sel_con row" id="sl_sel_con" style="min-height:70px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
                        <div class="tab-pane active" id="tab06">
                            <div id="sflyxj_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="留样小结" >留样小结：</label>
                                    <div class="col-xs-6 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('sflyxj','0','sampleStock_formSearch');"
                                                   id="sflyxj_id_0"><span>没有留样小结</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('sflyxj','1','sampleStock_formSearch');"
                                                   id="sflyxj_id_1"><span>有留样小结</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="kczt_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="库存" >库存：</label>
                                    <div class="col-xs-6 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('kczt','0','sampleStock_formSearch');"
                                                   id="kczt_id_0"><span>没有库存</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('kczt','1','sampleStock_formSearch');"
                                                   id="kczt_id_1"><span>有库存</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="common/btn/ancz.html"></div>
        <input  type="hidden" id="sflyxj_id_tj" name="sflyxj_id_tj">
        <input  type="hidden" id="kczt_id_tj" name="kczt_id_tj">
        <table id="sampleStock_list" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/retention/sampleStock_list.js'}"></script>
</html>