<!DOCTYPE html>
<html>
<head lang="zh-cn">
<meta charset="UTF-8">
<style>
.margin_7{
			margin-top:4px;
			margin-bottom: 4px;
			height:33px;
		}
</style>
</head>
<body>
<form class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
				<div class="">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3 col-sm-3 margin_7">
								<div class="form-group">
									<label for="" class="col-sm-5 col-xs-12  control-label"> 
									         业务名称： 
									</label>
									<div class="col-sm-7 col-xs-12">
									    <div style="padding-top:6px" th:text="${ddfbsglDto.ywmc}"></div>
									</div>
								</div>
							</div>
							<!-- 
							<div class="col-md-3 col-sm-3 margin_7">
								<div class="form-group">
									<label for="" class="col-sm-5 col-xs-12  control-label"> 
									        业务类型： 
									</label>
									<div class="col-sm-7 col-xs-12">
									    <div style="padding-top:6px" th:text="${ddfbsglDto.ywlxmc}"></div>
									</div>
								</div>
							</div> -->
							
							<div class="col-md-3 col-sm-3 margin_7">
								<div class="form-group">
									<label for="" class="col-sm-5 col-xs-12  control-label"> 
									        关联单号： 
									</label>
									<div class="col-sm-7 col-xs-12">
									    <div style="padding-top:6px" th:text="${ddfbsglDto.gldh}"></div>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-3 margin_7" >
								<div class="form-group">
									<label for="" class="col-sm-5 col-xs-12  control-label"> 
									         审批结果： 
									</label>
									<div class="col-sm-7 col-xs-12">
									    <div style="padding-top:6px" th:if="${ddfbsglDto.cljg=='1'}" >正常</div>
									    <div style="padding-top:6px" th:if="${ddfbsglDto.cljg=='0'}" >异常</div>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-3 margin_7" >
								<div class="form-group">
									<label for="" class="col-sm-5 col-xs-12  control-label"> 
									         是否结束： 
									</label>
									<div class="col-sm-7 col-xs-12">
									    <div style="padding-top:6px" th:if="${ddfbsglDto.jszt=='1'}" >已结束</div>
									    <div style="padding-top:6px" th:if="${ddfbsglDto.jszt=='0'}" >未结束</div>
									</div>
								</div>
							</div>
							
							<div class="col-md-12 col-sm-12 margin_7" style="margin-top:10px;height:100%;">
								<table class="table table-hover table-bordered table-striped" >						
									<tr>
										<th>实例标题</th>
										<th>审批类型</th>
										<th>eventtype</th>
										<th>type</th>
										<th>审批人</th>
										<th>审批结果</th>
										<th>创建时间</th>
										<th>结束时间</th>
										<th>处理结果</th>
									</tr>
									<tr th:each="list: ${ddspgllist}">
										<td th:text="${list.title}"></td>		
										<td th:text="${list.splxmc}"></td>
										<td th:text="${list.eventtype}"></td>
										<td th:text="${list.type}"></td>
										<td th:text="${list.staffname}"></td>
										<td th:text="${list.result}"></td>		
										<td th:text="${list.createtime}"></td>	
										<td th:text="${list.finishtime}"></td>	
										<td th:text="${list.cljg==null?'':list.cljg=='1'?'成功':'失败'}"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
		</div>
</div>
</form>
</body>
</html>