<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
 	<form id="ddfbsgl_formSearch" class="form-horizontal form-inline">
 	<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}">
 		<div class="panel panel-default">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
			 	<div class="">
					<div class="form-group padding_l10">
		            	<select name="ddfbsgl_select" id="ddfbsgl_select" class="form-control chosen-select" style="height:34px;">
		                	<option value="0">业务名称</option>
		                	<option value="1">业务类型</option>
		                	<option value="2">关联单号</option>
		         		</select>
			      		<input id="ddfbsgl_input" name="ddfbsgl_input" class="form-control" placeholder="模糊匹配"
			       		onkeydown="if(event.keyCode==13) {searchDdfbsglResult(); return false;}"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
					<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
				</div>
				<div class="sl_yx_con" id="sl_yx_con" style="display: none">
					<span class="tit">已选条件：</span>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
						<ul id="sl_add_ul"></ul>
					</div>
				</div>
				<div class="padding_t7 width100" id="searchMore"
					style="display: none;">
					<div class="tab-content sl_sel_con row"
						style="min-height: 120px; padding-left: 5px; margin-left: 0px; margin-right: 0px; padding-bottom: 10px;"
						id="sl_sel_con">
						<div class="tab-pane active" id="tab06">
							<div id="ywlx_id" class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list">
			                    <div class="form-group width100">
			             			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="业务类型" >业务类型：</label>
			                    	<div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
			                       		<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden" id="ul_ywlx">
			                      	 		 <li th:if="${ddsplxlist!=null && ddsplxlist.size() >0}" th:each="list:${ddsplxlist}">
			                           	 		<a style='text-decoration:none;cursor:pointer;'th:onclick="addTj('ywlx',[[${list.csid}]],'ddfbsgl_formSearch');"
												   th:id="'ywlx_id_'+${list.csid}">
			                          	  			<span th:text="${list.csmc}"></span>
			                          	  		</a>
			                    			</li> 
			                       		</ul>
			                 		</div>
			             		</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div> 
		<input  type="hidden" id="ywlx_id_tj" name="ywlx_id_tj">
		<div th:include="common/btn/ancz.html"></div>
 		<table id="ddfbsgl_list" class="table table-hover table-bordered table-hidden"></table>
 	</form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/common/ddfbsgl/ddfbsgl_list.js'}"></script>
</html>