<!DOCTYPE html>
<html lang="zh-cn">
	<body>
		<form data-bs-toggle="validation" th:action="${urlPrefix}+'/systemmain/query/modSaveTemporaryQuery'" method="post" id="ajaxForm" class="form-horizontal sl_all_form" style="min-height: 500px;">
			<div class="body-content tab-content">
				<input type="hidden" name="access_token"/>
				<input type="hidden" id="cxid" name="cxid" th:value="${LscxszDto.cxid}">
				<div class="panel-body">
					<div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                 <label for="" class="col-sm-2 text-left" style="padding-top:7px"><span style="color:red;">*</span>查询名称</label>
                                <div class="col-sm-10">
                                    <input type="text" id="cxmc"  name="cxmc" th:value="${LscxszDto.cxmc}" validate="{required:true,stringMaxLength:64}" class="form-control" readOnly="true"></input>
                                </div>
                               </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                 <label for="" class="col-sm-2 text-left" style="padding-top:7px">备注</label>
                                <div class="col-sm-10">
                                    <input type="text" id="bz"  name="bz" th:value="${LscxszDto.bz}" validate="{stringMaxLength:256}" class="form-control" readOnly="true"></input>
                                </div>
                               </div>
                        </div>
						<div class="col-md-12">
							<div class="form-group">
				         		<label for="" class="col-sm-12 text-left">待执行SQL:</label>
				    			<div class="col-sm-12">
				        			<textarea id="cxdm" name="cxdm"  rows="20"  th:text="${LscxszDto.cxdm}"
													validate="{required:true,stringMaxLength:3000}" class="form-control" readOnly="true"/>
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="" class="col-sm-1 text-left">执行结果:</label>
								<div class="col-md-11 col-sm-11">
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle btn-md" style="color: #000;background-color: #337ab7;border-color: #2e6da4;" data-bs-toggle="dropdown">
											下载 <
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="javascript:void(0)" type="button" title="csv导 出" onclick="export_query_csv()">csv导 出</a></li>
											<li><a href="javascript:void(0)" type="button" title="xlsx导 出" onclick="export_query_xlsx()">xlsx导 出</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-12">
									<table id="excTable" class="col-sm-12 col-md-12 col-xs-12 table table-bordered table-hover" style="margin-bottom:20px">
										<thead>
											<tr id="bt">
												
											</tr>
										</thead>
										<tbody id="nr">
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	   </form>
	</body>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/query/query_execute.js'}" charset="utf-8"></script>
</html>