<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/query/query_add.js'}" charset="utf-8"></script>
	</head>
	<body>
		<form data-bs-toggle="validation" th:action="${urlPrefix}+'/systemmain/query/'+${LscxszDto.formAction}+'SaveTemporaryQuery'" method="post" id="ajaxForm" class="form-horizontal sl_all_form">
			<div class="body-content tab-content">
				<input type="hidden" name="access_token"/>
				<input type="hidden" id="cxid" name="cxid" th:value="${LscxszDto.cxid}">
				<input type="hidden" id="yzbj" name="yzbj">
				<input type="hidden" id="cxqfdm" name="cxqfdm" th:value="${LscxszDto.cxqfdm}">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
				         		<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>查询名称</label>
				    			<div class="col-sm-9">
				        			<input type="text" id="cxmc"  name="cxmc" th:value="${LscxszDto.cxmc}" validate="{required:true,stringMaxLength:64}" class="form-control" ></input>
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12" id="cxbmDiv" style="display:none;">
							<div class="form-group">
				         		<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>查询编码</label>
				    			<div class="col-sm-9">
				        			<input type="text" id="cxbm"  name="cxbm" th:value="${LscxszDto.cxbm}" class="form-control" placeholder="用于匹配统计图"></input>
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12" id="lbqfDiv" style="display:none;">
							<div class="form-group">
				         		<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>类别区分</label>
				    			<div class="col-sm-9">
				        			<input type="text" id="lbqf"  name="lbqf" th:value="${LscxszDto.lbqf}"  class="form-control" placeholder="区分可以查看该统计的人员"></input>
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12" id="pxDiv" style="display:none;">
							<div class="form-group">
				         		<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>排序</label>
				    			<div class="col-sm-9">
				        			<input type="text" id="px"  name="px" th:value="${LscxszDto.px}" class="form-control" ></input>
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
				         		<label for="" class="col-sm-3 control-label">备注</label>
				    			<div class="col-sm-9">
				        			<input type="text" id="bz"  name="bz" th:value="${LscxszDto.bz}" validate="{stringMaxLength:256}" class="form-control" ></input>
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
				         		<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>查询代码</label>
				    			<div class="col-sm-9">
				        			<textarea id="cxdm" name="cxdm"  rows="20"  th:text="${LscxszDto.cxdm}"
													validate="{required:true,stringMaxLength:10000}" class="form-control" />
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12">
		        			<div class="form-group">
		           				 <label for="" class="col-sm-3 control-label">
		           				 <span style="color:red;">*</span>查询区分</label>      	
		          				<div class="col-sm-9">
									<select  id="cxqf" name="cxqf" th:value="${LscxszDto.cxqf}" class="form-control chosen-select" style="height:34px;" validate="{required:true}">
										<option value="">--请选择--</option>
										<option  th:each="list:${cxqflist}" th:value="${list.csid}" th:text="${list.csmc}" th:csdm="${list.csdm}" th:selected="${LscxszDto.cxqfmc eq list.csmc}" ></option>
									</select>
								</div>
		        			</div>
						</div>	
						<div class="col-md-12">
		        			<div class="form-group">
		           				 <label for="" class="col-sm-3 control-label">
		           				 <span style="color:red;">*</span>显示方式</label>      	
		          				<div class="col-sm-9">
									<select  id="xsfs" name="xsfs" th:value="${LscxszDto.xsfs}" class="form-control chosen-select" style="height:34px;" validate="{required:true}">
										<option value="">--请选择--</option>
										<option  th:each="list:${xsfslist}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${LscxszDto.xsfsmc eq list.csmc}" ></option>
									</select>
								</div>
		        			</div>
						</div>					
					</div>
				</div>
			</div>
	   </form>
	</body>
</html>