<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/repaid/repaid_view.js'}" charset="utf-8"></script>
	<style type="text/css">
		th{
			font-weight:bold;
			text-align: center;
		}
	</style>
</head>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	<li  class="nav-item" >
		<a  class="nav-link active" href="#repaidInfoTab" role="tab" data-bs-toggle="tab">归还信息</a>
	</li>
	<li class="nav-item" >
		<a  class="nav-link" href="#repaidDetailTab" role="tab" data-bs-toggle="tab">归还详细信息</a>
	</li>
</ul>
<form id="viewRepaidAjaxForm" namespace="/production" class="form-horizontal sl_all_form" method="post" theme="simple">
	<input type="hidden" name="access_token"/>
	<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}"/>
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="repaidInfoTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
									归还单号：
								</label>
								<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
									<span th:text="${jcghglDto.ghdh}" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
									部门：
								</label>
								<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
									<span th:text="${jcghglDto.bmmc}" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
									归还日期：
								</label>
								<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
									<span th:text="${jcghglDto.ghrq}" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
									是否支付运费：
								</label>
								<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
									<span th:if="${jcghglDto.sfzfyf eq '1'}">是</span>
									<span th:if="${jcghglDto.sfzfyf eq '0'}">否</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
									单位：
								</label>
								<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
									<span th:text="${jcghglDto.dwmc}" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
									备注：
								</label>
								<div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
									<span th:text="${jcghglDto.bz}" />
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
									状态：
								</label>
								<div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
									<span th:if="${jcghglDto.zt =='00'}">未提交</span>
									<span th:if="${jcghglDto.zt =='80'}">审核通过</span>
									<span th:if="${jcghglDto.zt =='15'}">审核未通过</span>
									<span th:if="${jcghglDto.zt =='10'}">审核中</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="repaidDetailTab" aria-labelledby="profile-tab">
			<div class="panel-body">
				<table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
					<tr style="background-color: #63a3ff;">
						<th style="width: 5%"><span th:text="序号" /></th>
						<th style="width: 8%"><span th:text="物料编码" /></th>
						<th style="width: 10%"><span th:text="物料名称" /></th>
						<th style="width: 7%"><span th:text="规格" /></th>
						<th style="width: 5%"><span th:text="单位" /></th>
						<th style="width: 10%"><span th:text="仓库" /></th>
						<th style="width: 10%"><span th:text="库位" /></th>
						<th style="width: 10%"><span th:text="追溯号" /></th>
						<th style="width: 10%"><span th:text="生产批号" /></th>
						<th style="width: 12%"><span th:text="生产日期" /></th>
						<th style="width: 12%"><span th:text="失效日期" /></th>
						<th style="width: 8%"><span th:text="归还数量" /></th>
						<th style="width: 8%"><span th:text="异种归还" /></th>
						<th style="width: 12%"><span th:text="备注" /></th>
					</tr>
					<div th:if="${list != null && list.size() >0}" th:each="dto:${list}">
						<tr>
							<td><span th:title="${dtoStat.index+1}" th:text="${dtoStat.index+1}"/></td>
							<td><span th:title="${dto.wlbm}" th:text="${dto.wlbm}"/></td>
							<td><span th:title="${dto.wlmc}" th:text="${dto.wlmc}"/></td>
							<td><span th:title="${dto.gg}" th:text="${dto.gg}"/></td>
							<td><span th:title="${dto.jldw}" th:text="${dto.jldw}"/></td>
							<td><span th:title="${dto.ckmc}" th:text="${dto.ckmc}"/></td>
							<td><span th:title="${dto.kwmc}" th:text="${dto.kwmc}"/></td>
							<td><span th:title="${dto.zsh}" th:text="${dto.zsh}"/></td>
							<td><span th:title="${dto.scph}" th:text="${dto.scph}"/></td>
							<td><span th:title="${dto.scrq}" th:text="${dto.scrq}"/></td>
							<td><span th:title="${dto.yxq}" th:text="${dto.yxq}"/></td>
							<td><span th:title="${dto.ghsl}" th:text="${dto.ghsl}"/></td>
							<td th:if="${dto.sfyzgh eq '1'}"><span>是</span></td>
							<td th:if="${dto.sfyzgh eq '0'}"><span>否</span></td>
							<td th:if="${dto.sfyzgh ==null||dto.sfyzgh==''}"></td>
							<td><span th:title="${dto.bz}" th:text="${dto.bz}"/></td>
						</tr>
					</div>
				</table>
				<hr>
			</div>
		</div>
	</div>
	</div>
</form>
</body>
</html>