<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" src="/js/detection/sampleAccept/sampleAccept.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/css/toastr/toast.style.css"></link>
    <script type="text/javascript" src="/js/toastr/toast.script.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/globalweb/systemrole/bootstrap-tagsinput.css"></link>
    <script type="text/javascript" src="/js/globalweb/systemrole/bootstrap-tagsinput.js"></script>
    <style>
        li{
            padding-top: 3px;
            padding-bottom: 3px;
        }
        .dragsort{
            margin:0;
            padding:0;
        }
        #toast {
            position: fixed;
            top:45%;
            /*top:45vh;*/
            left: 0;
            /*height: 30px;*/
            z-index: 999;
            width:100%;
            text-align: center;
            box-sizing: border-box;
            /*font-size: large;*/
            display: none;
        }
        #toast span {
            margin:0;
            padding:10px 20px;
            background: rgba(0,0,0,.7);
            font-size: 14px;
            line-height: 1.5;
            display: inline-block;
            max-width: 80%;
            color:#fff;
            box-sizing: border-box;
            transform: translate(0,-50%);
        }
    </style>
</head>
<body>
<div>
	<form id="sampleAcceptForm" action ="/detection/detection/acceptSaveSample" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" name="hzid" id ="hzid">
		<input type="hidden" name="fzjcid" id ="fzjcid">
		<input type="hidden" name="px" id="px"/>
		<input type="hidden" id="bbzt1" name="bbzt1" th:value="${fzjcxxDtoInfo.bbzt}"/>
		<input type="hidden" id="jcdxcsdm" name="jcdxcsdm" th:value="${fzjcxxDtoInfo.jcdxcsdm}">
		<input type="hidden" id="ysszz" name="ysszz" th:value="${grszDto.szz}"/>
		<input type="hidden" id="grsz_flg" name="grsz_flg"/>
		<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <input type="hidden" name="jclx" id ="jclx" th:value="${jclx}">
        <div class="body-content tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="partnerInfoTab" aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        扩增布板
                    </div>
                    <div class="panel-body">
                        <div class="row" style="margin:0;padding-top: 20px;">
                            <div class="col-md-12 col-sm-12">
                                <div class="col-md-1 col-sm-1 form-control" style="width: 25px;height:15px;background-color: #00FF00" ></div>
                                <div class="col-md-2 col-sm-2">
                                    <span>已保存</span>
                                </div>
                                <div class="col-md-1 col-sm-1 form-control" style="width: 25px;height:15px;background-color: #eee" ></div>
                                <div class="col-md-2 col-sm-2">
                                    <span>未保存</span>
                                </div>
                                <div class="col-md-1 col-sm-1 form-control" style="width: 25px;height:15px;border: 3px solid red" ></div>
                                <div class="col-md-2 col-sm-2">
                                    <span>当前位置</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-1 col-sm-1" style="width: 10px" ></div>
                                    <div class="col-md-11 col-sm-11">
                                        <div class="col-md-1 col-sm-1 text-center">1</div>
                                        <div class="col-md-1 col-sm-1 text-center">2</div>
                                        <div class="col-md-1 col-sm-1 text-center">3</div>
                                        <div class="col-md-1 col-sm-1 text-center">4</div>
                                        <div class="col-md-1 col-sm-1 text-center">5</div>
                                        <div class="col-md-1 col-sm-1 text-center">6</div>
                                        <div class="col-md-1 col-sm-1 text-center">7</div>
                                        <div class="col-md-1 col-sm-1 text-center">8</div>
                                        <div class="col-md-1 col-sm-1 text-center">9</div>
                                        <div class="col-md-1 col-sm-1 text-center">10</div>
                                        <div class="col-md-1 col-sm-1 text-center">11</div>
                                        <div class="col-md-1 col-sm-1 text-center">12</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-1 col-sm-1" style="width: 10px" >
                                        <div class="col-md-12 col-sm-12">

                                            <div class="form-group" >
                                                <ul style="padding: 0px;">
                                                    <li style="line-height:30px;text-align: center;">A</li>
                                                    <li style="line-height:30px;text-align: center;">B</li>
                                                    <li style="line-height:30px;text-align: center;">C</li>
                                                    <li style="line-height:30px;text-align: center;">D</li>
                                                    <li style="line-height:30px;text-align: center;">E</li>
                                                    <li style="line-height:30px;text-align: center;">F</li>
                                                    <li style="line-height:30px;text-align: center;">G</li>
                                                    <li style="line-height:30px;text-align: center;">H</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-11 col-sm-11 sortable">
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;">
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>   <input type="button" id="ybbh1-1" onclick="selectKzb('1','1')" name="ybbh" readonly xh="1"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh2-1" onclick="selectKzb('2','1')" name="ybbh" readonly xh="2"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh3-1" onclick="selectKzb('3','1')" name="ybbh" readonly xh="3"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh4-1" onclick="selectKzb('4','1')" name="ybbh" readonly xh="4"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh5-1" onclick="selectKzb('5','1')" name="ybbh" readonly xh="5"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh6-1" onclick="selectKzb('6','1')" name="ybbh" readonly xh="6"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh7-1" onclick="selectKzb('7','1')" name="ybbh" readonly xh="7"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh8-1" onclick="selectKzb('8','1')" name="ybbh" readonly xh="8"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort" >
                                                        <li>  <input type="button" id="ybbh1-2" onclick="selectKzb('1','2')" name="ybbh" readonly xh="9"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-2" onclick="selectKzb('2','2')" name="ybbh" readonly xh="10"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-2" onclick="selectKzb('3','2')" name="ybbh" readonly xh="11"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-2" onclick="selectKzb('4','2')" name="ybbh" readonly xh="12"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-2" onclick="selectKzb('5','2')" name="ybbh" readonly xh="13"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-2" onclick="selectKzb('6','2')" name="ybbh" readonly xh="14"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-2" onclick="selectKzb('7','2')" name="ybbh" readonly xh="15"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-2" onclick="selectKzb('8','2')" name="ybbh" readonly xh="16"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>   <input type="button" id="ybbh1-3" onclick="selectKzb('1','3')" name="ybbh" readonly xh="17"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh2-3" onclick="selectKzb('2','3')" name="ybbh" readonly xh="18"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh3-3" onclick="selectKzb('3','3')" name="ybbh" readonly xh="19"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh4-3" onclick="selectKzb('4','3')" name="ybbh" readonly xh="20"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh5-3" onclick="selectKzb('5','3')" name="ybbh" readonly xh="21"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh6-3" onclick="selectKzb('6','3')" name="ybbh" readonly xh="22"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh7-3" onclick="selectKzb('7','3')" name="ybbh" readonly xh="23"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>   <input type="button" id="ybbh8-3" onclick="selectKzb('8','3')" name="ybbh" readonly xh="24"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12"  >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-4" onclick="selectKzb('1','4')" name="ybbh" readonly xh="25"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-4" onclick="selectKzb('2','4')" name="ybbh" readonly xh="26"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-4" onclick="selectKzb('3','4')" name="ybbh" readonly xh="27"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-4" onclick="selectKzb('4','4')" name="ybbh" readonly xh="28"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-4" onclick="selectKzb('5','4')" name="ybbh" readonly xh="29"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-4" onclick="selectKzb('6','4')" name="ybbh" readonly xh="30"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-4" onclick="selectKzb('7','4')" name="ybbh" readonly xh="31"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-4" onclick="selectKzb('8','4')" name="ybbh" readonly xh="32"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-5" onclick="selectKzb('1','5')" name="ybbh" readonly xh="33"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-5" onclick="selectKzb('2','5')" name="ybbh" readonly xh="34"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-5" onclick="selectKzb('3','5')" name="ybbh" readonly xh="35"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-5" onclick="selectKzb('4','5')" name="ybbh" readonly xh="36"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-5" onclick="selectKzb('5','5')" name="ybbh" readonly xh="37"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-5" onclick="selectKzb('6','5')" name="ybbh" readonly xh="38"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-5" onclick="selectKzb('7','5')" name="ybbh" readonly xh="39"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-5" onclick="selectKzb('8','5')" name="ybbh" readonly xh="40"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-6" onclick="selectKzb('1','6')" name="ybbh" readonly xh="41"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-6" onclick="selectKzb('2','6')" name="ybbh" readonly xh="42"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-6" onclick="selectKzb('3','6')" name="ybbh" readonly xh="43"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-6" onclick="selectKzb('4','6')" name="ybbh" readonly xh="44"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-6" onclick="selectKzb('5','6')" name="ybbh" readonly xh="45"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-6" onclick="selectKzb('6','6')" name="ybbh" readonly xh="46"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-6" onclick="selectKzb('7','6')" name="ybbh" readonly xh="47"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-6" onclick="selectKzb('8','6')" name="ybbh" readonly xh="48"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-7" onclick="selectKzb('1','7')" name="ybbh" readonly xh="49"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-7" onclick="selectKzb('2','7')" name="ybbh" readonly xh="50"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-7" onclick="selectKzb('3','7')" name="ybbh" readonly xh="51"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-7" onclick="selectKzb('4','7')" name="ybbh" readonly xh="52"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-7" onclick="selectKzb('5','7')" name="ybbh" readonly xh="53"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-7" onclick="selectKzb('6','7')" name="ybbh" readonly xh="54"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-7" onclick="selectKzb('7','7')" name="ybbh" readonly xh="55"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-7" onclick="selectKzb('8','7')" name="ybbh" readonly xh="56"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-8" onclick="selectKzb('1','8')" name="ybbh" readonly xh="57"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-8" onclick="selectKzb('2','8')" name="ybbh" readonly xh="58"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-8" onclick="selectKzb('3','8')" name="ybbh" readonly xh="59"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-8" onclick="selectKzb('4','8')" name="ybbh" readonly xh="60"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-8" onclick="selectKzb('5','8')" name="ybbh" readonly xh="61"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-8" onclick="selectKzb('6','8')" name="ybbh" readonly xh="62"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-8" onclick="selectKzb('7','8')" name="ybbh" readonly xh="63"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-8" onclick="selectKzb('8','8')" name="ybbh" readonly xh="64"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-9" onclick="selectKzb('1','9')" name="ybbh" readonly xh="65"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-9" onclick="selectKzb('2','9')" name="ybbh" readonly xh="66"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-9" onclick="selectKzb('3','9')" name="ybbh" readonly xh="67"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-9" onclick="selectKzb('4','9')" name="ybbh" readonly xh="68"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-9" onclick="selectKzb('5','9')" name="ybbh" readonly xh="69"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-9" onclick="selectKzb('6','9')" name="ybbh" readonly xh="70"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-9" onclick="selectKzb('7','9')" name="ybbh" readonly xh="71"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-9" onclick="selectKzb('8','9')" name="ybbh" readonly xh="72"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-10" onclick="selectKzb('1','10')" name="ybbh" readonly xh="73"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-10" onclick="selectKzb('2','10')" name="ybbh" readonly xh="74"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-10" onclick="selectKzb('3','10')" name="ybbh" readonly xh="75"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-10" onclick="selectKzb('4','10')" name="ybbh" readonly xh="76"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-10" onclick="selectKzb('5','10')" name="ybbh" readonly xh="77"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-10" onclick="selectKzb('6','10')" name="ybbh" readonly xh="78"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-10" onclick="selectKzb('7','10')" name="ybbh" readonly xh="79"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-10" onclick="selectKzb('8','10')" name="ybbh" readonly xh="80"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-11" onclick="selectKzb('1','11')" name="ybbh" readonly xh="81"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-11" onclick="selectKzb('2','11')" name="ybbh" readonly xh="82"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-11" onclick="selectKzb('3','11')" name="ybbh" readonly xh="83"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-11" onclick="selectKzb('4','11')" name="ybbh" readonly xh="84"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-11" onclick="selectKzb('5','11')" name="ybbh" readonly xh="85"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-11" onclick="selectKzb('6','11')" name="ybbh" readonly xh="86"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-11" onclick="selectKzb('7','11')" name="ybbh" readonly xh="87"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-11" onclick="selectKzb('8','11')" name="ybbh" readonly xh="88"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1" style="padding-right: 5px;padding-left: 5px;" >
                                            <div class="col-md-12 col-sm-12" >
                                                <div class="form-group" >
                                                    <ul class="dragsort">
                                                        <li>  <input type="button" id="ybbh1-12" onclick="selectKzb('1','12')" name="ybbh" readonly xh="89"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh2-12" onclick="selectKzb('2','12')" name="ybbh" readonly xh="90"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh3-12" onclick="selectKzb('3','12')" name="ybbh" readonly xh="91"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh4-12" onclick="selectKzb('4','12')" name="ybbh" readonly xh="92"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh5-12" onclick="selectKzb('5','12')" name="ybbh" readonly xh="93"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh6-12" onclick="selectKzb('6','12')" name="ybbh" readonly xh="94"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh7-12" onclick="selectKzb('7','12')" name="ybbh" readonly xh="95"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                        <li>  <input type="button" id="ybbh8-12" onclick="selectKzb('8','12')" name="ybbh" readonly xh="96"   validate="{ stringMaxLength:13}" class="form-control" style="height:30px;" autocomplete="off"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;">*</span>列数：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input  id="ls" name="ls" type="text" class="form-control" onblur="changeKzb()" validate="{required:true}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;">*</span>行数：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input  id="hs" name="hs" type="text"  class="form-control" onblur="changeKzb()" validate="{required:true}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;">*</span>标本编号：
                                    </label>
                                    <div class="col-sm-8 col-xs-8" id="keydown">
                                        <input  id="ybbh" name="ybbh" type="text" class="form-control" validate="{required:true}" th:value="${fzjcxxDtoInfo.ybbh}" onblur="changeUrl()"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;">*</span>序号：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input  id="kzbxh" name="kzbxh" type="text"  readonly class="form-control" validate="{required:true}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="display: none">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label " >
                                        <span style="color: red;" id="nbbhspan">*</span>内部编号:
                                    </label>
                                    <div class="col-sm-8 col-xs-4 ">
                                        <input style="height: 30px;" id="nbbh" name="nbbh"  type="text" class="form-control"   th:value="${fzjcxxDtoInfo.nbbh}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>扩增板操作：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <label class="radio-inline">
                                            <input type="radio"  value="1" name="cz" validate="{required:true}" checked="checked" onclick="kzbcz()">新增
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"   value="0" name="cz" validate="{required:true}" onclick="kzbcz_back()">修改
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label " >
                                        <span style="color: red;">*</span>检测单位：
                                    </label>
                                    <div class="col-sm-8 col-xs-8" >
                                        <select id="jcdw" name="jcdw"   th:value="${{mrjcdw!=null?mrjcdw.csid:'' }}" class="form-control chosen-select" validate="{required:true}">
                                            <option  value="">--请选择--</option>
                                            <option  th:if="${jcdwList!=null && jcdwList.size() > 0}" th:each="list:${jcdwList}" th:value="${list.csid}"  th:text="${list.csmc}" th:selected="${{mrjcdw != null ? mrjcdw.csid eq list.csid:'' eq list.csid}}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;">*</span>扩增板名称：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input  id="kzbmc" name="kzbmc" type="text" class="form-control" validate="{required:true}"/>
                                        <select name="kzbmc_sel" id="kzbmc_sel" validate="{required:true}"  class="form-control">
                                            <option value="">--请选择--</option>
                                            <!--<option th:if="${kzbglDtos !=null && kzbglDtos.size()>0}" th:each="dto:${kzbglDtos}" th:value="${dto.kzbid}"  th:text="${dto.kzbh}"></option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>是否接收：
                                    </label>
                                    <div class="col-sm-8 col-xs-8" id="sfjsDiv">
                                        <label class="radio-inline">
                                            <input type="radio" class="sfjs" id="sfjs1" value="1" name="sfjs" validate="{required:true}" checked="checked"  onclick="nbbhbt()">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="sfjs" id="sfjs0" value="0" name="sfjs" validate="{required:true}" onclick="nbbhfbt()">否
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>是否实验：
                                    </label>
                                    <div class="col-sm-8 col-xs-8" id="sfsyDiv">
                                        <label class="radio-inline">
                                            <input type="radio" class="sfjs" id="sfsy1" value="1" checked="checked" name="sfsy" validate="{required:true}">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="sfjs" id="sfsy0" value="0" name="sfsy" validate="{required:true}">否
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;">*</span>打印机：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <label class="radio-inline">
                                            <input type="radio" class="print_ip" id="local_ip" value="0" name="szz"  th:checked="${'0' eq grszDto.szz  or null==grszDto.szz}"  validate="{required:true}" >本机
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="print_ip" id="remote_ip" value="1" name="szz" th:checked="${'1' eq grszDto.szz}"  validate="{required:true}">外机
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" id="remoteDiv">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;">*</span>外机地址：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input  id="glxx" name="glxx" type="text" th:value="${grszDto.glxx}" class="form-control"  validate="{required:true}" placeholder="请输入外机地址" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="height: 36px;">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>自动保存：
                                    </label>
                                    <div class="col-sm-8 col-xs-8" id="bcDiv">
                                        <label class="radio-inline">
                                            <input type="radio" class="sfjs" id="bc1" value="1" checked="checked" name="bc" validate="{required:true}">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="sfjs" id="bc0" value="0" name="bc" validate="{required:true}">否
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-xs-4 control-label ">
                                        <span style="color: red;"></span>实验号：
                                    </label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input  id="syh" name="syh" type="text" th:value="${fzjcxxDtoInfo.syh}" class="form-control"  validate="{required:true,digits:true,range:[0,99999]}" placeholder="当天流水号!" onblur="syhyz()"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-2 col-xs-2 control-label">
                                        <span style="color: red;">*</span>标本状态：
                                    </label>
                                    <div class="col-sm-10 col-xs-10">
                                        <label class="radio-inline" id="bbzt" th:each="list,local:${bbztlist}">
                                            <input  th:value="${list.csid}" type="radio" th:id="'bbzt['+${local.index}+']'" th:checked="${fzjcxxDtoInfo.bbzt eq list.csid}" name="bbzt" validate="{required:true}"><span th:text="${list.csmc}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="toast">
                        <!-- 中间空的span用来toast提示存放文字的位置 -->
                        <span ></span>
                    </div>

                    <div class="panel-heading">
                        患者信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <table class="table table-hover table-bordered table-hidden" style="table-layout: fixed;" id="hzxx_list"></table>
                                <!--									<th style="text-align:center;width:16%;">患者姓名</th>-->
                                <!--									<td id="xm" th:text="${fzjcxxDto.xm}" style="text-align:center;word-break: break-all;white-space: normal; word-wrap:break-word;text-overflow: clip;"></td>-->
                            </div>
                            <div class="clearfix"></div>
                            <div id="iframePrint"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</form>
</div>
</body>
</html>