<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script type="text/javascript" th:src="@{${urlPrefix} + '/js/marketingContract/marketingContract/marketingcontract_auditlist.js'}" charset="utf-8"></script>
    </head>
    <body>
        <div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
            <form id="marketingContract_audit">
                <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
                <div class="row">
                    <div class="pull-left">
                        <ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="marketingContract_audit_ul">
                            <li  class="nav-item" >
                                <a  class="nav-link active" name="tabBlock[marketingContractAuditDiv]" href="#marketingContract_auditingtab" role="tab" data-bs-toggle="tab">待审核的营销合同信息</a>
                            </li>
                            <li  class="nav-item" >
                                <a  class="nav-link" name="tabBlock[marketingContractAuditDiv]" href="#marketingContract_auditedtab" role="tab" data-bs-toggle="tab">审核记录</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="row padding-l15 padding-r15">
                <div class="main_content tab-content">
                    <div role="tabpanel" class="tab-pane active padding-10" id="marketingContract_auditingtab" style="border:1px solid #eee">
                        <form id="marketingContract_audit_formSearch" class="form-horizontal form-inline">
                            <div class="panel panel-default">
                                <div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
                                <div class="panel-body">
                                    <div class="">
                                        <div class="form-group padding_l10">
                                            <select name="cxtj" class="form-control chosen-select" id="cxtj"
                                                    style="height: 34px;">
                                                <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全&nbsp;&nbsp;&nbsp;部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                <option value="1">&nbsp;&nbsp;&nbsp;合同编号&nbsp;&nbsp;</option>
                                                <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;终&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;端</option>
                                                <option value="3">&nbsp;&nbsp;所属业务员&nbsp;&nbsp;</option>
                                                <option value="4">&nbsp;&nbsp;&nbsp;客户名称&nbsp;&nbsp;</option>
                                            </select>
                                            <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                                   onkeydown="if(event.keyCode==13) {searchYxht_audit_Result(); return false;}"/>
                                        </div>
                                        <button type="button" style="margin-left: 50px" id="btn_query"
                                                class="btn btn-primary">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div th:include="common/btn/ancz.html"></div>
                            <table id="marketingContract_audit_list" class="table table-hover table-bordered table-hidden"></table>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane padding-10" id="marketingContract_auditedtab" style="border:1px solid #eee">
                        <form id="marketingContract_audited_formSearch" class="form-horizontal form-inline">
                            <div class="panel panel-default">
                                <div class="panel-heading">查询条件</div>
                                <div class="panel-body">
                                    <div class="">
                                        <div class="form-group padding_l10">
                                            <select name="cxtj" class="form-control chosen-select" id="cxtj"
                                                    style="height: 34px;">
                                                <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全&nbsp;&nbsp;&nbsp;部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                <option value="1">&nbsp;&nbsp;&nbsp;合同编号&nbsp;&nbsp;</option>
                                                <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;终&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;端</option>
                                                <option value="3">&nbsp;&nbsp;所属业务员&nbsp;&nbsp;</option>
                                                <option value="4">&nbsp;&nbsp;&nbsp;客户名称&nbsp;&nbsp;</option>
                                            </select>
                                            <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                                   onkeydown="if(event.keyCode==13) {searchYxhtAudited(); return false;}"/>
                                        </div>
                                        <button type="button" style="margin-left: 50px" id="btn_query"
                                                class="btn btn-primary">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div id="toolbar" class="btn-group">
                                <button class="btn btn-default" type="button" id="btn_cancelAudit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消审批</button>
                            </div>
                            <table id="marketingContract_audited_list" class="table table-hover table-bordered table-hidden"></table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>