<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <script type="text/javascript" th:src="@{${urlPrefix}+'/js/marketingContract/marketingContract/marketingContract_choose.js'}" charset="utf-8"></script>
        <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    </head>
    <body>
        <div class="panel-body body-content" style="padding-bottom:0px;">
            <form id="chooseMarketingContractForm" class="form-horizontal form-inline">
                <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
                <input type="hidden" id="hts" name="hts">
                <div class="panel panel-default">
                    <div class="panel-heading">查询条件</div>
                    <div class="panel-body">
                        <div class="">
                            <div class="form-group padding_l10">
                                <select name="cxtj" class="form-control chosen-select" id="cxtj">
                                    <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全&nbsp;&nbsp;&nbsp;部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option value="1">&nbsp;&nbsp;&nbsp;合同编号&nbsp;&nbsp;</option>
                                    <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;终&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;端</option>
                                    <option value="3">&nbsp;&nbsp;所属业务员&nbsp;&nbsp;</option>
                                    <option value="4">&nbsp;&nbsp;&nbsp;客户名称&nbsp;&nbsp;</option>
                                </select>
                                <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                       onkeydown="if(event.keyCode==13) {searchChooseMarketingContractResult(); return false;}"/>
                            </div>
                            <div class="form-group padding-l30" style="margin-left:0px">
                                <label>合同日期</label>
                                <input id="htrqstart" name="htrqstart" class="form-control" placeholder="创建日期" validate="{required:true}" />~
                                <input id="htrqend" name="htrqend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                            </div>
                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">检索</button>
                        </div>
                    </div>
                </div>
                <input id="t_hts"   name="t_hts" type="hidden" ></input>
                <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
            </form>
        </div>
    </body>
</html>