<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" type="text/css" href="css/dataStatistics/dataStatistics/dataStatistics.css"/>
		<!--<script src="js/plugins/laydate/laydate.js"></script>-->
		<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js"></script>
		<!--<script src="js/plugins/jquery.nicescroll.min.js"></script>-->
		<script src="js/dataStatistics/dataStatistics/dataStatistics.js"></script>
	</head>
	<body>
	<input type="hidden" name="urlprefix" id ="urlprefix" th:value="${urlprefix}">
	<input type="hidden" name="requisitionByMon" id ="requisitionByMon" th:value="${requisitionByMon}">
	<input type="hidden" name="requisitionByWeek" id ="requisitionByWeek" th:value="${requisitionByWeek}">
	<input type="hidden" name="purchaseMaterialByMon" id ="purchaseMaterialByMon" th:value="${purchaseMaterialByMon}">
	<input type="hidden" name="purchaseMaterialByWeek" id ="purchaseMaterialByWeek" th:value="${purchaseMaterialByWeek}">
	<input type="hidden" name="contractMapByMon" id ="contractByMon" th:value="${contractByMon}">

	<div id="container">
			<div class="page_top">
				<div class="top_left">
					<h2 class="wms_name"><span>采购统计</span><!--<em>单仓</em>--></h2>
					<!--<div class="depot">
						<input type="text" placeholder="选择仓库..." readonly="readonly"/>
						<div class="depo_down">
							<ul>
								<li>A仓库</li>
								<li>B仓库</li>
								<li>C仓库</li>
							</ul>
						</div>
					</div>-->
				</div>
				<div class="top_time">
					<input type="text" disabled class="time_month" id="time_month" readonly="readonly" th:value="${nowDate}"/>
				</div>
			</div>
			<!--顶部-->
			<div class="order_list">
				<div class="order">
					<div class="order_name">本月请购单数量</div>
					<h2 class="order_num byqgdsl" id="byqgdsl"></h2>
				</div>
				<div class="order">
					<div class="order_name">本周请购单数量</div>
					<h2 class="order_num bzqgdsl" id="bzqgdsl"></h2>
				</div>
				<div class="order">
					<div class="order_name">本月请购物料数量</div>
					<h2 class="order_num byqgwlsl" id="byqgwlsl"></h2>
				</div>
				<div class="order">
					<div class="order_name">本周请购物料数量</div>
					<h2 class="order_num bzqgwlsl" id="bzqgwlsl"></h2>
				</div>
				<div class="order">
					<div class="order_name">本月合同数量</div>
					<h2 class="order_num byhtsl" id="byhtsl"></h2>
				</div>
				<!-- <div class="order">
					<div class="order_name">本周合同数量</div>
					<h2 class="order_num bzhtsl}" id="bzhtsl}"></h2>
				</div> -->
			</div>
			<!--订单量-->
			<div class="main">
				<div class="main_left">
					<div class="home_week" >
						<div class="home_tit">
							请购单数量变化趋势图<p style="font-size: 18px">（周）</p>
						</div>
						<div id="qgd_week"></div>
					</div>
					<div class="home_week" >
						<div class="home_tit">
							请购物料数量变化趋势图<p style="font-size: 18px">（周）</p>
						</div>
						<div id="qgwl_week"></div>
					</div>
					<!--<div class="ship_order" id="ship_order"></div>-->
				</div>
				<div class="main_rig">
					<div class="home_week" >
						<div class="home_tit">
							请购单数量变化趋势图<p style="font-size: 18px">（月）</p>
						</div>
						<div id="qgd_month"></div>
					</div>
					<div class="home_week" >
						<div class="home_tit">
							请购物料数量变化趋势图<p style="font-size: 18px">（月）</p>
						</div>
						<div id="qgwl_month"></div>
					</div>
					<div class="home_week" >
						<div class="home_tit">
							合同数量变化趋势图<p style="font-size: 18px">（月）</p>
						</div>
						<div id="ht_month"></div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<!--数据展示-->
	<script>
		$(".order_num").each(function(){
			var that=$(this);
			var text1=that.text();
			var text1_1=parseInt(text1);
			var te=formatNum(text1_1+"");
			that.text(te)
		})
		 function formatNum(str) {
			var newStr = "";
			var count = 0;
		   if (str.indexOf(".") == -1) {
				for (var i = str.length - 1; i >= 0; i--) {
					if (count % 3 == 0 && count != 0) {
						newStr = str.charAt(i) + "," + newStr;
					} else {
						newStr = str.charAt(i) + newStr;
					}
					count++;
				}
				str = newStr;
				return str;
			}
		}
	</script>


</html>

