<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

<form id="rejectApplicationForm"  th:action="${formAction}"   class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation"  enctype="multipart/form-data">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="tssqid" id ="tssqid" th:value="${sjtssqDto.tssqid}">
    <input type="hidden" name="lrry" id ="lrry" th:value="${sjtssqDto.lrry}">
    <input type="hidden" name="ddid" id ="ddid" th:value="${sjtssqDto.ddid}">
    <input type="hidden" name="zsxm" id ="zsxm" th:value="${sjtssqDto.zsxm}">
    <input type="hidden" name="ybbh" id ="ybbh" th:value="${sjtssqDto.ybbh}">
    <input type="hidden" name="hzxm" id ="hzxm" th:value="${sjtssqDto.hzxm}">
    <input type="hidden" name="sqxmmc" id ="sqxmmc" th:value="${sjtssqDto.sqxmmc}">
    <input type="hidden" name="sqzxmmc" id ="sqzxmmc" th:value="${sjtssqDto.sqzxmmc}">
    <input type="hidden" name="yblxmc" id ="yblxmc" th:value="${sjtssqDto.yblxmc}">
    <div class="body-content tab-content">
        <div role="tabpanel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
                            <div class="form-group">
                                <label for="" class="col-xs-2 col-sm-2 col-md-2  col-lg-2 control-label">
                                    <span style="color: red;">*</span>驳回理由:
                                </label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padding_t7" style="padding-top: 3px">
                                    <textarea rows="" cols="" id="bhly" name="bhly" validate="{required:true}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>