<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/qmngs/qmngshzxx_list.js" charset="utf-8"></script>
	</head>
	<body>
	
<div class="panel-body body-content" style="padding-bottom:0px;" id="hzxxBody">
			<form id="qmngshzxxformSearch" class="form-horizontal form-inline">
	        	<div class="panel panel-default">
	            <div class="panel-heading">查询条件</div>
		            <div class="panel-body">
	                    <div class="form-group padding_l10">
	                        <select name="cxbt" class="form-control chosen-select" id="cxbt" style="height:34px;">
                           		<option value="0">患者姓名缩写</option>
                           		<option value="1">患者实验随机号</option>
                           		<option value="4">填写者名称</option>
                           		<option value="5">联系电话</option>
								<option value="6">年龄</option>
								<option value="7">抗菌药物治疗总疗程</option>
                           	</select>
	                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                onkeydown="if(event.keyCode==13) {searchqmngshzxxResult(); return false;}"/>
						</div>
						<div class="form-group padding-hidden-md-l30" style="margin-left:0px">
		            	<label>患者入组时间</label>
		            	<input id="hzrzsjstart" name="hzrzsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
		            	<input id="hzrzsjend" name="hzrzsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
		            	
		        	</div>
						<button type="button" style="margin-left:50px" id="btn_qmngshzxx_query" class="btn btn-primary">查询</button>
						<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
		            </div>
		            	
		            <div class="sl_yx_con" id="sl_yx_con" style="display: none">
						<span class="tit" style="color:black;">已选条件：</span>
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
							<ul id="sl_add_ul"></ul>
						</div>
					</div>
					<div class="padding_t7 width100" id="searchMore"
							style="display: none;">
						<div class="padding_t7 width100" id="searchMore" style="display: none;" >
			       	 	<div class="tab-content sl_sel_con row" id="sl_sel_con" style="padding-bottom:10px; min-height:300px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
				       	  	<div class="tab-pane active" id="tab06">
			             			<div id="sfkjjjtzl_id" class="col-xs-12 col-sm-12 col-lg-12">
				                    <div class="form-group width100">
				             			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" title="抗菌药物降阶梯治疗">抗菌药物降阶梯治疗：</label>
										<div class="col-xs-6 col-sm-10  col-md-10 col-lg-10 sl_sel_list" >
											<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
												<li>
													<a style='text-decoration:none;cursor:pointer;'
													   onclick="addTj('sfkjjjtzl','0','qmngshzxxformSearch');"
													   id="sfkjjjtzl_id_0"><span>否</span></a>
												</li>
												<li>
													<a style='text-decoration:none;cursor:pointer;'
													   onclick="addTj('sfkjjjtzl','1','qmngshzxxformSearch');"
													   id="sfkjjjtzl_id_1"><span>是</span></a>
												</li>
											</ul>
										</div>
				             		</div>
				             	</div>
		    				 <div id="sjfzjg_id" class="col-xs-12 col-sm-12 col-lg-12">
				                    <div class="form-group width100">
			             			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" title="随机分组结果" >随机分组结果：</label>
									<div class="col-xs-6 col-sm-10  col-md-10 col-lg-10 sl_sel_list" >
										<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
											<li>
												<a style='text-decoration:none;cursor:pointer;'
												   onclick="addTj('sjfzjg','0','qmngshzxxformSearch');"
												   id="sjfzjg_id_0"><span>对照组</span></a>
											</li>
											<li>
												<a style='text-decoration:none;cursor:pointer;'
												   onclick="addTj('sjfzjg','1','qmngshzxxformSearch');"
												   id="sjfzjg_id_1"><span>试验组</span></a>
											</li>
										</ul>
				                 		</div>
				             		</div>
				             	</div>
				             	<div id="zgcyzt_id" class="col-xs-12 col-sm-12 col-lg-12">
				                    <div class="form-group width100">
				             			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" title="出院状态" >出院状态：</label>
				                    	<div class="col-xs-6 col-sm-10  col-md-10 col-lg-10 sl_sel_list" >
				                       		<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
				                      	 		 <li th:if="${stateList!=null &&stateList.size() >0}" th:each="state:${stateList}">
				                           	 		<a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[zgcyzt]],[[${state.csid}]],[[qmngshzxxformSearch]]);" th:id="'zgcyzt_id_'+${state.csid}">
				                          	  			<span th:text="${state.csmc}"></span>
				                          	  		</a>
				                    			</li> 
				                       		</ul>
				                 		</div>
				             		</div>
				             	</div>

			             		<div id="grxgzd_id" class="col-xs-12 col-sm-12 col-lg-12">
			                        <div class="form-group width100">
			                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" title="感染相关诊断">感染相关诊断：</label>
			                           <div class="col-xs-6 col-sm-10  col-md-10 col-lg-10 sl_sel_list" >
										   <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
											   <li th:if="${infectiondiagnosisList!=null &&infectiondiagnosisList.size() >0}" th:each="state:${infectiondiagnosisList}">
												   <a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[grxgzd]],[[${state.csid}]],[[qmngshzxxformSearch]]);" th:id="'grxgzd_id_'+${state.csid}">
													   <span th:text="${state.csmc}"></span>
												   </a>
											   </li>
										   </ul>
			                    		</div>
			                    	</div>
			                    </div>

			                    <div id="xb_id" class="col-xs-12 col-sm-12 col-lg-12">
			                        <div class="form-group width100">
			                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label" title="性别" >性别：</label>
										<div class="col-xs-6 col-sm-10  col-md-10 col-lg-10 sl_sel_list" >
				                      	 	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
			                      	 			<li>
			                                        <a style='text-decoration:none;cursor:pointer;'
			                                           onclick="addTj('xb','1','qmngshzxxformSearch');"
			                                           id="xb_id_1"><span>男</span></a>
			                                    </li>
			                                    <li>
			                                        <a style='text-decoration:none;cursor:pointer;'
			                                           onclick="addTj('xb','2','qmngshzxxformSearch');"
			                                           id="xb_id_2"><span>女</span></a>
			                                    </li>
			                                     <li>
			                                        <a style='text-decoration:none;cursor:pointer;'
			                                           onclick="addTj('xb','0','qmngshzxxformSearch');"
			                                           id="xb_id_0"><span>未知</span></a>
			                                    </li>
			                            	</ul>
			                    		</div>
			                    	</div>
			                    </div>
				             	<div id="syrq" class="col-md-12 col-sm-12 col-lg-12">
				                    <div class="form-group width100">
				             			<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label" title="转归出院时间" >出院时间：</label>
				                    	<div class="col-sm-10  col-md-10 col-lg-10 sl_sel_list" style="margin-top:5px">
											<input id="zgcysjstart" name="zgcysjstart" class="form-control" placeholder="开始日期"  />~
											<input id="zgcysjend" name="zgcysjend" class="form-control" placeholder="结束日期"  />
				                 		</div>
				             		</div>
				             	</div>
								<div id="txrq" class="col-md-12 col-sm-12 col-lg-12">
									<div class="form-group width100">
										<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label" title="填写日期" >填写日期：</label>
										<div class="col-sm-10  col-md-10 col-lg-10 sl_sel_list" style="margin-top:5px">
											<input id="txrqstart" name="txrqstart" class="form-control" placeholder="开始日期"  />~
											<input id="txrqend" name="txrqend" class="form-control" placeholder="结束日期"  />
										</div>
									</div>
								</div>
				         	</div>
			         	 </div>
			          </div>
					</div>
		        </div>
		        <input type="hidden" id="sfkjjjtzl_id_tj" name="sfkjjjtzl_id_tj">
		        <input type="hidden" id="sjfzjg_id_tj" name="sjfzjg_id_tj">
		        <input type="hidden" id="zgcyzt_id_tj" name="zgcyzt_id_tj">
		        <input type="hidden" id="grxgzd_id_tj" name="grxgzd_id_tj">
		        <input type="hidden" id="xb_id_tj" name="xb_id_tj"> 
				<div th:include="common/btn/ancz.html"></div>
	        	<table id="hzxxqmngs_list" class="table table-hover table-bordered"></table>
	        </form>
	    </div>
	</body>
</html>