<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IHbpdrxxjlDao" >
    <!--insert保存 -->
    <insert id="insertDto" parameterType="HbpdrxxjlDto">
        INSERT INTO crf_hbpdrxxjl (
        hbpjlid,
        hbphzxxid,
        xjgsjhdb,
        wcxjgsjhdb,
        balfgsjhdb,
        ywsbalfgsjhdb,
        jgsy,
        wcjgsy,
        cfydb,
        wccfydb,
        bxbjs,
        wcbxbjs,
        zxlxbbl,
        wczxlxbbl,
        hxbjs,
        wchxbjs,
        xhdb,
        wcxhdb,
        xxbjs,
        wcxxbjs,
        zdhs,
        wczdhs,
        gbzam,
        wcgbzam,
        zdb,
        wczdb,
        bdb,
        wcbdb,
        jg,
        wcjg,
        yfy,
        wcyfy,
        xynd,
        wcxynd,
        rs,
        wcrs,
        ytrl,
        ytcl,
        nl,
        xghxyw,
        qtxghxyw,
        jldjt
        )
        VALUES
        (
        #{hbpjlid},
        #{hbphzxxid},
        #{xjgsjhdb},
        #{wcxjgsjhdb},
        #{balfgsjhdb},
        #{ywsbalfgsjhdb},
        #{jgsy},
        #{wcjgsy},
        #{cfydb},
        #{wccfydb},
        #{bxbjs},
        #{wcbxbjs},
        #{zxlxbbl},
        #{wczxlxbbl},
        #{hxbjs},
        #{wchxbjs},
        #{xhdb},
        #{wcxhdb},
        #{xxbjs},
        #{wcxxbjs},
        #{zdhs},
        #{wczdhs},
        #{gbzam},
        #{wcgbzam},
        #{zdb},
        #{wczdb},
        #{bdb},
        #{wcbdb},
        #{jg},
        #{wcjg},
        #{yfy},
        #{wcyfy},
        #{xynd},
        #{wcxynd},
        #{rs},
        #{wcrs},
        #{ytrl},
        #{ytcl},
        #{nl},
        #{xghxyw},
        #{qtxghxyw},
        #{jldjt}
        )
    </insert>

    <select id="getDtoListByhzid" parameterType="HbpdrxxjlDto" resultType="HbpdrxxjlDto">
        select hbpjlid, hbphzxxid, xjgsjhdb, wcxjgsjhdb, balfgsjhdb, ywsbalfgsjhdb, jgsy, wcjgsy, cfydb, wccfydb, bxbjs, wcbxbjs, zxlxbbl, wczxlxbbl, hxbjs, wchxbjs, xhdb, wcxhdb, xxbjs, wcxxbjs, zdhs, wczdhs, gbzam, wcgbzam, zdb, wczdb, bdb, wcbdb, jg, wcjg, yfy, wcyfy, xynd, wcxynd, rs, wcrs, ytrl, ytcl, nl, xghxyw, qtxghxyw, jldjt
        from crf_hbpdrxxjl
        where hbphzxxid = #{hbphzxxid}
    </select>

    <update id="updateDto" parameterType="HbpdrxxjlDto">
        update crf_hbpdrxxjl set
             hbphzxxid = #{hbphzxxid},
             xjgsjhdb = #{xjgsjhdb},
             wcxjgsjhdb = #{wcxjgsjhdb},
             balfgsjhdb = #{balfgsjhdb},
             ywsbalfgsjhdb = #{ywsbalfgsjhdb},
             jgsy = #{jgsy},
             wcjgsy = #{wcjgsy},
             cfydb = #{cfydb},
             wccfydb = #{wccfydb},
             bxbjs = #{bxbjs},
             wcbxbjs = #{wcbxbjs},
             zxlxbbl = #{zxlxbbl},
             wczxlxbbl = #{wczxlxbbl},
             hxbjs = #{hxbjs},
             wchxbjs = #{wchxbjs},
             xhdb = #{xhdb},
             wcxhdb = #{wcxhdb},
             xxbjs = #{xxbjs},
             wcxxbjs = #{wcxxbjs},
             zdhs = #{zdhs},
             wczdhs = #{wczdhs},
             gbzam = #{gbzam},
             wcgbzam = #{wcgbzam},
             zdb = #{zdb},
             wczdb = #{wczdb},
             bdb = #{bdb},
             wcbdb = #{wcbdb},
             jg = #{jg},
             wcjg = #{wcjg},
             yfy = #{yfy},
             wcyfy = #{wcyfy},
             xynd = #{xynd},
             wcxynd = #{wcxynd},
             rs = #{rs},
             wcrs = #{wcrs},
             ytrl = #{ytrl},
             ytcl = #{ytcl},
             nl = #{nl},
             xghxyw = #{xghxyw},
             qtxghxyw = #{qtxghxyw},
             jldjt = #{jldjt}
        where hbpjlid = #{hbpjlid}
    </update>


    <delete id="deleteByHzid" parameterType="HbpdrxxjlDto">
        delete from crf_hbpdrxxjl
        where
        hbphzxxid in
        <foreach collection="ids" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getDtoList" resultType="HbpdrxxjlDto" parameterType="HbpdrxxjlDto">
        select
        xxjl.hbpjlid,
        xxjl.hbphzxxid,
        xxjl.xjgsjhdb,
        xxjl.wcxjgsjhdb,
        xxjl.balfgsjhdb,
        xxjl.ywsbalfgsjhdb,
        xxjl.jgsy,
        xxjl.wcjgsy,
        xxjl.cfydb,
        wccfydb,
        xxjl.bxbjs,
        xxjl.wcbxbjs,
        xxjl.zxlxbbl,
        xxjl.wczxlxbbl,
        xxjl.hxbjs,
        xxjl.wchxbjs,
        xxjl.xhdb,
        xxjl.wcxhdb,
        xxjl.xxbjs,
        xxjl.wcxxbjs,
        xxjl.zdhs,
        xxjl.wczdhs,
        xxjl.gbzam,
        xxjl.wcgbzam,
        xxjl.zdb,
        wczdb,
        xxjl.bdb,
        xxjl.wcbdb,
        xxjl.jg,
        xxjl.wcjg,
        xxjl.yfy,
        xxjl.wcyfy,
        xxjl.xynd,
        xxjl.wcxynd,
        xxjl.rs,
        xxjl.wcrs,
        xxjl.ytrl,
        xxjl.ytcl,
        xxjl.nl,
        xxjl.xghxyw,
        xxjl.qtxghxyw,
        xxjl.jldjt,
        xxjl.qtxghxyw
        from crf_hbpdrxxjl xxjl where xxjl.hbphzxxid=#{hbphzxxid}
    </select>

    <select id="getListForSelectExp" parameterType="HbpdrxxjlDto" resultType="HbpdrxxjlDto">
        select hbphzxx.hbphzxxid ${sqlParam}
        from (
        <foreach item="item" index="index" collection="ids" separator=" union all ">
            select #{item,jdbcType=VARCHAR} hbphzxxid,#{index} ordernum
        </foreach>
        ) tmp
        left outer join crf_hbphzxx hbphzxx on hbphzxx.hbphzxxid = tmp.hbphzxxid
        left outer join crf_hbpdrxxjl hbpdrxxjl on hbpdrxxjl.hbphzxxid=hbphzxx.hbphzxxid
    </select>
</mapper>
