<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IHbphzxxDao" >
    <select id="getPagedDtoList" resultType="HbphzxxDto" parameterType="HbphzxxDto">
        select hzxx.hbphzxxid, hzxx.xm, hzxx.xb, hzxx.nl, hzxx.sg, hzxx.tz, hzxx.ricuzyzd1, hzxx.ricuzyzd2, hzxx.ricuzyzd3, hzxx.ricuzyzd4, hzxx.jwbs, hzxx.qtjwbs,
               hzxx.apache, hzxx.sofa, hzxx.gcs, hzxx.ricurq, hzxx.zyh, hzxx.bz, hzxx.sfygrxyrzicu, hzxx.sfcn, hzxx.sfzqdycsj, hzxx.sfyj24sw, hzxx.sfjjjc, hzxx.sfjxtq,
               hzxx.jxtqksrq, hzxx.jxtqjsrq, hzxx.grbw, hzxx.qtgrbw, hzxx.sfndxxk, hzxx.ndxxkrq, hzxx.zbjxm1, hzxx.grzbjrq1, hzxx.qzbb1, hzxx.qtqzbb1, hzxx.zbjxm2,
               hzxx.grzbjrq2, hzxx.qzbb2, hzxx.qtqzbb2, hzxx.cskssfa, hzxx.cskssrq, hzxx.sfsjkss1, hzxx.gghkssfa1, hzxx.ggkssrq1, hzxx.sfsjkss2, hzxx.gghkssfa2,
               hzxx.ggkssrq2, hzxx.cicurq, hzxx.cicuqx, hzxx.qtcicuqx, hzxx.sfynsw, hzxx.ynswrq, hzxx.sfsw, hzxx.swrq, hzxx.scbj,hzxx.rzrq
        from crf_hbphzxx hzxx
        <where>
            hzxx.scbj='0'
            <if test="xm !=null and xm !=''">
                and hzxx.xm like '%'||#{xm}||'%'
            </if>
            <if test="zyh !=null and zyh !=''">
                and hzxx.zyh like '%'||#{zyh}||'%'
            </if>
            <if test="ricurqstart != null and ricurqstart != ''">
                and to_char(hzxx.ricurq,'yyyy-mm-dd') &gt;= #{ricurqstart}
            </if>
            <if test="ricurqend != null and ricurqend != ''">
                and to_char(hzxx.ricurq,'yyyy-mm-dd') &lt;= #{ricurqend}
            </if>
            <if test="rzrqstart != null and rzrqstart != ''">
                and to_char(hzxx.rzrq,'yyyy-mm-dd') &gt;= #{rzrqstart}
            </if>
            <if test="rzrqend != null and rzrqend != ''">
                and to_char(hzxx.rzrq,'yyyy-mm-dd') &lt;= #{rzrqend}
            </if>
        </where>
    </select>

    <update id="delete" parameterType="HbphzxxDto">
        update crf_hbphzxx
        <set>
            scbj='1',scry=#{scry},scsj=LOCALTIMESTAMP
        </set>
        <where>
            hbphzxxid in
            <foreach collection="ids" separator="," open="(" close=")" item="item" index="index">
                #{item}
            </foreach>
        </where>
     </update>

    <select id="getDto" resultType="HbphzxxDto" parameterType="HbphzxxDto">
        select hzxx.hbphzxxid, hzxx.xm, hzxx.xb, hzxx.nl, hzxx.sg, hzxx.tz, hzxx.ricuzyzd1, hzxx.ricuzyzd2, hzxx.ricuzyzd3, hzxx.ricuzyzd4, hzxx.jwbs, hzxx.qtjwbs, hzxx.apache,
		hzxx.sofa, hzxx.gcs, hzxx.ricurq, hzxx.zyh, hzxx.bz, hzxx.sfygrxyrzicu, hzxx.sfcn, hzxx.sfzqdycsj, hzxx.sfyj24sw, hzxx.sfjjjc, hzxx.sfjxtq, hzxx.jxtqksrq, hzxx.jxtqjsrq,
		hzxx.grbw, hzxx.qtgrbw, hzxx.sfndxxk, hzxx.ndxxkrq, hzxx.zbjxm1, hzxx.grzbjrq1, hzxx.qzbb1, hzxx.qtqzbb1, hzxx.zbjxm2, hzxx.grzbjrq2, hzxx.qzbb2, hzxx.qtqzbb2, hzxx.cskssfa,
		hzxx.cskssrq, hzxx.sfsjkss1, hzxx.gghkssfa1, hzxx.ggkssrq1, hzxx.sfsjkss2, hzxx.gghkssfa2, hzxx.ggkssrq2, hzxx.cicurq, hzxx.cicuqx, hzxx.qtcicuqx, hzxx.sfynsw, hzxx.ynswrq,
		hzxx.sfsw, hzxx.swrq, hzxx.scbj, hzxx.rzrq, hzxx.qtjwbs
        from crf_hbphzxx hzxx 
		where scbj='0' and hzxx.hbphzxxid=#{hbphzxxid}
     </select>

    <insert id="insert" parameterType="HbphzxxDto">
        insert into crf_hbphzxx(
            hbphzxxid,
            <if test="ricurq !=null and ricurq !=''">
                ricurq,
            </if>
            <if test="cicurq !=null and cicurq !=''">
                cicurq,
            </if>
            <if test="jxtqksrq !=null and jxtqksrq !=''">
                jxtqksrq,
            </if>
            <if test="jxtqjsrq !=null and jxtqjsrq !=''">
                jxtqjsrq,
            </if>
            <if test="ndxxkrq !=null and ndxxkrq !=''">
                ndxxkrq,
            </if>
            <if test="grzbjrq1 !=null and grzbjrq1 !=''">
                grzbjrq1,
            </if>
            <if test="grzbjrq2 !=null and grzbjrq2 !=''">
                grzbjrq2,
            </if>
            <if test="cskssrq !=null and cskssrq !=''">
                cskssrq,
            </if>
            <if test="ggkssrq1 !=null and ggkssrq1 !=''">
                ggkssrq1,
            </if>
            <if test="ggkssrq2 !=null and ggkssrq2 !=''">
                ggkssrq2,
            </if>
            <if test="ynswrq !=null and ynswrq !=''">
                ynswrq,
            </if>
            <if test="swrq !=null and swrq !=''">
                swrq,
            </if>
            <if test="rzrq !=null and rzrq !=''">
                rzrq,
            </if>
            xm,
            xb,
            nl,
            sg,
            tz,
            ricuzyzd1,
            ricuzyzd2,
            ricuzyzd3,
            ricuzyzd4,
            jwbs,
            qtjwbs,
            apache,
            sofa,
            gcs,
            zyh,
            bz,
            sfygrxyrzicu,
            sfcn,
            sfzqdycsj,
            sfyj24sw,
            sfjjjc,
            sfjxtq,
            grbw,
            qtgrbw,
            sfndxxk,
            zbjxm1,
            qzbb1,
            qtqzbb1,
            zbjxm2,
            qzbb2,
            qtqzbb2,
            cskssfa,
            sfsjkss1,
            gghkssfa1,
            sfsjkss2,
            gghkssfa2,
            cicuqx,
            qtcicuqx,
            sfynsw,
            sfsw,
            lrry,
            lrsj,
            xgry,
            xgsj,
            scry,
            scsj,
            scbj
        )
        VALUES
        (
            #{hbphzxxid},
            <if test="ricurq !=null and ricurq !=''">
                cast(#{ricurq} as timestamp),
            </if>
            <if test="cicurq !=null and cicurq !=''">
                cast(#{cicurq} as timestamp),
            </if>
            <if test="jxtqksrq !=null and jxtqksrq !=''">
                cast(#{jxtqksrq} as timestamp),
            </if>
            <if test="jxtqjsrq !=null and jxtqjsrq !=''">
                cast(#{jxtqjsrq} as timestamp),
            </if>
            <if test="ndxxkrq !=null and ndxxkrq !=''">
                cast(#{ndxxkrq} as timestamp),
            </if>
            <if test="grzbjrq1 !=null and grzbjrq1 !=''">
                cast(#{grzbjrq1} as timestamp),
            </if>
            <if test="grzbjrq2 !=null and grzbjrq2 !=''">
                cast(#{grzbjrq2} as timestamp),
            </if>
            <if test="cskssrq !=null and cskssrq !=''">
                cast(#{cskssrq} as timestamp),
            </if>
            <if test="ggkssrq1 !=null and ggkssrq1 !=''">
                cast(#{ggkssrq1} as timestamp),
            </if>
            <if test="ggkssrq2 !=null and ggkssrq2 !=''">
                cast(#{ggkssrq2} as timestamp),
            </if>
            <if test="ynswrq !=null and ynswrq !=''">
                cast(#{ynswrq} as timestamp),
            </if>
            <if test="swrq !=null and swrq !=''">
                cast(#{swrq} as timestamp),
            </if>
            <if test="rzrq !=null and rzrq !=''">
                cast(#{rzrq} as timestamp),
            </if>
            #{xm},
            #{xb},
            #{nl},
            #{sg},
            #{tz},
            #{ricuzyzd1},
            #{ricuzyzd2},
            #{ricuzyzd3},
            #{ricuzyzd4},
            #{jwbs},
            #{qtjwbs},
            #{apache},
            #{sofa},
            #{gcs},
            #{zyh},
            #{bz},
            #{sfygrxyrzicu},
            #{sfcn},
            #{sfzqdycsj},
            #{sfyj24sw},
            #{sfjjjc},
            #{sfjxtq},
            #{grbw},
            #{qtgrbw},
            #{sfndxxk},
            #{zbjxm1},
            #{qzbb1},
            #{qtqzbb1},
            #{zbjxm2},
            #{qzbb2},
            #{qtqzbb2},
            #{cskssfa},
            #{sfsjkss1},
            #{gghkssfa1},
            #{sfsjkss2},
            #{gghkssfa2},
            #{cicuqx},
            #{qtcicuqx},
            #{sfynsw},
            #{sfsw},
            #{lrry},
            LOCALTIMESTAMP,
            #{xgry},
            #{xgsj},
            #{scry},
            #{scsj},
            '0'
        )
     </insert>

    <update id="updateDto" parameterType="HbphzxxDto">
        update crf_hbphzxx set
        xm = #{xm},
        xb = #{xb},
        nl = #{nl},
        sg = #{sg},
        tz = #{tz},
        ricuzyzd1 = #{ricuzyzd1},
        ricuzyzd2 = #{ricuzyzd2},
        ricuzyzd3 = #{ricuzyzd3},
        ricuzyzd4 = #{ricuzyzd4},
        jwbs = #{jwbs},
        qtjwbs = #{qtjwbs},
        apache = #{apache},
        sofa = #{sofa},
        gcs = #{gcs},
        zyh = #{zyh},
        bz = #{bz},
        sfygrxyrzicu = #{sfygrxyrzicu},
        sfcn = #{sfcn},
        sfzqdycsj = #{sfzqdycsj},
        sfyj24sw = #{sfyj24sw},
        sfjjjc = #{sfjjjc},
        sfjxtq = #{sfjxtq},
        grbw = #{grbw},
        qtgrbw = #{qtgrbw},
        sfndxxk = #{sfndxxk},
        zbjxm1 = #{zbjxm1},
        qzbb1 = #{qzbb1},
        qtqzbb1 = #{qtqzbb1},
        zbjxm2 = #{zbjxm2},
        qzbb2 = #{qzbb2},
        qtqzbb2 = #{qtqzbb2},
        cskssfa = #{cskssfa},
        sfsjkss1 = #{sfsjkss1},
        gghkssfa1 = #{gghkssfa1},
        sfsjkss2 = #{sfsjkss2},
        gghkssfa2 = #{gghkssfa2},
        cicuqx = #{cicuqx},
        qtcicuqx = #{qtcicuqx},
        sfynsw = #{sfynsw},
        sfsw = #{sfsw},
        <choose>
            <when test="ricurq !=null and ricurq != ''">
                ricurq=cast(#{ricurq} as timestamp),
            </when>
            <otherwise>
                ricurq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="cicurq !=null and cicurq != ''">
                cicurq=cast(#{cicurq} as timestamp),
            </when>
            <otherwise>
                cicurq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="jxtqksrq !=null and jxtqksrq != ''">
                jxtqksrq=cast(#{jxtqksrq} as timestamp),
            </when>
            <otherwise>
                jxtqksrq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="jxtqjsrq !=null and jxtqjsrq != ''">
                jxtqjsrq=cast(#{jxtqjsrq} as timestamp),
            </when>
            <otherwise>
                jxtqjsrq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="ndxxkrq !=null and ndxxkrq != ''">
                ndxxkrq=cast(#{ndxxkrq} as timestamp),
            </when>
            <otherwise>
                ndxxkrq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="grzbjrq1 !=null and grzbjrq1 != ''">
                grzbjrq1=cast(#{grzbjrq1} as timestamp),
            </when>
            <otherwise>
                grzbjrq1=null,
            </otherwise>
        </choose>
        <choose>
            <when test="grzbjrq2 !=null and grzbjrq2 != ''">
                grzbjrq2=cast(#{grzbjrq2} as timestamp),
            </when>
            <otherwise>
                grzbjrq2=null,
            </otherwise>
        </choose>
        <choose>
            <when test="cskssrq !=null and cskssrq != ''">
                cskssrq=cast(#{cskssrq} as timestamp),
            </when>
            <otherwise>
                cskssrq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="ggkssrq1 !=null and ggkssrq1 != ''">
                ggkssrq1=cast(#{ggkssrq1} as timestamp),
            </when>
            <otherwise>
                ggkssrq1=null,
            </otherwise>
        </choose>
        <choose>
            <when test="ggkssrq2 !=null and ggkssrq2 != ''">
                ggkssrq2=cast(#{ggkssrq2} as timestamp),
            </when>
            <otherwise>
                ggkssrq2=null,
            </otherwise>
        </choose>
        <choose>
            <when test="ynswrq !=null and ynswrq != ''">
                ynswrq=cast(#{ynswrq} as timestamp),
            </when>
            <otherwise>
                ynswrq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="swrq !=null and swrq != ''">
                swrq=cast(#{swrq} as timestamp),
            </when>
            <otherwise>
                swrq=null,
            </otherwise>
        </choose>
        <choose>
            <when test="rzrq !=null and rzrq != ''">
                rzrq=cast(#{rzrq} as timestamp),
            </when>
            <otherwise>
                rzrq=null,
            </otherwise>
        </choose>
        xgry = #{xgry},
        xgsj = LOCALTIMESTAMP
        where hbphzxxid = #{hbphzxxid}
    </update>
    
</mapper>
