<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IJnsjcdiqyysDao" >
    <select id="getDtoList" parameterType="JnsjcdiqyysDto" resultType="JnsjcdiqyysDto">
        select zqyys.yysid, zqyys.jnsjbgid, zqyys.ywlx, jcsj_ywzlx.csmc ywzlx, zqyys.yw, zqyys.jl, zqyys.ksrq, zqyys.tyrq, zqyys.qtywmc
        from crf_jnsjcdiqyys zqyys
        left join matridx_jcsj jcsj_ywzlx on jcsj_ywzlx.csid = zqyys.ywzlx
        <where>
            zqyys.scbj != '1'
            <if test="jnsjbgid != null and jnsjbgid !=''">
                and zqyys.jnsjbgid = #{jnsjbgid}
            </if>
        </where>
    </select>
    <select id="getDtoByList" parameterType="JnsjcdiqyysDto" resultType="JnsjcdiqyysDto">
        select zqyys.yysid, zqyys.jnsjbgid, zqyys.ywlx, zqyys.ywzlx, zqyys.yw, zqyys.jl, zqyys.ksrq, zqyys.tyrq, zqyys.qtywmc
        from crf_jnsjcdiqyys zqyys
        <where>
            zqyys.scbj != '1'
            <if test="jnsjbgid != null and jnsjbgid !=''">
                and zqyys.jnsjbgid = #{jnsjbgid}
            </if>
        </where>
    </select>
    <insert id="insertList" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            insert into crf_jnsjcdiqyys(
            <if test="item.yysid !=null and item.yysid !=''">
                yysid
            </if>
            <if test="item.jnsjbgid !=null and item.jnsjbgid !=''">
                ,jnsjbgid
            </if>
            <if test="item.ywlx !=null and item.ywlx !=''">
                ,ywlx
            </if>
            <if test="item.ywzlx !=null and item.ywzlx !=''">
                ,ywzlx
            </if>
            <if test="item.yw !=null and item.yw !=''">
                ,yw
            </if>
            <if test="item.jl !=null and item.jl !=''">
                ,jl
            </if>
            <if test="item.ksrq !=null and item.ksrq !=''">
                ,ksrq
            </if>
            <if test="item.tyrq !=null and item.tyrq !=''">
                ,tyrq
            </if>
            <if test="item.qtywmc !=null and item.qtywmc !=''">
                ,qtywmc
            </if>
            <if test="item.scbj !=null and item.scbj !=''">
                ,scbj
            </if>
            ) values

            (
            <if test="item.yysid !=null and item.yysid !=''">
                #{item.yysid}
            </if>
            <if test="item.jnsjbgid !=null and item.jnsjbgid !=''">
                ,#{item.jnsjbgid}
            </if>
            <if test="item.ywlx !=null and item.ywlx !=''">
                ,#{item.ywlx}
            </if>
            <if test="item.ywzlx !=null and item.ywzlx !=''">
                ,#{item.ywzlx}
            </if>
            <if test="item.yw !=null and item.yw !=''">
                ,#{item.yw}
            </if>
            <if test="item.jl !=null and item.jl !=''">
                ,#{item.jl}
            </if>
            <if test="item.ksrq !=null and item.ksrq !=''">
                ,cast (#{item.ksrq} as timestamp)
            </if>
            <if test="item.tyrq !=null and item.tyrq !=''">
                ,cast (#{item.tyrq} as timestamp)
            </if>
            <if test="item.qtywmc !=null and item.qtywmc !=''">
                ,#{item.qtywmc}
            </if>
            <if test="item.scbj !=null and item.scbj !=''">
                ,#{item.scbj}
            </if>
            )
        </foreach>
    </insert>

    <update id="delJncjcdiqyys" parameterType="JnsjcdiqyysDto">
        update crf_jnsjcdiqyys
        <set>
            scbj=#{scbj}
        </set>
        where jnsjbgid =#{jnsjbgid}
    </update>

    <update id="batchDelete" parameterType="JnsjcdiqyysDto">
        update crf_jnsjcdiqyys set scbj='1'
        <where>
            jnsjbgid in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </update>
</mapper>
