<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IJnsjbgjlDao" >

    <select id="getPagedDtoList" parameterType="JnsjbgjlDto" resultType="JnsjbgjlDto">
        select bgjl.jnsjbgid, bgjl.jnsjhzid, bgjl.blrzdw, bgjl.ks, bgjl.blrzbh, bgjl.zyh, bgjl.tbsj, bgjl.jzlx, bgjl.sffx, bgjl.fxpl, bgjl.sffz, bgjl.sfyzdxjjc,
        bgjl.sfcgz, bgjl.sfdxy, bgjl.sfxk, bgjl.dbxz, bgjl.fhxb, bgjl.fbxb, bgjl.fjmyzj, bgjl.fyx, bgjl.ztdb, bgjl.gwdb, bgjl.wbc, bgjl.n, bgjl.l, bgjl.hct,
        bgjl.hb, bgjl.plt, bgjl.alb, bgjl.ck, bgjl.tbil, bgjl.bun, bgjl.cr, bgjl.esr, bgjl.crp, bgjl.pct, bgjl.sfywmxcy, bgjl.sfzlcdi, bgjl.sfsw, bgjl.lrry,
            bgjl.lrsj, bgjl.xgry, bgjl.xgsj, bgjl.scry, bgjl.scsj, bgjl.scbj, blrzdw_jcsj.csmc blrzdwmc, ks_jcsj.csmc ksmc,
        hzxx.jnsjhzid,hzxx.xm,hzxx.xb, hzxx.nl, hzxx.copd, hzxx.xyxtexzl, hzxx.stqgyz, hzxx.cqjsjszl, hzxx.zsmyjb, hzxx.tnb,
        hzxx.zlxjb, hzxx.gxb, hzxx.nxgjb, hzxx.mxsb, hzxx.yzxcb, hzxx.cyzd, hzxx.sgyqsfyzys, hzxx.rysj, hzxx.cysj, hzxx.zyhf
        from crf_jnsjbgjl bgjl
        left join crf_jnsjhzxx hzxx on hzxx.jnsjhzid = bgjl.jnsjhzid and hzxx.scbj='0'
        left join matridx_jcsj blrzdw_jcsj on bgjl.blrzdw = blrzdw_jcsj.csid and blrzdw_jcsj.scbj='0'
        left join matridx_jcsj ks_jcsj on bgjl.ks = ks_jcsj.csid and ks_jcsj.scbj='0'
        <where>
            bgjl.scbj ='0'
        </where>
    </select>

    <select id="generateBlrzbh" parameterType="String" resultType="String">
        select lpad( CAST( (cast(coalesce( MAX( SUBSTRING(blrzbh, LENGTH(blrzbh)-2 )),'0')as numeric)+1) as VARCHAR ) ,4,'0') serial
        from crf_jnsjbgjl
        <where>
            blrzbh like #{prefix}||'%'
        </where>
    </select>

    <!-- 新增一条数据 -->
    <insert id="insertDto" parameterType="JnsjbgjlDto">
        insert into crf_jnsjbgjl
        (
        <if test="jnsjbgid !=null and jnsjbgid !=''">
            jnsjbgid
        </if>
        <if test="jnsjhzid !=null and jnsjhzid !=''">
            ,jnsjhzid
        </if>
        <if test="blrzdw !=null and blrzdw !=''">
            ,blrzdw
        </if>
        <if test="ks !=null and ks !=''">
            ,ks
        </if>
        <if test="blrzbh !=null and blrzbh !=''">
            ,blrzbh
        </if>

        <if test="zyh !=null and zyh !=''">
            ,zyh
        </if>

        <if test="tbsj !=null and tbsj !=''">
            ,tbsj
        </if>
        <if test="jzlx !=null and jzlx !=''">
            ,jzlx
        </if>

        <if test="sffx !=null and sffx !=''">
            ,sffx
        </if>
        <if test="fxpl !=null and fxpl !=''">
            ,fxpl
        </if>
        <if test="sffz !=null and sffz !=''">
            ,sffz
        </if>
        <if test="sfyzdxjjc !=null and sfyzdxjjc !=''">
            ,sfyzdxjjc
        </if>
        <if test="sfcgz !=null and sfcgz !=''">
            ,sfcgz
        </if>
        <if test="sfdxy !=null and sfdxy !=''">
            ,sfdxy
        </if>
        <if test="sfxk !=null and sfxk !=''">
            ,sfxk
        </if>
        <if test="dbxz !=null and dbxz !=''">
            ,dbxz
        </if>
        <if test="fhxb !=null and fhxb !=''">
            ,fhxb
        </if>
        <if test="fbxb !=null and fbxb !=''">
            ,fbxb
        </if>

        <if test="fjmyzj !=null and fjmyzj !=''">
            ,fjmyzj
        </if>
        <if test="fyx !=null and fyx !=''">
            ,fyx
        </if>
        <if test="ztdb !=null and ztdb !=''">
            ,ztdb
        </if>
        <if test="gwdb !=null and gwdb !=''">
            ,gwdb
        </if>
        <if test="wbc !=null and wbc !=''">
            ,wbc
        </if>
        <if test="n !=null and n !=''">
            ,n
        </if>
        <if test="l !=null and l !=''">
            ,l
        </if>
        <if test="hct !=null and hct !=''">
            ,hct
        </if>
        <if test="hb !=null and hb !=''">
            ,hb
        </if>
        <if test="plt !=null and plt !=''">
            ,plt
        </if>
        <if test="alb !=null and alb !=''">
            ,alb
        </if>
        <if test="zsmyjb !=null and zsmyjb !=''">
            ,zsmyjb
        </if>
        <if test="ck !=null and ck !=''">
            ,ck
        </if>
        <if test="tbil !=null and tbil !=''">
            ,tbil
        </if>
        <if test="bun !=null and bun !=''">
            ,bun
        </if>
        <if test="cr !=null and cr !=''">
            ,cr
        </if>
        <if test="esr !=null and esr !=''">
            ,esr
        </if>
        <if test="crp !=null and crp !=''">
            ,crp
        </if>
        <if test="pct !=null and pct !=''">
            ,pct
        </if>
        <if test="sfywmxcy !=null and sfywmxcy !=''">
            ,sfywmxcy
        </if>
        <if test="sfzlcdi !=null and sfzlcdi !=''">
            ,sfzlcdi
        </if>
        <if test="sfsw !=null and sfsw !=''">
            ,sfsw
        </if>
        <if test="lrry !=null and lrry !=''">
            ,lrry
        </if>
        <if test="lrsj !=null and lrsj !=''">
            ,lrsj
        </if>
        <if test="scbj !=null and scbj !=''">
            ,scbj
        </if>

        )
        values
        (
        <if test="jnsjbgid !=null and jnsjbgid !=''">
            #{jnsjbgid}
        </if>
        <if test="jnsjhzid !=null and jnsjhzid !=''">
            ,#{jnsjhzid}
        </if>
        <if test="blrzdw !=null and blrzdw !=''">
            ,#{blrzdw}
        </if>
        <if test="ks !=null and ks !=''">
            ,#{ks}
        </if>
        <if test="blrzbh !=null and blrzbh !=''">
            ,#{blrzbh}
        </if>

        <if test="zyh !=null and zyh !=''">
            ,#{zyh}
        </if>

        <if test="tbsj !=null and tbsj !=''">
            ,cast (#{tbsj} as timestamp)
        </if>
        <if test="jzlx !=null and jzlx !=''">
            ,#{jzlx}
        </if>

        <if test="sffx !=null and sffx !=''">
            ,#{sffx}
        </if>
        <if test="fxpl !=null and fxpl !=''">
            ,#{fxpl}
        </if>
        <if test="sffz !=null and sffz !=''">
            ,#{sffz}
        </if>
        <if test="sfyzdxjjc !=null and sfyzdxjjc !=''">
            ,#{sfyzdxjjc}
        </if>
        <if test="sfcgz !=null and sfcgz !=''">
            ,#{sfcgz}
        </if>
        <if test="zsmyjb !=null and zsmyjb !=''">
            ,#{zsmyjb}
        </if>
        <if test="sfdxy !=null and sfdxy !=''">
            ,#{sfdxy}
        </if>
        <if test="sfxk !=null and sfxk !=''">
            ,#{sfxk}
        </if>
        <if test="dbxz !=null and dbxz !=''">
            ,#{dbxz}
        </if>
        <if test="fhxb !=null and fhxb !=''">
            ,#{fhxb}
        </if>
        <if test="fbxb !=null and fbxb !=''">
            ,#{fbxb}
        </if>

        <if test="fjmyzj !=null and fjmyzj !=''">
            ,#{fjmyzj}
        </if>
        <if test="fyx !=null and fyx !=''">
            ,#{fyx}
        </if>
        <if test="ztdb !=null and ztdb !=''">
            ,#{ztdb}
        </if>
        <if test="gwdb !=null and gwdb !=''">
            ,#{gwdb}
        </if>
        <if test="wbc !=null and wbc !=''">
            ,#{wbc}
        </if>
        <if test="n !=null and n !=''">
            ,#{n}
        </if>
        <if test="l !=null and l !=''">
            ,#{l}
        </if>
        <if test="hct !=null and hct !=''">
            ,#{hct}
        </if>
        <if test="hb !=null and hb !=''">
            ,#{hb}
        </if>
        <if test="plt !=null and plt !=''">
            ,#{plt}
        </if>
        <if test="alb !=null and alb !=''">
            ,#{alb}
        </if>

        <if test="ck !=null and ck !=''">
            ,#{ck}
        </if>
        <if test="tbil !=null and tbil !=''">
            ,#{tbil}
        </if>
        <if test="bun !=null and bun !=''">
            ,#{bun}
        </if>
        <if test="cr !=null and cr !=''">
            ,#{cr}
        </if>
        <if test="esr !=null and esr !=''">
            ,#{esr}
        </if>
        <if test="crp !=null and crp !=''">
            ,#{crp}
        </if>
        <if test="pct !=null and pct !=''">
            ,#{pct}
        </if>
        <if test="sfywmxcy !=null and sfywmxcy !=''">
            ,#{sfywmxcy}
        </if>
        <if test="sfzlcdi !=null and sfzlcdi !=''">
            ,#{sfzlcdi}
        </if>
        <if test="sfsw !=null and sfsw !=''">
            ,#{sfsw}
        </if>
        <if test="lrry !=null and lrry !=''">
            ,#{lrry}
        </if>
        <if test="lrsj !=null and lrsj !=''">
            ,cast (#{lrsj} as timestamp)
        </if>
        <if test="scbj !=null and scbj !=''">
            ,#{scbj}
        </if>
        )
    </insert>
    <update id="updateDto" parameterType="JnsjbgjlDto">
        update crf_jnsjbgjl
        <set>
            <if test="blrzdw !=null and blrzdw !=''">
                blrzdw=#{blrzdw},
            </if>
            <if test="ks !=null and ks !=''">
                ks=#{ks},
            </if>
            <if test="blrzbh !=null and blrzbh !=''">
                blrzbh=#{blrzbh},
            </if>

            <if test="zyh !=null and zyh !=''">
                zyh=#{zyh},
            </if>
            <if test="jzlx !=null and jzlx !=''">
                jzlx=#{jzlx},
            </if>

            <if test="sffx !=null and sffx !=''">
                sffx=#{sffx},
            </if>
            <if test="fxpl !=null and fxpl !=''">
                fxpl=#{fxpl},
            </if>
            <if test="sffz !=null and sffz !=''">
                sffz=#{sffz},
            </if>
            <if test="sfyzdxjjc !=null and sfyzdxjjc !=''">
                sfyzdxjjc=#{sfyzdxjjc},
            </if>
            <if test="sfcgz !=null and sfcgz !=''">
                sfcgz=#{sfcgz},
            </if>
            <if test="zsmyjb !=null and zsmyjb !=''">
                zsmyjb=#{zsmyjb},
            </if>
            <if test="sfdxy !=null and sfdxy !=''">
                sfdxy=#{sfdxy},
            </if>
            <if test="sfxk !=null and sfxk !=''">
                sfxk=#{sfxk},
            </if>
            <if test="dbxz !=null and dbxz !=''">
                dbxz=#{dbxz},
            </if>
            <if test="fhxb !=null and fhxb !=''">
                fhxb=#{fhxb},
            </if>
            <if test="fbxb !=null and fbxb !=''">
                fbxb=#{fbxb},
            </if>

            <if test="fjmyzj !=null and fjmyzj !=''">
                fjmyzj=#{fjmyzj},
            </if>
            <if test="fyx !=null and fyx !=''">
                fyx=#{fyx},
            </if>
            <if test="ztdb !=null and ztdb !=''">
                ztdb=#{ztdb},
            </if>
            <if test="gwdb !=null and gwdb !=''">
                gwdb=#{gwdb},
            </if>
            <if test="wbc !=null and wbc !=''">
                wbc=#{wbc},
            </if>
            <if test="n !=null and n !=''">
                n=#{n},
            </if>
            <if test="l !=null and l !=''">
                l=#{l},
            </if>
            <if test="hct !=null and hct !=''">
                hct=#{hct},
            </if>
            <if test="hb !=null and hb !=''">
                hb=#{hb},
            </if>
            <if test="plt !=null and plt !=''">
                plt=#{plt},
            </if>
            <if test="alb !=null and alb !=''">
                alb=#{alb},
            </if>

            <if test="ck !=null and ck !=''">
                ck=#{ck},
            </if>
            <if test="tbil !=null and tbil !=''">
                tbil=#{tbil},
            </if>
            <if test="bun !=null and bun !=''">
                bun=#{bun},
            </if>
            <if test="cr !=null and cr !=''">
                cr=#{cr},
            </if>
            <if test="esr !=null and esr !=''">
                esr=#{esr},
            </if>
            <if test="crp !=null and crp !=''">
                crp=#{crp},
            </if>
            <if test="pct !=null and pct !=''">
                pct=#{pct},
            </if>
            <if test="sfywmxcy !=null and sfywmxcy !=''">
                sfywmxcy=#{sfywmxcy},
            </if>
            <if test="sfzlcdi !=null and sfzlcdi !=''">
                sfzlcdi=#{sfzlcdi},
            </if>
            <if test="sfsw !=null and sfsw !=''">
                sfsw=#{sfsw},
            </if>
            <if test="xgry !=null and xgry !=''">
                xgry=#{xgry},
            </if>
            <if test="xgsj !=null and xgsj !=''">
                xgsj=cast (#{xgsj} as timestamp),
            </if>
            <if test="tbsj !=null and tbsj !=''">
                tbsj=cast (#{tbsj} as timestamp),
            </if>
        </set>
        <where>
            jnsjbgid= #{jnsjbgid}
        </where>
    </update>
    <select id="getDtoById" parameterType="JnsjbgjlDto" resultType="JnsjbgjlDto">
        select * from  crf_jnsjbgjl
        <where>
            scbj ='0' and jnsjbgid=#{jnsjbgid}
        </where>
    </select>

    <select id="getDto" parameterType="JnsjbgjlDto" resultType="JnsjbgjlDto">
        select bgjl.jnsjbgid, bgjl.jnsjhzid, jc_dw.csid blrzdw, jc_dw.csmc blrzdwmc, jc_ks.csmc ksmc,jc_ks.csid ks, bgjl.blrzbh, bgjl.zyh, bgjl.tbsj, bgjl.jzlx, bgjl.mlst, bgjl.tcda, bgjl.tcdb, bgjl.ctdc, bgjl.ctdd, bgjl.httfx, bgjl.dtms, bgjl.klms,
        bgjl.sffx, bgjl.fxpl, bgjl.sffz, bgjl.sfyzdxjjc, bgjl.sfcgz, bgjl.sfdxy, bgjl.sfxk, bgjl.dbxz, bgjl.fhxb, bgjl.mlpn, bgjl.wgms, bgjl.lnza, bgjl.jxz, bgjl.mxsx, bgjl.tkln, bgjl.lfxm,
        bgjl.fbxb, bgjl.fjmyzj, bgjl.fyx, bgjl.ztdb, bgjl.gwdb, bgjl.wbc, bgjl.n, bgjl.l, bgjl.hct, bgjl.hb, bgjl.plt, bgjl.alb, bgjl.ck, bgjl.tbil, bgjl.bun,
        bgjl.cr, bgjl.esr, bgjl.crp, bgjl.pct, bgjl.sfywmxcy, bgjl.sfzlcdi, bgjl.sfsw, bgjl.lrry, bgjl.lrsj, bgjl.xgry, bgjl.xgsj, bgjl.scry, bgjl.scsj, bgjl.scbj,
        hzxx.jnsjhzid,hzxx.xm,hzxx.xb, hzxx.nl, hzxx.copd, hzxx.xyxtexzl, hzxx.stqgyz, hzxx.cqjsjszl, hzxx.zsmyjb, hzxx.tnb,
        hzxx.zlxjb, hzxx.gxb, hzxx.nxgjb, hzxx.mxsb, hzxx.yzxcb, hzxx.cyzd, hzxx.sgyqsfyzys, hzxx.rysj, hzxx.cysj, hzxx.zyhf,
        case when bgjl.jzlx='1' then '门、急诊' when bgjl.jzlx='2' then '住普通病房' when bgjl.jzlx='2' then '住ICU' end jzlxmc,
        case when hzxx.xb='1' then '男' when hzxx.xb='2' then '女' when hzxx.xb='0' then '未知' end xbmc
        from crf_jnsjbgjl bgjl
        left join crf_jnsjhzxx hzxx on hzxx.jnsjhzid = bgjl.jnsjhzid and hzxx.scbj='0'
        left join matridx_jcsj jc_dw on jc_dw.csid = bgjl.blrzdw and jc_dw.scbj ='0'
        left join matridx_jcsj jc_ks on jc_ks.csid = bgjl.ks and jc_ks.scbj ='0'
        <where>
            bgjl.scbj ='0' and bgjl.jnsjbgid=#{jnsjbgid}
        </where>
    </select>

    <select id="getViewDto" parameterType="JnsjbgjlDto" resultType="JnsjbgjlDto">
        select bgjl.jnsjbgid, bgjl.jnsjhzid, jcsj_dw.csmc blrzdw, jcsj_ks.csmc ks, bgjl.blrzbh, bgjl.zyh, bgjl.tbsj,
        case when bgjl.jzlx='1' then '门、急诊' when bgjl.jzlx='2' then '住普通病房' when bgjl.jzlx='2' then '住ICU' end jzlx,
        case when  bgjl.sffx='1' then '是' else '否' end sffx,
        case when bgjl.fxpl='0' then '4-5次' when bgjl.fxpl='1' then '5-6次' when bgjl.fxpl='2' then '6次以上' end fxpl,
        case when bgjl.sffz='1' then '是' else '否' end sffz, case when bgjl.sfyzdxjjc='1' then '是' else '否' end sfyzdxjjc,
        case when bgjl.sfcgz='1' then '是' else '否' end sfcgz, case when bgjl.sfdxy='1' then '是' else '否' end sfdxy,
        case when bgjl.sfxk='1' then '是' else '否' end sfxk, bgjl.dbxz, bgjl.fhxb, bgjl.fbxb, bgjl.fjmyzj, bgjl.fyx, bgjl.ztdb,
        bgjl.gwdb, bgjl.wbc, bgjl.n, bgjl.l, bgjl.hct, bgjl.hb, bgjl.plt, bgjl.alb, bgjl.ck, bgjl.tbil, bgjl.bun,bgjl.cr, bgjl.esr,
        bgjl.crp, bgjl.pct, case when bgjl.sfywmxcy='1' then '是' else '否' end sfywmxcy,case when bgjl.sfzlcdi='1' then '是' else '否' end sfzlcdi,
        case when bgjl.sfsw='1' then '是' else '否' end sfsw, bgjl.lrry, bgjl.lrsj, bgjl.xgry, bgjl.xgsj, bgjl.scry, bgjl.scsj, bgjl.scbj,
        hzxx.jnsjhzid,hzxx.xm,case when hzxx.xb='1' then '男' when hzxx.xb='2' then '女' when hzxx.xb='0' then '未知' end xb, hzxx.nl,
        case when hzxx.xyxtexzl='1' then '是' when hzxx.xyxtexzl='0' then '否' when hzxx.xyxtexzl='2' then '不清楚' end xyxtexzl,
        case when hzxx.copd='1' then '是' when hzxx.copd='0' then '否' when hzxx.copd='2' then '不清楚' end copd,
        case when hzxx.stqgyz='1' then '是' when hzxx.stqgyz='0' then '否' when hzxx.stqgyz='2' then '不清楚' end stqgyz,
        case when hzxx.cqjsjszl='1' then '是' when hzxx.cqjsjszl='0' then '否' when hzxx.cqjsjszl='2' then '不清楚' end cqjsjszl,
        case when hzxx.zsmyjb='1' then '是' when hzxx.zsmyjb='0' then '否' when hzxx.zsmyjb='2' then '不清楚' end zsmyjb,
        case when hzxx.tnb='1' then '是' when hzxx.tnb='0' then '否' when hzxx.tnb='2' then '不清楚' end tnb,
        case when hzxx.zlxjb='1' then '是' when hzxx.zlxjb='0' then '否' when hzxx.zlxjb='2' then '不清楚' end zlxjb,
        case when hzxx.gxb='1' then '是' when hzxx.gxb='0' then '否' when hzxx.gxb='2' then '不清楚' end gxb,
        case when hzxx.nxgjb='1' then '是' when hzxx.nxgjb='0' then '否' when hzxx.nxgjb='2' then '不清楚' end nxgjb,
        case when hzxx.mxsb='1' then '是' when hzxx.mxsb='0' then '否' when hzxx.mxsb='2' then '不清楚' end mxsb,
        case when hzxx.yzxcb='1' then '是' when hzxx.yzxcb='0' then '否' when hzxx.yzxcb='2' then '不清楚' end yzxcb,
        case when hzxx.sgyqsfyzys='1' then '是' when hzxx.sgyqsfyzys='0' then '否' when hzxx.sgyqsfyzys='2' then '不清楚' end sgyqsfyzys,
        case when bgjl.mlpnmg='1' then '敏感' when bgjl.mlpnmg='0' then '不敏感' end mlpnmg,
        case when bgjl.wgmsmg='1' then '敏感' when bgjl.wgmsmg='0' then '不敏感' end wgmsmg,
        case when bgjl.lnzamg='1' then '敏感' when bgjl.lnzamg='0' then '不敏感' end lnzamg,
        case when bgjl.jxzmg='1' then '敏感' when bgjl.jxzmg='0' then '不敏感' end jxzmg,
        case when bgjl.lfxmmg='1' then '敏感' when bgjl.lfxmmg='0' then '不敏感' end lfxmmg,
        case when bgjl.klmsmg='1' then '敏感' when bgjl.klmsmg='0' then '不敏感' end klmsmg,
        case when bgjl.tcda='1' then '阳性' when bgjl.tcda='0' then '阴性' end tcda,
        case when bgjl.tcdb='1' then '阳性' when bgjl.tcdb='0' then '阴性' end tcdb,
        case when bgjl.ctdc='1' then '阳性' when bgjl.ctdc='0' then '阴性' end ctdc,
        case when bgjl.ctdd='1' then '阳性' when bgjl.ctdd='0' then '阴性' end ctdd,
        bgjl.mlst, bgjl.httfx, bgjl.mxsx, bgjl.tkln, bgjl.dtms,
        hzxx.cyzd, hzxx.rysj, hzxx.cysj, hzxx.zyhf
        from crf_jnsjbgjl bgjl
        left join crf_jnsjhzxx hzxx on hzxx.jnsjhzid = bgjl.jnsjhzid and hzxx.scbj='0'
        left join matridx_jcsj jcsj_dw on jcsj_dw.csid = bgjl.blrzdw and jcsj_dw.scbj = '0'
        left join matridx_jcsj jcsj_ks on jcsj_ks.csid = bgjl.ks and jcsj_ks.scbj = '0'
        <where>
            bgjl.scbj ='0' and bgjl.jnsjbgid=#{jnsjbgid}
        </where>
    </select>

    <update id="deletelistByIds" parameterType="JnsjbgjlDto">
        update crf_jnsjbgjl set scbj='1',scry=#{scry},scsj=LOCALTIMESTAMP
        <where>
            jnsjbgid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="getJnsjhzids" parameterType="JnsjbgjlDto" resultType="String">
        select jnsjhzid from  crf_jnsjbgjl
        <where>
            jnsjbgid in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </select>

    <update id="extendUpdateJnsj" parameterType="JnsjbgjlDto">
        update crf_jnsjbgjl
        <set>
            xgry=#{xgry},xgsj=LOCALTIMESTAMP
            <if test="mlst !=null and mlst !=''">
                ,mlst=#{mlst}
            </if>
            <if test="mlst == null or mlst == ''">
                ,mlst=''
            </if>
            <if test="httfx !=null and httfx !=''">
                ,httfx=#{httfx}
            </if>
            <if test="httfx == null or httfx == ''">
                ,httfx=''
            </if>
            <if test="tcda !=null and tcda !=''">
                ,tcda=#{tcda}
            </if>
            <if test="tcdb !=null and tcdb !=''">
                ,tcdb=#{tcdb}
            </if>
            <if test="ctdc !=null and ctdc !=''">
                ,ctdc=#{ctdc}
            </if>
            <if test="ctdd !=null and ctdd !=''">
                ,ctdd=#{ctdd}
            </if>
            <if test="mlpn !=null and mlpn !=''">
                ,mlpn=#{mlpn}
            </if>
            <if test="mlpn == null or mlpn == ''">
                ,mlpn=''
            </if>
            <if test="mlpnmg !=null and mlpnmg !=''">
                ,mlpnmg=#{mlpnmg}
            </if>
            <if test="wgms !=null and wgms !=''">
                ,wgms=#{wgms}
            </if>
            <if test="wgms == null or wgms == ''">
                ,wgms=''
            </if>
            <if test="wgmsmg !=null and wgmsmg !=''">
                ,wgmsmg=#{wgmsmg}
            </if>
            <if test="lnza !=null and lnza !=''">
                ,lnza=#{lnza}
            </if>
            <if test="lnza == null or lnza == ''">
                ,lnza=''
            </if>
            <if test="lnzamg !=null and lnzamg !=''">
                ,lnzamg=#{lnzamg}
            </if>
            <if test="jxz !=null and jxz !=''">
                ,jxz=#{jxz}
            </if>
            <if test="jxz == null or jxz == ''">
                ,jxz=''
            </if>
            <if test="jxzmg !=null and jxzmg !=''">
                ,jxzmg=#{jxzmg}
            </if>
            <if test="mxsx !=null and mxsx !=''">
                ,mxsx=#{mxsx}
            </if>
            <if test="mxsx == null or mxsx == ''">
                ,mxsx=''
            </if>
            <if test="tkln !=null and tkln !=''">
                ,tkln=#{tkln}
            </if>
            <if test="tkln == null or tkln == ''">
                ,tkln=''
            </if>
            <if test="lfxm !=null and lfxm !=''">
                ,lfxm=#{lfxm}
            </if>
            <if test="lfxm == null or lfxm == ''">
                ,lfxm=''
            </if>
            <if test="lfxmmg !=null and lfxmmg !=''">
                ,lfxmmg=#{lfxmmg}
            </if>
            <if test="dtms !=null and dtms !=''">
                ,dtms=#{dtms}
            </if>
            <if test="dtms == null or dtms == ''">
                ,dtms=''
            </if>
            <if test="klms !=null and klms !=''">
                ,klms=#{klms}
            </if>
            <if test="klms == null or klms == ''">
                ,klms=''
            </if>
            <if test="klmsmg !=null and klmsmg !=''">
                ,klmsmg=#{klmsmg}
            </if>
        </set>
        <where>
            jnsjbgid= #{jnsjbgid}
        </where>
    </update>

    <!-- 选中导出  -->
    <!--<select id="getListForSelectExp" parameterType="JnsjbgjlDto" resultType="JnsjbgjlDto">
        SELECT  bgjl.jnsjbgid ${sqlParam}
        FROM (
        <foreach collection="ids" separator=" union all "  index="index" item="item">
            select #{item, jdbcType=VARCHAR} jnsjbgid, #{index} ordernum
        </foreach>
        ) tmp
        LEFT OUTER JOIN crf_jnsjbgjl bgjl ON tmp.jnsjbgid = bgjl.jnsjbgid
        LEFT JOIN crf_jnsjhzxx hzxx ON bgjl.jnsjhzid = hzxx.jnsjhzid
        left join matridx_jcsj jcsj_dw on jcsj_dw.csid = bgjl.blrzdw
        left join matridx_jcsj jcsj_ks on jcsj_ks.csid = bgjl.ks
        left join crf_jnsjjcjg jcjg on jcjg.jnsjbgid = bgjl.jnsjbgid and jcjg.scbj='0'
        left join crf_jnsjcdiqyys cdiyys on cdiyys.jnsjbgid = bgjl.jnsjbgid and cdiyys.scbj='0'
        left join matridx_jcsj jcsj_ywzlx on jcsj_ywzlx.csid = cdiyys.ywzlx
        left join crf_jnsjcdizl cdizl on cdizl.jnsjbgid = bgjl.jnsjbgid and cdizl.scbj='0'
        ORDER BY tmp.ordernum
    </select>-->
    <!-- 选中导出  -->
    <select id="getListForSelectExp" parameterType="JnsjbgjlDto" resultType="JnsjbgjlDto">
        SELECT  bgjl.jnsjbgid ${sqlParam}
        FROM (
        <foreach collection="ids" separator=" union all "  index="index" item="item">
            select #{item, jdbcType=VARCHAR} jnsjbgid, #{index} ordernum
        </foreach>
        ) tmp
        LEFT JOIN crf_jnsjbgjl bgjl ON tmp.jnsjbgid = bgjl.jnsjbgid
        LEFT JOIN crf_jnsjhzxx hzxx ON bgjl.jnsjhzid = hzxx.jnsjhzid
        LEFT JOIN matridx_jcsj jcsj_dw ON jcsj_dw.csid = bgjl.blrzdw
        LEFT JOIN matridx_jcsj jcsj_ks ON jcsj_ks.csid = bgjl.ks
        left join (select * from (select jcjg.*,row_number() over(partition by jnsjbgid order by jnsjjcsj,jnsjjcjgid) cn from crf_jnsjjcjg jcjg where jcjg.scbj='0') tmp  where cn =1  ) jcjg on jcjg.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select jcjg.*,row_number() over(partition by jnsjbgid order by jnsjjcsj,jnsjjcjgid) cn from crf_jnsjjcjg jcjg where jcjg.scbj='0' ) tmp where cn =2 ) jcjg2 on jcjg2.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select jcjg.*,row_number() over(partition by jnsjbgid order by jnsjjcsj,jnsjjcjgid) cn from crf_jnsjjcjg jcjg where jcjg.scbj='0') tmp where cn =3 ) jcjg3 on jcjg3.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select jcjg.*,row_number() over(partition by jnsjbgid order by jnsjjcsj,jnsjjcjgid) cn from crf_jnsjjcjg jcjg where jcjg.scbj='0') tmp where cn =4 ) jcjg4 on jcjg4.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select jcjg.*,row_number() over(partition by jnsjbgid order by jnsjjcsj,jnsjjcjgid) cn from crf_jnsjjcjg jcjg where jcjg.scbj='0') tmp where cn =5 ) jcjg5 on jcjg5.jnsjbgid = bgjl.jnsjbgid

        left join (select * from (select cdiyys.*,row_number() over(partition by jnsjbgid order by  ksrq,yysid) cn from crf_jnsjcdiqyys cdiyys where cdiyys.scbj='0') tmp  where cn =1  ) cdiyys on cdiyys.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select cdiyys.*,row_number() over(partition by jnsjbgid order by  ksrq,yysid) cn from crf_jnsjcdiqyys cdiyys where cdiyys.scbj='0') tmp  where cn =2  )  cdiyys2 on cdiyys2.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select cdiyys.*,row_number() over(partition by jnsjbgid order by  ksrq,yysid) cn from crf_jnsjcdiqyys cdiyys where cdiyys.scbj='0') tmp  where cn =3  ) cdiyys3 on cdiyys3.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select cdiyys.*,row_number() over(partition by jnsjbgid order by  ksrq,yysid) cn from crf_jnsjcdiqyys cdiyys where cdiyys.scbj='0') tmp  where cn =4  )  cdiyys4 on cdiyys4.jnsjbgid = bgjl.jnsjbgid
        left join (select * from (select cdiyys.*,row_number() over(partition by jnsjbgid order by  ksrq,yysid) cn from crf_jnsjcdiqyys cdiyys where cdiyys.scbj='0') tmp  where cn =5  ) cdiyys5 on cdiyys5.jnsjbgid = bgjl.jnsjbgid

        left join matridx_jcsj jcsj_ywzlx ON jcsj_ywzlx.csid = cdiyys.ywzlx
        left join matridx_jcsj jcsj_ywzlx2 ON jcsj_ywzlx2.csid = cdiyys2.ywzlx
        left join matridx_jcsj jcsj_ywzlx3 ON jcsj_ywzlx3.csid = cdiyys3.ywzlx
        left join matridx_jcsj jcsj_ywzlx4 ON jcsj_ywzlx4.csid = cdiyys4.ywzlx
        left join matridx_jcsj jcsj_ywzlx5 ON jcsj_ywzlx5.csid = cdiyys5.ywzlx

        LEFT JOIN crf_jnsjcdizl cdizl on  cdizl.jnsjbgid = bgjl.jnsjbgid and cdizl.zlyw = '万古霉素（）' and cdizl.scbj='0'
        LEFT JOIN crf_jnsjcdizl cdizl2 on  cdizl2.jnsjbgid = bgjl.jnsjbgid and cdizl2.zlyw = '替加环素' and cdizl2.scbj='0'
        LEFT JOIN crf_jnsjcdizl cdizl3 on  cdizl3.jnsjbgid = bgjl.jnsjbgid and cdizl3.zlyw = '甲硝唑' and cdizl3.scbj='0'
        ORDER BY tmp.ordernum

    </select>

    <!-- 获取搜索导出的条数 -->
    <select id="getCountForSearchExp"  parameterType="JnsjbgjlDto" resultType="java.lang.Integer">
        select  count (bgjl.jnsjbgid)
        from crf_jnsjbgjl  bgjl
    </select>
</mapper>
