<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IJnsjjcjgDao" >

    <select id="getDtoList" parameterType="JnsjjcjgDto" resultType="JnsjjcjgDto">
        select jcjg.jnsjjcjgid, jcjg.jnsjbgid, to_char(jcjg.jnsjjcsj,'yyyy-MM-dd') jnsjjcsj, jcjg.gdhjg, jcjg.toxinjg, jcjg.dbjnsjpyjg, jcjg.jnsjmspyjg
        from crf_jnsjjcjg jcjg
        <where>
            <if test="jnsjbgid != null and jnsjbgid !=''">
                and jcjg.jnsjbgid = #{jnsjbgid} and jcjg.scbj = '0'
            </if>
        </where>
    </select>
    <insert id="insertList" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            insert into crf_jnsjjcjg(
            <if test="item.jnsjjcjgid !=null and item.jnsjjcjgid !=''">
                jnsjjcjgid
            </if>
            <if test="item.jnsjbgid !=null and item.jnsjbgid !=''">
                ,jnsjbgid
            </if>
            <if test="item.jnsjjcsj !=null and item.jnsjjcsj !=''">
                ,jnsjjcsj
            </if>
            <if test="item.gdhjg !=null and item.gdhjg !=''">
                ,gdhjg
            </if>
            <if test="item.toxinjg !=null and item.toxinjg !=''">
                ,toxinjg
            </if>
            <if test="item.dbjnsjpyjg !=null and item.dbjnsjpyjg !=''">
                ,dbjnsjpyjg
            </if>
            <if test="item.jnsjmspyjg !=null and item.jnsjmspyjg !=''">
                ,jnsjmspyjg
            </if>
            <if test="item.scbj !=null and item.scbj !=''">
                ,scbj
            </if>
            ) values
            (
            <if test="item.jnsjjcjgid !=null and item.jnsjjcjgid !=''">
                #{item.jnsjjcjgid}
            </if>
            <if test="item.jnsjbgid !=null and item.jnsjbgid !=''">
                ,#{item.jnsjbgid}
            </if>
            <if test="item.jnsjjcsj !=null and item.jnsjjcsj !=''">
                ,cast (#{item.jnsjjcsj} as timestamp)
            </if>
            <if test="item.gdhjg !=null and item.gdhjg !=''">
                ,#{item.gdhjg}
            </if>
            <if test="item.toxinjg !=null and item.toxinjg !=''">
                ,#{item.toxinjg}
            </if>
            <if test="item.dbjnsjpyjg !=null and item.dbjnsjpyjg !=''">
                ,#{item.dbjnsjpyjg}
            </if>
            <if test="item.jnsjmspyjg !=null and item.jnsjmspyjg !=''">
                ,#{item.jnsjmspyjg}
            </if>
            <if test="item.scbj !=null and item.scbj !=''">
                ,#{item.scbj}
            </if>
            )
        </foreach>
    </insert>
    <update id="delJnsjjcjg" parameterType="JnsjjcjgDto">
        update crf_jnsjjcjg
        <set>
            scbj=#{scbj}
        </set>
        where jnsjbgid =#{jnsjbgid}
    </update>

    <update id="batchDelete" parameterType="JnsjjcjgDto">
        update crf_jnsjjcjg set scbj='1'
        <where>
            jnsjbgid in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </update>


</mapper>
