<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IJnsjhzxxDao" >
    <!--根据角色权限查询可显示的医院细信息 -->
    <select id="getHospitailList" parameterType="JnsjhzxxDto" resultType="JcsjDto">
        SELECT jc.csmc, jc.csid
        FROM matridx_jcsj jc
        WHERE
            jc.jclb = 'HOSPITAL'
            AND jc.csid IN ( SELECT yyid FROM crf_jsyyqx js WHERE js.jsid = #{dqjs} )
    </select>
    <!-- 新增一条数据 -->
    <insert id="insertDto" parameterType="JnsjhzxxDto">
        insert into crf_jnsjhzxx
        (
        <if test="jnsjhzid !=null and jnsjhzid !=''">
            jnsjhzid
        </if>
        <if test="xm !=null and xm !=''">
            ,xm
        </if>
        <if test="xb !=null and xb !=''">
            ,xb
        </if>
        <if test="nl !=null and nl !=''">
            ,nl
        </if>
        <if test="copd !=null and copd !=''">
            ,copd
        </if>
        <if test="xyxtexzl !=null and xyxtexzl !=''">
            ,xyxtexzl
        </if>
        <if test="stqgyz !=null and stqgyz !=''">
            ,stqgyz
        </if>
        <if test="cqjsjszl !=null and cqjsjszl !=''">
            ,cqjsjszl
        </if>
        <if test="zsmyjb !=null and zsmyjb !=''">
            ,zsmyjb
        </if>
        <if test="tnb !=null and tnb !=''">
            ,tnb
        </if>
        <if test="zlxjb !=null and zlxjb !=''">
            ,zlxjb
        </if>
        <if test="gxb !=null and gxb !=''">
            ,gxb
        </if>
        <if test="nxgjb !=null and nxgjb !=''">
            ,nxgjb
        </if>
        <if test="mxsb !=null and mxsb !=''">
            ,mxsb
        </if>
        <if test="yzxcb !=null and yzxcb !=''">
            ,yzxcb
        </if>
        <if test="cyzd !=null and cyzd !=''">
            ,cyzd
        </if>
        <if test="sgyqsfyzys !=null and sgyqsfyzys !=''">
            ,sgyqsfyzys
        </if>
        <if test="rysj !=null and rysj !=''">
            ,rysj
        </if>
        <if test="cysj !=null and cysj !=''">
            ,cysj
        </if>
        <if test="zyhf !=null and zyhf !=''">
            ,zyhf
        </if>
        <if test="scbj !=null and scbj !=''">
            ,scbj
        </if>
        <if test="lrry !=null and lrry !=''">
            ,lrry
        </if>
        <if test="lrsj !=null and lrsj !=''">
            ,lrsj
        </if>

        )
        values
        (
        <if test="jnsjhzid !=null and jnsjhzid !=''">
            #{jnsjhzid}
        </if>
        <if test="xm !=null and xm !=''">
            ,#{xm}
        </if>
        <if test="xb !=null and xb !=''">
            ,#{xb}
        </if>
        <if test="nl !=null and nl !=''">
            ,#{nl}
        </if>
        <if test="copd !=null and copd !=''">
            ,#{copd}
        </if>
        <if test="xyxtexzl !=null and xyxtexzl !=''">
            ,#{xyxtexzl}
        </if>
        <if test="stqgyz !=null and stqgyz !=''">
            ,#{stqgyz}
        </if>
        <if test="cqjsjszl !=null and cqjsjszl !=''">
            ,#{cqjsjszl}
        </if>
        <if test="zsmyjb !=null and zsmyjb !=''">
            ,#{zsmyjb}
        </if>
        <if test="tnb !=null and tnb !=''">
            ,#{tnb}
        </if>
        <if test="zlxjb !=null and zlxjb !=''">
            ,#{zlxjb}
        </if>
        <if test="gxb !=null and gxb !=''">
            ,#{gxb}
        </if>
        <if test="nxgjb !=null and nxgjb !=''">
            ,#{nxgjb}
        </if>
        <if test="mxsb !=null and mxsb !=''">
            ,#{mxsb}
        </if>
        <if test="yzxcb !=null and yzxcb !=''">
            ,#{yzxcb}
        </if>
        <if test="cyzd !=null and cyzd !=''">
            ,#{cyzd}
        </if>
        <if test="sgyqsfyzys !=null and sgyqsfyzys !=''">
            ,#{sgyqsfyzys}
        </if>
        <if test="rysj !=null and rysj !=''">
            ,cast (#{rysj} as timestamp)
        </if>
        <if test="cysj !=null and cysj !=''">
            ,cast (#{cysj} as timestamp)
        </if>
        <if test="zyhf !=null and zyhf !=''">
            ,#{zyhf}
        </if>
        <if test="scbj !=null and scbj !=''">
            ,#{scbj}
        </if>
        <if test="lrry !=null and lrry !=''">
            ,#{lrry}
        </if>
        <if test="lrsj !=null and lrsj !=''">
            ,cast (#{lrsj} as timestamp)
        </if>
        )
    </insert>

    <update id="updateDto" parameterType="JnsjhzxxDto">
        update crf_jnsjhzxx
        <set>

            <if test="xm !=null and xm !=''">
                xm=#{xm},
            </if>
            <if test="xb !=null and xb !=''">
                xb=#{xb},
            </if>
            <if test="nl !=null and nl !=''">
                nl=#{nl},
            </if>
            <if test="copd !=null and copd !=''">
                copd=#{copd},
            </if>
            <if test="xyxtexzl !=null and xyxtexzl !=''">
                xyxtexzl=#{xyxtexzl},
            </if>
            <if test="stqgyz !=null and stqgyz !=''">
                stqgyz=#{stqgyz},
            </if>
            <if test="cqjsjszl !=null and cqjsjszl !=''">
                cqjsjszl=#{cqjsjszl},
            </if>
            <if test="zsmyjb !=null and zsmyjb !=''">
                zsmyjb=#{zsmyjb},
            </if>
            <if test="tnb !=null and tnb !=''">
                tnb=#{tnb},
            </if>
            <if test="zlxjb !=null and zlxjb !=''">
                zlxjb=#{zlxjb},
            </if>
            <if test="gxb !=null and gxb !=''">
                gxb=#{gxb},
            </if>
            <if test="nxgjb !=null and nxgjb !=''">
                nxgjb=#{nxgjb},
            </if>
            <if test="mxsb !=null and mxsb !=''">
                mxsb=#{mxsb},
            </if>
            <if test="yzxcb !=null and yzxcb !=''">
                yzxcb=#{yzxcb},
            </if>
            <if test="cyzd !=null and cyzd !=''">
                cyzd=#{cyzd},
            </if>
            <if test="sgyqsfyzys !=null and sgyqsfyzys !=''">
                sgyqsfyzys=#{sgyqsfyzys},
            </if>
            <if test="rysj !=null and rysj !=''">
                rysj=cast (#{rysj} as timestamp),
            </if>
            <if test="cysj !=null and cysj !=''">
                cysj=cast (#{cysj} as timestamp),
            </if>
            <if test="zyhf !=null and zyhf !=''">
                zyhf=#{zyhf},
            </if>
            <if test="scbj !=null and scbj !=''">
                scbj=#{scbj},
            </if>
            <if test="xgry !=null and xgry !=''">
                xgry=#{xgry},
            </if>
            <if test="xgsj !=null and xgsj !=''">
                xgsj=cast (#{xgsj} as timestamp),
            </if>
            <if test="scry !=null and scry !=''">
                scry=#{scry},
            </if>
            <if test="scsj !=null and scsj !=''">
                scsj=cast (#{scsj} as timestamp),
            </if>

        </set>
        <where>
            jnsjhzid=#{jnsjhzid}
        </where>
    </update>

    <select id="getPagedDtoList" parameterType="JnsjhzxxDto" resultType="JnsjhzxxDto">
        select hzxx.jnsjhzid,bgjl.jnsjbgid,hzxx.xm,hzxx.xb,hzxx.nl,to_char(hzxx.rysj,'YYYY-MM-dd') rysj,to_char(hzxx.cysj,'YYYY-MM-dd') cysj,hzxx.cyzd,bgjl.blrzdw,bgjl.ks,bgjl.blrzbh,
        bgjl.zyh,to_char(bgjl.tbsj,'yyyy-MM-dd HH24:mi') tbsj,bgjl.jzlx,blrzdw.csmc blrzdwmc,ks.csmc ksmc,bgjl.jnsjbgid
        from crf_jnsjhzxx hzxx
        left join crf_jnsjbgjl bgjl on bgjl.jnsjhzid = hzxx.jnsjhzid and bgjl.scbj='0'
        left join matridx_jcsj blrzdw on blrzdw.csid = bgjl.blrzdw and blrzdw.scbj='0'
        left join matridx_jcsj ks on ks.csid = bgjl.ks and ks.scbj='0'
        <where>
            hzxx.scbj ='0'
            <if test="dqjs != null and dqjs !=''">
                and bgjl.blrzdw in (select yyid from crf_jsyyqx x where x.jsid=#{dqjs})
            </if>
            <if test="xm != null and xm != ''">
                and (hzxx.xm like '%'||#{xm}||'%')
            </if>
            <if test="nl != null and nl != ''">
                and (hzxx.nl like '%'||#{nl}||'%')
            </if>
            <if test="blrzbh != null and blrzbh != ''">
                and (bgjl.blrzbh like '%'||#{blrzbh}||'%')
            </if>
            <if test="zyh != null and zyh != ''">
                and (bgjl.zyh like '%'||#{zyh}||'%')
            </if>
            <if test="cyzd != null and cyzd != ''">
                and (hzxx.cyzd like '%'||#{cyzd}||'%')
            </if>
            <if test = "jzlxs != null and jzlxs.length > 0 "  >
                and jzlx.csid in
                <foreach collection="jzlxs" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "blrzdws != null and blrzdws.length > 0 "  >
                and blrzdw.csid in
                <foreach collection="blrzdws" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "kss != null and kss.length > 0 "  >
                and ks.csid in
                <foreach collection="kss" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test = "xbs != null and xbs.length > 0 "  >
                and hzxx.xb in
                <foreach collection="xbs" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="rysjstart != null and rysjstart != ''">
                and to_char(hzxx.rysj,'YYYY-MM-dd') &gt;= #{rysjstart}
            </if>
            <if test="rysjend != null and rysjend != ''">
                and to_char(hzxx.rysj,'YYYY-MM-dd') &lt;= #{rysjend}
            </if>
            <if test="cysjstart != null and cysjstart != ''">
                and to_char(hzxx.cysj,'yyyy-mm-dd') &gt;= #{cysjstart}
            </if>
            <if test="cysjend !=null and cysjend !=''">
                and to_char(hzxx.cysj,'yyyy-mm-dd') &lt;= #{cysjend}
            </if>
            <if test="tbsjstart != null and tbsjstart != ''">
                and to_char(bgjl.tbsj,'yyyy-mm-dd') &gt;= #{tbsjstart}
            </if>
            <if test="tbsjend !=null and tbsjend !=''">
                and to_char(bgjl.tbsj,'yyyy-mm-dd') &lt;= #{tbsjend}
            </if>

        </where>
    </select>

    <select id="getDtoById" parameterType="JnsjhzxxDto" resultType="JnsjhzxxDto">
        select hzxx.jnsjhzid,bgjl.jnsjbgid,hzxx.xm,hzxx.xb,hzxx.nl,to_char(hzxx.rysj,'YYYY-MM-dd') rysj,to_char(hzxx.cysj,'YYYY-MM-dd') cysj,hzxx.cyzd,bgjl.blrzdw,bgjl.ks,bgjl.blrzbh,
        bgjl.zyh,to_char(bgjl.tbsj,'yyyy-MM-dd HH24:mi') tbsj,jzlx.csmc jzlxmc,blrzdw.csmc blrzdwmc,ks.csmc ksmc
        ,hzxx.copd,hzxx.xyxtexzl,hzxx.stqgyz,hzxx.cqjsjszl,hzxx.zsmyjb,hzxx.tnb,hzxx.zlxjb,hzxx.gxb,hzxx.nxgjb,hzxx.mxsb,hzxx.sgyqsfyzys,hzxx.zyhf,hzxx.yzxcb
        from crf_jnsjhzxx hzxx
        left join crf_jnsjbgjl bgjl on bgjl.jnsjhzid = hzxx.jnsjhzid and bgjl.scbj='0'
        left join matridx_jcsj jzlx on jzlx.csid = bgjl.jzlx and jzlx.scbj='0'
        left join matridx_jcsj blrzdw on blrzdw.csid = bgjl.blrzdw and blrzdw.scbj='0'
        left join matridx_jcsj ks on ks.csid = bgjl.ks and ks.scbj='0'
        <where>
            hzxx.scbj ='0' and hzxx.jnsjhzid =#{jnsjhzid}
        </where>
    </select>

    <update id="deletelistByhzids" parameterType="map">
        update crf_jnsjhzxx set scry = #{scry} ,scsj = LOCALTIMESTAMP, scbj='1'
        <where>
            jnsjhzid in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </update>
</mapper>
