<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IJnsjcdizlDao" >
    <select id="getDtoList" parameterType="JnsjcdizlDto" resultType="JnsjcdizlDto">
        select cdizl.zlid, cdizl.zlyw, cdizl.dcjl, cdizl.syff, cdizl.ksrq, cdizl.jsrq, cdizl.jnsjbgid, cdizl.scbj
        from crf_jnsjcdizl cdizl
        <where>
            cdizl.scbj != '1'
            <if test="jnsjbgid != null and jnsjbgid !=''">
                and cdizl.jnsjbgid = #{jnsjbgid}
            </if>
        </where>
    </select>
    <insert id="insertList" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            insert into crf_jnsjcdizl(
            <if test="item.zlid !=null and item.zlid !=''">
                zlid
            </if>
            <if test="item.zlyw !=null and item.zlyw !=''">
                ,zlyw
            </if>
            <if test="item.dcjl !=null and item.dcjl !=''">
                ,dcjl
            </if>
            <if test="item.syff !=null and item.syff !=''">
                ,syff
            </if>
            <if test="item.ksrq !=null and item.ksrq !=''">
                ,ksrq
            </if>
            <if test="item.jsrq !=null and item.jsrq !=''">
                ,jsrq
            </if>
            <if test="item.jnsjbgid !=null and item.jnsjbgid !=''">
                ,jnsjbgid
            </if>
            <if test="item.scbj !=null and item.scbj !=''">
                ,scbj
            </if>
            ) values

            (
            <if test="item.zlid !=null and item.zlid !=''">
                #{item.zlid}
            </if>
            <if test="item.zlyw !=null and item.zlyw !=''">
                ,#{item.zlyw}
            </if>
            <if test="item.dcjl !=null and item.dcjl !=''">
                ,#{item.dcjl}
            </if>
            <if test="item.syff !=null and item.syff !=''">
                ,#{item.syff}
            </if>
            <if test="item.ksrq !=null and item.ksrq !=''">
                ,cast (#{item.ksrq} as timestamp)
            </if>
            <if test="item.jsrq !=null and item.jsrq !=''">
                ,cast (#{item.jsrq} as timestamp)
            </if>
            <if test="item.jnsjbgid !=null and item.jnsjbgid !=''">
                ,#{item.jnsjbgid}
            </if>
            <if test="item.scbj !=null and item.scbj !=''">
                ,#{item.scbj}
            </if>)
        </foreach>
    </insert>

    <select id="getListByBgId" parameterType="JnsjcdizlDto" resultType="JnsjcdizlDto">
        select * from crf_jnsjcdizl where jnsjbgid = #{jnsjbgid} and scbj = '0'
    </select>

    <update id="delJncjcdizl" parameterType="JnsjcdizlDto">
        update crf_jnsjcdizl
        <set>
            scbj=#{scbj}
        </set>
        where jnsjbgid =#{jnsjbgid}
    </update>

    <update id="batchDelete" parameterType="JnsjcdizlDto">
        update crf_jnsjcdizl set scbj='1'
        <where>
            jnsjbgid in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </update>
</mapper>
