<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.INdzxxjlDao" >
<insert id="insert" parameterType="NdzxxjlDto">
		insert into crf_ndzxxjl(ndzjlid
		<if test="jlrq !=null and jlrq != ''">
			,jlrq
		</if>
		<if test="hrmax !=null and hrmax != ''">
			,hrmax
		</if>
		<if test="mapmax !=null and mapmax != ''">
			,mapmax
		</if>
		<if test="sapmax !=null and sapmax != ''">
			,sapmax
		</if>
		<if test="rrmax !=null and rrmax != ''">
			,rrmax
		</if>
		<if test="tmax !=null and tmax != ''">
			,tmax
		</if>
		<if test="jxtq !=null and jxtq != ''">
			,jxtq
		</if>
		<if test="crrt !=null and crrt != ''">
			,crrt
		</if>
		<if test="gcs !=null and gcs != ''">
			,gcs
		</if>
		<if test="xghxy !=null and xghxy != ''">
			,xghxy
		</if>
		<if test="sjqsfsykjyw !=null and sjqsfsykjyw != ''">
			,sjqsfsykjyw
		</if>
		<if test="kjywzl !=null and kjywzl != ''">
			,kjywzl
		</if>
		<if test="mcfdna !=null and mcfdna != ''">
			,mcfdna
		</if>
		<if test="xpy !=null and xpy != ''">
			,xpy
		</if>
		<if test="ttp !=null and ttp != ''">
			,ttp
		</if>
		<if test="tpy !=null and tpy != ''">
			,tpy
		</if>
		<if test="fstp !=null and fstp != ''">
			,fstp
		</if>
		<if test="fspy !=null and fspy != ''">
			,fspy
		</if>
		<if test="qtf !=null and qtf != ''">
			,qtf
		</if>
		<if test="qtt !=null and qtt != ''">
			,qtt
		</if>
		<if test="mcfdnajg !=null and mcfdnajg != ''">
			,mcfdnajg
		</if>
		<if test="xpyjg !=null and xpyjg != ''">
			,xpyjg
		</if>
		<if test="ttpjg !=null and ttpjg != ''">
			,ttpjg
		</if>
		<if test="tpyjg !=null and tpyjg != ''">
			,tpyjg
		</if>
		<if test="fstpjg !=null and fstpjg != ''">
			,fstpjg
		</if>
		<if test="fspyjg !=null and fspyjg != ''">
			,fspyjg
		</if>
		<if test="qtfjg !=null and qtfjg != ''">
			,qtfjg
		</if>
		<if test="qttjg !=null and qttjg != ''">
			,qttjg
		</if>
		<if test="hzid !=null and hzid != ''">
			,hzid
		</if>
		<if test="jldjt !=null and jldjt != ''">
			,jldjt
		</if>
		<if test="jlry !=null and jlry != ''">
			,jlry
		</if>
		,xjsj
		<if test="xgsj !=null and xgsj != ''">
			,xgsj
		</if>
		<if test="tjr !=null and tjr != ''">
			,tjr
		</if>
		<if test="xgr !=null and xgr != ''">
			,xgr
		</if>
			,scbj
		<if test="apache2 !=null and apache2 != ''">
			,apache2
		</if>
		<if test="sofapf !=null and sofapf != ''">
			,sofapf
		</if>
		<if test="kjywjjtzl !=null and kjywjjtzl != ''">
			,kjywjjtzl
		</if>
		) values(#{ndzjlid}
		<if test="jlrq !=null and jlrq != ''">
			,cast(#{jlrq} as timestamp)
		</if>
		<if test="hrmax !=null and hrmax != ''">
			,#{hrmax}
		</if>
		<if test="mapmax !=null and mapmax != ''">
			,#{mapmax}
		</if>
		<if test="sapmax !=null and sapmax != ''">
			,#{sapmax}
		</if>
		<if test="rrmax !=null and rrmax != ''">
			,#{rrmax}
		</if>
		<if test="tmax !=null and tmax != ''">
			,#{tmax}
		</if>
		<if test="jxtq !=null and jxtq != ''">
			,#{jxtq}
		</if>
		<if test="crrt !=null and crrt != ''">
			,#{crrt}
		</if>
		<if test="gcs !=null and gcs != ''">
			,#{gcs}
		</if>
		<if test="xghxy !=null and xghxy != ''">
			,#{xghxy}
		</if>
		<if test="sjqsfsykjyw !=null and sjqsfsykjyw != ''">
			,#{sjqsfsykjyw}
		</if>
		<if test="kjywzl !=null and kjywzl != ''">
			,#{kjywzl}
		</if>
		<if test="mcfdna !=null and mcfdna != ''">
			,#{mcfdna}
		</if>
		<if test="xpy !=null and xpy != ''">
			,#{xpy}
		</if>
		<if test="ttp !=null and ttp != ''">
			,#{ttp}
		</if>
		<if test="tpy !=null and tpy != ''">
			,#{tpy}
		</if>
		<if test="fstp !=null and fstp != ''">
			,#{fstp}
		</if>
		<if test="fspy !=null and fspy != ''">
			,#{fspy}
		</if>
		<if test="qtf !=null and qtf != ''">
			,#{qtf}
		</if>
		<if test="qtt !=null and qtt != ''">
			,#{qtt}
		</if>
		<if test="mcfdnajg !=null and mcfdnajg != ''">
			,#{mcfdnajg}
		</if>
		<if test="xpyjg !=null and xpyjg != ''">
			,#{xpyjg}
		</if>
		<if test="ttpjg !=null and ttpjg != ''">
			,#{ttpjg}
		</if>
		<if test="tpyjg !=null and tpyjg != ''">
			,#{tpyjg}
		</if>
		<if test="fstpjg !=null and fstpjg != ''">
			,#{fstpjg}
		</if>
		<if test="fspyjg !=null and fspyjg != ''">
			,#{fspyjg}
		</if>
		<if test="qtfjg !=null and qtfjg != ''">
			,#{qtfjg}
		</if>
		<if test="qttjg !=null and qttjg != ''">
			,#{qttjg}
		</if>
		<if test="hzid !=null and hzid != ''">
			,#{hzid}
		</if>
		<if test="jldjt !=null and jldjt != ''">
			,#{jldjt}
		</if>
		<if test="jlry !=null and jlry != ''">
			,#{jlry}
		</if>
		,LOCALTIMESTAMP
		<if test="xgsj !=null and xgsj != ''">
			,cast(#{xgsj} as timestamp)
		</if>
		<if test="tjr !=null and tjr != ''">
			,#{tjr}
		</if>
		<if test="xgr !=null and xgr != ''">
			,#{xgr}
		</if>
			,'0'
			<if test="apache2 !=null and apache2 != ''">
			,#{apache2}
		</if>
		<if test="sofapf !=null and sofapf != ''">
			,#{sofapf}
		</if>
		<if test="kjywjjtzl !=null and kjywjjtzl != ''">
			,#{kjywjjtzl}
		</if>
		)
	</insert>
	
	<update id="update" parameterType="NdzxxjlDto">
		update  crf_ndzxxjl set
		xgsj=LOCALTIMESTAMP
		<choose>
		<when  test="jlrq !=null and jlrq != ''">
			,jlrq=cast(#{jlrq} as timestamp)
		</when>
		<otherwise>
				,jlrq=null
			</otherwise>
		</choose>
			,hrmax=#{hrmax}
			,mapmax=#{mapmax}
			,sapmax=#{sapmax}
			,rrmax=#{rrmax}
			,tmax=#{tmax}
			,jxtq=#{jxtq}
			,crrt=#{crrt}
			,gcs=#{gcs}
			,xghxy=#{xghxy}
			,sjqsfsykjyw=#{sjqsfsykjyw}
			,kjywzl=#{kjywzl}
			,mcfdna=#{mcfdna}
			,xpy=#{xpy}
			,ttp=#{ttp}
			,tpy=#{tpy}
			,fstp=#{fstp}
			,fspy=#{fspy}
			,qtf=#{qtf}
			,qtt=#{qtt}
			,mcfdnajg=#{mcfdnajg}
			,xpyjg=#{xpyjg}
			,ttpjg=#{ttpjg}
			,tpyjg=#{tpyjg}
			,fstpjg=#{fstpjg}
			,fspyjg=#{fspyjg}
			,qtfjg=#{qtfjg}
			,qttjg=#{qttjg}
			,apache2=#{apache2}
			,sofapf=#{sofapf}
			,kjywjjtzl=#{kjywjjtzl}
		<if test="hzid !=null and hzid != ''">
			,hzid=#{hzid}
		</if>
		<if test="jldjt !=null and jldjt != ''">
			,jldjt=#{jldjt}
		</if>
		<if test="jlry !=null and jlry != ''">
			,jlry=#{jlry}
		</if>
		<if test="xgr !=null and xgr != ''">
			,xgr=#{xgr}
		</if>
		<if test="scbj !=null and scbj != ''">
			,scbj=#{scbj}
		</if>
		where ndzjlid = #{ndzjlid}
	</update>
	
	<select id="getNdzByHzid" parameterType="java.lang.String"
		resultType="NdzxxjlDto">
		select ndzjlid ,
	to_char( jlrq, 'yyyy-mm-dd' ) jlrq,
  hrmax ,
  mapmax ,
  sapmax ,
  rrmax ,
  tmax ,
  jxtq ,
  crrt ,
  gcs ,
  xghxy ,
  sjqsfsykjyw ,
  kjywzl ,
  mcfdna ,
  xpy ,
  ttp ,
  tpy ,
  fstp ,
  fspy ,
  qtf ,
  qtt ,
  mcfdnajg ,
  xpyjg ,
  ttpjg ,
  tpyjg ,
  fstpjg ,
  fspyjg ,
  qtfjg ,
  qttjg ,
  hzid ,
  jldjt  ,
  jlry ,
  xjsj ,
  xgsj ,
  tjr ,
  xgr ,
  apache2,
  sofapf,
  scbj ,
  kjywjjtzl
	from
	crf_ndzxxjl
		where hzid =#{hzid} and scbj !='1'
	</select>
</mapper>
