<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.NdzxxDao" >
    <!-- 选中导出 -->
    <select id="getListForSelectExp" parameterType="NdzxxDto" resultType="NdzxxDto">
         select ndz.hzid, case ndz.jldjt when '1' then
        '第一日' when '3' then '第三日' when '5' then '第五日' when '7' then '第七日' else '' end jldjt ${sqlParam} from(select  hzxx.jwhbz,hzxx.grbw,hzxx.hzid,yz_jcsj.csmc yz,hzxx.hzxm,hzxx.zyh,hzxx.nryjbh,hzxx.xb,hzxx.nl,hzxx.nrsj,jzks_jcsj.csmc jzks,brlb_jcsj.csmc brlb,hzxx.kjywbls,hzxx.qtgrbw,hzxx.rysj,ssyy_jcsj.csmc ssyy,
         ndzxxjl.jlrq,ndzxxjl.sapmax,ndzxxjl.rrmax,ndzxxjl.mapmax,ndzxxjl.tmax,ndzxxjl.jxtq,ndzxxjl.crrt,ndzxxjl.gcs,ndzxxjl.xghxy,ndzxxjl.apache2,ndzxxjl.sofapf,ndzxxjl.sjqsfsykjyw,ndzxxjl.kjywzl,ndzxxjl.mcfdna,
         ndzxxjl.mcfdnajg,ndzxxjl.xpy,ndzxxjl.xpyjg,ndzxxjl.ttp,ndzxxjl.ttpjg,ndzxxjl.tpy,ndzxxjl.tpyjg,ndzxxjl.fstp,ndzxxjl.fstpjg,ndzxxjl.fspy,ndzxxjl.fspyjg,ndzxxjl.qtf,ndzxxjl.qtfjg,ndzxxjl.hrmax,ndzxxjl.qtt,
         ndzxxjl.qttjg,hzxx.xghxytysj,hzxx.crrttysj,hzxx.hxjtysj,hzxx.cysj,hzxx.cicusj,cicuzt_jcsj.csmc cicuzt,cyzt_jcsj.csmc cyzt,hzxx.kjzlc,ndzxxjl.kjywjjtzl,ndzxxjl.jldjt,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'rs') rs ,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'pao2') pao2,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'fio2') fio2,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'k') k,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'na') na,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'ca') ca,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'ph') ph,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'abe') abe,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'hco3') hco3,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'paco2') paco2,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il1b') il1b,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il10') il10,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il17') il17,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'tnfa') tnfa,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'crp') crp,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'pct') pct,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il6') il6,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'infy') infy,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'c3') c3,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'c4') c4,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'cd4th') cd4th,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'nsd') nsd,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'bdb') bdb,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'jg') jg,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'zdhs') zdhs,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'wbc') wbc,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'plt') plt,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'lbxbjdz') lbxbjdz,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'zxlxbjdz') zxxbjdz
        from (
        <foreach item="item" index="index" collection="ids" separator=" union all ">
            select #{item,jdbcType=VARCHAR} hzid,#{index} ordernum
        </foreach>
        ) tmp
        left outer join crf_hzxx hzxx on hzxx.hzid = tmp.hzid
        left outer join crf_ndzxxjl ndzxxjl on ndzxxjl.hzid=hzxx.hzid
        left outer join matridx_jcsj ssyy_jcsj on ssyy_jcsj.csid=hzxx.ssyy
        left outer join matridx_jcsj jzks_jcsj on jzks_jcsj.csid=hzxx.jzks
        left outer join matridx_jcsj brlb_jcsj on brlb_jcsj.csid=hzxx.brlb
        left outer join matridx_jcsj cicuzt_jcsj on cicuzt_jcsj.csid=hzxx.cicuzt
        left outer join matridx_jcsj cyzt_jcsj on cyzt_jcsj.csid=hzxx.cyzt
        left outer join matridx_jcsj yz_jcsj on yz_jcsj.csid=hzxx.yz) ndz
        order by
        ndz.rysj ASC,
        ndz.hzid ASC,
        ndz.jldjt ASC
    </select>

    <!-- 导出 -->
    <select id="getCountForSearchExp" parameterType="NdzxxDto"
            resultType="java.lang.Integer">
        select count(hzxx.hzid) from crf_hzxx hzxx
        left join crf_ndzxxjl ndzxxjl
        on  hzxx.hzid = ndzxxjl.hzid and ndzxxjl.scbj!='1'
        left outer join matridx_jcsj ssyy_jcsj on ssyy_jcsj.csid=hzxx.ssyy
        left outer join matridx_jcsj jzks_jcsj on jzks_jcsj.csid=hzxx.jzks
        left outer join matridx_jcsj brlb_jcsj on brlb_jcsj.csid=hzxx.brlb
        left outer join matridx_jcsj cicuzt_jcsj on cicuzt_jcsj.csid=hzxx.cicuzt
        left outer join matridx_jcsj cyzt_jcsj on cyzt_jcsj.csid=hzxx.cyzt
        left outer join matridx_jcsj yz_jcsj on yz_jcsj.csid=hzxx.yz
        <where>
            hzxx.scbj !='1'
            <if test="hzxm !=null and hzxm !=''">
                and hzxx.hzxm like '%'||#{hzxm}||'%'
            </if>
            <if test="zyh !=null and zyh !=''">
                and hzxx.zyh like '%'||#{zyh}||'%'
            </if>
            <if test="nryjbh !=null and nryjbh !=''">
                and hzxx.nryjbh like '%'||#{nryjbh}||'%'
            </if>
            <if test="yz !=null and yz !=''">
                and yz_jcsj.csmc like '%'||#{yz}||'%'
            </if>
            <if test="nl !=null and nl !=''">
                and hzxx.nl like '%'||#{nl}||'%'
            </if>
            <if test="kjzlc !=null and kjzlc !=''">
                and hzxx.kjzlc like '%'||#{kjzlc}||'%'
            </if>
            <if test="kjywblss != null and kjywblss.length > 0 ">
                and hzxx.kjywbls in
                <foreach collection="kjywblss" separator="," open="("
                         close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="cyzts != null and cyzts.length > 0 ">
                and hzxx.cyzt in
                <foreach collection="cyzts" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="brlbs != null and brlbs.length > 0 ">
                and hzxx.brlb in
                <foreach collection="brlbs" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="xbs != null and xbs.length > 0 ">
                and hzxx.xb in
                <foreach collection="xbs" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="jzkss != null and jzkss.length > 0 ">
                and hzxx.jzks in
                <foreach collection="jzkss" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="cysjstart != null and cysjstart != ''">
                and to_char(hzxx.cysj,'yyyy-mm-dd') &gt;= #{cysjstart}
            </if>
            <if test="cysjend !=null and cysjend !=''">
                and to_char(hzxx.cysj,'yyyy-mm-dd') &lt;= #{cysjend}
            </if>
            <if test="rysjstart != null and rysjstart != ''">
                and to_char(hzxx.rysj,'yyyy-mm-dd') &gt;= #{rysjstart}
            </if>
            <if test="rysjend !=null and rysjend !=''">
                and to_char(hzxx.rysj,'yyyy-mm-dd') &lt;= #{rysjend}
            </if>
        </where>
    </select>
    <select id="getListForSearchExp" parameterType="NdzxxDto" resultType="NdzxxDto">
        select ndz.hzid,case ndz.jldjt when '1' then
        '第一日' when '3' then '第三日' when '5' then '第五日' when '7' then '第七日' else '' end jldjt ${sqlParam} from(select   hzxx.jwhbz,hzxx.grbw,hzxx.hzid,yz_jcsj.csmc yz,hzxx.hzxm,hzxx.zyh,hzxx.nryjbh,hzxx.xb,hzxx.nl,hzxx.nrsj,jzks_jcsj.csmc jzks,brlb_jcsj.csmc brlb,hzxx.kjywbls,hzxx.qtgrbw,hzxx.rysj,ssyy_jcsj.csmc ssyy,
        ndzxxjl.jlrq,ndzxxjl.sapmax,ndzxxjl.rrmax,ndzxxjl.mapmax,ndzxxjl.tmax,ndzxxjl.jxtq,ndzxxjl.crrt,ndzxxjl.gcs,ndzxxjl.xghxy,ndzxxjl.apache2,ndzxxjl.sofapf,ndzxxjl.sjqsfsykjyw,ndzxxjl.kjywzl,ndzxxjl.mcfdna,
        ndzxxjl.mcfdnajg,ndzxxjl.xpy,ndzxxjl.xpyjg,ndzxxjl.ttp,ndzxxjl.ttpjg,ndzxxjl.tpy,ndzxxjl.tpyjg,ndzxxjl.fstp,ndzxxjl.fstpjg,ndzxxjl.fspy,ndzxxjl.fspyjg,ndzxxjl.qtf,ndzxxjl.qtfjg,ndzxxjl.hrmax,ndzxxjl.qtt,
        ndzxxjl.qttjg,hzxx.xghxytysj,hzxx.crrttysj,hzxx.hxjtysj,hzxx.cysj,hzxx.cicusj,cicuzt_jcsj.csmc cicuzt,cyzt_jcsj.csmc cyzt,hzxx.kjzlc,ndzxxjl.kjywjjtzl,ndzxxjl.jldjt,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'rs') rs ,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'pao2') pao2,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'fio2') fio2,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'k') k,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'na') na,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'ca') ca,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'ph') ph,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'abe') abe,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'hco3') hco3,
        (select sjz from  matridx_jcsj jc left join crf_ndzdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODGAS'and  cskz1 = 'paco2') paco2,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il1b') il1b,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il10') il10,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il17') il17,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'tnfa') tnfa,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'crp') crp,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'pct') pct,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'il6') il6,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'infy') infy,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'c3') c3,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'c4') c4,
        (select sjz from  matridx_jcsj jc left join crf_ndzyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'INFLAMMATORY'and  cskz1 = 'cd4th') cd4th,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'nsd') nsd,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'bdb') bdb,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'jg') jg,
        (select sjz from  matridx_jcsj jc left join crf_ndzsh sh  ON  sh.jyxm=jc.csid
        AND sh.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BIOCHEMISTRY'and  cskz1 = 'zdhs') zdhs,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'wbc') wbc,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'plt') plt,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'lbxbjdz') lbxbjdz,
        (select sjz from  matridx_jcsj jc left join crf_ndzxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.ndzjlid= ndzxxjl.ndzjlid where  jc.jclb = 'BLOODTEST'and  cskz1 = 'zxlxbjdz') zxxbjdz
        from crf_hzxx hzxx
        left outer join crf_ndzxxjl ndzxxjl on ndzxxjl.hzid=hzxx.hzid
        left outer join matridx_jcsj ssyy_jcsj on ssyy_jcsj.csid=hzxx.ssyy
        left outer join matridx_jcsj jzks_jcsj on jzks_jcsj.csid=hzxx.jzks
        left outer join matridx_jcsj brlb_jcsj on brlb_jcsj.csid=hzxx.brlb
        left outer join matridx_jcsj cicuzt_jcsj on cicuzt_jcsj.csid=hzxx.cicuzt
        left outer join matridx_jcsj cyzt_jcsj on cyzt_jcsj.csid=hzxx.cyzt
        left outer join matridx_jcsj yz_jcsj on yz_jcsj.csid=hzxx.yz
        <where>
            hzxx.scbj !='1'
            <if test="hzxm !=null and hzxm !=''">
                and hzxx.hzxm like '%'||#{hzxm}||'%'
            </if>
            <if test="zyh !=null and zyh !=''">
                and hzxx.zyh like '%'||#{zyh}||'%'
            </if>
            <if test="nryjbh !=null and nryjbh !=''">
                and hzxx.nryjbh like '%'||#{nryjbh}||'%'
            </if>
            <if test="yz !=null and yz !=''">
                and yz_jcsj.csmc like '%'||#{yz}||'%'
            </if>
            <if test="nl !=null and nl !=''">
                and hzxx.nl like '%'||#{nl}||'%'
            </if>
            <if test="kjzlc !=null and kjzlc !=''">
                and hzxx.kjzlc like '%'||#{kjzlc}||'%'
            </if>
            <if test="kjywblss != null and kjywblss.length > 0 ">
                and hzxx.kjywbls in
                <foreach collection="kjywblss" separator="," open="("
                         close=") " item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="cyzts != null and cyzts.length > 0 ">
                and hzxx.cyzt in
                <foreach collection="cyzts" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="brlbs != null and brlbs.length > 0 ">
                and hzxx.brlb in
                <foreach collection="brlbs" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="xbs != null and xbs.length > 0 ">
                and hzxx.xb in
                <foreach collection="xbs" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="jzkss != null and jzkss.length > 0 ">
                and hzxx.jzks in
                <foreach collection="jzkss" separator="," open="(" close=") "
                         item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="cysjstart != null and cysjstart != ''">
                and to_char(hzxx.cysj,'yyyy-mm-dd') &gt;= #{cysjstart}
            </if>
            <if test="cysjend !=null and cysjend !=''">
                and to_char(hzxx.cysj,'yyyy-mm-dd') &lt;= #{cysjend}
            </if>
            <if test="rysjstart != null and rysjstart != ''">
                and to_char(hzxx.rysj,'yyyy-mm-dd') &gt;= #{rysjstart}
            </if>
            <if test="rysjend !=null and rysjend !=''">
                and to_char(hzxx.rysj,'yyyy-mm-dd') &lt;= #{rysjend}
            </if>
        </where>
        ) ndz
        order by
        <if test="sortName != null and sortName != ''">
            ${sortName} ${sortOrder}
        </if>
        <if test="sortLastName != null and sortLastName != ''">
            ,${sortLastName} ${sortLastOrder}
        </if>
        LIMIT #{pageSize} OFFSET #{pageStart}
    </select>
    <!-- 既往合并症导出转义-->
    <select id="getJwhbzCsmc" parameterType="java.lang.String" resultType="java.lang.String">
        select csmc from matridx_jcsj where jclb = 'COMPLICATION' and csid= #{jwhbz} and scbj='0'
    </select>

    <!-- 感染部位导出转义-->
    <select id="getGrbwCsmc" parameterType="java.lang.String" resultType="java.lang.String">
        select csmc from matridx_jcsj where jclb = 'ANTIBACTERIALHISTORY' and csid= #{grbw} and scbj='0'
    </select>
    <select id="getnryjbh" parameterType="NdzxxDto"
            resultType="Map">
		SELECT
		nryjbh,
		nryjbhpx
		FROM
		crf_hzxx
		WHERE
		ssyy=#{ssyy} and scbj!='1'order by nryjbhpx desc limit 1
	</select>

    <!--获取上传的文件信息-->
    <select id="getFjcfb" parameterType="NdzxxDto" resultType="FjcfbDto">
        select wjm,fjid,wjlj,ywid from matridx_fjcfb
        <where>
            <if test="ndzjlid != null and ndzjlid != ''">
                ywid=#{ndzjlid}
            </if>
        </where>

    </select>

    <!--获取所属医院分类-->
    <select id="getSsyy" resultType="NdzxxDto">
        select csmc as ssyy from matridx_jcsj where jclb = 'HOSPITAL' and scbj='0'
    </select>
    <!--获取亚组分类-->
    <select id="getYz" resultType="NdzxxDto">
        select csmc as yz from matridx_jcsj where jclb = 'SUBGROUP' and scbj='0'
    </select>

    <!--所属医院统计-->
    <select id="getPagedSsyy" parameterType="NdzxxDto" resultType="NdzxxDto">
        select '所有记录' as ssyy,count(ssyy) as num from crf_hzxx UNION all select jcsj.csmc as ssyy,count(jcsj.csmc) as num from crf_hzxx hzxx
        left join matridx_jcsj jcsj on jcsj.csid=hzxx.ssyy
        <where>
            <if test="ssyy != null and ssyy != ''">
                and (jcsj.csmc like '%'||#{ssyy}||'%')
            </if>
        </where>
        GROUP BY jcsj.csmc
    </select>

    <!-- 查找医院的参数id-->
    <select id="getYyCsid" parameterType="NdzxxDto" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'HOSPITAL' and csmc= #{ssyy} and scbj='0'
    </select>

    <!-- 查找就诊科室的参数id-->
    <select id="getJzksCsid" parameterType="NdzxxDto" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'TREATMENTDEPARTMENT' and csmc= #{jzks} and scbj='0'
    </select>

    <!-- 查找亚组的参数id-->
    <select id="getYzCsid" parameterType="NdzxxDto" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'SUBGROUP' and csmc= #{yz} and scbj='0'
    </select>

    <!-- 查找病人类别的参数id-->
    <select id="getBrlbCsid" parameterType="NdzxxDto" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'PATIENTCATEGORY' and csmc= #{brlb} and scbj='0'
    </select>

    <!-- 查找既往合并症的参数id-->
    <select id="getJwhbzCsid" parameterType="java.lang.String" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'COMPLICATION' and csmc= #{jwhbz} and scbj='0'
    </select>

    <!-- 查找感染部位的参数id-->
    <select id="getGrbwCsid" parameterType="java.lang.String" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'ANTIBACTERIALHISTORY' and csmc= #{grbw} and scbj='0'
    </select>

    <!-- 查找出院状态的参数id-->
    <select id="getCyztCsid" parameterType="NdzxxDto" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'DISCHARGESTATUS' and csmc= #{cyzt} and scbj='0'
    </select>

    <!-- 查找出ICU状态的参数id-->
    <select id="getCicuztCsid" parameterType="NdzxxDto" resultType="java.lang.String">
        select csid from matridx_jcsj where jclb = 'DISCHARGESTATUS' and csmc= #{cicuzt} and scbj='0'
    </select>

    <!-- 条件查找 -->
    <select id="getPagedDtoList" parameterType="NdzxxDto" resultType="NdzxxDto">
        select ldzxxjl.ndzjlid, hzxx.hzid,hzxx.hzxm,hzxx.zyh,hzxx.nryjbh,
        to_char(hzxx.nrsj,'yyyy-mm-dd') nrsj,
        to_char(hzxx.rysj,'yyyy-mm-dd') rysj,to_char(ldzxxjl.jlrq,'yyyy-mm-dd') jlrq,
        case ldzxxjl.jldjt when '1' then
        '第一日' when '3' then '第三日' when '5' then '第五日' when '7' then '第七日' else '' end jldjt ,
        ldzxxjl.hrmax,ldzxxjl.mapmax,ldzxxjl.sapmax,ldzxxjl.rrmax,ldzxxjl.tmax,ldzxxjl.jxtq,ldzxxjl.xghxy,ldzxxjl.crrt,ldzxxjl.gcs
        from crf_hzxx hzxx
        left join crf_ndzxxjl ldzxxjl
        on  hzxx.hzid = ldzxxjl.hzid and ldzxxjl.scbj!='1'
        where 
         hzxx.scbj !='1'
            <if test="hzxm != null and hzxm != ''">
                and (hzxx.hzxm like '%'||#{hzxm}||'%')
            </if>
            <if test="zyh != null and zyh != ''">
                and hzxx.zyh like '%'||#{zyh}||'%'
            </if>
            <if test="nryjbh != null and nryjbh != ''">
                and hzxx.nryjbh like '%'||#{nryjbh}||'%'
            </if>
            <if test="jldjt != null and jldjt != ''">
                and ldzxxjl.jldjt=#{jldjt}
            </if>
            <if test="jlrqstart != null and jlrqstart != ''">
                and to_char(ldzxxjl.jlrq,'yyyy-mm-dd') &gt;= #{jlrqstart}
            </if>
            <if test="jlrqend !=null and jlrqend !=''">
                and to_char(ldzxxjl.jlrq,'yyyy-mm-dd') &lt;= #{jlrqend}
            </if>
            <if test="nrsjstart != null and nrsjstart != ''">
                and to_char(hzxx.nrsj,'yyyy-mm-dd') &gt;= #{nrsjstart}
            </if>
            <if test="nrsjend !=null and nrsjend !=''">
                and to_char(hzxx.nrsj,'yyyy-mm-dd') &lt;= #{nrsjend}
            </if>
    </select>

    <!-- 查询患者信息 -->
    <select id="getHzxx" parameterType="NdzxxDto" resultType="NdzxxDto">
        select jcsj_jzks.csmc as jzks,hzxm,zyh,nryjbh,to_char(nrsj,'yyyy-mm-dd') nrsj,nl,
        case xb
        WHEN '1' THEN
        '男'
        WHEN '2' THEN
        '女' ELSE''
        END xb,jcsj_brlb.csmc as brlb,jcsj_ssyy.csmc as ssyy,jwhbz,grbw,
        to_char(rysj,'yyyy-mm-dd') rysj,
        case kjywbls
        WHEN '1' THEN
        '前30天'
        WHEN '2' THEN
        '前60天'
        WHEN '3' THEN
        '前90天'ELSE''
        END kjywbls,hzxx.qtgrbw
        from crf_hzxx hzxx
        left join matridx_jcsj jcsj_jzks on hzxx.jzks=jcsj_jzks.csid
        left join matridx_jcsj jcsj_ssyy on hzxx.ssyy=jcsj_ssyy.csid
         left join matridx_jcsj jcsj_brlb on hzxx.brlb=jcsj_brlb.csid
        <where>
          hzxx.hzid=#{hzid}
        </where>
    </select>

    <!-- 查询记录信息 -->
    <select id="getJlxx" parameterType="NdzxxDto" resultType="NdzxxDto">
        select
        to_char(jlrq,'yyyy-mm-dd') jlrq,
         case jldjt when '1' then
        '第一日' when '3' then '第三日' when '5' then '第五日' when '7' then '第七日' else '' end jldjt ,hrmax,mapmax,sapmax,rrmax,tmax,crrt,xghxy,gcs,jxtq,
        sjqsfsykjyw,kjywzl,
		 mcfdna,mcfdnajg,
		 xpy,xpyjg,
		 tpy,tpyjg,
		 ttp,ttpjg,
		 fstp,fstpjg,
		 fspy,fspyjg,
		qtf,qtfjg,
		qtt
		,qttjg,ldzxxjl.kjywjjtzl
        from crf_ndzxxjl ldzxxjl
        left join crf_hzxx hzxx on ldzxxjl.hzid=hzxx.hzid
        where hzxx.hzid=#{hzid} and ldzxxjl.jldjt=#{jldjt}
    </select>

    <!-- 查询动脉血气 -->
    <select id="getDmxq" parameterType="NdzxxDto" resultType="NdzdmxqDto">
        select jcsj.csmc as jyxm,dmxq.sjz
        from crf_ndzdmxq dmxq
        left join matridx_jcsj jcsj on dmxq.jyxm=jcsj.csid
        where dmxq.ndzjlid=#{ndzjlid}
    </select>

    <!-- 查询动脉血气参数 -->
    <select id="getDmxqJcsj"  resultType="JcsjDto">
        select csid,csmc,cskz1
        from matridx_jcsj
        where jclb='BLOODGAS'
    </select>

    <!-- 查询炎症指标参数 -->
    <select id="getYzzbJcsj"  resultType="JcsjDto">
        select csid,csmc,cskz1
        from matridx_jcsj
        where jclb='INFLAMMATORY'
    </select>

    <!-- 查询生化参数 -->
    <select id="getShJcsj"  resultType="JcsjDto">
        select csid,csmc,cskz1
        from matridx_jcsj
        where jclb='BIOCHEMISTRY'
    </select>

    <!-- 查询血常规参数 -->
    <select id="getXcgJcsj"  resultType="JcsjDto">
        select csid,csmc,cskz1
        from matridx_jcsj
        where jclb='BLOODTEST'
    </select>

    <!-- 查询炎症指标 -->
    <select id="getYzzb" parameterType="NdzxxDto" resultType="NdzyzzbDto">
        select jcsj.csmc as jyxm,yzzb.sjz
        from crf_ndzyzzb yzzb
        left join matridx_jcsj jcsj on yzzb.jyxm=jcsj.csid
        where yzzb.ndzjlid=#{ndzjlid}
    </select>

    <!-- 查询生化 -->
    <select id="getSh" parameterType="NdzxxDto" resultType="NdzshDto">
        select jcsj.csmc as jyxm,sh.sjz
        from crf_ndzsh sh
        left join matridx_jcsj jcsj on sh.jyxm=jcsj.csid
        where sh.ndzjlid=#{ndzjlid}
    </select>

    <!-- 查询血常规 -->
    <select id="getXcg" parameterType="NdzxxDto" resultType="NdzxcgDto">
        select jcsj.csmc as jyxm,xcg.sjz
        from crf_ndzxcg xcg
        left join matridx_jcsj jcsj on xcg.jyxm=jcsj.csid
        where xcg.ndzjlid=#{ndzjlid}
    </select>

    <!-- 判断数据库中是否存在一条一摸一样的记录信息数据 -->
    <select id="getJlxxRepeat" parameterType="NdzxxDto" resultType="NdzxxDto">
        select ndzjlid,jlrq,jldjt,hrmax,mapmax,sapmax,rrmax,tmax,crrt,xghxy,gcs,jxtq,sjqsfsykjyw,kjywzl,mcfdna,mcfdnajg,xpy,xpyjg,tpy,tpyjg,ttp,ttpjg,fstp,fstpjg,fspy,fspyjg,qtf,qtfjg,qtt,qttjg
        from crf_ndzxxjl
        where hzid=#{hzid} and
        jldjt=#{jldjt} and scbj !='1'
    </select>

    <!-- 判断数据库中是否存在一条一摸一样的患者信息数据 -->
    <select id="getHzxxRepeat" parameterType="NdzxxDto" resultType="NdzxxDto">
        select hzid,hzxm,zyh,nryjbh,nrsj,nl,xb,jzks,brlb,ssyy,jwhbz,grbw,rysj,kjywbls
        from crf_hzxx
        where  zyh = #{zyh} and scbj !='1'
    </select>

    <!-- 判断数据库中是否存在一条一摸一样的数据 -->
    <select id="getReportRepeat" parameterType="NdzxxDto" resultType="NdzxxDto">
        select hzxx.hzxm,hzxx.zyh,hzxx.nryjbh,hzxx.nrsj,hzxx.nl,hzxx.xb,hzxx.jzks,hzxx.brlb,hzxx.ssyy,hzxx.jwhbz,hzxx.grbw,hzxx.rysj,hzxx.kjywbls,ldzxxjl.jldjt,ldzxxjl.hrmax,ldzxxjl.mapmax,ldzxxjl.sapmax,ldzxxjl.rrmax,ldzxxjl.tmax,ldzxxjl.crrt,ldzxxjl.xghxy,ldzxxjl.gcs,ldzxxjl.jxtq,ldzxxjl.sjqsfsykjyw,ldzxxjl.kjywzl,ldzxxjl.mcfdna,ldzxxjl.mcfdnajg,ldzxxjl.xpy,ldzxxjl.xpyjg,ldzxxjl.tpy,ldzxxjl.tpyjg,ldzxxjl.ttp,ldzxxjl.ttpjg,ldzxxjl.fstp,ldzxxjl.fstpjg,ldzxxjl.fspy,ldzxxjl.fspyjg,ldzxxjl.qtf,ldzxxjl.qtfjg,ldzxxjl.qtt,ldzxxjl.qttjg
        from crf_hzxx hzxx
        left join crf_ndzxxjl ldzxxjl on hzxx.hzid=ldzxxjl.hzid
        <where>
            hzxx.zyh = #{zyh}  and
            ldzxxjl.jldjt=#{jldjt} and hzxx.scbj !='1' and ldzxxjl.scbj !='1'
        </where>
    </select>
    <!-- 导入患者信息到数据库-->
    <insert id="insertHzxx" parameterType="NdzxxDto">
        insert into crf_hzxx(hzid
        <if test="hzxm !=null and hzxm != ''">
            ,hzxm
        </if>
        <if test="zyh !=null and zyh != ''">
            ,zyh
        </if>
        <if test="nryjbh !=null and nryjbh != ''">
            ,nryjbh
        </if>
        <if test="nrsj!=null and nrsj != ''">
            ,nrsj
        </if>
        <if test="nl !=null and nl != ''">
            ,nl
        </if>
        <if test="xb !=null and xb != ''">
            ,xb
        </if>
        <if test=" jzks !=null and  jzks != ''">
            , jzks
        </if>
        <if test="brlb !=null and brlb != ''">
            ,brlb
        </if>
        <if test="ssyy !=null and ssyy != ''">
            ,ssyy
        </if>
        <if test="jwhbz !=null and jwhbz != ''">
            ,jwhbz
        </if>
        <if test="grbw !=null and grbw != ''">
            ,grbw
        </if>
        <if test="rysj !=null and rysj != ''">
            ,rysj
        </if>
        <if test=" kjywbls !=null and  kjywbls != ''">
            , kjywbls
        </if>
        <if test=" kjzlc !=null and  kjzlc != ''">
            , kjzlc
        </if>
        <if test=" xghxytysj !=null and  xghxytysj != ''">
            , xghxytysj
        </if>
        <if test=" crrttysj !=null and  crrttysj != ''">
            , crrttysj
        </if>
        <if test=" hxjtysj !=null and  hxjtysj != ''">
            , hxjtysj
        </if>
        <if test=" cicusj !=null and  cicusj != ''">
            , cicusj
        </if>
        <if test=" cicuzt!=null and  cicuzt != ''">
            , cicuzt
        </if>
        <if test=" cysj !=null and  cysj != ''">
            , cysj
        </if>
        <if test=" cyzt!=null and  cyzt != ''">
            , cyzt
        </if>
        ,xjsj
        <if test="tjr !=null and tjr != ''">
            ,tjr
        </if>
        <if test="yz !=null and yz != ''">
            ,yz
        </if>
        <if test="nryjbhpx !=null and nryjbhpx != ''">
            ,nryjbhpx
        </if>
        )values(#{hzid}
        <if test="hzxm !=null and hzxm != ''">
            ,#{hzxm}
        </if>
        <if test="zyh !=null and zyh != ''">
            ,#{zyh}
        </if>
        <if test="nryjbh !=null and nryjbh != ''">
            ,#{nryjbh}
        </if>
        <if test="nrsj!=null and nrsj != ''">
            ,cast(#{nrsj} as TIMESTAMP)
        </if>
        <if test="nl !=null and nl != ''">
            ,#{nl}
        </if>
        <if test="xb !=null and xb != ''">
            ,#{xb}
        </if>
        <if test=" jzks !=null and  jzks != ''">
            ,#{jzks}
        </if>
        <if test="brlb !=null and brlb != ''">
            ,#{brlb}
        </if>
        <if test="ssyy !=null and ssyy != ''">
            ,#{ssyy}
        </if>
        <if test="jwhbz !=null and jwhbz != ''">
            ,#{jwhbz}
        </if>
        <if test="grbw !=null and grbw != ''">
            ,#{grbw}
        </if>
        <if test="rysj !=null and rysj != ''">
            ,cast(#{rysj} as TIMESTAMP)
        </if>
        <if test=" kjywbls !=null and  kjywbls != ''">
            , #{kjywbls}
        </if>
        <if test=" kjzlc !=null and  kjzlc != ''">
            , #{kjzlc}
        </if>
        <if test=" xghxytysj !=null and  xghxytysj != ''">
            ,cast(#{xghxytysj} as TIMESTAMP)
        </if>
        <if test=" crrttysj !=null and  crrttysj != ''">
            ,cast(#{crrttysj} as TIMESTAMP)
        </if>
        <if test=" hxjtysj !=null and  hxjtysj != ''">
            ,cast(#{hxjtysj} as TIMESTAMP)
        </if>
        <if test=" cicusj !=null and  cicusj != ''">
            ,cast(#{cicusj} as TIMESTAMP)
        </if>
        <if test=" cicuzt!=null and  cicuzt != ''">
            , #{cicuzt}
        </if>
        <if test=" cysj !=null and  cysj != ''">
            ,cast(#{cysj} as TIMESTAMP)
        </if>
        <if test=" cyzt!=null and  cyzt != ''">
            , #{cyzt}
        </if>
        ,LOCALTIMESTAMP
        <if test="tjr !=null and tjr != ''">
            ,#{tjr}
        </if>
        <if test="yz !=null and yz != ''">
            ,#{yz}
        </if>
        <if test="nryjbhpx !=null and nryjbhpx != ''">
            ,cast(#{nryjbhpx} as numeric)
        </if>
        )
    </insert>

    <!-- 导入报告信息到数据库-->
    <insert id="insertReport" parameterType="NdzxxDto">
        insert into crf_ndzxxjl(ndzjlid,hzid,scbj
        <if test="jldjt !=null and jldjt != ''">
            ,jldjt
        </if>
        <if test="jlrq !=null and jlrq != ''">
            ,jlrq
        </if>
        <if test="hrmax !=null and hrmax != ''">
            ,hrmax
        </if>
        <if test="mapmax !=null and mapmax != ''">
            ,mapmax
        </if>
        <if test="sapmax!=null and sapmax != ''">
            ,sapmax
        </if>
        <if test="rrmax !=null and rrmax != ''">
            ,rrmax
        </if>
        <if test="tmax!=null and tmax != ''">
            ,tmax
        </if>
        <if test=" crrt!=null and  crrt != ''">
            , crrt
        </if>
        <if test="xghxy !=null and xghxy != ''">
            ,xghxy
        </if>
        <if test="gcs !=null and gcs!= ''">
            ,gcs
        </if>
        <if test="jxtq !=null and jxtq != ''">
            ,jxtq
        </if>
        <if test=" sjqsfsykjyw!=null and  sjqsfsykjyw != ''">
            , sjqsfsykjyw
        </if>
        <if test=" kjywzl!=null and  kjywzl != ''">
            , kjywzl
        </if>
        <if test=" mcfdna!=null and  mcfdna != ''">
            , mcfdna
        </if>
        <if test=" mcfdnajg!=null and  mcfdnajg != ''">
            , mcfdnajg
        </if>
        <if test=" xpy!=null and  xpy != ''">
            , xpy
        </if>
        <if test=" xpyjg!=null and  xpyjg != ''">
            , xpyjg
        </if>
        <if test=" tpy!=null and  tpy != ''">
            , tpy
        </if>
        <if test=" tpyjg!=null and  tpyjg != ''">
            , tpyjg
        </if>
        <if test=" ttp!=null and  ttp != ''">
            , ttp
        </if>
        <if test=" ttpjg!=null and  ttpjg != ''">
            , ttpjg
        </if>
        <if test=" fstp!=null and  fstp != ''">
            , fstp
        </if>
        <if test=" fstpjg!=null and  fstpjg != ''">
            , fstpjg
        </if>
        <if test=" fspy!=null and  fspy != ''">
            , fspy
        </if>
        <if test=" fspyjg!=null and  fspyjg != ''">
            , fspyjg
        </if>
        <if test=" qtf!=null and  qtf != ''">
            , qtf
        </if>
        <if test=" qtfjg!=null and  qtfjg != ''">
            , qtfjg
        </if>
        <if test=" qtt!=null and  qtt != ''">
            , qtt
        </if>
        <if test=" qttjg!=null and  qttjg != ''">
            , qttjg
        </if>
        <if test=" apache2!=null and  apache2 != ''">
            , apache2
        </if>
        <if test=" sofapf!=null and  sofapf != ''">
            , sofapf
        </if>
        <if test=" kjywjjtzl!=null and  kjywjjtzl != ''">
            , kjywjjtzl
        </if>
        )values(#{ndzjlid},#{hzid},'0'
        <if test="jldjt !=null and jldjt != ''">
            ,#{jldjt}
        </if>
        <if test="jlrq !=null and jlrq != ''">
            ,cast(#{jlrq} as TIMESTAMP)
        </if>
        <if test="hrmax !=null and hrmax != ''">
            ,#{hrmax}
        </if>
        <if test="mapmax !=null and mapmax != ''">
            ,#{mapmax}
        </if>
        <if test="sapmax!=null and sapmax != ''">
            ,#{sapmax}
        </if>
        <if test="rrmax !=null and rrmax != ''">
            ,#{rrmax}
        </if>
        <if test="tmax!=null and tmax != ''">
            ,#{tmax}
        </if>
        <if test=" crrt!=null and  crrt != ''">
            , #{crrt}
        </if>
        <if test="xghxy !=null and xghxy != ''">
            ,#{xghxy}
        </if>
        <if test="gcs !=null and gcs!= ''">
            ,#{gcs}
        </if>
        <if test="jxtq !=null and jxtq != ''">
            ,#{jxtq}
        </if>
        <if test=" sjqsfsykjyw!=null and  sjqsfsykjyw != ''">
            , #{sjqsfsykjyw}
        </if>
        <if test=" kjywzl!=null and  kjywzl != ''">
            , #{kjywzl}
        </if>
        <if test=" mcfdna!=null and  mcfdna != ''">
            , #{mcfdna}
        </if>
        <if test=" mcfdnajg!=null and  mcfdnajg != ''">
            , #{mcfdnajg}
        </if>
        <if test=" xpy!=null and  xpy != ''">
            , #{xpy}
        </if>
        <if test=" xpyjg!=null and  xpyjg != ''">
            , #{xpyjg}
        </if>
        <if test=" tpy!=null and  tpy != ''">
            , #{tpy}
        </if>
        <if test=" tpyjg!=null and  tpyjg != ''">
            , #{tpyjg}
        </if>
        <if test=" ttp!=null and  ttp != ''">
            , #{ttp}
        </if>
        <if test=" ttpjg!=null and  ttpjg != ''">
            , #{ttpjg}
        </if>
        <if test=" fstp!=null and  fstp != ''">
            , #{fstp}
        </if>
        <if test=" fstpjg!=null and  fstpjg != ''">
            , #{fstpjg}
        </if>
        <if test=" fspy!=null and  fspy != ''">
            , #{fspy}
        </if>
        <if test=" fspyjg!=null and  fspyjg != ''">
            , #{fspyjg}
        </if>
        <if test=" qtf!=null and  qtf != ''">
            , #{qtf}
        </if>
        <if test=" qtfjg!=null and  qtfjg != ''">
            , #{qtfjg}
        </if>
        <if test=" qtt!=null and  qtt != ''">
            , #{qtt}
        </if>
        <if test=" qttjg!=null and  qttjg != ''">
            , #{qttjg}
        </if>
        <if test=" apache2!=null and  apache2 != ''">
            ,#{apache2}
        </if>
        <if test=" sofapf!=null and  sofapf != ''">
            , #{sofapf}
        </if>
        <if test=" kjywjjtzl!=null and  kjywjjtzl != ''">
            , #{kjywjjtzl}
        </if>
        )
    </insert>

    <insert id="insertDmxq" parameterType="NdzdmxqDto">
        insert into crf_ndzdmxq(
        <if test="ndzjlid !=null and ndzjlid != ''">
            ndzjlid
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,jyxm
        </if>
        <if test="sjz !=null and sjz != ''">
            ,sjz
        </if>
        )values (
        <if test="ndzjlid !=null and ndzjlid != ''">
            #{ndzjlid}
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,#{jyxm}
        </if>
        <if test="sjz !=null and sjz != ''">
            ,#{sjz}
        </if>
        )
    </insert>

    <insert id="insertYzzb" parameterType="NdzyzzbDto">
        insert into crf_ndzyzzb(
        <if test="ndzjlid !=null and ndzjlid != ''">
            ndzjlid
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,jyxm
        </if>
        <if test="sjz !=null and sjz != ''">
            ,sjz
        </if>
        )values (
        <if test="ndzjlid !=null and ndzjlid != ''">
            #{ndzjlid}
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,#{jyxm}
        </if>
        <if test="sjz !=null and sjz != ''">
            ,#{sjz}
        </if>
        )
    </insert>

    <insert id="insertSh" parameterType="NdzshDto">
        insert into crf_ndzsh(
        <if test="ndzjlid !=null and ndzjlid != ''">
            ndzjlid
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,jyxm
        </if>
        <if test="sjz !=null and sjz != ''">
            ,sjz
        </if>
        )values (
        <if test="ndzjlid !=null and ndzjlid != ''">
            #{ndzjlid}
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,#{jyxm}
        </if>
        <if test="sjz !=null and sjz != ''">
            ,#{sjz}
        </if>
        )
    </insert>

    <insert id="insertXcg" parameterType="NdzxcgDto">
        insert into crf_ndzxcg(
        <if test="ndzjlid !=null and ndzjlid != ''">
            ndzjlid
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,jyxm
        </if>
        <if test="sjz !=null and sjz != ''">
            ,sjz
        </if>
        )values (
        <if test="ndzjlid !=null and ndzjlid != ''">
            #{ndzjlid}
        </if>
        <if test="jyxm !=null and jyxm != ''">
            ,#{jyxm}
        </if>
        <if test="sjz !=null and sjz != ''">
            ,#{sjz}
        </if>
        )
    </insert>

</mapper>
