<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.INdzyzzbDao" >
<select id="getSjz" parameterType="NdzyzzbDto" resultType="NdzyzzbDto">
	  	select yzzb.ndzjlid,yzzb.jyxm,yzzb.sjz,sj.csmc,sj.csid,sj.csdm,sj.cskz1,sj.cskz2 from
		matridx_jcsj sj 
		left outer join crf_ndzyzzb yzzb on sj.csid =yzzb.jyxm and yzzb.ndzjlid = #{ndzjlid}
		<where>
			sj.jclb='INFLAMMATORY' and sj.scbj!='1'
		</where>
		order by sj.cspx,sj.csid
	</select>
	<select id="getSjzName" parameterType="NdzyzzbDto" resultType="Map">
	  select cskz1,sjz from (select * from crf_ndzyzzb where ndzjlid =#{ndzjlid} ) ndz
 		left join  matridx_jcsj js on js.jclb='INFLAMMATORY' and ndz.jyxm= js.csid
	</select>
	<delete id="deleteByNdz" parameterType="NdzyzzbDto">
		delete from crf_ndzyzzb
		<where>
			ndzjlid = #{ndzjlid}
		</where>
	</delete>
	
	<!-- 增加动脉血气信息 -->
	<insert  id="insertYzzb" parameterType="List">
		insert into crf_ndzyzzb (ndzjlid, jyxm,sjz)
		values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.ndzjlid},#{item.jyxm},#{item.sjz})
			</foreach>
		</if>
	</insert>
</mapper>
