<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IQmngsndzxxjlDao" >
    <select id="getDtoList" parameterType="QmngsndzxxjlDto" resultType="QmngsndzxxjlDto">
        select
        qmngsndzjlid,
        to_char(jlrq,'yyyy-mm-dd')jlrq,
        hrmax,
        mapmax,
        sapmax,
        rrmax,
        tmax,
        jxtq,
        qmngshzid,
        gcs,
        crrt,
        xghxy,
        sjqsfsykjyw,
        kjywzl,
        sfwzxqmngs,
        wzxqmngsjg,
        jzqmngs,
        sfjzqmngs,
        jzqmngsjg,
        fswzxpy,
        wzxpyjg,
        jzpy,
        sfjzpy,
        jzpyjg,
        sftsport,
        tsportjg,
        sfgsy,
        gsyjg,
        sfgmsy,
        sfcmvpcr,
        cmvpcrjg,
        sfebvpcr,
        ebvpcrjg,
        qt1,
        sfqt1,
        xbct,
        ctjgms,
        ctjg,
        qt1jg,
        qt2jg,
        jldjt,
        jlry,
        qt3,
        sfqt3,
        qt3jg,
        qt2,
        sfqt2,
        lrry,
        lrsj,
        xgry,
        xgsj,
        scry,
        scsj,
        scbj,
        gmsyjg,
        sfzbwsw11,
        bfzs11,
        sfzbwsw12,
        bfzs12,
        sfzbwsw21,
        sfzbwsw22,
        sfzbwsw23,
        sfzbwsw24,
        jzpy2,
        jzpyjg2,
        jzpy3,
        jzpyjg3,
        qtjg,
        sjspyjgyx,
        sjsbblx,
        sjspyjg,
        jzpy4,
        jzpyjg4,
        to_char(sjsj,'yyyy-MM-dd HH24:mi:ss')sjsj,
        to_char(sjsj2,'yyyy-MM-dd HH24:mi:ss')sjsj2,
        to_char(sjsj3,'yyyy-MM-dd HH24:mi:ss')sjsj3,
        to_char(sjsj4,'yyyy-MM-dd HH24:mi:ss')sjsj4,
        to_char(jgsj,'yyyy-MM-dd HH24:mi:ss')jgsj,
        to_char(jgsj2,'yyyy-MM-dd HH24:mi:ss')jgsj2,
        to_char(jgsj3,'yyyy-MM-dd HH24:mi:ss')jgsj3,
        to_char(jgsj4,'yyyy-MM-dd HH24:mi:ss')jgsj4,
        grxglclxpd
        from crf_qmngsndzxxjl
        where scbj!='1' and qmngshzid=#{qmngshzid}
    </select>
    <select id="getDto" parameterType="QmngsndzxxjlDto">
        select
        qmngsndzjlid,
        jlrq,
        hrmax,
        mapmax,
        sapmax,
        rrmax,
        tmax,
        jxtq,
        qmngshzid,
        gcs,
        crrt,
        xghxy,
        sjqsfsykjyw,
        kjywzl,
        sfwzxqmngs,
        wzxqmngsjg,
        jzqmngs,
        sfjzqmngs,
        jzqmngsjg,
        fswzxpy,
        wzxpyjg,
        jzpy,
        sfjzpy,
        jzpyjg,
        sftsport,
        tsportjg,
        sfgsy,
        gsyjg,
        sfgmsy,
        sfcmvpcr,
        cmvpcrjg,
        sfebvpcr,
        ebvpcrjg,
        qt1,
        sfqt1,
        xbct,
        ctjgms,
        ctjg,
        qt1jg,
        qt2jg,
        jldjt,
        jlry,
        qt3,
        sfqt3,
        qt3jg,
        qt2,
        sfqt2,
        lrry,
        lrsj,
        xgry,
        xgsj,
        scry,
        scsj,
        scbj,
        grxglclxpd,
        gmsyjg
        from crf_qmngsndzxxjl
        where scbj!='1' and qmngsndzjlid=#{qmngsndzjlid}
    </select>
    <insert id="insertDto" parameterType="QmngsndzxxjlDto">
        INSERT INTO crf_qmngsndzxxjl (
        qmngsndzjlid,
        hrmax,
        mapmax,
        sapmax,
        rrmax,
        tmax,
        jxtq,
        qmngshzid,
        gcs,
        crrt,
        xghxy,
        sjqsfsykjyw,
        kjywzl,
        sfwzxqmngs,
        wzxqmngsjg,
        jzqmngs,
        sfjzqmngs,
        jzqmngsjg,
        fswzxpy,
        wzxpyjg,
        jzpy,
        sfjzpy,
        jzpyjg,
        sftsport,
        tsportjg,
        sfgsy,
        gsyjg,
        sfgmsy,
        sfcmvpcr,
        cmvpcrjg,
        sfebvpcr,
        ebvpcrjg,
        qt1,
        sfqt1,
        xbct,
        ctjgms,
        ctjg,
        qt1jg,
        qt2jg,
        jldjt,
        <if test="jlrq !=null and jlrq != ''">
            jlrq,
        </if>
        qt3,
        sfqt3,
        qt3jg,
        qt2,
        sfqt2,
        lrry,
        lrsj,
        scbj,
        gmsyjg,
        sfzbwsw11,
        bfzs11,
        sfzbwsw12,
        bfzs12,
        sfzbwsw21,
        sfzbwsw22,
        sfzbwsw23,
        sfzbwsw24,
        jzpy2,
        jzpyjg2,
        jzpy3,
        jzpyjg3,
        qtjg,
        sjspyjgyx,
        sjsbblx,
        sjspyjg,
        jzpy4,
        grxglclxpd,
        <if test="sjsj !=null and sjsj != ''">
            sjsj,
        </if>
        <if test="sjsj2 !=null and sjsj2 != ''">
            sjsj2,
        </if>
        <if test="sjsj3 !=null and sjsj3 != ''">
            sjsj3,
        </if>
        <if test="sjsj4 !=null and sjsj4 != ''">
            sjsj4,
        </if>
        <if test="jgsj !=null and jgsj != ''">
            jgsj,
        </if>
        <if test="jgsj2 !=null and jgsj2 != ''">
            jgsj2,
        </if>
        <if test="jgsj3 !=null and jgsj3 != ''">
            jgsj3,
        </if>
        <if test="jgsj4 !=null and jgsj4 != ''">
            jgsj4,
        </if>
        jzpyjg4
        )
        VALUES
        (
        #{qmngsndzjlid},
        #{hrmax},
        #{mapmax},
        #{sapmax},
        #{rrmax},
        #{tmax},
        #{jxtq},
        #{qmngshzid},
        #{gcs},
        #{crrt},
        #{xghxy},
        #{sjqsfsykjyw},
        #{kjywzl},
        #{sfwzxqmngs},
        #{wzxqmngsjg},
        #{jzqmngs},
        #{sfjzqmngs},
        #{jzqmngsjg},
        #{fswzxpy},
        #{wzxpyjg},
        #{jzpy},
        #{sfjzpy},
        #{jzpyjg},
        #{sftsport},
        #{tsportjg},
        #{sfgsy},
        #{gsyjg},
        #{sfgmsy},
        #{sfcmvpcr},
        #{cmvpcrjg},
        #{sfebvpcr},
        #{ebvpcrjg},
        #{qt1},
        #{sfqt1},
        #{xbct},
        #{ctjgms},
        #{ctjg},
        #{qt1jg},
        #{qt2jg},
        #{jldjt},
        <if test="jlrq !=null and jlrq != ''">
            cast(#{jlrq} as timestamp),
        </if>
        #{qt3},
        #{sfqt3},
        #{qt3jg},
        #{qt2},
        #{sfqt2},
        #{lrry},
        LOCALTIMESTAMP,
        #{scbj},
        #{gmsyjg},
        #{sfzbwsw11},
        #{bfzs11},
        #{sfzbwsw12},
        #{bfzs12},
        #{sfzbwsw21},
        #{sfzbwsw22},
        #{sfzbwsw23},
        #{sfzbwsw24},
        #{jzpy2},
        #{jzpyjg2},
        #{jzpy3},
        #{jzpyjg3},
        #{qtjg},
        #{sjspyjgyx},
        #{sjsbblx},
        #{sjspyjg},
        #{jzpy4},
        #{grxglclxpd},
        <if test="sjsj !=null and sjsj != ''">
            cast(#{sjsj} as timestamp),
        </if>
        <if test="sjsj2 !=null and sjsj2 != ''">
            cast(#{sjsj2} as timestamp),
        </if>
        <if test="sjsj3 !=null and sjsj3 != ''">
            cast(#{sjsj3} as timestamp),
        </if>
        <if test="sjsj4 !=null and sjsj4 != ''">
            cast(#{sjsj4} as timestamp),
        </if>
        <if test="jgsj !=null and jgsj != ''">
            cast(#{jgsj} as timestamp),
        </if>
        <if test="jgsj2 !=null and jgsj2 != ''">
            cast(#{jgsj2} as timestamp),
        </if>
        <if test="jgsj3 !=null and jgsj3 != ''">
            cast(#{jgsj3} as timestamp),
        </if>
        <if test="jgsj4 !=null and jgsj4 != ''">
            cast(#{jgsj4} as timestamp),
        </if>
        #{jzpyjg4}
        );
    </insert>
    <update id="updateDto" parameterType="QmngsndzxxjlDto">
        UPDATE crf_qmngsndzxxjl
        SET
        hrmax = #{hrmax},
        mapmax = #{mapmax},
        sapmax = #{sapmax},
        rrmax = #{rrmax},
        tmax = #{tmax},
        jxtq = #{jxtq},
        gcs = #{gcs},
        crrt = #{crrt},
        xghxy = #{xghxy},
        sjqsfsykjyw = #{sjqsfsykjyw},
        kjywzl = #{kjywzl},
        sfwzxqmngs = #{sfwzxqmngs},
        wzxqmngsjg = #{wzxqmngsjg},
        jzqmngs = #{jzqmngs},
        sfjzqmngs = #{sfjzqmngs},
        jzqmngsjg = #{jzqmngsjg},
        fswzxpy = #{fswzxpy},
        wzxpyjg = #{wzxpyjg},
        jzpy = #{jzpy},
        sfjzpy = #{sfjzpy},
        jzpyjg = #{jzpyjg},
        sftsport = #{sftsport},
        tsportjg = #{tsportjg},
        sfgsy = #{sfgsy},
        gsyjg = #{gsyjg},
        sfgmsy = #{sfgmsy},
        sfcmvpcr = #{sfcmvpcr},
        cmvpcrjg = #{cmvpcrjg},
        sfebvpcr = #{sfebvpcr},
        ebvpcrjg = #{ebvpcrjg},
        qt1 = #{qt1},
        sfqt1 = #{sfqt1},
        xbct = #{xbct},
        ctjgms = #{ctjgms},
        ctjg = #{ctjg},
        qt1jg = #{qt1jg},
        qt2jg = #{qt2jg},
        grxglclxpd = #{grxglclxpd},
        <choose>
            <when  test="jlrq !=null and jlrq != ''">
                jlrq=cast(#{jlrq} as timestamp),
            </when>
            <otherwise>
                jlrq=null,
            </otherwise>
        </choose>
        qt3 = #{qt3},
        sfqt3 = #{sfqt3},
        qt3jg = #{qt3jg},
        qt2 = #{qt2},
        sfqt2 = #{sfqt2},
        xgry = #{xgry},
        gmsyjg = #{gmsyjg},
        sfzbwsw11 = #{sfzbwsw11},
        bfzs11 = #{bfzs11},
        sfzbwsw12 = #{sfzbwsw12},
        bfzs12 = #{bfzs12},
        sfzbwsw21 = #{sfzbwsw21},
        sfzbwsw22 = #{sfzbwsw22},
        sfzbwsw23 = #{sfzbwsw23},
        sfzbwsw24 = #{sfzbwsw24},
        jzpy2 = #{jzpy2},
        jzpyjg2 = #{jzpyjg2},
        jzpy3 = #{jzpy3},
        jzpyjg3 = #{jzpyjg3},
        qtjg = #{qtjg},
        sjspyjgyx = #{sjspyjgyx},
        sjsbblx = #{sjsbblx},
        sjspyjg = #{sjspyjg},
        jzpy4 = #{jzpy4},
        jzpyjg4 = #{jzpyjg4},
        <choose>
            <when  test="sjsj !=null and sjsj != ''">
                sjsj=cast(#{sjsj} as timestamp),
            </when>
            <otherwise>
                sjsj=null,
            </otherwise>
        </choose>
        <choose>
            <when  test="sjsj2 !=null and sjsj2 != ''">
                sjsj2=cast(#{sjsj2} as timestamp),
            </when>
            <otherwise>
                sjsj2=null,
            </otherwise>
        </choose>
        <choose>
            <when  test="sjsj3 !=null and sjsj3 != ''">
                sjsj3=cast(#{sjsj3} as timestamp),
            </when>
            <otherwise>
                sjsj3=null,
            </otherwise>
        </choose>
        <choose>
            <when  test="sjsj4 !=null and sjsj4 != ''">
                sjsj4=cast(#{sjsj4} as timestamp),
            </when>
            <otherwise>
                sjsj4=null,
            </otherwise>
        </choose>
        <choose>
            <when  test="jgsj !=null and jgsj != ''">
                jgsj=cast(#{jgsj} as timestamp),
            </when>
            <otherwise>
                jgsj=null,
            </otherwise>
        </choose>
        <choose>
            <when  test="jgsj2 !=null and jgsj2 != ''">
                jgsj2=cast(#{jgsj2} as timestamp),
            </when>
            <otherwise>
                jgsj2=null,
            </otherwise>
        </choose>
        <choose>
            <when  test="jgsj3 !=null and jgsj3 != ''">
                jgsj3=cast(#{jgsj3} as timestamp),
            </when>
            <otherwise>
                jgsj3=null,
            </otherwise>
        </choose>
        <choose>
            <when  test="jgsj4 !=null and jgsj4 != ''">
                jgsj4=cast(#{jgsj4} as timestamp),
            </when>
            <otherwise>
                jgsj4=null,
            </otherwise>
        </choose>
        xgsj = LOCALTIMESTAMP
        WHERE
        qmngsndzjlid = #{qmngsndzjlid};
    </update>
    <update id="delDto" parameterType="QmngsndzxxjlDto">
        UPDATE crf_qmngsndzxxjl
        SET scbj='1',
        scry = #{scry},
        scsj = LOCALTIMESTAMP
        WHERE
        qmngsndzjlid = #{qmngsndzjlid};
    </update>
    <update id="delDtoList" parameterType="QmngsndzxxjlDto">
        UPDATE crf_qmngsndzxxjl
        SET scbj='1',
        scry = #{scry},
        scsj = LOCALTIMESTAMP
        WHERE
        qmngshzid = #{qmngshzid};
    </update>
    <select id="queryById" parameterType="QmngsndzxxjlDto" resultType="QmngsndzxxjlDto">
		select jl.qmngsndzjlid,to_char(jl.jlrq,'yyyy-mm-dd') as jlrq,jl.mapmax,jl.hrmax, grxg_jc.csmc grxglclxpd,
		jl.sapmax,jl.rrmax,jl.tmax,jl.qmngshzid,jl.gcs,
		case jl.jxtq when '1' then '是' when '0' then '否' else '' end jxtq,
		case jl.crrt when '1' then '是' when '0' then '否' else '' end crrt,
		case jl.xghxy when '1' then '是' when '0' then '否' else '' end xghxy,
		case jl.sjqsfsykjyw when '1' then '是' when '0' then '否' else '' end sjqsfsykjyw,
		jl.kjywzl,jl.wzxqmngsjg,jl.jzqmngs,jl.jzqmngsjg,jl.wzxpyjg,jl.jzpy,jl.jzpyjg,
		jl.tsportjg,jl.gsyjg,jl.cmvpcrjg,jl.ebvpcrjg,jl.qt1,jl.ctjgms,
		jl.qt1jg,jl.gmsyjg,jl.jldjt,jl.jlry,jl.qt3,jl.qt3jg,jl.qt2,jl.qt2jg,
		case jl.sfwzxqmngs when '1' then '是' when '0' then '否' else '' end sfwzxqmngs,
		case jl.sfjzqmngs when '1' then '是' when '0' then '否' else '' end sfjzqmngs,
		case jl.fswzxpy when '1' then '是' when '0' then '否' else '' end fswzxpy,
		case jl.sfjzpy when '1' then '是' when '0' then '否' else '' end sfjzpy,
		case jl.sftsport when '1' then '是' when '0' then '否' else '' end sftsport,
		case jl.sfgsy when '1' then '是' when '0' then '否' else '' end sfgsy,
		case jl.sfgmsy when '1' then '是' when '0' then '否' else '' end sfgmsy,
		case jl.sfcmvpcr when '1' then '是' when '0' then '否' else '' end sfcmvpcr,
		case jl.sfebvpcr when '1' then '是' when '0' then '否' else '' end sfebvpcr,
		case jl.sfqt1 when '1' then '是' when '0' then '否' else '' end sfqt1,
		case jl.xbct when '1' then '是' when '0' then '否' else '' end xbct,
		case jl.sfqt3 when '1' then '是' when '0' then '否' else '' end sfqt3,
		case jl.sfqt2 when '1' then '是' when '0' then '否' else '' end sfqt2,
		case jl.sfzbwsw11 when '1' then '是' when '0' then '否' else '' end sfzbwsw11,
		case jl.sfzbwsw12 when '1' then '是' when '0' then '否' else '' end sfzbwsw12,
		case jl.xbct when '1' then '是' when '0' then '否' else '' end xbct,
		case jl.sfzbwsw21 when '1' then '是' when '0' then '否' else '' end sfzbwsw21,
		case jl.sfzbwsw22 when '1' then '是' when '0' then '否' else '' end sfzbwsw22,
		case jl.sfzbwsw23 when '1' then '是' when '0' then '否' else '' end sfzbwsw23,
		case jl.sfzbwsw24 when '1' then '是' when '0' then '否' else '' end sfzbwsw24,
		case jl.ctjg when '1' then '阴性' when '0' then '阳性' else '' end ctjg,
		case jl.sjspyjgyx when '1' then '是' when '0' then '否' else '' end sjspyjgyx
		,sjsbblx,jl.sjspyjg,jl.bfzs12,jl.bfzs11,jl.jzpy2,jl.jzpyjg2,jl.jzpy3,jl.jzpyjg3,jl.jzpy4,jl.jzpyjg4,
		jl.sjsj,jl.jgsj,jl.sjsj2,jl.jgsj2,jl.sjsj3,jl.jgsj3,jl.sjsj4,jl.jgsj4
		from crf_qmngsndzxxjl jl
		LEFT JOIN matridx_jcsj grxg_jc on grxg_jc.csid = jl.grxglclxpd
		where jl.qmngshzid=#{qmngshzid}
	</select>

    <select id="getListForSelectExp" parameterType="QmngsndzxxjlDto" resultType="QmngsndzxxjlDto">
        select  ndz.qmngshzid ${sqlParam} from(select hzxx.qmngshzid,hzxx.xmsx,hzxx.hzsjh,hzxx.hzrzsj,hzxx.txhzxm,hzxx.lxdh,hzxx.txrq,hzxx.sfcr,hzxx.sfrr,hzxx.sfqstys,hzxx.sfjjzl,hzxx.sfzlhzzsmyjb,hzxx.yfhxys,hzxx.nl,hzxx.xb,hzxx.jwhbz,hzxx.grbw,hzxx.rysj,hzxx.crrtkssj
        ,hzxx.crrttysj,hzxx.hxjkssj,hzxx.hxjtysj,hzxx.ricusj,hzxx.cicusj,cicuzt_jcsj.csmc as cicuzt,hzxx.zgrysj,hzxx.zgcysj,cyzt_jcsj.csmc as cyzt,jc_qtgr.csmc as stgrxglclxpd,hzxx.sjfzjg,hzxx.qtgrbw,hzxx.blh,hzxx.xghxykssj,hzxx.xghxytysj,hzxx.kjywkssj
        ,hzxx.kjywtzsj,jc_ylzx.csmc as ylzxmc,ndzxxjl.jlrq,ndzxxjl.hrmax,ndzxxjl.mapmax,ndzxxjl.sapmax,ndzxxjl.rrmax,ndzxxjl.tmax,ndzxxjl.jxtq,ndzxxjl.crrt,ndzxxjl.gcs,ndzxxjl.xghxy,ndzxxjl.sjqsfsykjyw,ndzxxjl.kjywzl
        ,ndzxxjl.sfwzxqmngs,ndzxxjl.wzxqmngsjg,ndzxxjl.jzqmngs,ndzxxjl.sfjzqmngs,ndzxxjl.jzqmngsjg,ndzxxjl.sfzbwsw11,ndzxxjl.bfzs11,ndzxxjl.sfzbwsw12,ndzxxjl.bfzs12,ndzxxjl.sjspyjgyx,ndzxxjl.sjsbblx,ndzxxjl.sjspyjg
        ,ndzxxjl.jzpy,ndzxxjl.jzpyjg,ndzxxjl.sfzbwsw21,ndzxxjl.sjsj,ndzxxjl.jgsj,ndzxxjl.jzpy2,ndzxxjl.jzpyjg2,ndzxxjl.sfzbwsw22,ndzxxjl.sjsj2,ndzxxjl.jgsj2,ndzxxjl.jzpy3,ndzxxjl.jzpyjg3,ndzxxjl.sfzbwsw23,ndzxxjl.sjsj3
        ,ndzxxjl.jgsj3,ndzxxjl.jzpy4,ndzxxjl.jzpyjg4,ndzxxjl.sfzbwsw24,ndzxxjl.sjsj4,ndzxxjl.jgsj4,ndzxxjl.jldjt,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'rs') rs ,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'pao2') pao2,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'fio2') fio2,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'k') k,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'na') na,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'ca') ca,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'ph') ph,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'abe') abe,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'hco3') hco3,
        (select sjz from  matridx_jcsj jc left join crf_qmngsdmxq dm  ON  dm.jyxm=jc.csid
        AND dm.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODGAS'and  cskz1 = 'paco2') paco2,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'il10') il10,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'tnfa') tnfa,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'crp') crp,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'pct') pct,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'il6') il6,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'c3') c3,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'c4') c4,
        (select sjz from  matridx_jcsj jc left join crf_qmngsyzzb yzzb  ON  yzzb.jyxm=jc.csid
        AND yzzb.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSINFLAMMATORY'and  cskz1 = 'CD4t') cd4t,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'nsd') nsd,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'bdb') bdb,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'jg') jg,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'zdhs') zdhs,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'alt') alt,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'gm') gm,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'g') g,
        (select sjz from  matridx_jcsj jc left join crf_qmngssh sh  ON  sh.jyxm=jc.csid
        AND sh.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBIOCHEMISTRY'and  cskz1 = 'tspot') tspot,
        (select sjz from  matridx_jcsj jc left join crf_qmngsxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODTEST'and  cskz1 = 'wbc') wbc,
        (select sjz from  matridx_jcsj jc left join crf_qmngsxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODTEST'and  cskz1 = 'plt') plt,
        (select sjz from  matridx_jcsj jc left join crf_qmngsxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODTEST'and  cskz1 = 'neu') neu,
        (select sjz from  matridx_jcsj jc left join crf_qmngsxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODTEST'and  cskz1 = 'ly') ly,
        (select sjz from  matridx_jcsj jc left join crf_qmngsxcg xcg  ON  xcg.jyxm=jc.csid
        AND xcg.qmngsndzjlid= ndzxxjl.qmngsndzjlid where  jc.jclb = 'QMNGSBLOODTEST'and  cskz1 = 'hb') hb
        from (
        <foreach item="item" index="index" collection="ids" separator=" union all ">
            select #{item,jdbcType=VARCHAR} qmngshzid,#{index} ordernum
        </foreach>
        ) tmp
        left outer join crf_qmngshzxx hzxx on hzxx.qmngshzid = tmp.qmngshzid
        left outer join crf_qmngsndzxxjl ndzxxjl on ndzxxjl.qmngshzid=hzxx.qmngshzid
        left outer join matridx_jcsj jc_ylzx on jc_ylzx.csid=hzxx.ylzxbh
        left outer join matridx_jcsj cicuzt_jcsj on cicuzt_jcsj.csid=hzxx.cicuzt
        left outer join matridx_jcsj cyzt_jcsj on cyzt_jcsj.csid=hzxx.cyzt
        left outer join matridx_jcsj jc_qtgr on jc_qtgr.csid=hzxx.stgrxglclxpd
        order by
        hzxx.rysj ASC,
        hzxx.qmngshzid ASC,
        ndzxxjl.jldjt ASC
        ) ndz
    </select>
</mapper>
