<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.crf.web.dao.post.IQmngsdmxqDao" >
    <select id="getSjz" parameterType="QmngsdmxqDto" resultType="QmngsdmxqDto">
        select dmxq.qmngsndzjlid,dmxq.jyxm,dmxq.sjz,sj.csmc,sj.csid,sj.csdm,sj.cskz1,sj.cskz2 from
        matridx_jcsj sj
        left outer join crf_qmngsdmxq dmxq on sj.csid =dmxq.jyxm and dmxq.qmngsndzjlid = #{qmngsndzjlid}
        <where>
            sj.jclb='QMNGSBLOODGAS' and sj.scbj!='1'
        </where>
        order by sj.cspx,sj.csid
    </select>
    <select id="getSjzName" parameterType="QmngsdmxqDto" resultType="Map">
        select cskz1,sjz from (select * from crf_qmngsdmxq where qmngsndzjlid =#{qmngsndzjlid} ) ndz
        left join  matridx_jcsj js on js.jclb='QMNGSBLOODGAS' and ndz.jyxm= js.csid
    </select>
    <delete id="deleteByNdz" parameterType="QmngsndzxxjlDto">
        delete from crf_qmngsdmxq
        <where>
            qmngsndzjlid = #{qmngsndzjlid}
        </where>
    </delete>

    <!-- 增加动脉血气信息 -->
    <insert  id="insertDmxq" parameterType="List">
        insert into crf_qmngsdmxq (qmngsndzjlid, jyxm,sjz)
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (#{item.qmngsndzjlid},#{item.jyxm},#{item.sjz})
            </foreach>
        </if>
    </insert>
    
     <select id="queryDmxq" parameterType="String" resultType="QmngsdmxqDto">
        select dmxq.qmngsndzjlid,dmxq.jyxm,dmxq.sjz,sj.csmc,sj.csid,sj.csdm,sj.cskz1,sj.cskz2,jl.jldjt
        from crf_qmngsdmxq dmxq
        left join matridx_jcsj sj on sj.csid =dmxq.jyxm
        left join crf_qmngsndzxxjl jl on jl.qmngsndzjlid=dmxq.qmngsndzjlid
        <where>
            sj.scbj!='1' and jl.qmngshzid=#{qmngshzid}
        </where>
        order by sj.cspx
    </select>
</mapper>
