<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/wechat/authority/authority_list.js" charset="utf-8"></script>
	</head>
	<body>
		<div class="modal-body body-content" id="authorityDiv">
			<input type="hidden" name="wbcxdm" id="wbcxdm"/>
			<div class="col-md-12 col-xs-12" style="margin-bottom: 20px;"> 
				<div class="panel panel-default">
		 	 		<div class="panel-heading">选择公众号</div>
		            <div class="panel-body">
		            	<div class="col-md-6 col-sm-12">
					        <div class="form-group">
					          	<label for="" class="col-sm-4 control-label">
					          		请先选择公众号
								</label>
								<div class="col-sm-7">
					          		<select id="wbcxid" name="wbcxid" class="form-control chosen-select"  style="height:34px;">
			                        	<option value="">-- 请选择 --</option>
		                           		<option  th:if="${wxzghList!=null && wxzghList.size() > 0}" th:each="wbcxDto:${wxzghList}" th:value="${wbcxDto.wbcxid}"  th:text="${wbcxDto.wbcxmc}"></option>
		                           	</select>
	        					</div>
					        </div>
						</div>
		            </div>
				</div>
			</div>
			<div class="col-md-12 col-xs-12">
				<div class="form-group">
					<form id="authority_formSearch" class="form-horizontal form-inline">
			        	<div class="panel panel-default">
			            <div class="panel-heading">查询条件</div>
				            <div class="panel-body">
			                	<div class="form-group padding_l10">
			                        <select name="cxbt" class="form-control chosen-select" id="cxbt">
		                           		<option value="0">医院名称</option>
		                           		<option value="1">科　　室</option>
		                           	</select>
			                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
		                                onkeydown="if(event.keyCode==13) {searchAuthorityResult(); return false;}"/>
								</div>
								<button type="button" style="margin-left:50px" id="btn_authority_query" class="btn btn-primary">查询</button>
				            </div>
				        </div>
						<div th:include="common/btn/ancz.html"></div>
				        <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
			        </form>
			    </div>
		    </div>
	    </div>
	</body>
</html>