<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="body-content tab-content">
	<div role="tabpanel" class="tab-pane fade active in" id="partnerInfoTab" aria-labelledby="profile-tab">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-md-2 col-xs-12 control-label">
								消息类型：
							</label>
							<div class="col-md-4 col-xs-4">
								<span th:text="${ddxxglDto.ddxxlx}" ></span>							
							</div>
						</div>
					</div> 
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-md-2 col-xs-4 control-label">
								通知类型：
							</label>
							<div class="col-md-4 col-xs-4">
								<span th:text="${ddxxglDto.tzlx}" ></span>							
							</div>
						</div>
					</div> 
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-md-2 col-xs-12 control-label">
								用户名：
							</label>
							<div class="col-md-4 col-xs-12">
								<span th:text="${ddxxglDto.yhm}" ></span>							
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="" class="col-md-2 col-xs-12 control-label">
								姓名：
							</label>
							<div class="col-md-4 col-xs-12">
								<span th:text="${ddxxglDto.zsxm}" ></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>