<!DOCTYPE html>
<html>
<head lang="zh-cn">
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/ddxxgl/ddxx_list.js'}" charset="utf-8"></script>	
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
 	<form id="ddxxgl_formSearch" class="form-horizontal form-inline">
 	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
 		<div class="panel panel-default">
			<div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
			<div class="panel-body">
			 	<div class="">
					<div class="form-group padding_l10">
						<label>消息类型:</label>
		            	<select id="xxlx" class="form-control chosen-select"  >
		                	<option value="">&nbsp;--&nbsp;请选择&nbsp;--&nbsp;</option>
		                	<option th:each="map:${xxlxlist}" th:value="${map[code]}" th:text="${map[value]}"> </option>
		         		</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		         		<label>通知类型:</label>
		         		<select id="tzlx" class="form-control chosen-select" >
		                	<option value="">&nbsp;--&nbsp;请选择&nbsp;--&nbsp;</option>
		                	<option th:each="map:${tzlxlist}" th:value="${map[code]}" th:text="${map[value]}"></option>
		         		</select>
						<select name="cxtj" class="form-control chosen-select" id="cxtj"
								style="height: 34px;">
							<option value="0">&nbsp;&nbsp;全&nbsp;&nbsp;部</option>
							<option value="1">&nbsp;&nbsp;姓&nbsp;&nbsp;名</option>
							<option value="2">&nbsp;&nbsp;用户名</option>
						</select>
						<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
							   onkeydown="if(event.keyCode==13) {searchDdxxResult(); return false;}"/>
					</div>
					<button type="button" style="margin-left:20px" id="btn_query" class="btn btn-primary">查询</button>
				</div>
			</div>
		</div>
		<div th:include="common/btn/ancz.html"></div>
 		<table id="ddxxgl_list" class="table table-hover table-bordered table-hidden"></table>
 	</form>
</div> 
</body>
</html>