<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/award/award/awardManagement_add.js'}" charset="utf-8"></script>
</head>
<body>
<form id="addAwardManagementForm" th:action="${urlPrefix}+'/award/award/'+${jpglDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" autocomplete="off">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="jpmx_json" id="jpmx_json"/>
    <input type="hidden" name="ywlx" id="ywlx" th:value="${ywlx}">
    <input type="hidden" name="jpglid" id="jpglid" th:value="${jpglDto.jpglid}">
    <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="copyflag" id="copyflag" th:value="${jpglDto.copyflag}">
    <div class="panel-body body-content tab-content">
        <div class="tab-pane fade active in" role="tabpanel" aria-labelledby="profile-tab">
            <div class="panel panel-default" >
                <div class="panel-body">
                    <div class="row" style="margin-left:-100px">
                        <div class="col-md-12 col-sm-12" >
                            <div class="form-group" >
                                <label for="" class="col-sm-2 control-label">
                                    <span style="color: red;">*</span>标题:
                                </label>
                                <div class="col-sm-10 col-xs-12" >
                                    <input type="text" id="bt" name="bt" th:value="${jpglDto.bt}" validate="{required:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-md-6 control-label">
                                    <span style="color: red;">*</span>开始日期:
                                </label>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="input-group" >
                                        <input id="ksrq" name="ksrq" type="text" th:value="${jpglDto.ksrq}" validate="{required:true}"  class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-md-6 control-label">
                                    <span style="color: red;">*</span>结束日期:
                                </label>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="input-group" >
                                        <input id="jsrq" name="jsrq" type="text" th:value="${jpglDto.jsrq}" validate="{required:true}"  class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="" class="col-sm-6 col-md-6 control-label">
                                    所属部门:
                                </label>
                                <div class="col-sm-6 col-xs-12 col-md-6">
                                    <div class="input-group">
                                        <input id="ssbmmc" name="ssbmmc" type="text" th:value="${jpglDto.ssbmmc}" readonly="readonly" class="form-control"  />
                                        <input id="ssbm" name="ssbm" type="hidden" th:value="${jpglDto.ssbm}" class="form-control"/>
                                        <span class="input-group-btn">
												<button type="button" onclick="chooseBm()" class="btn btn-primary">选择</button>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">
                                    <span style="color: red;">*</span>奖品类型:
                                </label>
                                <div class="col-sm-6 col-xs-12 col-md-6" th:if="${jplxlist!=null && jplxlist.size() > 0}">
                                    <select id="jplx" name="jplx" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${jplxlist}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${jpglDto.jplx eq list.csid}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">
                                    <span style="color: red;">*</span>通知群:
                                </label>
                                <div class="col-sm-6 col-xs-12 col-md-6" th:if="${tzqlist!=null && tzqlist.size() > 0}">
                                    <select id="tzq" name="tzq" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                                        <option value="">--请选择--</option>
                                        <option th:each="list:${tzqlist}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${jpglDto.tzq eq list.csid}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12" >
                            <div class="form-group" >
                                <label for="" class="col-sm-2 control-label">
                                    备注:
                                </label>
                                <div class="col-sm-10 col-xs-12" >
                                    <textarea id="bz" name="bz" rows="3"  style="height:50px;"  class="form-control" th:text="${jpglDto.bz}" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <button  type="button" class="btn btn-success" onclick="addnew()" ><span id="cofirmaddwl">新增</span></button>
            </div>
            <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
        </div>
    </div>
</form>
</body>
</html>
