<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>领料列表</title>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/AdministrationAuditing/AdministrationAuditing_list.js'}" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
    <form id="AdministrationAuditing_formAuditing">
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <div class="row">
            <div class="pull-left">
                <ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="AdministrationAuditing_ul">
                    <li  class="nav-item" >
                        <a  class="nav-link active" name="tabBlock[AdministrationAuditingtDiv]" href="#AdministrationAuditing" role="tab" data-bs-toggle="tab">待审核的领料信息</a>
                    </li>
                    <li  class="nav-item" >
                        <a  class="nav-link" name="tabBlock[AdministrationAuditingDiv]" href="#AdministrationAuditinged" role="tab" data-bs-toggle="tab">审核记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="row padding-l15 padding-r15">
        <div class="main_content tab-content">
            <div role="tabpanel" class="tab-pane active padding-10" id="AdministrationAuditing" style="border:1px solid #eee">
                <form id="AdministrationAuditing_formSearch" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
                        <div class="panel-body">
                        <div class="">
                        <div class="form-group padding_l10">
                            <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                                <option value="0">全部</option>
                                <option value="1">领料单号</option>
                                <option value="2">申请部门</option>
                                <option value="3">领料人员</option>
                                <option value="4">发料人</option>
                            </select>
                            <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                   onkeydown="if(event.keyCode==13) {searchPickAdminidtration_audit(true); return false;}" autocomplete="off"/>
                        </div>
<!--                        -->
                        <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                        </div>
                        </div>
                    </div>
                    <div th:include="common/btn/ancz.html"></div>
                    <table id="AdministrationAuditing_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane padding-10" id="AdministrationAuditinged" style="border:1px solid #eee">
                <form id="AdministrationAuditinged_formSearch" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                                        <option value="0">全部</option>
                                        <option value="1">领料单号</option>
                                        <option value="2">申请部门</option>
                                        <option value="3">领料人员</option>
                                        <option value="4">发料人</option>
                                    </select>
                                    <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                           onkeydown="if(event.keyCode==13) {searchPickAdminidtration_audited(true); return false;}" autocomplete="off"/>
                                </div>
                                <!-- <div class="form-group padding-l30" style="margin-left:0px">
                                    <label>申请时间</label>
                                    <input id="sqsjstart" name="sqsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                    <input id="sqsjend" name="sqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                </div> -->
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                    <div id="toolbar" class="btn-group">
                        <button class="btn btn-default" type="button" id="btn_cancelAudit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消审批</button>
                    </div>
                    <table id="AdministrationAuditinged_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>