<!DOCTYPE html>
<html lang="zh-cn">
	<body>
		<form data-bs-toggle="validation" th:action="${urlPrefix}+'/attendance/attendance/'+${yhcqtzDto.formAction}+SaveAttendance" method="post" id="Attendance_ajaxForm" class="form-horizontal sl_all_form">
			<div class="body-content tab-content">
				<input type="hidden" name="access_token"/>
				<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}">
				<input type="hidden" id="yyhid" name="yyhid" th:value="${YhcqtzDto.yyhid}">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
				         		<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>用户名</label>
				    			<div class="col-sm-8">
				        			<select id="yhid" name="yhid" th:value="${YhcqtzDto.yyhid}" class="form-control chosen-select" validate="{required:true}">
										<option  value="">--请选择--</option>
			                        	<option  th:each="xtyhs:${xtyhlist}"   th:value="${xtyhs.yhid}"  th:text="${xtyhs.zsxm}" th:selected="${xtyhs.yhid eq YhcqtzDto.yyhid}"></option>
			 						</select>
				        		</div>
				   			</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-3 control-label"><span style="color:red;">*</span>上级用户</label>
								<div class="col-sm-8">
									<select id="sjid" name="sjid" th:value="${YhcqtzDto.sjid}" class="form-control chosen-select" validate="{required:true}">
										<option  value="">--请选择--</option>
										<option  th:each="xtyhs:${xtyhlist}"   th:value="${xtyhs.yhid}"  th:text="${xtyhs.zsxm}" th:selected="${xtyhs.yhid eq YhcqtzDto.sjid}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
					        <div class="form-group">
					        	<label for="" class="col-sm-3 control-label"></span>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</label>
					          	<div class="col-sm-8">
									<textarea rows="" cols="" id="bz" name="bz" th:value="${YhcqtzDto.bz}"></textarea>
				        		</div>
					        </div>
						</div> 
					</div>
				</div>
			</div>
	   </form>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/attendance/attendance_add.js'}" charset="utf-8"></script>
	</body>
</html>