<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/attendance/attendance_list.js'}" charset="utf-8"></script>
	</head>
	<body>
		<div class="panel-body body-content" style="padding-bottom:0px;">
			<form id="attendanceformSearch" class="form-horizontal form-inline">
				<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}">
	        	<div class="panel panel-default">
	            <div class="panel-heading">查询条件</div>
		            <div class="panel-body">
	                    <div class="form-group padding_l10">
	                        <select name="cxbt" class="form-control chosen-select" id="cxbt" style="height:34px;">
                           		<option value="0">用户名</option>
                           	</select>
	                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                                onkeydown="if(event.keyCode==13) {searchAttendanceResult(); return false;}"/>
						</div>
						<button type="button" style="margin-left:50px" id="btn_user_query" class="btn btn-primary">查询</button>
		            </div>
		        </div>
				<div th:include="common/btn/ancz.html"></div>
	        	<table id="tb_list" class="table table-hover table-bordered"></table>
	        </form>
	    </div>
	</body>
</html>