<!DOCTYPE html>
<html lang="zh-cn">
<body>
<form method="post" id="viewAttendance_Form" theme="simple" class="form-horizontal sl_all_form">
    <div class="body-content tab-content">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">用户名</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${YhcqtzDto.yhmc}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">上级用户</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${YhcqtzDto.sjyhmc}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">出勤时间</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${YhcqtzDto.cqsj}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">退勤时间</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${YhcqtzDto.tqsj}" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="col-sm-5 col-md-5 col-xs-5 control-label">备注</label>
                        <div class="col-sm-7 col-md-7 col-xs-7 padding_t7"><span th:text="${YhcqtzDto.bz}" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>