<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/sample/stock/sampsrc_list.js" charset="utf-8"></script>
	</head>
	<body>
		<div class="panel-body" style="padding-bottom:0px;">
	        <form id="ss_formSearch" class="form-horizontal form-inline">
	        	<div class="panel panel-default">
		            <div class="panel-heading">查询条件</div>
			            <div class="panel-body">
		                    <div class="form-group padding_l10">
		                        <select name="ybcxtj" class="form-control chosen-select" id="ybcxtj" style="height:34px;">
                             		<option value="0">来源编号</option>
                             		<option value="1">外部编号</option>
                             		<option value="2">孕周</option>
                             		<option value="3">体重</option>
                             		<option value="4">备注</option>
                             		<option value="5">检验结果</option>
                             	</select>
	                        <input id="cxtj" name="cxtj" class="form-control" placeholder="模糊匹配"
                                onkeydown="if(event.keyCode==13) {searchSrcResult(); return false;}"/>
						</div>
						<div class="form-group padding-hidden-md-l30" style="margin-left:0px;color:#000">
		                  <label>采样日期</label>
		                  <input id="cykssj" name="cykssj" class="form-control" placeholder="开始日期" validate="{required:true}" />~
		                  <input id="cyjssj" name="cyjssj" class="form-control" placeholder="结束日期" validate="{required:true}" />
		        		</div>
						<button type="button" style="margin-left:50px" id="btn_spsource_query" class="btn btn-primary">查询</button>
						<span onclick="searchMore()" class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
						<div class="sl_yx_con" id="sl_yx_con" style="display: none">
				                <span class="tit">已选条件：</span>
				                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
				                    <ul id="sl_add_ul"></ul>
				                </div>
				        </div>
				        <div class="padding_t7 width100" id="searchMore" style="display: none;" >
				        <div class="sl_sel_con" style="min-height:50px;background-color: #fff;">
					        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="来源地" style="color:#000;">来源地:</label>
					        <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
	                           	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
	                                   <li th:each="lydlist:${dwlist}">
	                                       <a style="text-decoration:none;cursor:pointer;" th:onclick="addTj([[lyd]],[[${lydlist.csid}]],[[ss_formSearch]])" th:id="'lyd_id_'+${lydlist.csid}"><span th:text="${lydlist.csmc}"></span></a>
	                                   </li>
	                           	</ul>
	                   		</div>
	                   	</div>
				        </div>
		            </div>
		        </div>       
				<input  type="hidden" id="lyd_id_tj" name="lyd_id_tj">
		       <div th:include="common/btn/ancz.html"></div>
		        <table id="tb_samplesources" class="table table-hover table-bordered"></table>
	        </form>
	    </div>
	</body>
</html>