<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/sample/stock/samp_list.js" charset="utf-8"></script>
	</head>
	<body>
		<div class="panel-body body-content" style="padding-bottom:0px;">
	        <form id="samp_formSearch" class="form-horizontal form-inline">
	        	<input type="hidden" name="auditType" id ="auditType" th:value="${ybglDto.auditType}">
	        	<div class="panel panel-default">
		            <div class="panel-heading">查询条件</div>
		            <div class="panel-body">
		            	<div class="">
		                    <div class="form-group padding_l10">
		                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
	                            		<option value="0">来源编号</option>
	                            		<option value="1">标本编号</option>
	                            		<option value="2">冰箱号</option>
	                            		<option value="3">抽屉号</option>
	                            		<option value="4">盒子号</option>
	                            		<option value="5">备注</option>
	                            	</select>
	                        	<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
	                               onkeydown="if(event.keyCode==13) {searchSampResult(); return false;}"/>
							</div>
							<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
							<span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
						</div>
						<div class="sl_yx_con" id="sl_yx_con" style="display: none">
			                <span class="tit">已选条件：</span>
			                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
			                    <ul id="sl_add_ul"></ul>
			                </div>
			            </div>
			            <div class="width100 padding_t7" id="searchMore" action="" data-bs-toggle="validation" style="display: none;" >
			            	<div class="tab-content sl_sel_con row" style="min-height:100px;padding-left:5px;margin-left: 0px;margin-right: 0px;padding-bottom:10px;" id="sl_sel_con">
			                    <div class="tab-pane active" id="tab06">
									<div id="yblx_id" class="col-xs-12 col-sm-12 col-lg-12">
				                        <div class="form-group width100">
				                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="标本类型">标本类型：</label>
				                            <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
				                            	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
				                                    <li th:if="${yblxlist!=null && yblxlist.size() >0}" th:each="t_yblx:${yblxlist}">
				                                        <a style='text-decoration:none;cursor:pointer;'
				                                           th:onclick="addTj([[yblx]],[[${t_yblx.csid}]],[[samp_formSearch]]);" th:id="'yblx_id_'+${t_yblx.csid}"><span th:style="${t_yblx.scbj eq '2'?'color:red':''}" th:text="${t_yblx.csmc} + ${t_yblx.scbj eq '2'?'(停用)':''}"></span></a>
				                                    </li>
				                            	</ul>
				                            	<span class="col-xs-12 col-lg-2 col-sm-2 col-md-2 text-right"><a name="more" style="text-decoration:none;cursor:pointer;">更多&gt;&gt;</a></span>
				                    		</div>
				                    	</div>
				                    </div>
				                    <div id="lyf_id" class="col-xs-12 col-sm-12 col-lg-12">
				                        <div class="form-group width100">
				                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="来源方">来源方：</label>
				                            <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
				                            	<ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
				                                    <li  th:if="${lyflist!=null && lyflist.size() >0}" th:each="t_lyf:${lyflist}">
				                                        <a style='text-decoration:none;cursor:pointer;'
				                                           th:onclick="addTj([[lyf]],[[${t_lyf.csid}]],[[samp_formSearch]]);"
				                                           th:id="'lyf_id_'+${t_lyf.csid}"><span th:text="${t_lyf.csmc}"></span></a>
				                                    </li>
				                            	</ul>
				                    		</div>
				                    	</div>
				                    </div>
								</div>
							</div>
			            </div>
		            </div>
		        </div>       
				<input type="hidden" id="yblx_id_tj" name="yblx_id_tj">
            	<input type="hidden" id="lyf_id_tj" name="lyf_id_tj">
		        <div th:include="common/btn/ancz.html"></div>
		        <table id="tb_list" class="table table-hover table-bordered"></table>
	        </form>
	    </div>
	</body>
</html>