<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.las.frame.connect.dao.post.IZyxxLasDao" >

    <select id="getZyxxInit" resultType="ZyxxLasDto">
        select zyid,zymc,zylx,zydz,dydll,hdl,ztqrdz,xylx,deviceid,cs
        from las_zyxx
        <where>
            scbj='0'
        </where>
    </select>
</mapper>
