<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>水印信息维护</title>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
 	<form id="syxx_formSearch" class="form-horizontal form-inline">
 	<input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}">
 		<div class="panel panel-default">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
			 	<div class="">
					<div class="form-group padding_l10">
		            	<select name="syxx_select" id="syxx_select" class="form-control chosen-select" style="height:34px;">
		                	<option value="0">水印信息ID</option>
		                	<option value="1">文件类别</option>
		         		</select>
			      		<input id="syxx_input" name="syxx_input" class="form-control" placeholder="模糊匹配"
                        onkeydown="if(event.keyCode==13) {searchMessageResult(); return false;}"/>
					</div>
					<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
				</div>
			</div>
		</div> 
		<div th:include="common/btn/ancz.html"></div>
 		<table id="syxx_list" class="table table-hover table-bordered table-hidden"></table>
 	</form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix}+'/js/systemmain/syxx/syxx_list.js'}"></script>
</html>