<!DOCTYPE html>
<html>
<head lang="zh-cn">
<meta charset="UTF-8">
<style>
.form-control {
	height: 31px;
}

.bootstrap-tagsinput {
	min-width: 100%;
}
</style>
</head>
<body>
	<form id="ajaxForm"
		th:action="${urlPrefix}+'/systemmain/syxx/'+${syxxDto.formAction}"
		class="form-horizontal sl_all_form" method="post" theme="simple"
		data-bs-toggle="validation">
		<div class="body-content tab-content">
			<div role="tabpanel" class="tab-pane fade active in"
				id="partnerInfoTab" aria-labelledby="profile-tab">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<input type="hidden" name="access_token" /> 
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
									   <span style="color: red;">*</span>&nbsp;&nbsp;水印信息编号：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input  type="text" id="syxxid" name="syxxid"
											th:value="${syxxDto.syxxid}"
											validate="{required:true,stringMaxLength:32}"
											class="form-control" style="height: 30px;" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										<span style="color: red;">*</span>&nbsp;&nbsp;文件类别：
									</label>
									<div class="col-sm-8 col-xs-12">
									     <select id="wjlb" name="wjlb"   th:value="${syxxDto.wjlb}" validate="{required:true,stringMaxLength:64}" class="form-control chosen-select" style="height:34px">
										    <option  value="">--请选择--</option>
			                        	    <option  th:each="opt:${documentTypelist}" th:value="${opt}" th:text="${opt}" th:selected="${syxxDto.wjlb eq opt}" ></option>
			 						     </select>
									</div>
								</div>
							</div>		
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										<span style="color: red;">*</span>&nbsp;&nbsp;开始页数：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input type='number' id="ksys" name="ksys" validate="{required:true,stringMaxLength:32}" th:value="${syxxDto.ksys}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										<span style="color: red;">*</span>&nbsp;&nbsp;水印图片链接：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="sytplj" name="sytplj" validate="{required:true,stringMaxLength:512}" th:value="${syxxDto.sytplj}" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										<span style="color: red;">*</span>&nbsp;&nbsp;水印字：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="syz" name="syz" validate="{required:true,stringMaxLength:32}" th:value="${syxxDto.syz}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										<span style="color: red;">*</span>&nbsp;&nbsp;水印字体大小：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="syztdx" name="syztdx" type="number" validate="{required:true,digits:true,range:[-9999999999,9999999999]}" th:value="${syxxDto.syztdx}" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"> 
										<span style="color: red;">*</span>&nbsp;&nbsp;水印横向间隔：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="syhxjg" name="syhxjg" type="number" validate="{required:true,digits:true,range:[-9999999999,9999999999]}" th:value="${syxxDto.syhxjg}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										<span style="color:red;">*</span>&nbsp;&nbsp;水印纵向间隔：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="syzxjg" name="syzxjg" type="number" validate="{required:true,digits:true,range:[-9999999999,9999999999]}" th:value="${syxxDto.syzxjg}" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										<span style="color:red;">*</span>&nbsp;&nbsp;水印透明度：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="sytmd" name="sytmd" validate="{required:true,stringMaxLength:32}" th:value="${syxxDto.sytmd}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										<span style="color:red;">*</span>&nbsp;&nbsp;水印倾斜角度：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="syqxjd" name="syqxjd"  validate="{required:true,stringMaxLength:32}" th:value="${syxxDto.syqxjd}" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										<span style="color:red;">*</span>&nbsp;&nbsp;图片水印字体大小：
									</label>
									<div class="col-sm-8 col-xs-12">
										<input id="tpsyztdx" typ name="tpsyztdx"  validate="{required:true,stringMaxLength:32}" th:value="${syxxDto.tpsyztdx}" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">
										<span style="color:red;">*</span>&nbsp;&nbsp;页数显示：
									</label>
									<div class="col-sm-8 col-xs-12">
										<select id="ysxs" name="ysxs"   th:value="${syxxDto.ysxs}" validate="{required:true,stringMaxLength:1}" class="form-control chosen-select" style="height:34px">
										    <option  value="">--请选择--</option>
			                        	    <option value="0" th:selected="${syxxDto.ysxs eq '0'}" >不显示</option>
			                        	    <option value="1" th:selected="${syxxDto.ysxs eq '1'}" >显示</option>
			 						     </select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>