<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>送检统计（周报）</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
	<script type="text/javascript" src="/js/wechat/statis/chartMap_lead.js"></script>
	<script type="text/javascript" src="/js/plugins/echarts/china.js"></script>
    <script type="text/javascript" src="/js/wechat/statis/statistics_weekly_lead.js"></script>
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <style type="text/css">
	.titletop{
		position: absolute;
		padding:15px;
		padding-top:22px;
		left:0px;
		top:-5px;
	}
	
	#leadStatis .ocFlag{
		padding-left:22px;
	}
	#tab1{
		width:100%;
		border:1px solid #C9C9C9;
	}
	#tab1 thead tr{
		background-color:#00B2EE;
		height:40px;
	}
	#tab1 th{
		border:1px solid #C9C9C9;
		text-align: center;
	}
	#tab1 td{
		border:1px solid #C9C9C9;
		text-align: center;
	}
	#tab1 .yblx_td{
		width:25%;
	}
	
	#tab1 tbody .yblx_td{
		background-color:#E0FFFF;
	}
	#tab1 .other_td{
		width:25%;
	}
	#tab2{
		width:100%;
		border:1px solid #C9C9C9;
	}
	#tab2 thead tr {
		height:35px;
	}
	#tab2 thead tr th {
		border:1px solid #C9C9C9;
		padding:5px;
		text-align:center;
	}
	#tab2 tbody tr td {
		border:1px solid #C9C9C9;
		padding:5px;
		text-align:center;
	 }
	#tab2 .first_td:nth-child(odd){
	 	background:#E0EEE0;
	 } 
    </style>
</head>
<body>
	<div class="body-content tab-content" id="weeklyStatis">
		<input type="hidden" name="jsrqstart" id="jsrqstart" th:value="${sjxxDto.jsrqstart}"/>
		<input type="hidden" name="jsrqend" id="jsrqend" th:value="${sjxxDto.jsrqend}"/>
		<input type="hidden" name="load_flg" id="load_flg" th:value="${load_flg}">
		<div class="row" id="all">
			<div class="col-md-12 col-sm-12 col-xs-12 padding_t7">
				<div class="alert alert-info" role="alert">
				温馨提醒：D,W,M,Y为切换按钮。D为按天数据统计，W为按周数据统计，M为按月数据统计，Y为按年数据统计
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span>实验标本数信息</span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj5q" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj5m" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj5w" class="tj1 ocFlag pull-right" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"></i></span></a>
						<a href="javascript:void(0);" id="tj5d" class="tj1 ocFlag pull-right bechoosed" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;margin-left:30%;">D</i></span></a>
					</div> 
				</div>  
			 	 <div id="echarts_week_lead_ybqk" style="height: 300px;padding-top:5px;">
			 	 </div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">标本类型</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj1q" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj1m" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj1w" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"  style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
						<a href="javascript:void(0);" id="tj1d" class="tj1 ocFlag pull-right" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd"></i><i  class=" roundw" style="margin-left:30%;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_ybtj" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">实验测试数信息</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj2q" class="tj1 ocFlag pull-right"  title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj2m" class="tj1 ocFlag pull-right"  title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj2w" class="tj1 ocFlag pull-right"  title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" ></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" ></i></span></a>
						<a href="javascript:void(0);" id="tj2d" class="tj1 ocFlag pull-right bechoosed" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="margin-left:30%;color: #20dbfd;text-shadow: 0 0 25px #00d8ff;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_jcxmnum" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">实验收费测试数信息</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj4q" class="tj1 ocFlag pull-right"  title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj4m" class="tj1 ocFlag pull-right"  title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj4w" class="tj1 ocFlag pull-right"  title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" ></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" ></i></span></a>
						<a href="javascript:void(0);" id="tj4d" class="tj1 ocFlag pull-right bechoosed" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="margin-left:30%;color: #20dbfd;text-shadow: 0 0 25px #00d8ff;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_ybxxType" style="height:300px;"></div>
	 		</div>
	 		
	 		<!-- 统计上上周的反馈信息 -->
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">上上周临床反馈统计</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<div id="echarts_week_lead_lcfkList" style="height:300px;"></div>
	 		</div>
	 		
	 		<!--标本合作伙伴 -->
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">标本阳性率</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj8q" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj8m" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj8w" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"  style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
						<a href="javascript:void(0);" id="tj8d" class="tj1 ocFlag pull-right" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd"></i><i  class=" roundw" style="margin-left:30%;">D</i></span></a>
					</div> 
				</div> 
				<span id="tjsj_jyjgOfYblx" style="width:100%;display:inline-block;font-size: 13px !important;color:#A9A9A9;margin-top:20px;"></span>
				<div id="jyjgOfYblx"  class="col-md-12 col-sm-12 col-xs-12" style="margin-top:30px;height:220px; padding-left:2px;padding-right:3px;"></div>
	 		</div>
	 		
	 		<!-- 科室的圆饼统计图 -->
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">送检科室</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj6q" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj6m" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj6w" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"  style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
						<a href="javascript:void(0);" id="tj6d" class="tj1 ocFlag pull-right" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd"></i><i  class=" roundw" style="margin-left:30%;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_ksList" style="height:300px;"></div>
	 		</div>
	 		
	 		<!-- 增加合作医院数，科室数，医生数的统计表 -->
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">合作医疗机构</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<span id="tjsj_sjdwOfsjysOfks" style="width:100%;display:inline-block;font-size: 13px !important;color:#A9A9A9;margin-top:20px;"></span>
				<div id="sjdwOfsjysOfks"  class="col-md-12 col-sm-12 col-xs-12"  style="height:260px;margin-top:40px;  padding-left:2px;padding-right:3px"></div>
	 		</div>
	 		
	 		<!-- 合作伙伴 -->
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">送检排名</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj3q" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj3m" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj3w" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"  style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
						<a href="javascript:void(0);" id="tj3d" class="tj1 ocFlag pull-right" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd"></i><i  class=" roundw" style="margin-left:30%;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_dbtj" style="height:300px;"></div>
	 		</div>
	 		<!-- 复检情况 -->
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">复测情况</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="fjq" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="fjm" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="fjw" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"  style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
						<a href="javascript:void(0);" id="fjd" class="tj1 ocFlag pull-right" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd"></i><i  class=" roundw" style="margin-left:30%;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_fjsq" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">废弃标本</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="fqq" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="fqm" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="fqw" class="tj1 ocFlag pull-right bechoosed" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"  style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i></span></a>
						<a href="javascript:void(0);" id="fqd" class="tj1 ocFlag pull-right" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd"></i><i  class=" roundw" style="margin-left:30%;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_fqyb" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">标本日期统计</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<div id="echarts_week_lead_rqtj" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">报告结果统计</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<div id="echarts_week_lead_bgjgtj" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">标本周统计</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
				<div id="echarts_week_lead_weektj" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7" th:each="sjhbxxDto:${sjhbxxDtos}" style="height:420px;">
				<span th:text="${sjhbxxDto.flmc}"></span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<div class="col-sm-12 col-sm-12 col-xs-12" style="position:absolute;padding:0px;">
					<div class="col-sm-5 col-sm-5 col-xs-5" style="top:50px;padding-right:5px;padding-left:5px;z-index:109;">
						<label for="" class="col-sm-4 col-sm-4 col-xs-4 control-label" style="padding-right:2px;padding-left:5px;padding-top:7px;">
							类别
						</label>
						<div class="col-sm-8 col-sm-8 col-xs-8" style="padding:0px;">
							<select th:id="'zfl_'+${sjhbxxDto.fl}" name="zfl" value=""  class="form-control chosen-select" style="height:34px">
								<option  value="">全部</option>
		                        <option  th:if="${sjhbxxDto.zfllist!=null && sjhbxxDto.zfllist.size() > 0}" th:each="zfllist:${sjhbxxDto.zfllist}" th:value="${zfllist.zfl}" th:text="${zfllist.zflmc}"></option>
	 						</select>
						</div>
					</div>
					<div class="col-sm-6 col-sm-6 col-xs-6" style="top:50px;padding-right:5px;padding-left:5px;z-index:109;">
						<button th:id="'hzhb_'+${sjhbxxDto.fl}" name="hzhb" type="button" class="btn btn-primary btn-xs pull-right info_clear">
							合作伙伴 <span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</div>
				</div>
				<div class="col-sm-5 col-sm-5 col-xs-5" style="position: absolute;top:35px;padding-right:5px;padding-left:5px;z-index:99;">
					<div class="form-group">
						<label for="" class="col-sm-4 col-sm-4 col-xs-4 control-label" style="padding-right:2px;padding-left:5px;padding-top:7px;">
							周期
						</label>
						<div class="col-sm-8 col-sm-8 col-xs-8" style="padding:0px;">
							<input type="number" th:id="'zq_'+${sjhbxxDto.fl}" name="zq" th:dm="${sjhbxxDto.fl}" tjm="fltj" class="form-control " value="9"/>
	 					</div>
					</div>
				</div> 
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;z-index:98;"> 
					<div th:id="'ybxxhead_'+${sjhbxxDto.fl}" name="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" th:id="'tj7q_'+${sjhbxxDto.fl}" name="tj7q" th:dm="${sjhbxxDto.fl}" class="tj1 ocFlag pull-right" method="getFlByYear" title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" th:id="'tj7m_'+${sjhbxxDto.fl}" name="tj7m" th:dm="${sjhbxxDto.fl}" class="tj1 ocFlag pull-right" method="getFlByMon" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" th:id="'tj7w_'+${sjhbxxDto.fl}" name="tj7w" th:dm="${sjhbxxDto.fl}" class="tj1 ocFlag pull-right" method="getFlByWeek" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" ></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" ></i></span></a>
						<a href="javascript:void(0);" th:id="'tj7d_'+${sjhbxxDto.fl}" name="tj7d" th:dm="${sjhbxxDto.fl}" class="tj1 ocFlag pull-right bechoosed" method="getFlByDay" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="margin-left:30%;color: #20dbfd;text-shadow: 0 0 25px #00d8ff;">D</i></span></a>
					</div> 
				</div>
				<div th:id="'echarts_week_lead_fltj_'+${sjhbxxDto.fl}" th:dm="${sjhbxxDto.fl}" name="echarts_week_lead_fltj" style="height:300px;top:100px;"></div>
			</div>
	 		<div class="col-sm-12 col-sm-12 col-xs-12" id="centerleadmap" style="height:270px;width:100%;margin-top:0px;padding:0px;">
				<img src="/images/censusimages/ksh42.png" style="position:absolute;left:0;top:0;">
				<img src="/images/censusimages/ksh43.png" style="position:absolute;right:0;top:0;">
				<img src="/images/censusimages/ksh45.png" style="position:absolute;left:0;bottom:0;">
				<img src="/images/censusimages/ksh44.png" style="position:absolute;right:0;bottom:0;">
				<div class="col-sm-12 col-sm-12 col-xs-12" id="leadmap" style="height:100%;"></div>
			</div>
		</div>
	</div>
</body>

</html>