<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>日报统计</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
	<script type="text/javascript" src="/js/wechat/statis/statistics_day_lead.js" charset="utf-8"></script>
</head>
<style type="text/css">
	.tab{
		border: 1px solid #DEDEDE;
		width:100%;
	}
	.tab thead tr{
		background-color: #C8B2F4;
		height: 30px;
		color:#000;
	
	}
	.tab th{
		border: 1px solid #DEDEDE;
		padding-left:5px;
		padding-top:2px;
		font-size: 10px;
		font-weight: bold;
	}
	.tab td{
		border: 1px solid #DEDEDE;
		height:25px;
		padding-left:5px;
		padding-top:2px;
		font-size: 10px;
	}
	.width_1{
		width: 22%;
	}
	.width_2{
		width: 12%;
	}
	.width_3{
		width: 18%;
	}
	.width_4{
		width: 20%;
	}
	.width_5{
		width: 18%;
	}
	.width_6{
		width: 10%;
	}
	
	.tab tbody tr:nth-of-type(even){ background:#E0EEE0;}偶数行 
</style>
<body>
<div class="body-content tab-content" id="daliyStatis">
	<input type="hidden" id="sign" th:value="${sjxxDto.sign}" />
	<input type="hidden" id="jsrq" th:value="${sjxxDto.jsrq}" />
	<input type="hidden" id="load_flg" th:value="${load_flg}" />
	<div class="row" id="all">
		<div class="col-md-12 col-sm-12 col-xs-12 padding_t7">	
			<div class="alert alert-info" role="alert">
				日报统计
			</div>
		</div>
 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">标本数信息</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_ybxx" style="height:300px;"></div>
 		</div>
 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">测试数信息</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_jcxmnum" style="height:300px;"></div>
 		</div>
 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">测试数明细</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_sjhb" style="height:300px;"></div>
 		</div>
 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">收费测试数信息</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_jcxmType" style="height:300px;"></div>
 		</div>
 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">报告分析</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_possiblelist" style="height:300px;"></div>
 		</div>
 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">复测统计</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_fjsq" style="height:300px;"></div>
 		</div>
 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">废弃标本</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_fqyb" style="height:300px;"></div>
 		</div>
 		<!-- <div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
			<span style="color:#000000;">废弃标本</span>	
			<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			<div id="echarts_day_lead_species" style="height:300px;"></div>
 		</div> -->
 		<div class="col-md-12 col-sm-12 col-xs-12 padding_t7" style="padding:7px 0px 0px 0px;">
			<div class="col-md-3 col-sm-12 col-xs-12" >
				<span style="color:#000000;">送检清单</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;">
			</div>
				<span id="tjsj_sjxx" style="width:100%;display:inline-block;height:30px;line-height:30px;color:#A9A9A9;font-size:10px;text-align: right;padding-right:15px;"></span>
			<div id="sjxxList"  class="col-md-12 col-sm-12 col-xs-12" style="padding-left:2px;padding-right:3px;"></div>
 		</div>
	</div>
</div>
</body>
</html>