<!DOCTYPE html>
<html>
<head lang="zh-cn">
<script type="text/javascript" src="/js/wechat/information/informationregistration_view.js" charset="utf-8"></script>
</head>
<body>
<form  class="form-horizontal sl_all_form" method="post" theme="simple">
	<input type="hidden" id="wbxx1" name="wbxx1" th:value="${XxdjDto.wbxx1}">
	<input type="hidden" id="wbxx2" name="wbxx2" th:value="${XxdjDto.wbxx2}">
	<input type="hidden" id="wbxx3" name="wbxx3" th:value="${XxdjDto.wbxx3}">
	<input type="hidden" id="wbxx4" name="wbxx4" th:value="${XxdjDto.wbxx4}">
	<input type="hidden" id="wbxx5" name="wbxx5" th:value="${XxdjDto.wbxx5}">
	<input type="hidden" id="wbxx6" name="wbxx6" th:value="${XxdjDto.wbxx6}">
	<input type="hidden" id="wbxx7" name="wbxx7" th:value="${XxdjDto.wbxx7}">
	<input type="hidden" id="wbxx8" name="wbxx8" th:value="${XxdjDto.wbxx8}">
	<input type="hidden" id="sjxx1" name="sjxx1" th:value="${XxdjDto.sjxx1}">
	<input type="hidden" id="sjxx2" name="sjxx2" th:value="${XxdjDto.sjxx2}">
	<input type="hidden" id="sjxx3" name="sjxx3" th:value="${XxdjDto.sjxx3}">
	<input type="hidden" id="rqxx1" name="rqxx1" th:value="${XxdjDto.rqxx1}">
	<input type="hidden" id="rqxx2" name="rqxx2" th:value="${XxdjDto.rqxx2}">
	<input type="hidden" id="rqxx3" name="rqxx3" th:value="${XxdjDto.rqxx3}">
	<input type="hidden" id="bjxx1" name="bjxx1" th:value="${XxdjDto.bjxx1}">
	<input type="hidden" id="bjxx2" name="bjxx2" th:value="${XxdjDto.bjxx2}">
	<input type="hidden" id="bjxx3" name="bjxx3" th:value="${XxdjDto.bjxx3}">
	<div class="body-content tab-content">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<label for="" class="col-sm-4 col-xs-4 control-label">微信名</label>
					<div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
						<span th:text="${XxdjDto.wxm}" ></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<label for="" class="col-sm-4 col-xs-4 control-label">用户名</label>
					<div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
						<span th:text="${XxdjDto.yhm}" ></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<label for="" class="col-sm-4 col-xs-4 control-label">性别</label>
					<div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
						<span th:text="${XxdjDto.yhxb}" ></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<label for="" class="col-sm-4 col-xs-4 control-label">用户城市</label>
					<div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
						<span th:text="${XxdjDto.yhcs}" ></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<label for="" class="col-sm-4 col-xs-4 control-label">关注平台</label>
					<div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
						<span th:text="${XxdjDto.gzpt}" ></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<label for="" class="col-sm-4 col-xs-4 control-label">录入时间</label>
					<div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
						<span th:text="${XxdjDto.lrsj}" ></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6" th:each="xxpzlist:${Xxpzlist}">
				<div class="form-group">
					<label for="" class="col-sm-4 col-xs-4 control-label" th:text="${xxpzlist.xsmc}"></label>
					<div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
						<span th:id="'nr'+${xxpzlist.wbxx}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</body>
</html>