<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/materiel/mater_stockuphold.js'}" charset="utf-8"></script>
	</head>
	<body>
		<form id="ajaxForm" th:action ="${urlPrefix}+'/production/materiel/'+${wlglDto.formAction}+'SaveMater'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<div class="body-content">
				<div class="row">
					<input type="hidden" name="wlid" id="mt_wlid" th:value="${wlglDto.wlid}"/>
					<input type="hidden" name="wlbm" id="mt_wlbm" th:value="${wlglDto.wlbm}"/>
					<input type="hidden" name="lbdm" id="lbdm" th:value="${wlglDto.lbdm}"/>
					<input type="hidden" name="access_token"/>
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-sm-2 col-md-2 control-label">
								<span style="color: red;">*</span>物料名称
							</label>
							<div class="col-sm-10 col-xs-12 col-md-10">
								<input type="text" id="mt_wlmc" name="wlmc" th:value="${wlglDto.wlmc}"
										validate="{required:true,stringMaxLength:128}" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-sm-2 col-md-2 control-label">
								<span style="color: red;">*</span>类别
							</label>
							<div class="col-sm-10 col-xs-12 col-md-10">
								<select id="mt_lb" name="lb" th:value="${wlglDto.lbmc}" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
									<option value="">--请选择--</option>
                        			<option  th:if="${lblist!=null && lblist.size() > 0}" th:each="list:${lblist}" th:value="${list.csid}" th:text="${list.csdm}+'--'+${list.csmc}" th:csdm="${list.csdm}" th:cskz="${list.cskz1}" th:selected="${list.csid eq wlglDto.lb}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-sm-2 col-md-2 control-label">
								<span style="color: red;">*</span>安全库存
							</label>
							<div class="col-sm-10 col-xs-12 col-md-10">
								<input type="text" id="mt_aqkc" name="aqkc" th:value="${wlglDto.aqkc}"
									   	validate="{required:true,slNumber:true}" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-sm-2 col-md-2 control-label">
								最低采购量
							</label>
							<div class="col-sm-10 col-xs-12 col-md-10">
								<input type="text" id="mt_zdcgl" name="zdcgl" th:value="${wlglDto.zdcgl}"
										validate="{stringMaxLength:16}" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label for="" class="col-sm-2 col-md-2 control-label">
								产品所属类别
							</label>
							<div class="col-sm-10 col-xs-12 col-md-10">
								<label class="checkbox-inline" th:if="${sscplblist!=null && sscplblist.size() > 0}" th:each="list:${sscplblist}">
									<input type="checkbox" th:name="sscplb" th:value="${list.csid}" th:text="${list.csmc}" th:checked="${list.checked eq '1'}">
								</label>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</form>
	</body>
</html>