<!DOCTYPE html>
<html lang="zh-cn">
	<body>
		<div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
			<form id="modMater_formAudit">
				<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
				<div class="row">
				    <div class="pull-left">
						<ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="audit_mod">
							<li  class="nav-item" >
								<a  class="nav-link active" name="tabBlock[waitAuditDiv]" href="#auditingmod" role="tab" data-bs-toggle="tab">待审核的物料申请</a>
							</li>
							<li  class="nav-item" >
								<a  class="nav-link" name="tabBlock[alreadyAuditDiv]" href="#auditedmod" role="tab" data-bs-toggle="tab">审核记录</a>
							</li>
						</ul>
					</div>
				</div>
			</form>
			<div class="row padding-l15 padding-r15">
    			<div class="main_content tab-content">
    				<div role="tabpanel" class="tab-pane active padding-10" id="auditingmod" style="border:1px solid #eee">
				        <form id="modMater_auditing" class="form-horizontal form-inline">
				        	<div class="panel panel-default">
					            <div class="panel-heading">查询条件</div>
					            <div class="panel-body">
					            	<div class="">
					                    <div class="form-group padding_l10">
					                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
			                            		<option value="0">物料名称</option>
			                            		<option value="1">生产商</option>
			                            	</select>
				                        	<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
				                               onkeydown="if(event.keyCode==13) {searchModMaterAudit(); return false;}"/>
										</div>
										<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
									</div>
					            </div>
					        </div>
							<input type="hidden" id="wllb_id_tj" name="wllb_id_tj">
							<input type="hidden" id="wlzlb_id_tj" name="wlzlb_id_tj">
							<input type="hidden" id="sfwxp_id_tj" name="sfwxp_id_tj">
					        <div th:include="common/btn/ancz.html"></div>
							<table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
				        </form>
					</div>
					<div role="tabpanel" class="tab-pane padding-10" id="auditedmod" style="border:1px solid #eee">
						<form id="modMater_audited" class="form-horizontal form-inline">
				        	<div class="panel panel-default">
					            <div class="panel-heading">查询条件</div>
					            <div class="panel-body">
					            	<div class="">
					                    <div class="form-group padding_l10">
					                        <select name="cxtj_audited" class="form-control chosen-select" id="cxtj_audited" style="height:34px;">
				                            	<option value="0">物料名称</option>
			                            		<option value="1">生产商</option>
			                            		<option value="2">申请人员</option>
				                            </select>
				                        	<input id="cxnr_audited" name="cxnr_audited" class="form-control" placeholder="模糊匹配"
				                               onkeydown="if(event.keyCode==13) {searchModMaterAudited(); return false;}"/>
										</div>
										<div class="form-group padding-l30" style="margin-left:0px">
						                    <label>申请时间</label>
						                    <input id="sqsjstart" name="sqsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
						                    <input id="sqsjend" name="sqsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
						                </div>
										<button type="button" style="margin-left:50px" id="btn_queryAudited" class="btn btn-primary">查询</button>
									</div>
					            </div>
				         	</div>
				            <div id="toolbar" class="btn-group">
								<button class="btn btn-default" type="button" id="btn_cancelAudit"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;取消审批</button>
							</div>
				            <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
					    </form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/production/materiel/modmater_listaudit.js" charset="utf-8"></script>
	</body>
</html>