<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>table</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<script src="../../js/jquery-1.11.0.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
	<script src="../../js/html5shiv.min.js"></script>
	<script src="../../js/respond.min.js"></script>
<![endif]-->
</head>

<body>

<div class="container sl_all_bg">
	<table width="100%" border="0" class=" formlist" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th colspan="4">
					<span>课程信息维护<font color="#0f5dc2" style="font-weight:normal;"> （注意：学号必须为8位）</font></span>
				</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="4">
					<div class="modal-footer">
					  <button type="button" class="btn btn-default"> 取 消 </button>
					  <button type="button" class="btn btn-primary"> 保 存 </button>
					</div>
				</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<th width="15%"><span class="red">*</span>中文名称</th>
				<td width="35%">视觉传达设计</td>
				<th width="15%"><span class="red">*</span>责任教师</th>
				<td width="35%"><a href="#" class="name">陈小小</a><a href="#" class="name">刘小小</a></td>
			</tr>
			<tr>
				<th><span class="red">*</span>英文名称</th>
				<td><input name="" alt="" class="form-control"></td>
				<th><span class="red">*</span>前导课程</th>
				<td><input name="" alt="" class="form-control" ></td>
			</tr>
			<tr>
				<th><span class="red">*</span>所属学科</th>
				<td><input name="" alt="" class="form-control" ></td>
				<th><span class="red">*</span>后续课程</th>
				<td><input name="" alt="" class="form-control" ></td>
			</tr>
			<tr>
				<th><span class="red">*</span>课程类型</th>
				<td><select name="select" size="0" class="form-control">
						<option>最新通告</option>
						<option>工作日志</option>
					</select>
				</td>
				<th><span class="red">*</span>标准周数</th>
				<td><input name="" alt="" class="form-control" ></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="clearfix text-center">------------------------------------------------------------华丽丽的分割线------------------------------------------------------------</div>

<div class="container sl_all_bg">
	<table width="100%" border="0" class="formlist1" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th colspan="4">
					<h3 class="text-center">当前选课学年学期：${xkxnmc}-${xkxqmc}</h3>
				</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="4">
					<div class="modal-footer">
					  <button type="button" class="btn btn-default"> 取 消 </button>
					  <button type="button" class="btn btn-primary"> 保 存 </button>
					</div>
				</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<th width="15%">当前选课学年学期</th>
				<td width="35%">2014-2015-1</td>
				<th width="15%"><span class="red">*</span>年级</th>
				<td width="35%">
					<label><input type="checkbox"> 2015级</label>　
					<label><input type="checkbox"> 2015级</label>　
					<label><input type="checkbox"> 2015级</label>　
					<label><input type="checkbox"> 2015级</label>　
					<label><input type="checkbox"> 2015级</label>　
					<label><input type="checkbox"> 2015级</label>　
					<label><input type="checkbox"> 2015级</label>　
					<label><input type="checkbox"> 2015级</label>　
				</td>
			</tr>
			<tr>
				<th><span class="red">*</span>选课轮次</th>
				<td>
					<select class="form-control">
						<option>--请选择--</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</td>
				<th><span class="red">*</span>选课时间</th>
				<td><input type="text" class="form-control" placeholder=""></td>
			</tr>
			<tr>
				<th>开放选课学生对象</th>
				<td>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="未设置">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bs-toggle="modal" data-target="#myModal_sz" type="button">&gt;</button>
						</span>
					</div>
				</td>
				<th>开放选教学任务对象</th>
				<td>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="未设置">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bs-toggle="modal" data-target="#myModal_sz" type="button">&gt;</button>
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td colspan="3">
					<table width="100%" class="formlist2" >
						<tbody>
							<tr>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline float_l"><input type="checkbox">关联学生注册状态　</label><input type="text" class="form-control input-sm float_l" placeholder="" style="width:50px;"></td>
							</tr>
							<tr>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline float_l"><input type="checkbox">关联学生注册状态　</label><input type="text" class="form-control input-sm float_l" placeholder="" style="width:50px;"></td>
							</tr>
							<tr>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline"><input type="checkbox">关联学生注册状态</label></td>
								<td><label class=" checkbox-inline float_l"><input type="checkbox">关联学生注册状态　</label><input type="text" class="form-control input-sm float_l" placeholder="" style="width:50px;"></td>
							</tr>　
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<th>备注</th>
				<td colspan="3">
					<textarea class="form-control" rows="3"></textarea>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>