<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
<head>
    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="/js/jquery-qrcode.min.js" charset="utf-8"></script>
    <style type="text/css">
#qrcode{
    display: block;
    margin: 0 auto;
}
#csminfo{
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align:left;
}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#qrcode").qrcode({
                render: 'div',
                size: 300,
                text: $("#payOrderInfoxxx #url").val().toString()
            });
        });
    </script>
</head>
<body>
<div id="payOrderInfoxxx" class="form-horizontal sl_all_form">
    <input id="csmid" type="hidden" name="csmid"  th:value="${csmid}"/>
    <input type="hidden" name="access_token" />
    <input type="hidden" name="url" id="url" th:value="${url}">
    <div id="csminfo">
        <label> 采样点： </label> <span style="padding-top:6px" th:text="${cydmc}"></span></br>
        <label> 医院名称： </label> <span style="padding-top:6px" th:text="${sjdwmc}"></span></br>
        <label> 检测单位： </label> <span style="padding-top:6px" th:text="${jcdwmc}"></span></br>
        <label> 用户姓名： </label> <span style="padding-top:6px" th:text="${xm}"></span></br>
        <label> 有效日期： </label> <span style="padding-top:6px" th:text="${yxrq}"></span></br>
    </div>
   <!-- <div class="img_wrap"><img style="width: 300px;height: 300px;margin:0 auto; display:block;" th:src="${url}"></div>-->
    <div id="qrcode"></div>

</div>

</body>
</html>
