<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" src="/js/detection/csmxx/csmxx_list.js"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
    <form id="detectCsm_formSearch" class="form-horizontal form-inline">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="detectCsm_select" id="detectCsm_select" class="form-control chosen-select" style="height:34px;">
                            <option value="0">标本编号</option>
                            <option value="1">标本子编号</option>
                            <option value="2">患者姓名</option>
                            <option value="3">证件号</option>
                            <option value="4">采集人员</option>
                        </select>
                        <input id="detectCsm_input" name="detectCsm_input" class="form-control" placeholder="模糊匹配" onkeydown="if(event.keyCode==13) {searchDetectCsmResult(); return false;}"/>
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                </div>
            </div>

        </div>

        <div th:include="common/btn/ancz.html"></div>
        <table id="detectCsm_list" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
</html>

