<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>场所码信息新增、编辑</title>
    <script type="text/javascript" src="/js/detection/csmxx/csmxx_edit.js" charset="utf-8"></script>
    <style type="text/css">

    </style>
</head>
<body>
<div>
    <form id="editCsmForm" th:action ="'/detection/csmxx/'+${csmxxDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" autocomplete="off">
        <input type="hidden" name="access_token" id="access_token" th:value="${csmxxDto.access_token}" />
        <input type="hidden" name="csmid" id ="csmid" th:value="${csmxxDto.csmid}">
        <div class="body-content" id="confirm">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="height40 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 control-label">
                                    <span style="color: red;">*</span>用户：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <div class="input-group">
                                        <input type="text" id="xm" name="xm" th:value="${csmxxDto.xm}" validate="{required:true}" readonly="true" class="form-control" />
                                        <input type="hidden" id="yhid" name="yhid" th:value="${csmxxDto.yhid}" class="form-control"/>
                                        <span class="input-group-btn">
										<button type="button" onclick="chooseFzr()" class="btn btn-primary" style="height:28px !important;">选择</button>
									</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="height40 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="cyd" class="col-sm-4 control-label col-xs-4">
                                    <span style="color: red;">*</span>采样点：
                                </label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="cyd" name="cyd" class="form-control chosen-select">
                                        <option value="-1">--请选择--</option>
                                        <option th:if="${cydList!=null && cydList.size() > 0}" th:each="list:${cydList}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}" validate="{required:true}" th:selected="${csmxxDto.cyd!=null?(csmxxDto.cyd==list.csid):(list.csid == '1')}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="height40 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="sjdwmc" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>医院名称：</label>
                                <div class="col-sm-8 col-xs-8">
                                    <div class="input-group">
                                        <input type="text" autocomplete="off" id="sjdwmc" name="sjdwmc" class="form-control" th:value="${csmxxDto.sjdwmc}" validate="{required:true}" readonly/>
                                        <span class="input-group-btn">
											<button type="button" class="btn btn-primary" onclick="selectHospitaljc()">选择</button>
										</span>
                                    </div>
                                    <input type="hidden" id="sjdw" name="sjdw" th:value="${csmxxDto.sjdw}"/>
                                </div>
                            </div>
                        </div>

                        <div class="height40 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="jcdw" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>检测单位：</label>
                                <div class="col-sm-8 col-xs-8">
                                    <select id="jcdw" name="jcdw" class="form-control chosen-select" validate="{required:true}">
                                        <option value="">--请选择--</option>
                                        <option th:if="${jcdwxxList!=null && jcdwxxList.size() > 0}" th:each="list:${jcdwxxList}" th:value="${list.csid}" th:text="${list.csmc}" th:selected="${csmxxDto.jcdw!=null&&csmxxDto.jcdw==list.csid?true:false}" validate="{{required:true}}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="height40 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="yxrq" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>有效时间：</label>
                                <div class="col-sm-8 col-xs-8">
                                    <input type="text" id="yxrq" name="yxrq" data-clear="true" class="form-control" th:value="${csmxxDto.yxrq}" onblur="dealCjsj()" validate="{required:true}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>