<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" src="/js/systemrole/role_yy_configunit.js" charset="utf-8"></script>
	</head>
	<body class="body-content">
		<div class="panel-body body-content" style="padding-bottom:0px;">
		    <form  theme="simple" id="configUnitYyForm" class="form-horizontal form-inline">
		    	<input type="hidden" id="jsid" name="jsid" th:value="${XtjsDto.jsid}">
			    <div class="row">	
			    	<div class="panel panel-default">
			            <div class="panel-heading">查询条件</div>
			            <div class="panel-body">
		                    <div class="form-group padding_l10">
		                        <label>医院名称</label>
		                        <input type="text" id="yymc" name="yymc" class="form-control" 
		                        onkeydown="if(event.keyCode==13) {searchConfigUserResult(true); return false;}"></input>
							</div>
							<button type="button" class="btn btn-primary btn-sm" style="margin-left:20px" onclick="searchConfigUserResult();"> 查 询 </button>
			            </div>
			        </div>
					<div class="pull-left export-left">
						<table id="tb_yylist" class="table table-hover table-bordered"></table>
					</div>
					<div class="pull-left export-mid">
						<dl>
							<dd id="right-all" onclick="addyyOption()"></dd>
							<dd id="left-all" class="export-leftico" onclick="moveYyOption()"></dd>
						</dl>
					</div>
					<div class="pull-right export-right">
						<table id="tb_list" class="table table-hover table-bordered"></table>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>