.color_lightred {
   background-color: #fadbd9;
}
.color_lightorange {
    background-color: #fde6d2;
}
.color_lightyellow {
    background-color: #fef2ce;
}
.color_lightolive {
    background-color: #e8f4d9;
}
.color_lightgreen {
    background-color: #d7f0db;
}
.color_lightcyan {
    background-color: #d2f1f0;
}
.color_lightblue {
    background-color: #cce6ff;
}
.color_lightpurple {
    background-color: #e1d7f0;
}
.color_lightmauve {
    background-color: #ebd4ef;
}
.color_lightpink {
    background-color: #f9d7ea;
}
.color_lightbrown {
    background-color: #ede1d9;
}
.color_lightgrey {
    background-color: #e7ebed;
}
.color_red {
    color: #e54d42;
}
.color_red {
    color: #e54d42;
}
.color_orange {
    color: #f37b1d;
}
.color_yellow {
    color: #fbbd08;
}
.color_olive {
    color: #8dc63f;
}
.color_green {
    color: #39b54a;
}
.color_cyan {
    color: #1cbbb4;
}
.color_blue {
    color: #0081ff;
}
.color_purple {
    color: #6739b6;
}
.color_mauve {
    color: #9c26b0;
}
.color_pink {
    color: #e03997;
}
.color_brown {
    color: #a5673f;
}
.color_grey {
    color: #8799a3;
}
.color_darkGray {
    color: #666666;
}
.color_gray {
    color: #aaaaaa;
}


