<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	</head>
	<body>
		<form  theme="simple" data-bs-toggle="validation" action ="/wechat/tag/getSaveTagUser" method="post" id="ajaxForm" class="form-horizontal sl_all_form">
			<input type="hidden" name="access_token"/>
			<div class="modal-body body-content">
				<div class="row">
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">
			         			标签&nbsp;I&nbsp;D&nbsp;:
			         		</label>
			         		<div class="col-sm-9 padding_t7">
			         			<input type="hidden" id="bqid" name="bqid" th:value="${bqglDto.bqid}"/>
			         			<span th:text="${bqglDto.bqid}"/>
							</div>
			   			</div>
					</div>
					<div class="col-md-12 col-sm-12">
			        	<div class="form-group">
			         		<label for="" class="col-sm-2 control-label">
			         			标签名称:
			         		</label>
			         		<div class="col-sm-9 padding_t7">
			         			<span th:text="${bqglDto.bqm}"/>
								<input id="bqm" name="bqm" type="hidden" th:value="${bqglDto.bqm}" class="form-control" />
							</div>
			   			</div>
					</div>
				</div>
			</div>
		</form>
		<script type="text/javascript" src="/js/wechat/menu/tag_user.js" charset="utf-8"></script>
	</body>
</html>