<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="panel panel-default divxscroll" style="height:100%;margin:20px;">
		<form id="projectForm" class="form-horizontal sl_all_form" method="post"  data-bs-toggle="validation">
			<div class="body-content">
				<!-- 导航栏 -->
				<div class="container" style="padding:0px;width:100%;">
			    	<div class="row">
			        	<div class="span6 col-md-6 col-xs-6">
			            	<ul class="breadcrumb" style="background-color: #FFF;margin:0px;">
			                	<span title="当前文件夹目录"  style="display:inline-block;width:80px;height:25px;line-height:26px;padding-left:8px;   background-color: #F2F9FF;">
									<span class="glyphicon glyphicon-list" style="display:inline-block;width:17px;height:17px; background-color:#77c2F8;line-height:17px;text-align:center;border-radius: 2px;color:#FFF;"></span>
									<span style="color:#3696DC;">目录：</span>
								</span>
			                	<li>
			                		
			                	</li>
			            	</ul>
			        	 </div>
			    	</div>
				</div>
				<div name="target"  class="col-md-3 col-xs-12 dragabled" draggable="true">
					<video class="videomenu" width="320" height="240" controls>
					</video>
				</div>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript">
    //禁用掉video的右键菜单
    var video=$(".videomenu")[0];
    video.οncοntextmenu=function(){
        return false;
    }
    var url="D:/matridx/videoload/杰毅生物成片100M.m4V";  //电脑上视频文件的绝对路径
    video.src="systemmain/pagedataShowVideo?fileName="+url+"&access_token="+$("#ac_tk").val();   //告诉服务器要播放视频文件的路径
</script>
</html>