<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/systemmain/video/video_teach_list.js"></script>
	<link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />

</head>
<body>
<input type="hidden" name="access_token"/>
<button style="color:black;" onclick="govedio()">进入直播间</button>
        


	<div class="panel panel-default divxscroll" style="height:100%;margin:20px;" id="disdiv">
		<form id="projectForm" class="form-horizontal sl_all_form" method="post"  data-bs-toggle="validation">
			<div class="body-content">
				<!-- 导航栏 -->
				<div class="container" style="padding:0px;width:100%;">
			    	<div class="row">
			        	<div class="span6 col-md-6 col-xs-6">
			            	<ul class="breadcrumb" style="background-color: #FFF;margin:0px;">
			                	<span title="当前文件夹目录"  style="display:inline-block;width:80px;height:25px;line-height:26px;padding-left:8px;   background-color: #F2F9FF;">
									<span class="glyphicon glyphicon-list" style="display:inline-block;width:17px;height:17px; background-color:#77c2F8;line-height:17px;text-align:center;border-radius: 2px;color:#FFF;"></span>
									<span style="color:#3696DC;">目录：</span>
								</span>
			                	<li>
			                		
			                	</li>
			            	</ul>
			        	 </div>
			    	</div>
				</div>
				<div name="target"  class="col-md-3 col-xs-12 dragabled" draggable="true">
					<div class="panel panel-default" style="margin-top:10px;">
						<div class="row" >
							 <div class="col-md-12 col-xs-12" style="text-align:center;height:200px;">
						    	<div type="button" class="btn btn-default btn-block col-md-12 col-xs-12" style="padding:0px;border:0;height:100% !important;" onclick="tovideo()">
						    		
						    	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>