<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlPrefix} + '/js/common/department/list_department.js'}" charset="utf-8"></script>
		<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
	</head>
	<body>
		<div class="panel-body body-content" style="padding-bottom:0px;">
	        <form id="listDepartmentForm" class="form-horizontal form-inline">
	        	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
	        	<input type="hidden" id="prefix" th:value="${departmentDto.prefix}"/>
	        	<input type="hidden" id="fwbj" th:value="${departmentDto.fwbj}"/>
				<input type="hidden" id="jgdm" th:value="${departmentDto.jgdm}"/>
	        	<input type="hidden" id="xzjgs" name="xzjgs">
	        	<div class="panel panel-default">
		            <div class="panel-heading">查询条件</div>
		            <div class="panel-body">
		            	<div class="">
		                    <div class="form-group padding_l10">
		                        <select name="cxtj" class="form-control chosen-select" id="cxtj">
	                           		<option value="0">机构名称</option>
	                           	</select>
	                        	<input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
	                               onkeydown="if(event.keyCode==13) {searchListDepartmentResult(); return false;}"/>
							</div>
							<button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">检索</button>
						</div>
		            </div>
		        </div>
		        <input id="t_xzjgs"  name="t_xzjgs" type="hidden" ></input> 
		        <table id="tb_list" class="table table-hover table-bordered table-hidden"></table>
	        </form>
	    </div>
	</body>
</html>