<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="ajaxForm" th:action="'/saletarget/saletarget/'+${xszbDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">

                    <input type="hidden" name="access_token" />
                    <input type="hidden" id="zbid" name="zbid" th:value="${xszbDto.zbid}">
                    <input type="hidden" id="zbzflJson" name="zbzflJson" th:value="${zbzflJson}">
                    <input type="hidden" id="zblxid" name="zblxid" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="alert alert-info" role="alert">
                               说明：&nbsp;&nbsp;分类选择：<strong>平台</strong>，用户名称填写：<strong>平台/工号/伙伴名称</strong><br>
                            分类选择<strong>CRM销售指标</strong>时:只需要维护季度指标，自动生成<strong>年度</strong>以及<strong>月度</strong>指标
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                <span style="color: red;">*</span>指标分类：
                            </label>
                            <div class="col-sm-8 col-xs-8">
                                <select id="zbfl" name="zbfl"   th:value="${xszbDto.zbfl}"   class="form-control chosen-select"  style="height:34px" validate="{required:true}">
                                    <option value="">--请选择--</option>
                                    <option th:each="list:${zbflList}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}" th:selected="${xszbDto.zbfl eq list.csid}" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                <span style="color: red;">*</span>指标子分类：
                            </label>
                            <div class="col-sm-8 col-xs-8">
                                <select id="zbzfl" name="zbzfl"   th:value="${xszbDto.zbzfl}"  class="form-control chosen-select" style="height:34px" validate="{required:true}">
                                    <option value="">--请选择--</option>
                                    <option th:each="list:${zbzflList}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}" th:selected="${xszbDto.zbzfl eq list.csid}" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                <span style="color: red;">*</span>用户名称：
                            </label>
                            <div class="col-sm-8 col-xs-8">
                                <input type="text" id="zsxm" name="zsxm"  validate="{required:true,stringMaxLength:32}" th:value="${xszbDto.zsxm}" class="form-control" placeholder="填工号/平台名称/伙伴名称"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                <span style="color: red;">*</span>指标类型：
                            </label>
                            <div class="col-sm-8 col-xs-8">
                                <select id="zblx" name="zblx" th:value="${xszbDto.zblx}"  class="form-control chosen-select"  style="height:34px">
                                    <option value="">--请选择--</option>
                                    <option th:each="list:${zblxList}" th:value="${list.csid}" th:csdm="${list.csdm}" th:text="${list.csmc}" th:selected="${xszbDto.zblx eq list.csid}" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                <span style="color: red;">*</span>开始周期：
                            </label>
                            <div class="col-sm-8 col-xs-8">
                                <input type="text" id="kszq" name="kszq" validate="{required:true,stringMaxLength:7}" th:value="${xszbDto.kszq}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                <span style="color: red;">*</span>结束周期：
                            </label>
                            <div class="col-sm-8 col-xs-8">
                                <input type="text" id="jszq" name="jszq"  validate="{required:true,stringMaxLength:7}" th:value="${xszbDto.jszq}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="col-sm-4 col-xs-4 control-label" style="padding-right: 0px">
                                <span style="color: red;">*</span>数值：
                            </label>
                            <div class="col-sm-8 col-xs-8">
                                <input type="number" id="sz" name="sz" validate="{required:true,min:0,stringMaxLength:32}" th:value="${xszbDto.sz}" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<script>
    $("#zbfl").on('change',function(){
        var csid=$("#zbfl").val();
        var data = JSON.parse($("#zbzflJson").val());
        var csdm=$("#ajaxForm #zbfl option:selected").attr("csdm");

        if(data != null && data.length != 0){
            var zflHtml = "";
            var zflAllHtml = "";
            zflHtml += "<option value=''>--请选择--</option>";
            $.each(data,function(i){
                if ( $("#zbfl").val() == data[i].fcsid ){
                    zflHtml += "<option value='" + data[i].csid + "' csdm='" + data[i].csdm + "'>" + data[i].csmc + "</option>";
                }
                zflAllHtml += "<option value='" + data[i].csid + "' csdm='" + data[i].csdm + "'>" + data[i].csmc + "</option>";
            });
            $("#ajaxForm #zbzfl").empty();
            $("#ajaxForm #zbzfl").append(zflHtml);
            $("#ajaxForm #zbzfl").trigger("chosen:updated");
        }else{
            var zflHtml = "";
            zflHtml += "<option value=''>--请选择--</option>";
            $("#ajaxForm #zbzfl").empty();
            $("#ajaxForm #zbzfl").append(zflAllHtml);
            $("#ajaxForm #zbzfl").trigger("chosen:updated");
        }

        if(csdm=="SALES_TARGET"){
            $("#ajaxForm #zbzfl").find("option[csdm = 'SALES_TARGET_GROUP']").attr("selected","selected");
            $("#ajaxForm #zblx").find("option[csdm = 'Q']").attr("selected","selected");
            $("#ajaxForm #zblx").attr("disabled","disabled");
            $("#ajaxForm #zblxid").val($("#ajaxForm #zblx").val());
            $("#ajaxForm #zblx").trigger("chosen:updated");
            $("#ajaxForm #zbzfl").trigger("chosen:updated");
        }
    })

    $(function(){
        jQuery('#ajaxForm .chosen-select').chosen({width: '100%'});
        laydate.render({
            elem: '#ajaxForm #kszq'
            ,theme: '#2381E9'
            ,type: 'month'
        });
        laydate.render({
            elem: '#ajaxForm #jszq'
            ,theme: '#2381E9'
            ,type: 'month'
        });
        var csdm=$("#ajaxForm #zbfl option:selected").attr("csdm");
        if(csdm=="SALES_TARGET"){
            $("#ajaxForm #zbzfl").find("option[csdm = 'SALES_TARGET_GROUP']").attr("selected","selected");
            $("#ajaxForm #zblx").find("option[csdm = 'Q']").attr("selected","selected");
            $("#ajaxForm #zblx").attr("disabled","disabled");
            $("#ajaxForm #zblxid").val($("#ajaxForm #zblx").val());
            $("#ajaxForm #zblx").trigger("chosen:updated");
            $("#ajaxForm #zbzfl").trigger("chosen:updated");
        }
    });

</script>
</html>