<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/purchaseCancel/purchaseCancel/purchaseCancel_Del.js'}"  charset="utf-8"></script>
<meta charset="UTF-8">
<title>查看采购取消信息</title>
<style type="text/css">
	.f_button{
			background: white;
			border: 0;
		}
		.f_button:hover{
			border-width: 0px; 
			border-radius: 3px;
			background: #1E90FF;
			cursor: pointer; 
			outline: none;
			font-family: Microsoft YaHei; 
			color: white; 
			font-size: 14px; 
		}
</style>
</head>
<body>
<form id="PurchaseCancel_del_Form" th:action ="${urlPrefix}+'/purchaseCancel/purchaseCancel/'+${qgqxglDto_t.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
<input type="hidden" id="qgqxid" name="qgqxid" th:value="${qgqxglDto_t.qgqxid}">
<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
<input type="hidden" name="access_token"/>
	<div class="body-content tab-content">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6 col-sm-6  col-md-4  col-lg-4">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
								采购单号
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
								<span th:text="${qgqxglDto_t.djh}" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6  col-md-4  col-lg-4">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
								申请人
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
								<span th:text="${qgqxglDto_t.sqrmc}" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6  col-md-4  col-lg-4">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
								申请部门
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
								<span th:text="${qgqxglDto_t.sqbmmc}" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6  col-md-4  col-lg-4">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
								申请日期
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
								<span th:text="${qgqxglDto_t.sqrq}" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6  col-md-4  col-lg-4">
						<div class="form-group">
							<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
								申请理由
							</label>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
								<span th:text="${qgqxglDto_t.sqly}" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
						<div class="form-group" >
							<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label" style="width: 11%;">
								备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
							</label>
							<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 padding_t7">
								<span th:text="${qgqxglDto_t.bz}" />
							</div>
						</div> 
					</div> 
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<table id="qgqxmx_view" class="table table-hover table-bordered table-hidden" style="width:1500px;"></table>
		</div>
	</div>
</form>
</body>
</html>