<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
        <script type="text/javascript" th:src="@{${urlPrefix} + '/js/production/produceBom/produceBom_edit.js'}" charset="utf-8"></script>
    </head>
    <body>

        <form id="produceBomEditForm" th:action="${urlPrefix}+'/progress/produce/'+${bomglDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="bomid" id="bomid" th:value="${bomglDto.bomid}"/>
            <input type="hidden" name="mjwlid" id="mjwlid" th:value="${bomglDto.mjwlid}"/>
            <input type="hidden" name="nowwlid" id="nowwlid" th:value="${bomglDto.mjwlid}"/>
            <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
            <input type="hidden" name="addwlid" id="addwlid"/>
            <input type="hidden" name="formAction" id="formAction" th:value="${bomglDto.formAction}"/>
            <input type="hidden" name="bommx_json" id="bommx_json" />
            <div class="panel-body body-content">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>BOM类别:
                                    </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8" th:if="${jcsjDtos!=null && jcsjDtos.size() > 0}">
                                        <select id="bomlb" name="bomlb" class="form-control chosen-select" validate="{required:true}" style="height: 28px;">
                                            <option value="">--请选择--</option>
                                            <option th:each="list:${jcsjDtos}" th:value="${list.csid}"
                                                    th:text="${list.csmc}" th:csdm="${list.csdm}" th:selected="${list.csid eq bomglDto.bomlb}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>母件编码:
                                    </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8">
                                        <div class="input-group">
                                            <input id="mjwlbm" autoComplete="off"  readonly="true" style="min-width: 100%;height:28px;" validate="{required:true}" th:value="${bomglDto.mjwlbm eq null?'':bomglDto.mjwlbm}" name="mjwlbm" type="text" class="form-control"/>
                                            <span class="input-group-btn"  >
                                				<button type="button" class="btn btn-primary" onclick="chooseWl()"  style="height:28px !important;">新增</button>
                            				</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                                        母件物料名称:
                                    </label>
                                    <div class="col-sm-6 col-xs-6 col-md-6 control-label" style="text-align: left">
                                        <span type="text" id="mjwlmc" name="mjwlmc"  th:text="${bomglDto.mjwlmc}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>版本号:
                                    </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8">
                                        <input id="bbh" name="bbh" th:value="${bomglDto.bbh}" validate="{required:true,stringMaxLength:32}" class="form-control" style="height:30px;" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                                        <span style="color: red;">*</span>版本日期:
                                    </label>
                                    <div class="col-sm-8 col-xs-8 col-md-8">
                                        <input id="bbrq" name="bbrq" th:value="${bomglDto.bbrq}" validate="{required:true,stringMaxLength:32}" class="form-control" style="height:30px;" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                                        版本说明:
                                    </label>
                                    <div class="col-sm-11 col-xs-11 col-md-11">
                                        <textarea id="bbsm" name="bbsm" th:text="${bomglDto.bbsm}" rows="3" validate="{stringMaxLength:1024}" style="height: auto;" class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <label for="" class="col-sm-2 control-label" style="color:black;">
                        新增:
                    </label>
                    <div class="col-sm-10 col-xs-12">
                        <input type="text" id="addnr" name="addnr" placeholder="请输入物料名称,点击确定或按回车添加物料" class="form-control" data-provide="typeahead" data-items="5" style="height:30px;" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <button  type="button" class="btn btn-success" onclick="cofirmaddBomwl()"><span id="cofirmaddwl">确定</span></button>
                </div>
            </div>
            <table id="produceBom_edit_list" data-classes="table" style="width:1500px;margin-left: 20px"></table>
        </form>
    </body>
</html>
