<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.bioinformation.dao.post.ICnvjgxqDao">

    <select id="getListById" parameterType="CnvjgxqDto" resultType="CnvjgxqDto">
        select xq.qswz as xqqswz,xq.zzwz as xqzzwz,cnyccnv.qswz,cnyccnv.zzwz,cnyccnv.mc,xq.sfqh
        from igams_cnvjgxq xq
        left join matridx_cnyccnv cnyccnv on cnyccnv.rst=xq.rst and cnyccnv.cnvlx=xq.cnvlx and cnyccnv.scbj='0'
        <where>
            xq.scbj='0'
            and xq.cnvjgid=#{cnvjgid}
        </where>
    </select>

    <insert id="insert" parameterType="CnvjgxqDto">
        insert into igams_cnvjgxq(cnvjgxqid,cnvjgid
        <if test="rst != null and rst!= ''">
            ,rst
        </if>
        <if test="qsqd != null and qsqd != ''">
            ,qsqd
        </if>
        <if test="zzqd != null and zzqd != ''">
            ,zzqd
        </if>
        <if test="cnvlx != null and cnvlx!= ''">
            ,cnvlx
        </if>
        <if test="sfqh != null and sfqh != ''">
            ,sfqh
        </if>
        <if test="sffzsb != null and sffzsb != ''">
            ,sffzsb
        </if>
        <if test="qswz != null and qswz != ''">
            ,qswz
        </if>
        <if test="zzwz != null and zzwz != ''">
            ,zzwz
        </if>
        <if test="kbs != null and kbs != ''">
            ,kbs
        </if>
        <if test="cnvjg != null and cnvjg != ''">
            ,cnvjg
        </if>
        <if test="cnvxq != null and cnvxq != ''">
            ,cnvxq
        </if>
        <if test="sfhb != null and sfhb != ''">
            ,sfhb
        </if>
        <if test="xpid != null and xpid != ''">
            ,xpid
        </if>
        <if test="sfsdtj != null and sfsdtj != ''">
            ,sfsdtj
        </if>
        ,lrry,lrsj,scbj)
        values(#{cnvjgxqid},#{cnvjgid}
        <if test="rst != null and rst!= ''">
            ,#{rst}
        </if>
        <if test="qsqd != null and qsqd != ''">
            ,#{qsqd}
        </if>
        <if test="zzqd != null and zzqd != ''">
            ,#{zzqd}
        </if>
        <if test="cnvlx != null and cnvlx!= ''">
            ,#{cnvlx}
        </if>
        <if test="sfqh != null and sfqh != ''">
            ,#{sfqh}
        </if>
        <if test="sffzsb != null and sffzsb != ''">
            ,#{sffzsb}
        </if>
        <if test="qswz != null and qswz != ''">
            ,cast(#{qswz} as numeric)
        </if>
        <if test="zzwz != null and zzwz != ''">
            ,cast(#{zzwz} as numeric)
        </if>
        <if test="kbs != null and kbs != ''">
            ,cast(#{kbs} as float )
        </if>
        <if test="cnvjg != null and cnvjg != ''">
            ,#{cnvjg}
        </if>
        <if test="cnvxq != null and cnvxq != ''">
            ,#{cnvxq}
        </if>
        <if test="sfhb != null and sfhb != ''">
            ,#{sfhb}
        </if>
        <if test="xpid != null and xpid != ''">
            ,#{xpid}
        </if>
        <if test="sfsdtj != null and sfsdtj != ''">
            ,#{sfsdtj}
        </if>
        ,#{lrry},LOCALTIMESTAMP,0)
    </insert>

    <update id="updateSfhb" parameterType="CnvjgxqDto">
        update igams_cnvjgxq
        <set>
            sfhb='1',
        </set>
        <where>
            cnvjgxqid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
    <update id="updateSfhbByCnvjgid" parameterType="String">
        update igams_cnvjgxq
        <set>
            sfhb='0',
        </set>
        <where>
            cnvjgid=#{cnvjgid}
        </where>
    </update>

    <insert id="insertList" parameterType="list">
        insert into igams_cnvjgxq (
        cnvjgxqid,
        cnvjgid,
        rst,
        qsqd,
        zzqd,
        cnvlx,
        sfqh,
        sffzsb,
        qswz,
        zzwz,
        kbs,
        cnvjg,
        cnvxq,
        sfhb,
        xpid,
        sfsdtj,
        lrry,
        lrsj,
        scbj,
        wkcxid
        )
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.cnvjgxqid},
                #{item.cnvjgid},
                #{item.rst},
                #{item.qsqd},
                #{item.zzqd},
                #{item.cnvlx},
                #{item.sfqh},
                #{item.sffzsb},
                cast(#{item.qswz} as numeric),
                cast(#{item.zzwz} as numeric),
                cast(#{item.kbs} as float ),
                #{item.cnvjg},
                #{item.cnvxq},
                #{item.sfhb},
                #{item.xpid},
                #{item.sfsdtj},
                #{item.lrry},
                cast(#{item.lrsj} as TIMESTAMP),
                '0',
                #{item.wkcxid}
                )
            </foreach>
        </if>
    </insert>
    <select id="getAjyList" parameterType="CnvjgxqDto" resultType="CnvjgxqDto">
        select  jym ,wzzs
        from matridx_ajy
        where cast (qswz as numeric)&gt;=cast (#{qswz} as numeric) and cast (zzwz as numeric) &lt;=cast (#{zzwz} as numeric) and rst=#{rst}
    </select>
    <select id="getDtoList" parameterType="CnvjgxqDto" resultType="CnvjgxqDto">
        select xq.cnvjgxqid,
        xq.cnvjgid,
        xq.rst,
        xq.qsqd,
        xq.zzqd,
        xq.cnvlx,
        xq.sfqh,
        xq.sffzsb,
        xq.qswz,
        xq.zzwz,
        xq.kbs,
        xq.cnvjg,
        xq.cnvxq,
        xq.sfhb,
        xq.xpid,
        xq.sfsdtj,
        xq.lrry,
        xq.lrsj,
        xq.xgry,
        xq.xgsj,
        xq.scry,
        xq.scsj,
        xq.scbj,
        xq.wkcxid,
        (select count(ajyid) from matridx_ajy where scbj='0' and  cast (qswz as numeric)&gt;=cast (xq.qswz as numeric) and cast (zzwz as numeric) &lt;=cast (xq.zzwz as numeric) and rst=xq.rst and (xq.sfqh ='0' or xq.sfqh is null) and ((cast (xq.zzwz as numeric)-cast (xq.qswz as numeric))/1000000) &lt; 20) as ajysl
        from igams_cnvjgxq xq
        <where>
            xq.scbj='0'
            <if test="ids !=null and ids.size > 0">
            and xq.cnvjgxqid in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            </if>
            <if test="cnvjgid != null and cnvjgid != ''">
                and xq.cnvjgid =#{cnvjgid}
            </if>
            <if test="cnvjgids !=null and cnvjgids.size > 0">
                and xq.cnvjgid in
                <foreach collection="cnvjgids" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by xq.cnvjgid asc
    </select>
</mapper>
