<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.bioinformation.dao.post.IDlfxjgDao" >

    <insert id="insertList" parameterType="list">
        <foreach collection="list" open="" close="" item="item" index="index" separator=";">
            insert into igams_dlfxjg (dlfxid, wkbh, wkcxid, bbh, nr, sfbg, lrsj, lrry) VALUES
            (#{item.dlfxid}, #{item.wkbh}, #{item.wkcxid}, #{item.bbh}, #{item.nr}, #{item.sfbg}, LOCALTIMESTAMP, #{item.lrry})
        </foreach>
    </insert>


    <select id="getDtoList" parameterType="DlfxjgDto" resultType="DlfxjgDto">
        select dlfxid, wkbh, wkcxid, bbh, nr, sfbg, lrsj, xgry, xgsj, scry, scsj, scbj, lrry
        from igams_dlfxjg dlfxjg
        <where>
            dlfxjg.scbj = '0'
            <if test="wkcxid!=null and wkcxid!=''">
                and dlfxjg.wkcxid = #{wkcxid}
            </if>
            <if test="bbh!=null and bbh!=''">
                and dlfxjg.bbh = #{bbh}
            </if>
            <if test="ids !=null and ids.size > 0">
                and dlfxid in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getDtoListByWkcxId" parameterType="list" resultType="DlfxjgDto">
        select dlfxid, wkbh, wkcxid, bbh, nr, sfbg, lrsj, xgry, xgsj, scry, scsj, scbj, lrry
        from igams_dlfxjg dlfxjg
        <where>
            <if test="wkcxid!=null and wkcxid!=''">
                and dlfxjg.wkcxid = #{wkcxid}
            </if>
            <if test="bbh!=null and bbh!=''">
                and dlfxjg.bbh = #{bbh}
            </if>

            and dlfxjg.scbj = '0'
        </where>
    </select>

    <select id="getListForExp" parameterType="DlfxjgDto" resultType="DlfxjgDto">
        select nr
        from igams_dlfxjg
        where scbj='0' and wkcxid=#{wkcxid} and bbh=#{bbh}
    </select>

</mapper>
