<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.bioinformation.dao.post.IMngszjg2Dao" >
    <insert id="insert" parameterType="Mngszjg2Dto">
        insert into igams_mngszjg2(
        <if test="wkbh != null and wkbh != ''">
            wkbh,
        </if>
        <if test="wkcxid != null and wkcxid != ''">
            wkcxid,
        </if>
        <if test="finaljson != null and finaljson != ''">
            finaljson,
        </if>
        jgid)
        values (
        <if test="wkbh != null and wkbh != ''">
            #{wkbh},
        </if>
        <if test="wkcxid != null and wkcxid != ''">
            #{wkcxid},
        </if>
        <if test="finaljson != null and finaljson != ''">
            #{finaljson},
        </if>
        #{jgid})
    </insert>


    <select id="getDto" parameterType="Mngszjg2Dto" resultType="Mngszjg2Dto">
        select jgid,wkbh,wkcxid,finaljson
        from igams_mngszjg2
        where jgid = #{jgid}
    </select>
</mapper>
