<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.bioinformation.dao.post.IWklcznDao">

    <delete id="deleteById" parameterType="String">
        delete from igams_wklczn
        <where>
            wkcxid = #{wkcxid}
        </where>
    </delete>

    <insert id="insertList" parameterType="List">
        insert into igams_wklczn(wkcxid,znid)
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.wkcxid},#{item.znid}
                )
            </foreach>
        </if>
    </insert>

    <select id="getDtoList" parameterType="WklcznDto" resultType="WklcznDto">
        select lczzzngl.znid ,lczzzngl.yblx ,lczzzngl.nlz ,lczzzngl.xb ,lczzzngl.glwz ,lczzzngl.yygs ,lczzzngl.mc ,lczzzngl.ly ,lczzzngl.fbsj ,lczzzngl.url
        from igams_wklczn lczn
        left join igams_lczzzngl lczzzngl on lczzzngl.znid=lczn.znid
        <where>
            lczn.wkcxid=#{wkcxid}
        </where>
    </select>

</mapper>
