<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.bioinformation.dao.post.IWknyfxDao">

    <delete id="deleteById" parameterType="String">
        delete from igams_wknyfx
        <where>
            wkcxid = #{wkcxid}
        </where>
    </delete>

    <insert id="insertList" parameterType="List">
        insert into igams_wknyfx(wkcxid,nyjgid)
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.wkcxid},#{item.nyjgid}
                )
            </foreach>
        </if>
    </insert>

    <select id="getDtoList" parameterType="WknyfxDto" resultType="WknyfxDto">
        select nyfxjg.nyjgid,nyfxjg.wkcxid,nyfxjg.nyjy,nyfxjg.bbh,nyfxjg.nr,nyfxjg.sfbg,nyfxjg.lrry,nyfxjg.lrsj,nyfxjg.xgry,nyfxjg.xgsj,nyfxjg.scry,nyfxjg.scsj,nyfxjg.scbj
        from igams_wknyfx wknyfx
        left join igams_nyfxjg nyfxjg on nyfxjg.nyjgid=wknyfx.nyjgid
        <where>
            wknyfx.wkcxid=#{wkcxid}
        </where>
    </select>

</mapper>
