<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.bioinformation.dao.post.IWkysmxDao">

    <delete id="deleteById" parameterType="String">
        delete from igams_wkysmx
        <where>
            wkcxid = #{wkcxid}
        </where>
    </delete>

    <insert id="insertList" parameterType="List">
        insert into igams_wkysmx(wkcxid,mxjgid)
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.wkcxid},#{item.mxjgid}
                )
            </foreach>
        </if>
    </insert>

    <select id="getDtoList" parameterType="WkysmxDto" resultType="WkysmxDto">
        select
        wzgl.wzid,wzgl.wzywm,wzgl.wzzwm,wzgl.wzfl,wzgl.wzlx,wzgl.wzzs,wzgl.fid,wzgl.fldj,wzgl.sfgl,wzgl.crbjb,
        wzgl.sflj,wzgl.fl,wzgl.sfgz,wzgl.xjlb,wzgl.bdlb,wzgl.wzdl,wzgl.jycd,wzgl.glsrs,wzgl.zbx
        from igams_wkysmx wkysmx
        left join igams_mngsmxjg_${lrsj} mngsmxjg on mngsmxjg.mxjgid=wkysmx.mxjgid
        left join igams_wzgl wzgl on wzgl.wzid=mngsmxjg.taxid
        <where>
            wkysmx.wkcxid=#{wkcxid}
        </where>
    </select>

    <select id="getList" parameterType="WkysmxDto" resultType="WkysmxDto">
        select *
        from igams_wkysmx wkysmx

        <where>
            wkysmx.wkcxid=#{wkcxid}
        </where>
    </select>

</mapper>
