<!DOCTYPE html>
<html lang="zh-cn">
<body>
		<form namespace="/systemrole" action="role_viewRole.html" method="post" id="roleForm" theme="simple"
		class="form-horizontal sl_all_form body-content">
			<div class="row">
				<div class="col-md-12 col-sm-12">
		        	<div class="form-group">
		         		<label for="" class="col-sm-4 control-label">角色名称</label>
		    			<div class="col-sm-8 padding_t7 "><span th:text="${xtjsDto.jsmc}" /></div>
		   			</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">父角色</label>
						<div class="col-sm-8 padding_t7"><span th:text="${xtjsDto.fjsmc}" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">单位限制</label>
						<div class="col-sm-8 padding_t7"><span th:text="${xtjsDto.dwxdbj eq '1'?'是':'否'}" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
			     	<div class="form-group">
			     		<label for="" class="col-sm-4 control-label">首页类型</label>
			     		<div class="col-sm-8 padding_t7">
							<span th:text="${xtjsDto.sylxmc}" />
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
			     	<div class="form-group">
			     		<label for="" class="col-sm-4 control-label">角色描述</label>
			     		<div class="col-sm-8 padding_t7">
							<span th:text="${xtjsDto.jsms}" />
						</div>
					</div>
				</div>
			</div>
	   </form>
	</body>
</html>