<!DOCTYPE html>
<html lang="zh-cn">
	<body>
		<form data-bs-toggle="validation" th:action="'/systemrole/user/' + ${xtyhDto.formAction} + 'SaveUser'" method="post" id="user_ajaxForm" class="form-horizontal sl_all_form">
			<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
				<li class="nav-item" >
					<a  class="nav-link active" href="#basicInfoTab" role="tab" data-bs-toggle="tab">基本信息</a>
				</li>
				<li class="nav-item" >
					<a  class="nav-link" href="#roleInfoTab" role="tab" data-bs-toggle="tab">角色信息</a>
				</li>
				<li class="nav-item" >
					<a  class="nav-link" href="#auditJobUserTab" role="tab" data-bs-toggle="tab">审批岗位</a>
				</li>
			</ul>
			<div class="body-content tab-content">
				<input type="hidden" name="ss_formAction" id="ss_formAction" th:value="${xtyhDto.formAction}"/>
				<input type="hidden" id="yhid" name="yhid" th:value="${xtyhDto.yhid}"></input>
				<input type="hidden" name="access_token"/>
				<div role="tabpanel" class="tab-pane fade active in" id="basicInfoTab" aria-labelledby="home-tab">
					<div class="panel-body">
						<div class="row">
							<div id="xtyhDiv">
								<div class="col-md-12">
									<div class="form-group">
						         		<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>用户名</label>
						    			<div class="col-sm-7">
						        			<input type="text" id="yhm" name="yhm" th:value="${xtyhDto.yhm}" validate="{required:true,stringMaxLength:128}" class="form-control" ></input>
						        		</div>
						   			</div>
								</div>
								<div class="col-md-12 col-sm-12">
							        <div class="form-group">
							          <label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>真实姓名</label>
							          <div class="col-sm-7">
						      				<input type="text" id="zsxm" name="zsxm" th:value="${xtyhDto.zsxm}" validate="{required:true,stringMaxLength:128}" class="form-control" ></input>
						        		</div>
							        </div>
								</div>
								<div class="col-md-12 col-sm-12">
							        <div class="form-group">
							        	<label for="" class="col-sm-4 control-label"><span style="color:red;">*</span>是否锁定</label>
							    		<div class="col-sm-7" id="sw-content">
											<input type="checkbox" id="sfsd" name="sfsd" class="make-switch" data-on-color="success" data-off-color="warning" data-on-text="是" data-off-text="否" th:value="1" th:checked="${'1' eq xtyhDto.sfsd}">
							    		</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="roleInfoTab" aria-labelledby="profile-tab">
					<div class="panel-body">
						<div class="row">
			          		<div id="xtyhjsDiv" th:if="${xtjsDtos != null && xtjsDtos.size() >0}" th:each="xtjsDto:${xtjsDtos}" class="col-sm-6">
							    <input th:type="checkbox" th:id="jsids" th:name="jsids" th:checked="${xtjsDto.yhid ne '' and xtjsDto.yhid ne null}" th:value="${xtjsDto.jsid}" th:text="${xtjsDto.jsmc}" th:data-on-color="success" th:data-off-color="warning" th:data-on-text="是" th:data-off-text="否" />
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="auditJobUserTab"aria-labelledby="profile-tab">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 col-sm-12">
						        <div class="form-group" id="spgwDiv">
						        </div>
							</div>
						</div>
					</div>
				</div>
	   		</div>
	   </form>
		<script type="text/javascript" src="/js/globalweb/systemrole/user_edit.js"></script>
	</body>
</html>