<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/wechat/faq/faqxx_add.js" charset="utf-8"></script>

</head>
<body>
<form id="ajaxForm" th:action="'/faq/'+${faqxxDto.formAction}+'SaveFaqxx'" data-bs-toggle="validation" method="post"  class="form-horizontal sl_all_form blue-second-skin">
	<input type="hidden" id="faqid" name="faqid" th:value="${faqxxDto.faqid}"/>
	<input type="hidden" id="xh" name="xh" th:value="${faqxxDto.xh}"/>
	<input type="hidden" name="access_token"/>
	<div class="body-content"  style="padding: 0px;">
		<div class="panel-body">
			<div class="row">
				
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>位置 :
						</label>
						<div class="col-sm-8 col-xs-12  padding_t7">
							<input type="text" id="wz" name="wz"  th:value="${faqxxDto.wz}" validate="{required:true}"  class="form-control" />
						</div>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>标题:
						</label>
						<div class="col-sm-8 col-xs-8 padding_t7">
							<input id="bt" name="bt" type="text" th:value="${faqxxDto.bt}" class="form-control" validate="{required:true,stringMaxLength:256}"/>
						</div>
					</div>
				</div>


				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="" class="col-sm-3 col-xs-3 control-label">
							<span style="color: red;">*</span>内容:
						</label>
						<div class="col-sm-8 col-xs-12  padding_t7">
							<input type="text" id="nr" name="nr"  th:value="${faqxxDto.nr}" validate="{required:true}"  class="form-control" />
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</form>
</body>
</html>