<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>仓库统计</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/systemmain/task/task_statistics.js'}"></script>
	<script type="text/javascript" src="/js/plugins/echarts/china.js"></script>
	<!--	<script type="text/javascript" src="/js/wechat/statistics/chartMap_lead.js"></script>-->
	<style type="text/css">
		.titletop{
			position: absolute;
			padding:15px;
			padding-top:22px;
			left:0px;
			top:-5px;
		}
		.laydate-theme-molv .layui-laydate-main {
			width: 220px;
			font-size: 10px;
			height: 230px;
		}
	</style>
</head>
<body>
<div class="body-content tab-content" id="taskStatistics">
	<input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}" >
	<div class="body-content">
		<div class="row" id="all">
			<div id="task" class="col-md-6 col-sm-12 col-xs-12" style="height:530px;">
				<span>未完成任务统计</span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:40%;height:50px;">
				<div class="col-md-12 col-sm-12 col-xs-12  ">
					<div id="echarts_task_lead_task" style="height: 400px;"></div>
				</div>
			</div>

			<div id="depart" class="col-md-6 col-sm-12 col-xs-12" style="height: 530px">
				<span>未完成任务部门统计</span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:40%;height:50px;">
				<div class="col-md-12 col-sm-12 col-xs-12  ">
					<div id="echarts_task_lead_depart" style="height: 400px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>