<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <style>
        .col-md-6{
            height:33px;
        }
        .col-sm-4{
            height:24px;
        }
        ._bacg{
            text-align: center;
            background: rgba(113,214,255,0.26)
        }
    </style>
</head>
<body>

<form id="task_list" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content tab-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
                        <div class="form-group" th:if="${dtoList != null && dtoList.size() >0}">
                            <table class='table table-hover table-bordered table-hidden' style='table-layout: fixed;width: 98%;margin: auto'>
                                <thead>
                                <tr>
                                    <th width='40%' style="padding: 0px;text-align:center;">业务名称</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">任务名称</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">负责人</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">确认人</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">录入人</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">录入时间</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">预计工作</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">实际工作</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">期望完成日期</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">完成时间</th>
                                    <th width='20%' style="padding: 0px;text-align:center;">紧急度</th>
                                    <th width='40%' style="padding: 0px;text-align:center;">备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dto,local:${dtoList}" >
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.ywmc}' th:title='${dto.ywmc}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.rwmc}' th:title='${dto.rwmc}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.zsxm}' th:title='${dto.zsxm}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.qrrymc}' th:title='${dto.qrrymc}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.lrryxm}' th:title='${dto.lrryxm}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.lrsj}' th:title='${dto.lrsj}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.yjgzl}' th:title='${dto.yjgzl}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.sjgzl}' th:title='${dto.sjgzl}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.fqwwcsj}' th:title='${dto.fqwwcsj}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.fwcsj}' th:title='${dto.fwcsj}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.jjdmc}' th:title='${dto.jjdmc}'></td>
                                    <td style='padding-top: 8px;text-align:center;'  th:text='${dto.bz}' th:title='${dto.bz}'></td>
                                </tr>
                                </tbody>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</form>
<script type="text/javascript">

</script>
</body>
</html>