<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<script type="text/javascript" th:src="@{${urlprefix}+'/js/systemmain/task/task_batchconfirm.js'}" charset="utf-8"></script>
	</head>
	<body>
		<form id="ajaxForm" th:action="${urlprefix}+'/systemmain/task/batchconfirmSaveTask'" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
			<input type="hidden" name="ids" id="ids" th:value="${gzglDto.ids}"/>
			<input type="hidden" name="urlprefix" id ="urlprefix" th:value="${urlprefix}">
			<input type="hidden" name="access_token"/>
			<div class="body-content">
				<div class="panel-body">
					<div class="row" >
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label for="" class="col-sm-2 col-xs-12 control-label">
									<span style="color: red;">*</span>确认结果
								</label>
								<div class="col-sm-9 col-xs-12"> 
									<select id="sftg" name="sftg" validate="{required:true}" class="form-control chosen-select">
										<option value="">--请选择--</option>
	                        			<option value="1" >通过</option>
	                        			<option value="0" >不通过</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
				        	<div class="form-group">
				          		<label for="" class="col-sm-2 control-label">意见</label>
								<div class="col-sm-9">
									<textarea id="shyj" name="shyj" rows="5" validate="{stringMaxLength:2000}" class="form-control" >
									</textarea>
			        		   </div>
			        		</div>
				       	</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
