<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form id="payMod_ajaxForm" th:action="${urlPrefix+formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
        <input type="hidden" name="htfkid" id="htfkid" th:value="${htfkqkDto.htfkid}"/>
        <input type="hidden" name="htzje" id="htzje" th:value="${htfkqkDto.htzje}"/>
        <input type="hidden" name="htid" id="htid" th:value="${htfkqkDto.htid}"/>
        <input type="hidden" name="yfje" id="yfje" th:value="${htfkqkDto.yfje}"/>
        <input type="hidden" name="access_token" id="access_token"/>
        <input type="hidden" name="formAction" id="formAction" th:value="${formAction}"/>
        <input type="hidden" name="fkjexgq" id="fkjexgq" th:value="${htfkqkDto.fkjexgq}"/>
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <input type="hidden" name="auditType" id="auditType" th:value="${htfkqkDto.auditType}">
        <input type="hidden" id="fkmxJson" name="fkmxJson"/>
        <div class="body-content" >
            <div class="row" style="margin-top:20px;">
                <div class="col-md-4 col-sm-4" style="height:40px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>付款单号:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <input type="text" id="fkdh" name="fkdh" th:value="${htfkqkDto.fkdh}" validate="{required:true}"  class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:40px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>申请人:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <div class="input-group">
                                <input type="text" id="sqrmc" name="sqrmc" th:value="${htfkqkDto.sqrmc}" validate="{required:true}" readonly="true" class="form-control" />
                                <input type="hidden" id="sqr" name="sqr" th:value="${htfkqkDto.sqr}" class="form-control"/>
                                <span class="input-group-btn">
                      					<button type="button" onclick="chooseFzr()" class="btn btn-primary" style="height:28px !important;">选择</button>
                  					</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:40px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>申请部门:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <div class="input-group">
                                <input type="text" id="sqbmmc" name="sqbmmc" th:value="${htfkqkDto.sqbmmc}" validate="{required:true}" readonly="true" class="form-control" />
                                <input type="hidden" id="sqbm" name="sqbm" th:value="${htfkqkDto.sqbm}"  class="form-control"/>
                                <span class="input-group-btn">
                      					<button type="button" onclick="chooseSqbm()" class="btn btn-primary" style="height:28px !important;">选择</button>
                  					</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:40px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>用款部门:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <div class="input-group">
                                <input type="text" id="ykbmmc" name="ykbmmc" th:value="${htfkqkDto.ykbmmc}" validate="{required:true}" readonly="true" class="form-control" />
                                <input type="hidden" id="ykbm" name="ykbm" th:value="${htfkqkDto.ykbm}"  class="form-control"/>
                                <span class="input-group-btn">
                      					<button type="button" onclick="chooseYkbm()" class="btn btn-primary" style="height:28px !important;">选择</button>
                  					</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>付款总额:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <input type="text" id="fkzje" name="fkzje" th:value="${htfkqkDto.fkzje}" validate="{required:true}"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>付款日期:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <input type="text" id="fkrq" name="fkrq" th:value="${htfkqkDto.fkrq}" validate="{required:true}"  class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>最晚支付日期:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <input type="text" id="zwzfrq" name="zwzfrq" th:value="${htfkqkDto.zwzfrq}" validate="{required:true}"   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>支付对象:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <div class="input-group">
                                <input type="text" id="zfdxmc" name="zfdxmc" th:value="${htfkqkDto.zfdxmc}" readonly="true" validate="{required:true}" class="form-control" />
                                <input id="zfdx" name="zfdx" type="hidden" th:value="${htfkqkDto.zfdx}" class="form-control" />
                                <span class="input-group-btn">
										<button type="button" onclick="chooseGys()" class="btn btn-primary" style="height:28px !important;">选择</button>
									</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>支付方开户行:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <input type="text" id="zffkhh" name="zffkhh" th:value="${htfkqkDto.zffkhh}" validate="{required:true}"   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>支付方银行账户:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <input type="text" id="zffyhzh" name="zffyhzh" th:value="${htfkqkDto.zffyhzh}" validate="{required:true}"   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;" >
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>付款方:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8" th:if="${payerlist !=null && payerlist.size() > 0}">
                            <select id="fkf" name="fkf" th:value="${htfkqkDto.fkfmc}" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                                <option value="">--请选择--</option>
                                <option th:each="list:${payerlist}" th:value="${list.csid}" th:text="${list.csdm}+'--'+${list.csmc}"  th:selected="${list.csid eq htfkqkDto.fkf}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;" >
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>付款方式:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8" th:if="${paywaylist !=null && paywaylist.size() > 0}">
                            <select id="fkfs" name="fkfs" th:value="${htfkqkDto.fkfsmc}" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                                <option value="">--请选择--</option>
                                <option th:each="list:${paywaylist}" th:value="${list.csid}" th:text="${list.csdm}+'--'+${list.csmc}"  th:selected="${list.csid eq htfkqkDto.fkfs}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" style="height:42px;">
                    <div class="form-group">
                        <label for="" class="col-sm-4 col-md-4 col-xs-4 control-label">
                            <span style="color: red;">*</span>付款事由:
                        </label>
                        <div class="col-sm-8 col-xs-8 col-md-8">
                            <input type="text" id="fksy" name="fksy" th:value="${htfkqkDto.fksy}"   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12" >
                    <div class="form-group" >
                        <label for="" class="col-sm-1 control-label">
                            备注：
                        </label>
                        <div class="col-sm-11 col-xs-11" >
                            <textarea id="bz" name="bz" rows="3"  style="height:50px;" validate="{stringMaxLength:512}" class="form-control" th:text="${htfkqkDto.bz}" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="tb_list" data-classes="table table-hover table-bordered table-hidden" style="width:1530px;margin-left:8px;"></table>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/contract/payment/contract_pay_update.js'}" charset="utf-8"></script>
</html>