*{margin: 0;padding: 0;border: 0;list-style: none;text-decoration: none;color: inherit;font-weight: normal;font-family: "微软雅黑";box-sizing: border-box;font-style: normal;outline: none;-webkit-tap-highlight-color: transparent;}
body{width: 100%;overflow-x: hidden;background: #3c7bfb;color: #ffffff;}
.top-bar{width: 100%;height: .88rem;line-height: .88rem;text-align: center;position: relative;font-size: .36rem;}
/* 进度 */
.progress{width: 100%;padding: .4rem .2rem;font-size: .24rem;}
/* 主体 */
.container{width: 100%;height: auto;overflow: hidden;padding: 0 .3rem;}
.container .box{width: 100%;height: auto;background: white right center no-repeat;background-size: 100% auto;border-radius: 20px}
.container .box form{width: 100%;padding: .45rem .25rem .4rem .25rem;}
.item-input{width: 100%;height: .88rem;display: flex;justify-content: space-between;align-items: center;background: white;font-size: .32rem;padding-right: .3rem;margin-bottom: .02rem;}
.item-input label{color: #222222;flex-shrink: 0;padding-left: .3rem;padding-right: .55rem;}
.item-input input{text-indent: .2rem;width: 100%;height: .5rem;background: transparent;color: #333;font-size: .32rem;}
.container .box form h5{font-size: .32rem;color: #333333;padding-top: .6rem;padding-bottom: .15rem;}
.container .box form .help{font-size: .28rem;color: #9d9d9d;text-align: center;}
.container .box form .help a{color: #3c7bfb;}
.container .box form .submit{text-align: center;padding-top: .15rem;}
.container .box form .submit button{width: 5.4rem;height: .88rem;line-height: .88rem;font-size: .34rem;background: #3c7bfb;letter-spacing: .02rem;border-radius: .88rem;}
.copyright{text-align: center;font-size: .24rem;color: #97b9fe;padding: .35rem 0;}
/* 弹窗 */
.dialog{display: none;}
.dialog.active{display: block;}
.dialog i{display: block;position: fixed;top: 0;left: 0;width: 100%;height: 100vh;background: rgba(0,0,0,.1);z-index: 99;}
.dialog .content{position: absolute;width: 6rem;height: 5rem;overflow-y: auto;padding: .3rem;font-size: .28rem;background: #ffffff;z-index: 100;top: 50%;left: 50%;transform: translate(-50%,-50%);border-radius: .2rem;color: #999;}

.RadioStyle {
    flex: 1;
    padding: 5px 0;
}
.RadioStyle input {
    display: none
}
.RadioStyle label {
    border: 1px solid #CCC;
    color: #666;
    padding: 2px 10px 2px 5px;
    /*line-height: 25px;*/
    min-width: 15px;
    text-align: center;
    float: left;
    margin: 2px;
    border-radius: 4px;
}
.RadioStyle input:checked + label {
    background: url(/images/ico_checkon.svg) no-repeat right bottom;
    border: 1px solid #00a4ff;
    background-size: 21px 21px;
    color: #00a4ff
}
.RadioStyle input:disabled + label {
    opacity: 0.7;
}