<!DOCTYPE html>
<html lang="zh-cn">
<head >
	<script type="text/javascript" src="/js/wechat/statistics/local_weekly_jsrq.js" charset="utf-8"></script>
   <style>
</style>
</head>
<body>
<div id="statistical_jsrq">
	<div class="body-content tab-content col-sm-10 col-xs-10 col-sm-offset-1" style="top:50px;">
		<div role="tabpanel" class="tab-pane fade active in" id="materInfoTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-md-12 col-sm-12" style="margin:16px 0px 14px 0px;">
						<div class="form-group">
							<label for="" class="col-sm-2 control-label" style="text-align: right;">
								 <span style="color: red;">*</span>统计周期：
							</label>
							<div class="col-sm-3 col-xs-3">
								<input type="text" id="jsrq" name="jsrq" th:value="${jsrq}" class="form-control"  placeholder="请选择统计周期"/> 
							</div>
							<div class="col-sm-2 col-xs-2">
								<button type="button" class="btn btn-primary" onclick="confirm_view()">确定</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>