<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>复测统计列表</title>
	<script type="text/javascript" src="/js/wechat/statistics/local_recheckList.js" charset="utf-8"></script>
</head>
<body>
<div id="local_recheck_formSearch" class="panel-body body-content"  style="padding-bottom:0px;">
	<input type="hidden" id="lx" th:value="${fjsqDto.lx}"/>
	<input type="hidden" id="lrsj" th:value="${fjsqDto.lrsj}"/>
	<input type="hidden" id="xh" th:value="${fjsqDto.xh}"/>
	<input type="hidden" id="lrsjstart" th:value="${fjsqDto.lrsjstart}"/>
	<input type="hidden" id="lrsjend" th:value="${fjsqDto.lrsjend}"/>
	<input type="hidden" id="lrsjMstart" th:value="${fjsqDto.lrsjMstart}"/>
	<input type="hidden" id="lrsjMend" th:value="${fjsqDto.lrsjMend}"/>
	<input type="hidden" id="lrsjYstart" th:value="${fjsqDto.lrsjYstart}"/>
	<input type="hidden" id="lrsjYend" th:value="${fjsqDto.lrsjYend}"/>
	<input type="hidden" id="jsrq" th:value="${fjsqDto.jsrq}"/>
		<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
		<div class="alert alert-info" role="alert" style="font-size:16px;">
			类型：<span th:text="${fjsqDto.lxmc}"></span>
		    <input class="btn btn-primary" type="button" style="float: right;" onclick="back_view()" value="返回"/>
		</div>
	</div>
	<table id="recheck_list" class="table table-hover table-bordered table-hidden"></table>
</div>
</body>
</html>