<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>筛选设置</title>
    <script type="text/javascript" src="/js/wechat/statistics/statistics_weekly_jsrq_screencontent.js?v=1"></script>
</head>
<body>
<form id="weeklyStatis_jsrq_screencontent"  action="" method="post" class="form-horizontal sl_all_form" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" id="bdid"  name="bdid" th:value="${bdid}"/>
    <div class="modal-body body-content tab-content">
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="RadioStyle" id="dyxx">
                            <div class="Block PaddingL col-md-2 padding_l0" th:each="list,local:${xxdyDtos}">
                                <input th:id="'yxx_'+${local.index}" th:value="${list.yxx}" th:name="'xxdyDtos['+${local.index}+'].yxx'" type="checkbox"  th:attr="checked=${strlist!=null &&strlist.contains(list.yxx)?true:false}"/>
                                <label th:for="'yxx_'+${local.index}" th:text="${list.yxx}" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:110px;"></label>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12" style=";margin-top: 15px;" th:if="${flag} eq '1'">
                            <span style="color:#000000;font-size:15px">开始时间：</span>
                            <input id="lrsjStart"  style="height:30px;border: 1px solid #ccc;border-radius: 4px;width: 30%" name="lrsjStart" placeholder="示例:2023-04" validate="{required:true}" />

                        </div>
                        <div class="col-md-10 col-sm-12" style=";margin-top: 15px;" th:if="${flag} eq '1'">
                            <span style="color:#000000;font-size:15px">结束时间：</span>
                            <input id="lrsjEnd"  style="height:30px;border: 1px solid #ccc;border-radius: 4px;width: 30%"  name="lrsjEnd" placeholder="示例:2023-04" validate="{required:true}" />
                            <div>
<!--                        <div class="RadioStyle">-->
<!--                            <div class="Block PaddingL col-md-2 padding_l0 stopchange" th:each="detectionunit,local:${detectionUnitList}" th:if="${detectionunit.scbj=='2' }">-->
<!--                                <input  th:if="${detectionunit.scbj=='2' }" th:id="${detectionunit.csid}" th:value="${detectionunit.csid}" th:name="'jsjcdwDtos['+${local.index}+'].jcdw'" type="checkbox" th:attr="checked=${strlist!=null &&strlist.contains(detectionunit.csid)?true:false}" />-->
<!--                                <label  th:if="${detectionunit.scbj=='2' }" th:for="${detectionunit.csid}" th:text="'(停)'+${detectionunit.csmc}" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:110px;color: lightgray" ></label>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>