<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>送检统计（周报）</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
    <script type="text/javascript" src="/js/wechat/statistics/statistics_weekly_lead_sf_jsrq.js"></script>
    <style type="text/css">
	.titletop{
		position: absolute;
		padding:15px;
		padding-top:22px;
		left:0px;
		top:-5px;
	}
	
	#leadStatis .ocFlag{
		padding-left:22px;
	}
    </style>
</head>
<body>
	<div class="body-content tab-content" id="weekly_Statis_sf_jsrq">
		<input type="hidden" name="jsrqstart" id="jsrqstart" th:value="${sjxxDto.jsrqstart}"/>
		<input type="hidden" name="jsrqend" id="jsrqend" th:value="${sjxxDto.jsrqend}"/>
		<input type="hidden" id="sf" name="sf" th:value="${sjxxDto.sf}">
		<input type="hidden" name="load_flg" id="load_flg" th:value="${load_flg}"/>
		<div class="row" id="all">
			<div class="col-md-12 col-sm-12 col-xs-12 padding_t7">
				<input th:if="${load_flg=='0'}" class="btn btn-primary" type="button" onclick="javascript:window.history.back()" value="返回"/>
				<input th:if="${load_flg=='1'}" class="btn btn-primary" type="button" onclick="weekiy_back()" value="返回"/>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span th:text="'实验标本数信息('+${sjxxDto.sfmc}+')'"></span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj1q" class="tj1 ocFlag pull-right " title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj1m" class="tj1 ocFlag pull-right" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj1w" class="tj1 ocFlag pull-right" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"></i></span></a>
						<a href="javascript:void(0);" id="tj1d" class="tj1 ocFlag pull-right bechoosed" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;margin-left:30%;">D</i></span></a>
					</div> 
				</div>  
			 	 <div id="echarts_week_lead_sfybqk" style="height: 300px;">
			 	 </div>
			</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;" th:text="'实验测试数信息('+${sjxxDto.sfmc}+')'"></span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj2q" class="tj1 ocFlag pull-right"  title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj2m" class="tj1 ocFlag pull-right"  title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj2w" class="tj1 ocFlag pull-right"  title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" ></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" ></i></span></a>
						<a href="javascript:void(0);" id="tj2d" class="tj1 ocFlag pull-right bechoosed" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="margin-left:30%;color: #20dbfd;text-shadow: 0 0 25px #00d8ff;">D</i></span></a>
					</div> 
				</div> 
				
				<div id="echarts_week_lead_sfcss" style="height:300px;"></div>
	 		</div>
	 		<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;" th:text="'实验收费测试数信息('+${sjxxDto.sfmc}+')'">实验收费测试数</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj3q" class="tj1 ocFlag pull-right"  title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj3m" class="tj1 ocFlag pull-right"  title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj3w" class="tj1 ocFlag pull-right"  title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" ></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" ></i></span></a>
						<a href="javascript:void(0);" id="tj3d" class="tj1 ocFlag pull-right bechoosed" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="margin-left:30%;color: #20dbfd;text-shadow: 0 0 25px #00d8ff;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_sfsfcss" style="height:300px;"></div>
	 		</div>
		</div>
	</div>
</body>

</html>