<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>实验室统计</title>
    <script type="text/javascript" src="/js/wechat/statistics/statistics_laboratory.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wechat/statistics/statistics_laboratory.css"/>
</head>
<body class="statistics_laboratory_body">
<div id="statistics_laboratory" style="height: 100%">
    <div class="statistics_laboratory_background">
        <!--header-->
        <div class="statistics_laboratory_header">
            <div class="statistics_laboratory_bg_header">
                <div class="statistics_laboratory_title">
                    日检测总结报告
                </div>
            </div>
        </div>
        <!--main-->
        <div class="statistics_laboratory_data_content">
            <div class="statistics_laboratory_data_time">
                温馨提示: 点击模块后跳转至详情页面。
            </div>
            <div class="statistics_laboratory_data_main">
                <div class="statistics_laboratory_main_left statistics_laboratory_fl">
                    <!--综述-->
                    <div class="left_1">
                        <!--左上边框-->
                        <div class="t_line_box">
                            <i class="t_l_line"></i>
                            <i class="l_t_line"></i>
                        </div>
                        <!--右上边框-->
                        <div class="t_line_box">
                            <i class="t_r_line"></i>
                            <i class="r_t_line"></i>
                        </div>
                        <!--左下边框-->
                        <div class="t_line_box">
                            <i class="l_b_line"></i>
                            <i class="b_l_line"></i>
                        </div>
                        <!--右下边框-->
                        <div class="t_line_box">
                            <i class="r_b_line"></i>
                            <i class="b_r_line"></i>
                        </div>
                        <div class="statistics_laboratory_main_title">
                            <img src="/images/statistics_laboratory/t_7.png">
                            综述
                        </div>
                        <div class="statistics_laboratory_main_table" style="padding: 10px">
                            <div class="col-md-4 col-sm-4"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                <div class="col-md-9 col-sm-9" style="text-align:left;padding:0;">上机芯片数：</div>
                                <div class="col-md-3 col-sm-3" style="text-align:center;padding:0;color:#ffffff;">14
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                <div class="col-md-9 col-sm-9" style="text-align:left;padding:0;">临床标本文库数：</div>
                                <div class="col-md-3 col-sm-3" style="text-align:center;padding:0;color:#ffffff;">228
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                <div class="col-md-9 col-sm-9" style="text-align:left;padding:0;">质控文库数：</div>
                                <div class="col-md-3 col-sm-3" style="text-align:center;padding:0;color:#ffffff;">48
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                <div class="col-md-9 col-sm-9" style="text-align:left;padding:0;">发送报告文库：</div>
                                <div class="col-md-3 col-sm-3" style="text-align:center;padding:0;color:#ffffff;">206
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                <div class="col-md-9 col-sm-9" style="text-align:left;padding:0;">未发送报告文库：</div>
                                <div class="col-md-3 col-sm-3" style="text-align:center;padding:0;color:#ffffff;">8
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                <div class="col-md-9 col-sm-9" style="text-align:left;padding:0;">开机实验数：</div>
                                <div class="col-md-3 col-sm-3" style="text-align:center;padding:0;color:#ffffff;">12
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5" style="margin-top:10px;text-align:left;padding:0;">
                                <div class="col-md-6 col-sm-6"
                                     style="text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                    复测文库：<span style="color:#ffffff;">10</span></div>
                                <div class="col-md-6 col-sm-6"
                                     style="text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                    复测率：<span style="color:#ffffff;">4.67%</span></div>
                            </div>
                            <div class="col-md-7 col-sm-7" style="margin-top:10px;text-align:left;padding:0;">
                                <div class="col-md-6 col-sm-6"
                                     style="text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                    报告发送率：<span style="color:#ffffff;">96.26%</span></div>
                                <div class="col-md-6 col-sm-6"
                                     style="text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                    报告准确率：<span style="color:#ffffff;">90.19%</span></div>
                            </div>
                            <div class="col-md-12 col-sm-12"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                注1：
                                <span style="color:#ffffff;">6例胸水同步去人源，7例VIP标本按VIP流程，1例科研</span>
                            </div>
                            <div class="col-md-12 col-sm-12"
                                 style="margin-top:10px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                注2：
                                <span style="color:#ffffff;">广检3凌晨1点发现测序中断，3：00左右重新上机，导致下机时间晚，另报告发送时系统出现问题，又延迟了报告发送时间约30min左右，影响13个文库报告的准时交付</span>
                            </div>
                        </div>
                    </div>
                    <!--复测文库-->
                    <div class="left_2">
                        <!--左上边框-->
                        <div class="t_line_box">
                            <i class="t_l_line"></i>
                            <i class="l_t_line"></i>
                        </div>
                        <!--右上边框-->
                        <div class="t_line_box">
                            <i class="t_r_line"></i>
                            <i class="r_t_line"></i>
                        </div>
                        <!--左下边框-->
                        <div class="t_line_box">
                            <i class="l_b_line"></i>
                            <i class="b_l_line"></i>
                        </div>
                        <!--右下边框-->
                        <div class="t_line_box">
                            <i class="r_b_line"></i>
                            <i class="b_r_line"></i>
                        </div>
                        <div class="statistics_laboratory_main_title">
                            <img src="/images/statistics_laboratory/t_4.png" alt="">
                            复测文库
                        </div>
                        <div class="statistics_laboratory_main_table">
                            <div style="height: 230px; overflow-y:scroll">
                                <!--<div class="scroll statistics_laboratory_scroll"> 自动滚动-->
                                    <div class="scroll">
                                    <div th:each="fcwkDto:${fcwkList}">
                                        <div th:if="${fcwkDto.yy != null && fcwkDto.yy != ''}" class="col-md-12 col-sm-12" style="margin-top:5px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                            <div class="col-md-3 col-sm-3" style="padding-right: 0" th:text="${fcwkDto.ybbh}"></div>
                                            <div class="col-md-9 col-sm-9" style="color:#ffffff;">（<span th:text="${fcwkDto.yy}"/>）</div>
                                        </div>
                                        <div th:if="${fcwkDto.yy == null || fcwkDto.yy == ''}" class="col-md-12 col-sm-12" style="margin-top:5px;text-align:left;padding:0;font-size: 18px;font-weight: 400;color:#ff0000;">
                                            <div class="col-md-3 col-sm-3" style="padding-right: 0" th:text="${fcwkDto.ybbh}"></div>
                                            <div class="col-md-9 col-sm-9">（<span th:text="未知原因"/>）</div>
                                        </div>
                                    </div>
                                    <div style="margin-top:5px;text-align:center;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                        <p>--------------没有更多--------------</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--实验室列表-->
                <div class="statistics_laboratory_main_center statistics_laboratory_fl">
                    <div class="statistics_laboratory_center_text">
                        <!--左上边框-->
                        <div class="t_line_box">
                            <i class="t_l_line"></i>
                            <i class="l_t_line"></i>
                        </div>
                        <!--右上边框-->
                        <div class="t_line_box">
                            <i class="t_r_line"></i>
                            <i class="r_t_line"></i>
                        </div>
                        <!--左下边框-->
                        <div class="t_line_box">
                            <i class="l_b_line"></i>
                            <i class="b_l_line"></i>
                        </div>
                        <!--右下边框-->
                        <div class="t_line_box">
                            <i class="r_b_line"></i>
                            <i class="b_r_line"></i>
                        </div>
                        <div class="statistics_laboratory_main_title">
                            <div class="dropdown">
                                <div id="dropdownMenu" data-bs-toggle="dropdown">
                                    <img src="/images/statistics_laboratory/t_3.png" alt="">
                                    <span id="syslb">实验室列表</span>
                                </div>
                            </div>
                        </div>
                        <div class="statistics_laboratory_main_table">
                            <div style="height: 560px;overflow-y:scroll">
                                <div class="scroll" style="padding: 10px">
                                <!--<div class="scroll statistics_laboratory_scroll" style="padding: 10px"> 自动滚动-->
                                    <div class="col-md-12 col-sm-12 solutit" style="border:1px solid white;border-radius:20px;margin-top:10px;text-align:left;padding:20px;font-size: 18px;font-weight: 400;color:#61d2f7;" th:onclick="getDetailPage([[${jcdwDto.jcdw}]])" th:each="jcdwDto:${jcdwList}" th:id="${jcdwDto.jcdw}">
                                        <div th:text="${jcdwDto.jcdwmc}" style="text-align: center"></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">上级芯片数：<span style="color:#ffffff;">2</span></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">临床标本文库：<span style="color:#ffffff;">52</span></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">质控文库：<span style="color:#ffffff;">8</span></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">发送报告文库：<span style="color:#ffffff;">46</span></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">未发送报告文库：<span style="color:#ffffff;">2</span></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">复测文库：<span style="color:#ffffff;">2</span></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">复测率：<span style="color:#ffffff;">4.17%</span></div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid white;padding: 0">发送报告率：<span style="color:#ffffff;">95.83%</span></div>
                                        <div class="col-md-12 col-sm-12" style="border:1px solid white;padding: 0">报告准时率：<span style="color:#ffffff;">95.83%</span></div>
                                        <div class="col-md-12 col-sm-12" style="font-size: 15px;padding: 0">注：<span style="color:#ffffff;">4例VIP标本按VIP流程</span></div>
                                    </div>
                                    <div style="margin-top:5px;text-align:center;font-size: 18px;font-weight: 400;color:#61d2f7;">
                                        <p>--------------没有更多--------------</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--异常反馈信息-->
            <div class="statistics_laboratory_data_bottom">
                <div class="statistics_laboratory_bottom_center">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                    </div>
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                    </div>
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                    </div>
                    <!--右下边框-->
                    <div class="t_line_box">
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
                    <div class="statistics_laboratory_main_title">
                        <img src="/images/statistics_laboratory/t_1.png" alt="">
                        异常反馈
                    </div>
                    <div class="banner">
                        <ul>
                            <li>
                                <div class="statistics_laboratory_main_table" style="padding: 10px">
                                    <div class="col-md-12 col-sm-12" style="font-size: 15px;font-weight: 550;color:#f76161;">
                                        痰液DNA文库接头比例过高，导致有效数据量低；同时IC类型检出不对，实验室确认未加错（标本中只有一个痰液类型，所以清晰记得）
                                    </div>
                                    <div class="col-md-12 col-sm-12" style="font-size: 15px;font-weight: 550;color:#61d2f7;">
                                        MDL001-16C2132009T-DNA-A11-20210803
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <div class="col-md-12 col-sm-12" style="font-size: 20px;font-weight: 400;color:#ffffff;">
                                            Sample Info：
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Name：
                                            <span style="color: #ffffff;">拜合提亚尔艾斯卡尔</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sex：
                                            <span style="color: #ffffff;">男</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Age：
                                            <span style="color: #ffffff;">1.5个月</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Tel：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Hospital：
                                            <span style="color: #ffffff;">乌鲁木齐市第一人民医院</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Department：
                                            <span style="color: #ffffff;">ICU</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Doctor：
                                            <span style="color: #ffffff;">古丽米热</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Doctor Tel：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sample Type：
                                            <span style="color: #ffffff;">痰液</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sample Volume：
                                            <span style="color: #ffffff;">3ml</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sample Code：
                                            <span style="color: #ffffff;">AOFKJPCN</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sampling Date：
                                            <span style="color: #ffffff;">2021-08-03</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Previous Test：
                                            <span style="color: #ffffff;">白细胞:7.82*10^9/L,中性粒细胞:71.9%,淋巴细胞:19.5%,血沉:5mm/h,CRP:1.86mg/L,PCT:0.103ng/ml</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Previous Diagnosis：
                                            <span style="color: #ffffff;">惊厥待查，重症肺炎，2型呼吸衰竭</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Test Projects：
                                            <span style="color: #ffffff;">Q-mNGS-DNA+RNA</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Recent Used Medicine：
                                            <span style="color: #ffffff;">美罗培南，普考拉宁</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Symptom：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Detail Symptom：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="col-md-12 col-sm-12" style="font-size: 20px;font-weight: 400;color:#ffffff;">
                                            Analysis Summary：
                                        </div>
                                        <div class="col-md-5 col-sm-5" style="padding: 0;">
                                            <div class="col-md-12 col-sm-12"
                                                 style="font-size: 15px;font-weight: 400;color:#ffffff;">
                                                Reads Distribution：
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Raw Reads:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                1603321
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Total Reads:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                1099001
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Homo:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                27.909%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Bacteria:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.255%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Fungi:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.017%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Viruses:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.000%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Parasite:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.000%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Others:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.173%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Unmapped:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                3.287%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Spike-in:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                68.360%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Spike-in PRM:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                683598.1
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7" style="padding: 0;">
                                            <div style="height: 180px" id="container"></div>
                                            <div class="col-md-2 col-sm-2"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Q20:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                94.54%
                                            </div>
                                            <div class="col-md-4 col-sm-4"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                lib concn:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                2.54 pM
                                            </div>
                                            <div class="col-md-2 col-sm-2"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Q30:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                91.67%
                                            </div>
                                            <div class="col-md-4 col-sm-4"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                nuc concn:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.00 ng/ul
                                            </div>
                                            <div class="col-md-2 col-sm-2"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                GC:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                48.59%
                                            </div>
                                            <div class="col-md-4 col-sm-4"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                adapter:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                31.13%
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Barcode Match:
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                92.55%
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Host index:
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                18047.99(1.70%)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="statistics_laboratory_main_table" style="padding: 10px">
                                    <div class="col-md-12 col-sm-12" style="font-size: 15px;font-weight: 550;color:#f76161;">
                                        123痰液DNA文库接头比例过高，导致有效数据量低；同时IC类型检出不对，实验室确认未加错（标本中只有一个痰液类型，所以清晰记得）
                                    </div>
                                    <div class="col-md-12 col-sm-12" style="font-size: 15px;font-weight: 550;color:#61d2f7;">
                                        MDL001-16C2132009T-DNA-A11-20210803
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col-md-12 col-sm-12" style="font-size: 20px;font-weight: 400;color:#ffffff;">
                                            Sample Info：
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Name：
                                            <span style="color: #ffffff;">拜合提亚尔艾斯卡尔</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sex：
                                            <span style="color: #ffffff;">男</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Age：
                                            <span style="color: #ffffff;">1.5个月</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Tel：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Hospital：
                                            <span style="color: #ffffff;">乌鲁木齐市第一人民医院</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Department：
                                            <span style="color: #ffffff;">ICU</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Doctor：
                                            <span style="color: #ffffff;">古丽米热</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Doctor Tel：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sample Type：
                                            <span style="color: #ffffff;">痰液</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sample Volume：
                                            <span style="color: #ffffff;">3ml</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sample Code：
                                            <span style="color: #ffffff;">AOFKJPCN</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Sampling Date：
                                            <span style="color: #ffffff;">2021-08-03</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Previous Test：
                                            <span style="color: #ffffff;">白细胞:7.82*10^9/L,中性粒细胞:71.9%,淋巴细胞:19.5%,血沉:5mm/h,CRP:1.86mg/L,PCT:0.103ng/ml</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Previous Diagnosis：
                                            <span style="color: #ffffff;">惊厥待查，重症肺炎，2型呼吸衰竭</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Test Projects：
                                            <span style="color: #ffffff;">Q-mNGS-DNA+RNA</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Recent Used Medicine：
                                            <span style="color: #ffffff;">美罗培南，普考拉宁</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Symptom：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="font-size: 15px;font-weight: 400;color:#61d2f7;">
                                            Detail Symptom：
                                            <span style="color: #ffffff;">--</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col-md-12 col-sm-12" style="font-size: 20px;font-weight: 400;color:#ffffff;">
                                            Analysis Summary：
                                        </div>
                                        <div class="col-md-5 col-sm-5" style="padding: 0;">
                                            <div class="col-md-12 col-sm-12"
                                                 style="font-size: 15px;font-weight: 400;color:#ffffff;">
                                                Reads Distribution：
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Raw Reads:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                1603321
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Total Reads:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                1099001
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Homo:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                27.909%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Bacteria:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.255%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Fungi:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.017%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Viruses:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.000%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Parasite:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.000%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Others:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.173%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Unmapped:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                3.287%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Spike-in:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                68.360%
                                            </div>
                                            <div class="col-md-7 col-sm-7"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Spike-in PRM:
                                            </div>
                                            <div class="col-md-5 col-sm-5"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                683598.1
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7" style="padding: 0;">
                                            <div style="height: 180px" id="container2"></div>
                                            <div class="col-md-2 col-sm-2"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Q20:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                94.54%
                                            </div>
                                            <div class="col-md-4 col-sm-4"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                lib concn:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                2.54 pM
                                            </div>
                                            <div class="col-md-2 col-sm-2"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Q30:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                91.67%
                                            </div>
                                            <div class="col-md-4 col-sm-4"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                nuc concn:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                0.00 ng/ul
                                            </div>
                                            <div class="col-md-2 col-sm-2"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                GC:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                48.59%
                                            </div>
                                            <div class="col-md-4 col-sm-4"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                adapter:
                                            </div>
                                            <div class="col-md-3 col-sm-3"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                31.13%
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Barcode Match:
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                92.55%
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#61d2f7;">
                                                Host index:
                                            </div>
                                            <div class="col-md-6 col-sm-6"
                                                 style="text-align:left;padding:0;font-size: 15px;font-weight: 400;color:#ffffff;">
                                                18047.99(1.70%)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="img-btn-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>