<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>送检统计（周报）</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
    <script type="text/javascript" src="/js/wechat/statistics/statistics_weekly_lead_other_jsrq.js"></script>
</head>
<body>
	<div class="body-content tab-content" id="weekly_Statis_other_jsrq">
		<input type="hidden" name="jsrqstart" id="jsrqstart" th:value="${sjxxDto.jsrqstart}"/>
		<input type="hidden" name="jsrqend" id="jsrqend" th:value="${sjxxDto.jsrqend}"/>
		<input type="hidden" name="load_flg" id="load_flg" th:value="${load_flg}"/>
		<input type="hidden" id="sf" name="sf">
		<div class="row" id="all">
			<div class="col-md-12 col-sm-12 col-xs-12 padding_t7">
				<input th:if="${load_flg=='0'}" class="btn btn-primary" type="button" onclick="javascript:window.history.back()" value="返回"/>
				<input th:if="${load_flg=='1'}" class="btn btn-primary" type="button" onclick="weekiy_back()" value="返回"/>
			</div>
			
			<div class="col-md-12 col-sm-12 col-xs-12 padding_t7">
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin-left:5px;">检测单位统计</div>
				<div class="col-md-12 col-sm-12 col-xs-12 padding_t7" >
					<button id="btn_tj_jcdw" name="btn_tj_jcdw" class="btn btn-primary btn-xs info_clear" onclick="toJcdwPage()" style="width:200px;">
						按检测单位统计
					</button>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 padding_t7">
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin-left:5px;">省份统计</div>
				<div class="col-md-3 col-sm-6 col-xs-12 padding_t7" th:each="sfDto:${sfDtos}">
					<button id="'tj_sf_'+${sfDto.sfid}" name="btn_tj_sf" th:text="${sfDto.sfmc} + '(本周测试数:' + ${sfDto.num} + ')'" class="btn btn-primary btn-xs info_clear" th:onclick="chooseSf([[${sfDto.sfid}]])" style="width:200px;text-align:left;">
						
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>