<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>送检统计（周报）</title>
	<script type="text/javascript" src="/js/plugins/echarts/echarts.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/echarts/macarons.js"></script>
    <script type="text/javascript" src="/js/wechat/statistics/statistics_weekly_lead_partner_jsrq.js?v=2023051901"></script>
    <style type="text/css">
	.titletop{
		position: absolute;
		padding:15px;
		padding-top:22px;
		left:0px;
		top:-5px;
	}
	
	#leadStatis .ocFlag{
		padding-left:22px;
	}
    </style>
</head>
<body>
	<div class="body-content tab-content" id="weekly_Statis_partner_jsrq">
		<input type="hidden" name="jsrqstart" id="jsrqstart" th:value="${sjxxDto.jsrqstart}"/>
		<input type="hidden" name="jsrqend" id="jsrqend" th:value="${sjxxDto.jsrqend}"/>
		<input type="hidden" name="hbfl" id="hbfl" th:value="${sjxxDto.hbfl}"/>
		<input type="hidden" name="hbzfl" id="hbzfl" th:value="${sjxxDto.hbzfl}"/>
		<input type="hidden" name="dbhbs" id="dbhbs" th:value="${dbhbs}"/>
		<input type="hidden" name="tldb" id="tldb" th:value="${tldb}"/>
		<input type="hidden" name="tlnum" id="tlnum" th:value="${tlnum}"/>
		<input type="hidden" name="method" id="method" th:value="${method}"/>

		<div class="row" id="all">
			<div class="col-md-12 col-sm-12 col-xs-12 padding_t7">
				<input th:if="${load_flg=='0'}" class="btn btn-primary" type="button" onclick="javascript:window.history.back()" value="返回"/>
				<input th:if="${load_flg=='1'}" class="btn btn-primary" type="button" onclick="weekiy_back()" value="返回"/>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 padding_t7">
				<span style="color:#000000;">总览</span>	
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<div class="col-sm-5 col-sm-5 col-xs-5" style="position: absolute;top:35px;padding-right:5px;padding-left:5px;z-index:99;">
					<div class="form-group">
						<label for="" class="col-sm-4 col-sm-4 col-xs-4 control-label" style="padding-right:2px;padding-left:5px;padding-top:7px;">
							周期
						</label>
						<div class="col-sm-8 col-sm-8 col-xs-8" style="padding:0px;">
							<input type="number" id="zq_hbztj" name="zq" dm="" tjm="hbztj" class="form-control " value="7"/>
	 					</div>
					</div>
				</div> 
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;"> 
					<div id="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" id="tj3q" th:class="'tj1 ocFlag pull-right'+${method == 'getFlByYear'?' bechoosed':''}" method="getAllhbByYear" title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" id="tj3m" th:class="'tj1 ocFlag pull-right'+${method == 'getFlByMon'?' bechoosed':''}" method="getAllhbByMon" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" id="tj3w" th:class="'tj1 ocFlag pull-right'+${method == 'getFlByWeek'?' bechoosed':''}" method="getAllhbByWeek" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw"></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw"></i></span></a>
						<a href="javascript:void(0);" id="tj3d" th:class="'tj1 ocFlag pull-right'+${method == 'getFlByDay'|| method == ''?' bechoosed':''}" method="getAllhbByDay" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw"  style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;margin-left:30%;">D</i></span></a>
					</div> 
				</div> 
				<div id="echarts_week_lead_hbztj" style="height:300px;top:20px;"></div>
	 		</div>
	 		<div th:id="${sjhbxxDto.db}" class="col-md-3 col-sm-6 col-xs-12 padding_t7" th:each="sjhbxxDto:${sjhbxxDtos}" style="height:420px;">
				<span th:text="${sjhbxxDto.db}"></span>
				<img class="titletop" src="/images/censusimages/ksh33.png" style="width:100%;height:50px;">
				<div class="col-sm-5 col-sm-5 col-xs-5" style="position: absolute;top:35px;padding-right:5px;padding-left:5px;z-index:99;">
					<div class="form-group">
						<label for="" class="col-sm-4 col-sm-4 col-xs-4 control-label" style="padding-right:2px;padding-left:5px;padding-top:7px;">
							周期
						</label>
						<div class="col-sm-8 col-sm-8 col-xs-8" style="padding:0px;">
							<input type="number" th:id="'zq_'+${sjhbxxDto.db}" name="zq" th:dm="${sjhbxxDto.db}" tjm="hbtj" class="form-control " value="7"/>
	 					</div>
					</div>
				</div> 
				<!-- 条件选择框 -->
				<div class="desktop_analysisBar" style="position: absolute;top:30px;margin-left:-20px;width:100%;z-index:98;"> 
					<div th:id="'ybxxhead_'+${sjhbxxDto.db}" name="ybxxhead" class="desktop_analysisBar-head" style="margin-left:-1%;width:100%;">
						<a href="javascript:void(0);" th:id="'tj1q_'+${sjhbxxDto.db}" name="tj1q" th:dm="${sjhbxxDto.db}" method="getHbByYear" th:class="'tj1 ocFlag pull-right'+${method == 'getFlByYear'?' bechoosed':''}" title="年" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundq" ></i><i  class="fa fa-yahoo fa-stack-1x roundq"></i></span></a>
						<a href="javascript:void(0);" th:id="'tj1m_'+${sjhbxxDto.db}" name="tj1m" th:dm="${sjhbxxDto.db}" method="getHbByMon"  th:class="'tj1 ocFlag pull-right'+${method == 'getFlByMon'?' bechoosed':''}" title="月" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundm"></i><i  class="fa fa-maxcdn fa-stack-1x roundm"></i></span></a>
						<a href="javascript:void(0);" th:id="'tj1w_'+${sjhbxxDto.db}" name="tj1w" th:dm="${sjhbxxDto.db}" method="getHbByWeek" th:class="'tj1 ocFlag pull-right'+${method == 'getFlByWeek'?' bechoosed':''}" title="周" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundw" ></i><i  class="fa fa-wikipedia-w fa-stack-1x roundw" ></i></span></a>
						<a href="javascript:void(0);" th:id="'tj1d_'+${sjhbxxDto.db}" name="tj1d" th:dm="${sjhbxxDto.db}" method="getHbByDay"  th:class="'tj1 ocFlag pull-right'+${method == 'getFlByDay'|| method == ''?' bechoosed':''}" title="日" ><span class="fa-stack"><i class="fa fa-circle-thin fa-stack-2x roundd" style="color: #20dbfd;text-shadow: 0 0 25px #00d8ff;"></i><i  class=" roundw" style="margin-left:30%;color: #20dbfd;text-shadow: 0 0 25px #00d8ff;">D</i></span></a>
					</div> 
				</div>
				<div th:id="'echarts_week_lead_hbtj_'+${sjhbxxDto.db}" th:dm="${sjhbxxDto.db}" name="echarts_week_lead_hbtj" style="height:300px;top:50px;"></div>
			</div>
		</div>
	</div>
</body>

</html>