<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>送检验证新增</title>
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
	<script type="text/javascript" src="/js/wechat/verification/verification_modSubmit.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css?v=20250110" />
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/api/site.css?v=20250217v2" />
	<style>
		.row{
            display: block ;
        }
        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url('/fonts/glyphicons-halflings-regular.eot');
            src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
        }
        .glyphicon {
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
	</style>
	<style type="text/css">
		th{
		text-align:center;
		}
		td{
			text-align:center;
			width:100%;
		}
		table{
			width:100%;
		}
		.f_button{
			background: white;
			border: 0;
		}
		.f_button:hover{
			border-width: 0px; 
			border-radius: 3px;
			background: #1E90FF;
			cursor: pointer; 
			outline: none;
			font-family: Microsoft YaHei; 
			color: white; 
			font-size: 14px; 
		}
	</style>
</head>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
	<li class="nav-item" >
		<a  class="nav-link active" href="#verifymodmessageTab" role="tab" data-bs-toggle="tab">验证信息</a>
	</li>
	    
    <li class="nav-item" >
        <a  class="nav-link" href="#verifymoddetailsTab" role="tab" data-bs-toggle="tab">验证明细</a>
    </li>
</ul>
<body>
<form id="verifyModAuditForm"  th:action="${formAction}"   class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
	<input type="hidden" name="access_token"/>
	<input type="hidden" name="yzid" id="yzid" th:value="${sjyzDto.yzid}"/>
	<input type="hidden" name="yzjg" id="yzjg"/>
	<input type="hidden" name="sjid" id="sjid" th:value="${sjxxDto.sjid}"/>
	<input type="hidden" name="ywlx" id =ywlx th:value="${sjyzDto.ywlx}"/>
	<input type="hidden" name="fjids" id ="fjids"/>
	<input type="hidden" name="url" id="url" th:value="${url}"/>
	<input type="hidden" id ="auditType" name="auditType"  th:value="${sjyzDto.auditType}">
	<input type="hidden" id ="sj" name="sj"  th:value="${sjyzDto.sjph}">
	<input type="hidden" id ="yw" name="yw"  th:value="${sjyzDto.ywbh}">
	<div class="body-content tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="verifymodmessageTab" aria-labelledby="profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									标本编号
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span th:text="${sjxxDto.ybbh}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									内部编码
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span th:text="${sjxxDto.nbbm}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									患者姓名
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span th:text="${sjxxDto.hzxm}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span id="nl" th:text="${sjxxDto.nl}" />
									<span id="nldw" th:text="${sjxxDto.nldw}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span id="xbmc" th:text="${sjxxDto.xbmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									医院名称
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span id="sjdw" th:text="${sjxxDto.yymc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span th:text="${sjxxDto.ksmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									合作伙伴
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px">
									<span id="db" th:text="${sjxxDto.db}" />
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="" class="col-md-2 col-sm-4 col-xs-4 control-label">
									检测项目:
								</label>
								<div class="col-md-10 col-sm-8 col-xs-8 padding_t7">
									<span th:text="${sjyzDto.jcxmmc}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									检测结果
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  padding_t6" style="padding-top: 3px">
									<span th:text="${sjyzDto.jcjg}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									疑似结果
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  padding_t6" style="padding-top: 3px">
									<span th:text="${sjyzDto.ysjg}" />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									标本类型
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  padding_t6" style="padding-top: 3px">
									<span th:text="${sjxxDto.yblxmc}" />
								</div>
							</div>
						</div> 
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									上&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  padding_t6" style="padding-top: 3px">
									<span th:text="${sjxxDto.sfsc == '1'?'是':'否'}" />
								</div>
							</div>
						</div>
						<div th:if="${btnFlg eq 'default'}" class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									<span style="color: red;">*</span>检测单位
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  padding_t6" >
									<select id="jcdw" name="jcdw" style="height: 25px"  class="form-control chosen-select"  validate="{required:true}">
										<option  value="">--请选择--</option>
			                        	<option  th:if="${detectionList !=null && detectionList.size() > 0}" th:each="list:${detectionList}" th:value="${list.csid}"  th:text="${list.csmc}" th:selected="${sjyzDto.jcdw eq list.csid}" ></option>
			 						</select>
								</div>
							</div> 
						</div>
						<div th:if="${btnFlg eq 'audit'}" class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									<span style="color: red;">*</span>检测单位
								</label>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  padding_t6" style="padding-right: 0px">
									<select id="jcdw" name="jcdw"  style="height: 25px" class="form-control chosen-select"  validate="{required:true}">
										<option  value="">--请选择--</option>
			                        	<option  th:if="${detectionList !=null && detectionList.size() > 0}" th:each="list:${detectionList}" th:value="${list.csid}"  th:text="${list.csmc}" th:selected="${sjyzDto.jcdw eq list.csid}" ></option>
			 						</select>
								</div>
								<div class="col-sm-2 col-xs-2" style="padding-top:0px;padding-left: 0px;">
									<button id="modifBtn" style="height: 27px ;white-space:nowrap;padding: 1px 5px;border: 1px solid transparent;border-radius: 4px;" type="button" class="btn-info" onclick="modifJcdw()">修改</button>
								</div>
							</div> 
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									试剂批号
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6"  th:if="${sjxsbj=='0'}">
									<input type="text" id="sjph" style="height: 25px" name="sjph" th:value="${sjyzDto.sjph}" class="form-control" />
								</div>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6"  th:if="${sjxsbj=='1'}">
									<input type="text" id="sjph" style="height: 25px" name="sjph" th:placeholder="${sjyzDto.sjph}" class="form-control" onclick="sjphlr()"/>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									引物编号
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px" th:if="${ywxsbj=='0'}">
									<input type="text" id="ywbh" name="ywbh" th:value="${sjyzDto.ywbh}" class="form-control" />
								</div>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" style="padding-top: 3px" th:if="${ywxsbj=='1'}">
									<input type="text" id="ywbh" name="ywbh" th:placeholder="${sjyzDto.ywbh}" class="form-control" onclick="ywbhlr()"/>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									验证类别
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6">
									<select id="yzlb" name="yzlb" style="height: 25px"  class="form-control chosen-select" onchange="modYzjgtable()">
										<option  value="">--请选择--</option>
			                        	<option  th:if="${verificationList !=null && verificationList.size() > 0}" th:each="list:${verificationList}" th:value="${list.csid}"  th:text="${list.csmc}" th:selected="${sjyzDto.yzlb eq list.csid}" ></option>
			 						</select>
								</div>
							</div> 
						</div> 
<!--						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">-->
<!--							<div class="form-group" >-->
<!--								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">-->
<!--									验证结果-->
<!--								</label>-->
<!--								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">-->
<!--									<select id="yzjg" name="yzjg" class="form-control chosen-select" >-->
<!--										<option  value="">&#45;&#45;请选择&#45;&#45;</option>-->
<!--			                        	<option  th:if="${verificationresultList !=null && verificationresultList.size() > 0}" th:each="list:${verificationresultList}" th:value="${list.csid}"  th:text="${list.csmc}" th:selected="${sjyzDto.yzjg eq list.csid}" ></option>-->
<!--			 						</select>-->
<!--								</div>-->
<!--							</div> -->
<!--						</div>-->
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									<span style="color: red;">客户通知</span>
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6" id="khtzDiv">
									<select id="khtz" name="khtz" style="height: 25px"  class="form-control chosen-select" >
										<option  value="">--请选择--</option>
			                        	<option  th:if="${clientnoticeList !=null && clientnoticeList.size() > 0}" th:each="list:${clientnoticeList}"  th:value="${list.csid}" th:csdm="${list.csdm}"  th:text="${list.csmc}" th:selected="${sjyzDto.khtz eq list.csid}" ></option>
			 						</select>
								</div>
							</div> 
						</div>
						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t6">
									<select id="qf" name="qf" style="height: 25px"  class="form-control chosen-select" >
										<option  value="">--请选择--</option>
			                        	<option  th:if="${distinguishList !=null && distinguishList.size() > 0}" th:each="list:${distinguishList}" th:value="${list.csid}" th:csdm="${list.csdm}"  th:text="${list.csmc}" th:selected="${sjyzDto.qf eq list.csid}" ></option>
			 						</select>
								</div>
							</div> 
						</div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
				        	<div class="form-group">
				    			<div id="fjcfbDto" th:if="${fjcfbDtos != null && fjcfbDtos.size() >0}" th:each="fjcfbDto:${fjcfbDtos}">
				    				<div th:id="${fjcfbDto.fjid}" >
				    					<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label" th:if="${fjcfbDtoStat.index == 0}">附&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</label>
				    					<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
					    				<div class="col-xs-8 col-sm-8 col-md-10  col-lg-10">
					    					<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
					    					<button style="outline:none;margin-bottom:5px;padding:0px;" class="btn btn-link" type="button" title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
						    					<span th:text="${fjcfbDto.wjm}"></span>
						    					<span class="glyphicon glyphicon glyphicon-save"></span>
					    					</button>&nbsp;&nbsp;
					    					<button title="删除" class="f_button" type="button">
					    						<span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjlj}]]);"></span>
					    					</button>&nbsp;&nbsp;
					    					<button title="预览" class="f_button" type="button">
					    						<span  class="glyphicon glyphicon-eye-open" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]]);"></span>
					    					</button>
					    				</div>
					    			</div>
				    			</div>
				   			</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label">
									附件上传
								</label>
								<div class="col-xs-8 col-sm-8 col-md-10  col-lg-10" style="line-height:28px;">
									<a href="javascript:void(0);" onclick="editfile()" id="file_btn" style="display:inline-block;width:100%;;border:1px solid #CCCCCC;border-radius:3px;">
				            			<span  id="fileclick" title="点击上传"  style="display:inline-block;width:100%;color:#A6A6A6;font-size:12px;padding-left:10px;">点击展开上传文件</span>
				            		</a>
									<span style="color: red;font-size:10px;">上传附件时若需要加后缀，请将加后缀的内部编码录在"样本编号"(例:将A01D00001L-0101放在标题为"样本编号"那列下),将正常的内部编码录在"样本名称"(例:将A01D00001L放在标题为"样本名称"那列下)</span>
				            		<div id="fileDiv" style="display:none;">
										<input id="pro_file" name="pro_file" type="file">
										<button class="btn btn-default" type="button" style="position:relative;margin-top:-8%;margin-left:77%; width:23%;" onclick="cancelfile()">隐藏</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12" id="confirmdiv" style="display: none;">
							<div class="form-group" >
								<div class="col-xs-12  col-sm-12  col-md-12  col-lg-12  padding_t7" id="confirmmsg" style="overflow-y:auto;overflow-x:auto;text-align: center;">
									
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
							<div class="form-group" >
								<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label">
									备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
								</label>
								<div class="col-xs-8 col-sm-8 col-md-10  col-lg-10 padding_t7">
									<textarea id="bz" name="bz" rows="3"  th:text="${sjyzDto.bz}" style="height:60px;" validate="{stringMaxLength:512}" class="form-control"></textarea>
									<div class="col-sm-2 col-xs-2" style="padding-top:0px;padding-left: 0px;">
										<button id="modifBtn" style="height: 27px;white-space:nowrap;padding: 1px 5px;border: 1px solid transparent;border-radius: 4px;" type="button" class="btn-info" onclick="modBz()">修改</button>
									</div>
								</div>
							</div> 
						</div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12" id="yzjgtable"></div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12" style="padding-top: 20px" id="historytable"></div>

						<div class="col-xs-12 col-sm-12  col-md-6  col-lg-6">
							<div class="form-group">
								<label for="" class="col-xs-4 col-sm-4 col-md-4  col-lg-4 control-label">
									历史附件
								</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_t7">
									<div id="show" onclick='showTable()' style="display:block">
										<a href='javascript:void(0);'>点击展开</a>
									</div>
									<div id="hide" onclick='hideTable()' style="display:none">
										<a href='javascript:void(0);'>点击隐藏</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
							<div class="form-group">
								<div id="fjcfbDto2" th:if="${fjcfbDtos2 != null && fjcfbDtos2.size() >0}" th:each="fjcfbDto:${fjcfbDtos2}">
									<div th:id="${fjcfbDto.fjid}" >
										<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label" th:if="${fjcfbDtoStat.index == 0}"></label>
										<label for="" class="col-xs-4 col-sm-4 col-md-2  col-lg-2 control-label" th:if="${fjcfbDtoStat.index > 0}"></label>
										<div class="col-xs-8 col-sm-8 col-md-10  col-lg-10">
											<label for="" th:text="${fjcfbDtoStat.index+1}+."></label>
											<button style="outline:none;margin-bottom:5px;padding:0px;" class="btn btn-link" type="button" title="下载" th:onclick="xz([[${fjcfbDto.fjid}]]);" >
												<span th:text="${fjcfbDto.wjm}"></span>
												<span class="glyphicon glyphicon glyphicon-save"></span>
											</button>&nbsp;&nbsp;
											<button title="删除" class="f_button" type="button">
												<span class="glyphicon glyphicon-remove" th:onclick="del([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjlj}]]);"></span>
											</button>&nbsp;&nbsp;
											<button title="预览" class="f_button" type="button">
												<span  class="glyphicon glyphicon-eye-open" th:onclick="view([[${fjcfbDto.fjid}]],[[${fjcfbDto.wjm}]]);"></span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="verifymoddetailsTab" aria-labelledby="profile-tab">
 			<div class="panel panel-default">
		    	<div class="panel-body">
					<table class="table table-hover table-bordered table-hidden" style="table-layout: fixed;">
						<thead>
						<tr>
<!--							<th style="text-align:center;width:35%;">编号</th>-->
							<th style="padding: 0px;text-align:center;width:35%;">验证结果</th>
<!--							<th style="padding: 0px;text-align:center;width:16%;">基因</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">CT1</th>
							<th style="padding: 0px;text-align:center;width:15%;">备注1</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">CT2</th>
							<th style="padding: 0px;text-align:center;width:15%;">备注2</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
<!--							<th style="text-align:center;width:15%;">CT3</th>-->
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">NT1</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">NT2</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
<!--							<th style="text-align:center;width:15%;">NCT3</th>-->
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">PT1</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">PT2</th>
							<th style="padding: 0px;text-align:center;width:25%;">时间</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
<!--							<th style="text-align:center;width:15%;">PCT3</th>-->
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
						</tr>
						</thead>
						<tbody>
						<tr th:each="sjyzDto:${yzmxlist}" th:if="${sjyzDto.scbj eq '0'}">
<!--							<td th:text="${sjyzDto.bh}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<td th:text="${sjyzDto.yzjgmc}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;white-space: pre"></td>
<!--							<td th:text="${sjyzDto.mbjy}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<td th:text="${sjyzDto.ct1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<td th:text="${sjyzDto.bz1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz11!=null?sjyzDto.fz11:'　')+'/'+(sjyzDto.tm11!=null?sjyzDto.tm11:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz12!=null?sjyzDto.fz12:'　')+'/'+(sjyzDto.tm12!=null?sjyzDto.tm12:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz13!=null?sjyzDto.fz13:'　')+'/'+(sjyzDto.tm13!=null?sjyzDto.tm13:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.ct2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<td th:text="${sjyzDto.bz2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz21!=null?sjyzDto.fz21:'　')+'/'+(sjyzDto.tm21!=null?sjyzDto.tm21:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz22!=null?sjyzDto.fz22:'　')+'/'+(sjyzDto.tm22!=null?sjyzDto.tm22:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz23!=null?sjyzDto.fz23:'　')+'/'+(sjyzDto.tm23!=null?sjyzDto.tm23:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
<!--							<td th:text="${sjyzDto.ct3}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz31!=null?sjyzDto.fz31:'　')+'/'+(sjyzDto.tm31!=null?sjyzDto.tm31:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz32!=null?sjyzDto.fz32:'　')+'/'+(sjyzDto.tm32!=null?sjyzDto.tm32:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz33!=null?sjyzDto.fz33:'　')+'/'+(sjyzDto.tm33!=null?sjyzDto.tm33:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.nct1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz11!=null?sjyzDto.nfz11:'　')+'/'+(sjyzDto.ntm11!=null?sjyzDto.ntm11:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz12!=null?sjyzDto.nfz12:'　')+'/'+(sjyzDto.ntm12!=null?sjyzDto.ntm12:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz13!=null?sjyzDto.nfz13:'　')+'/'+(sjyzDto.ntm13!=null?sjyzDto.ntm13:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.nct2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz21!=null?sjyzDto.nfz21:'　')+'/'+(sjyzDto.ntm21!=null?sjyzDto.ntm21:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz22!=null?sjyzDto.nfz22:'　')+'/'+(sjyzDto.ntm22!=null?sjyzDto.ntm22:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz23!=null?sjyzDto.nfz23:'　')+'/'+(sjyzDto.ntm23!=null?sjyzDto.ntm23:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
<!--							<td th:text="${sjyzDto.nct3}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz31!=null?sjyzDto.nfz31:'　')+'/'+(sjyzDto.ntm31!=null?sjyzDto.ntm31:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz32!=null?sjyzDto.nfz32:'　')+'/'+(sjyzDto.ntm32!=null?sjyzDto.ntm32:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz33!=null?sjyzDto.nfz33:'　')+'/'+(sjyzDto.ntm33!=null?sjyzDto.ntm33:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.pct1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz11!=null?sjyzDto.pfz11:'　')+'/'+(sjyzDto.ptm11!=null?sjyzDto.ptm11:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz12!=null?sjyzDto.pfz12:'　')+'/'+(sjyzDto.ptm12!=null?sjyzDto.ptm12:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz13!=null?sjyzDto.pfz13:'　')+'/'+(sjyzDto.ptm13!=null?sjyzDto.ptm13:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.pct2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<td th:text="${sjyzDto.lrsj}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz21!=null?sjyzDto.pfz21:'　')+'/'+(sjyzDto.ptm21!=null?sjyzDto.ptm21:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz22!=null?sjyzDto.pfz22:'　')+'/'+(sjyzDto.ptm22!=null?sjyzDto.ptm22:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz23!=null?sjyzDto.pfz23:'　')+'/'+(sjyzDto.ptm23!=null?sjyzDto.ptm23:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
<!--							<td th:text="${sjyzDto.pct3}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz31!=null?sjyzDto.pfz31:'　')+'/'+(sjyzDto.ptm31!=null?sjyzDto.ptm31:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz32!=null?sjyzDto.pfz32:'　')+'/'+(sjyzDto.ptm32!=null?sjyzDto.ptm32:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz33!=null?sjyzDto.pfz33:'　')+'/'+(sjyzDto.ptm33!=null?sjyzDto.ptm33:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->

						</tr>
						</tbody>
					</table>
					<h6>历史记录</h6>
					<table class="table table-hover table-bordered table-hidden" style="table-layout: fixed;">
						<thead>
						<tr>
							<!--							<th style="text-align:center;width:35%;">编号</th>-->
							<th style="padding: 0px;text-align:center;width:35%;">验证结果</th>
<!--							<th style="padding: 0px;text-align:center;width:16%;">基因</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">CT1</th>
							<th style="padding: 0px;text-align:center;width:15%;">备注1</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">CT2</th>
							<th style="padding: 0px;text-align:center;width:15%;">备注2</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<!--							<th style="text-align:center;width:15%;">CT3</th>-->
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">NT1</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">NT2</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<!--							<th style="text-align:center;width:15%;">NCT3</th>-->
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">PT1</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<th style="padding: 0px;text-align:center;width:15%;">PT2</th>
							<th style="padding: 0px;text-align:center;width:25%;">时间</th>
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
							<!--							<th style="text-align:center;width:15%;">PCT3</th>-->
							<!--							<th style="text-align:center;width:35%;">峰值/TM</th>-->
						</tr>
						</thead>
						<tbody>
						<tr th:each="sjyzDto:${yzmxlist}" th:if="${sjyzDto.scbj eq '1'}">
							<!--							<td th:text="${sjyzDto.bh}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<td th:text="${sjyzDto.yzjgmc}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
<!--							<td th:text="${sjyzDto.mbjy}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<td th:text="${sjyzDto.ct1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<td th:text="${sjyzDto.bz1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz11!=null?sjyzDto.fz11:'　')+'/'+(sjyzDto.tm11!=null?sjyzDto.tm11:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz12!=null?sjyzDto.fz12:'　')+'/'+(sjyzDto.tm12!=null?sjyzDto.tm12:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz13!=null?sjyzDto.fz13:'　')+'/'+(sjyzDto.tm13!=null?sjyzDto.tm13:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.ct2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<td th:text="${sjyzDto.bz2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz21!=null?sjyzDto.fz21:'　')+'/'+(sjyzDto.tm21!=null?sjyzDto.tm21:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz22!=null?sjyzDto.fz22:'　')+'/'+(sjyzDto.tm22!=null?sjyzDto.tm22:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz23!=null?sjyzDto.fz23:'　')+'/'+(sjyzDto.tm23!=null?sjyzDto.tm23:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<!--							<td th:text="${sjyzDto.ct3}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz31!=null?sjyzDto.fz31:'　')+'/'+(sjyzDto.tm31!=null?sjyzDto.tm31:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz32!=null?sjyzDto.fz32:'　')+'/'+(sjyzDto.tm32!=null?sjyzDto.tm32:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.fz33!=null?sjyzDto.fz33:'　')+'/'+(sjyzDto.tm33!=null?sjyzDto.tm33:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.nct1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz11!=null?sjyzDto.nfz11:'　')+'/'+(sjyzDto.ntm11!=null?sjyzDto.ntm11:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz12!=null?sjyzDto.nfz12:'　')+'/'+(sjyzDto.ntm12!=null?sjyzDto.ntm12:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz13!=null?sjyzDto.nfz13:'　')+'/'+(sjyzDto.ntm13!=null?sjyzDto.ntm13:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.nct2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz21!=null?sjyzDto.nfz21:'　')+'/'+(sjyzDto.ntm21!=null?sjyzDto.ntm21:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz22!=null?sjyzDto.nfz22:'　')+'/'+(sjyzDto.ntm22!=null?sjyzDto.ntm22:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz23!=null?sjyzDto.nfz23:'　')+'/'+(sjyzDto.ntm23!=null?sjyzDto.ntm23:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<!--							<td th:text="${sjyzDto.nct3}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz31!=null?sjyzDto.nfz31:'　')+'/'+(sjyzDto.ntm31!=null?sjyzDto.ntm31:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz32!=null?sjyzDto.nfz32:'　')+'/'+(sjyzDto.ntm32!=null?sjyzDto.ntm32:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.nfz33!=null?sjyzDto.nfz33:'　')+'/'+(sjyzDto.ntm33!=null?sjyzDto.ntm33:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.pct1}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz11!=null?sjyzDto.pfz11:'　')+'/'+(sjyzDto.ptm11!=null?sjyzDto.ptm11:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz12!=null?sjyzDto.pfz12:'　')+'/'+(sjyzDto.ptm12!=null?sjyzDto.ptm12:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz13!=null?sjyzDto.pfz13:'　')+'/'+(sjyzDto.ptm13!=null?sjyzDto.ptm13:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<td th:text="${sjyzDto.pct2}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<td th:text="${sjyzDto.lrsj}" style="padding: 0px;line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz21!=null?sjyzDto.pfz21:'　')+'/'+(sjyzDto.ptm21!=null?sjyzDto.ptm21:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz22!=null?sjyzDto.pfz22:'　')+'/'+(sjyzDto.ptm22!=null?sjyzDto.ptm22:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz23!=null?sjyzDto.pfz23:'　')+'/'+(sjyzDto.ptm23!=null?sjyzDto.ptm23:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->
							<!--							<td th:text="${sjyzDto.pct3}" style="line-height:450%;white-space: nowrap;text-overflow: clip;overflow: hidden;"></td>-->
							<!--							<td>-->
							<!--								<table>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz31!=null?sjyzDto.pfz31:'　')+'/'+(sjyzDto.ptm31!=null?sjyzDto.ptm31:'　')}"></td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz32!=null?sjyzDto.pfz32:'　')+'/'+(sjyzDto.ptm32!=null?sjyzDto.ptm32:'　')}">峰值2/TM2</td>-->
							<!--									</tr>-->
							<!--									<tr>-->
							<!--										<td th:text="${(sjyzDto.pfz33!=null?sjyzDto.pfz33:'　')+'/'+(sjyzDto.ptm33!=null?sjyzDto.ptm33:'　')}">峰值3/TM3</td>-->
							<!--									</tr>-->
							<!--								</table>-->
							<!--							</td>-->

						</tr>
						</tbody>
					</table>
		        </div>
	       </div>
		</div>
	</div>
</form>
</body>
</html>