<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/js/wechat/verification/verification_pcr.js" charset="utf-8"></script>
<style type="text/css">
 .li{
 	margin-bottom:15px ! important;
 	padding-top: 7px;
    text-align: left;
 }
 .liem{
 	padding-left:0px;
 }
 .liek{
 	padding-left:0px;
 	padding-right:0px;
 }
 .liek input{
 	padding:6px 3px;
 }
 [name='nbbm'] {
	 font-size: 12px;
 }
</style>
</head>
<body>
	<form id="dockingPCRYz_Form" action="/verification/verification/pcrdockingfileSavePcr" class="form-horizontal sl_all_form"  method="post" theme="simple" data-bs-toggle="validation">
		<input type="hidden" name="access_token"/>
		<input type="hidden" id="nbbms" name="nbbms">
		<input type="hidden" id="xhs" name="xhs">
		<input type="hidden" id="sfbc" name="sfbc">
		<input type="hidden" id="ids" name="ids" th:value="${sjyzDto.ids}"/>
		<div class="body-content tab-content" style="height:500px;">	

			<div class="col-sm-12 col-md-12 col-xs-12 panel panel-default" >
                <!-- 仪器型号-->
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">
						   <span style="color: red;">*</span> 仪器型号ID：
						</label>
						<div class="col-sm-8 col-xs-12">
							 <select id="machineId" name="machineId"   th:value="${sjyzDto.machineId}"  class="form-control chosen-select" style="height:34px"  validate="{required:true}">
								<option  value="">--请选择--</option>
								<option  th:each="list:${machineIdList}" th:value="${list.csdm}" th:text="${list.csmc}" th:selected="${sjyzDto.machineId eq list.csdm}" validate="{required:true}" ></option>
							 </select>
						</div>
					</div>
				</div>
				<!-- FTP路径-->
<!--				<div class="col-md-12 col-sm-12">-->
<!--					<div class="form-group">-->
<!--						<label for="" class="col-sm-4 control-label">-->
<!--							<span style="color: red;">*</span> FTP路径：-->
<!--						</label>-->
<!--						<div class="col-sm-8 col-xs-12">-->
<!--							<input type="text" id="srlj" name="srlj" th:value="${sjyzDto.srlj}" validate="{required:true,stringMaxLength:30}" class="form-control" style="height: 30px;" placeholder="目录路径格式：/用户名/部门"/>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

				<div class="row" id="wkmxxx">
					<div id="ywl1" class="col-md-1 col-sm-1">
						<ul >
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">&nbsp;</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">A</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">B</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">C</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">D</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">E</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">F</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">G</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">H</li>
						</ul>
					</div>
					<div class="col-md-11 col-sm-11 col-xs-12" style="margin-top:10px;" >
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列1</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-1" name="nbbm" xh="1"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-2" name="nbbm" xh="2"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-3" name="nbbm" xh="3"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-4" name="nbbm" xh="4"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-5" name="nbbm" xh="5"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-6" name="nbbm" xh="6"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-7" name="nbbm" xh="7"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm1-8" name="nbbm" xh="8"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列2</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-1" name="nbbm" xh="9"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-2" name="nbbm" xh="10"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-3" name="nbbm" xh="11"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-4" name="nbbm" xh="12"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-5" name="nbbm" xh="13"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-6" name="nbbm" xh="14"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-7" name="nbbm" xh="15"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm2-8" name="nbbm" xh="16"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-3 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列3</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-1" name="nbbm" xh="17"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-2" name="nbbm" xh="18"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-3" name="nbbm" xh="19"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-4" name="nbbm" xh="20"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-5" name="nbbm" xh="21"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-6" name="nbbm" xh="22"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-7" name="nbbm" xh="23" validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm3-8" name="nbbm" xh="24"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-3 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列4</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-1" name="nbbm" xh="25"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-2" name="nbbm" xh="26"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-3" name="nbbm" xh="27"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-4" name="nbbm" xh="28"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-5" name="nbbm" xh="29"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-6" name="nbbm" xh="30"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-7" name="nbbm" xh="31"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm4-8" name="nbbm" xh="32"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列5</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-1" name="nbbm" xh="33"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-2" name="nbbm" xh="34"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-3" name="nbbm" xh="35"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-4" name="nbbm" xh="36"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-5" name="nbbm" xh="37"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-6" name="nbbm" xh="38"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-7" name="nbbm" xh="39"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm5-8" name="nbbm" xh="40"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列6</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-1" name="nbbm" xh="41"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-2" name="nbbm" xh="42"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-3" name="nbbm" xh="43"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-4" name="nbbm" xh="44"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-5" name="nbbm" xh="45"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-6" name="nbbm" xh="46"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-7" name="nbbm" xh="47"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm6-8" name="nbbm" xh="48"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" >
					<div id="ywl2" class="col-md-1 col-sm-1" style="margin-top:10px;">
						<ul>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">&nbsp;</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">A</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">B</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">C</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">D</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">E</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">F</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">G</li>
							<li style="height:30px;margin-bottom:10px;line-height:30px;vertical-align: middle;">H</li>
						</ul>
					</div>
					<div class="col-md-11 col-sm-11" style="margin-top:10px;">
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列7</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-1" name="nbbm" xh="49"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-2" name="nbbm" xh="50"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-3" name="nbbm" xh="51"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-4" name="nbbm" xh="52"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-5" name="nbbm" xh="53"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-6" name="nbbm" xh="54"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-7" name="nbbm" xh="55"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm7-8" name="nbbm" xh="56"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 col-xs-3 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列8</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-1" name="nbbm" xh="57"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-2" name="nbbm" xh="58"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-3" name="nbbm" xh="59"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-4" name="nbbm" xh="60"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-5" name="nbbm" xh="61"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-6" name="nbbm" xh="62"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-7" name="nbbm" xh="63"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm8-8" name="nbbm" xh="64"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列9</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-1" name="nbbm" xh="65"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-2" name="nbbm" xh="66"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-3" name="nbbm" xh="67"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-4" name="nbbm" xh="68"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-5" name="nbbm" xh="69"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-6" name="nbbm" xh="70"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-7" name="nbbm" xh="71"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm9-8" name="nbbm" xh="72"   validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列10</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-1" name="nbbm" xh="73"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-2" name="nbbm" xh="74"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;"autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-3" name="nbbm" xh="75"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-4" name="nbbm" xh="76"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-5" name="nbbm" xh="77"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-6" name="nbbm" xh="78"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-7" name="nbbm" xh="79"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm10-8" name="nbbm" xh="80"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列11</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-1" name="nbbm" xh="81"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-2" name="nbbm" xh="82"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-3" name="nbbm" xh="83"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-4" name="nbbm" xh="84"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-5" name="nbbm" xh="85"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-6" name="nbbm" xh="86"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-7" name="nbbm" xh="87"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm11-8" name="nbbm" xh="88"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2" >
							<div class="form-group">
								<label for="" class="col-sm-4 control-label" style="padding-left:0px;padding-right:0px;text-align:left;">列12</label>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-1" name="nbbm" xh="89"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-2" name="nbbm" xh="90"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-3" name="nbbm" xh="91"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-4" name="nbbm" xh="92"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-5" name="nbbm" xh="93"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-6" name="nbbm" xh="94"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-7" name="nbbm" xh="95"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-11 col-md-11 col-xs-10 liek">
									<input type="text" id="nbbm12-8" name="nbbm" xh="96"  validate="{stringMaxLength:64}" class="form-control" style="height:30px;" autocomplete="off"/>
								</div>
							</div>
						</div>
					</div>
					</div>
			</div>
		</div>
		
	</form>
</body>
<!--<script type="text/javascript">-->
<!--	$(function(){-->
<!--		jQuery('#dockingPCRYz_Form .chosen-select').chosen({width: '100%'});-->
<!--	})-->
<!--</script>-->
</html>