<!DOCTYPE html>
<html lang="zh-cn">
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/vacation/vacation/vacationGrant_view.js'}" charset="utf-8"></script>
<head>
</head>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
    <li  class=" nav-item"> <a  class="nav-link active"  href="#jqfszTab" role="tab" data-bs-toggle="tab">假期发放设置</a></li>
    <li class=" nav-item" ><a  class="nav-link"  href="#jqffjlTab" role="jqffjlTab" data-bs-toggle="tab">假期发放记录</a></li>
    <li class=" nav-item" ><a  class="nav-link"  href="#jqxzTab" role="jqxzTab" data-bs-toggle="tab">假期限制</a></li>
</ul>
<form id="viewVacationGrant_Form" class="form-horizontal sl_all_form" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token" />
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="ffszid" id ="ffszid" th:value="${jqffszDto.ffszid}">
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="jqfszTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    用户名：
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.yhm}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    姓名：
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.zsxm}" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    假期类型：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.jqlxmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    时长：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.sc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    单位：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:if="${jqffszDto.dw eq '0'}" th:text="小时" />
                                    <span th:if="${jqffszDto.dw eq '1'}" th:text="天" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    开始时间：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.kssj}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    结束时间：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.jssj}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    截止类型：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:if="${jqffszDto.jzlx eq '0'}" th:text="今年" />
                                    <span th:if="${jqffszDto.jzlx eq '1'}" th:text="次年" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    录入人员：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.lrrymc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    录入时间：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${jqffszDto.lrsj}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    状态：</label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:if="${jqffszDto.scbj eq '0'}" th:text="正常" />
                                    <span th:if="${jqffszDto.scbj eq '2'}" th:text="废弃" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="jqffjlTab"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="tb_list" data-classes="table table-hover table-bordered table-hidden"></table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="jqxzTab"
             aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="jqxz_list" data-classes="table table-hover table-bordered table-hidden"></table>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>