<!DOCTYPE html>
<html lang="zh-cn">
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/vacation/vacation/vacationRecord_view.js'}" charset="utf-8"></script>
    <head>
    </head>
    <body>
        <ul class="nav nav-tabs sl_nav_tabs" role="tablist">
            <li  class=" nav-item" ><a  class="nav-link active"  href="#jqffjltab" role="jqffjltab" data-bs-toggle="tab">假期发放记录</a></li>
            <li class=" nav-item" ><a href="#jqfszTab"  class="nav-link"  role="jqfszTab" data-bs-toggle="tab">假期发放设置</a></li>
        </ul>
        <form id="viewVacationRecord_Form" class="form-horizontal sl_all_form" theme="simple" data-bs-toggle="validation">
            <input type="hidden" name="access_token" />
            <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
            <div class="body-content tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="jqffjltab" aria-labelledby="profile-tab">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            发放时间：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.lrsj}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            发放方式：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:if="${jqffjlDto.fffs eq '0'}" th:text="自动发放" />
                                            <span th:if="${jqffjlDto.fffs eq '1'}" th:text="手动发放" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            年度：
                                        </label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.nd}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            用户名：
                                        </label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.yhm}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            姓名：
                                        </label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.zsxm}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            假期类型：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.jqlxmc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            时长：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.sc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            单位：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:if="${jqffjlDto.dw eq '0'}" th:text="小时" />
                                            <span th:if="${jqffjlDto.dw eq '1'}" th:text="天" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            开始时间：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.kssj}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            有效期：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.yxq}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            假期总额：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.jeze}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            已用额度：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.yyed}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            剩余额度：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.syed}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            钉钉总额：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.ddze}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            钉钉已用额度：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.ddyyed}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            钉钉剩余额度：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffjlDto.ddsyed}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="jqfszTab"
                     aria-labelledby="profile-tab">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            时长：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffszDto.sc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            单位：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:if="${jqffszDto.dw eq '0'}" th:text="小时" />
                                            <span th:if="${jqffszDto.dw eq '1'}" th:text="天" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            开始时间：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffszDto.kssj}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            结束时间：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffszDto.jssj}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            截止类型：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:if="${jqffszDto.jzlx eq '0'}" th:text="今年" />
                                            <span th:if="${jqffszDto.jzlx eq '1'}" th:text="次年" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            录入人员：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffszDto.lrrymc}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            录入时间：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:text="${jqffszDto.lrsj}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                            状态：</label>
                                        <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                            <span th:if="${jqffszDto.scbj eq '0'}" th:text="正常" />
                                            <span th:if="${jqffszDto.scbj eq '2'}" th:text="废弃" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>