<!DOCTYPE html>
<html lang="zh-cn">
</head>
<script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/storehouse/sale/sale_paymentreceived.js?v=1'}" charset="utf-8"></script>
<style>
    #paymentreceivedForm td{
        vertical-align: middle;
    }
</style>
<body>
<form id="paymentreceivedForm"   class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="flag" id="flag" th:value="${flag}">
    <input type="hidden" name="xsid" id="xsid" th:value="${xsmxDto.xsid}">
    <div style="padding-left: 10px;padding-right: 10px;" th:if="${xsmxDtos != null && xsmxDtos.size() >0 }" th:each="t_xsmxDto:${xsmxDtos}">
        <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden">
            <tr>
                <td hidden="hidden"><span th:text="${t_xsmxDto.xsmxid}"/></td>
                <td style="width:2%;" th:text="${t_xsmxDtoStat.index+1}"></td>
                <td style="width:10%;"><span th:title="${t_xsmxDto.wlbm}" th:text="${t_xsmxDto.wlbm}"/></td>
                <td style="width:15%;"><span th:title="${t_xsmxDto.wlmc}" th:text="${t_xsmxDto.wlmc}"/></td>
                <td style="width:15%;">订单数量:<span th:title="${t_xsmxDto.sl+t_xsmxDto.jldw}" th:text="${t_xsmxDto.sl+t_xsmxDto.jldw}"/></td>
                <td style="width:20%;">总金额:<span th:title="${t_xsmxDto.jsze}" th:text="${t_xsmxDto.jsze}"/>元</td>
                <td style="width:18%;">预付金额:<span th:title="${t_xsmxDto.yfje}" th:text="${t_xsmxDto.yfje}"/>元</td>
                <td style="width:20%;">对应剩余金额:<span th:title="${t_xsmxDto.dysyje}" th:text="${t_xsmxDto.dysyje}"/>元</td>
                <td style="width:10%;"><span class="btn btn-success" th:onclick="EditMoneyHos([['']],[[${t_xsmxDto.xsmxid}]],[['0']],[['']],[[${xsmxDto.xsid}]],[[${t_xsmxDto.dysyje}]],[[${t_xsmxDto.hkzq}]])">到款记录</span></td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="width:90%">
            <tr style="background-color: #63a3ff;">
                <th hidden="hidden"><span th:text="发货id"/></th>
                <th style="width:5%;"><span th:text="序号" /></th>
                <th style="width:15%;"><span th:text="发货单" /></th>
                <th style="width:10%;"><span th:text="发货日" /></th>
                <th style="width:15%;"><span th:text="发货数量" /></th>
                <th style="width:25%;"><span th:text="总金额" /></th>
                <th style="width:20%;"><span th:text="到款金额" /></th>
                <th style="width:10%;"><span th:text="操作" /></th>
            </tr>
            <div th:if="${t_xsmxDto.xsmxDtos != null && t_xsmxDto.xsmxDtos.size() >0}" th:each="xsmxDto_fh:${t_xsmxDto.xsmxDtos}">
                <tr>
                    <td hidden="hidden"><span th:title="${xsmxDto_fh.fhid}" th:text="${xsmxDto_fh.fhid}"/></td>
                    <td th:text="${t_xsmxDtoStat.index+1}+'-'+${xsmxDto_fhStat.index+1}"></td>
                    <td><span th:title="${xsmxDto_fh.fhdh}" th:text="${xsmxDto_fh.fhdh}"/></td>
                    <td><span th:title="${xsmxDto_fh.djrq}" th:text="${xsmxDto_fh.djrq}"/></td>
                    <td><span th:title="${xsmxDto_fh.fhsl+t_xsmxDto.jldw}" th:text="${xsmxDto_fh.fhsl+t_xsmxDto.jldw}"/></td>
                    <td><span th:title="${xsmxDto_fh.zje}" th:text="${xsmxDto_fh.zje}"/>元</td>
                    <td><span th:title="${xsmxDto_fh.dkje}" th:text="${xsmxDto_fh.dkje}"/>元</td>
                    <td style="width:50px;"><span class="btn btn-success" th:onclick="EditMoneyHos([[${t_xsmxDto.xsmxid}]],[[${xsmxDto_fh.fhid}]],[['1']],[[${xsmxDto_fh.djrq}]],[[${xsmxDto.xsid}]],[[${t_xsmxDto.dysyje}]],[[${t_xsmxDto.hkzq}]])">到款记录</span></td>
                </tr>
            </div>
        </table>
    </div>
</form>
</body>
</html>