<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta name="referrer" content="never">
  <meta content="webkit" name="renderer" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Copyright" content="matridx" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>普检服务</title>
  <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
<script type="text/javascript" src="/js/wechat/general_inspChoose.js?v=20231226"></script>
<!--我要送检 选择 新冠检测/我要送检 页面-->
<form id="general_inspChoose" method="post">
  <input id="wxid" type="hidden" name="wxid" th:value="${wxid}"/>
  <input id="wbcxdm" type="hidden" name="wbcxdm" th:value="${wbcxdm}"/>
  <input id="prefixUrl" type="hidden" name="prefixUrl" th:value="${prefixUrl}"/>
  <input type="hidden" name="code" th:value="${code}"/>
  <input type="hidden" name="state" th:value="${state}"/>
  <input type="hidden" id="fzjclxdm" name="fzjclxdm"/>
  <input type="hidden" id="fzjclx" name="fzjclx"/>
  <!--页面标记-->
  <input type="hidden" id="flag" name="flag"/>
  <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;background: url(/css/inputChoose/背景.png) no-repeat;background-size: 100% 100%;height: 130px">
    <div style="padding-left: 5%;padding-top: 5%"><b style="font-size: large;color: white;" th:text="${(gzpt!=null and gzpt!=''?gzpt:'杭州杰毅生物技术有限公司')}"></b></div>
  </div>
  <div class="col-xs-12"  style="width:90%;height:90%;background-color:#fff;border-radius: 10px;border: 1px solid rgba(126, 134, 142, 0.16);box-shadow: 0 4px 14px 0 rgba(126, 134, 142, 0.16);margin:auto;position:absolute;top: 8%;left: 0;right: 0;bottom: 0;margin: auto;">
    <div style="padding-top: 5%"><b style="font-size: large;">普检服务</b></div>
    <div th:if="${fzjclxList != null && fzjclxList.size() > 0 }" th:each="fzjclx:${fzjclxList}" class="col-xs-12 generalChoose" th:id="${'generalChoose_'+fzjclx.csid+'_input'}" name="generalChoose" th:csid="${fzjclx.csid}" th:csdm="${fzjclx.csdm}" style="padding-left: 0px;padding-right: 0px;padding-top: 5%">
      <div style="font-size: 16px;position: absolute;top: 50px;left: 20px;font-weight: bold;" th:text="${fzjclx.csmc}"></div>
      <img th:src="${'/css/generalInsp/'+(fzjclxStat.index+1)+'.png'}" style="margin: auto;width:100%;">
    </div>
  </div>
</form>

</body>
</html>