<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>工具箱</title>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <script type="text/javascript" src="/js/globalweb/tool/uploadTool.js" charset="utf-8"></script>
    <style>
        table {
          width: 80%;
          border-collapse: collapse;
        }
        td, th {
          text-align: left;
          vertical-align: middle; /* 垂直居中 */
          padding: 8px;
          border: 1px solid #ddd;
          border-left: none;
          border-right: none;
        }
    </style>
</head>
<body>
<form id="uploadToolForm" class="form-horizontal sl_all_form" method="post" action="#" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="access_token"/>
    <input type="hidden" id="ids" name="ids" />
    <input type="hidden" name="ywlx" id="ywlx" th:value="${ywlx}">
    <div class="body-content tab-content">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label for="" class="col-sm-2 col-md-2 col-xs-2 control-label">
                    名称
                </label>
                <div class="col-sm-8 col-xs-8 col-md-8">
                    <input type="text" id="zjmc" name="zjmc" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label for="" class="col-sm-2 col-md-2 col-xs-2 control-label">
                    网址
                </label>
                <div class="col-sm-8 col-xs-8 col-md-8">
                    <input type="text" id="zylj" name="zylj" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="" class="col-sm-1 col-xs-1 col-md-1 control-label">
                    工具上传
                </label>
                <div class="col-sm-10 col-xs-10 col-md-10" id="fileDiv">
                    <input id="pro_file" name="pro_file" type="file">
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2" style="float: right;text-center">
            <span onclick="successBtn()" class="btn btn-sm btn-primary">确 定</span>
        </div>
        <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
        <table style="margin-left: 55px;">
            <tbody id="targetRow">
            <tr th:if="${zjglDtoList!=null && zjglDtoList.size()>0}" th:each="zjglDto: ${zjglDtoList}" th:id="${zjglDto.zjid}">
                <td class="col-md-11 col-sm-11">
                    <a href="javascript:void(0);" th:onclick="onloadTool([[${zjglDto.zylj}]],[[${zjglDto.zjlx}]])" th:text="${zjglDto.zjmc}" th:title="${zjglDto.zjmc}"></a>
                </td>
                <td class="col-md-1 col-sm-1">
                    <span style='margin-left:5px;' class='btn btn-danger' title='删除' th:onclick="delTool([[${zjglDto.zjid}]])" >删除</span>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</form>
</body>
</html>