<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.AA_BatchPropertyDao" >	
	<insert id="insertBatchPs" parameterType="List">
		insert into AA_BatchProperty(
		cInvCode,cBatch,cFree1,cFree2,cFree3,cFree4,cFree5,cFree6,cFree7,cFree8,cFree9,cFree10
		)
		values
		<foreach collection="list" separator="," item="item" index="index">
			(#{item.cInvCode},#{item.cBatch},'','','','','','','','','','')
		</foreach>
	</insert>
	
	<select id="queryByInvAndBat" parameterType="List" resultType="AA_BatchPropertyDto">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=" union all " open="" close="" item="item" index="index">
				select cInvCode,cBatch from dbo.CurrentStock 
				<where>
					cInvCode=#{item.cInvCode} and cBatch=#{item.cBatch}
				</where>
			</foreach>
		</if>
	</select>
	
</mapper>