<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Bom_bomDao" >

    <insert id="insert" parameterType="Bom_bomDto">
        INSERT INTO bom_bom(
        <if test="BomType != null and BomType != ''">
            BomType,
        </if>
        <if test="Version != null and Version != ''">
            Version,
        </if>
        <if test="VersionDesc != null and VersionDesc != ''">
            VersionDesc,
        </if>
        <if test="VersionEffDate != null and VersionEffDate != ''">
            VersionEffDate,
        </if>
        <if test="VersionEndDate != null and VersionEndDate != ''">
            VersionEndDate,
        </if>
        <if test="CreateDate != null and CreateDate != ''">
            CreateDate,
        </if>
        <if test="CreateUser != null and CreateUser != ''">
            CreateUser,
        </if>
        <if test="UpdCount != null and UpdCount != ''">
            UpdCount,
        </if>
        <if test="VTid != null and VTid != ''">
            VTid,
        </if>
        <if test="Status != null and Status != ''">
            Status,
        </if>
        <if test="OrgStatus != null and OrgStatus != ''">
            OrgStatus,
        </if>
        <if test="RelsDate != null and RelsDate != ''">
            RelsDate,
        </if>
        <if test="RelsUser != null and RelsUser != ''">
            RelsUser,
        </if>
        <if test="RelsTime != null and RelsTime != ''">
            RelsTime,
        </if>
        <if test="CreateTime != null and CreateTime != ''">
            CreateTime,
        </if>
        <if test="ModifyDate != null and ModifyDate != ''">
            ModifyDate,
        </if>
        <if test="ModifyUser != null and ModifyUser != ''">
            ModifyUser,
        </if>
        <if test="ModifyTime != null and ModifyTime != ''">
            ModifyTime,
        </if>
        <if test="iPrintCount != null and iPrintCount != ''">
            iPrintCount,
        </if>
        <if test="IsWFControlled != null and IsWFControlled != ''">
            IsWFControlled,
        </if>
        <if test="iVerifyState != null and iVerifyState != ''">
            iVerifyState,
        </if>
        <if test="iReturnCount != null and iReturnCount != ''">
            iReturnCount,
        </if>
        <if test="AuditStatus != null and AuditStatus != ''">
            AuditStatus,
        </if>
        <if test="bProcessProduct != null and bProcessProduct != ''">
            bProcessProduct,
        </if>
        <if test="bProcessMaterial != null and bProcessMaterial != ''">
            bProcessMaterial,
        </if>
            BomId
        )
        VALUES (
        <if test="BomType != null and BomType != ''">
            #{BomType},
        </if>
        <if test="Version != null and Version != ''">
            #{Version},
        </if>
        <if test="VersionDesc != null and VersionDesc != ''">
            #{VersionDesc},
        </if>
        <if test="VersionEffDate != null and VersionEffDate != ''">
            cast(#{VersionEffDate} as datetime),
        </if>
        <if test="VersionEndDate != null and VersionEndDate != ''">
            cast(#{VersionEndDate} as datetime),
        </if>
        <if test="CreateDate != null and CreateDate != ''">
            cast(#{CreateDate} as datetime),
        </if>
        <if test="CreateUser != null and CreateUser != ''">
            #{CreateUser},
        </if>
        <if test="UpdCount != null and UpdCount != ''">
            #{UpdCount},
        </if>
        <if test="VTid != null and VTid != ''">
            #{VTid},
        </if>
        <if test="Status != null and Status != ''">
            #{Status},
        </if>
        <if test="OrgStatus != null and OrgStatus != ''">
            #{OrgStatus},
        </if>
        <if test="RelsDate != null and RelsDate != ''">
            cast(#{RelsDate} as datetime),
        </if>
        <if test="RelsUser != null and RelsUser != ''">
            #{RelsUser},
        </if>
        <if test="RelsTime != null and RelsTime != ''">
            cast(#{RelsTime} as datetime),
        </if>
        <if test="CreateTime != null and CreateTime != ''">
            cast(#{CreateTime} as datetime),
        </if>
        <if test="ModifyDate != null and ModifyDate != ''">
            cast(#{ModifyDate} as datetime),
        </if>
        <if test="ModifyUser != null and ModifyUser != ''">
            #{ModifyUser},
        </if>
        <if test="ModifyTime != null and ModifyTime != ''">
            cast(#{ModifyTime} as datetime),
        </if>
        <if test="iPrintCount != null and iPrintCount != ''">
            #{iPrintCount},
        </if>
        <if test="IsWFControlled != null and IsWFControlled != ''">
            #{IsWFControlled},
        </if>
        <if test="iVerifyState != null and iVerifyState != ''">
            #{iVerifyState},
        </if>
        <if test="iReturnCount != null and iReturnCount != ''">
            #{iReturnCount},
        </if>
        <if test="AuditStatus != null and AuditStatus != ''">
            #{AuditStatus},
        </if>
        <if test="bProcessProduct != null and bProcessProduct != ''">
            #{bProcessProduct},
        </if>
        <if test="bProcessMaterial != null and bProcessMaterial != ''">
            #{bProcessMaterial},
        </if>
        #{BomId}
        )
    </insert>

    <delete id="delete" parameterType="Bom_bomDto">
        delete from bom_bom where BomId = #{BomId}
    </delete>
</mapper>