<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Bom_opcomponentoptDao" >


    <insert id="insertList" parameterType="List">
        insert into bom_opcomponentopt(
            OptionsId,WIPType,AccuCostFlag,DrawDeptCode,Whcode,
            OptionalFlag,MutexRule,PlanFactor,CostWIPRel,FeatureRel,Offset
        )
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (#{item.OptionsId},#{item.WIPType},#{item.AccuCostFlag},#{item.DrawDeptCode},#{item.Whcode},0,2,100,0,0,0
                )
            </foreach>
        </if>
    </insert>

    <delete id="delete" parameterType="Bom_opcomponentoptDto">
        delete from bom_opcomponentopt
        <where>
            <if test="ids !=null and ids.size >0" >
                and OptionsId in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>