<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Bom_opcomponentDao" >


    <insert id="insertList" parameterType="List">
        insert into bom_opcomponent(
        OpComponentId,BomId,SortSeq,OpSeq,ComponentId,EffBegDate,EffEndDate,FVFlag,BaseQtyN,BaseQtyD,CompScrap,ByproductFlag,
        OptionsId,Remark,
        RecursiveFlag,Free1,Free2,Free3,Free4,Free5,Free6,Free7,Free8,Free9,Free10,bProcessProduct,bProcessMaterial,ProductType
        )
        values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.OpComponentId},#{item.BomId},#{item.SortSeq},#{item.OpSeq},#{item.ComponentId},cast(#{item.EffBegDate} as datetime),
                cast(#{item.EffEndDate} as datetime),#{item.FVFlag},#{item.BaseQtyN},#{item.BaseQtyD},#{item.CompScrap},#{item.ByproductFlag},
                #{item.OptionsId},
                #{item.Remark},0,'','','','','','','','','','',0,0,1
                )
            </foreach>
        </if>
    </insert>

    <delete id="delete" parameterType="Bom_opcomponentDto">
        delete from bom_opcomponent where BomId = #{BomId}
    </delete>
</mapper>