<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.CustomerDao" >
	<insert id="insert" parameterType="CustomerDto">
		insert into Customer(
			cCusCode
		<if test="cCusName != null and cCusName != ''">
			,cCusName
		</if>
		<if test="cCusAbbName != null and cCusAbbName != ''">
			,cCusAbbName
		</if>
		<if test="cCCCode != null and cCCCode != ''">
			,cCCCode
		</if>
		<if test="dCusDevDate != null and dCusDevDate != ''">
			,dCusDevDate
		</if>
		<if test="cCusHeadCode != null and cCusHeadCode != ''">
			,cCusHeadCode
		</if>
		<if test="cCreatePerson != null and cCreatePerson != ''">
			,cCreatePerson
		</if>
		<if test="iId != null and iId != ''">
			,iId
		</if>
		<if test="cInvoiceCompany != null and cInvoiceCompany != ''">
			,cInvoiceCompany
		</if>
		<if test="cCusExch_name != null and cCusExch_name != ''">
			,cCusExch_name
		</if>
		<if test="cCusCreditCompany	!= null and cCusCreditCompany != ''">
			,cCusCreditCompany
		</if>
		<if test="dCusCreateDatetime != null and dCusCreateDatetime != ''">
			,dCusCreateDatetime
		</if>
		<if test="cCusMngTypeCode != null and cCusMngTypeCode != ''">
			,cCusMngTypeCode
		</if>
		,account_type,iCusDisRate,iCusCreLine,iCusCreDate,iLastMoney,iLRMoney,iFrequency,iCostGrade,bShop,bCusDomestic,bIsCusAttachFile,dDepBeginDate
		)values(
		  #{cCusCode}
		<if test="cCusName != null and cCusName != ''">
			,#{cCusName}
		</if>
		<if test="cCusAbbName != null and cCusAbbName != ''">
			,#{cCusAbbName}
		</if>
		<if test="cCCCode != null and cCCCode != ''">
			,#{cCCCode}
		</if>
		<if test="dCusDevDate != null and dCusDevDate != ''">
			,cast(#{dCusDevDate} as datetime)
		</if>
		<if test="cCusHeadCode != null and cCusHeadCode != ''">
			,#{cCusHeadCode}
		</if>
		<if test="cCreatePerson != null and cCreatePerson != ''">
			,#{cCreatePerson}
		</if>
		<if test="iId != null and iId != ''">
			,#{iId}
		</if>
		<if test="cInvoiceCompany != null and cInvoiceCompany != ''">
			,#{cInvoiceCompany}
		</if>
		<if test="cCusExch_name != null and cCusExch_name != ''">
			,#{cCusExch_name}
		</if>
		<if test="cCusCreditCompany != null and cCusCreditCompany != ''">
			,#{cCusCreditCompany}
		</if>
		<if test="dCusCreateDatetime != null and dCusCreateDatetime != ''">
			,cast(#{dCusCreateDatetime} as datetime)
		</if>
		<if test="cCusMngTypeCode != null and cCusMngTypeCode != ''">
			,#{cCusMngTypeCode}
		</if>
		,26,0,0,0,0,0,0,-1,2,0,0,null
		)
	</insert>

	<!--查询客户代码是否已存在-->
	<select id="getDtoByKhdm" resultType="CustomerDto" parameterType="java.lang.String">
		select cCusCode from Customer where cCusCode = #{cCusCode}
	</select>
	<!--查询客户简称是否已存在-->
	<select id="getDtoByKhjc" resultType="CustomerDto" parameterType="java.lang.String">
		select cCusAbbName,cCusCode from Customer where cCusAbbName = #{cCusAbbName}
	</select>
	<!--修改-->
	<update id="update" parameterType="CustomerDto">
		update Customer set
		<trim prefixOverrides=",">
			<if test="cCusCode != null and cCusCode != ''">
				,cCusCode=#{cCusCode}
			</if>
			<if test="cCusName != null and cCusName != ''">
				,cCusName=#{cCusName}
			</if>
			<if test="cCusAbbName != null and cCusAbbName != ''">
				,cCusAbbName=#{cCusAbbName}
			</if>
			<if test="cCCCode != null and cCCCode != ''">
				,cCCCode=#{cCCCode}
			</if>
			<if test="dCusDevDate != null and dCusDevDate != ''">
				,dCusDevDate=#{dCusDevDate}
			</if>
			<if test="cCusHeadCode != null and cCusHeadCode != ''">
				,cCusHeadCode=#{cCusHeadCode}
			</if>
			<if test="cModifyPerson != null and cModifyPerson != ''">
				,cModifyPerson=#{cModifyPerson}
			</if>
			<if test="iId != null and iId != ''">
				,iId=#{iId}
			</if>
			<if test="cInvoiceCompany != null and cInvoiceCompany != ''">
				,cInvoiceCompany=#{cInvoiceCompany}
			</if>
			<if test="cCusExch_name != null and cCusExch_name != ''">
				,cCusExch_name=#{cCusExch_name}
			</if>
			<if test="cCusCreditCompany != null and cCusCreditCompany != ''">
				,cCusCreditCompany=#{cCusCreditCompany}
			</if>
			<if test="cCusMngTypeCode != null and cCusMngTypeCode != ''">
				,cCusMngTypeCode=#{cCusMngTypeCode}
			</if>
			,dModifyDate = #{dModifyDate}
		</trim>
		<where>
			cCusCode=#{xgqkhdm}
		</where>
	</update>
	<select id="countMax" parameterType="CustomerDto" resultType="Integer">
		select max(cCusCode) as num from Customer
		where len(cCusCode)=9 and cCusCode like concat(#{cCusCode},'%')
	</select>
</mapper>