<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.DispatchListDao" >
	<select id="getDtoByDh" parameterType="DispatchListDto" resultType="DispatchListDto">
		select DLID,cDLCode
		from DispatchList
		<where>
			cDLCode=#{cDLCode}
		</where>
	</select>
	<select id="getcDLCode" parameterType="DispatchListDto" resultType="DispatchListDto">
		select DLID,cDLCode
		from DispatchList
		<where>
			DLID=#{DLID}
		</where>
	</select>
	
	<select id="getcCode" parameterType="DispatchListDto" resultType="DispatchListDto">
		SELECT DLID,cDLCode
			FROM DispatchList
			where LEN(DLID)=10 and DLID>#{DLID}
  			order by DLID	
	</select>
	
	<insert id="insert" parameterType="DispatchListDto">
		insert into DispatchList(
		DLID
		<if test="cDLCode != null and cDLCode != ''">
			,cDLCode
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,cVouchType
		</if>
		<if test="cSTCode != null and cSTCode != ''">
			,cSTCode
		</if>
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cSOCode != null and cSOCode != ''">
			,cSOCode
		</if>
		<if test="cCusCode != null and cCusCode != ''">
			,cCusCode
		</if>
		<if test="cShipAddress != null and cShipAddress != ''">
			,cShipAddress
		</if>
		<if test="cexch_name != null and cexch_name != ''">
			,cexch_name
		</if>
		<if test="iExchRate != null and iExchRate != ''">
			,iExchRate
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>
		<if test="cSaleOut != null and cSaleOut != ''">
			,cSaleOut
		</if>
		<if test="cVerifier != null and cVerifier != ''">
			,cVerifier
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="cCusName != null and cCusName != ''">
			,cCusName
		</if>
		<if test="iVTid != null and iVTid != ''">
			,iVTid
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="dverifydate != null and dverifydate != ''">
			,dverifydate
		</if>
		<if test="dcreatesystime != null and dcreatesystime != ''">
			,dcreatesystime
		</if>
		<if test="dverifysystime != null and dverifysystime != ''">
			,dverifysystime
		</if>
		<if test="cSysBarCode != null and cSysBarCode != ''">
			,cSysBarCode
		</if>
		<if test="cinvoicecompany != null and cinvoicecompany != ''">
			,cinvoicecompany
		</if>
		<if test="cDefine7 != null and cDefine7 != ''">
			,cDefine7
		</if>
		,SBVID,bFirst,bReturnFlag,bSettleAll,iSale,bIAFirst,bCredit,iverifystate,iswfcontrolled,bARFirst,
		iflowid,bsigncreate,bcashsale,bmustbook,bneedbill,baccswitchflag,bsaleoutcreatebill,bNotToGoldTax,
		cbcode,ioutgolden,ireturncount,iNetLock
		)values(
			#{DLID}
		<if test="cDLCode != null and cDLCode != ''">
			,#{cDLCode}
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,#{cVouchType}
		</if>
		<if test="cSTCode != null and cSTCode != ''">
			,#{cSTCode}
		</if>
		<if test="dDate != null and dDate != ''">
			,cast(#{dDate} as datetime)
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cSOCode != null and cSOCode != ''">
			,#{cSOCode}
		</if>
		<if test="cCusCode != null and cCusCode != ''">
			,#{cCusCode}
		</if>
		<if test="cShipAddress != null and cShipAddress != ''">
			,#{cShipAddress}
		</if>
		<if test="cexch_name != null and cexch_name != ''">
			,#{cexch_name}
		</if>
		<if test="iExchRate != null and iExchRate != ''">
			,#{iExchRate}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>
		<if test="cSaleOut != null and cSaleOut != ''">
			,#{cSaleOut}
		</if>
		<if test="cVerifier != null and cVerifier != ''">
			,#{cVerifier}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="cCusName != null and cCusName != ''">
			,#{cCusName}
		</if>
		<if test="iVTid != null and iVTid != ''">
			,#{iVTid}
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		
		<if test="dverifydate != null and dverifydate != ''">
			,#{dverifydate}
		</if>
		<if test="dcreatesystime != null and dcreatesystime != ''">
			,#{dcreatesystime}
		</if>
		<if test="dverifysystime != null and dverifysystime != ''">
			,#{dverifysystime}
		</if>
		<if test="cSysBarCode != null and cSysBarCode != ''">
			,#{cSysBarCode}
		</if>
		<if test="cinvoicecompany != null and cinvoicecompany != ''">
			,#{cinvoicecompany}
		</if>
		<if test="cDefine7 != null and cDefine7 != ''">
			,#{cDefine7}
		</if>
		,0,0,#{bReturnFlag},0,0,0,0,0,0,0
		,0,0,0,0,#{bneedbill},0,0,0,'001',null,null,null
		)
	</insert>
</mapper>