<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.DispatchListsDao" >
	<insert id="insertListDtos" parameterType="List">
		insert into DispatchLists(DLID,iCorID,cWhcode,cInvCode,iQuantity,iQuotedPrice,iUnitPrice,iTaxUnitPrice,iMoney,iTax,iSum,iDisCount,iNatUnitPrice,iNatMoney,iNatTax,
		iNatSum,iNatDisCount,isettleNum,iSettleQuantity,iBatch,cBatch,cMemo,dVDate,iSosID,iDLsID,KL,KL2,iTaxRate,fOutQuantity,fEnSettleQuan,fEnSettleSum,fsumsignquantity,
		fsumsignnum,bsignover,bneedloss,frlossqty,dMDate,cSoCode,iMassDate,cMassUnit,cordercode,iorderrowno,irowno,cbSysBarCode,iRetQuantity,
		iNum,bSettleAll,iTB,TBQuantity,fOutNum,fSaleCost,fSalePrice,bIsStQc,bGsp,cInvName,fcusminprice,iExpiratDateCalcu,
		bneedsign,bsaleprice,bgift,bmpforderclosed,bIAcreatebill,bQANeedCheck,bQAUrgency,bQAChecking,bQAChecked,bcosting,fretsum,fretailrealamount,fretailsettleamount,cCorCode,fretsumykp,fretqtywkp,fretqtyykp
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.DLID},#{item.iCorID},#{item.cWhcode},#{item.cInvCode},#{item.iQuantity},#{item.iQuotedPrice},#{item.iUnitPrice},#{item.iTaxUnitPrice},#{item.iMoney},
				#{item.iTax},#{item.iSum},#{item.iDisCount},#{item.iNatUnitPrice},#{item.iNatMoney},#{item.iNatTax},#{item.iNatSum},#{item.iNatDisCount},#{item.isettleNum},
				#{item.iSettleQuantity},#{item.iBatch},#{item.cBatch},#{item.cMemo},cast(#{item.dVDate} as datetime),#{item.iSosID},#{item.iDLsID},#{item.KL},#{item.KL2},#{item.iTaxRate},
				#{item.fOutQuantity},#{item.fEnSettleQuan},#{item.fEnSettleSum},#{item.fsumsignquantity},#{item.fsumsignnum},#{item.bsignover},#{item.bneedloss},#{item.frlossqty},
				cast(#{item.dMDate} as datetime),#{item.cSoCode},#{item.iMassDate},#{item.cMassUnit},#{item.cordercode},#{item.iorderrowno},#{item.irowno},#{item.cbSysBarCode},#{item.iRetQuantity},
				0,0,0,0,0,0,0,0,0,#{item.cInvName},0,0,0,1,0,#{item.bmpforderclosed},0,0,0,0,0,1,#{item.fretsum},#{item.fretailrealamount},#{item.fretailsettleamount},#{item.cCorCode},#{item.fretsumykp},#{item.fretqtywkp},#{item.fretqtyykp}
				)
			</foreach>
		</if>
	</insert>
	<update id="updateListDtos" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				update DispatchLists
				<set>
					fVeriRetQty=COALESCE(fVeriRetQty,0) + cast(#{item.fVeriRetQty} as numeric(16,5)),fVeriRetSum=COALESCE(fVeriRetSum,0) + cast(#{item.fVeriRetSum} as numeric(16,5)),
					fretsum=COALESCE(fretsum,0) + cast(#{item.fretsum} as numeric(16,5)),
					iRetQuantity=COALESCE(iRetQuantity,0) + cast(#{item.iRetQuantity} as numeric(16,5)),fretqtyykp=#{item.fretqtyykp},
					frettbquantity=#{item.frettbquantity},fretqtywkp=COALESCE(fretqtywkp,0) + cast(#{item.fretqtywkp} as numeric(16,5))
				</set>
				<where>
					iDLsID=#{item.iDLsID}
				</where>
			</foreach>
		</if>
	</update>
</mapper>