<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Fa_Cards_DetailDao" >

    <insert id="insert" parameterType="Fa_Cards_DetailDto">
        insert into fa_Cards_Detail(
        sCardID,
        sCardNum,
        sDeptNum,
        lOptID,
        iDisposePeriod,
        dblValue,
        dblDecDeprT,
        dblBV,
        dblCanWork,
        dblTransInDeprTCard,
        dblTransOutDeprTCard,
        dblDecPreValueT,
        dblRetDecPreValueT,
        dblBuildArea,
        lBuildNum,
        lMachinNum,
        dblMachinW,
        dblAddTax,
        dblValueAndTax
        )values(
        #{sCardID},
        #{sCardNum},
        #{sDeptNum},
        #{lOptID},
        '0',
        #{dblValue},
        '0',
        #{dblBV},
        '0',
        #{dblTransInDeprTCard},
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        #{dblValueAndTax}
        )
    </insert>
	
</mapper>