<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Fa_CardsDao" >

    <insert id="insert" parameterType="Fa_CardsDto" >
        insert into fa_Cards(
        sCardID,
        sCardNum,
        sAssetNum,
        sAssetName,
        lOptID,
        iOptType,
        iNewType,
        sZWVoucherType,
        sZWVoucherNum,
        sDeptNum,
        sTypeNum,
        sOrgID,
        sOrgAddID,
        sOrgDisposeID,
        sDisposeReason,
        sStatusID,
        sDeprMethodID,
        sCurrency,
        sDeprSubjectNum,
        sDeprSubjectName,
        sProjectNum,
        sProjectName,
        sStyle,
        dblBuildArea,
        lBuildNum,
        lMachinNum,
        dblMachinW,
        sSite,
        lLife,
        dStartdate,
        dInputDate,
        iInputPeriod,
        iTransPeriod,
        iDisposePeriod,
        dblFCValue,
        dblExchangeRate,
        sOperator,
        sDisposer,
        dblNetValueAct,
        lDeprMonthsAct,
        dblCanWorkAct,
        dblLegacy,
        sVoucherNum,
        sEvaluateNum,
        dblValue,
        dblDecDeprT,
        dblDecDepr,
        dblDecDeprRate,
        lDecDeprMonths,
        dblDecWorkT,
        dblDecPerDepr,
        dblBV,
        dblBVRate,
        dblCanWork,
        dblPerDepr,
        lUsedMonths,
        sWorkUnit,
        dblTransInDeprTCard,
        dblTransOutDeprTCard,
        iVouchsNextMonthAct,
        sTransTypeNum,
        sTransDepteNum,
        sLockedBy,
        dblDecPreValueT,
        dblRetDecPreValueT,
        bMultiDept,
        sDeptNames,
        bNewDepring,
        sGroupNum,
        bSplit,
        dblAddTax,
        dblValueAndTax,
        bFromInv,
        sKeeper,
        cVenCode,
        sSeriesNum,
        sCommodityCode
        )values (
        #{sCardID},
        #{sCardNum},
        #{sAssetNum},
        #{sAssetName},
        #{lOptID},
        #{iOptType},
        #{iNewType},
        NULL,
        #{sZWVoucherNum},
        #{sDeptNum},
        #{sTypeNum},
        #{sOrgID},
        #{sOrgAddID},
        NULL,
        NULL,
        #{sStatusID},
        #{sDeprMethodID},
        #{sCurrency},
        NULL,
        NULL,
        NULL,
        NULL,
        #{sStyle},
        '0',
        '0',
        '0',
        '0',
        #{sSite},
        #{lLife},
        cast(#{dStartdate} as datetime),
        cast(#{dInputDate} as datetime),
        '1',
        '0',
        '0',
        '0',
        '1',
        #{sOperator},
        NULL,
        #{dblNetValueAct},
        #{lDeprMonthsAct},
        '0',
        '0',
        NULL,
        NULL,
        #{dblValue},
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        #{dblBV},
        #{dblBVRate},
        '0',
        '0',
        #{lUsedMonths},
        NULL,
        #{dblTransInDeprTCard},
        '0',
        '0',
        NULL,
        NULL,
        NULL,
        '0',
        '0',
        #{bMultiDept},
        #{sDeptNames},
        '0',
        #{sGroupNum},
        '0',
        '0',
        #{dblValueAndTax},
        '0',
        '',
        NULL,
        NULL,
        NULL
        )
    </insert>
	
</mapper>