<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Fa_DeptScaleDao" >

	<insert id="insert" parameterType="Fa_DeptScaleDto">
        insert into fa_DeptScale(
        sCardNum,
        lOptID,
        sDeptNum,
        dblScale,
        sDeprSubjectNum,
        sDeprSubjectName,
        sProjectNum,
        sProjectName,
        cItemclsId
        )values (
        #{sCardNum},
        #{lOptID},
        #{sDeptNum},
        #{dblScale},
        #{sDeprSubjectNum},
        #{sDeprSubjectName},
        #{sProjectNum},
        #{sProjectName},
        #{cItemclsId}
        )
    </insert>
</mapper>