<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Fa_DeprTransactions_DetailDao" >

    <insert id="insert" parameterType="Fa_DeprTransactions_DetailDto">
        insert into fa_DeprTransactions_Detail(
        sCardNum,
        sDeptNum,
        dblDepr1,
        dblDeprT1,
        dblDepr2,
        dblDeprT2,
        dblDepr3,
        dblDeprT3,
        dblDepr4,
        dblDeprT4,
        dblDepr5,
        dblDeprT5,
        dblDepr6,
        dblDeprT6,
        dblDepr7,
        dblDeprT7,
        dblDepr8,
        dblDeprT8,
        dblDepr9,
        dblDeprT9,
        dblDepr10,
        dblDeprT10,
        dblDepr11,
        dblDeprT11,
        dblDepr12,
        dblDeprT12,
        dblMonthValue1,
        dblMonthValue2,
        dblMonthValue3,
        dblMonthValue4,
        dblMonthValue5,
        dblMonthValue6,
        dblMonthValue7,
        dblMonthValue8,
        dblMonthValue9,
        dblMonthValue10,
        dblMonthValue11,
        dblMonthValue12,
        dblMonthValue13,
        dblDeprThisYear,
        iyear
        )values (
        #{sCardNum},
        #{sDeptNum},
        '0',
        #{dblDeprT1},
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        #{dblMonthValue2},
        #{dblMonthValue3},
        #{dblMonthValue4},
        #{dblMonthValue5},
        #{dblMonthValue6},
        #{dblMonthValue7},
        #{dblMonthValue8},
        #{dblMonthValue9},
        #{dblMonthValue10},
        #{dblMonthValue11},
        #{dblMonthValue12},
        #{dblMonthValue13},
        '0',
        #{iyear}
        )
    </insert>
	
</mapper>