<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Fa_ItemsManualDao" >

	<insert id="insert" parameterType="Fa_ItemsManualDto">
        insert into fa_ItemsManual(
        sCardNum,
        man1063s
        )values (
        #{sCardNum},
        #{man1063s}
        )
    </insert>
</mapper>