<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Fa_ObjectsDao" >

	<select id="getlMaxIDByiObjectNum" parameterType="String" resultType="Fa_ObjectsDto">
        select lMaxID
        from fa_Objects
        where iObjectNum=#{iObjectNum}
    </select>

    <insert id="insert" parameterType="Fa_ObjectsDto">
        insert into fa_Objects(lMaxID,iObjectNum)
        values(#{lMaxID},#{iObjectNum})
    </insert>

    <update id="update" parameterType="Fa_ObjectsDto">
        update fa_Objects
        <set>
            lMaxID=#{lMaxID}
        </set>
        <where>
            iObjectNum=#{iObjectNum}
        </where>
    </update>
</mapper>