<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Fa_ZWVouchersDao" >

    <insert id="insert" parameterType="Fa_ZWVouchersDto">
        insert into fa_ZWVouchers(
        coutaccset,
        ioutyear,
        coutsysname,
        coutsysver,
        doutbilldate,
        ioutperiod,
        coutsign,
        coutno_id,
        inid,
        doutdate,
        coutbillsign,
        coutid,
        csign,
        idoc,
        cbill,
        ccashier,
        ctext1,
        ctext2,
        cdigest,
        ccode,
        md,
        mc,
        md_f,
        mc_f,
        nfrat,
        nd_s,
        nc_s,
        cn_id,
        cdept_id,
        cperson_id,
        ccus_id,
        csup_id,
        citem_id,
        citem_class,
        cname,
        ccode_equal,
        bvouchedit,
        bvouchAddordele,
        bvouchmoneyhold,
        bvalueedit,
        bcodeedit,
        ccodecontrol,
        bPCSedit,
        bDeptedit,
        bItemedit,
        bCusSupInput,
        cDefine1,
        cDefine2,
        cDefine3,
        cDefine5,
        cDefine7,
        cDefine8,
        cDefine9,
        cDefine10,
        cDefine11,
        cDefine12,
        cDefine13,
        cDefine14,
        cDefine15,
        cDefine16,
        cPzPropVal1,
        cPzPropVal2,
        cPzPropVal3,
        cPzPropVal4,
        cexch_name
        )values (
        #{coutaccset},
        #{ioutyear},
        #{coutsysname},
        #{coutsysver},
        cast(#{doutbilldate} as datetime),
        #{ioutperiod},
        #{coutsign},
        #{coutno_id},
        #{inid},
        cast(#{doutdate} as datetime),
        #{coutbillsign},
        '00000000000000000953',
        NULL,
        '0',
        #{cbill},
        NULL,
        NULL,
        NULL,
        #{cdigest},
        #{ccode},
        #{md},
        #{mc},
        '0',
        '0',
        '0',
        '0',
        '0',
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        '1',
        '1',
        '1',
        '1',
        '1',
        'FA,#',
        '1',
        '1',
        '1',
        '0',
        NULL,
        NULL,
        NULL,
        NULL,
        '0',
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        #{cexch_name}
        )
    </insert>
	
</mapper>