<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.GL_accvouchDao" >
    <insert id="insertList" parameterType="List">
        insert into GL_accvouch(
        iperiod,
        csign,
        isignseq,
        ino_id,
        inid,
        dbill_date,
        idoc,
        cbill,
        ccheck,
        cbook,
        ibook,
        ccashier,
        iflag,
        ctext1,
        ctext2,
        cdigest,
        ccode,
        cexch_name,
        md,
        mc,
        md_f,
        mc_f,
        nfrat,
        nd_s,
        nc_s,
        csettle,
        cn_id,
        dt_date,
        cdept_id,
        cperson_id,
        ccus_id,
        csup_id,
        citem_id,
        citem_class,
        cname,
        ccode_equal,
        iflagbank,
        iflagPerson,
        bdelete,
        coutaccset,
        ioutyear,
        coutsysname,
        coutsysver,
        doutbilldate,
        ioutperiod,
        coutsign,
        doutdate,
        coutbillsign,
        coutid,
        bvouchedit,
        bvouchAddordele,
        bvouchmoneyhold,
        bvalueedit,
        bcodeedit,
        ccodecontrol,
        bPCSedit,
        bDeptedit,
        bItemedit,
        bCusSupInput,
        cDefine1,
        cDefine2,
        cDefine3,
        cDefine4,
        cDefine5,
        cDefine6,
        cDefine8,
        cDefine9,
        cDefine10,
        cDefine11,
        cDefine12,
        cDefine13,
        cDefine14,
        cDefine15,
        dReceive,
        cWLDZFlag,
        dWLDZTime,
        bFlagOut,
        iBG_OverFlag,
        cBG_Auditor,
        dBG_AuditTime,
        cBG_AuditOpinion,
        bWH_BgFlag,
        ssxznum,
        CErrReason,
        BG_AuditRemark,
        cBudgetBuffer,
        iBG_ControlResult,
        NCVouchID,
        daudit_date,
        cBankReconNo,
        iyear,
        iYPeriod,
        wllqDate,
        wllqPeriod,
        tvouchtime,
        cblueoutno_id,
        ccodeexch_equal,
        iprice
        )values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.iperiod},
                #{item.csign},
                #{item.isignseq},
                #{item.ino_id},
                #{item.inid},
                #{item.dbill_date},
                #{item.idoc},
                #{item.cbill},
                #{item.ccheck},
                #{item.cbook},
                #{item.ibook},
                #{item.ccashier},
                #{item.iflag},
                #{item.ctext1},
                #{item.ctext2},
                #{item.cdigest},
                #{item.ccode},
                #{item.cexch_name},
                #{item.md},
                #{item.mc},
                #{item.md_f},
                #{item.mc_f},
                #{item.nfrat},
                #{item.nd_s},
                #{item.nc_s},
                #{item.csettle},
                #{item.cn_id},
                #{item.dt_date},
                #{item.cdept_id},
                #{item.cperson_id},
                #{item.ccus_id},
                #{item.csup_id},
                #{item.citem_id},
                #{item.citem_class},
                #{item.cname},
                #{item.ccode_equal},
                #{item.iflagbank},
                #{item.iflagPerson},
                #{item.bdelete},
                #{item.coutaccset},
                #{item.ioutyear},
                #{item.coutsysname},
                #{item.coutsysver},
                #{item.doutbilldate},
                #{item.ioutperiod},
                #{item.coutsign},
                #{item.doutdate},
                #{item.coutbillsign},
                #{item.coutid},
                #{item.bvouchedit},
                #{item.bvouchAddordele},
                #{item.bvouchmoneyhold},
                #{item.bvalueedit},
                #{item.bcodeedit},
                #{item.ccodecontrol},
                #{item.bPCSedit},
                #{item.bDeptedit},
                #{item.bItemedit},
                #{item.bCusSupInput},
                #{item.cDefine1},
                #{item.cDefine2},
                #{item.cDefine3},
                #{item.cDefine4},
                #{item.cDefine5},
                #{item.cDefine6},
                #{item.cDefine8},
                #{item.cDefine9},
                #{item.cDefine10},
                #{item.cDefine11},
                #{item.cDefine12},
                #{item.cDefine13},
                #{item.cDefine14},
                #{item.cDefine15},
                #{item.dReceive},
                #{item.cWLDZFlag},
                #{item.dWLDZTime},
                #{item.bFlagOut},
                #{item.iBG_OverFlag},
                #{item.cBG_Auditor},
                #{item.dBG_AuditTime},
                #{item.cBG_AuditOpinion},
                #{item.bWH_BgFlag},
                #{item.CErrReason},
                #{item.ssxznum},
                #{item.BG_AuditRemark},
                #{item.cBudgetBuffer},
                #{item.iBG_ControlResult},
                #{item.NCVouchID},
                #{item.daudit_date},
                #{item.cBankReconNo},
                #{item.iyear},
                #{item.iYPeriod},
                #{item.wllqDate},
                #{item.wllqPeriod},
                #{item.tvouchtime},
                #{item.cblueoutno_id},
                #{item.ccodeexch_equal},
                #{item.iprice}
                )
            </foreach>
        </if>
    </insert>
    <!-- 获取实际支出-->
    <select id="getActualExpenses" resultType="double" parameterType="String">
        ${sql}
    </select>
    <select id="getDepartmentActualExpenses" resultType="Map" parameterType="String">
        ${sql}
    </select>
    <select id="getSubjectActualExpenses" resultType="Map" parameterType="String">
        ${sql}
    </select>
    <select id="getSubjectActualExpensesDetail" resultType="Map" parameterType="String">
        ${sql}
    </select>
    <select id="getDepartmentSubjectExpenseDetail" resultType="Map" parameterType="String">
        ${sql}
    </select>
</mapper>