<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.GL_CashTableDao" >
    <insert id="insertList" parameterType="List">
        insert into GL_CashTable(
        iPeriod,
        iSignSeq,
        iNo_id,
        inid,
        cCashItem,
        md,
        mc,
        ccode,
        md_f,
        mc_f,
        nd_s,
        nc_s,
        cdept_id,
        cperson_id,
        ccus_id,
        csup_id,
        citem_class,
        citem_id,
        cDefine1,
        cDefine2,
        cDefine3,
        cDefine4,
        cDefine5,
        cDefine6,
        cDefine8,
        cDefine9,
        cDefine10,
        cDefine11,
        cDefine12,
        cDefine13,
        cDefine14,
        cDefine15,
        dbill_date,
        csign,
        iyear,
        iYPeriod,
        RowGuid,
        cexch_name
        )values
        <if test="list !=null and list.size > 0">
            <foreach collection="list" separator="," item="item" index="index">
                (
                #{item.iPeriod},
                #{item.iSignSeq},
                #{item.iNo_id},
                #{item.inid},
                #{item.cCashItem},
                #{item.md},
                #{item.mc},
                #{item.ccode},
                #{item.md_f},
                #{item.mc_f},
                #{item.nd_s},
                #{item.nc_s},
                #{item.cdept_id},
                #{item.cperson_id},
                #{item.ccus_id},
                #{item.csup_id},
                #{item.citem_class},
                #{item.citem_id},
                #{item.cDefine1},
                #{item.cDefine2},
                #{item.cDefine3},
                #{item.cDefine4},
                #{item.cDefine5},
                #{item.cDefine6},
                #{item.cDefine8},
                #{item.cDefine9},
                #{item.cDefine10},
                #{item.cDefine11},
                #{item.cDefine12},
                #{item.cDefine13},
                #{item.cDefine14},
                #{item.cDefine15},
                #{item.dbill_date},
                #{item.csign},
                #{item.iyear},
                #{item.iYPeriod},
                #{item.RowGuid},
                #{item.cexch_name}
                )
            </foreach>
        </if>
    </insert>

    <insert id="insert" parameterType="GL_CashTableDto" useGeneratedKeys="true" keyProperty="i_id"  keyColumn="i_id">
        insert into GL_CashTable(
        iPeriod,
        iSignSeq,
        iNo_id,
        inid,
        cCashItem,
        md,
        mc,
        ccode,
        md_f,
        mc_f,
        nd_s,
        nc_s,
        cdept_id,
        cperson_id,
        ccus_id,
        csup_id,
        citem_class,
        citem_id,
        cDefine1,
        cDefine2,
        cDefine3,
        cDefine4,
        cDefine5,
        cDefine6,
        cDefine8,
        cDefine9,
        cDefine10,
        cDefine11,
        cDefine12,
        cDefine13,
        cDefine14,
        cDefine15,
        dbill_date,
        csign,
        iyear,
        iYPeriod,
        cexch_name
        )values
        (
                #{iPeriod},
                #{iSignSeq},
                #{iNo_id},
                #{inid},
                #{cCashItem},
                #{md},
                #{mc},
                #{ccode},
                #{md_f},
                #{mc_f},
                #{nd_s},
                #{nc_s},
                #{cdept_id},
                #{cperson_id},
                #{ccus_id},
                #{csup_id},
                #{citem_class},
                #{citem_id},
                #{cDefine1},
                #{cDefine2},
                #{cDefine3},
                #{cDefine4},
                #{cDefine5},
                #{cDefine6},
                #{cDefine8},
                #{cDefine9},
                #{cDefine10},
                #{cDefine11},
                #{cDefine12},
                #{cDefine13},
                #{cDefine14},
                #{cDefine15},
                #{dbill_date},
                #{csign},
                #{iyear},
                #{iYPeriod},
                #{cexch_name}
                )
    </insert>

    <select id="getMaxId" parameterType="GL_CashTableDto" resultType="String">
        select (cast(coalesce(max(iNo_id) ,'0')AS numeric)+ 1) as VARCHAR  from GL_CashTable
        where iPeriod=${iPeriod} and iyear=${iyear}
    </select>
	
</mapper>