<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.GL_mendDao" >
    <select id="queryBFlag_PU" resultType="String" parameterType="String">
        select bflag_PU from GL_mend
        where cast (iYPeriod as varchar)=#{rq}
    </select>
</mapper>