<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.HY_DZ_BorrowOutDao">

    <select id="queryByCode" parameterType="HY_DZ_BorrowOutDto" resultType="HY_DZ_BorrowOutDto">
		SELECT cCODE,ID
		FROM HY_DZ_BorrowOut
  			where cCODE=#{cCODE}
	</select>

    <select id="getcCode" parameterType="HY_DZ_BorrowOutDto" resultType="HY_DZ_BorrowOutDto">
		SELECT cCODE,ID
			FROM HY_DZ_BorrowOut
			where LEN(cCODE)=10 and cCode>#{cCODE}
  			order by cCODE
	</select>

	<insert id="insert" parameterType="HY_DZ_BorrowOutDto">
		INSERT INTO HY_DZ_BorrowOut(ID, cCreateType, cCODE, cType, bObjectCode, cdepcode, ddate,
		cmemo, cfreight, cMaker, dmDate, cHandler, dVeriDate, iStatus, VoucherType, iswfcontrolled, iVTID, csysbarcode, cborrowouttype, type_id,cContactperson,cContactWay ) VALUES (
		#{ID}, #{cCreateType}, #{cCODE}, #{cType}, #{bObjectCode}, #{cdepcode},cast(#{ddate} as datetime),
		#{cmemo}, #{cfreight}, #{cMaker},cast(#{dmDate} as datetime) , #{cHandler},cast(#{dVeriDate} as datetime), '2', #{VoucherType}, '0', #{iVTID}, #{csysbarcode}, '0', '22',#{cContactperson},#{cContactWay}
		)
	</insert>
</mapper>