<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.HY_DZ_BorrowOutBackDao">

    <select id="queryByCode" parameterType="HY_DZ_BorrowOutBackDto" resultType="HY_DZ_BorrowOutBackDto">
		SELECT cCODE,ID
		FROM HY_DZ_BorrowOutBack
  			where cCODE=#{cCODE}
	</select>

    <select id="getcCode" parameterType="HY_DZ_BorrowOutBackDto" resultType="HY_DZ_BorrowOutBackDto">
		SELECT cCODE,ID
			FROM HY_DZ_BorrowOutBack
			where LEN(cCODE)=10 and cCode>#{cCODE}
  			order by cCODE
	</select>

	<insert id="insert" parameterType="HY_DZ_BorrowOutBackDto">
		INSERT INTO HY_DZ_BorrowOutBack(ID,cCODE, cType, bObjectCode, cdepcode, ddate,
		cmemo, cfreight, cMaker, dmDate, cHandler, dVeriDate,csysbarcode,cpersoncode,iStatus,MycdefineT3,iVTID,type_id,
		iswfcontrolled
		) VALUES (
		#{ID}, #{cCODE}, #{cType}, #{bObjectCode}, #{cdepcode},cast(#{ddate} as datetime),
		#{cmemo}, #{cfreight}, #{cMaker},cast(#{dmDate} as datetime) , #{cHandler},cast(#{dVeriDate} as datetime), #{csysbarcode},
		#{cpersoncode},#{iStatus},#{MycdefineT3},#{iVTID},#{type_id},0
		)
	</insert>
</mapper>