<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.HY_DZ_BorrowOutBacksDao">
    <select id="queryByCode" parameterType="HY_DZ_BorrowOutBacksDto" resultType="HY_DZ_BorrowOutBacksDto">
		SELECT cCODE,AutoID
		FROM HY_DZ_BorrowOutBacks
  			where cCODE=#{cCODE}
	</select>

    <select id="getcCode" parameterType="HY_DZ_BorrowOutBacksDto" resultType="HY_DZ_BorrowOutBacksDto">
		SELECT cCODE,AutoID
			FROM HY_DZ_BorrowOutBacks
			where LEN(cCODE)=10 and cCode>#{cCODE}
  			order by cCODE
	</select>

	<insert id="insert" parameterType="HY_DZ_BorrowOutBacksDto">
		INSERT INTO HY_DZ_BorrowOutBacks
		   (ID, AutoID, UpAutoID, diffBack, cinvcode, cwhcode, cPosition,iquantity, cmemo, cbatch, cbsysbarcode, dmadedate, imassdate, cmassunit, dvdate,inum
		   ,iQtyRK,iQtyRK2,iexpiratdatecalcu
		   )
		   VALUES
		    (#{ID}, #{AutoID}, #{UpAutoID}, #{diffBack}, #{cinvcode}, #{cwhcode},#{cPosition},#{iquantity}, #{cmemo}, #{cbatch}, #{cbsysbarcode},cast(#{dmadedate} as datetime),
		    #{imassdate},#{cmassunit},cast(#{dvdate} as datetime),#{inum},#{iQtyRK},#{iQtyRK2},#{iexpiratdatecalcu}
		    )
	</insert>

	<insert id="insert2" parameterType="HY_DZ_BorrowOutBacksDto">
		INSERT INTO HY_DZ_BorrowOutBacks2
		(AutoID, UpID, UpAutoID, VoucherType, diffBack, cinvcode, cwhcode, cPosition,iquantity, inum, iinvexchrate, cmemo
		,iQtyRK,iQtyRK2,cbatch,MycdefineB8,MycdefineB9
		)
		VALUES
		(#{AutoID}, #{UpID}, #{UpAutoID}, #{VoucherType}, #{diffBack}, #{cinvcode}, #{cwhcode},#{cPosition},#{iquantity},#{inum},#{iinvexchrate}, #{cmemo},
		#{iQtyRK},#{iQtyRK2},#{cbatch},#{MycdefineB8},#{MycdefineB9}
		)
	</insert>
</mapper>