<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.IA_ST_UnAccountVouchDao" >	
	<insert id="insertAccountV01s" parameterType="List">
		insert into IA_ST_UnAccountVouch01(
		IDUN,IDSUN,cVouTypeUN,cBUstypeUN
		)
		values
		<foreach collection="list" separator="," item="item" index="index">
			(#{item.IDUN},#{item.IDSUN},#{item.cVouTypeUN},#{item.cBUstypeUN})
		</foreach>
	</insert>
	
	<insert id="insertAccountV08s" parameterType="List">
		insert into IA_ST_UnAccountVouch08(
		IDUN,IDSUN,cVouTypeUN,cBUstypeUN
		)
		values
		<foreach collection="list" separator="," item="item" index="index">
			(#{item.IDUN},#{item.IDSUN},#{item.cVouTypeUN},#{item.cBUstypeUN})
		</foreach>
	</insert>
	
	<insert id="insertAccountV09s" parameterType="List">
		insert into IA_ST_UnAccountVouch09(
		IDUN,IDSUN,cVouTypeUN,cBUstypeUN
		)
		values
		<foreach collection="list" separator="," item="item" index="index">
			(#{item.IDUN},#{item.IDSUN},#{item.cVouTypeUN},#{item.cBUstypeUN})
		</foreach>
	</insert>
	
	<insert id="insertAccountV10s" parameterType="List">
		insert into IA_ST_UnAccountVouch10(
		IDUN,IDSUN,cVouTypeUN,cBUstypeUN
		)
		values
		<foreach collection="list" separator="," item="item" index="index">
			(#{item.IDUN},#{item.IDSUN},#{item.cVouTypeUN},#{item.cBUstypeUN})
		</foreach>
	</insert>
	
	<insert id="insertAccountV11s" parameterType="List">
		insert into IA_ST_UnAccountVouch11(
		IDUN,IDSUN,cVouTypeUN,cBUstypeUN
		)
		values
		<foreach collection="list" separator="," item="item" index="index">
			(#{item.IDUN},#{item.IDSUN},#{item.cVouTypeUN},#{item.cBUstypeUN})
		</foreach>
	</insert>
	
	<insert id="insertAccountV32s" parameterType="List">
		insert into IA_ST_UnAccountVouch32(
		IDUN,IDSUN,cVouTypeUN,cBUstypeUN
		)
		values
		<foreach collection="list" separator="," item="item" index="index">
			(#{item.IDUN},#{item.IDSUN},#{item.cVouTypeUN},#{item.cBUstypeUN})
		</foreach>
	</insert>
</mapper>