<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.MaterialAppVouchsDao" >
	<insert id="insertList" parameterType="List">
		insert into MaterialAppVouchs(AutoID,ID,cInvCode,iQuantity,dVDate,cItem_class,cItemCode,cItemCName,dMadeDate,iMassDate,cMassUnit,cWhCode,cbMemo,cbsysbarcode,cBatch,cName,iExpiratDateCalcu,iordertype,isotype,ipesotype,corufts,crejectcode,irowno)
		values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(
				#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.dVDate},
				#{item.cItem_class},#{item.cItemCode},#{item.cItemCName},#{item.dMadeDate},
				#{item.iMassDate},#{item.cMassUnit},#{item.cWhCode},#{item.cbMemo},#{item.cbsysbarcode},
				#{item.cBatch},#{item.cName},0,0,0,0,null,null,#{item.irowno}
				)
			</foreach>
		</if>
	</insert>
	
	<update id="update" parameterType="MaterialAppVouchsDto">
		update MaterialAppVouchs set 
		<trim prefixOverrides=",">
		<if test="ID != null and ID != ''">
			,ID=#{ID}
		</if>
		<if test="cInvCode != null and cInvCode != ''">
			,cInvCode=#{cInvCode}
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,iQuantity=#{iQuantity}
		</if>
		<if test="dVDate != null and dVDate != ''">
			,dVDate=#{dVDate}
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,cItem_class=#{cItem_class}
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,cItemCode=#{cItemCode}
		</if>
		<if test="cItemCName != null and cItemCName != ''">
			,cItemCName=#{cItemCName}
		</if>
		<if test="dMadeDate != null and dMadeDate != ''">
			,dMadeDate=#{dMadeDate}
		</if>
		<if test="iMassDate != null and iMassDate != ''">
			,iMassDate=#{iMassDate}
		</if>
		<if test="cMassUnit != null and cMassUnit != ''">
			,cMassUnit=#{cMassUnit}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode=#{cWhCode}
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,cbMemo=#{cbMemo}
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,cbsysbarcode=#{cbsysbarcode}
		</if>
		<if test="cBatch != null and cBatch != ''">
			,cBatch=#{cBatch}
		</if>
		<if test="cName != null and cName != ''">
			,cName=#{cName}
		</if>
		</trim>
		<where>
			AutoID=#{AutoID}
		</where>
	</update>
	
	<update id="updateList" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				update MaterialAppVouchs
			<set>
				fOutQuantity=COALESCE(fOutQuantity,0) + #{item.fOutQuantity}
			</set>
			<where>
				AutoID=#{item.AutoID}
			</where>
			</foreach>
		</if>
	</update>
	<update id="updateFOutQuantitys" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				update MaterialAppVouchs
				<set>
					fOutQuantity=COALESCE(fOutQuantity,0) - #{item.fOutQuantity}
				</set>
				<where>
					AutoID=#{item.AutoID}
				</where>
			</foreach>
		</if>
	</update>
	<select id="getMatersInfo" parameterType="String" resultType="MaterialAppVouchsDto">
		select AutoID,irowno  from  MaterialAppVouchs where AutoID=#{AutoID}
	</select>
</mapper>