<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.MaterialAppVouchDao" >
	<insert id="insert" parameterType="MaterialAppVouchDto">
		insert into MaterialAppVouch(
		ID
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="VT_ID != null and VT_ID != ''">
			,VT_ID
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		<if test="cHandler != null and cHandler != ''">
			,cHandler
		</if>
		<if test="dVeriDate != null and dVeriDate != ''">
			,dVeriDate
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>
		,ireturncount,iverifystate,iswfcontrolled,iPrintCount,cModifyPerson
		)values(
			#{ID}
		<if test="dDate != null and dDate != ''">
			,#{dDate}
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,#{cRdCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="VT_ID != null and VT_ID != ''">
			,#{VT_ID}
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,cast(#{dnmaketime} as datetime)
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		<if test="cHandler != null and cHandler != ''">
			,#{cHandler}
		</if>
		<if test="dVeriDate != null and dVeriDate != ''">
			,#{dVeriDate}
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,#{dnverifytime}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>
		,0,0,0,0,''
		)
	</insert>
	
	<update id="update" parameterType="MaterialAppVouchDto">
		update MaterialAppVouch set 
		<trim prefixOverrides=",">
		<if test="dDate != null and dDate != ''">
			,dDate=#{dDate}
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode=#{cCode}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode=#{cRdCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode=#{cDepCode}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker=#{cMaker}
		</if>
		<if test="VT_ID != null and VT_ID != ''">
			,VT_ID=#{VT_ID}
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime=cast(#{dnmaketime} as datetime)
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode=#{csysbarcode}
		</if>
		</trim>
		<where>
			ID=#{ID}
		</where>
	</update>
	
	<update id="updateDto" parameterType="MaterialAppVouchDto">
		update MaterialAppVouch set 
			cChanger=''
		<where>
			ID=#{ID}
		</where>
	</update>
	
	<select id="getcCode" parameterType="MaterialAppVouchDto" resultType="MaterialAppVouchDto">
		SELECT cCode,ID
			FROM MaterialAppVouch
			where LEN(cCode)=10 and cCode>#{cCode}
  			order by cCode	
	</select>
	
	<select id="queryByCode" parameterType="MaterialAppVouchDto" resultType="MaterialAppVouchDto">
		SELECT cCode,ID
		FROM MaterialAppVouch
  			where cCode=#{cCode}
	</select>
	
	<select id="getDtoById" parameterType="String" resultType="MaterialAppVouchDto">
		SELECT cCode,ID
		FROM MaterialAppVouch
  			where ID=#{ID}
	</select>
</mapper>