<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.OM_MOMainDao">
    <insert id="insert" parameterType="OM_MOMainDto">
        insert into OM_MOMain(MOID
        <if test="cCode != null and cCode != ''">
            ,cCode
        </if>
        <if test="dDate != null and dDate != ''">
            ,dDate
        </if>
        <if test="cVenCode != null and cVenCode != ''">
            ,cVenCode
        </if>
        <if test="cDepCode != null and cDepCode != ''">
            ,cDepCode
        </if>
        <if test="cPTCode != null and cPTCode != ''">
            ,cPTCode
        </if>
        <if test="cexch_name != null and cexch_name != ''">
            ,cexch_name
        </if>
        <if test="nflat != null and nflat != ''">
            ,nflat
        </if>
        <if test="iTaxRate != null and iTaxRate != ''">
            ,iTaxRate
        </if>
        <if test="cMemo != null and cMemo != ''">
            ,cMemo
        </if>
        <if test="cMaker != null and cMaker != ''">
            ,cMaker
        </if>
        <if test="cVerifier != null and cVerifier != ''">
            ,cVerifier
        </if>
        <if test="cDefine1 != null and cDefine1 != ''">
            ,cDefine1
        </if>
        <if test="iVTid != null and iVTid != ''">
            ,iVTid
        </if>
        <if test="cBusType != null and cBusType != ''">
            ,cBusType
        </if>
        <if test="cLocker != null and cLocker != ''">
            ,cLocker
        </if>
        <if test="dCreateTime != null and dCreateTime != ''">
            ,dCreateTime
        </if>
        <if test="dVerifyDate != null and dVerifyDate != ''">
            ,dVerifyDate
        </if>
        <if test="dVerifyTime != null and dVerifyTime != ''">
            ,dVerifyTime
        </if>
        <if test="csrccode != null and csrccode != ''">
            ,csrccode
        </if>
        <if test="csysbarcode != null and csysbarcode != ''">
            ,csysbarcode
        </if>
        <if test="cDepCode != null and cDepCode != ''">
            ,cDepCode
        </if>
        ,iCost,iBargain,cDefine7,cState,iVerifyStateNew,iPrintCount,iOrderType,bRework
        )values(
          #{MOID}
        <if test="cCode != null and cCode != ''">
            ,#{cCode}
        </if>
        <if test="dDate != null and dDate != ''">
            ,#{dDate}
        </if>
        <if test="cVenCode != null and cVenCode != ''">
            ,#{cVenCode}
        </if>
        <if test="cDepCode != null and cDepCode != ''">
            ,#{cDepCode}
        </if>
        <if test="cPTCode != null and cPTCode != ''">
            ,#{cPTCode}
        </if>
        <if test="cexch_name != null and cexch_name != ''">
            ,#{cexch_name}
        </if>
        <if test="nflat != null and nflat != ''">
            ,#{nflat}
        </if>
        <if test="iTaxRate != null and iTaxRate != ''">
            ,#{iTaxRate}
        </if>
        <if test="cMemo != null and cMemo != ''">
            ,#{cMemo}
        </if>
        <if test="cMaker != null and cMaker != ''">
            ,#{cMaker}
        </if>
        <if test="cVerifier != null and cVerifier != ''">
            ,#{cVerifier}
        </if>
        <if test="cDefine1 != null and cDefine1 != ''">
            ,#{cDefine1}
        </if>
        <if test="iVTid != null and iVTid != ''">
            ,#{iVTid}
        </if>
        <if test="cBusType != null and cBusType != ''">
            ,#{cBusType}
        </if>
        <if test="cLocker != null and cLocker != ''">
            ,#{cLocker}
        </if>
        <if test="dCreateTime != null and dCreateTime != ''">
            ,#{dCreateTime}
        </if>
        <if test="dVerifyDate != null and dVerifyDate != ''">
            ,#{dVerifyDate}
        </if>
        <if test="dVerifyTime != null and dVerifyTime != ''">
            ,#{dVerifyTime}
        </if>
        <if test="csrccode != null and csrccode != ''">
            ,#{csrccode}
        </if>
        <if test="csysbarcode != null and csysbarcode != ''">
            ,#{csysbarcode}
        </if>
        <if test="cDepCode != null and cDepCode != ''">
            ,#{cDepCode}
        </if>
        ,null,null,null,1,2,null,0,0
        )
    </insert>
    <!-- 同步修改方法 -->
    <update id="update" parameterType="OM_MOMainDto">
        update OM_MOMain
        <set>
            MOID = #{MOID}
            <if test="cState != null and cState != ''">
                ,cState = #{cState}
            </if>
        </set>
        <where>
            MOID = #{MOID}
        </where>
    </update>
</mapper>