<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.PO_PodetailsDao" >
	<insert id="insert" parameterType="PO_PodetailsDto">
		insert into PO_Podetails(ID,iBG_Ctrl
		<if test="cInvCode != null and cInvCode != ''">
			,cInvCode
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,iQuantity
		</if>
		<if test="iUnitPrice != null and iUnitPrice != ''">
			,iUnitPrice
		</if>
		<if test="iMoney != null and iMoney != ''">
			,iMoney
		</if>
		<if test="iTax != null and iTax != ''">
			,iTax
		</if>
		<if test="iSum != null and iSum != ''">
			,iSum
		</if>
		<if test="iDisCount != null and iDisCount != ''">
			,iDisCount
		</if>
		<if test="iNatUnitPrice != null and iNatUnitPrice != ''">
			,iNatUnitPrice
		</if>
		<if test="iNatMoney != null and iNatMoney != ''">
			,iNatMoney
		</if>
		<if test="iNatTax != null and iNatTax != ''">
			,iNatTax
		</if>
		<if test="iNatSum != null and iNatSum != ''">
			,iNatSum
		</if>
		<if test="dArriveDate != null and dArriveDate != ''">
			,dArriveDate
		</if>
		<if test="iReceivedQTY != null and iReceivedQTY != ''">
			,iReceivedQTY
		</if>
		<if test="iReceivedNum != null and iReceivedNum != ''">
			,iReceivedNum
		</if>
		<if test="iReceivedMoney != null and iReceivedMoney != ''">
			,iReceivedMoney
		</if>
		<if test="iInvQTY != null and iInvQTY != ''">
			,iInvQTY
		</if>
		<if test="iInvNum != null and iInvNum != ''">
			,iInvNum
		</if>
		<if test="iInvMoney != null and iInvMoney != ''">
			,iInvMoney
		</if>
		<if test="iPerTaxRate != null and iPerTaxRate != ''">
			,iPerTaxRate
		</if>
		<if test="bGsp != null and bGsp != ''">
			,bGsp
		</if>
		<if test="POID != null and POID != ''">
			,POID
		</if>
		<if test="iTaxPrice != null and iTaxPrice != ''">
			,iTaxPrice
		</if>
		<if test="iAppIds != null and iAppIds != ''">
			,iAppIds
		</if>
		<if test="bTaxCost != null and bTaxCost != ''">
			,bTaxCost
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="SoType != null and SoType != ''">
			,SoType
		</if>
		<if test="cupsocode != null and cupsocode != ''">
			,cupsocode
		</if>
		<if test="iordertype != null and iordertype != ''">
			,iordertype
		</if>
		<if test="ivouchrowno != null and ivouchrowno != ''">
			,ivouchrowno
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,cbMemo
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,cbsysbarcode
		</if>
		<if test="bgift != null and bgift != ''">
			,bgift
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,cItemCode
		</if>	
		<if test="cItem_class != null and cItem_class != ''">
			,cItem_class
		</if>	
		<if test="cItemName != null and cItemName != ''">
			,cItemName
		</if>	
		<if test="dUfts != null and dUfts != ''">
			,dUfts
		</if>			
		)values(
			#{ID},#{iBG_Ctrl}
		<if test="cInvCode != null and cInvCode != ''">
			,#{cInvCode}
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,#{iQuantity}
		</if>
		<if test="iUnitPrice != null and iUnitPrice != ''">
			,#{iUnitPrice}
		</if>
		<if test="iMoney != null and iMoney != ''">
			,#{iMoney}
		</if>
		<if test="iTax != null and iTax != ''">
			,#{iTax}
		</if>
		<if test="iSum != null and iSum != ''">
			,#{iSum}
		</if>
		<if test="iDisCount != null and iDisCount != ''">
			,#{iDisCount}
		</if>
		<if test="iNatUnitPrice != null and iNatUnitPrice != ''">
			,#{iNatUnitPrice}
		</if>
		<if test="iNatMoney != null and iNatMoney != ''">
			,#{iNatMoney}
		</if>
		<if test="iNatTax != null and iNatTax != ''">
			,#{iNatTax}
		</if>
		<if test="iNatSum != null and iNatSum != ''">
			,#{iNatSum}
		</if>
		<if test="dArriveDate != null and dArriveDate != ''">
			,#{dArriveDate}
		</if>
		<if test="iReceivedQTY != null and iReceivedQTY != ''">
			,#{iReceivedQTY}
		</if>
		<if test="iReceivedNum != null and iReceivedNum != ''">
			,#{iReceivedNum}
		</if>
		<if test="iReceivedMoney != null and iReceivedMoney != ''">
			,#{iReceivedMoney}
		</if>
		<if test="iInvQTY != null and iInvQTY != ''">
			,#{iInvQTY}
		</if>
		<if test="iInvNum != null and iInvNum != ''">
			,#{iInvNum}
		</if>
		<if test="iInvMoney != null and iInvMoney != ''">
			,#{iInvMoney}
		</if>
		<if test="iPerTaxRate != null and iPerTaxRate != ''">
			,#{iPerTaxRate}
		</if>
		<if test="bGsp != null and bGsp != ''">
			,#{bGsp}
		</if>
		<if test="POID != null and POID != ''">
			,#{POID}
		</if>
		<if test="iTaxPrice != null and iTaxPrice != ''">
			,#{iTaxPrice}
		</if>
		<if test="iAppIds != null and iAppIds != ''">
			,#{iAppIds}
		</if>
		<if test="bTaxCost != null and bTaxCost != ''">
			,#{bTaxCost}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="SoType != null and SoType != ''">
			,#{SoType}
		</if>
		<if test="cupsocode != null and cupsocode != ''">
			,#{cupsocode}
		</if>
		<if test="iordertype != null and iordertype != ''">
			,#{iordertype}
		</if>
		<if test="ivouchrowno != null and ivouchrowno != ''">
			,#{ivouchrowno}
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,#{cbMemo}
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,#{cbsysbarcode}
		</if>
		<if test="bgift != null and bgift != ''">
			,#{bgift}
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,#{cItemCode}
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,#{cItem_class}
		</if>
		<if test="cItemName != null and cItemName != ''">
			,#{cItemName}
		</if>
		<if test="dUfts != null and dUfts != ''">
			,#{dUfts}
		</if>
		)
	</insert>
	<!-- 获取ID最大值 -->
	<select id="getMax" parameterType="PO_PodetailsDto" resultType="java.lang.Integer">
		select max(ID) as num from PO_Podetails
	</select>
	<!-- 获得序号最大值 -->
	<select id="getXhMax" parameterType="PO_PodetailsDto" resultType="java.lang.Integer">
		select COALESCE(max(ivouchrowno),0) as xhNum from PO_Podetails
		where POID=#{POID}
	</select>
	
	<!-- 同步修改方法 -->
	<update id="update" parameterType="PO_PodetailsDto">
		update PO_Podetails
		<set>
			ID = #{ID}
			<if test="cInvCode != null and cInvCode != ''">
				,cInvCode = #{cInvCode}
			</if>
			<if test="iQuantity != null and iQuantity != ''">
				,iQuantity = #{iQuantity}
			</if>
			<if test="iUnitPrice != null and iUnitPrice != ''">
				,iUnitPrice = #{iUnitPrice}
			</if>
			<if test="iMoney != null and iMoney != ''">
				,iMoney = #{iMoney}
			</if>
			<if test="iTax != null and iTax != ''">
				,iTax = #{iTax}
			</if>
			<if test="iSum != null and iSum != ''">
				,iSum = #{iSum}
			</if>
			<if test="iDisCount != null and iDisCount != ''">
				,iDisCount = #{iDisCount}
			</if>
			<if test="iNatUnitPrice != null and iNatUnitPrice != ''">
				,iNatUnitPrice = #{iNatUnitPrice}
			</if>
			<if test="iNatMoney != null and iNatMoney != ''">
				,iNatMoney = #{iNatMoney}
			</if>
			<if test="iNatTax != null and iNatTax != ''">
				,iNatTax = #{iNatTax}
			</if>
			<if test="iNatSum != null and iNatSum != ''">
				,iNatSum = #{iNatSum}
			</if>
			<if test="dArriveDate != null and dArriveDate != ''">
				,dArriveDate = #{dArriveDate}
			</if>
			<if test="iReceivedQTY != null and iReceivedQTY != ''">
				,iReceivedQTY = #{iReceivedQTY}
			</if>
			<if test="iReceivedNum != null and iReceivedNum != ''">
				,iReceivedNum = #{iReceivedNum}
			</if>
			<if test="iReceivedMoney != null and iReceivedMoney != ''">
				,iReceivedMoney = #{iReceivedMoney}
			</if>
			<if test="iInvQTY != null and iInvQTY != ''">
				,iInvQTY = #{iInvQTY}
			</if>
			<if test="iInvNum != null and iInvNum != ''">
				,iInvNum = #{iInvNum}
			</if>
			<if test="iInvMoney != null and iInvMoney != ''">
				,iInvMoney = #{iInvMoney}
			</if>
			<if test="iPerTaxRate != null and iPerTaxRate != ''">
				,iPerTaxRate = #{iPerTaxRate}
			</if>
			<if test="bGsp != null and bGsp != ''">
				,bGsp = #{bGsp}
			</if>
			<if test="POID != null and POID != ''">
				,POID = #{POID}
			</if>
			<if test="iTaxPrice != null and iTaxPrice != ''">
				,iTaxPrice = #{iTaxPrice}
			</if>
			<if test="iAppIds != null and iAppIds != ''">
				,iAppIds = #{iAppIds}
			</if>
			<if test="bTaxCost != null and bTaxCost != ''">
				,bTaxCost = #{bTaxCost}
			</if>
			<if test="cSource != null and cSource != ''">
				,cSource = #{cSource}
			</if>
			<if test="SoType != null and SoType != ''">
				,SoType = #{SoType}
			</if>
			<if test="cupsocode != null and cupsocode != ''">
				,cupsocode = #{cupsocode}
			</if>
			<if test="iordertype != null and iordertype != ''">
				,iordertype = #{iordertype}
			</if>
			<if test="ivouchrowno != null and ivouchrowno != ''">
				,ivouchrowno = #{ivouchrowno}
			</if>
			<if test="cbMemo != null and cbMemo != ''">
				,cbMemo = #{cbMemo}
			</if>
			<if test="cbsysbarcode != null and cbsysbarcode != ''">
				,cbsysbarcode = #{cbsysbarcode}
			</if>
			<if test="bgift != null and bgift != ''">
				,bgift = #{bgift}
			</if>
			<if test="cbCloseTime != null and cbCloseTime != ''">
				,cbCloseTime = #{cbCloseTime}
			</if>
			<if test="cbCloseDate != null and cbCloseDate != ''">
				,cbCloseDate = #{cbCloseDate}
			</if>
			,cbCloser = #{cbCloser}
		</set>
		<where>
			ID = #{ID}
		</where>
	</update>
	<!-- 同步修改方法 -->
	<update id="updatePo" parameterType="PO_PodetailsDto">
		update PO_Podetails
		<set>
				cbCloseTime = #{cbCloseTime}
				,cbCloseDate = #{cbCloseDate}
				,cbCloser = #{cbCloser}
		</set>
		<where>
			ID = #{ID}
		</where>
	</update>
	<!-- 同步修改方法 -->
	<update id="updatePos" parameterType="PO_PodetailsDto">
		update PO_Podetails
		<set>
				cbCloseTime = #{cbCloseTime}
				,cbCloseDate = #{cbCloseDate}
				,cbCloser = #{cbCloser}
		</set>
		<where>
			ID in
			<foreach collection="ids" open="(" close=")" separator="," item="item">
				#{item}
			</foreach>
		</where>
	</update>
	<select id="getDtoById" parameterType="String" resultType="PO_PodetailsDto">
		select cbsysbarcode from PO_Podetails where ID=#{ID}
	</select>
	
	<update id="updateRkxx" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				update PO_Podetails
			<set>
				ID=#{item.ID}
			 	<if test="item.iReceivedQTY != null and item.iReceivedQTY != ''">
					,iReceivedQTY = COALESCE(iReceivedQTY,0) + #{item.iReceivedQTY}
				</if>
				<if test="item.iReceivedMoney != null and item.iReceivedMoney != ''">
					,iReceivedMoney = COALESCE(iReceivedMoney,0) + #{item.iReceivedMoney}
				</if>
				<if test="item.iReceivedNum != null and item.iReceivedNum != ''">
					,iReceivedNum = #{item.iReceivedNum}
				</if>
			</set>
			<where>
				ID=#{item.ID}
			</where>
			</foreach>
		</if>
	</update>
</mapper>