<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.PO_PomainDao" >
	<insert id="insert" parameterType="PO_PomainDto">
		insert into PO_Pomain(POID
		<if test="dPODate != null and dPODate != ''">
			,dPODate
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cPTCode != null and cPTCode != ''">
			,cPTCode
		</if>
		<if test="cexch_name != null and cexch_name != ''">
			,cexch_name
		</if>
		<if test="nflat != null and nflat != ''">
			,nflat
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="iCost != null and iCost != ''">
			,iCost
		</if>
		<if test="iBargain != null and iBargain != ''">
			,iBargain
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>
		<if test="cState != null and cState != ''">
			,cState
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="cVerifier != null and cVerifier != ''">
			,cVerifier
		</if>
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1
		</if>
		
		<if test="cPOID != null and cPOID != ''">
			,cPOID
		</if>
		<if test="iVTid != null and iVTid != ''">
			,iVTid
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="iDiscountTaxType != null and iDiscountTaxType != ''">
			,iDiscountTaxType
		</if>
		<if test="iverifystateex != null and iverifystateex != ''">
			,iverifystateex
		</if>
		<if test="IsWfControlled != null and IsWfControlled != ''">
			,IsWfControlled
		</if>
		<if test="cmaketime != null and cmaketime != ''">
			,cmaketime
		</if>
		<if test="cAuditTime != null and cAuditTime != ''">
			,cAuditTime
		</if>
		<if test="cAuditDate != null and cAuditDate != ''">
			,cAuditDate
		</if>
		<if test="iflowid != null and iflowid != ''">
			,iflowid
		</if>
		<if test="iPrintCount != null and iPrintCount != ''">
			,iPrintCount
		</if>
		<if test="cappcode != null and cappcode != ''">
			,cappcode
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		)values(#{POID}
		<if test="dPODate != null and dPODate != ''">
			,#{dPODate}
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,#{cVenCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cPTCode != null and cPTCode != ''">
			,#{cPTCode}
		</if>
		<if test="cexch_name != null and cexch_name != ''">
			,#{cexch_name}
		</if>
		<if test="nflat != null and nflat != ''">
			,#{nflat}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="iCost != null and iCost != ''">
			,#{iCost}
		</if>
		<if test="iBargain != null and iBargain != ''">
			,#{iBargain}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>
		<if test="cState != null and cState != ''">
			,#{cState}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="cVerifier != null and cVerifier != ''">
			,#{cVerifier}
		</if>
		<if test="cDefine1 != null and cDefine1 != ''">
			,#{cDefine1}
		</if>
		<if test="cPOID != null and cPOID != ''">
			,#{cPOID}
		</if>
		<if test="iVTid != null and iVTid != ''">
			,#{iVTid}
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		<if test="iDiscountTaxType != null and iDiscountTaxType != ''">
			,#{iDiscountTaxType}
		</if>
		<if test="iverifystateex != null and iverifystateex != ''">
			,#{iverifystateex}
		</if>
		<if test="IsWfControlled != null and IsWfControlled != ''">
			,#{IsWfControlled}
		</if>
		<if test="cmaketime != null and cmaketime != ''">
			,#{cmaketime}
		</if>
		<if test="cAuditTime != null and cAuditTime != ''">
			,#{cAuditTime}
		</if>
		<if test="cAuditDate != null and cAuditDate != ''">
			,#{cAuditDate}
		</if>
		<if test="iflowid != null and iflowid != ''">
			,#{iflowid}
		</if>
		<if test="iPrintCount != null and iPrintCount != ''">
			,#{iPrintCount}
		</if>
		<if test="cappcode != null and cappcode != ''">
			,#{cappcode}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		)
	</insert>
	<!-- 获取POID最大值 -->
	<select id="getMax" parameterType="PO_PomainDto" resultType="java.lang.Integer">
		select max(POID) as num from PO_Pomain
	</select>
	<!-- 同步修改方法 -->
	<update id="update" parameterType="PO_PomainDto">
		update PO_Pomain
		<set>
			POID = #{POID}
			<if test="dPODate != null and dPODate != ''">
				,dPODate = #{dPODate}
			</if>
			<if test="cVenCode != null and cVenCode != ''">
				,cVenCode = #{cVenCode}
			</if>
			<if test="cDepCode != null and cDepCode != ''">
				,cDepCode = #{cDepCode}
			</if>
			<if test="cPTCode != null and cPTCode != ''">
				,cPTCode = #{cPTCode}
			</if>
			<if test="cexch_name != null and cexch_name != ''">
				,cexch_name = #{cexch_name}
			</if>
			<if test="nflat != null and nflat != ''">
				,nflat = #{nflat}
			</if>
			<if test="iTaxRate != null and iTaxRate != ''">
				,iTaxRate = #{iTaxRate}
			</if>
			<if test="iCost != null and iCost != ''">
				,iCost = #{iCost}
			</if>
			<if test="iBargain != null and iBargain != ''">
				,iBargain = #{iBargain}
			</if>
			<if test="cMemo != null and cMemo != ''">
				,cMemo = #{cMemo}
			</if>
			<if test="cState != null and cState != ''">
				,cState = #{cState}
			</if>
			<if test="cMaker != null and cMaker != ''">
				,cMaker = #{cMaker}
			</if>
			<if test="cVerifier != null and cVerifier != ''">
				,cVerifier = #{cVerifier}
			</if>
			<if test="cDefine1 != null and cDefine1 != ''">
				,cDefine1 = #{cDefine1}
			</if>
			<if test="cPOID != null and cPOID != ''">
				,cPOID = #{cPOID}
			</if>
			<if test="iVTid != null and iVTid != ''">
				,iVTid = #{iVTid}
			</if>
			<if test="cBusType != null and cBusType != ''">
				,cBusType = #{cBusType}
			</if>
			<if test="iDiscountTaxType != null and iDiscountTaxType != ''">
				,iDiscountTaxType = #{iDiscountTaxType}
			</if>
			<if test="iverifystateex != null and iverifystateex != ''">
				,iverifystateex = #{iverifystateex}
			</if>
			<if test="IsWfControlled != null and IsWfControlled != ''">
				,IsWfControlled = #{IsWfControlled}
			</if>
			<if test="cmaketime != null and cmaketime != ''">
				,cmaketime = #{cmaketime}
			</if>
			<if test="cAuditTime != null and cAuditTime != ''">
				,cAuditTime = #{cAuditTime}
			</if>
			<if test="cAuditDate != null and cAuditDate != ''">
				,cAuditDate = #{cAuditDate}
			</if>
			<if test="iflowid != null and iflowid != ''">
				,iflowid = #{iflowid}
			</if>
			<if test="iPrintCount != null and iPrintCount != ''">
				,iPrintCount = #{iPrintCount}
			</if>
			<if test="cappcode != null and cappcode != ''">
				,cappcode = #{cappcode}
			</if>
			<if test="csysbarcode != null and csysbarcode != ''">
				,csysbarcode = #{csysbarcode}
			</if>
		</set>
		<where>
			POID = #{POID}
		</where>
	</update>
	
	<select id="getContractSerial" parameterType="String" resultType="String">
		SELECT
			right('0' + cast(cast((coalesce(MAX(substring(cPOID,LEN(cPOID)-charindex('-',reverse(cPOID))+2,cast(#{num} as integer ))),0)) as numeric)+1 as VARCHAR),cast(#{num} as integer )) serial
			from PO_Pomain
			<where> 
				cPOID like #{prefix}+'%'
			</where>
	</select>
    
</mapper> 