<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.IPU_AppVouchDao" >
	
	<select id="insertPUAppVouch" parameterType="Map" resultType="PU_AppVouchDto">
		insert into PU_AppVouch(ID,iVTid,cCode,dDate,cPTCode,cBusType,iverifystateex
		<if test="_parameter.containsKey('cDepCode')">  
			,cDepCode
		</if>
		<if test="_parameter.containsKey('cMaker')">  
			,cMaker
		</if>
		<if test="_parameter.containsKey('cVerifier')">  
			,cVerifier
		</if>
		<if test="_parameter.containsKey('cDefine1')">  
			,cDefine1
		</if>
		<if test="_parameter.containsKey('IsWfControlled')">  
			,IsWfControlled
		</if>
		<if test="_parameter.containsKey('cMakeTime')">  
			,cMakeTime
		</if>
		<if test="_parameter.containsKey('iPrintCount')">  
			,iPrintCount
		</if>
		<if test="_parameter.containsKey('csysbarcode')">  
			,csysbarcode
		</if>
		<if test="_parameter.containsKey('cMemo')">  
			,cMemo
		</if>
		<if test="_parameter.containsKey('cAuditTime')">
			,cAuditTime
		</if>
		<if test="_parameter.containsKey('cAuditDate')">
			,cAuditDate
		</if>
		)output inserted.ID
		values(#{ID}
		,#{iVTid},#{cCode},cast(#{dDate} AS datetime),'01',#{cBusType},'2'
		<if test="_parameter.containsKey('cDepCode')">  
			,#{cDepCode}
		</if>
		<if test="_parameter.containsKey('cMaker')">  
			,#{cMaker}
		</if>
		<if test="_parameter.containsKey('cVerifier')">  
			,#{cVerifier}
		</if>
		<if test="_parameter.containsKey('cDefine1')">  
			,#{cDefine1}
		</if>
		<if test="_parameter.containsKey('IsWfControlled')">  
			,#{IsWfControlled}
		</if>
		<if test="_parameter.containsKey('cMakeTime')">  
			,getdate()
		</if>
		<if test="_parameter.containsKey('iPrintCount')">  
			,#{iPrintCount}
		</if>
		<if test="_parameter.containsKey('csysbarcode')">  
			,#{csysbarcode}
		</if>
		<if test="_parameter.containsKey('cMemo')">  
			,#{cMemo}
		</if>
		<if test="_parameter.containsKey('cAuditTime')">
			,cast(#{cAuditTime} as datetime)
		</if>
		<if test="_parameter.containsKey('cAuditDate')">
			,cast(#{cAuditDate} as datetime)
		</if>
		) 
	</select>
	
	<select id="insertPUAppVouchs" parameterType="PU_AppVouchsDto" resultType="PU_AppVouchsDto">
		insert into PU_AppVouchs(AutoID,ID,cInvCode,fQuantity,iPerTaxRate,dRequirDate,dArriveDate
			,iReceivedQTY,bTaxCost,cexch_name,iExchRate,ivouchrowno,cbsysbarcode,cbMemo,cItem_class,cItemCode,CItemName
			)output inserted.AutoID values
			(#{AutoID},#{ID},#{cInvCode},#{fQuantity},#{iPerTaxRate},cast(#{dRequirDate} AS datetime)
			,CONVERT(varchar(100),getdate(),23),#{iReceivedQTY},#{bTaxCost},#{cexch_name}
			,#{iExchRate} ,#{ivouchrowno},#{cbsysbarcode},#{cbMemo},#{cItem_class},#{cItemCode},#{CItemName}
		) 
	</select>

	<select id="insertPUAppVouchForWW" parameterType="Map" resultType="PU_AppVouchDto">
		insert into PU_AppVouch(ID,iVTid,cCode,dDate,cBusType,iverifystateex
		<if test="_parameter.containsKey('cDepCode')">
			,cDepCode
		</if>
		<if test="_parameter.containsKey('cMaker')">
			,cMaker
		</if>
		<if test="_parameter.containsKey('cVerifier')">
			,cVerifier
		</if>
		<if test="_parameter.containsKey('cDefine1')">
			,cDefine1
		</if>
		<if test="_parameter.containsKey('IsWfControlled')">
			,IsWfControlled
		</if>
		<if test="_parameter.containsKey('cMakeTime')">
			,cMakeTime
		</if>
		<if test="_parameter.containsKey('iPrintCount')">
			,iPrintCount
		</if>
		<if test="_parameter.containsKey('csysbarcode')">
			,csysbarcode
		</if>
		<if test="_parameter.containsKey('cMemo')">
			,cMemo
		</if>
		<if test="_parameter.containsKey('cAuditTime')">
			,cAuditTime
		</if>
		<if test="_parameter.containsKey('cAuditDate')">
			,cAuditDate
		</if>
		,iBG_OverFlag,cBG_Auditor,cBG_AuditTime
		)output inserted.ID
		values(#{ID}
		,#{iVTid},#{cCode},cast(#{dDate} AS datetime),#{cBusType},'2'
		<if test="_parameter.containsKey('cDepCode')">
			,#{cDepCode}
		</if>
		<if test="_parameter.containsKey('cMaker')">
			,#{cMaker}
		</if>
		<if test="_parameter.containsKey('cVerifier')">
			,#{cVerifier}
		</if>
		<if test="_parameter.containsKey('cDefine1')">
			,#{cDefine1}
		</if>
		<if test="_parameter.containsKey('IsWfControlled')">
			,#{IsWfControlled}
		</if>
		<if test="_parameter.containsKey('cMakeTime')">
			,getdate()
		</if>
		<if test="_parameter.containsKey('iPrintCount')">
			,#{iPrintCount}
		</if>
		<if test="_parameter.containsKey('csysbarcode')">
			,#{csysbarcode}
		</if>
		<if test="_parameter.containsKey('cMemo')">
			,#{cMemo}
		</if>
		<if test="_parameter.containsKey('cAuditTime')">
			,cast(#{cAuditTime} as datetime)
		</if>
		<if test="_parameter.containsKey('cAuditDate')">
			,cast(#{cAuditDate} as datetime)
		</if>
		,null ,null ,null
		)
	</select>

	<insert id="insertPUAppVouchsListForWW" parameterType="List" >
		insert into PU_AppVouchs(
			AutoID,ID,cInvCode
					,fQuantity
					,fUnitPrice
				,iPerTaxRate
					,fTaxPrice
					,fMoney
					,iOriCost
					,iOriTaxCost
					,iOriMoney
					,iOriTaxPrice
					,iOriSum
					,iMoney
					,iTaxPrice
				,dRequirDate,dArriveDate,iReceivedQTY,cItem_class,cItemCode,CItemName,cexch_name
				,ivouchrowno,cbsysbarcode,cbMemo,bTaxCost,iExchRate
				,cDefine26,cDefine27
				,cBG_ItemCode,cBG_ItemName,cBG_CaliberKey1,cBG_CaliberKeyName1,cBG_CaliberKey2,cBG_CaliberKeyName2,cBG_CaliberKey3,cBG_CaliberKeyName3,cBG_CaliberCode1,cBG_CaliberName1,cBG_CaliberCode2,cBG_CaliberName2,cBG_CaliberCode3,cBG_CaliberName3,iBG_Ctrl,cBG_Auditopinion
				,cBG_CaliberKey4,cBG_CaliberKeyName4,cBG_CaliberKey5,cBG_CaliberKeyName5,cBG_CaliberKey6,cBG_CaliberKeyName6,cBG_CaliberCode4,cBG_CaliberName4,cBG_CaliberCode5,cBG_CaliberName5,cBG_CaliberCode6,cBG_CaliberName6

		) values
		<if test="list !=null and list.size > 0">
		<foreach collection="list" separator="," item="item" index="index">
			(
			#{item.AutoID},#{item.ID},#{item.cInvCode}
					,#{item.fQuantity}
					,#{item.fUnitPrice}
					,#{item.iPerTaxRate}
					,#{item.fTaxPrice}
					,#{item.fMoney}
					,#{item.iOriCost}
					,#{item.iOriTaxCost}
					,#{item.iOriMoney}
					,#{item.iOriTaxPrice}
					,#{item.iOriSum}
					,#{item.iMoney}
					,#{item.iTaxPrice}
					,cast(#{item.dRequirDate} AS datetime),cast(#{item.dArriveDate} AS datetime),null,#{item.cItem_class},#{item.cItemCode},#{item.CItemName},#{item.cexch_name}
					,#{item.ivouchrowno},#{item.cbsysbarcode},#{item.cbMemo},1,1,null,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null,null
					,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null ,null
		)
		</foreach>
		</if>
	</insert>

	<!-- 更新U8采购单信息 -->
	<update id="updatePUAppVouch" parameterType="PU_AppVouchDto">
		update PU_AppVouch
		<set>
			cModifyTime=getdate(),cModifyDate=CONVERT(varchar(100),getdate(),23)
		<if test="cAuditTime != null and cAuditTime != ''">  
			,cAuditTime=cast(#{cAuditTime} as datetime)
		</if>
		<if test="cAuditDate != null and cAuditDate != ''">  
			,cAuditDate=cast(#{cAuditDate} as datetime)
		</if>
		<if test="cDepCode != null and cDepCode != ''">  
			,cDepCode=#{cDepCode}
		</if>
		<if test="cMaker != null and cMaker != ''">  
			,cMaker=#{cMaker}
		</if>
		<if test="cVerifier != null and cVerifier != ''">  
			,cVerifier=#{cVerifier}
		</if>
		<if test="cDefine1 != null and cDefine1 !=''">  
			,cDefine1=#{cDefine1}
		</if>
		<if test="cMakeTime != null and cMakeTime != ''">  
			,cMakeTime=#{cMakeTime}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">  
			,csysbarcode=#{csysbarcode}
		</if>
		<if test="cMemo != null and cMemo != ''">  
			,cMemo=#{cMemo}
		</if>
		</set>
		<where>
			ID=#{ID}
		</where>
	</update>
	
	<update id="updatePUAppVouchs" parameterType="PU_AppVouchsDto">
		update PU_AppVouchs 
		<set>
			cInvCode=#{cInvCode}
		<if test="fQuantity != null and fQuantity != ''">
			,fQuantity=#{fQuantity}
		</if>
		<if test="iPerTaxRate != null and iPerTaxRate != ''">
			,iPerTaxRate=#{iPerTaxRate}
		</if>
		<if test="dRequirDate != null and dRequirDate != ''">
			,dRequirDate=#{dRequirDate}
		</if>
		<if test="dArriveDate != null and dArriveDate != ''">
			,dArriveDate=#{dArriveDate}
		</if>
		<if test="iReceivedQTY != null and iReceivedQTY != ''">
			,iReceivedQTY=#{iReceivedQTY}
		</if>
		<if test="bTaxCost != null and bTaxCost != ''">
			,bTaxCost=#{bTaxCost}
		</if>
		<if test="cexch_name != null and cexch_name != ''">
			,cexch_name=#{cexch_name}
		</if>
		<if test="iExchRate != null and iExchRate != ''">
			,iExchRate=#{iExchRate}
		</if>
		<if test="ivouchrowno != null and ivouchrowno != ''">
			,ivouchrowno=#{ivouchrowno}
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,cbsysbarcode=#{cbsysbarcode}
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,cbMemo=#{cbMemo}
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,cItem_class=#{cItem_class}
		</if>
		<if test="CItemName != null and CItemName != ''">
			,CItemName=#{CItemName}
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,cItemCode=#{cItemCode}
		</if>
		</set>
		<where>
			AutoID=#{AutoID}
		</where>
	</update>
    
    <delete id="deletePUAppVouchs" parameterType="list">
		delete from PU_AppVouchs 
		<where>
			AutoID in
			<foreach collection="list" open="(" close=")" separator="," item="item">
				#{item.glid}
			</foreach>
		</where>
	</delete>
    
    <update id="updateIReceivedQTY" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				update PU_AppVouchs 
				<set>
				<if test="item.iReceivedQTY != null and item.iReceivedQTY != ''">
					iReceivedQTY=COALESCE(iReceivedQTY,0) + cast(#{item.iReceivedQTY} as numeric(16,5))
				</if>				
			</set>
			<where>
				AutoID=#{item.AutoID}
			</where>
			</foreach>
		</if>
	</update>
	<update id="updateIReceivedQTYAndIReceivedNum" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				update PU_AppVouchs
				<set>
					<if test="item.iReceivedQTY != null and item.iReceivedQTY != ''">
						iReceivedQTY=COALESCE(iReceivedQTY,0) + cast(#{item.iReceivedQTY} as numeric(16,5))
					</if>
					<if test="item.iReceivedNum != null and item.iReceivedNum != ''">
						,iReceivedNum=#{item.iReceivedNum}
					</if>
				</set>
				<where>
					AutoID=#{item.AutoID}
				</where>
			</foreach>
		</if>
	</update>
</mapper>