<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.RdRecord11Dao" >	
	<insert id="insert" parameterType="RdRecordDto">
		insert into RdRecord11(ID
		<if test="iMQuantity != null and iMQuantity != ''">
			,iMQuantity
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,cOrderCode
		</if>	
		<if test="cAccounter != null and cAccounter != ''">
			,cAccounter
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,bpufirst
		</if>		
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,cCheckSignFlag
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,cGCRouteCode
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,ipurorderid
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,cExch_Name
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,cBusCode
		</if>
		<if test="dveriDate != null and dveriDate != ''">
			,dveriDate
		</if>
		<if test="cHandler != null and cHandler != ''">
			,cHandler
		</if>
		<if test="cPsPcode != null and cPsPcode != ''">
			,cPsPcode
		</if>
		<if test="cMPoCode != null and cMPoCode != ''">
			,cMPoCode
		</if>,bOMFirst,bmotran,bHYVouch
		,bRdFlag,cVouchType,bTransFlag,bpufirst,biafirst,VT_ID,bIsSTQc,bFromPreYear,bIsComplement,
		iDiscountTaxType,ireturncount,iverifystate,iswfcontrolled,cModifyPerson,bredvouch,
		iPrintCount,iproorderid
		)values(#{ID}
		<if test="iMQuantity != null and iMQuantity != ''">
			,#{iMQuantity}
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,cast(#{dnmaketime} as datetime)
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,cast(#{dnverifytime} as datetime)
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,#{cVenCode}
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,#{cOrderCode}
		</if>		
		<if test="cAccounter != null and cAccounter != ''">
			,#{cAccounter}
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,#{bpufirst}
		</if>			
		<if test="dDate != null and dDate != ''">
			,cast(#{dDate} as datetime)
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,#{cDefine1}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,#{cCheckSignFlag}
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,#{cGCRouteCode}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,#{cWhCode}
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,#{ipurorderid}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,#{cRdCode}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,#{cExch_Name}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,#{cBusCode}
		</if>
		<if test="dveriDate != null and dveriDate != ''">
			,#{dveriDate}
		</if>
		<if test="cHandler != null and cHandler != ''">
			,#{cHandler}
		</if>
		<if test="cPsPcode != null and cPsPcode != ''">
			,#{cPsPcode}
		</if>
		<if test="cMPoCode != null and cMPoCode != ''">
			,#{cMPoCode}
		</if>,#{bOMFirst},#{bmotran},#{bHYVouch}
		,0,11,0,0,0,65,0,0,0,0,0,0,0,'',0,0,#{iproorderid}
		)
	</insert>

	<update id="update" parameterType="RdRecordsDto">
		update RdRecord11 set  ID=#{ID}
		<if test="cBusCode != null and cBusCode != ''">
			,cBusCode=#{cBusCode}
		</if>
		<where>
			ID=#{ID}
		</where>
	</update>
	
	<select id="getDtoList" parameterType="RdRecordDto" resultType="RdRecordDto">
		select ID
		from RdRecord11
		<where>
			cCode=#{cCode}
		</where>
	</select>
	
	
	<insert id="insertList" parameterType="List">
		insert into RdRecord11(ID,dnmaketime,dnverifytime,cBusType,cDepCode,cVenCode,cOrderCode,cAccounter,
		dDate,cCode,cMemo,cDefine1,csysbarcode,cCheckSignFlag,cSource,cWhCode,
		ipurorderid,cRdCode,cExch_Name,cMaker,cBusCode,dveriDate,cHandler,

		bOMFirst,bmotran,bHYVouch,iMQuantity
		,bRdFlag,cVouchType,bTransFlag,bpufirst,biafirst,VT_ID,bIsSTQc,bFromPreYear,bIsComplement,
		iDiscountTaxType,ireturncount,iverifystate,iswfcontrolled,cModifyPerson,bredvouch,
		iPrintCount
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.ID},#{item.dnmaketime},#{item.dnverifytime},#{item.cBusType},#{item.cDepCode},
				#{item.cVenCode},#{item.cOrderCode},#{item.cAccounter},#{item.dDate},
				#{item.cCode},#{item.cMemo},#{item.cDefine1},#{item.csysbarcode},#{item.cCheckSignFlag},
				#{item.cSource},#{item.cWhCode},#{item.ipurorderid},
				#{item.cRdCode},#{item.cExch_Name},#{item.cMaker},#{item.cBusCode},
				#{item.dveriDate},#{item.cHandler},
				#{item.bOMFirst},#{item.bmotran},#{item.bHYVouch},#{item.iMQuantity},
				0,11,0,0,0,65,0,0,0,0,0,0,0,'',0,0
				)
			</foreach>
		</if>
	</insert>
	
	<select id="queryRd" parameterType="RdRecordDto" resultType="RdRecordDto">
		select ID,dnmaketime,dnverifytime,cBusType,cDepCode,cVenCode,cOrderCode,cAccounter,
		bpufirst,dDate,cCode,cMemo,cDefine1,csysbarcode,cCheckSignFlag,cSource,cWhCode,
		ipurorderid,cVouchType,cRdCode,cExch_Name,cMaker,cBusCode,dveriDate,cHandler
		from RdRecord11
		<where>
			ID in 
			<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</where>
	</select>
</mapper>