<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.RdRecords11Dao" >
	
	<insert id="insertList" parameterType="List">
		insert into RdRecords11(AutoID,ID,cInvCode,iQuantity,iUnitCost,iPrice,cBatch,dVDate,cPosition,cItem_class,cItemCode,cName,cItemCName,iNQuantity,dMadeDate,
		iMassDate,cMassUnit,iMaIDs,irowno,cbsysbarcode,
		iFlag,bLPUseFree,iOriTrackID,bCosting,bVMIUsed,iExpiratDateCalcu,iordertype,isotype,ipesotype,
		iRSRowNO,cbaccounter,iVMISettleQuantity,iVMISettleNum,iposflag,cbMemo,cDefine23
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iUnitCost},#{item.iPrice},#{item.cBatch},#{item.dVDate},#{item.cPosition},#{item.cItem_class},#{item.cItemCode},
				#{item.cName},#{item.cItemCName},#{item.iNQuantity},#{item.dMadeDate},#{item.iMassDate},#{item.cMassUnit},#{item.iMaIDs},#{item.irowno},#{item.cbsysbarcode}				
				,0,0,0,1,0,0,0,0,0,null,null,null,null,#{item.iposflag},#{item.cbMemo},#{item.cDefine23}
				)
			</foreach>
		</if>
	</insert>

	<insert id="insertCKHCList" parameterType="List">
		insert into RdRecords11(AutoID,ID,cInvCode,iQuantity,iUnitCost,iPrice,cBatch,dVDate,cPosition,cItem_class,cItemCode,cName,cItemCName,iNQuantity,dMadeDate,
		iMassDate,cMassUnit,iMaIDs,irowno,cbsysbarcode,
		iFlag,bLPUseFree,iOriTrackID,bCosting,bVMIUsed,iExpiratDateCalcu,iordertype,isotype,ipesotype,
		iRSRowNO,cbaccounter,iVMISettleQuantity,iVMISettleNum,iposflag,cbMemo,bsupersede,bcanreplace
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iUnitCost},#{item.iPrice},#{item.cBatch},#{item.dVDate},#{item.cPosition},#{item.cItem_class},#{item.cItemCode},
				#{item.cName},#{item.cItemCName},#{item.iNQuantity},#{item.dMadeDate},#{item.iMassDate},#{item.cMassUnit},#{item.iMaIDs},#{item.irowno},#{item.cbsysbarcode}
				,0,0,0,1,0,0,0,0,0,null,null,null,null,#{item.iposflag},#{item.cbMemo},null,null
				)
			</foreach>
		</if>
	</insert>

	<insert id="insertWWCKList" parameterType="List">
		insert into RdRecords11(AutoID,ID,cInvCode,iQuantity,iUnitCost,iPrice,cBatch,dVDate,cPosition,cItem_class,cItemCode,cName,cItemCName,iNQuantity,dMadeDate,
		iMassDate,cMassUnit,iMaIDs,irowno,cbsysbarcode,
		iFlag,bLPUseFree,iOriTrackID,bCosting,bVMIUsed,iExpiratDateCalcu,iordertype,isotype,ipesotype,
		iRSRowNO,cbaccounter,iVMISettleQuantity,iVMISettleNum,iposflag,cbMemo,bsupersede,bcanreplace,iOMoDID,iOMoMID,comcode,ipesodid,cpesocode,invcode,bOutMaterials
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iUnitCost},#{item.iPrice},#{item.cBatch},#{item.dVDate},#{item.cPosition},#{item.cItem_class},#{item.cItemCode},
				#{item.cName},#{item.cItemCName},#{item.iNQuantity},#{item.dMadeDate},#{item.iMassDate},#{item.cMassUnit},#{item.iMaIDs},#{item.irowno},#{item.cbsysbarcode}
				,0,0,0,1,0,0,0,0,#{item.ipesotype},null,null,null,null,#{item.iposflag},#{item.cbMemo},null,#{item.bcanreplace},#{item.iOMoDID},#{item.iOMoMID},#{item.comcode},#{item.ipesodid},#{item.cpesocode},#{item.invcode},#{item.bOutMaterials}
				)
			</foreach>
		</if>
	</insert>

	<update id="update" parameterType="RdRecordsDto">
		update RdRecords11 set  AutoID=#{AutoID}
		<if test="cBatch != null and cBatch != ''">
			,cBatch=#{cBatch}
		</if>
		<if test="dVDate != null and dVDate != ''">
			,dVDate=cast(#{dVDate} as datetime)
		</if>
		<if test="dMadeDate != null and dMadeDate != ''">
			,dMadeDate=cast(#{dMadeDate} as datetime)
		</if>
		<where>
			AutoID=#{AutoID}
		</where>
	</update>

	<select id="getDtoByAutoId" parameterType="RdRecordsDto" resultType="RdRecordsDto">
		select ID
		from RdRecords11
		where AutoID=#{AutoID}
	</select>
	
	<select id="getDtoList" parameterType="RdRecordsDto" resultType="RdRecordsDto">
		select AutoID,ID,cInvCode,iQuantity,iUnitCost,iPrice,cBatch,dVDate,cPosition,cItem_class,cItemCode,cName,cItemCName,iNQuantity,dMadeDate,
		iMassDate,cMassUnit,iMaIDs,irowno,cbsysbarcode
		from RdRecords11
		<where>
			ID in 
			<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</where>
	</select>
</mapper>