<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.RdRecordDao" >
<!-- 获取POID最大值 -->
	<select id="getMax" parameterType="RdRecordDto" resultType="java.lang.Integer">
		select max(tmp.ID) as num from(
			select ID from RdRecord01
			union all
			select ID from RdRecord08
			union all
			select ID from RdRecord09
			union all
			select ID from RdRecord10
			union all
			select ID from RdRecord11
			union all
			select ID from RdRecord32
		)tmp	
	</select>
	<select id="getU8Ckdh" parameterType="RdRecordDto" resultType="RdRecordDto">
		select cCode from RdRecord11
		<where>
			cCode in
			<foreach collection="ids" open="(" close=")" separator="," item="item">
				#{item}
			</foreach>
		</where>
	</select>
	
	<insert id="insert" parameterType="RdRecordDto">
		insert into RdRecord01(ID
		<if test="dVeriDate != null and dVeriDate != ''">
			,dVeriDate
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
			,cDepCode
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,cOrderCode
		</if>	
		<if test="cAccounter != null and cAccounter != ''">
			,cAccounter
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,bpufirst
		</if>
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,cCheckSignFlag
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,cGCRouteCode
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,ipurorderid
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,cVouchType
		</if>
			,cRdCode
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,cExch_Name
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="cHandler != null and cHandler != ''">
			,cHandler
		</if>
		<if test="bredvouch != null and bredvouch != ''">
			,bredvouch
		</if>
		<if test="bCredit != null and bCredit != ''">
			,bCredit
		</if>
		<if test="iExchRate != null and iExchRate != ''">
			,iExchRate
		</if>
		,VT_ID,cPTCode,bRdFlag,bOMFirst
		)values(#{ID}
		<if test="dVeriDate != null and dVeriDate != ''">
			,cast(#{dVeriDate} as datetime)
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,cast(#{dnmaketime} as datetime)
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,cast(#{dnverifytime} as datetime)
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
			,#{cDepCode}
		<if test="cVenCode != null and cVenCode != ''">
			,#{cVenCode}
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,#{cOrderCode}
		</if>		
		<if test="cAccounter != null and cAccounter != ''">
			,#{cAccounter}
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,#{bpufirst}
		</if>			
		<if test="dDate != null and dDate != ''">
			,cast(#{dDate} as datetime)
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,#{cDefine1}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,#{cCheckSignFlag}
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,#{cGCRouteCode}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,#{cWhCode}
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,#{ipurorderid}
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,#{cVouchType}
		</if>
			,#{cRdCode}
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,#{cExch_Name}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="cHandler != null and cHandler != ''">
			,#{cHandler}
		</if>
		<if test="bredvouch != null and bredvouch != ''">
			,#{bredvouch}
		</if>
		<if test="bCredit != null and bCredit != ''">
			,#{bCredit}
		</if>
		<if test="iExchRate != null and iExchRate != ''">
			,#{iExchRate}
		</if>
		,27,#{cPTCode},1,0
		)
	</insert>
	
	<insert id="insertRd09" parameterType="RdRecordDto">
		insert into RdRecord09(ID
		<if test="dVeriDate != null and dVeriDate != ''">
			,dVeriDate
		</if>
		<if test="cCUsCode != null and cCUsCode != ''">
			,cCUsCode
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,cBusCode
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,cOrderCode
		</if>	
		<if test="cAccounter != null and cAccounter != ''">
			,cAccounter
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,bpufirst
		</if>
		
		
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,cCheckSignFlag
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,cGCRouteCode
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,ipurorderid
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,cVouchType
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,cExch_Name
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		,iExchRate,VT_ID,bomfirst,cSourceLs,bRdFlag,cPTCode
		
		)values(#{ID}
		<if test="dVeriDate != null and dVeriDate != ''">
			,#{dVeriDate}
		</if>
		<if test="cCUsCode != null and cCUsCode != ''">
			,#{cCUsCode}
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,cast(#{dnmaketime} as datetime)
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,cast(#{dnverifytime} as datetime)
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,#{cBusCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,#{cVenCode}
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,#{cOrderCode}
		</if>		
		<if test="cAccounter != null and cAccounter != ''">
			,#{cAccounter}
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,#{bpufirst}
		</if>			
		<if test="dDate != null and dDate != ''">
			,cast(#{dDate} as datetime)
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,#{cDefine1}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,#{cCheckSignFlag}
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,#{cGCRouteCode}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,#{cWhCode}
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,#{ipurorderid}
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,#{cVouchType}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,#{cRdCode}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,#{cExch_Name}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		,null,85,0,1,0,null
		)
	</insert>

	<insert id="insertRd09jy" parameterType="RdRecordDto">
		insert into RdRecord09(ID
		<if test="dVeriDate != null and dVeriDate != ''">
			,dVeriDate
		</if>
		<if test="cCUsCode != null and cCUsCode != ''">
			,cCUsCode
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,cBusCode
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,cOrderCode
		</if>
		<if test="cAccounter != null and cAccounter != ''">
			,cAccounter
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,bpufirst
		</if>
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,cCheckSignFlag
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,cGCRouteCode
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,ipurorderid
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,cVouchType
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,cExch_Name
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="cHandler != null and cHandler != ''">
			,cHandler
		</if>
		<if test="bomfirst != null and bomfirst != ''">
			,bomfirst
		</if>
		<if test="cSourceLs != null and cSourceLs != ''">
			,cSourceLs
		</if>
		<if test="iExchRate != null and iExchRate != ''">
			,iExchRate
		</if>
		<if test="VT_ID != null and VT_ID != ''">
			,VT_ID
		</if>
		<if test="bRdFlag != null and bRdFlag != ''">
			,bRdFlag
		</if>
		<if test="cPTCode != null and cPTCode != ''">
			,cPTCode
		</if>
		)values(#{ID}
		<if test="dVeriDate != null and dVeriDate != ''">
			,#{dVeriDate}
		</if>
		<if test="cCUsCode != null and cCUsCode != ''">
			,#{cCUsCode}
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,cast(#{dnmaketime} as datetime)
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,cast(#{dnverifytime} as datetime)
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,#{cBusCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,#{cVenCode}
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,#{cOrderCode}
		</if>
		<if test="cAccounter != null and cAccounter != ''">
			,#{cAccounter}
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,#{bpufirst}
		</if>
		<if test="dDate != null and dDate != ''">
			,cast(#{dDate} as datetime)
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>
		<if test="cDefine1 != null and cDefine1 != ''">
			,#{cDefine1}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,#{cCheckSignFlag}
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,#{cGCRouteCode}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,#{cWhCode}
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,#{ipurorderid}
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,#{cVouchType}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,#{cRdCode}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,#{cExch_Name}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="cHandler != null and cHandler != ''">
			,#{cHandler}
		</if>
		<if test="bomfirst != null and bomfirst != ''">
			,#{bomfirst}
		</if>
		<if test="cSourceLs != null and cSourceLs != ''">
			,#{cSourceLs}
		</if>
		<if test="cSourceLs != null and cSourceLs != ''">
			,#{cSourceLs}
		</if>
		<if test="iExchRate != null and iExchRate != ''">
			,#{iExchRate}
		</if>
		<if test="VT_ID != null and VT_ID != ''">
			,#{VT_ID}
		</if>
		<if test="bRdFlag != null and bRdFlag != ''">
			,#{bRdFlag}
		</if>
		<if test="cPTCode != null and cPTCode != ''">
			,#{cPTCode}
		</if>
		)
	</insert>

	<insert id="insertRd08" parameterType="RdRecordDto">
		insert into RdRecord08(ID
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,cBusCode
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,cOrderCode
		</if>	
		<if test="cAccounter != null and cAccounter != ''">
			,cAccounter
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,bpufirst
		</if>
		
		
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,cCheckSignFlag
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,cGCRouteCode
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,ipurorderid
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,cVouchType
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,cExch_Name
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		,iExchRate,VT_ID,bRdFlag,bomfirst,cSourceLs,cPTCode
		
		)values(#{ID}
		<if test="dnmaketime != null and dnmaketime != ''">
			,cast(#{dnmaketime} as datetime)
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,cast(#{dnverifytime} as datetime)
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,#{cBusCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,#{cVenCode}
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,#{cOrderCode}
		</if>		
		<if test="cAccounter != null and cAccounter != ''">
			,#{cAccounter}
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,#{bpufirst}
		</if>			
		<if test="dDate != null and dDate != ''">
			,cast(#{dDate} as datetime)
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,#{cDefine1}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,#{cCheckSignFlag}
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,#{cGCRouteCode}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,#{cWhCode}
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,#{ipurorderid}
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,#{cVouchType}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,#{cRdCode}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,#{cExch_Name}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		,null,67,1,0,1,null
		)
	</insert>
	
	<update id="update" parameterType="RdRecordDto">
		update RdRecord01 set  ID=#{ID}
		<if test="dModifyDate != null and dModifyDate != ''">
			,dModifyDate=#{dModifyDate}
		</if>
		<if test="dnmodifytime != null and dnmodifytime != ''">
			,dnmodifytime=#{dnmodifytime}
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType=#{cBusType}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode=#{cDepCode}
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode=#{cVenCode}
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,cOrderCode=#{cOrderCode}
		</if>	
		<if test="cAccounter != null and cAccounter != ''">
			,cAccounter=#{cAccounter}
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,bpufirst=#{bpufirst}
		</if>	
		<if test="dDate != null and dDate != ''">
			,dDate=cast(#{dDate} as datetime)
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode=#{cCode}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo=#{cMemo}
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1=#{cDefine1}
		</if>

		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode=#{csysbarcode}
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,cCheckSignFlag=#{cCheckSignFlag}
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,cGCRouteCode=#{cGCRouteCode}
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource=#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode=#{cWhCode}
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,ipurorderid=#{ipurorderid}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode=#{cRdCode}
		</if>
		<if test="bRdFlag != null and bRdFlag != ''">
			,bRdFlag=#{bRdFlag}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate=#{iTaxRate}
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,cExch_Name=#{cExch_Name}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker=#{cMaker}
		</if>
		<where>
			ID=#{ID}
		</where>
	</update>
	
	<select id="getMaxCsysbarcode" parameterType="String" resultType="String">
		SELECT MAX(RIGHT(csysbarcode,2)) as num
			FROM RdRecord01
			where csysbarcode like #{prefix}+'%'
	</select>
	
	<select id="getDtoList" parameterType="RdRecordDto" resultType="RdRecordDto">
		select ID
		from RdRecord01
		<where>
			cCode=#{cCode}
		</where>
	</select>
	
	<select id="getDtoListFromRd8" parameterType="RdRecordDto" resultType="RdRecordDto">
		select ID
		from RdRecord08
		<where>
			cCode=#{cCode}
		</where>
	</select>
	
	<select id="getDtoListFromRd9" parameterType="RdRecordDto" resultType="RdRecordDto">
		select ID
		from RdRecord09
		<where>
			cCode=#{cCode}
		</where>
	</select>
	
	<select id="getcCodeSerialInRd8" parameterType="String" resultType="String">
		select max(cast (cCode as integer)) cCode from RdRecord08
		where len(cCode)=7 and cCode like #{prefix}+'%'
	</select>
	
	<select id="getcCodeSerialInRd9" parameterType="String" resultType="String">
		select max(cast (cCode as integer)) cCode from RdRecord09
		where len(cCode)=7 and cCode like #{prefix}+'%'
	</select>
	
	<insert id="insertRd10" parameterType="RdRecordDto">
		insert into RdRecord10(ID
		<if test="bRdFlag != null and bRdFlag != ''">
			,bRdFlag
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,cVouchType
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode
		</if>
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cHandler != null and cHandler != ''">
			,cHandler
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="dVeriDate != null and dVeriDate != ''">
			,dVeriDate
		</if>
		<if test="cMPoCode != null and cMPoCode != ''">
			,cMPoCode
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		,bTransFlag,bpufirst,biafirst,VT_ID,bIsSTQc,iproorderid,bFromPreYear,
		bIsComplement,iDiscountTaxType,ireturncount,iverifystate,iswfcontrolled,
		cModifyPerson,bredvouch,iPrintCount
		)values(#{ID}
		<if test="bRdFlag != null and bRdFlag != ''">
			,#{bRdFlag}
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,#{cVouchType}
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,#{cWhCode}
		</if>
		<if test="dDate != null and dDate != ''">
			,#{dDate}
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,#{cRdCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cHandler != null and cHandler != ''">
			,#{cHandler}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="dVeriDate != null and dVeriDate != ''">
			,#{dVeriDate}
		</if>
		<if test="cMPoCode != null and cMPoCode != ''">
			,#{cMPoCode}
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,#{dnmaketime}
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,#{dnverifytime}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		,0,0,0,63,0,0,0,0,0,0,0,0,'',0,0
		)
	</insert>
	
	<select id="getRdDtoList" parameterType="RdRecordDto" resultType="RdRecordDto">
		select ID
		<if test="cVouchType == '10'.toString()">
			from RdRecord10
		</if>
		<if test="cVouchType == '08'.toString()">
			from RdRecord08
		</if>
		<where>
			cCode=#{cCode}
		</where>
	</select>
	
	
	<insert id="insertQtrk08" parameterType="RdRecordDto">
		insert into RdRecord08(ID
		<if test="cHandler != null and cHandler != ''">
			,cHandler
		</if>
		<if test="dVeriDate != null and dVeriDate != ''">
			,dVeriDate
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,dnmaketime
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,dnverifytime
		</if>
		<if test="cBusType != null and cBusType != ''">
			,cBusType
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,cBusCode
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,cDepCode
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,cVenCode
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,cOrderCode
		</if>	
		<if test="cAccounter != null and cAccounter != ''">
			,cAccounter
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,bpufirst
		</if>
		
		
		<if test="dDate != null and dDate != ''">
			,dDate
		</if>
		<if test="cCode != null and cCode != ''">
			,cCode
		</if>
		<if test="cMemo != null and cMemo != ''">
			,cMemo
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,cDefine1
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,csysbarcode
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,cCheckSignFlag
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,cGCRouteCode
		</if>
		<if test="cSource != null and cSource != ''">
			,cSource
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,ipurorderid
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,cVouchType
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,cRdCode
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,cExch_Name
		</if>
		<if test="cMaker != null and cMaker != ''">
			,cMaker
		</if>
		<if test="cPersonCode != null and cPersonCode != ''">
			,cPersonCode
		</if>
		,iExchRate,VT_ID,bRdFlag,bOMFirst,cSourceLs,cPTCode,bIsLsQuery
		
		)values(#{ID}
		<if test="cHandler != null and cHandler != ''">
			,#{cHandler}
		</if>
		<if test="dVeriDate != null and dVeriDate != ''">
			,cast(#{dVeriDate} as datetime)
		</if>
		<if test="dnmaketime != null and dnmaketime != ''">
			,cast(#{dnmaketime} as datetime)
		</if>
		<if test="dnverifytime != null and dnverifytime != ''">
			,cast(#{dnverifytime} as datetime)
		</if>
		<if test="cBusType != null and cBusType != ''">
			,#{cBusType}
		</if>
		<if test="cBusCode != null and cBusCode != ''">
			,#{cBusCode}
		</if>
		<if test="cDepCode != null and cDepCode != ''">
			,#{cDepCode}
		</if>
		<if test="cVenCode != null and cVenCode != ''">
			,#{cVenCode}
		</if>
		<if test="cOrderCode != null and cOrderCode != ''">
			,#{cOrderCode}
		</if>		
		<if test="cAccounter != null and cAccounter != ''">
			,#{cAccounter}
		</if>
		<if test="bpufirst != null and bpufirst != ''">
			,#{bpufirst}
		</if>			
		<if test="dDate != null and dDate != ''">
			,cast(#{dDate} as datetime)
		</if>
		<if test="cCode != null and cCode != ''">
			,#{cCode}
		</if>
		<if test="cMemo != null and cMemo != ''">
			,#{cMemo}
		</if>		
		<if test="cDefine1 != null and cDefine1 != ''">
			,#{cDefine1}
		</if>
		<if test="csysbarcode != null and csysbarcode != ''">
			,#{csysbarcode}
		</if>
		<if test="cCheckSignFlag != null and cCheckSignFlag != ''">
			,#{cCheckSignFlag}
		</if>
		<if test="cGCRouteCode != null and cGCRouteCode != ''">
			,#{cGCRouteCode}
		</if>
		<if test="cSource != null and cSource != ''">
			,#{cSource}
		</if>
		<if test="cWhCode != null and cWhCode != ''">
			,#{cWhCode}
		</if>
		<if test="ipurorderid != null and ipurorderid != ''">
			,#{ipurorderid}
		</if>
		<if test="cVouchType != null and cVouchType != ''">
			,#{cVouchType}
		</if>
		<if test="cRdCode != null and cRdCode != ''">
			,#{cRdCode}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="cExch_Name != null and cExch_Name != ''">
			,#{cExch_Name}
		</if>
		<if test="cMaker != null and cMaker != ''">
			,#{cMaker}
		</if>
		<if test="cPersonCode != null and cPersonCode != ''">
			,#{cPersonCode}
		</if>
		,null,67,1,null,null,null,0
		)
	</insert>
	<update id="updateRd09" parameterType="RdRecordDto">
		update RdRecord09 set  ID=#{ID}
		<if test="cWhCode != null and cWhCode != ''">
			,cWhCode=#{cWhCode}
		</if>
		<where>
			ID=#{ID}
		</where>
	</update>
	
	<select id="getcCodeRd" parameterType="RdRecordDto" resultType="RdRecordDto">
		SELECT cCode,ID
		<if test="sflxbj == '1'.toString()">
			FROM RdRecord01 
			where LEN(cCode)=10 and cCode>#{cCode} and  cCode like #{prefix}+'%'
		</if>
		<if test="sflxbj == '8'.toString()">
			FROM RdRecord08
			where LEN(cCode)=9 and cCode>#{cCode} and  cCode like #{prefix}+'%'
		</if>
		<if test="sflxbj == '9'.toString()">
			FROM RdRecord09
			where LEN(cCode)=9 and cCode>#{cCode} and  cCode like #{prefix}+'%'
		</if>
		<if test="sflxbj == '10'.toString()">
			FROM RdRecord10
			where LEN(cCode)=10 and cCode>#{cCode}
		</if>
		<if test="sflxbj == '11'.toString()">
			FROM RdRecord11
			where LEN(cCode)=10 and cCode>#{cCode} and  cCode like #{prefix}+'%'
		</if> 
		<if test="sflxbj == '32'.toString()">
			FROM RdRecord32
			where LEN(cCode)=12 and cCode>#{cCode} and  cCode like #{prefix}+'%'
		</if> 
  			order by cCode
	</select>
	
	<select id="queryByCode" parameterType="RdRecordDto" resultType="RdRecordDto">
		SELECT cCode,ID
		<if test="sflxbj == '1'.toString()">
			FROM RdRecord01 
		</if>
		<if test="sflxbj == '8'.toString()">
			FROM RdRecord08
		</if>
		<if test="sflxbj == '9'.toString()">
			FROM RdRecord09
		</if>
		<if test="sflxbj == '10'.toString()">
			FROM RdRecord10
		</if>
		<if test="sflxbj == '11'.toString()">
			FROM RdRecord11
		</if> 
		<if test="sflxbj == '32'.toString()">
			FROM RdRecord32
		</if> 			
  			where cCode=#{cCode}
	</select>

	<select id="get09DtoList" parameterType="RdRecordDto" resultType="RdRecordDto">
		select RdRecord09.cWhCode,RdRecords09.cinvCode,sum(iQuantity) as sumIQuantity
		<if test="value != null and value != ''">
			,cBatch,cPosition
		</if>
		from RdRecord09
		left join RdRecords09 on RdRecord09.ID = RdRecords09.ID
		<where>
			RdRecord09.cSource=#{cSource} and RdRecord09.dDate between #{beforTime} and  #{nowTime}
		</where>
		GROUP BY cWhCode,cinvCode
		<if test="value != null and value != ''">
			,cBatch,cPosition
		</if>
	</select>

	<select id="get08DtoList" parameterType="RdRecordDto" resultType="RdRecordDto">
		select RdRecord08.cWhCode,RdRecords08.cinvCode,sum(iQuantity) as sumIQuantity
		<if test="value != null and value != ''">
			,cBatch,cPosition
		</if>
		from RdRecord08
		left join RdRecords08 on RdRecord08.ID = RdRecords08.ID
		<where>
			RdRecord08.cSource=#{cSource} and RdRecord08.dDate between #{beforTime} and  #{nowTime}
		</where>
		GROUP BY cWhCode,cinvCode
		<if test="value != null and value != ''">
			,cBatch,cPosition
		</if>
	</select>
	
	<insert id="insertList" parameterType="List">
		insert into RdRecord32(ID,bRdFlag,cVouchType,cBusType,cSource,cBusCode,cWhCode,dDate,cCode,cRdCode,cDepCode,
		cStCode,cCUsCode,cDLCode,cMaker,VT_ID,cShipAddress,dnmaketime,csysbarcode,cinvoicecompany,cMemo,bOMFirst,cPersonCode
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.ID},#{item.bRdFlag},#{item.cVouchType},#{item.cBusType},#{item.cSource},#{item.cBusCode},
				#{item.cWhCode},#{item.dDate},#{item.cCode},#{item.cRdCode},#{item.cDepCode},#{item.cStCode},
				#{item.cCUsCode},#{item.cDLCode},#{item.cMaker},#{item.VT_ID},#{item.cShipAddress},#{item.dnmaketime},
				#{item.csysbarcode},#{item.cinvoicecompany},#{item.cMemo},#{item.bOMFirst},#{item.cPersonCode}
				)
			</foreach>
		</if>
	</insert>
	<insert id="insertDtos" parameterType="List">
		insert into RdRecord32(ID,bRdFlag,cVouchType,cBusType,cSource,cBusCode,cWhCode,dDate,cCode,cRdCode,cDepCode,
		cStCode,cCUsCode,cDLCode,cMaker,VT_ID,cShipAddress,dnmaketime,csysbarcode,cinvoicecompany,cMemo,bOMFirst,cPersonCode,cDefine7
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item" index="index">
				(#{item.ID},#{item.bRdFlag},#{item.cVouchType},#{item.cBusType},#{item.cSource},#{item.cBusCode},
				#{item.cWhCode},#{item.dDate},#{item.cCode},#{item.cRdCode},#{item.cDepCode},#{item.cStCode},
				#{item.cCUsCode},#{item.cDLCode},#{item.cMaker},#{item.VT_ID},#{item.cShipAddress},#{item.dnmaketime},
				#{item.csysbarcode},#{item.cinvoicecompany},#{item.cMemo},#{item.bOMFirst},#{item.cPersonCode},#{item.cDefine7}
				)
			</foreach>
		</if>
	</insert>
</mapper>