<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.RdRecordsDao" >
<!-- 获取POID最大值 -->
	<select id="getMax" parameterType="RdRecordsDto" resultType="java.lang.Integer">
		select max(tmp.AutoID) as num from(
			select AutoID from RdRecords01
			union all
			select AutoID from RdRecords08
			union all
			select AutoID from RdRecords09
			union all
			select AutoID from RdRecords10
			union all
			select AutoID from RdRecords11
			union all
			select AutoID from RdRecords32
		)tmp
	</select>
	
	
	<insert id="insert" parameterType="RdRecordsDto">
		insert into RdRecords01(AutoID
		<if test="ID != null and ID != ''">
			,ID
		</if>
		<if test="cInvCode != null and cInvCode != ''">
			,cInvCode
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,iQuantity
		</if>
		<if test="iUnitCost != null and iUnitCost != ''">
			,iUnitCost
		</if>
		<if test="iPrice != null and iPrice != ''">
			,iPrice
		</if>
		<if test="iAPrice != null and iAPrice != ''">
			,iAPrice
		</if>
		<if test="iOriTaxCost != null and iOriTaxCost != ''">
			,iOriTaxCost
		</if>
		<if test="iOriCost != null and iOriCost != ''">
			,iOriCost
		</if>
		<if test="iOriMoney != null and iOriMoney != ''">
			,iOriMoney
		</if>
		<if test="iOriTaxPrice != null and iOriTaxPrice != ''">
			,iOriTaxPrice
		</if>
		<if test="ioriSum != null and ioriSum != ''">
			,ioriSum
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate
		</if>
		<if test="iTaxPrice != null and iTaxPrice != ''">
			,iTaxPrice
		</if>
		<if test="cPOID != null and cPOID != ''">
			,cPOID
		</if>
		<if test="iSQuantity != null and iSQuantity != ''">
			,iSQuantity
		</if>
		<if test="iMoney != null and iMoney != ''">
			,iMoney
		</if>
		<if test="iNQuantity != null and iNQuantity != ''">
			,iNQuantity
		</if>
		<if test="cBatch != null and cBatch != ''">
			,cBatch
		</if>
		<if test="dSDate != null and dSDate != ''">
			,dSDate
		</if>
		<if test="iSNum != null and iSNum != ''">
			,iSNum
		</if>
		<if test="dVDate != null and dVDate != ''">
			,dVDate
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,cItemCode
		</if>
		<if test="iPOsID != null and iPOsID != ''">
			,iPOsID
		</if>
		<if test="fACost != null and fACost != ''">
			,fACost
		</if>
		<if test="cName != null and cName != ''">
			,cName
		</if>
		<if test="cItemCName != null and cItemCName != ''">
			,cItemCName
		</if>
		<if test="dMadeDate != null and dMadeDate != ''">
			,dMadeDate
		</if>
		<if test="chVencode != null and chVencode != ''">
			,chVencode
		</if>
		<if test="iSum != null and iSum != ''">
			,iSum
		</if>
		<if test="dbKeepDate != null and dbKeepDate != ''">
			,dbKeepDate
		</if>
		<if test="corufts != null and corufts != ''">
			,corufts
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,cbMemo
		</if>
		<if test="rowufts != null and rowufts != ''">
			,rowufts
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,cbsysbarcode
		</if>
		<if test="cMassUnit != null and cMassUnit != ''">
			,cMassUnit
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,cItem_class
		</if>
		<if test="cDefine23 != null and cDefine23 != ''">
			,cDefine23
		</if>
		<if test="cDefine29 != null and cDefine29 != ''">
			,cDefine29
		</if>
		<if test="iMassDate != null and iMassDate != ''">
			,iMassDate
		</if>
		<if test="cDefine22 != null and cDefine22 != ''">
			,cDefine22
		</if>
		<if test="irowno != null and irowno != ''">
			,irowno
		</if>
		<if test="cPosition != null and cPosition != ''">
			,cPosition
		</if>
		,bTaxCost,iMatSettleState,bCosting,iExpiratDateCalcu,isotype,cbaccounter,
		iSumBillQuantity,bVMIUsed,iVMISettleQuantity,iVMISettleNum,iposflag
		)values(#{AutoID}
		<if test="ID != null and ID != ''">
			,#{ID}
		</if>
		<if test="cInvCode != null and cInvCode != ''">
			,#{cInvCode}
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,#{iQuantity}
		</if>
		<if test="iUnitCost != null and iUnitCost != ''">
			,#{iUnitCost}
		</if>
		<if test="iPrice != null and iPrice != ''">
			,#{iPrice}
		</if>
		<if test="iAPrice != null and iAPrice != ''">
			,#{iAPrice}
		</if>
		<if test="iOriTaxCost != null and iOriTaxCost != ''">
			,#{iOriTaxCost}
		</if>
		<if test="iOriCost != null and iOriCost != ''">
			,#{iOriCost}
		</if>
		<if test="iOriMoney != null and iOriMoney != ''">
			,#{iOriMoney}
		</if>
		<if test="iOriTaxPrice != null and iOriTaxPrice != ''">
			,#{iOriTaxPrice}
		</if>
		<if test="ioriSum != null and ioriSum != ''">
			,#{ioriSum}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,#{iTaxRate}
		</if>
		<if test="iTaxPrice != null and iTaxPrice != ''">
			,#{iTaxPrice}
		</if>
		<if test="cPOID != null and cPOID != ''">
			,#{cPOID}
		</if>
		<if test="iSQuantity != null and iSQuantity != ''">
			,#{iSQuantity}
		</if>
		<if test="iMoney != null and iMoney != ''">
			,#{iMoney}
		</if>
		<if test="iNQuantity != null and iNQuantity != ''">
			,#{iNQuantity}
		</if>
		<if test="cBatch != null and cBatch != ''">
			,#{cBatch}
		</if>
		<if test="dSDate != null and dSDate != ''">
			,#{dSDate}
		</if>
		<if test="iSNum != null and iSNum != ''">
			,#{iSNum}
		</if>
		<if test="dVDate != null and dVDate != ''">
			,cast(#{dVDate} as datetime)
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,#{cItemCode}
		</if>
		<if test="iPOsID != null and iPOsID != ''">
			,#{iPOsID}
		</if>
		<if test="fACost != null and fACost != ''">
			,#{fACost}
		</if>
		<if test="cName != null and cName != ''">
			,#{cName}
		</if>
		<if test="cItemCName != null and cItemCName != ''">
			,#{cItemCName}
		</if>
		<if test="dMadeDate != null and dMadeDate != ''">
			,#{dMadeDate}
		</if>
		<if test="chVencode != null and chVencode != ''">
			,#{chVencode}
		</if>
		<if test="iSum != null and iSum != ''">
			,#{iSum}
		</if>
		<if test="dbKeepDate != null and dbKeepDate != ''">
			,#{dbKeepDate}
		</if>
		<if test="corufts != null and corufts != ''">
			,#{corufts}
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,#{cbMemo}
		</if>
		<if test="rowufts != null and rowufts != ''">
			,#{rowufts}
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,#{cbsysbarcode}
		</if>
		<if test="cMassUnit != null and cMassUnit != ''">
			,#{cMassUnit}
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,#{cItem_class}
		</if>
		<if test="cDefine23 != null and cDefine23 != ''">
			,#{cDefine23}
		</if>
		<if test="cDefine29 != null and cDefine29 != ''">
			,#{cDefine29}
		</if>
		<if test="iMassDate != null and iMassDate != ''">
			,#{iMassDate}
		</if>
		<if test="cDefine22 != null and cDefine22 != ''">
			,#{cDefine22}
		</if>
		<if test="irowno != null and irowno != ''">
			,#{irowno}
		</if>
		<if test="cPosition != null and cPosition != ''">
			,#{cPosition}
		</if>
		,1,0,1,0,0,null,null,null,null,null,1
		)
	</insert>
	
	<update id="update" parameterType="RdRecordsDto">
		update RdRecords01 set 
		AutoID=#{AutoID}
		<if test="ID != null and ID != ''">
			,ID=#{ID}
		</if>
		<if test="cInvCode != null and cInvCode != ''">
			,cInvCode=#{cInvCode}
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,iQuantity=#{iQuantity}
		</if>
		<if test="iUnitCost != null and iUnitCost != ''">
			,iUnitCost=#{iUnitCost}
		</if>
		<if test="iPrice != null and iPrice != ''">
			,iPrice=#{iPrice}
		</if>
		<if test="iAPrice != null and iAPrice != ''">
			,iAPrice=#{iAPrice}
		</if>
		<if test="iOriTaxCost != null and iOriTaxCost != ''">
			,iOriTaxCost=#{iOriTaxCost}
		</if>
		<if test="iOriCost != null and iOriCost != ''">
			,iOriCost=#{iOriCost}
		</if>
		<if test="iOriMoney != null and iOriMoney != ''">
			,iOriMoney=#{iOriMoney}
		</if>
		<if test="iOriTaxPrice != null and iOriTaxPrice != ''">
			,iOriTaxPrice=#{iOriTaxPrice}
		</if>
		<if test="ioriSum != null and ioriSum != ''">
			,ioriSum=#{ioriSum}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate=#{iTaxRate}
		</if>
		<if test="iTaxPrice != null and iTaxPrice != ''">
			,iTaxPrice=#{iTaxPrice}
		</if>
		<if test="cPOID != null and cPOID != ''">
			,cPOID=#{cPOID}
		</if>
		<if test="iSQuantity != null and iSQuantity != ''">
			,iSQuantity=#{iSQuantity}
		</if>
		<if test="iMoney != null and iMoney != ''">
			,iMoney=#{iMoney}
		</if>
		<if test="iNQuantity != null and iNQuantity != ''">
			,iNQuantity=#{iNQuantity}
		</if>
		<if test="cBatch != null and cBatch != ''">
			,cBatch=#{cBatch}
		</if>
		<if test="dSDate != null and dSDate != ''">
			,dSDate=#{dSDate}
		</if>
		<if test="iSNum != null and iSNum != ''">
			,iSNum=#{iSNum}
		</if>
		<if test="dVDate != null and dVDate != ''">
			,dVDate=cast(#{dVDate} as datetime)
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,cItemCode=#{cItemCode}
		</if>
		<if test="iPOsID != null and iPOsID != ''">
			,iPOsID=#{iPOsID}
		</if>
		<if test="fACost != null and fACost != ''">
			,fACost=#{fACost}
		</if>
		<if test="cName != null and cName != ''">
			,cName=#{cName}
		</if>
		<if test="cItemCName != null and cItemCName != ''">
			,cItemCName=#{cItemCName}
		</if>
		<if test="dMadeDate != null and dMadeDate != ''">
			,dMadeDate=#{dMadeDate}
		</if>
		<if test="chVencode != null and chVencode != ''">
			,chVencode=#{chVencode}
		</if>
		<if test="iSum != null and iSum != ''">
			,iSum=#{iSum}
		</if>
		<if test="dbKeepDate != null and dbKeepDate != ''">
			,dbKeepDate=#{dbKeepDate}
		</if>
		<if test="corufts != null and corufts != ''">
			,corufts=#{corufts}
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,cbMemo=#{cbMemo}
		</if>
		<if test="rowufts != null and rowufts != ''">
			,rowufts=#{rowufts}
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,cbsysbarcode=#{cbsysbarcode}
		</if>
		<if test="cMassUnit != null and cMassUnit != ''">
			,cMassUnit=#{cMassUnit}
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,cItem_class=#{cItem_class}
		</if>
		<if test="cDefine22 != null and cDefine22 != ''">
			,cDefine22=#{cDefine22}
		</if>
		<where>
			AutoID = #{AutoID}
		</where>
	</update>
	
	<select id="getCountByID" parameterType="String" resultType="java.lang.Integer">
		select count(AutoID) from RdRecords01
		<where>
			ID=#{ID}
		</where>
	</select>
	
	<select id="getCountByIDInRd08" parameterType="String" resultType="java.lang.Integer">
		select count(AutoID) from RdRecords08
		<where>
			ID=#{ID}
		</where>
	</select>
	
	<select id="getCountByIDInRd09" parameterType="String" resultType="java.lang.Integer">
		select count(AutoID) from RdRecords09
		<where>
			ID=#{ID}
		</where>
	</select>
	
	<!-- 调拨入库单新增 -->
	<insert id="insertRd8" parameterType="List">
		insert into RdRecords08(AutoID,ID,cInvCode,iQuantity,iUnitCost,iPrice,iTrIds
			,iSOutQuantity,isOutNum,cItemCode,cName,chVencode,iRSRowNo,iOriTrackID,cbaccounter,iVMISettleQuantity,iVMISettleNum,corufts
			,iNQuantity,cBatch,dVDate,dMadeDate,cMassUnit
			,cbMemo
			,iMassDate
			,bCosting,iExpiratDateCalcu,irowno,iposflag,cbsysbarcode,cPosition
		)values
		<foreach collection="list" index="index" item="item"  separator=",">
			(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iUnitCost},#{item.iPrice},#{item.iTrIds}
			,0,0,null,null,null,null,null,null,null,null,null
			,#{item.iNQuantity},#{item.cBatch},cast(#{item.dVDate} as datetime),#{item.dMadeDate},#{item.cMassUnit}
			,#{item.cbMemo}
			,#{item.iMassDate}
			,1,1,#{index}+1,1,#{item.cbsysbarcode}+cast((#{index}+1) as varchar),#{item.cPosition})
		</foreach>
	</insert>
	
		<!-- 调拨出库单新增 -->
	<insert id="insertRd9" parameterType="List">
		insert into RdRecords09(AutoID,ID,cInvCode,iQuantity,iTrIds
			,iSOutQuantity,isOutNum,cItemCode,cName,cbaccounter,iVMIsettlequantity,IVMIsettleNum,corufts
			,iNQuantity,cBatch,dVDate,dMadeDate,cMassUnit
			,cbMemo
			,iMassDate
			,bCosting,iExpiratDateCalcu,irowno,iposflag,cbsysbarcode,cPosition,idebitchildids,iDebitIDs,isotype
		)values
		<foreach collection="list" index="index" item="item" separator=",">
			(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iTrIds}
			,0,0,null,null,null,null,null,null
			,#{item.iNQuantity},#{item.cBatch},cast(#{item.dVDate} as datetime),#{item.dMadeDate},#{item.cMassUnit}
			,#{item.cbMemo}
			,#{item.iMassDate}
			,1,0,#{index}+1,#{item.iposflag},#{item.cbsysbarcode}+cast((#{index}+1) as varchar),#{item.cPosition},#{item.idebitchildids},#{item.iDebitIDs},#{item.isotype})
		</foreach>
	</insert>

	<!-- 借用新增 -->
	<insert id="insertRds9jy" parameterType="List">
		insert into RdRecords09(AutoID,ID,cInvCode,iQuantity,iTrIds,iNum
		,iSOutQuantity,isOutNum,cbaccounter,iVMIsettlequantity,IVMIsettleNum,corufts
		,iNQuantity,cBatch,dVDate,dMadeDate,cMassUnit
		,cbMemo,cItem_class,cItemCName,cName,cItemCode
		,iMassDate
		,bCosting,iExpiratDateCalcu,irowno,iposflag,cbsysbarcode,cPosition,idebitchildids,iDebitIDs,isotype,iNNum
		)values
		<foreach collection="list" index="index" item="item" separator=",">
			(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iTrIds},#{item.iNum}
			,null,null,null,null,null,null
			,#{item.iNQuantity},#{item.cBatch},cast(#{item.dVDate} as datetime),#{item.dMadeDate},#{item.cMassUnit}
			,#{item.cbMemo},#{item.cItem_class},#{item.cItemCName},#{item.cName},#{item.cItemCode}
			,#{item.iMassDate}
			,0,0,#{index}+1,#{item.iposflag},#{item.cbsysbarcode},#{item.cPosition},#{item.idebitchildids},#{item.iDebitIDs},#{item.isotype},#{item.iNNum})
		</foreach>
	</insert>
	
	<insert id="insertRds" parameterType="List">
        insert into RdRecords01(AutoID,ID,cInvCode,iQuantity,iUnitCost,iPrice,iAPrice,iOriTaxCost,
        iOriCost,iOriMoney,iOriTaxPrice,ioriSum,iTaxRate,iTaxPrice,cPOID,iSQuantity,iMoney,iNQuantity,
        cBatch,iSNum,dVDate,cItemCode,iPOsID,fACost,cName,cItemCName,dMadeDate,chVencode,iSum,
        cbMemo,cbsysbarcode,cMassUnit,cItem_class,cDefine23,cDefine29,
        iMassDate,cDefine22,irowno,cPosition
			,iProcessCost
			,iProcessFee
			,iOMoDID
		,bTaxCost,iMatSettleState,bCosting,iExpiratDateCalcu,
        isotype,cbaccounter,iSumBillQuantity,bVMIUsed,iVMISettleQuantity,iVMISettleNum,iinvexchrate,corufts,bgift,iposflag,iProductType
		)values
        <foreach collection="list" index="index" item="item"  separator=",">
            (#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iUnitCost},#{item.iPrice},#{item.iAPrice},#{item.iOriTaxCost},#{item.iOriCost},
            #{item.iOriMoney},#{item.iOriTaxPrice},#{item.ioriSum},#{item.iTaxRate},
            #{item.iTaxPrice},#{item.cPOID},#{item.iSQuantity},#{item.iMoney},#{item.iNQuantity},#{item.cBatch},#{item.iSNum},#{item.dVDate},
            #{item.cItemCode},#{item.iPOsID},#{item.fACost},#{item.cName},
            #{item.cItemCName},#{item.dMadeDate},#{item.chVencode},#{item.iSum},#{item.cbMemo},#{item.cbsysbarcode},
            #{item.cMassUnit},#{item.cItem_class},#{item.cDefine23},
            #{item.cDefine29},#{item.iMassDate},#{item.cDefine22},#{item.irowno},#{item.cPosition}
				,#{item.iProcessCost}
				,#{item.iProcessFee}
				,#{item.iOMoDID}
        	,#{item.bTaxCost},0,1,0,0,null,null,#{item.bVMIUsed},null,null,0,null,null,1,#{item.iProductType}
			)
        </foreach>
    </insert>

	
	<insert id="insertRds10" parameterType="List">
		insert into RdRecords10(AutoID,ID,cInvCode,iQuantity,cBatch,dVDate,
		cPosition,dMadeDate,cbMemo,irowno,cbsysbarcode,iMassDate,cMassUnit,		
		iFlag,bRelated,bLPUseFree,iRSRowNO,iOriTrackID,bCosting,bVMIUsed,
		iExpiratDateCalcu,iordertype,isotype,bmergecheck,iposflag,cbaccounter,
		iVMISettleNum,iVMISettleQuantity,corufts
		)values
		<foreach collection="list" index="index" item="item"  separator=",">
			(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.cBatch},#{item.dVDate},
			#{item.cPosition},#{item.dMadeDate},#{item.cbMemo},#{item.irowno},
			#{item.cbsysbarcode},#{item.iMassDate},#{item.cMassUnit}
			,0,0,0,0,0,1,0,0,0,0,0,1,null,null,null,null)
		</foreach>
	</insert>
	
	<!-- 调拨入库单新增 -->
	<insert id="insertRds08" parameterType="List">
		insert into RdRecords08(AutoID,ID,cInvCode,iQuantity,iTrIds
			,iSOutQuantity,isOutNum,cItemCode,cName,chVencode,iRSRowNo,iOriTrackID,cbaccounter,iVMISettleQuantity,iVMISettleNum,corufts
			,iNQuantity,cBatch,dVDate,dMadeDate,cMassUnit
			,cbMemo
			,iMassDate
			,bCosting,iExpiratDateCalcu,irowno,iposflag,cbsysbarcode,cPosition,cDefine22,isotype
		)values
		<foreach collection="list" index="index" item="item"  separator=",">
			(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iTrIds}
			,null,null,null,null,null,null,null,null,null,null,null
			,#{item.iNQuantity},#{item.cBatch},cast(#{item.dVDate} as datetime),#{item.dMadeDate},#{item.cMassUnit}
			,#{item.cbMemo}
			,#{item.iMassDate}
			,1,0,#{index}+1,1,#{item.cbsysbarcode},#{item.cPosition},#{item.cDefine22},0)
		</foreach>
	</insert>

	<insert id="insertQtRds08" parameterType="List">
		insert into RdRecords08(AutoID,ID,cInvCode,iQuantity,iTrIds
		,iSOutQuantity,isOutNum,cItemCode,cName,chVencode,iRSRowNo,iOriTrackID,cbaccounter,iVMISettleQuantity,iVMISettleNum,corufts
		,iNQuantity,cBatch,dVDate,dMadeDate,cMassUnit
		,cbMemo
		,iMassDate
		,bCosting,iExpiratDateCalcu,irowno,iposflag,cbsysbarcode,cPosition,cDefine22,isotype,iNNum,iNum,iDebitIDs,idebitchildids
		)values
		<foreach collection="list" index="index" item="item"  separator=",">
			(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.iTrIds}
			,null,null,null,null,null,null,null,null,null,null,null
			,#{item.iNQuantity},#{item.cBatch},cast(#{item.dVDate} as datetime),#{item.dMadeDate},#{item.cMassUnit}
			,#{item.cbMemo}
			,#{item.iMassDate}
			,0,0,#{index}+1,1,#{item.cbsysbarcode},#{item.cPosition},#{item.cDefine22},0,#{item.iNNum},#{item.iNum},#{item.iDebitIDs},#{item.idebitchildids})
		</foreach>
	</insert>
	
	<insert id="insertRds09Sub" parameterType="List">
		insert into rdrecords09sub(AutoID,ID,cBG_ItemCode,cBG_ItemName,cBG_CaliberKey1,cBG_CaliberKeyName1,cBG_CaliberKey2,cBG_CaliberKeyName2
		      ,cBG_CaliberKey3,cBG_CaliberKeyName3,cBG_CaliberCode1,cBG_CaliberName1,cBG_CaliberCode2
		      ,cBG_CaliberName2,cBG_CaliberCode3,cBG_CaliberName3,cBG_Auditopinion,iBGIASum,cBG_CaliberKey4
		      ,cBG_CaliberKeyName4,cBG_CaliberKey5,cBG_CaliberKeyName5,cBG_CaliberKey6,cBG_CaliberKeyName6
		      ,cBG_CaliberCode4,cBG_CaliberName4,cBG_CaliberCode5,cBG_CaliberName5,cBG_CaliberCode6
		      ,cBG_CaliberName6,iBG_Ctrl,iBGSTSum
		)values
		<foreach collection="list" index="index" item="item"  separator=",">
			(#{item.AutoID},#{item.ID},null,null,null,null,null,null,null,null,null,null,null,null,null,null,
			null,null,null,null,null,null,null,null,null,null,null,null,null,null,0,0)
		</foreach>
	</insert>

	<update id="updateRdRecords08Info" parameterType="RdRecordsDto">
		update RdRecords08 set
		AutoID=#{AutoID}
		<if test="ID != null and ID != ''">
			,ID=#{ID}
		</if>
		<if test="cInvCode != null and cInvCode != ''">
			,cInvCode=#{cInvCode}
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,iQuantity=#{iQuantity}
		</if>
		<if test="iUnitCost != null and iUnitCost != ''">
			,iUnitCost=#{iUnitCost}
		</if>
		<if test="iPrice != null and iPrice != ''">
			,iPrice=#{iPrice}
		</if>
		<if test="iAPrice != null and iAPrice != ''">
			,iAPrice=#{iAPrice}
		</if>
		<if test="iOriTaxCost != null and iOriTaxCost != ''">
			,iOriTaxCost=#{iOriTaxCost}
		</if>
		<if test="iOriCost != null and iOriCost != ''">
			,iOriCost=#{iOriCost}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate=#{iTaxRate}
		</if>
		<if test="cPOID != null and cPOID != ''">
			,cPOID=#{cPOID}
		</if>
		<if test="iSQuantity != null and iSQuantity != ''">
			,iSQuantity=#{iSQuantity}
		</if>
		<if test="iMoney != null and iMoney != ''">
			,iMoney=#{iMoney}
		</if>
		<if test="iNQuantity != null and iNQuantity != ''">
			,iNQuantity=#{iNQuantity}
		</if>
		<if test="cBatch != null and cBatch != ''">
			,cBatch=#{cBatch}
		</if>
		<if test="dSDate != null and dSDate != ''">
			,dSDate=#{dSDate}
		</if>
		<if test="iSNum != null and iSNum != ''">
			,iSNum=#{iSNum}
		</if>
		<if test="dVDate != null and dVDate != ''">
			,dVDate=cast(#{dVDate} as datetime)
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,cItemCode=#{cItemCode}
		</if>
		<if test="iPOsID != null and iPOsID != ''">
			,iPOsID=#{iPOsID}
		</if>
		<if test="fACost != null and fACost != ''">
			,fACost=#{fACost}
		</if>
		<if test="cName != null and cName != ''">
			,cName=#{cName}
		</if>
		<if test="cItemCName != null and cItemCName != ''">
			,cItemCName=#{cItemCName}
		</if>
		<if test="dMadeDate != null and dMadeDate != ''">
			,dMadeDate=#{dMadeDate}
		</if>
		<if test="chVencode != null and chVencode != ''">
			,chVencode=#{chVencode}
		</if>
		<if test="dbKeepDate != null and dbKeepDate != ''">
			,dbKeepDate=#{dbKeepDate}
		</if>
		<if test="corufts != null and corufts != ''">
			,corufts=#{corufts}
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,cbMemo=#{cbMemo}
		</if>
		<if test="rowufts != null and rowufts != ''">
			,rowufts=#{rowufts}
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,cbsysbarcode=#{cbsysbarcode}
		</if>
		<if test="cMassUnit != null and cMassUnit != ''">
			,cMassUnit=#{cMassUnit}
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,cItem_class=#{cItem_class}
		</if>
		<if test="cDefine23 != null and cDefine23 != ''">
			,cDefine23=#{cDefine23}
		</if>
		<if test="cDefine22 != null and cDefine22 != ''">
			,cDefine22=#{cDefine22}
		</if>
		<where>
			AutoID = #{AutoID}
		</where>
	</update>
	<update id="updateRdRecords09Info" parameterType="RdRecordsDto">
		update RdRecords09 set
		AutoID=#{AutoID}
		<if test="ID != null and ID != ''">
			,ID=#{ID}
		</if>
		<if test="cInvCode != null and cInvCode != ''">
			,cInvCode=#{cInvCode}
		</if>
		<if test="iQuantity != null and iQuantity != ''">
			,iQuantity=#{iQuantity}
		</if>
		<if test="iUnitCost != null and iUnitCost != ''">
			,iUnitCost=#{iUnitCost}
		</if>
		<if test="iPrice != null and iPrice != ''">
			,iPrice=#{iPrice}
		</if>
		<if test="iAPrice != null and iAPrice != ''">
			,iAPrice=#{iAPrice}
		</if>
		<if test="iOriTaxCost != null and iOriTaxCost != ''">
			,iOriTaxCost=#{iOriTaxCost}
		</if>
		<if test="iOriCost != null and iOriCost != ''">
			,iOriCost=#{iOriCost}
		</if>
		<if test="iTaxRate != null and iTaxRate != ''">
			,iTaxRate=#{iTaxRate}
		</if>
		<if test="cPOID != null and cPOID != ''">
			,cPOID=#{cPOID}
		</if>
		<if test="iSQuantity != null and iSQuantity != ''">
			,iSQuantity=#{iSQuantity}
		</if>
		<if test="iMoney != null and iMoney != ''">
			,iMoney=#{iMoney}
		</if>
		<if test="iNQuantity != null and iNQuantity != ''">
			,iNQuantity=#{iNQuantity}
		</if>
		<if test="cBatch != null and cBatch != ''">
			,cBatch=#{cBatch}
		</if>
		<if test="dSDate != null and dSDate != ''">
			,dSDate=#{dSDate}
		</if>
		<if test="iSNum != null and iSNum != ''">
			,iSNum=#{iSNum}
		</if>
		<if test="dVDate != null and dVDate != ''">
			,dVDate=cast(#{dVDate} as datetime)
		</if>
		<if test="cItemCode != null and cItemCode != ''">
			,cItemCode=#{cItemCode}
		</if>
		<if test="iPOsID != null and iPOsID != ''">
			,iPOsID=#{iPOsID}
		</if>
		<if test="fACost != null and fACost != ''">
			,fACost=#{fACost}
		</if>
		<if test="cName != null and cName != ''">
			,cName=#{cName}
		</if>
		<if test="cItemCName != null and cItemCName != ''">
			,cItemCName=#{cItemCName}
		</if>
		<if test="dMadeDate != null and dMadeDate != ''">
			,dMadeDate=#{dMadeDate}
		</if>
		<if test="dbKeepDate != null and dbKeepDate != ''">
			,dbKeepDate=#{dbKeepDate}
		</if>
		<if test="corufts != null and corufts != ''">
			,corufts=#{corufts}
		</if>
		<if test="cbMemo != null and cbMemo != ''">
			,cbMemo=#{cbMemo}
		</if>
		<if test="rowufts != null and rowufts != ''">
			,rowufts=#{rowufts}
		</if>
		<if test="cbsysbarcode != null and cbsysbarcode != ''">
			,cbsysbarcode=#{cbsysbarcode}
		</if>
		<if test="cMassUnit != null and cMassUnit != ''">
			,cMassUnit=#{cMassUnit}
		</if>
		<if test="cItem_class != null and cItem_class != ''">
			,cItem_class=#{cItem_class}
		</if>
		<if test="cDefine23 != null and cDefine23 != ''">
			,cDefine23=#{cDefine23}
		</if>
		<if test="cDefine22 != null and cDefine22 != ''">
			,cDefine22=#{cDefine22}
		</if>
		<if test="cPosition != null and cPosition != ''">
			,cPosition=#{cPosition}
		</if>
		<where>
			AutoID = #{AutoID}
		</where>
	</update>

	<select id="getRds01" parameterType="Integer" resultType="RdRecordsDto">
		select irowno  from RdRecords01
		<where>
			AutoID=#{AutoID}
		</where>
	</select>
	<select id="getRds08" parameterType="Integer" resultType="RdRecordsDto">
		select iQuantity,iNQuantity  from RdRecords08
		<where>
			AutoID=#{AutoID}
		</where>
	</select>
	<select id="getRds09" parameterType="Integer" resultType="RdRecordsDto">
		select iQuantity,iNQuantity  from RdRecords09
		<where>
			AutoID=#{AutoID}
		</where>
	</select>
	
	<insert id="insertListDtos" parameterType="List">
		insert into RdRecords32(AutoID,ID,cInvCode,iQuantity,cBatch,dVDate,
		cPosition,dMadeDate,cbMemo,irowno,cbsysbarcode,iMassDate,cMassUnit,	iDLsID,	
		iNQuantity,cbdlcode,iordertype,iordercode,iorderseq,ipesodid,ipesotype,
		cpesocode,ipesoseq,iposflag,iorderdid,
		iFlag,bLPUseFree,iRSRowNO,iOriTrackID,bCosting,bVMIUsed,
		iExpiratDateCalcu,isotype,cbaccounter,
		iVMISettleNum,iVMISettleQuantity,corufts,		
		iSendQuantity,iSendNum,bIAcreatebill,bsaleoutcreatebill,bneedbill,bGsp
		)values
		<foreach collection="list" index="index" item="item"  separator=",">
			(#{item.AutoID},#{item.ID},#{item.cInvCode},#{item.iQuantity},#{item.cBatch},#{item.dVDate},
			#{item.cPosition},#{item.dMadeDate},#{item.cbMemo},#{item.irowno},
			#{item.cbsysbarcode},#{item.iMassDate},#{item.cMassUnit},
			#{item.iDLsID},#{item.iNQuantity},#{item.cbdlcode},#{item.iordertype},
			#{item.iordercode},#{item.iorderseq},#{item.ipesodid},#{item.ipesotype},
			#{item.cpesocode},#{item.ipesoseq},#{item.iposflag},#{item.iorderdid}
			,0,0,0,0,1,0,0,0,null,null,null,null
			,null,null,0,0,#{item.bneedbill},#{item.bGsp})
		</foreach>
	</insert>
</mapper>