<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.Sa_invoicecustomersDao" >
	<insert id="insert" parameterType="Sa_invoicecustomersDto" useGeneratedKeys="true" keyProperty="autoid"  keyColumn="autoid">
		insert into sa_invoicecustomers(
		ccuscode
		<if test="cinvoicecompany != null and cinvoicecompany != ''">
			,cinvoicecompany
		</if>
		,bdefault
		)values(
			#{ccuscode}
		<if test="cinvoicecompany != null and cinvoicecompany != ''">
			,#{cinvoicecompany}
		</if>
		,1
		)
	</insert>
	<!--修改-->
	<update id="update" parameterType="Sa_invoicecustomersDto">
		update sa_invoicecustomers set
		<trim prefixOverrides=",">
			<if test="ccuscode != null and ccuscode != ''">
				,ccuscode=#{ccuscode}
			</if>
			<if test="cinvoicecompany != null and cinvoicecompany != ''">
				,cinvoicecompany=#{cinvoicecompany}
			</if>
		</trim>
		<where>
			ccuscode=#{xgqkhdm}
		</where>
	</update>
</mapper>