<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.matridx.igams.production.dao.matridxsql.SCM_CommitEntryBufferDao">
	<insert id="insertList" parameterType="List">
		insert into SCM_CommitEntryBuffer(
		subject,ItemId,cwhcode,cinvcode,cbatch,iNum,iquantity,iBillNum,iBillQuantity,DocumentType,DocumentId,DocumentDId,dMDate,dVDate,imassunit,imassday,cBusType,cSource
		,cVMIVenCode,DemandPlanType,DemandPlanDId,iControlMethod,iCheckRuleId,cExpirationdate,dExpirationdate
		,iExpiratDateCalcu,btrack,iControlMethodtrack
		)values
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator="," item="item"
				index="index">
				(
				'0201'
				<if test="item.ItemId != null and item.ItemId != ''">
					,#{item.ItemId}
				</if>
				<if test="item.cwhcode != null and item.cwhcode != ''">
					,#{item.cwhcode}
				</if>
				<if test="item.cinvcode != null and item.cinvcode != ''">
					,#{item.cinvcode}
				</if>
				<if test="item.cbatch != null and item.cbatch != ''">
					,#{item.cbatch}
				</if>
				<if test="item.iNum != null and item.iNum != ''">
					,#{item.iNum}
				</if>
				<if test="item.iquantity != null and item.iquantity != ''">
					,#{item.iquantity}
				</if>

				<if test="item.iBillNum != null and item.iBillNum != ''">
					,#{item.iBillNum}
				</if>
				<if test="item.iBillQuantity != null and item.iBillQuantity != ''">
					,#{item.iBillQuantity}
				</if>
				
				<if test="item.DocumentType != null and item.DocumentType != ''">
					,#{item.DocumentType}
				</if>
				<if test="item.DocumentId != null and item.DocumentId != ''">
					,#{item.DocumentId}
				</if>
				<if test="item.DocumentDId != null and item.DocumentDId != ''">
					,#{item.DocumentDId}
				</if>
				<if test="item.dMDate != null and item.dMDate != ''">
					,#{item.dMDate}
				</if>
				<if test="item.dVDate != null and item.dVDate != ''">
					,#{item.dVDate}
				</if>
				<if test="item.imassunit != null and item.imassunit != ''">
					,#{item.imassunit}
				</if>
				<if test="item.imassday != null and item.imassday != ''">
					,#{item.imassday}
				</if>
				<if test="item.cBusType != null and item.cBusType != ''">
					,#{item.cBusType}
				</if>
				<if test="item.cSource != null and item.cSource != ''">
					,#{item.cSource}
				</if>
				,'',0,'',1,1,null,null,0,0,1
				)
			</foreach>
		</if>
	</insert>
</mapper>