<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.SO_SOMainDao" >

    <select id="getPagedDtoList" parameterType="SO_SOMainDto" resultType="SO_SOMainDto">
        select
        <if test=" pageSize != null and pageSize != ''">
            top (convert(int,#{pageSize}))
        </if>
        cSTCode,dDate,cSOCode,cCusCode,cDepCode,cPersonCode,
        cSCCode,cCusOAddress,cPayCode,cexch_name,iExchRate,iTaxRate,
        iMoney,cMemo,iStatus,cMaker,cVerifier,cCloser,bDisFlag,cDefine1,
        cDefine2,cDefine3,cDefine4,cDefine5,cDefine6,cDefine7,cDefine8,
        cDefine9,cDefine10,bReturnFlag,cCusName,bOrder,ID as xsid,iVTid,ufts,cChanger,
        cBusType,cCreChpName,cDefine11,cDefine12,cDefine13,cDefine14,cDefine15,
        cDefine16,coppcode,cLocker,dPreMoDateBT,dPreDateBT,cgatheringplan,caddcode,
        iverifystate,ireturncount,iswfcontrolled,icreditstate,cmodifier,dmoddate,
        dverifydate,ccusperson,dcreatesystime,dverifysystime,dmodifysystime,iflowid,
        bcashsale,cgathingcode,cChangeVerifier,dChangeVerifyDate,dChangeVerifyTime,
        outid,ccuspersoncode,dclosedate,dclosesystime,iPrintCount,fbookratio,bmustbook,
        fbooksum,fbooknatsum,fgbooksum,fgbooknatsum,csvouchtype,cCrmPersonCode,cCrmPersonName,
        cMainPersonCode,cSysBarCode,ioppid,optnty_name,cCurrentAuditor,contract_status,csscode,
        cinvoicecompany,cAttachment,cEBTrnumber,cEBBuyer,cEBBuyerNote,ccontactname,cEBprovince,cEBcity,cEBdistrict,cmobilephone,cInvoiceCusName,cGCRouteCode,cbcode
        from SO_SOMain
        <where>
        <trim prefixOverrides="and">
            <if test="cBusType != null and cBusType != ''">
                and cBusType LIKE concat(concat('%',#{cBusType}),'%')
            </if>
            <if test="cDepCode != null and cDepCode != ''">
                and cDepCode LIKE concat(concat('%',#{cDepCode}),'%')
            </if>
            <if test="cCusName != null and cCusName != ''">
                and cCusName LIKE concat(concat('%',#{cCusName}),'%')
            </if>
            <if test="cMaker != null and cMaker != ''">
                and cMaker LIKE concat(concat('%',#{cMaker}),'%')
            </if>
            <if test="sqrqstart != null and sqrqstart != ''">
                and to_char(dDate,'YYYY-MM-dd') &gt;= #{sqrqstart}
            </if>
            <if test="sqrqend != null and sqrqend != ''">
                and to_char(dDate,'YYYY-MM-dd') &lt;= #{sqrqend}
            </if>
            <if test="pageNumber != null and pageNumber != '' and pageSize != null and pageSize != ''">
                and ID not in (select top ((convert(int,#{pageSize}))*((convert(int,#{pageNumber}))-1)) ID from SO_SOMain)
            </if>
            <if test="sortName != null and sortName != '' and sortOrder != null and sortOrder != ''  and sortLastOrder != null and sortLastOrder != '' and sortLastName != null and sortLastName != ''">
                ORDER BY ${sortName} ${sortOrder},${sortLastName} ${sortLastOrder}
            </if>
        </trim>
        </where>
    </select>

    <select id="getToTalNumber" resultType="java.lang.Integer">
        select count(ID) as totalNumber
        from SO_SOMain
    </select>

    <select id="getSO_SOMainInfoByID" parameterType="SO_SOMainDto" resultType="SO_SOMainDto">
        select cSTCode,dDate,cSOCode,cCusCode,cDepCode,cPersonCode,
        cSCCode,cCusOAddress,cPayCode,cexch_name,iExchRate,iTaxRate,
        iMoney,cMemo,iStatus,cMaker,cVerifier,cCloser,bDisFlag,cDefine1,
        cDefine2,cDefine3,cDefine4,cDefine5,cDefine6,cDefine7,cDefine8,
        cDefine9,cDefine10,bReturnFlag,cCusName,bOrder,ID as xsid,iVTid,ufts,cChanger,
        cBusType,cCreChpName,cDefine11,cDefine12,cDefine13,cDefine14,cDefine15,
        cDefine16,coppcode,cLocker,dPreMoDateBT,dPreDateBT,cgatheringplan,caddcode,
        iverifystate,ireturncount,iswfcontrolled,icreditstate,cmodifier,dmoddate,
        dverifydate,ccusperson,dcreatesystime,dverifysystime,dmodifysystime,iflowid,
        bcashsale,cgathingcode,cChangeVerifier,dChangeVerifyDate,dChangeVerifyTime,
        outid,ccuspersoncode,dclosedate,dclosesystime,iPrintCount,fbookratio,bmustbook,
        fbooksum,fbooknatsum,fgbooksum,fgbooknatsum,csvouchtype,cCrmPersonCode,cCrmPersonName,
        cMainPersonCode,cSysBarCode,ioppid,optnty_name,cCurrentAuditor,contract_status,csscode,
        cinvoicecompany,cAttachment,cEBTrnumber,cEBBuyer,cEBBuyerNote,ccontactname,cEBprovince,cEBcity,cEBdistrict,cmobilephone,cInvoiceCusName,cGCRouteCode,cbcode
        from SO_SOMain
        where ID=#{ID}
    </select>
    
    <update id="updateList" parameterType="List">
		<if test="list !=null and list.size > 0">
			<foreach collection="list" separator=";" item="item" index="index">
				update SO_SOMain
			<set>
				iPrintCount=cast(#{item.iPrintCount} as numeric(16,5))
			</set>
			<where>
				cSOCode=#{item.cSOCode}
			</where>
			</foreach>
		</if>
	</update>

    <select id="getcSOCodeRd" parameterType="SO_SOMainDto" resultType="SO_SOMainDto">
        SELECT cSOCode,ID
          FROM SO_SOMain
          where LEN(cSOCode)=10 and cSOCode>#{cSOCode}
    </select>

    <select id="getcSOCode" parameterType="SO_SOMainDto" resultType="SO_SOMainDto">
        SELECT cSOCode,ID
          FROM SO_SOMain
          where  cSOCode=#{cSOCode}
    </select>

    <insert id="insert" parameterType="SO_SOMainDto">
		INSERT INTO SO_SOMain
		   (
		    cSTCode,
            dDate,
            cSOCode,
            cCusCode,
            cDepCode,
            cCusOAddress,
            cPayCode,
            cexch_name,
            iExchRate,
            iTaxRate,
            cMemo,
            iStatus,
            cMaker,
            cVerifier,
            bDisFlag,
            bReturnFlag,
            cCusName,
            bOrder,
            ID,
            iVTid,
            cBusType,
            dPreMoDateBT,
            dPreDateBT,
            iverifystate,
            iswfcontrolled,
            cmodifier,
            dmoddate,
            dverifydate,
            dcreatesystime,
            dverifysystime,
            dmodifysystime,
            bcashsale,
            bmustbook,
            cSysBarCode,
            contract_status,
            cinvoicecompany,
            cbcode,
            cPersonCode
		   )
		   VALUES
		    (
		    #{cSTCode},
            cast(#{dDate} as datetime),
            #{cSOCode},
            #{cCusCode},
            #{cDepCode},
            #{cCusOAddress},
            #{cPayCode},
            #{cexch_name},
            #{iExchRate},
            #{iTaxRate},
            #{cMemo},
            #{iStatus},
            #{cMaker},
            #{cVerifier},
            #{bDisFlag},
            #{bReturnFlag},
            #{cCusName},
            #{bOrder},
            #{ID},
            #{iVTid},
            #{cBusType},
            cast(#{dPreMoDateBT} as datetime),
            cast(#{dPreDateBT} as datetime),
            #{iverifystate},
            #{iswfcontrolled},
            #{cmodifier},
            cast(#{dmoddate} as datetime),
            cast(#{dverifydate} as datetime),
            cast(#{dcreatesystime} as datetime),
            cast(#{dverifysystime} as datetime),
            cast(#{dmodifysystime} as datetime),
            #{bcashsale},
            #{bmustbook},
            #{cSysBarCode},
            #{contract_status},
            #{cinvoicecompany},
            #{cbcode},
            #{cPersonCode}
		    )
	</insert>
    
</mapper>