<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.TransVouchDao" >
	
	<insert id="insertTransVouch" parameterType="TransVouchDto">
		insert into TransVouch(cTVCode,dTVDate,cOWhCode,cIWhCode,cODepCode,cPersonCode,cIRdCode,cORdCode,cTVMemo,cMaker,ID,VT_ID,dVerifyDate,cVerifyPerson,
		iQuantity,dnverifytime,csysbarcode,iNetLock,dnmaketime,cModifyPerson,ireturncount,iverifystate,cDefine7)
		values(#{cTVCode},CONVERT(varchar(100),getdate(),23),#{cOWhCode},#{cIWhCode},#{cIDepCode},#{cPersonCode},#{cIRdCode},#{cORdCode},#{cTVMemo},#{cMaker},#{ID},'89',CONVERT(varchar(100),getdate(),23),
		#{cVerifyPerson},'0',CONVERT(varchar(100),getdate(),23),#{csysbarcode},'0',CONVERT(varchar(100),getdate(),23),null,null,null,null)
	</insert>
	
	<select id="getMaxID" resultType="String">
		select max(ID) ID from TransVouch
	</select>
	
	<select id="getDtoBycTVCode" parameterType="TransVouchDto" resultType="TransVouchDto">
		select cTVCode,dTVDate
		from TransVouch
		<where>
			cTVCode=#{cTVCode}
		</where>
	</select>
	<update id="updateByKey" parameterType="TransVouchDto">
		update TransVouch
		set cOWhCode = #{cOWhCode}
		where cTVCode=#{cTVCode}
	</update>

	<select id="getcTVCode" parameterType="TransVouchDto" resultType="TransVouchDto">
		SELECT cTVCode,ID
			FROM TransVouch 
			where LEN(cTVCode)=10 and cTVCode>#{cTVCode}
	</select>
</mapper>