<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.UA_IdentityDao" >
	<!-- 获取主副表最大值 -->
	<select id="getMax" parameterType="UA_IdentityDto" resultType="UA_IdentityDto">
		select cAcc_Id,cVouchType,iFatherId,iChildId
		from UFSystem.dbo.UA_Identity
		<where>
			cAcc_Id=#{cAcc_Id} and cVouchType=#{cVouchType}
		</where>
	</select>
	
	<update id="update" parameterType="UA_IdentityDto">
		update UFSystem.dbo.UA_Identity set
		<trim prefixOverrides=",">
		<if test="iFatherId != null and iFatherId != ''">
			,iFatherId=#{iFatherId}
		</if>
		<if test="iChildId != null and iChildId != ''">
			,iChildId=#{iChildId}
		</if>
		</trim>
		<where>
			cAcc_Id=#{cAcc_Id} and cVouchType=#{cVouchType}
		</where>
	</update>
	
	<insert id="insert" parameterType="UA_IdentityDto">
		insert into UFSystem.dbo.UA_Identity(cAcc_Id,cVouchType,iFatherId,iChildId)values
		(#{cAcc_Id},#{cVouchType},#{iFatherId},#{iChildId})
	</insert>
</mapper>