<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matridx.igams.production.dao.matridxsql.VoucherHistoryDao" >
	<select id="getMaxSerial" parameterType="VoucherHistoryDto" resultType="VoucherHistoryDto">
		select cNumber,AutoId,iRdFlagSeed,cContent,CardNumber,cContentRule,cSeed,bEmpty
		from VoucherHistory
		<where>
			CardNumber=#{CardNumber}
			<if test="cSeed != null and cSeed != ''">
				 and cSeed=#{cSeed}
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="VoucherHistoryDto">
		update VoucherHistory set
		cNumber=#{cNumber}
		<where>
			AutoId = #{AutoId}
		</where>
	</update>
	
	<insert id="insert" parameterType="VoucherHistoryDto">
		insert into VoucherHistory(CardNumber,cNumber
		<if test="iRdFlagSeed != null and iRdFlagSeed != ''">
			,iRdFlagSeed
		</if>
		<if test="cContent != null and cContent != ''">
			,cContent
		</if>
		<if test="cContentRule != null and cContentRule != ''">
			,cContentRule
		</if>
		<if test="cSeed != null and cSeed != ''">
			,cSeed
		</if>
		<if test="bEmpty != null and bEmpty != ''">
			,bEmpty
		</if>
		)values(#{CardNumber},#{cNumber}
		<if test="iRdFlagSeed != null and iRdFlagSeed != ''">
			,#{iRdFlagSeed}
		</if>
		<if test="cContent != null and cContent != ''">
			,#{cContent}
		</if>
		<if test="cContentRule != null and cContentRule != ''">
			,#{cContentRule}
		</if>
		<if test="cSeed != null and cSeed != ''">
			,#{cSeed}
		</if>
		<if test="bEmpty != null and bEmpty != ''">
			,#{bEmpty}
		</if>
		)
	</insert>
</mapper>