<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<!--Bootstrap-table插件-->
	<link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
	<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{${urlPrefix} + '/js/clearing/records/clearingRecords_print.js'}" charset="utf-8"></script>
</head>
<body style="width:700px;height: 480px;">

<form id="arrivalGoods_formSearch" class="form-horizontal form-inline" data-bs-toggle="validation"
	  style="margin:auto;width:100%;">
	<div class="panel-body body-content" style="width:780px;">
		<div style="text-align:center;font-size: 30px;font-family: '宋体';font-weight: bold">
			<span th:text="${dqmc}"></span>
		</div>
		<div style="padding:0px;font-weight:normal;text-align: right;width:780px;">
			<span style="font-size: 15px;font-family: '宋体';">文件编号:</span>
			<span th:text="${wjbh}" style="font-size: 15px;font-family: 'Times New Roman';"></span>
		</div>
		<!--表头-->
		<div style="text-align:center;padding-top:30px;font-size: 23px;font-family: '宋体';font-weight: bold;width:780px;">工序清场记录</div>
		<!--表上半部分内容-->
		<div style="padding:0px;font-weight:normal;text-align: right;width:780px;">
			<span style="font-size: 15px;font-family: '宋体';">记录编号:</span>
			<span style="font-size: 15px;font-family: 'Times New Roman';" th:text="${qcjlDto.jlbh}" th:value="${qcjlDto.jlbh}"></span>
		</div>
		<!--表下半部分内容-->
		<div class="col-md-12 col-sm-12" align="center" >
			<table style="width:780px;" >
				<!--标题-->
				<tr style="width:780px;line-height: 40px">
					<th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:390px;" th:text="'房间名称:'+${qcjlDto.fjmc}"></th>
					<th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:390px;" th:text="'所属工序:'+${qcjlDto.ssgx}"></th>
				</tr>
				<tr style="width:780px;line-height: 30px">
					<th valign="center" rowspan="1"  colspan="2"  style="text-align:center; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;">清场的产品</th>
				</tr>
			</table>
			<table border="1" cellspacing="0" style="width:780px;">
				<tr style="width:780px;line-height: 30px">
					<th width:195px valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:150px;" th:text="'编号:'+${qcjlDto.wlbm}"></th>
					<th width:390px valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:390px;" th:text="'名称:'+${qcjlDto.wlmc}"></th>
					<th width:195px valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:240px;" th:text="'批号:'+${qcjlDto.ph}"></th>
				</tr>
				<tr style="width:780px;line-height: 30px">
					<th valign="center"  colspan="3" style="text-align:center; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;">清场情况</th>
				</tr>
			</table>
			<table style="width:780px;">
				<tr style="width:780px;line-height: 30px">
					<th valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:100px;">清场项目</th>
					<th valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;">操作要点</th>
					<th valign="center" colspan="2" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:200px;">自查情况</th>
				</tr>
				<tr style="width:780px;line-height: 30px" th:if="${qcxmList != null && qcxmList.size() >0}" th:each="qcxmDto: ${qcxmList}">
					<td colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" th:text="${qcxmDto.xmmc}"></td>
					<td colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" th:text="${qcxmDto.xmcskz1}"></td>
					<td colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;"><input type="checkbox" name="option1" th:if="${qcxmDto.jg}==1" checked="checked"> <input type="checkbox" name="option2" th:if="${qcxmDto.jg}==0">合格</td>
					<td colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;"><input type="checkbox" name="option2" th:if="${qcxmDto.jg}==0" checked="checked"> <input type="checkbox" name="option1" th:if="${qcxmDto.jg}==1">不合格</td>
				</tr>
			</table>
			<table style="width:780px;">
				<tr style="width:780px;line-height: 40px">
					<td valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" th:text="'清场操作人:'+${qcjlDto.czrmc}"></td>
					<td valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" th:text="'清场日期:'+${qcjlDto.qcrq}"></td>
				</tr>

				<tr style="width:780px;line-height: 40px">
					<td valign="center" colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" >车间(班组)清场检查总评:
						<input type="checkbox" name="option1" th:if="${qcjlDto.jczp}==1" checked="checked"> <input type="checkbox" name="option2" th:if="${qcjlDto.jczp}==0">合格
						<input type="checkbox" name="option2" th:if="${qcjlDto.jczp}==0" checked="checked"> <input type="checkbox" name="option1" th:if="${qcjlDto.jczp}==1">不合格
					</td>
					<td valign="center"  colspan="1" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" th:text="'检查者签名:'+${qcjlDto.jcrmc}"></td>
				</tr>
				<tr style="width:780px;height:100px;line-height: 30px" >
					<td colspan="2" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" th:if="${qcjlDto.bz}!=null" th:text="'备注:'+${qcjlDto.bz}"></td>
					<td colspan="2" style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;" th:if="${qcjlDto.bz}==null" >备注:</td>
				</tr>
			</table>
		</div>


	</div>
</form>

</body>
</html>