<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/clearing/records/clearingRecords_view.js'}" charset="utf-8"></script>
    <style type="text/css">
        th{
            font-weight:bold;
            text-align: center;
        }
    </style>
</head>
<body>
<ul class="nav nav-tabs sl_nav_tabs" role="tablist">
    <li  class="nav-item" >
        <a  class="nav-link active" href="#mainInfoTab" role="tab" data-bs-toggle="tab">清场信息</a>
    </li>
    <li class="nav-item" >
        <a  class="nav-link" href="#detailInfoTab" role="tab" data-bs-toggle="tab">清场项目</a>
    </li>
</ul>
<form id="viewClearingRecordsForm"  class="form-horizontal sl_all_form" method="post" theme="simple">
    <input type="hidden" name="access_token"/>
    <input type="hidden" id="urlPrefix" name="urlPrefix" th:value="${urlPrefix}"/>
    <div class="body-content tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="mainInfoTab" aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    房间名称
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span  th:text="${qcjlDto.fjmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    所属工序
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.ssgx}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    记录编号
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.jlbh}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    物料编码
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <a style='text-decoration:none;cursor:pointer;' th:onclick="queryByWlbm([[${qcjlDto.wlid}]]);">
                                        <span th:text="${qcjlDto.wlbm}" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    物料名称
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.wlmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    批号
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.ph}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    清场人
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.czrmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    清场日期
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.qcrq}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    有效期
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.yxq}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    检查总评
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:if="${'1' eq qcjlDto.jczp}" style="color:green">合格</span>
                                    <span th:if="${'0' eq qcjlDto.jczp}" style="color:red">不合格</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-xs-4 col-md-4 control-label">
                                    检查人
                                </label>
                                <div class="col-sm-8 col-xs-8 col-md-8 padding_t7">
                                    <span th:text="${qcjlDto.jcrmc}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 col-xs-2 col-md-2 control-label">
                                    备注
                                </label>
                                <div class="col-sm-10 col-xs-10 col-md-10 padding_t7">
                                    <span th:text="${qcjlDto.bz}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="detailInfoTab" aria-labelledby="profile-tab">
            <div class="panel-body">
                <table border="1" cellspacing="0" cellpadding="0" class="table table-hover table-bordered table-hidden" style="text-align: center;">
                    <tr style="background-color: #63a3ff;">
                        <th style="width:10%"><span th:text="序号" /></th>
                        <th style="width:15%"><span th:text="清场项目" /></th>
                        <th style="width:60%"><span th:text="操作要点" /></th>
                        <th style="width:15%"><span th:text="自查情况" /></th>
                    </tr>
                    <div th:if="${qcxmDtos != null && qcxmDtos.size() >0}" th:each="dto:${qcxmDtos}">
                        <tr>
                            <td><span th:title="${dtoStat.index+1}" th:text="${dtoStat.index+1}"/></td>
                            <td><span th:title="${dto.xmmc}" th:text="${dto.xmmc}"/></td>
                            <td><span th:title="${dto.xmcskz1}" th:text="${dto.xmcskz1}"/></td>

                            <td>
                                <span th:if="${'1' eq dto.jg}" style="color:green">合格</span>
                                <span th:if="${'0' eq dto.jg}" style="color:red">不合格</span>
                            </td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>