<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>合格证打印</title>
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.8, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Copyright" content="matridx"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <!--jQuery常用工具扩展库：基础工具,资源加载工具,元素尺寸相关工具 -->
    <script type="text/javascript" src="/js/jquery.utils.contact-min.js" charset="utf-8"></script>
    <!--jQuery基础工具库：$.browser,$.cookie,$.actual等 -->
    <script type="text/javascript" src="/js/jquery.plugins.contact-min.js?v=20220905" charset="utf-8"></script>
    <!--bootstrap -->
    <script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/css/basephone.css"/>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/clearing/records/clearingRecords_certificatePrint.js'}"
            charset="utf-8">
    </script>
    <style>
        .form-horizontal .form-group {
            padding-right: -20px;
            padding-left: -15px;
            position: relative;
        }

        .form-group {
            padding-bottom: 0px !important;
        }

        .panel-body {
            padding: 0px 0px 0px 0px;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 1;
            color: #333;
            background-color: #fff;
        }

        form {
            display: block;
            padding-top: 0em;
        }

        @media print {
            html, body {
                height: 99%;
            }
        }

        .bold-hr {
          border: 0; /* 移除默认边框 */
          border-bottom: 3px solid #000; /* 下边框，可以调整宽度和样式来加粗横线 */
          height: 0; /* 移除默认边框的高度 */
          margin-top: 5px;
          margin-bottom: 5px;

        }
    </style>
</head>
<body>

<form class="form-horizontal sl_all_form" theme="simple" data-bs-toggle="validation">
    <div style="width:700px;font-size:12px;position: relative;left:5%;padding-top: 50px;" >
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top: 8px;height: 30px;font-size: 20px;">
            <span style="font-size: 18px;word-wrap:break-word;font-weight: 600" th:text="${dqmc}"></span>
        </div>
        <div style="padding:0px;font-weight:normal;text-align: right;padding-top: 30px;">
            <span style="font-size: 15px;font-family: '宋体';">文件编号:</span>
            <span th:text="${wjbh}" style="font-size: 15px;font-family: 'Times New Roman';"></span>
        </div>
        <div style="padding:0px;font-weight:normal;text-align: right;padding-top: 10px;">
            <span style="font-size: 15px;font-family: '宋体';">编号:</span>
            <span style="font-size: 15px;font-family: 'Times New Roman';" th:text="${qcjlDto.jlbh}" th:value="${qcjlDto.jlbh}"></span>
        </div>
        <div class="panel-body">
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding-top: 10px;">
                <div class="form-group">
                    <span style="font-size: 16px !important;font-weight: 900">
                        清场合格证(正本)
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        品名:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.wlmc}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        批号:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.ph}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        工序:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.ssgx}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        规格:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.gg}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        清场日期:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.qcrq}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                        <span for="" style="padding: 0px;" >
                            清场人:
                        </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.czrmc}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        有效日期:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.yxq}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        监控人:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.jcrmc}"></span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;">
                <hr class="bold-hr"/>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 3px;">
                <div class="form-group">
                    <span for="" style="padding: 0;">
                        备注:
                    </span>
                    <span style="padding-left: 2px;word-wrap:break-word;" th:text="${qcjlDto.bz}"></span>
                </div>
            </div>
        </div>


    </div>
    <div style="width:700px;font-size:12px;position: relative;left:5%;padding-top: 250px;" >
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top: 8px;height: 30px;font-size: 20px;">
            <span style="font-size: 20px;word-wrap:break-word;font-weight: 600" th:text="${dqmc}"></span>
        </div>
        <div style="padding:0px;font-weight:normal;text-align: right;padding-top: 30px;">
            <span style="font-size: 15px;font-family: '宋体';">文件编号:</span>
            <span th:text="${wjbh}" style="font-size: 15px;font-family: 'Times New Roman';"></span>
        </div>
        <div style="padding:0px;font-weight:normal;text-align: right;padding-top: 10px;">
            <span style="font-size: 15px;font-family: '宋体';">编号:</span>
            <span style="font-size: 15px;font-family: 'Times New Roman';" th:text="${qcjlDto.jlbh}" th:value="${qcjlDto.jlbh}"></span>
        </div>
        <div class="panel-body">
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding-top: 10px;">
                <div class="form-group">
                    <span style="font-size: 16px !important;font-weight: 900">
                        清场合格证(副本)
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        品名:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.wlmc}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        批号:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.ph}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        工序:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.ssgx}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        规格:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.gg}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        清场日期:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.qcrq}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                        <span for="" style="padding: 0px;" >
                            清场人:
                        </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.czrmc}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        有效日期:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.yxq}"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px;">
                <div class="form-group">
                    <span for="" style="padding: 0px;">
                        监控人:
                    </span>
                    <span style="padding-left: 2px" th:text="${qcjlDto.jcrmc}"></span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;">
                <hr class="bold-hr"/>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 3px;">
                <div class="form-group">
                    <span for="" style="padding: 0;">
                        备注:
                    </span>
                    <span style="padding-left: 2px;word-wrap:break-word;" th:text="${qcjlDto.bz}"></span>
                </div>
            </div>
        </div>

        <div style="page-break-after: always;"></div>
    </div>
</form>
</body>
</html>



