<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:100px;">
    <form id="clearingRecords_formSearch" class="form-horizontal form-inline">
        <input type="hidden" name="auditType" id ="auditType" th:value="${qcjlDto.auditType}">
        <input type="hidden" name="urlPrefix" id="urlPrefix" th:value="${urlPrefix}">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="clearingRecords_select" id="clearingRecords_select" class="form-control chosen-select" style="height:34px;">
                            <option value="0">全&nbsp;&nbsp;&nbsp;&nbsp;部</option>
                            <option value="1">记录编号</option>
                            <option value="2">房间名称</option>
                            <option value="3">所属工序</option>
                            <option value="4">物料编码</option>
                            <option value="5">物料名称</option>
                            <option value="6">批号</option>
                            <option value="7">清场人</option>
                            <option value="8">检查人</option>
                        </select>
                        <input id="clearingRecords_input" name="clearingRecords_input" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {searchClearingRecordsResult(); return false;}"/>
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                    <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                </div>
                <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                    <span class="tit">已选条件：</span>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <ul id="sl_add_ul"></ul>
                    </div>
                </div>
                <div class="padding_t7 width100" id="searchMore"
                     style="display: none;">
                    <div class="tab-content sl_sel_con row"
                         style="min-height: 120px; padding-left: 5px; margin-left: 0px; margin-right: 0px; padding-bottom: 10px;"
                         id="sl_sel_con">
                        <div class="tab-pane active" id="tab06">
                            <div id="jczp_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="检查总评">检查总评：</label>
                                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="ccol-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('jczp','1','clearingRecords_formSearch');"
                                                   id="jczp_id_1"><span>合格</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('jczp','0','clearingRecords_formSearch');"
                                                   id="jczp_id_0"><span>不合格</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="qcrq" class="col-md-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="清场日期">清场日期：</label>
                                    <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <input id="qcrqstart" name="qcrqstart" class="form-control" placeholder="开始日期"  />~
                                        <input id="qcrqend" name="qcrqend" class="form-control" placeholder="结束日期"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="common/btn/ancz.html"></div>
        <input type="hidden" id="jczp_id_tj" name="jczp_id_tj">
        <table id="clearingRecords_list" class="table table-hover table-bordered table-hidden"></table>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} +'/js/clearing/records/clearingRecords_list.js'}"></script>
</html>