<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <!--Bootstrap-table插件-->
    <link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css?v=20250110" />
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/api/site.css?v=20250217v2" />
    <style>
        .row{
            display: block ;
        }
        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url('/fonts/glyphicons-halflings-regular.eot');
            src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
        }
        .glyphicon {
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    <meta charset="UTF-8">
    <title>评估项目及内容</title>
</head>
<body style="width:1000px;height: 480px;">
<form id="performanceAuditViewForm" class="form-horizontal form-inline" data-bs-toggle="validation"
          style="margin:auto;width:100%;">
    <input type="hidden" name="gfjxmxJson" id ="gfjxmxJson" th:value="${gfjxmxJson}">
    <div class="body-content" style="width: 1000px;padding-left: 50px;padding-top: 10px;padding-bottom: 30px;">
        <table style="width:1000px;" >
            <tr style="line-height: 40px">
                <th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:180px;" >评估项目</th>
                <th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:180px;" >评估内容</th>
                <th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:270px;" >标准</th>
                <th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:210px;" >备注</th>
                <th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:140px;" >得分</th>
            </tr>
            <tr th:if="${gfjxmxDtoList != null && gfjxmxDtoList.size() >0}" th:each="gfjxmxDto:${gfjxmxDtoList}">
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:180px;" th:text="${gfjxmxDto.xmmc}" th:id="'xm'+${gfjxmxDto.jxmxid}"/>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:180px;" th:text="${gfjxmxDto.nrmc}"/>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:270px;"><span th:id="${gfjxmxDto.jxmxid}"/></td>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:210px;"th:text="${gfjxmxDto.bz}"/>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:140px;" th:if="${gfjxmxDto.dfbj !=null && gfjxmxDto.dfbj !=''}" th:text="${gfjxmxDto.dfbj}"/>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:140px;" th:if="${gfjxmxDto.dfbj ==null || gfjxmxDto.dfbj ==''}" th:text="${gfjxmxDto.df}"/>
            </tr>
            <tr style="line-height: 40px">
                <th valign="center" colspan="2"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:360px;" >适用项得分</th>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:270px;">
                    <span id="df" th:text="${gfjxglDto.df}"  />
                </td>
                <th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:210px;" >适用项满分</th>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:140px;">
                    <span id="mf" th:text="${gfjxglDto.mf}"  />
                </td>
            </tr>
            <tr style="line-height: 40px">
                <th valign="center" colspan="2"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:360px;" >适用项得分率(%)=适用项得分/适用项满分×100%</th>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:270px;">
                    <span id="dfl" th:text="${gfjxglDto.dfl}"  />%
                </td>
                <th valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;font-weight:bold;border:1pt solid windowtext;width:210px;" >供应商评级</th>
                <td valign="center" colspan="1"  style="padding-left: 8px;text-align:left; font-family:宋体;font-size:16px;border:1pt solid windowtext;width:140px;">
                    <span id="pjmc" th:text="${gfjxglDto.pjmc}"  />
                </td>
            </tr>
            <tr style="line-height: 60px">
                <th valign="center" colspan="5"  style="text-align:left; font-family:宋体;font-size:17px;font-weight:bold;border:1pt solid windowtext;width:1000px;">
                <span>
                    &nbsp;&nbsp;得分率（%）： 90≤得分率；优等：绩效优秀，优先采购，加大采购量；</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;80≤得分率<90；良好；绩效良好，维持采购量现状；</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;70≤得分率<80：一般；绩效合格，但应预警，要求整改，并减少采购量；</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;60≤得分率<70：较差；绩效不合格，提供书面的整改报告，并减少或停止采购；</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;60>得分率：很差；绩效差，停止采购*，纳入黑名单。</br>
                </span>
                </th>
            </tr>
        </table>
    </div>
</form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/warehouse/performance/performanceAuditView.js'}" charset="utf-8"></script>
</html>