<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" src="/js/wechat/detectionApplication/detectionApplication_auditList.js" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content padding-l30 padding-r30" style="padding-bottom:0px;">
    <form id="detectionApplication_formAudit">
        <div class="row">
            <div class="pull-left">
                <ul class="nav nav-tabs nav-tabs-ky" role="tablist" id="detectionApplication_audit_ul">
                    <li  class="nav-item" >
                        <a  class="nav-link active" name="tabBlock[detectionApplicationAuditDiv]" href="#Apply_auditing" role="tab" data-bs-toggle="tab">待审核的信息</a>
                    </li>
                    <li  class="nav-item" >
                        <a  class="nav-link" name="tabBlock[detectionApplicationAuditDiv]" href="#Apply_audited" role="tab" data-bs-toggle="tab">审核记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="row padding-l15 padding-r15">
        <div class="main_content tab-content">
            <div role="tabpanel" class="tab-pane active padding-10" id="Apply_auditing" style="border:1px solid #eee">
                <form id="detectionApplication_audit_formSearch" class="form-horizontal form-inline">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group padding_l10">
                                    <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                                        <option value="0">质控名称</option>
                                        <option value="1">测序仪序列号</option>
                                    </select>
                                    <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配" onkeydown="if(event.keyCode==13) {detectionApplication_audit_Result(true); return false;}"/>
                                </div>
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                            </div>
                        </div>
                    </div>
                    <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                        <span class="tit" style="color:black;">已选条件：</span>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                            <ul id="sl_add_ul"></ul>
                        </div>
                    </div>
                    <div class="padding_t7 width100" id="searchMore" style="display: none;" >
                        <div class="tab-content sl_sel_con row" id="sl_sel_con" style="padding-bottom:10px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
                            <div class="tab-pane active" id="tab06">
                                <div id="jcxm_id" class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="form-group width100">
                                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="申请类型" >检测项目：</label>
                                        <div class="col-xs-6 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                            <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                                <li th:if="${jcxmList!=null && jcxmList.size() >0}" th:each="dto:${jcxmList}">
                                                    <a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[jcxm]],[[${dto.csid}]],[[detectionApplication_formAudit]]);" th:id="'jcxm_id_'+${dto.csid}" >
                                                        <span th:text="${dto.csmc}"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="zkmcdiv" class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="form-group width100">
                                        <label class="col-sm-3 col-md-2 col-lg-2 control-label" title="申请时间" >质控名称：</label>
                                        <div class="col-xs-9 col-sm-9  col-md-9 col-lg-9 sl_sel_list" >
                                            <input id="zkmc" name="zkmc" class="form-control" placeholder="质控名称"  />~
                                        </div>
                                    </div>
                                </div>
                                <div id="cxyxlhdiv" class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="form-group width100">
                                        <label class="col-sm-3 col-md-2 col-lg-2 control-label" title="申请时间" >测序仪序列号：</label>
                                        <div class="col-xs-9 col-sm-9  col-md-9 col-lg-9 sl_sel_list" >
                                            <input id="cxyxlh" name="cxyxlh" class="form-control" placeholder="测序仪序列号"  />~
                                        </div>
                                    </div>
                                </div>
                                <div id="lrsj" class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="form-group width100">
                                        <label class="col-sm-3 col-md-2 col-lg-2 control-label" title="申请时间" >申请时间：</label>
                                        <div class="col-xs-9 col-sm-9  col-md-9 col-lg-9 sl_sel_list" >
                                            <input id="lrsjstart" name="lrsjstart" class="form-control" placeholder="开始日期" validate="{required:true}" />~
                                            <input id="lrsjend" name="lrsjend" class="form-control" placeholder="结束日期" validate="{required:true}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input  type="hidden" id="jcxm_id_tj" name="jcxm_id_tj">
                    <div th:include="common/btn/ancz.html"></div>
                    <table id="detectionApplication_audit_list" class="table table-hover table-bordered table-hidden"></table>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>