<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/deviceinfo/devicecheck/deviceCheck_audit.js'}" charset="utf-8"></script>
</head>
<body>
<form id="auditDeviceCheckForm"  th:action ="${urlPrefix}+'/device/device/'+${sbysDto.formAction}"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
    <input type="hidden" name="hwid" id ="hwid" th:value="${sbysDto.hwid}">
    <input type="hidden" name="sbysid" id ="sbysid" th:value="${sbysDto.sbysid}">
    <input type="hidden" name="sfgdzc" id ="sfgdzc" th:value="${sbysDto.sfgdzc}">
    <input type="hidden" name="access_token"/>
    <div class="body-content tab-content">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">设备编码:</label>
                    <div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.wlbm}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">设备名称:</label>
                    <div class="col-sm-8 col-md-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.wlmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">申请人:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.sqrmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">申请部门:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.sqbmmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">订单编号:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.htnbbh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">请购单号:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.djh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">数量:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.yssl}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">所属研发项目:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.ssyfxmmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">到货日期:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.dhrq}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">生产厂家:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.scs}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">供应商:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.gysmc}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">联系电话:</label>
                    <div class="col-sm-8 col-xs-8 padding_t7">
                        <span th:text="${sbysDto.dh}" ></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>固定资产编号:</label>
                    <div class="col-sm-8 col-xs-8">
                        <input id="gdzcbh" name="gdzcbh" class="form-control" th:value="${sbysDto.gdzcbh}" validate="{required:true}" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>设备出厂编号:</label>
                    <div class="col-sm-8 col-xs-8">
                        <input id="sbccbh" name="sbccbh" class="form-control"  th:value="${sbysDto.sbccbh}" validate="{required:true}"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>使用地点:</label>
                    <div class="col-sm8 col-xs-8">
                        <input id="sydd" name="sydd" class="form-control"  th:value="${sbysDto.sydd}" validate="{required:true}"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>验收日期:</label>
                    <div class="col-sm-8 col-xs-8">
                        <input id="ysrq" name="ysrq" class="form-control"  th:value="${sbysDto.ysrq}" validate="{required:true}"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label"><span style="color: red;">*</span>验收结果:</label>
                    <div class="col-sm-8 col-xs-8">
                        <label class="radio-inline"><input type="radio" value="0" name="ysjg" th:checked="${'0' eq sbysDto.ysjg}"  >不合格</label>
                        <label class="radio-inline"><input type="radio" value="1" name="ysjg" th:checked="${'1' eq sbysDto.ysjg}"  >合格</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 col-xs-4 control-label">保修时间:</label>
                    <div class="col-sm-8 col-xs-8">
                        <input id="bxsj" name="bxsj" class="form-control"  th:value="${sbysDto.bxsj}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>