<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <!--Bootstrap-table插件-->
    <link href="/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/deviceinfo/devicecheck/deviceCheck_print.js'}" charset="utf-8"></script>
</head>
<body style="width:700px;height: 480px;">

<form id="printDevice_formSearch" class="form-horizontal form-inline" data-bs-toggle="validation"
      style="margin:auto;width:100%;">
    <div class="panel-body body-content" style="width:100%;">
        <div style="text-align:center;font-size: 30px;font-family: '宋体';font-weight: bold">
            <span >杭州杰毅医学检验实验室有限公司</span>
        </div>
        <!--表头-->
        <div style="text-align:center;padding-top:30px;font-size: 20px;font-family: '宋体'">设备验收移交单</div>
        <!--表下半部分内容-->
        <div style="margin:auto;width:100%;border: none">
            <table style="width:100%;border-collapse:collapse;">
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">申请人:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.sqrmc}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">申请部门:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.sqbmmc}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">请购单号:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.djh}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">是否需要申请固定资产编码：</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:if="${sbysDto.sfgdzc eq '1'}" >是√    否</td>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:if="${sbysDto.sfgdzc eq '0'}" >是    否√</td>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">固定资产编码:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.gdzcbh}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">设备名称:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.wlmc}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">规格型号:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.gg}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">数量:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.yssl}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">所属研发项目（研发设备填写）:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.ssyfxmmc}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">到货日期:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.dhrq}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">设备出厂编号:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.sbccbh}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">使用地点:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.sydd}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">验收结果:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:if="${sbysDto.ysjg eq '0'}">不合格</td>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:if="${sbysDto.ysjg eq '1'}">合格</td>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">验收日期:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.ysrq}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">生产厂家:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.scs}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">供应商:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.gysmc}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">联系电话:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.dh}"/>
                </tr>
                <tr style="text-align:center; font-family:宋体;font-size:10px;font-weight:bold;">
                    <th cellspacing="0" style="text-align:center;border: 1px solid #000;width:40%;height:50px">保修时间:</th>
                    <td cellspacing="0" style="border: 1px solid #000;text-align:center;" th:text="${sbysDto.bxsj}"/>
                </tr>
            </table>
        </div>
        <!--签名部分-->
        <!--<div style="margin:auto;width:700px;border:none;position:fixed ;bottom:0;">-->
            <!--<table style="bottom:0;margin:auto;width:80%;padding-left:10%;border-collapse:collapse;font-family:宋体;font-size:13px;">-->
                <!--<tr>-->
                    <!--<th style="text-align: left">请验人:　　　　　　　年　　月　　日</th>-->
                    <!--<th style="text-align: right">取样人:　　　　　　　年　　月　　日</th>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
    </div>
</form>

<div style="page-break-after: always;"></div>
</body>
</html>