<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <script type="text/javascript" src="/js/finance/finance/finance_meadlab_export.js" charset="utf-8"></script>
</head>
    <form id="financeExport_meadlab_formSearch"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" >
        <input type="hidden" name="access_token"/>
        <input  type="hidden" id="databaseName" name="databaseName" th:value="${databaseName}">
        <input  type="hidden" id="ccodes" name="ccodes" th:value="${ccodes}">
        <input  type="hidden" id="ztcsdm" name="ztcsdm" th:value="${ztcsdm}">
        <div class="body-content tab-content">
            <div role="tabpanel"  aria-labelledby="profile-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="form-group">
                                    <label class="col-sm-2 control-label col-xs-4">
                                        <span style="color: red;">*</span>年份：
                                    </label>
                                    <div class="col-sm-4 col-xs-8">
                                        <select id="dbyear" name="dbyear"  class="form-control chosen-select">
                                            <option th:each="item:${year}" th:value="${item}" th:text="${item}" v-on:dblclick="addOption()"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<body>
</body>
</html>