<!DOCTYPE html>
<html>
<head lang="zh-cn">
</head>
<form id="financeExport_RevenueCost_formSearch"  class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation" >
    <input type="hidden" name="access_token"/>
    <div class="body-content tab-content">
        <div role="tabpanel"  aria-labelledby="profile-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" >
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-xs-4">
                                    <span style="color: red;">*</span>年份：
                                </label>
                                <div class="col-sm-4 col-xs-8">
                                    <select id="year" name="year"  class="form-control chosen-select">
                                        <option th:each="item:${years}" th:value="${item}" th:text="${item}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" id="xszt">
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-xs-4">
                                    <span style="color: red;">*</span>账套：
                                </label>
                                <div class="col-sm-10 col-xs-8">
                                    <label class="checkbox-inline" th:if="${xsztlist!=null&&xsztlist.size() > 0}" th:each="list:${xsztlist}">
                                        <input class="xszt" th:name="ztcsdms" th:csdm="${list.csdm}" type="checkbox" th:value="${list.csdm}">
                                        <span th:text="${list.csmc}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<body>
</body>
</html>