<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>请购列表</title>
    <script type="text/javascript" th:src="@{${urlPrefix} + '/js/invoice/invoice/invoice_list.js'}" charset="utf-8"></script>
</head>
<body>
<div class="panel-body body-content" style="padding-bottom:0px;">
    <form id="invoice_formSearch" class="form-horizontal form-inline">
        <input type="hidden" id="auditType" name="auditType" th:value="${fpglDto.auditType}">
        <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件 &nbsp; &nbsp;</div>
            <div class="panel-body">
                <div class="">
                    <div class="form-group padding_l10">
                        <select name="cxtj" class="form-control chosen-select" id="cxtj" style="height:34px;">
                            <option value="0">全部</option>
                            <option value="1">发票号</option>
                            <option value="2">供应商</option>
                            <option value="3">申请人</option>
                            <option value="4">合同号</option>
                        </select>
                        <input id="cxnr" name="cxnr" class="form-control" placeholder="模糊匹配"
                               onkeydown="if(event.keyCode==13) {searchPurchaseResult(true); return false;}"/>
                    </div>
                    <div class="form-group padding-l30" style="margin-left:0px">
                        <label>开票日期</label>
                        <input id="kprqstart" name="kprqstart" class="form-control" placeholder="开始日期"  />~
                        <input id="kprqend" name="kprqend" class="form-control" placeholder="结束日期" />
                    </div>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                    <span class="btn btn-primary btn-sm margin_b5" id="sl_searchMore">高级筛选</span>
                </div>
                <div class="sl_yx_con" id="sl_yx_con" style="display: none">
                    <span class="tit">已选条件：</span>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <ul id="sl_add_ul"></ul>
                    </div>
                </div>
                <div class="padding_t7 width100" id="searchMore" style="display: none;" >
                    <div class="tab-content sl_sel_con row" id="sl_sel_con" style="min-height:100px;min-height:150px;padding-left:5px;margin-left: 0px;margin-right: 0px;">
                        <div class="tab-pane active" id="tab06">
                            <div id="fpzl_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="发票种类">发票种类：</label>
                                    <div class="col-xs-12 col-sm-10  col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="col-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden" id="ul_xmbm">
                                            <li th:if="${classlist !=null && classlist.size() >0}" th:each="list:${classlist}">
                                                <a style='text-decoration:none;cursor:pointer;'th:onclick="addTj([[fpzl]],[[${list.csid}]],[[invoice_formSearch]]);" th:id="'fpzl_id_'+${list.csid}">
                                                    <span th:text="${list.csmc}"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="zt_id" class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group width100">
                                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" title="审核状态">审核状态：</label>
                                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11 sl_sel_list" >
                                        <ul class="ccol-xs-12 col-sm-10 col-lg-10 col-md-10 item_more_hidden">
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('zt','00','invoice_formSearch');"
                                                   id="zt_id_00"><span>未提交</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('zt','10','invoice_formSearch');"
                                                   id="zt_id_10"><span>审核中</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('zt','15','invoice_formSearch');"
                                                   id="zt_id_15"><span>审核未通过</span></a>
                                            </li>
                                            <li>
                                                <a style='text-decoration:none;cursor:pointer;'
                                                   onclick="addTj('zt','80','invoice_formSearch');"
                                                   id="zt_id_80"><span>审核通过</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input  type="hidden" id="fpzl_id_tj" name="fpzl_id_tj">
        <input  type="hidden" id="zt_id_tj" name="zt_id_tj">
        <div th:include="common/btn/ancz.html"></div>
        <table id="invoice_list" class="table table-hover table-bordered table-hidden" data-reorderable-columns="true" ></table>
    </form>
</div>
</body>
</html>