<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <style type="text/css">
        .bootstrap-tagsinput {
            min-width:100%;
        }
        .label-info {
            cursor: pointer;
        }
        th{
            font-weight:bold;
            text-align: center;
        }
    </style>
</head>
<body>
<form id="editInvoiceForm" th:action ="${urlPrefix}+'/invoice/invoice/'+${fpglDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content">
        <div class="row">
            <input type="hidden" id="fpmx_json" name="fpmx_json"/>
            <input type="hidden" name="fpid" id="fpid" th:value="${fpglDto.fpid}"/>
            <input type="hidden" name="ids" id="ids" th:value="${fpglDto.ids}"/>
            <!--<input type="hidden" name="ywlx" id="ywlx" th:value="${ywlx}">-->
            <!--<input type="hidden" name="qgids" id="qgids" th:value="${htglDto.qgid}"/>-->
            <input type="hidden" name="auditType" id ="auditType" th:value="${fpglDto.auditType}">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="formAction" id="formAction" th:value="${fpglDto.formAction}"/>
            <!--<input type="hidden" id="checkqdl" name="checkqdl"/>-->
            <!--<input type="hidden" name="fwbj" id="fwbj" th:value="${htglDto.fwbj}">-->
            <!--<input type="hidden" name="url" th:value="${url}" id="url"/>-->
            <!--<input type="hidden" name="flag" id="flag" th:value="${flag}"/>-->
            <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
            <!--<input type="hidden" name="qgmxids" id="qgmxids" th:value="${htglDto.ids}">-->
            <!--<input type="hidden" name="fjid" id="fjid" th:value="${fjcfbDto.fjid}">-->
            <!--<input type="hidden" name="bcbj" id="bcbj">-->
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">
                        <span style="color: red;">*</span>合同单号
                    </label>
                    <div class="col-sm-11 col-xs-11 col-md-11">
                        <div class="input-group">
                            <input id="htid" autoComplete="off" style="min-width: 100%;height:32px;"name="htid" type="text" class="form-control" />
                            <span class="input-group-btn">
										<button type="button" onclick="chooseHtxx()" class="btn btn-primary"  style="height:32px !important;">新增</button>
									</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" id="keydown">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>发票号
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="fph" name="fph" validate="{required:true}" onblur="smqsm()" th:value="${fpglDto.fph}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>发票总金额
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="kpje" name="kpje" validate="{required:true}" th:value="${fpglDto.kpje}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>发票种类
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9" th:if="${classlist !=null && classlist.size() > 0}">
                        <select id="fpzl" name="fpzl"  class="form-control chosen-select" validate="{required:true,stringMaxLength:32}" style="height:34px;">
                            <option value="">--请选择--</option>
                            <option th:each="list:${classlist}" th:id="${list.cskz1}"  th:value="${list.csid}" th:text="${list.csdm}+'--'+${list.csmc}" th:cskz1="${list.cskz1}" th:csdm="${list.csdm}" th:selected="${list.csid eq fpglDto.fpzl}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>开票日期
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <input type="text" id="kprq" name="kprq" th:value="${fpglDto.kprq}"  validate="{required:true}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>供应商
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group">
                            <input type="text" id="gysmc" name="gysmc" th:value="${fpglDto.gysmc}" readonly="true" validate="{required:true}" class="form-control" />
                            <input id="gys" name="gys" type="hidden" th:value="${fpglDto.gys}" class="form-control" />
                            <span class="input-group-btn">
										<button type="button" onclick="chooseGys()" class="btn btn-primary" style="height:28px !important;">选择</button>
									</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>申请人
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group">
                            <input type="text" id="ywymc" name="ywymc" th:value="${fpglDto.ywymc}" validate="{required:true}" readonly="true" class="form-control" />
                            <input type="hidden" id="ywy" name="ywy" th:value="${fpglDto.ywy}" class="form-control"/>
                            <span class="input-group-btn">
										<button type="button" onclick="chooseFzr()" class="btn btn-primary" style="height:28px !important;">选择</button>
									</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>币种
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9" th:if="${currencylist !=null && currencylist.size() > 0}">
                        <select id="biz" name="biz" class="form-control chosen-select" validate="{required:true}" style="height:34px;">
                            <option value="">--请选择--</option>
                            <option th:each="list:${currencylist}" th:csmc="${list.csmc}" th:id="${list.csid}" th:value="${list.csid}" th:text="${list.csdm}+'--'+${list.csmc}" th:selected="${list.csid eq  fpglDto.biz}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>税率
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9">
                        <div class="input-group" >
                            <input type="text" id="sl" name="sl"  validate="{required:true,number:true}" th:value="${fpglDto.sl}" class="form-control" />
                            <span class="input-group-addon"> % </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">备注</label>
                    <div class="col-sm-11 col-md-11 col-xs-11 padding_t7">
                        <textarea id="bz" name="bz" rows="3"  style="height:50px;" class="form-control"  th:text="${fpglDto.bz}" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 合同明细table -->
    <table id="tb_list" data-classes="table table-hover table-bordered table-hidden" style="width:1530px;margin-left:8px;"></table>
</form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/invoice/invoice/invoice_edit.js'}" charset="utf-8"></script>
</html>