<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script type="text/javascript" src="/js/systemmain/task/bootstrap-tagsinput.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/systemmain/task/bootstrap-tagsinput.css" />
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/fileinput.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap-fileinput/zh.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-fileinput/fileinput.min.css" />
    <style type="text/css">
        .bootstrap-tagsinput {
            min-width:100%;
        }
        .label-info {
            cursor: pointer;
        }
        th{
            font-weight:bold;
            text-align: center;
        }
    </style>
</head>
<body>
<form id="auditInvoiceForm" th:action ="${urlPrefix}+'/invoice/invoice/'+${fpglDto.formAction}" class="form-horizontal sl_all_form" method="post" theme="simple" data-bs-toggle="validation">
    <div class="body-content">
        <div class="row">
            <input type="hidden" id="fpmx_json" name="fpmx_json"/>
            <input type="hidden" name="fpid" id="fpid" th:value="${fpglDto.fpid}"/>
            <input type="hidden" name="ids" id="ids" th:value="${fpglDto.ids}"/>
            <!--<input type="hidden" name="ywlx" id="ywlx" th:value="${ywlx}">-->
            <!--<input type="hidden" name="qgids" id="qgids" th:value="${htglDto.qgid}"/>-->
            <input type="hidden" name="auditType" id ="auditType" th:value="${fpglDto.auditType}">
            <input type="hidden" name="access_token"/>
            <input type="hidden" name="formAction" id="formAction" th:value="${fpglDto.formAction}"/>
            <!--<input type="hidden" id="checkqdl" name="checkqdl"/>-->
            <!--<input type="hidden" name="fwbj" id="fwbj" th:value="${htglDto.fwbj}">-->
            <!--<input type="hidden" name="url" th:value="${url}" id="url"/>-->
            <!--<input type="hidden" name="flag" id="flag" th:value="${flag}"/>-->
            <input type="hidden" name="urlPrefix" id ="urlPrefix" th:value="${urlPrefix}">
            <!--<input type="hidden" name="qgmxids" id="qgmxids" th:value="${htglDto.ids}">-->
            <!--<input type="hidden" name="fjid" id="fjid" th:value="${fjcfbDto.fjid}">-->
            <!--<input type="hidden" name="bcbj" id="bcbj">-->
            <div class="col-md-4 col-sm-4" id="keydown">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>发票号:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                        <span  th:text="${fpglDto.fph}" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>发票总金额:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                        <span  th:text="${fpglDto.kpje}"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>发票种类:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" >
                        <span  th:text="${fpglDto.fpzlmc}"  />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>开票日期:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                        <span  th:text="${fpglDto.kprq}" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>供应商:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                            <span th:text="${fpglDto.gysmc}" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>申请人:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                            <span th:text="${fpglDto.ywymc}" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>币种:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7" >
                        <span th:text="${fpglDto.bizmc}"  />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="" class="col-sm-3 col-md-3 col-xs-3 control-label">
                        <span style="color: red;">*</span>税率:
                    </label>
                    <div class="col-sm-9 col-xs-9 col-md-9 padding_t7">
                            <span th:text="${fpglDto.sl}"/>%
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="" class="col-sm-1 col-md-1 col-xs-1 control-label">备注:</label>
                    <div class="col-sm-11 col-md-11 col-xs-11 padding_t7">
                        <span th:text="${fpglDto.bz}" ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 合同明细table -->
    <table id="tb_list" data-classes="table table-hover table-bordered table-hidden" style="width:1530px;margin-left:8px;"></table>
</form>
</body>
<script type="text/javascript" th:src="@{${urlPrefix} + '/js/invoice/invoice/invoice_audit.js'}" charset="utf-8"></script>
</html>